[2017-09-26 02:29] gatneil commented on #1740
I will fix this hopefully later this week; just to clarify though, this won't impact the examples shown on docs.microsoft.com (details discussed offline).

[2017-09-26 11:21] tombuildsstuff commented on #1739
👋🏻 @marstr

Within Terraform we use the Enum's in two ways - [firstly to provide validation](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_app_service.go#L213) by listing all the supported Enum values - and [then to cast to/from this based on the user input](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/re

[2017-09-26 15:24] tombuildsstuff opened #1746 "[Key Vault] Import Key API is inconsistent"
:wave:

We're attempting to manage Key Vault Key's via the Azure SDK for Go - here's the code generated from [the Swagger](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/keyvault/data-plane/Microsoft.KeyVault/2016-10-01/keyvault.json).

[code]

Note that for the KeyCreateParameters (and the KeyUpdateParameters, which isn't included) - [the `KeyOps` is an array of `JSONWeb

[2017-09-26 15:24] tombuildsstuff opened #1747 "[Key Vault] Import Key API is inconsistent"
:wave:

We're attempting to manage Key Vault Key's via the Azure SDK for Go - here's the code generated from [the Swagger](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/keyvault/data-plane/Microsoft.KeyVault/2016-10-01/keyvault.json).

[code]

Note that for the KeyCreateParameters (and the KeyUpdateParameters, which isn't included) - [the `KeyOps` is an array of `JSONWeb

[2017-09-26 15:27] tombuildsstuff commented on #1746
Closing in favour of #1747 as this is a duplicate

[2017-09-26 15:27] #1746 closed

[2017-09-26 15:28] tombuildsstuff commented on #1739
👋🏻

Also doing some testing on this - looking at the generated code:

[code]

I've noticed when submitting the value `oct` to the API it returns an error - given this API is case sensitive, would this be incorrectly cased in the Swagger?

Thanks!

[2017-09-26 16:21] jhendrixMSFT commented on #1747
@schaabs Hello Scott!  Does your team own this swagger?  I see your alias in the commit history.

[2017-09-26 16:44] schaabs commented on #1747
Yes our team owns this I'll look into why this is inconsistent and see if we can update.

[2017-09-26 17:28] anuchandy commented on #1556
@tombuildsstuff  closing this, feel free to re-open with more details if you still have issue.

[2017-09-26 17:28] #1556 closed

[2017-09-26 17:43] tombuildsstuff commented on #1556
@anuchandy sorry missed this - would it be possible to re-open this issue?

Pulling from [this document](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview?toc=%2fazure%2fvirtual-network%2ftoc.json#details-and-limitations):

I'd argue the API's returning the incorrect error message here (since the CLI/PowerShell) are still (presumably) calling the same endpoints - and

[2017-09-26 20:33] veronicagg commented on #1685
@lmazuel I tried referencing them from Compute, as I think that would be best. There are already other files in compute which share the api version, so I attempted generation of all those files together and get a code generation error from AutoRest, because the models particularly for "Resource" conflict (not the same). At the moment, I'm going with our older approach, including them as part of Ne

[2017-09-26 21:59] lmazuel commented on #1685
Thanks @veronicagg. That's really unfortunate... :(

[2017-09-27 09:53] tombuildsstuff commented on #1233
@MohitGargVpn has this finished rolling out yet? I've just tried running this in West Europe and we're still seeing this issue:

[code]

Thanks!

[2017-09-27 09:56] dominik-lekse commented on #1233
@MohitGargVpn I also tried this in the region West Europe on Monday without success. Could you reference a region in which the fix has been rolled out already?

[2017-09-27 17:28] brnleehng opened #1751 "Using current branch as master branch"
I think it's kind of confusing to be using current branch as the master as I was trying to find the latest Batch service specs.  I assumed that it was also in master.

Can we just label current as master and get rid of current branch altogether?

[2017-09-27 17:31] veronicagg commented on #1536
@olydis I don't think we can move forward with this yet. If we look at this job: https://travis-ci.org/Azure/azure-rest-api-specs/jobs/279757646 which runs semantic validator on the whole repo, we see that there are still specs not complying with the validation. I don't think we've worked/engaged with these teams much yet on those (and the impact it may have on their specs/SDKs).
In my opinion, th

[2017-09-27 18:05] jhendrixMSFT commented on #1678
This has been fixed.

[2017-09-27 18:05] #1678 closed

[2017-09-28 05:33] #965 closed

[2017-09-28 05:47] kirthik commented on #819
@lmazuel  - Could you please look at @Nilambari's response above and close this if you have no other concerns.

[2017-09-28 15:12] gatneil commented on #1740
PR for the fix here: https://github.com/Azure/azure-rest-api-specs/pull/1758 :)

[2017-09-28 16:35] lmazuel commented on #819
@kirthik @Nilambari Sorry I didn't see the answer earlier.

I have concerns, @Nilambari you wrote "The 'name' is required parameter". Then do define this parameter as required in the Swagger (as I suggested at first). [It's still not the case.](https://github.com/Azure/azure-rest-api-specs/blob/1a88e3f49b78c6ec74f9174115e5233cb6fe20c4/specification/network/resource-manager/Microsoft.Network/2017-0

[2017-09-28 19:59] TimLovellSmith commented on #1499
@tombuildsstuff does this still happen?

[2017-09-28 20:00] TimLovellSmith opened #1765 "FirewallRules operation spec is missing from redis 2017-02-01 api"
but is present in previous api version... and isn't intended to be deprecated!

[2017-09-28 20:21] tombuildsstuff commented on #1499
@TimLovellSmith yes, but we only see this infrequently (I’m more concerned that end users will see it than the odd test failure) - as such I’m wondering if 504 would make a good candidate for the SDK “auto-retry”?

[2017-09-29 10:23] tombuildsstuff opened #1770 "Feature Request: Changelog's"
👋

As part of the restructuring of this repository - README files have been added to each Resource Provider which contain information on how to generate the SDK's from these files, which is great.

However - these Readme files don't contain a changelog detailing which fields have been removed/added in each API version - and if that's intentional or not; as such every time a new version of the Go S

[2017-09-29 17:17] mcardosos commented on #1770
Something like this?
[Azure Storage Services Versions 2016-05-31 and Earlier](https://docs.microsoft.com/en-us/rest/api/storageservices/azure-storage-services-versions-2015-07-08-and-earlier)

[2017-09-29 18:11] tombuildsstuff commented on #1770
@mcardosos indeed - that's news to me (but only appears to be for Storage?)

[2017-09-29 19:08] liumichelle commented on #386
@salameer ping on this - can we close out the issue?

[2017-09-29 19:17] liumichelle commented on #554
@salameer - can this issue be closed out I believe @amarzavery answered the question.

[2017-09-29 19:38] liumichelle commented on #570
@johanste / @salameer - is this issue good to close?

[2017-09-29 19:39] liumichelle commented on #602
@salameer - is this issue ok to be closed?

[2017-09-29 19:55] ro-joowan commented on #1673
@muhammad-asad-confiz after looking into this further, I agree with you that this needs to be required.  I will make this fix in the next update and will link my PR here when I open it.

Thank you!!

[2017-09-29 19:58] liumichelle commented on #1115
@Nilambari @ritwikbasu could one of you take a look at this?

[2017-09-29 20:37] johanste commented on #570
@DeepakRajendranMsft, I would disagree that the correct fix is for compute to reference the NIC model in networking, since the consequence of this would be to include the transitive closure of **all** resource types reachable from NIC (which, due to how NRP treats $expand, is pretty much all of networking). This is the root of the dependency that compute did not want to introduce, and it is someth

[2017-09-29 20:45] salameer commented on #386
Closing according to recommendation

[2017-09-29 20:45] #386 closed

[2017-09-29 20:45] salameer commented on #554
Closing

[2017-09-29 20:45] #554 closed

[2017-09-29 20:46] salameer commented on #570
Seems like there's more to it here

[2017-09-29 20:49] salameer commented on #602
Closing

[2017-09-29 20:49] #602 closed

[2017-09-29 20:49] johanste commented on #570
But, to be clear, the high order bit is to keep things working and not continue to regress. As long as that requirement is met, you are free to ignore my recommendations :).

[2017-09-29 20:50] salameer commented on #755
@veronicagg

Please verify if this answers your questions and close accordingly

[2017-09-29 20:51] salameer commented on #818
@liumichelle this should be closed when the documentation in Done

[2017-09-29 20:51] salameer commented on #826
closing

[2017-09-29 20:51] #826 closed

[2017-09-29 20:52] salameer commented on #1368
@DeepakRajendranMsft is right, this belongs to compute and thats what it has a different version

Closing this

[2017-09-29 20:52] #1368 closed

[2017-09-30 01:48] mcardosos opened #1774 "[IoTHub] Some parameters are not marked with x-ms-parameter-location"
Marking [parameters](https://github.com/Azure/azure-rest-api-specs/blob/1a9d396a81d4efc79d52d4e9d61db4480aad36ba/specification/iothub/resource-manager/Microsoft.Devices/2017-07-01/iothub.json#L2445) `resourceGroupName`, `resourceName` and `certificateName` with `"x-ms-parameter-location": "method"` would generate SDKs with a better user experience. If I generate the Go SDK with the current swagger

[2017-10-02 19:03] solankisamir opened #1776 "[ApiManagement] ApiSchemas missing in OpenApi Spec"
Need to add controller docs for /apis/{apiId}/schemas

[2017-10-02 20:27] mcardosos opened #1777 "[OperationsManagement] SolutionNameParameter is not located in methods"
MArking [SolutionNameParameter](https://github.com/Azure/azure-rest-api-specs/blob/88a9e98a0144a460f4e4f4ea97466d13d2849123/specification/operationsmanagement/resource-manager/Microsoft.OperationsManagement/2015-11-01-preview/OperationsManagement.json#L449) with `"x-ms-parameter-location": "method"` would generate SDKs with a better user experience. Right now, the code generated from this swagger

[2017-10-02 20:50] mcardosos opened #1778 "[ResourceHealth] Is ResourceType needed?"
Is this [paramater](https://github.com/Azure/azure-rest-api-specs/blob/88a9e98a0144a460f4e4f4ea97466d13d2849123/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/2017-07-01/resourcehealth.json#L567) realley needed? I dont see it used anywhere.
cc @sankalpsoni

[2017-10-02 21:05] mcardosos opened #1779 "[RecoveryServicesSiteRecovery] Parameter location"
Should [ResourceGroupName](https://github.com/Azure/azure-rest-api-specs/blob/88a9e98a0144a460f4e4f4ea97466d13d2849123/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/2016-08-10/service.json#L14120) and [ResourceName](https://github.com/Azure/azure-rest-api-specs/blob/88a9e98a0144a460f4e4f4ea97466d13d2849123/specification/recoveryservicessiterecovery/resource

[2017-10-03 09:55] tombuildsstuff opened #1785 "[Authorization] Bugs in Role Assignments & Definitions"
:wave:

I'm using the Azure SDK for Go to try and manage both Role Definitions and Role Assignments. Please note: in the examples below I've sanitised the outputs of our user ID's.

When attempting retrieve the `Owner` Role Definition like so:

[code]

The following HTTP response is returned:

[code]

Figuring this was an error with the Swagger - I checked [the documentation](https://docs.microsof

[2017-10-03 16:17] tombuildsstuff commented on #1386
@rjtsdl sorry I missed this; thanks for clarifying that - I've updated the title :)

In Terraform we use the API to provision Container Service clusters, as such we're unable to make use of the CLI suggestion - but thanks anyway!

As such - I'll set a reminder to check this in mid-November - but would it be possible to also post here if it's deployed before then? :)

Thanks!

[2017-10-03 16:51] rjtsdl commented on #1386
@tombuilsstuff sure.

Once it is deployed, I would definitely want to resolve this. I will post here.

[2017-10-03 18:36] vishrutshah opened #1786 "[Service Fabric] Add suppression to the autorest linter errors that doesn't apply"
Based on the feedback from @VipulM-MSFT , data-plane side of the service fabric service does not enforce the guidelines around the `camelCase` notation of the properties.

The service team is going to add suppression on the errors that do not apply than in the `6.1.x.x` release. https://github.com/Azure/azure-rest-api-specs/pull/1763#issuecomment-333925246

Error Report: http://az-bot.azurewebsite

[2017-10-04 18:43] #1207 closed

[2017-10-04 18:54] gucalder commented on #1043
I think the change was done before the folders were reorganized into data-plane and resource-manager. I cannot find any reference in the history about the change, but the spec if like this:

    "AutoscaleSetting": {
      "required":[
        "profiles"
      ],

Name is not a required property.

[2017-10-04 18:54] #1043 closed

[2017-10-04 18:54] #1206 closed

[2017-10-04 18:58] #1700 closed

[2017-10-04 21:14] vivsriaus opened #1797 "[ARM] add examples for policy definitions and policy assignments"
[ARM] add examples for policy definitions and policy assignments

[2017-10-05 18:29] #1765 closed

[2017-10-05 18:33] sergey-shandar opened #1803 "Linter doesn't detect all tags for changes in the PR"
For example,

https://github.com/Azure/azure-rest-api-specs/pull/1790/files

CI detects only 2017-06 but it should also validate 2017-01
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/282975110

[2017-10-06 06:16] Drewm3 commented on #1044
The documentation should indicate that the value of None for the OS disk will be interpreted as "ReadOnly". We decided against actually changing the API to fail if None is specified for the OS disk because that would be a breaking change to some, and we didn't want to introduce a breaking change that was not completely required.

[2017-10-06 16:33] kirthik commented on #1044
@tjprescott  - Closing this issue based on @Drewm3 comments. Please feel free to re-open if you have any concerns over the decision made.

[2017-10-06 16:33] #1044 closed

[2017-10-06 17:01] harijayms commented on #1785
@tombuildsstuff are you unblocked at this point ?

[2017-10-06 17:51] gatneil commented on #270
Hey Scott!

There are actually a variety of different throttles you can hit. In this case, odds are you're actually hitting a throttle on scale set reads, not subscription reads (so that's why you're getting throttled even though the remaining subscription reads number is so high). And as you point out, some of these throttles are short term, others long term (we have sliding windows of size 3 and

[2017-10-09 18:48] sergey-shandar opened #1827 "Breaking changes build should fail if the script fails"
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/285717798

[2017-10-10 00:41] matthchr commented on #999
@xingwu1 Can you expand on this issue?

[2017-10-10 01:18] olydis commented on #1372
@gatneil Whoops missed your comment. I always assign whoever I see active in the corresponding part of this repo - since this is an issue with compute, I probably saw you ;) Always feel free to reassign to someone you think is more appropriate to deal with service related issues.

[2017-10-10 18:27] gucalder commented on #1731
I do not see the issue.
I see package tag: package-2017-08 in the Basic Information section and package-2017-08 in the Tag section. Please clarify which dates are inconsistent?

[2017-10-10 18:41] gucalder commented on #1413
This should be labeled as Monitor instead of Insights. Insights is deprecated.
In fact, the values were intentionally left as strings thinking that, in the future, we might have some other specs for ScaleCapacity that are not expressed numerically.
That said, currently, the values could be specified as numbers.

[2017-10-10 18:51] gucalder commented on #1211
The devs told me a long time ago that they were going to fix this. Let me ask if it is already fixed in the back-end.

BTW: the "offending" file is was moved with the last reorg of the specs. It is not here: azure-rest-api-specs\specification\monitor\resource-manager\microsoft.insights\2016-03-01

[2017-10-10 18:57] gucalder opened #1837 "[Monitor] The namespace for C# code of resource-manager folder is incorrect"
This readme.md file is using this as namespace for CSharp: Microsoft.Azure.Management.Monitor.Management, but it should use: Microsoft.Azure.Management.Monitor

[2017-10-10 19:01] gucalder opened #1838 "[Monitor] Move the specs in the folder data-plane to the resource-manager folder"
This structure is the way it is now due to historic reasons, but all the operations in the data-plane folder are going through ARM.

[2017-10-10 19:03] gucalder opened #1839 "[Monitor] Remove UsageMetrics API from the spec"
The UsageMetrics API does not really belong to this team and is not being used.
This deprecation has been announced for some months now.

[2017-10-10 19:11] RikkiGibson commented on #1731
The problem was fixed a few days after I opened this issue. I'll consider this resolved.

https://github.com/Azure/azure-rest-api-specs/commit/97e69db426af23a0cdfde5e5df748565ff1070b8

[2017-10-10 19:11] #1731 closed

[2017-10-10 20:09] gucalder commented on #1211
I can confirm that the issue has been fixed in the backend for some weeks now.
The API version remained the same since this was a bug only.

[2017-10-10 20:20] tombuildsstuff commented on #1785
@perseusCode @harijayms sorry for the delayed response - I've just double checked the first example with Role Assignments and this looks good - I'll take a proper look tomorrow to validate Role Definitions too (and then close this issue when I've confirmed); but I think this looks good!

Thanks!

[2017-10-10 21:08] williexu opened #1841 "Webapp User Model is missing "scmUri" property"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/web/resource-manager/Microsoft.Web/2016-08-01/WebApps.json#L20960

I need to access the `properties/scmUri` field, which is missing from the swagger spec. Please add this.

[2017-10-11 00:20] lmazuel commented on #1838
@gucalder You README should then be able to generate two clients, and then provide two tags, since most of the SDK have two clients.
@fearthecowboy @olydis I understand the initial problem that it's not DT, but still needs one README to be able to generate two clients. Any guidance here?

[2017-10-11 15:04] alanvanwyk commented on #1233
Is this good to go?

[2017-10-11 17:36] tombuildsstuff commented on #1233
@veronicagg would you mind seeing if there's an update here? Thanks! :)

[2017-10-11 20:51] MohitGargVpn commented on #1233
The first fix was rolled out on 9/15. The original race condition was fixed. But we identified one more race condition which can lead to same behavior. The fix for that is planned to be rolled out by 11/15.

[2017-10-11 21:17] solankisamir opened #1847 "[Api Management] DELETE should return 200 along with 204"
Based on https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#delete-resource we need to support 200 for case where entity is actually deleted.

Currently, we only support 204 on DELETE. This will require a version change, as the entities are already published.

[2017-10-12 15:23] tombuildsstuff commented on #1233
@MohitGargVpn thanks for the update. Once this has been rolled out - would you be able to tell us a region for us to test and confirm against? Thanks!

[2017-10-12 15:27] tombuildsstuff opened #1851 "Update Storage API to enable setting the CORS"
👋🏻

We've had [an issue come in requesting being able to configure the CORS properties of a Storage Account](https://github.com/terraform-providers/terraform-provider-azurerm/issues/19). After taking a look in both the Go SDK and the Swagger I don't believe this functionality is currently exposed - and as such it's currently not possible to configure the CORS through the Azure SDK/API's.

Would it

[2017-10-13 10:52] tombuildsstuff commented on #1785
@perseusCode thanks for confirming the ID's - this worked for us. Closing.

[2017-10-13 10:52] #1785 closed

[2017-10-13 18:25] MohitGargVpn commented on #1233
Sure. I will update here with the region info.

[2017-10-16 17:53] samedder commented on #1786
Can you assign this to @VipulM-MSFT?

[2017-10-16 17:57] veronicagg commented on #1839
@gucalder who should this issue be assigned to? Please let me know and I'll re-assign, thanks!

[2017-10-16 21:56] TimLovellSmith opened #1872 "Spec the providers/ClassicNetwork API!"
Why is this REST API undocumented?

[2017-10-16 23:02] #1872 closed

[2017-10-17 04:25] cr41gc commented on #1704
@jianghaolu, it seems all that's missing is:

specification/network/resource-manager/Microsoft.Network/2017-09-01/virtualNetwork.json
[code]

[2017-10-17 20:32] #1776 closed

[2017-10-17 20:33] solankisamir opened #1881 "[API Management] Deprecate certificate_password property"
ERROR (DefinitionsPropertiesNamesCamelCase/R3016/RPCViolation): Property named: 'certificate_password', for definition: 'ApiManagementServiceUploadCertificateParameters' must follow camelCase style. Example: 'certificate_password'.

[2017-10-18 18:42] solankisamir opened #1887 "[Api Management] Fix Examples which has correlation between resources"
/LIST on

- Product Subscription
- User Groups
- Group Users
- Product Groups
- User Subscriptions

[2017-10-18 19:18] #769 closed

[2017-10-18 21:21] salameer opened #1888 "Investigate preview strategy Proposal and automation"
- Implement Preview VS stable proposal
- Investigate automation of SDK generation and corresponding branching on Downstream SDK repos.
- Investigate drop locations for generated bits and naming conventions for the drops.
- Talk to @johanste and Derek from Mayuri team about auto generation of CLI container
- Figure out config file story for Preview VS stable code generation

[2017-10-18 22:11] vyadh opened #1889 "Cannot create App Service plan for resource group with single character"
From the Azure CLI, I'm trying to run the command:
`az appservice plan create --name zweb --resource-group z --is-linux`

But I'm getting the following error, which I understand comes from the REST API specs:
`Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+[^\\.]$'.`

Clearly this matches 'zz' but not 'z'.

Admittedly it is a little odd to have a single-c

[2017-10-18 22:28] vyadh commented on #1889
I guess this is a general requirement for app service currently, because I just tried the following with similar results:

`az webapp config container set --name name --resource-group z --docker-custom-image-name tag:latest --docker-registry-server-url myregistry.azurecr.io/tag:latest`

[2017-10-18 23:11] tjlvtao commented on #1462
@anuchandy we have added operation API the the swagger with this commit:
https://github.com/Azure/azure-rest-api-specs/commit/9b499ac14b22b844ea1c0ef88f452f8b3b89a497

Please help to close this issue. Thanks.

[2017-10-19 22:50] lmazuel opened #1893 "CS common AzureRegion does not contain westus2, but supported in the portal"
![image](https://user-images.githubusercontent.com/1050156/31797803-230883dc-b4e5-11e7-94ca-3bfd68574944.png)

The enum should be declared "modelAsString=true", or the complete list should be added.

[2017-10-19 23:02] lmazuel opened #1894 "FaceAPI: DetectedFace model does not contain FaceAttributes"
This makes impossible to get face attribute from a call to `detect`, even if the JSON has it (since the query itself is ok).
See:
https://github.com/Azure/azure-rest-api-specs/blob/00d3e32595333775d0f2739c9ef6d7be8c02f134/specification/cognitiveservices/data-plane/Face/v1.0/Face.json#L1863-L1881

[2017-10-19 23:06] lmazuel commented on #1893
(note that I actually edited the swagger locally and "westus2" works as expected)

[2017-10-20 14:03] Gaploid opened #1897 "RateCard Api ver does not correct"
Hi,
Here is the path to spec:
azure-rest-api-specs/specification/commerce/resource-manager/Microsoft.Commerce/**2015-06-01-preview/**

But here in docs https://msdn.microsoft.com/en-us/library/mt219005.aspx mention version **2016-08-31-preview**

What version is the right one?

[2017-10-20 16:29] veronicagg commented on #1897
Hi @Gaploid , If you're using an SDK to call the api, the version currently available would be **2015-06-01-preview** (as it'd be the one corresponding to the specification), if you're using the rest-api directly, both should available, as per the documentation in the link you indicated above with the differences mentioned there.
If you encounter any issues, feel free to reply back. Thanks!

[2017-10-20 16:31] veronicagg commented on #1897
FYI - @pargall

[2017-10-21 12:02] Gaploid commented on #1897
Got it.
By the way, it seems there are some inconsistent results in RateCard API response data for information about B-series VMs. The API is returning that these VMs available in locations where it should not be. For example in UK, West US and etc. If you look on that page https://azure.microsoft.com/en-us/regions/services/ and check B-series regions availability then you will see completely anot

[2017-10-23 16:45] marstr opened #1906 "Add support for OS Disk resize in VMSS"
https://github.com/Azure/azure-sdk-for-go/blob/c1ff18326387fa67ccc6e1b17c76e65773684227/arm/compute/models.go#L2267

https://github.com/Azure/azure-sdk-for-go/blob/c1ff18326387fa67ccc6e1b17c76e65773684227/arm/compute/models.go#L1994

The relevant Swagger Definitions that map to those Go declarations can be found here:

https://github.com/Azure/azure-rest-api-specs/blob/02a8a6b5c42725a2036afca5081a

[2017-10-23 17:58] lmazuel opened #1907 "[Monitor] Incorrect ErrorResponse definition"
Defined like this:
https://github.com/Azure/azure-rest-api-specs/blob/02a8a6b5c42725a2036afca5081af273db5fa6f0/specification/monitor/data-plane/microsoft.insights/2015-04-01/activityLogs_API.json#L368-L374

But JSON is actually:
[code]

This breaks all languages where the JSON lib is case sensitive (most of the language, since only C# JSON lib is case insensitive, and JSON spec itself is case sens

[2017-10-23 18:01] missbruni commented on #1697
any idea of when this is likely to be fixed?

[2017-10-24 16:39] fearthecowboy commented on #1740
Was this fixed? (#1885)

[2017-10-24 19:55] gatneil commented on #1740
@fearthecowboy yup! The PR that fixed it was #1885 (abandoned #1758 because git issues)

[2017-10-24 20:21] #1740 closed

[2017-10-25 21:51] vladbarosan opened #1918 "Linter doesn't validate min length 1 for path parameters"

[2017-10-25 21:52] vladbarosan opened #1919 "Move common resources to a common location"

[2017-10-26 12:06] AbhishekBA opened #1924 "Azure Microsoft Insights API 2016-09-01 Error while collecting Metrics"
Please help me to understand why from last few days Azure Microsoft Insights API 2016-09-01 is giving the following error{
  "code": "BadRequest",
  "message": "only conditions of the form '<name> eq <value>' are allowed, where <name> = 'timeGrain', 'startTime', 'endTime', 'name.value', 'aggregationType', 'debugRegion' : ( name.value eq 'Disk Write Bytes'  ) and timeGrain eq duration'PT5M' and sta

[2017-10-26 17:09] veronicagg opened #1927 "Fix semantic validation errors in existing specs"
Let's try to get the semantic validation in the repo clean, investigate and fix errors in spec, pull in service teams to review as needed.

[2017-10-26 18:22] vladbarosan opened #1929 "Cognitive Services data plane spec has semantic errors"
`ImageUrl` definition is missing for `ImageUrl` parameter and `HandwritingBoolean` has type boolean put default value is a string.

[2017-10-26 18:43] vladbarosan opened #1933 "Cognitive Services data plane spec has model and linter errors"
As seen in the [Travis CI](https://travis-ci.org/Azure/azure-rest-api-specs/builds/293290951) the [linter](https://travis-ci.org/Azure/azure-rest-api-specs/jobs/293290963) and [model](https://travis-ci.org/Azure/azure-rest-api-specs/jobs/293290968) validations are failing.

[2017-10-26 18:44] amarzavery opened #1934 "Cognitive Service data plane swaggers (face, computervision, etc. does not have descriptions)."
@fearthecowboy - Please take a look. Filing an issue as discussed.
Some examples
- https://github.com/Azure/azure-rest-api-specs/blob/current/specification/cognitiveservices/data-plane/Face/v1.0/Face.json#L1846

- https://github.com/Azure/azure-rest-api-specs/blob/current/specification/cognitiveservices/data-plane/Face/v1.0/Face.json#L1874

[2017-10-26 18:51] veronicagg commented on #1536
@kirthik please notify teams we'll be turning this on.

[2017-10-26 18:51] veronicagg commented on #1536
@amarzavery - FYI

[2017-10-26 18:59] vladbarosan opened #1935 "[TravisCI] Breaking Change tool fails for PR's which are not against the default branch."
Example of failing jobs:
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/292210169#L668
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/292210170#L1539

It seems that there is some error when checking out a branch ( Incorrect command maybe ? )

[2017-10-27 16:54] tjprescott opened #1940 "TrafficManager Endpoint should not include allOf ProxyResource"
See related issue:
https://github.com/Azure/azure-cli/issues/4734

If you GET a traffic manager profile and try and PUT it back (which should succeed) you get the following error:
[code]

The reason this happens is because of:
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/trafficmanager/resource-manager/Microsoft.Network/2017-05-01/trafficmanager.json#L776

Since Endpoin

[2017-10-27 17:35] jianghaolu commented on #1704
Assigned to network team. Sorry for the delay.

[2017-10-27 17:47] gmainar commented on #1704
Hi,
I don’t understand what is this or what is it assigned to me. Can you give me some context?

Thanks,
Gloria

From: Jianghao Lu [mailto:notifications@github.com]
Sent: Friday, October 27, 2017 10:35 AM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Gloria Mainar-Ruiz <gloriama@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-spe

[2017-10-27 17:53] jianghaolu commented on #1704
Hi @gmainar

Seems like a customer is complaining that an available property in the response payload is not defined in the Swagger. I added you since you've made significant changes to the Network space. Please feel free to re-assign if someone else should be the owner of this issue.

[2017-10-27 18:34] cr41gc commented on #1704
`remoteAddressSpace` shows up in the REST response, but isn't available in the Python-SDK. From what I understand, the python-sdk is auto-generated from the OpenAPI, and the property needs to be defined in this project to be automatically pulled into the SDKs.

See the referenced issue for details.

[2017-10-27 21:35] DeepakRajendranMsft commented on #1704
@EvgenyAgafonchikov  please take a look at this and fix it. lets push it into 2017-10-01

As @cr41gc mentioned, we have to add
"remoteAddressSpace": {
+          "$ref": "#/definitions/AddressSpace",
+          "description": "The reference of the remote virtual network address space."
+        },

[2017-10-28 00:40] jianghaolu opened #1944 "WebApps.json view container logs API should return "text/plain""
Today, hitting the endpoint

https://management.azure.com/subscriptions/ffa52f27-be12-4cad-b1ea-c2c241b6cceb/resourceGroups/linux-test-appgroup/providers/Microsoft.Web/sites/linux-test-app/containerlog?api-version=2016-08-01

returns a response with Content-Type header "application/json". In the Swagger spec it's supposed to be "text/plain" which is the correct content type.

[2017-10-30 17:48] #1929 closed

[2017-10-30 21:22] mcardosos opened #1950 "Is appinsights folder deprecated?"
It is missing all is swaggers. But, another folder `application insights` is living next to it.
cc @frankguodongchen

[2017-10-31 17:04] tjprescott commented on #1841
@dsgouda ETA on getting this fixed?  We are blocked on fixing this CLI issue by this omission.

[2017-10-31 17:07] dsgouda commented on #1841
The respective authors for specs should be implementing these fixes.
@naveedaz since you were the last contributor here, can you take a look?

[2017-10-31 18:30] #1704 closed

[2017-11-01 18:34] #1462 closed

[2017-11-01 18:41] salameer commented on #1460
Hello,

I chatted with Anu on this. @tjlvtao  please make sure to avoid using such naming in the future and using whats suggested here. But we agree that fixing this will introduce breaking changes.

THanks,

Samer

[2017-11-01 18:41] #1460 closed

[2017-11-01 19:42] sarangan12 commented on #1777
Assigning this to @mcardosos as she has more context on this issue

[2017-11-01 19:43] sarangan12 commented on #1684
Assigning this to @mcardosos as she has more context on this issue

[2017-11-02 17:24] #1919 closed

[2017-11-03 00:33] mcardosos opened #1964 "No operation groups in big APIs"
There are a bunch of swaggers that do not define operation groups and they could benefit from them.
Most obvious examples:
[Keyvault dataplane](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/keyvault/data-plane/Microsoft.KeyVault)
[Service fabric ARM](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/servicefabric/resource-manager/Microsoft.ServiceF

[2017-11-03 16:23] lmazuel commented on #1964
@schaabs for KV, @QingChenmsft for SF ARM.

[2017-11-03 18:17] gloverc commented on #1233
@MohitGargVpn, any update on this?

[2017-11-03 19:55] mcardosos commented on #1964
cc @jhendrixMSFT

[2017-11-07 20:28] anuchandy opened #1975 "Deployment model definition is missing error property"
Response for a GET on faulted Deployment contains error details in `error` property but this property is not defined in the swagger model https://github.com/Azure/azure-rest-api-specs/blob/652cebd100c2483b7f63979ac0149ef3de6e6fea/specification/resources/resource-manager/Microsoft.Resources/2017-05-10/resources.json#L2109. Due to this SDK consumers won't  be able to see the error details.

[2017-11-08 01:09] anuchandy commented on #1975
One question for service team - is the same `error` property used to communicate both `validation error ` and `runtime error`? or there are two properties for holding different categories of errors. If yes please include that property as well.

[2017-11-08 01:50] anuchandy commented on #1975
@luanshixia assigning this to you, as you were the last one updated the resources swagger. If you are not the owner, please let me know the GitHub id of the owner from your team, i can reassign issue to that id. Thanks for the help.

[2017-11-08 23:25] solankisamir opened #1987 "[ApiManagement] Camel Case Property "Value" in QuotaCounterContract"
ERROR (DefinitionsPropertiesNamesCamelCase/R3016/RPCViolation): Property named: 'Value', for definition: 'QuotaCounterContract' must follow camelCase style. Example: 'Value'.

[2017-11-09 07:45] abhi1509 commented on #1975
just for reference, currently we need to use powershell to get the deployment error:
            $operations = Get-AzureRmResourceGroupDeploymentOperation -ResourceGroupName $_.ResourceGroupName -DeploymentName $_.DeploymentName -ErrorAction "SilentlyContinue"
            Write-Output ($operations.Properties | Where-Object ProvisioningState -eq Failed).statusMessage.error
            Write-Output

[2017-11-09 19:00] sarangan12 opened #1990 "Compute to add constraints on VM Name"
One of the Ruby SDK Customers have pointed out that, while creating a VM (Compute) the SDK does not do any validations on the name. Actually, such validations are derived from the swagger. In the case, the swagger does not have any such constraints (MaxLength, MinLength, Pattern, etc). So, I request the Compute team to consider adding such validations to the swagger.

Link to the Original Issue: h

[2017-11-09 20:09] #1683 closed

[2017-11-09 20:58] marstr commented on #1847
Seems like this was completed in the PR linked above. I'm going to close this out.

[2017-11-09 21:14] sarangan12 opened #1991 "Images.get should return nil instead of an exception"
One of the Ruby SDK customers have reported us with an enhancement request: "Images.get should return nil instead of an exception"

Details: The method throws an exception if image does not exist, it should return null for better code integration. Its absolutely correct, when the method throws an exception, if the resource group does not exist. Can the method be made a little forgiving?

Link to t

[2017-11-09 21:19] solankisamir commented on #1847
No, it was not fixed. @marstr please open it. We are working on these changes in Service Side.

[2017-11-09 21:54] marstr commented on #1847
Is there someone with more context on this issue that would be a more appropriate assignee than me?

[2017-11-11 08:51] #1935 closed

[2017-11-12 22:36] ro-joowan commented on #1673
@muhammad-asad-confiz, @veronicagg I am addressing this bug in this PR: https://github.com/Azure/azure-rest-api-specs/pull/1999

[2017-11-13 08:55] tombuildsstuff commented on #1697
ping @Nking92 @naveedaz @EricSten-MSFT :)

[2017-11-13 15:44] EricSten-MSFT commented on #1697
@tombuildsstuff I only recently added the MSDeploy related APIs.  I believe @naveedaz or @davidebbo would know a better owner for this issue.

[2017-11-13 16:02] naveedaz commented on #1697
I’ll take a look today

[2017-11-13 18:26] lmazuel opened #2001 "[Monitor] Missing tags in DiagnosticSettingsResource"
In operation DiagnoticSettings_CreateOrUpdate, input in DiagnosticSettingsResource:
https://github.com/Azure/azure-rest-api-specs/blob/1a54c04d416c210bebcf3561732f66ab66585b29/specification/monitor/resource-manager/microsoft.insights/2017-05-01-preview/diagnosticsSettings_API.json#L115-L132

No tags are defined in this model, making impossible the creation/updating of tags (nor getting the tags us

[2017-11-13 19:21] naveedaz commented on #1697
From the request it seems you are trying to set ttlInSeconds? Setting ttl is a privileged operation for internal use. It probably should not be exposed in the swagger.
The error you get is incorrect.  It talks about the value not specified in request body, when it should really it should be an UnAuthorized exception. I'll get create bugs on our side to track the swagger and error message change.

[2017-11-13 19:32] veronicagg commented on #1673
@ro-joowan thanks, be aware that some changes may be considered breaking for the SDK and could impact CLI/Powershell commands, since it appears that modifications are in existing api-versions. @jianghaolu is the assigned reviewer of the PR - tagging him here, so he's aware.

[2017-11-13 19:41] ro-joowan commented on #1673
@veronicagg, Yes, technically this would be a breaking change.  But the good news is that the service required these parameters (e.g., FirewallRule name addressed in this Issue) in the first place.  Without providing it, an error would be thrown by the service as @muhammad-asad-confiz ran here.  Thank you for noting this!

[2017-11-13 20:00] veronicagg commented on #1673
@ro-joowan agree.

[2017-11-14 09:43] tombuildsstuff commented on #1499
@TimLovellSmith is there any update on this? ^

In addition - looking at our acceptance tests, we're also see the following connection drops from the Redis API's when attempting to Update the Backup configuration via a HTTP Patch (using the Go SDK):

[code]

Our CI system has picked this test up as flakey - with 87 failures out of 172 runs (a success rate of 49.4%) - would it be possible for someo

[2017-11-14 15:06] tombuildsstuff commented on #1697
@naveedaz thanks for taking a look at this.

We set these fields as they're present [in the CreateOrUpdate method signature in the Go SDK](https://raw.githubusercontent.com/Azure/azure-sdk-for-go/master/arm/web/apps.go) due to it's presence in the Swagger:

[code]

Given these are currently accepted during the Create - are they defaulted to values internally if they're not set? Currently we submit

[2017-11-14 18:38] TimLovellSmith commented on #1499
@tombuildsstuff Well that is intruiguing. I found the latest request for this cache that failed with 504 and it is because in our backend we repeatedly try to generate SAS tokens for the storage account, which I assume was specified in the request, but fail DNS lookup for it:

Exception: Microsoft.WindowsAzure.Storage.StorageException: The remote name could not be resolved: 'unlikely23exst2acctr6m

[2017-11-15 00:54] lmazuel opened #2014 "[WebSearch] Missing organization"
[code]

`Organization` is not defined in the Swagger, and then we can't deserilize the payload

FYI @sudhansu88

[2017-11-15 18:37] vivsriaus opened #2017 "[ARM] update subscription client to use latest api-version 2017-08-01"
See [issue](https://github.com/Azure/azure-sdk-for-node/issues/2330)

The latest api-version will return more tenant info (like domain and display name) for ListTenants call

[2017-11-20 19:19] dominik-lekse commented on #1233
As a side remark on this issue: The Azure portal gets tricked into this one as well. If the user is too quick in deleting the subnet after deleting the vnet gateway, an error appears in the notifications.

[2017-11-21 01:55] bingosummer commented on #1233
@MohitGargVpn When I test the application gateway, I hit a similar issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/488. Will the fix also work for application gateway?

[2017-11-21 19:30] #1536 closed

[2017-11-21 23:24] hvermis opened #2038 "[Datafactory] Fix IntegrationRuntimes_Start and IntegrationRuntimes_RemoveNode examples"
The verification is failing for these 2 examples and they need to be recaptured.

[2017-11-26 20:18] smereczynski opened #2048 "Operations on directory roles (Graph API) missing"
Hi,
The methods for directory roles (and directory at all) are missing in Azure REST API and what most important, in Azure CLI. For PowerShell there is MSOL, but for all the non-Windows and PS world, there is no simple methods to operate on Directory. Now I'm using Azure AD Graph Explorer or Graph API directly from Python. I have created a blog post about this case - maybe it will be helpful for u

[2017-11-27 14:46] kmcquade commented on #1233
@MohitGargVpn - updates? thanks

[2017-11-27 17:19] troydai commented on #531
I'd like to upvote this issue. I saw HTML elements in monitor's SDK as well. It's a bad practice. HTML is a presentation level language, it shouldn't be used to describe rich text in lower level spec definitions. The higher level conversion of the spec, for example, Python SDK pulls the HTML tags directly into their doc string ([example](https://github.com/Azure/azure-sdk-for-python/search?p=2&q=%

[2017-11-27 18:44] sacdpathade commented on #1376
Please update whether this functionality is going to be added in near future or not.

[2017-11-27 18:45] sacdpathade commented on #1376
@tombuildsstuff : Please let me know if you received any other updates apart from [Azure request](https://github.com/terraform-providers/terraform-provider-azurerm/issues/145) you already mentioned.

[2017-11-28 09:20] tombuildsstuff commented on #1386
Hey @rjtsdl

Just checking back in here - I've taken a look in the Swagger repository but [I can't see the updated Swagger Spec in Master](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/compute/resource-manager/Microsoft.ContainerService)? Is there an updated timeline for resolving this?

Thanks!

[2017-11-29 01:49] jianghaolu opened #2057 "[ADF] Patch should return same type as PUT/GET"
For this operation: https://github.com/Azure/azure-rest-api-specs/pull/2056/files#diff-28d85fed8744aae450b9e94439e012c4R519

Per offline discussion, this requires coordination work from RP & backend service since PATCH is powered by a different backend service than PUT/GET.

Feel free to assign to related people.

[2017-11-29 02:11] zhangyd2015 commented on #2038
This issue has been resolved by PR Add ADF V2 Integration Runtime APIs - Fixed the model validation issues #2056

[2017-11-29 14:34] anvarich commented on #1233
@MohitGargVpn common, half of year to fix issue.

[2017-12-01 02:51] itowlson opened #7475 "Cannot set BackendIPConfigurations on ApplicationGateway"
(Area: network management)

I created an ApplicationGateway through the portal.  I then wanted to add a BackendIPConfiguration to the BackendAddressPool.  I wrote the following code (pardon the hideous variable names, this was trying to prove to myself that the problem existed):

[code]

The CreateOrUpdate was apparently accepted (no exception occurred), but the BackendIPConfiguration was _not_ se

[2017-12-02 00:37] veronicagg opened #2081 "CI script does not run linter on individual files if readme file is not present"
CI would report success if linter does not run on any files, which can be the case when the readme file is not present. See https://travis-ci.com/Azure/azure-rest-api-specs-pr/jobs/101156542
Our current script falls back to individual files when no associated tags are found, but still requires a readme/config file to exist (https://travis-ci.com/Azure/azure-rest-api-specs-pr/jobs/101156542)

[2017-12-02 12:20] jz5 opened #2084 "Cognitive Services data plane: Computer Vision OcrResult `language` property is incorrect"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/cognitiveservices/data-plane/ComputerVision/v1.0/ComputerVision.json#L877

`language` property type has become OcrResult itself.

[2017-12-04 16:55] #1950 closed

[2017-12-04 16:57] frankguodongchen commented on #1950
Yes, it is deprecated since "AppInsights" was a brand of another company.

[2017-12-06 22:34] PacoGuy commented on #2048
Any update on if the azure-cli is going to implement directory roles to match the functionality of the portal? A time-line would be very much appreciated if so! @sarangan12

[2017-12-07 16:51] leemorton opened #2109 "HDInsight - The private key is not present in the X.509 certificate"
I am trying to go from an empty Azure account, to automating creating service principles, data lake stores and clusters in C#. I am using the Azure REST API.

Most of it is going well. I am using my service principles certificate to generate oAuth 2 bearer tokens and they work. I can create resources. However I am struggling to create a HDInsight cluster specifically. Despite the fact that the cer

[2017-12-07 20:00] anuchandy opened #2116 "[CDN]: Provide missing response codes in examples"
Refer model validation messages [here](https://travis-ci.org/Azure/azure-rest-api-specs/jobs/312718592). Service team communicated that these [will be fixed](https://github.com/Azure/azure-rest-api-specs/pull/2105#issuecomment-350070454) in the future PR.

[2017-12-07 20:36] jianghaolu opened #2117 "[WebApp] Incorrect Swagger for MSDeploy definition"
In this Swagger: https://github.com/Azure/azure-rest-api-specs/blob/current/specification/web/resource-manager/Microsoft.Web/2016-08-01/WebApps.json#L15939

The addOnPackages property is ignored according to https://github.com/Azure/autorest/issues/2762, which is probably not the intended behavior.

The correct behavior should list `MSDeployCore` as a composition - like this: https://gist.github.c

[2017-12-07 23:08] thsutton opened #2120 "[EventHub] Add fields to capture to Data Lake Store"
Hi,

I've noticed that the EventHub spec is missing the fields required to capture messages to a Data Lake Store Account. I've included a diff below (I can't open a PR because I don't have approval to agree to the contributor agreement yet) which, I think, has correct changes.

[code]

[2017-12-08 14:17] tombuildsstuff commented on #1697
ping @naveedaz - any update here? :)

[2017-12-08 14:17] tombuildsstuff commented on #1747
ping @schaabs - is there any update here? :)

[2017-12-08 14:18] tombuildsstuff commented on #1851
ping @alvadb - is there any update here? :)

[2017-12-08 14:18] tombuildsstuff commented on #753
ping @sazeesha - is there an update here? :)

[2017-12-08 14:18] tombuildsstuff commented on #838
ping @sazeesha - is there an update here? :)

[2017-12-08 14:19] tombuildsstuff commented on #1739
ping @olydis @rijethma @dragav - is there an update here? :)

[2017-12-08 14:20] tombuildsstuff commented on #1233
ping @MohitGargVpn - is there any update available for this issue? :)

[2017-12-08 14:20] tombuildsstuff commented on #1698
ping @fearthecowboy - is there any update available here? :)

[2017-12-08 14:21] tombuildsstuff commented on #1372
ping @olydis @hyonholee - is there any update available here? :)

[2017-12-08 14:21] tombuildsstuff commented on #1376
ping @fearthecowboy - is there any update available here? :)

[2017-12-08 14:22] tombuildsstuff commented on #1386
ping @rjtsdl - is there any update available here? :)

[2017-12-08 14:23] tombuildsstuff commented on #1348
ping @sergey-shandar @kirthik - is there any update available here? :)

[2017-12-08 14:23] tombuildsstuff commented on #1609
ping @jaredmoo - is there any update available here? :)

[2017-12-08 14:24] tombuildsstuff commented on #835
ping @brendandburns @kirthik @anudeepsharma - is there any update here? :)

[2017-12-08 14:25] tombuildsstuff commented on #1534
ping @hyonholee @jianghaolu @anuchandy - is there an update available here? :)

[2017-12-08 16:12] rjtsdl commented on #1386
@anhowe see if there is something we can share about migration plan. Thx

[2017-12-08 16:17] mboersma commented on #1386
I think this issue will be closed by #1956.

[2017-12-08 17:18] fearthecowboy commented on #2081
@veronicagg -- who should this be assigned to?

[2017-12-08 17:37] fearthecowboy commented on #1698
assigning to owner (@naveedaz )for follow up

[2017-12-08 17:42] fearthecowboy commented on #1376
Assigning to spec owner (@v-Ajnava )

[2017-12-08 18:26] v-Ajnava commented on #1376
@tombuildsstuff, Subscription Rules is added in the Swagger. and its available in the .Net SDK

[2017-12-08 19:01] tombuildsstuff commented on #1376
Confirmed this is also in the Go SDK - https://github.com/Azure/azure-sdk-for-go/blob/master/arm/servicebus/rules.go

Thanks for confirming that @v-Ajnava - closing this issue :)

[2017-12-08 19:01] #1376 closed

[2017-12-08 20:26] naveedaz commented on #1697
Do not specify ttlInSeconds. Let me know if that works.

[2017-12-08 20:27] tombuildsstuff commented on #1697
@naveedaz unfortunately that's not an option since it's a required field in the Swagger

[2017-12-09 21:45] mboersma opened #2129 "[AKS] resolve ARM completeness issues"
Once #1956 is merged, there are still several [validation errors](http://az-bot.azurewebsites.net/linter?fileName=1956_1512851283400.json) that the `autorest --azure-validator` linter points out.

- ERROR (OperationsAPIImplementation/R3023/RPCViolation): Operations API must be implemented for '/providers/Microsoft.ContainerService/operations'.
    - file:///Users/matt/Projects/azure-rest-api-specs

[2017-12-11 21:23] lindydonna commented on #1348
@tombuildsstuff I'm a former member of the Azure Functions team and am interested in the TF provider you're working on!

There is no separate REST API for Azure Functions, as it is essentially a runtime layer that sits on top of App Service. The important difference is that only Function Apps (apps with `kind` of `functionApp`) can use the Consumption SKU.

So, you should be able to simply use the

[2017-12-11 21:25] lindydonna commented on #1348
CC @davidebbo

[2017-12-12 00:58] #1386 closed

[2017-12-12 11:56] vladbarosan commented on #1728
@stefanvalianu the idea of logical groupings sounds reasonable. For the case that some parameters dont fit any grouping we could just not put them in a group ?

I think this would actually provide more value to customers. It can be discussed on what those should be, but again I think having something like `Search(query, GroupParams1, GroupParam2 etc)` is a much better experience.

Also would add t

[2017-12-12 11:58] vladbarosan commented on #1933
@DavidLiCIG can you have a look if there are errors here otherwise close this issue please?

[2017-12-12 15:39] DavidLiCIG commented on #1933
Hi! Issues here should be resolved now but how do I close the issue? I am not sure if I have permission to do so?

[2017-12-12 16:08] tombuildsstuff opened #2135 "[Role Definitions] API Updates is eventually consistent"
:wave:

Terraform recently added support for [managing Role Definitions](https://www.terraform.io/docs/providers/azurerm/r/role_definition.html) (which uses the Azure API's via the Azure SDK for Go).

Generally speaking this works well - however we've discovered that [the Read/GET API](https://docs.microsoft.com/en-us/rest/api/authorization/RoleDefinitions/Get) is eventually consistent for Updates

[2017-12-12 17:37] genevievelesperance commented on #1233
@tombuildsstuff Are there plans for this provider to delete the resource group instead of (or in addition to) the individual resources? If there is another issue/thread with that answer, would you direct me to it?

`terraform destroy` continues to fail for us on the first try due to this `InternalServerError` from trying to delete the subnet. Since we have a single resource group, we can add logic

[2017-12-12 18:36] dsgouda commented on #1770
This is an interesting idea, I'd say this is something tooling folks might have on their plate.
Reassigning this to @salameer since he'd be super interested.

[2017-12-12 19:10] jhendrixMSFT commented on #2135
@joshgav do you know who to contact on the service team about this?

[2017-12-12 21:42] joshgav commented on #2135
@darshanhs90 can you please take a look?

[2017-12-13 01:32] vladbarosan commented on #1933
You can just press the button to close it. If everything is ok I can close it

[2017-12-13 01:32] #1933 closed

[2017-12-15 19:13] jaredmoo commented on #1609
https://github.com/Azure/azure-sdk-for-net/pull/3955

[2017-12-16 01:56] williexu opened #2162 "Cognitive-Services CustomSearch swagger says parameter is optional, though it is required by service"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/cognitiveservices/data-plane/CustomSearch/v1.0/CustomSearch.json#L104

The following message is returned with my 400 when it is not provided:
[code]

[2017-12-18 18:23] williexu opened #2168 "Content-Moderator is not following the guidelines of other cognitive services"
-Cognitive Services swaggers should have `add-credentials: true` added to the readme.
-securityDefinitions/security should be added to swagger for "apim_key"
-`ocpApimSubscriptionKeyParameter` should be removed from swagger

This will allow content-moderator to be consistent with the other cognitive services and utilize the credentials implemented in the generated sdks.

[2017-12-18 22:12] lmazuel commented on #2168
Fixed in #2173

[2017-12-18 22:13] #2168 closed

[2017-12-19 03:08] williexu opened #2175 "Cognitive Services Content-Moderator swagger has lowercased properties"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/cognitiveservices/data-plane/ContentModerator/v1.0/ContentModerator.json#L2418
I expect lowercased properties from the swagger.

The service gives me back Captitalized object properties like:
[code]

[2017-12-19 09:04] MikeRalphson opened #2176 "network/networkInterface definitions fail to resolve"
I've tried three resolvers on [this url](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/network/resource-manager/Microsoft.Network/2017-10-01/networkInterface.json) and they all fail to fully resolve the definition:

I believe it affects the following versions of `Microsoft.Network/*/networkInterface.json`

* 2017-06-01
* 2017-08-01
* 2017-09-01
* 2017-10-01

An

[2017-12-19 21:03] yugangw-msft opened #2179 "VMSS: should expose the API for invoking a PUT on a vm instance"
This is needed for attach/de-attach disks on an instance

[2017-12-20 15:04] tombuildsstuff opened #2187 "[Networking] Application Gateway API is broken"
:wave:

When attempting to delete an Application Gateway via the Azure SDK for Go / the Azure API's - the following HTTP request is generated:

[code]

which returns a Long Running Request as shown below:

[code]

The Azure SDK for Go automatically makes a request for this URL:

[code]

.. and it receives that the deletion is `InProgress`:

[code]

.. eventually this returns `Successful` (which sh

[2017-12-28 23:14] kmcquade commented on #1233
@MohitGargVpn - updates?

[2017-12-29 22:25] jaredmoo commented on #1609
Fixes have been merged into azure-rest-api-specs and azure-sdk-for-net.

[2018-01-02 17:49] MohitGargVpn commented on #1233
This should now be fixed for all the regions. Can you please try it out?

[2018-01-02 19:17] veronicagg opened #2204 "Move linter validation PR-ONLY=true to blocking"
Move from allowed failure to blocking. Admins in the repo could merge the PR with approved exceptions.

[2018-01-02 19:19] veronicagg opened #2205 "Clean up messaging on repo - from tools and documentation"

[2018-01-02 22:33] sarangan12 commented on #2048
Reassigning due to high priority tasks on my plate

[2018-01-03 12:39] tombuildsstuff commented on #2187
ping @alvadb :)

[2018-01-03 12:41] tombuildsstuff commented on #1609
@jaredmoo thanks for confirming that - I've confirmed that this exists in [the Go SDK](https://github.com/Azure/azure-sdk-for-go/blob/master/services/sql/mgmt/2014-04-01/sql/models.go#L261) and as such I'm going to close this issue.

Thanks!

[2018-01-03 12:41] #1609 closed

[2018-01-04 17:25] lmazuel commented on #1838
Done, we merged into one client.

[2018-01-04 17:25] #1838 closed

[2018-01-04 17:25] lmazuel commented on #2175
Fixed and merged

[2018-01-04 17:25] #2175 closed

[2018-01-05 12:10] tombuildsstuff commented on #1233
@MohitGargVpn from what I can see, the bugs in the API appear to have been fixed.

The one remaining error is a `HTTP 429` (please retry in X seconds) status code which isn't handled in v11 of the Azure SDK for Go. We're planning on upgrading to v12 this month; so I'm going to leave this open for the moment until we've confirmed that this is handled in v12 of the SDK.

Thanks!

[2018-01-06 19:17] genevievelesperance commented on #2187
We hit this issue 3/5 times yesterday in West US.

[2018-01-07 21:55] solankisamir commented on #1887
This has been fixed.

[2018-01-07 21:55] #1887 closed

[2018-01-08 19:53] veronicagg opened #2226 "ContainersGroups_Get model validation errors"
Model validation issues from ContainerInstance - ContainersGroups_Get operation: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2017-08-01-preview/containerInstance.json

1. Required property missing "type" for "ipAddress" [here](https://github.com/Azure/azure-rest-api-specs/blob/76a23e2c89db93576344e9c

[2018-01-11 00:11] veronicagg opened #2252 "Recommendation for PUT/PATCH model definition in swagger?"
Some questions come up regularly on how to model PUT/PATCH models in swagger, due to violations detected by linter and restrictions from service side operations.
Could we write down recommendations for modeling these scenarios in swagger to become more consistent?
Here are cases I've seen:
 - Sharing models for PATCH and PUT may need relaxing "require" properties, as properties are required on PUT

[2018-01-11 00:27] johanste commented on #2252
I typically give the recommendation to not share the same model type in the swagger document. By sharing the model, you end up with a) loser constraints on the PUT operation and b) additional properties that are not mutable in the PATCH operation. Both of which are misleading.

Given the semantics of the PATCH operation (only transmit the things you want to change), there are less reasons to do a

[2018-01-11 00:33] veronicagg commented on #2205
@salameer how would you like to proceed with this issue?

[2018-01-11 01:18] hovsepm opened #2254 "[Monitor] All properties of activityLogs_API.json spec EventData type should be read only"
EventData type is only used as a return value for Listing activity logs which should not be modifyable on the client side. Please fix all of them by adding "readOnly": true, attribute to each property.

[2018-01-11 10:28] tombuildsstuff opened #2255 "[EventHubs] Support for capturing to Azure Data Lake"
:wave: hello!

I've been working on implementing support for EventHub Capture Descriptions in Terraform.

We've successfully been able to add support for capturing EventHub messages to a Blob Storage Account - however in the process [we've identified in this document](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-resource-manager-namespace-event-hub-enable-capture#resources-to-deplo

[2018-01-11 12:10] MikeRalphson commented on #2176
The definition is question has moved to [here](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/networkInterface.json). I will retest in case the problem is fixed.

[2018-01-11 12:17] MikeRalphson commented on #2176
Errors from `sway`:

[code]

[2018-01-11 18:49] dsgouda commented on #2176
@DeepakRajendranMsft can you tag the appropriate folks from Network to take a look

[2018-01-16 18:14] jhendrixMSFT opened #2270 "Validate all SDKs as part of CI"
Some languages are more lax than others so sometimes swagger errors that don't cause compile-time errors in node/python/ruby will cause compile-time errors in others (e.g. Go).  For an example see this PR https://github.com/Azure/azure-rest-api-specs/pull/2095.  The missing nextLink field causes a compile time error for Go rendering the package for this API version unusable.  I believe this is pro

[2018-01-17 04:54] bingosummer opened #2274 "questions about the api version"
1. Will the older api versions be deprecated in future? For example, the stable version `2015-06-15` or the preview version `2016-04-30-preview`.
2. To keep stable, we don't want to upgrade the api version in our software if there are no strong reasons. Now, we are using `2015-06-15` for several services (e.g. SRP). What's the benefit of upgrading api version? (stability, performance?) Any specifi

[2018-01-17 23:51] amarzavery commented on #798
This PR https://github.com/Azure/oav/pull/185 adds support for x-nullable for model validation in oav.

[2018-01-17 23:51] #798 closed

[2018-01-18 17:28] amarzavery opened #2287 "In a PATCH operation supportsHttpsTrafficOnly property for StorageAccountPropertiesUpdateParameters should not have a default value"
request body for PATCH operation MUST not have default values for properties.
Please refer to the node sdk issue filed by a customer https://github.com/Azure/azure-sdk-for-node/issues/2390#issuecomment-358713353.

Specs with api-version 2016-12-01, 2017-06-01 and 2017-10-01 need to be corrected as this will affect sdks with multi api version support.
Folks from the service team:
@bluww @JasonYang-

[2018-01-18 18:57] marstr commented on #2287
Go already handles this correctly, as seen here:
[2016-12-01/storage/models.go#L421 @ a49674f](https://github.com/Azure/azure-sdk-for-go/blob/a49674fdba11173ce3bc934d020634e3366464de/services/storage/mgmt/2016-12-01/storage/models.go#L472)

[2018-01-18 19:38] lmazuel opened #2288 "[Logic] Missing JSON keys and wrong naming"
In [RecurrenceSchedule](https://github.com/Azure/azure-rest-api-specs/blob/a70ffe7159e60a9548679d2924b24fc96da929a5/specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/logic.json#L4127-L4182), a customer found out that:

- "weekDays" is actually "days" on the wire
- "timeZone" is missing

This needs to be confirmed by Logic team and eventually added to the Swagger.

Reference:
h

[2018-01-19 02:15] JasonYang-MSFT commented on #2287
Just verified that .Net SDK handles this correctly, too.

[2018-01-22 18:55] yugangw-msft opened #2307 "MarketplaceOrdering: the 'retrieveDatetime' might break serialization"
Suggest change [retrieveDatetime](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2015-06-01/Agreements.json#L255) to string type.

Context: it appears the value is in tick unit (100ns) which is beyond the precision of a language's default datetime library, say for python it is in ms. Hence the round

[2018-01-22 18:55] yugangw-msft commented on #2307
//CC: @lmazuel

[2018-01-22 19:39] yugangw-msft commented on #2307
//CC: @ravbhatnagar @johanste

[2018-01-22 21:01] johanste commented on #2307
This is why the [Microsoft REST guidelines ](https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#113-json-serialization-of-dates-and-times) recommends using millisecond precision. Since it looks to me like the property is read-only (correct?), the best solution would probably be to make sure that the service never returns anything beyond milliseconds.

[2018-01-23 09:56] jansepke opened #2313 "[AppGw] Feature Request: Allow creation of an empty application gateway"
Hi,

currently it is not possible to create an empty application gateway without frontend and backend configuration. so it is not possible to create an application gateway step by step.

Could you allow the creation of an empty application gateway? then one could split the creation of an application gateway into multiple parts as requested in https://github.com/terraform-providers/terraform-provid

[2018-01-23 17:54] jhendrixMSFT opened #2314 "Auto create branches and commit for approved PRs in the private repo"
In stand-up @fearthecowboy had a great suggestion that when a PR in the private repo has been approved, instead of letting it linger in an open state we should automatically create a branch for that PR, rebase it, then commit.  This would ensure that the PR is preserved and avoid the risk of losing PRs due to user error (e.g. deleting the source branch/fork would cause the PR to be lost).

[2018-01-23 17:58] fearthecowboy commented on #2314
// cc @salameer

This would have the distinct benefit of also being able to 'close' a PR in private, since it would be merged into the target branch.

[2018-01-24 12:37] tombuildsstuff commented on #1747
ping @schaabs :)

[2018-01-25 01:38] schaabs commented on #1747
@tombuildsstuff sorry I missed your earlier ping on this issue.  Updating the swagger in place with the suggested change would cause breaking changes in our other generated clients.  We are going to be moving to a new API version and we can make the update here.  The first preview of this new API version should be available by the end of January.  I will post details to this thread once that is av

[2018-01-25 22:09] jianghaolu opened #2337 "Names shouldn't be required properties in web app common resources"
Swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/CommonDefinitions.json

Resource name is provided on the URL to PUT/GET/PATCH, therefore it shouldn't be required in the payload. In fact, in the ARM Resource definition, names are not only optional but also read-only for this matter.

[2018-01-25 22:30] ro-joowan commented on #1673
@veronicagg @muhammad-asad-confiz, This has been addressed in this merged PR: https://github.com/Azure/azure-rest-api-specs/pull/1999/

Thanks for bringing it up!

[2018-01-25 22:30] ro-joowan commented on #1673
@veronicagg Please close :)

[2018-01-25 23:40] tjprescott opened #2339 "MySql Server PUT should be called Create instead of CreateOrUpdate"
https://github.com/Azure/azure-rest-api-specs/blob/679502c4b4af7af7115509f7b9b7ec16d78de70b/specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2017-04-30-preview/mysql.json#L42

MySQL and Postgres both support PATCH for servers, but the PUT call is called "Servers_Create" in Postgres but "Servers_CreateOrUpdate" in MySQL.  They should logically be the same.

[2018-01-26 01:19] lmazuel commented on #2339
@rahulgouthamDOTgs could you help tag the right person here?

[2018-01-26 02:12] anuchandy opened #2343 "DiskSku StorageAccountTypes enum missing `StandardSSD_LRS`"
[DiskSku StorageAccountTypes](https://github.com/Azure/azure-rest-api-specs/blob/e40a6de2dd1bd0867ec14dfe3b5e40ea2cc04825/specification/compute/resource-manager/Microsoft.Compute/stable/2017-03-30/disk.json#L808) missing StandardSSD_LRS

[2018-01-26 07:38] gunzip opened #2344 "Missing string type for ManagedServiceIdentity enum"
It looks like there is a missing typedef in swagger specs of ManagedServiceIdentity:

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/CommonDefinitions.json#L1038

This breaks the go SDK that expects a map while the output of the identity field is a plain string:
[code]
see also
https://github.com/Azure/azure-sdk-for-go/i

[2018-01-26 12:36] tombuildsstuff commented on #1233
@MohitGargVpn I've spent a little while validating this and can confirm that this appears to be fixed :)

As such we've just merged support for Virtual Network Gateways into Terraform - and I'm going to close this issue.

Thanks!

[2018-01-26 12:36] #1233 closed

[2018-01-26 16:35] MikeRalphson commented on #2176
Also https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimapis.json `#/definitions/Resource` missing.

[2018-01-26 18:08] dsgouda commented on #2344
Tagging @naveedaz  since he last worked on this spec

[2018-01-26 19:50] lmazuel commented on #1673
Double-checked with @ro-joowan as fixed indeed in #1999

[2018-01-26 19:50] #1673 closed

[2018-01-26 19:52] ro-joowan commented on #1673
FYI @matt1883 -- in the ADLA/ADLS Account object refactor PR, the Firewall rule name parameter during Account creation is now required.  It's so clean - I love it!

[2018-01-29 18:17] jhendrixMSFT opened #2355 "Resource manager statusMessage property has incorrect type."
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json#L2068.  The property statusMessage is defined as object however the service doesn't always return an object (sometimes a string).  This results in broken behavior for the Go SDK.  The type must be either a string or an object and the service mus

[2018-01-29 20:30] anuchandy commented on #2343
The enum also missing `Standard_ZRS`

[2018-01-29 22:43] johanste commented on #2343
@twitchax - FYI....

[2018-01-30 05:43] DheerendraRathor opened #2362 "Azure RecoveryServices.Backup documentation incomplete and pointing to wrong node"
The current RecoveryService - Backup documentation is pointing to `site-recovery` node (https://docs.microsoft.com/en-us/rest/api/site-recovery/backupjobs/list). Ideally it should have been pointing to `backup` (https://docs.microsoft.com/en-us/rest/api/backup/) node.

Also, current documentation is present only for api-version `2017-07-01` and other api-version `2016-12-01` is missing from there

[2018-01-30 08:44] paulmey opened #2365 "Comment applicable for data disk on OS disk in ManagedImage resource"
https://github.com/Azure/azure-rest-api-specs/blob/e40a6de2dd1bd0867ec14dfe3b5e40ea2cc04825/specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json#L5162

[2018-01-30 11:00] herrkris commented on #1698
Hey there, are there any updates available? :) @naveedaz

[2018-01-30 17:47] marstr opened #2366 "[NRP] Several properties notated as `int` returning floating point numbers"
This issue originally stems from PR #2271, where @nathantypanski fixed an issue where he observed floating point numbers being returned where an `int` was expected. Obviously, this breaks several SDKs, including our Go SDK. Commit https://github.com/Azure/azure-rest-api-specs/pull/2271/commits/92464eceefb5f32a04cf8466533df058a5f9583f fixed the instances he had run into.

Whether this needs to be f

[2018-01-30 17:48] marstr commented on #2366
@DeepakRajendranMsft would you mind helping me triage this bug?

[2018-01-30 17:50] marstr commented on #2366
@nathantypanski, have you experienced this behavior in more than one API Version? I see the original fix was targeted at the 2017-11-01 API Version.

[2018-01-30 18:30] nathantypanski commented on #2366
Sorry, I did not intend to target just 2017-11-01. That did not include my (rebased out of the PR) changes from before I tried to make a new API version.

What I noticed was by looking at the examples of API responses:

1. [`specification/network/resource-manager/Microsoft.Network/stable/2017-06-01/examples/UsageList.json`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/ne

[2018-01-30 18:38] anuchandy commented on #2343
@johanste , @twitchax it seems the PowerShell issue that customer reported here https://github.com/Azure/azure-powershell/issues/5369 is related to this.

[2018-01-30 19:01] marstr commented on #2366
Thanks @nathantypanski, that is very illuminating. That makes this issue effectively a duplicate of #1624. However, I'm tempted to close #1624 in favor of this one because we doesn't prescribe a breaking change for all clients.

@DeepakRajendranMsft, is there a reason we would be unable to modify the server to start returning these numbers without being in floating-point representation? I struggle

[2018-01-30 19:17] TimLovellSmith commented on #1347
Suggest closing as 'probably won't fix' - note unfortunately if we change the behavior to be more transparent it is still going to take just as long to delete the subnet, and its not that hard to workaround, so it is just not a very high priority to fix it.

[2018-01-30 19:34] TimLovellSmith commented on #1347
Hi @bostonmoto I am not familiar with terraform, but I imagine this as most likely manifesting as a bug that deleting a subnet that holds a redis cache would appear to fail, and then need to be retried after a suitable delay.

[2018-01-30 19:42] bostonmoto commented on #1347
Not a problem @TimLovellSmith I will wait for @tombuildsstuff to respond. Just trying to confirm that the creation part works with static IP and subnet. If delete doesn't work we'll just do that manually after as needed.

[2018-01-30 21:10] hovsepm opened #2371 "Metric API Metrics_List top parameter is modeled as number"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/monitor/resource-manager/microsoft.insights/preview/2017-05-01-preview/metrics_API.json#L372

number means double in C# and Java. I hardly can imagine how useful top 1.5 records will sound. This property should be "integer".

[2018-01-30 21:20] dsgouda opened #2372 "Network SubResource cannot have the x-ms-azure-resource flag"
The `x-ms-azure-resource` flag is reserved only for Resources (`TrackedResource` and `ProxyResource`) i.e., they must at least have the `name`, `id` and `type` properties defined.
The definition `SubResource` defined in the network spec here contains only `id` and therefore does not qualify as a resource but has been assigned the `x-ms-azure-resource` flag. This has been subsequently referenced in

[2018-01-31 01:15] vjtirumalai opened #2382 "Azure resource list expand parameter accepted values are not documented"
Could you add some documentation including examples around what the expand parameter accepts in the
"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources" GET call?

azure-rest-api-specs/specification/resources/resource-manager/Microsoft.Resources/stable/2017-05-10/resources.json

I have been considering it for getting selected VMs and their properties, and wanted to know i

[2018-01-31 01:57] solankisamir commented on #1881
This issue needs a breaking change in the PowerShell cmdlet. We need to provide an alternative to users how they would work, without the operation, then deprecate the property from rest spec.

[2018-01-31 22:14] lmazuel opened #2388 "NetworkSecurityRule GET: expand parameter not documented"
Just discovered by looking at the Portal call that this is possible, but not documented:

This gives a JSON with extra nodes with NICs and/or subnets:
![image](https://user-images.githubusercontent.com/1050156/35650407-d1defc4a-0690-11e8-9b82-27a25c5adb54.png)

The `expand` parametre should be documented in the Swagger, so we can get `networkInterfaces` and `subnets` nodes.

FYI @johanste

[2018-02-01 02:15] ericstoekl opened #2393 "Update API for WebApps - Update Application Settings is broken"
Hi Azure Folks,
I am attempting to use this [Azure REST API](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/updateapplicationsettings) to update the App Settings in my Azure Functions. The only other way to update is [through the CLI tool](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#publish), which is not an option for me because I would like to modify

[2018-02-01 17:58] marstr commented on #2366
After digging around a little internally, I have decided that the Networking team **does** have the ability to intercept the Insights data and cast it to the appropriate type before it hits the wire.

However, before I ask the service team to make a change, I'm going to ask around to folks on the ARM team what the expected behavior is of the "Usage" operations. This has been a problem for months,

[2018-02-02 13:34] alexzheludov opened #2406 "Unable to delete event grid subscription"
I am trying to delete Event Grid subscription from Azure portal, and it never succeeds. Notification says that deletion of this resource has started but it never gets deleted.

[2018-02-02 22:05] sarangan12 opened #2408 "Incorrect Parameter values in Cognitive services Spellcheck"
In Cognitive services Spellcheck API, the Parameter mode has the values "Proof" & "Spell". This is incorrect. The API is accepting only "proof" and "spell". Please correct them.

Link:https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/SpellCheck/stable/V1.0/SpellCheck.json#L188

[2018-02-04 19:46] DheerendraRathor commented on #2362
@marstr Any update on this? This is very crucial for us as customers don't have any documentation for missing APIs.

[2018-02-05 17:02] marstr commented on #2362
@DheerendraRathor, please submit a PR which adjusts your documentation as desired.

[2018-02-05 17:37] DheerendraRathor commented on #2362
What will be the content or PR? Is it documented somewhere about how public documentation is generated from here?

[2018-02-05 20:41] marstr commented on #2362
I'm unclear on the ask here. There is an external team that takes these Swaggers and generates documentation with them. @mikekinsman is a PM on that team, and the guy I interact with when I have documentation questions or concerns.

If your Swaggers are complete and accurate, then I'm not sure an issue in the specs repository is the best way to get your concerns addressed.

Is there something I'm

[2018-02-06 03:21] brjohnstmsft commented on #1085
Update: The issues mentioned above for the management plane (search.json) have been resolved. The issues with the data plane specs remain.

[2018-02-06 19:51] TimLovellSmith commented on #935
@kirthik Update: we actually fixed this in our 2017-10-01 api version.

[2018-02-06 19:51] #935 closed

[2018-02-07 21:48] RikkiGibson opened #2444 "Main branches seem to be changing"
Since Monday, it seems like the "current" branch has been deleted, recreated, and deleted again. A lot of people run AutoRest by passing URLs like [this one](http://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/storage/resource-manager/readme.md) so it would be appreciated to have some guidance and stability about what branches we should be referencing and what we can

[2018-02-08 00:35] vjtirumalai commented on #2382
Can someone provide clarification on what the parameter takes and does?

[2018-02-08 23:57] TimLovellSmith commented on #1347
@tombuildsstuff I came up with one other idea for allowing workarounds in code that could possibly avoid the need for a new api version:

Could we address this by returning a Azure-AsyncOperation header with the DELETE 200 response?

And then you could poll on the URL in that header to wait for the delete work to really be completed. We could probably roll this out faster than a new api version. B

[2018-02-09 00:13] tombuildsstuff commented on #1347
@TimLovellSmith I have a feeling that would break the Azure SDK - @marstr / @mcardosos / @jhendrixMSFT / @joshgav should be able to comment further

@sarangan12 this functionality (internal subnets) currently isn't supported in Terraform since we're waiting for the API to be fixed - once it is we should be able to add support for this relatively quickly (there's a branch with support - but we can'

[2018-02-09 02:24] jhendrixMSFT commented on #1347
But maybe it's the correct thing to do?  This came up a few days ago talking with @johanste

[2018-02-09 02:43] mcardosos commented on #1347
I think it is the correct thing to do. But yes, breaking changes.

[2018-02-09 03:55] johanste commented on #1347
Since the delete operation is already marked as a long running operation in swagger (from what I can tell), there wouldn't be a breaking change in the Go SDK. I don't know if any other management libraries would be tricked into doing something functionally incorrect by a 200 response w. an AzureAsync-Operation header - but if the operation will take a significant time to complete, usages where the

[2018-02-09 22:52] gucalder opened #2467 "[Monitor] In List Activity Logs $filter is not optional and it requires at least a start time."
In List Activity Logs $filter is not optional and it requires at least a start time.
Fix the example that says no $filter / $select, it is not correct.
Fix the documentation of $filter.

This looks like a breaking change, but the call fails without $filter, so this is making it work instead of breaking it.

[2018-02-10 13:44] tombuildsstuff commented on #1697
ping @naveedaz - any update here? :)

[2018-02-12 22:32] mcardosos opened #2481 "Wrong API version on Authorization swaggers"
There are a couple of files in the `2018-01-01-preview` folder which have an API version that does not correspond to the folder they are in

[2018-02-12 22:33] mcardosos commented on #2481
https://github.com/Azure/azure-rest-api-specs/pull/2356/files

[2018-02-13 17:28] jhendrixMSFT commented on #2355
After recent discoveries in JSON schema I believe the correct thing to do here is remove the "type" so that statusMessage is treated as a wildcard type.  @olydis @fearthecowboy do you agree?

[2018-02-13 17:32] jhendrixMSFT commented on #2344
Ping @naveedaz

[2018-02-13 17:32] fearthecowboy commented on #2355
I believe that should be the case; I think we're still waiting for everyone to fix the generators to get the right behavior everywhere.

[2018-02-13 17:42] jhendrixMSFT commented on #2355
Do we need to wait for that before updating the swagger?

[2018-02-13 17:55] fearthecowboy commented on #2355
@olydis  is going to verify that there isn't any breaking change to the code model if you do this now.

[2018-02-13 18:09] olydis commented on #2355
Confirmed: The current modeler (the one that does *not* handle object types properly) generates identical output for `type: object` vs no `type` on `statusMessage`, so indeed it can be safely removed without inducing breaking changes across existing generators. That was what my assumption, but wanted to confirm 😋

[2018-02-13 19:09] sarangan12 commented on #2408
Task completed and PR Merged https://github.com/Azure/azure-rest-api-specs/pull/2488

No more action items. Closing this task

[2018-02-13 19:09] #2408 closed

[2018-02-15 01:12] #2481 closed

[2018-02-15 01:14] mcardosos commented on #2481
@sarangan12 :) This has been fixed. Happy codegen :D

[2018-02-15 22:10] seffyroff commented on #1698
Also chiming in here, this leaves a large hole in my deployment right now.

[2018-02-16 00:03] joshgav commented on #1698
@tombuildsstuff would you mind describing how the missing field effects Terraform? Thanks!

@seffyroff are you using Terraform or having a problem using the SDKs directly? Thanks!

[2018-02-16 02:34] tombuildsstuff commented on #1698
@joshgav so with the API in it's current state it's not possible for us to detect drift, since these values can be submitted but aren't returned back, which means that if a change is made outside of Terraform, it won't be detected in the plan. It also means it's not currently possible to fully import a Linux App Service since the fields aren't mapped across; and due to #1697 Terraform will attempt

[2018-02-16 19:21] seffyroff commented on #1698
Terraform, yes.  I have looked at accomplishing this via SDK scaffolding or with a template, but neither is ideal in our use case, and would be a significant departure from our existing workflow.

[2018-02-16 21:49] joshgav commented on #1698
Thanks @tombuildsstuff and @seffyroff for the details! @davidebbo @naveedaz we'll need your help addressing this, also about to start an email thread with you, thanks!

[2018-02-16 23:14] anirudhcavale opened #2513 "[Monitor] Fix syntax on Metrics Swagger Spec"
The documentation and swagger spec need to be updated for syntax on 'orderby' and 'top' parameters.

Currently the spec suggests the query parameters should be $orderby and $top. This is incorrect, the $ signs are not needed.

[2018-02-20 11:06] pixelicous commented on #1697
@naveedaz @tombuildsstuff any update on this matter? stuck with terraform and arm templates 👎

[2018-02-20 18:01] mikekinsman commented on #2362
@DheerendraRathor

Where is the bad link?

Following up in email about this.

[2018-02-20 18:31] marstr commented on #2362
I'm going to close this issue out, it sounds like it doesn't directly pertain to this repository. If there is something actionable that pops-up for this repo, feel free to ping the thread and have it re-opened.

[2018-02-20 18:31] #2362 closed

[2018-02-21 00:11] olydis commented on #1739
@tombuildsstuff argh sorry for not getting back, completely missed your comment. Yes, `oct` is specified exactly like that in the Swagger(s): https://github.com/Azure/azure-rest-api-specs/search?utf8=%E2%9C%93&q=RSA-HSM&type=

@rijethma @dragav Can you confirm `oct` is incorrectly cased as @tombuildsstuff points out?

[2018-02-21 00:14] olydis commented on #1697
@naveedaz any update? If `ttlInSeconds` is not supposed to be set by customers, it should **not** be documented in the Swagger, let alone be marked as required! This renders the operation completely useless.

[2018-02-21 00:35] olydis commented on #1211
thanks @gucalder!

[2018-02-21 00:35] #1211 closed

[2018-02-21 00:41] naveedaz commented on #1697
This issue is address in api-version 2018-02-01. We will be releasing the swagger for this version by mid March.

[2018-02-21 02:07] tombuildsstuff commented on #1697
@naveedaz that's good to hear, thanks for confirming that. Are there any planned fixes to the existing API version? Unfortunately the Update API isn't usable with the Swagger in this state (as such, I believe a breaking swagger change would be acceptable here, given it never worked in the first place).

There's a separate question around deployment of the new API version - is there an estimated ti

[2018-02-22 19:56] tjprescott opened #2530 "[Monitor] Autoscale timezone property should be an enum"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/microsoft.insights/stable/2015-04-01/autoscale_API.json#L1040

The valid values are C# standard time zone names, of which there are about 136. The problem is that these "Standard Names" are only standard for C#.  Python, Java, Ruby, don't have the same names and there is no good way to map to them.  Wh

[2018-02-22 21:05] lmazuel commented on #2530
@kikicandy11 @LarryZhang19 @gucalder @shriku11 @asafst for help here please.

[2018-02-23 18:11] olydis commented on #1697
@naveedaz +1 on fixing the existing Swagger - *wrong* specifications must be fixed, changing something that is broken already is not really a breaking change

[2018-02-26 16:05] kwill-MSFT opened #2540 "Resource Groups - List documentation needs to specify what a valid $filter is"
https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/list

Currently this just says
"$filter | query |   | string | The filter to apply on the operation."

But the only valid filter is tagname and tagvalue.  Users cannot specify anything else like location.  Docs should be updated to indicate what a valid filter is.

[2018-02-27 17:32] amarzavery opened #2546 "kubeConfig should have "format": "byte" along with "type": "string""
If `"format": "byte"` is specified then the generated code will be able to serialize and deserialize this property [kubeconfig](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2017-08-31/managedClusters.json#L917) correctly.

As per swagger specification, [this](https://github.com/OAI/OpenAPI-Specification

[2018-02-27 17:41] amarzavery commented on #2546
/cc @lmazuel - FYI.

[2018-02-27 17:43] lmazuel commented on #2546
@mboersma I was looking at CLI, and it seems this will just change this:
[code]
to this:
[code]
while at the same time providing free base64 decoding for SDK customers

[2018-02-27 17:59] milismsft commented on #2546
FYI I would prefer if this change is done as part of a new API version rather than using the same version as it was done not to far in the past for other "non-breaking" changes (see access profiles)... Especially since it's not blocking and can be easily worked around in the SDKs for now.

[2018-02-27 18:07] mboersma commented on #2546
This does seem like an obvious improvement.

@milismsft I've encountered a lot of resistance when proposing we rev the AKS API version before, and in this case we're not even changing server-side code. If it's possible to inline such a change into `v20170831`, that may be the only way to accomplish this in a reasonable time frame.

[2018-02-27 18:13] amarzavery commented on #2546
@mboersma - I have already made this change in the node sdk over [here](https://github.com/amarzavery/azure-sdk-for-node/commit/ee97ff2f7c8e2e64b76d8928ad39994f18740766#diff-0a74c6a77b8831b901bdc04ea6390e13R93) and [published](https://www.npmjs.com/package/azure-arm-containerservice) the sdk. This was easier than adding a layer on top that would do the right thing.

[2018-02-27 18:20] michimune opened #2547 "Incorrect swagger for Microsoft.Web/recommendations"
Although responses from `Microsoft.Web/recommendations` are compliant with CSM specs, its swagger JSON is not correct. This is because the resource types aren't marked as `ProxyOnlyResource`.

Here is an example response from API calls to `Microsoft.Web/recommenations`:

[code]

[2018-02-28 22:32] schaabs commented on #1739
@tombuildsstuff the "oct" key type is not currently supported.  If you are trying to create an "oct" key this is expected to fail.  I believe this was added to the swagger so that when we enable this key type on the service, existing clients will be able to use it without an update.

[2018-03-01 01:08] gucalder opened #2565 "[Monitor] The metricnamespace for the new metrics API is incorrectly specified as a client level parameter"
The metricnamespace for the new metrics API is incorrectly specified as a client level parameter. It is only used in the multi-dimensional Metrics API.

The argument must be specified as method level argument.

[2018-03-01 16:52] mb290 commented on #2187
ping @alvadb

[2018-03-01 17:25] solankisamir opened #2570 "ApiManagement: Rename ResourceType api-version-sets to apiVersionSets"
The Resource Type should be camel-cased and contain only Alphanumeric Characters.

https://github.com/Azure/azure-rest-api-specs/pull/2483#discussion_r168652097

[2018-03-01 23:53] pkamath13 opened #2575 "[Monitor] The queryparameter 'metric' is renamed to 'metricnames' in new metrics API"
The queryparameter 'metric' is renamed to 'metricnames' in new metrics API version 2018-01-01. This needs to be updated in the Swagger spec.

[2018-03-02 01:21] seyadava opened #2578 "Primary flag is missing in InterfaceIPConfigurationPropertiesFormat"
Primary flag is missing in InterfaceIPConfigurationPropertiesFormat in network model of 2015-06-15 version.

[2018-03-02 21:29] jhendrixMSFT commented on #2344
Spec has been fixed, will get rolled up into next major release of Go SDK.

[2018-03-02 21:29] #2344 closed

[2018-03-03 14:15] bingosummer commented on #2187
I still hit the issue 4/4 times in Central US.

[2018-03-06 16:18] pixelicous opened #2598 "Feature request: API for management solutions"
According to [this document](https://docs.microsoft.com/en-us/rest/api/loganalytics/) there are no exposed APIs

[Management solutions documentation](https://docs.microsoft.com/en-us/azure/operations-management-suite/operations-management-suite-solutions)

[2018-03-06 17:17] joshgav commented on #2598
@pixelicous Log Analytics is known as "OperationalInsights" in APIs and SDKs. Are the operations you seek available in https://github.com/Azure/azure-rest-api-specs/tree/master/specification/operationalinsights?

Go docs here: https://godoc.org/github.com/Azure/azure-sdk-for-go/services/operationalinsights/mgmt/2015-11-01-preview/operationalinsights

cc @tombuildsstuff

[2018-03-06 18:29] bsquizz commented on #1534
+1 would find this useful

[2018-03-06 18:31] solankisamir commented on #1847
The service side changes done and fixed.

[2018-03-06 18:31] #1847 closed

[2018-03-06 18:32] solankisamir commented on #1987
This is fixed in the 2018-01-01 spec

[2018-03-06 18:32] #1987 closed

[2018-03-06 18:33] dsgouda commented on #2565
@gucalder please close this issue if it has been fixed.

[2018-03-06 18:38] dsgouda commented on #1591
@tjprescott can you check if the issue still exists? Please reopen and link the correct location

[2018-03-06 18:38] #1591 closed

[2018-03-06 19:08] RikkiGibson commented on #2444
Seems like I was just missing from the alias that was announcing these changes, so I'll close this issue.

[2018-03-06 19:08] #2444 closed

[2018-03-06 20:43] pixelicous commented on #2598
thx @joshgav ill look into it

[2018-03-06 20:43] #2598 closed

[2018-03-07 12:58] ajomadlabs commented on #497
Can I take up this issue

[2018-03-08 08:59] pixelicous commented on #1697
@naveedaz Could you plesae shade some light on the ETA for this? roadmap? this is breaking stuff on our end..

[2018-03-08 19:32] jhendrixMSFT opened #2616 "Compute 2018-04-01 disk.json has linter and model validation errors"
Please see the content added in https://github.com/Azure/azure-rest-api-specs/pull/2552.  The validation errors need to be cleaned up.

[2018-03-09 16:32] rosskyl opened #2628 "Cognitive Services Azure Region does not contain "southcentralus""
The file "azure-rest-api-specs/specification/cognitiveservices/data-plane/Common/BasicRegions.json" needs to have the value "southcentralus" added to the enum so that the documentation is updated and the cs files get updated to have this value also. This is a valid option and I can use it with the REST api.

![image](https://user-images.githubusercontent.com/9472151/37218134-2d755660-2385-11e8-9ff

[2018-03-12 13:19] MikeRalphson opened #2636 "cognitiveservices/data-plane/LUIS/Programmatic - Is this a correct produces mime-type?"
https://github.com/Azure/azure-rest-api-specs/blob/821f2ae75a42e90b8c9d83c317455340d2c2e453/specification/cognitiveservices/data-plane/LUIS/Programmatic/stable/v2.0/LUIS-Programmatic.json#L3050

[2018-03-13 23:37] marstr opened #2647 "graphrbac doesn't have signed-in use (me) operations"
This has been open for sometime as Azure/azure-sdk-for-go#698.

As written by @chessman:

https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/signed-in-user-operations

The right fix to this would be to add operations in the Swagger under a separate path.

[2018-03-14 19:56] tjprescott opened #2655 "[Monitor] Parameter "top" should be an int, not number"
https://github.com/Azure/azure-rest-api-specs/blob/7924ec3d1bfb9576f2a04be97cab25147d119363/specification/monitor/resource-manager/microsoft.insights/stable/2018-01-01/metrics_API.json#L339-L340

This is registered as type "number" which gets interpreted by autorest as a float for generation of the Python SDK. If the SDK is used, even when an int is provided it gets serialized into a float and the

[2018-03-14 21:38] tombuildsstuff opened #2661 "IoTHub doesn't handle deletion correctly"
👋

Hey - so we've been working through this PR https://github.com/terraform-providers/terraform-provider-azurerm/pull/887 which adds support for IoTHubs to Terraform, via the Azure SDK for Go (v12.5.0-beta, but it appears this is also present in v14 / the latest, so I believe it to be a valid bug).

We're encountering a bug when attempting to delete the IoTHub that appears to be a bug in the Swagg

[2018-03-14 22:47] naveedaz commented on #1697
Here is the pull request for existing api-version: https://github.com/Azure/azure-rest-api-specs/pull/2664

[2018-03-15 00:15] lmazuel commented on #2655
Merged

[2018-03-15 00:15] #2655 closed

[2018-03-15 12:51] tombuildsstuff commented on #2135
@darshanhs90 is there any update available here? :)

[2018-03-15 15:18] C123R commented on #1698
Guys, any update here ? :)  @davidebbo @naveedaz
Azure Web App for Containers is a cool feature and would love to manage it from Terraform. Appreciate your quick support here. Thanks

[2018-03-15 16:29] davidebbo commented on #1698
Not my area, so I'll let @naveedaz or others respond here.

[2018-03-15 19:36] darshanhs90 commented on #2135
@tombuildsstuff this is because the custom roles are cached ,and hence the data replication takes some time for it to be available everywhere.
So there is no workaround at the current moment

[2018-03-15 19:57] tombuildsstuff commented on #2135
@darshanhs90 ok.. is there a rough duration for the cache to replicate? This way we can ensure we wait for at least this amount of time (and until the response is consistent once this has been done). Thanks!

[2018-03-15 21:20] naveedaz commented on #1698
@tombuildsstuff
Please use the https://docs.microsoft.com/en-us/rest/api/appservice/webapps/getconfiguration API to get the value for linuxFxVersion. The Update/Get Configuration API is the supported method of modifying and tracking that configuration.

The swagger file has it already as:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/sta

[2018-03-15 21:38] #2546 closed

[2018-03-15 22:36] vrdmr commented on #1091
This issue has been resolved. Could you please close this issue.

[2018-03-16 19:40] joshgav commented on #1698
Thank you @naveedaz. The corresponding Go SDK methods are:

* https://godoc.org/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2016-09-01/web#AppsClient.GetConfiguration
* https://godoc.org/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2016-09-01/web#AppsClient.CreateOrUpdateConfiguration

So @naveedaz, assuming the user has an [AppsClient](https://godoc.org/github.com/Azure/azure-sdk-f

[2018-03-16 20:27] tombuildsstuff commented on #1698
@naveedaz @joshgav yep - we're using both of those endpoints. Here's the Update call (via `client.CreateOrUpdateConfiguration`:

https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource_arm_app_service.go#L318-L325

and the Read call (via `client.GetConfiguration`):

https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/resource

[2018-03-16 22:03] tombuildsstuff commented on #1347
@mcardosos could we leave this open until the fix is actually deployed and verified? At this point the new API is still broken since the fix isn't deployed, based on my reading of this comment: https://github.com/Azure/azure-rest-api-specs/pull/2581#issuecomment-370978755

Thanks!

[2018-03-16 22:05] TimLovellSmith commented on #1347
@tombuildsstuff It is deployed.

[2018-03-18 18:57] xtomas commented on #1082
Thanks to all for help :)
Currently '~' works instead of '/' so for example in powershell I can use desk~incoming for all operations.

[2018-03-18 18:57] #1082 closed

[2018-03-19 23:32] genevieve commented on #1233
Hey @tombuildsstuff. We tried to bring back testing our azure templates but are back to seeing this error every time.

[code]

[2018-03-20 00:18] TimLovellSmith commented on #1347
@mcardosos Can we close it again?

[2018-03-20 00:24] mcardosos commented on #1347
@tombuildsstuff feel free to reopen if not fixed yet

[2018-03-20 00:24] #1347 closed

[2018-03-21 13:13] bostonmoto commented on #1347
Hi @tombuildsstuff so we can now not only create azure redis with subnet via terraform but we can also delete it properly now. Is that confirmed? Thanks!

[2018-03-21 13:37] tombuildsstuff commented on #1347
@bostonmoto we still need to upgrade to the new version of the Azure SDK for Go, and then add rebase the branch with support for this functionality to be able to confirm that it, so it isn't at the moment, but should be soon. I'd suggest subscribing to this issue for updates: https://github.com/terraform-providers/terraform-provider-azurerm/issues/82 :)

[2018-03-21 22:51] daschult opened #2728 "DataMigration assigns a single discriminator value to multiple model types"
The DataMigration TaskOutput discriminator values have duplicates on the following two lines:
https://github.com/Azure/azure-rest-api-specs/blob/cbe38334cd972faa38e96b55b24048b1550fc338/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-03-15-preview/definitions/MigrateSqlServerSqlDbTask.json#L309
https://github.com/Azure/azure-rest-api-specs/blob/cbe38334cd972faa38e

[2018-03-24 10:40] Gaploid opened #2750 "RateCard API and reserved instances"
Hi,
Reserved instances were launched in September 2017 and there is still no data about it in API. Any plans to add reserved instances in RateCard API?

Victor

[2018-03-26 17:01] lmazuel commented on #2750
Tagging people that might know:
@wilcobmsft @kjeur @panda-wang

[2018-03-26 19:54] jhendrixMSFT opened #2754 "compute: cannot build tag package-2017-12"
Building this tag fails due to overlapping definitions of enum StorageAccountTypes; the problem is that the types have different values for modelAsString (see below).

2017-12 compute.json
[code]
2017-03 disk.json
[code]

[2018-03-27 23:05] hitenjava commented on #2728
https://github.com/Azure/azure-rest-api-specs/pull/2760 created to fix this.

[2018-03-28 00:23] hitenjava commented on #2728
Fixed

[2018-03-28 00:23] #2728 closed

[2018-03-28 17:06] dsgouda commented on #2565
@gucalder  please reopen if necessary

[2018-03-28 17:06] #2565 closed

[2018-04-04 22:13] shahabhijeet opened #2818 "Allow Only supported content types in swagger specs"
Currently their is a rule that catches content type that has been set to anything other than application/json and marks it as a warning.
After discussing with ARM team, they have confirmed that all new API versions should enforce a linter rule that will mark unsupported content-types as error.

So what we need is a way to stop RPs using text/json (which is not even a valid content type) to be used

[2018-04-04 22:29] vludax opened #2819 "Web Site Extension installation"
As suggested by @hovsepm [here](https://github.com/Azure/azure-libraries-for-net/issues/241#issuecomment-378684495), Azure SDK calls fail to create site extensions when they attempt to PUT a request with null content. Setting request body to an empty JSON object (`{}`) fixes the problem.

[2018-04-05 00:12] dsgouda commented on #2819
@pavelzel Do you know someone from WebApps who could take a look into this?

[2018-04-05 04:39] vludax commented on #2819
Also, not sure if this belongs here or in a separate issue, but the returned response code (OK) doesn't seem to match what [generated .NET Azure SDK](https://raw.githubusercontent.com/Azure/azure-sdk-for-net/99834e2e32bf1901a1fa95605416015bf36d682c/src/SDKs/WebSites/Management.Websites/Generated/WebAppsOperations.cs) expects (NoContent).

[2018-04-05 17:07] pavelzel commented on #2819
@naveedaz Do you know if we've made any updates to the API but haven't yet updated the API spec?

[2018-04-06 15:51] tjprescott opened #2825 "ExpressRoutes broken due to name change"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/expressRouteCircuit.json#L1326

In all prior Swaggers, this was called "ExpressRouteCircuitPeeringType". The rename has caused breakages in SDKs and tooling. Was this intentional?

[2018-04-06 16:00] tjprescott opened #2826 "ExpressRoutes: 'AzurePublicPeering' not supported but still appears in the list of supported values"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/expressRouteCircuit.json#L1450

Trying to actually create AzurePublicPeering settings now results in the following service error:
`Public peering has been deprecated`

If that is the case, why not remove it from the enum?  The change is no less breaking than the serv

[2018-04-06 16:46] marstr commented on #2825
Howdy @tjprescott, was the rename between API Versions?

[2018-04-06 16:51] tjprescott commented on #2825
From "ExpressRouteCircuitPeeringType" to "ExpressRoutePeeringType".

[2018-04-06 17:00] marstr commented on #2825
Sorry, what I mean was did the name change inside of a single API Version, or was the change between two API Versions?

[2018-04-06 17:11] tjprescott commented on #2825
Between them.

[2018-04-06 19:43] marstr commented on #2825
Kk, there may not be much recourse then.  Technically, they're allowed to make changes between API Versions. It is a good data-point though, you could send a mail to Samer/Kirthi so that they can catalog this.

[2018-04-06 20:18] tjprescott commented on #2825
Thanks @marstr I'll do that.

[2018-04-06 20:18] #2825 closed

[2018-04-06 22:00] salameer commented on #2825
This one is very interesting captain Travis,

I think we need to analyze why did the change happen:
- Did the reviewers ask for this changes?
- Did the service team do it and if so for what reason?

Then we can dig deep into a direction to avoid these, but there are many reasons why this happened and technically they did the right thing here

[2018-04-06 22:04] salameer commented on #2825
Can we trace that and then we can follow on it?

[2018-04-06 22:13] tjprescott commented on #2825
The strange thing is that rest of the other ExpressRoute model names kept the same names.

[2018-04-09 16:47] tjprescott commented on #2826
My understanding after communicating with the service team is that this value is only invalid for new peerings.  In order to support updating existing peerings (which is done with PUT), this value will needs to remain allowed.

[2018-04-09 16:47] #2826 closed

[2018-04-09 23:07] hovsepm opened #2840 "ActionGroup specify max length of ShortGroupName to 15 however server returns error code with the size capped to 12"
Payload:
[code]
Response:
[code]

[2018-04-10 00:01] hovsepm commented on #2840
Fixed.

[2018-04-10 00:01] #2840 closed

[2018-04-10 23:54] marstr opened #2849 "Missing Required Event Grid Header"
At time of filing this issue, the data-plane Event Grid swagger doesn't mention the authentication headers that must be added to event publish calls. The relevant swagger can be found here: https://github.com/Azure/azure-rest-api-specs/blob/e711425de0db410780b3ec29517e9fbe57c0f1d2/specification/eventgrid/resource-manager/Microsoft.EventGrid/stable/2018-01-01/EventGrid.json

As discussed here: [Eve

[2018-04-11 23:01] hovsepm opened #2853 "DNS spec contains two methods that perform the same action and has same description."
In the 2018-03-01-preview swagger has `RecordSets_ListAllByDnsZone` oprationId and `RecordSets_ListByDnsZone` operationId.
Both has 4 parameters:
- resourceGroupName
- zoneName
- $top
 - $recordsetnamesuffix

And both has the same description in swagger:
`Lists all record sets in a DNS zone. ` (for RecordSets_ListByDnsZone)
`Lists all record sets in a DNS zone.` (for RecordSets_ListAllByDnsZone)

[2018-04-12 02:57] AaronFixer opened #2856 "Method: HEAD returning 400 Bad Request for resource endpoints (Check if exists)"
Example endpoint: https://docs.microsoft.com/en-us/rest/api/resources/resources/checkexistencebyid

For all resources, I'm receiving a bad request when using a manual request (Postman) and through the .NET SDK.

There are no problems with the resource in questions. I am able to perform a GET on the same resources, just with a different API Version.

[2018-04-17 11:12] tombuildsstuff commented on #2187
@alvadb @mcardosos is there any chance we could get someone to prioritise a fix for this? This API is pretty unusable in it's current state; unfortunately we've already shipped this resource so it's become a major pain point for us 😞

[2018-04-17 16:57] annatisch commented on #2856
Thanks @AaronFixer - are you able to perform a HEAD on the same resources using a difference API version? Trying to ascertain if the issue is with the API version or the HEAD requests in general.

[2018-04-17 22:56] AaronFixer commented on #2856
@annatisch  I've tried with many other API endpoints, especially resource ones. All other endpoints respond with a 405 Method not Allowed.

[2018-04-18 18:15] sergey-shandar opened #2899 "SignalR changes"
See this #2894, in particular, @lmazuel comments.

[2018-04-18 22:01] zxjinn opened #2903 "Feature Request: Add Cassandra as a kind for CosmosDB"
Hello all,
I was looking to use [Terraform](https://www.terraform.io/docs/providers/azurerm/r/cosmosdb_account.html) to manage a CosmosDB cluster that uses the Cassandra API. I filed a ticket with them to add support for it, but they informed me in the [issue I filed](https://github.com/terraform-providers/terraform-provider-azurerm/issues/732) that this repository, as an upstream provider, would

[2018-04-19 07:25] mzhuazureidentity commented on #1739
Hi folks,
I think i meet the same question, i am call azure rest api via postman for testing sign followed by this doc:
https://docs.microsoft.com/en-us/rest/api/keyvault/sign/sign

I am passing this in body and result here: (tried several times)
1.
body input:
{
	"alg":"RS256",
	"value":"edeaaff3f1774ad2888673770c6d64097e391bc362d7d6fb34982ddf0efd18cb"
}
result:
{
    "error": {
        "code": "

[2018-04-19 09:11] mzhuazureidentity commented on #1739
for a update, i am able to run this successfully.
{
	"alg":"ES256",
	"value":"/4n6jV+RLhiquNWCIo+kZ596bfsSDilEWstbcF1v1vE="

}

The value should be the key setting up in the app.

Thanks!

[2018-04-19 17:53] jhendrixMSFT opened #2907 "WebApps_GetSourceControl should be modeled as long-running"
This operation is returning a 201 which suggests it's a long-running async operation.  The swagger needs to be updated as the generated SDK methods fail due to this unexpected status code.

[2018-04-19 17:53] jhendrixMSFT commented on #2907
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-08-01/WebApps.json#L13690

[2018-04-20 03:36] ericstoekl commented on #2393
Thank you!

[2018-04-20 03:36] #2393 closed

[2018-04-24 01:09] hovsepm opened #2935 "WebApps_ListHybridConnections operations is modeled as a single return type operation but should be modeled as pagable list return type operation"
Simply this line - https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-08-01/WebApps.json#L3250  should be the same as this line https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json#L593 .

And it is generated as a single response value ope

[2018-04-24 03:01] vludax commented on #2819
It appears that a new issue has come up in the past few days. Now whenever we attempt to install a site extension via Azure .NET SDK, after a PUT /siteextensions request, the SDK generates a GET /siteextensions/<extensionID> request, which returns 404, and ultimately results in a failure of the call to install the site extension.

[2018-04-25 16:09] jhendrixMSFT opened #2946 "UpdateSourceControl operation should model source control type as an enum"
In https://github.com/Azure/azure-rest-api-specs/blob/67edb3f35a6b7342c8e48b4f0dc55099504eff50/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/ResourceProvider.json#L144 instead of a string it really should be an enum.  At the very least the doc string for this param should be updated with the applicable values.

[2018-04-25 17:05] jaishals commented on #2187
We have completed and committed the fix for this today. It should be available in production in a month time frame or sooner. I will update the thread if I get exact dates

[2018-04-25 21:45] mcardosos commented on #2187
Cool!
Thanks @jaishals !

[2018-04-26 06:05] william-inf opened #2951 "Microsoft.Billing consumption API missing last day of every month"
I am having some trouble getting back a full window of charges.

My problem starts with getting the invoice periods.

I have noticed in your Invoice API your dates are:

`"invoicePeriodStartDate": "2017-01-01","invoicePeriodEndDate": "2017-02-01"` (a FULL month)

I receive back

`invoicePeriodEndDate":"2017-05-31", "invoicePeriodStartDate":"2017-05-01"`

Moreover, I only receive one billingPeriodI

[2018-04-26 10:14] tombuildsstuff commented on #1697
👋 hey @olydis @missbruni @naveedaz @pixelicous @EricSten-MSFT

I can confirm that the Swagger changes introduced in #1429 have fixed this issue for us - we've just released v1.4.0 of the AzureRM Provider which includes support for updating both App Services and Function Apps; as such I'm going to close this issue.

Thanks!

[2018-04-26 10:14] #1697 closed

[2018-04-27 18:29] TimLovellSmith opened #2968 "Redis provider swagger describes GET patchSchedules by name but not LIST all"
In fact the provider supports both, it was just forgotten from documentation, this is a pretty simple fix.

[2018-04-27 21:35] TimLovellSmith commented on #1308
@ravbhatnagar It is a header... why can't clients use it?

[2018-04-30 22:08] huangpf opened #2978 "Need to have a merge validation on unexpected characters"
Like this PR:
[code]

This character:
[code]

[2018-04-30 23:14] johanste opened #2980 "Certificate list operations responses are incorrectly modeled for 2016-03-01"
The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/Certificates.json#L18) shows that the result is supposed to be a "normal" page:able structure (value array property and next link), but the service is returning an array instead.

[Generated management libraries](https://pypi.org/project/azure-mgmt-web/0.30.1/)

[2018-04-30 23:14] hovsepm opened #2981 "Redis.CheckNameAvailability pattern is not implemented correctly"
Current latest spec describes return type of an operation `checkNameAvailability` as void.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/redis.json#L91

In the generated code the method will be as `void checkNameAvailability(parameters)` and if it will not throw an exception (C#/Java) then the name is available.

[2018-04-30 23:23] johanste opened #2982 "Microsoft.ApiManagement Services_Get returns a numerical value for vpnType"
Per the (swagger)[https://github.com/Azure/azure-rest-api-specs/blob/0bef2b99ad6d52781e3c308bc6b420f6eef59ef7/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimdeployment.json#L971], the return type is supposed to be a string/enum.

This is causing generated SDKs to fail on deserialization.

[2018-04-30 23:26] johanste opened #2983 "Microsoft.ApiManagement Services_get operation - etag is missing in response model"
The service is returning an etag, but the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/0bef2b99ad6d52781e3c308bc6b420f6eef59ef7/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimdeployment.json#L1022) is missing said property. For most languages, this means that the property will be silently dropped by our generated SDKs. In addition, it wil

[2018-04-30 23:32] johanste opened #2984 "Microsoft.Network, PublicIpAddress 2018-04-01 is missing sku.tier in swagger"
The [tier is missing from the swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/publicIpAddress.json#L311). The property may be lost when a client deserialize a response. Depending on the service implementation, a subsequent PUT of a PublicIpAddress without a value for sku.tier may cause data loss in update

[2018-04-30 23:47] TimLovellSmith commented on #2981
@hovsepm And what is expected?

[2018-05-01 00:28] TimLovellSmith commented on #2981
@hovsepm That actually sounds like what I expected the generated code to be. Is there a specific guideline about this? just spent about 10 minutes looking and I couldn't find it.

[2018-05-01 16:43] dsgouda commented on #2984
@MikhailTryakhov any idea who owns this feature from the networking side?

[2018-05-01 17:47] TimLovellSmith commented on #2981
@hovsepm We can change the response payload to match the one you expect without incrementing api version, and without breaking anyone as long as a) they are just checking the 200 response code, and b) we never return available=false, but instead return a 409 error.

But, if we change the response payload to the recommended available = false in our next api-version, that will actually cause a break

[2018-05-01 22:48] dsgouda opened #2993 "WebApps_GetSourceControlSlot should not return 201/202 status codes"
Per discussion [here](https://github.com/Azure/azure-rest-api-specs/pull/2910/) long-running `GET` operations are not recommended by ARM. This needs to be fixed [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-08-01/WebApps.json#L12289), ideally with returning provisioning status with terminal status code `200`

[2018-05-01 22:56] VaijanathB opened #2994 "Unalbe to set Storage_URI to null once enabled on boot_diagnostics on VM"
Here is the scenario,
1.User creates a VM with boot_diagnostics enabled
2.User disables boot_diagnostics and deletes the Storage Account.
3.When we send the following json blob in the VM payload we expect the server to update the Storage_URI to null.
"diagnosticsProfile": {
"bootDiagnostics": {
"enabled": false,
"storageUri": ""
}
},
4.Even though the boot_diagnostics is disabled, the storage_uri

[2018-05-02 00:13] lmazuel commented on #2982
Hey @johanste ! Could you give more context about about what you actually receive from Azure?

[2018-05-02 02:35] #1777 closed

[2018-05-02 02:35] #1779 closed

[2018-05-02 02:49] salameer commented on #2540
Hi @mikekinsman can you please take a look at this issue and I believe this might need to be created on the Docs repo :)

[2018-05-02 20:09] annatisch commented on #2084
Updated URL:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/ComputerVision/stable/v1.0/ComputerVision.json#L877

[2018-05-02 20:15] annatisch commented on #2084
@shakao  - any thoughts on this? :)

[2018-05-02 20:45] shakao commented on #2084
@annatisch Oh, I added the Visual Search API--I think @DavidLiCIG did the Computer Vision spec

[2018-05-03 08:12] horihiro opened #3003 "How to add more than 1000 SecurityRules to SecurityGroup via REST API"
I tried to add outbound SecurityRules about Azure Data Center IP range (2000+) to one SecurityGroup.

When I invoked REST API to add All IP range, I got bellow error.

[code]

Is there any way to 1000+ secrityRules to the SecurityGroup?

[2018-05-03 20:50] SiddharthChatrolaMs commented on #497
Discussed this on IM with Hovsep

[2018-05-03 20:51] hovsepm commented on #497
The issue is fixed in the most latest swagger version of Redis. Closing.

[2018-05-03 20:51] #497 closed

[2018-05-04 19:51] sarangan12 opened #3019 "Versions mismatch in readme.ruby.md files"
The versions of individual gems in [readme.ruby.md files](https://github.com/Azure/azure-rest-api-specs/pull/3015) do not entirely match with the [GEM_VERSIONS](https://github.com/Azure/azure-sdk-for-ruby/blob/master/GEM_VERSIONS) file.

[2018-05-07 04:37] anuchandy opened #3024 "[Storage] The operation group Usage should be renamed to Usages"

[2018-05-07 05:03] blueww commented on #3024
We should fix this in in the next api version.

[2018-05-07 18:32] anuchandy commented on #971
closing this.

[2018-05-07 18:32] #971 closed

[2018-05-07 18:38] anuchandy commented on #2661
@akumardu can you please take a look or route this to right team

[2018-05-07 18:40] anuchandy commented on #2162
@q3blend Hi Ahmed, can you please take a look

[2018-05-07 18:43] anuchandy commented on #1934
@lebronJ can you please add necessary descriptions?

[2018-05-07 18:45] anuchandy commented on #2313
@MikhailTryakhov can you please comment on this ask?

[2018-05-07 19:06] MikhailTryakhov commented on #2313
@anuchandy  @jansepke started discussion with App Gateway team

[2018-05-07 21:04] MikhailTryakhov commented on #2984
Hi @dsgouda  sorry for delay, was on a sick leave. RNM team owns public IP

[2018-05-07 21:05] dsgouda commented on #2984
@MikhailTryakhov please assign this issue to the proper owner(s)

[2018-05-07 21:13] MikhailTryakhov commented on #2984
+@murilogr to review public IP fixes requested

[2018-05-07 22:14] tjprescott opened #3033 "Certain NIC dns settings should be marked read-only"
Attempting to set `internalDomainNameSuffix` or `internalFqdn` for a PUT operation on a NIC's DNS settings results in the value being ignored and an automatic one being created.  These parameters should be marked as readonly in Swagger.

See issue:
https://github.com/Azure/azure-cli/issues/6243

[2018-05-08 02:32] anuchandy commented on #2313
Thanks @MikhailTryakhov,

[2018-05-08 02:45] lebronJ commented on #1934
Hi, anuchandy, I think the [latest](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cognitiveservices/data-plane/Face/stable/v1.0) Face API spec already has necessary descriptions by last commit.

[2018-05-08 11:29] q3blend commented on #2162
customconfig was changed to be a required param

[2018-05-08 16:10] tombuildsstuff opened #3037 "Redis API is masking the account key being used"
:wave:

We're seeing an issue with the Redis API where the RDB Storage Connection string sent to Azure is different to the one returned from the API, for instance we see the response:

[code]

rather than the original value posted

[code]

which in our case is leading to spurious diff's; whilst we could look into ignoring the returned "[key hidden]" value, this makes it impossible for us to detect

[2018-05-08 21:41] MikhailTryakhov commented on #2313
+@vinatara to answer the question

[2018-05-08 23:13] TimLovellSmith commented on #3037
@tombuildsstuff BTW don't forget to rotate that storage account key!

[2018-05-09 00:54] TimLovellSmith commented on #3037
@tombuildsstuff
We are intentionally masking it out in responses to help you avoid unintended information disclosure, since azure permissions to view related storage account credentials should not be implied by azure permissions to get general information about a redis cache.

[2018-05-09 04:10] tombuildsstuff commented on #3037
@TimLovellSmith so how are users expected to know which access key is being used when rotating secrets for example? Whilst this is potentially useful for scenarios in the Azure Portal; this approach has the potential to cause production incidents for example where an operator is unsure which key is currently in use, and cycles the wrong one. As such can we look into adding an override/flag to retu

[2018-05-09 04:56] brjohnstmsft commented on #1085
Update: All issues around validation and examples have been addressed. However, `searchindex.json` is still incomplete. We are currently working on this. I'm re-assigning this issue to @mhko since he is working on this.

[2018-05-09 13:33] daozha opened #3043 "Azs.Backup.Admin: nextBackupTime and lastBackupTime should be treated as DateTime"
@deathly809
The "nextBackupTime" and "lastBackupTime" in BackupLocation.json are treated as string. In C# SDK these will be deserialized into format losing time zone info.
We need to treat these as DateTime, just as createdDateTime in Backups.json

[2018-05-09 15:40] deathly809 commented on #3043
@sarangan12 Please assign to me and knithinc.  This is for the Azure Stack admin modules which we will be handling.

This is a bug in the spec and we will have to propagate changes forward.  Will be a minor breaking change and will have to ask on how to handle this one.

[2018-05-09 17:08] williexu commented on #2162
Fixed with: https://github.com/Azure/azure-rest-api-specs/pull/2304

[2018-05-09 17:08] #2162 closed

[2018-05-09 17:57] ggusev4 opened #3044 "Azure API throttling (get VMs) and x-ms-ratelimit-remaining-subscription-reads"
- Rest call to get VMs  frequently returns 429 status code ( for example,  every hour for entire day) with error pointed to calls limit reached:

- header value x-ms-ratelimit-remaining-subscription-reads of azure responses always contains big values 13000 - 14000, all other header values related to calls rate ( x-ms-ratelimit-remaining-subscription-writes, x-ms-ratelimit-remaining-tenant-reads.,

[2018-05-09 20:56] horihiro commented on #3003
Is there any information?

[2018-05-09 21:56] TimLovellSmith commented on #3037
@tombuildsstuff
Assuming you have enough permissions and you don't know which key is being used, and you want to rotate specifically one of the keys, then you can just reconfigure your redis cache to use the key you are not going to rotate, before you rotate.

[2018-05-16 19:21] marstr commented on #1906
Thanks for the ping on this, @tombuildsstuff! I don't have much visibility there at the moment. I've added the labels above to hopefully send it into triage. I'll keep an eye on this issue to make sure it gets addressed.

[2018-05-17 01:54] william-inf commented on #2951
Any updates on this? @sergey-shandar

[2018-05-18 19:33] jianghaolu opened #3105 "Should `SnapshotUpdate` reference `SnapshotUpdateProperties`?"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-04-01/disk.json#L1117

Today it's referencing `DiskUpdateProperties` which has `DiskSku`. Maybe there should be a type `SnapshotUpdateProperties` that uses `SnapshotSku` (which already exists)?

[2018-05-18 23:05] marstr commented on #1698
Hey @tombuildsstuff, I just spent a little time digging here and I think we may be able to work around this while I follow-up internally.

When I GET an existing Web App for Containers using this endpoint:
[code]

Instead of getting back a site config as here:

https://github.com/Azure/azure-rest-api-specs/blob/b66d57be1bf2ee01797fffc34584d87b00d6629a/specification/web/resource-manager/Microsoft.W

[2018-05-18 23:26] milismsft opened #3107 "CosmosDB: missing endpoint entries for Azure Table, Cassandra and Gremlin"
When creating an Azure Table, Cassandra or Gremlin Cosmos DB accounts, the service returns an additional endpoint that is specific to the selected "capability". The current Swagger spec do not capture these endpoints while the Azure Portal does. Can we add them please?

![screen shot 2018-05-18 at 3 37 00 pm](https://user-images.githubusercontent.com/15163996/40261890-377c2782-5ab8-11e8-8a8b-4e621

[2018-05-18 23:28] milismsft commented on #3107
+ @arsalana-microsoft

[2018-05-18 23:31] marstr commented on #1698
Acutally, while the above is a departure from what is noted in Swagger, it does seem like when I call the endpoint linked above by @joshgav:

[code]

 I do get a siteConfig back with the property, `"linuxFxVersion": "DOCKER|marstr/musicvotes"`. Are you not getting that, @tombuildsstuff?

[2018-05-21 09:23] viriidity opened #3110 "Long continuation token header for Table Query"
Hello all,

I'm getting long continuation token when performing Table Query. Usually the token header that I've received is only 24 characters long. However certain query give me token something similar to this. How to send this via http request?

[2018-05-21 17:49] tombuildsstuff commented on #1698
@marstr thanks for confirming that, I'll take a look into this later this week - it could well be this is now returned in the new API version? Thanks!

[2018-05-21 18:05] hovsepm commented on #3110
@viriidity could you clarify which service is this related to?

[2018-05-21 20:56] hovsepm opened #3113 "[AKS] each endpoint operation responses should include "default" that should describe error response type"
noticed in PR https://github.com/Azure/azure-rest-api-specs/pull/3098

[2018-05-22 08:51] bingosummer commented on #2187
Hi @jaishals , thanks for your fix. How is the roll-out going? It seems `West US` still has the issue.

[2018-05-22 17:09] tombuildsstuff commented on #3037
@TimLovellSmith whilst that approach could work, that's not a suitable workaround in all situations unfortunately - other API's within Azure expose a sensitive endpoint which returns sensitive information; could we get a similar endpoint added to the Redis API?

cc @joshgav @marstr @jhendrixMSFT - this is the issue I was referring too in our call the other day

[2018-05-22 17:51] marstr commented on #3037
Adding labels to help with our tracking systems.

[2018-05-22 19:44] tombuildsstuff commented on #3037
@TimLovellSmith off the top of my head - AKS returns an access profile which includes all the sensitive K8S information; App Service returns the connection strings etc.

[2018-05-22 21:29] marstr commented on #1698
For what it's worth, I'm submitting a PR into the Azure-Samples/azure-sdk-for-go-samples repository that spins up a WebApp for containers, then fetches the value of LinuxFxVersion: https://github.com/Azure-Samples/azure-sdk-for-go-samples/pull/187

Let me know if there are any other missing properties that I can add. :)

[2018-05-23 20:07] hovsepm opened #3129 "VirtualNetworkGateway exposes POST operation that returns XML payload wrapped in JSON"
[code]
there is no documentation provided in description field for the format that the caller should expect. The sample contains XML with an error on one of the fields (tag cannot be assigned a value).

Fixing the return type to XML will fix only the payload protocol violation in the swagger declaration but will be a breaking change as well. It is strongly advised to have proper JSON serializable

[2018-05-23 21:18] joshgav commented on #3037
@tombuildsstuff what API(s) are you calling that return this obfuscated response? Thanks!

[2018-05-24 08:15] divyeshgohil85 commented on #171
This `outputResources` is still not documented in https://docs.microsoft.com/en-us/rest/api/resources/deployments/listbyresourcegroup

[2018-05-24 17:59] sarangan12 commented on #3019
Task completed. PR: https://github.com/Azure/azure-rest-api-specs

[2018-05-25 16:18] marstr commented on #1889
This is by design, Resource Groups do have a minimum length of two.

[2018-05-25 16:18] #1889 closed

[2018-05-25 17:00] vyadh commented on #1889
Okay, thanks. I guess that must have changed since I raised this, because I was actually using a single character resource group. No big deal obviously.

[2018-05-30 09:40] tombuildsstuff commented on #2187
@jaishals is there a timeline to do so? It appears we're still seeing the issue in West Europe - from the API response:

[code]

[2018-05-30 17:58] jhendrixMSFT opened #3157 "Remove unnecessary empty object param"
The CognitiveServicesAccountCreateParamaters has a properties field that must be set to an empty object.  This generates ugly SDK code and is confusing to end-users (e.g. Terraform).  Can this be removed?
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json#L702

[2018-05-30 18:33] hovsepm opened #3158 "Redis returns 500 server error on invalid input for PUT operation on LinkedServers"
**Request:**
`
[main] INFO com.microsoft.azure.management.redis.LinkedServers create - --> PUT https://management.azure.com/subscriptions/000/resourceGroups/javacsmrg06350Second/providers/Microsoft.Cache/Redis/javacsmrc22029Third/linkedServers/javacsmrc22029Third?api-version=2018-03-01
[main] INFO com.microsoft.azure.management.redis.LinkedServers create - 242-byte body:
{"properties":{"linkedRedi

[2018-05-31 12:50] lyda commented on #2647
Is this being fixed?

[2018-06-04 23:29] dsgouda opened #3181 "Runbook properties provisioning states are incomplete"
Migrating from [here](https://github.com/Azure/azure-sdk-for-net/issues/4399). Looks like all the provisioning states being returned by the service [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/definitions.json#L2787) are not defined in the Runbook properties.
This needs to be fixed and the sdks reg

[2018-06-06 17:22] matthchr commented on #999
@xingwu1 Pinging on this

[2018-06-06 17:23] matthchr commented on #516
@kiwidev - You've got a proposal out that fixes Issues 1, 2, and 3, right?

For issue 4, those operations are really supported.

[2018-06-06 22:22] kiwidev commented on #516
@matthchr For (4) we were told that we needed to expose those as operations (and doesn't the metricsExtension require that we publish via operations as part of the handshake)? However, we don't provide the endpoints ourselves, they are provided via the Microsoft.Insights extension.

Yes, we need to work on 1-3 - implementation is underway.

[2018-06-07 07:51] jaishals commented on #2187
@tombuildsstuff , west europe has been rolled out with the fix now.

[2018-06-07 15:41] joshgav commented on #3037
Hi @tombuildsstuff is this still an issue or did you work around it in the end? Thanks!

[2018-06-07 17:31] jhendrixMSFT opened #3194 "ScheduleCreateOrUpdateProperties.interval doesn't specify a type"
Copied from https://github.com/Azure/azure-sdk-for-go/issues/1830
In spec https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/definitions.json#L2898, the interval doesn't specify a type so as a result the SDKs use a generic type (e.g. System.Object in C#).  I don't know what interval is supposed to be, but if it

[2018-06-11 03:07] bingosummer commented on #2187
Just tested creating/deleting application gateway using terraform in `West Europe` and still hit an error.
[code]

[2018-06-14 20:32] joshgav opened #3242 "[AKS] ManagedClusterAddonProfile not picked up by docs"
I was surprised to find that `ManagedClusterAddonProfile` has not been properly picked up by docs: <https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate>.

The spec [[1]] appears correct and the model has been generated correctly in the Go SDK [[2]].

[1]: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microsoft.Co

[2018-06-14 20:38] dsgouda commented on #3242
@kirthik Who can we tag from the documentation team here

[2018-06-14 21:50] mmacy commented on #3242
@dsgouda Digging into this now, will update when we have more info.

Cc: @mboersma @kirthik @rloutlaw

[2018-06-18 08:32] tombuildsstuff commented on #2187
@jaishals thanks for that. Unfortunately it appears we're still seeing the same issue in West Europe that @bingosummer has posted:

[code]

[2018-06-18 08:49] tombuildsstuff commented on #3037
@joshgav sorry I've been AFK until today.

In this case this is [the `Get` API's](https://docs.microsoft.com/en-us/rest/api/redis/redis/get) `redisConfiguration` dictionary, which is masking the output.

This is still an issue for us at this time - since we're unable to know which Storage Access Key is being used by the Redis Cache.

Thanks!

[2018-06-18 16:53] mmacy commented on #3242
@dsgouda Quick update on this: Initial investigation has not revealed root cause; Live Site Issue #73589353 has been filed.

Cc: @neilpeterson

[2018-06-18 20:51] solankisamir opened #3260 "ApiManagement - Adding Api to Product fails, if the product has space"
Customer is using Add-AzureRmApiManagementApiToProduct.

When their ProductId has a space, this command will failed at this error:
[error]Unable to configure Azure ApiManagement. 'productId' does not match expected pattern '(^[\w]+$)|(^[\w][\w\-]+[\w]$)'.

This is a bug in the Swagger spec. The service side does not have any such limitation.

[2018-06-18 20:52] solankisamir commented on #3260
Original Issue https://github.com/Azure/azure-sdk-for-net/issues/4458

[2018-06-19 00:12] marstr commented on #3260
Triaged, removing myself as assignee.

[2018-06-19 06:06] TimLovellSmith commented on #3037
@tombuildsstuff you mentioned way back at the start of the thread that you could look into ignoring the returned "[key hidden]" value, could you still do that? I think this is still doings its intended behavior, since these storage connection strings if exposed may effectively leak the data which is stored in the cache.

[2018-06-19 07:51] bingosummer commented on #2274
@sergey-shandar any ideas?

[2018-06-19 07:55] tombuildsstuff commented on #3037
@TimLovellSmith taking that approach that means we'd be unable to detect changes to the Storage Account Key, which means that Terraform's Diff would work inconsistently across the Redis Coiguration; as such I don't think that's an appropriate workaround in this instance unfortunately.

Since the Redis Configuration can contain sensitive values, is there a reason this couldn't be moved out to a sen

[2018-06-19 15:46] bingosummer commented on #2187
@tombuildsstuff I'm working with @jaishals to troubleshoot it. I've provided Jaishal the detail information (subscription id, appgw name, ...) for investigations.

[2018-06-19 16:06] AnonymousHieronymous opened #3265 "affectedResourceCorrelationIds returned from replicationvaulthealth has no meaning / is undocumented"
https://docs.microsoft.com/en-us/rest/api/site-recovery/replicationvaulthealth/get

Querying replicationvaulthealth correctly returns replication status for ASR, e.g.:

`summaryCode                    : 161011`
`category                       : TestFailover`
`severity                       : Error`
`summaryMessage                 :`
`affectedResourceType           : ReplicationGroup`
`affectedReso

[2018-06-19 16:42] AdityaTurbo commented on #2750
Hi,
I am also looking for an RateCard API which shows data about reserved instances. Is there any update on this?

Thanks,
Aditya

[2018-06-20 05:09] #2038 closed

[2018-06-20 12:12] devanshujoshi opened #3274 "Filters for Azure Management Group API"
Hi Team,
We have been using the Azure Management Group API for our Automation implementation:
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/managementgroups/resource-manager/Microsoft.Management/preview/2018-03-01-preview

Please note we are heavily using the Management Group in our project . And it is enabled for us completely , though it is in Preview currently.

I can

[2018-06-20 20:44] lmazuel commented on #2750
@juhee0202 ?

[2018-06-22 16:33] gucalder opened #3293 "[Monitor] Add serviceBusRuleId to the DiagnosticSettings resource"
The attribute serviceBusRuleId was removed from the spec, but it is still being used and supported by the back end.

[2018-06-22 16:36] annatisch commented on #3293
Thanks @gucalder - are you able to specify which version of the preview/stable spec that this was removed from?

[2018-06-22 16:59] annatisch commented on #3293
The only place I can see where this might apply is in Diagnostic setting - the preview vs the most resent stable spec:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/microsoft.insights/stable/2016-09-01/serviceDiagnosticsSettings_API.json#L305

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/microsof

[2018-06-22 22:08] masters3d commented on #2750
blocking https://github.com/Azure/azure-sdk-for-net/issues/1846

[2018-06-22 22:11] masters3d commented on #2750
Is this a dup of https://github.com/Azure/azure-rest-api-specs/issues/1897 ?

[2018-06-25 16:56] dsgouda opened #3297 "Model validation errors for metricAlerts.json examples"
Found the CIs ([here](https://travis-ci.org/Azure/azure-rest-api-specs/jobs/395287731))reporting a bunch of model validation errors from an unrelated PR [here](https://github.com/Azure/azure-rest-api-specs/pull/3285#pullrequestreview-131695350)
Examples/APIs must be fixed accordingly

[2018-06-25 23:42] lmazuel commented on #2547
Closed by mentioned PR

[2018-06-25 23:42] #2547 closed

[2018-06-25 23:44] lmazuel commented on #2339
Fixed:
https://github.com/Azure/azure-rest-api-specs/blob/5a702f17ac0989db40df4b42186cfbe4a0996bbd/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2017-12-01/mysql.json#L42

[2018-06-25 23:44] #2339 closed

[2018-06-25 23:47] lmazuel commented on #417
Done in recent Swagger

[2018-06-25 23:47] #417 closed

[2018-06-25 23:48] lmazuel commented on #375
Close, can use additionalProperties

[2018-06-25 23:48] #375 closed

[2018-06-25 23:48] lmazuel commented on #1539
Considered Autorest issue

[2018-06-25 23:48] #1539 closed

[2018-06-26 00:16] rahulgouthamDOTgs commented on #2339
@QingqingYuan  Can you help ? I am not sure who is the contact for mysql .

[2018-06-26 16:06] lmazuel commented on #2339
@rahulgouthamDOTgs looking at the Swagger now, fr me it's solved. Feel free to tell otherwise if I misunderstood something :)

[2018-06-26 16:21] tjprescott opened #3307 "[Network] IP address is required for VNET's check IP availability call"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2017-06-01/virtualNetwork.json#L720

The specs say this is not required, but if you try to make the call without it you get this error:

[code]

It should be required=True

[2018-06-26 16:39] QingqingYuan commented on #2339
@lmazuel  Yes, we fixed this during service GA. :)

[2018-06-28 00:16] MikhailTryakhov commented on #3129
fixed, please review

[2018-06-28 00:16] #3129 closed

[2018-06-28 00:19] MikhailTryakhov commented on #2372
fixed

[2018-06-28 00:19] #2372 closed

[2018-06-28 00:29] MikhailTryakhov commented on #2984
Incident created to SDN

[2018-06-28 00:29] MikhailTryakhov commented on #1115
Incident created to Brooklyn

[2018-06-28 00:29] MikhailTryakhov commented on #2313
Incident created to App gw team

[2018-06-28 00:31] MikhailTryakhov commented on #850
+@yushwang

[2018-06-28 00:32] MikhailTryakhov commented on #819
fixed

[2018-06-28 00:32] #819 closed

[2018-06-28 00:32] #818 closed

[2018-06-28 00:34] MikhailTryakhov commented on #570
fixed

[2018-06-28 00:34] #570 closed

[2018-06-28 04:28] anuchandy opened #3317 "DuplicateModelCollsion error in automation swaggers"
SDKs cannot be generated from automation swaggers due to DuplicateModelCollsion error:
[code]

Reason for DuplicateModelCollsion: if two files that are in the same “tag” in the Readme defines the same model name Foo, both object have to be exactly (at the comma exactly level) the same, or they have to be a reference to an external common file

[2018-06-28 10:12] colemickens opened #3319 "Update the README (there are no 'preview' or 'stable' branches)"
I can't read apparently. Nevermind.

[2018-06-28 10:13] #3319 closed

[2018-06-28 15:29] lmazuel commented on #1685
@MikhailTryakhov Not fixed, that's why we have a meeting this afternoon :)

[2018-06-29 20:55] MikhailTryakhov commented on #2984
transferred to SLB

[2018-06-29 22:53] KaiChiLin commented on #2313
AppGW has created a task for this feature.

[2018-07-03 08:40] EvgenyAgafonchikov opened #3347 "Examples are broken on AzureFirewalls"
Branches and API version affected
master (2018-04-01), Network-July-Release (2018-04-01, 2018-06-01)

1. There are errors like below. Need to be added to [suppressions](https://github.com/Azure/azure-rest-api-specs/blob/Network-July-Release/specification/network/resource-manager/readme.md#suppression)
[code]
Command to check:
[code]
2. Multiple examples are broken.
Command to check:
```<specs repo

[2018-07-03 08:41] EvgenyAgafonchikov commented on #3347
@joannakleong, could you please have a look

[2018-07-03 09:28] EvgenyAgafonchikov opened #3348 "VirtualNetworkGatewayConnectionTags example broken"
`error: Found errors in validating the response with statusCode "200" for x-ms-example "UpdateVirtualNetworkGatewayConnectionTags" in operation "VirtualNetworkGatewayConnections_UpdateTags".:`

Branches and API version affected
master (2018-04-01), Network-July-Release (2018-04-01, 2018-06-01)

Command to check
[code]

[2018-07-04 12:35] lfshr opened #3352 "No CreateOrUpdate method in DevSpaces spec"
Currently there is no CreateOrUpdate method in the devspaces spec.
There is currently a Create and an Update but not CreateOrUpdate.

[2018-07-04 12:54] lfshr commented on #3352
Closed. This is probably nit picking.

[2018-07-04 12:54] #3352 closed

[2018-07-04 20:18] masters3d commented on #2750
@mozehgir What does the tag `Reservations` means in this context?

[2018-07-05 16:42] joannakleong commented on #3347
PR merged of fix https://github.com/Azure/azure-rest-api-specs/pull/3350

[2018-07-05 16:43] #3347 closed

[2018-07-05 21:20] joshgav opened #3358 "Zones is missing in VirtualMachineScaleSetVM"
Copied from https://github.com/Azure/azure-sdk-for-go/issues/2183 from @feiskyer

`Zones` is missing in VirtualMachineScaleSetVM. We need this to support availability zones in Kubernetes. Kubernetes is using 2017-12-01 compute api, but zones is also missing in latest 2018-04-01 version.

`Zones` has already been in VirtualMachineScaleSet, so we need add this also to VirtualMachineScaleSetVM.

http

[2018-07-05 23:21] marstr commented on #3358
Triaged, removing my assignment.

[2018-07-09 20:21] joshgav commented on #3358
cc @hyonholee

[2018-07-10 00:21] jianghaolu opened #3379 "[WebApp] Missing MSDeploy definition"
In 2018-02-01 web app swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json#L2721

This operation returns an `MSDeploy` object but its definition cannot be found.

[2018-07-10 15:53] mmacy commented on #3242
@dsgouda Update: The addOnProfiles type is now rendered, however, it's not resolved with a link to its definition. MSEng bug 1292854 has been opened and is currently in state Active.

Cc: @iainfoulds

[2018-07-11 18:19] #999 closed

[2018-07-11 20:42] sarangan12 opened #3402 "[Automation] Parameter 'countType' is defined in global parameters section without 'x-ms-parameter-location' extension"
I was sweeping through SDK Violations for swagger files and noticed that Automation has a swagger error. The error is the same R4001 – XMSParameterLocation.

The parameter 'countType' is defined in global parameters section without 'x-ms-parameter-location' extension. This would add the parameter as the client property. Please ensure that this is exactly you want. If so, apply the extension "x-ms-

[2018-07-11 20:44] sarangan12 commented on #3402
When a PR is raised, the travis CI runs Linter tool on the PR. To run the linter tool, the travis CI uses [2.0.4152 version of autorest](https://github.com/Azure/azure-rest-api-specs/blob/master/test/linter.js). The latest version of autorest is 2.0.4280. I am not sure of the version used by Portal. I assume it would be the latest version.

On further analysis, I found that even this version diffe

[2018-07-11 20:46] sarangan12 commented on #3402
**Issue**
For the dscNodeCounts.json in 2018-01-15 version of automation, We get the error:

_"The parameter 'countType' is defined in global parameters section without 'x-ms-parameter-location' extension. This would add the parameter as the client property. Please ensure that this is exactly you want. If so, apply the extension "x-ms-parameter-location": "client". Else, apply the extension "x-ms-

[2018-07-11 22:39] sarangan12 opened #3405 "Remove autorest version hardcoding in linter tools"
Refer https://github.com/Azure/azure-rest-api-specs/pull/3400 for details

[2018-07-13 13:43] EvgenyAgafonchikov commented on #2366
@marstr, I've performed some investigations, please find the results below:

**General:**

1. Server responds with array of (used [ARM client](https://github.com/projectkudu/ARMClient) to check):
[code]
And here we have non-integer values

2. No real specs change was in this scope between 2015-06-15 and 2018-04-01, so here we cannot state that it was broken on some API version. It looks like it wa

[2018-07-15 11:58] tombuildsstuff commented on #2187
ping @bingosummer / @jaishals - any update here? :)

[2018-07-16 18:34] vladbarosan commented on #3405
https://github.com/Azure/azure-rest-api-specs/pull/3400#pullrequestreview-136410298

[2018-07-17 09:43] tombuildsstuff opened #3425 "[HDInsight] Applications API appears to be broken"
:wave:

After raising a bug about [the HDInsight Cluster API](
https://github.com/Azure/azure-sdk-for-go/issues/2179) last week - I've been looking into the HDInsight Applications API.

Based on the information [in this ARM Template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-hdinsight-linux-with-edge-node/azuredeploy.json#L154-L187) I've constructed the following HTTP Req

[2018-07-18 07:02] jaishals commented on #2187
@tombuildsstuff Fix will be available only once the new release rollouts start in For some reason it has taken time this time. I am not sure of the cause. Sorry for the inconvenience and the delay

[2018-07-18 10:02] tombuildsstuff commented on #2187
@jaishals thanks for the update :)

@salameer @devigned @kirthik sorry to pester - but would it be possible to escalate this release internally (for example by adding the `Service Team` label?) - as this API bug was reported 7 months and it sounds like a fix has been ready to ship [for approximately 3 months](
https://github.com/Azure/azure-rest-api-specs/issues/2187#issuecomment-384361620)?

Than

[2018-07-18 10:10] tombuildsstuff commented on #3425
👋

I've learnt from an email with the HDInsight team that the properties in the request should be being posted from within in a `properties` block, however this isn't available in the Go SDK since it's missing from the Swagger. Would it be possible for someone to fix the Swagger so that these properties are contained within the `properties` object to match how the API expects them?

Thanks1

[2018-07-18 17:36] tjprescott opened #3437 "GraphRBAC Application defintion is missing many parameters"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/stable/1.6/graphrbac.json#L2152

The swagger spec is missing the following parameters:

- acceptMappedClaims
- addIns
- appRoles
- errorUrl
- groupMembershipClaims
- informationalUrls
- isDeviceOnlyAuthSupported
- keyCredentials
- knownClientApplications
- logoUrl
- logoutUrl
- oauth2AllowIdTokenImplicitFl

[2018-07-18 18:38] #3260 closed

[2018-07-18 22:31] jhendrixMSFT opened #3442 "Move Go SDK configs to readme.go.md files"
We should move all of the Go SDK configs out of readme.md and into readme.go.md so that we can provide Go-specific instructions for SDK configuration (e.g. when a package should go in the preview directory).

[2018-07-19 08:05] sheenaajay opened #3447 "read only field"
Request for "readOnly" field for all read only properties

For example provisioningState doesnt have the readOnly field
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/networkSecurityGroup.json#L805

[2018-07-19 20:53] marstr opened #3457 "Azure Automation Expansion: Support Python Runbooks"
As opened by @hdost in Azure/azure-sdk-for-go#2256:

This would be needed for terraform-providers/terraform-provider-azurerm#1602

[2018-07-19 20:58] marstr commented on #3457
Relevant clause here, that notably doesn't include Python:
[Azure/azure-rest-api-specs/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json#L1083](https://github.com/Azure/azure-rest-api-specs/blob/be9bf1a97d4e76df0c21652a854cda90ac187d1c/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json#L1083)

[2018-07-20 17:54] sarangan12 commented on #3402
https://github.com/Azure/azure-rest-api-specs/pull/3400

[2018-07-20 17:54] #3402 closed

[2018-07-22 09:22] hbuckle opened #3474 "Azure Firewall: internalPublicIpAddress vs publicIPAddress"
When creating or updating an Azure Firewall the `internalPublicIpAddress` property is required, but in responses this property is returned as `publicIPAddress`
This causes a problem when getting an existing firewall and updating the properties because I have to rename `publicIPAddress` to `internalPublicIpAddress` before sending the request back.
Is there any reason for the difference in property

[2018-07-23 17:09] marstr commented on #2187
@tombuildsstuff, I started a conversation internally. It sounds like this is still 2-4 weeks out, and may take more time depending on the region. I'll try to keep this thread updated as I learn more.

[2018-07-23 19:20] jackting73 opened #3480 "UsageDetailsExpand - 2018-06-30 is not working"
@ampravinr @annatisch
By following the article: https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/listbybillingperiod#usagedetailsexpand

1. I tried to get the UsageDetails and MeterDetails with version 2018-06-30, but it seems only support 2018-05-31 now ?
2. I then try the 2018-5-31 version and with the parameter "meterDetails" and "additionalProperties" in the UsageDetailsExpan

[2018-07-24 06:33] jackting73 commented on #3480
@sarangan12
Hi Sarangan,
From the API response, I can't see the "totalIncludedQuantity" in the "meterDetails" and also no "additionalProperties" in the "properties", since the article below describe we can get the Late Arriving Data from the addtionalProperties. So, no sure these information can be got in 2018-6-30 version(but seems not work now) or I use the wrong API request.
Please help indicat

[2018-07-24 07:57] bingosummer opened #3484 "How to create vmimage via REST API?"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json, there are only several APIs to list the vmimage. But how to create vmimage via REST API?

[2018-07-24 18:25] yangyuan opened #3489 "Cognitive Services URL template (endpoint)"
Creating this issue for PRs.

## Background:
1. Cognitive Services used to use "https://[region].api.cognitive.microsoft.com" as URL template, but the template will no longer be flexible to fulfill the requirements. The hostname can be any domain and the protocol could be HTTP.
2. The auto-generated [API Reference](https://docs.microsoft.com/en-us/rest/api/cognitiveservices) has "Try It" feature,

[2018-07-24 18:30] yangyuan commented on #3489
Face PR:
https://github.com/Azure/azure-rest-api-specs/pull/3490

[2018-07-24 18:48] yangyuan commented on #3489
TextAnalytics PR:
https://github.com/Azure/azure-rest-api-specs/pull/3491

[2018-07-24 19:05] yangyuan commented on #3489
LUIS PR:
https://github.com/Azure/azure-rest-api-specs/pull/3492

[2018-07-24 20:54] lmazuel commented on #3484
@yugangw-msft ?

[2018-07-24 21:37] lmazuel commented on #1907
Re-checked, still broken.

[2018-07-24 22:07] ms-premp commented on #3480
Hi @jackting73

1. API version 2018-06-30 is available.. Please give it a try.

2. The example for late arriving data is here [late-arriving-data](https://docs.microsoft.com/en-us/rest/api/consumption/#late-arriving-data)

The additionalProperties field will be present in response, if there are some additional info available to show, else it will be omitted to optimize the response payload size.

[2018-07-25 04:33] jackting73 commented on #3480
Hi @ms-premp

Thanks for your help.

1. For the API version 2018-6-30, it works now.
2. For the late arriving data of addtionalProperties or other fields, seems still no luck, here is my sample:

=request1=
https://management.azure.com/subscriptions/{mySubscriptionId}/providers/Microsoft.Consumption/usageDetails?api-version=2018-03-31&$expand=properties/additionalProperties
=snippet response=
http

[2018-07-25 15:57] ScriptMyJob commented on #3437
@sergey-shandar has there been any update on this?

[2018-07-25 18:18] ms-premp commented on #3480
Hi @jackting73

1. The **late arriving data** feature is primarily for third party services, that have delays in reporting usage. Please refer to the details here  [Consumption Features](https://azure.microsoft.com/en-us/blog/azure-usage-forecast-api-and-other-updates-from-may/).
For your case, you should make a call to get usage for previous billing period. Please refer [Usage By Billing Period](

[2018-07-25 22:19] yangyuan commented on #3489
Content Moderator PR:
https://github.com/Azure/azure-rest-api-specs/pull/3505

[2018-07-26 04:44] bingosummer commented on #3484
Thanks @yugangw-msft for your help.

What we are doing now is to publish a Windows image on Windows, via a specific Powershell module `C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\Azure\Compute\PIR.psd1`. Then we use the [vmimage_list](https://github.com/Azure/azure-rest-api-specs/blob/9754d04e95bc4ffe16186aa76f652773923f5e10/specification/compute/resource-manager/Micro

[2018-07-26 06:13] jackting73 commented on #3480
Hi @ms-premp

Really appreciate, seems I misunderstanding the field and features.
No questions here, thanks.

[2018-07-26 21:23] ms-premp commented on #3480
np @jackting73 .. you are welcome.
@sarangan12 please close this issue.

[2018-07-27 08:42] cornem opened #3525 "Azure Maps client SDK"
Are there any plans to create a client SDK for the Azure Maps service? At the moment, only a management SDK is available.

[2018-07-27 12:46] SteveVaneeckhout opened #3526 "Wrong response in ListCertificates.json (Microsoft.Web)"
https://github.com/Azure/azure-rest-api-specs/blob/41038700e0b39554265f2a1c1ae699eb484500a1/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/examples/ListCertificates.json#L10

According to this file, the response should start with `{ "value": [ ... ] }` but the real response (taken from Fiddler) starts immediately with the array: `[{"id":"/subscriptions/[subscriptionId]/resource

[2018-07-27 19:12] louspringer opened #3531 "Consumption API by Billing Period Inaccurate"
"https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails?api-version=2018-06-30"

The consumption API does not accurately report usage. Although some of the resources have the correct consumption, others are inaccurate, and some resources are missing.

[2018-07-27 19:15] louspringer commented on #3531
There is a thread at https://docs.microsoft.com/en-us/rest/api/consumption/ describing the same issue. "The data returned by "Consumption Usage Details API" do not add up to the amount shown in the Invoice for the same billing period. For example, the invoice #1001 is $1,000 and uses the billing period 201806-1 but "Usage Details" for that period shows $992. I know both APIs are in preview, but th

[2018-07-27 22:05] yugangw-msft commented on #3484
I don't believe so. Based on the PS module you mentioned, It is from RDFE mode and this repository contains pretty much ARM only APIs

It is different but simple, that in the payload, you set the `storageProfile.imageReference.id` to the resource id of a particular gallery image version

I don't think so. Platform image repository should still be the main channel for users to access common images.

[2018-07-28 16:42] bingosummer commented on #3484
@yugangw-msft , very detailed explanation . I appreciate your help.

[2018-07-28 16:42] #3484 closed

[2018-07-30 14:12] mblaschke commented on #1624
Still breaking the api. Any news on this topic?

[2018-07-30 15:04] jackting73 commented on #3531
+1 Same problem here. However, I got the answer at another thread that this API only support EA subscription now ... not sure whether you are EA subscription or not.

I'm using the API with PAYG subscription then got the same issue with you that the consumed quantity from API didn't match the usage report, then finally I got the root cause that from the usage report. It will remaining some of the

[2018-07-30 15:14] jackting73 commented on #2951
Just walked by ... with the same issue this morning and seems found the workaround now.

I'm using PAYG or other non-EA subscription will face the same issue since the API only support EA now ... (got the answer from another thread)

So, I then added some parameters to the request as workaround, the sample request below:

https://management.azure.com/subscriptions/{subscriptionId}/providers/Micros

[2018-07-30 16:19] jhendrixMSFT opened #3537 "Network usage type has wrong format for numbers"
In usage swagger the ```Usage``` type defines ```currentValue``` and ```limit``` fields as int64 however the service is returning floats (see sample JSON below).  This breaks the JSON unmarshaller for Go so the API cannot be called.
[code]
See https://github.com/Azure/azure-sdk-for-go/issues/2340 for additional info.

[2018-07-30 17:33] dsgouda commented on #3525
@yuqi2 Please take a look since you have worked on the Management Maps Specs in the past

[2018-07-30 17:34] annatisch commented on #2856
@rajshah11 @stankovski @vivsriaus - do you have any thoughts?

[2018-07-30 17:34] dsgouda commented on #3242
@mmacy any updates here?

[2018-07-30 17:35] dsgouda commented on #2819
@pavelzel @naveedaz any updates here

[2018-07-30 17:35] annatisch commented on #3447
@deepakrajendranmsft @MikhailTryakhov - do you have any thoughts on this?

[2018-07-30 17:38] annatisch commented on #3293
@gucalder - seems with the merging of PR #3285 that this can now be closed?

[2018-07-30 18:25] dsgouda commented on #3242
Thanks for the update @mmacy .

[2018-07-30 18:25] #3242 closed

[2018-07-30 22:23] lmazuel opened #3547 "BackupStatus not available in the ApiVersion written in the Swagger"
The declaration of backupStatus is inside the 2017-07-01 file:
https://github.com/Azure/azure-rest-api-specs/blob/ccefbaf343f2c71f3314e93c149b48e9e76d2e90/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json#L67-L112

However, looking at ARM endpoint, this does not exists:
[code]

And when people try to use the generated SDK out of it, create

[2018-07-31 06:37] EvgenyAgafonchikov commented on #3537
seems to be duplication of https://github.com/Azure/azure-rest-api-specs/issues/2366

[2018-07-31 10:15] jackting73 opened #3553 "Get consumption data API - The consumed quantity didn't match with the v1 usage report"
Following with the document: https://msdn.microsoft.com/en-us/library/azure/mt219001
SubscriptionType: PAYG
Billingcycle: 12th to 11th every month

=Issue Description=
From the v1 usage report, there are two parts: the up-side is the total consumed quantity by sub-category this month, and the down-side is the daily consumed quantity. That means by sum of the daily consumed quantity will be equals

[2018-07-31 17:28] lmazuel commented on #3547
FYI @johanste

[2018-08-01 00:12] louspringer commented on #3531
There's an older API that appears to return accurate results, see [Get consumption data for an Azure subscription](https://msdn.microsoft.com/en-us/library/azure/mt219001.aspx).

It has some limitations:
* You can't pull usage for a given bill directly. You need to pull usage based on reported usage date.
* Since there is a delay for some resources between when the usage occurs and when it is repo

[2018-08-01 06:54] hellosnow opened #3562 "Could “x-ms-examples" support description inside?"
May I ask whether we could have description inside "x-ms-example" as following? Refer to [x-ms-examples](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/x-ms-examples.md). Thanks!

[code]

[2018-08-01 07:04] jackting73 commented on #3553
Hi @sergey-shandar

Any idea no this ?

Thanks,

[2018-08-01 13:47] jackting73 commented on #3531
Agree with @louspringer ! The older API are accurate mostly but **not** for ALL.

=Not accurate is the FIRST issue=
From the v1 usage report, there are two parts: the up-side is the total consumed quantity by sub-category this month, and the down-side is the daily consumed quantity. That means by sum of the daily consumed quantity will be equals to the total consumed quantity. However, we found th

[2018-08-02 03:57] hellosnow commented on #3562
Sorry this issue should be opened in AutoRest, close it and migrate to https://github.com/Azure/autorest/issues/2972

[2018-08-02 03:57] #3562 closed

[2018-08-02 08:18] DheerendraRathor commented on #3547
@lmazuel I've updated ARM endpoints to accept 2017-07-01.

[2018-08-02 16:01] lmazuel commented on #3547
Thanks @DheerendraRathor ! The customer who got the issue is using ukwest, is what you did available there as well?

[2018-08-02 16:04] lmazuel commented on #3547
Ok, I see it too, with even "ukwest". Thanks!

[2018-08-02 16:05] #3547 closed

[2018-08-02 19:02] louspringer commented on #3531
@jackting73 for that API you will need to pull a larger window than you want and whittle it down, particularly on the end date. The query is by the date usage is *reported*, but it returns the date of the actual *usage*.

For the invoice I'm working with, I had to query usage from 6-10-2018 to 7-14-2018 and then parse the results down to the invoice period of 6-12-2018 to 7-10-2018 to get it to ma

[2018-08-02 20:58] gucalder commented on #3293
Correct, this can be closed.

[2018-08-02 20:59] #3293 closed

[2018-08-03 07:09] jackting73 commented on #3531
Hi @louspringer , thanks for your help, I realized the reported & actual usage are different.

The most tricky may see here is my billing cycle is from 5-12-2018 to 6-11-2018 on the example above, but the [invoice](https://vmtestdiag0703.blob.core.windows.net/reservedip/reservedip.PNG) will include partial usage on 5-11-2018 which should NOT be in this billing cycle.

So, the paint point here is e

[2018-08-03 07:17] hellosnow opened #3574 "Azure API reference for Reserved Instances is missing 'write' operations"
This is issue transferred from https://github.com/MicrosoftDocs/feedback/issues/576.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/

**Link to swagger:**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/reservations/resource-manager/Microsoft.Capacity/stable/2017-11-01/reservations.json

**Problem:**
Look at the various sub-pages for r

[2018-08-03 07:17] hellosnow commented on #3574
@jtuliani to keep updated.

[2018-08-03 13:52] annatisch commented on #3574
Adding @juhee0202 for input.

[2018-08-03 14:33] Powerhelmsman opened #3576 "REST API and template reference documentation for Management Groups is missing"
This issue was created by @jtuliani from https://github.com/MicrosoftDocs/feedback/issues/577

IMPORTANT: You can get your feedback addressed faster if you use the comment section for the article in which you encountered a problem.
Understood. This issue relates to the Azure REST API and Azure template references, which don't (yet) have a comments section.
Link to article:
https://docs.microsoft.c

[2018-08-06 07:03] number213 opened #3581 "Usages' location validation prevents use of display names"
[Pattern validation](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/usage.json#L51) for Usages_List's `location`  doesn't allow spaces which prevents the use of display names (e.g. `West US`)
API itself supports locations with spaces, the following command works fine

[code]

[2018-08-06 19:25] number213 commented on #3581
Fix merged https://github.com/Azure/azure-rest-api-specs/pull/3583

[2018-08-06 19:25] #3581 closed

[2018-08-06 20:40] gucalder opened #3585 "[Monitor] Breaking change found in AutoScale spec"
The RecurrenceFrequency spec was changed to remove all the values (it is an enumeration) but one: SHA d0cf00b14e97be8a0815c1c63ba7f99b6446e159

 There is no such change in the backend. The this particular change must be reverted.

[2018-08-06 21:51] jhendrixMSFT opened #3590 "HDInsight LROs are non-compliant"
Calling [Clusters_Create](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/cluster.json#L40) to create a new cluster is returning a 200 which is incorrect.  Per the [docs](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations) an async operation that's creating

[2018-08-07 00:08] jaishals commented on #2187
@tombuildsstuff The fix has been rolled out to the production. Can you please try the scenario that you were trying. I tried to create and delete a deployment using terraform and appgw / vnet / subnet all get successfully deleted.

[2018-08-07 02:57] rezamt opened #3593 "VM Scaleset Instance PowerStatus"
Hi I am trying to get the power status of Azure ScaleSet instances as you can see them on the dashboard.

By looking at documentation, you need to call [GetInstanceView ](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/getinstanceview) but I am getting only the ProvisioningState. (There is no $expand  attributes either)

So my question is how am I suppose to get the "Powe

[2018-08-07 05:56] hellosnow opened #3594 "Need Rest API to get the availability zones information on the basis of Object selected in a particular region"
This is a question/issue transferred from https://github.com/MicrosoftDocs/feedback/issues/544, please help whether there's an answer for that.

**Is your feature request related to a problem? Please describe.**
It would be better if we can get the availability zones available in a particular region based on object selected.
Right now it is mentioned that only below regions support the availabilit

[2018-08-07 05:56] hellosnow commented on #3594
@surajmuthreja to get update here.

[2018-08-07 08:35] tombuildsstuff commented on #2187
@jaishals checking out nightly tests this appears to be fixed, I'm going to leave this issue open for the moment and confirm for sure in a week - but this looks good on first glance :). Thanks for getting this fixed 👍

[2018-08-07 09:40] bingosummer commented on #2187
I also verified the fix in my pipeline. Looks good.

[2018-08-07 16:00] #3585 closed

[2018-08-07 16:14] dsgouda commented on #3594
@hellosnow Is there a particular resource (Compute/Network, etc) for which you'd like to get the `AvailabilityZones`?

[2018-08-07 16:33] jhendrixMSFT commented on #2366
Is there any update here?  We've had another bug report against this in the Go SDK (https://github.com/Azure/azure-sdk-for-go/issues/2340).  If you don't want to make this breaking change in existing API versions can you at least fix it in the next one?

[2018-08-07 17:04] surajmuthreja commented on #3594
@dsgouda  Ideally I am looking for all the resources which will be there as part of VM/Instance creation on Azure.
E.g. We would need to provide this zone information for Public IP as well, instance size, region (wherever it is supported).

[2018-08-07 17:06] dsgouda commented on #3594
@hyonholee Would you be able to take a look at this or suggest someone who can?

[2018-08-07 23:01] jhendrixMSFT opened #3603 "DatabaseAccountListKeysResult incorrectly models received response"
Operation ```DatabaseAccounts_ListKeys``` returns a [DatabaseAccountListKeysResult](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json#L1772) however this doesn't accurately model the response body.
[code]
Note the missing ```properties``` object for the read-only keys.  I suspect the confusion co

[2018-08-07 23:09] marstr opened #3604 "Missing Documentation for Validation Rule R4001"
The Link for R4001 as reported by the Linter in the new side-car is broken.

Repro Link: https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#R4001

This was discovered in #3588

[2018-08-08 16:46] #3604 closed

[2018-08-08 17:14] mganeshphani opened #3610 "No Definition available for "containsAny" field of "allOf" "condition" for activityLogAlertAPI"
Resources.azure.com shows following field setting is possible
`"condition": {
      "allOf": [
        {
          "field": "category",
          "equals": "Administrative",
          "containsAny": null
        },`

But the following node:
ActivityLogAlertLeafCondition

in specification: https://github.com/Azure/azure-rest-api-specs/blob/0bef2b99ad6d52781e3c308bc6b420f6eef59ef7/specification/moni

[2018-08-08 22:59] rezamt commented on #3593
Any update on this? am I right or I am missing something?

[2018-08-09 23:25] jhendrixMSFT opened #3621 "App service environments APIs in web package return XML instead of JSON"
Example API
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.json#L591
Calling this with invalid params returns an XML response
[code]
I also noticed https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.jso

[2018-08-10 06:37] daozha commented on #3043
Fixed in #3225

[2018-08-10 06:37] #3043 closed

[2018-08-10 15:15] Blackbaud-ShaydeNofziger opened #3622 "Discrepancy in results for Storage Provider Usage API"
Seeing some discrepancies in results when comparing Storage Resource Provider's Usages APIs:

[Usages - List](https://docs.microsoft.com/en-us/rest/api/storagerp/usages/list)
GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Storage/usages?api-version=2018-03-01-preview

[Usages - List by Location](https://docs.microsoft.com/en-us/rest/api/storagerp/usages/listbyl

[2018-08-13 15:47] marstr commented on #2994
Triaged, removing my assignment.

[2018-08-13 19:03] Locoxella opened #3629 "Trying to use apiProfile 2018-03-01-hybrid got no support for Microsoft.Compute/virtualMachines"
Doing New-AzureRmResourceGroupDeployment on PS, the template validates ok with apiVersion [2018-03-01-hybrid](https://github.com/Azure/azure-rest-api-specs/blob/master/profile/2018-03-01-hybrid.json) but when deploying a VM resource there is no valid apiVersion. For what it seems, there is support for apiVersion [2017-03-30](https://github.com/Azure/azure-rest-api-specs/blob/master/profile/2018-03

[2018-08-14 02:04] berney commented on #2313
Any update on this issue? Is there a way to track the AppGW task?

[2018-08-14 20:25] lmazuel opened #3638 "ApplicationInsights web tests Create or Update can return a 201"
Hit a customer:
https://github.com/Azure/azure-sdk-for-python/issues/3141

It seems operation "WebTests_CreateOrUpdate" can return a 201 based on the exception the customer got, which is not described in the Swagger:
https://github.com/Azure/azure-rest-api-specs/blob/ddbce7c26366d3503a8694b0e045f3a3e158aada/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/web

[2018-08-14 20:30] lmazuel commented on #3638
Tagging you @alexeldeib as last author on this file, please tag the right owner if not you :). Thanks!

[2018-08-14 22:27] jhendrixMSFT commented on #3590
Turns out that returning a 200 on a PATCH/PUT is permissible, so the LRO state machines will need to be updated.

[2018-08-14 22:27] #3590 closed

[2018-08-15 12:38] hbuckle opened #3643 "[DataFactory] Cannot create with public Github repo"
If I add a public Github repo through the Data Factory GUI then query it with the API the repoConfiguration looks like this

[code]

If I then attempt to create a new Data Factory using the same repoConfiguration it fails

[code]

Error:

[code]

[2018-08-15 15:44] karungithub opened #3645 "beginRunCommand - Can I specify a script instead of set of command with this VM node.js API"
Hi,
I am trying to run a script on the VM to mount and unmount certain volumes. Is it possible to have all these command in script and specify the script file in beginRunCommand to be executed.  The script that I have is little bit too long to provide all the commands in the API.
Also, do you have any tests that show the usage of the beginRunCommand().

Thanks,
-Karun

[2018-08-15 16:38] gmainar commented on #2984
Hi, we(SLB) are aware of the fact that the clients cannot set this property. This property is not used yet for any production scenarios. It was added only on server and it is behind a feature flag, but client work has not started yet.

[2018-08-15 16:46] johanste commented on #2984
What happens once the property can be set, and a PUT request comes in without the value for an existing resource? Will the value be reset? Kept?

[2018-08-15 17:13] gmainar commented on #2984
put requests from client won't have the property so it will get default value of 'Regional'. We can only set this using templates, and then it cannot be modified once set for the first time (same as sku.name is). The feature is not public yet so there is no client work done. When we do client work we'll add the ability to set to non-default value what will unblock modifying of resources created wi

[2018-08-15 17:13] lmazuel commented on #3638
Side note: I worked with the customer to patch its Python code to add 201 as a correct status code, and he confirmed it worked. So should be really simple.
Thanks,

[2018-08-15 17:58] tfitzmac commented on #3576
Currently, Management Groups can't be deployed through Resource Manager templates. So, it will not be added to the template documentation.

[2018-08-15 18:42] pietro opened #3648 "AppServicePlans_CreateOrUpdate is missing 201 reponse"
The definitions on [1] and [2] have responses with 200 and 202 statuses. But the API also returns 201 as seen in terraform-providers/terraform-provider-azurerm#917.

[1] https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json
[2] https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/reso

[2018-08-15 22:40] jhendrixMSFT commented on #3638
Also hit this in Go https://github.com/Azure/azure-sdk-for-go/issues/2465

[2018-08-16 13:48] tombuildsstuff commented on #2187
👋 hey all

To give an update here - taking a look at our test results this API appears to be fixed (the Application Gateway tests I've checked have passed consistently since 3rd August) - so I'm going to close this issue.

Thanks for all the work to get this resolved :)

[2018-08-16 13:48] #2187 closed

[2018-08-16 19:06] jtuliani commented on #3576
Does the documentation actually say anywhere that MGs can't be deployed through templates? That would be useful (assuming you put it somewhere discoverable). Otherwise, mucho time wasted investigating...thanks!

[2018-08-16 23:09] metacpp commented on #3643
@hbuckle without personal access token, the configuration will not work.

[2018-08-17 05:59] hbuckle commented on #3643
Personal access token for GitHub? There's no option in [FactoryGitHubConfiguration](https://docs.microsoft.com/en-us/rest/api/datafactory/factories/createorupdate#factorygithubconfiguration) to pass one in

[2018-08-17 06:02] tombuildsstuff commented on #3643
@metacpp also as this is a public Github repo it shouldn't need an access token?

[2018-08-20 16:28] marstr opened #3674 "Not able to create a Functions App (App Service Client) with uppercase name"
@JunyiYi discovered the following error while using the Azure-SDK-for-Go. However, since the server is responding with an error, I do not believe it is related to the fact  that it is coming from the Go SDK. You can see the original issue here: https://github.com/Azure/azure-sdk-for-go/issues/2482

---

[2018-08-20 17:15] anuchandy commented on #3643
looping @hvermis as well.

[2018-08-20 19:47] Blackbaud-ShaydeNofziger commented on #3622
@jianghaolu Hello - any updates on this? Is this report better suited elsewhere? Thanks.

[2018-08-21 19:38] phekmat commented on #1747
@schaabs is this issue still outstanding? I went looking for this functionality in terraform earlier today, which led me here.

[2018-08-22 21:10] metacpp opened #3703 "linuxProfile should be optional for AKS cluster"
The linuxProfile is required for AKS creation:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L979

But if end user chooses to create the AKS from Azure portal, it does not require the linuxProfile to be set.

The API spec should be consistent with behavior from Azure porta

[2018-08-22 21:28] annatisch commented on #3703
Adding @mboersma

[2018-08-23 16:57] mboersma commented on #3703
I don't see that `linuxProfile` is required to create an AKS cluster. The code @metacpp points to is showing that there are two required fields for a `ContainerServiceLinuxProfile`, but [`ManagedClusterProperties`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2018-03-31/managedClusters.json#L1140) does

[2018-08-23 22:29] LijuanZ commented on #3643
@hbuckle Instead of calling factory createUpdate API with repoConfiguration to setup github repo, you need to call configureFactoryRepo API after factory creation. API doc: https://docs.microsoft.com/en-us/rest/api/datafactory/factories/configurefactoryrepo. To call this API, you'll need to have administrator permissions for the Azure subscription used by the factory.

GitHub auth is not needed to

[2018-08-23 23:03] JunyiYi commented on #3674
After talking to internal devs, the problem resides in the `WEBSITE_CONTENTSHARE`, which should not contain upper-case letters. Please close this issue as `By Design`. Thanks.

[2018-08-23 23:44] annatisch commented on #3574
Hi @luluRagdoll, @dorislewisbjtu - do you have any thoughts on this?

[2018-08-24 20:30] #3674 closed

[2018-08-24 20:41] hbuckle commented on #3643
The call to configureFactoryRepo succeeds using the code below

[code]

However on accessing the data factory UI I get the message `You don’t have access to the code repository. You can continue working directly with the Data Factory.`
The account I used to call the API is a subscription owner

[2018-08-24 21:01] LijuanZ commented on #3643
Hi @hbuckle at lease this means you've successfully associated the factory with github repo https://github.com/hbuckle/dftest. If you call getFactory, you should be able to see repoConfiguration property in the response.
Usually, the message you got indicates the factory could not access the github repo associated. Did you get prompted to login to github when loading the factory?

[2018-08-24 21:52] vladbarosan opened #3719 "PostgreSQL create virtual network rule returns 202 although IgnoreMissingVnetServiceEndpoint is set to false"
For details https://github.com/Azure/azure-sdk-for-go/issues/2534

[2018-08-24 21:57] vladbarosan commented on #3719
Taking the history of PosgreSQL, @QingqingYuan can you help the customer here ?

[2018-08-28 00:18] Nking92 opened #3740 "Webapps - Fix linter warnings for ResourceHealthMetadata APIs"
The 2018-02-01 API version introduced several new warnings in the Swagger spec due to the ResourceHealthMetadata API. We should clean those up to keep the Swagger in a good state in the future.

[2018-08-28 01:03] jeffreyCline commented on #3719
Adding link to [Provider PR](https://github.com/terraform-providers/terraform-provider-azurerm/pull/1774)

[2018-08-28 01:54] ScriptMyJob commented on #3437
@tjprescott I hate to be a pester about this but our agile coach is bugging me about a project relating to this.  Has this been assigned to a sprint?

[2018-08-28 09:32] tombuildsstuff opened #3747 "[App Service] Location field should be normalized"
👋

We've [had an issue opened](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1828) about deploying an App Service into an App Service Environment where the deployment fails if the `location` field is set to different values. In this particular case the location for the App Service Environment is set to `West Europe` and the location for the App Service is set to `westeur

[2018-08-28 14:51] hbuckle commented on #3643
@LijuanZ Yes the repo configuration is present in the API response, however there was no prompt to login to github when opening the factory, just the message that the repo could not be accessed. If I go to configure git integration in the UI it starts from scratch, the settings passed in through the API are not present

[2018-08-28 15:58] tjprescott commented on #3437
@ScriptMyJob I only reported the issue, I'm not in charge of fixing it. @sergey-shandar?

[2018-08-28 16:36] dsgouda commented on #3740
@Nking92 could you point out the RP so I can assign it to the appropriate handle, if you know someone already feel free to assign them or tag them on this issue.

[2018-08-28 19:06] Nking92 commented on #3740
The RP is Microsoft.Web
Please assign @pavelzel to this issue since he manages these APIs.

[2018-08-28 19:16] tombuildsstuff commented on #3643
@hbuckle out of interest does it work if you specify `https://username:password@github.com/user/repo.git` as the URI? This format should also work with Tokens (either with a username, or IIRC there's another username you can use for other tokens) which shouldn't require the connection to Github?

[2018-08-28 19:51] LijuanZ commented on #3643
@hbuckle I could not reproduce the issue. I tried associate my github repo with factory via configureFactoryRepo api and then open the factory in UI portal, I got a dialog saying "Canot access GitHub. The data factory is configured to use GitHub repository: <my github repo url>. If you want to use your GitHub repository, please login." And I can use the repo after click on the "Log in to GitHub" b

[2018-08-28 21:54] JunyiYi opened #3750 "New API Request: Azure Functions"
Now there are no APIs to create Azure Functions resource. We only have a workaround which is to use App Service APIs with a bunch of internal app setting environment variables. It would be better if we could have a dedicated public API to do so because it is error-prone and subject to change to use such an internal workaround method.

Thanks.

[2018-08-28 22:09] JunyiYi opened #3751 "Unable to clear RollingUpgradePolicy in Virtual Machine Scaleset"
[RollingUpgradePolicy](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#rollingupgradepolicy) is an optional parameter in Virtual Machine Scaleset. But I'm not able to remove it once it is set. I tried using `null`, using empty object `{}`, I also tried pass nothing, but no luck to succeed.

Thanks.

[2018-08-29 02:28] hellosnow opened #3756 "A typo error in compute.json?"
This is transferred from docs feedback: https://github.com/MicrosoftDocs/feedback/issues/635

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/listall
**Problem:**
Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the name of the disk in a virtual machine image.

Should it be overwrite the size of the disk instead of

[2018-08-29 16:00] mboersma commented on #3703
`linuxProfile` isn't required, and the original question was solved by changing usage of the Go SDK. I think this issue can be closed @metacpp.

[2018-08-29 16:07] annatisch commented on #3703
Thanks @mboersma!
@metacpp - please reopen if you feel that this has not been addressed.

[2018-08-29 16:07] #3703 closed

[2018-08-30 15:05] tombuildsstuff commented on #3750
Given this is a request for an SDK for Kudu (as Functions are actually just App Services at this point in time) - perhaps it'd be better to consolidate this with https://github.com/Azure/azure-sdk-for-go/issues/2397?

[2018-08-31 07:08] stprokho opened #3784 ""az network nsg rule create" command parameter "--source-asgs" does not support multiple ASGs"
"az network nsg rule create" command parameter "--source-asgs" does not support multiple ASGs while it's name, help output and documentation advice otherwise:

1. https://docs.microsoft.com/en-us/cli/azure/network/nsg/rule?view=azure-cli-latest says:

"--source-asgs
Space-separated list of application security group names or IDs."

2.  "az network nsg rule create" says:
...
usage: az network nsg r

[2018-08-31 15:18] jhendrixMSFT opened #3787 "Microsoft.Network/stable/2016-06-01/network.json has semantic validation errors"
See https://github.com/Azure/azure-rest-api-specs/pull/3785 for the failures.
   [ { code: 'OBJECT_MISSING_REQUIRED_PROPERTY_DEFINITION',
       message: 'Missing required property definition: nextHopType',
       path: [ 'definitions', 'ExpressRouteCircuitRoutesTable' ] },
     { code: 'OBJECT_MISSING_REQUIRED_PROPERTY_DEFINITION',
       message: 'Missing required property definition: nextHopTyp

[2018-08-31 18:10] jhendrixMSFT opened #3790 "graphrbac: add missing group APIs"
Add the following APIs to the graphrbac swagger.

https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/group_post_owners
https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/group_list_owners
https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/group_delete_owners

Ported from https://github.com/Azure/azure-sdk-for-go/issues/2569

[2018-09-02 16:16] mblaschke commented on #2366
For us (Daimler) it's one of our blocker as this prevents the use of some APIs. Right now it's a litle bit disappointed that these APIs are not usable only because of a wrong definition :worried:

Will this be fixed at least this year or do we have to fork the official API and fix it there?
Please give us a estimation when this bug will be fixed.

[2018-09-05 08:17] hbuckle commented on #3643
Thanks @LijuanZ I can confirm that using `FactoryGitHubConfiguration` works. It looks like the case is [incorrect in the specs](https://github.com/Azure/azure-rest-api-specs/blob/5c2e24043ec5342c8fef7960e529cec5f12c89c2/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json#L3152) so downstream SDKs will also see this issue, can this be corrected?

[2018-09-05 19:00] ScriptMyJob commented on #3437
🤨 I guess I better find a hack in the meantime so I can close my story.

[2018-09-05 20:36] marstr commented on #2570
Triaged and removing my assignment.

[2018-09-05 20:38] marstr commented on #3526
Triaged and removing my assignment.

[2018-09-05 20:39] marstr commented on #2314
Closing as stale, for what it's worth I've been doing this manually for my private repository reviews.

[2018-09-05 20:39] #2314 closed

[2018-09-05 20:42] marstr commented on #2017
Triaged and removing my assignment.

[2018-09-05 20:44] marstr commented on #2366
I'm still working on routing this internally, @mblaschke. I'll report status again tomorrow, regardless of whether or not things have changed.

[2018-09-05 20:45] marstr commented on #3610
Triaged and removing my assignment

[2018-09-05 20:49] marstr commented on #2179
I checked with @yugangw-msft, and he confirmed that this has been completed.

[2018-09-05 20:49] #2179 closed

[2018-09-05 22:11] LijuanZ commented on #3643
@hbuckle Thank you for the confirmation, we are working on a fix for it.

[2018-09-06 08:08] hellosnow opened #3819 "`tags` missing on response of Azure Resource Management REST API"
This issue is transfered by https://github.com/MicrosoftDocs/feedback/issues/657 from @Qq20180503

**Describe the bug**
I filter Azure Resource Management REST call on tags. However, the response is just displaying the filtered resources not including "tag".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Resources - List. https://docs.microsoft.com/en-us/rest/api/resources/resources/l

[2018-09-06 16:47] marstr commented on #3819
Triaged and removing my assignment.

[2018-09-06 17:02] lmazuel commented on #3756
PR was merged to fix it.

[2018-09-06 17:02] #3756 closed

[2018-09-06 18:58] Teodelas opened #3821 "Output offerType for subscriptions/get API"
For the REST API, https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/get, add offerType to the output.

[2018-09-07 06:09] AnilKongariMSFT commented on #3526
@SteveVaneeckhout, Thank you for raising this issue up. We were able to reproduce the issue and have brought this to the attention of the Azure App Services product group to see if this is something they can fix.

I have posted an alternative workaround to unblock the scenario at below MSDN Link.
https://social.msdn.microsoft.com/Forums/en-US/a01f6487-0164-4d52-b3cc-110055090d2b/fluent-management-

[2018-09-07 08:17] hellosnow commented on #3756
Thanks! @lmazuel

[2018-09-08 00:30] #3526 closed

[2018-09-10 04:49] holderbaum commented on #3751
Hello Azure Team,

apparently, this issue is hindering the terraform development. Right now, there is no way to configure a rolling update for VMSS via terraform. Since the rolling update is quite a central and useful feature of the scale sets, this is a big issue for us.

Is there any estimate when this issue will be fixed? :smiley:

Cheers
Jakob

[2018-09-10 18:53] jhendrixMSFT opened #3853 "Filtering resource group collection supports filtering only on tags"
Please update the docs for operation [ResourceGroups_List](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2018-02-01/resources.json#L882) that the filter parameter supports filtering on tags only.
Related: https://github.com/Azure/azure-sdk-for-go/issues/2480

[2018-09-11 17:01] #3474 closed

[2018-09-11 18:33] bganapa opened #3866 "[AzureStack] Storage Admin Quota Rest API lists 404 as expected"
This is not in line with  the REST API spec conventions. 404 entries in the storage specs should be removed

[2018-09-11 18:34] bganapa commented on #3866
@shanswmicrosoft  to get assigned with this issue

[2018-09-11 18:36] bganapa opened #3867 "[AzureStack] Network admin quota rest api spec lists 404 as expected"
This is not in line with spec conventions. The spec should not list the error codes. If listed the generated SDK  would eat out the exception

[2018-09-11 18:44] lmazuel commented on #3638
Service team confirmed they hot-fixed the server to stop returning 201.

[2018-09-11 18:44] #3638 closed

[2018-09-11 21:03] jhendrixMSFT opened #3870 "Remove `internalFqdn` from networkInterface.json"
According to an internal discussion the `internalFqdn` field is never populated by the server which has caused some confusion for customers.  If this field isn't used please remove it.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/networkInterface.json#L918
See related: https://github.com/Azure/azure-sdk-for-go/

[2018-09-12 14:46] irnc opened #3884 "Couldn't update `branch` property of a `sourcecontrols/web` resource"
`branch` property of a `sourcecontrols/web` resource couldn't be updated from https://resources.azure.com/.

When I execute a PUT request to https://management.azure.com/[app-service-id]/sourcecontrols/web?api-version=2018-02-01 operation succeeds, but value of the `branch` property remains the same.

[2018-09-12 16:18] dsgouda commented on #3884
@naveedaz I believe you might have some insight here

[2018-09-13 23:56] anuchandy commented on #3751
Just a thought – the documentation https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#rollingupgradepolicy describes the default values for various properties of RollingUpgradePolicy, i.e. it describes the value service uses if we create a VMSS without explicitly setting RollingUpgradePolicy.

Given above documentation, If someone want to remove RollingUpgrade

[2018-09-14 03:39] JunyiYi commented on #3751
Thanks @anuchandy for the workaround.
It might be a good idea for users who wants to remove the value.
But this method will affect users who initially does not set the value since we will always set the default values for them in this workaround. And finally Terraform will report to them that their VMSS is changed (new properties added).

[2018-09-17 15:12] mblaschke commented on #2366
@marstr any progress?

[2018-09-17 20:42] murraybutler opened #3918 "Basic questions around budget API"
I had a few questions for the budget API under consumption:

Does the API maintain charge info if I destroy and rebuild the resource group (same name, etc)?
Is there any way to get granularity to a week (Since I have to use the first of a given month as the start date, am I forced to keep state and do some addition for each week?)?  I have a process that is tearing down resource groups each week.

[2018-09-17 22:27] jhendrixMSFT opened #3922 "Bad path in hardwaresecuritymodules config file"
The input file is defined as follows.
`Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/keyvault.json`
It should be this.
`Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/dedicatedhsm.json`

[2018-09-17 22:27] binzhao-chn opened #3923 "[Azure monitor] Missing 'Last' enum in timeAggregation in Autoscale API"

[2018-09-17 23:22] torresdal opened #3925 "[ApiManagement] Missing 202 Accepted as HTTP response code"
In the current stable version of the API Management Service, when doing a PUT on an existing API Management Service, a HTTP 202 Accepted is returned. However, 202 is not defined as a valid HTTP return code for this service. The correct return codes are listed in the preview version, but maybe the stable version should be updated?

Spec in question: https://github.com/Azure/azure-rest-api-specs/blo

[2018-09-18 03:39] anuchandy opened #3926 "Recovery services apis has "deprecated: false" annotations which is unnecessary"
See this comment https://github.com/Azure/azure-rest-api-specs/pull/3909#discussion_r218142991

@AdityaTulasi fyi