[2017-01-31 19:12] gucalder commented on #890
Definitely an issue.
I'll work on a fix for this one.

[2017-01-31 22:05] marstr opened #895 "New Compute Profile Available"
As seen in Azure/azure-sdk-for-go#525 authored by @moritzheiber:

However, customData is the only way of passing data to Scale Set instances using the go SDK. This means modifying the customData property will only work if you take down the Scale Set prior to modification.
API version 2016-08-30 does support modification of the customData property and I'ld vouch for a bump in API versions in the co

[2017-01-31 22:09] colemickens commented on #895
(Hopefully one of these new Compute swaggers will include the MSI-related fields. I have an internal thread about this, but I thought it was worth mentioning here as well)

[2017-01-31 22:52] lmazuel commented on #890
@gucalder I was thinking about this, I don't think we can consider "Admin, Operation" as an array (it's not an array in the JSON). We cannot do real better than `string` it seems. Either a real `string`, or change `modelAsString` as True to still keep an "enum-like" parameter (in Python, `modelAsString` to True just authorized a multi-type parameter String or Enum, so it's more accurate than a pur

[2017-01-31 23:42] vishrutshah opened #896 "[Azure Monitor] UsageMetrics list throws 400 on resource uri"
list operation on the resource-uri `/subscriptions/xxxxx-xxxx-xxx-xxxx-xxxx/resourceGroups/vishrutrg/providers/microsoft.compute/virtualmachines/vmtests1` with api-version `2014-04-01` throws following errors:

**Error:**
[code]

While trying to use it with list `api-versions` on the error, I receive the following errors:

[code]

@gucalder Do we need to support new api version or document more wh

[2017-01-31 23:52] lmazuel commented on #896
@vishrutshah I already had this conversation with the Monitor team, VM does not support UsageMetrics currently. WebApp or DocDB does. It's why my example is using WebApp:
http://azure-sdk-for-python.readthedocs.io/en/latest/sample_azure-monitor.html#quotas

So, it's not a Swagger issue, but a RestAPI sad error message.

[2017-02-01 00:16] vishrutshah commented on #896
@lmazuel Thanks for letting me know. I tried with Web App and it works.

I'll close this issue as not on swagger but still minor feedback for @gucalder regarding the error message.

Thanks

[2017-02-01 00:16] #896 closed

[2017-02-01 00:30] maxshao96 opened #898 "Arm-Logic Swagger Resource Properties should be read-only"
azure-rest-api-specs/arm-logic/2016-06-01/swagger/logic.json
logic.json swagger #/definitions/Resource properties should have { "read-only": true } attributes

[2017-02-01 00:38] vishrutshah opened #899 "[Azure Monitor] list opration on TenantEvents throws permission errors / missing subscription arguments"
**Error:**

The client 'xxx@microsoft.com' with object id 'xxxx-xx-xxx-xxx-xxx' does not have authorization to perform action 'microsoft.insights/eventtypes/values/read' over scope '/providers/microsoft.insights/eventtypes/management'.

Jagadish Kulkarni from the Azure Monitor team would help in understanding the issue.

[2017-02-01 08:22] moritzheiber commented on #895
Solving this issue would be really helpful because without the newer API specs using Scale Sets is pretty much impossible to get right through the dependent SDKs

[2017-02-01 16:12] amarzavery commented on #895
@huangpf
Please take a look.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Moritz Heiber <notifications@github.com>
Sent: Wednesday, February 1, 2017 12:22:36 AM
To: Azure/azure-rest-api-specs
Cc: Subscribed
Subject: Re: [Azure/azure-rest-api-specs] New Compute Profile Available (#895)

Solving this issue would be really helpful because without the newer A

[2017-02-01 17:06] huangpf commented on #895
```2016-08-30``` doesn't seem to be an official API version. Is it for a special or preview release or internal customers?

[2017-02-01 17:08] moritzheiber commented on #895
I was referencing [this support thread](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/2e81dd6a-1741-48aa-ab02-fc5c8c4450c1/how-to-update-vm-scale-sets-customdata-without-down-time?forum=WAVirtualMachinesforWindows#ed3246c3-2109-4443-881c-2da88705a908) in my issue submitted for the Golang SDK.

[2017-02-01 17:14] huangpf commented on #895
From the Compute spec, you can see there is no such official API version:
https://github.com/Azure/azure-rest-api-specs/tree/master/arm-compute

But I believe AutoRest generated API in any language supports overriding the request being sent, please refer to how this C# handler is defined:
https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/Compute/Compute.Tests/Helpers/

[2017-02-01 17:17] moritzheiber commented on #895
So you're saying there is an API version, but it's unofficial, thus there will be no support inside the official SDKs?

[2017-02-01 17:35] huangpf commented on #895
This needs service team's confirmation, awaiting @singhkays.

[2017-02-01 18:29] singhkays commented on #895
Sorry @huangpf, I don't own this. From the linked support thread looks like @gbowerman might have some knowledge of this re:VMSS. Also adding @stephbaron for Compute spec question.

[2017-02-01 20:01] moritzheiber commented on #895
To provide some context: Asking the `AzureCloud` itself, i.e. the providers available and their respective API versions returns the following snippet for `virtualMachineScaleSets`:

[code]

That's why I was expecting these specs to support the API version I mentioned.

[2017-02-01 23:47] kirthik opened #901 "Review Network express route swagger spec"
1. Run the swagger spec against linter and model validator tools
2. Manually review the swagger against swagger checklist
3. Open any issues that are found in the process

[2017-02-01 23:50] kirthik opened #902 "Review ServiceBus swagger spec"
1. Run the swagger spec against linter and model validator tools
2. Manually review the swagger against swagger checklist
3. Open new issues that are found in the process

[2017-02-02 00:34] kirthik commented on #902
Closing since review completed - https://github.com/Azure/azure-rest-api-specs/pull/879

[2017-02-02 00:34] #902 closed

[2017-02-02 00:36] kirthik commented on #901
PR link - https://github.com/Azure/azure-rest-api-specs/pull/855

[2017-02-02 00:37] kirthik commented on #901
Closing this since express route(2016-09-01) was reviewed already and merged in master.

[2017-02-02 00:37] #901 closed

[2017-02-02 06:33] kirthik commented on #343
Closing since issue is fixed in the mentioned PR - 789

[2017-02-02 06:33] #343 closed

[2017-02-02 17:39] fearthecowboy commented on #781
Redirecting to original author: @ms-alguerra

I believe that @anuchandy  is asking that you add an `enum` restriction and a `x-ms-enum` extension on those string fields:

[code]

[2017-02-02 18:15] dsgouda commented on #796
Seems like this has been fixed. @guperrot can you confirm and close this issue?

[2017-02-02 18:36] mcardosos commented on #796
Looks like fixed :D
Thanks!

[2017-02-02 18:36] #796 closed

[2017-02-02 18:50] gbowerman commented on #895
The currently valid Compute API versions are: 2016-03-30 and 2016-04-30-preview.
Despite the preview moniker the latter will be one we recommend to use in production starting next week (2/8). A little while after that it will be 2017-03-30. Therefore the AzureCloud API should return these values (and possibly the 2016-06-15 one as well though I hope no-one uses it since it was before scale set GA)

[2017-02-02 18:58] moritzheiber commented on #895
@gbowerman Okay, I understand. Two questions though:

1. Why is the API returning the (supposedly unsupported) version `2016-08-30` as "available" then?
2. Why do you recommend using version `2016-08-30` in the linked support thread?
3. Shouldn't the SDK not be a representation of what's available, and not what's recommended? I mean, it's not like your target audience are toddlers .. ?

I'm not tr

[2017-02-02 19:01] gbowerman commented on #895
@moritzheiber as I understand it, 1, 2, 3 above are bugs we need to fix. Your questions are not obnoxious. They are a useful elucidation of the problem.

[2017-02-02 21:08] itowlson opened #905 "Explain caching options in Compute documentation"
The Compute documentation for the CachingType enum (https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-04-30-preview/swagger/compute.json#L3590) does not explain what the different caching types mean.  The options are explained in a blog post at https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/27/exploring-windows-azure-drives-disks-and-images/ but this is not r

[2017-02-02 21:39] kirthik commented on #483
We have a swagger for this - https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2016-09-01/swagger/applicationGateway.json

[2017-02-02 21:39] #483 closed

[2017-02-02 21:40] kirthik commented on #504
Closing this since we have a swagger now.

[2017-02-02 21:40] #504 closed

[2017-02-02 21:44] kirthik commented on #430
@garimakhulbe: There has been no activity on this issue for a while. I am closing it. Please feel free to reopen if you have any questions.

[2017-02-02 21:44] #430 closed

[2017-02-02 21:46] kirthik commented on #741
@amarzavery : Do you want to keep this open?

[2017-02-02 21:52] kirthik commented on #684
Closing this since File name is fixed.

[2017-02-02 21:52] #684 closed

[2017-02-02 21:53] kirthik commented on #648
Closing since we are already using this extension. Please feel free to open a new bug for any issues on that extension.

[2017-02-02 21:53] #648 closed

[2017-02-07 18:41] hopoffbaby opened #916 "support billing queries"
Hi,

Would it be possible to add support for the following in order to be able to query rate information from Azure?

https://msdn.microsoft.com/en-us/library/azure/mt219004

Thanks,
hopoffbaby

[2017-02-07 19:12] amarzavery commented on #916
We have this PR in review https://github.com/Azure/azure-rest-api-specs/pull/884.
Let us know if the operations described in the swagger spec in the PR satisfy your needs or are you looking for something more. This will help the service team know if they missed anything in swagger.

@pargall - Please take a look at this issue.

[2017-02-07 19:21] amarzavery commented on #882
@lamchester - Can you please take a look at this issue posted by one of the customers using the Go sdk? It seems there is a mismatch between what is represented in the swagger and what is happening on the wire.

If you can provide (minimum [just the required properties/parameters for making a request] and maximum [full blown request with all the required and optional properties/parameters]) exampl

[2017-02-07 19:29] amarzavery commented on #898
@pankajsn - Please resolve this issue.

[2017-02-07 19:32] jhendrixMSFT commented on #754
@dihan0604 have you had a chance to look at this?

[2017-02-07 19:53] dihan0604 commented on #754
This has been fixed, Link: https://github.com/Azure/azure-rest-api-specs/pull/855

[2017-02-07 20:10] pankajsn commented on #898
@Amar Zavery<mailto:amzavery@microsoft.com>
JFYI This is logged by our team only for tracking purpose.

From: Amar Zavery [mailto:notifications@github.com]
Sent: Tuesday, February 7, 2017 11:30 AM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Pankaj Singh Negi <Pankaj.Negi@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-specs]

[2017-02-07 20:13] amarzavery commented on #898
@pankajsn - Good to know that it is logged by your team. Please fix it in this PR.

[2017-02-07 21:34] #754 closed

[2017-02-08 00:04] vishrutshah commented on #890
@gucalder Do we have an ETA on the fix? We'd like this to be fixed so that can have python cli command line experience to be released in preview for Azure Monior services.

[2017-02-08 00:56] begoldsm commented on #773
@veronicagg this is an interesting issue. We do require a minimum degreeOfParallelism for submitting jobs, but for building jobs this field is ignored, and the service simply returns default(int), which happens to be zero. I can remove the restriction in our swagger specs, since our service will fix submissions with degreeOfParallelism < 1 to be = 1. Thoughts?

[2017-02-08 01:05] amarzavery commented on #773
But you still need that constraint while submitting the job. May be documenting this in the description and removing it as a constraint is the best option. I am not sure if using `allOf` can solve this accurately.

[2017-02-08 01:10] begoldsm commented on #773
That is fair, I can make that update.

[2017-02-08 01:15] begoldsm commented on #773
PR out: https://github.com/Azure/azure-rest-api-specs/pull/917

[2017-02-08 03:28] mcardosos opened #918 "Dataplane search is missing host"
From what I see in the documentation, `x-ms-parameterized-host` should do the trick.
@brjohnstmsft

[2017-02-08 16:21] hassanbabaie commented on #895
@gbowerman Hi Guy, it doesn't look like Microsoft's API documentation has changed, do you know if the move to 2016-04-30-preview is delayed?

[2017-02-08 19:28] brjohnstmsft commented on #918
@mcardosos @jhendrixMSFT `x-ms-parameterized-host` didn't exist at the time the Search data plane SDK was developed. I'll take a look at it at some point, but if changing it will change the generated code in a way that breaks backward compatibility, then it will be some time before we make the change.

Please assign the issue to me.

Also, can you please elaborate on the effects of not making this

[2017-02-08 21:08] mcardosos commented on #918
SDK would be a little more difficult to use

[2017-02-08 21:10] lamchester commented on #882
The doc is wrong and (badly) out of date. What's being generated by swagger is correct, and the swagger spec is the source of truth here.

This is really not what the experience should be and I apologize for that. I will look into both getting the doc updated, and providing an example as suggested. Thanks for bringing this up!

[2017-02-08 21:59] brjohnstmsft commented on #918
@mcardosos How so? Have you looked at the Search .NET SDK to evaluate its usability?

[2017-02-08 22:04] mcardosos commented on #918
I mean the Go SDK. Currently we, the Go SDK team, are not generating search dataplane.
When we start generating it, the extension in the swagger would be useful :)

[2017-02-08 22:09] brjohnstmsft commented on #918
@mcardosos Got it, thanks! Hopefully it will simplify the .NET SDK too. I'll try it out when I have the chance.

[2017-02-08 22:16] gbowerman commented on #895
@hassanbabaie 2016-04-30-preview is GA today. Hopefully you'll see the API updated shortly.

[2017-02-09 18:03] vishrutshah commented on #887
@gucalder Could you please verify?

[2017-02-09 19:24] iouri-s opened #921 "KeyVault swagger spec does not call out 204 in their DELETE responses"
As a result, 204s result in CloudException being thrown with no Body. Most RP SDKs do not throw on 204, and KeyVault should act consistently

[2017-02-09 23:02] vishrutshah commented on #921
@pomortaz Could you please look into this. It'd be great if we have defined `204` status codes in responses so than AutoRest would not throw.

Reference: https://github.com/Azure/azure-rest-api-specs/blob/d74c96fd1c16b059d5d6d8b9cfca200b7ae3c40b/documentation/creating-swagger.md#NegativeResponses

[2017-02-09 23:13] amarzavery commented on #921
This would not have happened, if there were examples of request and response for every operation. Recently we have updated the tooling that
- validates the examples against the definition specified in the swagger spec. This helps us catch model validation errors early on.
- The examples will be published to docs.microsoft.com website and customers can use these examples as a reference.

More info

[2017-02-10 00:08] iouri-s commented on #921
@amarzavery - a spec defines most of the semantics of HTTP error codes and payloads for Azure Resource Manager resource providers. What is the point of each spec providing its own examples for validation (potentially violating the spec)?

[2017-02-10 00:28] amarzavery commented on #921
We have caught increasing number of bugs that were not caught by sdk tests. Bugs like
- properties present in the example but not defined in the swagger spec
- spec says that the property is a string but on the wire it is an integer
- response statuscodes defined in the example but the swagger spec does not have that defined or vice-versa.
- swagger spec says that the response has a schema (i.e. b

[2017-02-10 00:43] iouri-s commented on #921
@amarzavery - examples certainly provide value; however, they have nothing to do with the issue at hand. Even assuming there was an example that said that the 204 code was an error and was returning a payload, and even if the example was in strict conformance with the swagger spec and the service, that would have been wrong, because per the RP spec (and the HTTP protocol), 204 is not an error and

[2017-02-10 00:53] amarzavery commented on #921
The reason AutoRest generated client is treating "204" as an Error is because: "204" is not defined in the swagger spec. Any response status code not defined in the swagger for a given operation goes into the default bucket (which is error).

_The model validator would have caught this and prompted the spec author to define 204 in the swagger. Then AutoRest generated client would not have thrown a

[2017-02-10 01:31] iouri-s commented on #921
Sorry, I do not get your point; the SDK team through some tool or code reviews for RP swagger specs can already flag these conditions, e.g. 204 not specified on delete or conversely, 404 or 400 explicitly declared (those should be handled by "default"). No examples are needed for those validations.

[2017-02-10 01:37] amarzavery commented on #921
It is not mandatory that every service returns a 204 on delete. Irrespective of that, we will add a linter rule to flag a warning in the above scenario.

I am not saying that this cannot be done by any linter or code review tool. All I am saying is that with the type of tools we have today, this would have been caught by the model validator.

[2017-02-10 01:49] iouri-s commented on #921
It is, in fact, mandatory that every ARM resource provider return 204 on delete. It may not be the case for non-ARM services, but if we got some consistency across ARM that would be a huge step forward.

From the RP spec:

Status Code
The resource provider can return 200 (OK) or 204 (NoContent) to indicate that the operation completed successfully. A 200 (OK) should be returned if the object exist

[2017-02-10 04:21] colemickens opened #924 "DiskRP Swagger Spec"
Is there a Swagger spec for the DiskRP (Managed Disks)?

[2017-02-10 04:23] amarzavery commented on #924
disk swagger - https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-04-30-preview/swagger/disk.json
compute swagger - https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-04-30-preview/swagger/compute.json with updated managed disk options (for ex: while creating a VM) Doing a diff with the previous api-version of compute.json will make things easy to id

[2017-02-10 04:24] colemickens commented on #924
Aha, I thought I'd seen it go in, but I couldn't find it for the life of me with the search...

Thanks for the very fast response!

[2017-02-10 04:24] #924 closed

[2017-02-10 06:29] hassanbabaie commented on #895
@gbowerman yes spotted it now, thanks!

[2017-02-10 18:00] kirthik commented on #177
This has been done last year.

[2017-02-10 18:00] #177 closed

[2017-02-10 18:04] kirthik commented on #243
Closing this since linter catches this. We will start reporting it in CI soon.

[2017-02-10 18:04] #243 closed

[2017-02-10 18:05] kirthik commented on #244
Linter will catch this going forward.

[2017-02-10 18:05] #244 closed

[2017-02-10 18:08] kirthik commented on #250
404 is removed in new api version - https://github.com/Azure/azure-rest-api-specs/blob/master/arm-redis/2016-04-01/swagger/redis.json#L177

[2017-02-10 18:08] #250 closed

[2017-02-10 18:11] kirthik commented on #252
Closing since this is being tracked here - https://github.com/Azure/autorest/issues/1523.

[2017-02-10 18:11] #252 closed

[2017-02-10 18:12] kirthik commented on #255
Closing this since we are tracking it here - https://github.com/Azure/autorest/issues/1523

[2017-02-10 18:12] #255 closed

[2017-02-10 18:19] kirthik commented on #261
This is by design - https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/creating-swagger.md#negative-responses

[2017-02-10 18:19] #261 closed

[2017-02-10 18:25] kirthik commented on #295
closing this ..proposal not accepted

[2017-02-10 18:25] #295 closed

[2017-02-10 18:26] kirthik commented on #296
closing this - proposal not accepted

[2017-02-10 18:26] #296 closed

[2017-02-10 18:27] kirthik commented on #307
Closing due to inactivity

[2017-02-10 18:27] #307 closed

[2017-02-10 18:27] kirthik commented on #385
Closing since it got merged

[2017-02-10 18:27] #385 closed

[2017-02-10 18:28] #389 closed

[2017-02-10 19:20] ejarvi commented on #291
I was not involved with the initial design or selection of these property names, but what I do know is that the disk encryption key is different from the key encryption key.  It would be valuable to preserve some distinction in the property name that would indicate which one is for the disk encryption key and which one is for the key encryption key.

https://docs.microsoft.com/en-us/azure/security

[2017-02-10 20:15] pomortaz commented on #921
In key vault service we don't return 204 for delete operation. Does 204 coming from the ARM proxy layer and every RP should accept this response? I actually haven't every seen a 204 response for a Key Vault operation.

[2017-02-10 20:42] iouri-s commented on #921
Yes and yes. @pomortaz - Execute the same keyvault delete request twice and you will see that the second one returns a 204.

[2017-02-10 20:46] iouri-s commented on #921
Also, if you do not return 204s for resources that do not exist, you should. Do not assume that the frontdoor won't call you.

[2017-02-10 22:06] pomortaz commented on #921
@iouri-s thanks. I could reproduce the error. We'll get it fixed to include 204 as an accepted response.

[2017-02-11 01:13] begoldsm opened #928 "[DataLake]: Update Swagger objects to have proper inheritance"
Need explicit inheritance for (flow is each lower object is "AllOf" the one above it, in the nested lists)
* JobInformation
  * BaseJobInformation
  * SubmitJobResponse
  * JobInformation
  * SubmitJobParameters (maybe)

* Account (adla and adls)
  * ListAccount
  * Account

[2017-02-11 01:14] begoldsm commented on #928
@amarzavery can you assign this to me, I can't modify assignees.

[2017-02-13 20:29] xingwu1 opened #932 "Batch management: “keyVaultReference” and “poolAllocationMode” needs to go inside the properties bag."
•	“keyVaultReference” and “poolAllocationMode” needs to go inside the properties bag. RP specific properties are defined in the properties bag

[2017-02-13 23:35] mcardosos commented on #544
Ping @vivsriaus @TianoMS

[2017-02-14 06:22] gucalder commented on #890
Yeap, the server responds with a string. It is a Flags Enum serialized as a csv-string.
Talking to people here, they say that we can just take that channels field out of the spec since it really has no meaning now. We are using categories instead of channels.

Since we are going to rename everything, then I will make all the changes now in the new package.
We will take the pain since everything wi

[2017-02-14 12:40] TianoMS commented on #288
"name" is actually allowed in the request body of Create/Update resource group, although it's only used for validation purpose.

[2017-02-14 16:40] amarzavery commented on #288
That vioaltes ARM's RPC guidelines. Why do you need to check the name from the body when the name is provided in the url. "name" should be readOnly.
+ @ravbhatnagar - Please take a look at this.

[2017-02-14 18:11] kirthik commented on #316
@boumenot : Can you please elaborate on the expected behavior and provide an example on swagger model that you are looking for?

[2017-02-14 18:12] #320 closed

[2017-02-14 18:16] kirthik commented on #328
This is an autorest issue - https://github.com/Azure/autorest/issues/1824

[2017-02-14 18:16] #328 closed

[2017-02-14 18:23] TimLovellSmith opened #935 "next-api-version: Redis API PascalCases for 'Message' property name"
Tracking bug.
Redis swagger defines 'Message' property in PascalCase because the server api was implemented incorrectly. But fixing it in current api-version would be a breaking change.
This issue should be fixed as part of the next Microsoft.Cache/redis api-version, whenever that happens.

/cc @vishrutshah

[2017-02-14 18:25] kirthik commented on #380
Moved to - https://github.com/Azure/autorest/issues/1825

[2017-02-14 18:33] boumenot commented on #316
The expected behavior is that I would like the Go (or any) SDK to have the necessary *types* auto-generated to serialize/deserialize an ARM template.  Most of the type definitions exist, but there is not an all encompassing type called template that includes everything.

For example, there are *types* for NetworkProfile, AddressSpace, OSProfile, StorageProfile, IPAllocationMethod, etc., but not an

[2017-02-14 18:33] kirthik commented on #459
Notification Hubs team confirmed this as an issue on their side but no action has been taken so far. cc @smithab

[2017-02-14 18:34] kirthik commented on #460
closing due to  lack of data.

[2017-02-14 18:34] #460 closed

[2017-02-14 18:37] #488 closed

[2017-02-14 18:39] kirthik commented on #505
@tombuildsstuff : Just want to clarify Insights API is different from Application Insights

[2017-02-14 18:41] kirthik commented on #505
Insights management plane Spec is checked in here - https://github.com/Azure/azure-rest-api-specs/tree/master/arm-insights
Data plane spec is here - https://github.com/Azure/azure-rest-api-specs/tree/master/insights

[2017-02-14 18:41] #505 closed

[2017-02-14 18:42] kirthik commented on #531
@lmazuel : Could you clarify the issue with HTML in description?

[2017-02-14 18:42] pankajsn commented on #898
fixed

[2017-02-14 18:52] kirthik commented on #571
We will be driving this from a different venue

[2017-02-14 18:52] #571 closed

[2017-02-14 18:53] lmazuel commented on #531
@kirthik not all language use the same kind of generator to build their technical documentation. Or we can use documentation generator that are not HTML at all.

In case of Python, HTML tags are not expected and produce bad documentation. So, I see two solutions:
- We consider description fields are HTML, and we have to remove them in Python in our pre-process treatment
- We consider description f

[2017-02-14 18:55] kirthik commented on #598
Closing since Pr is merged

[2017-02-14 18:55] #598 closed

[2017-02-14 18:55] lmazuel commented on #531
Note that Swagger spec says:
description - string - A short description of the target documentation. [GFM syntax](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown) can be used for rich text representation.

[2017-02-14 18:58] kirthik commented on #624
Closing this issue since we are addressing it in a different way. @IvanGoncharov : We are working on cleaning up all swaggers to ensure they are of good quality.

[2017-02-14 18:58] #624 closed

[2017-02-14 19:01] kirthik commented on #713
@vishrutshah - Please follow up with @pomortaz

[2017-02-14 19:49] jhendrixMSFT commented on #898
Resolved in https://github.com/Azure/azure-rest-api-specs/pull/891.

[2017-02-14 19:49] #898 closed

[2017-02-14 22:39] lamchester commented on #882
@yushwang can you take a look at the docs?

[2017-02-15 03:34] JasonYang-MSFT commented on #330
Hi @ivanignatiev
We(Storage) already fixed this issue since api version 2016-05-01, please refer to newest version for the updated spec:https://github.com/Azure/azure-rest-api-specs/blob/master/arm-storage/2016-12-01/swagger/storage.json#L751

[2017-02-15 17:51] tombuildsstuff opened #938 "App Service: API <-> SDK bug"
👋 ¡hōla!

I've been continuing on my quest to [bring support for WebApps to Terraform](https://github.com/hashicorp/terraform/compare/master...tombuildsstuff:azurerm-app-services) - however I believe I've encountered some contract-related bugs in the API:

When I make the following Request via the Go SDK:
[code]

The request succeeds and I get the following Response back from the API:
[code]

Howe

[2017-02-15 19:15] kirthik commented on #741
This is done

[2017-02-15 19:15] #741 closed

[2017-02-15 19:31] kirthik commented on #798
@veronicagg : Can you please write a proposal on this so we can talk in the upcoming discussion meeting?

[2017-02-15 19:47] kirthik commented on #837
For microsoft folks - Right way of adding examples is following this approach -[using `x-ms-examples` extension](https://github.com/Azure/adx-documentation-pr/blob/master/tools/tools.md#swagger-model-validation)

[2017-02-15 19:54] kirthik commented on #840
@jianghaolu - Would you please present this proposal in the biweekly discussion meeting?

[2017-02-15 20:02] kirthik commented on #880
@naveedaz : Could you please help answer the question?

[2017-02-15 20:11] kirthik commented on #895
@gbowerman , @stephbaron : Please close this if the issue is resolved.

[2017-02-15 20:16] jianghaolu commented on #840
I don't have a crispy clear idea of what it should look like but yeah we can discuss about this tomorrow.

[2017-02-15 20:17] jianghaolu commented on #840
@kirthik ah I mean next Thursday.

[2017-02-15 21:05] matthchr commented on #932
This is fixed now.

[2017-02-15 21:05] matthchr commented on #932
@kirthik Can you close?

[2017-02-15 21:32] moritzheiber commented on #895
Err, how's 2016-04-30-preview going GA solving this issue? I will still be unable to use Scale Sets properly ..

[2017-02-15 21:39] TimLovellSmith commented on #638
Oh. Yes, this is fixed now. @kirthik

[2017-02-15 21:42] #638 closed

[2017-02-15 22:22] yushwang commented on #882
@amarzavery Thanks for the feedback, and as you pointed out, the MSDN docs are completely outdated and inaccurate. We are in the process of fixing them, but also in the process of migrating those to a different publication system. The actual migration should be done within these two weeks, but will be whatever is on MSDN due to the lockdown requirements for migration, then we will start fixing all

[2017-02-15 23:04] hovsepm opened #940 "Operation that returns paginated result should name operation id as ListXXX"
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-cdn/2016-10-02/swagger/cdn.json#L1434

swagger code.
[code]

operation ID should be changed to ListResourceUsage.

[2017-02-16 00:24] #932 closed

[2017-02-16 00:48] veronicagg commented on #940
Assigning to @hovsepm after chatting with him, since this issue should be closed once the referenced PR that he's reviewing gets merged.

[2017-02-16 01:48] johanste commented on #798
In general, using null values as semantically meaningful should be discouraged (except in PATCH operations w. content type application/merge-patch+json). My first reaction is that we should raise the issue with the service since in most cases that I've seen, the key/null value on the wire is typically handled in *exactly* the same way as a missing key/value pair (the fact that the service sits beh

[2017-02-16 04:40] brjohnstmsft commented on #798
@johanste You're making a lot of assumptions about the semantic difference between "null" and "missing" that may not hold for a data-plane service. Please keep that in mind when considering possible solutions. I'm with @fearthecowboy when it comes to making assumptions. They have a tendency to bite you later.

[2017-02-16 10:19] TianoMS commented on #711
@tjprescott The resource group name "colemick-k8s-kubie15-test000" is valid. The regex is correct too. How did you repro the  issue?

[2017-02-16 10:25] TianoMS commented on #804
@veronicagg can you provide more details? How did you get these errors?

[2017-02-16 10:27] TianoMS commented on #383
@ravbhatnagar to take a look.

[2017-02-16 16:55] begoldsm commented on #802
@veronicagg this is by design. There is no way in swagger today, that I am aware of, to differentiate methods by query parameters. Each of these paths behaves differently based on a query parameter (which then also results in different requests/responses and parameters being passed in to the call). If there is some other way to make "unique" paths that include a static query parameter, I can make

[2017-02-16 16:56] begoldsm commented on #801
@veronicagg this is by design. There is no way in swagger today, that I am aware of, to differentiate methods by query parameters. Each of these paths behaves differently based on a query parameter (which then also results in different requests/responses and parameters being passed in to the call). If there is some other way to make "unique" paths that include a static query parameter, I can make

[2017-02-16 16:57] begoldsm commented on #773
This should now be resolved with the merge of PR #917. @amarzavery or @veronicagg can you verify and close this issue (I do not have permission to do so).

[2017-02-16 16:59] begoldsm commented on #772
This issue is one where we would rather not maintain two separate objects for requests and responses, where the request requires sensitive information (password, accessKey, etc.) and the response returns the exact same object with the sensitive information missing. Thoughts on how to resolve this issue nicely @amarzavery or @veronicagg ?

[2017-02-16 17:01] lmazuel commented on #711
@TianoMS @tjprescott
Actually, the correct regexp is `^[-\w\._\(\)]+$` (dev language agnostic).
![image](https://cloud.githubusercontent.com/assets/1050156/23031583/5efd3fe8-f426-11e6-9233-8247065b5b63.png)

And JSON does not require any escaping here (IOW, no double escape is necessary to write this string in a JSON file).
If some language needs a double escaping for some reason, it should be the

[2017-02-16 17:12] lmazuel commented on #711
@TianoMS @tjprescott
My mistake, yes the correct regexp is `^[-\w\._\(\)]+$`, but JSON **does** require escaping of `\`, so it has to be written in the JSON file:
`^[-\\w\\._\\(\\)]+$`

So sorry @tjprescott , seems to me too it's correct in the Swagger :(

[2017-02-16 17:18] lmazuel commented on #711
@tjprescott your regexp is correctly unescaped in Python:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-resource/azure/mgmt/resource/resources/operations/deployments_operations.py#L217

And:
![image](https://cloud.githubusercontent.com/assets/1050156/23032309/c932b0a8-f428-11e6-9f78-7b9f2d118ff2.png)

I don't deny your issue, maybe we should look in the Python side and close

[2017-02-16 20:15] naveedaz commented on #880
We currently do not have separate specs for either.
1. Azure WebJobs are KUDU functionality. We are currently evaluating either KUDU specific swagger spec or exposing first level APIs in the management surface.
2. Azure functions are built on top of App Service so functions for the most part can be managed with the current management APIs. We do not have any solid plans of exposing functions speci

[2017-02-17 21:08] nathannfan commented on #798
Just chiming in with an outside Swagger development perspective - it would be really helpful to be able to suppress these null errors in example validation. Validate-example should accept valid examples.  Valid examples should accurately represent what an ARM API returns, and many APIs are returning nulls.

I understand it may be helpful the first time the error appears in pointing out a potential

[2017-02-17 22:05] gucalder commented on #890
This is resolved now with the new Monitor folder.
I removed the Channels from the spec since it currently has no meaning. With time it became irrelevant for us.

[2017-02-17 22:44] gucalder commented on #887
Actions is not required. It is possible to have an alert rule without actions.
Condition is required. I am fixing this in the monitor folder as we intend to deprecate the insights folder at some point in time.

[2017-02-17 22:48] gucalder commented on #887
BTW: The referred documentation is the previous version, not the version auto generated from the spec. That documentation was manually created, it will probably have some bugs like the one in "required Actions."

[2017-02-17 22:57] gucalder commented on #803
This is resolved in both insights and monitor folders. The extra (unused) parameter subId has been removed.

[2017-02-18 00:05] johnkemnetz commented on #803
@kirthik can you close this since it is now resolved?

[2017-02-18 00:05] johnkemnetz commented on #887
@kirthik can you close this since it is being fixed in the new folder?

[2017-02-18 00:05] johnkemnetz commented on #890
@kirthik can you close this since it is now resolved?

[2017-02-18 00:45] hovsepm commented on #940
Fixed and merged in swagger.

[2017-02-18 00:45] #940 closed

[2017-02-19 23:42] #890 closed

[2017-02-19 23:44] kirthik commented on #887
@gucalder and @johnkemnetz : please link this bug in the commit id. That should automatically close the bug when commit is merged. If it is already merged, please provide it here, I will close the bug then.

[2017-02-19 23:45] kirthik commented on #803
@gucalder : Can you please provide the commit id? That will make it easier to track

[2017-02-21 18:56] matthchr commented on #515
This issue is quite old and we already went through this exercise with @anudeepsharma.

**Responses inline:**
1. SynchronizeAutoStorageKeys -> SyncAutoStorageKeys [As this is in Rest APIs, or change rest apis]
  a. We don't feel the need to match exactly the REST API verbiage especially when it is abbreviated**
2. RegenerateKey -> RegenerateKeys [As this is in Rest APIs]
  a. We don't feel the nee

[2017-02-21 18:56] matthchr commented on #515
@kirthik I think we can close this, as all of the issues were discussed and either resolved or deferred.

[2017-02-23 23:53] hovsepm opened #961 "Monitor swagger errors"
Resource type definition should have name as readOnly property (see [swagger checklist](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/swagger-checklist.md)

should be fixed in:
\arm-monitor\2016-03-01\swagger\logProfiles_API.json#L192
\arm-monitor\2016-03-01\swagger\alertRules_API.json#L660
\arm-monitor\2015-04-01\swagger\autoscale_API.json#L751
\arm-monitor\2015-07-01\sw

[2017-02-23 23:57] hovsepm opened #962 "Service Bus swagger errors"
as mentioned here - https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/swagger-checklist.md

/arm-servicebus/2015-08-01/swagger/servicebus.json#L44
•	Operation should be named List and not ListBySubscription

Body parameter and the response MUST be the same for a PUT operation
•	/arm-servicebus/2015-08-01/swagger/servicebus.json#L109
•	/arm-servicebus/2015-08-01/swagger/servic

[2017-02-24 00:01] hovsepm opened #963 "Document DB swagger errors"
As mentioned here https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/swagger-checklist.md#naming---swagger-checklist

•	M1006: ✅ PUT operations MUST use the METHOD Name "Create"
•	M1007: ✅ PATCH operations MUST use the METHOD Name "Update"
Please fix here /arm-documentdb/2015-04-08/swagger/documentdb.json#L68 and here /arm-documentdb/2015-04-08/swagger/documentdb.json#L107 . W

[2017-02-24 02:06] veronicagg opened #964 "CI for this repo should fail if AutoRest code generation fails for .Net SDK"
Here's a case where linter check actually reported a fatal code generation error: https://travis-ci.org/Azure/azure-rest-api-specs/builds/204814218
CI is showing green, but pure code generation (without involving linter checks) is failing, we should be blocking PRs on this.
I would recommend trying to generate at least .Net.

[2017-02-24 17:24] huguesv opened #965 "[Compute] Missing support for 'Standard_Fx' VM sizes"
The following VM size types from class 'VirtualMachineSizeTypes':
"Standard_F1"
"Standard_F2"
"Standard_F4"
"Standard_F8"
"Standard_F16"
"Standard_F1s"
"Standard_F2s"
"Standard_F4s"
"Standard_F8s"
"Standard_F16s"
"Standard_H8"
"Standard_H16"
"Standard_H8m"
"Standard_H16m"
"Standard_H16r"
"Standard_H16mr"
"Standard_L4s"
"Standard_L8s"
"Standard_L16s"
"Standard_L32s"
"Standard_NV6"
"Standard_NV12"
"

[2017-02-24 18:03] olydis commented on #65
@vivsriaus Assuming you are talking about https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/Resource/Microsoft.Azure.Management.ResourceManager/Generated/ResourcesOperationsExtensions.cs#L312, I think this got resolved since you posted this issue, correct? :-)

[2017-02-24 23:48] vivsriaus opened #969 "[ARM] Add expand OData to get resource group api"
$expand should support createdTime and changedTime for resource groups. No reason why we shouldn't include this in our spec.

[2017-02-25 20:56] anuchandy opened #971 "[Need clarification] Constraints for global parameters in spec"
There are few swagger specs where constraints for global parameters are defined

e.g. [event-hub](https://github.com/v-Ajnava/azure-rest-api-specs/blob/59ed43fc1e362a79bdf7a304178f25b9640000a9/arm-eventhub/2015-08-01/swagger/EventHub.json#L1394)

[code]

Whats our take on this? since this is not a service specific param but ARM level, shouldn't we recommend not to specify constraints for ARM level

[2017-02-25 21:00] amarzavery commented on #971
This will be solved very soon with common-definitions. @ravbhatnagar has a [PR in the private repo](https://github.com/Azure/azure-rest-api-specs-pr/pull/40) that solves some aspects of it. Gaurav, this is a prime reason why we should describe common parameters like subscriptionId, resourceGroupName, tenantId, etc. in the common-definitions json file.

[2017-02-25 21:27] anuchandy commented on #971
Thanks @amarzavery.

For others going through this issue, refer Amar's comment here https://github.com/Azure/azure-rest-api-specs-pr/pull/40/files/0ba36a87da01f90d9009aa4c36558647901f6b23#diff-6d2e562c0905180644866bfe3dcbccca about including resource group, subscription global params in common-types.

[2017-02-25 21:29] amarzavery commented on #971
@anuchandy - This is not ready for prime-time yet. It will be ready soon. Just wanted to let you know that something like this is being designed :).

[2017-02-27 15:59] anuchandy commented on #962
* Does service supports "text/json" payload ? if not please remove it from consumes and produces section.

* The following properties are declared as "String", from the documentation it seems they should be numeric types.

    QueueProperties::lockDuration
    QueueProperties::autoDeleteOnIdle
    QueueProperties::defaultMessageTimeToLive
    QueueProperties::duplicateDetectionHistoryTimeWindow

[2017-02-27 16:58] anuchandy commented on #962
Could you confirm that DELETE on Queue and Topic resource are instant action (non-LRO)? Namespace DELETE is defined as LRO, but same operation on Queue and Topic is defined as non-LRO, would like to ensure this is really the behavior.

[2017-02-27 20:34] sazeesha commented on #962
Yes, DELETE on Queue and Topic resource are instant action unlike namespace.

[2017-02-27 20:49] sazeesha commented on #962
@v-Ajnava we should remove "service supports "text/json" payload " from consumes and produces section.

[2017-02-27 20:58] sazeesha commented on #962
@anuchandy about questions related to TimeSpan our service supports [C#  Standard TimeSpan Format](https://msdn.microsoft.com/en-us/library/ee372286(v=vs.110).aspx) while Swagger supports only ISO8601 format. We had rolled out a change in our service to support ISO8601 but have had a major incident and we had to roll out that change.We will be supporting that with a newer API version, we plan to d

[2017-02-27 21:00] sazeesha commented on #962
@anuchandy Does SB RP return an error response with properties more than code and message?
No, so we do not need to define a new response object.

[2017-02-27 21:21] anuchandy commented on #962
@sazeesha Thank you for the clarification.

1. Can we include the TimeSpan wire format in the properties description?

2. If the user wants to disable auto delete of queue then what should be the value set to the property QueueProperties.autoDeleteOnIdle? TimeSpan.MaxValue [10675199.02:48:05.4775807], TimeSpan.Zero [00:00:00], TimeSpan.MinValue [-10675199.02:48:05.4775808] or anything else? Can we

[2017-02-27 22:12] sazeesha commented on #962
@anuchandy yes, @v-Ajnava lets put a link to [C# Standard TimeSpan Format ](https://msdn.microsoft.com/en-us/library/ee372286(v=vs.110).aspx)in the description wherever we use the TimeSpan format in the service and on the wire it can still be a string.

[2017-02-28 00:13] v-Ajnava commented on #962
@anuchandy, added a link in description as suggested by Zeeshan.

[2017-02-28 20:18] jtaubensee commented on #546
Just checked in a fix for this. Pending Azure deployment protocol, this will be deployed in a few weeks.

[2017-03-01 16:23] anuchandy commented on #962
thanks @v-Ajnava @sazeesha!. @hovsepm are you fine with closing this issue?

[2017-03-02 22:19] vishrutshah opened #982 "Provide x-ms-examples for filter usage in alert_rules and autoscale_settings"
I see that we have some x-ms-examples but It’d be great if you can provide x-ms-examples with use of “filter” for [AutoscaleSettings_ListByResourceGroup](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-monitor/2015-04-01/swagger/autoscale_API.json#L24) & [AlertRules_ListByResourceGroup](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-monitor/2016-03-01/swagger/alertRule

[2017-03-02 22:56] #961 closed

[2017-03-05 21:21] kirthik commented on #880
closing this thread since @naveedaz provided answers. @solvingJ : If you are blocked by lack of swagger specs for these services, please file a separate tracking bug.

[2017-03-05 21:21] #880 closed

[2017-03-05 21:24] kirthik commented on #711
@lmazuel : Did you get a chance to investigate this issue from Python side? Can we close this one?

[2017-03-05 21:24] kirthik commented on #804
ping @veronicagg

[2017-03-06 18:16] daviburg commented on #795
This issue should be assigned to @tonytang-microsoft-com as swagger of Logic App (Pankaj helps with the Integration Account in the same file).

[2017-03-06 18:20] daviburg opened #994 "[Logic] AutoRest Linter validation errors for operation naming on Logic App swagger"
Please assign this issue to @tonytang-microsoft-com

{
    "type": "Error",
    "code": "ListOperationNamingWarning",
    "message": "Operation ListOperations returns an array or is x-ms-pageable and should be named as *_list",
    "jsonref": "arm-logic/2016-06-01/swagger/logic.json#/paths",
    "json-path": "arm-logic/2016-06-01/swagger/logic.json#/paths",
    "id": "M1003",
    "validationCatego

[2017-03-06 18:23] daviburg opened #995 "[Logic] AutoRest Linter validation errors for ARM resource properties bag"
We need guidance at to what's the proper way to specify the ARM resource properties bag in the logic app swagger.

Multiple instances of:
{
    "type": "Error",
    "code": "ArmResourcePropertiesBag",
    "message": "Top level property names should not be repeated inside the properties bag for ARM resource \"WorkflowVersion\". Properties [properties] conflict with ARM top level properties. Please

[2017-03-06 18:25] daviburg commented on #994
These may be related to naming issues preventing the validation tool from finding the operations, or the operations may need to be added:

{
    "type": "Error",
    "code": "TrackedResourceValidation",
    "message": "Tracked Resource failing validation is: Workflow. Validation Failed: 4. \n    A Tracked Resource must have: \n    1. A Get Operation \n    2. A ListByResourceGroup operation with x-

[2017-03-06 18:27] daviburg opened #997 "[Logic] AutoRest Linter validation errors for patch operation for IA swagger"
Please assign to @pankajsn

{
    "type": "Error",
    "code": "TrackedResourcePatchOperationValidation",
    "message": "Tracked resource 'IntegrationAccountSchema' must have patch operation that at least supports the update of tags.",
    "jsonref": "arm-logic/2016-06-01/swagger/logic.json#/definitions",
    "json-path": "arm-logic/2016-06-01/swagger/logic.json#/definitions",
    "id": "M3026",

[2017-03-06 18:52] fearthecowboy commented on #995
I'm pretty sure that this is not a correct validation message.

I filed an autorest bug https://github.com/Azure/autorest/issues/1906 on this.

IFAIK you can ignore this, right @amarzavery ?

[2017-03-06 21:11] #65 closed

[2017-03-06 21:16] amarzavery commented on #995
@sarangan12, @veronicagg - I was talking about this rule in the meeting today morning. "WorkflowVersion" is supposed to have a property named "properties". Inside this properties there will be a reference to another complex object and there will be an "x-ms-client-flatten" extension.

So, flagging "properties" IMO, is not the right thing to do.

[2017-03-06 21:36] vishrutshah commented on #994
Reference Build: https://travis-ci.org/Azure/azure-rest-api-specs/jobs/208295270 to see all the linter errors.

[2017-03-06 22:15] hovsepm opened #998 "Default status code handling is missing in the Monitor specs"
according to https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/swagger-checklist.md#naming---swagger-checklist

 M2049: Every operation MUST have a "default" status code in the "responses" section. The "default" corresponds to the error returned by the operation.

please fix in all the specs.

[2017-03-06 22:33] xingwu1 opened #999 "[Batch] The account can only update auto storage property."
The only one field can be updated is auto storage. The new properties (poolAllocationMode and keyValutReference) will be rejected.

[2017-03-07 00:31] lmazuel commented on #711
@kirthik I still think there is no issue in the Swagger file and we can close this issue, but it's the call of @tjprescott

[2017-03-07 06:41] vishrutshah opened #1006 "[Monitor] Required parameters missing in logProfiles CreateOrUpdate operations"
While creating new profile if

1. I do not supply `categories ` then server throws `400: BadRequest `
[code]
2. I do not supply `retentionPolicy` then server throws `400: BadRequest `
[code]

`LogProfileProperties` model in the swagger must include `categories` & `retentionPolicy` in the required list [here](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-monitor/2016-03-01/swagger/l

[2017-03-07 20:10] #918 closed

[2017-03-09 18:21] vishrutshah opened #1017 "Azure Monitor | filters in alert-rules "list" & autoscale-settings "list" operation"
As per my conversation with @gucalder , filters are not supported for both of these operations from service side.

Assigning this issue to @gucalder.

[2017-03-09 21:10] jaredmoo opened #1018 "[SQL] Add documentation of PATCH for tracked entities"
Server, db, and elastic pool are tracked entities that all support PATCH (which is required for at least tags properties). We are getting validation warnings due to lack of documentation.

[2017-03-10 01:24] gucalder commented on #1006
Verified, both must be marked as required, since that is what the server expects.

[2017-03-10 19:11] pankajsn commented on #778
@kirthik already fixed

[2017-03-10 20:01] gucalder commented on #982
This incident does not apply any longer due to the incident #1017
I am removing the filter parameter from both calls, they are not supported anyway and any call with these values will fail.

[2017-03-10 20:20] vivlingaiah opened #1020 "[Azure Automation] validations (size, range, regexes) on properties and parameters missing"
Mentioned in PR https://github.com/Azure/azure-rest-api-specs/pull/950
Validations need to be added for user inputs for all Azure Automation resources

Example
        "parameters": [
          {
            "name": "automationAccount",
            "in": "path",
            "required": true,
            "type": "string",
			"minLength": minLength goes here,
			"maxLength": maxLength goes here,

[2017-03-10 20:28] vivlingaiah opened #1021 "[Azure Automation] Descriptions need to be corrected in all Azure Automation resources"
---
Mentioned in PR https://github.com/Azure/azure-rest-api-specs/pull/950
[Garrett] things like gets or sets.. should not be there -- instead document what the property does or how it affects things.
---
Descriptions need to corrected in all Azure Automation resources
	Examples
"family": {
           "type": "string", 
          "description": "Gets or sets the sku family." 
 },
 
   "AutomationA

[2017-03-10 20:45] veronicagg commented on #995
We're tracking the rule issue with https://github.com/Azure/autorest/issues/1967

[2017-03-10 20:46] gucalder commented on #887
Actions is actually a very special case. I'll need to walk through the code with the devs to mark this as required.
I am marking only condition for the moment, and then I'll review actions later. In some cases calls with Actions = null work as we are doing in our PowerShell cmdlets.

[2017-03-10 21:08] gucalder commented on #899
The caller in in that operation (ListTenantEvents) must have tenant level permissions. This is something the caller must discuss with ARM.

[2017-03-13 17:30] sarangan12 commented on #998
@hovsepm

Having a default response code is recommended. Usually, when a swagger file comes for a PR and when we do not find a default response code, we normally request to add a default response code. But, even in cases where there is no default response code, autorest will handle the sceario by adding the cloud exception as default error response code. So, we are enforcing this rule on a case-by

[2017-03-13 17:30] #998 closed

[2017-03-13 20:13] tjprescott opened #1027 "[AppGateway] Poor error message when SSL cert file is bad"
See: https://github.com/Azure/azure-cli/issues/2462

The service returns a Server 500 error, resulting in the SDK throwing:
[code]

The service should validate the certificate and raise an actionable exception when it is invalid.

[2017-03-13 20:48] #982 closed

[2017-03-13 23:56] yugangw-msft opened #1030 "[webapp]: remove the 'geoRegion' from the swagger"
This is a redundant field of 'location'

[2017-03-14 03:06] felixwa commented on #731
This swagger file is for managing Cognitive Services "accounts", that is, create/update/delete accounts. For using each individual Cognitive Services API (like Face, Vision etc.), you may want to use their own SDK in GitHub. And so far as I know they don't have swagger files.
Hope this clarifies the situation and can we get this issue closed?

[2017-03-14 03:08] felixwa commented on #743
@devigned, the link is dead, what exactly issue was?

[2017-03-14 04:18] felixwa commented on #767
@kirthik, you can assign this to me.
@veronicagg, could you tell me what tool you were using to scan the swagger and got these errors? And could you give me some quick hints on how to fix it?

[2017-03-14 09:34] felixwa commented on #767
@veronicagg , I guess you were using node cli.js validate-example? I get different set of errors though:

error: Found errors in validating the response with statusCode "200" for example in spec for operation "CognitiveServicesAccounts_GetProperties".:

{ code: 'RESPONSE_VALIDATION_ERROR',
  message: 'Found errors in validating the response with statusCode "200" for example in spec for operation "

[2017-03-14 15:27] devigned commented on #743
@felixwa there were swagger files for the text translation service as well as others. The issue requested the specifications be added to https://github.com/azure/azure-rest-api-specs repo rather than residing in https://github.com/MicrosoftTranslator/SwaggerFiles.

I ended up having to go to the documentation site for text translation, inspect the Dom for the page (as it was driven by swagger for

[2017-03-14 18:01] mcardosos commented on #731
@felixwa
The checked-in swagger if for managing accounts, yes. About the individual APIs there is a [swagger available](https://dev.projectoxford.ai/docs/services/56f91f2d778daf23d8ec6739/export?DocumentFormat=Swagger&ApiName=Computer%20Vision%20API%20-%20v1.0) in the link @kpfaulkner provided (there is an API definition button in the corner that includes the swagger).
We were wondering if there i

[2017-03-14 20:00] marstr opened #1035 "Data Disk Encryption not Available in Swagger"
As mentioned by @AdallomRoy in Azure/azure-sdk-for-go#566, the [current swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-04-30-preview/swagger/compute.json#L3642) for creating and updating VMs allows for encryption of the OS disk, but not the data disk. As of January 2017, that operation is supported.

Documentation for the new Data Disk encryption functionality

[2017-03-14 20:42] anuchandy commented on #1035
Encryption of a data disks and OS disk are done by installing 'encryption extension' in the VM, so if current swagger supports specifying extension for VM then encryption can be done. Regarding [this section](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2016-04-30-preview/swagger/compute.json#L3657), this is something that needs to be updated by the user after the installa

[2017-03-14 22:11] anuchandy opened #1037 "Add support for PATCH operation for the entities Queue, Topic, Subscription and SharedautorizationRule."
This https://github.com/Azure/azure-rest-api-specs/pull/1036 PR contains PATCH for namespace entity, ARM required this operation to be enabled for all top level resources.

[2017-03-14 22:13] anuchandy opened #1038 "Provide examples for service bus operations"

[2017-03-14 23:19] veronicagg commented on #767
@felixwa errors may have changed a bit, since we're actively working on the tool, feel free to look at one of the latest: https://travis-ci.org/Azure/azure-rest-api-specs/jobs/211069098#L1056

and linter validations: https://travis-ci.org/Azure/azure-rest-api-specs/jobs/211069096#L3330 (you can search for cognitiveservice specs in the log to see all failures).

[2017-03-14 23:28] veronicagg commented on #767
@felixwa I think in particular for this error: https://travis-ci.org/Azure/azure-rest-api-specs/jobs/211069098#L1056 you'd want to turn the example in this line https://github.com/Azure/azure-rest-api-specs/blob/master/arm-cognitiveservices/2016-02-01-preview/swagger/cognitiveservices.json#L223  into an object instead of surrounding it with "" (which makes it be a string, see http://swagger.io/spe

[2017-03-15 07:08] felixwa commented on #731
@mcardosos , I see but no, we don't have plan to merge them here. In fact those swagger files are **automatically generated** by Azure API Management, not maintain by us. I don't think it provides much value we put them into this repo.

[2017-03-15 07:32] felixwa commented on #743
@devigned , https://github.com/MicrosoftTranslator/SwaggerFiles is still a 404 for me but I see what you meant. I will sync up with the teams to see if we should put all individual API swagger files into this repo.

[2017-03-15 14:23] devigned commented on #743
@felixwa I expect there have been some movement of repositories in the MicrosoftTranslator GitHub org since the 116 days that have past since this was first posted. Trust me, it was there originally.

[2017-03-15 18:30] jtaubensee commented on #546
The fix for this should now be deployed globally. Please reopen the issue if necessary.

[2017-03-16 17:27] #842 closed

[2017-03-16 18:09] gucalder opened #1043 "[Monitor] Make the name attribute in AutoscaleSetting optional since it is already in the request"

[2017-03-16 19:59] kirthik commented on #995
Closing this since this is being tracked in AutoRest repository.

[2017-03-16 19:59] #995 closed

[2017-03-16 23:42] tjprescott opened #1044 "OS Disk Caching for VM/VMSS OSProfile should not support None"
According to the Compute team, VM/VMSS OS disks should not support a caching type value of None. Currently both OS and data disks using the same CachingType enum, which has three values: "None", "ReadWrite" and "ReadOnly". This should be split into two enums and the OSDiskCachingType enum should only support "ReadWrite" and "ReadOnly".

[2017-03-17 19:55] krushmike commented on #286
Is there an update on this issue?  I am running in to the same issue while trying to resize a VM using C#.

![image](https://cloud.githubusercontent.com/assets/20796792/24060388/70815f28-0b29-11e7-98d3-0037a6ce6350.png)

[2017-03-17 20:17] danielsollondon commented on #286
Hi, i have some questions, since we would like to be able to repo this issue. Can you tell us the VM config, such as extensions, managed or un managed disks? The way you have triggered this condition is just via resize through C#?

[2017-03-20 11:51] krushmike commented on #286
This was done purely via a resize operation.  The code to reproduce this issue is essentially what I have posted above, minus:

var resourceMember = typeof(VirtualMachine).GetProperty("Resources");
resourceMember.SetValue(getVM, null);

That will cause the issue.

[2017-03-21 07:16] rameshjanjyam commented on #286
how can this work around of setting "resources" to null be done in ruby? I have set the "resources" array to be empty but it didnt help. looks like it doesnt want that property to be in the api request

[2017-03-22 23:51] vishrutshah opened #1058 "[Monitor] location is not required for creating diagnostic-settings"
Based on my conversion with @johnkemnetz,

`location` is not a required argument for the diagnostic-settings create/update operation

Reference Doc: https://msdn.microsoft.com/en-us/library/azure/dn931931.aspx

**CC**
@gucalder

[2017-03-23 07:14] vishrutshah opened #1059 "[Monitor] name is not required for creating diagnostic-settings"
Is `name` a required argument for the diagnostic-settings create/update operation

Reference Doc: https://msdn.microsoft.com/en-us/library/azure/dn931931.aspx

**CC**
@gucalder / @johnkemnetz

[2017-03-23 07:17] vishrutshah commented on #1059
Creating service diagnostics settings with name doesn't reflect on the result:

[code]

[2017-03-23 18:28] solankisamir opened #1060 "[ApiManagement] Changes to REST API for Apim Deployments"
In releasing the new version of API, we need to take care of updating the following properties.

- ERROR: Property named: "staticIPs", for definition: "AdditionalRegion" must follow camelCase style. Example: "staticIps".
- ERROR: Property named: "staticIPs", for definition: "ApiManagementServiceProperties" must follow camelCase style. Example: "staticIps".
- ERROR: Property named: "redirect_uri",

[2017-03-23 22:53] hovsepm opened #1062 "AutoscaleProfile ScaleRule should have a name/Id property which should be unique inside an AutoscaleProfile"

[2017-03-24 01:09] solankisamir opened #1066 "Delete composite file apimanagement-all.json from Doc team support Cross-Ref"
We need to remove apimanagement-all.json once cross referencing support is ready with doc team.

[2017-03-24 18:01] begoldsm commented on #772
ping on this @amarzavery. Please let me know once there is a good recommendation for solving this issue without requiring the definition of multiple objects. Cascading inheritance might be a good candidate in this case, but let me know if you have other ideas.

[2017-03-24 18:02] begoldsm commented on #773
@amarzavery and @veronicagg please verify and close this.

[2017-03-24 18:04] begoldsm commented on #801
@veronicagg please close this, we are not going to fix the 2015-10-01-preview swagger API as we have moved on to the latest 2016-11-01. I have a PR out to remove all of our preview swagger specs now.

[2017-03-24 18:42] begoldsm commented on #802
@veronicagg @amarzavery friendly ping on this. What is the plan for addressing this type of issue where path uniqueness is defined by a static query parameter and not by the URI itself?

[2017-03-25 20:43] RandalliLama opened #1069 "KeyVault swagger file needs to be updated with secret backup permissions."
Azure/azure-cli#2587

Some keyvault SDKs choke on the new secret backup and restore permission as it does not appear in the swagger file.

[2017-03-26 05:03] amarzavery opened #1070 "Current Automation swagger spec has inconsistency in defining pageable extension for AutomationAccounts_ListBySubscriptionId and AutomationAccounts_ListByResourceGroup"
- [AutomationAccounts_ListBySubscriptionId](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-automation/2015-10-31/swagger/account.json#L289) has
[code]

and

- [AutomationAccounts_ListByResourceGroup](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-automation/2015-10-31/swagger/account.json#L217) has
[code]

which is inconsistent. ListBySubscriptionId is at a bigger sco

[2017-03-26 05:15] amarzavery opened #1071 "Difference in externalDocs description causes Autorest to fail while generating composite client."
[doc1](https://github.com/Azure/azure-rest-api-specs/blob/dde5294811c862dda262732f348d181846c944f5/arm-apimanagement/2016-10-10/swagger/apimopenidconnectproviders.json#L9) & [doc2](https://github.com/Azure/azure-rest-api-specs/blob/dde5294811c862dda262732f348d181846c944f5/arm-apimanagement/2016-10-10/swagger/apimbackends.json#L9)

Composite Swagger is a mechanism to compose/package multiple swagge

[2017-03-26 12:46] solankisamir commented on #1071
Since these are separate entities in API Management, we wanted our documentation to be like [doc1](https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-backend-entity) and [doc2](https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-authorization-server-entity)

[2017-03-28 10:30] lstolyarov commented on #938
Hello,

I have also seen similar bugs in the API. I believe there are more instances that need to be inspected as they are returning Integer values instead of their respective Enum types. The additional list to the above is:

- ManagedPipelineMode
- SiteLoadBalancing

I also have a fork of the SDK which you can use for reference https://github.com/lstolyarov/azure-sdk-for-go.

Thanks.

[2017-03-29 18:24] dsgouda commented on #1071
Will take a look and respond soon, apologize for the delay.

[2017-03-29 21:35] tjprescott opened #1080 "[KeyVault] Incorrect help text for key create parameter key_size"
https://github.com/Azure/azure-rest-api-specs/blob/master/keyvault/2016-10-01/swagger/keyvault.json#L2544

If a key size of 1024 isn't supported, it shouldn't be in the help text.

See:
https://github.com/Azure/azure-cli/issues/2613

[2017-03-30 01:20] amarzavery commented on #1070
https://github.com/Azure/azure-rest-api-specs/pull/1081

[2017-03-30 01:20] #1070 closed

[2017-03-30 11:44] xtomas opened #1082 "ServiceBus queues with virtual path in name"
When queue's name property contains slash (virtual path), rest api GET call for this queue always fails.

[code]
[code]

Related problem is non functional queue detail in Azure portal and non functional servicebus templating.

Problem is easy reproducable:
1. create queue with name **desk/incoming**
2. in azure portal open blade for this queue detail, or use Get-AzureRmResource to call rest api

[2017-03-30 19:30] naveedaz commented on #938
This was fixed on the service end a while ago. The GO SDK needs to be regenerated with the latest swagger. The Azure SDK team is working on that.

[2017-03-30 20:29] veronicagg opened #1084 "[Swagger validation] CI script runs validation on json files that are not swagger specs"
Some services would like to separate definitions of models in additional files, and then refer to those from the swagger file. CI is currently running on these definition files, applying the rules, model and semantic validation and reporting the failures.
I believe we want this type of "definition" files to exist, if so, our CI script should not run for those files. I'd expect the content of the f

[2017-03-30 21:32] dsgouda commented on #1071
So it seems like any top level property (externalDocs/info) objects would cause the same issue, which happens [here](https://github.com/Azure/autorest/blob/48accb15598ac478cf4cc751be5ec452a52c9c46/src/core/AutoRest.Core/Parsing/YamlExtensions.cs#L131) @fearthecowboy any thoughts on how we should merge such top level property objects

[2017-03-30 21:36] fearthecowboy commented on #1071
The trouble is, what is the expected behavior?

You can't possibly merge them; in the composed swagger document there can only be one.

[2017-03-30 21:48] brjohnstmsft opened #1085 "Search: Some Swagger specs are not linter-compliant or complete"
## Summary

Currently Azure Search has three Swagger specs per API version:

- **arm-search/.../search.json**: This is the spec for the Azure Search Management REST API (a.k.a. -- control plane), exposed through ARM.
- **search/.../searchservice.json**: This is one of the specs for the Azure Search Service REST API (a.k.a. -- data plane), exposed as a distinct endpoint with its own DNS name for ea

[2017-03-30 21:49] brjohnstmsft commented on #1085
FYI @vishrutshah

At this time we have no ETA for the above changes.

[2017-03-30 22:10] dsgouda commented on #1071
@solankisamir CompositeSwagger is a functionality that simply merges individual semantically similar swagger specs under the hood before generating the client. We ensure top level properties are the same to ensure this. The best solution here would be to have externalDocs point to both the links you have mentioned in all of the swagger specs so the top level properties look exactly the same.
P.S.:

[2017-03-31 23:47] vivlingaiah opened #1091 "[Azure Automation] Service returns null values for few resources. validation of x-ms-examples fails."
Few of the operations for the below resources return null values in response objects due to which validation of x-ms-examples fail. Please refer attached file for detailed error messages
[ServerSideIssues.docx](https://github.com/Azure/azure-rest-api-specs/files/887168/ServerSideIssues.docx)

1. Connections
2. Compilation Jobs
3. DSC Configuration
4. DSC Nodes
5. Job Schedules
6. Automation Accoun

[2017-04-03 15:53] xtomas commented on #1082
Same problem occurs when calling rest api for topics with virtual path in name: mynamespace/desk/incomingtopic

[2017-04-03 19:46] vivlingaiah commented on #1091
9. Jobs as well. Re attached complete list
[ServerSideIssues.docx](https://github.com/Azure/azure-rest-api-specs/files/891192/ServerSideIssues.docx)

[2017-04-03 22:56] tjprescott opened #1093 "Generate VPN Client Package"
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2017-03-01/swagger/virtualNetworkGateway.json#L262

According to the Swagger, this should return the URL to a client VPN package. However, at least in Python, the autorest generated SDK call simply returns an array of four bytes. It has been suggested that this entry is missing "x-ms-long-running-operation" metadata.

[2017-04-03 22:56] tjprescott commented on #1093
cc/ @lmazuel fyi

[2017-04-04 18:44] salameer commented on #1093
@DeepakRajendranMsft  Kindly take a look or assign it to the right owner to review

[2017-04-04 18:45] DeepakRajendranMsft commented on #1093
@Nilambari

[2017-04-04 18:51] salameer commented on #1082
Hi @dsouzaarun ,

Can you kindly take a look here or assign it to the right person to review?

Thanks,

Samer

[2017-04-04 18:58] salameer commented on #1080
@pomortaz, kindly look into this issue or assign it to the right person for review and investigation

[2017-04-04 23:55] colemickens commented on #870
I haven't tested this e2e but I think this was resolved with #980.

[2017-04-04 23:55] #870 closed

[2017-04-05 18:02] cberner commented on #895
It looks like `2017-03-30` has been released, could that be added? We're still blocked on using Scale Sets because the custom_data field can't be modified under the `2016-04-30-preview` API version.

[code]

[2017-04-06 00:22] matt1883 opened #1101 "HDInsight swagger validation errors"
The swagger spec describing the REST API for HDInsight (api-version 2015-03-01-preview, PR #1076) has the following list of generation errors.

These cannot be fixed without making breaking, service-side changes or releasing a new api-version.

The next api-version for the service will have these issues resolved and is expected later this year.

[code]

[2017-04-11 16:23] sarangan12 commented on #1066
I had an offline discussion with @solankisamir No actions required from my side. @solankisamir will submit a PR once the issues with the docs team is resolved. Reassigning this issue to him

[2017-04-11 22:47] #938 closed

[2017-04-11 22:52] kirthik commented on #841
Closing since this was fixed on the service side.

[2017-04-11 23:10] tombuildsstuff commented on #841
Thanks @kirthik :)

[2017-04-12 02:23] kirthik commented on #476
Automation API is checked in - https://github.com/Azure/azure-rest-api-specs/tree/master/arm-automation/2015-10-31

[2017-04-12 02:23] #476 closed

[2017-04-12 04:04] felixwa commented on #767
@veronicagg , this issue has been fixed with the new version (2017-04-18) of swagger file. Can you close this one or you need me to fix the old version too (2016-02-01-preview)?

[2017-04-12 18:12] veronicagg commented on #767
@felixwa sounds good, thanks!

[2017-04-12 18:12] #767 closed

[2017-04-12 20:45] tjprescott opened #1115 "VNet/Local Gateway BGP Peering Address should be ReadOnly"
As reported by @aanandr, the BGP peering address is set by the service and is not intended to be altered externally. If that is the case, the swagger spec should be updated to reflect that this property is ReadOnly.

[2017-04-12 23:36] salameer commented on #1115
Captain @DeepakRajendranMsft  would you kindly help us triage this to the right folks?

[2017-04-14 18:55] mcardosos opened #1124 "[Network] Weird use for status code 429"
Related to https://github.com/Azure/azure-sdk-for-go/issues/588
When creating or updating subnets, it can happen that the API return status code 429 and a message clarifying that this is a retryable error, (unlike the normal use of 429 which means to many requests).
My guess is that doing the very same request later, it will succeed.
Still, it would be weird to include status code 429 as a valid c

[2017-04-16 01:26] solankisamir commented on #1071
@amarzavery can you close this issue after verifying

[2017-04-17 18:34] balajikris opened #1128 "Linter errors in arm-sql spec that needs to be fixed"
See https://github.com/Azure/azure-rest-api-specs/pull/1107#issuecomment-294552722

1.  _ERROR: Please provide x-ms-examples describing minimum/maximum property set for response/request payloads for operations.
        Path: file:///C:/workspace/azure-rest-api-specs/arm-sql/compositeSql.json#/paths_

1.  _ERROR: The tracked resource, 'Database', must have a list by resource group operation.

[2017-04-17 18:37] balajikris commented on #1128
/cc: @kirthik

[2017-04-17 21:07] brywang-msft opened #1129 "$top query parameter in /subscriptions/{id}/providers doesn't seem to be respected"
GET https://management.azure.com/subscriptions/{id}/providers?api-version=2015-11-01

and

GET https://management.azure.com/subscriptions/{id}/providers?$top=10&api-version=2015-11-01

appear to return the same results.

Spec appears to support the $top parameter. Not sure if this is expected behavior or not.

[2017-04-18 01:23] vishrutshah commented on #1129
@brywang-msft Please add the link to the spec and operation your are using for infomration. Thanks

[2017-04-18 01:32] brywang-msft commented on #1129
Spec is this one: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-resources/resources/2015-11-01/swagger/resources.json

Path is: /subscriptions/{subscriptionId}/providers

Additional headers in request:
"Content-Type": "application/json"
"Authorization": {usual stuff}
"x-ms-client-request-id": "61409ee5-c14c-418d-9dcb-af9617f4db81"
"accept-language": "en-US"

[2017-04-18 04:26] vishrutshah commented on #1129
**cc:** @TianoMS

[2017-04-18 21:43] vishrutshah opened #1133 "[Automation] Correct the provided x-ms-examples"
Here is the sample issues for "account.json"

[code]

Please run this against all the swagger spec and correct the examples. Thanks

Reference PR https://github.com/Azure/azure-rest-api-specs/pull/1045 with the travis build https://travis-ci.org/Azure/azure-rest-api-specs/jobs/219461491

[2017-04-19 17:19] mcardosos commented on #1124
@ritwikbasu What do you think?

[2017-04-19 17:20] mcardosos commented on #1124
@jobatzil what do you think?

[2017-04-19 21:50] vishrutshah opened #1141 "[arm-storage] Linter Issues to be resolved"
Here are the linter issues discovered from the PR https://github.com/Azure/azure-rest-api-specs/pull/1120 which was not related to that PR. Opening this issue for the storage team to act upon.

[code]

Thanks,

[2017-04-20 03:48] #1059 closed

[2017-04-20 23:45] mcardosos opened #1146 "List subs does not include tenant ID"
Related: https://github.com/Azure/azure-sdk-for-go/issues/592
Question for the service team. Is this call always supposed to return tenantIDs? If it is not I think it is better if we remove it from the swagger.
@tfitzmac @vivsriaus

[2017-04-21 19:34] awesley commented on #286
This exception can be reproduced in another scenario.  It appears that any VirtualMachine object that has a non-null value for Resources will produce it.  E.g.

`
var vm = new VirtualMachine(
                location,
                null,
                vmName,
                null,
                null,
                null,
                new HardwareProfile(vmSize),
                new Stora

[2017-04-24 09:19] tombuildsstuff opened #1152 "[Redis] Updating Tags is broken 😢"
:wave: hey folks!

I realise this may not be the best place to file this issue (sorry!), but I'm unsure where I should be filing this kind of issue.

An [issue's been opened on the Terraform repo about being unable to update Tags for a Redis instance](https://github.com/hashicorp/terraform/issues/13892).

This is supported in both the API and the Azure SDK for Go - however when making changes to t

[2017-04-24 09:43] tombuildsstuff commented on #1152
@StephenWeatherford / @whiskeyjay / @marstr / @colemickens sorry to ask, but would one of you mind pointing a member of the Redis team at this issue? Thanks! :)

[2017-04-24 12:00] amarzavery commented on #1152
@TimLovellSmith from the Redis Cache team and @ravbhatnagar  from the ARM team should be able to help us in this issue.

[2017-04-24 12:13] tombuildsstuff commented on #1152
Thanks @amarzavery :)

[2017-04-24 17:30] tjprescott opened #1153 "[KeyVault] Certificate Attributes should be read-only"
https://github.com/Azure/azure-rest-api-specs/blob/master/keyvault/2016-10-01/swagger/keyvault.json#L2056

Currently, only created and updated are marked as read-only for certificate attributes. However, expires and not-before are also read only, but not marked as such.

[2017-04-25 17:51] #1146 closed

[2017-04-26 19:04] #1066 closed

[2017-04-28 11:08] tombuildsstuff opened #1172 "[Container Service]: Support for Clusters on the Internal Network"
👋 hey folks

An [issue's been raised on the Terraform repo to add support for Container Service instances on an Internal Network](https://github.com/hashicorp/terraform/issues/14062).

I've taken a look and I can't see this functionality exposed in the Azure SDK for Go, which is generated from API version `2017-01-31` - would it be possible to update the Swagger to add support for this?

Thanks! :

[2017-04-28 11:24] tombuildsstuff commented on #835
@brendandburns @kirthik @anudeepsharma 👋 is there any update on this? From what I can see, currently this functionality is broken :(

[2017-05-01 17:23] v-iam opened #1178 ""Orchestrator" misspelled in "ContainerServiceOchestratorTypes""
As mentioned in the title, `ContainerServiceOchestratorTypes` has a misspelling: the first "r" is missing in `Orchestrator`.

The offending line:
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2017-01-31/swagger/containerService.json#L298

[2017-05-02 19:08] jhendrixMSFT commented on #1124
Any update here?  This resulted in a real customer issue in the Go SDK .  We were able to prescribe a workaround however we'd like to understand if this is a best practice.

[2017-05-02 23:13] mcardosos commented on #1124
poke @amarzavery

[2017-05-03 17:21] tombuildsstuff commented on #1152
@TimLovellSmith 👋 sorry to pester, any idea of a rough timeframe for this?

[2017-05-04 17:28] sergey-shandar commented on #1129
@TianoMS do you know much about how the service should behave?

[2017-05-04 21:09] veronicagg commented on #1153
@pomortaz feel free to reassign, if you're not the right person from Key Vault team to help fix this issue.

[2017-05-04 21:14] pomortaz commented on #1153
@veronicagg I don't have permission to assign issues. Please assign this to @RandalliLama

[2017-05-04 23:20] jianghaolu opened #1191 "[ManagedApplications] Fix validation errors in examples"
[code]
error: Found errors in validating the response with statusCode "200" for x-ms-example "Get an appliance" in operation "Appliances_Get".:
code: 'RESPONSE_VALIDATION_ERROR',
  message: 'Found errors in validating the response with statusCode "200" for x-ms-example "Get an appliance" in operation "Appliances_Get".',
  innerErrors:
   [ { code: 'INVALID_RESPONSE_BODY',
       errors:
        [

[2017-05-05 13:08] #841 closed

[2017-05-06 01:14] mcardosos opened #1197 "Pageable next link"
In the Graph swagger, lets take this operation as example...
[code]
Something cool to see here would be a relation between the `nextLink` parameter, and `odata.nextLink` from x-ms-pageable. Right now, to use this pageable operations, you have to guess that whatever comes in `odata.nextLink` goes into `nextLink`. Linking this two things (and making AutoRest cooperate) could produce easier to use SD

[2017-05-08 16:29] lmazuel commented on #1197
That's a good point. Note to add points in the discussion that currently in Python we assume that if the initial operation has "operationName", then the parameter is called "nextLink" (https://github.com/Azure/autorest/pull/1420). This allowed us to generate correctly this specific client. Would be better to have an explicit relation, more than an assumption
@fearthecowboy @olydis

[2017-05-08 17:49] olydis commented on #1197
maybe that's actually something OpenAPI 3.0 can model (like, without `x-ms-` stuff or funny assumptions). 🙂

[2017-05-08 18:56] TimLovellSmith commented on #1152
@tombuildsstuff  @amarzavery  Hi, thanks for reporting the issue, there's indeed a bug here. We will fix this in our next server update.

[2017-05-09 06:12] JatinKinraAis opened #1204 "Virtual Machine Size Model (concern for few properties)"
Hi,

The current API does not provide few properties for VM Size.
Currently, 'name', 'number_of_cores', 'os_disk_size_in_mb', 'resource_disk_size_in_mb', 'memory_in_mb', 'max_data_disk_count' is being provided.

Required properties -
1 - Id
2 - Family / Class
3 - size of root disk
4 - Something similar to "size_ephemeral_disks" and "num_ephemeral_disks" in AWS.

Can you please provide us with a wa

[2017-05-09 17:15] gucalder opened #1206 "[Monitor] RetentionPolicy in logProfiles_API is missing a "minimum" tag."
**NOTE: This issue has no effect during C# code generation**.
The issue was detected during _Node.js_ code generation where it clashes with the RetentionPolicy declared (with a _minimum = 0_) in serviceDiagnosticsSetting_API.

[2017-05-09 17:20] gucalder opened #1207 "[Monitor] Add PATCH operations to the APIs where they are already implemented."
This is just for compliance.
Some of the APIs already have PATCH operations implemented, just not specified. These operations can be easily added to the Swagger spec since they do not require any change to the backend and they do not break any user of the SDKs.

[2017-05-09 17:23] gucalder commented on #1043
This issue is already done, name attribute in AutoscaleSetting is already optional in the spec and the backend.

[2017-05-09 17:36] gucalder commented on #803
The commit for this specific file is #efed63280648eebdec8be513470cd6c23783efb6 from 2017-02-16.

[2017-05-09 21:25] mcardosos opened #1210 "[Intune] Paged operation does not return an array"
[GetMAMStatuses](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-intune/2015-01-14-preview/swagger/intune.json#L1498) returns a [StatusesDefault](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-intune/2015-01-14-preview/swagger/intune.json#L2312) which does not contain an array.
cc @vrmurthy01 @olydis

[2017-05-09 23:56] tjprescott opened #1211 "[Monitor] AlertRuleOperation.get does not return "operator""
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-monitor/2016-03-01/swagger/alertRules_API.json#L496

According to the Swagger, the GET operation should return the AlertRuleResource object and its properties. However, when I have a rule with a Metric data source and threshold rule condition, the "operator" is not returned in the GET response.

If I look at the rule in the Portal I can

[2017-05-10 17:52] olydis commented on #1211
Thanks @tjprescott!

@gucalder Please take a look at the above. Feel free to reassign to whoever knows best about this, I just saw that you changed given Swagger lately. 🙂

[2017-05-10 17:57] tjprescott commented on #1211
Also, because of this, you cannot GET an alert object and then PUT it back because (at least in Python) you'll get an error that "Parameter 'ThresholdRuleCondition.operator' can not be None."

[2017-05-10 19:07] gucalder commented on #1211
Since this is a problem detected in Python it would be good that @lmazuel, who wrote the Python SDK and commands, also investigates this.
The spec states that threshold and operator are required in ThresholdRuleCondition, so they should be in the response and it must be GreaterThan, GreaterThanOrEqual, LessThan, or LessThanOrEqual.
I am checking the .Net SDK and the response from our servers as pa

[2017-05-10 19:11] tjprescott commented on #1211
I verified with a Fiddler trace that the server was indeed not returning this field, which is why the Python SDK deserializes it into null.

[2017-05-10 19:22] gucalder commented on #1211
Yeap, I just checked that. It looks like a bug in the backend.
I'll let our dev know about this.
Thanks.

[2017-05-10 19:28] kirthik commented on #1124
@DeepakRajendranMsft - Could you please take a look at this issue?

[2017-05-11 08:31] tinspu opened #1218 "Intune arm api throws Exception"
Api call to this
`https://management.azure.com/subscriptions/<subscription_id>/providers/Microsoft.Intune/locations?api-version=2015-01-14-preview`
returns :
[code]

but when i make a call
`https://management.azure.com/subscriptions/<subcrition_id>/providers/Microsoft.Intune/locations/fef.msua01/apps?api-version=2015-01-14-preview`

i get:
[code]

[2017-05-11 08:56] tinspu opened #1219 "[Intune] api call to send threat data to Intune"
i can't find any api call on the specs to send threat data to intune,

I have an app registered on azure portal with permissions to send threat data to intune.

i.e. APPLICATION PERMISSIONS
- Send and receive device telecom and Wi-Fi data usage information with Microsoft Intune
- Send device threat information to Microsoft Intune
- Get device state and compliance information from Microsoft Intune

[2017-05-11 17:42] #1035 closed

[2017-05-11 17:44] marstr commented on #1035
I'm closing this issue out, because after spending a couple of weeks digging into this, it has become clear that this is not a deficiency with the swagger. The Service Team really does not accept encrypted data disks as they come across the wire here. Rather, the only way to accomplish this is the Azure Disk Encryption Extension that @anuchandy mentions above. As he says, it is not straight forwar

[2017-05-11 20:44] tjprescott opened #1220 "[Network] NIC CreateOrUpdate does not work for updates"
https://github.com/Azure/azure-rest-api-specs/blame/master/arm-network/2016-09-01/swagger/networkInterface.json#L176

According to swagger, this operation is long running. However, 202 is not listed as an acceptable response. Furthermore, I get the following bizarre behavior, as described in https://github.com/Azure/azure-cli/issues/3330

If I create a NIC, my initial response is a 201.  The opera

[2017-05-11 20:46] mikeblakeuk opened #1221 "Please provided a Swagger for Azure Data Factories"
If the spec (swagger.json) existed for the Data Factories API, we could regenerate the .net NuGet Package and remove the old Build.Bcl and Hyak references
https://github.com/Azure/azure-sdk-for-net/issues/3031

[2017-05-12 21:33] balajikris commented on #1218
@vrmurthy01 - From github history of the swagger, I see you've made most changes to `Microsoft.Intune`. Would you know who should be the right person to be assigned for this bug?

[2017-05-16 00:28] olydis commented on #1211
@gucalder Thanks for verifying! Please let us know when there is any update on this.

[2017-05-16 05:00] kirthik commented on #1221
@jackmagic313 - Could you please provide an ETA on when you provide a swagger in this repo?

[2017-05-16 05:22] kirthik commented on #1220
cc @DeepakRajendranMsft

[2017-05-16 13:14] tombuildsstuff opened #1233 "[Network] Eventual Consistency Bug in the Virtual Network Gateway API"
👋 Hey y'all

@pmcatominey and @dominik-lekse have been investigating adding support for Virtual Network Gateway's using the Azure SDK for Go - which has led to the PR's https://github.com/hashicorp/terraform/pull/9255 and https://github.com/hashicorp/terraform/pull/13886

Whilst adding support, they've identified an eventual consistency bug in the API where deleting a Virtual Network Gateway compl

[2017-05-16 16:15] lmazuel commented on #1220
More report of failure from Python customers :/
Please backport the fix to old ApiVersion, since we support them for AzureStack ( @johanste we agree on this one right? :))

[2017-05-16 17:17] veronicagg commented on #1233
@DeepakRajendranMsft could you please take a look and help re-route the issue as appropriate?

[2017-05-16 17:29] johanste commented on #1220
@lmazuel, oui!

[2017-05-16 18:31] vishrutshah opened #1235 "[arm-trafficmanager] Fix semantic path for api-version 2017-03-01 & 2015-11-01"
**API-Version:** 2017-03-01
**Operation:** [Profiles_CheckTrafficManagerRelativeDnsNameAvailability](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-trafficmanager/2017-03-01/swagger/trafficmanager.json#L283)
**Location:** https://github.com/Azure/azure-rest-api-specs/blob/master/arm-trafficmanager/2017-03-01/swagger/trafficmanager.json#L299
**CI Job:** https://travis-ci.org/Azure/az

[2017-05-16 18:41] vishrutshah opened #1236 "[arm-trafficmanager] Fix linter validation 2017-03-01"
PR Swagger **Modeling comments:**  https://github.com/Azure/azure-rest-api-specs/pull/1180 to be addressed.

++

**Command:** `autorest --azure-arm=true --input-file=arm-trafficmanager/2017-05-01/swagger/trafficmanager.json --message-format=json`

**Travis-CI:** https://travis-ci.org/Azure/azure-rest-api-specs/jobs/232921454#L1765

**Validation Results:**
[code]

cc:
@vladca

[2017-05-17 16:21] tjprescott commented on #1211
@gucalder I've observed that this only returns `null` when the operator is GreaterThan.  For the other cases, the value is returned.

[2017-05-17 20:37] kirthik commented on #602
Assigning to @DeepakRajendranMsft based on conversation with @huangpf , this is a Networking issue although in compute swagger.

[2017-05-17 21:29] gucalder commented on #1211
This is a backend issue: when the object is serialized, if operator is the default it is not serialized. That's why GreaterThan fails and all the others work.
We are fixing the issue.

[2017-05-17 21:36] gucalder commented on #1211
Fixing this requires no change in the spec btw.

[2017-05-17 21:41] gucalder commented on #899
No change is needed in this case. This was a permissions issue.
This incident was referenced in PR #996, but it was not closed automatically.
It can be closed now.

[2017-05-17 21:46] tjprescott commented on #1211
I realize that, but there's nowhere else to place issues for the service team :)

[2017-05-17 22:58] kirthik commented on #1043
@gucalder  - Could you please provide the commit link here? I can close it then.

[2017-05-17 22:59] #803 closed

[2017-05-17 23:00] #899 closed

[2017-05-17 23:00] #887 closed

[2017-05-18 00:56] lmazuel opened #1241 "How to get worker id of app service plan"
[According to customers, this is not possible.](https://github.com/Azure/azure-sdk-for-python/issues/1122)
If this information is in the Swagger, please tell me where so I can explain how to access it to the customer.
If it's in the RestAPI, but not in the Swagger, please take this opportunity to fix the Swagger.
If it's not even in the RestAPI, please tell me what I should answer.

FYI @yugangw-m

[2017-05-18 01:12] hyonholee commented on #148
VM extension contains id, name, type, location and tags.   Note that "required" in the spec is only applied when the object is in a request body.  For response body, it does not mean anything.  So even though "location" is set to "required" and the response body does not contain "location", it does not cause an issue.  For "PUT" operation of VM extension, this location value is required.

[2017-05-18 23:11] hyonholee commented on #1178
Resolved: https://github.com/Azure/azure-rest-api-specs/pull/1238

[2017-05-18 23:11] hyonholee commented on #965
Resolved: https://github.com/Azure/azure-rest-api-specs/pull/1238

[2017-05-22 09:08] nohyunho commented on #1241
Hi @sarangan12,
Could you share any progress?
Thanks,
yunho

[2017-05-22 23:26] sarangan12 commented on #1241
This seems like an RP issue. I have sent an email to @Nking92 and waiting for his response.

[2017-05-25 18:05] hyonholee commented on #769
Resolved: https://github.com/Azure/azure-rest-api-specs/pull/1238

[2017-05-25 18:40] vishrutshah opened #1256 "[arm-storage] Add /operations api into storage swagger before api-version 2017-06-01"
All non-breaking changes are required to be backported into older version of swagger for the Azure Stack and it's compatibility.

Please back-port non-breaking changes of https://github.com/Azure/azure-rest-api-specs/pull/1249 into previous arm-storage swaggers.
- [ ] Adding /operation api
- [ ] Adding descriptions

Thanks

[2017-05-26 21:37] hyonholee commented on #445
It is in "VirtualMachineScaleSetVMProperties".

[2017-05-26 23:49] vishrutshah commented on #445
Thanks @hyonholee for the update. Seems like issue is resolved with new swaggers. Thanks!

[2017-05-26 23:49] #445 closed

[2017-06-01 06:57] nohyunho commented on #1241
Hi @sarangan12,
Did you get a response?
yunho

[2017-06-02 07:09] jianghaolu opened #1275 "[WebApp] sync function triggers can return 200"
In https://github.com/Azure/azure-rest-api-specs/blob/master/arm-web/2016-08-01/swagger/WebApps.json#L9667 and https://github.com/Azure/azure-rest-api-specs/blob/master/arm-web/2016-08-01/swagger/WebApps.json#L10659, only 204 is listed as a possible response.

However, in live testing, we discovered that server can also return 200.

[2017-06-02 11:23] tombuildsstuff opened #1277 "[EventHubs] Consumer Groups API returns Internal Server Error"
👋 hey

Our nightly acceptance tests have identified a bug in the EventHubs Consumer Groups API - which has started returning an Internal Server Error over the past 24 hours. Our acceptance tests ran fine at 11am BST yesterday - however they failed at 5am BST this morning (and are consistently failing since) with the following error:

[code]

We use the Azure SDK for Go to call the Azure API - whic

[2017-06-02 12:25] tombuildsstuff commented on #1233
👋 hey @DeepakRajendranMsft @veronicagg - is there any update on this? :)

[2017-06-02 13:03] tombuildsstuff commented on #1152
👋 hey @TimLovellSmith - so that I can manage expectations on our end - any idea when the next server update will be? Thanks! :)

[2017-06-02 19:19] DeepakRajendranMsft commented on #1233
@nilambari @lamchester please take a look

[2017-06-02 19:39] tjprescott opened #1278 "[Network] Issues with NetworkInterface DNS Settings"
The help text for dnsServers says: "Use 'AzureProvidedDNS' to switch to azure provided DNS resolution."

However, when I actually do that, I get an error that says:
`DnsServer value AzureProvidedDNS specified for network interface nic1 is not a valid IPAddress.`

Supplying a null value results in an error as well. I have to supply an empty list to get the desired behavior.

Also, it seems that int

[2017-06-05 16:30] ideahitme opened #1281 "[Azure DNS] Batch update of record sets in DNS zone"
Hello,

From what I found RecordSet can be updated/deleted only individually (at least using go-sdk). Is there a way to create a batch request for multiple RecordSets within a DNS zone, i.e. so that a batch request will succeed, only if change for each of the RecordSet succeeds. Otherwise no changes are applied.

Thanks,

Yerken

Initially created here: https://github.com/Azure/azure-sdk-for-go/is

[2017-06-05 17:32] lmazuel opened #1282 "[GraphRbac] Missing givenName / surname in the Swagger"
We got a customer question about accessing to this information using GraphRBAC (missing ins the Swagger for the `User` definition): https://github.com/Azure/azure-sdk-for-python/issues/1202#issuecomment-306008453

The customer finds out that the RestAPI actually have givenName / surname in the JSON received from ARM, but this is not defined in the Swagger (and then not available at the SDK level).

[2017-06-05 22:31] TimLovellSmith commented on #1152
@tombuildsstuff Hey Tom, we just finished rolling the fix for the Tags issue end of last week. I hope it works for you now!

[2017-06-05 22:32] TimLovellSmith commented on #1152
@kirthik Hi, the issue should be fixed now could you resolve/close this please as I don't have the permissions!

[2017-06-05 22:45] kirthik commented on #1152
@TimLovellSmith - Could you please link to the commit id for tracking purpose?

[2017-06-05 22:48] TimLovellSmith commented on #1152
@kirthik Its fixed server side, so its not part of this repo!

[2017-06-05 22:50] #1152 closed

[2017-06-06 08:38] tombuildsstuff commented on #1152
Hey @TimLovellSmith @kirthik

Thanks for looking into this - unfortunately this still appears to be broken for me, would it be possible to take another look?

Thanks! :)

[2017-06-06 08:41] tombuildsstuff commented on #1277
Looks like a fix for this was deployed on the 2nd/3rd June
<img width="235" alt="screen shot 2017-06-06 at 09 40 38" src="https://cloud.githubusercontent.com/assets/666005/26820854/4401f7e8-4a9c-11e7-92a7-8f6aec2c3c53.png">

As such I'm closing this issue :)

[2017-06-06 08:41] #1277 closed

[2017-06-06 09:30] tombuildsstuff commented on #1124
👋 @DeepakRajendranMsft @kirthik is there any update/expected timeline to fix this? :)

[2017-06-06 16:19] TimLovellSmith commented on #1152
@tombuildsstuff @kirthik
Are you reproing this issue with the client now? It is working fine for me with Fiddler composed requests. Maybe there is also a client bug?

(Sample response for GET after doing PATCH:
`
{"id":"/subscriptions/.../resourceGroups/timallalerts/providers/Microsoft.Cache/Redis/timallalertsause","location":"Australia East","name":"timallalertsause","type":"Microsoft.Cache/Redis

[2017-06-07 18:28] olydis commented on #1211
@gucalder any update on the issue? otherwise, is there an issue on your side that we can track here and close?

[2017-06-08 07:45] tombuildsstuff commented on #1152
👋 @TimLovellSmith out of interest which API version are you using?

This is the PATCH request I'm doing through the Go SDK:

[code]

and the GET response afterwards:
[code]

Would you mind sharing the PATCH request you're doing to compare if there's a Swagger bug here too?

Thanks! :)

[2017-06-08 07:50] tombuildsstuff commented on #1172
👋 hey @kirthik / @balajikris

So that I can manage expectations at our end - is there any idea of when support for this is likely to land?

Thanks! :)

[2017-06-08 13:54] tanmaykm opened #1290 "models with both `allOf` and `properties` do not generate correctly"
Trying to generate code from the spec here: https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2017-03-30/swagger/compute.json

I find that the [VirtualMachine model](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2017-03-30/swagger/compute.json#L4568-L4597) does not generate correctly for me (and few others too). It appears as though `allOf` is overwritin

[2017-06-08 16:52] TimLovellSmith commented on #1152
@tombuildsstuff @kirthik
I see the problem with the request now - tags is supposed to be at the top level, not inside of 'properties'.

This is specified by inheritance relationship in the swagger https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-redis/2017-02-01/swagger/redis.json

[code]

(It should be the same for all api-versions.)
Tim

[2017-06-09 05:44] kirthik commented on #1071
@dsgouda - Can we close this issue?

[2017-06-09 06:26] kirthik commented on #772
@veronicagg  - Could you please help @begoldsm on how to resolve this issue?

[2017-06-09 06:28] kirthik commented on #773
@veronicagg - Could you please close the issue if this is fixed

[2017-06-09 06:28] #801 closed

[2017-06-09 06:30] kirthik commented on #802
@veronicagg - Could you please provide your thoughts on this issue

[2017-06-09 06:31] kirthik commented on #928
@begoldsm - Could you provide an update on this issue? Is it fixed?

[2017-06-09 06:36] kirthik commented on #546
@andyroyle - Closing since fix has been deployed. Please open a new issue if you see any problems

[2017-06-09 06:36] #546 closed

[2017-06-09 06:37] #962 closed

[2017-06-09 06:40] kirthik commented on #484
swagger is checked in - https://github.com/Azure/azure-rest-api-specs/tree/master/arm-hdinsight

[2017-06-09 06:40] #484 closed

[2017-06-09 06:43] kirthik commented on #713
@vishrutshah - Could you please provide what the action item here is? If resolved, please close

[2017-06-09 06:44] kirthik commented on #921
@pomortaz : Could you provide an ETA on when this would be fixed?

[2017-06-09 06:45] kirthik commented on #778
@pankajsn - Could you please provide the commit id?

[2017-06-09 06:46] kirthik commented on #795
cc @tonytang-microsoft-com

[2017-06-09 06:49] #1006 closed

[2017-06-09 06:50] #1058 closed

[2017-06-09 06:52] #1017 closed

[2017-06-09 06:55] kirthik commented on #935
@TimLovellSmith - is this issue fixed?

[2017-06-09 16:10] pomortaz commented on #921
@kirthik can you please assign it to @RandalliLama. This is out of my scope now.
@RandalliLama can you please provide an ETA for this issue?

[2017-06-09 17:44] begoldsm commented on #928
@kirthick this is not yet fixed. This is a nice to have clean up task that will result in a lot of breaking changes to subsequent releases of the sdk. This is requirement is only to make our strict swagger validation tests work so that an object that is returned doesn't have missing "required" properties.

I will sync with PM to prioritize this and reply back here with an eta

[2017-06-09 20:25] vishrutshah commented on #713
As there is not good way to model on swagger whether one of the three properties must exists, no action item can be taken on swagger from service team.

[2017-06-09 20:25] #713 closed

[2017-06-10 00:24] TimLovellSmith commented on #935
@kirthik AFAICR, no, we still don't have any newer api-version which returns message in camelCase.

[2017-06-12 16:53] dsgouda commented on #1071
Yes, we (AutoRest and linter folks) have provided a workaround for the issue.

[2017-06-12 16:53] #1071 closed

[2017-06-12 22:32] veronicagg commented on #802
@begoldsm Sorry for the super late reply, looks like I missed this thread, could you take a look at https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-paths and see if that would help?

[2017-06-12 22:34] #773 closed

[2017-06-12 22:39] veronicagg commented on #772
@kirthik We've been ignoring those errors for now from the tool, as this is an issue that needs discussion/making a decision on our side, see https://github.com/Azure/azure-rest-api-specs/issues/790

[2017-06-12 23:16] brendandburns commented on #1178
This can be closed...

[2017-06-12 23:18] brendandburns commented on #837
This is intentionally left undocumented. We use this field for occasional testing that is Microsoft specific, we don't want users to use or rely on undocumented behaviors for this field.

We should perhaps document the fact that it is undocumented better :)

[2017-06-12 23:19] brendandburns commented on #836
This issue should probably be closed, there's nothing we can really do here, unless we want to leave this open until we add SP creation to the ACS API.

[2017-06-12 23:21] brendandburns commented on #833
I think we can close this?

[2017-06-12 23:23] brendandburns commented on #630
I believe this can now be closed, [list all is in the swagger spec](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2017-01-31/swagger/containerService.json#L42)

[2017-06-12 23:25] brendandburns commented on #1172
I don't believe this is currently supported in the ACS API...  (but when it is, it will be added to our swagger too)

[2017-06-12 23:31] #1178 closed

[2017-06-13 17:49] amanohar commented on #833
Closing. Windows agents are supported with Kubernetes or Swarm orchestrator in ACS.

[2017-06-13 18:11] tombuildsstuff commented on #833
@brendandburns I believe we can - is this GA/is there an expected GA date available for this? Thanks!

[2017-06-13 18:11] #833 closed

[2017-06-13 22:18] dsgouda opened #1303 "Add documentation for the x-ms-mutability extensions"
Most x-ms extensions have been documented under the docs section of the repo, however, there is no documentation available for `x-ms-mutability`.

[2017-06-14 01:43] ravbhatnagar opened #1308 "ARM: Document the api to get the status of long running operation (Azure-AsyncOperation)"
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations#azure-asyncoperation-request-and-response

Add it to resources swagger.

[2017-06-14 01:52] ravbhatnagar commented on #711
Looks like this is not an issue. @tjprescott - please let us know if you feel otherwise and we can take a look again.

[2017-06-14 01:53] ravbhatnagar commented on #711
@kirthik  - please close the issue.

[2017-06-14 01:55] ravbhatnagar commented on #969
No customer feedback for this. We will revisit if we hear otherwise. @kirthik - please close the issue.

[2017-06-14 06:32] #711 closed

[2017-06-14 06:34] #969 closed

[2017-06-14 20:49] mcardosos opened #1309 "[MySQL] swagger plans?"
Hello!
In the Go SDK repo we received an [issue](https://github.com/Azure/azure-sdk-for-go/issues/654) for supporting MySQL. Is there a plan to get a swagger for this service?

[2017-06-15 00:56] lmazuel commented on #1309
@suna-ms to help

[2017-06-15 01:32] Suna-MS commented on #1309
The swagger is already in private repo: azure-rest-api-specs-pr/arm-rdbms. We will copy it to this public repo asap.

[2017-06-15 06:53] tombuildsstuff commented on #1309
@Suna-MS sorry to bundle on this, but could I request the `Azure DB for Postgres` Swagger gets migrated over too? Thanks :)

[2017-06-16 09:03] jaredmoo opened #1317 "RecoveryServicesBackupClient: async operations do not declare long-running, making clients harder to use"
e.g. see https://github.com/Azure/azure-rest-api-specs/blob/master/arm-recoveryservicesbackup/2016-06-01/swagger/recoveryservicesbackup.json#L362

Because the swagger does not declare x-ms-long-running-operation, generated client returns `ProtectionPolicyResource` but I'm meant to poll for completion myself using OperationResults. This is difficult to use.

[2017-06-19 06:37] tombuildsstuff opened #1324 "[CosmosDB/DocumentDB] Accounts - Swagger/Validation Bug"
:wave:

When creating a ~DocumentDB~ CosmosDB Account with the Go SDK - the `maxStalenessPrefix` and `maxIntervalInSeconds` properties are required (due to property validation) but only used when the `defaultConsistencyLevel` is set to `BoundedStaleness`.

This means when creating an Account with any other consistency level, for example `Eventual`, the `maxIntervalInSeconds` and `maxStalenessPrefi

[2017-06-19 06:41] tombuildsstuff commented on #1324
@marstr @mcardosos I'm assuming this is Swagger related, and not SDK/Generator related?

[2017-06-19 15:20] codyja commented on #1172
We could use this as well. I looked through the Azure API and docs and it didn't appear to be supported, but I see in Azure's ACS-Engine that there is the ability to generate ARM templates that allow ACS to be deployed into existing VNETs and subnets. I haven't been able to figure out what vlabs is.

[code]

https://github.com/Azure/acs-engine/blob/master/pkg/api/vlabs/types.go

[2017-06-19 17:12] marstr commented on #1324
Looking at the swagger [here](https://github.com/Azure/azure-rest-api-specs/blob/68c601d4a1fcc45f81f6bb5d2160ade962012ddf/arm-documentdb/2015-04-08/swagger/documentdb.json#L578), it seems that it's pretty clear that the validation in the Go SDK shouldn't be requiring maxStalenessPrefix or maxIntervalInSeconds at all. I'll move this issue to our repository for now.

[2017-06-19 21:25] tombuildsstuff commented on #1324
Awesome, thanks @marstr :)

[2017-06-19 22:12] marstr commented on #1324
Closing in favor of the issue above

[2017-06-19 22:12] #1324 closed

[2017-06-20 23:20] olydis commented on #1290
The Swagger you reference is perfectly valid and according to spec, I can not comment on what swagger-codegen or the custom built plugin does. The tools we use for code generation handle the Swagger correctly 🙂

[2017-06-20 23:20] #1290 closed

[2017-06-20 23:49] salameer commented on #1281
Hi @DeepakRajendranMsft,

Kindly take a look and assign to the right folks

[2017-06-21 00:17] olydis commented on #1282
@darshanhs90 could you please review the above issue? Seems like https://github.com/Azure/azure-rest-api-specs/blob/master/arm-graphrbac/1.6/swagger/graphrbac.json#L2339 is missing two properties.

[2017-06-21 09:59] tombuildsstuff commented on #1152
@TimLovellSmith so does that need a Swagger change to resolve this issue? Thanks!

[2017-06-21 11:48] jtuliani commented on #1281
This is not currently supported. It would have to be implemented deep at the service level. The best way to have this prioritized would be to gain community support for the idea. To do that, you should submit to [our feedback site](https://feedback.azure.com/forums/217313-networking/category/77466-domain-name-service-dns-traffic-manager).

[2017-06-22 21:40] marstr opened #1339 "Forced Resource Group Collocation of SQL Server and SQL Databases"
As this issue is not related to Go directly, but rather a limitation of how the service can be communicated with, I'm transferring the bug to this repository. Some relevant documentation can be found here: [Cross Resource Group Deployment](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-cross-resource-group-deployment) which suggests that forcing folks to deploy all

[2017-06-23 20:54] kirthik opened #1345 "[Annoucement] Upcoming changes in this repository"
We are planning on making some changes to azure-rest-api-specs repository on July 10th that would affect all of you.
•	Re-organizing repository structure
•	Changing the representation of composite swagger metadata

The above mentioned changes are currently in  [“reorg” branch](https://github.com/Azure/azure-rest-api-specs/tree/reorg/specification/compute/resource-manager) if you would like to take

[2017-06-26 10:05] tombuildsstuff opened #1347 "[Redis] Internal Network API Bug"
:wave: howdy!

I've been trying to add support for Redis on the Internal Subnets to Terraform.

Creating a Redis instance on an Internal Subnet works great, however there's a bug in the API when deleting it:

[code]

which returns:
[code]

Querying for the Redis Cache at this point then returns a 404:
[code]

Thus, it appears safe to delete the Subnet:
[code]

However attempting to delete the Subn

[2017-06-26 15:13] tombuildsstuff commented on #1233
Hey @DeepakRajendranMsft / @Nilambari / @lamchester

Just an FYI that I've opened a bug this morning about a similar issue with Redis on the Internal Network - which seems like it might be related: https://github.com/Azure/azure-rest-api-specs/issues/1347

Is there any update on this? :)

Thanks!

[2017-06-26 15:14] tombuildsstuff commented on #1347
Hey @sarangan12

Just an FYI that this looks similar to a previous bug with Virtual Network Gateway's, I'm wondering it's related? https://github.com/Azure/azure-rest-api-specs/issues/1233

Thanks!

[2017-06-26 17:51] tombuildsstuff opened #1348 "[Feature Request] Swagger for Azure Functions"
👋

We've had a feature request come in to add support for Azure Functions. I've taken a quick look at the Go SDK and the Swagger repository and I can't see either the SDK or the Swagger for this service, either within an App Service Plan or standalone (although I might have missed it and I'd love to be wrong 😄).

If it's not already present - would it be possible to add the Swagger for Azure Funct

[2017-06-26 21:11] markjbrown commented on #81
@amarzavery and @salameer, It makes no sense to update every instance of List or ListAll in Network. Shouldn't this be documented into overall API docs? Lots of services use List or ListAll and this behavior happens in many places. @liumichelle

[2017-06-26 21:13] markjbrown commented on #382
This is due to the $expand issue. We cannot make resource id read only. Closing.

[2017-06-26 21:17] liumichelle commented on #384
We cannot make this change because it will be a breaking change

@tjprescott - can you close this issue?

[2017-06-26 21:23] liumichelle commented on #554
@DeepakRajendranMsft to close this issue

[2017-06-26 21:24] liumichelle commented on #570
@DeepakRajendranMsft - closing this issue as it has already been discussed with Compute.

[2017-06-26 21:26] johanste commented on #570
@liumichelle, please include the result of the discussion in the issue.

[2017-06-26 21:27] markjbrown commented on #602
NRP can accept a string as well as boolean. Not sure what we would fix here. If Compute accepts both then not sure what we would do here. Can you explain? CC @DeepakRajendranMsft and @liumichelle

[2017-06-26 21:29] liumichelle commented on #755
@amitsriva - can you take a look at this please?
@DeepakRajendranMsft can you please assign this to Amit.

[2017-06-26 21:31] liumichelle commented on #781
This would cause a breaking change - we will send this to the team to consider for future releases @dilukose

[2017-06-26 21:33] liumichelle commented on #805
@ms-alguerra can you please take a look at this?

[2017-06-26 21:34] liumichelle commented on #818
@DeepakRajendranMsft - assign this to @amitsriva - can you please take a look?

[2017-06-26 21:36] liumichelle commented on #819
@DeepakRajendranMsft - assign this to @amitsriva

[2017-06-26 21:38] liumichelle commented on #850
@DeepakRajendranMsft to assign to @amitsriva

[2017-06-26 21:41] markjbrown commented on #882
We have now published docs directly from our swagger spec so this issue is now fixed. @lamchester  can you please close this issue? CC @liumichelle

[2017-06-26 21:43] liumichelle commented on #1027
@DeepakRajendranMsft to assign to @amitsriva

[2017-06-26 21:44] liumichelle commented on #1093
@DeepakRajendranMsft to assign to @amitsriva or @Nilambari @lamchester

[2017-06-26 21:45] liumichelle commented on #1115
@DeepakRajendranMsft to assign to @amitsriva

[2017-06-26 21:46] liumichelle commented on #1124
The fix for this in progress - TBD ETA

[2017-06-26 21:50] liumichelle commented on #1233
@DeepakRajendranMsft to assign to @Nilambari @lamchester

[2017-06-26 21:52] liumichelle commented on #1278
@DeepakRajendranMsft to take a look into this

[2017-06-26 21:52] liumichelle commented on #1281
@DeepakRajendranMsft to close this issue

[2017-06-26 21:59] markjbrown commented on #570
@DeepakRajendranMsft Can you provide the details from that discussion for @johanste here? thanks.

[2017-06-26 23:01] tjprescott opened #1351 "Policy assignment delete does not accept 204"
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-resources/policy/2016-12-01/swagger/policy.json#L67

Says the only valid response is 200. However, when I call this from the Python SDK, I get a 204 response (No content, which makes sense for delete) and this results in a CloudError being raised.

[2017-06-27 00:31] olydis opened #1352 "Recent composite Network spec seems to be missing a Swagger"
@akshaysngupta

Was `vmssPublicIpAddress.json` dropped from https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/compositeNetworkClient.json on purpose? Looks suspicious since vmssPublicIpAddress.json was copied to the new API version folder.

See https://github.com/Azure/azure-rest-api-specs/pull/1285

[2017-06-27 07:26] jaredmoo commented on #1339
Thanks for logging this issue. The resource group contains the server, which contains the database. Therefore a database cannot be in a different resource group than its server.

[2017-06-27 07:30] jaredmoo commented on #175
The majority of SQL operations are now documented in Swagger.

[2017-06-27 13:57] stack72 commented on #882
Thanks for the information @markjbrown

Closing this as per your recommendation now

[2017-06-27 17:00] MarkHerhold commented on #1172
@brendandburns is there a public issue tracking private network support for the container service?

[2017-06-27 17:02] marstr commented on #1339
Alright, fair enough. It may be worth documenting that somewhere. :)

Thanks for getting back to us on this. @zsims, you okay with this resolution?

[2017-06-27 18:11] schaabs commented on #1069
This permission is already in the swagger def https://github.com/Azure/azure-rest-api-specs/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L310.  The linked issue appears to be due to an out of date version of the azure-cli.

[2017-06-27 18:33] jaredmoo commented on #869
Thanks for reporting this issue. Looks like @nathannfan fixed it in commit 229323f52 .

[2017-06-27 20:14] #1069 closed

[2017-06-27 22:35] akshaysngupta commented on #1352
https://github.com/Azure/azure-rest-api-specs/pull/1353
This pull request should fix this.

[2017-06-27 22:35] olydis commented on #1352
ah perfect, thanks!

[2017-06-28 00:06] #869 closed

[2017-06-28 09:56] tombuildsstuff commented on #1152
👋 @amarzavery @TimLovellSmith given this isn't fixed and requires a Swagger update, can we re-open this issue until this is resolved please?

_related_: I thought I'd have permission to re-open an issue I created? apparently not :/

[2017-06-28 22:00] salameer commented on #1352
Resolving this as the PR has been approved

[2017-06-28 22:00] #1352 closed

[2017-06-28 22:02] hussainmuscati commented on #1241
Either the workersize or the workersizeid should provide the worker pool number. Is that now showing up ?

[2017-06-28 22:02] salameer commented on #1281
Closing this, @ideahitme kindly submit your request to the feedback site as suggested above, and we would Love to hear more feedback from you there :)

[2017-06-28 22:02] #1281 closed

[2017-06-28 22:03] salameer commented on #1278
assigned

[2017-06-28 22:06] salameer commented on #1220
Keeping this on Deepak's side

[2017-06-28 22:06] salameer commented on #1115
assigned

[2017-06-28 22:11] salameer commented on #882
Closing accroding to @markjbrown comments

[2017-06-28 22:11] #882 closed

[2017-06-28 22:14] salameer commented on #826
Keeping on Deepak's side

[2017-06-28 22:18] salameer commented on #781
@liumichelle can you  put more info on where that request would  be tracked before closing this issue?

[2017-06-28 22:45] salameer commented on #602
Hi Mark,

if the service always returns a string regardless of what it accepts then wouldn't it make sense to model it as a string?

[2017-06-28 22:47] salameer commented on #554
Hi @liumichelle,

Can you please add more description on why this is  to be resolved?

[2017-06-28 22:47] salameer commented on #386
Keeping on Deepak's side

[2017-06-28 22:51] salameer commented on #384
@tjprescott,

Not sure the benifit VS value makes sense to do these changes for these already public APIs, so I would recommend closing. BUT :) @DeepakRajendranMsft and @liumichelle  it would be great to spread awareness that for new Resource types and addition to swaggers it would be great to model as enums where appropriate :)

[2017-06-28 22:51] #384 closed

[2017-06-28 22:53] salameer commented on #382
Closing

[2017-06-28 22:53] #382 closed

[2017-06-28 23:06] salameer commented on #81
Hi @markjbrown,

The Overall microsoft or Azure APIs documentation would definitely make sense if the name of the operations actually described the behavior. the problem is that the use of the naming "List" & "List all" and the behavior of these operations is not consistent so even if we document that at an a higher level it will still be miss leading to the customers.

To sum up, what's being ask

[2017-06-28 23:35] markjbrown commented on #602
Yes, we probably should since we're already breaking the contract anyway by calling it bool but accepting string.

@DeepakRajendranMsft, does changing this to string make sense to you? Does it represent a breaking change anywhere?

[2017-06-28 23:58] markjbrown commented on #81
I see this pattern across RP's so this isn't unique to Networking. Is this something that is standardized across other RP's as well?

[2017-06-29 17:19] marstr opened #1361 "Managed Disk"
Below is the api spec:
https://docs.microsoft.com/en-us/rest/api/manageddisks/disks/disks-get

I double checked that the diskState property is not represented in [the relevant swagger](https://github.com/Azure/azure-rest-api-specs/blob/59f8a4ac0dd42544e08a81da7a8d0da6d259b82e/arm-compute/2017-03-30/swagger/disk.json).

[2017-06-29 17:30] salameer commented on #81
To be honest these are generic API and programming good practices and they provide customer pain. regarding other APIs we are pointing out similar issues to the Documentation team and the north star is for continuous improvement whether captured in issues or direct feedback.

I think this effort is low hanging fruit if the fact that it doesn't cause breaking changes and greatly improves the docume

[2017-06-29 17:50] salameer commented on #81
Alright you know what i think I'll negate myself here. I think the issue here is that both names have the same behavior but follow two different naming conventions. Sooo fixing these will introduce breaking changes and not sure about the benefit VS impact here specially for Networking API.

Sooo Mark and @DeepakRajendranMsft  my recommendation is to follow the naming guidlines in the swagger check

[2017-06-29 17:50] #81 closed

[2017-06-29 18:02] salameer commented on #1339
I hope this helps on your side @zsims please reopen if required and thanks again for reaching out to us!!

[2017-06-29 18:02] #1339 closed

[2017-06-29 20:41] marstr commented on #81
Howdy @salameer,

As we discussed offline. We updated our support for the Pageable extension to grab each page lazily as it is requested. This should dramatically reduce the complexity involved with Listing, and should wipe away the concern about this particular type of misleading documentation.

[2017-06-29 21:16] salameer commented on #81
Awesome!

LONG LIVE @marstr

[2017-06-30 18:54] sergey-shandar opened #1368 "arm-network/2017-06-01/swagger/vmssPublicIpAddress.json file should contain one and only one ApiVersion"
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2017-06-01/swagger/vmssPublicIpAddress.json#L219 still contains different api-version

[2017-07-03 06:18] tombuildsstuff commented on #687
👋 hey @sazeesha - is there any update available here? :)

[2017-07-03 08:48] tombuildsstuff commented on #1348
👋

Just to clarify: this request is for the Swagger for both the App Service and non-App Service versions of Azure Functions (presumably they're different?)

In order for us to manage expectations - is there a rough timeline for when this support is likely to be added? :)

Thanks!

[2017-07-03 09:20] tombuildsstuff opened #1372 "[Compute] API returns incorrect Status Code on Failure"
👋

We run nightly acceptance tests against the Azure API's (via the [Azure SDK for Go](https://github.com/Azure/azure-sdk-for-go)) - and this morning we had a temporary test failure coming from the CreateOrUpdate method within the Compute API's:

This call returns a `200 OK` status code - but within the body explains that the downstream request returned a `500 Internal Server Error`. This means th

[2017-07-03 16:32] marstr commented on #1348
@sergey-shandar @salameer we got anything for @tombuildsstuff?

[2017-07-04 13:14] tombuildsstuff opened #1376 "[Service Bus] Swagger for Service Bus Subscription Rule"
👋

[We've had a request to add support for setting Service Bus Subscription Rule's](https://github.com/terraform-providers/terraform-provider-azurerm/issues/145). From what I can see there's currently no SDK support for this and reportedly there's no support within the AzureRM portal?

Is this functionality supported going forward, or is it deprecated? If not, is it on the roadmap to be added to t

[2017-07-07 16:47] tombuildsstuff opened #1386 "[Container Service]: Add Swagger for `2017-07-01`"
👋 hey y'all

The [Azure Container Service recently announced support for the `2017-07-01` API](https://github.com/Azure/ACS/blob/master/announcements/2017-06-28-acs-uk-public-preview.md) - which solves a ton of issues we've raised previously, including:
 - #833 - Windows support
 - #1172 - Internal Clusters
 - https://github.com/terraform-providers/terraform-provider-azurerm/issues/79 - Tearing do

[2017-07-07 17:32] jhendrixMSFT commented on #1386
@colemickens can you please follow up on this (I believe this is your team, let me know if I got it wrong)?

[2017-07-07 21:30] sarangan12 commented on #1241
This is a service side issue and must be handled by them. I am assigning this issue to @Nking92

[2017-07-07 22:35] sarangan12 commented on #1347
This is a service side issue. I am assigning this issue to @TimLovellSmith and @hrishi18pathak to look in to the issue

[2017-07-08 00:10] #1018 closed

[2017-07-08 16:20] jaredmoo commented on #1128
Fixed PATCH errors with #1384

 1. ERROR: Please provide x-ms-examples describing minimum/maximum property set for response/request payloads for operations.
    Path: file:///C:/workspace/azure-rest-api-specs/arm-sql/compositeSql.json#/paths

2. ERROR: The tracked resource, 'Database', must have a list by resource group operation.
    Path: file:///C:/workspace/azure-rest-api-specs/arm-sql/composi

[2017-07-09 20:45] tombuildsstuff commented on #1309
Support for MySql has been merged in PR #1338 - I've opened PR #1391 to fix an issue with the PostgreSQL Swagger, and I'll take a look into the MySQL code next :)

[2017-07-10 03:48] Suna-MS commented on #1309
@tombuildsstuff, please use "ServerPropertiesForDefaultCreate" instead of ServerPropertiesForCreate when create a server, and don't add administratorLogin / administratorLoginPassword into "ServerPropertiesForCreate" in PR https://github.com/Azure/azure-rest-api-specs/pull/1391, it is a Abstract Class, will also be inherited by "ServerPropertiesForRestore".

[2017-07-10 04:53] tombuildsstuff commented on #1309
@Suna-MS in that case, [from the output](https://github.com/mcardosos/azure-sdk-for-go/blob/v10.2/arm/postgresql/models.go#L237) it appears the AutoRest generator doesn't support the custom Swagger method used to represent abstract classes when generating Go code?

As the classes aren't inherited, when trying that approach currently it returns a compiler error - so unfortunately that's not possibl

[2017-07-10 11:10] Suna-MS commented on #1309
@tombuildsstuff, if add the fields to ServerPropertiesForCreate as "Required" itmes, it will have impact to other SDKs such as C#, python(used for Azure CLI 2.0).  And "discriminator" is also used in many other services specs, do you know how it work for their GO SDKs? Can we ask help from autorest team to find a workaround?

[2017-07-10 17:34] tjprescott opened #1394 "[KeyVault] Managment API Version 2016-10-01 removes "all" from valid list of permissions"
In API version 2015-06-01, these each had "all" as a valid option:

https://github.com/Azure/azure-rest-api-specs/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L298

https://github.com/Azure/azure-rest-api-specs/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L310

https://github.com/Azure/azure-rest-api-specs/blob/master/arm-keyvault/2015-06-01/swagger/keyvault.json#L322

In

[2017-07-10 18:12] vishrutshah opened #1396 "[CI] Use README.md for autorest linter"
- [x] If only README.md changes then also trigger

- [x] Do not trigger twice if the README.md contains both files changed as it'll be picked up by one

[2017-07-10 18:28] schaabs commented on #1394
@tjprescott The "all" permission was intentionally removed in this API version when we added the purge permission.  This was to avoid users unintentionally assigning the purge permission to users, and force them to be explicit.

[2017-07-10 19:34] tjprescott commented on #1394
Sounds reasonable.

[2017-07-10 19:34] #1394 closed

[2017-07-10 20:33] kamoljan commented on #835
+1

[2017-07-10 21:13] mcardosos commented on #1309
Currently, the Go generator does not support `x-ms-discriminator-value`. The best way to solve this is fixing the generator.

[2017-07-11 22:07] whiskeyjay opened #1413 "[Insights] ScaleCapacity values are strings?"
Not sure if this is a bug or feature...

The ScaleCapacity has three properties "minimum", "maximum" and "default". While the descriptions of these properties says "the number of instances", they are all currently defined as strings.

Is there a specific reason to use string instead integer here?

https://github.com/Azure/azure-rest-api-specs/blob/current/specification/monitor/resource-manager/mic

[2017-07-12 23:26] yugangw-msft opened #1419 "Test: playback ends up sending out live requests"
The test error looks like, `msrestazure.azure_exceptions.CloudError: Azure Error: SubscriptionNotFound
Message: The subscription '00000000-0000-0000-0000-000000000000' could not be found.`

2 notes:
1. It does pass sometimes through.
2. The stack below shows live connection is being constructed

 	HTTPSConnectionPool._validate_conn in connectionpool line 788	Python

 	HTTPConnectionPool.urlopen in

[2017-07-12 23:27] yugangw-msft commented on #1419
wrong repo.

[2017-07-12 23:27] #1419 closed

[2017-07-15 01:00] veronicagg opened #1424 "CI for linter validation would run on the wrong files, if default tag in readme.md does not include the files changed in the PR"
If there's no default tag in readme.md file, CI doesn't run linter on files in PR.
Here's a case https://travis-ci.org/Azure/azure-rest-api-specs/jobs/253710677#L1311
Executing: autorest --azure-validator specification/datalake-analytics/data-plane/readme.md --message-format=json
**Error: No input files provided.**

Or if the file that's changed is not included in the default tag, the validation w

[2017-07-17 17:50] vishrutshah commented on #1424
This is interesting...looks like somehow we need to know which files are being changed and then map them to the tag inside the config. @olydis Do you have any thoughts around this?

[2017-07-17 17:59] begoldsm commented on #802
@veronicagg this should now be resolved with PR #1418, can you confirm?

[2017-07-17 17:59] dsgouda commented on #1424
Talked to @Garrett Serack<mailto:garretts@microsoft.com> and @Johannes Bader<mailto:jobader@microsoft.com> about this and we may have to modify the CI scripts so that they pick up all the tags within a .md file when running the validation rules. This would ensure we have run the validation rules against all possible combinations.
-Deepak

From: Vishrut Shah [mailto:notifications@github.com]
Sent:

[2017-07-18 00:37] veronicagg commented on #1424
Running on all tags may take time and cause confusion, if we were ok with the time it takes, we may need to filter some output in a good way, so there's not a lot of noise for authors and reviewers. I haven't come up with a good solution, but it would be good to brainstorm some options.

[2017-07-18 00:38] veronicagg commented on #802
yes, it should be based on the associated merged PR, thanks!

[2017-07-18 00:38] #802 closed

[2017-07-18 16:54] vishrutshah commented on #1424
@fearthecowboy @olydis I was thinking in the direction where we can extract the part of autorest that understand the README.md file. If we can extract hat part then i think for CI we can leverage it to ask "File X belong to which tag?" and then run only that tag because otherwise I am bit worries about the noise.

Moreover, that module can help in many other places in CI as well.

Thoughts?

[2017-07-18 17:02] fearthecowboy commented on #1424
@vishrutshah that's coming -- we'll be building a package for that soon.

@veronicagg -- the messages are scoped to the file that they are in, so it should be a trivial operation to filter to just the files that are actually in the changed list.

[2017-07-18 17:43] fearthecowboy commented on #380
Reopening -- this is a CI issue, not autorest

[2017-07-20 00:40] jaredmoo opened #1446 "Ruby CI test is failing"
Hitting this issue on https://github.com/Azure/azure-rest-api-specs/pull/1441, CI results at https://travis-ci.org/Azure/azure-rest-api-specs/builds/255431441?utm_source=github_status&utm_medium=notification

[code]

[2017-07-20 02:57] balajikris commented on #1446
tagging @sarangan12

[2017-07-21 07:45] kirthik commented on #1345
closing since these changes are checked in.

[2017-07-21 07:45] #1345 closed

[2017-07-21 10:23] sonathan opened #1454 "Python CI test failing"
Hi,

PR Link: https://github.com/Azure/azure-rest-api-specs/pull/1453. It is failing for Python CI tests. The validation failed after my 1st commit. and the issue was I had named namespace in my readme.md as azure.mgmt.recoveryserivesbackup. But on subsequent commits I had updated it and then also the test failed with same error.
Here is the snippet of the failure. Could you please let me know wha

[2017-07-21 17:06] kirthik opened #1457 "Refactor getStatus.js and momentofTruth.js to use common logic"
Both the scripts duplicate code. Logic in certain places can we refactored and re-used to avoid duplication

[2017-07-22 07:22] sonathan commented on #1454
@anuchandy You help will be appreciated in this case.

[2017-07-22 07:29] sonathan commented on #1454
Okay, I figured out the issue, it was because the swagger_to_sdk_config had following values:

"recoveryservices": {
      "markdown": "specification/recoveryservices/resource-manager/readme.md",
      "generated_relative_base_directory": "Generated/Python/azure/mgmt/recoveryservices",
      "output_dir":  "azure-mgmt-recoveryservicesbackup/azure/mgmt/recoveryservices"
    },

Thanks, will update

[2017-07-22 07:29] #1454 closed

[2017-07-24 17:32] ravbhatnagar commented on #288
This will be a breaking change. We will investigate and see how/when this can be addressed.

[2017-07-24 17:36] ravbhatnagar commented on #383
No plans to support this. Haven't heard this as a top feature ask from the customers. @kirthik - Please close as wont fix. We can revisit if we hear feedback on this.

[2017-07-24 17:46] begoldsm commented on #772
@veronicagg this should be resolved by #1429 can you confirm?

[2017-07-24 17:46] begoldsm commented on #928
@veronicagg and @kirthik this should be resolved by PR #1429 can you confirm and close this if so?

[2017-07-24 18:05] veronicagg commented on #772
Model validation result from the PR merged above are green, closing.

[2017-07-24 18:05] #772 closed

[2017-07-24 18:07] #928 closed

[2017-07-24 19:53] anuchandy opened #1460 "Suggestion: CustomerInsights - Renaming models"
Reference https://github.com/Azure/azure-rest-api-specs/pull/1438

There are a bunch of models with name ending `ResourceFormat`, for example currently usage of method to retrieve a prediction looks like:

[code]

If we rename this to `Prediction` for instance, it looks clean

[code]

As part of future swagger update (that contains other breaking changes), consider renaming the models.

[2017-07-24 22:17] zsims commented on #1339
Sorry for the delay. Thanks for the prompt follow up. Helps on our side, just rather unfortunate given SQL database pools with hundreds of databases in them.

Thanks again for the explanation everyone, especially @marstr for the cross project follow up.

[2017-07-24 22:39] kirthik commented on #1309
Closing this issue since mysql swagger is now merged.
@mcardosos - Could you please open an issue on Autorest Go generator to support `x-ms-discriminator-value`.
@tombuildsstuff - Could you please open a new issue if you run into problems with mysql swagger spec?

[2017-07-24 22:39] #1309 closed

[2017-07-25 03:21] anuchandy opened #1462 "Operations API needs to be implemented in the service side and described in swagger"
Linter reported for this PR https://github.com/Azure/azure-rest-api-specs/pull/1438 that operations API is not implemented. Service team confirmed that RP don't have this API implemented, it is in their backlog.

[2017-07-25 17:29] marstr opened #1463 "CertificateCollection Mislabeled"
[mynewserver.pdf](https://github.com/Azure/azure-sdk-for-go/files/1174010/mynewserver.pdf)

I tracked down the source of the failed unmarshaling to the [defintion of CertificateCollection](https://github.com/Azure/azure-rest-api-specs/blob/087554c4480e144f715fe92f97621ff5603cd907/specification/web/resource-manager/Microsoft.Web/2016-03-01/Certificates.json#L412). The service is returning an array

[2017-07-25 23:10] marstr opened #1464 "KeyVault List includes resources other than KeyVaults"
In Azure/azure-sdk-for-go#696 @chessman says:

I built out a repro for the Go SDK that confirms this behavior and can be found here: https://github.com/marstr/issue696

[2017-07-26 06:08] #630 closed

[2017-07-26 06:10] #836 closed

[2017-07-26 06:13] kirthik commented on #1172
closing this since @brendandburns said this is not supported by service yet.

[2017-07-26 06:13] #1172 closed

[2017-07-26 06:15] #515 closed

[2017-07-26 10:07] tombuildsstuff commented on #1348
ping @sergey-shandar @salameer :)

[2017-07-26 10:14] tombuildsstuff commented on #1233
👋 hey @Nilambari @lamchester

Is there any update on this issue, or a rough timeframe for when this issue would be fixed?

Thanks!

[2017-07-26 11:42] tombuildsstuff commented on #1347
👋 hey @TimLovellSmith / @hrishi18pathak

Is there any update on this issue, or a rough timeframe for when this is likely to be fixed?

Thanks!

[2017-07-26 18:13] kirthik commented on #148
Talked to @derekbekoe. He mentioned there have been later API versions where this is resolved. @derekbekoe - please feel free to add more details

[2017-07-26 18:13] #148 closed

[2017-07-26 18:14] salameer commented on #175
Closing this, lately a large number of operations have been added to the specs and latest generated SDKs should now have higher coverage.

if there are still report on missing features  kindly report them. and I would strongly recommend opening new tickets with detail of the missing operations

[2017-07-26 18:14] #175 closed

[2017-07-26 18:19] jaredmoo commented on #1128
Fixed 4. in list above with #1441

[2017-07-26 19:10] jaredmoo commented on #1128
And 2. in list above are warnings now.

[2017-07-26 20:09] jaredmoo commented on #1128
1. in list above are fixed by #1471

[2017-07-26 20:24] sergey-shandar commented on #1348
@marstr @tombuildsstuff I'm not aware of any swagger specification for Azure Functions. We need to speak with Azure Functions team.

[2017-07-26 21:24] ravbhatnagar commented on #1351
@tfitzmac - Can you please add a 204 response to this? @TianoMS to help if needed.

[2017-07-26 21:25] ravbhatnagar commented on #1464
Not an ARM issue. This needs to be fixed by KeyVault team

[2017-07-26 21:27] ravbhatnagar commented on #1308
API not needed since clients will not use this. This is part of the header.

[2017-07-26 21:27] #1308 closed

[2017-07-26 21:33] marstr commented on #1464
@ravbhatnagar, why would that be? This doesn't have to do with interacting with an individual KeyVault, but rather managing instances of them through ARM.

[2017-07-26 21:33] ravbhatnagar commented on #862
Wont fix. So far there is not much customer feedback on this. @kirthik - please close this.

[2017-07-26 21:34] ravbhatnagar commented on #1191
@ilahat - please take a look and fix.

[2017-07-26 21:53] gucalder opened #1475 "[Monitor] LogProfiles API documentation contains incorrect example for CreateOrUpdate"

[2017-07-26 21:56] liumichelle commented on #554
I believe @amarzavery was able to answer the question if you check the thread above.

[2017-07-26 22:21] marstr commented on #1464
@mcardosos was just chatting with me and says she has some more context here. Some of what she was saying may back up the assertion from @ravbhatnagar that this is fundamentally a problem the service team needs to fix.

Regardless, I think the question of whether or not this operation should be exposed through the Swagger today in its current form should be answered. Without KeyVault service-team

[2017-07-26 22:30] #383 closed

[2017-07-26 22:30] TianoMS commented on #1129
Seems the service doesn't support $top. We should either fix the swagger spec or the service.

[2017-07-26 22:30] #862 closed

[2017-07-26 22:34] TianoMS commented on #804
we have to consider this as not repro because of not enough information. @kirthik can you close this issue?

[2017-07-26 22:45] veronicagg commented on #804
@TianoMS sorry looked like I missed previous pings on this, in terms of the errors above:
for example for /{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}
the following specified parameters are not part of the path for that operation and if so, they should be removed:
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {

[2017-07-26 22:47] TianoMS commented on #577
This is a service issue. It's not an issue of swagger spec.

[2017-07-26 22:48] TianoMS commented on #544
will sync up with @ravbhatnagar and team.

[2017-07-26 23:36] TianoMS commented on #804
@veronicagg "ApiVersionParameter" is a query parameter so it should be OK to keep. "SubscriptionIdParameter" seems not applicable in some APIs. Will need to fix. @ravbhatnagar to triage.

[2017-07-26 23:41] jaredmoo commented on #1128
All errors are now fixed. Proof: https://github.com/Azure/azure-rest-api-specs/pull/1471#issuecomment-318170774

@balajikris can you close?

[2017-07-26 23:42] #1128 closed

[2017-07-26 23:43] jaredmoo commented on #1128
Thanks Kirthi!

[2017-07-27 00:14] veronicagg commented on #804
@TianoMS yes, you're correct about the query parameter, my bad including it above, the errors originally reported all refer to subscriptionId not applicable.

[2017-07-27 16:30] mcardosos commented on #1464
[More context](https://github.com/Azure/azure-sdk-for-go/issues/403)
TL;DR: This operation calls ARM API directly, not through the KeyVault API.
This causes the SDKs to be used in awkward ways, for example: `resourceClient.List("resourceType eq 'Microsoft.KeyVault/vaults'", "", nil)`. The path should be corrected to `"/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/vaults"`. That way

[2017-07-27 18:12] sergey-shandar commented on #1348
@kirthik do you have any update on it? Or who we should ask for Azure Functions specs?

[2017-07-27 19:32] TimLovellSmith commented on #1347
@tombuildsstuff
Yes, there's a bug where there is a delay between the redis cache returning Deleted OK and the subnet actually being deletable. A fix may not happen for a while yet, since it is a behavioral change to return 202 instead of 200 for delete and there is a risk of confusing existing clients by making that change (if they are not already coded to handle it), we will likely only fix it i

[2017-07-27 22:14] olydis opened #1482 "Classification confusion (add more categories than resource-manager and data-plane?)"
There are some OpenAPI definitions that don't really fit the current binary classification between "resource-manager" and "data-plane", e.g.
- https://github.com/Azure/azure-rest-api-specs/blob/current/specification/graphrbac/data-plane/1.6/graphrbac.json, thanks @mcardosos. It is more of a management API, simply not ARM (you can create users and stuff)
- https://github.com/Azure/azure-rest-api-sp

[2017-07-27 22:15] olydis commented on #1482
/cc @salameer @fearthecowboy

[2017-07-27 23:29] VipulM-MSFT commented on #1482
@olydis - thank you for opening the issue.

[2017-07-28 18:03] veronicagg commented on #1424
@fearthecowboy ok, @dsgouda is there a way we can extract all the tags within the .md file to try this out?

[2017-07-28 18:05] dsgouda commented on #1424
Yes, discussed this with @fearthecowboy, we may be able to extract all the tags within a Readme.md, I can start looking into it if it is high pri

[2017-07-28 18:36] veronicagg commented on #1424
@dsgouda that it'd be great, yes, it's high pri, as it provides potentially wrong results for CI validation.

[2017-07-28 20:54] tombuildsstuff opened #1490 "Virtual Machines: "Basic Metrics" API / VM Extension"
👋🏻 Hey folks

I'm unsure of the correct place to file a bug for this - but I'm assuming here's as good as any, please re-route me if not and I can move this :)

We've had a request come [in to support "Basic Metrics" on Virtual Machines](https://github.com/terraform-providers/terraform-provider-azurerm/issues/199). After looking into this I found [this page of documentation which indicates that th

[2017-07-28 22:30] ravbhatnagar commented on #804
Looks like an easy fix. @TianoMS - please fix when you get a chance.

[2017-07-28 23:50] sarangan12 commented on #1463
@marstr Do you see this bahvior only in Go or is it generic and happens in all the languages

[2017-07-29 01:17] anuchandy commented on #1490
@tombuildsstuff, `IaaSDiagnostics` extension is for enabling diagnostics on Windows virtual machine, for Linux it is `LinuxDiagnostic`. See this code that shows configuring diagnostics on Linux VM https://github.com/Azure/azure-sdk-for-java/blob/master/azure-mgmt-compute/src/test/java/com/microsoft/azure/management/compute/VirtualMachineExtensionOperationsTests.java#L69.

The configuration `ladCfg

[2017-07-29 01:18] anuchandy commented on #1490
For windows, please refer the discussion here https://github.com/Azure/azure-sdk-for-java/issues/1836

[2017-07-31 15:53] marstr commented on #1463
This should be common to all languages, I believe this is a malformed Swagger where I tagged it above. Repro-ing again in a second language could help test that belief.

[2017-07-31 17:42] sarangan12 commented on #1446
@jaredmoo This issue has been fixed with recent merges, Closing this issue now. Feel free to reopen if you still find the issues

[2017-07-31 17:42] #1446 closed

[2017-08-01 18:05] shahabhijeet opened #1497 "Run dotnet generation and test at CI level"
As far as I know, generation of dotnet SDK and it's tests are being run nightly.
Rather we should generate and run dotnet tests on every PR as a validation step.
@salameer
We could have avoided the breaking change that got introduced due to the below PR
https://github.com/Azure/azure-rest-api-specs/pull/1468
And a revert PR was opened to correct the problem
https://github.com/Azure/azure-rest-api-

[2017-08-01 20:00] MohitGargVpn commented on #1233
Hey,

We acknowledge the issue and we will work on getting the estimates required to fix this issue. We will get back with the release dates for the fix.

[2017-08-02 07:04] tombuildsstuff commented on #1233
Awesome, thanks @MohitGargVpn!

[2017-08-02 10:59] tombuildsstuff opened #1499 "[Redis] Update endpoint returns a HTTP 504 Timeout"
👋

We run nightly acceptance tests against Azure Public in various regions - a selection of these tests are spinning up a Redis Cache instance.

For one of these tests we first create a Redis Cache with RDB Backup Enabled via the API and then disable it by calling the Update endpoint which is returns a `HTTP 504` timeout. Unfortunately this test is flapping a lot, so it's hard to give an exact amo

[2017-08-02 12:02] dominik-lekse commented on #1233
Many thanks @MohitGargVpn

[2017-08-03 15:24] tombuildsstuff commented on #1490
Thanks for confirming @anuchandy I can confirm the Linux specific version works - I'll double-check the Windows version tomorrow

Are there any plans to combine these into a single extension? It seems odd to have multiple extensions doing the same thing?

[2017-08-03 15:49] anuchandy commented on #1490
Great to know it's working!

Regarding merging extensions, it's a question for the service team, you can open issue here https://github.com/Azure/azure-linux-extensions. The diagnostics extension for Linux is maintained [here](https://github.com/Azure/azure-linux-extensions/tree/master/Diagnostic)

[2017-08-03 17:57] sergey-shandar opened #1503 "An Advisor Recommendation Get example should contain 'resourceUri' in a proper format."
Currently, the example contains 'resourceUri' value instead of a resource URI in a proper format

https://docs.microsoft.com/en-us/rest/api/advisor/recommendations#Recommendations_Get
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/advisor/resource-manager/Microsoft.Advisor/2017-04-19/examples/GetRecommendationDetail.json

[2017-08-03 18:02] sergey-shandar commented on #1503
@cohnmarc

[2017-08-03 18:30] sergey-shandar commented on #1503
The parameter should also contain "x-ms-skip-url-encoding": true

[2017-08-04 20:06] #1396 closed

[2017-08-04 21:26] lmazuel opened #1508 "Cognitive Services Mgmt: incorrect global location parameter"
We found an issue with "location" definition in Cognitive Services Mgmt. I quote @amarzavery that describes this better than Ican do:

[2017-08-07 16:08] jhendrixMSFT commented on #1508
Hello @felixwa I've seen you made changes to this swagger in the past, are you the correct owner to follow up on this issue?

[2017-08-07 17:22] solvingj opened #1512 "IOTHub Client Spec Needed"
https://docs.microsoft.com/en-us/rest/api/iothub/httpruntime

There does not yet appear to be any SPEC for the IOTHub client.  This API contains the basic methods which would be used by an actual IOT device, such as sending and receiving messages.

It is a fundamental API for the IOTHub service, so I was very surprised that I was unable to find this spec. Perhaps it exists and I'm missing it.  Ple

[2017-08-08 01:42] olydis commented on #1482
/cc @kirthik @kamaljit @martinsawicki

[2017-08-08 08:27] felixwa commented on #1508
@jhendrixMSFT , @lmazuel , I will look into this.

[2017-08-10 17:04] tombuildsstuff commented on #1233
Hey @MohitGargVpn

Did you manage to work out a rough timeframe for this issue in the end? :)

Thanks!

[2017-08-11 14:36] tombuildsstuff opened #1534 "[Compute API] Add `Basic Monitoring` flag to Compute API"
Issue #1490 determined that the "Basic Metrics" flag from the Portal is available as a VM Extension.

Whilst submitting a VM Extension is one possible route forward for enabling Basic Metrics, it's an unideal user experience. We could opt to wrap the call to the VM Extensions API for a user based on a separate flag, however this itself has several issues:

1) should the user install the Monitoring

[2017-08-11 14:49] tombuildsstuff commented on #1490
@anuchandy I can confirm the Windows version works too - as such I'm going to close this issue for the moment.

I've opened issue #1534 about adding a field to the Compute API for Basic Metrics, to improve the UX of deploying Azure Monitoring through the API to match the Portal

Thanks!

[2017-08-11 14:49] #1490 closed

[2017-08-11 16:47] dsgouda commented on #1475
@vishrutshah can you close this if this has been taken care of

[2017-08-11 16:48] dsgouda commented on #1424
Addressed in the merged PR

[2017-08-11 16:48] #1424 closed

[2017-08-11 18:11] vishrutshah commented on #1475
Cool. This is resolved with the above PR. Thanks!

[2017-08-11 18:11] #1475 closed

[2017-08-11 20:38] dsgouda commented on #1351
@tfitzmac can you close this if its merged

[2017-08-11 21:13] tfitzmac commented on #1351
@dsgouda - I do not seem to have the option for closing this issue. Maybe @tjprescott

204 has been added - https://docs.microsoft.com/en-us/rest/api/resources/policyassignments#PolicyAssignments_Delete

[2017-08-11 23:14] olydis opened #1536 "Promote semantic validator to not allowing failures."
same applies to private repo

[2017-08-11 23:19] olydis commented on #1536
@salameer concerns?

[2017-08-11 23:44] olydis commented on #1536
@olydis defer until after Ignite

[2017-08-11 23:49] anuchandy opened #1537 "[IoT Hub] Add ID property to Certificate resource"
Refer the discussion here: https://github.com/Azure/azure-rest-api-specs/pull/1514#discussion_r132738299

[2017-08-14 19:14] lmazuel opened #1539 "[Network] Somes operations defines both LRO and Paging"
This PR https://github.com/Azure/azure-rest-api-specs/pull/1468 changed the behavior of `NetworkInterfaces_GetEffectiveRouteTable` and `NetworkInterfaces_ListEffectiveNetworkSecurityGroups` to declare them at the same time LRO and Paging.

This is not supported yet in Python, and acording to @amarzavery not in C# as well.

This should then be removed from the repo, until Autorest can deal with it

[2017-08-14 19:19] solvingj commented on #1512
Can someone just validate that there is no SPEC that describes the send/receive message APIs?

[2017-08-14 20:27] vishrutshah commented on #1512
@kirthik Could you please follow up with the service team?

[2017-08-15 03:05] felixwa commented on #1508
Fixed by PR #1532 . Please close this one.

[2017-08-15 16:00] #1508 closed

[2017-08-15 17:44] tjprescott commented on #1351
Ah, will do.

[2017-08-15 17:44] #1351 closed

[2017-08-15 20:55] marstr opened #1545 "Schedule Interval Field has no Type"
As discovered by @Kemyke in Azure/azure-sdk-for-go#725, the [Interval field here has no type information](https://github.com/Azure/azure-rest-api-specs/blob/2fb9a0b3b902335ff0b0033711c234431931ec9d/specification/automation/resource-manager/Microsoft.Automation/2015-10-31/definitions.json#L2953), which means each SDK is stabbing in the dark as to what they should send across the wire.

[2017-08-15 22:20] kirthik commented on #1512
@vishal-gandhi : Could you please respond to the question or include someone from your team?

[2017-08-15 23:45] vishal-gandhi commented on #1512
@solvingj Thanks for reporting the issue. We currently do not have a comprehensive spec of IoT Hub device APIs. We are working on it.

You should consider using or looking at the source code of one of the Azure IoT SDKs. https://github.com/Azure/azure-iot-sdks

We also have documentation on using MQTT with Azure IoT. Using MQTT is recommended over HTTP unless you have some specific requirements.
h

[2017-08-16 00:27] solvingj commented on #1512
Hi @vishal-gandhi
Thanks for looking into this and responding.  Our motivation is that we wish to send and receive messages from our IOT Devices from our C++ application.  We do have a requirement to use HTTPS over 443, so we need to use the websocket connectivity of IOTHub.  Microsoft's CPPRest SDK (formerly Casablanca) is the ideal HTTP framework in C++ for us to do this.  Thanks to the great sw

[2017-08-16 01:00] vishal-gandhi commented on #1512
@solvingj  We do support MQTT v3.1.1 over WebSocket protocol on port 443. Does that work for you?
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support

At this point we do not have an estimate of when we would be able to generate the Swagger spec for device APIs.

[2017-08-16 01:28] solvingj commented on #1512
@vishal-gandhi yes that's what i was referring to.  It's unfortunate that there's no estimate for the device API spec, I guess I'll keep my eye on the repository until I see one.  Thanks.

[2017-08-16 16:36] solvingj commented on #1512
@vishal-gandhi Do you know if it will be possible to use the device API with pure HTTPS and no other protocols?  In retrospect a swagger spec seems to be entirely concerned with the HTTP protocol and RESTful interactions, MQTT seems completely separate from that.  Thus, I'm starting to wonder if a swagger spec will even be able to produce a usable device client (unless it can work entirely based o

[2017-08-16 19:52] liumichelle commented on #1093
The fix for this should be in https://github.com/Azure/azure-rest-api-specs/pull/1336 - contact @ritwikbasu to follow up

@salameer can this be closed out?

[2017-08-16 20:28] MohitGargVpn commented on #1233
We will fix and release the patch by 9/15/17. Thanks for reporting the issue.

[2017-08-16 21:02] liumichelle commented on #554
@salameer can this issue be closed out?

[2017-08-16 21:09] markjbrown commented on #386
These have been fixed. Looking at the latest API version below. There is support for Vnet Peering and the operations all have descriptions for 200 responses. I think we can close this.

CC @DeepakRajendranMsft @liumichelle

NetworkInterfaces_ListEffectiveNetworkSecurityGroups:
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-0

[2017-08-16 22:06] liumichelle commented on #818
@MohitGargVpn can you take a look at this issue?

[2017-08-16 22:07] liumichelle commented on #755
@MohitGargVpn can you take a look at this please?

[2017-08-16 22:08] liumichelle commented on #819
@MohitGargVpn can you take a look?

[2017-08-16 23:15] Nilambari commented on #1093
This issue has already been fixed in 2017-06-01 swagger.

[2017-08-16 23:37] #1093 closed

[2017-08-17 13:50] tombuildsstuff opened #1556 "[Network] Virtual Networks / Subnets: IPv6 Support"
:wave:

I've been going through the documentation for Network Interfaces and noticed a field to set the IP Version.

In order to test this, I attempted to spin up a Virtual Network (with a Subnet) with an IPv6 address space; however I got an error back from the Azure API:

[code]

Given this also appears to be the case in the portal when attempting to add an IPv6 address space - I'm assuming this

[2017-08-17 17:20] pargall commented on #916
This should be solved via #884 please reopen if there are still issues.

[2017-08-17 17:36] veronicagg commented on #798
@salameer @kirthik could we discuss this and try to close on the decision in the next sprint?

[2017-08-17 19:10] Nilambari commented on #850
You can do GET the connection object and do the SET on that object itself for updating connection related properties e.g. Routing weight. Please find command lets pasted below.

In order to update referenced VirtualNetworkGateway/LocalNetworkGateway objects, you have to do GET on those objects and then SET on those objects, that is by design.
Please let us know if you have further questions and te

[2017-08-17 19:30] Nilambari commented on #819
This is no repro. 'name' is the required parameter for command let:-New-AzureRmVirtualNetworkGatewayIpConfig for creating new Vnet gateway ip config which you pass to create a new VirtualNetworkGateway. If you do not pass name param, it will ask to pass value for it.
You can pass any valid value for name param except default. Please find below command lets:-

PS C:\WINDOWS\system32> **New-AzureRmV

[2017-08-17 19:38] Nilambari commented on #818
Checked with PM to update the online documentation to specify that for template based ExpressRoute Gateway deployments, Please fill value as :- VPN type = Route-based.

[2017-08-17 19:52] Nilambari commented on #790
As specified in swagger, properties do get populated in case of GET for VirtualNetworkGateway/LocalNetworkGateway objects.
In case of GET of Connection object, its referened (VirtualNetworkGateway/LocalNetworkGateway) obeject's properies are not fully populated, it was as per design and changing this would be a breaking change and we will think of doing it in future but right now it is as per the

[2017-08-17 19:52] Nilambari commented on #755
As specified in swagger, properties do get populated in case of GET for VirtualNetworkGateway/LocalNetworkGateway objects.
In case of GET of Connection object, its referened (VirtualNetworkGateway/LocalNetworkGateway) obeject's properies are not fully populated, it was as per design and changing this would be a breaking change and we will think of doing it in future but right now it is as per the

[2017-08-17 21:13] tjprescott commented on #850
This assumes I'm using the PS commands, which I am not. And, at best, PS is simply masking the problem by making the extra REST calls behind the scenes. That is the workaround we have in place in CLI  2.0, which prompted me to open this issue in the first place.

I should be able to issue a single GET for the connection object, update the connection related parameters and then update the object us

[2017-08-17 22:43] akshaysngupta commented on #1027
Looking at log, Client tried multiple times and got internal server error:
https://management.azure.com:443 "PUT /subscriptions/1ef6f67e-7981-498c-8349-b67109d0fd0f/resourceGroups/cat-e2e-es/providers/Microsoft.Network/applicationGateways/app_gateway?api-version=2016-09-01 HTTP/1.1" 500 115
Trying to create/update certificate with a pfx with junk data now gives following error message-
Data or Pas

[2017-08-17 22:53] tjprescott commented on #1027
Perfect! Thanks @akshaysngupta !

[2017-08-17 22:53] #1027 closed

[2017-08-18 07:56] DeepakRajendranMsft commented on #386
@salameer can we close this please. Mark is saying that we fixed them

[2017-08-18 07:59] DeepakRajendranMsft commented on #570
we have discussed this in length compute and sdk team. The correct fix would be too have the APIs in the compute swagger and the compute swagger should reference the network swagger for the reference of the nic. We deemed this too expensive and complex(to introduce a dependency on compute and network sdks) and decided to let it remain on the networking spec.

@johanste good to close?

[2017-08-18 08:12] DeepakRajendranMsft commented on #1368
Please check with @amarzavery on how to fix this, he has the context on why we did this - this way. this was the recommendation given to us. If there is a better solution than please do let us know.

[2017-08-18 08:17] DeepakRajendranMsft commented on #1278
@EvgenyAgafonchikov please assign appliedDnsServers  and internalFqdn  as readonly
i will get back to you on internalDomainNameSuffix , that might be settable

[2017-08-18 08:29] DeepakRajendranMsft commented on #1220
NRP never returns a 202 on put. we always return 200 and 201. If update was failing as you are discussing then it would have been a P0 on our side. polling should work just fine when you use the Azure0Async header. if you are able to repro the behavior, please send me the request/response with the headers and timestamp. why havent PS or any other sdk users complained because of this?

[2017-08-18 08:35] DeepakRajendranMsft commented on #602
no we should not change it a string. please leave it as bool.

We did make a change to CRP-nrp protocol (sometime last year) where NRP will sanitize the input and crp will save it. However this happens only during an update VM operation. so for newly created vms after the change, they would be seeing it as a bool.

Also, the given input has invalid json, the networkconfiguration should have been

[2017-08-18 08:37] DeepakRajendranMsft commented on #1124
We are still working on this, sorry. we are evaluating that if we have 429 as a retryable error, it may break clients out there that have a special treatment for 429 since they might expect an exception from SDKs generated by us

[2017-08-18 08:40] DeepakRajendranMsft commented on #826
this has been fixed https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-08-01/loadBalancer.json#L596

[2017-08-18 08:49] number213 commented on #1539
Fixed by https://github.com/Azure/azure-rest-api-specs/pull/1547

[2017-08-18 13:27] vladca commented on #781
This is done, as a result of an unrelated swagger review: https://github.com/Azure/azure-rest-api-specs/blob/master/arm-trafficmanager/2017-05-01/swagger/trafficmanager.json#L740; @anuchandy , can you confirm everything you wanted is in?

[2017-08-18 13:29] vladca commented on #805
This should be done as part of https://github.com/Azure/azure-rest-api-specs/commit/7a5fdd890e4587600f041e602ca14b72e3a2492b

[2017-08-18 15:20] jhendrixMSFT commented on #1124
Even with a Retry-After header in the response?

[2017-08-18 15:39] tjprescott commented on #1220
Here is an issue from the SDK: https://github.com/Azure/azure-sdk-for-python/issues/1168

[2017-08-18 17:12] veronicagg commented on #781
Looks good to me, EndpointMonitorStatus  and ProfileMonitorStatus.
I don't see EndpointType  converted, but @anuchandy may confirm whether it's necessary.
Thanks!

[2017-08-18 17:14] veronicagg commented on #805
Yes, this is resolved now, thanks!

[2017-08-18 17:14] #805 closed

[2017-08-18 18:44] anuchandy commented on #781
@veronicagg thank you, yes I can confirm that `EndpointMonitorStatus` and `ProfileMonitorStatus` has been converted to extendable enums as requested.

It looks like `EndpointType` cannot be expressed as an enum, mainly because the value on the wire is not same as the name we want to expose to user.

| Name  | Value |
| ------------- | ------------- |
| AZURE  | Microsoft.Network/trafficManagerProf

[2017-08-18 19:34] veronicagg commented on #781
@anuchandy this may help in that case: https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-client-name

[2017-08-18 19:40] mcardosos commented on #1124
[Little documentation on 429 usage](https://httpstatuses.com/429). With this as context, I think 429 usage is not something that has to do with this repository. 429 needs a different treatment than other status codes when we are talking about retry strategies. Retry strategies live on each language SDK client runtime. This has been fixed on the go SDK runtime [here](https://github.com/Azure/go-aut

[2017-08-18 20:28] anuchandy commented on #781
@veronicagg thanks, seems x-ms-client-name can be used when `property name` in the json payload is not user-friendly, so using this extension we can expose better name in SDK for the same json `property name`.

The issue with expressing `EndpointType` as enum is, there is no way to provide user friendly names for enum values which become `property values` in the json payload.

Looks like no action

[2017-08-18 20:28] #781 closed

[2017-08-18 21:06] dsouzaarun commented on #1082
The issue is with the Azure RM, or to be more accurate, how it expects the URI for a resource to be structured. It expects pairs with slash used as a delimiter. See [this](https://blogs.msdn.microsoft.com/servicebus/2017/06/21/azure-service-bus-azure-resource-manager-and-this-character/) blog post that explains the issue with Azure RM.

[ServiceBus Explorer](https://github.com/paolosalvatori/Servi

[2017-08-18 23:18] mcardosos opened #1565 "Is discriminator property a string or an enum?"
Which is the ideal way to express discriminators?
Some swaggers express them as [strings](https://github.com/Azure/azure-rest-api-specs/blob/461a494ef3ba48dcd5bfe77dfee2dc943405f337/specification/monitor/resource-manager/microsoft.insights/2016-03-01/alertRules_API.json#L461), and others as [enums](https://github.com/Azure/azure-rest-api-specs/blob/d562b7da2ed3ee6c9ea822f1053170882b4ec9f9/specific

[2017-08-18 23:42] vishal-gandhi commented on #1512
@solvingj  We support a limited set of operations with HTTPS. A lot of our device operations related to Device Twins and Methods are not supported over HTTPS. If you are only interested in device SendEvent and ReceiveMessage, HTTPS might suffice for you. However, it may not be the most efficient protocol depending on your device scenarios.

[2017-08-19 11:14] dominik-lekse commented on #1233
@tombuildsstuff As @MohitGargVpn [announced](https://github.com/Azure/azure-rest-api-specs/issues/1233#issuecomment-322889187) that the fix for the subnet deletion issue will be released in the Azure Api soon, I will remove the workaround from the subnet resource in this pull request and we wait for the acceptance tests to turn green.

[2017-08-19 17:57] solvingj commented on #1512
Not worried about efficiency in our scenario.  How about the file upload/download operations, would those be supported over HTTPS?

[2017-08-21 16:10] lmazuel commented on #1565
Just my two cents on this. By definition a discriminator should have a fixed set of values (in Python at least, we fail if we get a discriminator value from the RestAPI that is not defined in the Swagger). Seems a good candidate for an enum indeed :)
About updating current Swaggers however, I guess it will create a breaking change in most of the languages, if we update from string to enum. In Pyth

[2017-08-21 19:38] mcardosos commented on #1565
I like the idea to have them as enums so you can choose, but there could be inconsistencies inside swaggers. For example, a derived type which's discriminator was not included on the enum, or the enum having values which models are not defined anywhere. ]My guess is the swagger validator could catch this kind of issues.

[2017-08-21 22:48] veronicagg commented on #1565
@lmazuel I have to think about this. Tagging a few folks that may have thoughts on this @johanste @amarzavery @vishrutshah @jianghaolu

[2017-08-22 21:58] vishrutshah commented on #1565
From the swagger 2.0 [specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-13) perspective, it should be `string` type. I agree that having it enum would be advantageous for SDK but from the swagger perspective, I'd keep it `string` to be precise by the specifications :) Thoughts?

[2017-08-23 10:38] mukum opened #1578 "Workaround in the jobs model examples needs to be fixed as the corresponding issue in the OAV tool has been fixed."
Instance can be seen in PR: Azure/azure-rest-api-specs/pull/1506

workaround were taken because of the issues:-
https://github.com/Azure/oav/issues/115
https://github.com/Azure/oav/issues/116
https://github.com/Azure/oav/issues/117

Since the issues are fixed corresponding changes needs to made in the examples for the API.

[2017-08-23 19:16] veronicagg commented on #790
We may look into addressing this at model validation level first to reduce noise: https://github.com/Azure/oav/issues/156

[2017-08-23 20:56] veronicagg commented on #798
https://github.com/Azure/oav/issues/158

[2017-08-25 21:45] tjprescott opened #1591 "SecurityRule sourceAddressPrefix and destinationAddressPrefix should not be required"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-08-01/networkSecurityGroup.json#L663

For the following property pairs:
sourceAddressPrefix/sourceAddressPrefixes
destinationAddressPrefix/destinationAddressPrefixes

according to the PM, the user must supply one or the other. However, the swagger lists the singular versions as

[2017-08-28 17:24] lenala opened #1598 "Network Watcher: rename PcProtocol to PacketCaptureProtocol, PcStatus to PacketCaptureStatus and PcError to PacketCaptureError"
Would be nice to rename these fields in NetworkWatcher swagger to make names more readable and consistent with the rest of swagger spec:
1. PcProtocol to PacketCaptureProtocol
2. PcStatus to PacketCaptureStatus
3. PcError to PacketCaptureError

[2017-08-28 17:47] lenala commented on #1598
Assigning to Network Watcher team.

[2017-08-29 03:09] salameer opened #1601 "Improving PR initial Auto Response message"
I will add the text here until we agree on then we can integrate into the actual template, I wish I could've found the template easily. @vishrutshah & @veronicagg

[2017-08-29 04:34] salameer commented on #1601
Hello & Welcome to our repo,

You Can find a link to our review process [here](https://github.com/Azure/adx-documentation-pr/wiki/swagger-management). if you can't access this link, register your github your account to [Azure Github](https://aka.ms/azuregithub).

**What's happening to your PR now**

The following validation tools are currently running in the following order in the CI and the resul

[2017-08-29 07:23] EvgenyAgafonchikov commented on #1278
@DeepakRajendranMsft do you have any updates on internalDomainNameSuffix?

[2017-08-29 13:56] tombuildsstuff opened #1604 "[SQL] Databases API `2014-04-01` doesn't return CreateMode"
:wave:

When creating a SQL Database via:

[code]

Once the DB is created - the following is returned from the API:

[code]

[The Swagger defines that the CreateMode field should be returned as `createMode`](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/sql/resource-manager/Microsoft.Sql/2014-04-01/sql.core.json#L2110) - however it's not. Would it be possible to expose t

[2017-08-29 17:53] tombuildsstuff commented on #1604
Investigating this further, this also appears to be the case for `SourceDatabaseID` too

[2017-08-29 19:20] ravbhatnagar opened #1608 "[SQL] Model default error response for all SQL APIs"
Ref - https://github.com/Azure/azure-rest-api-specs/blob/current/specification/batch/resource-manager/Microsoft.Batch/2017-05-01/BatchManagement.json#L101

[2017-08-29 23:49] tombuildsstuff opened #1609 "[SQL] SQL Data Warehouse"
:wave:

In [the SQL Databases Swagger](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/sql/resource-manager/Microsoft.Sql/2014-04-01/sql.core.json#L2180) / SDK's - there's properties for setting the `ServiceObjectiveName` field to the following values:

- Basic
- ElasticPool
- P1
- P11
- P15
- P2
- P3
- P4
- P6
- S0
- S1
- S2
- S3
- System
- System2

However there's items

[2017-08-30 14:50] fearthecowboy commented on #1609
Hey @jaredmoo or @nathannfan -- Can you look into this?

[2017-08-31 19:13] DeepakRajendranMsft opened #1624 "Usage properties in Network SDK should be converted to double"
currentValue and Limits are declared as int64. they should be declared as double (on the service they are declared as double)

[2017-08-31 19:14] DeepakRajendranMsft commented on #1624
@EvgenyAgafonchikov  please do this is on the sdk and PS after 9/25

[2017-08-31 22:15] jaredmoo commented on #1609
Will do, although you should know that the canonical list of service objectives is determined using the capabilities API: https://github.com/Azure/azure-rest-api-specs/blob/current/specification/sql/resource-manager/Microsoft.Sql/2014-04-01/capabilities.json#L19

[2017-08-31 22:27] jaredmoo commented on #1604
These properties are marked with `"x-ms-mutability": [ "create" ]`, meaning that they are only available as input properties and will not be returned. This is by design. May I ask what is your scenario that requires these values to be returned?

[2017-09-04 08:35] Kemyke commented on #1545
Can someone please give us an update on this? Can we expect the fix for this basic bug?

[2017-09-05 10:37] suchandr1 opened #1634 "Issue while generating csharp code using autorest"
I am facing issue while generating csharp code using autorest

autorest --csharp --csharp-sdks-folder="C:\azure-sdk-for-net\src\SDKs" --tag=package-2016-06

AutoRest Code Generator
(c) 2017 Microsoft Corporation. https://aka.ms/autorest
FATAL: System.InvalidOperationException: Found incompatible property types Object, Object for property 'tags' in schema
inheritance chain
   at AutoRest.Swagger.Sc

[2017-09-05 13:53] tombuildsstuff commented on #1376
👋🏻 @fearthecowboy @kirthik is there any update on this issue? Thanks! :)

[2017-09-05 15:09] suchandr1 commented on #1634
Attaching folder in which I am running above mentioned command.

[resource-manager.zip](https://github.com/Azure/azure-rest-api-specs/files/1277860/resource-manager.zip)

[2017-09-05 20:50] vishal-gandhi commented on #1512
File upload is supported over HTTPS.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload

[2017-09-05 22:01] olydis commented on #1634
@suchandr1 looking into it

[2017-09-05 22:16] olydis commented on #1634
Not sure if that's the cause, but I noticed something very odd:
`Vault` in `RRP.json` has a property `etag` but also inherits from `Resource` which has a property `eTag`. At least adjust the spelling, also be aware that setting `etag` to readonly will not work since the property lives in the base class.

[2017-09-06 17:07] MohitGargVpn commented on #1233
The fix is already checked in and still on-track for 9/15

[2017-09-06 22:54] mcardosos commented on #1565
@jhendrixMSFT @marstr for the curiosity

[2017-09-07 16:35] lmazuel opened #1644 "Typo in Network: VirtualNetworkGateways_GetVpnProfilePacakgeUrl"
[Merged 13 days ago](https://github.com/Azure/azure-rest-api-specs/pull/1557), should be fixed asap before release (hopefully...)

[2017-09-07 20:34] olydis commented on #1644
Thanks @lmazuel and @ritwikbasu! Fix merged.

[2017-09-07 20:34] #1644 closed

[2017-09-07 21:55] ravbhatnagar opened #1646 "Microsoft.Insights exportCOnfiguration resource type needs to be ARM compliant and follow RPC"
As per discussion with @frankgdchen this will be fixed in a later API version. This has been on the service side like this. So adding swagger for the current api-version has these issues.

[2017-09-08 01:23] johanste commented on #1556
Sorry - somehow my github notification filters was down so I missed this (and a bunch of other) mention.

[This](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-addresses) and [this](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq) articles describes many of the capabilities and limitations of ipv6 addresses.

[2017-09-08 17:16] tjprescott opened #1649 "[Network] Certain ExpressRoute parameters should be marked read-only"
Currenly only `eTag` is flagged as read-only in Swagger.  According to the ExpressRoutes team, the following fields are also read only:

- [ ] MicrosoftPeeringConfig.legacyMode
- [ ] MicrosoftPeeringConfig.advertisedCommunities
- [ ] MicrosoftPeeringConfig.advertisedPublicPrefixState
- [ ] ipv6PeeringConfig.state

[2017-09-08 22:42] solankisamir commented on #893
@devcfgc @kirthik @vishrutshah we have fixed this issue with [2017-03-01](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/apimanagement/resource-manager/Microsoft.ApiManagement/2017-03-01)

[2017-09-08 22:43] solankisamir commented on #1060
@kirthik @vishrutshah we have fixed the issue with [2017-03-01](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/apimanagement/resource-manager/Microsoft.ApiManagement/2017-03-01). Can you close the issue?

[2017-09-08 22:44] solankisamir commented on #1060
We have fixed the issue with [2017-03-01](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/apimanagement/resource-manager/Microsoft.ApiManagement/2017-03-01) spec. Closing the issue.

[2017-09-08 22:44] #1060 closed

[2017-09-08 23:38] vishrutshah commented on #893
As per the request closing this issue.

[2017-09-08 23:38] #893 closed

[2017-09-09 05:42] tombuildsstuff commented on #1534
👋 @jianghaolu is there an expected timeframe for this to be added? Thanks! :)

[2017-09-11 15:22] wawrzek commented on #1534
I'm another interested party.

[2017-09-12 17:40] tjprescott opened #1666 "[Network] Typo in 2017-09-01 causes breaking changes in SDK"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-09-01/virtualNetworkGateway.json#L408

This was correctly spelled "VirtualNetworkGateways_GetVpnProfilePackageUrl" in 2017-08-01 but is incorrectlly spelled "VirtualNetworkGateways_GetVpnProfile**Pacakge**Url" in 2017-09-01, resulting in breaking changes in the SDKs.

[2017-09-12 18:04] jianghaolu commented on #1534
@anuchandy I see you comment on the related issue, do you have context about this issue as well?

[2017-09-12 18:52] lmazuel opened #1669 "Microsoft.Media incorrect case breaks Python SDK"
This PR https://github.com/Azure/azure-rest-api-specs/pull/1628

renamed some properties, changing their case. `NameAvailable` to `nameAvailable` for instance. This breaks the SDK, and is anyway incorrect according to the actual return of the RestAPI:

[code]
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-media/tests/recordings/test_mgmt_media.test_media.yaml

Please revert t

[2017-09-13 00:04] #1666 closed

[2017-09-13 00:08] veronicagg opened #1673 "Datalake_store - Firewall Rule, name parameter is required"
Customer report: https://github.com/Azure/azure-sdk-for-ruby/issues/900

azure_mgmt_datalake_store - Firewall Rule object, the name parameter is marked as an optional parameter here but it is required.
Please make it required in the documentation.

I believe the name parameter comes from https://github.com/Azure/azure-rest-api-specs/blob/current/specification/datalake-store/resource-manager/Micros

[2017-09-13 00:10] veronicagg commented on #1673
@ro-joowan could you evaluate this issue?

[2017-09-13 18:15] vishrutshah opened #1678 "[ApiManagement] [SEMANTIC_VALIDATION_ERROR] Microsoft.ApiManagement/2017-03-01/apimreports.json"
The existing swagger spec version `2017-03-01` of `apimreports.json` & `apimidentityprovider` has issues with `Equivalent path already exists`

https://travis-ci.org/Azure/azure-rest-api-specs/jobs/275144189#L1567
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/275144189#L1597

[2017-09-13 20:25] vishrutshah opened #1680 "[Authorization] [SEMANTIC_VALIDATION_ERROR] Microsoft.Authorization/2015-07-01/authorization.json"
The existing swagger spec version `2015-07-01` of `authorization.json` has issues with `EQUIVALENT_PATH` for `{roleDefinitionId}`

https://travis-ci.org/Azure/azure-rest-api-specs/jobs/275144189#L1748

[2017-09-13 23:37] olydis opened #1683 "TimeSeriesInsights: Conflicting properties in inheritance chain"
The [Swagger](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/2017-02-28-preview/timeseriesinsights.json) has the following type situation:

Type `IoTHubEventSourceResource` has property `properties` of type `IoTHubEventSourceResourceProperties` and inherits from
type `EventSourceResource` that has property `

[2017-09-14 00:20] mcardosos opened #1684 "Incorrect parameter type on role assignment create operation"
[This parameter](https://github.com/Azure/azure-rest-api-specs/blob/f4729014caa04727c86f37bad1d1b36305942297/specification/authorization/resource-manager/Microsoft.Authorization/2015-07-01/authorization.json#L417) should be modeled as a UUID, not a string.
Service returns error:
`"The role assignment ID 'Whatever' is not valid. The role assignment ID must be a GUID."`

[2017-09-14 01:16] veronicagg opened #1685 "[Network] api-version inside couple of spec files does not match the folder they are in"
Api-version in the spec file, does not match the folder it's in:
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-09-01/vmssNetworkInterface.json#L6
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/network/resource-manager/Microsoft.Network/2017-09-01/vmssPublicIpAddress.json#L6

This is happening not o

[2017-09-14 15:37] lmazuel commented on #1685
@veronicagg This is a long story....
VMSS depends on `Microsoft.Compute`, this means that it's APIVersion follows Compute. However, this is Network information, and to be able to share models from regular NIC to VMSS NIC, a long time ago they decided to put VMSS in the Network package.

This is a cause of trouble for a long time (@olydis @johanste). And I'm not even talking about AzureStack suppor

[2017-09-14 17:43] veronicagg commented on #1685
@lmazuel for code generation purposes, are you creating a tag for a package in network which does not contain these 2 specs? at https://github.com/Azure/azure-rest-api-specs/tree/current/specification/network/resource-manager?
I don't see these specs in Compute folder. Should these specs be at a Microsoft.Compute folder inside https://github.com/Azure/azure-rest-api-specs/tree/current/specificatio

[2017-09-14 19:52] lmazuel commented on #1685
There is a hack if you didn't see, look into these files you will see they truly belong to "Microsoft.Compute". The folder name is a lie :).

These two specs have references to NIC definition. Move them to "compute" has different issues:
- Solution 1: copy NIC definitions with the files. What version of NIC definition do we copy? Who owns the mapping between the correct NIC definition and the corr

[2017-09-15 00:13] lmazuel commented on #1669
It seems the service changed the case on a live production api-version, since indeed the `nameAvailable` case is the one used now....

[2017-09-15 00:13] #1669 closed

[2017-09-15 02:08] ro-joowan commented on #1673
@veronicagg may I ask which API call is the customer invoking?  Is it this API (https://github.com/Azure/azure-rest-api-specs/blob/current/specification/datalake-store/resource-manager/Microsoft.DataLakeStore/2016-11-01/account.json#L45)?

[2017-09-18 09:25] tombuildsstuff commented on #1233
Hey @MohitGargVpn

[@dominik-lekse has run the acceptance tests](https://github.com/terraform-providers/terraform-provider-azurerm/pull/133#issuecomment-330032919) (which create and tear down a Virtual Network Gateway) and it appears we're still seeing issues on deletion, as such I just wanted to confirm if this fix has been released yet?

Thanks!

[2017-09-18 18:45] veronicagg commented on #1673
@muhammad-asad-confiz may give you more details, as author of the original issue (Azure/azure-sdk-for-ruby#900). thanks!

[2017-09-18 18:51] ro-joowan commented on #1673
@muhammad-asad-confiz the more information you can provide the better -- which API was invoked and how the parameters were set.  Thank you!

[2017-09-19 04:19] muhammad-asad-confiz commented on #1673
@ro-joowan I am using azure-sdk-for-ruby and the sdk itself is making the API call.

[2017-09-19 14:04] radu-matei commented on #1348
Hi, everyone!
Is there any update on this issue?

Thanks!

[2017-09-19 17:47] tombuildsstuff opened #1697 "[App Service] Update API is Broken"
:wave:

I've been trying to add support for [App Services to Terraform](https://github.com/terraform-providers/terraform-provider-azurerm/pull/344) - during which time I've encountered some bugs with the App Services/Web Apps API:

When using this request:

[code]

The following response is returned:

[code]

However - even when submitting the `ttlInSeconds` field in the request object (either, in

[2017-09-19 17:54] tombuildsstuff opened #1698 "[App Service] Linux App Services don't return all fields"
:wave:

When creating a App Service within a Linux App Service Plan using the `LinuxFxVersion` field - the App Service is created successfully; however it appears this field isn't populated/returned in the API response when retrieving an App Service.

I'm making use of the Go SDK here, but from what I can see this is a Service Issue rather than something specific to the Go SDK.. whilst this may al

[2017-09-19 19:10] olydis commented on #1697
@Nking92 @naveedaz @EricSten-MSFT tagged everyone who seems to be involved with that API, feel free to assign more appropriately :-)

[2017-09-19 19:52] olydis commented on #1211
@gucalder PING

[2017-09-19 19:53] olydis commented on #1282
@darshanhs90 PING

[2017-09-19 19:56] olydis commented on #1634
Closing due to inactivity. Please reopen if the problem persists.

[2017-09-19 19:56] #1634 closed

[2017-09-19 19:56] gatneil commented on #1372
I'm a bit confused why I've been assigned :)

[2017-09-19 20:25] ro-joowan commented on #1673
@muhammad-asad-confiz Sorry, I meant which method were you using and what were the parameters?

[2017-09-19 21:24] MohitGargVpn commented on #1233
The fix is in rollout and has gone to many regions but not all. Please try it again after a week or so. BTW which region did you try and on which date? I can check if that region had the fix or not? If you could also give me subscriptionId, and VNET URI i can investigate why vnet/subnet deletion failed for you.

[2017-09-19 21:26] gucalder opened #1700 "[Monitor] The enumeration for Unit in the metrics API is missing two values: ByteSecond, Unspecified"

[2017-09-20 03:54] muhammad-asad-confiz commented on #1673
[code]

This is object which is created and specifies all parameters and this object is passed to create method of SDK
https://github.com/Azure/azure-sdk-for-ruby/blob/8d9ac49c327561f6e6ab5454ba4911c81c0e0fa4/management/azure_mgmt_datalake_store/lib/generated/azure_mgmt_datalake_store/account.rb#L37

[2017-09-20 14:41] tombuildsstuff commented on #1386
@jhendrixMSFT @kirthik 👋🏻 given that @colemickens no longer works at Microsoft, would it be possible to re-assign this to someone else on the Container Service team? Thanks! :)

[2017-09-20 16:06] lmazuel opened #1704 "Missing "remoteAddressSpace" in Network "virtualNetworkPeerings""
[According to a customer](https://github.com/Azure/azure-sdk-for-python/pull/1453), the JSON returned is:
[code]
And `remoteAddressSpace` is not defined in the Swagger, then not available as an attribute.

[2017-09-20 17:19] anuchandy commented on #1556
@tombuildsstuff Does the pointers that Johan provided address your concern? If yes can we close this issue?

[2017-09-20 17:47] ro-joowan commented on #1673
@muhammad-asad-confiz Thank you for that.  What is the error message that you get when don't provide the FirewallRule name?

@matt1883 I confirmed with Rolland that the FirewallRule name is required whether you are just creating the FirewallRule or creating it during an ADLS account creation.  Should I make this required in the FirewallRule -> SubResource object? (https://github.com/Azure/azure-re

[2017-09-20 20:34] olydis commented on #1678
From @solankisamir

I think this case makes perfect sense, so the question is where we wanna go or what our recommendation is:
a) "fix the rule" - having multiple identical paths can be a quite intentional thing (as seen above, in BlobStorage I encountered the same). But I get that this was a common error in the past so we *should* flag it somehow.
b) request a suppression whenever it happens and

[2017-09-20 22:27] kirthik commented on #1386
@rjtsdl - Could you please provide an ETA?

[2017-09-20 22:57] rjtsdl commented on #1386
@Krithik and all,

The swagger change for 2017-07-01 version is in, but not used to build client sdk yet.
The reason is, ACS is migrating to a new code base. The timeline should be around 2 months from now. We should be able to open this api version 2017-07-01 globally right after that.

Btw, there is really no 2017-06-28, it is 2017-07-01. :) @kirthik, could you help to update the issue title?

[2017-09-20 23:31] darshanhs90 commented on #1282
@olydis Are you suggesting we replace the display name with two fields first and last name?

[2017-09-20 23:54] eshaparmar opened #1708 "Improve documentation for azure automation configurations & node configurations."
This is what we have right now: the JSON schema is incorrect and misleading. Someone also left a comment on the blog and we have received CRI as well for the same.

[2017-09-21 00:06] solankisamir commented on #1678
@promoisha for pull request https://github.com/Azure/azure-rest-api-specs/pull/1679

[2017-09-21 16:54] lmazuel commented on #1282
The suggestion is to make the [User object in the Swagger](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/graphrbac/data-plane/1.6/graphrbac.json#L2468-L2503) closer to the RestAPI :). The customer found two string in the JSON that are not exposed in the Swagger: `givenName` and `surname`. Just adding these two as strings is enough, the point is not to replace anything.
B

[2017-09-21 16:58] lmazuel commented on #1282
This is what I see when I do a GET on user:
[code]

I see indeed `givenName` and `surname`

[2017-09-21 17:26] lmazuel commented on #1282
@olydis, just talked to @amarzavery  I will take care of this myself and do a PR

[2017-09-21 17:47] mcardosos commented on #1124
Fixed for go here https://github.com/Azure/go-autorest/pull/155

[2017-09-21 17:47] #1124 closed

[2017-09-21 18:04] veronicagg commented on #1678
@olydis @solankisamir Equivalent paths are not supported by Open Api 2.0  - https://github.com/OAI/OpenAPI-Specification/issues/788
For this case, I see 2 options:
1) use the enum unique value directly in the path, which would disambiguate it: is there a reason why this is parameterized if it'll have a unique value?
2) use x-ms-paths, which was created to help with the OpenAPI spec limitation.

[2017-09-21 18:49] mcardosos commented on #1683
CC @sandshadow

[2017-09-21 20:29] sergey-shandar commented on #1708
@eshaparmar could you provide more details about the issue.

[2017-09-21 21:09] promoisha commented on #1678
@veronicagg The reason for parameterization is that the linter emits following warnings if we don't parameterize paths:

`"message": "Type values \"signup\" have default value(s), please consider parameterizing them"`

If that's OK to have these warnings, we can use enum values directly.

[2017-09-21 22:10] #1282 closed

[2017-09-22 17:26] veronicagg commented on #1678
@promoisha we've actually removed ParameterizedProperties rule for the next release, so please ignore that warning for the moment (it'll go away) - see https://github.com/Azure/azure-rest-api-specs/pull/1504 and https://github.com/Azure/azure-rest-api-specs/commit/fd13a536a1f0eed37c7267e866a2f81dce5b1412#diff-933629df063d86e3d243a6fa347c0af4

[2017-09-22 18:54] mcardosos opened #1728 "[Cognitive Services] Entity search really needs parameter grouping"
`Entities_Search` operation is generated with 14 parameters.

[2017-09-22 18:58] mcardosos commented on #1728
cc @stefanvalianu

[2017-09-22 20:30] RikkiGibson opened #1731 "[Monitor] Inconsistency in package date"
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/monitor/resource-manager/readme.md
This shows one date in the header and another date in the code snippet. Which should be used?

[2017-09-22 20:35] stefanvalianu commented on #1728
Could you provide some pointers to what parameter groupings are / examples?

[2017-09-22 20:36] mcardosos commented on #1728
I refer to [x-ms-parameter-grouping](https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-parameter-grouping) extension

[2017-09-22 20:47] stefanvalianu commented on #1728
Thanks!

We definitely have a lot of parameters, other APIs we own will have even more. Does it really help customers to bunch them into some arbitrary classes? Now instead of digging through 14 parameters to see what they need, they'll have to dig through some random parameter groupings to see what the same 14 parameters are.

Imo only way this adds value is if we can perfectly group parameters i

[2017-09-22 21:40] promoisha commented on #1678
@veronicagg Thanks for the info. I'll go ahead and use values directly in the URI.

[2017-09-22 23:42] mcardosos opened #1735 "[Search] Parameter grouping"
Search is using parameter grouping, but grouping a [single parameter](https://github.com/Azure/azure-rest-api-specs/blob/2416692e60a12e8fc3b6d7c88272f5fcf5cc93aa/specification/search/resource-manager/Microsoft.Search/2015-08-19/search.json#L1041). Are more parameters expected to be added later to the group, or is this extension really needed here?

[2017-09-24 05:10] brjohnstmsft commented on #1735
This was an intentional design choice to create space for adding more parameters later without breaking changes. However, we haven't yet had the need to add more parameters in this particular case.

[2017-09-25 13:54] tombuildsstuff opened #1739 "[Key Vault] Key Vault Key API Enum's are case sensitive"
👋🏻

I've been working with the `2016-10-01` version of the Key Vault Key API via the Azure SDK for Go - and have noticed it is sensitive to the casing of Enum's. Every other API I've used within Azure handles Enum values being in the incorrect case (by passing them using the Case Insensitive override) - however the Key Vault Key API requires these values be case sensitive - and returns a pretty un

[2017-09-25 14:22] tombuildsstuff commented on #1347
@TimLovellSmith thanks for the update - is there a timeframe for when a new API version will be released? Based on your description, I'm assuming that would be duplicating the API version and updating the behaviour, rather than including additional functionality - and as such should be relatively quick?

Unfortunately the workaround specified above isn't ideal since it opens us up to other issues

[2017-09-25 18:17] TimLovellSmith commented on #1347
@tombuildsstuff Sorry, still no definite timeframe on that change.. I'm not familiar with the hyper-v networking/locking errors you mention, what are those like? For permissions, it would fail with 401 or 403 status code, rather than 400. You can most definitely distinguish this particular scenario via the 'InUseSubnetCannotBeDeleted' status in the error response. Which as you say, is a lot better

[2017-09-25 20:42] mcardosos commented on #1735
Awesome :D Closing issue

[2017-09-25 20:42] #1735 closed

[2017-09-25 22:04] amarzavery opened #1740 "Fix x-ms-examples for compute 2017-03-30 swagger spec."
Compute swagger has model validation errors https://travis-ci.org/Azure/azure-rest-api-specs/jobs/279647270. We will be merging this PR https://github.com/Azure/azure-rest-api-specs/pull/1727 as it contains changes for Ignite. However, someone from the compute team needs to fix those examples later on at the earliest possible date. This will directly impact the examples shown for the Compute REST

[2017-09-25 22:45] huangpf commented on #1740
We got the red label!

@gatneil to help take a first cut, because I think there is an ongoing thread from you about adding examples to our specs?

[2017-09-25 23:00] yugangw-msft opened #1741 "vmss: os disk size is not captured in spec"
The trace on the wire does contain the information.
Please update the model type to get complete:
https://github.com/Azure/azure-rest-api-specs/blob/current/specification/compute/resource-manager/Microsoft.Compute/2017-03-30/compute.json#L5501-L5547

[2017-09-25 23:00] yugangw-msft commented on #1741
//cc @hyonholee, please reassign if needed

[2017-09-25 23:44] marstr commented on #1739
Howdy @tombuildsstuff, just to confirm, it [looks to me](https://github.com/Azure/azure-sdk-for-go/blob/21f5db4a3b31b290b68bd706520298d37c87cd29/dataplane/keyvault/models.go#L61) like the Azure SDK for Go supplies the correct casing. Do you think there is a bug with our client-library, or is this a suggestion for how to improve the server-side service? You know you're the Go team's MVP!