[2022-08-23 16:00] markweitzel commented on #20052
# Discussion on AutoLD
PR: #20318

* There is a conversation around what identifier or name is returned in the `detectedLanguage`. Might want to add `nativeName` -- rely on `iso6391` to avoid any geo-political concerns.

[2022-08-23 16:09] markweitzel commented on #20052
# Discussion on Healthcare
PR #20339

* `documentType` -- make this an extensible enum
* `None` - try to eliminate this value.

[2022-08-23 16:29] mdowst opened #20341 "Microsoft.Insights/scheduledQueryRules does not allow PT1M frequency"
The API will not allow you to update an existing query rule with the evaluationFrequency set to 'PT1M'. When I run the payload below I receive the error "Couldn't optimize this query so the selected frequency was not supported. Try selecting a different frequency". If I leave off the evaluationFrequency it will still fail if the frequency is set to PT1M in the existing rule. This behavior is prese

[2022-08-23 17:41] markweitzel commented on #20053
@peytonfraser -- Because these changes will flow downstream into the SDK process, we use github PRs--not AZDO--as the `source of truth` for API reviews. @AmirGeorge -- would you please create a PR in github?

[2022-08-23 18:32] AmirGeorge commented on #20053
GitHub PR https://github.com/Azure/azure-rest-api-specs/pull/20347

[2022-08-23 20:45] markweitzel commented on #20053
# API Stewardship Board Review: 23-Aug-22

* Recommended: `CustomAbstractiveSummarization` --> `CustomAbstractSummarization...`
* Document the TTL for the regex. Customers will need to know how long this can run for.

* `regex`
`expressions` reads well enough. You could consider things like cases, options, matchers, conditions, etc., if you're trying to avoid the repetition.

Consider making `expr

[2022-08-24 07:20] qiaozha commented on #19196
close it as resolved in the service backend. Thanks

[2022-08-24 07:20] #19196 closed

[2022-08-24 07:44] azure-sdk opened #20361 "[Cognitive Services - Anomaly Detector] API Review add version stable/2022-08-23"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Chunlei Wang.</div>

## Notes/Discussion

* Document the ranges much better

`POST` `/multivariate/models/{modelId}/entire/detect`
These actions do not follow the convention for actions.
See: [Performing an action](https://microsoftapc-my.sharepoint.com/:p:/g/personal

[2022-08-24 13:20] sshearn opened #20364 "Security contacts api version 2020-01-01-preview for azure python SDK"
Currently, the azure python SDK supports version 2017-08-01-preview for security contacts and I'd like it to be updated to 2020-01-01-preview.

This request is forwarded from https://github.com/Azure/azure-sdk-for-python/issues/25771

[2022-08-25 12:40] ByMitta commented on #11237
I am also encountering the same error. Though I am not using Terraform but Bicep which translates it to an ARM Template which is deployed using a Azure DevOps pipeline task.

The initial deploy of the storage account was successful. Another deploy after that I enabled PITR which was also successful. But the deploys after these, with no changes in the bicep/arm template are given me the same error

[2022-08-25 13:44] andrekiba commented on #19159
After 3 months this is still open, @navba-MSFT @toddysm  @northtyphoon  could you please provide an update??

[2022-08-25 21:19] bidisha-c commented on #20051
Adding Resolutions for NER response: https://github.com/Azure/azure-rest-api-specs/pull/20371

[2022-08-26 03:54] CFinley22 commented on #10234
any updates?

[2022-08-26 04:25] navba-MSFT commented on #20156
Removing the CXP attention label since the Service team has been involved already.

@azureSQLGitHub  Could you please look into this and provide an update ?

[2022-08-26 04:44] navba-MSFT commented on #20229
@kenieva Could you please look into this and provide an update ?

[2022-08-26 04:50] navba-MSFT commented on #20254
@anuragdalmia, @ShilpiGautam, @ramaganesan-rg Could you please look into this and provide an update once you get a chance ?

[2022-08-26 04:53] navba-MSFT commented on #20267
Removing the CXP attention label since Service team is already involved in this thread.

[2022-08-26 05:24] navba-MSFT commented on #20141
@dfberry I wanted to do quick follow-up to check if you had a chance to look at my above comment. Could you please elaborate on your ask and provide us more details on your requirement ? Awaiting your reply.

[2022-08-26 08:02] teowa opened #20410 "Monitor ScheduledQueryRule 2021-08-01 Missing Properties in GET Response: `createdWithApiVersion`, `isLegacyLogAnalyticsRule`, `isWorkspaceAlertsStorageConfigured`"
### Description

`createdWithApiVersion`, `isLegacyLogAnalyticsRule`,and  `isWorkspaceAlertsStorageConfigured`  is missing in GET or PUT response.

### Swagger:
https://github.com/Azure/azure-rest-api-specs/blob/eca8060c5746b3b092c50580b59de31fe749d669/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-08-01/scheduledQueryRule_API.json#L333-L345

https://github.com/Azure/azure-r

[2022-08-26 08:31] jannickoeben commented on #11085
Same behaviour here, using Bicep. We need this to work for our customers too. This is a blocker for using IaC end-to-end, which is best practice.

[2022-08-26 11:21] Nishant-Kumar07 commented on #20331
I think this is as per the RFC here - https://www.rfc-editor.org/rfc/rfc7231#section-4.3.5 .

[2022-08-26 12:10] navba-MSFT commented on #20268
@sinbai Apologies for the late reply. Thanks for reaching out to us and reporting this issue. I have created the above PR and it is currently under review.

[2022-08-26 22:52] #20052 closed

[2022-08-27 02:27] heaths commented on #20024
The service team has merged the fixes. Need to update the autorest.md files:

* https://raw.githubusercontent.com/Azure/azure-rest-api-specs/1646226d874de6e8d36ebd3ad088c6c5f6cc6ed0/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.1/TextAnalytics.json
* https://raw.githubusercontent.com/Azure/azure-rest-api-specs/1646226d874de6e8d36ebd3ad088c6c5f6cc6ed0/specification/cognitiveser

[2022-08-27 04:34] heaths commented on #20024
Opened separate work items for each language. See links. Resolved by #19558

[2022-08-27 04:34] #20024 closed

[2022-08-29 03:02] navba-MSFT commented on #20324
@bfeldmann12 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-29 03:11] navba-MSFT commented on #20364
@sshearn Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-29 06:48] wuxu92 commented on #18888
Hi @navba-MSFT is there any update from the service team?

[2022-08-29 06:58] neil-yechenwei opened #20424 "PostgresqlFlexibleServerConfiguration.GET API shouldn't return 500 while creating Postgresql Flexible Server"
After tested, I found PostgresqlFlexibleServerConfiguration.GET API always returns 500 while creating Postgresql Flexible Server. I think PostgresqlFlexibleServerConfiguration.GET API should return 400 since it doesn't exist.

GET https://management.azure.com/subscriptions/xx-xx-xx-xx/resourceGroups/xxxx/providers/Microsoft.DBForPostgreSql/flexibleServers/xxxxx/configurations/xxxxx?api-version=202

[2022-08-29 08:15] navba-MSFT commented on #18888
@wuxu92  I see that the Service attention label has been added on this. I am tagging them again here to see if they can prioritize this.

@AzureAppServiceCLI @antcp Could you please look into this issue and provide an update ?

[2022-08-29 08:19] dvbb opened #20428 "[LogicApp] Throws RequestFailedException exception, but actually creates successfully"
- Request Path: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}
- Operation Id: IntegrationServiceEnvironments_CreateOrUpdate

After calling the `IntegrationServiceEnvironments_CreateOrUpdate` method and waiting for the deployment to finish, the API will return the following error, but the r

[2022-08-29 17:11] glorialimicrosoft opened #20438 "[Communication - Cross Platform Messaging] REST API Review Round II"
Responsible:
[geling.li@microsoft.com](mailto:geling.li@microsoft.com)

Team:
[ACS - Cross Platform Messaging](https://teams.microsoft.com/l/team/19%3aC4PXiFDHhaAs0C4_c7P2icdZU1xT4fcrAWfHDoOmyIM1%40thread.tacv2/conversations?groupId=951af3ba-82a0-4bbb-8209-c81586550ead&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47)

Whether this is a new or existing API
New API

Whether or not your service already

[2022-08-29 21:53] erjms commented on #20235
Hi @keryul, thanks for responding. We are unable to make the suggested changes because our service's swagger has already been published as a stable version and they would constitute breaking changes. But more generally, could you please point me to where in the documentation it forbids applying `x-ms-secret` to $ref properties? I don't see any such restriction called out, and I can imagine many sc

[2022-08-30 01:39] sinbai commented on #20268
@navba-MSFT thanks for your time.

[2022-08-30 05:05] navba-MSFT commented on #20217
@sinbai Thanks for reaching out to us and reporting this issue.  The Supported VM series and sizes details are already documented [here](https://docs.microsoft.com/en-us/azure/machine-learning/concept-compute-target#supported-vm-series-and-sizes).

Please note, Azure Machine Learning doesn't support all VM sizes that Azure Compute supports. To list the available VM sizes, use one of the following

[2022-08-30 06:43] navba-MSFT commented on #20324
@bfeldmann12 I created a new webapp and I was able to list my newly created webapp by invoking the [List REST API](https://docs.microsoft.com/en-us/rest/api/resources/resources/list). See below:

**Request**

Authorization: Bearer eyJ0eXXXXXXXXXXXXX

**Response Output**

content-length: 62225
content-type: application/json; charset=utf-8
expires: -1
pragma: no-cache
x-ms-correlation-request-id: 8f

[2022-08-30 07:27] liuwuliuyun opened #20468 "[Kusto] kusto cluster - newly supported skus"
Kusto team confirms that they will add following skus to kusto cluster supported skus. Now, the skus are supported in the backend but not get into swagger yet. Will close this issue once they entered the main branch.

Newly added sku list:

"Standard_L8s_v3",
"Standard_L16s_v3",
"Standard_L8as_v3",
								"Standard_L16as_v3",
								"Standard_EC8as_v5+1TB_PS",
								"Standard_EC8as_v5+2TB_PS",

[2022-08-30 12:40] bfeldmann12 commented on #20324
@navba-MSFT, it turns out this issue has to do with stale cached data between regions. We ran into this issue in our Azure DevOps pipelines using the App Service deploy task, so we also opened a ticket with Microsoft Support. Basically, our DevOps instance is hosted in the Central US, while our resources are being deployed to the East US 2 region. The app service deploy task calls the __https://ma

[2022-08-30 17:19] #19429 closed

[2022-08-30 19:18] azure-sdk opened #20478 "[Communication Services - Cross platform messaging] REST API Review Meeting"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Jorge Garcia Hirota.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Azure Communication Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp

[2022-08-30 20:20] markweitzel commented on #19308
# API Stewardship Board Review: 30-Aug-22

Adding two new APIs to this service. They are included in this PR, part of which was reviewed above. This review is focused on Recognize and Media Streaming operations.

On the web socket API, then understanding how data is moved across the wire will be important. This is especially true when thinking about programming languages other than C#.
* We would

[2022-08-30 20:22] markweitzel opened #20479 "[ACS Calling Server] Web Socket API for Media Streaming"
This is an offshoot of #19308 and will focus on the WebSocket API.

[2022-08-31 04:25] teowa opened #20488 "Monitor Action Group 2021-09-01 itsmReceivers returns Internal Server Error"
The Swagger [link](https://github.com/Azure/azure-rest-api-specs/blob/3de536d7c66c85f88d84c258ecf9d839865e17c1/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-09-01/actionGroups_API.json#L40). If I set `itsmReceivers.ticketConfiguration` as `{}` it will return 500 error. I also tried `"ticketConfiguration": {\"PayloadRevision\":0,\"WorkItemType\":\"Incident\",\"UseTemplate\":

[2022-08-31 13:18] simone-cw opened #20499 "Update Connection Strings on Production slot returns Bad Request"
We encountered an error when attempting to update Connection Strings on a Production slot for any of our App Services.
The issue was first noticed when running the Set-AzWebApp command which uses the API described below

**API Endpoint** - [Web Apps - Update Connection Strings
](https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/update-connection-strings)
`https://management.azure.com/s

[2022-08-31 15:01] azure-sdk opened #20500 "[Communication Services - Check Routing] REST API Review Meeting"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Karol Druzycki.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Azure Communication Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a h

[2022-08-31 15:01] iwate commented on #19173
I've tried hosting ElasticSearch on ACI and got this issue.
Are there any updates?

[2022-08-31 15:07] akhilayesantarao99 commented on #20051
Adding PRs for script detection
https://github.com/Azure/azure-rest-api-specs/pull/20339
https://github.com/Azure/azure-rest-api-specs/pull/20472

[2022-08-31 15:24] markweitzel commented on #20051
# API Stewardship Board Review: 31-Aug-22

* Consider removing resolutions that are not supported. At a minimum, document that this will not be returned.

The suggestion is you'd evolve this and CLU return the raw string, the value scoped to specific units, and the normalized value to a common base unit
* And I guess it's more of an ask before you GA to look at the code customers are writing with

[2022-08-31 15:35] markweitzel commented on #20051
# API Stewardship Board Review: 31-Aug-22
PR: #20339

Make `script` an extensible enum.
In .NET, for example, a modelAsString=true enum would turn into something like https://azure.github.io/azure-sdk/dotnet_implementation.html#dotnet-enums which is effectively just "known values" for a string.

Next Steps
* This part of the API is good for preview, pending the change to extensible enum.

[2022-08-31 16:01] markweitzel commented on #20053
# API Stewardship Board Review 31-Aug-22

Reviewing part of the API we did not get to on Aug 23.

Please be sure to use "format": "arm-id" per https://github.com/Azure/autorest/blob/main/packages/libs/openapi/src/v3/formats.ts#L55 for the values in that resourceIds array so they're generated as https://docs.microsoft.com/en-us/dotnet/api/azure.core.resourceidentifier?view=azure-dotnet in languages

[2022-09-01 03:26] ms-zhenhua opened #20525 "`Microsoft.Consumption` - The `not` property is not returned in PUT response for API-version `2019-10-01` From this June"
We have some testcases which use [PUT API](https://github.com/Azure/azure-rest-api-specs/blob/7c840caa77ac200f43636930d82fc31cf117241e/specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-10-01/consumption.json#L344) in `2019-10-01` version of `Microsoft.Consumption`. These testcases failed to run from this June. The reason is the PUT response does not return the [`not`](ht

[2022-09-01 03:59] navba-MSFT commented on #20312
@tcbjc Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-01 04:00] navba-MSFT commented on #20216
@sinbai Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-01 04:40] navba-MSFT commented on #20141
@dfberry I tested creating an account SAS with powershell with random orders of permissions, it worked. So, order shouldn’t matter for account sas. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-01 04:40] #20141 closed

[2022-09-01 05:43] navba-MSFT commented on #20324
@bfeldmann12 Thanks for the update. I am glad that the issue has been isolated with the help of Microsoft support. Please let me know if you need any further assistance on this issue.

[2022-09-01 06:08] navba-MSFT commented on #20364
@sshearn The above PR has been filed an it is currently under review. In the meantime if you have any questions, please feel free to ask.

[2022-09-01 07:43] weidongxu-microsoft commented on #20267
ref https://github.com/Azure/azure-rest-api-specs/pull/20494

[2022-09-01 08:25] navba-MSFT commented on #20312
@tcbjc You would need to register the feature before calling the checkZonePeers API.

You could try to register this feature flag either using PowerShell or AzCLI as below:
**PowerShell:**
Please run the following Powershell commands:
• Select the right subscription: Select-AzSubscription -SubscriptionId "123456123456123456"
• To register: Register-AzProviderFeature -FeatureName "AvailabilityZoneP

[2022-09-01 09:37] akhilayesantarao99 commented on #20051
Made script an extensible enum - https://github.com/Azure/azure-rest-api-specs/pull/20472

[2022-09-01 11:03] navba-MSFT commented on #20216
@sinbai Could you please elaborate on your use case ? Is the `vmSize` property uppercase / lowercase causing any issue ? If yes, what is the issue ?

The compute properties for create AMLcompute operation has the vmsize in uppercase. see [here](https://docs.microsoft.com/en-us/rest/api/azureml/2022-05-01/compute/create-or-update?tabs=HTTP#amlcomputeproperties
). However the [ListVMSizes REST API](

[2022-09-01 11:19] neil-yechenwei opened #20544 "Bot Connection API cannot update the parameters property"
After tested, we found Bot Connection API cannot update the `parameters` property and it's still the value at first request. Could you take a look? Thanks in advance.

The first request:
PUT https://management.azure.com/subscriptions/xx-xx-xx-xx/resourceGroups/xxx/providers/Microsoft.BotService/botServices/xxxx/connections/xxxxx

{
    "kind": "bot",
    "location": "global",
    "properties": {

[2022-09-01 11:41] bfeldmann12 commented on #20324
Thanks for looking into this @navba-MSFT

[2022-09-01 11:41] #20324 closed

[2022-09-01 23:52] markweitzel commented on #20297
## API Stewardship Board Review: 1-Sep-22

* Since we are in preview, consider adding the `search` namespace to `geocode`, e.g. `/search/geocode`
* `entityType` -- is this similar to `matchType`? Same concept? Would developers expect them to be the same?
* Consider simplifying the `sourcesByGeometriesArrayIndex` to make it just an array.

### Common.json
No concerns.

## Next Steps
* Go for previe

[2022-09-02 00:01] #20297 closed

[2022-09-02 01:55] WodansSon opened #20560 "CDN FrontDoor: cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01 RuleSetName not returned in GET call"
[code]

[RuleSetName](https://github.com/Azure/azure-rest-api-specs/blob/163e27c0ca7570bc39e00a46f255740d9b3ba3cb/specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/afdx.json#L2159) is not being return in the `GET` call.

[2022-09-02 02:48] navba-MSFT commented on #20217
@sinbai I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any queries on this. Awaiting your reply.

[2022-09-02 02:50] sinbai commented on #20216
@navba-MSFT thanks for your reply. Case inconsistency caused the resource to be recreated for the terraform user. See [here](https://github.com/hashicorp/terraform-provider-azurerm/issues/17562) for detail.

Per [doc](https://armwiki.azurewebsites.net/rp_onboarding/process/property_design_best_practices.html#keep-readwrite-properties-simple), preserve the casing used on the PUT. Do not normalize t

[2022-09-02 02:52] navba-MSFT commented on #20216
@sinbai Thanks for getting back and clarifying the ask. I will look into this further and provide you an update.

[2022-09-02 04:22] magodo opened #20563 "StaticSite: No API definition on `<site URL>/config/basicAuth` endpoint"
Static site has supported password protection per: https://docs.microsoft.com/en-us/azure/static-web-apps/password-protection#enable-password-protection. The underlying API used to configure the password is `<site URL>/config/basicAuth`, and the Azure Portal is using the API version 2021-03-01. However, there is no swagger definition found for this endpoint: https://github.com/Azure/azure-rest-api

[2022-09-02 16:48] azure-sdk opened #20571 "[Azure Communication Services - Unmixed Audio Recording] API Review"
**Service Name**: Azure Communication Services - Server Calling
**Review Created By**: Jorge Garcia Hirota
**Review Date**: 9/15/2022 4:00 PM
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/19409
**Description**: Allows each participant on a call to be recorded to an individual audio stream
**Link to swagger**: https://github.com/Azure/azure-rest-api-specs/blob/216eed415580b6ee39b0cac27

[2022-09-02 20:35] markweitzel opened #20573 "[Purview - SQL DevOps Policies] API Review"
[Purview - SQL DevOps Policies] API Review

PR: #20107
Planning on reservice this time slot.

Service name: Purview:
Key Contact(s):
New or Existing API:
Deployment:
Description of change / api:
Link to hero scenarios:

[2022-09-03 23:34] horihiro opened #20576 "`Return404` is not defined in `GlobalValidation` in `authsettingsV2` of WebApps specification"
Currently, HTTP 404 can be specified as a response to an unauthenticated request by using EasyAuth.
![image](https://user-images.githubusercontent.com/4566555/188290509-b12f4281-b840-46eb-befe-116ff994f0d8.png)

And the setting for the HTTP 404 response can be confirmed by `Get Auth Settings V2` API.
https://docs.microsoft.com/ja-jp/rest/api/appservice/web-apps/get-auth-settings-v2#code-try-0
![im

[2022-09-05 02:50] navba-MSFT commented on #20313
@garylirocks Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-05 03:49] navba-MSFT commented on #20217
@sinbai I hope you had a chance to look at the above comment. Please feel free to reopen this thread if you need any further assistance. We would be happy to help.

[2022-09-05 03:49] #20217 closed

[2022-09-05 04:07] navba-MSFT commented on #20312
@tcbjc I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-09-05 04:09] navba-MSFT commented on #20216
@sinbai I am discussing this with the Product Owners and waiting for their update. I will get back to you once I have more details from them.

[2022-09-05 04:15] navba-MSFT commented on #20364
@sshearn I am checking with the Product owners to get my above PR reviewed. Awaiting their reply now.

[2022-09-05 09:14] ms-henglu opened #20586 "Microsoft.Insights/privateLinkScopes/scopedResources@2021-07-01-preview - ROUNDTRIP_INCONSISTENT_PROPERTY"
## Microsoft.Insights/privateLinkScopes/scopedResources@2021-07-01-preview - ROUNDTRIP_INCONSISTENT_PROPERTY

### Description

I found differences between PUT request body and GET response:

- .properties.linkedResourceId: expect /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/henglu95mon/providers/Microsoft.Insights/components/henglu95mon, but got /subscriptions/00000000-0000-0

[2022-09-05 14:36] mattmshell commented on #20216
Similar to #20336

[2022-09-06 02:25] ms-zhenhua opened #20598 "`Microsoft.Management` - The subscription still exists under the management group after De-associated"
I ran this [DELETE API](https://docs.microsoft.com/en-us/rest/api/managementgroups/management-group-subscriptions/delete?tabs=HTTP) to de-associate the `Subscription A` from the management group and the Azure Service replied **HTTP/2.0 200 OK**.
After that, I ran this [GET API](https://docs.microsoft.com/en-us/rest/api/managementgroups/management-groups/get?tabs=HTTP) with **$expand=children query

[2022-09-06 03:35] bojunehsu opened #20599 "[Cognitive - Form Recognizer] REST API Review - v3.0 GA"
### Change Scope
<sup>This section will help us focus on the specific parts of your API that are new or have been modified. <br/>Please share a link to the design document for the new APIs, a link to the previous Open API document (swagger) if applicable, and the root paths that have been updated. </sup>
* Design Document: See https://github.com/Azure/azure-rest-api-specs-pr/pull/8150 for internal

[2022-09-06 03:58] neil-yechenwei opened #20600 "Postgresql Flexible Server should return error to not allow HA when create mode is PITR"
Postgresql Flexible Server doesn't allow HA when create mode is PITR. But currently API doesn't return any error. Service team confirmed they will involve this request adding validation for this situation to their plan.

[2022-09-06 15:36] azure-sdk commented on #20279
Cancelled by: Lily Motley

[2022-09-06 15:36] #20279 closed

[2022-09-07 06:20] neil-yechenwei opened #20616 "Postgresql Flexible Server Firewall Rule should fail while creating based on Postgresql Flexible Server with private access"
We found Postgresql Flexible Server Firewall Rule would be created successfully while creating based on Postgresql Flexible Server with private access. But service team confirmed that it should fail and they'll fix this issue.

[2022-09-07 07:18] navba-MSFT commented on #20268
@pjohari-ms, @MehaKaushik, @zfoster, @kushagraThapar, @simorenoh, @simplynaveen20, @abinav2307 Could you please look into this once you get a chance and provide an update ? Thanks in advance.

[2022-09-07 07:21] navba-MSFT commented on #20312
@tcbjc The action is currently pending on you to try the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-07 07:21] #20312 closed

[2022-09-07 08:21] teowa opened #20619 "Microsoft.OperationalInsights/LinkedStorageAccounts@2020-08-01 response case sensitivity differs with locations"
## Description
The swagger is [link](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/LinkedStorageAccounts.json#L36-L51)

I try to PUT LinkedStorageAccounts , but the response's datatype case sensitivity differs with location. The result doesn't change if I use `customlogs` or `CustomLogs` in

[2022-09-07 10:04] simone-cw commented on #20499
We've managed to find the root cause of the issue, specifically an Azure policy that was intercepting the API call and returning a Bad Request before even reaching the [Web Apps - Update Connection Strings](https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/update-connection-strings) API.

We've opened a feature request with Azure to provide a more helpful error message as there was no

[2022-09-07 16:14] andrekiba commented on #19159
I retry… @navba-MSFT @toddysm @northtyphoon could you please help? Is it possible that a core issue that makes impossibile to use a task run resource stays here for months???

[2022-09-07 16:31] #19762 closed

[2022-09-07 17:09] markweitzel commented on #16984
Additional API Review on Sept 7, 2022
See: #20361

[2022-09-07 17:10] markweitzel commented on #20361
See: #16984

[2022-09-07 17:32] azure-sdk opened #20627 "[Azure Communication Services - Server Calling] API Review"
**Service Name**: Azure Communication Services - Server Calling
**Review Created By**: Jorge Garcia Hirota
**PR**:
**Description**: Champion scenarios that briefly explain how developers will use your API:
Katie calls Alaska Airlines

Alaska Airlines answers Katie’s call and plays an IVR

Katie selects English from first options and selects booking through a representative as her second option

Ka

[2022-09-07 17:40] chcorpmy commented on #12516
This issue is still open, and ongoing. Suggested work around is to simply not create the private link in ARM/Bicep. The underlying cause appears to be the ServiceBus Private Endpoint not respecting the name field, and instead creating the requested resource with a GUID as the name. This prevents the deployment from completing, despite the resource being created as expected.

Failure reproduces in

[2022-09-08 02:58] #20598 closed

[2022-09-08 02:59] #20525 closed

[2022-09-08 02:59] #19015 closed

[2022-09-08 03:11] navba-MSFT commented on #20499
@simone-cw Thanks for the update. Feel free to reopen this issue in future if you need any further assistance.

[2022-09-08 03:11] #20499 closed

[2022-09-08 21:01] cataggar opened #20652 "cdn `Basic Information` `tag` is set to a preview"
I understand the `Tag` item in `Configuration` `Basic Information` section was the default API that should be used. Shouldn't it be a stable version? If not, what is its meaning?

https://github.com/Azure/azure-rest-api-specs/blob/208c91dc71eec634400fb0c0a7e073e35afd2978/specification/cdn/resource-manager/readme.md?plain=1#L21-L32

I used as the default version that should be used in the Azure for

[2022-09-08 23:28] markweitzel commented on #19690
## API Stewardship Board Review - 8-Sep-22

* It's not necessary to specify all of the error codes, e.g. `400` and just use `default`.
* don't return an array at a top level--wrap this in a json object. builds in extensibility.
* should your lists be pageable?? We strongly encourage this to be declared as pageable (even if you don't do this today, you and still declare this in your open api docume

[2022-09-08 23:56] cataggar commented on #20652
I also asked for clarification internally at https://stackoverflow.microsoft.com/questions/323179 .

[2022-09-09 07:51] wuxu92 commented on #18888
ping  @navba-MSFT @AzureAppServiceCLI @antcp

[2022-09-09 08:25] tombuildsstuff commented on #18572
@ms-zhenhua is this fixed?

[2022-09-09 08:28] ms-zhenhua commented on #18572
@tombuildsstuff , No, sorry, I closed it by mistake with other issues.

[2022-09-09 12:16] dviry commented on #14034
any news? This affects other downstream products (Pulumi)...

[2022-09-09 13:25] cataggar commented on #20652
Specifically, why is it set to `package-preview-2022-05` instead of the stable `package-2021-06` tag?

[2022-09-12 03:35] navba-MSFT commented on #20216
@sinbai I have heard back from the Product Owners and they did confirm that there is an inconsistency in casing. [ListVMSizes](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2020-08-01/examples/ListVMSizesResult.json) does return the VM size with lowercase letters because the API returns the

[2022-09-12 03:48] navba-MSFT commented on #20313
@garylirocks I have reached out to the Product Owners and awaiting their reply. I will update you once I hear from them.

[2022-09-12 14:36] #19320 closed

[2022-09-12 16:32] markweitzel commented on #20573
## API Stewardship Board Review: 12-Sep-22

### Notes & Discussion
* Is there a larger view of Purview that shows how all the pieces come together?
* `PUT`
  * This should take an `id` at the end of the path.
  * The customer should provide the name, and we will keep a mapping to the internal name/id.
  * You will need to add `ETag` support to avoid race conditions.
    * `version` is not sufficie

[2022-09-13 02:15] leni-msft commented on #14034
@Azure/cxp any chance to help route to service team?

[2022-09-13 04:53] #20364 closed

[2022-09-13 05:44] navba-MSFT commented on #20216
@sinbai We have created a workitem internally to fix this issue. There is no ETA for the fix now. We will update this thread once the fix is released. Thanks again for reporting this issue.

[2022-09-13 05:44] #20216 closed

[2022-09-13 08:07] wuxu92 commented on #9526
@neil-yechenwei I think there is no such value `Zone-redundant` for zone property. you can choose this value in the azure portal as `Zone-redundant` will be expanded in frontend and pass `[1,2,3]` to API request.

[2022-09-13 08:12] teowa opened #20690 "Microsoft.Insights/components/apiKeys@2015-05-01 POST returns Internal Server Error"
Seems `linkedReadProperties` and `linkedWriteProperties` cannot both be empty.

API Payload:
[code]

Response:
[code]
x-ms-request-id: 2fd9d670-a73e-442b-888f-de1c78979bd4
x-ms-correlation-request-id: 2fd9d670-a73e-442b-888f-de1c78979bd4

[2022-09-13 09:07] wuxu92 opened #20691 "`publicIPAddress` create with `zones` with multiple value, reponse doesn't match the request"
if we provide multiple zones in creating public IP Address,  the response will add skipped zone number which is not in the request body. an example is below:

[code]

and response with:

[code]

is this a by-design behavior or not?

related definition:  https://github.com/Azure/azure-rest-api-specs/blob/e21f2da8dacad060a3612dc8ae0fe6de48b15986/specification/network/resource-manager/Microsoft.Netwo

[2022-09-13 21:54] sergekozh opened #20702 "GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments?api-version=2022-03-01 Would not return all ASE's if one of ASE is stuck/bad/whatnot"
Calling
GET [https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments?api-version=2022-03-01]

Would not return all ASE's if one of ASE is stuck/bad/whatnot.

I had issue with one of ASE's.
calling GET /subscriptions/{subscriptionId}/resourceGroups/{rgName}/providers/Microsoft.Web/hostingEnvironments/{aseName}?api-version=2021-03-01
would return HTTP5

[2022-09-14 00:52] markweitzel commented on #19503
[API View](https://apiviewstaging.azurewebsites.net/Assemblies/Review/c11a86b451f04844a1b6ecce296dccce)

[2022-09-14 00:58] azure-sdk opened #20704 "[Cognitive Services - None] API Review"
**Service Name**: Cognitive Services - None
**Review Created By**: Leon Romaniuk
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/12345
**Description**: Annotation API review based on feedback we received.
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

Detailed meeting information and documents provided can be accessed [here](https://web.powerapps.com/app

[2022-09-14 01:08] azure-sdk opened #20705 "[Cognitive Services - Knowledge] API Review Entity Matching"
**Service Name**:  -
**Review Created By**: Leon Romaniuk
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/12345
**Description**: mini-batch Entity Matching API review
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

Detailed meeting information and documents provided can be accessed [here](https://web.powerapps.com/apps/e41c69de-ef96-44ba-b287-0e012e7c13ae

[2022-09-14 06:11] teowa opened #20712 "ApplicationInsights analticsItem@2015-05-01 List returns 400 error without response message"
## Description
In swagger: https://github.com/Azure/azure-rest-api-specs/blob/bc6b52f26f09cfc7085a8d5df109b54ba00843cc/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/analyticsItems_API.json#L36-L41
https://github.com/Azure/azure-rest-api-specs/blob/bc6b52f26f09cfc7085a8d5df109b54ba00843cc/specification/applicationinsights/resource-manager/Microsoft.Insights

[2022-09-14 06:57] navba-MSFT commented on #20139
@tbatra18 Could you please check and let us know if the [sample code provided here](https://docs.microsoft.com/en-us/samples/azure-samples/azure-samples-python-management/costmanagement/) helps ?

**Lists** method should help to list the usage details for the defined scope. See below:

[code]

More Info about the **Scope** parameter: This is the scope associated with usage details operations.

Thi

[2022-09-14 07:02] navba-MSFT commented on #20160
@tbatra18 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you check if the below sample helps ?

Sample Code snippet:
[code]
You could use headers to add your parameters.

pipy link: https://pypi.org/project/azure-mgmt-consumption/10.0.0/

fyi: **https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/consumption/azure-mgmt-consumption/azure/mgmt/con

[2022-09-14 09:38] OracPrime commented on #19321
If anyone is in this area, can they also add the missing notify-keyspace-events property?

[2022-09-14 16:30] JaimePalazuelosB opened #20719 "Azure Advisor recommendations do not return all the properties"
When I return the list of recommendations, or a recommendation detail, there are many properties that are not populated, like "potentialBenefit", "actions", "description" or "learnMoreLink". Those properties can be seen in the Azure Portal, but are also empty on Resource Graph.

Is there any alternative way to obtain those values?

Thanks.

[2022-09-15 02:55] ms-henglu opened #20726 "`Microsoft.CostManagement/exports@2021-10-01` - Server side error when create"
`Microsoft.CostManagement/exports@2021-10-01` - Server side error when create

### Description

Error happens when create this resource
[code]

### Details

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[code]

5. Swagger GitHub permalink
[code]

6. Error code
[code]

### Links
1. [Semantic and Model Violations Reference](https://g

[2022-09-15 03:09] liuwuliuyun commented on #20468
Meet request in [2022-07-07](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2022-07-07/kusto.json)

[2022-09-15 03:09] #20468 closed

[2022-09-15 10:06] teowa commented on #20619
From https://github.com/Azure/azure-rest-api-specs/blob/3817b12e57f613a0dfd65c81fe9e8cd97af7d8c5/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/LinkedStorageAccounts.json#L204, seems the dataSourceType in request body is a read-only property.

One thing need to address is that dataSourceType is used in both request API path and body. The dataSour

[2022-09-15 21:42] azure-sdk opened #20735 "[Azure Batch - None] API Review"
**Service Name**: Azure Batch - None
**Review Created By**: Bill Boris
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20727
**Description**: Batch is moving its dataplane sdk's to track2 and as such see this as an opportunity to revamp its Swagger to fix some cosmetic issues.  This review is for our new Swagger document to be used by the track2 sdk's that doesn't introduce or change an

[2022-09-15 22:31] johhess40 opened #20737 "Timeout With 500 Error When Creating VNET in WestUS3"
##Expected Terraform to be able to spin up a simple virtual network in WestUS 3 From Azure DevOps
- Using Microsoft Hosted Agents
- Latest Terraform Version
- Same code deploys fine to CentralUS, EastUS, and WestUS2
##Below is the raw log from the run
[code]

[2022-09-15 23:27] mikekistler commented on #20571
Notes from the meeting:

- Add a comment to the channelAffinity property to describe the behavior when the property is not passed.
- Consider how these formats mesh with the speech APIs (connect with Rob Chambers)
- The operation that gets the recording (its a URI in an event sent to the client) needs to be documented.

Looks good! 👍

[2022-09-15 23:41] #20051 closed

[2022-09-16 01:06] azure-sdk opened #20738 "[Microsoft Purview - None] API Review"
**Service Name**: Microsoft Purview - None
**Review Created By**: Phani Kumar Vadali
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/19797
**Description**:
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

Detailed meeting information and documents provided can be accessed [here](https://web.powerapps.com/apps/e41c69de-ef96-44ba-b287-0e012e7c13ae?view=edit&

[2022-09-16 03:02] navba-MSFT commented on #14034
Removing the CXP attention label and adding Service team to look into this and provide an update.

[2022-09-16 03:07] navba-MSFT commented on #20034
@arpitmishra-eaton Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-16 04:02] navba-MSFT commented on #20160
@tbatra18 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-16 04:03] navba-MSFT commented on #20139
@tbatra18 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-16 04:26] navba-MSFT commented on #20034
@arpitmishra-eaton AFAIK, there isn’t any PowerShell command or Rest API available to import Azure Function app into APIM at present. Usually, the command APIM supports is to import swagger file or WSDL file.

There is a certain work around available now which enables us to achieve the automation process. Firstly we need to create an open API definition file for the targeted Azure Function app, an

[2022-09-16 10:01] samhodgkinson commented on #12759
I came across this issue today, did this fix get pushed ?

checking for presence of existing site recovery replication policy XXXXXXXX : siterecovery.ReplicationPoliciesClient#Get: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="BadRequest" Message="The resource with ID 3917603715439329859 isn't registered with the servic

[2022-09-16 15:33] StickNitro opened #20780 "Add Filter for NewListForScopePager on RoleManagementPoliciesClient"
### Feature Request

I am creating a Terraform resource to manage RoleManagementPolicies through terraform. I am looking to use the RoleManagementPoliciesClient to list role management policies for a given `scope` and `roleDefinitionId` to then load the existing RoleManagementPolicy. However, the `NewListForScopePager` does not allow specifying a `Filter`.

There is `Filter` support on other List

[2022-09-18 11:22] azure-sdk opened #20755 "[Autonomous Development Platform] API Review"
New API Review meeting has been requested.

**Service Name**: Autonomous Development Platform
**Review Created By**: Jess Treiser
**Review Date**: 10/12/2022 7:00 PM PT
**PR**:
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting information and documents provided can be accessed [here](https://web.powerapps.com/apps/e41c69de-ef96-44ba-

[2022-09-19 02:53] navba-MSFT commented on #20034
@arpitmishra-eaton I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-19 04:13] navba-MSFT commented on #20139
@tbatra18 The action is pending on you to test the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-19 04:13] #20139 closed

[2022-09-19 04:13] navba-MSFT commented on #20160
@tbatra18 The action is currently pending on you to try the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-19 04:13] #20160 closed

[2022-09-19 08:00] ms-henglu opened #20765 "`Microsoft.Web/sites/virtualNetworkConnections@2022-03-01` - Successfully created but failed to retrieve"
## Microsoft.Web/sites/virtualNetworkConnections@2022-03-01 - Successfully created but failed to retrieve

### Description

I successfully created this resource, but when call Get to retrieve it, it returns 404

### Details

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[code]

5. Swagger GitHub permalink
[code]

6. Error code
[cod

[2022-09-19 11:40] sbhat9 commented on #20573
We are redesigning APIs as per the review comments
Please refer to the below MS-only document for the latest specs.

- [API Specs](https://microsoftapc-my.sharepoint.com/:w:/g/personal/sagarbhat_microsoft_com/ET9HdMn611BNtnXca3JGHikB5wrn7P7VwbLCw0qZEfzKQw?e=cS5Qnh)

We have a concern with the List API. In the List API, we have a use case to fetch all the policies (both 'sqlPerfMonitor' and 'securi

[2022-09-19 21:08] azure-sdk commented on #19479
New API Review meeting has been requested.

**Service Name**: Microsoft Purview
**Review Created By**: Vlad Rodriguez
**Review Date**: 10/5/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20142
**Hero Scenarios Link**: [here](https://microsoft-my.sharepoint-df.com/:w:/p/vlrodrig/EZYSzvupa1BKhBi--O2mGCcBQUlz8IgttYpi1S1Z60MLfQ?e=J6jWsd)
**Core Concepts Doc Link**: [here](h

[2022-09-19 21:10] azure-sdk commented on #19479
New API Review meeting has been requested.

**Service Name**: Microsoft Purview
**Review Created By**: Vlad Rodriguez
**Review Date**: 10/5/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20142
**Hero Scenarios Link**: [here](https://microsoft-my.sharepoint-df.com/:w:/p/vlrodrig/EZYSzvupa1BKhBi--O2mGCcBQUlz8IgttYpi1S1Z60MLfQ?e=J6jWsd)
**Core Concepts Doc Link**: [here](h

[2022-09-20 03:06] navba-MSFT commented on #20313
@garylirocks Thanks for reporting this issue. We have created a workitem internally to fix this bug. We have no ETA for the fix. We will update this thread once the fix is released.

[2022-09-20 03:06] #20313 closed

[2022-09-20 07:51] azure-sdk opened #20788 "[Cognitive Services - Content Moderator] API Review"
New API Review meeting has been requested.

**Service Name**: Cognitive Services - Content Moderator
**Review Created By**: Meng Ai
**Review Date**: 10/14/2022 7:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20784
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: We would like to publish a new version of Content Moderator, we wil

[2022-09-20 08:28] StickNitro commented on #20780
The package link is https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/authorization/armauthorization

[2022-09-20 17:06] azure-sdk commented on #19479
New API Review meeting has been requested.

**Service Name**: Microsoft Purview
**Review Created By**: Vlad Rodriguez
**Review Date**: 10/5/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20142
**Hero Scenarios Link**: [here](https://microsoft-my.sharepoint-df.com/:w:/p/vlrodrig/EZYSzvupa1BKhBi--O2mGCcB16eXCunDx8-Zyc0r2bzkPw?e=4X0JAG)
**Core Concepts Doc Link**: [here](h

[2022-09-20 18:20] azure-sdk commented on #19479
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>Meeting updated by **Vlad Rodriguez**</div>
<div>**Service Name**: Microsoft Purview<br>**Review Created By**: Vlad Rodriguez<br>**Review Date**: 10/19/2022 9:00 AM PT<br>**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20142<br>**Hero Scenarios Link**: [here](https://microsoft-my.shar

[2022-09-20 19:38] azure-sdk commented on #20704
Meeting updated by **Mariana Rios Flores**

**Service Name**: Cognitive Services
**Review Created By**: Mariana Rios Flores
**Review Date**: 9/27/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/8568
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Annotation API review based on feedback we received.
Updating PR link to http

[2022-09-20 19:45] azure-sdk commented on #20705
Meeting updated by **Mariana Rios Flores**

**Service Name**: Cognitive Services
**Review Created By**: Mariana Rios Flores
**Review Date**: 9/28/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/8838
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: mini-batch Entity Matching API review
Update to the Swagger PR link to https:

[2022-09-20 20:02] glorialimicrosoft commented on #20478
Service name: Cross-platform Messaging

Link to previous API version:
Previously the endpoint ("/chat/messages:send") was part of the chat gateway: https://github.com/Azure/azure-rest-api-specs/blob/9b43f4a756a79e05b3bb1dc6bd3ed7a8fd132969/specification/communication/data-plane/Chat/preview/2022-04-21-preview8/communicationserviceschat.json, now we are moving that messaging endpoint to the Cross-p

[2022-09-20 20:37] mikekistler commented on #20478
- The response of the 202 for sendMessage is non-standard.  Need to understand this.
- Is there a race condition between sendMessage response and event grid event being delivered?  Maybe
- We recommend paths for post-actions use ":" and not "/:" -- but it looks like "/:" is already established for this service.
- "result" vs "value" ? No strong preference.
- Might need to switch from array to obje

[2022-09-20 22:08] apaulro commented on #18888
Is there an update on this @navba-MSFT @AzureAppServiceCLI @antcp ?

[2022-09-20 23:42] drdamour commented on #14529
i opened an azure support request on this, first they told me tags isn't a thing but then i pressed them and they said, indeed it is and it is broken for the upsert case, but does work for the update case....doesn't really help.

I would suggest anyone with a support agreement open a case and it'll help move this along.  my case was 2208100040006730 for reference

[2022-09-21 03:37] tadelesh commented on #20780
@StickNitro One question not related with this issue: Terraform is using our previous version of SDK but you are using our latest version, and I'm a little bit curious about your using scenario, could you help to elaborate? Thanks.

[2022-09-21 05:45] azure-sdk commented on #20788
Meeting updated by **Meng Ai**

**Service Name**: Cognitive Services - Content Moderator
**Review Created By**: Meng Ai
**Review Date**: 10/14/2022 7:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20784
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Please refer to this PR, the original one was deleted: https://github.com/Azure

[2022-09-21 05:47] mengaims commented on #20788
The PR was moved to: https://github.com/Azure/azure-rest-api-specs-pr/pull/8888

[2022-09-21 08:17] StickNitro commented on #20780
I assume when you say Terraform you are referring to the AzureRM provider! We have a couple of use cases that are not currently supported by the AzureRM provider, these are:

1. We automate a significant amount of configuration in Azure and seek to automate the PIM eligibility management through Terraform, in the current AzureRM provider there is no resource that supports the ability to manage PIM

[2022-09-21 09:31] zadigus opened #20813 "[ApiManagement] Subscription scope is not optional"
Package Name: azure-mgmt-apimanagement
Package Version: 3.0.0
Operating System: Windows 10
Python Version: 3.10

**Describe the bug**

When I create an api subscription programmatically without specifying a scope explicitly, then I get a `ValidationError`.

**To Reproduce**
Steps to reproduce the behavior:

1. create an api management client like this:
[code]
2. create an api like so:
[code]
3. cr

[2022-09-21 16:37] mikekistler commented on #20500
Notes from API Design review 9/21/22

- Should this be a get rather than a post ?
- Evaluate performance expectations for regex on possibly 250 routes - is this is still P(99) < 1 sec
- Maybe have the test API take a configuration so you can test a configuration before making it live
  - maybe change action name "testRoutesForNumber"

[Meeting recording](https://microsoft-my.sharepoint.com/:v:/p/m

[2022-09-21 21:32] azure-sdk commented on #20573
New API Review meeting has been requested.

**Service Name**: Microsoft Purview
**Review Created By**: Vlad Rodriguez
**Review Date**: 10/26/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20107
**Hero Scenarios Link**: [here](https://microsoft-my.sharepoint-df.com/:w:/p/vlrodrig/EZYSzvupa1BKhBi--O2mGCcBQUlz8IgttYpi1S1Z60MLfQ)
**Core Concepts Doc Link**: [here](https://m

[2022-09-21 22:38] aochsner commented on #20254
Bump?

I completely agree w/ the need to expose this.  We have built a custom landing zone solution that provisions new subscriptions.  We need the ability to programmatically cancel them as one can do via the Portal (and via the api-version 2019-03-01-preview..and still can FWIW).  https://github.com/Azure/azure-sdk-for-python/issues/10814#issuecomment-863238505

We have a clear delineation in te

[2022-09-22 03:09] azure-sdk commented on #20573
Meeting updated by **Vlad Rodriguez**

**Service Name**: Microsoft Purview
**Review Created By**: Vlad Rodriguez
**Review Date**: 11/2/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20107
**Hero Scenarios Link**: [here](https://microsoft-my.sharepoint-df.com/:w:/p/vlrodrig/EZYSzvupa1BKhBi--O2mGCcBQUlz8IgttYpi1S1Z60MLfQ)
**Core Concepts Doc Link**: [here](https://microso

[2022-09-22 07:54] msyyc opened #20819 "[Bug][Compute][Virtual Machine] 'source.commandId' cannot be used together with property 'source.script'"
When I use `PUT /subscriptions/sub-id/resourceGroups/vm-group/providers/Microsoft.Compute/virtualMachines/vm-name/runCommands/run-command-name?api-version=2022-08-01` with body:

[code]
the following error happened:
[code]

My question is why these two parameters are not allowed to use together?

[2022-09-22 09:24] Alancere opened #20822 "operationalinsights create querypack response code is 201"
Error Message:
[code]
create queryPack swagger is defined in https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2019-09-01/QueryPacks.json#L233

[2022-09-23 00:42] Drewm3 commented on #20819
@nikhilpatel909, could you look into this question please.

[2022-09-23 07:18] wuxu92 opened #20848 "`NGINX.NGINXPLUS/stable/2022-08-01` - define SKU names as Enum"
Can the name of nginx deployments SKU defined as Enum values, so it can be generated in SDK and easy to use?

related swagger: https://github.com/Azure/azure-rest-api-specs/blob/1d9c9c68844d2b5883621069d5bf0c958841782f/specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/swagger.json#L1059

[2022-09-23 11:44] Dyhr opened #20851 "`Microsoft.Web/connections` missing `parameterValueType`"
According to these docs on Managed Identity and API Connections (https://learn.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity?tabs=consumption#single-authentication) there should be a property `parameterValueType` on `Microsoft.Web/connections`, but it appears to be missing from this spec https://github.com/Azure/azure-rest-api-specs/blob/1d9c9c68844d2b5883621069d5bf0c9588417

[2022-09-23 17:31] is300fanatic opened #20883 "Cannot Install/Delete Web App Site Extension utilizing Azure SDK for Python"

[2022-09-23 19:30] nikhilpatel909 commented on #20819
I am looking in to this

[2022-09-24 07:25] plk commented on #11085
Also needing this to work since setting custom policies to manage this also doesn't work since this is a tenant-level property.

[2022-09-24 16:02] katbyte commented on #20217
@navba-MSFT - can you please re-open this? the original request is not solved: the swagger should accurately represent the API by defining this property as an enum with the following constants.

[2022-09-26 01:32] sinbai commented on #20217
@navba-MSFT thanks for you reply. Just like katbyte said the request is to enumerate the possible values [here](https://github.com/Azure/azure-rest-api-specs/blob/f842bc69f4c215ad60ffae63ef517c201772f8b2/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-05-01/machineLearningServices.json#L3408) since there's a fixed set of values possible for this

[2022-09-26 01:41] #19503 closed

[2022-09-26 07:14] vivlingaiah commented on #20819
@msyyc , Could you remove the below from response body and give a try ?
'commandId': 'RunShellScript',

[2022-09-26 07:26] sinbai opened #20866 "[postgresql] The private DNS zone name is not permitted to end with `azure.com` from August 28th, 2022"
When creating resource [postgresql flexible server ](https://github.com/Azure/azure-rest-api-specs/blob/7816ad3d42e9ff6717fed652c72f7fa609259f86/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json#L42), the latest version of API requires that the name of [privateDnsZoneArmResourceId ](https://github.com/Azure/azure-rest-api-specs/blob/7816ad3d42e9f

[2022-09-26 10:06] msyyc commented on #20819
Hi @vivlingaiah After removing `commandId`, the cmd run successfully. But It seems that it doesn't create `test-folder` under `/home`. Is there anything I miss?

[2022-09-26 10:57] vivlingaiah commented on #20819
Hi @msyyc , In managed Run Command (PUT Run Command), script is a string not array. Use semicolon separated commands as "script":  "cd /home; mkdir test-folder" and try.

Refer the sample request body and docs here:
https://learn.microsoft.com/en-us/azure/virtual-machines/linux/run-command-managed#rest-api
(https://aka.ms/RunCommandManagedLinux)

[2022-09-26 11:32] iknowjason commented on #10234
Has there been any update on this issue?  I seem to be having the same issue.  I can install the AAD Login extension with success using hashicorp azurerm version 3.13.0, but it doesn't do a AAD Join of the device at all.  Using the az cli with same settings, it works.  Extension:
[code]

The VM is Windows 10 Pro and has a SystemAssigned identity.  I can build the same windows 10 Pro system and the

[2022-09-26 20:26] heaths opened #20874 "All Cognitive Language services should have same security definitions"
All the Cognitive Services - Language pillar services should support both apimKey and AADToken security definitions as you see in questionanswering.json, and in the same order for array members like `security`. I think the discrepancies between these might be causing some issues with validation and, at the very least, are misleading since both shared key and AAD auth mechanisms are supported.

[2022-09-26 21:04] heaths opened #20875 "Pageable LROs should be defined with `x-ms-pageable`"
There's a few LROs that are meant to return pageable results once complete - the original URI - and should be defined as such per https://github.com/Azure/autorest/tree/main/docs/extensions#x-ms-pageable.

These include, but may not be limited to:

* QuestionAnsweringProjects_UpdateQnas
* QuestionAnsweringProjects_UpdateSources

For now in the SDK, we are using transforms but these changes should

[2022-09-27 07:37] navba-MSFT commented on #20217
@katbyte The update was shared **[in this comment](https://github.com/Azure/azure-rest-api-specs/issues/20216#issuecomment-1243178979)** in [another issue ](https://github.com/Azure/azure-rest-api-specs/issues/20216)thread. That issue was reported by @sinbai .

I have added the most recent update on that thread which I received from the Product Owners. Hope that helps.

[2022-09-27 08:05] sinbai commented on #20217
@navba-MSFT thanks for your update. It is worth mentioned that [another issue](https://github.com/Azure/azure-rest-api-specs/issues/20216) is different from this one. This issue requests the enumeration of possible values [here](https://github.com/Azure/azure-rest-api-specs/blob/f842bc69f4c215ad60ffae63ef517c201772f8b2/specification/machinelearningservices/resource-manager/Microsoft.MachineLearnin

[2022-09-27 08:38] #20819 closed

[2022-09-27 08:49] msyyc commented on #20883
Hi, service team. The bad request is returned by service but without details to indicate why the request is `Bad Request`. Could you help tell us how to use the api? Thanks!

[2022-09-27 10:49] azure-sdk opened #20886 "[AgriFood Platform] API Review"
New API Review meeting has been requested.

**Service Name**: Azure AgriFood Platform
**Review Created By**: Bhargav Kansagara
**Review Date**: 10/5/2022 9:30 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21001
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Booking slot for review of Nov API version
## Added Fields
- Crop Entity

[2022-09-27 16:12] pacorreia commented on #20253
Actually there's an API for this, the same used by Azure Portal, in preview, but exists:

Adding a reference to the preview version would be really great, the information I've collected was after inspecting the calls done by Azure Portal, tested replaying them and worked as expected.

E.g.:
[code]

or for 30 days:

[code]

The response is resource defintion in JSON:

[code]

So please kindly speed

[2022-09-27 16:57] markweitzel commented on #20735
## API Stewardship Board Review Meeting <Date>

### Discussion / Notes

### Actions

## References
[Meeting Chat] (...)
[Meeting Recording] (...)

### Helpful Documentation
* [Azure API REST Documentation](https://aka.ms/azapi/specs)
* [Considerations for Service Design](ConsiderationsForServiceDesign.md)
* [REST API Guidelines](Guidelines.md)
* [OpenAPI Style Guidelines](https://github.com/Azure/

[2022-09-27 17:17] sahithikkss commented on #20875
@rokulka FYI. Are the transforms needed for PATCH calls and done for SDK as per guidelines?
@heaths I do not see the need for x-ms-pageable for above mentioned APIs. UpdateQnas or UpdateSources does not return any response that will need to be paginated. It is just a 202 on success with operation-location in header. Subsequent status polling is done using the job id in the header.

[2022-09-27 17:33] markweitzel commented on #20738
Duplicate #19807

[2022-09-27 17:33] #20738 closed

[2022-09-27 19:13] heaths commented on #20875
`x-ms-pageable` is needed for the *final result*, which is a 200 on the original URI. This impacts how LROs are generated for the SDK and is not pure swagger (hence being an extension for autorest). Without this or transforms - which then every SDK language has to do - SDKs will not include a pageable result when the LRO completes.

[2022-09-27 20:51] markweitzel commented on #20705
## API Stewardship Board Review: 27-Sep-22

* Better description  for `id`, e.g. `matchId`
* The limits on the input for `Entity BulkMatchOneResult` should be captured & documented.
* Consider renaming: `resultStatus` to `status` b/c then you would get `result.status`
* Don’t have both error and result in the same response. It makes it very unclear to the consumer to understand. If there is diagno

[2022-09-27 21:20] azure-sdk opened #20892 "[Microsoft Azure Attestation] API Review"
New API Review meeting has been requested.

**Service Name**: Microsoft Azure Attestation
**Review Created By**: Olga Kroshkina
**Review Date**: 10/11/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20890
**Hero Scenarios Link**: [here](https://learn.microsoft.com/en-us/azure/attestation/basic-concepts)
**Core Concepts Doc Link**: [here](https://azure.microsoft.com/en-us

[2022-09-27 21:38] cataggar opened #20894 "addons has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/addons/resource-manager/Microsoft.Addons/preview/2018-03-01/

[2022-09-27 21:44] cataggar opened #20895 "automation has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

Here is one example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/automation/resource-manager/Microsoft.

[2022-09-27 21:47] cataggar opened #20896 "batch has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

An example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/batch/resource-manager/Microsoft.Batch/stable/2

[2022-09-27 21:54] cataggar opened #20897 "reservations has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

An example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/reservations/resource-manager/Microsoft.Capacit

[2022-09-27 21:55] cataggar opened #20898 "softwareplan has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

An example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/softwareplan/resource-manager/Microsoft.Softwar

[2022-09-27 21:57] cataggar opened #20899 "storagecache has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

An example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/storagecache/resource-manager/Microsoft.Storage

[2022-09-27 22:01] cataggar opened #20900 "testbase has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

An example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/testbase/resource-manager/Microsoft.TestBase/pr

[2022-09-27 22:01] azure-sdk commented on #20705
Cancelled by: Admin

[2022-09-27 22:01] #20705 closed

[2022-09-27 22:12] cataggar opened #20902 "vmware has a `provisioningState` of `Cancelled`"
The spelling should be `Canceled`. To fix this, the specification should add `Canceled` and the service should return `Canceled` instead of `Cancelled`. See https://github.com/Azure/azure-resource-manager-rpc/issues/144 for details.

One example:

https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/vmware/resource-manager/Microsoft.AVS/stable/2

[2022-09-28 02:38] lonegunmanb opened #20908 "BUG: Cannot update aks `ingressProfile.webAppRouting.dnsZoneResourceId` to empty nor null"
According to the [document](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/aks/web-app-routing.md#configure-the-add-on-to-use-azure-dns-to-manage-creating-dns-zones), we can configure the add-on to use Azure DNS to manage creating DNS zones for aks cluster by the following az cli command:

[code]

Once time I set `$ZONEID` to a new created dns zone resource id and the update was su

[2022-09-28 02:42] sinbai opened #20909 "[Network]The `Deprovisioned` commissionedState for custom IP prefix should be enumerated in API"
As far as I know, the `commissionedState` of custom ip prefix should be in `Deprovisioned` after `Deprovisioning` is done. However, the `Deprovisioned` is not enumerated in the [commissionedState](https://github.com/Azure/azure-rest-api-specs/blob/fa581bd5f31cbc6f6882b254ce5b0f5c20d84648/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/customIpPrefix.json#L386) of the API

[2022-09-28 03:12] wuxu92 opened #20912 "`NGINX.NGINXPLUS/stable/2022-08-01` - nginxConfiguration Get don't response tags"
the `tags` property was returned in the `PUT`  but lost in the `GET` request. that means if I create/update a `nginxConfiguration` resource with tags I cannot `GET` the `tags` value.

related swagger: https://github.com/Azure/azure-rest-api-specs/blob/1d9c9c68844d2b5883621069d5bf0c958841782f/specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/swagger.json#L972

[2022-09-28 07:43] wuxu92 opened #20914 "NGINX.NGINXPLUS/stable/2022-08-01 - Nginx deployment Identity did not support `SystemAssigned`"
When the swagger says support `SystemAssigned` but when create nginx deployment with SystemAssigned, API response with error.

related swagger: https://github.com/Azure/azure-rest-api-specs/blob/1d9c9c68844d2b5883621069d5bf0c958841782f/specification/nginx/resource-manager/NGINX.NGINXPLUS/stable/2022-08-01/swagger.json#L1033-L1039
error message:

[code]

[2022-09-28 12:47] markweitzel commented on #20755
Duplicate: https://github.com/Azure/azure-rest-api-specs-pr/issues/7483

[2022-09-28 16:25] #20755 closed

[2022-09-28 18:35] andaryjo commented on #10646
What worked for me is using `.../storageAccounts/<account>/blobServices/default` as resource ID.

[2022-09-28 21:36] is300fanatic commented on #20883
just to be clear -
I am utilizing the WebSiteManagmentClient Class within the SDK to make this request to the Azure resource.

ex: webclient.web_apps.begin_install_site_extension(resource_group_name=resourceGroupName, name=siteName, site_extension_id=site_ext_id)

This is the request that is resulting in a 400 - not an API to API Call directly.

[2022-09-28 21:37] sarkar-rajarshi commented on #20571
Suggested change for additional comment on channelAffinity will be checked in with this PR https://github.com/Azure/azure-rest-api-specs/pull/19409

Related changes: https://github.com/Azure/azure-rest-api-specs/pull/19409#discussion_r982769999

[2022-09-28 23:46] azure-sdk opened #20922 "[Attestation] API Review"
New API Review meeting has been requested.

**Service Name**: Microsoft Azure Attestation
**Review Created By**: Claire Chen
**Review Date**: 10/18/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20881
**Hero Scenarios Link**: [here](https://learn.microsoft.com/en-us/azure/attestation/basic-concepts)
**Core Concepts Doc Link**: [here](https://azure.microsoft.com/en-us/pr

[2022-09-29 03:34] navba-MSFT commented on #20780
Adding Service attention label so that Service team can look into this.

 @darshanhs90, @AshishGargMicrosoft Please look into this once you get a chance.

[2022-09-29 03:47] kdruzycki commented on #20500
@mikekistler @markweitzel
I discussed the suggestion from our review meeting with UX to enable testing the configuration without saving and they agreed.
Hence I added a body parameter for sip configuration to test routes with (without saving).
I also evaluated performance for 250 routes with a stress test and the evaluation took 45 ms, so no worries about timeout.
We should keep it as POST, especi

[2022-09-29 08:31] navba-MSFT commented on #20737
@johhess40 Thanks for reaching out to us and reporting this issue. I tried to create a VNet in West US 3 region and I was able to create it successfully. This issue seems like a transient issue. Could you please let me know if you are still facing this issue ? Awaiting your reply.

[2022-09-29 15:15] markweitzel commented on #20705
When working with Cadl, we are now using:
https://github.com/Azure/azure-rest-api-specs-pr/issues/8594

[2022-09-29 18:34] cataggar opened #20938 "`[Staging] Swagger LintDiff` suppression is not working"
The `[Staging] Swagger LintDiff` suppression is not working as can be seen in https://github.com/Azure/azure-rest-api-specs/pull/20873.  It requires updating to @autorest/core 3.9.2 https://github.com/Azure/autorest/blob/main/packages/extensions/core/CHANGELOG.md#392 .

It is currently running `next` which is `3.9.0-dev` according to https://www.npmjs.com/package/@autorest/core.

 https://dev.azur

[2022-09-29 19:29] TravisCragg-MSFT commented on #20186
@neil-yechenwei There is a [GetAccess](https://learn.microsoft.com/en-us/powershell/module/az.compute/get-azdiskaccess?view=azps-8.3.0) method to retrieve existing disk accesses.

[2022-09-29 19:30] TravisCragg-MSFT commented on #20186
Does this do what you are referring to?

[2022-09-30 01:23] myc2h6o commented on #19440
I noticed this is being fixed in 2022-08-01 https://github.com/Azure/azure-rest-api-specs/blob/4b5fe2fb0a5066c4ff2bd429dbd5e1afda6afab3/specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-08-01/virtualMachine.json#L1961-L1964

[2022-09-30 02:26] liuwuliuyun opened #20948 "`Microsoft.Batch/batchAccounts/pools` version 2022-01-01 did not return property 'nodeDeallocationOption'"
In API /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}, it failed to return property 'nodeDeallocationOption' when performing GET action.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/batch/resource-manager/Microsoft.Batch/stable/2022-01-01/BatchManagement.json#L4153-L4158

[2022-09-30 03:05] navba-MSFT commented on #20866
@sinbai
Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-30 03:21] #20874 closed

[2022-09-30 06:43] ziyeqf opened #20953 "`ResourceGuardProxy` - missing `PUT` parameter `resourceGuardResourceId`"
swagger link: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-12-01/bms.json#L4362

example link: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-12-01/examples/ResourceGuardProxyCRUD/PutResourceGua

[2022-09-30 14:38] #20500 closed

[2022-10-03 03:11] navba-MSFT commented on #20883
Removing CXP attention since the Service attention label hass been added and the service team is notified.

[2022-10-03 04:01] navba-MSFT commented on #20737
@johhess40 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  are still facing the same issue. Awaiting your reply.

[2022-10-03 23:29] azure-sdk commented on #20892
Cancelled by: Olga Kroshkina

[2022-10-03 23:29] #20892 closed

[2022-10-03 23:32] azure-sdk commented on #20922
Meeting updated by **Claire Chen**

**Service Name**: Microsoft Azure Attestation
**Review Created By**: Claire Chen
**Review Date**: 10/11/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20881
**Hero Scenarios Link**: [here](https://learn.microsoft.com/en-us/azure/attestation/basic-concepts)
**Core Concepts Doc Link**: [here](https://azure.microsoft.com/en-us/products/a

[2022-10-04 05:26] navba-MSFT commented on #20702
@sergekozh Thanks for reaching out to us and reporting this issue. Could you please share the support ticket # here ? so that I can look at the progress / status of this issue.

[2022-10-04 09:11] pacorreia commented on #20253
I've came up with a workaround based in a null_resource with a trigger against a variable that holds the backup retention period 7/30 and will run a shell script that will make the call above, as long backup mode is continuous.

[2022-10-04 15:23] cataggar opened #20990 "`WebApps_GetConfiguration` returning `null` for structs and arrays"
Part of a WebApps_GetConfiguration response is a [SiteConfig](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2022-03-01/CommonDefinitions.json#L3093-L3497) model which does not have any [x-nullable](https://azure.github.io/autorest/extensions/#x-nullable) to say that null values are allowed.

The operation response has a ton a null v

[2022-10-04 17:55] azure-sdk commented on #20738
Cancelled by: Phani Kumar Vadali

[2022-10-04 18:44] yang-hai-feng opened #20992 "[IoT Central] REST API Review (2022-10-31-preview)"
Service name
IoT Central

Key contact for the review
[hayang@microsoft.com](mailto:hayang@microsoft.com), [Avneet.Singh@microsoft.com](mailto:Avneet.Singh@microsoft.com)

Whether this is a new or existing API
Existing API

Whether or not your service already been deployed
No, TBD by end of Oct

A brief description of the material to be reviewed/changed:

- Add Edge Device Deployment Manifest List,

[2022-10-05 08:47] Freakling opened #21000 "Missing description for policyType"
https://github.com/Azure/azure-rest-api-specs/blob/2e88f0e0951d1cdbe59db4dafbc48c93a723bfa2/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2022-03-01/bms.json#L5519

This seems to be generated somehow. It is however missing description for policyType as seen in the link below.
https://learn.microsoft.com/en-us/azure/templates/microsoft.recoveryservices/vaul

[2022-10-05 17:27] azure-sdk commented on #20735
Cancelled by: Bill Boris

[2022-10-05 17:27] #20735 closed

[2022-10-06 03:54] navba-MSFT commented on #20737
@johhess40 We are unable to reproduce this issue. Seems like this was a transient issue and exponential retrying after sometime should resolve such issues. If you still face the same issue, please feel free to reopen this thread and provide us the time of the issue (in UTC) along with the correlation-id. We would be happy to help.

[2022-10-06 03:54] #20737 closed

[2022-10-06 15:57] markweitzel commented on #20886
## API Stewardship Board Review: 6-Oct-22

* It's unusual to use `PATCH` with form data.
  * Change this to use json merge patch and create a new API for updating the file using a `POST` following the **Performing an Action** pattern in the [Azure REST API Guidelines](Guidelines.md).

NOTE: The recommended approach is to use the [BYOS](https://github.com/microsoft/api-guidelines/blob/vNext/azure/G

[2022-10-06 16:36] azure-sdk opened #21022 "[IoT Central] API Review"
New API Review meeting has been requested.

**Service Name**: IoT Central
**Review Created By**: Johnson Yang
**Review Date**: 10/20/2022 4:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20981
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: [here](https://microsoft-my.sharepoint.com/:w:/p/peolivei/EYM5Ax3FkOxAooMCZMBdv6EBdqJaWiA-VHzY2W-tRVb41w)

**Description

[2022-10-07 01:23] zshu11 opened #21045 "sync NETWORK_CLIENT.network_interfaces.begin_create_or_update() API is very slow and takes about more than one minute."
Hi, Guys:
we try to move secondary ipconfig with associated public IP from one interface to another interface, and use
sync python NETWORK_CLIENT.network_interfaces.begin_create_or_update() API. The python code is executed
inside the Virtual Machine, we find the API is very slow and takes about more than a minute.

ifconfig is not a resource in Azure portal object design. Is there have another pyt

[2022-10-07 02:55] navba-MSFT commented on #20719
@JaimePalazuelosB Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-07 06:34] navba-MSFT commented on #20719
@JaimePalazuelosB The [Recommendations - Get ](https://learn.microsoft.com/en-us/rest/api/advisor/recommendations/get?tabs=HTTP)and [Recommendations - List Rest API ](https://learn.microsoft.com/en-us/rest/api/advisor/recommendations/list?tabs=HTTP) returns the "potentialBenefit", "actions", "description" or "learnMoreLink" properties. Did you try to invoke these APIs and check if that helps ? Awa

[2022-10-08 04:27] magodo commented on #17007
Though the 2021-09-01 version has the `signedIdentifiers` defined in the mgmt plane API, while the API is a bit problematic that once a table is created and updated the ACL for once (either `PATCH` or `PUT`), it will always fail in a second time update on ACL (409 error with code `TableAlreadyExists`).

[2022-10-08 07:04] raych1 commented on #20990
@cataggar , there're no changes on x-nullable validation recently. This is a new request.
@keryul , can you replicate this issue to oav repo?

[2022-10-08 09:11] blueww commented on #17650
Add label "ARM" and remove "Storage", since the error is not coming from SRP, It is being returned by the either ARM/MSI Service.

[2022-10-10 03:51] navba-MSFT commented on #20702
@sergekozh I wanted to do quick follow-up to check if you had a chance to look at my above comment.  Could you please share the support ticket # , once you get a chance. Awaiting your reply.

[2022-10-10 03:55] navba-MSFT commented on #20719
@JaimePalazuelosB I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-10 04:09] navba-MSFT commented on #20866
@sinbai Apologies for the late reply. AFAIK, Currently we force the customers to have `postgres.database.azure.com` suffix for Prod regions.
May I know if you are facing any issues while creating resource [postgresql flexible server ](https://github.com/Azure/azure-rest-api-specs/blob/7816ad3d42e9ff6717fed652c72f7fa609259f86/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stabl

[2022-10-10 06:47] sinbai commented on #20866
@navba-MSFT  thanks for your reply. Yes, we use the latest stable version 2021-06-01 API to create resource [postgresql flexible server](https://github.com/Azure/azure-rest-api-specs/blob/7816ad3d42e9ff6717fed652c72f7fa609259f86/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json#L42), the error is as follows:

`  Code="PrivateDnsZoneHasWrongZoneSu

[2022-10-10 21:50] zshu11 opened #21054 "How to set CA_BUNDLE in azure python SDK?"
Hi, Guys:
I have one question about how to use CA_BUNDLE:
at azure/core/configuration.py, and other PKG-INFO, it has mentioned
that "keyword bool connection_verify: SSL certificate verification. Enabled by default. Set to False to disable,
     alternatively can be set to the path to a CA_BUNDLE file or directory with certificates of trusted CAs."
Then how alternatively to set the path for CA_BUND

[2022-10-10 23:53] azure-sdk opened #21056 "[Purview - Account API] API Review"
New API Review meeting has been requested.

**Service Name**: Microsoft Purview
**Review Created By**: Phani Kumar Vadali
**Review Date**: 10/26/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21055
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting information and documents provided can be accessed [here](h

[2022-10-11 04:20] azure-sdk commented on #20922
Meeting updated by **Claire Chen**

**Service Name**: Microsoft Azure Attestation
**Review Created By**: Claire Chen
**Review Date**: 10/11/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20881
**Hero Scenarios Link**: [here](https://learn.microsoft.com/en-us/azure/attestation/basic-concepts)
**Core Concepts Doc Link**: [here](https://azure.microsoft.com/en-us/products/a

[2022-10-11 07:52] magodo opened #21062 "SecurityInsight: Incorrect definition for "Threat Intelligence Alert Rule""
The [definition](https://github.com/Azure/azure-rest-api-specs/blob/dad644cc6d0c88991f291eda37e18f27c16739b2/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-10-01-preview/AlertRules.json#L1348) of threat intelligent alert rule defines following properties as read only: `description`, `severity`. When I invoke following API call:

[code]

It failed with:

[co

[2022-10-11 08:43] magodo commented on #21062
Blocking the implementation of https://github.com/magodo/terraform-provider-azurerm/tree/sentinel_alert_rule_ti

[2022-10-11 10:53] ImMin5 opened #21280 "[Container Instances] ContainerGroups list method result doesn't have instance_view info"

[2022-10-11 20:17] markweitzel commented on #20922
# API Stewardship Board Review: 11-Oct-22

* Please review the [OpenAPI Style Guidelines](https://github.com/Azure/azure-api-style-guide/blob/main/README.md) and run the spectral linter. This will help with many of the "cleanliness" errors.
* The `date` needs a format so it's not just a string.

## References
[Meeting Recording](https://teams.microsoft.com/l/meetup-join/19%3ameeting_NTRhMGU4MmUtMz

[2022-10-11 21:20] jennyhunter-msft commented on #17650
It looks like the error response is not contained within ARM's repository, which means that it might be something related to Managed Identities - this error response should be handled by them.

I would assume this error is occurring by-design, because an improper input is being passed in, but that would also depend on the API contract specified; either way, we would need some correlation identifie

[2022-10-12 01:29] #20902 closed

[2022-10-12 02:56] blueww commented on #17650
@tombuildsstuff
As I get from ARM/MSI team, this validation is by design.
Server will return error if the userAssigendIdentity dictionary is empty.

[2022-10-12 04:23] navba-MSFT commented on #20702
@sergekozh I hope you had a chance to look at the above comment. Could you also try to run the below command and check if you encounter the same issue while listing all ASEs with atleast one broken (non-responsive) ASE in the list ?

Awaiting your reply.

[2022-10-12 04:54] navba-MSFT commented on #20866
@sinbai I had reached out to the Product Owners as this requires an indepth troubleshooting. Could you please let me know if you can create a a support ticket with these information ?. Then our support professionals can assist you further on this.
Please let me know your thoughts on this.

[2022-10-12 05:11] #19807 closed

[2022-10-12 05:17] sinbai commented on #20866
@navba-MSFT thanks for your time. Could you explain where to create the "support ticket"?

[2022-10-12 05:52] navba-MSFT commented on #20866
@sinbai Open Azure Portal --> Navigate to your PostgreSql resource--> Select New Support Request as shown below:

![image](https://user-images.githubusercontent.com/57353862/195260470-2123b8c3-7649-4110-9d67-f506d1b76d47.png)

**Note:** If you don't have the right RBAC permissions to create a support ticket, then you may have to check with the subscription owner to create a support ticket on your

[2022-10-12 05:56] sinbai commented on #20866
@navba-MSFT thank you so much for your assitance.

[2022-10-13 04:23] navba-MSFT commented on #20719
@JaimePalazuelosB The action is currently pending on you to follow the above suggestion and let us know if that helps. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-13 04:23] #20719 closed

[2022-10-13 04:25] navba-MSFT commented on #20866
@sinbai Please share the ticket # here once you have created it. So that I can check its progress.

[2022-10-13 05:17] ms-henglu opened #21096 "Microsoft.Web/connections@2016-06-01 - properties.parameterValues should allow more types than string"
The swagger definition is inaccurate, the parameterValues allow other types: boolean, integer, object, for example:

[code]

link: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagementClient.json#L1880

[2022-10-13 06:18] azure-sdk commented on #20788
Meeting updated by **Meng Ai**

**Service Name**: Cognitive Services - Content Moderator
**Review Created By**: Meng Ai
**Review Date**: 10/14/2022 7:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20784
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Please refer to this PR, the original one was deleted: https://github.com/Azure

[2022-10-13 14:39] solankisamir opened #21111 "`count` property on Collection is not recommended"
API Management service swagger has `count` property on Resource Collection response.

This is not recommended for the API Guideline perspective
https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#collections

The intention with the `count` property is to check for resource existence based on a $filter query and $top=0 by just checking count > 0.

Do we really need to the `co

[2022-10-13 23:50] markweitzel commented on #20788
## API Stewardship Board Review: 13-Oct-22

* If you are not using fields `diagnoses` or `modelOutputDetail` then consider removing them until you need them. It is much easier to add fields than to change them and/or remove them later.
* You may consider using polymorphism and the category as the discriminator.

* `POST` `/moderate/text` should be modeled as an action, and should look like `POST`

[2022-10-14 00:09] bowgong commented on #20788
Regarding the API path, should they look like below? Or is any misunderstanding?

POST https://{endpoint}/contentmoderator/:analyze-text
POST https://{endpoint}/contentmoderator/:analyze-text-batch
POST https://{endpoint}/contentmoderator/:analyze-image
POST https://{endpoint}/contentmoderator/:analyze-image-batch

POST https://{endpoint}/contentmoderator/textList
POST https://{endpoint}/contentmo

[2022-10-14 00:12] markweitzel commented on #20788
No. See the notes above and the section on performing an action. It should look like...
`POST` `/contentmoderator:analyze-text`

[2022-10-14 04:49] pihai commented on #1275
It seems ridiculous that this issue is open for more than 5 years now and either anybody cares or is able to fix it. Could someone please finally fix this. I really dislike catching success exceptions:

From the new Azure.ResourceManager.AppService SDK:

[code]

[2022-10-14 14:58] catriona-m opened #21136 "Support for `Branches` section in Virtual Hub Route Table"
The API doesn't appear to have support for the properties in "Branches" in Virtual Hub Route Table that are available via the portal:

![image](https://user-images.githubusercontent.com/86247157/195877110-4dd7d8a9-d296-4e32-b81a-ef221f155b89.png)

[2022-10-14 18:10] heaths opened #21138 "Equalize all host templates for Cognitive Language"
To avoid validation errors seen in https://github.com/Azure/azure-rest-api-specs/pull/21068#issuecomment-1278304921, we should make sure all host templates are `{Endpoint}/language` despite having to repeat "/authoring/..." for each endpoint in _*-authoring.json_ swaggers.

I've also opened https://github.com/Azure/azure-sdk-tools/issues/4419 to fix the validation tools, but given how we decided t

[2022-10-14 19:59] zbmowrey opened #21139 "Microsoft.Consumption PriceSheets API is Paginated - Generated Config Says Otherwise"
Using the Azure SDK for Python -> ConsumptionManagementClient and the price_sheet.get_by_billing_period action, I would expect to get all pricing for the given account and billing period.

The SDK returns 1000 results and a next link to retrieve the remaining results. The root cause is that the SDK doesn't see the price sheets API endpoint as paginated, so it doesn't attempt to walk the data set:

[2022-10-15 08:52] Nepomuceno opened #21141 "Invalid Specification on api versions"
# Invalid Specification version

Although the spec files do have a place fot you to put version:
[code]
we also do have a version as part of the folder structure of the file.

specification/network/resource-manager/Microsoft.Network/stable/**2018-11-01**/vmssNetworkInterface.json

This is not only confusing but can cause errors on generation of clients from the files and some validation.

The fix

[2022-10-17 03:59] navba-MSFT commented on #20702
@sergekozh The action is pending on you to share the above details. Once you have the above details, Please feel free to reopen this thread. We would be happy to help.

[2022-10-17 03:59] #20702 closed

[2022-10-17 06:18] dvbb opened #21144 "[Security]ComplianceResults_List Operation will get an incorrect response"
* Package: Azure.ResourceManager.SecurityCenter
* Path: specification\security\resource-manager\Microsoft.Security\stable\2017-08-01\complianceResults.json
* Operation: ComplianceResults_List

List ComplianceResults, if the response value count >10, will get
[code]
it returns an incorrect next page URI and then throws `Azure.RequestFailedException : The api-version query parameter (?api-version=)

[2022-10-17 07:14] wuxu92 commented on #18888
ping @navba-MSFT , could you please ping the service team again?

[2022-10-17 14:08] tombuildsstuff commented on #17650
@blueww this isn't the case for other Resource Manager API's, so why is Storage behaving differently here?

[2022-10-17 14:51] jjcv-msft commented on #17468
This field is read-only because expressRouteConnections are child resources of expressRouteGateways. To modify them, please target the expressRouteConnections directly.

[2022-10-17 14:51] #17468 closed

[2022-10-18 02:43] liuwuliuyun opened #21162 "Microsoft.Automanage API returns 400 Bad request with no response body."
Currently, when I try to deploy a configurationProfiles version using the API provided on [azure-rest-api-specs/automanage.json at main · Azure/azure-rest-api-specs (github.com)](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/automanage/resource-manager/Microsoft.Automanage/stable/2022-05-04/automanage.json), an unexpected 400 code is returned. Here are the details.

API lin

[2022-10-18 03:03] blueww commented on #17650
@tombuildsstuff

For "this isn't the case for other Resource Manager API's", could you give the details?

[2022-10-18 07:03] liuwuliuyun opened #21163 "Microsoft.HybridCompute@2022-03-10 Unexpected 400 returned from service"
swagger link: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2022-03-10/HybridCompute.json

API Example:

PUT https://management.azure.com/subscriptions/{SID}/resourceGroups/yunliutesthyc/providers/Microsoft.HybridCompute/machines/myMachine?api-version=2022-03-10

Json Body:
{
  "location": "west europe",
  "prope

[2022-10-18 09:25] wuxu92 opened #21164 "`[Network/VPNGateway]` deployment operation failed due to an intermittent error"
## Brief
VPN gateway deployment keeps failing with helpless information

## Description
When creating a virtual network gateway for VPN Type with route-based policy, the create operation returns with server-side error without debugging/helpful information to investigate. I have tried with different SKU types and modified the customeRoute prefix value,   which makes no different and all failed.

##

[2022-10-18 12:00] navba-MSFT commented on #19111
@tadelesh I will start an email thread with Service team and look you there. Also tagging them again here to see if they any updates on this.

@aznetsuppgithub Could you please look into this ?

[2022-10-18 12:52] azure-sdk opened #21166 "[Autonomous Development Platform] API Review"
## DUPLICATE: PLEASE REFER TO [7483](https://github.com/Azure/azure-rest-api-specs-pr/issues/7483)

New API Review meeting has been requested.

**Service Name**: Autonomous Development Platform
**Review Created By**: Jess Treiser
**Review Date**: 11/9/2022 9:00 AM PT
**PR**:
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting informati

[2022-10-18 18:53] azure-sdk opened #21168 "[CPX-Marketplace-Catalog] API Review"
New API Review meeting has been requested.

**Service Name**: CPX-Marketplace-Catalog
**Review Created By**: Alon Han
**Review Date**: 11/1/2022 2:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20621
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Marketplace Catalog api for fetching products metadata

Detailed meeting informati

[2022-10-18 21:12] azure-sdk commented on #21168
Meeting updated by **Alon Han**

**Service Name**: CPX-Marketplace-Catalog
**Review Created By**: Alon Han
**Review Date**: 11/1/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/20621
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Marketplace Catalog api for fetching products metadata

Detailed meeting information and docu

[2022-10-18 22:55] cataggar commented on #14086
Requests with the same `x-ms-correlation-request-id` were incorrectly handled. A fix will begin rolling out soon. ([internal pull request](https://msazure.visualstudio.com/One/_git/Azure-Dedicated-AVS/pullrequest/6946227)).

[2022-10-18 22:55] #14086 closed

[2022-10-18 23:06] heaths opened #21173 "`JobState` defined separately in common.json and questionanswering-authoring.json"
Both _common.json_ and _questionanswering-authoring.json_ define a `JobState` model that has separate defintions. The purpose of _common.json_ is to define common models that all swaggers therein reference. From past discussions, _questionanswering-authoring.json_ was supposed to have ref'd this common `JobState`, which did not happen prior to 2022-05-01 GA.

This will continue to cause lintdiff e

[2022-10-19 03:45] navba-MSFT commented on #20851
@Dyhr Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-19 04:57] navba-MSFT commented on #20851
@Dyhr Could you please refer [this](https://techcommunity.microsoft.com/t5/integrations-on-azure-blog/how-to-create-api-connection-logic-app-consumption-using-arm/ba-p/3567231) article ? and see the output response they have got.

![image](https://user-images.githubusercontent.com/57353862/196600814-1f5482df-14d9-47ee-b0a3-85456e7b1a86.png)

Is it the `parameterValueSet` you are referring to ?

Th

[2022-10-19 06:20] sinbai opened #21178 "[Mysql/FlexibleServer] The moment the programmatic creation is complete, the Get API returns that Mysql flexible server does not exist."
Programmatically create Mysql Flexible Server  in terraform using the [latest version 2021-05-01 API](https://github.com/Azure/azure-rest-api-specs/blob/bfa95078d6bb55687bec2c6ad78834deafd7c3fb/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/mysql.json#L42), then go through the Azure-Asyncoperation URL returned in the response to check the status of the operation. After

[2022-10-19 06:57] mastoj opened #21179 "When will Postgres on cosmos become public stable/preview?"
I noticed that https://github.com/Azure/azure-rest-api-specs/blob/main/specification/postgresqlhsc/resource-manager/Microsoft.DBforPostgreSQL/preview/2020-10-05-privatepreview/postgresqlhsc.json is still in private preview state. With the actual service being GA it would be nice to have this in a public state as well.

[2022-10-19 07:26] FaresKi opened #21180 "[azure-mgmt-securityinsight] Cannot (always) fetch the query attribute in an alert rule"
- **Package Name**: azure-mgmt-securityinsight
- **Package Version**: 1.0.0
- **Operating System**: macOS-12.5.1
- **Python Version**: 3.10.8

**Describe the bug**
I'm currently developing locally an Azure function that communicates with Microsoft Sentinel, in order to fetch the alert rules from it, and more specifically their respective `query`s :
[code]
The issue is that when I'm looping over `l

[2022-10-19 08:09] FaresKi commented on #21062
I'm having a similar problem [here also](https://github.com/Azure/azure-rest-api-specs/issues/21180): there seems to be a typing mismatch between the swagger and the SDK or Service.

[2022-10-19 09:13] tombuildsstuff commented on #20848
ping @ruowan @JackTn any idea of a timeline for this one?

[2022-10-19 09:38] sinbai opened #21183 "[DataProtection/BackupVaults] Failed to create backupVaults with datastoreType value set to SnapshotStore"
When creating the backupVaults with  the [datastoreType](https://github.com/Azure/azure-rest-api-specs/blob/9366804c62e024801daf8a578924099ff644ccf6/specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2022-05-01/dataprotection.json#L6111) value set to `SnapshotStore` via the latest version [API](https://github.com/Azure/azure-rest-api-specs/blob/9366804c62e024801daf8a5789

[2022-10-19 15:11] markweitzel opened #21185 "[Cognitive - Custom Speech] Review request for Speech/SpeechToText to add version stable/v3.1"
## API Stewardship Review 19-Oct-22
$Office Hours Discussion$

Pull Request: https://github.com/Azure/azure-rest-api-specs/pull/21165

### References
[Meeting chat/recording](https://teams.microsoft.com/l/meetup-join/19%3a3ebb18fded0e47938f998e196a52952f%40thread.tacv2/1642050604291?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%2208af2e81-2aa8-4b4e-883a-b553fd2a2

[2022-10-19 16:30] MsGabsta commented on #19440
I can confirm that this issue has been resolved.

[2022-10-19 16:31] MsGabsta commented on #19440
We have finalized fix this issue

[2022-10-19 16:32] MsGabsta commented on #19440
#reassign MsGabsta

[2022-10-19 16:32] MsGabsta commented on #19440
#reassign @MsGabsta

[2022-10-19 17:15] markweitzel commented on #19479
## API Stewardship Board Review: 19-Oct-22

[Meeting Recording/Transcript](https://microsoft.sharepoint.com/teams/AzureAPIStewardshipBoard/_layouts/15/stream.aspx?id=%2Fteams%2FAzureAPIStewardshipBoard%2FShared%20Documents%2FGeneral%2FRecordings%2F%5BMicrosoft%20Purview%5D%20API%20Review%20%2D%20Issue%20%5F19479%2D20221019%5F120457%2DMeeting%20Recording%2Emp4)

[2022-10-19 20:30] #19308 closed

[2022-10-19 20:30] #20571 closed

[2022-10-20 01:57] raych1 commented on #21141
Network specs is by design, it usually copy previous version specs to new version without changing api version.

[2022-10-20 02:36] #21180 closed

[2022-10-20 02:39] msyyc commented on #21180
this is usage issue of Python SDK : https://github.com/Azure/azure-sdk-for-python/issues/26889#issuecomment-1284831518

[2022-10-20 03:23] myc2h6o commented on #19440
Thanks for the update! Please feel free to close the issue.

[2022-10-20 03:47] ruowan commented on #21141
We already have validation rule for this case. https://github.com/Azure/avocado#inconsistent_api_version.

For existing issues in spec repo, it's risky to fix them. And it will cause breaking change.

[2022-10-20 04:26] dvasdekis opened #21198 "[Databricks] Support Admin Protection flag for Databricks Workspaces"
We wish to enable admin protection for "no-isolation shared" clusters via the API ([see here for MS docs](https://learn.microsoft.com/en-gb/azure/databricks/administration-guide/account-settings/no-isolation-shared)), so that it can be enabled downstream in Terraform.

Microsoft just added this parameter to their list of security advisory flags, so now our databricks instances are considered insec

[2022-10-20 05:10] Nepomuceno commented on #21141
There are some that are as late as 2022-08-01 how long has this validation been active?

[2022-10-20 05:39] raych1 commented on #21141
@Nepomuceno , what's the impact since this only happens for legacy api versions?

[2022-10-20 05:58] teowa opened #21200 "Microsoft.Insights/DataCollectionRule@2022-04-01 `streams` enum mismatch"
## Swagger
https://github.com/Azure/azure-rest-api-specs/blob/8d9e22058eb70f4d20baf1f0594b22f76f957c96/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-04-01/dataCollectionRules_API.json#L620-L650

But service API response shows that there are 240 possible `streams` value.

## Example API Flow
x-ms-request-id: f8c580d2-cb20-4642-99ad-6baf6979753b

PUT https://management.azure.

[2022-10-20 07:49] navba-MSFT commented on #20866
@sinbai Please let us know if you were able to create a support ticket to troubleshoot this issue further.

[2022-10-20 09:53] sinbai commented on #20866
@navba-MSFT I didn't create a support ticket for this issue because the following error disappeared after I checked again. I don't know what happened to the private dsn zones backend. Anyway, I am unblocked by this issue. I will recreated a new issue if this happen again. I will close this issue and thanks again for your help.

`Message="The Private DNS zone name 'acc220922020404116025.postgres.da

[2022-10-20 09:53] #20866 closed

[2022-10-20 10:00] joostjansenskg opened #21209 "Unable to create DevOps project from Azure Portal"
I can't create new Azure DevOps organizations through the Azure Portal. I found an existing issue which was caused by a health issue. Can you please verify if this is the case again this time?

Error:
{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The unknown resource response code 'Redirect' is encountered."
    }
}

Existing case which i

[2022-10-20 17:17] aravindyeduvaka opened #21212 "az sig gallery-application doesn't accept sas uris when creating from az cli"
**az sig gallery-application version create** fails with the following error when I try to provide a SAS URI. However, the same works when using Azure portal to create a new version (easy to verify when you create from the portal and use the browse option for "Source application package")

- ERROR: (InvalidParameter) Source uri: '"https://<storageacct>.blob.core.windows.net/<container>/<blob.zip>?

[2022-10-21 02:42] navba-MSFT commented on #21179
@mastoj Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-21 03:57] navba-MSFT commented on #20851
@Dyhr I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-21 07:09] navba-MSFT commented on #21179
@mastoj Azure Cosmos DB for PostgreSQL in Generally Available (GA) on Oct 12, 2022. More Info [here](https://devblogs.microsoft.com/cosmosdb/distributed-postgresql-comes-to-azure-cosmos-db/).

[2022-10-21 07:23] Dyhr commented on #20851
@navba-MSFT Thank you for your response. Unfortunately my issue is not that the API isn't working, but the discrepancy between the spec and the API, according to the documentation I linked.

The documentation refers to `parameterValueType` for Single-authentication and `parameterValueSet` for Multi-authentication. While I only need the former, neither seems to be in the spec that I linked for API

[2022-10-21 08:26] ziyeqf opened #21221 "`Resources_ListByResourceGroup` returned result not up-to-date"
When deleted a resource in resource group (the delete CALL returned with success), and then call the [`Resources_ListByResourceGroup`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json#L2301), the API sometimes returns an outdated result. (The deleted resource still shows).

[2022-10-21 12:17] markweitzel commented on #21022
## API Stewardship Board Review: 20-Oct-22

* Use additionalProperties = true to give better indication to code gen for the SDKs
See: https://swagger.io/specification/v2/#model-with-mapdictionary-properties
* Support the standard conditional requests pattern using the `If-Match` header
* Check the use of model as string `false` -- some of these should be `true`

* Open question on ETag that we wil

[2022-10-21 19:40] Christoba commented on #16804
@ruowan - no triage?

[2022-10-21 19:46] amarco opened #21303 "domain list empty"

[2022-10-21 22:24] azure-sdk commented on #21056
Meeting updated by **Phani Kumar Vadali**

**Service Name**: Microsoft Purview
**Review Created By**: Phani Kumar Vadali
**Review Date**: 10/26/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21055
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting information and documents provided can be accessed [here](ht

[2022-10-24 08:43] neil-yechenwei opened #21242 "Failed to create Bot Direct Line Speech after the cognitive account is created successfully"
After tested, we found API failed to create Bot Direct Line Speech immediately after the cognitive account is created successfully. But Bot Direct Line Speech can be created successfully at second apply with same request payload.

Though the cognitive account is created successfully and API returned, but seems the primary access key returned by the cognitive account isn't ready yet. Could you take

[2022-10-24 08:43] neil-yechenwei opened #21243 "Failed to create Bot Direct Line Speech after the cognitive account is created successfully"
After tested, we found API failed to create Bot Direct Line Speech immediately after the cognitive account is created successfully. But Bot Direct Line Speech can be created successfully at second apply with same request payload.

Though the cognitive account is created successfully and API returned, but seems the primary access key returned by the cognitive account isn't ready yet. Could you take

[2022-10-24 09:00] ruowan commented on #16804
Hi, @Christoba Sorry for delay response. we are trying to triage this issue.

[2022-10-24 15:20] azure-sdk commented on #21168
Cancelled by: Alon Han

[2022-10-24 15:20] #21168 closed

[2022-10-24 15:44] rosshukla1 opened #21287 "Security Center Workspace Setting Returns an Error Message Even When Successful"

[2022-10-24 19:02] katbyte commented on #8353
@kenieva - why has this been closed when it is a valid, and open bug? should it not remain open until it has been solved so other people can find it? closed implies it has been fixed, as such could we please re-open it?

[2022-10-24 21:58] heaths opened #21251 "Write guideline companion on branching recommendations"
I'm fine with more detailed branch docs but I don't think this is necessarily the document for that detail. @heaths if you would like to start another PR for review that would be great.

_Originally posted by @weshaggard in https://github.com/Azure/azure-rest-api-specs/pull/20893#discussion_r1003802367_

[2022-10-25 01:33] blueww commented on #18844
@magodo

The current server behavior is correct and aligned with  [Microsoft Azure REST API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#obtaining-status-and-results-of-long-running-operations)

PUT storage account is a long running operation. Per [Microsoft Azure REST API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.

[2022-10-25 03:11] navba-MSFT commented on #21054
@zshu11 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-25 03:13] peter-bertok commented on #19784
Some feedback that I have provided to Microsoft via different channels is that "active-passive" load balancing is a missing feature in Application Gateway. Some legacy applications require this, and is also often used with licensed applications that provide "free" HA/DR passive secondary licenses.

This feature is *very* close to what would be required for active-passive support. It just needs the

[2022-10-25 04:05] navba-MSFT commented on #20851
@Dyhr Thanks for getting back and clarifying the ask. I am adding the Service team to look into this.

[2022-10-25 04:09] navba-MSFT commented on #20851
@Azure/azure-logicapps-team Could you please look into this and provide an update ?

[2022-10-25 04:31] navba-MSFT commented on #21179
@mastoj Providing public and GA'd version of REST APIs is in our product roadmap for the current semester. If you need a tentative ETA for the same let me know. We could be happy to provide you more details. Awaiting your reply.

[2022-10-25 05:01] navba-MSFT commented on #20909
Adding Service team to look into this.

@aznetsuppgithub Could you please look into this and provide an update ?

[2022-10-25 05:57] teowa opened #21258 "scheduledQueryRules@2021-08-01 `windowSize` should be enums."
# scheduledQueryRules@2021-08-01 `windowSize` should be enums `PT5M`, `PT10M`, `PT15M`, `PT30M`, `PT45M`, `PT1H`, `PT2H`, `PT3H`, `PT4H`, `PT5H`, `PT6H`, `P1D` and `P2D`.

## swagger
https://github.com/Azure/azure-rest-api-specs/blob/fe9ddfb05b8159ef05bef0f7fbcf81b14bbecf2b/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-08-01/scheduledQueryRule_API.json#L386-L390

## Example

[2022-10-25 07:20] dvbb opened #21260 "[SecurityCenter] The definition of SWAGGER is inconsistent with the actual return of Rest API"
* Path: \specification\security\resource-manager\Microsoft.Security\preview\2020-01-01-preview\securityContacts.json
* Operation: SecurityContacts_List
* API VERSION: 2020-01-01

#### SWAGGER
[code]

#### Actually API return
[code]

It will throw `System.InvalidOperationException` : The requested operation requires an element of type 'Object', but the target element has type 'Array'

[2022-10-26 00:14] azure-sdk opened #21279 "[Azure Digital Twins] API Review"
New API Review meeting has been requested.

**Service Name**: Azure Digital Twins
**Review Created By**: Sam Davis
**Review Date**: 11/8/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/9407
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Event Handlers and Bulk 2023-02-28-preview api version

Detailed meeting information a

[2022-10-26 04:44] navba-MSFT commented on #20953
@ziyeqf Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-26 04:45] navba-MSFT commented on #18921
Adding Service team to look into this.

[2022-10-26 04:48] navba-MSFT commented on #20256
@xboxeer Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-26 04:54] myc2h6o commented on #18921
Thanks for the update. The original issue in Terraform AzureRM provider has been resolved by https://github.com/hashicorp/terraform-provider-azurerm/pull/16939. Feel free to close this issue.

[2022-10-26 05:02] navba-MSFT commented on #18921
@myc2h6o Thanks for the update. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-26 08:28] navba-MSFT commented on #20953
@ziyeqf AFAIK, the `PUT` operation is using the schema definition from ResourceGuardProxyBaseResource which inturn gets the definition reference from ResourceGuardProxyBase which has the property `resourceGuardResourceId`.

Sending you the below details if that helps.

https://github.com/Azure/azure-rest-api-specs/blob/21426cf85836ec17aaa4f20f58324a8666925e34/specification/recoveryservicesbackup/r

[2022-10-26 08:40] ziyeqf commented on #20953
@navba-MSFT Thanks for your insight.

But it seems the `ResourceGuardProxyBase` is referenced in `response` of `ResourceGuardProxy_Put`, rather than `parameters`. and it's needed in parameters.

[2022-10-26 10:56] piotrszajer opened #21324 "Bad request in resource filtering"
- azure-mgmt-resource
- 21.2.1
- Ubuntu 22:
- Python 3.9:

**Describe the bug**
Filtering is not working when combined

**To Reproduce**
This works:
[code]
This also works:
[code]
But this does not work - Bad Request
[code]
**Expected behavior**
Properly filtered items will be returned

[2022-10-26 12:23] tombuildsstuff commented on #18921
@navba-MSFT @myc2h6o looks like the original FR in this PR is still valid/unfixed, however - so shouldn't this remain open until it's fixed?

[2022-10-26 12:58] myc2h6o commented on #18921
@navba-MSFT could you help re-open the issue and see if service team consider the original ask a valid feature request?

[2022-10-26 16:25] markweitzel commented on #21056
## API Stewardship Board Review: 26-Oct-22

* `Cobranding status` should be an enumeration, but the issue is that we should not model an enumeration as an enum. This should be a boolean and we should not follow the ARM rules. This is meant for customers to be settable. Consider changing this to an `enabled` property that can be true/false. This leaves the `status` field to be used in the future if

[2022-10-26 17:10] yang-hai-feng commented on #21022
@markweitzel

I have fixed "modelAsString" from false to true for any enumeration value consider to be extended in future, we also exposed if-match header as our API already supported, but we throws errors when etag in body and header are different, supported in future will be, specified from if-match header, or specified from body, if both are specified, they should be same.

Would you please tak

[2022-10-26 18:34] azure-sdk commented on #21279
Meeting updated by **Sam Davis**

**Service Name**: Azure Digital Twins
**Review Created By**: Sam Davis
**Review Date**: 11/15/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/9407
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Event Handlers and Bulk 2023-02-28-preview api version

Detailed meeting information and docume

[2022-10-26 18:37] azure-sdk commented on #21279
Meeting updated by **Sam Davis**

**Service Name**: Azure Digital Twins
**Review Created By**: Sam Davis
**Review Date**: 11/15/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/9407
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Event Handlers and Bulk 2023-02-28-preview api version

Detailed meeting information and docume

[2022-10-26 19:56] rosshukla1 commented on #21287
@Wzb123456789 Thank you for the clarification! So can this issue be fixed by Azure?

[2022-10-27 02:59] navba-MSFT commented on #21000
@Freakling Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-27 03:11] ziyeqf opened #21304 "`postgresql@2022-03-08-preview` - `Administrators_Create` Object Id mismatch"
When calling the `Administrators_Create` to create an aad admin on flexible server. the `Create` call returned success. But then I call `Administrators_Get` with the same path, it returned http-404.
By checking on the Portal, found the objectID showed here mismatch the parameter of `create`.

Where I checked the object ID on portal
---
![Screenshot 2022-10-27 110901](https://user-images.githubuser

[2022-10-27 03:43] navba-MSFT commented on #20953
@ziyeqf The above PR is currently under review.

[2022-10-27 03:48] navba-MSFT commented on #21054
@zshu11 If you are using sync client, verify argument will be passed into requests library and in the doc of requests library [Advanced Usage — Requests 2.28.1 documentation](https://requests.readthedocs.io/en/latest/user/advanced/#ssl-cert-verification). Its value could be verify='/path/to/certfile'. Hope this answers. If you have any follow-up questions, please feel free to reopen this thread. W

[2022-10-27 03:48] #21054 closed

[2022-10-27 05:08] magodo commented on #18844
@blueww What you described above is the behavior of the `azure-asyncoperation`, as is defined [here](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#azure-asyncoperation-resource-format), whilst the current RP is using the `location` header, whose flow is defined [here](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-refere

[2022-10-27 06:28] navba-MSFT commented on #21000
@Freakling The above PR has been filed it is currently under review. In the meantime if you have any queries, please feel free to ask.

[2022-10-27 07:22] ms-zhenhua opened #21306 "`keyvault` - PUT response is inconsistent with PUT request when `createMode = recover`"
Steps:
1. Create a new key vault instance with `networkAcls.ipRules = ["1.2.3.4/32"]`
2. Soft delete the key vault instance
3. Recreate the key vault instance with `createMode = recover` and `networkAcls.ipRules = ["1.2.3.6/32"]`
Expected Result: `networkAcls.ipRules = ["1.2.3.6/32"]` in the recreated key vault
Actual Result: `networkAcls.ipRules = ["1.2.3.4/32"]` in the recreated key vault

PUT R

[2022-10-27 07:30] #21000 closed

[2022-10-27 07:35] drdamour commented on #12104
i'm seeing this too when leveraging resource explorer.  it sucked because azure support sent me to this location to get a siteconfig property...but it was null.  however site/config/web showed the actual value.  VERY confusing.

[2022-10-27 07:37] drdamour commented on #20990
i think the service just isn't working as it's supposed to. #12104 so teh spec is right but the service is broken

[2022-10-27 08:09] blueww commented on #18844
@magodo

The API for this issue is "PUT" StorageAccount, and it is Long-running operation (see swagger definition [here](https://github.com/Azure/azure-rest-api-specs/blob/ef0b521d470bede0b75b72b03c1f461fb139f81c/specification/storage/resource-manager/Microsoft.Storage/stable/2022-05-01/storage.json#L200).)

As the request is a Long-running operation, it must follow up the [Microsoft Azure REST AP

[2022-10-27 11:37] magodo commented on #18844
I've heard from the Swagger team that the RPC repo is authoritive than the API guideline.

[2022-10-27 13:14] ariel-mar commented on #14186
Hi ,
Is there any update regarding the cause of this issue?
I faced the same issue 10 days ago (currently I am not facing it)

[2022-10-27 13:39] azure-sdk opened #21313 "[Cognitive Services - AzureOpenAI] API Review"
New API Review meeting has been requested.

**Service Name**: Cognitive Services - AzureOpenAI
**Review Created By**: Ralf Beckers
**Review Date**: 11/22/2022 1:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21312
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: GA version of OpenAI fine tuning API (2022-12-01)

Previous Reviews:

[2022-10-27 14:18] #21304 closed

[2022-10-27 14:40] azure-sdk opened #21314 "[CloudNativeTesting] API Review"
New API Review meeting has been requested.

**Service Name**: CloudNativeTesting
**Review Created By**: Abhishek Ranjan
**Review Date**: ~~11/1/2022 2:00 PM PT~~ 11/2/2022 8:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21117
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: [here](https://learn.microsoft.com/en-us/azure/load-testing/concept-load-testing-conce

[2022-10-27 19:32] jaylabell commented on #18767
@TravisCragg-MSFT are you still looking into this issue?

[2022-10-28 01:25] pjohari-ms commented on #16003
This issue has been fixed. Closing the issue.

[2022-10-28 01:25] #16003 closed

[2022-10-28 01:27] pjohari-ms commented on #15875
Closing this issue as the related issue seems to be fixed.

[2022-10-28 01:27] #15875 closed

[2022-10-28 03:49] navba-MSFT commented on #20256
@xboxeer The above PR has been filed. It is currently under review. In the meantime if you have any queries, please feel free to ask.

[2022-10-28 04:09] navba-MSFT commented on #21179
@mastoj I hope you had a chance to look at the above comment. If you need any further assistance or have any follow-up queries on this issue, please feel free to reopen this thread. We would be happy to help.

[2022-10-28 04:09] #21179 closed

[2022-10-28 06:58] mastoj commented on #21179
@navba-MSFT , been busy so haven't had the time to follow up. I would love to have a tentative ETA since we won't start using it for real until we have it in the API. Manually provisioning the service isn't our thing.

[2022-10-28 07:02] navba-MSFT commented on #21179
@mastoj Thanks for getting back. I will provide more details on the tentative ETA soon.

[2022-10-28 08:33] harshavmb opened #21325 "Support NetworkAccessPolicy as part of OSDisk specs"
Reposting from [here](https://github.com/Azure/azure-sdk-for-go/issues/19434).

OS disk specs [here](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/2022-08-01/computeRPCommon.json#L903) doesn't contain `networkAccessPolicy` flag which is present part of [managed_disk_properties](https://github.com/Azure/azure-rest-a

[2022-10-28 15:59] dpwatrous commented on #20896
This would be a breaking change to the API, however it looks like we may be able to fix this in practice since I don't believe the service actually uses the "Cancelled" state. +@paterasMSFT @wiboris

[2022-10-28 22:01] heaths opened #21334 "GetSettings returns a model with "settings" array instead of "value""
In [Key Vault settings.json version 7.4-preview.1](https://github.com/Azure/azure-rest-api-specs/blob/abd5d0016f12f6862cae88ef70f1333e84e20c07/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.4-preview.1/settings.json#L191), `SettingsListResult` says it returns an array property named "value" but, in actually, returns "settings":
[code]

For now, you need to fix the swagger to specif

[2022-10-31 02:50] #19690 closed

[2022-10-31 04:26] navba-MSFT commented on #20256
@xboxeer I am adding Service team to look in to this further since there is a breaking change in the above PR.

@vnetsuppgithub Could you please look into this issue and provide an update on this ? Thanks in advance.

[2022-10-31 05:03] myc2h6o opened #21342 "`compute` Gallery doesn't return `publicNamePrefix`"
When using below request to create a community gallery, publicNamePrefix is set but not returned in the GET response. Though the value can be extracted from `publicNames`, it violates https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/Semantic-and-Model-Violations-Reference.md#roundtrip_missing_property.

[code]

Swagger: https://github.com/Azure/azure-rest-api-specs/blob/5fc05d

[2022-10-31 05:24] mahesh2543 opened #21343 "Can we create long term retention backup for sql managed instances using terraform"
@TechyMatt @spikewang
 AN SQL instance has a default backup of PITR(7 days), but can we create a LTR using terraform.

[2022-10-31 07:05] magodo opened #21347 "Storage: Using AAD Auth to update ACL for an existing container ends up with 404"
I have a storage account and container created:

The storage account:

[code]

Note that `"allowSharedKeyAccess": false`.

The container:

[code]

Then if I try to update the `x-ms-blob-public-access`, it failed:

[code]

Response:

[code]

If I modified the storage account to allow shared key access, and use the shared key as auth method for the above PUT request, it succeeded.

BTW, my account h

[2022-10-31 09:38] magodo commented on #21347
Per https://learn.microsoft.com/en-us/rest/api/storageservices/authorize-with-azure-active-directory#permissions-for-calling-data-operations, `GET`/`SET` container ACL operations are not yet supporting the AAD auth.

[2022-10-31 14:46] nikidandwani opened #21354 "Outdated documentation"
Hi team,
runtimeSubnetId was the old way of doing it and now it is no longer needed.
It is very confusing to still see it being used or required in API specification documentation below
[Microsoft.App/managedEnvironments - Bicep, ARM template & Terraform AzAPI reference | Microsoft Learn](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fazure%2Ftempla

[2022-10-31 15:18] cataggar commented on #20896
@dpwatrous, adding an enumeration value is not a breaking change to the API.

[2022-10-31 20:50] jds3d opened #21426 "query_by_factory not showing "debug" pipelines"
Environment: Azure Function

**Describe the bug**
I run query_by_pipeline and it only returns "triggered" pipelines, not the ones executed via "debug."

**To Reproduce**
Steps to reproduce the behavior:
1. Execute a pipeline via debug button.
2. run query_by_factory.

**Expected behavior**
It should show both triggered and debug pipelines.

**Screenshots**
If applicable, add screenshots to help ex

[2022-10-31 21:58] azure-sdk commented on #21314
Cancelled by System Admin

[2022-10-31 22:50] #21022 closed

[2022-11-01 14:31] tombuildsstuff commented on #8353
ping @kenieva

[2022-11-01 14:40] #19370 closed

[2022-11-01 14:54] tombuildsstuff commented on #14086
@catagger is there a timeline for when the rollout is complete?

[2022-11-01 16:25] #20922 closed

[2022-11-01 18:02] ocafebabe commented on #19664
I'm experiencing the same issue here, it seems that this filter attribute has no effect whatsoever!

[2022-11-01 18:32] brantley-svt commented on #18441
Running into this issue as well.  I found a workaround using `union()` but it ain't pretty.

[code]

[2022-11-02 02:43] navba-MSFT commented on #21209
Adding Service team for Devops issues.

@v-anvashist, @V-hmusukula Could you please look into this once you get a chance.

[2022-11-02 03:09] navba-MSFT commented on #21354
@nikidandwani Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-02 03:14] navba-MSFT commented on #21179
@mastoj We're currently planning for Rest API GA to go live by end of December this year.

[2022-11-02 03:31] magodo opened #21387 "SecurityInsights: Fusion Alert Rule API doesn't comply with round trip consistency"
Fusion alert rule is typically created by default after Sentinel is created, based on its template. All of the `sourceSettings` and `sourceSubTypes` are enabled. It allows users to modify it by making the existing settings to be disabled. However, if users explicitly make certain settings to be absent in the PUT request, those settings will not be changed at all.

E.g. I have sent following reques

[2022-11-02 04:01] v-anvashist commented on #21209
@navba-MSFT We are owing only azure devOps CLI service. Please redirect this issue to azure devOps support team.

Thanks,
Anjali

[2022-11-02 04:07] navba-MSFT commented on #21209
@joostjansenskg Could you please let us know if it is feasible for you to open a support ticket to troubleshoot this issue further ?

[2022-11-02 04:11] v-anvashist commented on #21209
@joostjansenskg I have two POC emails.
1. AzureDevOpsSupport@service.microsoft.com
2. msado-dri@microsoft.com

 Thanks,
Anjali

[2022-11-02 10:33] navba-MSFT commented on #21354
@nikidandwani The above PR is currently under review. In the meantime, please feel free to ask any follow-up questions.

[2022-11-02 11:15] nikidandwani commented on #21354
Thanks for the update and quick response @navba-MSFT . I see that the documentation is updated with "this field is deprecated and no longer needed..."
is it not possible to remove this field completely from the API specs? it is still confusing to see why it is still mentioned.

[2022-11-02 12:44] mikekistler commented on #20573
New PR link: https://github.com/Azure/azure-rest-api-specs/pull/21235

[2022-11-02 14:23] mayank-reynencourt commented on #21164
Hi,

i'm also trying to create VNG and face same issue , any update on this ?

[2022-11-02 14:31] el-memer commented on #21164
Hi,
I'm also facing same issue here (Region West Europe), I've opened a support ticket and will send updates here if I have some.

[2022-11-02 16:00] mikekistler commented on #21314
Comments from REST API review 11/2/2022

- clientmetric -> clientMetric
- vusers -> virtualUsers ?
- orderby is could be expensive depending on the backing store -- are you sure you want to do this?
   - current backing store is Cosmos
   - Maybe remove from V1 and wait for customers to request it
- For file upload, can you use "application/octet-stream" with Content-Disposition header to pass the

[2022-11-02 16:35] mikekistler commented on #20573
Notes/comments from meeting on 11/2/2022

- Put vs Patch - their use case is that the entire payload must be consistent and sent in its entirety
   - Jeffrey is sold!
- Path swizzle -- how does that affect permissions? They are basically the same. Not based on hierarchy.
- The "aggregate" segment of "/devopsPolicies is unnecessary -- you should remove it.
- Should remove "policyName" and "id" from

[2022-11-02 17:30] birdnathan commented on #21164
Same here - West Europe. Please fix!

[2022-11-02 17:43] FletchAD commented on #21164
Same here - UKSouth and UKWest, tried with VpnGw1 & VpnGw1AZ, interestingly the basic SKU seems to work ok, but that's not what I need.

[2022-11-02 18:14] mikekistler commented on #20573
After the meeting we chatted in Teams about Cadl and the team was unaware of Cadl but will look into it.

[2022-11-02 19:47] mikekistler commented on #21314
I just ginned up a test request to "uploadTestFile" with curl and intercepted the request. The file name is passed in the `Content-Disposition` header as Jeffrey suggested (at least when sent from Curl, which is probably doing it the standard way).
[code]

Also, I could not find any "official" statement that restricts multipart/form-data to POST, but there are plenty of StackOverflow posts about v

[2022-11-02 20:40] slaffka-vlasov commented on #21164
The same is for uswest3 with VpnGw1 & VpnGw2. Basic doesn't work as well

[2022-11-02 20:57] FrankMormino commented on #21164
Same thing here - for west Europe as well.

[2022-11-02 21:10] FrankMormino commented on #21164
Same here - trying the same in West Europe - any luck on the support ticket side?

[2022-11-02 21:12] whosfj commented on #21164
Same issue here. Happening in West Europe trying to deploy a VpnGw2AZ.

[2022-11-02 21:52] BevanSin commented on #21164
Note there is an issue currently with Azure Key Vault that may be causing this problem - if you look in the Service Health page there is an alert there that is affecting downstream Azure services like VPN Gateway.

[2022-11-02 22:12] birdnathan commented on #21164
[Image.png]
________________________________
From: Bevan ***@***.***>
Sent: Wednesday, November 2, 2022 9:53:09 PM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: birdnathan ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] `[Network/VPNGateway]` deployment operation failed due to an intermittent error (Issue #21164)

Note there is an issue currently with Azure Key Vault

[2022-11-02 22:15] birdnathan commented on #21164
From Azure support:
“Hi Nathan

Thank you for contacting Microsoft Azure Networking support.

Please know that we are currently investigating an ongoing global issue regarding Virtual Network Gateway (VPN Gateway) deployments and we will get back to you with updates once this has been mitigated.”

Seems the key vault issue is wiping out network services. The status website need to reflect this and

[2022-11-02 23:52] haciz commented on #21164
Hello,

Indeed joining the list to report an issue, neither the empty PUT request is helping

`Set-AzVirtualNetworkGateway: Long running operation failed with status 'Failed'. Additional Info:'The gateway deployment operation failed due to an intermittent error. Please try again.'
StatusCode: 200
ReasonPhrase: OK
Status: Failed
ErrorCode: VmssGatewayDeploymentFailed
ErrorMessage: The gateway deplo

[2022-11-03 00:56] imkevinjones commented on #21164
Same issue here... This has been happening all day.

[2022-11-03 01:35] shanyuen commented on #21164
Yesterday I bought a subscription and created a fresh virtual network in southeast asia.
But still error.

Status: Conflict
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"VmssGatewayDeploymentFailed","message":"The gateway deplo

[2022-11-03 04:35] myc2h6o commented on #19387
This seems to be fixed, I'm now able to see the collation present in the GET response after the second PUT request

[2022-11-03 04:35] #19387 closed

[2022-11-03 05:00] navba-MSFT commented on #21280
@ImMin5 Adding Service team to look into this.

[2022-11-03 06:49] joostjansenskg commented on #21209
I already created a ticket, thank you!

[2022-11-03 06:49] #21209 closed

[2022-11-03 07:22] FletchAD commented on #21164
After this confirmation at 3rd Nov @ 05:52 UTC https://status.azure.com/en-us/status/history/ I was able to provision VpnGw1 in UKSouth this morning.

[2022-11-03 07:52] whosfj commented on #21164
Seems to be mitigated. Can also deploy the VGW now.

[2022-11-03 08:49] el-memer commented on #21164
Got an answer from the support team.

I tried to redeploy this morning, hoping it'll be resolved soon.

[2022-11-03 09:45] slaffka-vlasov commented on #21164
Confirmed creation of VpnGw1 in west us 3

[2022-11-03 13:06] krishna1s commented on #21314
@mikekistler We tried with octet-stream and thought of taking the filename in path-param, let us know if the following changes are ok for you.

fileUpload PUT API => /tests/{testId}/files/{fileName}?fileTpe={fileType}
content-type => [application/octet-stream]

and swagger request body
{
in: "body",
name: "body",
required: true,
schema: {
format: "binary",
type: "string"
}
}
<img width="960" alt="

[2022-11-03 15:54] #19440 closed

[2022-11-03 16:46] tjprescott opened #21418 "Model validation LRO_RESPONSE_HEADER is not applicable to data-planes but triggers breaks in Model Validation"
Apparently the Model Validation for LRO_RESPONSE_HEADER only applies to ARM (managment) specs, but the check runs against data plane specs and triggers false failures.

[2022-11-03 17:04] darena-patrick commented on #20156
Can we please get an update on this one?

[2022-11-03 18:47] jaylabell commented on #19666
@Drewm3 I would like to assign this issue to you

[2022-11-03 19:25] mikekistler commented on #21314
This looks good to me. It does prevent you from uploading two different files with the same name, but maybe this is a good thing!

[2022-11-03 19:40] TravisCragg-MSFT commented on #20186
@neil-yechenwei Can you confirm if the method I linked above does what you are looking for?

[2022-11-04 02:24] raych1 commented on #21418
I created an [issue](https://github.com/Azure/oav/issues/895) to track this. @tjprescott, please also review the change we're going to make if that works for data-plane specs.

[2022-11-04 02:24] #21418 closed

[2022-11-04 02:24] azure-sdk opened #21421 "[Azure Synapse Platform Service - Synapse Link] API Review"
New API Review meeting has been requested.

**Service Name**: Azure Synapse Platform Service - Synapse Link
**Review Created By**: Zhicheng Yang
**Review Date**: 11/17/2022 4:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21240
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting information and documents provided c

[2022-11-04 02:30] azure-sdk commented on #21421
Meeting updated by **Zhicheng Yang**

**Service Name**: Azure Synapse Platform Service - Synapse Link
**Review Created By**: Zhicheng Yang
**Review Date**: 11/18/2022 8:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21240
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: honored to invite you to this meeting to review Adding new a

[2022-11-04 02:54] navba-MSFT commented on #21325
Adding Service team to assist on this.

@Drewm3, @Vaibhav-Agar Could you please look into this issue ? Thanks in advance.

[2022-11-04 03:51] Drewm3 commented on #19424
Closing this issue. According to the compute resource provider dev teams changing this issue is an very large effort that is not something that we are able to take on any time soon since the current behavior is technically correct.

[2022-11-04 03:51] #19424 closed

[2022-11-04 03:56] Drewm3 commented on #19666
The swagger file update was held off until there was a new API version because the API review folks consider a case change a breaking change. That is why this update has taken so long. The fix is rolling out now and should be fully deployed and available in a week or two.

[2022-11-04 04:47] Drewm3 commented on #21325
Moving to @TravisCragg-MSFT to investigate.

[2022-11-04 05:54] navba-MSFT commented on #21139
@zbmowrey Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-04 07:42] bingosummer opened #21425 "How to deprecate properties"
I want to mark the property `foo` deprecated. For example, ""

[code]

I know we can set `"deprecated": true` for a path. But for the schema object, I didn't see the property `deprecated` in the official OpenAPI 2.0 doc https://spec.openapis.org/oas/v2.0#schema-object.

https://github.com/Azure/autorest/blob/main/Samples/test/deprecated/deprecated.yaml mentions "x-deprecated". But I didn't find an

[2022-11-04 10:03] navba-MSFT commented on #21139
@zbmowrey We are looking into this. In the meantime, could you please answer the below ?

- What other alternatives were explored since this is not working beyond 100 entries ?
- Considering there is a breaking change now in fixing this and introducing a new property, What alternatives will yoiu be planning to follow ?
- What is the business impact because of this issue ? (Ex: Number of users affe

[2022-11-04 12:39] zbmowrey commented on #21139
**What other alternatives were explored since this is not working beyond 100 entries ?**

I am currently pulling the first 1000 results using the SDK, then getting the **next_link** property from that result, and building a requests object which uses the auth header and next_link to walk through the remaining data set.

**Considering there is a breaking change now in fixing this and introducing a

[2022-11-04 16:26] adrianhall commented on #21425
Nothing to do with API Management here.  API Management itself does nothing with the deprecated flag.

I'd hazard a guess it's about autorest more than anything.

The user doesn't get any warning that a property is deprecated.  OpenAPI 2.0 does not allow you to mark a field as deprecated - only an API.  OpenAPI 3.0 adds deprecated support to the field, but azure-rest-api-specs doesn't use 3.0 yet.

[2022-11-04 16:27] gabrieligbastos commented on #2313
+1, it has been almost 5 years it has been created and no updates on those?

[2022-11-04 18:40] thomas11 opened #21431 "network/SubResource added with and without required `id`"
In the latest Networking 2022-07-01 release (0c90b40551), [`dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/dnsresolver.json` adds `SubResource`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/dnsresolver.json#L2497) with an `id` property that's required.

However, `SubResource` already exists

[2022-11-05 08:43] WodansSon opened #21435 "CDN Front Door does not expose `AnomalyScoring` as an ENUM value"
Please see [Terraform issue](https://github.com/hashicorp/terraform-provider-azurerm/pull/19095) for full details. The issue is that with Front Door adopting DRS 2.0+ OWASP model they do not expose the ENUM value `AnomalyScoring` as an ENUM value in the swagger so the CLI tools which need to implement this functionality need to hard code this value in their code base and create their own validatio

[2022-11-05 17:22] Megasware128 commented on #20851
Bicep is also hit by this issue: https://github.com/Azure/bicep/issues/5516. Same for Pulumi

[2022-11-06 22:57] SebTardif opened #21438 "Add to the Azure API does the support for create_mode of GeoRestore for Postgres Flexible Server"
We would like to be able to automate DR Geo Restore of our Postgres Flexible Server

[2022-11-07 03:44] navba-MSFT commented on #21139
@zbmowrey Thanks for getting back. The details have been shared with the product owners and the request is currently under review.

[2022-11-07 06:56] xiaxyi opened #21445 "`Servicebus queue`:property update is not being reflected when put operation gets 200 ok from the api."
When updating servicebus queue properties, for example, [status](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2021-06-01-preview/Queue.json#L357) , [deadLetteringOnMessageExpiration](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2021-06-

[2022-11-07 13:13] SebTardif opened #21453 "azure_api should support flexible server postgresql createMode Replica since it's now in public preview"
The announcement: https://azure.microsoft.com/en-us/updates/public-preview-read-replicas-for-azure-database-for-postgresql-flexible-server/

The api to update: See https://github.com/Azure/azure-rest-api-specs/blob/main/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json#L1479

[2022-11-07 14:19] krishna1s commented on #21314
I am adding the note for the changes which we have done and where we need more input -

- clientmetric -> clientMetric - **Changed**
- vusers -> virtualUsers ? - **Changed**
- orderby is could be expensive depending on the backing store -- are you sure you want to do this? current backing store is Cosmos Maybe remove from V1 and wait for customers to request it - **Checking with PMs**
- For file u

[2022-11-07 18:46] mikekistler commented on #21314
On the last point, I think adding a PUT operation might be more confusing than clarifying.  PUT without a request body is very unusual.

How about this: continue to accept `oldTestRunId` on the PATCH but only allow it when creating a test run.  If passed on a PATCH for an existing test run, return 400.

[2022-11-07 19:48] krishna1s commented on #21314
If 400 works, then yeah we can do it.

On the metrics API, we are thinking of making time series at the top-level property as we have discussed. Currently, it seems the single metrics API is confusing for returning both the metadata and metrics, so we are thinking of adding one more API for returning the metadata. (/metrics-metadata, which will actually return the values of the dimensions. Let us

[2022-11-07 19:54] VikasMohandoss commented on #21325
Network access policies are not particularly useful for disks attached to VM's. Network access policy applies for unattached disks for securing access via the SAS URI for exporting VHD. For disks attached to VM's there is no access to SAS URI.

[2022-11-07 23:55] drdamour commented on #5604
tried using tf to move from 1.0 to 1.2 and it workedd today.  thinking this can probably be closed.

[2022-11-08 01:01] heaths opened #21456 "stringIndexType on Export operation is required but documented as optional"
For Conversations Authoring, the `stringIndexType` parameter is not authored as required, but if you don't send it, the service sends back:

[code]

As such, it's required. The swagger needs to be updated to reflect that. If it's not required - especially since you already default to "Utf16CodeUnit" (your only value currently documented anyway) - the service should properly default.

[2022-11-08 01:01] heaths commented on #21456
/cc @peytonfraser @kristapratico

Should this go into AzDO?

[2022-11-08 03:18] heaths commented on #21456
@kristapratico pointed out it is required, but we generated it as optional in .NET. @m-nash or @AlexanderSher could this be because it only has one enum value? What happens someday if they add ones (throughout Language, most other instances have 3 values)? We can take this offline, though.

[2022-11-08 03:18] #21456 closed

[2022-11-08 04:27] mikekistler commented on #21314
You do not need to add limit and offset. Pagination is often implemented with a "skipToken" parameter that is left undocumented in the REST API. Even if you did choose to implement it with offset and limit, these could be added later -- it would be a compatible change.

[2022-11-08 07:15] harshavmb commented on #21325
If you read my problem statement once again, I've said the same. That's not new to me. It's the same behavior with data disks as well which are attached to the VM. Yet, they come up with configurable parameter to explicitly control network access.

I do the need the same for OS disk. It doesn't matter whether it's attached or unattached. In the end, OS disk is also a managed disk which when unatta

[2022-11-08 09:11] ms-henglu opened #21471 "`Microsoft.Network/bastionHosts@2022-05-01` - Invalid Async Operation"
## Microsoft.Network/bastionHosts@2022-05-01 - Invalid Async Operation

### Description

The `azure-asyncoperation` header in the `getShareableLinks` response contains a invalid URL, when GET the async operation URL, it returns an error.

[code]

### Details

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[code]

5. Swagger GitHub p

[2022-11-08 14:26] danielrbradley commented on #19459
Hello Mr @jamescrowley 👋

Just digging into this I noticed quite a coincidence ... in the `Microsoft.Logic` namespace, there _is_ a `2018-07-01-preview` version, however, there's no `connections` resources. It looks like something might have got confused in the documentation here.

[2022-11-08 18:13] mclacore opened #21481 "Azure Billing API `billingSubscriptionName`"
What is this field `billingSubscriptionName`? Reference: https://learn.microsoft.com/en-us/rest/api/billing/2019-10-01-preview/invoices/list-by-billing-subscription?tabs=HTTP

I've tried using this particular API request, and I receive back a 404 error. I've tried using the subscription ID and the subscription name, but 404 each attempt. I've confirmed that I'm using the correct `billingAccountNam

[2022-11-08 19:33] #20652 closed

[2022-11-08 23:04] kuwas opened #21505 "[FEATURE] Support HubVirtualNetworkConnectionProperties ConnectivityStatus"
### Feature Request

Support `HubVirtualNetworkConnectionProperties` struct `ConnectivityStatus` field.

[code]

This field appears to be **undocumented** in the Azure REST API and even the Azure .NET SDK docs.
However, it's in the live response and portal.azure.com UI. I've tested 2 versions so far, and it's present in both:
* `2022-01-01`
* `2022-05-01`

[code]

cc: @juicybaba

[2022-11-09 00:14] jamescrowley commented on #19459
haha, hey @danielrbradley 👋 for reference, this worked when disabling azapi's schema validation so I think the documentation is correct, but the specs are not.

[2022-11-09 04:50] navba-MSFT commented on #21178
Adding Service team to look into this issue.

[2022-11-09 05:32] navba-MSFT commented on #21354
@nikidandwani Removing property from an already shipped API is a breaking change which will most likely not be approved. So to avoid any confusion the quick workaround here is to fix the documentation mentioning that this is deprecated.

[2022-11-09 07:40] magodo opened #21487 "SecurityInsights: ThreatIntelligence (TAXII) Data Connector API not round trip consistent"
The `taxiiLookbackPeriod` is defined as a "date-time" format in Swagger, which represents a RFC3339 date time. Whilst, on return it is in format "01/02/2006 15:04:05".

The `pollingFrequency` is defined as an enum. When specifying it using one of the enum value (a string), it returns an integer (0, 1, 2) in response.

The issue exists for both TI and TI TAXII data connector resources, at least for

[2022-11-09 10:46] navba-MSFT commented on #21438
@SebTardif Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-09 16:21] #21166 closed

[2022-11-10 03:30] yifanz0 opened #21503 "Storage blob inventory policy schemaFields description doesn't match with the server behavior"
In the description of schemaFields https://github.com/Azure/azure-rest-api-specs/blob/main/specification/storage/resource-manager/Microsoft.Storage/stable/2022-05-01/storage.json#L5256, it says

 The valid values for this field for the 'Blob' definition.objectType include 'Name, Creation-Time, Last-Modified, Content-Length, Content-MD5, BlobType, AccessTier, AccessTierChangeTime, AccessTierInferre

[2022-11-10 06:34] navba-MSFT commented on #21453
@SebTardif Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this and we will get back to you with an update.

[2022-11-10 09:32] seggcsont opened #21506 "LogAnalytics Saved Searches api has a maximum 15 tags limitation"
When we are trying to create Saved Searches via terraform we get bad request.
It turned out that we are using 16 tags for this resource.

I managed to run REST Api calls via curl and it was also failing with Bad request `[The element 'Tags' has invalid child element 'Tag'.]`

If I use 15 tags or less the request is success and the resource is created.

I have found this max 15 tags limitation in t

[2022-11-10 16:31] jaylabell commented on #21325
@TravisCragg-MSFT Can you please take a look at this issue?

[2022-11-11 02:03] ms-henglu opened #21516 "Synapse firewall is not taking effect immediately after firewall creation"
After the synapse firewall created, making data-plane API calls will meet the following error, but it will be resolved after few minutes.

[code]

[2022-11-11 04:10] navba-MSFT commented on #21481
@mclacore Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-11 06:16] navba-MSFT commented on #21453
@SebTardif You can refer this latest preview swagger changes here: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FlexibleServers.json

Hope this helps.

[2022-11-11 06:16] navba-MSFT commented on #21438
@SebTardif You can refer this latest preview swagger changes here: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2022-03-08-preview/FlexibleServers.json

Hope this helps.

[2022-11-11 07:23] navba-MSFT commented on #21481
@mclacore The billingSubscriptionName --> is your concerned subscription id.

I am sending you the sample REST API that I invoked at my end and got the successful response. Hope this helps.

[2022-11-11 16:32] rthorn17 commented on #11656
Yes, this issue is RBAC related, but it's because of where the RBAC assignment is which tells ARM where to source the call from.  If the Role Assignment is made directly to the resource, ARM sources the list call from ARM's resource tables where tags info is stored.  If the RBAC role is inherited to the resource, which most Service Principals have inherited rights to subscriptions, ARM sources the

[2022-11-11 19:42] catalinaperalta opened #21527 "[AnomalyDetector] Fix operation signatures"
Upgrade operation signatures to the CADL Azure Core operations signatures once custom error responses are allowed.

Univariate operations signatures using Azure.Core.Foundations signature:

[code]

Multivariate operations using the Azure.Core.Foundations operation signature:

[code]

[2022-11-13 12:46] azure-sdk opened #21533 "[CPX-Marketplace-Catalog] API Review - 2022-09-01-preview"
New API Review meeting has been requested.

**Service Name**: CPX-Marketplace-Catalog
**Review Created By**: Elad Schwartz @eladschartz
**Review Date**: 11/30/2022 9:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21476
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting information and documents provided can be acc

[2022-11-14 01:31] wuxu92 commented on #18888
ping @navba-MSFT Is there any update?

[2022-11-14 03:03] blueww commented on #21503
@HimanshuChhabra
Would you please help to look at this issue and fix the description if needed?

[2022-11-14 03:58] navba-MSFT commented on #21438
@SebTardif I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-14 04:02] navba-MSFT commented on #21481
@mclacore I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-14 05:18] ms-henglu opened #21536 "Microsoft.AppPlatform/Spring/apps@2022-09-01-preview - ROUNDTRIP_INCONSISTENT_PROPERTY"
## Microsoft.AppPlatform/Spring/apps@2022-09-01-preview - ROUNDTRIP_INCONSISTENT_PROPERTY

### Description

I found differences between PUT request body and GET response:

- .properties.ingressSettings.backendProtocol: expect GRPC, but got Default
- .properties.ingressSettings.readTimeoutInSeconds: expect 101, but got 300
- .properties.ingressSettings.sendTimeoutInSeconds: expect 101, but got 60
-

[2022-11-14 05:51] tombuildsstuff commented on #21516
Worth calling out this is an LRO: https://github.com/hashicorp/terraform-provider-azurerm/pull/19227/files#diff-bd8fd2b82e830534c54ad7e77c1f5d9d494f05dc9d2188d0792c2ecb98bfa5eeR99-R105

As such it appears that the API's incorrectly marking the LRO as Succeeded before it's completed?

[2022-11-14 06:30] azure-sdk commented on #21421
Meeting updated by **Zhicheng Yang**

**Service Name**: Azure Synapse Platform Service - Synapse Link
**Review Created By**: Zhicheng Yang
**Review Date**: 11/18/2022 8:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21240
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: honored to invite you to this meeting to review Adding new a

[2022-11-14 06:32] tombuildsstuff commented on #19098
Sent a PR to fix this in #21538

[2022-11-14 10:04] navba-MSFT commented on #21183
@sinbai Apologies for the late reply. Thanks for reaching out to us and reporting this issue. It seems like the valid enum values for the storage settings are `ArchiveStore, OperationalStore, VaultStore`.

So could you please try to specify either of the above enum values instead of `SnapshotStore` and check if that helps ?

In the meantime, I will be creating a PR to get this addressed.

[2022-11-14 10:28] sinbai commented on #21183
@navba-MSFT thanks for your reply. Since the enum values for the storage settings are listed in the [latest API](https://github.com/Azure/azure-rest-api-specs/blob/9366804c62e024801daf8a578924099ff644ccf6/specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2022-05-01/dataprotection.json#L6113) as `ArchiveStore`, `SnapshotStore`, `VaultStore`. If the `SnapshotStore` should

[2022-11-14 10:36] navba-MSFT commented on #21183
@sinbai Thanks for getting back. As mentioned in my above comment, I will be creating a PR to update the same and this will be reviewed by the Service team later.

[2022-11-14 10:39] sinbai commented on #21183
@navba-MSFT thanks for your time:).

[2022-11-14 15:53] SebTardif commented on #21438
@navba-MSFT Thanks, that what I was looking for.

[2022-11-14 16:20] bradenwatkins commented on #21481
@mclacore I also see that you referenced the documentation for 2019-10-01-preview. It's recommended that you refer to the latest stable version [2020-05-01](https://learn.microsoft.com/en-us/rest/api/billing/2020-05-01/invoices/list-by-billing-subscription?tabs=HTTP) which shows a similar example to what @navba-MSFT shared.

[2022-11-14 23:12] #21481 closed

[2022-11-15 02:20] ziyeqf opened #21548 "`BackupResourceVaultConfigs_Update` of `Microsoft.RecoveryServices@2021-12-01` has a delay some times"
We call [`BackupResourceVaultConfigs_Update`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2021-12-01/bms.json#L657) to update recovery vaults.

We passed `softDeleteFeatureState` with `Disabled`, and the request returned with operation success. Then we called [`BackupResourceVaultConfigs_Get`](https

[2022-11-15 02:45] navba-MSFT commented on #21438
@SebTardif Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-15 02:45] #21438 closed

[2022-11-15 02:47] navba-MSFT commented on #21453
@SebTardif Looking at your other issue thread https://github.com/Azure/azure-rest-api-specs/issues/21438 seems like your issue is addressed. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-15 02:47] #21453 closed

[2022-11-15 02:54] wuxu92 commented on #8353
Hi @kenieva is there any updates on this issue?

[2022-11-15 03:27] raych1 commented on #21527
@markcowl , this is an issue of CADL core package. Can you please help triage or let me know what you would like me to do in general for CADL related issue reported in this repo?

[2022-11-15 03:57] navba-MSFT commented on #21505
Adding Service team to look into this.

[2022-11-15 03:59] navba-MSFT commented on #21505
@aznetsuppgithub Could you please look into this request and update the status ? Thanks in advance.

[2022-11-15 04:01] navba-MSFT commented on #21431
@dnssuppgithub COuld you please look into this and provide an update ?

[2022-11-15 04:22] navba-MSFT commented on #21343
@mahesh2543 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please let us know if you the below article serves your requirement ? Awaiting your reply.

[Microsoft.Sql managedInstances/databases/backupLongTermRetentionPolicies using Terraform](https://learn.microsoft.com/en-us/azure/templates/microsoft.sql/managedinstances/databases/backuplongtermrete

[2022-11-15 04:24] navba-MSFT commented on #21306
Adding Service team to look into this.

@RandalliLama, @schaabs, @jlichwa. Could you please look into this once you get a chance ?

[2022-11-15 04:43] navba-MSFT commented on #21198
Adding Service team to look into this.

@arindamc Could you please look into this ? Thanks in advance.

[2022-11-15 05:55] navba-MSFT commented on #21136
@catriona-m Apologies for the late reply. Thanks for reaching out to us and reporting this issue. I tried to check the REST API that is invoked while changing the branches in the _Edit Route Table_ page within _Virtual WAN_ and I could see the below REST API being called by the Azure portal underneath. Hope this helps.

**Request Headers:**
POST https://management.azure.com/subscriptions/XXXXXXXXX

[2022-11-15 07:33] jlichwa commented on #21306
It is by design. During recovery all properties remain the same. You will need to update after recovery to change any attributes.

[2022-11-15 07:36] navba-MSFT commented on #21306
Thanks @jlichwa for your reply.

@ms-zhenhua Please look at the above comment by @jlichwa and let us know if you have any follow-up question on this. Awaiting your reply.

[2022-11-15 08:13] liuwuliuyun opened #21553 "`Microsoft.Kusto/clusters` supported property breaking change"
API

https://github.com/Azure/azure-rest-api-specs/blob/30deed618795ce9e4a549aa16ef349ae2b03785c/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2022-07-07/kusto.json#L4393-L4398

PUT /subscriptions/{sid}/resourceGroups/{rgid}/providers/Microsoft.Kusto/clusters/{cid}/databases/{did}/dataConnections/id

Property: eventSystemProperties

Allowed property name change from
"message-id

[2022-11-15 14:59] ezYakaEagle442 commented on #17657
@jackrichins thank you that is good news but not help much as ther is not a single true example.
Could you please document a true exmaple and let me know what to set in contentType & data fields ?

[code]

[2022-11-15 16:00] KoomeKiriinya commented on #9795
@niklarin any updates on this?

[2022-11-15 17:28] sjiherzig commented on #21279
There appears to be a repo mismatch here - item to be reviewed is in the private repo: [[Hub Generated] Review request for Microsoft.DigitalTwins to add version preview/2023-02-28-preview by sjd8078 · Pull Request #9407 · Azure/azure-rest-api-specs-pr (github.com)](https://github.com/Azure/azure-rest-api-specs-pr/pull/9407)

[2022-11-15 17:39] #21314 closed

[2022-11-15 18:37] catalinaperalta commented on #21527
Hi @raych1, I already reported related issues to the CADL crew, this issue is for the service team to update the CADL once those issues are fixed.

[2022-11-16 06:30] cgoenka1 opened #21601 "EventHub configurations PATCH Method"

[2022-11-16 09:14] georged opened #21580 "Azure Billing API returns empty array"
1. Register an app in Azure AD, add a secret
2. Assign Billing Reader role on subscription level to the app
3. Authenticate using appid/secret
4. Call to https://management.azure.com/providers/Microsoft.Billing/billingAccounts?api-version=2019-10-01-preview returns empty array (calling `az billing account list` in Azure CLI returns non-empty array).
The problem is identical to https://stackoverflo

[2022-11-16 12:01] vijayrajah opened #21582 "[question][loadBalancer] Loadbalancer Expand options"
IT seems for LoadBalancers, we can expand some optional fields in LB GET Response. [Refrence](https://learn.microsoft.com/en-us/rest/api/load-balancer/load-balancers/get?tabs=Go#uri-parameters)

It is not documented what properties can be expanded.

What properties can be expanded? Additionally, I can't seem to find any example for expand operation.

[2022-11-17 01:21] jackrichins commented on #17657
CVM's skr policy should work: https://raw.githubusercontent.com/Azure/confidential-computing-cvm/main/cvm_deployment/key/skr-policy.json

[2022-11-17 08:04] BzSpi opened #21590 "Unconsistent region for service tags API"
Hello,

In the [service tags API](https://learn.microsoft.com/en-us/rest/api/virtualnetwork/service-tags/list?tabs=HTTP#uri-parameters), the `region` attribute does not have a consistent value compared to the other Azure tools.

Here's a non exhaustive list:
* France Central is `centralfrance`
* France South is `southfrance`
* BrazilSoutheast is `brazilse`
* GermanyNorth is `germanyn`
...

The val

[2022-11-17 08:28] ziyeqf opened #21591 "`OperationalInsights@2022-10-01` - `EnableLogAccessUsingOnlyResourcePermissions` can't be set on first time `Workspaces_CreateOrUpdate`"
we called [`Workspaces_CreateOrUpdate`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2022-10-01/Workspaces.json#L128) with [`enableLogAccessUsingOnlyResourcePermissions`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/resource-manager/Microsoft.OperationalIn

[2022-11-17 08:57] azure-sdk commented on #21421
Meeting updated by **Zhicheng Yang**

**Service Name**: Azure Synapse Platform Service - Synapse Link
**Review Created By**: Zhicheng Yang
**Review Date**: 11/18/2022 8:00 AM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/21240
**Hero Scenarios Link**: [here](https://microsoftapc-my.sharepoint.com/:w:/g/personal/zhichengyang_microsoft_com/Ebr_vHSOALZHtyR0e5qVIfQBcY8LCz8DatOX5neeYCQ8

[2022-11-17 17:30] mclacore commented on #21481
@bradenwatkins sorry was on PTO.

So the newer version works, but it's also only limited to Microsoft Partner Agreement and Microsoft Customer Agreement type of subscriptions. It doesn't seem to support Microsoft Online Service Program, which is what we need it for.

[2022-11-18 00:50] mikekistler commented on #21421
- Discussed concern with multiple api-versions being combined in one tag. How do customers understand what parts of the service are at what version?
- What version of start and stop was released as GA? I don't see that version in the repo.
   - Need to create a new PR for the new stable api-version
- Will you add a new status of "paused"? It would be nice to have extensible enums with the values.

[2022-11-18 09:33] devlead opened #21603 "Microsoft.ContainerRegistry anonymousPullEnabled docs should clarify not avail all SKUs"
Unsure if this is the right place, but currently looking at just Bicep/Arm docs it's not clear that anonymousPullEnabled:true  isn't always avail.

https://github.com/Azure/azure-rest-api-specs/blob/be6cd9ccfcb6ba08c1c206627026eabfbff31fc1/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2022-02-01-preview/containerregistry.json#L4855-L4858

It should be documen

[2022-11-21 01:49] neil-yechenwei opened #21613 "The tags property in LabService.Lab.Update method should be dictionary not string list"
The tags property in [LabService.Lab.Update](https://learn.microsoft.com/en-us/rest/api/labservices/labs/update?tabs=HTTP) method should be dictionary not string list. And it should be aligned with the tags property in [LabService.Lab.Create](https://learn.microsoft.com/en-us/rest/api/labservices/labs/create-or-update?tabs=HTTP#code-try-0) method. So suggest to fix it. Thanks.

[2022-11-21 03:43] RakeshMohanMSFT commented on #21590
@BzSpi Thank you for reaching out, we are looking into it.

[2022-11-21 03:44] RakeshMohanMSFT commented on #21603
@devlead Thank you for reaching out, we are looking into it.

[2022-11-21 03:48] RakeshMohanMSFT commented on #21221
@ziyeqf There is a known caching issue, we are actively working on a fix. But we do not have any ETA as of now for the same.

can you use the azure resource graph and query?

[2022-11-21 09:38] weidongxu-microsoft commented on #21421
When synapse migrate to DPG or DPG+Cadl, they can choose to use the multi-client solution, that each client has its own api-version configure, and different JSON/Swagger of different api-version would belong to different client.

However this still require service to be clear about which JSON/Swagger should be grouped together as a client that always having same api-verison.

[2022-11-21 16:49] FredericHeem opened #21618 "route in route table should be readOnly"
Hi,
Opening this issue so it does not get closed automatically, see PR https://github.com/Azure/azure-rest-api-specs/pull/20158

[2022-11-21 17:49] sshearn commented on #20364
@navba-MSFT This doesn't seem to work. On the latest versions of the python SDK, security contacts still only has support for `2017-08-01-preview` and not the current version `2020-01-01-preview`

See: https://github.com/azure-sdk/azure-sdk-for-python/blob/main/sdk/security/azure-mgmt-security/azure/mgmt/security/_security_center.py#L911

API Docs: https://learn.microsoft.com/en-us/rest/api/defend

[2022-11-22 02:47] ZhichengYang-MS commented on #21421
- Discussed concern with multiple api-versions being combined in one tag. How do customers understand what parts of the service are at what version?
We just followed pattern of previous composite-v5, and only update LinkConnection. And we will have a new PR to add all apis of LinkConnection into a stable version along with other services.

- What version of start and stop was released as GA? I don

[2022-11-22 03:37] weidongxu-microsoft commented on #21421
Please note that this is behavior change, even if it does not affect swagger.

This means if you have already deployed this version, and there be potential customer using the REST API, you'd better not change within that version.

You can change in next version.

[2022-11-22 06:20] Saglodha commented on #2255
Closing the issue since properties have been added to swagger file. Please feel free to reach out in case of any queries.

[2022-11-22 06:20] Saglodha commented on #2255
Closing issue since properties have been added to swagger: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/eventhubs.json

[2022-11-22 06:20] #2255 closed

[2022-11-22 06:26] Saglodha commented on #11425
Closing issue since property is supported in latest api-version: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/networkrulessets-preview.json , please feel free to reach out in case of additional queries.

[2022-11-22 06:26] #11425 closed

[2022-11-22 06:47] Saglodha commented on #10855
@neil-yechenwei , I reviewed the functionality and could notice that we have been returning camel case as the resource ID with latest api-version. Could you please confirm if you're still facing this issue?

[2022-11-22 06:51] Saglodha commented on #12648
@mikhailshilkov , thanks for reaching out, I would reach out to team to investigate this ahead and share updates soon

[2022-11-22 06:53] Saglodha commented on #13984
@anthony-c-martin , closing this issue since we have status added to the swagger spec in latest api-version : https://github.com/Azure/azure-rest-api-specs/blob/main/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/namespaces-preview.json, please feel free to reach out in case of additional queries.

[2022-11-22 06:53] #13984 closed

[2022-11-22 06:56] Saglodha commented on #14324
@jiash, closing this issue since Operations is supported in latest api-version : https://github.com/Azure/azure-rest-api-specs/blob/main/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/operations.json , please feel free to reach out in case of additional queries

[2022-11-22 06:56] #14324 closed

[2022-11-22 07:08] Saglodha commented on #16677
Thanks for reporting @yukun-dong , I would investigate with team to add and update right description.

[2022-11-22 07:21] #21603 closed

[2022-11-22 07:26] Saglodha commented on #21601
@cgoenka1 , I did some initial analysis and could observe that we do support PATCH calls with namespace operation in our swagger, can you share any instance where you observed a PUT to happen instead of PATCH? We can try to reproduce this ahead and share feedback.

[2022-11-22 08:38] azure-sdk opened #21624 "[Autonomous Development Platform] API Review"
## USE ISSUE [#7483](https://github.com/Azure/azure-rest-api-specs-pr/issues/7483)

[2022-11-22 08:42] ziyeqf commented on #12759
It appears with recoveryServicesSiteRecovery@2022-09-10 too.
[code]

[2022-11-22 08:48] tomasvanpottelbergh commented on #18815
We are facing the same issue when using the API via Terraform, as mentioned in https://github.com/hashicorp/terraform-provider-azurerm/issues/16508. Could this please be looked into?

[2022-11-22 09:06] ziyeqf commented on #21221
@RakeshMohanMSFT Thanks for you explain!
We plan to check whether resources really exist or only exist in API cache by calling GET on resources returned by `Resources_ListByResourceGroup`. Will it work as we expect?

[2022-11-22 09:14] RakeshMohanMSFT commented on #21221
@ziyeqf Yes, it can work but again you should consider that the result can vary depending on the region to which the call was internally made. if the replication happened on particular region you will get the result otherwise not. Therefore Resource Graph would be a better option.

[2022-11-22 09:54] RakeshMohanMSFT commented on #21221
@ziyeqf I will close the issue now, if you need further assistance please reopen the issue.

[2022-11-22 09:54] #21221 closed

[2022-11-22 10:57] tombuildsstuff commented on #21221
@RakeshMohanMSFT since this issue is tracking the API issue, could we keep this issue open until the API is fixed?

[2022-11-22 11:05] RakeshMohanMSFT commented on #21221
@ziyeqf We already have a lot of issues for this and we have an internal thread as well for the same. Once the fix is in place, we will update all related thread.

[2022-11-22 11:39] tombuildsstuff commented on #21221
@RakeshMohanMSFT can you point to another public issue tracking this that we can point customers towards?

[2022-11-22 12:11] azure-sdk commented on #21624
Meeting updated by **Jess Treiser**

**Service Name**: Autonomous Development Platform
**Review Created By**: Jess Treiser
**Review Date**: 12/7/2022 7:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/9634
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**:

Detailed meeting information and documents provided can be accessed [here](ht

[2022-11-22 12:12] azure-sdk commented on #21624
Meeting updated by **Jess Treiser**

**Service Name**: Autonomous Development Platform
**Review Created By**: Jess Treiser
**Review Date**: 12/7/2022 7:00 PM PT
**PR**: https://github.com/Azure/azure-rest-api-specs/pull/9634
**Hero Scenarios Link**: Not Provided
**Core Concepts Doc Link**: Not Provided

**Description**: Continue reviewing ADP ingestion & measurement APIs

Detailed meeting informat

[2022-11-22 16:17] cgoenka1 commented on #21601
@Saglodha - Basically I wanted to check if we have PATCH for Event Hubs settings which is a sub resource of Event Hub namespace. Namespace has PATCH method but I don't see it for event hubs

[2022-11-22 21:59] mikekistler commented on #21313
- Should entityError just use the Error schema? You can still define the error code enum but just leave it stand alone.
   - We should review the language in the guidelines to make sure it's clear that the error code enum can have new values to describe new error conditions
- Some information on the maximum values for numeric values would be helpful, even if it is just to say that it varies by mod

[2022-11-23 03:28] szelenka opened #21707 "Aggregation columns are always returned in alphabetical order, but columns list not updated to reflect this"
- **Package Name**: azure-mgmt-costmanagement
- **Package Version**: 3.0.0
- **Operating System**: Linux
- **Python Version**: 3.10.8

**Describe the bug**
When performing a `query.usage` for a given scope, if you define an aggregation

**To Reproduce**
Steps to reproduce the behavior:
1. create a QueryDefinition with the following aggregation
[code]
2.  when returned, note how the `results.col.um

[2022-11-23 06:41] PhoenixHe-TSP commented on #15387
@leni-msft @jianyexi @lirenhe Could anyone pick up this issue?

[2022-11-23 16:44] PramodValavala-MSFT commented on #21582
@vijayrajah Thanks for the feedback! The format for `$expand` is like this - `frontendIPConfigurations/publicIpAddress` - which expands the sub-resource. Similarly, other sub-resources in the model can be expanded and you can specify multiple sub-resources by comma-separated values.

[2022-11-24 01:36] #20573 closed

[2022-11-24 06:09] #21421 closed

[2022-11-24 16:37] ezYakaEagle442 commented on #17657
so that should like this in Bicep ?
What to set in the contentType ?

[code]

[2022-11-25 01:23] magodo opened #21654 "Storage: Allow to create storage management policy with no rule"
Currently, the [storage management policy](https://github.com/Azure/azure-rest-api-specs/blob/1fefe3f5cee88319b17c08a2dbf95e1e983a9f8c/specification/storage/resource-manager/Microsoft.Storage/stable/2021-09-01/storage.json#L972) resource is required to be created with at least one rule. However, there are customers want to manage rules seprately by updating the policy resource.

One such ask can b

[2022-11-25 03:35] ziyeqf opened #21655 "APIM named values creation failed due to DNS issue"
When creating named values by calling [`NamedValue_CreateOrUpdate`](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/apimnamedvalues.json#L209) it returned `The remote name could not be resolved: 'kv-xxx-xxx-xxx.vault.azure.net"` for times.

Both APIM and key vault are in a same resource group and a same

[2022-11-28 01:17] wuxu92 commented on #18888
Hi @navba-MSFT still no update?

[2022-11-28 04:10] navba-MSFT commented on #21136
@catriona-m The action is currently pending on you to try the above action plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-28 04:10] #21136 closed

[2022-11-28 04:12] navba-MSFT commented on #21343
@mahesh2543 The action is currently pending on you to check if the above suggestion helps. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-28 04:12] #21343 closed

[2022-11-28 05:13] navba-MSFT commented on #21342
Adding Service team to look into this.

@Drewm3, @avirishuv, @Vaibhav-Agar, @amjads1 Could you please look into this once you get a chance ?

[2022-11-28 07:00] #21354 closed

[2022-11-28 07:29] Drewm3 commented on #21342
@sandeepraichura, could you please look into this issue.

[2022-11-28 07:49] jiasli opened #21664 "[Role] `RoleAssignmentProperties.principalType` should not have default value `User`"
In the previous API `2020-04-01-preview`, `RoleAssignmentProperties.principalType` has no default value:

https://github.com/Azure/azure-rest-api-specs/blob/b02ad2011daebdaa4ffc1b0b338181a464d49c47/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/authorization-RoleAssignmentsCalls.json#L508-L527

In the latest API `2022-04-01`, it has a default value

[2022-11-28 07:51] #21183 closed

[2022-11-28 18:05] markweitzel commented on #21624
Duplicate: https://github.com/Azure/azure-rest-api-specs-pr/issues/7483

[2022-11-28 18:47] jlichwa commented on #17657
Content type is defined in REST API: https://learn.microsoft.com/en-us/rest/api/keyvault/keys/create-key/create-key?tabs=HTTP#keyreleasepolicy

[2022-11-28 19:45] markweitzel commented on #21313
Follow up from the review meeting yesterday:

There were concerns, that without doc generation, the inference part will be basically an undocumented API. @Chris Hoder pointed out that we have hand written docs for using Azure OpenAI which includes the inference part too.
One can find it here: [https://learn.microsoft.com/en-us/azure/cognitive-services/openai/reference](https://nam06.safelinks.prot

[2022-11-29 02:47] #20953 closed

[2022-11-29 09:42] azure-sdk commented on #21624
Cancelled by: Jess Treiser

[2022-11-29 09:42] #21624 closed

[2022-11-29 11:03] Klaas- opened #21691 "Instance Metadata add tags object/dict"
Hi,
so I've noticed that you've implemented tags in the instance metadata as a list.

[code]
But the tags are a dictionary, not a list because the names are unique. You can use to represent it more clearly:

[code]

If it were a "real" list in your datastructure in backend you would be able to duplicate keys. As in have same name with different values.

[code]

I would like to see a dictionary imp

[2022-11-29 11:28] vrvaderom commented on #11899
Any update on this?
Still exists in terraform provider 3.11.0 and az cli v2.38.0

[2022-11-29 11:39] tombuildsstuff commented on #11899
@fengzhou-msft any chance this could be updated to reference the Firewall team, this isn't an ARM issue, but a Firewall RP issue?

[2022-11-29 17:48] markweitzel opened #21695 "[Purview - Data Quality] API Review"
PR: https://github.com/Azure/azure-rest-api-specs/pull/20925

[2022-11-30 02:57] navba-MSFT commented on #21618
@FredericHeem I see that your above PR https://github.com/Azure/azure-rest-api-specs/pull/20158 has a breaking change. So it requires [these steps](https://github.com/Azure/azure-rest-api-specs/pull/20158#issuecomment-1272271952) to be followed first and fix the model validation.

I am involving the Service team to look into this further.

@aznetsuppgithub to look into this further.

[2022-11-30 06:04] navba-MSFT commented on #21580
@georged Could you please invoke the below REST API and check if that helps ? Because the Azure CLI is also invoking the same REST API underneath.

_**https://management.azure.com/providers/Microsoft.Billing/billingAccounts?api-version=2020-05-01**_

Hope this helps.

[2022-11-30 06:34] georged commented on #21580
@navba-MSFT it does not work either. This is the script that I'm using to test:

[code]

[2022-11-30 06:57] navba-MSFT commented on #21580
@georged This is my sample script that worked for me. The only difference is I used my user account and you used an AAD app to get the token. Could you please check if the below sample works ?

[code]

[2022-11-30 07:10] georged commented on #21580
@navba-MSFT that script works. That's the point: interactive login works, but service principal with the billing reader role gets empty results. It feels like something is missing when acquiring the token - maybe the right scope?

[2022-11-30 07:48] navba-MSFT commented on #21580
Thanks @georged for getting back. While I used to below sample I am able to get the non empty response.

[code]

[2022-11-30 07:50] Dyhr commented on #20851
@navba-MSFT , if the Logic Apps team doesn't respond soon, is it possible for us to contribute the change ourselves?

[2022-11-30 08:14] navba-MSFT commented on #20851
@Dyhr Feel free to create a Pull Request to perform the necessary changes and that PR will be reviewed by the Logic App Service team before they approve those changes.

[2022-11-30 08:38] bexxx commented on #21313
Feedback and open issues have been addressed in the PR.

- replaced entityerror with the common error type
- maximum and minimum values are going to addressed in hand written docs because they are model specific
- We will not use deprecation headers right now, there is some discussion and update to the azure rest spec documentation needed before this can be done (possible SDK generation work too).

[2022-11-30 09:14] georged commented on #21580
@navba-MSFT what is the role assignment for the application? I'm assigning billing reader for a subscription in the tenant and getting empty array back though expected to have an array with the account the subscription is under.

Could it be a limitation of a billing account type? I have Microsoft Online Services Program account.

[2022-11-30 15:09] That1Guy007 commented on #18815
We are also seeing this issue which is causing a problem within our Terraform.

[2022-11-30 17:31] markweitzel commented on #21533
## API Stewardship Board Review - 30-Nov-22

* Check the use of `OrderBy` -- This can be expensive, especially over large datasets. One strategy could be limiting what can be ordered by, e.g. name, price.
* `x-ms-app` - Could this be the userAgent instead? We generally prefer standard http headers? Search service uses this header as well, so this would be consistent with that service.
  * Making t