[2021-03-11 07:39] JackTn commented on #12902
@anuchandy this issue seems to have been solved and i will close it. You can reopen this if you have any problem~

[2021-03-11 07:39] #12902 closed

[2021-03-11 07:56] Drewm3 commented on #13271
Hi @sachin-laddha, I believe this behavior is blocked in the portal because it uses a single name for both the Azure Resource Manager resource and the computerName in the guest OS on the VM. So the behavior you are seeing is as expected.

However, it does look like there is a broken link in the API documentation for computeName. @avirishuv, could you please update the link in the API documentation

[2021-03-11 10:28] muazmian commented on #12447
Hi Jack,

As per standards set by Azure REST API team, this is a valid List response. The iteratable list is enclosed in the "value" object.

[code]

A List response of the API would look like

[code]

[2021-03-11 18:04] MilheiroSantos opened #13393 "Unable to deploy a Linux ElasticPremium App Service Plan in the West Europe region"
Hi!

I'm unable to deploy a Linux ElasticPremium App Service Plan in the West Europe region.

Request URL: `PUT: https://management.azure.com/subscriptions/00-000-000-00/resourceGroups/test-rg/providers/Microsoft.Web/serverfarms/test-premium-linux?api-version=2019-08-01`

Request Body:
[code]

Response code: `409`

Response body:
[code]

Replacing the location field with `North Europe` (for exampl

[2021-03-12 04:37] ahamad-MS commented on #13167
Thanks for reaching out and opening this issue. We will take a look and respond back.

thanks

[2021-03-12 04:41] ahamad-MS commented on #13167
The issue seems to be valid. We will track this for a quick fix. thanks for reporting this @mikhailshilkov  .. Somehow, this was not caught in swagger check tools.

[2021-03-12 09:37] akning-ms commented on #13364
Thanks Dingmeng, adx-documentation-pr is deprecated, the new link is: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki
we will update the readme.md.  @josefree to confirm correct link to replace

[2021-03-12 16:31] mikhailshilkov opened #13401 "[Web] Wrong shape of response to PUT request to /sites/config/web"
I'm making a PUT request to a `/sites/config/web` resource, e.g. `/resourceGroups/rg4a3feff9/providers/Microsoft.Web/sites/myapp/config/web` endpoint. However, the response to this request has the shape of `/sites` endpoint (note the `id` is wrong, `type` is wrong, `location` is present, etc.)

In particular, we rely on the `id` response which is clearly wrong.

[code]

[2021-03-13 11:01] WillooWisp commented on #13401
I experience the same problem, when can we expect a fix?

[2021-03-13 11:05] WillooWisp commented on #12104
Still no progress in fixing this very invonvenient issue?

[2021-03-13 15:31] lenardchristopher opened #13413 "ContainerServiceOSDisk maximum is incorrect"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-02-01/managedClusters.json#L1829

The above link shows the incorrect value. It is listed as 1023GB, but it should actually be 2048GB.

[2021-03-13 16:59] mikhailshilkov commented on #13413
@lenardchristopher Do you have a link to the docs or anything showing the correct size?

[2021-03-13 17:21] lenardchristopher commented on #13413
@mikhailshilkov I looked through Microsoft documentation, but couldn't find anything explicitly listing disk size constraints. However, you can see the error message Azure returns in the [linked issue](https://github.com/pulumi/pulumi-azure-native/issues/663) description. Also, I personally know you can set disk size to 2048GB because I have been successfully creating node pools through Terraform

[2021-03-13 20:20] tbugfinder commented on #10931
Hi, is there any ETA on a fix?

[2021-03-14 13:57] sachin-laddha commented on #13271
Went through above link, it specifies the limit on VM name but does not have any information for VM names.
Also the link given in above article is broken.

It would really help if someone can give us a list of characters that are NOT allowed in VM name.
I have raised this issue with MSFT support almost a week back but still no conclusion.

[2021-03-15 02:09] zhenglaizhang commented on #13393
Hi @MilheiroSantos based on the service response, the resource looks like already exists, please help double check it

[code]

[2021-03-15 07:20] mikhailshilkov opened #13417 "ContainerService: podIdentityProfile can't be specified at creation"
When I try to create a managed AKS cluster with `podIdentityProfile` enabled, I get the following error:

However, nothing in the specification that acknowledges this behavior. Suggested fixes:

- (ideally) Fix the API to allow specifying `podIdentityProfiles` properties at the creation time
- (for now) Mark `podIdentityProfile` with `x-ms-mutability: [update, read]`

[2021-03-15 08:09] ramaganesan-rg commented on #11982
hello @jeroenvos please let us know if there is anything that you need, in addition to the above response our team has provided.

[2021-03-15 08:43] MilheiroSantos commented on #13393
Gosh, pasted the wrong error message!
The error I got initially was something like: `Requested features are not supported in region. Please try another region. `

I tried to recreate the error I got initially, and it seems it's working fine now.
Thank you! Closing this issue.

[2021-03-15 08:43] #13393 closed

[2021-03-15 17:02] ssanderlin opened #13424 "FunctionApp: Microsoft.Web/sites/host/functionKeys is undocumented"
https://docs.microsoft.com/en-us/azure/templates/Microsoft.Web/sites?tabs=json is missing documentation for Microsoft.Web/sites/host/functionkeys.

According to [this comment](https://github.com/Azure/azure-quickstart-templates/issues/6757#issuecomment-582008031), the schema for this resource type is:
[code]

I've encountered issues with customers excluding this resource type from their security p

[2021-03-15 20:10] ahamad-MS commented on #13167
This bug is part of the latest swagger update here: https://github.com/Azure/azure-rest-api-specs/pull/13397#pullrequestreview-612536477 .. Closing this issue as being addressed.

Thanks

[2021-03-15 20:10] #13167 closed

[2021-03-16 12:27] springcomp opened #13445 "API Management Api_CreateOrUpdate does not honor the `displayName` property"
### Overview

The `Api_CreateOrUpdate` operation creates a new API in Azure API Management.

When importing an API definition from a publically accessible internet address, one has to specify the `format` and `value` properties as well as, at least, the `path` property from the `ApiContractProperties` definition.

This definition also has a `displayName` property which does not seem to be used.  I

[2021-03-16 20:43] melmullen commented on #11764
$filter is only supported for legacy Azure channels (Enterprise Agreement, Web Direct) - NOT for modern channels.

Modern Channels
---------------
Modern billing scopes consist of:
	• Billing Account
	• Billing Profile (aka Billing Group)
	• Invoice Section (aka Project)
	• Customer (for partners)
Modern subscriptions have an offer type that end with a 'G' (e.g. 0017G)

Legacy Channels
-----------

[2021-03-17 03:40] neil-yechenwei opened #13467 "The ReportConfigDataset property should be referenced by CostManagement.Exports_CreateOrUpdate API"
I found some properties ([QuerDataset.aggregation](https://github.com/Azure/azure-rest-api-specs/blob/31dac825d69c06a63ee2880fdfa26dfc2853d154/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-10-01/costmanagement.json#L1002), [QueryDataset.filter](https://github.com/Azure/azure-rest-api-specs/blob/31dac825d69c06a63ee2880fdfa26dfc2853d154/specification/cost-manage

[2021-03-17 06:35] jutlag commented on #11085
Can we please have an update for this issue? Our end to end automation pipelines for multiple customers need this to work.

[2021-03-17 09:25] sachin-laddha commented on #13271
Can someone reply please

[2021-03-17 09:35] josefree commented on #13364
fixed in this pr https://github.com/Azure/azure-rest-api-specs/pull/13475

[2021-03-17 09:35] #13364 closed

[2021-03-17 17:38] olayemio commented on #12600
@nschonni The PR has now completed and the typo has been fixed

[2021-03-17 17:38] #12600 closed

[2021-03-17 17:51] nschonni commented on #12600
Awesome! Looks like it's still in the old preview version, so I'll leave the suppression just for that file

[2021-03-18 00:48] AliAllomani opened #13491 "Microsoft.Compute/sshPublicKeys: id resourceGroupName is being upper-cased"
**Current Behaviour:**

Listing or creating sshPublicKeys always returns the resource `id` with `resourceGroupName` in uppercase.

**Expected Behaviour:**

`resourceGroupName` in the `id` should be correspondent to the resource group id

**api-version:** 2020-10-01

[code]

API

[code]

[2021-03-18 01:20] neil-yechenwei commented on #13467
Service team got latest confirmation. The filter on the dataset has been deprecated in latest version 2020-06-01. So I close this issue,

[2021-03-18 01:20] #13467 closed

[2021-03-18 03:25] dolauli opened #13495 "[storageimportexport] "url" should not be empty in "externalDocs""
"url" is empty in externalDocs as below in storageimportexport swagger, which does not follow the swagger standard.
[code]
For example
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2020-08-01/storageimportexport.json#L92
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storageimporte

[2021-03-18 07:21] Drewm3 commented on #13491
This behavior is the expected behavior in the microsoft.compute provider. When a resource is created the provider only gets the name of the resource group during that create operation. The casing at this time may be different from the casing that was provided when the resource group was created. Due to this difference the compute provider doesn't actually know the "correct" casing for the resource

[2021-03-18 07:21] #13491 closed

[2021-03-18 07:24] axayjo commented on #13382
@ArcturusZhang, I see that the issue is related to Microsoft.ContainerService, but it's assigned to Compute. Any Compute swaggers with the issue?

[2021-03-18 07:40] Drewm3 commented on #13382
Correcting labels

[2021-03-18 09:26] martijn1279 opened #13501 "Bug: [AKS] Cant update the cluster using 'createorupdate', the 'UserAssignedIdentities' property cant be parsed"
Hello,

## Rest API
If we want to update the aks cluster with '[createorupdate](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate)'(API version: `2020-11-01`) rest call with the json obtained from the '[get](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/get)'(API version: `2020-11-01`) rest call we get the following error:
[code]

## Azure Portal
if we wa

[2021-03-18 09:55] martijn1279 commented on #13501
# reproduction steps
create a aks cluster using Terraform:
[code]

[2021-03-18 13:31] mikhailshilkov commented on #13167
This issue is still present in an older API version:

- https://github.com/Azure/azure-rest-api-specs/blob/2807478a8b8f6251a031aa3f3d2f14b3325c721a/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/EventGrid.json#L5751
- https://github.com/Azure/azure-rest-api-specs/blob/2807478a8b8f6251a031aa3f3d2f14b3325c721a/specification/eventgrid/resource-manager/Microsof

[2021-03-18 20:25] Vaibhav-Agar commented on #12247
The desciption of the field was updated and published so closing this now. https://github.com/srvar/azure-rest-api-specs/commit/be8340e4cb44354af61869b7acd8208b389134d4

[2021-03-18 20:25] #12247 closed

[2021-03-18 21:49] adithyaj commented on #8945
@dingmeng-xue  I believe this [PR ](https://github.com/Azure/azure-rest-api-specs/pull/12094) that has been merged now takes care of this issue?

[2021-03-19 01:12] raych1 commented on #13167
@ahamad-MS , can you please take care of fixes for other versions?

[2021-03-19 02:25] anthony-c-martin opened #13511 "Missing externalDocs element is causing autorest failures"
The failure: https://github.com/Azure/bicep-types-az/blob/5a1c8b02dcfda7e79679d25d0d723a469b5bbca3/generated/servicebus/log.out#L12-L17

I believe this is the line it's complaining about:
https://github.com/Azure/azure-rest-api-specs/blob/1c292ffc343d0f865dab7597aa10377ac4495cd9/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/Rules.json#L220

[2021-03-19 11:49] Ozzyz commented on #11849
Hi @tujamg . Are there any updates on this? We are also in need of specifying startDate and endDate, and the manual way of putting it directly in the URL is a bit clunky. Also using Azure SDK for go :)

[2021-03-19 14:22] pvrk commented on #13076
@jmeadowcroft : Apologies for the delay in response. We have a direct PS command to update MSI for vault. It is
[Update-AzRecoveryServicesVault](https://docs.microsoft.com/powershell/module/az.recoveryservices/update-azrecoveryservicesvault?view=azps-5.6.0) and I believe you can also the verbose mode to get the relevant REST API request body.

[2021-03-19 14:24] pvrk commented on #13076
Closing this since the relevant REST API and PS command is given. Can be re-opened if the solution fails or doesn't meet the requirements.

[2021-03-19 14:24] #13076 closed

[2021-03-19 16:09] ahamad-MS commented on #13167
Yes.. We will take care of it separately. thanks

[2021-03-20 11:37] KenBenjamin opened #13534 "Microsoft.Automation/automationAccounts/variables properties.value does not accept strings correctly"
When deploying via ARM/Bicep templates, the `Microsoft.Automation/automationAccounts/variables` API (all versions as of this date) don't properly handle the `properties.value`, which is listed in the [API docs as a type `string`](https://docs.microsoft.com/en-us/azure/templates/microsoft.automation/automationaccounts/variables?tabs=bicep#variablecreateorupdateproperties-object).

For example, with

[2021-03-21 16:57] mepand commented on #11041
Apologies for the delay. We couldn't make much progress due to some high priority items. Will update the thread once we get specific ETA from the service team.

[2021-03-21 16:59] mepand commented on #11928
@Agazoth Could you please confirm if updating the definition of the field as Kartik mentioned above would help?

[2021-03-22 06:33] ArcturusZhang opened #13546 "MachineLearningServices - Skus should have possible values defined in enum and `x-ms-enum`"
In the definition of the `Sku` model (for instance [here](https://github.com/Azure/azure-rest-api-specs/blob/4fe7cd48e1c3498e1ef649cacfcaada2392501b3/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2021-01-01/machineLearningServices.json#L4315)), we need an enum type for both of the `name` and `tier` to show the possible values. For instance like thi

[2021-03-22 07:49] WillooWisp commented on #12104
Ping @zhenglaizhang ?!

[2021-03-22 08:05] ArcturusZhang commented on #13382
Out of curiosity, do we have plans to remove the containservices swaggers from the compute directory? @Drewm3 @axayjo

[2021-03-22 08:09] dw511214992 commented on #8945
it's fixed.

[2021-03-22 08:09] #8945 closed

[2021-03-22 12:59] martijn1279 commented on #13501
I also can reproduce it if i use the Azure CLI:

[code]

[2021-03-22 14:55] miwithro commented on #13501
@martijn1279 I was not able to repro this scenario.  I created a cluster with assigned MI,  then upgraded the cluster to enable api server authorized IP ranges and it worked.  I tested this from the portal, and from the Azure CLI.  From the error messages it appears to be an issue with the MI.  Can you verify the MI is created properly?

[2021-03-22 16:12] martijn1279 commented on #13501
@miwithro if i use the CLI it works fine. But if i create a MI and a AKS cluster with the the CLI code below and then use the portal to enable api server authorized IP ranges i get the error.

[code]

[2021-03-22 16:20] miwithro commented on #13501
@norshtein can you investigate?

[2021-03-22 17:33] alzimmermsft opened #13551 "searchservice is Missing KnowledgeStore"
The searchservice swagger is missing definitions for `knowledgeStore` and its association with [Skillsets](https://docs.microsoft.com/en-us/rest/api/searchservice/create-skillset#request-body).

[2021-03-22 23:11] axayjo commented on #13382
@ArcturusZhang, there are no plans to move the directory or alter the directory structure. The label was changed in order to route it to the right team to take a look at the issue. The right label for anything under azure-rest-api-specs/specification/compute/resource-manager/Microsoft.ContainerService would be Container Instances and for anything under azure-rest-api-specs/specification/compute/re

[2021-03-23 11:14] jiasli opened #13578 "Stop using x-ms-client-flatten"
## Context

The inconsistent usage of `x-ms-client-flatten` across Resource Providers causes inconsistency between Azure CLI commands' return values.

For example, [`az group show`](https://docs.microsoft.com/en-us/cli/azure/group?view=azure-cli-latest#az_group_show) (internally calls [Resource Groups - Get](https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/get)) returns a [`Resou

[2021-03-23 15:11] anthony-c-martin opened #13579 "storageAccounts virtualNetworkRule state should be marked readonly"
Expectation is that it should not be possible to PUT the property under `properties.networkAcls.virtualNetworkRules[*].state`, but there is no readonly or mutability declaration on it to indicate this:

https://github.com/Azure/azure-rest-api-specs/blob/47789d049f656fcd8fbfc18e9ce8ca5a60309379/specification/storage/resource-manager/Microsoft.Storage/stable/2021-01-01/storage.json#L2250-L2264

[2021-03-24 02:20] blueww commented on #13579
@tonykjose , @zfchen95
Would you please help to see if we should set `properties.networkAcls.virtualNetworkRules[*].state` as readonly in swagger?

[2021-03-24 06:31] leni-msft commented on #13578
@qiaozha any thoughts?

[2021-03-24 06:35] leni-msft commented on #13578
@blueww Could you take a look? is the behavior of showing storage account in CLI intended?

[2021-03-24 06:43] qiaozha commented on #13578
x-ms-client-flatten doesn't impact the original rest api response. it's purely a client side feature.

If we do remove x-ms-client-flatten for all the RP. That's will cause problems like breaking changes and customer complains like SDK is difficult to use etc.

If CLI wants to get the same structure. it should parse the original response instead of using what python SDK returns.  or make use of th

[2021-03-24 06:47] blueww commented on #13578
@leni-msft

Agree with @qiaozha
BTW, why you don't want to show the account properties flattened in CLI?

[2021-03-24 08:06] Morriz commented on #13578
Sure, that can be announced. It is a common issue in evolving software.

I don't see any increased complexity coming from removing flattening (or adding flattening).

Alignment between cli and rest api will bring a lot of gains afterwards (complete api docs for a change, see https://github.com/Azure/azure-cli/issues/17332). It would be a missed opportunity to not align them imo (double docs mainte

[2021-03-24 08:09] Morriz commented on #13578
Doesn't flattening remove the context of these flattened properties?

[2021-03-24 08:26] stevensoave opened #13600 "Private DNS Zone Limited to 15 Tags via api-version=2018-09-01. Via portal you can add upto the 50 tag limit."
https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}?api-version=2018-09-01

When using programmatic tools/cli/terraform to apply tags to our Private DNS resource we get an error:
privatedns.PrivateZonesClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="BadRequ

[2021-03-24 08:42] qiaozha commented on #13578
with flattening customer just need to pass whichever parameter with simple value,
without it, everything going to be one big object. Customers have to understand the object structure before they can build the correct parameter. We've already got complains on that.

besides azure cli, we have other SDKs, those SDK are already aligned in the current way. it doesn't make sense to break all the SDKs j

[2021-03-24 11:01] jiasli commented on #13578
This means all SDKs are not aligned with the underlying REST APIs.

[2021-03-24 12:34] tyeth commented on #11929
Hey @jlichwa any progress on this?

Is there a running list of incomplete api versions, or should we just not use any preview API versions until they make it out of preview?

[2021-03-24 18:25] j03INTHECLOUD commented on #9797
Any update on this? There is still have no documentation other than this link: https://docs.microsoft.com/en-us/azure/azure-monitor/app/powershell#create-the-azure-resource-manager-template which does not show the schema.

[2021-03-24 23:21] charliedmcb opened #13617 "Make Code for InstanceViewStatus an enum"
I am using the vmss API, and working with the PowerState codes. In order to deal with this I have created my own consts that map to all of the PowerState codes here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.fluent.powerstate?view=azure-dotnet

However, it would be nice if I could use a list of values from the API instead of defining my own.

Code location for

[2021-03-25 09:48] njuCZ opened #13631 "update aks encounter error when using user assigned identity"
swagger link: https://github.com/Azure/azure-rest-api-specs/blob/HEAD/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2020-12-01/managedClusters.json#L416

reproduce step:
1. create a cluster with user assigned identity
2. get the cluster and change some property
3. update

the error message:
```Invalid value for the identities '/subscriptions/sub-id/resourceGroup

[2021-03-25 17:25] Vaibhav-Agar commented on #13617
Hi @avirishuv can you please take a look here?

[2021-03-25 17:25] Drewm3 commented on #13617
@avirishuv, could you look into this request?

[2021-03-25 18:06] Drewm3 commented on #10033
To provide an update on this issue: Microsoft is not going to be able to maintain this list in the swagger files, and instead customers must use the Azure VM SKUs API to query what sizes are currently available. We intend to remove this list of SKUs in the swagger file to provide clarity that it is not a maintained list, but that action is delayed internally because a change like this is being con

[2021-03-25 18:15] avirishuv commented on #13164
@ssemyan if you can share additional repro steps, that would help.
@Drewm3 based on information shared so far, it doesn't look like existing instances are impacted. It looks like other storage profile properties in the model are getting updated, even though the only change that was in the PATCH request was for image ref id. Need to investigate this further.

[2021-03-25 18:37] avirishuv commented on #13617
hi @charliedmcb, this documentation page provides the possible values for power states of VM: https://docs.microsoft.com/en-us/azure/virtual-machines/states-billing

also, the power state is already part of the VMSS VM Instance View, it can be found under Status: https://github.com/Azure/azure-rest-api-specs/blob/961799e77f5e9b81208384a1c6ce3a6bc9e84a93/specification/compute/resource-manager/Micro

[2021-03-25 20:03] miqm commented on #11986
@alex-frankel do you know if the team has some ETA on fixing this?

[2021-03-25 22:47] maksimu commented on #11988
Any updates on this?

[2021-03-26 03:26] #10667 closed

[2021-03-26 04:11] aim-for-better commented on #6505
fixing

[2021-03-26 07:54] martijn1279 commented on #13501
any update?

[2021-03-26 12:23] weidongxu-microsoft opened #13670 "network 2020-11-01, missing properties"
Why multiple properties in `networkInterface` disappeared from network 2020-11-01?

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/networkInterface.json#L1161-L1192

Also missing some properties in `publicIpAddress`.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager

[2021-03-26 19:16] ssemyan commented on #13164
@avirishuv the repro steps are in the original Terraform bug: https://github.com/terraform-providers/terraform-provider-azurerm/issues/10626

[2021-03-28 22:49] ducas commented on #13631
Hi. This issue has been impacting our ability to upgrade clusters for nearly 2 months now. Can you please respond soon?
cc @clarenceb

[2021-03-29 08:39] havlicekp opened #13700 "Error: Microsoft.Sql/locations/managedDatabaseAzureAsyncOperation/read does not match any of the actions supported by the providers"
We have a custom RBAC role in Azure, having limited permissions. Call to create a SQL database (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.sql.fluent.manageddatabasesoperationsextensions.createorupdateasync?view=azure-dotnet) ends with the following error:

`Azure cloud exception occurred (code: AuthorizationFailed, reason phrase: Forbidden, status code: Forbidden, mess

[2021-03-29 13:13] omichels commented on #13631
We are experiencing the same problem as OP

[2021-03-29 17:07] nickvbeek commented on #13631
Hi, looks like's it is (almost) the same issue as reported in https://github.com/Azure/azure-rest-api-specs/issues/13501
Hope there's a fix soon.

[2021-03-29 21:45] katbyte commented on #11200
@manicminer - this can be closed then?

[2021-03-30 06:42] darren-johnson commented on #11986
This is an issue for me too. Is there an update on this?

[2021-03-30 11:40] manicminer commented on #11200
@katbyte This can indeed be closed, I haven't had any more related errors

[2021-03-30 11:40] #11200 closed

[2021-03-30 12:08] favoretti commented on #9281
@ArcturusZhang ping on this one?

[2021-03-30 17:23] omichels commented on #13501
can reproduce that exact problem

[2021-03-30 22:19] alex-frankel commented on #11986
Latest ETA from logic apps team is June

[2021-03-31 01:33] magodo commented on #10015
Png @timMSFT

[2021-03-31 06:56] qwordy opened #13740 "[Bug] Python package azure-mgmt-compute 19.0.0 misses Disks"
azure-mgmt-compute 19.0.0 does not contain Disks resources.

https://pypi.org/project/azure-mgmt-compute/
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/disk.json

[2021-03-31 07:50] zhenglaizhang commented on #13740
@msyyc could you help take a look?

[2021-03-31 08:10] dw511214992 opened #13742 "Compute: swagger definition error"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/compute.json#L11072-L11074, a property is defined as:
![image](https://user-images.githubusercontent.com/40835867/113112092-662ec900-923b-11eb-89cd-ff1e99d2c914.png)
The definition of object is wrong. It's defined as object, so there should be a sub-field `propert

[2021-03-31 20:50] ericshape commented on #13238
@jwshive Thanks for your feedback!
we had list by resource group in the latest API version: https://docs.microsoft.com/en-us/rest/api/sql/2020-08-01-preview/servers/listbyresourcegroup

[2021-03-31 20:55] mdurini opened #13754 "Azure Storage Account Rest APIs not working as expected"
Hi, i'm following the [documented](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listkeys#examples) url to get the storage keys without success

`{
    "error": {
        "code": "HttpResourceNotFound",
        "message": "The request url http://10.0.14.206:30019/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/YYYYYYYYYYYYYYYYYY/ZZZZZZZZ-ZZZZ-ZZZZ-ZZZZ-ZZZZZZZZZZZZ/subscriptions/<subscr

[2021-03-31 21:01] jwshive commented on #13238
Yes but that's not the ask and not my use case. I want to see all servers and not have to know their resource group to start with. I want to get that from a list of all the servers.

[2021-03-31 23:05] meetamitbhatia opened #13755 "networksets.json schema misses definition for member/property trustedServiceAccessEnabled"
I see Preview API 2018-01-01-preview accepts trustedServiceAccessEnabled property to configure "Allow trusted Microsoft services to bypass this firewall?" config and updates configuration correctly,

https://management.azure.com/subscriptions/XXX-XXXX-426a-b770-XXX/resourceGroups/xxxx/providers/Microsoft.ServiceBus/namespaces/xxxx/networkrulesets/default?api-version=2018-01-01-preview

{"id":"/sub

[2021-04-01 01:49] blueww commented on #13754
@mdurini

the [documented](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listkeys#examples) has Uri start with "https://management.azure.com/", but I see you Uri start with "http://10.0.14.206:30019/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/YYYYYYYYYYYYYYYYYY/ZZZZZZZZ-ZZZZ-ZZZZ-ZZZZ-ZZZZZZZZZZZZ/".
Which server do you target on? Is the Uri prefix correct? Does the server you targe

[2021-04-01 03:06] qwordy commented on #13740
@zhenglaizhang We have found the cause. Is it allowed that an API version is published and is then updated later?

[2021-04-01 03:21] zhenglaizhang commented on #13740
As discussed offline, this needs another sdk release for python to ingest in the feature update, and @qwordy will help address this.

[2021-04-01 03:21] #13740 closed

[2021-04-01 09:01] mdurini commented on #13754
hello, the weird address is in the response, I used the correct address to do the request. The service principal used has enough permissions in the subscriptions, including the listkeys.

[2021-04-01 10:10] aangelisc commented on #12516
Is there any news on this? It's been awhile since the initial report and this is quite a blocker for us.

[2021-04-02 21:31] jhendrixMSFT opened #13774 "Incorrect swagger for discriminator"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2016-08-10/service.json#L8290

Per swagger 2, the `discriminator` _must_ reference a property defined within the declaring type.  In this case, the `discriminator` is `instanceType` which is defined in the child type.  This is malformed and must be

[2021-04-05 19:44] jmeadowcroft commented on #12759
@Sharmistha-Rai Any update on this issue?

[2021-04-05 21:27] Drewm3 commented on #13742
@srvar, it looks like you had the last commit on this swagger file. Could you please investigate this error?

[2021-04-05 21:35] srvar commented on #13742
I did not make that change.

[2021-04-05 22:01] Drewm3 commented on #13742
@Sandido, could you take a look at this. It looks like the issue must have been introduced when the 2020-12-01 version of the Swagger file was initially created.

[2021-04-06 12:08] #4328 closed

[2021-04-06 12:09] #12447 closed

[2021-04-06 12:11] #3531 closed

[2021-04-06 12:11] #2951 closed

[2021-04-06 15:22] aglees commented on #10159
Is there an update to this? We'd like to scale based on the average number of Inbound Flows, and using a divide-by via Terraform would be of great help.

[2021-04-07 01:53] avirishuv commented on #13271
hi @sachin-laddha we'll updating the link for the ComputeName description in this doc https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#osprofile.

In the meantime, here is the correct link, please let us know if you have further questions.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules

[2021-04-07 13:39] mikhailshilkov opened #13816 "DBForPostgreSql/flexibleServers/configurations service returns ID with serversv2 in it"
I'm making a PATCH request to the `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/flexibleServers/{serverName}/configurations/{configurationName}` endpoint. It works but the response body contains an invalid ID, for example `/subscriptions/sub-id/resourceGroups/rg/providers/Microsoft.DBforPostgreSQL/serversv2/myserver/configurations/backslash

[2021-04-07 17:01] charliedmcb commented on #13617
I was aware of this similar list here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.fluent.powerstate?view=azure-dotnet
My issue was that I needed to implement a list of values within my own code, where I was hoping there would be enums within the API, so I could simply use those values directly instead of my own that were formed by additional information. For exa

[2021-04-07 17:32] charliedmcb commented on #13617
I added two feature requests via uservoice for this change.

Make Code for InstanceViewStatus an enum in the API:
https://feedback.azure.com/forums/216843-virtual-machines/suggestions/43092795-make-code-for-instanceviewstatus-an-enum-in-the-ap

Make PowerStatus its own member variable in VirtualMachineScaleSetVMInstanceView for the API:
https://feedback.azure.com/forums/216843-virtual-machines/sug

[2021-04-07 17:32] #13617 closed

[2021-04-07 23:28] tcc-sejohnson opened #13825 "Azure SQL REST endpoint for importing from .bacpac reports failure even though it successfully starts import"
Hey there,

Hopefully this is the right place to report this...

I've attempted this operation through both the Az Powershell library and the pure REST api (using Web actions in ADF). It "fails" with the same message in both circumstances. I haven't tried to do it in a pure code context (Python/JavaScript/C#) yet, but I could probably whip something up.

I have a database delivered to me daily fro

[2021-04-07 23:47] #9593 closed

[2021-04-08 01:52] dw511214992 opened #13830 "[Web] Some parameters's x-ms-parameter-location should be "client""
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagementClient.json#L1007-L1013 and https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagementClient.json#L1140-L1147, these two parameters's x-ms-parameter-location should be

[2021-04-08 05:00] justin-chizer commented on #13501
Same error using Terraform when trying to update the K8s version from 1.19.6 --> 1.19.7.
hashicorp/azurerm v2.53.0

[2021-04-08 08:59] magodo opened #13839 "Storagecache (a.k.a HPCCache) less of `usageModel` enums"
Currently, the `usageModel` used for [`Nfs3Target`](https://github.com/Azure/azure-rest-api-specs/blob/7e3bf6306c5ffd00b97a93870945fa5debd873af/specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2021-03-01/storagecache.json#L1941) and [`blobNfsTarget`](https://github.com/Azure/azure-rest-api-specs/blob/7e3bf6306c5ffd00b97a93870945fa5debd873af/specification/storagecache/resou

[2021-04-08 12:09] mdurini commented on #13754
hello, as I was suspecting, it was a service issue because now the same call is working as expected. You can close the issue Best regards

[2021-04-08 12:28] artisticcheese opened #13843 "Microsoft.Compute/virtualMachines returns incorrect skipToken which results in HTTP 502 bad gateway error"
I have around 1200+ VMs in subscription. Polling ` https://management.azure.com/subscriptions/XXXXXXX/providers/Microsoft.Compute/virtualMachines?api-version=2020-06-01` returns results in paginated view with next page provided as `nextLink` property to response. This works for first 9 qurieres where each query returns following number of results. Nine's query returns 48 results which I assume the

[2021-04-08 13:30] anthony-c-martin opened #13844 "Microsoft.Web is missing azureresourceschema configuration for API version 2016-06-01"
The following file is missing configuration for API version 2016-06-01:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/readme.azureresourceschema.md

This mean that Bicep Type generation currently has no definitions for the Microsoft.Web/connections & Microsoft.Web/connectionGateways resources which have only been published under this API version.

Her

[2021-04-08 14:18] anthony-c-martin opened #13845 "Microsoft.Sql is missing azureresourceschema configuration for API version 2020-11-01-preview"
The following file is missing configuration for API version 2020-11-01-preview:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/readme.azureresourceschema.md

It has been defined here: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/readme.md

[2021-04-08 16:22] Mohit-Chakraborty opened #13847 "Inconsistency in definition of SearchResult->"@search.captions""
The [spec](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/e6fa7db931a3e5182e5685630971b64987719938/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.json) defines `SearchResult.Captions` property as a dictionary.
[code]

However, the response has it as an array of CaptionResult objects -
[code]

The [documentation](https://docs.microsoft.com/en-us/az

[2021-04-08 16:27] Mohit-Chakraborty opened #13848 "Inconsistency in definition of SearchDocumentsResult->"@search.answers""
The [spec](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/e6fa7db931a3e5182e5685630971b64987719938/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.json) defines `SearchDocumentsResult.Answers` property as a dictionary.

[code]
However, the response has it as an array of `AnswerResult` objects -

The [documentation](https://docs.microsoft.com/en-us/

[2021-04-08 23:26] djpierson opened #13858 "Azure Retail Prices API not returning all compute machine types"
https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices?source=docs

Only certain machine types appear when querying Retail prices API. This was working 10days ago

eg. for D and E series machines, only Dd and Ed are returned.

__Originally posted by @djpierson in https://github.com/MicrosoftDocs/azure-docs/issues/73461__

[2021-04-08 23:28] djpierson commented on #13858
Only tested for uk south but D4s / E4s do not appear

[2021-04-09 02:41] ArcturusZhang commented on #9281
This issue will need service team's attention to resolve.
Ping @antcp, @AzureAppServiceCLI

[2021-04-09 03:06] ruowan commented on #13754
Close this issue.

[2021-04-09 03:06] #13754 closed

[2021-04-09 03:45] neil-yechenwei opened #13861 "The property type of `Properties` in `ConnectedClusterPatch` for HybridKubernetes shouldn't be raw type interface{}"
After checked azure rest api spec, seems the elements of the [“properties”](https://github.com/Azure/azure-rest-api-specs/blob/f681a6b646179edf56618ab518733610b260cc72/specification/hybridkubernetes/resource-manager/Microsoft.Kubernetes/stable/2021-03-01/connectedClusters.json#L602) property in the “ConnectedClusterPatchProperties” property hasn’t been defined. I assume the elements should be defi

[2021-04-09 04:49] avirishuv commented on #13843
hi @artisticcheese , I'll look into this issue. Could you provide a couple of inputs:
How many total VMs were there in the subscription? The above numbers add upto 1205, was that the total #of VMs, or were there more than that?
During the polling, were there any on-going deletion operations on some of those VMs ?

[2021-04-09 07:39] leni-msft commented on #13845
Resolved with #13862

[2021-04-09 07:39] #13845 closed

[2021-04-09 11:55] artisticcheese commented on #13843
Total number of Vms are always changing due to databricks operation, so yes some Vms are being deleted all the time and it's impossible to know for sure if last operation retuned last VM or not

[2021-04-09 13:35] #13861 closed

[2021-04-09 13:36] neil-yechenwei commented on #13861
Currently , service team confirmed only "tags" could be updated.

[2021-04-09 14:29] anthony-c-martin commented on #13845
Thanks @leni-msft!

[2021-04-12 04:57] aim-for-better commented on #6505
fixing

[2021-04-12 15:40] mikhailshilkov opened #13891 "[ContainerRegistry] TaskStepProperties's type is incorrectly marked as read-only"
The `containerregistry_build` spec (I'm looking at the version 2019-04-01) marks the `type` property of the `TaskStepProperties` schema as read-only: https://github.com/Azure/azure-rest-api-specs/blob/73d51f188ceba91939355c8e1d4d74dd38173c13/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/containerregistry_build.json#L1275

This looks wrong to me beca

[2021-04-12 16:07] djpierson commented on #13858
This has randomly started working again now so closing

[2021-04-12 16:07] #13858 closed

[2021-04-12 19:57] guidola commented on #13891
Indeed, as the spec is using swagger 2.0 that field needs to be `readOnly: true` , otherwise the polymorphism cannot be properly resolved as the `discriminator` requires it for such purpose.

This is breaking functionality on the endpoint.

[2021-04-13 14:22] stawii commented on #5604
Insert "two years later" meme..

[2021-04-13 14:35] northtyphoon commented on #13891
@mikhailshilkov thanks for reporting the issue. Can you use the following version? The read-only issue has been fixed.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-06-01-preview/containerregistry_build.json#L2196

[2021-04-13 14:48] jmkimball55 commented on #10646
any progress here?

J Kimball - Integration Platforms and Engineering

[2021-04-13 16:08] mikhailshilkov commented on #13891
Oh, that's good to know! Do you know when the next stable (non-preview) version is going to be published?

[2021-04-13 18:00] artisticcheese commented on #13843
This has been confirmed a bug by Microsoft and requires reregistration via `Register-AzResourceProvider -ProviderNamespace Microsoft.Compute`

[2021-04-13 18:00] #13843 closed

[2021-04-14 16:34] alzimmermsft opened #13933 "[Search] Answers Should be Defined as a String, Not an Enum"
The `Answers` definition, both the [SearchOptions query parameters](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.json#L313) and [SearchRequest JSON property](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.jso

[2021-04-14 16:44] HarshitaSingh-MSFT opened #13934 "API definition update for VM Custom Image"
It is regarding [Windows VM ARM deployment cannot use Shared Image Gallery and version 'latest'](https://docs.microsoft.com/en-us/answers/questions/308419/index.html). For custom images, `version `value `latest `does not work , instead the Id should be as follows:

`"/subscriptions/subID/resourceGroups/rgName/providers/Microsoft.Compute/galleries/galleryName/images/imageName/versions/versionNumber

[2021-04-14 21:09] shilpasharmaAM commented on #10159
Hi,
Our team is currently reviewing and will soon start the work for adding Divide per instance to swagger. ETA for completion is end of May.
@LeoVannelli and @asheniam FYI

[2021-04-15 04:18] dciborow opened #13950 "Profile is missing CosmosDB"
I am trying to use the api-profile "2019-03-01-hybrid" with my ARM template. But I have that CosmosDB is missing from the profiles.

The api-profile '2019-03-01-hybrid' for the template does not match any valid api-version for the resource type 'Microsoft.DocumentDB/databaseAccounts'.

[2021-04-15 07:18] martijn1279 commented on #13631
i got the same error when using a user assigned identity and trying to update the aks cluster in the portal.

[2021-04-15 07:57] mikhailshilkov opened #13952 "[NotificationHubs] Namespace properties not marked as readonly"
In NotificationHubs, several properties of Namespace should be marked as read-only, for instance `createdAt` and `updatedAt`: https://github.com/Azure/azure-rest-api-specs/blob/7a2cc29033fe4027ef421267f1684efbd0d40a93/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/notificationhubs.json#L1642-L1651

[2021-04-15 21:12] alzimmermsft opened #13963 "[Search] skillsetCount in ServiceCounters Shouldn't be Required"
The current service preview Swagger for Search service added a new property to `ServiceCounters` as required.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchservice.json#L9149

From an SDK perspective having this new parameter as required would cause SDKs generated on the latest Swagger to fail during deseria

[2021-04-15 22:04] jennifermarsman commented on #13963
To clarify, I assume that you are referring to "skillsetCount" as the new required property?  @jadrefke is investigating.

[2021-04-15 22:22] alzimmermsft commented on #13963
Yes, `skillsetCount` is the new property that is marked as required

[2021-04-16 01:41] v-strudm-msft commented on #6167
We see this was posted over two years ago, but was never   addressed so are closing it. Our apologies. Should this still be an issue,  please re-open this issue and we will respond on a timely basis. Thank you.

[2021-04-16 01:41] #6167 closed

[2021-04-16 01:44] v-strudm-msft commented on #6412
We see this was posted over six months ago but was never addressed so are closing it. Our apologies. Should this still be an issue, please re-open this issue and we will respond on a timely basis. Thank you.

[2021-04-16 01:44] #6412 closed

[2021-04-16 11:20] anthony-c-martin opened #13984 "Microsoft.EventHub/namespaces missing read-only "status" property definition"
A GET on a namespace resource returns a property named "status", but it is not defined in the swagger spec here:
https://github.com/Azure/azure-rest-api-specs/blob/1b0ed8edd58bb7c9ade9a27430759527bd4eec8e/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json#L612-L666

Originally raised under https://github.com/Azure/bicep/issues/2297

[2021-04-16 12:13] HarshitaSingh-MSFT commented on #13934
@zhenglaizhang , any updates on this?

[2021-04-19 10:02] Sharmistha-Rai commented on #12759
Hi @jmeadowcroft -
Sorry for the delay.
We are already in the process of releasing a fix for this issue in our April release. We had no new release in the month of March, thus couldn't fix this earlier.

[2021-04-19 17:01] justin-chizer commented on #13501
Azure support has stated this is a Terraform azurerm provider issue. I was able to update my cluster from the az cli but not TF. But that does not line up with everyone else's experience.

[2021-04-19 17:29] ctaggart commented on #12408
When I deserialize this in Rust using Serde, I get:
[code]
The spec says `succeeded`, but the service is returning `Succeeded`.

[2021-04-19 17:44] guidola opened #14010 "Allow to define blueprint artifacts as part of the blueprint entity itself"
In order to simplify the creation of blueprint objects it would be great if one could have the blueprint artifacts defined within the spec of the Blueprint itself.

As far as I've understood, per the current api spec, the blueprint entity and the artifact entity are treated as completely independent resources (although the Artifacts are actually child objects of a blueprint). It would make sense,

[2021-04-19 19:57] zfchen95 commented on #12408
We will fix it in swagger in the next API version

[2021-04-20 02:36] dw511214992 opened #14020 "define two same parameters and one of them is not used"
In Swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json#L1171-L1177 and https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azuredata/resource-manager/Microsoft.AzureData/preview/2019-07-24-preview/azuredata.json#L1201-L1208, `subscriptionId` is defined twice and

[2021-04-20 03:10] jianyexi commented on #14020
@rajmusuku  who changed this swagger last time

[2021-04-20 05:28] omichels commented on #13631
I opened a support issue in Azure and as of 04/15/2021 the problem is not reproducible any longer.

[2021-04-20 05:30] omichels commented on #13501
I opened a support issue in Azure and as of 04/15/2021 the problem is not reproducible any longer.

[2021-04-20 06:17] dw511214992 opened #14024 "Type is missed in parameter defintion"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2014-04-01-preview/Csm.json#L923-L934, type is missed, the correct one should be:
[code]

[2021-04-20 15:29] mikhailshilkov opened #14034 "Web: SiteAuthSettingsV2 subtypes have invalid shape"
For example, the definition of `AuthPlatform` has an extra `properties` property under `properties`: https://github.com/Azure/azure-rest-api-specs/blob/5047dfdf585969892ac035ffdfbc57623f0bf1c5/specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/WebApps.json#L21065-L21089

[code]

Note three layers of `properties` above. The same applies to [`GlobalValidation`](https://github.com/Azu

[2021-04-20 19:00] sunnyruziev opened #14037 "The async operation failed"
Trying to destroy the resource that I have created with Terraform couple days ago and it fails, the error is:

Error: issuing AzureRM delete request for Log Analytics Workspaces 'windows-kryon-monitoring-agent-log-workspace': operationalinsights.WorkspacesClient#Delete: Failure sending request: StatusCode=0 -- Original Error: Code="Failed" Message="The async operation failed."

[2021-04-21 06:41] axayjo commented on #13934
@olayemio can you please take a look at this issue?

[2021-04-21 08:56] raych1 commented on #10184
@neil-yechenwei ,  I close this issue base on the above answer. Feel free to re-open it if you're still having issues.

[2021-04-21 08:56] #10184 closed

[2021-04-21 09:08] yupwei68 opened #14051 "Cosmosdb enum type case changes from 2020-04-01 to 2021-01-15"
1. "indexMode" in 2020-04-01 is
"enum": [
            "Consistent",
            "Lazy",
            "None"
          ],
in 2021-01-15 becomes:
"enum": [
            "consistent",
            "lazy",
            "none"
          ],
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json#L6934

https://g

[2021-04-21 10:43] mikeclayton opened #14055 "Deployments REST API - Create or Update fails if "output" variables evaluate to an empty array"
First off, apologies if this is the wrong repo to post this issue in - let me know if that's the case and I'll look for a better home for it...

So, I'm not sure if this is a bug or just user error, but trying to "output" the result of an expression that evaluates to an empty array causes an error in the deployment. For example see the template below which artificially creates an empty array by ca

[2021-04-21 17:44] jlichwa commented on #13365
Response from engineering team:

1.	just want to double confirm that softDeleteRetentionInDays could not be updated?
	softDeleteRetentionInDays cannot be updated after resource creation
2.	when changing enablePurgeProtection from false to true, the rest api could succeed, but the response is still false
	The ability to update enablePurgeProtection is now live in all regions
3.	for delete rest api,

[2021-04-21 19:08] brion-fuller commented on #4221
This is a huge blocker for my team when thinking of using this product.  Is there any plan to have machines register independently to frontdoor?

[2021-04-22 05:34] #13844 closed

[2021-04-22 05:55] HarshitaSingh-MSFT commented on #13934
Any updates on this please?

[2021-04-22 06:46] sarangan12 opened #14066 "[Search-Documents] AnswerResult Object has no required properties"
Per Search Swagger definition,

[code]

Here all of the properties is optional. Shouldn't atleast one of the properties be required?

Per Teams Chat with  @shmed, `score`, `key`, and `text` fields will always be populated. So, they must be marked as required.

This issue is created per conversation with @shmed to track this issue. Please fix this ASAP so we could release it next week.

[2021-04-22 07:37] weidongxu-microsoft opened #14069 "web - response of GetPrivateEndpointConnectionList does not match swagger spec"
Swagger spec
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/WebApps.json#L6961-L7005
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/CommonDefinitions.json#L1650-L1669

But response from 2020-12-01
[code]

[2021-04-22 07:41] dw511214992 opened #14070 "type is missed in parameter definition"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/preview/2017-04-01-preview/inputs.json#L897-L900

field `type` is missed.

[2021-04-22 15:21] jstaffin-presidio opened #14078 "Feature Request - Azure Sentinel - Configure entityMappings and Custom Details on Alert Rules"
Azure Sentinel has added a new method for configuring Entity mappings and a method for defining custom details (key/value pairs).

This page describes the Azure Portal method for configuring the Entity Mappings on an alert rule
https://docs.microsoft.com/en-us/azure/sentinel/map-data-fields-to-entities

This page describes the Azure Portal method for configuring the custom details key/value Paris

[2021-04-22 16:08] MehaKaushik commented on #14051
Thanks for bringing this up. This change was made to match what our service actually returns. Unfortunately, our swagger documented it incorrectly earlier and now we have fixed it.
The original issue which brought this into light is here https://github.com/Azure/azure-rest-api-specs/issues/11222

[2021-04-22 16:09] #14051 closed

[2021-04-22 17:48] xyxyxyxyxyxy commented on #13891
@mikhailshilkov thank you very much for reporting the issue. It is fixed in our most recent GA version now.
https://github.com/Azure/azure-rest-api-specs/pull/13971

[2021-04-23 01:28] yupwei68 opened #14086 "AVS needs to disable correlation-id in Terraform acctest"
In terraform acctest, the create and the delete operations shares the same correlation-id in their request headers. In this scenario, the delete polling will return the response of the create (which shows succeeded), but on fact, the delete operation will not triggered.

[2021-04-23 04:27] weidongxu-microsoft opened #14089 "redis - response of PrivateEndpointConnections_List does not match swagger spec in 2020-06-01"
Swagger is pagination (object with value)
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/redis/resource-manager/Microsoft.Cache/stable/2020-06-01/redis.json#L1539-L1555
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v1/privatelinks.json#L139-L150

Response is an array
`GET https://management.azure.com/subscriptions/

[2021-04-23 08:57] ewakost opened #14093 "Microsoft.Subscription/aliases: subscription in the Enrollment Account is not created using the latest API - User is not authorized to create subscriptions on this enrollment account"
I want to create a subscription using API in the Enrollment Account as a service principal with Owner permission on the Enrollment Account. When using the latest API there is an error "User is not authorized to create subscriptions on this enrollment account".

### Steps
1. You need to have an Enrollment Account in Enterprise Agreement.
2. Create a service principal.
3. As a user with Owner permis

[2021-04-23 09:13] aim-for-better commented on #6505
fixing

[2021-04-23 12:19] Aschenbecher commented on #13631
We still have this Issue :(

[2021-04-23 12:31] lutzwillek-tomtom commented on #10259
Hello. I think this ticket can be closed, as https://docs.microsoft.com/en-us/rest/api/mariadb/servers/create#minimaltlsversionenum is available.
[code]

[2021-04-23 15:17] kosinsky opened #14098 "Support recent PowerBI API versions"
Only one support version of PowerBI API is `2016-01-29` which is 5 years old: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/powerbiembedded/resource-manager/Microsoft.PowerBI

ARM templates for PowerBI already use `2019-04-01`.  For example: https://docs.microsoft.com/en-us/power-bi/developer/embedded/azure-pbie-create-capacity?tabs=ARM-template#embedded-gen2-preview

Ple

[2021-04-23 15:22] ajlam commented on #10259
Updating assigned reviewers. CC @savjani

[2021-04-23 17:17] olayemio commented on #13934
@HarshitaSingh-MSFT I am following up on this. We plan to change the _Value_ of the `id` field to:
[code]

[2021-04-23 17:28] HarshitaSingh-MSFT commented on #13934
Please keep me posted. Thanks!

[2021-04-23 20:28] tbugfinder commented on #13384
same here

[2021-04-23 22:44] savjani commented on #10259
Adding @NavtejSaini-MSFT and @AnuragSharma-MSFT  to help close this

[2021-04-23 23:53] NavtejSaini-MSFT commented on #10259
@lutzwillek-tomtom Thanks for confirming the document is available now. @alex-3sr We are going ahead and closing this feedback. Let us know if you need any further help.

[2021-04-25 05:35] yungezz opened #14108 "MarketplaceOrdering 2021-01-01 return property `accepted` always false even for accepted terms"
2 issues:
- MarketplaceOrdering 2021-01-01 PUT APIproviders/Microsoft.MarketplaceOrdering/offerTypes/{offerType}/publishers/{publisher}/offers/{offer}/plans/{plan}/agreements/current  return property `accepted` always false even for accepted terms, while same API call with API version with 2015-06-01 returned true. below are detail rest call payload.

  - Call against 2021-01-01
[code]

  - Call a

[2021-04-25 06:05] yungezz opened #14109 "2021-01-01 MarketplaceOrdering PUT agreement API will return 404 if optional params aren't provided"
API: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2021-01-01/Agreements.json#L81

Request body : [AgreementTerms](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/stable/2021-01-01/Agreements.json#L384) , has

[2021-04-25 08:00] dw511214992 opened #14112 "200 reponse is missed in delete method"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/service-map/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/arm-service-map.json#L1591, the response of delete operation misses 200 reponse, it violates https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r4011-deleteoperationresponses

[2021-04-25 10:18] aristosvo opened #14117 "`ServerPropertiesForReplica.publicNetworkAccess = Disabled` is not persisted on create Postgresql Single Server Replica"
## Problem
`publicNetworkAccess` is not persisted when calling to create a `Replica` PostgreSQL Single Server and `publicNetorkAccess` is specified in `ServerPropertiesForReplica` ([docs](https://docs.microsoft.com/en-us/rest/api/postgresql/singleserver/servers/create#serverpropertiesforreplica))

## How to reproduce it
- Use terraform to create a replica -> https://github.com/terraform-providers/

[2021-04-25 22:17] sknaresh2000 commented on #4901
Any progress on this? I don't see an equivalent Azure backup policy for SQL databases as well.

I have been trying to do it via PowerShell modules, but that wouldn't work.

[code]

[2021-04-26 06:56] dw511214992 opened #14126 "id is missed in response"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/extensions.json#L393-L405 and , property `id` is missed in response, which should be required in every resource.

[2021-04-26 08:11] aglees commented on #10159
@shilpasharmaAM thanks for the update. Will you be able to coordinate getting the AzureRm Terraform provider also updated for end of May so customers are able to leverage that one straight away?

[2021-04-26 15:02] JeroendeBruijnHU commented on #10167
Hello @asapcloudGIT , i've ran into the same issue. Is there a known solution available yet?

[2021-04-26 16:49] manicminer opened #14128 "apimanagement: 2020-12-01 does not return resourceOwnerUsername or resourceOwnerPassword"
apimanagement 2019-12-01 returns the `resourceOwnerUsername` and `resourceOwnerPassword` properties, but 2020-12-01 does not, making it impossible to observe changes to these fields.

Please see https://github.com/terraform-providers/terraform-provider-azurerm/pull/11146#issuecomment-826596286 for examples of the responses from both API versions.

[2021-04-26 16:51] HarshitaSingh-MSFT commented on #13934
@olayemio , can you please share a work item created for this resolution please?

[2021-04-26 16:59] sunnyruziev commented on #14037
Any update?

[2021-04-26 17:16] olayemio commented on #13934
Here is the work item: https://msazure.visualstudio.com/One/_workitems/edit/9798968

[2021-04-26 19:13] djosemartine commented on #11962
Hi there, any update on this? I am trying to migrate a project which uses the legacy Vault client Library to the new one but I am no able since basic constraints and CA properties cannot be set. Any suggestion?

[2021-04-26 20:10] benwarfield-usds commented on #10250
Is there an open issue in some repository somewhere that tracks this (still very much live) bug?

[2021-04-26 22:12] manicminer opened #14138 "GET Microsoft.Security/workspaceSettings/default is missing property workspaceId"
# Bug Report

After [creating Security Center Workspace settings](https://docs.microsoft.com/en-us/rest/api/securitycenter/workspacesettings/create), the operation completes but when [getting the settings](https://docs.microsoft.com/en-us/rest/api/securitycenter/workspacesettings/get) subsequently, the `workspaceId` property is missing from the response.

## Create

[code]
[code]

## Get

[code]
[

[2021-04-26 22:23] stewartadam commented on #11962
@djosemartine I don't believe anything has changed upstream. I've ended up extracting the certificate creation from existing tooling and `az rest` to manually issue a POST to create the certificate. I can provide code samples if desired.

[2021-04-26 22:48] iscai-msft opened #14140 "[policy insights] remove conflicting model names"
this will remove need for generating policy insights with `modelerfour.lenient-model-deduplication`

[2021-04-27 13:11] MattiasAng commented on #14138
Just an added note to this. This seems to be an issue only for new(er) Log Analytics workspaces. If I use an existing one that has been published for 1 hour+ the API instantly responds back with the `workspaceId` property.

[2021-04-27 21:27] sumit-kalra commented on #11313
Quick update - the issue with `latest ` has been fixed but will be released in the next API version since it a change in behavior. That should happen sometime later this year.

[2021-04-28 06:41] dw511214992 opened #14159 "property type error"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/managementgroups/resource-manager/Microsoft.Management/stable/2021-04-01/management.json#L1237-L1239, if format is defined as `int32`, the type shouldn't be number, because it violates swagger specification:
![image](https://user-images.githubusercontent.com/40835867/116358080-d37c4c80-a82f-11eb-9763-f64223a48927.png)
the c

[2021-04-28 12:40] ewakost commented on #14093
Here is similar issue: https://github.com/Azure/azure-powershell/issues/13405

[2021-04-28 16:29] ramaganesan-rg commented on #6131
@aheumaier - Closing this issue as we didnt see any further questions from you. please feel free to reopen as needed.

[2021-04-28 16:29] #6131 closed

[2021-04-28 16:30] ramaganesan-rg commented on #11764
@Nikolay-Uvarov - Are there any further questions/clarifications you have?

[2021-04-28 16:31] ramaganesan-rg commented on #11982
Closing this issue  please feel free to reopen as needed.

[2021-04-28 16:31] #11982 closed

[2021-04-28 17:14] skiddder commented on #13501
I'm still running into this issue... I'm using terraform (azurerm v2.55.0):

Error: updating Managed Kubernetes Cluster "ohcontainer3" (Resource Group "ohcontainer3-rg"): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="InvalidIdentityValues" Message="Invalid value for the identities '/subscriptions/4fe504a9-xxxx-xxxx-xxxx-532682

[2021-04-28 18:10] sarangan12 commented on #14066
@shmed

There is another field `SearchIndexerKnowledgeStoreProjection` in the swagger which has 3 fields tables, objects and fields which are all optional. But, if you look at the docs,  https://docs.microsoft.com/en-us/azure/search/knowledge-store-projection-overview#defining-a-table-projection they are not optional. The swagger must be fixed here.

There is another field `SearchIndexerKnowledgeS

[2021-04-29 00:37] lordisp commented on #11129
any updates on this one? I having the same issue

[2021-04-29 03:00] jongio opened #14180 "Update available SKUs for CognitiveServices->Text Analytics"
According to https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-call-api?tabs=synchronous#change-your-pricing-tier we now only have `S` sku.

The REST API specs need to be updated.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/Chec

[2021-04-29 03:05] zhenglaizhang commented on #14180
@yangyuan could you help take a look or help route to the correct people to help on this? thanks in advance!

[2021-04-29 07:04] savjani commented on #10259
@NavtejSaini-MSFT - thanks for your help to close this

[2021-04-29 08:39] shraddhaagrawal opened #14186 "nextLink is not working for list storage accounts api"
Hi,

I have 2000+ storage accounts in my subscription and I am getting nextLink in response while using following api-

This gives me partial list of storage accounts and nextLink to fetch next storage accounts with skip token as follows-.

Using above nextLink I am getting following error message-
[code]

[2021-04-29 09:36] lordisp commented on #11129
I solved this by deploy the webapp using [arm](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/template_deployment)

[2021-04-29 09:38] timmkrause opened #14188 "CDN: REST API does not not allow "Latest" version from Key Vault when using custom domain with custom certificate"
When configuring custom domain / HTTP / certificate via the Azure Portal suggests to set it to 'Latest' to always use the latest version of the certificate stored in Key Vault.

I don't see that this is possible via the REST API:

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-09-01/examples/CustomDomains_EnableCustomHttpsUsin

[2021-04-29 15:28] cmendible opened #14192 "[Managed Disks] diskAccessID casing issue"
Hi team,

I'm working to add support for Network Access Policy to Managed Disks via Terraform , and working on adding the Disk Access ID when the Network Policy is set to AllowPrivate.

The issue is that the Disk Access ID returned by the Managed Disk API has an incorrect casing of the resource group segment. For instance returning:

`/subscriptions/*******/resourceGroups/ACCTESTRG/providers/Micro

[2021-04-30 07:15] timmkrause commented on #14188
I see a chance, that when not providing `secretVersion` in the request body, "Latest" will be used by default.
Can somebody confirm this? I cannot test it atm.

If this is the case, the documentation should be adapted accordingly.

[2021-04-30 08:16] magodo opened #14202 "Multiple subnets in same VNet failed to update `addressPrefix` in parallel"
I have created a vnet and three subnets in it, with following address space config:

- Vnet: 10.0.0.0/23
- Subnet1: 10.0.0.0/27
- Subnet2: 10.0.0.32/27
- Subnet3: 10.0.0.64/27

Then I try to update the `addressPrefix` for these three subnets, extending the mask bit to 28, via the subnet API endpoint:

[code]

I do this three calls in the same time. Then only one call succeeded, one of the other tw

[2021-04-30 16:53] arwong opened #14208 "Resource group name fails common-types pattern when creating resources"
Creating a Microsoft.Bing resource fails for existing resource groups with special characters in the name, such as Japanese 西日本, due to pattern validation on the resource group name.

[code]

It is using the common ResourceGroupNameParameter which has that pattern:
https://github.com/Azure/azure-rest-api-specs/blob/c2ea3a3ccd14293b4bd1d17e684ef9129f0dc604/specification/common-types/resource-manage

[2021-04-30 19:10] Sandido commented on #13742
Hi @dw511214992 , @Drewm3 ,

This swagger definition for the VirtualMachineScaleSetExtensionProperties.setting property has been present since we started using swagger definitions in 2015.
A swagger property that is just a generic object without properties accepts inputs formatted as JSON.

The VMSS Extension is agnostic of schemas. The schema is defined by the user in this Setting or ProtectedSet

[2021-04-30 19:11] #13742 closed

[2021-05-02 09:53] kaovd opened #14213 "Microsoft.SecurityInsights api-version 2019-01-01 - ThreatIntelligenceAlertRuleProperties - Severity/displayName is not ReadOnly"
While Implementing the securityinsight.ThreatIntelligenceAlertRule type, there appears to  be a mismatch from the API Spec and the actual backend. Recieved below error when creating an alert rule from template

[code]

This appears to be implemented correctly as readonly in the Go SDK [here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/preview/securityinsight/mgmt/2019-01-01-prev

[2021-05-03 05:22] ishepherd commented on #10646
Ping

[2021-05-03 05:36] ishepherd commented on #10646
Possibly you tried to attach the diagnostic setting to the storage account? `Microsoft.Storage/storageAccounts` resource

It seems that blob diagnostic settings are actually attached to the `Microsoft.Storage/storageAccounts/blobServices/default` resource. This comment helped me: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8275#issuecomment-755222989

[2021-05-03 15:31] timmkrause commented on #14188
I just tested it. Removing `secretVersion` from the request body defaults to "Latest" from Key Vault. This should be reflected in the documentation as it is also recommended by the Azure Portal:

![image](https://user-images.githubusercontent.com/2163179/116897284-60ab1100-ac35-11eb-8f31-fae6cb6e3ecf.png)

[2021-05-03 16:20] jlichwa commented on #14188
@timmkrase this is cdn specs not Key Vault. Please change the label to accurate team.

[2021-05-03 17:16] timmkrause commented on #14188
Sorry, I thought the "CDN:" prefix made that clear enough. Hope it's better now.

[2021-05-04 17:30] dtzar commented on #5604
Are there any plans to add this functionality to any version of the API so it can be added into Terraform provider?

[2021-05-04 18:16] chriswue opened #14242 "Is there a plan to make the current Stream Analytics API GA?"
The 2017 API has been in preview for 3 years until a new preview version appeared in 2020-03. The only non-preview version is now more than 5 years old. That seems extremely weird state of affairs and causes problems such as #5604
Any plans to clean that up?

[2021-05-04 19:27] sidramadoss commented on #5604
Sorry for the slow progress from our side. We are currently working on making a latest GA API version and also update swagger, SDKs, AzureCLI, Powershell and TF. Will roll out incrementally in the coming months.

[2021-05-04 20:38] mikhailshilkov opened #14245 "Network: expressRouteCircuits 2020-08-01 is not working"
PUT requests to `Microsoft.Network/expressRouteCircuits` fail with

[code]

The specification is published for several months now: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/expressRouteCircuit.json

Why is the service not working?

[2021-05-04 20:46] mikhailshilkov commented on #14245
Hmm, it seems to work now

[2021-05-04 20:46] #14245 closed

[2021-05-05 03:39] savjani commented on #10259
@NavtejSaini-MSFT & @AnuragSharma-MSFT - Need your help to close this

[2021-05-05 10:53] jonashoye commented on #14093
We are facing the excact same issue (using terraform and the powershell/Azure CLI commands).
How do we get around this? Everytime we try to deploy a new subscription we get a: "User is not authorized to create subscriptions on this enrollment account" even though the user/SPN is owner on the enrollment account.

[2021-05-06 04:06] blueww commented on #14186
@tonykjose , @zfchen95
Would you please help to look at this issue?

@shraddhaagrawal
Would you please share the server request ID in the responds? We need search server log with it to investigate this issue.

[2021-05-06 14:31] MatthewBettonMaif opened #14284 "loadBalancerBackendAddresses : Could not find member 'location' on object of type 'LoadBalancerBackendAddressPoolProperties'"
When we try to create a new '**LoadBalancerBackendAddressPool**' we can not specify '**location**' property while this property exists in specifications : [loadBalancer.json](https://github.com/Azure/azure-rest-api-specs/blob/1e75ca2758ae24b252b4f7b411eb14a90aa643fb/specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/loadBalancer.json#L1551)

## Expected behavior
Load balanc

[2021-05-06 16:09] shescripts opened #14285 "[Synapse] Create/Update Notebook Doesn't Work"
Using the [Create of Update Notebook](https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/notebook/createorupdatenotebook) API call returns a successful state of "Creating" or "Updating" but no notebooks are actually created.

Using the code from the [Notebooks_Create](https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/notebook/createorupdatenotebook#notebooks_create) example:
F

[2021-05-06 18:03] jaylabell commented on #14192
Hi Vaibhav,

This has to GitHub issue deals with disk access, do you mind taking a look.
Thanks.

[2021-05-06 19:56] Vaibhav-Agar commented on #14192
Hi @cmendible,
This is by design in the platform. As RGs is not case sensitive, hopefully, this is not causing an issue. Resolving.

[2021-05-06 19:56] #14192 closed

[2021-05-07 01:34] neil-yechenwei opened #14296 "Network.ConnectionMonitor API failed to create when endpoint type is “ExternalAddress""
When I set endpoint type to “ExternalAddress”, API failed and threw below error message. Seems API is always requesting Resource Id. Per the [example](https://docs.azure.cn/zh-cn/cli/network/watcher/connection-monitor/endpoint?view=azure-cli-latest#az_network_watcher_connection_monitor_endpoint_add-examples), seems it shouldn't require Resource Id when endpoint type is “ExternalAddress”. If it's a

[2021-05-07 07:32] qwordy opened #14305 "[Compute] securityType has only one enum value and modelAsString is false"
**Problem**
I got a problem when invoking get method of VMSS in Python SDK. It also applies to VM.
`securityType` has only one enum value in swagger definition.
[code]
Python code
[code]
The value of securityProfile in HTTP response according to logs is
[code]
However, vmss.virtual_machine_profile.security_profile.security_type evaluates to 'TrustedLaunch'. Then it causes an error in subsequent st

[2021-05-07 08:47] cmendible commented on #14192
Sorry @Vaibhav-Agar can you take a closer look to this? The experience is not consistent and it  causes issue when comparing the DiskAccessID strings during unit tests.

if you run: `az group create -l westeurope -n MyDisks` the result is:

[code]

Then: `az disk-access create -g MyDisks -l westeurope -n MyDiskAccess` returns

[code]

and then: `az disk create -g MyDisks -n MyDisk --size-gb 10 --n

[2021-05-07 08:52] vaibhavggarg commented on #14192
I think you might have the wrong email address here.

Regards,
Vaibhav

From: Carlos Mendible ***@***.***>
Sent: Friday, May 7, 2021 2:18 PM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: Vaibhav Garg ***@***.***>; Assign ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] [Managed Disks] diskAccessID casing issue (#14192)

Sorry @Vaibhav-Agar<https://nam06.safelinks.protection.outlook.com/?ur

[2021-05-07 08:54] vaibhavggarg commented on #14192
Hi,

I think you might have the wrong email address here.

Regards,
Vaibhav

From: Jayla Bell ***@***.***>
Sent: Thursday, May 6, 2021 11:34 PM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: Vaibhav Garg ***@***.***>; Assign ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] [Managed Disks] diskAccessID casing issue (#14192)

Hi Vaibhav,

This has to GitHub issue deals with disk access, do yo

[2021-05-08 01:04] neil-yechenwei commented on #14296
After confirmed with service team, endpoint type ExternalAddress only can be set as destination. So it's not a bug.

[2021-05-08 01:04] #14296 closed

[2021-05-08 04:55] aim-for-better commented on #14126
Checking

[2021-05-08 04:58] aim-for-better commented on #14126
@dw511214992  Our backend does not return the property `id`, the swagger spec is correct.

[2021-05-08 04:58] #14126 closed

[2021-05-08 09:18] jiasli opened #14324 "[Event Hubs] Event Hubs Operations - List 2021-01-01-preview API returns 404"
[Event Hubs Operations - List 2021-01-01-preview](https://docs.microsoft.com/en-us/rest/api/eventhub/preview/operations/list) API returns 404:

[code]

[2021-05-08 15:14] xperiandri opened #14768 "[FEATURE REQ] How to delete KeyVault secret versions?"
**Library or service name.**
`Azure.Security.KeyVault.Secrets`

**Is your feature request related to a problem? Please describe.**
How can I programmatically delete a secret version that already expired?

[2021-05-09 20:00] WillooWisp commented on #12104
Three months and no action or response whatsoever...

[2021-05-10 01:42] zhenglaizhang commented on #12104
Hi @WillooWisp sorry for the delay, I will ping web app team to check the update status today.

[2021-05-10 14:56] zhenglaizhang commented on #12104
Hi @calvinsID any feedback about this or could you help direct the issue to correct owner?

[2021-05-10 15:42] cmendible commented on #14192
@Vaibhav-Agar can hyou echl this comment please: https://github.com/Azure/azure-rest-api-specs/issues/14192#issuecomment-834181859

[2021-05-10 17:50] derekrprice commented on #10716
I only just started seeing this.  Is this a regression?  I don't have to disable anything, but every time I run apply, it wants to correct the case of the log_analytics_workspace_id.

[2021-05-10 23:17] amjads1 commented on #14305
Looking into the issue

[2021-05-11 07:09] mcalnd70 commented on #2255
Just been given this as a requirement to code - check docs to find its not supported - 3+ years later - I guess this isn't happening

[2021-05-11 11:46] AdamCoulterOz commented on #13115
This is the particular API I'm referring to, which should be fixed in the same way.

REQUEST
[code]

RESPONSE
[code]

[2021-05-11 13:25] magodo opened #14355 "AAD diagnosticSettingsCategories endpoint (2017-04-01) `api-version` error"
In version 2017-04-01, the AAD endpoint: [/providers/microsoft.aadiam/diagnosticSettingsCategories](https://github.com/Azure/azure-rest-api-specs/blob/3d039aede6de1e63023177d0aceaae1820b12cf2/specification/azureactivedirectory/resource-manager/Microsoft.Aadiam/stable/2017-04-01/azureactivedirectory.json#L219-L219) only accepts the api-version query as `2017-04-01-preview`, while the Swagger specif

[2021-05-13 00:32] nschonni opened #14392 "typo: propogation in Microsoft.Network/stable/2020-06-01/virtualWan.json"
https://github.com/Azure/azure-rest-api-specs/blob/1b0ed8edd58bb7c9ade9a27430759527bd4eec8e/specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/virtualWan.json#L5377-L5381
Is a typo that was suppressed in the global dictionary instead of being fixed.

https://github.com/Azure/azure-rest-api-specs/pull/14391 will suppress it at the file level for the current version, then re-

[2021-05-13 09:08] weidongxu-microsoft commented on #13670
fixed by https://github.com/Azure/azure-rest-api-specs/pull/14217

[2021-05-13 09:08] #13670 closed

[2021-05-13 21:16] avirishuv commented on #14305
checking this, will provide update here after investigation.

[2021-05-14 02:15] blueww opened #14414 "[storage/resource-manager] Merge the duplicated items referenced by FileShare, BlobContainer Get/List API"
For some resources (FileShare, BlobContainer), the [Get API](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/file.json#L350) and [List API ](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/file.json#L159)return different objects,

[2021-05-14 02:16] blueww commented on #14414
@zfchen95 , @HimanshuChhabra , @priyapansrp
Please help to follow up this items when raise swagger PR for the next API version.

[2021-05-14 07:24] akning-ms commented on #5085
codeowner file can support this requirement, so close the issue

[2021-05-14 07:24] #5085 closed

[2021-05-14 07:29] akning-ms commented on #11014
If it is for doc not for swagger, maybe this is not right place to fill this issue. @josefree to suggest which repo is best place.

[2021-05-14 07:42] akning-ms commented on #4252
If it is not https://github.com/Azure/azure-rest-api-specs/tree/master/specification/billing/resource-manager/Microsoft.Billing
maybe it is not public.  customer provides team may know it.@raosuhas

[2021-05-14 07:46] akning-ms commented on #790
It can be detected in our Live validation service now. so close it

[2021-05-14 07:46] #790 closed

[2021-05-14 09:11] akning-ms commented on #1303
it is in http://azure.github.io/autorest/extensions/#x-ms-mutability

[2021-05-14 09:11] #1303 closed

[2021-05-14 09:15] akning-ms commented on #2616
clean old issue which may not valid

[2021-05-14 09:15] #2616 closed

[2021-05-14 09:20] akning-ms commented on #1236
clean old issue which may not valid any more

[2021-05-14 09:20] #1236 closed

[2021-05-14 09:21] akning-ms commented on #1084
this should already fixed in latest CI pipeline

[2021-05-14 09:21] #1084 closed

[2021-05-14 09:27] akning-ms commented on #10558
v2 add error as top property name to comply ARM guideline.
latest is like below which should not have extra error in sub error
    "ErrorResponse": {
      "title": "Error response",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "err

[2021-05-14 09:27] #10558 closed

[2021-05-14 09:33] akning-ms commented on #10990
no ascLocation any more

[2021-05-14 09:39] akning-ms commented on #4770
https://github.com/Azure/adx-documentation-pr is deprecated

[2021-05-14 09:39] #4770 closed

[2021-05-14 16:34] TeplrGuy commented on #11129
I think I may have found a solution @lordisp @mleziva

set use_32_bit_worker_process to false.. https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/data-sources/app_service#use_32_bit_worker_process

This will set it to 64 and default to php. I think 32 bit may not be available for php

[2021-05-14 18:51] assafi commented on #14180
Service team here - ACK

[2021-05-14 22:55] yungezz commented on #14305
there're IcM related to it https://portal.microsofticm.com/imp/v3/incidents/details/238804462/home

[2021-05-15 02:31] k-rush commented on #9194
Hi @jiasli , can you please help us determine what issues still exist for us? The action we need to take is not clear to me from looking at the provided doc.

cc @riserrad

[2021-05-15 21:00] gro1m commented on #8323
Hi @rastala @v-strudm-msft
This is now 15 months old - has there been some progress here? I want to bring machine learning resources up to speed with Terraform, but everything is a bit outdated. And Microsoft starts to also give guarantees that Terraform runs stably and I think keeping up-to-date and continuous versioning are a fundamental concern in software engineering. I do not like to see that

[2021-05-17 03:06] magodo commented on #10920
Ping @ChenTanyi

[2021-05-17 03:33] magodo commented on #10920
Ping @@vpngwsuppgithub

[2021-05-17 07:54] msyyc opened #14430 "[network] Difference about load balancer rule between api verison '2020-11-01' and '2021-02-01'"
https://github.com/Azure/azure-rest-api-specs/blob/f15b4f3299df66c755156aaea2c3f0c64f1840bb/specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/loadBalancer.json#L1756-L1762

'backendAddressPools' is the new definition and it will be set with same value with 'backendAddressPool' by service if users don't specify it.
(e-mail : RE: CLI for Gateway LB)

Service explanation:
Hav

[2021-05-17 09:44] mikhailshilkov opened #14432 "App Platform: Default value is invalid for temporaryDisk"
In the latest `2020-07-01` API version, the `temporaryDisk` property defines a default value "/tmp":

https://github.com/Azure/azure-rest-api-specs/blob/f15b4f3299df66c755156aaea2c3f0c64f1840bb/specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json#L3420-L3423

This is wrong because `temporaryDisk` is an object of type `TemporaryDisk` with a property `m

[2021-05-17 16:53] gro1m commented on #11143
@magodo @blueww Has this been resolved in the mean-time?

[2021-05-18 07:53] aim-for-better commented on #6505
fixing

[2021-05-18 09:30] ruowan commented on #14432
Thanks for feedback. @gavinfish has fixed the issue.

[2021-05-18 19:43] ctaggart opened #14459 "compute VirtualMachines_ListAll OBJECT_MISSING_REQUIRED_PROPERTY"
The latest specs for compute #14223 #12334 have Swagger correctness bugs that break deserialization with the Azure SDK for Rust https://github.com/Azure/azure-sdk-for-rust/issues/54. In this case, it looks to be a bug in the Swagger spec. The API does not send back the [required location.](https://portal.azure-devex-tools.com/amekpis/correctness/detail?errorId=55599149-e6d9-4f23-b316-1835b2c385f4)

[2021-05-18 22:38] lenardchristopher commented on #13413
@qike-ms @jwilder @thomas1206  @seanmck Is there a timetable for addressing this? This is soon going to be a big issue for us. Today, I created a new new pool via Azure CLI with 2048GB disk space.

[2021-05-18 22:56] lenardchristopher commented on #13413
I looked at the latest version and realized it is fixed. I'll close this bug as fixed.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-03-01/managedClusters.json#L2002

[2021-05-18 22:56] #13413 closed

[2021-05-19 07:59] neil-yechenwei opened #14473 "VirtualNetworkGatewayConnections.SetSharedKey API and VirtualNetworkGatewayConnections.ResetSharedKey API are still processing after API returned successfully"
After tested, we found [VirtualNetworkGatewayConnections.SetSharedKey](https://github.com/Azure/azure-rest-api-specs/blob/21bb9c34a94340e51b14759a5ab5791289fa5e58/specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/virtualNetworkGateway.json#L1469) API and [VirtualNetworkGatewayConnections.ResetSharedKey](https://github.com/Azure/azure-rest-api-specs/blob/21bb9c34a94340e51b1

[2021-05-19 11:23] jonashoye commented on #14093
@ewakost you need to grant your service principal SubscriptionCreator permissions in order to get this to work. This needs to be done from an account with EA admin permissions. I followed these guides to do it (has to be done directly to the API, no GUI or PS/CLI modules available for doing it.
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/assign-roles-azure-service-princip

[2021-05-19 15:48] k-rush commented on #9194
Closing for now, @jiasli please re-open if there are any more actionable steps for us to take.

[2021-05-19 15:48] #9194 closed

[2021-05-19 23:26] k-rush commented on #9265
@Ric could you help me repro this issue? I'm seeing the response as updating when I change the warm store config:

[code]

[2021-05-20 19:11] anthony-c-martin opened #14504 "Schema validation errors generating Bicep Types for storageimportexport"
The following validations are flagging errors when running the latest autorest (`3.2.0`, core version `3.4.2`) for `specification/storageimportexport/resource-manager/readme.md`:

[code]

[2021-05-20 23:01] k-rush commented on #9265
Hey @jiasli - I just got off a call with @riserrad and we were unable to repro this issue anymore, We see provisionig state `Updating` whenever we update the warm store configuration:

[code]

Please reopen this issue if it's reproduceable with the current CLI version.

[2021-05-20 23:01] #9265 closed

[2021-05-21 15:01] jphines57 commented on #14037
Any update? Still having this problem.

[2021-05-21 18:39] ifeoluwaokunoren commented on #8097
Issue fixed with this PR: https://github.com/Azure/azure-rest-api-specs/pull/13936

[2021-05-21 18:39] #8097 closed

[2021-05-21 22:45] tringuyen-yw commented on #8295
How come this issue is closed? As of 2021-05-20  the page [Azure REST API - Create Certificate](https://docs.microsoft.com/en-us/rest/api/keyvault/createcertificate/createcertificate#x509certificateproperties) still missed the info related to `x509_props.basic_constraints`. This issue shows a JSON https://github.com/Azure/azure-cli/issues/18178 which defines the X509v3 Basic Constraints having the

[2021-05-21 22:53] ifeoluwaokunoren commented on #8780
Swagger Updated in this PR: https://github.com/Azure/azure-rest-api-specs/pull/9185

[2021-05-21 22:53] #8780 closed

[2021-05-21 22:55] ifeoluwaokunoren commented on #2856
We're tracking this issue via https://github.com/Azure/azure-rest-api-specs/issues/8092

[2021-05-21 22:55] #2856 closed

[2021-05-22 00:24] ifeoluwaokunoren commented on #7204
We actually did fix this in this PR: https://github.com/Azure/azure-rest-api-specs/pull/8524, but it got reverted. So I'd be following up to see why the change was reverted.

[2021-05-22 18:40] heaths commented on #8295
@sebansal, @jlichwa is `basic_constraints` supported in the REST API? We can add this to the SDK, but it has to be in the swagger properly.

[2021-05-24 07:29] PhoenixHe-msft commented on #14504
@anthony-c-martin Should be fixed by https://github.com/Azure/azure-rest-api-specs/pull/14278

[2021-05-24 13:22] anthony-c-martin commented on #14504
Thanks @PhoenixHe-msft! Closing this issue as the PR has been merged.

[2021-05-24 13:22] #14504 closed

[2021-05-24 15:13] AliAllomani opened #14529 "Microsoft.Web/certificates: tags field does not get updated / returned"
API Version: 2020-06-01 (Tested also on 2020-12-01)

As per the specification on

* https://docs.microsoft.com/en-us/rest/api/appservice/certificates/createorupdate
* https://docs.microsoft.com/en-us/rest/api/appservice/certificates/get

it should be possible to define `tags` field, but that has no effect.

also, in the response it seems there is a `properties.tags` field, which is always null and

[2021-05-24 16:00] AliAllomani commented on #14529
with additional tests found that:

* removing `properties.canonicalName` from the PUT request causes `tags` to be updated and returned by GET request, however does not return `tags` as part of PUT response body.

* adding `properties.canonicalName` to the PUT request causes `tags` field *NOT* to be updated and returns the previously set `tags` field

[2021-05-24 16:39] jlichwa commented on #8295
+ @RandalliLama if creating certificate with setting "basic_constraints" is supported. My understanding that since it is not documented in swagger, it is not supported today.

[2021-05-25 00:21] anuchandy opened #14534 "Remove all Formatting from Map swagger"
There is a lot of formatting in the swagger (**, \n, etc..) this will break SDK documentation, these need to be removed, creating this issue to track this work item.

[2021-05-25 16:16] tringuyen-yw commented on #8295
@jlichwa [18178 az keyvault certificate create unable to set X509 Certificate properties Basic Constraints CA = true](https://github.com/Azure/azure-cli/issues/18178) proves that a REST API call is able to create a x509 CA cert WITH basic constraints having property `CA: true` WORKING (while the same operation using Azure CLI could not.

I think that it is rather the swagger test is not up-to-date

[2021-05-25 16:27] jlichwa commented on #8295
@tringuyen-yw  we don't see any public documentation, no support on Portal or SDKs, so it is unlikely it is fully released, well tested, covering all scenarios option.

[2021-05-25 17:42] jlichwa commented on #8295
It seems like there is feature request here: https://github.com/Azure/azure-rest-api-specs/issues/11962#issuecomment-827181465
#please-close

[2021-05-25 17:42] #8295 closed

[2021-05-26 02:44] neil-yechenwei opened #14548 "Network.PeerExpressRouteCircuitConnections_Get API cannot get the existing peer express route circuit connection"
After tested, we found Network.PeerExpressRouteCircuitConnections_Get API cannot get the existing peer express route circuit connection and throw below error message. Seems it's an issue. Please have a look. Thanks.

Error message:
[code]

Repro steps:
1. Create Resource Group
2. Create ExpressRoute Circuit A
3. Create ExpressRoute Circuit B
4. Create ExpressRoute Circuit Peering A for ExpressRout

[2021-05-26 12:56] tringuyen-yw commented on #11962
In #18178 there is a  code example using a REST request to set Basic Constraints CA=true. Not sure why but the REST API seems to have support for setting x509v3 Basic Constraints.

[2021-05-26 16:32] bgmonroe commented on #3457
Without Python support, automating the deployment and lifecycle of Python-based automation runbooks is impossible.  I've no interest in sinking the time/effort into refactoring code to PowerShell so I guess I'll have to look elsewhere for my automation needs.

[2021-05-26 17:16] anthony-c-martin opened #14555 "Microsoft.DataFactory API version 2017-09-01-preview contains an enum with type "object""
This causes Autorest.Bicep to throw a FATAL error as it's unable to process the enum field:
[code]

This looks like an accidental authoring error:
https://github.com/Azure/azure-rest-api-specs/blob/1b0ed8edd58bb7c9ade9a27430759527bd4eec8e/specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/entityTypes/Pipeline.json#L1149-L1165

In the stable version, it has

[2021-05-26 18:51] mikemowgli commented on #3457
Just do like everyone else: use Azure functions instead

[2021-05-26 19:22] aristosvo opened #14557 "BadRequest when Create Or Update Host Secret (aka Api Key) for Function App"
### Bug Report

- What happened?
I think the best way to describe the bug is by pointing towards a blog which explains how to circumvent this bug: https://tomaszoledzki.eu/2020/07/24/badrequest-error-function-app-create-or-update-host-secret/.

Using the Go SDK I want to create/update a Host Secret for a Function App:
[code]

The response is like this:

[code]
- What did you expect or want to happ

[2021-05-26 20:50] tjegbejimba commented on #13136
Fized here https://github.com/Azure/azure-rest-api-specs/pull/13492

[2021-05-26 20:50] #13136 closed

[2021-05-27 01:06] ifeoluwaokunoren commented on #7204
New PR to fix: https://github.com/Azure/azure-rest-api-specs/pull/14562

[2021-05-27 03:00] zhenglaizhang commented on #14557
@ArcturusZhang can you help take a look if it's an issue in go SDK?

[2021-05-27 06:43] aristosvo commented on #14557
@zhenglaizhang Sorry to interrupt here, trying to save you time here. The documentation shows the same: https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdatehostsecret#request-body. The specs are wrong, the mentioned blog points that out already.

[2021-05-27 12:48] jazelenk opened #14572 "Microsoft.CostManagement swagger incorrect"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json

QueryDatasetConfiguration shows a "columns" option. The Microsoft.CostManagement team says that no such option exists. Indeed, attempting to use it fails.

https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cos

[2021-05-27 23:11] JeffreyRichter commented on #10943
Here's what I suggest: change the swagger so that, for this enum, modelAsString is set to true. This will break many SDKs but you're probably going to break them in the future anyway is you ever add or remove a SKU. And then, document that clients should do a case-insensitive comparison on these strings.

[2021-05-28 02:29] AdamCoulterOz commented on #13115
Can the solution for this be to update the given `Retry-After: 600` to `Retry-After: 5`? This is what the Azure portal UI does anyway. It needs to be updated for both PostresSQL and MySQL providers.

[2021-05-28 18:46] ifeoluwaokunoren commented on #7204
PR merged: https://github.com/Azure/azure-rest-api-specs/pull/14562

[2021-05-28 18:46] #7204 closed

[2021-05-29 10:48] Karl90 commented on #2255
Dear All,

Have you reviewed this key feature?

Note that several large organizations relies on the Data Capture Feature using the Azure DL as the (main) destination for data management.
Since this is possible through the Azure Portal, it sounds fair to add its support on the Azure SDK for Go, in this way we would be able to instrument its configuration in a declarative/automatic way instead of in

[2021-05-31 03:42] ArcturusZhang commented on #14557
The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/WebApps.json#L22085) defines itself with no level of `properties`, therefore the root cause of this is a mistake in swagger.

[2021-05-31 07:12] shawnxzq commented on #14555
@anthony-c-martin Stable version is the one we are currently using, and we don't invest in the old version any more.

[2021-05-31 14:12] Karl90 commented on #2255
Hi All,

As per Microsoft's inputs, we should also report this through the "feedback" portal.
I've raised [it](https://feedback.azure.com/forums/911458-event-hubs/suggestions/43538361--eventhubs-support-for-capturing-to-azure-data-la), feel free to add your vote.  The more votes we have, the most likely it's going to be implemented.

Note that this is only available on the SDK for .Net and ARM, it

[2021-06-01 23:49] duckfez opened #14630 "Microsoft.Storage is "Not Applicable" description for properties.encryption still accurate?"
https://github.com/Azure/azure-rest-api-specs/blob/603a4b41fe1100e273b79ef2de752710af724648/specification/storage/resource-manager/Microsoft.Storage/stable/2021-04-01/storage.json#L2504

It seems to me that with the addition of [Infrastructure Encryption](https://docs.microsoft.com/en-us/azure/storage/common/infrastructure-encryption-enable?tabs=portal) that calling the whole `properties.encryptio

[2021-06-03 00:17] #9144 closed

[2021-06-03 13:08] Dave14393 commented on #11986
Is there any update on this?

[2021-06-03 15:02] Vaibhav-Agar commented on #14459
@avirishuv can you please have a look?

[2021-06-03 16:04] suhas92 commented on #14180
This issue is resolved now, the PR fixing the SKU is now merged.

[2021-06-03 16:04] #14180 closed

[2021-06-03 16:55] ecfan commented on #11986
Ping @Azure/azure-logicapps-team

[2021-06-03 21:00] olayemio commented on #13934
We are targeting to have this roll out by end of August

[2021-06-03 22:09] jongio opened #14667 "Add Cognitive Services SKU Enum"
Right now when you define a resource in bicep you do not get intellisense for sku

![image](https://user-images.githubusercontent.com/2163001/120717946-502cc700-c47d-11eb-8e78-2dc721623b8f.png)

Let's add support for that in the swagger to assist the user in selecting a sku, even if there only is one option, such as 'S'

azsdke2e
azsdke2e2

[2021-06-03 22:10] jongio opened #14668 "Add Cognitive Services Kind Enum"
Right now when you define a resource in bicep you do not get intellisense for kind

![image](https://user-images.githubusercontent.com/2163001/120718227-cf21ff80-c47d-11eb-8650-a67fd7ebdadf.png)

Let's provide help the user by providing them a list of kind options.

azsdke2e
azsdke2e2

[2021-06-03 22:12] jongio opened #14669 "CheckSkuAvailability.json has old SKU"
This line:

https://github.com/Azure/azure-rest-api-specs/blob/333cc9e7a6afe3509f4411c9846510a9fdc32eec/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/CheckSkuAvailability.json#L21

            "skuName": "S0",

Should be

"skuName": "S"

azsdke2e
azsdke2e2

[2021-06-03 22:13] jongio opened #14670 "Add new Cognitive Services SKUs to 2021-04-30"
Version 2021-04-30 needs to be updated with new SKUs
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2021-04-30

azsdke2e
azsdke2e2

[2021-06-04 11:06] nitmatgeo opened #14677 "NSG Rules bulk deletion not working -programmatically and manually"
I created a 8 NSG Rules and selected 6 --> delete. ooks like even via portal unable to delete the NSG rules as a bulk as it threw error-
![image](https://user-images.githubusercontent.com/71626368/120792210-c51e0080-c552-11eb-8cc7-cddb2be8ca25.png)

[Refer here for more details on this error](https://github.com/terraform-providers/terraform-provider-azurerm/issues/11521#issuecomment-854504141)

[2021-06-04 17:20] RGKarthik opened #14679 "Folder structure change for FarmBeats"
Can the folder structure for FarmBeats REST APIs be changed from 'azure-rest-api-specs/specification/agfood' to 'azure-rest-api-specs/specification/agrifood'.

We are using agrifood in all the public SDK repos. Hence for the sake of consistency, agrifood would be preferred.

[2021-06-04 17:20] RGKarthik commented on #14679
cc: @ramya-rao-a

[2021-06-04 18:42] ritugoyal12 opened #14681 "Support for ServiceAllowedNextValue in Monitor Autoscale Rule"
Can you please add support for scale action type to allow value "ServiceAllowedNextValue" in monitor autoscale rule. The servicebus namespace messaging units increment in 1,2,4,8,16 and simple increment doesn't work here.  In the service namespace scaling console,  I can achieve this selecting "Increase" in under Action ---> operation.

<img width="566" alt="Servicebus namespace scaling2" src="htt

[2021-06-04 21:05] markweitzel opened #14682 "Build out revised guidelines focusing on Optimistic Concurrency"
* Conditional Access
* Optimistic Concurrency
* Etags

[2021-06-04 21:07] markweitzel opened #14683 "Build out revised guidelines focusing on LROs"
* Long Running Operations
** e.g. jobs, cascading delete

[2021-06-04 21:08] markweitzel opened #14684 "Build out revised guidelines on Distributed Tracing"
* Distributed Tracing
* Service Telemetry
* How to collect client side telemetry

[2021-06-04 21:09] markweitzel opened #14685 "Build out revised guidelines on "BYOS""
* Bring your own storage
* Getting data into your service
* Working with blobs

[2021-06-04 21:09] markweitzel opened #14686 "Build out revised guidelines on collections"
* Working with collections

[2021-06-07 08:04] hdost commented on #3457
Yea this can probably be closed at this point.

[2021-06-07 14:03] Karl90 commented on #2255
Hi All,

it turns out that MS give us no ETA to have "this feature" on the SDK for Go, then tf is affected due to this lack of support on the non "main" SDK.

![image](https://user-images.githubusercontent.com/34442949/121030164-86ce4e80-c7a9-11eb-8342-bd95f55c9917.png)

I'd say that the best that we can do is to [vote for it](https://feedback.azure.com/forums/911458-event-hubs/suggestions/4353836

[2021-06-07 14:08] mcalnd70 commented on #2255
I'm slightly concerned long-term about Terraform's reliance on the Go SDK from Microsoft when using it to deploy to Azure. With their "bicep" invention it's disappointing they didn't join up with Terraform to make it better.

Are we saying that if the Go SDK drops further back and potentially gets retired, Terraform for Azure is over? Even for this request, 3 years in the making and counting...

[2021-06-07 19:47] matthchr opened #14699 "Linter incorrectly flags properties with description as "No description""
The linter flags fields that look like this as having no `title` or `description`:
[code]

In reality, if you look at the definition of these refs:
[code]

and
[code]

They have a title and description.

I do understand that many times the `title` or `description` of a complex type is not appropriate to put on the property where that type is used. But in the case of fields like `ContainerServiceOS

[2021-06-07 19:47] matthchr commented on #14699
You can see an example of this here: https://github.com/Azure/azure-rest-api-specs/pull/14696

[2021-06-08 07:47] #14432 closed

[2021-06-08 15:33] chihhaohuang opened #14715 "List protectionContainers doesn't work"
I've tried the API on https://docs.microsoft.com/en-us/rest/api/backup/2021-02-10/backup-protection-containers/list and got 400 error. There is an issue with this API.

{
  "error": {
    "code": "BMSUserErrorInvalidInput",
    "message": "Input provided for the call is invalid\r\nPlease check the required inputs",
    "target": null,
    "details": null,
    "innerError": null
  }
}

[2021-06-09 01:00] ronaknnathani commented on #13631
Faced the same issue. I am trying an update on an AKS cluster via Terraform.

[2021-06-09 01:07] ronaknnathani commented on #13501
Same error when using azurerm v2.60.0 with Terraform.

[2021-06-09 01:25] fabiendelpierre commented on #13631
@ronaknnathani have you tried upgrading your azurerm provider to v2.57.0+? [This](https://github.com/terraform-providers/terraform-provider-azurerm/pull/10994) fixed the problem for us.

[2021-06-09 01:36] yupwei68 opened #14728 "Postgresql Flexible Server Setting Vnet breaks"
Related to customer issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/12053 .

When setting a vnet in Postgresql Flexible Server, it returns "MissingRequiredParameter" error.
It previously worked. Starting from 4th June, it returns error.

PUT /subscriptions/.../resourceGroups/yup-ResourceGroup/providers/Microsoft.DBForPostgreSql/flexibleServers/example-psqlflexibleser

[2021-06-09 03:26] ronaknnathani commented on #13631
@fabiendelpierre I tried using azurerm provider v2.60.0 and still seeing the same issue when upgrading AKS from 1.18.14 -> 1.19.9.

[2021-06-09 05:00] cuntoulishifu commented on #10808
I run into the same problem...

[2021-06-09 07:44] Aschenbecher commented on #13631
same here with provider version 2.61 :(

[2021-06-09 12:59] Karl90 commented on #2255
I'm absolutely agree with you, why not join efforts to produce a reliable solution?

Well, according to[ ms bicep project](https://github.com/Azure/bicep):
![image](https://user-images.githubusercontent.com/34442949/121357545-2dddf200-c932-11eb-8286-c2fcd6a48b5f.png)
They're investing as much as possible to provide us the best experience possible while using tf :-)

From my perspective the issue i

[2021-06-09 17:55] jaspkaur28 commented on #10808
Deferred to CY2021 Q3 due to other priorities. Will pick up this improvement July-Aug timeframe.

[2021-06-09 22:47] avirishuv commented on #11805
Apologies for the delay here, the doc update is still pending, I will confirm here once the doc update is completed.

[2021-06-10 06:10] ramaganesan-rg commented on #14093
Summary:  Microsoft.Subscription api is checking on the scope supplied on the request. However, the user assigned the permissions on different scope. Then, clearly this is user error.

Right documentation link to provide permissions at right scope:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/assign-roles-azure-service-principals#find-your-spn-and-tenant-id
https://docs.mi

[2021-06-10 06:10] #14093 closed

[2021-06-10 21:27] kaovd commented on #14078
I see this got removed from needs triage but still has no assigne - is there any attention to this?

[2021-06-10 23:29] jochav commented on #14572
Hi there, we are looking into it right now, thanks for the heads up @jazelenk

[2021-06-11 09:59] LaurentLesle commented on #11899
Any updates on this issue? It is impacting Terraform Azure Firewall Policies and force the tags to be lowercase. Most of the customers are using a combination of Upper and Lower. Creating some conflicts when Azure Policies enforce some tags with Upper and Lower case.

[2021-06-11 16:46] vijayrajah commented on #11849
hi @tujamg . Is there an update on this?

[2021-06-14 07:14] NestorRV commented on #14529
Any update on this @raych1?

[2021-06-14 09:29] mikhailshilkov commented on #13167
What's the status here? The problem is still there... Could you please reopen the issue?

[2021-06-14 23:28] anthony-c-martin opened #14801 "Microsoft.Insights/components - retentionInDays incorrectly marked `readonly`"
Originally reported under https://github.com/Azure/bicep/issues/3212. On testing, the service actually allows this value to be modified via a PUT.

See https://github.com/Azure/azure-rest-api-specs/blob/b5f8384dac84b9a5b3870507502999942e6d9b05/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-02-02-preview/components_API.json#L552-L556

This may also affect other a

[2021-06-15 02:09] dw511214992 opened #14807 "[Resources] Rest Api Defined in Swagger Returns 404 by Service"
This issue originates from https://github.com/Azure/azure-sdk-for-js/issues/15460.
The swagger defines a rest [api](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2021-01-01/resources.json#L37-L67), however, the service returns 404 error when call this api:
[code]

[2021-06-15 02:17] zhenglaizhang commented on #14807
@shenglol pls help take a look at the issue

[2021-06-15 03:17] aim-for-better commented on #6505
fixing

[2021-06-15 08:37] adityabalaji-msft commented on #14715
Thank you for reaching out. Adding @pratimaupadhyay02 to investigate

[2021-06-15 08:59] blueww commented on #14630
@duckfez
Thanks for raising the issue!
The   Account properties "encryption" is useful, NOT deprecated.

I will contact the Swagger owner to see how to update the description.

[2021-06-15 09:00] yupwei68 commented on #11319
Hi, this problem still exists.
Though service team has provided a workaround, which is to wait 30 seconds after table service operation.
This workaround could not be accepted by Hashicorp for this is not durable and it's against arm rule for operation. (The operation should be completed before we receive the response or LRO polling response).

New reproducing log:
PUT /subscriptions/.../resourceGr

[2021-06-15 09:17] blueww commented on #14630
@HimanshuChhabra
Would you please help to look at the issue?

[2021-06-15 12:51] timja opened #14820 "SwiftVirtualNetworkConnectionSlot removed in 2020-12-01 spec Microsoft.Web"
Hello,

I'm trying to upgrade terraform to the latest available API version for Microsoft.Web

The API for "Web Apps - Create Or Update Swift Virtual Network Connection Slot", seems to be not available:
https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/create-or-update-swift-virtual-network-connection-slot

I previously raised https://github.com/Azure/azure-sdk-for-go/issues/14690 as I

[2021-06-15 12:51] timja commented on #14820
Looping in people from the previous thread:
@madsd @panchagnula

[2021-06-15 15:06] shenglol commented on #14807
Will take a look.

[2021-06-15 16:20] avirishuv commented on #13164
quick update: the fix is targeted for Q3 2021 for this issue. cc @jw-msft

[2021-06-15 17:20] rohithegde commented on #13631
I had AKS 1.20.5 and Terraform 0.14.7 from before and didnt change them.
Upgrading to AzureRM provider 2.57.0 worked for me.

[2021-06-15 18:33] anthony-c-martin opened #14824 "A number of Microsoft.Web properties seem to be incorrectly declared as resources"
https://github.com/Azure/azure-rest-api-specs/blob/bf2b04461fa9bca79ac65c502017b66c88a6aad1/specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/WebApps.json#L24748-L24767

AuthPlatform, GlobalValidation, IdentityProviders, Login, HttpSettings have all been modeled as resource objects with properties contained inside an additional "properties" container, leading Bicep to generate typ

[2021-06-15 19:24] anthony-c-martin opened #14827 "Microsoft.Insights/webtests 2020-10-05-preview is declared but not supported by the service"
Originally raised under https://github.com/Azure/bicep/issues/3232

2020-10-05-preview was added ~8 months ago via https://github.com/Azure/azure-rest-api-specs/pull/11068, but is still not publicly accessible.

[2021-06-15 19:25] avirishuv commented on #14459
Following up to investigate this.

[2021-06-15 19:35] mikhailshilkov opened #14828 "Microsoft.ServiceFabric version 2021-05-01 is missing"
It's mentioned in the docs:

- https://docs.microsoft.com/en-us/azure/service-fabric/how-to-managed-cluster-configuration#enable-automatic-os-image-upgrades
- https://docs.microsoft.com/en-us/azure/service-fabric/how-to-managed-identity-managed-cluster-virtual-machine-scale-sets#add-managed-identity-properties-to-node-type-definition

But not present in this repo: https://github.com/Azure/azure-re

[2021-06-16 00:59] tjegbejimba commented on #14208
Fix has been merged

[2021-06-16 00:59] #14208 closed

[2021-06-16 08:10] yupwei68 commented on #11319
This could be reproduced in version 2021-01-01
PUT /subscriptions/85b3dbca-5974-4067-9669-67a141095a76/resourceGroups/acctestRG-storage-210616150844028594/providers/Microsoft.Storage/storageAccounts/unlikely23exst2acct13l8a/tableServices/default?api-version=2021-01-01 HTTP/1.1
{"properties":{"cors":{"corsRules":[{"allowedOrigins":["http://www.example.com"],"allowedMethods":["GET"],"maxAgeInSeconds

[2021-06-16 14:54] nitmatgeo commented on #14677
Any update please?

[2021-06-16 16:21] ewakost commented on #14093
The issue was solved by Microsoft support, there was a problem in missing rights on the Enrollment Account by Account Owners.

[2021-06-17 06:38] jaspkaur28 commented on #12945
@sewillia-msft  : Thanks for the feedback. We will take this up as an improvement area for the ARM API spec , however , deferring it to Q3\Q4 CY21 due to other over-arching priorities in the service.

[2021-06-17 06:43] jaspkaur28 commented on #13534
Thanks for the feedback. We will take this up as an improvement area for the API spec , however , deferring it to Q3 CY21 due to other over-arching priorities in the service.

[2021-06-17 11:33] sabrishami commented on #8131
I'm trying to retrieve billing data from Azure usage Rest API using Data factory. in each pipeline I just get 1000 records, could you help me with how can I get all data for a filtered date? I think it somehow the same as your problem @bnepal.

[2021-06-17 14:33] mikhailshilkov opened #14874 "ApplicationInsights Workbook: etag is described as a dictionary instead of a string"
The `etag` of the workbook's `Resource` is described as a dictionary of strings (same as `tags`):

https://github.com/Azure/azure-rest-api-specs/blob/752ca4a79d1e587d95567a62d98b63f55bd6fced/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/workbooks_API.json#L464-L467

While the actual API returns a plain string:

[code]

Please change `etag` to

[code]

[2021-06-17 15:49] alex-frankel commented on #11986
Since this is taking so long to resolve, we are prioritizing https://github.com/Azure/bicep/issues/3000 as a workaround. Current ETA for the swagger fix is sometime between now and end of CY2021..

The bicep workaround we are hoping to get to in our 0.5 release.

[2021-06-17 16:24] avirishuv commented on #13271
The docs have been updated with the correct link: https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines/create-or-update#osprofile

Closing this issue, please feel free to reopen if you have additional questions on this topic.

[2021-06-17 16:24] #13271 closed

[2021-06-17 17:33] asgoe opened #14878 "Query: Azure Storage failover for a RA-GRS account"
We are working on creating scripts to failover our storage accounts (RA-GRS configuration). The failover documentation mentions that after failover the account is configured as LRS and needs to be re-enabled as RA-GRS. We use the Set-AzStorageAccount cmd (after failing over the account to the secondary region) to covert the account back from LRS to RA-GRS. Few questions about this flow:
1) When th

[2021-06-17 22:01] kaovd commented on #14213
This is also broken in 2021-03-01-preview API Spec @anat-gilenson
![image](https://user-images.githubusercontent.com/29356754/122477472-af332580-cfbf-11eb-9c2c-1dab5bc5fb79.png)

[2021-06-18 00:25] lmazuel commented on #14679
Done in https://github.com/Azure/azure-rest-api-specs/pull/14735

[2021-06-18 00:25] #14679 closed

[2021-06-18 04:08] blueww commented on #14878
@asgoe
As we already follow up this issue with issue https://github.com/Azure/azure-powershell/issues/15290 and mail, I will close this one.
Next time if you face the server issue, you can raise it in portal or here, instead of Powershell repo.

[2021-06-18 04:08] #14878 closed

[2021-06-18 09:55] WillParry opened #14891 "Microsoft.Web/certificates - Certificates - List: doesn't always return the correct resourcegroup matching the resource group in the resourceid"
API Versions: 2019-08-01, 2020-12-01, 2021-01-01

Document Links:
https://docs.microsoft.com/en-us/rest/api/appservice/certificates/list
https://docs.microsoft.com/en-us/rest/api/appservice/certificates/list-by-resource-group

I have 9 resources of type "Microsoft.Web/certificates" each in a different resource group but a single subscription. When I make the API call to

`GET https://management.az

[2021-06-18 13:16] markweitzel commented on #14686
Working this through the PR on the api guidelines repo:
https://github.com/microsoft/api-guidelines/pull/243

[2021-06-18 13:16] #14686 closed

[2021-06-18 16:44] dkirrane commented on #1499
I hit this from terraform fairly often. And it even happens from the portal sometimes. For example when I tried to delete Redis from the portal I got this
![image](https://user-images.githubusercontent.com/1280116/122592903-d0961f00-d05c-11eb-8aa0-365ddf652264.png)

[2021-06-18 20:53] sabrishami opened #14895 "Retrieve more than 1000 records from Azure Usage APIs"
Hi,

I'm trying to retrieve usage data using rest API in the Azure data factory.

However, I've defined  AbsoluteUrl=$.value.nextLink (for pagination rule) in the source section. but still,  just 1000 records have been returned.

Could anyone help me?

[2021-06-18 22:19] WolfspiritM commented on #1499
There seems to be some problem with the redis api here, too. Getting the state (even without any change) via terraform constantly returns a 504:
```Error: retrieving Redis Cache "redis..." (Resource Group "..."): redis.Client#Get: Failure sending request: StatusCode=504 -- Original Error: context deadline exceeded```

[2021-06-21 03:10] leni-msft commented on #14677
@tzwlai @dabowma Would you be able to take look at this issue or route to correct person?

[2021-06-21 05:29] Drewm3 commented on #10033
Closing this item because it is now "by design" that this list is frozen and will become further and further out of date until the list is formally removed at the end of Dec. 2023.

[2021-06-21 05:29] #10033 closed

[2021-06-21 07:27] ilayrn commented on #14020
Adding @rajmusuku, @jorgbaca who edited the swagger file recently.

[2021-06-21 20:30] najohnson-msft opened #14913 "API Management does not mark User - Generate Sso Url as depricated."
This ONLY generates a URL for the legacy portal, not the current portal, which is misleading to customers wanting to implement this method.

Can we add a depricated flag and note on this command?

[2021-06-21 20:43] yangyuan commented on #14670
As explained via Team, due to the nature of Cognitive Services accounts. We dont define Sku and Kind as Emun.

[2021-06-21 20:43] #14670 closed

[2021-06-21 20:48] yangyuan commented on #14668
As explained via Teams, due to the nature of Cognitive Services accounts. We dont define Sku and Kind as Enum.
Every region has it's own available Skus/Kinds and combinations. Defining them as enum will cause confusing.
Meanwhile, both Sku/Kind need the flexibility to add and delete and the list doesn't sync with API versions. If we define them as enum we will need a lot of breaking changes.
Both

[2021-06-21 20:48] #14668 closed

[2021-06-21 20:48] yangyuan commented on #14667
As explained via Teams, due to the nature of Cognitive Services accounts. We dont define Sku and Kind as Enum.
Every region has it's own available Skus/Kinds and combinations. Defining them as enum will cause confusing.
Meanwhile, both Sku/Kind need the flexibility to add and delete and the list doesn't sync with API versions. If we define them as enum we will need a lot of breaking changes.
Both

[2021-06-21 20:48] #14667 closed

[2021-06-22 01:36] neil-yechenwei opened #14918 "Security.AssessmentMetadata API shouldn't return `Unknown` when `categories` isn't specified in the request body"
After tested, seems Security.AssessmentMetadata API always returns `Unknown` when [`categories`](https://github.com/Azure/azure-rest-api-specs/blob/c059fb47f87a35ce5a90631883dfba8f01a41d8e/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessmentMetadata.json#L317) isn't specified in the request body. Seems it doesn’t make sense. I think API shouldn’t return default v

[2021-06-22 04:59] neil-yechenwei opened #14923 "SignalR Service API returns additional type `Trace` but it doesn't include in type list"
After checked, seems SignalR Service API returns additional type `Trace` in the response but it isn't involved in [signalr request type list](https://github.com/Azure/azure-rest-api-specs/blob/c059fb47f87a35ce5a90631883dfba8f01a41d8e/specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/signalr.json#L1418). Maybe service team have to make a fix to add this additional ty

[2021-06-22 06:16] neil-yechenwei opened #14926 "SignalR Service API returns default value `EnableLiveTrace` for feature.flag but it doesn't include in flag list"
After checked, seems SignalR Service API returns default value `EnableLiveTrace` for feature.flag but it doesn't include in [feature flag list](https://github.com/Azure/azure-rest-api-specs/blob/c059fb47f87a35ce5a90631883dfba8f01a41d8e/specification/signalr/resource-manager/Microsoft.SignalRService/stable/2020-05-01/signalr.json#L1298). Maybe service team have to make a fix to add this feature fla

[2021-06-22 07:45] tombuildsstuff commented on #8353
ping @kenieva

[2021-06-22 10:10] dkirrane commented on #1499
Hit the same issue again to day creating Redis cluster

[code]

And from the Portal I see

![image](https://user-images.githubusercontent.com/1280116/122906751-66c29180-d34a-11eb-853b-ea567f0ed27d.png)

[2021-06-22 11:13] bhordupur commented on #1499
We are having this issue as well, in 10-15 tries it will work once.

`: redis.Client#ListKeys: Failure sending request: StatusCode=504 -- Original Error: context deadline exceeded`

[2021-06-22 11:43] jyotisingh commented on #1499
Same issue as [this comment](https://github.com/Azure/azure-rest-api-specs/issues/1499#issuecomment-865892944) for us. Recently we started using `Azure Cache for Redis` and provision the server using terraform scripts. 6 out of 10 times the script fails with the following error:
[code]
Our provisioning scripts run upon every commit so we have this failure multiple times in a day. Only solution at

[2021-06-22 14:17] steveharrington1 commented on #11041
@mepand is there any update here? We'd like to add this feature in the next few months, and identifying the specific entity will enable a more complete experience

[2021-06-22 16:50] kenieva commented on #8353
No updates at the current moment. We do not have a public issue tracking system at the moment.

[2021-06-22 17:37] leezen opened #14936 "Subnet Delegation example doesn't actually provide delegation parameters"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/examples/SubnetCreateWithDelegation.json doesn't actually provide any delegation parameters in the inputs.

[2021-06-22 19:58] anthony-c-martin opened #14941 "Add typed definitions to LanguageConstants.CreateResourceProperties()"
We should be able to do slightly better validation on types for missing resources by exposing a common set of base types.

Some of these base types are defined here (note - not fully complete): https://github.com/Azure/azure-rest-api-specs/blob/78c2a3fb24bfd4cd3372520bb9df203561c71487/specification/common-types/resource-management/v2/types.json#L50-L84

[2021-06-23 02:09] chenkennt commented on #14926
@juniwang please help take a look

[2021-06-23 02:19] juniwang commented on #14926
which api-version are you using?

[2021-06-23 03:52] juniwang commented on #14926
`EnableLiveTrace ` was added to new api-versions. But looks like we missed api-version check while adding it. So it's acctually returned in all api-versions. Adding it to older version spec sounds like a breaking change, any suggestion?

[2021-06-23 06:04] tombuildsstuff commented on #8353
@kenieva ok thanks - is there an estimated ETA?

[2021-06-23 15:58] WillParry commented on #14891
@leni-msft might this be related to #1463 as the two affected API calls are calls which return certificate collections? 1463 is an old issue, but yet still open. I have no idea how long my issue has been present, but it could easily have been an issue back in 2017/2018. cc @azureappservicecli

[2021-06-24 01:55] yupwei68 opened #14961 "API Management Purge ServiceNotFound"
Related to https://github.com/terraform-providers/terraform-provider-azurerm/issues/11061

When I try to purge a soft-delete of API Management service, it returns "ServiceNotFound" error.

Details in https://gist.github.com/yupwei68/fd9439e54c1f2d70b3d8318226dac766.

[2021-06-24 01:56] yupwei68 commented on #14961
The service team has replied that this will be fixed and released in a couple of weeks.

[2021-06-24 04:14] jdkrobinson commented on #11085
Following. Also need an update. Cheers.

[2021-06-24 12:13] shawnxzq commented on #14895
@sabrishami This forum is for api/SDK related issues, your issue is more related to the rest connector area, is it possible for you to open a support case? In this way, we will have more experts in different area to help with committed SLA, thanks!

[2021-06-24 12:48] WillParry commented on #14891
After looking at #1463 I've looked further at the following two links to check the JSON swagger matches with the output of the API calls I make on API Version 2021-01-01.

[https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/Certificates.json](url)
[https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/r

[2021-06-25 05:51] leni-msft commented on #14941
Hi @anthony-c-martin, at which phase do you expect the "validation on types for missing resources" happen? static validation(like linting) or dynamic validation(like [LiveValidation](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/288/Swagger-Completeness-and-Correctness?anchor=introduction-to-live-validation-service)) ?

[2021-06-25 09:41] jeicob22 commented on #1499
Similar situation like the one in [this comment](https://github.com/Azure/azure-rest-api-specs/issues/1499#issuecomment-865912254) here.

We don't modify the Redis quite often (max ~1 modification/year)... But this delays all the production infrastructure deployment and IaC testing as it (randomly) fails during the read of the redis clusters status in Azure, causing fails on the terraform plan pro

[2021-06-25 09:44] jeicob22 commented on #1499
When I say "[RANDOMLY](https://github.com/Azure/azure-rest-api-specs/issues/1499#issuecomment-868374393)", I want to say that there are some days on which we can't work on the IaC as this is blocking us 100%. Today we've been receiving that 504 error since 5 hours ago without any kind of success.

[2021-06-25 19:36] ctaggart opened #14995 "databricks duplicate package-2021-04-01-preview"
There are duplicate tags in the readme. There shouldn't be.

On June 9th, #13736 from @mvvsubbu added:

https://github.com/Azure/azure-rest-api-specs/blob/8dff86df71bee429af84ea4713288ef3cdd1db2f/specification/databricks/resource-manager/readme.md#L89-L97

On June 11th, #14745 from @bhmohant added:

https://github.com/Azure/azure-rest-api-specs/blob/8dff86df71bee429af84ea4713288ef3cdd1db2f/specifi

[2021-06-25 19:50] ctaggart opened #14996 "cosmos-db duplicate package-2021-06"
There are duplicate tags in the readme. There shouldn't be. Both created on June 14th in #14627 by @kavskalyan.

https://github.com/Azure/azure-rest-api-specs/blob/8dff86df71bee429af84ea4713288ef3cdd1db2f/specification/cosmos-db/resource-manager/readme.md#L34-L46

https://github.com/Azure/azure-rest-api-specs/blob/8dff86df71bee429af84ea4713288ef3cdd1db2f/specification/cosmos-db/resource-manager/re

[2021-06-26 01:21] jongio opened #15002 "Resource type "Microsoft.AppConfiguration/configurationStores/keyValues" does not have types available"
Getting this in my bicep file:

![image](https://user-images.githubusercontent.com/2163001/123497291-7f98a480-d5e1-11eb-9046-5ca949f491dd.png)

azsdke2e
azsdke2e2

[2021-06-26 01:21] jongio opened #15003 "Resource type "Microsoft.Web/sites/config" does not have types available"
Getting this error in my bicep file
![image](https://user-images.githubusercontent.com/2163001/123497409-2f6e1200-d5e2-11eb-829f-fc0f75727ddc.png)

azsdke2e
azsdke2e2

[2021-06-26 06:13] alan0609 opened #15005 "Azure Automation Account requires state"
This is a duplicate of [950](https://github.com/pulumi/pulumi-azure-native/issues/950#issue-930061817) as requested by @mikhailshilkov.

If I try to run up an Integration Account using the sample code from the Pulumi website (below) I get an error

error: autorest/azure: Service returned an error. Status=400 Code="InvalidIntegrationAccount" Message="The provided integration account definition is n

[2021-06-27 14:53] mikhailshilkov commented on #15005
Hi @alan0609

The issue that belongs to this repo:

The `state` property of a Logic Apps integration account is defined [here](https://github.com/Azure/azure-rest-api-specs/blob/8dff86df71bee429af84ea4713288ef3cdd1db2f/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L9230) and isn't marked as required. However, the service rejects a request if `state` isn't specif

[2021-06-28 03:23] leni-msft commented on #14891
@petrpod would you be able to take a look at this issue or route to correct person? thanks!

[2021-06-28 13:28] restfulhead commented on #1499
Our Terraform deployments started to fail today with a 504 error. We did not even make any changes, just updating the state by listing keys fails: `redis.Client#ListKeys: Failure sending request: StatusCode=504`. Very frustrating

[2021-06-28 15:01] WolfspiritM commented on #1499
According to azure support they have a "regional management plane issue in West Europe for multiple caches" and are aware of it and their Product Group is working on it

[2021-06-28 17:02] panchagnula commented on #14891
@leni-msft will take a look at this & respond back. Assigning to myself for now.

[2021-06-28 23:19] yangyuan commented on #14669
S0 is a available SKU for Face.
Note for Cognitive Services, different API Kinds have different available SKUs.

[2021-06-28 23:19] #14669 closed

[2021-06-29 03:04] shawnxzq commented on #14895
Provided the right channel for customer solve the issue, close it for now since no more response from customer.

[2021-06-29 03:04] #14895 closed

[2021-06-29 03:51] shawnxzq commented on #14555
Answered question and close it for now since no more response.

[2021-06-29 04:44] tombuildsstuff commented on #13115
I think the minimum `Retry-After` in the ARM Specification is 15 seconds, but that'd still be fine - @ArcturusZhang would you be able to reach out to the Service Team here?

[2021-06-29 13:49] markweitzel commented on #14682
Closing as redundant with: https://github.com/microsoft/api-guidelines/issues/257

[2021-06-29 13:49] #14682 closed

[2021-06-29 16:33] rvava commented on #1499
Thanks a lot @WolfspiritM, we had the same issue for the past 3 days! After reading your comment, we deployed it on France Central instead of West Europe and it worked at the first attempt !
Caution though, prices are not the same regarding the region.

[2021-06-29 19:07] qbast commented on #1499
This is not just modification - even reading cache status times out so this breaks any terraform module that includes cache resource since even 'refresh' operation cannot be completed

[2021-06-30 02:08] rajsell commented on #13115
@AdamCoulterOz would be great if you can post the request-id / correlation id that you get as part of your request. We will also investigate from our side why these operations are taking longer

[2021-06-30 02:46] neil-yechenwei opened #15030 "GlobalReach Connection's AuthorizationKey API returns "*****************" when it's changed from a valid value to null"
After tested, we found [GlobalReach Connection](https://github.com/Azure/azure-rest-api-specs/blob/68c2d7c5e56c4c70e46d7158f19cdbf29dbdbfc4/specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/expressRouteCircuit.json#L665)'s AuthorizationKey API returns "*****************" when it's changed from a valid value to null. After confirmed with service team, they will handle this

[2021-06-30 13:24] #14941 closed

[2021-06-30 14:38] AdamCoulterOz commented on #13115
quoted @rajsell

There is no problem when using the Azure Portal or API directly. The problem is with the `Retry-After: 600` (10 minutes) being returned by the API which is enforced by the auto rest golang sdk, causing Terraform to take the full 10 minutes to provision AAD Admin resources when its done in 5 seconds. This number `600` needs to be reduced to `15` on both the PostreSql and MySql APIs

[2021-06-30 16:30] DSTAlan opened #15040 "uiDefinition placement in Microsoft.Web/LogicAppsManagementClient when not using oAuth"
If I use the Azure Portal to look at the template for an azure Logic App Custom Connector configured to use an API KEY for security I see something like the following for the connectionParameters

[code]

This seems to match the 2015-08-01 preview api spec for a connectionParameter [line 620 here](https://github.com/Azure/azure-rest-api-specs/blob/91ac14531f0d05b3d6fcf4a817ea0defde59fe63/specifica

[2021-07-01 08:00] timja commented on #14820
PG has fixed it in the 2021-01-15 version only.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/WebApps.json

Will close this, I've asked for the SDK to be generated too.

[2021-07-01 08:00] #14820 closed

[2021-07-01 15:40] nitmatgeo commented on #14677
@leni-msft  @tzwlai  @dabowma
Will be helpful if you could investigate the issue; thanks in advance.

[2021-07-02 07:08] ElleTojaroon commented on #14891
@WillParry could you show us some responses from ListCertificates and ListCeritficatesByResourceGroup API with mismatching resource group please? Specifically what is the certificate thumbprint and what is the incorrect resource group showing in properties.resourceGroup?

[2021-07-02 19:03] StephenWeatherford opened #15069 "WebRP has incorrect typing of resources in swagger, leaving to poor intellisense experience in vscode"
See https://github.com/Azure/bicep/issues/3368.

In particular, Microsoft.Web/serverfarms should be serverFarms.  There might be others as well.

This is important for consistency but also for tooling - with the current incorrect typing, intellisense doesn't return any results in vscode if user type "farms".  Even if vscode changes this behavior, serverfarms would end up at the bottom of the intel

[2021-07-02 20:42] KarishmaGhiya opened #15071 "[monitor-query] Tracking issue to make the metricNames required in swagger"
The metricNames should probably be required in the swagger - for queryMetrics Method - `metrics.list` in the swagger

[2021-07-05 11:07] WillParry commented on #14891
@ElleTojaroon is it possible to share that internally? There is a new MS ticket raised for this issue now logged via our MSP / CSP. Reference is 2107050050001310. I'm then more than happy to share it, otherwise to post publicly, I'd need to obfuscate the resource details etc. Thanks for responding / reaching out, apologies I didn't spot your response earlier.

[2021-07-06 02:11] juniwang commented on #14923
`2020-05-01` is a very old version. The new type is included in newer api versions: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/signalr.json#L1960.

A new stable version is planning to be ready in Sept/Oct which will contain all new properties/APIs

[2021-07-06 08:56] nrjohnstone commented on #11764
I'm using the API via the Microsoft.Azure.Management.Consumption 3.0.2 package and am getting some strange behavior similar to this. I can use the filter and query by resource group and this works, "properties/resourceGroup eq 'devStuff'" and our subscription is a legacy one as the offer ends with a P.

The problem I have is the documentation (and the unit tests by the way - https://github.com/Azu

[2021-07-06 09:03] zhenglaizhang commented on #14995
@msaranga or @@mvvsubbu could you help take a look?

[2021-07-06 09:19] jianyexi commented on #14699
good capture @matthchr , will fix it in https://github.com/Azure/azure-openapi-validator/pull/246

[2021-07-06 18:29] MehaKaushik commented on #14996
Thanks for pointing this out. We will fix it right away,

[2021-07-06 22:17] anuchandy opened #15096 "Quantum: Feedback to revisit for later API versions"
The following comments were added while adding `2021-05-06-preview` version of the Quantum, but those are out of scope for the main change (support for patch-document) this apiVersion is introducing compared to previous preview version. Creating an issue to follow up on this when we add a new apiVersion (planned for next semester, contains API breaking change)

https://github.com/Azure/azure-rest-

[2021-07-06 22:23] asheniam commented on #10159
The dividePerInstance property is added to autoscale swagger and already reflected in the docs.
https://docs.microsoft.com/en-us/rest/api/monitor/autoscale-settings/create-or-update#metrictrigger

[2021-07-06 23:52] msaranga commented on #14995
@zhenglaizhang : Can you approve PR https://github.com/Azure/azure-rest-api-specs/pull/15090

[2021-07-07 01:28] magodo commented on #10159
@asheniam Would you please also submit the SDK release request, at least for Go SDK?

[2021-07-07 02:37] zhenglaizhang commented on #14995
PR merged

[2021-07-07 02:38] #14995 closed

[2021-07-07 03:26] zhenglaizhang opened #15102 "Announcement: Renaming default branch to "main""
# What is happening?
The Azure SDK Swagger & Tools team will be [renaming](https://github.com/github/renaming) the default branch (currently ```master```) to ```main``` for the following repo:

- **[Azure/azure-rest-api-specs](https://github.com/azure/azure-rest-api-specs)**

This repo will  have private mirrors, those will also have their default branch renamed. We will use the built-in GitHub br

[2021-07-07 03:35] leni-msft commented on #15102
@anthony-c-martin @jorgecotillo Please be aware of the default branch renaming and modify the schema auto-gen pipeline for both ARM template and Bicep.

[2021-07-07 03:43] zhenglaizhang commented on #15102
@mikhailshilkov Please be aware of this, and check if this will impact native Pulumi Azure provider generation, if so please help do accordingly.

[2021-07-07 04:24] callppatel commented on #9947
Any update on this?

[2021-07-07 05:23] neil-yechenwei opened #15104 "BotService.Connection API failed to create when the `parameters` property is []"
After tested, I found [BotService.Connection API](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/botservice/resource-manager/Microsoft.BotService/stable) failed to create and threw below error message while creating Bot connection and the `parameters` property is set as `[]`. I assume api shouldn't return error when this property is set as `[]`. Please have a look. Thanks.

[2021-07-07 07:32] WillParry commented on #14891
@ElleTojaroon just updating that I believe the data was shared with you internally. If you haven't received it yet, please let me know. Thanks.

[2021-07-07 07:48] mikhailshilkov commented on #15102
@zhenglaizhang thank you for the heads-up, we will adjust our integration accordingly 👍

[2021-07-07 14:38] anthony-c-martin commented on #15102
Thanks for the heads-up!

[2021-07-07 15:33] SG910 commented on #10190
@brianlehr @NitinGoelMsft Any progress or any place to follow progress?  I believe this issue is also impacting the ability to change the instance count via terraform when a vmss is used in conjunction with a public ip prefix.

[2021-07-07 20:55] sadasant opened #15108 "Key Vault’s properties.tenantId should accept “adfs”"
Hello team!

The swagger for Azure Key Vault specifies that the `tenantId` property can only be a `uuid` (an example can be found here: [source link](https://github.com/Azure/azure-rest-api-specs/blob/c234651f2885c07ff4a77e50c883145949fda5fa/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/keyvault.json#L1078-L1082). However, non-uuids exist, such as `adfs`.

W

[2021-07-07 22:03] jamesc opened #15109 "avocado check should add 'arm-compute' to --excludePaths"
avocado was failing on a change to the JSON in the arm-compute directory (e.g. in PR #14796).

The pipeline needs to be updated to add `--excludePaths arm-compute`

[2021-07-07 22:21] sadasant commented on #15108
cc: @TheOnlyWei

Once this issue is resolved, we will be able to generate new @azure/arm-keyvault-* clients with the fix included.

[2021-07-08 06:31] slavizh commented on #13424
This seems reported but never resolved. Shouldn't be so hard to document it.

[2021-07-08 09:37] zhenglaizhang commented on #15109
Thanks @jamesc We will update the pipeline to exclude the path in next pipeline deployment, early next week.

[2021-07-08 15:31] sgellock commented on #15104
I've routed this to the service DRI team to drive.  updates will be posted here as that team has them

[2021-07-08 16:36] jkonecki-techfabric commented on #14828
Hello @mikhailshilkov - I've noticed that Microsoft has published version 2021-06-01 of Service Fabric API. Could you please check in this version (later than 2021-05-01) contains the settings I've mentioned?

[2021-07-08 19:05] mikhailshilkov commented on #14828
@jkonecki-techfabric I still don't see things like `enableAutoOSUpgrade` or `vmManagedIdentity` in there...

[2021-07-09 07:51] msyyc opened #15136 "[policyinsights] Nextlink should not be 'POST'"
# Description
There should be `GET` definition for nextlink in [policyStates](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json ) according to autorest norm [x-ms-pageable]( https://github.com/Azure/autorest/blob/main/docs/extensions/readme.md#x-ms-pageable) . Otherwise it influences

[2021-07-09 12:03] VeryEarly opened #15138 "AvtivityLog 2017-03-01-preview swagger needed"
Azure-Portal using API with version 2021-03-01-preview to query activity logs while Azure-PowerShell is using version 2015-04-01.
Customers recently reported cannot to get logs for VM by Az.Monitor (that is to say API 2015-04-01 won't return activity logs for VM) and can get them from portal (API version 2021-03-01-preview)

Azure-PowerShell module Az.Monitor is based on dotnet SDK, without swagge

[2021-07-09 15:49] kenieva commented on #15136
Investigating...

[2021-07-12 05:35] neil-yechenwei opened #15151 "BotService shouldn't return invalid cmekKeyVaultUrl when it isn't specified"
After tested, I found [BotService](https://github.com/Azure/azure-rest-api-specs/blob/9705c3528da31ea3def2acf3af715ae1f185e318/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json#L36) would return invalid [cmekKeyVaultUrl](https://github.com/Azure/azure-rest-api-specs/blob/9705c3528da31ea3def2acf3af715ae1f185e318/specification/botservice/resource-manage

[2021-07-12 05:51] #15151 closed

[2021-07-12 18:51] rthorn17 commented on #8263
We have deployed a change over the weekend to correct this behavior.  When doing a list call on MGs, you will now be returned all MGs that you have access to as expected.  Direct Access or Inherited Access MGs are shown.

[2021-07-12 18:51] #8263 closed

[2021-07-12 22:08] swagatmishra2007 commented on #15104
The parameters property is actually needed and you would need to specify a list of properties such as clientid, clientSecret and others depending on the service provider id in the parameters so as to properly configure an oauth connection. To find out the list of properties needed, you can create a connection in the portal and use the ARM api to do a get against it and see what parameters were con

[2021-07-13 09:08] VyacheslavShilov opened #15168 "Microsoft.DataFactory Dataset.json DatasetCompression.properties.type problem"
DatasetCompression.properties.type has the type " string".
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json#L454

however, I get answers with both the "object" type and the "string" type.

GET https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupN

[2021-07-13 11:56] neil-yechenwei opened #15170 "BotService could not update CallingWebHook to empty for Skype Channel"
https://github.com/Azure/azure-rest-api-specs/blob/7f3c678432df706220db21d8712d3b1bae6ae1a0/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json#L372

when field CallingWebHook for Skype Channel is not empty, we want to update it to empty field but no effect, because the update function is a patch api. The create Api could not update it either.

the data

[2021-07-13 18:59] TheOnlyWei commented on #15108
@sadasant I believe the UUID enforicement for keyvault API makes sense. I just don't understand why we are passing "adfs" as tenant Id for the login. Who do we contact to request a feature to allow tenant UUID for the login as well?

Link for login sample:
https://github.com/Azure-Samples/hybrid-keyvault-nodejs-create-secret/blob/5c6160a5ecb42198efc5b7ece929a3418192eb7f/index.js#L103

[2021-07-13 20:02] alzimmermsft opened #15178 "Search Service Quota Exceptions Don't Include an Error Code"
(Please move this issue to the appropriate location if this isn't it)

While working with Azure Cognitive Search I had a bug in test code where I wasn't properly deleting service resources, and Search has hard cap limits for service resources based on the service SKU. The error response, 429, is one which is automatically retried in the Azure SDKs, but given that this requires service resource del

[2021-07-13 23:39] hannesne opened #15184 "Please add spec for Microsoft.Web/connections/accessPolicies"
It seems this isn't currently in the spec, and so there's no documentation for it in the ARNM template reference here: https://docs.microsoft.com/en-us/azure/templates/microsoft.web/connections?tabs=json I also can't use it in Bicep.

[2021-07-13 23:39] hannesne commented on #15184
I'm trying to do something similar to the sample here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/logic-apps/azure-arc-enabled-logic-apps-create-deploy-workflows.md

[2021-07-14 09:30] zhenglaizhang commented on #15109
We have already released the fix.

[2021-07-14 09:30] #15109 closed

[2021-07-14 11:55] magodo opened #15198 "Batch (Data Plane) Job API `maxWallClockTime` not idempotent"
The Batch Job data plane API when set the [`maxWallClockTime`](https://github.com/Azure/azure-rest-api-specs/blob/10873ac628ee703126f82974487d8a290e983f8c/specification/batch/data-plane/Microsoft.Batch/stable/2020-03-01.11.0/BatchService.json#L11337) to `-1` when creating the job, it ends up making it "unlimited". However, a later `GET` on this job will return some very big duration in ISO8601 for

[2021-07-15 08:50] aim-for-better commented on #6505
fixing

[2021-07-15 09:37] shawnxzq commented on #15168
@VyacheslavShilov Yes, it's defined as string, however, ADF current doesn't do validation when you create the dataset, so if you create it as an object, you will get it as an object, same thing for string.

To avoid the serialization/deserialization issue, please use string value only, thanks!

[2021-07-15 11:28] VyacheslavShilov commented on #15168
@shawnxzq
But this is a legal situation. This is created through the "Azure Portal". This "compression.type" is obtained when "dynamic content" is used"
![image](https://user-images.githubusercontent.com/36583786/125780684-b889f035-95f9-4719-af58-a225daef3228.png)
![image](https://user-images.githubusercontent.com/36583786/125780786-aa219b6c-fae7-4675-b2ea-6da19202510f.png)

[2021-07-15 18:38] brjohnstmsft commented on #15178
Attn: @jennifermarsman

[2021-07-15 23:32] #15104 closed

[2021-07-16 01:24] neil-yechenwei opened #15219 "The default Skype Channel and the default WebChat Channel shouldn't created while creating BotService"
After tested, I found the default Skype Channel and the default WebChat Channel would be created while creating BotService. Service team confirmed it shouldn't happen since the default channel should has been removed 2-3 years ago. So seems this issue has to be fixed.

[2021-07-19 01:56] zhenglaizhang commented on #15102
Hi @anthony-c-martin any updates for schema auto-gen pipeline?

[2021-07-19 01:58] zhenglaizhang commented on #15102
Hi @mikhailshilkov any update on your side?

[2021-07-19 09:57] mikhailshilkov commented on #15102
@zhenglaizhang We are ready to change it as soon is you do, so we shouldn't block you.

[2021-07-19 23:55] heaths opened #15258 "The description for KeyReleaseResult appears copied for something returning a KeyBundle and is confusing"
https://github.com/Azure/azure-rest-api-specs/blob/e7682aa897902920f3a95b2f358b6f7729d18666/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.3-preview/keys.json#L950

/cc @herveyw-msft

[2021-07-20 00:12] herveyw-msft commented on #15258
Is the concern that this is really a compact JWS object that contains the key bundle?

[2021-07-20 02:35] forteddyt opened #15260 "common-types/v2 Sku.Capacity is not nullable, but description says to omit"
[Sku.Capacity](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v2/types.json#L217-L221) description:

However, according to [x-nullable](https://github.com/Azure/autorest/tree/main/docs/extensions#x-nullable):

Sku.Capacity is not marked as x-nullable, so how can autogenerated clients omit the Capacity property when scaling out/in is not pos

[2021-07-20 20:15] heaths commented on #15258
Describing that would be better, yeah. I see how this probably wasn't copied then, but describing that the result is actually a JWS containing the key bundle would at least steer people down the path of parsing the JWS at least. Maybe even describing the payload within. The structure is a little different (but otherwise similar) to a `KeyBundle`.

[2021-07-21 06:58] timja commented on #14801
This is blocking the azurerm terraform provider adoption of the workspace model with application insights

[2021-07-21 08:10] kacperwojtyniak commented on #14827
Is there any timeline for a fix?

[2021-07-21 10:49] leni-msft commented on #14801
@zakimaksyutov @igorse would you be able to take a look at this issue or route to correct person? Thanks!

[2021-07-21 11:26] shawnxzq commented on #15168
@VyacheslavShilov Yes, you are correct and this is known issue, the fix is being worked on.  I mean before the fix take effective, you can workaround by not parameterizing it, thanks!

[2021-07-21 15:54] mickybar opened #15292 "Documentation missing for ScheduledQueryRules@2021-02-01-preview"
While the version 2020-05-01-preview will be retired on 31 October 2021 for ScheduledQueryRules will be retired on 31st October 2021, there's no documentation for version 2021-02-01-preview

https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/scheduledqueryrules?tabs=json

Trying to update a bicep template, correctly working with 2020-05-01-preview, to 2021-02-01-preview fails the

[2021-07-21 16:01] asilverman opened #15293 "Redundant tags in AKS specification"
[``` "tags": [
          "managedClusters"
        ]```](https://github.com/Azure/azure-rest-api-specs/blob/f2553893baa03c3db9a9b7974e1845908805bd5f/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-05-01/managedClusters.json#L40) is redundant with [```"tags": [
          "ManagedClusters"
        ]```](https://github.com/Azure/azure-rest-api-specs/blob/f255389

[2021-07-21 21:38] Francisco-Gamino commented on #13424
@ggailey777 / @craigshoemaker -- Could you please move this item to the correct repo? This content should go here https://docs.microsoft.com/en-us/azure/templates/Microsoft.Web/sites?tabs=json.  Thanks.

[2021-07-21 21:41] forteddyt commented on #15260
I think I can answer my own question:
I'm not sure about how each autogenerated client handles it, but I don't think that matters. What matters is how a REST request handles it. And that's done by literally omitting the `capacity` field from the request body. All x-nullable does is allow a field to be set as `null` in the request. x-nullable does nothing in terms of what is omittable, and like the

[2021-07-21 21:41] #15260 closed

[2021-07-22 01:10] neil-yechenwei opened #15298 "BotChannel API cannot update Skill Id immediately after the AlexaChannel is created successfully"
After tested, I found BotChannel API cannot update Skill Id immediately after the [AlexaChannel ](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json#L1410)is created successfully. It has to wait several minutes after created successfully, then skill id can be updated successfully. So seems it's

[2021-07-22 07:28] PARADISSEEKR opened #15301 "Databricks: The return result of vnetpeering list is different from the definition of swagger"
**Describe the bug**

When I run the `az databricks workspace vnet-peering list` command, I get the wrong result:
The command failed with an unexpected error. Here is the traceback:
'NoneType' object is not iterable
Traceback (most recent call last):
  File "D:\code\benv\lib\site-packages\knack\cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "d:\code\azure-cli\sr

[2021-07-22 18:21] avirishuv commented on #14305
quick update: a fix is currently in progress, will provide an update here once it gets rolled out.

[2021-07-22 18:23] avirishuv commented on #14459
quick update: this is added to the backlog for bugfix, will provide an update here when it gets picked up.

[2021-07-22 18:46] kavskalyan commented on #14996
This has been fixed in this PR:
https://github.com/Azure/azure-rest-api-specs/pull/15183

[2021-07-23 01:59] zhenglaizhang commented on #15298
@hailiu2586 could you help take a look?

[2021-07-23 13:53] kevinkle commented on #14078
Not exactly what you're looking for, but been doing this with the Kusto queries:

[code]

As in the query template `Failed AzureAD logons but success logon to host`

[code]

[2021-07-23 13:55] VyacheslavShilov opened #15315 "Microsoft.DataFactory LinkedService.json RestServiceLinkedServiceTypeProperties.properties.password problem"
RestServiceLinkedServiceTypeProperties.properties.password has `"$ref": "../datafactory.json#/definitions/SecretBase"`
https://github.com/Azure/azure-rest-api-specs/blob/7b8b9ebbf8593580ed710329c61dee1936062cbb/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json#L2809
However, I get an object from the server whose "password" is " string

[2021-07-26 01:31] anthony-c-martin commented on #15102
Submitted https://github.com/Azure/azure-resource-manager-schemas/pull/1810 for this, but no need to wait for us.

[2021-07-26 08:19] pvrk commented on #14715
@chihhaohuang : We have tried to reproduce multiple times but it is working from our end. Can you please share the request URL? Also, please share the client request ID in request and/or response header. That will help us debug more specifically.

[2021-07-26 08:22] neil-yechenwei opened #15353 "Failed to create Bot Line Channel without GeneratedId"
After tested, I found Bot Channel API failed to create [Line Channel](https://github.com/Azure/azure-rest-api-specs/blob/e3dbb827d99eaadf132075707373f6b4bda08fd9/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json#L1903) and threw below error message when this [GeneratedId](https://github.com/Azure/azure-rest-api-specs/blob/e3dbb827d99eaadf132075707373f

[2021-07-26 21:03] heaths opened #15374 "Consider TextRecord -> TextDocumentInput like TA or back to TextInput"
not related to the PR but curious about the reason for the name change. `TextInput` was closer to TA and in case we want some sort of consistency in CS, maybe having `TextInput` here is not a bad idea either

_Originally posted by @maririos in https://github.com/Azure/azure-sdk-for-net/pull/22882#discussion_r676921862_

[2021-07-26 21:10] heaths opened #15375 "Request and response models should author `required` properties"
Based on feedback about `AnswerSpan.confidenceScore` being optional in code gen (it should be `double` not a `double?`), both request and response models should author `required` properties like this.

/cc @annatisch

[2021-07-27 02:01] #15353 closed

[2021-07-27 02:06] neil-yechenwei commented on #15353
Seems it's just a testing issue.

[2021-07-27 05:46] shawnxzq commented on #15315
@VyacheslavShilov The latest UX won't create such rest linked service, actually the parameter is not intended to be parameterized. Please correct the problematic linked service to solve the deserialization issue, thanks!

[2021-07-27 07:34] jackofallops opened #15385 "App Service Environment V3 Properties - `zoneRedundant` missing and `dedicatedHostCount` incorrectly R/O"
Hi, the API specs seem to be incomplete for the support for ASEv3 GA properties:

`zoneRedundant` bool missing from:
https://github.com/Azure/azure-rest-api-specs/blob/3efd9a9b9e3e829bb98e946816f71aec737287b6/specification/web/resource-manager/Microsoft.Web/stable/2021-01-15/CommonDefinitions.json#L45

`dedicatedHostCount` marked as ReadOnly, should now be configurable with int '0' or '2'?
https:/

[2021-07-27 09:42] adityabalaji-msft commented on #11928
Closing issue since the updated text will appear in the upcoming API release

[2021-07-27 09:42] #11928 closed

[2021-07-27 09:42] chihhaohuang commented on #14715
https://management.azure.com/subscriptions/de3624a8-30bf-42c3-8672-58c196d799fc/resourceGroups/bac-rg-devuksouthmca/providers/Microsoft.RecoveryServices/vaults/bac-rg-devuksouthmca-recovery/backupProtectionContainers?api-version=2021-02-10

Response Header:

cache-control: no-cache
content-length: 177
content-type: application/json
date: Tue, 27 Jul 2021 09:38:34 GMT
pragma: no-cache
server: Micro

[2021-07-27 09:48] adityabalaji-msft commented on #14715
Hi @chihhaohuang - you will need to pass BackupManagementType as a filter to the request, to get all containers of a particular type. Here is an example: https://docs.microsoft.com/rest/api/backup/backup-protection-containers/list#list-backup-protection-containers

[2021-07-27 09:50] adityabalaji-msft commented on #7268
The fix is in progress and should be available by end of September

[2021-07-27 11:26] moneygit opened #15387 "EventHub namespaces/virtualnetworkrules Property iteration not working"
I am unable to use Property iteration (copy:) for the [Microsoft.EventHub namespaces/virtualnetworkrules ](https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/namespaces/virtualnetworkrules?tabs=json)

While the latest API for this resource is 2018-01-01-preview The MS Doc for [Property iteration](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/copy-properti

[2021-07-27 13:31] chihhaohuang commented on #14715
According to this document, filter is an optional parameter.
Also tried this again on the document page, added backupManagementType, but still the same.

Add a new parameter: filter => backupManagementType eq 'AzureStorage'

GET https://management.azure.com/subscriptions/de3624a8-30bf-42c3-8672-58c196d799fc/resourceGroups/bac-rg-devuksouthmca/providers/Microsoft.RecoveryServices/vaults/bac-rg-devu

[2021-07-27 16:53] erwinkramer opened #15391 "Flaky OData support for 'any' expression in securityinsights API"
Following are some filter expression examples on securityinsights API version 2020-01-01, on the `incidents` entity and their results:

Filter 1, This works and returns a few results. So far so good:
[code]

Filter 2: where the `any()` expression is at the end. Returns an empty result, should return as much as filter 1 as it's exactly the same but in different order:
[code]

Filter 3: with an `or`

[2021-07-27 17:17] miwebst commented on #15385
For ZoneRedundant, we are waiting on this PR: https://github.com/Azure/azure-rest-api-specs/pull/15188 we will also make an update to change the dedicated host feature to be RW.

[2021-07-27 17:30] tim-nguyen-cs commented on #3853
This has been updated in our most recent API version (`2021-04-01`); therefore, this issue will be closed now.

[2021-07-27 17:30] #3853 closed

[2021-07-28 01:13] neil-yechenwei opened #15400 "BotChannel.ListWithKeys API doesn't return extensionKey1 and extensionKey2"
After tested, seems the directline channel on Azure Portal would use ListWithKeys rest api to show extensionKey1 and extensionKey2.
![image](https://user-images.githubusercontent.com/19754191/127247301-d2b711f1-05b4-4a2d-a927-4a4c385eed1e.png)

So I also tried to use [ListWithKeys API](https://github.com/Azure/azure-sdk-for-go/blob/f9fe78145f1e7e761d15cd839de37b5eaf3e8b44/services/botservice/mgmt/

[2021-07-28 03:00] zhenglaizhang commented on #15102
To minimal potential risk, we decided to update the branch renaming time from 2021-07-30 to 2021-08-02

[2021-07-28 19:43] tim-nguyen-cs commented on #7596
Hi @sangam-sgm - I understand your concern here, but all of Azure's REST API endpoints are versioned to resolve breaking changes and mitigate compatibility issues. If a breaking change is made, a new version of an API will be released - thus, an API version must explicitly be stated to determine user functionality.

If you're given a resource ID, for example, different API versions will return dif

[2021-07-28 22:14] willvelida opened #15423 "Potentially outdated ARM template specification for AutoscaleSetting property in microsoft.insights/autoscalesettings"
In the microsoft.insights/autoscalesettings ARM Template reference under AutoscaleSetting object, the `enabled` property is listed as not required.

However, after leaving out the `enabled property` in my ARM template, autoscaling for my App Service Plan was not enabled. I had to explicitly enable this in my ARM template for my Autoscale rules to take effect.

Is this documentation potentially inc

[2021-07-29 08:35] fgheysels opened #15435 "Are the TSI Gen2 query examples not entirely correct ?"
I believe there are some errors in the example Timeseries Insights queries that are listed [here](https://docs.microsoft.com/en-us/rest/api/time-series-insights/dataaccessgen2/query/execute#examples)

For instance:

## [ColdStoreQueryGetSeriesPage1](https://docs.microsoft.com/en-us/rest/api/time-series-insights/dataaccessgen2/query/execute#coldstorequerygetseriespage1)

This is a `getSeries` query

[2021-07-29 08:36] fgheysels commented on #15435
Note: this issue was originally created [here](https://github.com/MicrosoftDocs/feedback/issues/3064), but I've recreated it here per request.

[2021-07-29 19:03] kkakarla4820 commented on #10190
We were able to reproduce the issue. The exact behavior is explained below.

1.	Suppose customer creates a VMSS with public ip prefix using a terraform template, all the VMs are assigned an IP address according to the public Ip prefix
2.	Now when you scale the VMSS (say change the instance count from 3 to 4) and redeploy the template, this will trigger an update on VMSS. Terraform does not send “p

[2021-07-29 20:08] sumit-kalra commented on #11313
Update: The next API version is on track to be released this year and will have the fix for <latest>.

[2021-07-29 20:19] brianlehr commented on #10190
@kkakarla4820 Please note we see similar behavior for non-Terraform usecases also, e.g. when we want to modify a Public IP Prefix that is associated to a VMSS Uniform instance.

[2021-07-29 20:59] #14996 closed

[2021-07-30 09:17] tombuildsstuff commented on #14923
@juniwang 2020-05-01 is just over a year old, so it's not old relative to other API specs (2015) in this repository - if the API spec is in this repository it should contain all of the supported values in the API.

Is there a timeframe for when this value will get added to this API?

[2021-07-30 09:36] juniwang commented on #14923
Adding new enum values is considered as breaking change which requires new api-version anyway. So, we don't have a plan to update `2020-05-01`. `Trace` is incorrectly returned by accident.   A new stable api-version is on the way with correct values.

[2021-07-30 09:50] tombuildsstuff commented on #14923
@juniwang adding new enum values is **not a breaking change** - changing (for example the casing of) or removing enum values **is a breaking change**, however

cc @JeffreyRichter to confirm that?

[2021-07-30 10:41] shawnxzq commented on #15315
Product issue resolve now, shared solution for customer to fix the existing linked service.

[2021-07-30 10:41] #15315 closed

[2021-07-30 12:33] VyacheslavShilov opened #15452 "Microsoft.DataFactory LinkedService.json AzureBlobFSLinkedServiceTypeProperties.properties.credential problem"
AzureBlobFSLinkedServiceTypeProperties.properties.credential has `"$ref": "../datafactory.json#/definitions/CredentialReference"`
https://github.com/Azure/azure-rest-api-specs/blob/7360a2dd210efe1cd3351960e7a5ca391b702783/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/LinkedService.json#L2440
However, I get an object from the server whose "credential

[2021-07-30 15:31] JeffreyRichter commented on #14923
Adding a new enum value to an enum that is modeled as string is OK (because it is just a new string value); adding a new enum value that to an enum that is not modeled as string is NOT OK (because returning it to an old client will cause the deserializer to throw an exception).

[2021-07-30 15:37] tombuildsstuff commented on #14923
PR to fix that here: https://github.com/Azure/azure-rest-api-specs/pull/15455

[2021-07-30 20:27] matthchr commented on #14699
@jianyexi looks like you can close this?

[2021-07-31 02:06] jianyexi commented on #14699
yes , fixed it

[2021-07-31 02:06] #14699 closed

[2021-08-01 22:11] parvister commented on #11764
I knew this is possible since the Portal does this under the Cost Management view; so I used the Chrome Developer Console to see the details for the REST API call and found this:

`"filter=properties/usageStart ge '2021-07-30' and properties/usageEnd lt '2021-07-30'"`

set `properties/usageStart` and `properties/usageEnd` to the start/end date that you like. Other filters can be added as mentioned

[2021-08-02 07:28] zhenglaizhang commented on #15102
Hi all, now the spec repo default branch has been renamed as main.
Thanks for all your support!

[2021-08-02 07:54] #14923 closed

[2021-08-02 11:35] dylanmorley commented on #14801
Fixed by #15247

[2021-08-03 05:49] qiaozha commented on #14807
@shenglol  Any updates on this issue? I can see from your manifest. Microsoft.Resources/operations still only support 2015-01-01 https://armmanifest.visualstudio.com/One/_git/Manifest?path=%2FMICROSOFT.RESOURCES%2FPROD%2FMANIFEST.JSON&version=GBmaster&line=2402&lineEnd=2402&lineStartColumn=2&lineEndColumn=28&lineStyle=plain&_a=contents and we have another customer complains about this issue again

[2021-08-03 06:52] adityabalaji-msft commented on #14715
@chihhaohuang - thanks for the details. The filter is currently a required filter (we will update the documentation). In the above request, you will need to add a '$' before 'filter':

eg. GET https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupProtectedItems?api-version=202

[2021-08-03 08:56] sinbai opened #15494 "Some tests failed after upgrading Automation SDK from v2018-06-30 to V2019-06-01 due to unmarshalling JSON error"
I am trying to upgrade to use the latest version of [automation 2019-06-01](https://github.com/Azure/azure-sdk-for-go/tree/b381748762f6478976bceac3b40c20c34c6b3097/services/automation/mgmt/2019-06-01). Some tests failed after upgrading Automation SDK from [preview v2018-06-30](https://github.com/Azure/azure-sdk-for-go/tree/main/services/preview/automation/mgmt/2018-06-30-preview/automation)  to V2

[2021-08-03 17:12] #7596 closed

[2021-08-03 21:17] majorvin commented on #13424
Does this work for anyone? I'm getting ```NotFound: Error updating host key.```

[2021-08-04 03:10] neil-yechenwei opened #15509 "Cannot set location in request body while creating Domain Service OU Container"
After tested, [Domain Service OU Container API](https://github.com/Azure/azure-rest-api-specs/blob/3bae02c450bf1ee6350a0c24d81923387bdafe57/specification/domainservices/resource-manager/Microsoft.AAD/stable/2020-01-01/oucontainer.json#L161) always failed to create ou container and threw below error message. Seems it's asking me to set location in request body. But I cannot set it because the [para

[2021-08-04 03:15] neil-yechenwei commented on #15509
Hi @caalmont,

I found the [latest change](https://github.com/Azure/azure-rest-api-specs/pull/14415) on github is from you for Domain Service OU Container. Could you have a look for this issue? Thanks in advance.

[2021-08-04 06:12] zhenglaizhang commented on #15102
As now the renaming is done, and no other issues, closing the PR.

[2021-08-04 06:12] #15102 closed

[2021-08-04 07:00] JoeleJB commented on #14827
Hello?

Very frustrating as documentation outlines the version (https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/webtests?tabs=json) but that version is not available in any region..

I can use the previous available version being the 2018 preview and most things on that link above work, but not "ExpectedHttpStatusCode" which it just ignores as far as I can tell.... Very frustra

[2021-08-05 05:59] aim-for-better commented on #6505
will fix this by the end of Sept

[2021-08-05 06:42] shawnxzq commented on #15452
@VyacheslavShilov The latest UX won't create linked service with string value for credential properties.
For your specific case, the "credential" property is not a supported property name for AzureBlobFS linked service either.

[2021-08-06 05:56] sinbai opened #15554 "Setting the SKU name property of Automation Account resource doesn't take effect"
After testing, seems[ the SKU name](https://github.com/Azure/azure-rest-api-specs/blob/7f530e3727f746e26f5b5ece8a5874daf10cc56f/specification/automation/resource-manager/Microsoft.Automation/stable/2019-06-01/account.json#L535) property doesn't take effect while creating [this resource ](https://github.com/Azure/azure-rest-api-specs/blob/7f530e3727f746e26f5b5ece8a5874daf10cc56f/specification/autom

[2021-08-06 16:38] tim-nguyen-cs commented on #1129
Because the `$top` parameter of this REST API endpoint is not supported, the documentation has been updated. Thanks!

[2021-08-06 16:38] #1129 closed

[2021-08-09 11:41] anthony-c-martin commented on #14555
Reopening - this hasn't been fixed.

[2021-08-09 11:56] anthony-c-martin commented on #14555
@shawnxzq I've started a PR (#15578) to fix this - would you be able to help get it merged?

@alex-frankel FYI.

[2021-08-09 12:31] NestorRV commented on #14529
Any update on this? @raych1 @antcp @AzureAppServiceCLI?

[2021-08-09 21:45] jianghaolu opened #15587 "[FEATURE REQ] azure-analytics-synapse-artifacts - additional columns for CopySource"
Migrated from https://github.com/Azure/azure-sdk-for-java/issues/23278
Affected Swagger: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/Pipeline.json#L1487

**Is your feature request related to a problem? Please describe.**
There is no way to add the additionalColumns to the CopySource using sdk (we

[2021-08-09 22:30] anthony-c-martin opened #15588 "Microsoft.Insights ScheduledQueryRuleProperties/actions has invalid type"
See definition for /specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/scheduledQueryRule_API.json#/definitions/ScheduledQueryRuleProperties/actions:
https://github.com/Azure/azure-rest-api-specs/blob/7384176da46425e7899708f263e0598b851358c2/specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/scheduledQueryRule_API.json#L411-L417

[2021-08-10 06:26] shawnxzq commented on #14555
@anthony-c-martin I don't have permission to merge as I am not part of the swagger reviewer team, @leni-msft help on this, thx!

[2021-08-10 14:08] anthony-c-martin opened #15604 "`Microsoft.Authorization/roleAssignments` declares support for `2020-10-01-preview`, but does not work with ARM"
Reported here: https://github.com/Azure/bicep/issues/784#issuecomment-896046402

Here it's declared in swagger spec: https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/authorization-RoleAssignmentsCalls.json#L231

However there is no [manifest configuration](http

[2021-08-10 14:13] erwinkramer opened #15605 "api/consumption/budgets/create-or-update returns GatewayTimeout"
https://docs.microsoft.com/en-us/rest/api/consumption/budgets/create-or-update is unresponsive.

Request body
[code]

Url: `https://management.azure.com/subscriptions/<sub-id>/resourceGroups/mygroupname/providers/Microsoft.Consumption/budgets/budget1?api-version=2019-10-01`

I have enough permissions and get my bearer token like this:
[code]

Response:
`Invoke-RestMethod: {"error":{"code":"Gateway

[2021-08-10 14:23] erwinkramer commented on #15605
Seems like i was missing some fields, it's working now.

[code]

[2021-08-10 14:23] #15605 closed

[2021-08-10 14:30] anthony-c-martin commented on #15604
Thanks for pointing this out - again this looks like an issue in the swagger - https://github.com/Azure/azure-rest-api-specs/tree/88e7838a09868a51de3894114355c75929847a46/specification/authorization/resource-manager/Microsoft.Authorization/preview contains no `2021-04-01-preview` version, but as you mentioned, the service supports it.

@zhenglaizhang should we raise a new issue for this, or would

[2021-08-10 21:14] markweitzel opened #15612 "API Stewardship Board - Review ResetDocs API"
Reviewing #15447 which is adding the ResetDocs API to search. This new API was reviewed and a recording of this session is [here](https://microsoft.sharepoint.com/:v:/r/teams/AzureAPIStewardshipBoard/Shared%20Documents/General/Recordings/[Azure%20Search]%20Azure%20REST%20API%20Stewardship%20Board-20210810_160449-Meeting%20Recording.mp4?csf=1&web=1&e=zm9mdz)
<sup>Note: Internal MS link<sup>

[2021-08-11 02:13] ruowan commented on #15604
I add a service attention label. Maybe service team could take a look.

[2021-08-11 02:36] leni-msft commented on #14555
@shawnxzq Sure, will do.

[2021-08-11 11:12] #14555 closed

[2021-08-12 05:00] neil-yechenwei opened #15629 "LogicApp.IntegrationAccountSession.Get API missed the header Authorization while retrieving this resource"
I am trying to get [Integration Account Session](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json) resource with [GO SDK client](https://github.com/Azure/azure-sdk-for-go/blob/3431eff43c84d05612c131b681ffb4296ae265ac/services/logic/mgmt/2019-05-01/logic/integrationaccountsessions.go#L204) but it failed and t

[2021-08-12 08:01] shawnxzq commented on #15168
Swagger is already fixed, it will be fixed in next version java client.

[2021-08-12 09:57] ricohomewood opened #15632 "SecurityInsights DataConnector Add AzureDefender to API"
The current list of supported Sentinel Data Connectors misses out on one of the fundamental connectors as part of Azure Security Center which is `Azure Defender`. Due to the limitation in the API you have to configure this data connector manually by going into the connector and enabling `Azure Defender to Azure Sentinel`.

Please can we add this data connector to the list of configurable data conn

[2021-08-12 13:55] StevenKusters commented on #4901
For people looking at this, this is how we deploy the vault in bicep. Should be easy enough to build it into json.
`
resource RecoveryServicesVault 'Microsoft.RecoveryServices/vaults@2021-03-01' = {
  name: VaultName
  location: Location
  tags: Tags

  sku: {
    name: 'RS0'
    tier: 'Standard'
  }
  properties: {}
}

resource VaultConfig 'Microsoft.RecoveryServices/vaults/backupstorageconfig@20

[2021-08-12 14:04] whyneus commented on #4901
For those using Terraform, we had to use an ARM deployment right after creating the RSV to reconfigure it to use LRS (we did it in a Terraform module).

[code]

[code]

[2021-08-12 15:37] OscartGiles opened #15635 "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/cancel doesn't work with RBAC role Microsoft.Subscription/cancel/action"
What permissions are required to cancel subscriptions?

I created this role:
[code]

This API endpoint works:
[code]
This one doesn't:
[code]

I get the following error message:

I need to assign a role to a managed identity that can cancel subscriptions but not do anything else.

Strangely giving the role Action permission * and notAction Microsoft.Subscription/cancel/action does not stop you fro

[2021-08-12 20:50] tim-nguyen-cs commented on #10051
Hi @weidongxu-microsoft - this issue only occurs when filtering by tags. We are actively working on a solution set to rollout shortly. In the meantime, our REST API documentation has been updated with the appropriate `$expand` behavior - thanks!

[2021-08-12 20:50] #10051 closed

[2021-08-12 21:01] tim-nguyen-cs commented on #3819
Hi all - we are actively working on a solution set to rollout shortly. In the meantime, our REST API documentation has been updated to specify that resource tags are not returned when querying by tags themselves - thanks!

[2021-08-13 05:59] #15629 closed

[2021-08-13 06:31] KalyanChanumolu-MSFT commented on #3819
@tim-nguyen-cs Is there an open work item we can follow to get updates when this is fixed?

[2021-08-16 01:54] forteddyt opened #15654 "AutoRest azure-validator erroneously fails on core version ~2.0.4413 but not ^3.2.0"
PR in question: https://github.com/Azure/azure-rest-api-specs/pull/15439
LintDiff Logs in question: https://github.com/Azure/azure-rest-api-specs/pull/15439/checks?check_run_id=3333578400
Fails with: `"Text": "Error: '$.definitions.Identity.properties.type.enum' has incompatible values (---\n- SystemAssigned\n- 'SystemAssigned,UserAssigned'\n- UserAssigned\n- None\n, ---\n- SystemAssigned\n)."`

T

[2021-08-16 02:13] jianyexi commented on #15654
@forteddyt  this is a autorest v2 issue, as it failed within the autorest , not in the azure-validator, could  you please file a issue to autorest ?

[2021-08-16 02:20] forteddyt commented on #15654
@jianyexi sure - am I supposed to file the issue here: https://github.com/Azure/autorest?

Also, why does the azure-validator (and the validation gates in general, I guess) use AutoRest core version 2.x, instead of 3.x?

[2021-08-16 02:30] jianyexi commented on #15654
Yes,  because the autorest v3 has many breaking changes against v2, we can't upgrade it to v3

[2021-08-16 02:32] forteddyt commented on #15654
I see, that's unfortunate. I've opened up an issue, I'll close this one

https://github.com/Azure/autorest/issues/4262

[2021-08-16 02:32] #15654 closed

[2021-08-16 02:33] forteddyt commented on #15654
Also to temporarily side-step this issue, I'm going to remove the [reference to Identity from ResourceModelWithAllowedPropertySet](https://github.com/Azure/azure-rest-api-specs/blob/c340804c71501fdd95f72ef09700aec4b28d0592/specification/common-types/resource-management/v2/types.json#L163-L169).

[2021-08-16 07:43] tombuildsstuff opened #15658 "[Blueprints] Invalid Swagger"
This is described as an object but the description outputs this as a list:

https://github.com/Azure/azure-rest-api-specs/blob/9593dd087d60017b83cfc590ffea5d7374a3f734/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintDefinition.json#L1076-L1078

[2021-08-16 15:10] forteddyt opened #15662 "Cannot reference common-types SkuTier"
PR in question: https://github.com/Azure/azure-rest-api-specs/pull/15439
Gate in question: https://github.com/Azure/azure-rest-api-specs/pull/15439/checks?check_run_id=3341255859 (and presumably all other client generation gates)

Our service references the [common-types Sku definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/common-types/resource-management/v2/types.

[2021-08-16 15:37] forteddyt opened #15663 "R3011 check being applied to examples where property name is "Description""
PR in question: #15439
LintDiff gate: https://github.com/Azure/azure-rest-api-specs/pull/15439/checks?check_run_id=3341238861
Fails with: `Description must not match the name of the node it is supposed to describe. Node name:'string' Description:'string'`

Our service has a few definitions where "Description" is a property, [BatchDeployment.Description](https://github.com/Azure/azure-rest-api-spec

[2021-08-16 18:22] petereitz commented on #11085
Any chance we can get an update here?  This is still impacting our ability to automate around AAD.  Thanks!

[2021-08-16 18:50] tim-nguyen-cs commented on #3819
Hi @KalyanChanumolu-MSFT - I can re-open this issue intermittingly and update you when this change has been rolled out and is successful.

[2021-08-16 22:31] forteddyt opened #15666 "R2008 erroneously fails when property narrows mutability from the base definition"
PR in question: https://github.com/Azure/azure-rest-api-specs/pull/15439
LintDiff Gate: https://github.com/Azure/azure-rest-api-specs/pull/15439/checks?check_run_id=3344805888
Fails with: `When property is modeled as 'readOnly': true then x-ms-mutability extension can only have 'read' value. When property is modeled as 'readOnly': false then applying x-ms-mutability extension with only 'read' valu

[2021-08-17 07:44] pvihan opened #15672 "compute REST API - resource skus list - broken paging/no filter"
For our automation tool we need to periodically fetch virtual machines SKUs (i.e. size cpu, memory, premium i/o support). We are using https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list

1. the list returns huge data (> 20MB json) and although the spec says the list should be paged it is not; the nextLink attribute is missing and the list seems to return everyting in one request

[2021-08-17 10:51] tombuildsstuff opened #15675 "[API Regression] [Purview] Accounts Sku Capacity is always reset to 1"
It appears that a regression has been rolled out to the Purview API's (both 2020-12-01-preview and 2021-07-01) where any valid value for `capacity` within `sku` (either 4 or 16) is reset to 1.

This applies both through the API and the Portal, where regardless of whether `capacity` is set to `4` or `16`, the value of `1` is returned:

Viewing the result of a Purview Account created with either `4`

[2021-08-17 10:55] tombuildsstuff commented on #15675
having skimmed the Purview PR's for folks with context - cc @shaileshsk94 @yifan-zhou922 @annoakes

[2021-08-17 10:57] tombuildsstuff commented on #12419
Just an update that this has now been 6 years without a Stable API release: https://github.com/Azure/azure-rest-api-specs/blob/74dbcfee45a6634d0043e478aba324796d98940c/specification/authorization/resource-manager/Microsoft.Authorization/preview

[2021-08-17 16:34] shaileshsk94 commented on #15675
@tombuildsstuff
1. For Purview GA, purview accounts will be created with sku capacity of 1 (for both API versions - 2020-12-01-preview and 2021-07-01). We will update swagger to reflect it (marking SKU field as read-only).
2. UX rollout for GA is in progress (which will remove SKU capacity selection option during purview account creation from portal).
3. Azure Communication will be sent out by the

[2021-08-17 16:58] tombuildsstuff commented on #15675
@shaileshsk94 so just to confirm, you're suggesting that to scale the account you'd need to first call the CreateOrUpdate and then PATCH the Account using the Update call going once those GA changes are rolled out?

[2021-08-17 17:08] shaileshsk94 commented on #15675
@tombuildsstuff
SKU capacity updates are not allowed through portal or API for GA. Detailed communication about requesting capacity scale up (through support ticket) will be sent out soon.

[2021-08-17 21:58] snaheth commented on #9466
Closing this issue as @Yobretaw has addressed the issue above.

We are also rolling out an update soon to remove `subscriptionId` and `resourceGroup` from the response body for this endpoint. We're doing this because:

1. It ensures that our swagger and response body matches 1:1
2. Those two fields are implicit in the request ARM ID / Request URI

[2021-08-17 21:58] #9466 closed

[2021-08-18 00:46] mikekistler opened #15686 "[Unified Language Service] Review REST API"
This API was reviewed prior to our current tracking process, so I am retroactively opening this issue to capture discussions on the API and any updates.

Service team rep is @rokulka .

Information from Rohan:

We are releasing this under the Unified Language Service scope, and all the APIs are still under preview – [Link](https://github.com/Azure/azure-rest-api-specs/tree/feature/cognitiveservice

[2021-08-18 01:47] mikekistler commented on #15686
It looks like there is a recording of the first review at

https://msit.microsoftstream.com/video/affa99ff-0300-a7ab-7079-f1ebae88c47c

But I do not have access.  Could someone please give me access?

[2021-08-18 01:50] zhenglaizhang commented on #12419
ping @shubhamguptacal for help about the issue

[2021-08-18 02:42] jianyexi commented on #15663
tracked with the https://github.com/Azure/azure-openapi-validator/issues/247

[2021-08-18 02:42] #15663 closed

[2021-08-18 02:46] forteddyt commented on #15666
moving to https://github.com/Azure/azure-openapi-validator/issues/248

[2021-08-18 02:46] #15666 closed

[2021-08-18 02:56] zhenglaizhang commented on #15662
@fengzhou-msft @ArcturusZhang @archerzz  could you help take a look at the .NET SDK failure under https://github.com/Azure/azure-rest-api-specs/pull/15439/checks?check_run_id=3341255859, it looks like a bug

```cmderr	[Autorest] FATAL: System.InvalidOperationException: Swagger document contains two or more x-ms-enum extensions with the same name 'SkuTier' and different values: Free,Basic,Standard,

[2021-08-18 03:05] forteddyt commented on #15662
The issue is not with the generation. The generation fails correctly. mfe.json's SkuTier and common-types SkuTier definitions **are** different.

I'm mainly asking why common-types doesn't have their enums designed to be referenceable

[2021-08-18 08:18] avjerafi commented on #15588
@raych1
We have already caught this and the fix was merged 6 days ago:
Please see: https://github.com/Azure/azure-rest-api-specs/pull/15607

[2021-08-18 09:10] zhenglaizhang commented on #15662
@forteddyt for SkuTier, service team use very different value set so it's not reasonable to define them as common types, and for historical reason, its model-as-string is set as false, updating it will resolve breaking changes, currently most service teams define their own SkuTier definitions based on their needs.
For you SDK failure, it's due to track1 common issue. I talked with SDK owner, you n

[2021-08-18 14:56] forteddyt commented on #15662
@zhenglaizhang

This does not make sense. It's completely reasonable to define SkuTier as in common types, because for services that reference common-types "Sku" **it already is**. Any service team that references common-types "Sku" is automatically restricted from defining an enum named SkuTier in their spec. Service teams that reference common-types "Sku" (like our team plans to), **cannot** use

[2021-08-18 18:04] rokulka commented on #15686
This review is for the Feedback API for the QuestionAnswering Service under the new Unified Language Service scenario.

We discussed the other granular update APIs in an earlier review, but the details of this API were not part of it. Hence requesting a review separately.

Description
In a Bot scenario, when a user queries our Knowledgebase – If the top QnAs in the response are have very close con

[2021-08-18 19:18] mikekistler opened #15694 "[DPS] REST API review for Azure IoT Device Provisioning Service (DPS)"
- Service name: Azure IoT Device Provisioning Service (DPS)
- Key contact for the review: @lerubin, @anushr
- Whether this is a new or existing API: existing
- Whether or not your service already been deployed: already deployed
- A brief description of the material to be reviewed/changed: reviewing general conformity of the Data Plane service API to the Azure API Guidelines plus alignment with oth

[2021-08-18 19:22] mikekistler commented on #15694
My raw notes from the review session held August 18:

Already GA service for > 3 years

What are the main resources?

What are the hero scenarios?

Walk us through the APIs a customer would use in these.

Ted: relationship of ID in path of PUT to create vs ID in request body (not marked as readOnly)

Mixing well-known and additional properties is a headache.  Separate these out.

Ted: Format of da

[2021-08-18 19:25] mikekistler commented on #15694
Apologies for the stream of consciousness above -- just wanted to make sure I captured everything.

@drwill-ms Pls see above and reach out if you have any questions.

[2021-08-18 19:58] slahabar opened #15696 "[Personalizer] Rest API review"
Swagger PR:  #15699

Design link
https://microsoft.sharepoint.com/:w:/t/personalizr/Ebn16DbDmadPuTMggz8FrzIBAsjvBQ4q1X41xsqVMCzkqA?e=qFDOsV

[2021-08-19 11:43] zhenglaizhang commented on #15662
@forteddyt thanks for your detail explanation, and we need consider more,
1. understand what's the most common value sets for SkuTier
2. evaluate if this change will cause downstream SDK gen breaking changes
3. the model as string is false in common types due to historical reasons, and we need figure out how to deal with it

[2021-08-19 15:57] m1dst commented on #7276
Is this issue ever going to be fixed?  It is impossible to redeploy a template when using cloningInfo unless you know ahead of time if the resource already exists and set the overwrite property accordingly.  This goes against the whole premise of ARM.

[2021-08-19 16:56] forteddyt commented on #15662
@zhenglaizhang sounds great, thank you very much. Please keep me posted, as I'm very interested in the outcome of this. Additionally, I just want to clarify that I have no particular feelings about `"modelAsString"`. It being `true` or `false` is a separate topic and is not related to the original issue I'm trying to bring up

[2021-08-19 18:49] jkonecki-techfabric commented on #14034
Hi @leni-msft , is anyone looking into this issue? I'm yet another user that run into this very problem - we cannot configure Identity integration for a dozen websites.

[2021-08-19 23:40] mikekistler commented on #15696
Attending:
@slahabar
@mikekistler
@johanste
@tg-msft

The version should probably be v1.1-preview.2.

JS: Are the authentication protocols all the same here?  Yes.

JS: What is the format of the request bodies?  Just binary, or is there any specification?  There is a definition in the repo.

TG: How is versioning handled for the payload?  It is in the payload.

JS: There should be client libraries

[2021-08-20 05:21] neil-yechenwei opened #15725 "LogicAppIntegrationServiceEnvironmentManagedApi.Put API failed to create Integration Service Environment Managed Connector"
After tested, I found [LogicAppIntegrationServiceEnvironmentManagedApi.Put](https://github.com/Azure/azure-rest-api-specs/blob/3257aacc47c2a03b7964cbb5c6a07ec9f2f232ee/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L6183) API failed to create Integration Service Environment Managed Connector and threw below error message. Please take a look. Thanks in advance.

R

[2021-08-20 08:57] leni-msft commented on #14034
hi @petrpod, would you be able to take a look at this issue or route to correct person?

BTW, the issue is also detected in Swagger KPIs: https://portal.azure-devex-tools.com/amekpis/correctness/detail?errorId=17644B59-D1E5-4D35-B7A1-6DA69FB4378B
cc. @josefree @akning-ms

[2021-08-20 10:15] aim-for-better commented on #6505
code complete

[2021-08-23 02:37] zhenglaizhang commented on #15694
Hi @mikekistler I am triaging the issues as it's labeled as `needs-triage`, it looks like the issue is for notes, so I removed the label and assigned the issue to you.  Feel free to correct me if I understand incorrectly.

[2021-08-23 07:48] haolingdong-msft opened #15746 "Azure Cache for Redis - list firewall rules response is incorrect immediately after deleting one firewall rule and creating one firewall rule"
We found when calling list firewall rules immediately after deleting one firewall rule and creating on firewall rule, the list response can be incorrect. We are calling 'Azure Cache for Redis' using code. Below is our code logs for requests and response payload.
Our process is:
1. Create two firewall rules - rule1 and rule2 (Log part 1)
2. Send a call to delete rule1 (Log part 2)
3. Send another c

[2021-08-23 14:49] mikekistler commented on #15686
I think there was a misunderstanding during the API review so I’m hoping we can clear that up through a discussion in this issue, but if not we can schedule a follow-up meeting.

Verbs are allowed — actually recommended — in the “action” part of path, in the final path segment.  But verbs should not be used anywhere else in the path.  So for the Unified Language Service, the path
"/:query-knowledg

[2021-08-23 15:13] jaspkaur28 commented on #15554
@sinbai : The SKU is always set to Free irrespective of the property provided in request payload. The Azure Automation team acknowledges this as an issue and have a backlog work item to fix the behaviour.
We will pick this up as resourcing allows.

[2021-08-23 16:19] rokulka commented on #15686
@mikekistler - Thanks for the recommendation. The Unified Language Service involves multiple cognitive services - Text Analytics, LUIS, QnA Maker and we went through multiple rounds of discussions to conclude on a set of path parameters for individual services. I will setup a sync to discuss this change in the path segment as it would affect all the services.

Please let me know if this /feedback

[2021-08-23 22:32] mikekistler commented on #15686
@rokulka I don't have any concerns beyond the verbs in the path segments.

[2021-08-23 23:45] MECHANDR commented on #15746
@haolingdong-msft  Firewall rule1 DELETE request got completed at 23 Aug 2021 03:37:51, and GET request was called within same time at 23 Aug 2021 03:37:52. Test could use few sec delay to avoid these false alarms.
Also, noticed that there are two different caches present in the logs. Log 1 is creating firewall rules on javacsmrc72809Third cache, and Log 2,3,4 are using javacsmrc42510Third cache.

[2021-08-24 00:33] neil-yechenwei opened #15759 "LogicAppIntegrationAccountSchema API cannot get the value of the `fileName` property"
After tested, I found [LogicAppIntegrationAccountSchema](https://github.com/Azure/azure-rest-api-specs/blob/6de27dc43268e23cbb322bdf18016c8b944f8926/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L3970) API cannot get the value of the [`fileName`](https://github.com/Azure/azure-rest-api-specs/blob/6de27dc43268e23cbb322bdf18016c8b944f8926/specification/logic/resou

[2021-08-24 01:58] haolingdong-msft commented on #15746
@MECHANDR
Thanks for the investigation.
Seems even GET call is sent right after DELETE call completes, the GET result can be incorrect, we will add some delay in test to avoid this, but it could be better if service can handle this scenario when GET is sent right after DELETE completes.
Good catch, I created two caches with rule1 and rule2 to test, sorry for the confusion. updated Log1. Thanks.

[2021-08-24 02:32] zhenglaizhang commented on #15759
@rarayudu could you help take a look?

[2021-08-24 13:33] markweitzel opened #15769 "[Synapses - Syms Sync] Review revised changes to OpenAPI document"
See: #15695

This is a follow-up from the review of #15064

[2021-08-24 18:03] amjads1 commented on #15672
Looking into the issue.

[2021-08-25 13:41] jabbera commented on #10797
Any update on this? I'm in the same boat.

[2021-08-29 08:53] nitmatgeo commented on #14677
Any update? 😞

[2021-08-30 17:25] msaranga commented on #15301
@jsntcy : This has been resolved. Please close this issue

[2021-08-30 17:25] #15301 closed

[2021-08-30 22:51] nickghardwick opened #15858 "[EventHub Schema Registry] REST API Review"
Swagger PR: [15855](https://github.com/Azure/azure-rest-api-specs/pull/15855)

[2021-08-31 03:49] wangxu724 commented on #14677
@nitmatgeo Please open a ticket with detail in the Azure Portal to be connected with a support representative.

[2021-08-31 10:45] mikhailshilkov opened #15867 "Should Microsoft.ServiceFabricManagedClusters folder be Microsoft.ServiceFabric?"
As described in https://github.com/Azure/azure-rest-api-specs#directory-structure, this repo is fairly consistent about the folder structure. In particular, item (4) is a resource provider name. For service fabric managed clusters, the resource provider is still called `Microsoft.ServiceFabric` ([example](https://github.com/Azure/azure-rest-api-specs/blob/9816073fe0652b346f5bf328a7ba017efcb7e826/s