[2020-07-16 19:34] ErikElkins commented on #9879
There was an initial version of the OpenAPI definition in the following repo (very outdated). It could serve as a starting point?

https://github.com/microsoftgraph/microsoft-graph-openapi

[2020-07-16 19:51] kylebrandt commented on #10170
Had been resolved on MS side.

[2020-07-16 19:51] #10170 closed

[2020-07-16 23:20] damendo commented on #7579
This API ([List Available Providers](https://docs.microsoft.com/en-us/rest/api/network-watcher/networkwatchers/listavailableproviders)) along with ([Get Azure Reachability Report](https://docs.microsoft.com/en-us/rest/api/network-watcher/networkwatchers/getazurereachabilityreport)) have been marked as Preview.

Given preview status, low usage and competing projects; fixing issues related to either

[2020-07-17 04:03] neil-yechenwei opened #10184 "maximumElasticWorkerCount property doesn't take effect while creating app service plan"
After tested, I found maximumElasticWorkerCount property doesn't take effect while creating app service plan.

Http request to create app service plan:
[code]

Http request to get app service plan:
[code]

[2020-07-17 06:31] isra-fel opened #10188 "[appconfiguration] "RegenerateKeyParameters.id" should be required"
This is Yeming from Azure PowerShell team. While we are working on the generated module Az.AppConfiguration, we found what looks like a bug in swagger that `RegenerateKeyParameters.id` is [not marked as required](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/preview/2019-11-01-preview/appconfiguration.json#L1151

[2020-07-17 07:44] ArcturusZhang opened #10190 "Azure Virtual Machine Scale Set is not returning the publicIPPrefixID after a SKU update"
To reproduce:
1. Create a VMSS with a publicIPPrefixID assigned by using the following tf config
[code]
1. Update the VMSS sku with the following request body:
[code]
1. Get the updated VMSS and found publicIPPrefixID is empty.

[2020-07-17 09:05] bowen5 commented on #10161
Thank you @ChenTanyi for raising this. If we separate above issues into 2 categories:

- **Requires Swagger Update**
    - Service Binding

- **Swagger is correct while backend service implementation need improve**
    - Spring Service
      - We've enhanced our backend to make PUT has complete support for Update scenario, so 'd like to keep the name as `CreateOrUpdate`.
    - Spring App
    - Dep

[2020-07-17 09:24] akning-ms commented on #8863
Hi @daviwil, as it is a bug for autorest core, can you just give a link here to track the bug? so we can close issue in swagger repo.

[2020-07-17 14:11] mstavrev commented on #10104
We have the same problem, please fix

[2020-07-17 16:28] Drewm3 commented on #10190
@avirishuv, could you please take a look at this.

[2020-07-17 18:14] avirishuv commented on #10166
@ArcturusZhang - This behavior is by design for specialized images. This documentation provides related information for specialized images and OSProfile: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/shared-image-galleries#generalized-and-specialized-images

[2020-07-17 22:00] sebansal commented on #9222
@sergiosolorzano

'Operation not allowed' could mean the user may not have the access to purge. Can you eliminate that scenario?
Also, enabling purge protection is a one time operation. Once enabled, user would not be able to disable it.

[2020-07-17 22:06] sebansal commented on #9806
Key Vault doesn't currently provide a way to back up an entire key vault in a single operation.
User can backup individual key vault objects https://docs.microsoft.com/en-us/azure/key-vault/general/backup

@heaths can you mark this as feature request

[2020-07-17 22:08] sebansal commented on #8473
@heaths which document is being referred here?

[2020-07-17 22:47] daviwil commented on #8863
Here it is: https://github.com/Azure/autorest/issues/3546

[2020-07-20 10:33] bowlerma commented on #8093
I don't suppose there's an update on this?

As others have pointed out; only occurs when the service plan isn't defined in the same template as the app service.  Nothing else seems to require that a resource actually exists when using the 'validate' mode.

[2020-07-20 15:40] macolso commented on #9768
Valid value is “ContainerInstance” not “ContainerInstanceLogs”

[2020-07-20 19:24] jlichwa commented on #9222
@sergiosolorzano please check your access policies, purge permissions are different from delete https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az-keyvault-set-policy

[2020-07-20 19:26] jlichwa commented on #9806
@heaths @sebansal entire key vault backup requires work on service side. This feature did not make it in this semester, hopefully next one.

[2020-07-20 21:15] EppO commented on #10104
This also affects any regular VMs in a Standard LB's backend pool

[code]

[2020-07-20 22:03] aholler2 commented on #8093
@naveedaz?

[2020-07-20 22:19] mstavrev commented on #10104
You can temporarily lock down the azurerm module to version 2.17.0, it is still using the older Azure API and does not have this problem.

[2020-07-20 22:37] mrlesmithjr commented on #10104
So this is interesting, I am using `2.15.0` and seeing this issue quite regularly.

[code]

[2020-07-20 22:42] mstavrev commented on #10104
According to https://www.terraform.io/docs/configuration/modules.html#module-versions with "~> 2.15" you are allowing any version up to (excluding) 3.0.0. So, most likely you are using right now 2.19, which is the highest available one < 3.0.0

[2020-07-20 22:42] mrlesmithjr commented on #10104
That is actually true. Thanks for catching that!

[2020-07-20 22:44] mstavrev commented on #10104
Btw, just in case it matters for some one, the same issue exist with managing LB health checks - same exact issue, and same (temporary) fix.

[2020-07-20 22:50] mrlesmithjr commented on #10104
Saw this there as well. I am about to kick off a pipeline build to see if this solves the issues I've experienced as well. Just to clarify, I have pinned the provider to `2.17`

[code]

[2020-07-20 23:19] mrlesmithjr commented on #10104
Curios whether [this](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4330) is related as well. I have put in `depends_on` which seems to get around the race conditions I have been experiencing. Just a thought.

[2020-07-21 01:03] magodo commented on #10104
Hi @zikalino or @qianwens Could you please take a look at this?
BTW, does Azure/azure-rest-api-specs#10131 fixes this?

[2020-07-21 01:41] neil-yechenwei opened #10210 "There is no error message in response while failing to create app service plan"
Symptom:
After tested, I found that there is no error message in response, no error message in ServiceError and no StatusCode since they all are nil while failing to create app service plan. It should return the error message in response.

Rest api call:
[code]

Result:
![image](https://user-images.githubusercontent.com/19754191/88002262-b3975a00-cb34-11ea-9fdb-2d3e972d1d86.png)

[2020-07-21 02:25] mrlesmithjr commented on #10104
Just as an FYI. I have gone through pipeline several times now with success using `2.17`. That is about 173 resources spinning up, tearing down, and spinning up again. This also includes removing the `depends_on` that I mentioned earlier. I will be testing quite a bit more as well.

[2020-07-21 06:39] lrxtom2 opened #10212 "Field `singlePlacementGroup` could not set any value in OrchestratedVirtualMachineScaleSet"
Service: Compute
API Version: 2019-12-01

If `singlePlacementGroup` set to **true** that will meet an error from api below:
[code]

If `singlePlacementGroup` set to **false** that will meet an error from api below:
[code]

[2020-07-21 07:35] jackofallops opened #10213 "Expose Internal Load Balancer IP in Application Service Environment v2"
When an Application Service Environment is created with an `InternalLoadBalancingMode` that is not `None` an IP in the local subnet is allocated to the Load Balancer.  This is not currently exposed in any way, meaning programatic interaction is not possible. Could this property be exposed by some mechanism, perhaps in the `AppServiceEnvironment` model as a RO attribute?

[2020-07-21 07:51] #10212 closed

[2020-07-21 11:25] shemers commented on #8683
We are working to release a new SDK version.

[2020-07-21 12:11] aristosvo commented on #8683
@shemers Are you talking about the 2020-03-01 preview API? Or is there something else?

If there's something like a beta version: I'd love to give feedback

[2020-07-21 13:01] marioanton commented on #10144
Any progress on this one MS?

[2020-07-21 18:59] dkkapur commented on #9768
This looks like it might be a documentation error. Thanks for calling this out @neil-yechenwei!

From our internal validation, seems like the value should be "ContainerInstance". Let me know if that works for you or not and we can take it from there. Thanks.

[2020-07-21 20:10] heaths commented on #8473
It's part of the certificates swagger API, e.g. https://github.com/Azure/azure-rest-api-specs/blob/f9caf92527ccff06c5b66380e6f2b4f50f5e82b3/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/certificates.json.

[2020-07-21 22:42] jlichwa commented on #9806
@amitbapat from what I remember MHSM would have full backup and AKV would return not supported. I believe that marking it as long running should be valid?

[2020-07-21 22:52] heaths commented on #9806
Is this the right document for MHSM data plane operations?

[2020-07-22 03:31] yupwei68 commented on #10162
And the go sdk raises error: StatusCode=404 -- Original Error: json: cannot unmarshal array into Go struct field serviceError2.details of type map[string]interface {}

[2020-07-22 04:10] hausec commented on #10142
Any update on this?

[2020-07-22 05:23] jdelforno commented on #9879
I was able to extract the Graph API $metadata into the OpenAPI standard (Swagger 3.0 I guess?)   however auto-rest failed to disgest it sadly.

[2020-07-22 05:42] magodo opened #10223 "App Service Domain: API not idempotent and missing exmaple on creation"
The App Service Domain API is not idempotent in turns that `PUT`/`PATCH` need some fields (e.g. `consent`, `contact`) which are not returned in a later `GET`. Also, I noticed that the contact information filled in Portal doesn't ends up show in the WHOIS database, where it uses some "preset" contact information instead.

Besideds, there is no example on how to create this resource in current spec,

[2020-07-22 07:53] neil-yechenwei opened #10225 "IoTHub Dps API failed to parse error message when it failed to create iothub dps"
After tested, I found iothub dps api would fail to parse error message when it failed to create iothub dps.

Http request:
[code]

Error message:
![image](https://user-images.githubusercontent.com/19754191/88149923-4c140400-cc33-11ea-9455-4b61ad859ebd.png)

[2020-07-22 18:04] an-emma commented on #5604
@danielrbradley To answer your question, compatibility Level 1.2 is only available from preview API version.

[2020-07-22 18:32] heaths opened #10226 "Various Search model properties need to be authored as x-nullable: true"
We're finding in the Azure Cognitive Search SDK for .NET that quite a few model properties need to be authored as x-nullable because the service implementation may return them as null.

See https://github.com/Azure/azure-sdk-for-net/blob/80ff0d075221715e3eb8e8645eac2cef203e7c8f/sdk/search/Azure.Search.Documents/src/autorest.md#add-nullable-annotations for a current list. Should we add more, we can

[2020-07-22 22:00] sebansal commented on #8473
@jlichwa can you review this for repo update?

[2020-07-22 22:39] jlichwa commented on #8473
@sebansal work with Rashmi to see what should be an update for that value in certificate rest api and documentation. I can help you out with creating PR.

[2020-07-23 04:07] neil-yechenwei opened #10233 "Container Registry Replication API should throw error while creating replication and container registry with the same location"
After tested, I found Container Registry Replication API doesn't throw error while creating replication and container registry with the same location. I think it should throw error message. If you want to repro this issue, please must follow below steps.

1. Http request to create container registry in canadacentral:
[code]

2. Container registry is created successfully. It's expected.

3. Http re

[2020-07-23 06:49] ArcturusZhang opened #10234 "Cannot properly install Microsoft.Azure.ActiveDirectory.AADLoginForWindows extension on a VM"
Initially reported in https://github.com/terraform-providers/terraform-provider-azurerm/issues/7748

On portal, you can successfully install the extension as the following to a windows VM:
[code]
but the same configuration does not work on terraform (equivalent with pure REST API):
[code]
and the service returns this error:
[code]

Terraform or REST API installed extension could be provisioned suc

[2020-07-23 09:59] shawnxzq commented on #5788
@LijuanZ Could you please have a look at this?

[2020-07-23 10:05] shawnxzq commented on #8958
@lmazuel We have a business requirement that we want to property to be a enum value. However, the enum value could be parameterized, and we use object to define parameterized expressions, is there a way with current swagger to support this requirement?

[2020-07-23 11:49] shawnxzq commented on #9764
We understand its value will be the same as the type name if it is not set. So in our current practice, we may not set it if we want to use the type name as the value.

[2020-07-23 12:33] marioanton commented on #10144
Issue sorted for me now 👍

[2020-07-23 18:59] brjohnstmsft commented on #10226
Thanks for reporting this @heaths. If I had to guess how we got into this state, it might be because we incorrectly assumed that `x-nullable` is true by default (or at least, treated that way for .NET reference types in C# codegen).

I'll fix all the core Search instances of this. @bleroy, can you please fix the indexer- and skillset-related instances?

[2020-07-23 19:06] brjohnstmsft commented on #9876
@mattmsft, please confirm that this is still on your radar.

[2020-07-23 19:08] brjohnstmsft commented on #9160
@mattmsft Please confirm if this is still on your radar.

[2020-07-23 19:09] brjohnstmsft commented on #9877
@mattmsft Please confirm that this is still on your radar.

[2020-07-23 19:24] bleroy commented on #10226
@brjohnstmsft Sure.

[2020-07-23 19:39] Nilambari commented on #10149
We have a known issue Bug#7699398 which is fixed and getting rolled out.
Fix is there in West central US and SouthCentral US among the prod regions.

[2020-07-23 21:27] mattmsft commented on #9876
Confirmed. I'll take a look at this soon.

[2020-07-23 21:54] karravi-msft commented on #8555
Yes. This is a limitation in the current resource provider model. We have plans to fix this but do not have a more specific timeline yet

[2020-07-23 22:01] karravi-msft commented on #5033
This features is indeed supported in rest API. please have a look @ the targetResourceId field in the documentation (https://docs.microsoft.com/en-us/rest/api/dns/recordsets/createorupdate). This field determines if a record is an Alias record or not. You can see some .net sdk usage samples in the source code of azure powershell module for DNS

[2020-07-23 22:12] mialdrid commented on #7569
@haroldrandom The changes to fix this are checked in and under review.

[2020-07-24 00:35] bleroy commented on #10226
PR #10245

[2020-07-24 01:07] nachakra commented on #9660
@neil-yechenwei - Can you tell me the client that you are using to update the originPath on endpoint?I tried using ARMClient- setting to empty string fails but null works.

[2020-07-24 04:18] jlichwa commented on #7621
@RandalliLama - Is that possible to define conditional required fields in swagger?

[2020-07-24 04:23] jlichwa commented on #8075
It is as designed, purge protection is irreversible. Otherwise hacker would be able to delete your key vault without option to recover. #please-close

[2020-07-24 04:24] #8075 closed

[2020-07-24 04:29] jlichwa commented on #9432
@RandalliLama is it ok to make it readonly?

[2020-07-24 04:33] jlichwa commented on #9812
@amitbapat is that related to full backup?

[2020-07-24 04:37] jlichwa commented on #9885
@amitbapat I think it is related to full backup, can you get help from engineering team ?

[2020-07-24 05:14] yupwei68 commented on #10144
Thanks, this has been fixed.

[2020-07-24 05:14] #10144 closed

[2020-07-24 08:18] yupwei68 opened #10248 "cosmo mongodb collection how to get TTL"
1. We have updated mongodb collection by request:
PUT /subscriptions/.../resourceGroups/acctestRG-cosmos-200724154914252534/providers/Microsoft.DocumentDB/databaseAccounts/acctest-ca-200724154914252534/mongodbDatabases/acctest-200724154914252534/collections/acctest-200724154914252534?api-version=2020-04-01 HTTP/1.1
{"properties":{"resource":{"id":"acctest-200724154914252534","indexes":[{"key":{"ke

[2020-07-24 17:40] sebansal commented on #8473
![image](https://user-images.githubusercontent.com/62565144/88419180-8d262880-cd99-11ea-8f71-03da2a7d7e7e.png)

@heaths If i understand correctly, you seeking more clarity in the description

For context:
PEM files are base64 encoded. We support the following type of Import for PEM file format. A single PEM encoded certificate along with a PKCS#8 encoded, unencrypted key which has the following

-

[2020-07-24 18:20] heaths commented on #8473
I realize PEM *bodies* are already base64-encoded, but if the whole stream / buffer is (as the description suggestions), then the service fails. The description needs to clarify that PEM-encoded bodies should *not* be base64-encoded. Customers (we got issues) and even the SDK got this wrong because the documentation is not clear and makes it sound like all content should be base64-encoded regardle

[2020-07-24 23:04] amitbapat commented on #9885
@vasanthrajams and @vickm to address this.

[2020-07-24 23:05] amitbapat commented on #9812
@vasanthrajams and @vickm to address.

[2020-07-24 23:06] amitbapat commented on #9806
@vasanthrajams and @vickm to address.

[2020-07-24 23:08] lilyjma opened #10252 "Test"

[2020-07-24 23:09] #10252 closed

[2020-07-25 00:56] Drewm3 commented on #10234
@amjads1, could you look into this issue?

[2020-07-25 03:01] heaths commented on #10226
This isn't complete. When referencing in commits, make sure a word separates keywords like "fixed", "resolves", etc. until complete so it doesn't get auto-closed.

[2020-07-26 06:57] yugangw-msft commented on #10233
Let me check out whether we end up creating a replicate in the same home region

[2020-07-27 02:55] lrxtom2 opened #10257 "Support Forced Tunneling for Azure Firewall in rest api"
[Forced Tunneling](https://docs.microsoft.com/en-us/azure/firewall/forced-tunneling)

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/azureFirewall.json

[2020-07-27 05:36] yupwei68 opened #10258 "Sql Server security altert policy to a storage account behind firewall returns error"
Issue related to : https://github.com/terraform-providers/terraform-provider-azurerm/issues/7887
I tried to create a sql server security alert policy to a storage account behind firewall, and it returns an internal error, which has blocked our users.

request:
PUT /subscriptions/.../resourceGroups/yupsql/providers/Microsoft.Sql/servers/yupsql/securityAlertPolicies/Default?api-version=2017-03-01-pr

[2020-07-27 06:07] yupwei68 commented on #10258
I have tried to assign the sql server in scope storage account 'Storage Blob Data Contributor' as what we do in sql auditing to a storage account behind firewall. It doesn't work either.

[2020-07-27 06:37] yupwei68 commented on #10162
Currently I can reproduce this error only on sql server listing recovery databases. After you have created a sql server, and you list the recovery databases. It shows error:
[code]

[2020-07-27 07:47] alex-3sr opened #10259 "Missing API for set TLS version in Azure MariaDB Server Ressource"
Hi,

I checked, but unless I am mistaken, I didn't find the a definition for set TLS version in Azure Maria DB server ressource in Rest-API reference : https://docs.microsoft.com/en-us/rest/api/mariadb/servers/create#definitions

If I'm correct, is it possible to add this as feature request please ?

Thanks, and remain at disposal if need further information
Regards,
Alexandre

[2020-07-27 08:18] xccc-msft commented on #10259
@alex-3sr I just added label of `Service Attention` so MariaDB team would help check this. Thanks.

[2020-07-27 08:44] magnus-longva-bouvet commented on #10234
I'm having a similar issue. I can install the extension via `az vm extension set --publisher Microsoft.Azure.ActiveDirectory --name AADLoginForWindows` on Azure CLI 2.9.0, but not through ARM template deployment. Upon ARM template deployment, I get the rror

`"message": "The handler for VM extension type 'Microsoft.Azure.ActiveDirectory.AADLoginForWindows' has reported terminal failure for VM exte

[2020-07-27 18:52] PPrabinKumarPatro commented on #9797
We created backlog item for this to track and will work on this.

[2020-07-27 19:39] amjads1 commented on #10234
Looking into this issue and hoping to have an update asap.

[2020-07-27 20:20] amjads1 commented on #10234
I have reached out to the extension owners, awaiting on the response.

[2020-07-27 22:43] LijuanZ commented on #5788
This is by design that Data Factory stores only lowercase resource group name

[2020-07-28 01:47] kummanish commented on #10259
hi @alex-3sr , thanks for reaching out.

We did publish the CLI for MySQL and PostgreSQL and we are working on getting it out for MariaDB as well. We will update you as soon as we are done publishing.

[2020-07-28 12:22] mikemowgli commented on #3457
Hi @andyw248 , could you give us a reading on the progress?

[2020-07-28 15:46] Tyriar opened #10278 "[App Services]:Set-AzAppServicePlan help should show accepted values for Tier"
## Description

https://docs.microsoft.com/en-us/powershell/module/az.websites/set-azappserviceplan?view=azps-4.4.0#parameters
https://github.com/Azure/azure-powershell/blob/master/src/Websites/Websites/help/Set-AzAppServicePlan.md

Tier doesn't give a lot to go off:

![image](https://user-images.githubusercontent.com/2193314/88552299-c9939780-cfd8-11ea-9896-306cce1614cb.png)

The Redis Cache docs

[2020-07-28 23:00] lmazuel commented on #8958
Hi @shawnxzq could you describe in JSON examples what do you mean? I have a hard time to visualize it in text. Thanks!

[2020-07-29 00:36] solankisamir commented on #9255
@sam-cogan @ukphillips @danbyrne-tal the REST API does support adding VNET into `additionalLocations`. Look at example [apimanagementservicegetmultiregioninternalvnet](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apimanagementservice/get#apimanagementservicegetmultiregioninternalvnet)

[2020-07-29 00:36] #9255 closed

[2020-07-29 00:37] solankisamir commented on #9238
ApiManagement does not manage SendGrid Accounts. Removing Label

[2020-07-29 03:00] yupwei68 opened #10288 "API Management Service create with hostname config key vault and user assigned identity return error"
We received customer reported issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/7909, which is confirmed to be able to be reproduced. Please see the log:

Create an api management service with hostname config key vault and user assigned identity return error:
request:
PUT /subscriptions/.../resourceGroups/rgtsthub0001/providers/Microsoft.ApiManagement/service/AZRAPIM01

[2020-07-29 03:02] #5788 closed

[2020-07-29 03:13] yupwei68 opened #10289 "API Management PortalSettings Sign In/Sign Up/ Policy return error when API Management Service is internal-virtualnetwork or Consumption_0"
Is it designed to return error by calling api sign in/ sign up/ policy when apim service is internal virtual network or sku is `Consumption_0`?

Request:
PUT /subscriptions/.../resourceGroups/acctestRG-200729100643105603/providers/Microsoft.ApiManagement/service/acctestAM-200729100643105603/portalsettings/signin?api-version=2019-12-01 HTTP/1.1
{"properties":{"enabled":false}}

Response:
{"error":{

[2020-07-29 04:57] yupwei68 commented on #10288
Service Team has replied me in email that it's by design. Retrieving hostname config certificate using user assigned identity is not yet supported

[2020-07-29 04:57] #10288 closed

[2020-07-29 19:03] spagarwa commented on #9764
Schedule trigger is also derived from MultiplePipelineTrigger. Based on Shawn's comment we do not need this change. Closing the thread

[2020-07-29 23:00] Drewm3 commented on #10033
Unfortunately, our new behavior for VM sizes will not support the ability of maintaining this list. So, my guidance is to remove the majority of these sizes from the list so that folks will not be confused by the partially complete list of sizes.

@bilaakpan-ms, let's work together to get this list of sizes reduced in the spec to avoid future confusion.

[2020-07-29 23:37] mimckitt commented on #9014
I currently have a PR in progress for a new document explaining this behavior. Hoping to have it complete and published in the next week or so. Once it is live, we can link from the reference pages to that document to avoid further confusion.

[2020-07-30 03:07] yupwei68 commented on #10289
The service team has replied me in email that the Inbound port 3443 of the virtual network should be opened to allow calling the other apis.

[2020-07-30 03:07] #10289 closed

[2020-07-30 04:06] #10226 closed

[2020-07-30 07:29] neil-yechenwei opened #10298 "Dev Test Policy isn't applied to dev test lab"
After tested, I found seems dev test policy isn't applied to dev test lab.

Http request:
[code]

Don't see policy in Azure Portal:
![image](https://user-images.githubusercontent.com/19754191/88893781-72f8b880-d279-11ea-930c-cb535906e59d.png)

[2020-07-30 07:48] neil-yechenwei commented on #9660
@nachakra , I am using [go sdk client](https://github.com/Azure/azure-sdk-for-go/tree/master/services/cdn/mgmt/2019-04-15/cdn) to update this property. Seems it's a bug in go sdk. Could you have a look for this issue? Thanks.

[2020-07-30 08:26] neil-yechenwei commented on #9768
@macolso, thanks for your response.
After tested, it still failed with "ContainerInstance" and threw below error message. Seems it didn't pass the property validation according by the error message. Could you take a look for this issue?
Http request:
[code]

Error message:
[code]

And The [rest api spec](https://github.com/Azure/azure-rest-api-specs/blob/9cd5ff7733bcb60516ae18bb8fd7154659f8830d/sp

[2020-07-30 15:10] Petermarcu commented on #9160
Is there any update on this? I don't see any ack on progress or timelines.

[2020-07-30 16:30] mattmsft commented on #9160
We can add this by next week

[2020-07-30 19:11] amjads1 commented on #10234
Adding @srrstepe who is working on this issue. Can you please share more details and the information you are looking from the user?

[2020-07-30 20:59] mattmsft commented on #9160
https://github.com/Azure/azure-rest-api-specs/pull/10308

[2020-07-30 23:05] drdamour commented on #5029
any update on this?

[2020-07-31 15:26] vilisseranen opened #10315 "MySQL Server Security Alert Policies - disabled_alerts returns [""] when no alert is disabled"
Hello,

While using terraform to manage a MySQL managed instance (https://www.terraform.io/docs/providers/azurerm/r/mysql_server.html), I am running with an issue related to the `threat_detection_policy` configuration.

According to the documentation https://docs.microsoft.com/en-us/rest/api/mariadb/serversecurityalertpolicies/get#serversecurityalertpolicy, the only allowed values in `properties.d

[2020-07-31 19:14] macolso commented on #9768
@neil-yechenwei, we'll fix the issue with the REST API and reflect thisin the documentation. If you remove the metadata field, you should have a successful deployment.

[2020-07-31 22:47] qiaozha commented on #9764
@shawnxzq  @spagarwa After I talked with @daviwil, Because all the json files under entityTypes folder are not explicitly include in the input file, it's considered to be a supporting file. And for those definition in the supporting file the code model will only keep it unless it's explicitly referenced by like $ref and x-ms-discriminator-value is also considered as explicitly reference, otherwise

[2020-07-31 22:54] daviwil commented on #9764
@qiaozha is correct, the optimal solution here is to add any files with schemas that _must_ appear in the generated code to the `input-files` list so that they are not discarded.

[2020-08-03 04:42] ArcturusZhang opened #10322 "VMSS complains `ImageReference is null` during an update of the data disks"
Here is the request URL:
[code]
And the request body:
[code]
And the update request returns an error:
[code]

[2020-08-03 07:10] ArcturusZhang opened #10323 "Cannot enable CMK on a pre-existing cosmosdb account"
I created a cosmosdb account by using the REST API body:
[code]
then I am trying to enable CMK on this cosmosdb using the PATCH RESP API with the body
[code]
I got an error:
[code]

[2020-08-03 20:34] srrstepe commented on #10234
Currently there is an issue in Azure Device Registration service where the device registration requests would fail if the resource name is greater that 15 characters. This issue has been fixed and currently under deployment.

Looking a the resource group name “ rg-d-we1-wherescape-poc”, I am assuming the resource name would have been greater than 15 characters as well. In order to confirm if the i

[2020-08-04 05:27] esteimanuel opened #10333 "Webapp:Connection string type accepted values do not match actual accepted values"
Connection string type.

accepted values: ApiHub, Custom, DocDb, EventHub, MySql, NotificationHub, PostgreSQL, RedisCache, SQLAzure, SQLServer, ServiceBus.

But in the app service configuration connection string types the only accepted values are: MySQL, SQLServer, SQLAzure, PostgreSQL and Custom.

When the type is ServiceBus, IConfiguration.GetConnectionString("Name") could not resolve it in Azur

[2020-08-04 08:53] neil-yechenwei opened #10337 "Management Lock API throw unexpected error message while creating/getting multiple management locks in the same time"
After tested, I am trying to use resource id like "/subscriptions/xx-xx-xx-xx/resourceGroups/acctestRG-mgmtlock-test01/providers/Microsoft.DBforMySQL/servers/acctestmysqlsvr-test01" as lock name to create/get multiple management locks in the same time. But Management Lock API would throw below unexpected error message.

The first http request:
[code]
Error Message - **This is expected error messag

[2020-08-04 17:48] axayjo commented on #10322
@avirishuv, could you take a look at this issue?

[2020-08-04 23:26] jrgithub opened #10342 "webapp:Get-AzResource lookup on Azure App Service does not return accurate NetFrameworkVersion"
When assigning a variable to this:

$enumAppService = Get-AzResource -ResourceGroupName $resName -ResourceType Microsoft.Web/sites/config -ResourceName $website.Name -ApiVersion 2018-02-01

And then writing to screen like this:
Write-host $enumAppService.Properties.NetFrameworkVersion

The output is always v4.0 (this may align to what is seen via resource.azure.com). However, this is inaccurate as

[2020-08-06 04:22] neil-yechenwei opened #10356 "IoTHub Dps API - rights property in response doesn't include the values "enrollmentRead/registrationWrite/registrationRead" when set "enrollmentRead/registrationWrite/registrationRead" as "true" in http request"
After tested, I found rights property in response doesn't include the values "enrollmentRead/registrationWrite/registrationRead" when set "enrollmentRead/registrationWrite/registrationRead" as "true" in http request. I assume api should return them since they are set as true in http request body.

Http request:
[code]

Response:
![image](https://user-images.githubusercontent.com/19754191/89490433-

[2020-08-06 05:42] ArcturusZhang opened #10357 "[RecoveryServiceBackup] ProtectedItemResource/AzureIaaSComputeVMProtectedItem sometimes returns the `SourceResourceID` with the resource group name in UPPER CASE"
Original reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8009

[2020-08-06 08:07] ArcturusZhang opened #10362 "The identity type in `containerregistry` is returned with the first letter in lower case"
Problematic swagger: https://github.com/Azure/azure-rest-api-specs/blob/d1d7dc3a6885ab3d68fcdfbea101d1e4f6284458/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2019-12-01-preview/containerregistry.json#L1835

Request URL:
[code]
Request body:
[code]
Response of a GET request after the creation:
[code]

As you can see, in the GET response, the `type` of `identi

[2020-08-06 12:34] pearcec opened #10364 "Redis Linked Server Delete needs x-ms-long-running-operation: true"
Developing a terraform resource type I had to put in a loop to watch for the resource to respond 404.  Otherwise it fails to remove the redis cache servers because the link is still in a provisioningState "Deleting".  Having the long running operations makes the code cleaner and more appropriate.  See issue for downstream information.

x-ms-long-running-operation: true

https://github.com/Azure/az

[2020-08-06 18:55] Drewm3 commented on #10166
I am closing this issue because is by design as Avi mentioned.

[2020-08-06 18:55] #10166 closed

[2020-08-06 19:43] amjads1 commented on #10234
Thanks for the update @srrstepe !

@ArcturusZhang - Can you please help us in getting the above requested details so that we can confirm and close on this issue asap?

[2020-08-07 03:41] ArcturusZhang opened #10373 "Update on the image reference of VMSS erases all the data disks"
Original reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/6286

This issue has already been tracking internally, I just open this issue to let the customers outside MSFT could track the progress.

[2020-08-07 06:25] ArcturusZhang opened #10379 "The `identity` in service bus namespace is wrong"
Problematic swagger: https://github.com/Azure/azure-rest-api-specs/blob/6ea6ec5c1685147b140f3991d1f7145d1ca124d2/specification/servicebus/resource-manager/Microsoft.ServiceBus/preview/2018-01-01-preview/servicebus-preview.json#L1001

The `identity` is expected to be in the root level of the request body, but now it is in the `properties` level.

Justification: I have tried the following request:
[

[2020-08-07 06:41] ArcturusZhang commented on #10234
Hi @amjads1 and @srrstepe thanks for the investigation! But I am only the one to migrate this issue here not the issue author. I have informed the actual issue author to make some comments on your information.

[2020-08-07 17:21] axayjo commented on #10373
@avirishuv - this feature request is already being tracked. Assigning this to you to help answer any questions from external customers/users.

[2020-08-07 19:59] wmengmsft commented on #10323
hi @ArcturusZhang, enabling CMK on existing accounts is not supported. This is something we are looking into to be supported in the future. Please consider supporting this feature request at https://feedback.azure.com/forums/263030-azure-cosmos-db.

[2020-08-10 03:49] magodo opened #10391 "Network (Ver: 2020-05-01): Hub provision state returns `succeeded` while routing state is still `provisioning`"
After hub is provisioned, client might do arbitrary operations like creating/deleting hub vnet connection, which will update the routing state in hub. As the undertermined timing, this might conflicts with hub provisioning the routing state by itself.

One example is as below:

If the user already has a hubvnet conn (A), and he created another one (B). After both are created successfully, if he tr

[2020-08-10 06:09] yupwei68 opened #10395 "Subnet previously used by deleted api management service cannot be deleted"
Steps to reproduce

1.	Create a apim service
`{"location":"westeurope","properties":{"certificates":[],"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"false","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"false","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"false","Microsoft.Wi

[2020-08-10 08:20] yupwei68 opened #10396 "SQL threat detection policy doesn't show up in ATP on portal"
I have created a threat detection policy by api. But the storage account information doesn't show up in ATP as the image below.

Get https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupsql4/providers/Microsoft.Sql/servers/yupsql4/databases/sqltestabcd123/securityAlertPolicies/default?api-version=2014-04-01

[code]
![image](https://user-images.githubusercontent.com/56525

[2020-08-10 16:29] toddysm commented on #10362
@yugangw-msft Can you please take a look at this?

[2020-08-10 20:15] solankisamir commented on #10395
The scenario where we move the service out of Virtual Network does not remove the link to subnet immediately.
This is to avoid downtime for customer Apps, as the DNS refresh can take some time. When the service is moved out of the Virtual network, the IP Address changes. For more details refer [here](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-ip-addresses#changes-to

[2020-08-10 20:15] #10395 closed

[2020-08-10 20:55] amjads1 commented on #10234
Thanks for the response @ArcturusZhang . Please update with user comments on the requested information.

[2020-08-10 23:09] #9222 closed

[2020-08-11 00:34] RandalliLama commented on #7621
@jlichwa I don't believe so.

[2020-08-11 02:52] neil-yechenwei opened #10409 "NetApp Volume doesn't set export policy at first http request"
After tested, I found NetApp Volume doesn't set export policy at first http request while not setting the value of  "Cifs/Nfsv3/Nfsv41" property under "ExportPolicyRule" property. And then I sent http request again with same http request body, export policy can be set correctly. I assume it should set correctly at first time.

First http request:
[code]

Result:
![image](https://user-images.github

[2020-08-11 05:00] yungezz commented on #10357
hi @ArcturusZhang do you mean the case of resource group name changed? From what I know it's a known issue since resource group name isn't case sensitive, https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules. while add 'service attention' label for service awareness.

[2020-08-11 05:45] yupwei68 commented on #9267
Hi @sirlatrom Thanks

[2020-08-11 05:45] #9267 closed

[2020-08-11 05:46] yupwei68 commented on #8348
I have used a later version '2020-03-01 ' which doesn't include this error.

[2020-08-11 05:46] #8348 closed

[2020-08-11 05:46] yupwei68 commented on #8505
I have used a later version '2020-03-01 ' which doesn't include this error.

[2020-08-11 05:46] #8505 closed

[2020-08-11 05:47] yupwei68 opened #10411 "SQL database Internal Error tracking"
A customer reported an issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/7999.

Would you like to track the error with Tracking ID: 'a063eb77-e541-4c95-9edf-a12efc38d938'

[2020-08-11 06:28] #10379 closed

[2020-08-11 07:59] akning-ms commented on #9391
Hi @rajshah11, as you have contributed Addons Swagger, so added you here for your comments who is right contact person for this issue in Addons service team as the PR has not been update for a long time.

[2020-08-11 08:11] akning-ms commented on #10081
add @audunn to suggest as Audunn is main contributor for swagger

[2020-08-11 09:52] audunn commented on #10081
Snapshots are a proxy resource and they do not support tags. Tags are not part of snapshot properties as of 2019-11-01 specs .
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftnetapp

Perhaps the right course of action here is to remove them from older specs as well to avoid confusion.

[2020-08-11 10:02] erich-wang commented on #10409
Will engage service team to take a look.

[2020-08-11 16:46] damendo commented on #7579
#please-close

[2020-08-12 01:52] akning-ms commented on #9344
assigned to @pransapathi as he is working swagger PR for peering

[2020-08-12 02:37] yupwei68 commented on #10162
Tilak has helped to investigate the recoverable databases api. It appears it's one feature of the recoverable databases, which get data from the secondary region. Thus, it might takes couple of minutes or couple of hours to synchronize the data to the recoverable databases api.

[2020-08-12 02:37] #10162 closed

[2020-08-12 06:41] ArcturusZhang opened #10435 "The `backupPolicyId` parameter is not taking effect in policy definition `/providers/Microsoft.Authorization/policyDefinitions/09ce66bc-1220-4153-8104-e3f51c936913`"
Original reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/6829

We have a recovery service backup policy, and use it in an policy assignment using the following REST API request and body:
[code]
body:
[code]
The REST API works fine, the GET request after the provision succeeds also could get exact the same parameters as in the request. But on the portal, we cannot

[2020-08-12 08:47] eissko commented on #9281
Any progress on this here?

In my terraform state is **always** stored empty string of  logAnalyticsDestinationType = "" for resource type azurerm_monitor_diagnostic_setting. It results in the change on terraform plan each time it is run.

using terraform 0.12.29
azurerm provider ">= 2.22.0"

related problems/issues:

https://github.com/terraform-providers/terraform-provider-azurerm/pull/6769
http

[2020-08-12 08:55] #5303 closed

[2020-08-12 12:43] hugo-paredes commented on #10234
Hi @ArcturusZhang and @amjads1

I've followed the steps indicated in [here](https://github.com/Azure/azure-rest-api-specs/issues/10234#issuecomment-668228337) and attached the logs.

Hope it helps.
Hugo

[CollectGuestLogsTemp.zip](https://github.com/Azure/azure-rest-api-specs/files/5062692/CollectGuestLogsTemp.zip)
[Logs.zip](https://github.com/Azure/azure-rest-api-specs/files/5062693/Logs.zip)
[T

[2020-08-12 18:42] kenieva commented on #10435
@ArcturusZhang thanks for creating the ticket, I have some follow up questions. Is the policy still working as expected and its just not showing? Can you post your policy definition and assignment json?

[2020-08-12 20:37] jmeadowcroft commented on #10258
I am also having this issue.

[2020-08-13 02:01] yupwei68 commented on #10248
Related to issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/6894

[2020-08-13 02:13] avirishuv commented on #10190
@ArcturusZhang In the second step where you are updating the VMSS, the new "publicIPAddressConfiguration" does not provide the "PublicIpPrefix" as a property. So this is getting updated with an empty value and the original value is getting removed. This seems like expected behavior - please help clarify why you think this is an issue.

[2020-08-13 05:50] akning-ms commented on #10342
@panchagnula , Can we know what change need in swagger? if no and it is only need change in service side. suggest to move this issue back to Azure/azure-powershell , if yes. can you specify something more detail? Thanks

[2020-08-13 06:19] ArcturusZhang commented on #10435
Hi @kenieva the assignment JSON should be in the description. The assignment parameters:
[code]
and the definition should be a built-in definition `/providers/Microsoft.Authorization/policyDefinitions/09ce66bc-1220-4153-8104-e3f51c936913`. I could use `az policy definition show -n 09ce66bc-1220-4153-8104-e3f51c936913` to get the JSON. It is quite long:
[code]

[2020-08-13 07:31] ArcturusZhang commented on #10190
Hi @avirishuv I think I found the root cause of this.
Here [the update version of the `PublicIPAddressConfigurationProperties`](https://github.com/Azure/azure-rest-api-specs/blob/afbd723252e704e2763de2ec324a8263d67e8867/specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/compute.json#L9556), it only has two properties (without `publicIPPrefix`). But [the create version of th

[2020-08-13 07:52] amjads1 commented on #10234
Thanks for sharing the logs @hugo-paredes !

@srrstepe - Can you please look into the logs and confirm if the reported issue is same as the known issue where ADRS is making a change to allow VM resource names up to 64 chars – up from 15?

[2020-08-13 08:57] ayeletshpigelman commented on #10396
hi,

the image you attached is the alerts dashboard. In order to see the setting for the TD policy, please click on the settings button.
![settings_button](https://user-images.githubusercontent.com/24594978/90114988-27a3d700-dd5c-11ea-9433-c5914a56231b.JPG)

[2020-08-13 09:06] ayeletshpigelman commented on #10258
Hi,

We don't support enabling threat detection using storage behind firewall. We are working on adding a notification for the user to explain the failure cause in such a case.
We don't recommend enabling Threat Detection using a storage account since all the alerts are visible in the security center dashboard.

[2020-08-13 09:07] yupwei68 commented on #10396
Thanks for your support.

[2020-08-13 09:07] #10396 closed

[2020-08-13 09:10] yupwei68 commented on #10258
Thanks for your support.

[2020-08-13 09:10] #10258 closed

[2020-08-13 14:40] tombuildsstuff opened #10459 "Please reopen #8435"
As mentioned in the issue - this is not a breaking change - this value is supported by the service but is missing from the Swagger, ergo the Swagger does not correctly represent the service behaviour

cc @JeffreyRichter - this is an example like we discussed yesterday

[2020-08-13 15:28] #7579 closed

[2020-08-13 16:39] Drewm3 commented on #9995
@jrottenberg, are you referring to the list of VM sizes under HardwareProfile in compute.json? New sizes are not going to be added to this file. We are in the process of changing the file going forward to remove the majority of the existing sizes listed in the file in order to be very clear that customers must use the SKUs API to get the list of available sizes for a selected subscription.

The ch

[2020-08-13 18:44] tbugfinder opened #10461 "Azure NetApp Files export Kerberos Export settings"
Hi,

within the Azure Portal there are more options to configure export rules.
Especially Kerberos, -+encryption are available there.

Please add those settings to the API so that e.g. terraform could use it.

Thanks

[2020-08-13 19:32] jlichwa commented on #7621
@jiasli since it is shared operation, it does not seem it is possible to make it required only when create mode is "recover", remove it completely will fail for creation of new vault. Any suggestions?

[2020-08-13 20:38] tanmayeekamath commented on #10298
Thanks for adding me.

@neil-yechenwei thanks for reporting the issue. This is a known issue and we are working on a fix for the same.
The root case is the policy blade in the Azure portal uses a different fact name than what is included in the API. Hence the discrepancy.

This issue should be fixed by end of next week.

Thanks for your patience,
Tanmayee

[2020-08-14 02:46] ChenTanyi commented on #10461
@akning-ms Could you add a `netapp` label with person related in service team? I couldn't found a related label.

[2020-08-14 09:10] njuCZ opened #10473 "azure key vault secret should set a limit for expiration date"
Currently, we could set the expiration date to a far future date, such as "9999-12-31T00:00:00Z".  however, it does not make sense.

particularly with secret/sensitive values, it's recommended to have a short-lifetime.

So could the backend service add a limitation for the expiration date？

[2020-08-14 15:23] eissko commented on #9281
FYI
related issue:
https://github.com/terraform-providers/terraform-provider-azurerm/issues/8131

[2020-08-14 21:37] ShirleyJ27 commented on #10090
The validation isn't on Azure's side. It is a translation of a 400 error that Azure receives from Verizon. If you have question on why it's an error, please reach out to Verizon directly.

[2020-08-14 21:40] #10090 closed

[2020-08-17 07:10] shemers commented on #5676
Hi @tombuildsstuff,
this issue was resolved from Azure side, can you confirm that it does not recreates for you?

[2020-08-17 07:57] magodo commented on #9424
Hi @lirenhe any progress on this one?

[2020-08-17 08:37] shemers commented on #8755
@shueseman archiving as issue was resolved.

[2020-08-17 08:37] #8755 closed

[2020-08-17 08:40] shemers commented on #8683
@yossi-y can you please follow up here.

[2020-08-17 13:47] tombuildsstuff commented on #5676
Appears to be fixed from our side 👍

[2020-08-17 13:47] #5676 closed

[2020-08-17 17:49] jrottenberg commented on #9995
@Drewm3 yes I was, indirectly : https://github.com/terraform-linters/tflint-ruleset-azurerm is using the api spec to derive the machine type terraform can use, without having to actually interact with the api (so before a `terraform plan`)

but yeah the author created a bug, better to follow up there.

[2020-08-17 17:57] amjads1 commented on #10234
@srrstepe - Can you confirm on the issue and status based on the logs provided by @hugo-paredes ?

[2020-08-17 22:30] srrstepe commented on #10234
I looked at the logs provided by @hugo-paredes . I could confirm that the issue they were seeing is infact the issue mentioned above. i.e. Resource name greater than 15 characters.
Azure resource Id:/subscriptions/9faac4cb-9dc7-4672-85f6-44027ead7635/resourceGroups/rg-l-we1-fakegdp-main/providers/Microsoft.Compute/virtualMachines/**vm-l-we1-fakegdp-op-vm**

This issue has been fixed by ADRS team.

[2020-08-17 23:07] amjads1 commented on #10234
Thanks for the confirmation and updates @srrstepe . Appreciate the help!

@ArcturusZhang , @hugo-paredes - Based on the updates from @srrstepe , looks like the issue resolved and you should now be able to install Microsoft.Azure.ActiveDirectory.AADLoginForWindows extension without any errors. Can you please confirm from your side as well so that we can close this issue?

[2020-08-18 06:14] jayendranarumugam opened #10500 "Synapses Data Plane API Audience should remove Trailing"
Am not exactly sure that this is a bug in the code itself or docs need to be updated. Either way, I'm creating this issue for both the case

Data Plane APIs Synapses Audience need to remove extra **/**

As per the below [docs](https://docs.microsoft.com/en-us/rest/api/synapse/?source=docs)

From the above statement has the audience claim **https://dev.azuresynapse.net/** is not working, and will g

[2020-08-18 09:12] stuartleeks opened #10505 "storage - missing file for apiversion 2019-06-01"
The `package-2019-06` for storage ([here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/readme.md#tag-package-2019-06)) includes the following files:

[code]

In `storage.json` it [makes reference to `privatelinks.json`](https://github.com/Azure/azure-rest-api-specs/blob/271086fdddc2d13910e8fa1373d285b1512ed032/specification/storage/resource-manag

[2020-08-19 00:28] erniebilling opened #10511 "FOG updates/deletes don't get propagated to secondoary server"
Related to https://github.com/terraform-providers/terraform-provider-azurerm/issues/8040 and https://github.com/terraform-providers/terraform-provider-azurerm/issues/7938

When https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/failoverGroups.json#L19 is used to update the sku on a failover group (according to the a

[2020-08-19 01:03] MehaKaushik commented on #10248
Hey, we noticed this was an issue at the Service side, the fix for the same should be deployed by the end of the month. Thanks for reporting the issue.

[2020-08-19 02:00] yupwei68 commented on #10248
@MehaKaushik Thanks for your response.

[2020-08-19 03:24] NullMDR commented on #10511
@ArcturusZhang for help

[2020-08-19 07:45] gek0 commented on #10104
This one is still active and present :(
but it does work with the 2.17 version of the azurerm provider!

Test case - deploy Azure Loadbalancer
- 1x frontend
- 1x backend pool (add X VMs to it)
- X health checks and ACL rules added to that backend pool

-> now create another backend pool or even a separate frontend and the same setup on the existing one
-> it fails to create a backend or even remov

[2020-08-19 08:48] tombuildsstuff commented on #10104
@ArcturusZhang can we get the "Service Attention" and "Load Balancer" labels on this one so the service team can look at this API bug?

[2020-08-19 09:20] magodo commented on #10104
@ArcturusZhang Additionally, please check whether #10131 has already addressed that.

[2020-08-19 23:59] avirishuv commented on #10322
@ArcturusZhang This error does not repro - I was able to add data disk without having to provide image ref in the request body for the PATCH API call.
Are you using a marketplace image or custom image ? And are you seeing this behavior for any specific PS or CLI cmdlet ?

[2020-08-20 00:18] Drewm3 commented on #9995
Opening and reclosing this issue to trigger an update to the Microsoft reporting services.

[2020-08-20 00:19] #9995 closed

[2020-08-20 02:24] erich-wang commented on #10505
assign issue to @stuartleeks as he is working on it.

[2020-08-20 05:57] ArcturusZhang commented on #10322
@avirishuv I am using two shared image versions created by myself.

Please find more details for reproduce in [this issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/7957)

[2020-08-20 14:27] kylebrandt opened #10540 "Application Insights REST Demo App Metrics are Erroring"
Any /metrics query I try with the DEMO_APP is returning an InternalServerFault, for example:

[code]

[code]

[2020-08-21 05:35] magodo opened #10551 "HDInsight extention: failed to delete a HDInsight cluster monitoring extension"
I have a kafka cluster provisioned.

<details open>
<summary>Then I create a monitoring extension on that cluster:</summary>
<pre>
PUT https://management.azure.com/subscriptions/xxx/resourceGroups/acctestRG-200821123639381161/providers/Microsoft.HDInsight/clusters/acctesthdi-200821123639381161/extensions/clustermonitoring?api-version=2018-06-01-preview HTTP/2.0
</pre>

<pre>
{
    "primaryKey": "x

[2020-08-21 21:11] jviau opened #10558 "Common-Types v2 ErrorResponse confusion"
I am looking at the v2 definition for `ErrorResponse` [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v2/types.json#L272) and I think the `details` property may be incorrect? It points back to itself, but when I look at all examples - `CloudError` and its json converter, and the new Azure management SDKs, the nested `details` object s

[2020-08-24 01:35] magodo commented on #10551
@aim-for-better The issue here is a way to track the status of the Azure problem as this is the only open place for Azure. Even if the issue is non-related to the Swagger, from my past experience, we shall still keep the issue open until it is resolved, as the Swagger is also maintained by service team.

So can you reopen it?

[2020-08-24 02:48] ruowan commented on #10558
Hi, Could you give some examples about CloudError swagger example? Because [v1 ](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v1/types.json#L272) and v2 have the similar definition. So does this issue related to SDK generation?

[2020-08-24 04:10] magodo commented on #10551
Now that this is not a Swagger issue, I have opened an Azure ticket: 120082426001539. Will update here if any progress.

[2020-08-24 05:25] aim-for-better commented on #10551
After talked with @magodo , they want to use this issue to track.

[2020-08-24 09:08] yungezz commented on #10459
hi @tombuildsstuff do you mean this PR https://github.com/Azure/azure-rest-api-specs/pull/8435? add original assignee @lirenhe .

[2020-08-24 13:06] jwshive commented on #10411
Any updates or any other way the public has to track the progress on this?

[2020-08-25 01:23] magodo opened #10576 "CdnEndpoint: ID not case sensitive"
When I create a cdn endpoint resource using following API request, the `ID` returned in response isn't the endpoint of my request. The difference is the `g` in `resourceG(g)roup` segment:

**REQUEST**

[code]

[code]

**RESPONSE**

[code]

The expected behavior is that the `id` in response body should keep the case (i.e. `.../resourceGroups/...`) as specified in request endpoint URL.

[2020-08-25 02:38] magodo commented on #9762
Any progress on this one?

[2020-08-25 03:08] lirenhe commented on #10459
I reopened this PR. @tombuildsstuff, could resolve the conflict for your original PR?

[2020-08-26 00:44] amjads1 commented on #10234
@ArcturusZhang , @hugo-paredes - Based on the above resolution and confirmation from the AAD team, this issue should be resolved now. I will go ahead and close this issue but feel free to re-open if the issue is not yet resolved. Thank you!

[2020-08-26 11:31] michaelelleby opened #10596 "CheckIPAddressAvailability does not detect ILB ASE addresses"
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworks/checkipaddressavailability returns
[code]
when calling with an IP adress that is in use by an ILB ASE.

[2020-08-26 17:51] jennifermarsman commented on #9160
@heaths it looks like this has been merged; can this issue be closed?  https://github.com/Azure/azure-rest-api-specs/pull/10308

[2020-08-26 18:51] heaths commented on #9160
Yes. Thanks for the reminder. I'll open a separate issue to make sure we re-generate the track 2 SDK.

[2020-08-26 18:51] #9160 closed

[2020-08-27 02:56] yupwei68 opened #10608 "GET SQL VM fails when the vm is not in running state"
We get reported issue from https://github.com/terraform-providers/terraform-provider-azurerm/issues/8249.

When we get the SQLVM and the vm is not in running state, we'll get the error:
autorest/azure: Service returned an error. Status=400 Code="VmNotRunning" Message="The VM: /subscriptions/.../resourceGroups/acctestRG-mssql-YUP/providers/Microsoft.Compute/virtualMachines/acctest-VM-YUP is not in

[2020-08-27 04:55] aristosvo commented on #8683
There is an [implementation](https://github.com/terraform-providers/terraform-provider-azurerm/pull/8253) for Terraform done based on the preview for Saved Searches.

Thanks a lot @shemers !

[2020-08-27 04:56] #8683 closed

[2020-08-27 06:00] yungezz commented on #10596
this is service response need service team help.

[2020-08-27 06:38] lirenhe commented on #10459
Reopened. Please use #8435 for discussion.
Close this item.

[2020-08-27 06:38] #10459 closed

[2020-08-27 12:14] ThijsLecomte opened #10614 "Grammatical error in Azure Sentinel API"
There is a weird error in the Sentinel API:
/providers/Microsoft.SecurityInsights/alertRules/{GUID}

It states:
' Alert Rule with REsoruce Name 'xxxx' **is already exist**'
Think that should be:
'Alert Rule with Resource Name 'xxx' **already exists**'

[2020-08-27 13:21] hugo-paredes commented on #10234
Hi @amjads1

I've just tried to login into a VM via AAD and I seem to be able to authenticate. However, I cannot login and I get this message:

![image](https://user-images.githubusercontent.com/40466699/91447376-e4c42200-e878-11ea-904b-85d21cede2c5.png)

Is there any other setting I need to specify to allow this?

Greetings.
Hugo

[2020-08-27 13:25] yungezz commented on #10614
this is a service issue, while seems no label of service 'Sentinel', need check with bot owner.

[2020-08-27 15:13] 23min commented on #8186
Looks like there hasn't been any follow up on this. I'm getting a 501 as well.
If I add optional parameter `{softrestart}`, (true) the API responds with 200, but nothing happens, despite keys being update in KeyVault.
If softrestart = false, I get a 501 again.

How are we supposed to start a function app via code?

[2020-08-27 16:16] 23min commented on #8186
Ok. Well I managed to solve my need. Instead of `restart` I used `stop`, then `start`. That worked!
But it would be good if the restart API was looked at because it does not work as advertised.

[2020-08-27 19:23] jviau commented on #10558
The [CloudError](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/mgmtcommon/ClientRuntime.Azure/ClientRuntime.Azure/CommonModels/CloudError.cs) type used in the existing management SDKs represents the structure from v1. However, it has a [custom JSON converter](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/mgmtcommon/ClientRuntime.Azure/ClientRuntime.Azure/CloudErrorJsonCon

[2020-08-27 19:55] lilyjma commented on #5779
@Azure/azure-logicapps-team do we have any updates on this?

[2020-08-27 20:34] akdracarys opened #10622 "Unable to use the openAuthenticationPolicies for Logic App in ARM template"
Using ARM template unable to use the openAuthenticationPolicies for Logic App deployment

`          "accessControl": {
          "triggers": {
            "allowedCallerIpAddresses": [
              {
                "addressRange": "10.0.24.36/32"
              },
              {
                "addressRange": "10.0.104.44/32"
              }
            ],
            "openAuthenticationPolici

[2020-08-27 21:36] avirishuv commented on #9014
quick update: the document is still in PR, tagging @mimckitt who is working on it.

[2020-08-27 21:58] mimckitt commented on #9014
Thanks @avirishuv. Been working on this with our engineering teams to ensure technical accuracy. I pushed a new version today and am waiting to hear back from a few people that are out until mid next week. Hoping to have this buttoned up and live in the next weeks. Apologies for the delay.

[2020-08-27 23:52] jennyhunter-msft commented on #9598
Thanks for your patience. It seems like this never got properly routed.

SystemData is a top-level property and was designed this way since it is common across the various resource types. This is why it's not in the lower "properties" bag which is individual to the varying resource types.

[2020-08-28 02:12] NullMDR commented on #9598
@jianyexi Any update on this?

[2020-08-28 03:10] ArcturusZhang commented on #10234
Seems there are still issues, reopen this issue...

[2020-08-28 03:40] ifeoluwaokunoren commented on #5115
EUAP regions are behind Azure Feature Exposure Control(AFEC) flags.
For the Locations API, `GET https://management.azure.com/subscriptions/{subscriptionId}/locations?api-version=2020-01-01` ARM now returns the EUAP regions in the response, if the given subscription has the required feature flags for those EUAP regions.
API is documented [here](https://docs.microsoft.com/en-us/rest/api/resources/su

[2020-08-28 09:50] michaelelleby opened #10629 "App Service Environments - Create Or Update DnsSuffix parameter is invalid"
Documentation at https://docs.microsoft.com/en-us/rest/api/appservice/appserviceenvironments/createorupdate specifies I can supply the dnsSuffix parameter

dnsSuffix | string | No | DNS suffix of the App Service Environment.
-- | -- | -- | --

When trying to deploy an ASE using api version 2019-08-01 I get the following error: `DnsSuffix is invalid.  For this api-version, DnsSuffix cannot be speci

[2020-08-28 09:59] michaelelleby opened #10630 "App Service Environments - Create Or Update availability zones parameter is not documented"
Described in the article https://docs.microsoft.com/en-us/azure/app-service/environment/zone-redundancy you can pass the property "zones" to enable availabilty zone pinning. However https://docs.microsoft.com/en-us/rest/api/appservice/appserviceenvironments/createorupdate describes no such thing and does not even mention this property.

[2020-08-28 11:29] sunsw1994 opened #10631 "Model Validation question. And how to use a TrackResource without location required"
I redefine a `TrackedResource`  without location required object in my service path, but the  Model Validation still throw this error.
![image](https://user-images.githubusercontent.com/63389531/91555713-19f96e80-e964-11ea-8cd8-7babfe27d80e.png)
[code]

https://github.com/Azure/azure-rest-api-specs-pr/pull/1912/commits/58d3c6c1f5ee62ddedf0d2834b3b46e30ecfc313

[2020-08-28 17:15] aramase opened #10637 "[Key Vault] construct chain of certificates in the correct order"
When the chain of certificates is downloaded from Key Vault using `az keyvault secret/certificate download`, the cert chain is returned in the same order as was uploaded.

The current order as posted here is - https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/156#issue-656804702

[code]

Is there a way we can construct the chain in the correct order and return when it's being

[2020-08-28 17:39] aramase opened #10638 "[Key Vault] Option to download PFX secret in PEM format"
A lot of users today are downloading the PFX raw data and converting to PEM using `openssl`. It'll be good to provide an option for users to download the PFX secret in PEM format by accepting the password in the `az keyvault secret download` command.

The [Azure Key Vault Provider for Secrets Store CSI Driver]https://github.com/Azure/secrets-store-csi-driver-provider-azure today converts the PFX r

[2020-08-28 17:39] amjads1 commented on #10234
Updates from @srrstepe -

** User might see this error if Conditional Access policies are configured in the customer’s tenant requiring MFA for every resource.
If this is the case,  did he try logging in to using Next Generation creds?
If the customer does not have NGC, then they should consider excluding “Azure Windows VM Sign-In”  app from the CA policy.

If none of this works, please ask the cu

[2020-08-30 08:55] jianyexi commented on #9598
This change will produce huge impact, needs @akning-ms  to confirm .

[2020-08-31 02:10] neil-yechenwei opened #10646 "Failed to create monitor diagnostic setting with StorageWrite"
Seems it failed to create monitor diagnostic setting with StorageWrite using azure go sdk client and throw below error message.
According by the [doc](https://docs.microsoft.com/en-us/azure/storage/common/monitor-storage?tabs=azure-powershell#configuration), I assume it has been supported by azure portal. So I assume it should also be supported by rest api, right?

Error message:
[code]

[2020-08-31 02:33] xccc-msft commented on #10638
@aramase Thanks for your suggestion with the feature request. I add the label of `Service Attention` so that the KeyVault service team will check and evaluate this. Thanks.

[2020-08-31 13:40] tombuildsstuff commented on #6641
@rohinkoul for reference [here's a link to the Azure API Documentation](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md) where it's clarified this is a bug in the API:

As such - is there a timeframe for when these casing bugs will be fixed?

Thanks!

[2020-08-31 13:44] tombuildsstuff commented on #6641
It's worth noting this also appears to affect the Virtual Network Peering API's: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8289

[2020-08-31 21:06] jlichwa commented on #7621
Due to lack of conditional options in swagger, it is closed for now

[2020-08-31 21:06] #7621 closed

[2020-09-01 01:15] snaheth commented on #6967
@ArcturusZhang - Not sure how no one looked at this yet but here I am 😄 I see that this issue still exists even in the new api-version so I'll add this to our backlog to address.

[2020-09-01 03:01] blueww commented on #10646
This looks like a DiagnosticSetting API issue instead of storage API issue.
Add "DiagnosticSetting" tag.

[2020-09-01 05:03] snaheth commented on #8335
Hi @tombuildsstuff - I read through the closed GitHub issue and understand your point around retrieving keys via the `Microsoft.Storage/storageAccounts/listKeys` endpoint via a `GET` call instead of a `POST`, since a `POST` is an API anti-pattern (given that you are literally trying to **get** your keys) and it won't work with your ReadOnly lock.

This is, however, a pattern in Azure defined by th

[2020-09-01 08:30] tombuildsstuff commented on #5014
It's worth saying if the API needs to be updated to use `dnsZones` to match the Swagger, that'd also work for us - what we're looking for is consistency since the URI's are case sensitive per the HTTP Specification

[2020-09-01 11:02] ancarda commented on #7870
Has there been any progress on this issue?

I am unable to create a DPS enrollment group [using the API endpoint](https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateenrollmentgroup/createorupdateenrollmentgroup). It would be great if this functionality were supported by the SDK somehow.

[2020-09-01 16:58] #5032 closed

[2020-09-01 17:12] MWL88 opened #10662 "OpenAPI specs for Microsoft.Automation do not match information returned by /providers API"
Based on the information returned by the AZ CLI (`az providers list`), resource provider `Microsoft.Automation` should expose resource type `automationAccounts` with the following API versions:
- 2020-01-13-preview
- 2019-06-01
- 2018-06-30
- 2018-01-15
- 2017-05-15-preview
- 2015-10-31
- 2015-01-01-preview

The OpenAPI specs only defines resource type `automationAccounts` with the API version `20

[2020-09-02 03:00] magodo opened #10667 "[HDInsight] `KafkaRestProperties` should not require `groupName` given `groupId` has been specified"
The [`ClientGroupInfo`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json#L643) property already accept a `groupId` in request body, based on which service should be able to deduce the `groupName`. This issue suggest to remove the `groupName` from the model as an input property.

[2020-09-02 07:36] dipidoo commented on #8860
this $ref is correct in Face.json, i.e. <path>#/parameters/ImageUrl. The refpath you mentioned is where it would have been in OASv3. perhaps this error is on the tooling side?

[2020-09-02 07:36] #8860 closed

[2020-09-02 07:37] jvanenckevort commented on #2255
Any update on this feature?

[2020-09-02 08:28] nickzhums commented on #2255
@jfggdl could you provide more inforamtion?

[2020-09-02 11:05] #10631 closed

[2020-09-02 13:17] Dorus opened #10672 "Update documentation for privatednszones and sub items"
Currently
`((get-AzResourceProvider -ProviderNamespace 'Microsoft.Network').ResourceTypes | where-object{$_.ResourceTypeName -eq "privateDNSZones"})` returns `2020-01-01, 2018-09-01` but https://docs.microsoft.com/en-us/azure/templates/microsoft.network/dnszones only list 2018-09-01 as latest.

This also holds true for the following sub items i checked:
[code]

[2020-09-02 13:17] Dorus commented on #10672
Also opening this issue was recommended at https://github.com/Azure/arm-ttk/issues/183

[2020-09-02 14:02] akdracarys commented on #10622
Resolved at [#61656](https://github.com/MicrosoftDocs/azure-docs/issues/61656)

[2020-09-02 14:02] #10622 closed

[2020-09-03 04:18] yungezz commented on #10672
this seems a Powershell issue, cc @dingmeng-xue for awareness.

[2020-09-03 04:50] dingmeng-xue commented on #10672
what I can see from endpoint `/providers/Microsoft.Network?api-version=2020-06-01` is below.

[code]

[2020-09-03 04:52] yungezz commented on #10672
add service attention label since the version is returned from rest API.

[2020-09-03 07:23] yupwei68 commented on #10248
issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/7825

[2020-09-03 09:48] ajmal744 opened #10686 "Terraform Azure provider needs Azure REST API to include property for "minimumElasticInstanceCount" for Azure Function in Premium plan"
Terraform provider needs to support "minimumElasticInstanceCount" property but it is not available in Azure Rest API see issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/8313

[2020-09-03 11:06] msvijayn commented on #10662
Assigning to @vikram-m for addressing OpenAPI compliance across Microsoft.Automation RP

[2020-09-03 16:42] mbfrahry opened #10689 "Log Analytics - ignores casing"
I'm running into an issue where the names in the id of any Log Analytics resources ignores the casing of what I requested

For example, I send the following:
/subscriptions/0000-0000-00000/resourcegroups/thisIsMyResourceGroup/providers/Microsoft.OperationalInsights/workspaces/WorkSpace1/...

And then I receive the following:
/subscriptions/0000-0000-00000/resourcegroups/thisismyresourcegroup/provi

[2020-09-03 20:43] Drewm3 commented on #10234
Moving this over to AAD as this issue looks to be in the AAD extension as compared to the extension framework itself.

[2020-09-03 22:52] heaths opened #10696 "Rename KeyReleaseConditionCondition"
https://github.com/Azure/azure-rest-api-specs/blob/9c65009b45ad8a23625aab711eb78d15c0371c1d/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/keys.json#L1053

This will cause some issues in some of our generators (e.g. Go) that will cause conflicts. Could this be renamed to something like `KeyReleaseClaimCondition` intead?

/cc @herveyw

[2020-09-04 02:41] recklessop commented on #5115
thanks @ifeoluwaokunoren Ill test it out!

[2020-09-04 09:32] tombuildsstuff commented on #10357
@yungezz the [ARM Specification](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#put-resource) states that these should be treated as Case Sensitive in responses (insofar as they should match user input) - so whilst the API can opt to be case-insensitive during a Request, URI's in the Response must always be case-sensitive.

Is there a timeline for fi

[2020-09-04 12:03] shawnxzq commented on #8958
@lmazuel In our app model, any property can be defined as follows

[2020-09-04 15:54] jontreynes opened #10707 "Change Error Output for Microsoft.Compute/galleries/images/versions"
I see here that the schema for naming on the version requires digits that are 32 bit integers

https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-03-01/galleries/images/versions?source=docs#microsoftcomputegalleriesimagesversions-object

2 suggestions:
The portal input parameter should check if the version abides by the 32 bit integer requirement
The REST response currently sa

[2020-09-04 22:45] #10323 closed

[2020-09-06 09:40] shemers commented on #10689
Hi @mbfrahry,
Thanks for reaching out on this issue,
May I ask for more details?
What is the operation that you are trying to run?
From the issue details, it actually seems not to be Log Analytics specific issue, rather Azure Resource Manager issue.
Please review [this article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules) "Resource names are case-in

[2020-09-07 05:42] qwordy opened #10714 "[Compute] Dedicated host group, platformFaultDomainCount maximum value"
https://github.com/Azure/azure-cli/issues/15054
A customer said the maximum value should be relaxed.

azure-rest-api-specs\specification\compute\resource-manager\Microsoft.Compute\stable\2020-06-01\compute.json
[code]

[2020-09-07 07:49] neil-yechenwei opened #10715 "MS Sql database API doesn't return LicenseType value"
After tested, I found ms sql database api doesn't return LicenseType value. BTW, I am using [go sdk client](https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/sql/mgmt/v3.0/sql).

Http request:
[code]

API doesn't return LicenseType value:
![image](https://user-images.githubusercontent.com/19754191/92359741-55432c80-f11e-11ea-991c-66ce758e87a5.png)

[2020-09-07 09:05] magodo opened #10716 "AKS: omsagent config key doesn't honor case after disabling and then enabling it"
A first create AKS with omsagent set to enabled, the omsagent config key is case sensitive:

<details open>
<summary>Create AKS with omsagent enabled</summary>
<pre>
REQUEST
{
    ...
    "properties": {
        "addonProfiles": {
            "omsagent": {
                "config": {
                    "logAnalyticsWorkspaceResourceID": "/subscriptions/0-0-0-0/resourcegroups/example222/providers/

[2020-09-07 09:16] njuCZ opened #10717 "security center contact put return 201 but swagger only defines status code 200 for 2017-08-01-preview"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json#L148, it only defines status code 200 is acceptable, but it seems the backend service has changed its behaviour and return status code 201.
Currently all released sdk are using this swagger, the go sdk found 201 is not included in

[2020-09-07 18:26] MehaKaushik commented on #10248
Hey, just to update, we are expecting the fix to be deployed sometime this week.

[2020-09-08 02:07] aim-for-better commented on #10667
Hi @magodo , This is by design, This property not only as input but also as output. Please see [here](https://github.com/Azure/azure-rest-api-specs/blob/ddfe040e320a928c1a3cec4e7a4024ff448c6a4c/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json#L1197), This property will return to customer  when they call Get cluster API.

[2020-09-08 02:10] aim-for-better commented on #10667
Returning group name is more readable for customer.

Could you please share more about this issue? For example, what's the impact on you?

[2020-09-08 05:24] magodo commented on #10667
As the API consumer, it is more handy to provide the least amout of input in request. In this case, `groupName` can be deduced from `groupId`, which seems redundent to ask users to also specify. Otherwise, making `groupName` as output only (`readOnly`) might be a better choice here.

Specifically, I'm working on this feature in Terraform azurerm provider. Look at this comment: https://github.com/t

[2020-09-08 07:50] shawnxzq commented on #9764
@qiaozha I am not sure understand you correctly, I will schedule an offline discussion with you to understand more details, thanks a lot!

[2020-09-08 07:56] jackofallops opened #10725 "Cannot link Integration Account to Integration Service Environment"
Hi,
I'm trying to allow Terraform users to place their Integration Accounts in Integration Service Environments. Currently on API version `2019-05-01` I'm getting the following:

```StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="InvalidRequestContent" Message="The request content is not valid and could not be deserialized: 'Could not find member 'prop

[2020-09-08 08:32] akning-ms commented on #5085
Hi @tariq1890  we have codeowner file in repo to know who is the owner for the RP. it is useful for your question?

[2020-09-08 08:36] akning-ms commented on #4977
looks it is resolved already, so close this.

[2020-09-08 08:36] #4977 closed

[2020-09-08 08:41] shawnxzq commented on #9764
Offline discussed this with @qiaozha, we will add these files as input files, thanks!

[2020-09-08 08:50] akning-ms commented on #10053
Hi @neil-yechenwei , can you comment which RP this issue for?

[2020-09-08 09:59] akning-ms commented on #10250
Hi @panchagnula , Confirm with @yonzhan, Looks it is not about swagger change. not sure why you transfered to swagger repo. can we change it back azure-cli repo for easy track?

[2020-09-08 10:40] tombuildsstuff commented on #10716
One fix for this would be to model this as a struct in the swagger, rather than a dictionary? Whilst being a dictionary can be convenient (in that new fields can be added without modifying the swagger) it allows breaking changes to slip through unnoticed - so this may be better long-term, since this is the second/third time this has happened that I can recall?

[2020-09-08 11:24] yupwei68 commented on #10248
@MehaKaushik Thanks for notification

[2020-09-08 17:31] tariq1890 commented on #5085
@akning-ms I don't work for Microsoft anymore

[2020-09-08 21:46] iamalexmang commented on #7204
Kind reminder.

[2020-09-09 05:43] magodo commented on #10716
Edit: the same issue happens on httpApplicationRouting config key `httpapplicationroutingzonename`.

[2020-09-09 06:21] palma21 commented on #10716
@robbiezhang @vishiy @saaror

[2020-09-09 07:54] gjtaylor commented on #9772
The [2020-01-01-preview](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/securityContacts.json) version supports a semi-colon delimited list in the renamed "emails" property

[2020-09-09 09:03] neil-yechenwei opened #10739 "Storage Table Entity API cannot remove the element of entity"
After tested, I found Storage Table Entity API cannot remove the element of entity. I expect the element of entity could be removed by storage table entity api. BTW, I am using azure go sdk client.

Repro steps:
1. Create storage table entity:
[code]
Response:
![image](https://user-images.githubusercontent.com/19754191/92577970-d684f580-f2bd-11ea-90b5-6a69285352be.png)

2. Remove the element '"Acc

[2020-09-09 12:40] satyamchaturvedi opened #10741 "Problem generating bearer token using APIs"
![image](https://user-images.githubusercontent.com/29769158/92598884-156b7900-f2c7-11ea-9cfc-de71eae395de.png)

how to generate this bearer token (highlighted) programatically using APIs?
authority_url = 'https://login.microsoftonline.com/' + TENANT_ID
context = adal.AuthenticationContext(authority_url)
Using ADAL module in python it returns an access token but it does not work, while the one gene

[2020-09-09 15:52] mssaperla commented on #9316
@sdebruyn - Thank you for your question and apologize for the late response. We applied some optimizations to this workflow in July. Can you comment on whether you are still observing this issue? @mvvsubbu will work with you on this issue.

[2020-09-09 16:54] mvvsubbu commented on #9316
@sdebruyn

We apologize for the delay in responding for the issue. I want to give you some context on the workspace provisioning state and cluster state. These two are different states which indicate different things. Workspace provisioning state shouldn't be updated to Failed if one cluster provisioning fails, as there can be more than one cluster possible in a workspace. So the state of the work

[2020-09-09 19:33] jlichwa commented on #10637
FYI @rashmi-jha

[2020-09-09 19:35] jlichwa commented on #10638
FYI
@rashmi-jha

[2020-09-09 21:47] amjads1 commented on #10714
Looking into this issue.

[2020-09-09 21:48] amjads1 commented on #10707
Looking into the issue.

[2020-09-09 21:58] amjads1 commented on #10707
Assigned to Akshay.

[2020-09-09 21:59] amjads1 commented on #10714
Assigned to Ziv.

[2020-09-09 22:02] Drewm3 commented on #8137
Moving this issue over to ARM because it sounds like the compute resource provider is doing the right thing here and the issue lies in ARM.

[2020-09-09 22:26] #9876 closed

[2020-09-09 23:56] rnagpal commented on #9253
Sorry @Mike-Ubezzi-MSFT for the delay on this. We are updating this in our docs soon and post an update here once done.

[2020-09-10 00:17] rachel-msft commented on #10037
Checking in to see if there's anything else I can clarify

[2020-09-10 03:25] v-Ajnava commented on #6562
@paulmey , Thanks for reporting it, this  is a read-only field. adding this filed now to swagger will be a breaking change. I will discuss with the team and will update the thread

[2020-09-10 03:28] v-Ajnava commented on #6012
Hi @j5lim , thanks for reporting,  as per the Swagger guidelines resource types should be plural, I will talk with team and will update the thread.

[2020-09-10 14:24] LukeCarrier commented on #9072
It may be interesting for Microsoft to know that ~40 people have 👍'd a ticket for getting this into the ARM Terraform provider, which is blocked by API incompleteness: terraform-providers/terraform-provider-azurerm#3182

[2020-09-10 14:39] yossi-y commented on #9072
Luke, this incompleteness evolves from the way the current Data Sources are structured and the requirement to restructure some components to get this "swaggered" properly. I don't have ETA for this work at current time.

[2020-09-10 19:16] robbiezhang commented on #10716
Hi all, this is Robbie from the AKS team. Sorry about the breaking change. We're working on a hotfix to revert it back to the previous behavior - preserve the casing from the user input. Please kindly stay tuned.

[2020-09-10 21:32] SnehaGunda commented on #9253
The above PR fixes the doc.

[2020-09-10 21:34] kummanish commented on #10259
hi @alex-3sr , thanks for the patience.

We are currently working on the fix for this and we will soon make it available for MariaDB.

[2020-09-10 21:35] ingave commented on #8590
There's some info here: https://otx.alienvault.com/indicator/hostname/catalogapi.azure.com?utm_medium=InProduct&&utm_source=ThreatCrowd
But it's not an API that is owned by our team.

[2020-09-10 21:35] #8590 closed

[2020-09-11 00:18] sumantmehtams commented on #7003
Hi @kahing

ADLS Gen1 is mostly in maintenance mode. Bug fixes are ok but any breaking changes involving swagger updates or REST endpoint changes is something we're avoiding.

Will close this issue but feel free to reopen.

[2020-09-11 07:18] neil-yechenwei opened #10763 "Kubernetes Cluster Node Pool API shouldn't switch the key of node label as lower case"
After tested, I found Kubernetes Cluster Node Pool API would switch the key of node label as lower case. I assume it shouldn't switch it to lower case.

Http request call:
[code]

Response:
![image](https://user-images.githubusercontent.com/19754191/92881889-fc3b0780-f441-11ea-95e5-ffe0c59a265c.png)

[2020-09-11 11:12] aim-for-better commented on #10551
We have reported this to backend team, swagger is right, but there is bug in backend's code.

[2020-09-11 17:41] pabowers opened #10767 "The common-types ErrorResponse does not correspond to the ARM schema"
When I tried to use the ErrorResponse type that is defined in the common-types swagger specs, I got an error that the type defined in common-types does not match the schema
[code]

The errorResponse Type is defined as seen here:
https://github.com/Azure/azure-rest-api-specs/blob/4c0054d815c3ead4b4ef12350ee6379197d4be1a/specification/common-types/resource-management/v1/types.json#L272

Since it doe

[2020-09-11 19:04] mvvsubbu commented on #9316
@sdebruyn I am closing the issue for now, please feel free to reopen if you are still observing issues with creation of cluster after workspace creation.

[2020-09-11 19:04] #9316 closed

[2020-09-11 19:33] bganapa commented on #9567
@jiasli WE have ainternal trackign item for the Not Supported return issue. Can we close this issue?

[2020-09-11 22:44] sebansal commented on #10473
It is by design to not restrict customer's use case. It will allow you to create short lived secrets.

[2020-09-11 22:44] #10473 closed

[2020-09-11 23:05] vickm commented on #9885
@vasanthrajams will close this by end of month.

[2020-09-11 23:08] vickm commented on #10696
We are investigating this now. @vasanthrajams can you check with @herveyw ? I think this may be a OneApi-only change and would require no server side changes

[2020-09-11 23:15] heaths commented on #9885
@catalinaperalta can you use a README transform instead? At least right now, this could be disruptive for some partners about to ship with these model names.

[2020-09-12 00:05] vasanthrajams commented on #10696
We already have made the required changes for marking LRO  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/backuprestore.json

Verified this with heaths.

[2020-09-12 00:15] vasanthrajams commented on #9885
We already have made the required changes for marking LRO https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/backuprestore.json

Verified this with heaths.

[2020-09-12 00:15] #9885 closed

[2020-09-13 10:36] tombuildsstuff commented on #10473
@sebansal if the API is going to allow resources with an expiry date in ~8000 years time, is that a guarantee the service will be available? If not that seems misleading that the API allows this data?

The [original issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/8056#issuecomment-673427503) proposed a maximum expiry-date, which could always be updated at a later da

[2020-09-13 14:00] jaspkaur28 commented on #10662
We've got this triaged and added it to the Automation backlog. We plan to pick this up towards end of Q4 CY20 , if resourcing allows.

[2020-09-14 13:04] #10689 closed

[2020-09-14 15:56] machielvisser commented on #9947
Is there an update on the status of this issue?

[2020-09-14 18:45] sebansal commented on #8295
Basic constraints is to tell you whether it’s a CA or not. We do not support it in UI/powershell. You can achieve it through the SDK or restapi. People building PKI on top of key vault find a way out on how to achieve it and they ask for it. 
 
Basic Constraint is a field which is optional for leaf certs but a must for CA cert. CA building folks are looking for that capability.

[2020-09-14 19:59] sebansal commented on #8295
https://github.com/Azure/azure-rest-api-specs/pull/10783

[2020-09-15 07:35] gek0 commented on #10104
any updates regarding this fix in new provider version/upstream API?

[2020-09-15 18:58] avirishuv commented on #10190
Thanks for the inputs, let me check the property publicIPPrefix and whether it should be added to the update version also.

[2020-09-15 20:30] alanafrankly opened #10797 "createdBy value does not set Pull Request creator when using ADO Create Pull Request REST API"
Hi, I'm not sure if this is the right place for this, but there seems to be a bug in the [Create Pull Request REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull%20requests/create?view=azure-devops-rest-6.0).

The Request Body section of the docs says that you can pass in a "CreatedBy" value when creating a PR. However, no matter what I pass here, the creator of the PR is alw

[2020-09-15 22:10] heaths opened #10800 "KeyReleasePolicy is missing a description (and other swagger issues)"
The KeyReleasePolicy, KeyReleaseAuthority, and KeyRelease conditions do not have a description. It's also unclear if `KeyReleasePolicy.anyOf` or `KeyReleaseAuthority.allOf` requires values. You can use `minLength` to indicate this. By default, `x-nullable` is `false`, to that implies these properties must exist, but as authored they can be empty.

I also recommend adding `x-ms-client-name` to `Key

[2020-09-15 22:23] vickm commented on #10800
@jlichwa would you please assign this to @Lusitanian ? I still can't modify or assign issues.

[2020-09-16 04:42] weidongxu-microsoft opened #10803 "[BUG] invalid swagger in appplatform"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json#L4331-L4347

Modelerfour disallow duplicate name between type and enum. They will both generate a class file in SDK, and class with duplicate name is now allowed.

[2020-09-16 05:22] #10551 closed

[2020-09-16 05:40] ArcturusZhang commented on #10104
Hi @gek0 this issue should have been fixed. I am going to close this issue. Please feel free to reopen this or comment if you see this issue again.

[2020-09-16 05:52] weidongxu-microsoft commented on #10803
@yuwzho

[2020-09-16 07:39] andreycpp commented on #10257
@lrxtom2 could you explain what this issue is about?

P.S. Force Tunneling is configured by supplying subnet and Public IP reference via the managementIpConfiguration property of Firewall. There is no property that says "Force Tunneling" as such. Force Tunneling is a concept, not a property name.

[2020-09-16 09:25] njuCZ opened #10808 "import automation module sometimes fails"
creating automation module using following script sometimes fails
[code]

this is the server error message:
[code]

I think there may be some problem with this module link, but there is no reason that sometimes it's success and sometimes it failed

https://github.com/terraform-providers/terraform-provider-azurerm/issues/7540

[2020-09-16 10:00] tombuildsstuff commented on #10717
@njuCZ is this a breaking behavioural change, since this used to work previously?

[2020-09-16 11:31] jrauschenbusch commented on #10646
any progress here?

[2020-09-16 18:32] rohinkoul commented on #5033
@GavinOsborn Does above help? If yes I guess we can close this issue

[2020-09-16 18:36] rohinkoul commented on #6641
@karravi-msft could you take a look and if necessary add this to our backlog.

[2020-09-16 19:58] timMSFT commented on #9986
Thanks for surfacing this defect. We will add this request to our backlog.

[2020-09-16 22:10] sebansal commented on #10769
@vickm Can you have your team to triage this issue?

[2020-09-16 23:48] lmazuel commented on #8958
Hi @shawnxzq
Sorry I still don't get it :(. Let me even more clear:
[code]

Can you give an example of JSON from the server that map `DatasetZipDeflateCompression`, where the level property is not a string?

[2020-09-17 02:04] yupwei68 commented on #10037
Hi @rachel-msft ,I still think it's not reasonable that we could not send the `defaultValue`, which is also in `allowedValues` back.

[2020-09-17 02:17] yuwzho commented on #10803
@metacpp Could you please follow up this swagger bug?

[2020-09-17 02:29] njuCZ commented on #10717
@tombuildsstuff yes, the backend service should not change the behaviour for old api-version.

[2020-09-17 06:42] aramase opened #10825 "[Key Vault] Get the current key vault object version"
There is currently no version filed in the json metadata returned for `az keyvault secret show`. The only way to retrieve the version is by parsing the id. It would be good to have key vault return the the current version of the secret/key/certificate in a separate field which can be surfaced by the SDKs.

**Alternative**

This could also be accomplished at the SDK level by parsing the id and spli

[2020-09-17 10:52] audunn opened #10827 "c# validation nullable value"
Hi,
We have a swagger spec with a value that is conditional/optional i.e. can be null with some validation constraints this is presented like so:
[code]

This causes issues with c# generated SDK where the validation code does not allow null values.

[code]

Is it possible to present this in the swagger so that the validation in the generated code handles null values correctly?

ps I asked this in

[2020-09-17 17:57] callppatel commented on #9947
Please provide update on this.

[2020-09-18 02:34] deshriva commented on #10667
@magodo : Thanks for the feedback. We have opened a work item and plan to address it in a future release.

[2020-09-18 05:19] magodo opened #10840 "CDN Endpoint: schema `DeliveryRuleUrlFileExtensionCondition.parameter` doesn't match it in response for sku `Standard_Verizon` or `Standard_Akamai`"
The schema model [`DeliveryRuleUrlFileExtensionCondition.parameter`](https://github.com/Azure/azure-rest-api-specs/blob/1b04f5fce19cd330dcc0eec11a98e499c0cda50d/specification/cdn/resource-manager/Microsoft.Cdn/stable/2020-04-15/cdn.json#L2975) doesn't match it in response for sku `Standard_Verizon` or `Standard_Akamai`, as shown below:

[code]

[2020-09-18 05:59] ruowan commented on #10827
What's your expected behavior of c# generated SDK?

[2020-09-18 09:29] audunn commented on #10827
Perhaps something along the lines of this:

Given this spec
[code]
Would generate this:
[code]

This issue/question may be tied to numbers and/or multipleOf constraints as we see this behave differently with strings elsewhere in the spec:
[code]

Generates this:

[code]

[2020-09-18 11:40] michaelelleby commented on #10629
Reading the documentation https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase#ilb-ases-made-before-may-2019 I understand that the dnsSuffix property is no longer supported after May 2019, therefore this should be removed from the documentation as it is misleading.

[2020-09-21 05:06] neil-yechenwei opened #10855 "GetNetworkRuleSet API should return subnet id with camel case"
After tested, I found the subnet id which is returned by [GetNetworkRuleSet](https://github.com/Azure/azure-rest-api-specs/blob/0585f3ed2ee1b3fa6b38bf6751b61117222c0b01/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/networkrulessets-preview.json#L96) API is lower case. I think it should be camel case per api doc. It should reutrn `/subscriptions/xx-xx-xx-xx/r

[2020-09-21 06:08] neil-yechenwei opened #10857 "Whether Service Bus Subscription API has deprecated deadLetteringOnFilterEvaluationExceptions property or not"
Hi,
Seems many documents in lots of community forms are talking about whether the `deadLetteringOnFilterEvaluationExceptions` property is deprecated and many sdk clients have removed this property from their client code. Despite this, but seems this property is still available in [azure rest api spec](https://github.com/Azure/azure-rest-api-specs/blob/9ab0b5d07464e0235fb66832c24f31f1602f21b7/speci

[2020-09-21 06:18] xccc-msft commented on #10857
@neil-yechenwei Thanks for reporting this. Routing this question to service bus team.

[2020-09-21 07:36] tombuildsstuff commented on #10725
👋 is there any update on this?

[2020-09-21 09:28] ruowan commented on #10827
@allenjzhang Could you pls take a look at this issue?

[2020-09-21 15:50] ramaganesan-rg commented on #9173
Corresponding type definitions have been updated. Please verify and reopen if needed.  thanks for your feedback!

[2020-09-21 15:50] #9173 closed

[2020-09-21 19:01] MehaKaushik commented on #9253
Thanks Sneha for fixing this.

[2020-09-21 19:01] #9253 closed

[2020-09-21 19:03] MehaKaushik commented on #10248
Hey, @yupwei68 the fix was deployed last week, please validate that  you are able to see the _ts index now.

[2020-09-21 19:20] mimckitt commented on #9014
The new document will be live tomorrow by end of day.

[2020-09-21 19:42] avirishuv commented on #10322
@ArcturusZhang thanks for the repro steps. I can confirm the behavior. For a SIG custom image, while updating the data disks, image reference is required (cannot be null).

[2020-09-21 22:55] aramase commented on #10637
@rashmi-jha Could you PTAL when you get a chance?

[2020-09-22 06:58] ruowan opened #10884 "Test assignment-bot"

[2020-09-22 06:59] #10884 closed

[2020-09-22 08:34] alikhtag commented on #10763
this causing issues for us in terraform, would be nice to get it resolved :slightly_smiling_face:

[2020-09-22 10:19] tombuildsstuff commented on #9424
ping @lirenhe

[2020-09-22 10:40] tombuildsstuff commented on #10322
👋 out of interest, why is this tagged as a Question and not a Regression given this didn't need to be specified in previous API versions?

[2020-09-22 12:36] pearcec opened #10892 "Better documentation for filter on ResourceHealth"
The [link](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/preview/2018-08-01/ResourceHealth.json#L1544)which should explain filter is a link to no where.  There isn't any good documentation explaining how the filtering works.

Is there a good document to follow?

[2020-09-22 17:17] tombuildsstuff commented on #10716
@robbiezhang thanks for the hotfix - is it worth making this a nested block in the Swagger, rather than a Dictionary to avoid this bug going forwards?

[2020-09-22 19:42] iminsik opened #10895 "Mark required properties in spec"
I generated typescript classes and interfaces via AutoRest. I noticed many mandatory properties appear optional, because a "required" list is missing for a spec. For example, the "required" (which is missing now) helps AutoRest to generate a correct typescript interface, as below - I believe the two properties are mandatory. Without it, 'addresses' and 'count' become optional.

[code]

[code]

[2020-09-22 19:52] robbiezhang commented on #10716
Tom, thanks for the suggestion. We had an internal discussion whether to schematize the addonProfiles. The major concern is about the compatibility of the existing clients. We have optimization on the server side to make the addon name and config name case insensitive based on customers' feedback. Schematized the addonProfiles will break the clients. IMO, addonProfiles is a playground to onboard a

[2020-09-22 21:36] ecfan commented on #10725
CC: @Azure/azure-logicapps-team

[2020-09-22 23:35] paornela opened #10898 "LintDiff Failure: duplicate x-ms-enum name "operatorType""
The swaggers do not pass LintDiff validation, because of this error: _Must not have duplicate name of x-ms-enum extension , make sure every x-ms-enum name unique. The duplicate x-ms-enum name is operatortype._

Here are the duplicate values:

https://github.com/Azure/azure-rest-api-specs/blob/39466d240538fb7d679e23b180b79d6e9ed80627/specification/cost-management/resource-manager/Microsoft.CostMana

[2020-09-23 00:03] zweim1 opened #10899 "Update IoT Hub Rest API documentation"
The rest api documentation is out of date: https://docs.microsoft.com/en-us/rest/api/iothub/?source=docs (last updated on 09/30/2015)

We are looking for IoT Hub failover operation described in
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/iothub/resource-manager/Microsoft.Devices/stable/2020-08-01/iothub.json

"/subscriptions/{subscriptionId}/resourceGroups/{resourceGrou

[2020-09-23 06:29] yupwei68 commented on #10248
@MehaKaushik Thanks. It works now.

[2020-09-23 06:29] #10248 closed

[2020-09-23 06:44] yupwei68 opened #10909 "Cosmo DB Mongo Collection Order of compound index matters or not"
request:
{
  "parameters": {
    "accountName": "ddb1",
    "resourceGroupName": "rg1",
    "api-version": "2020-04-01",
    "subscriptionId": "subid",
    "databaseName": "databaseName",
    "collectionName": "collectionName",
    "createUpdateMongoDBCollectionParameters": {
      "location": "West US",
      "tags": {},
      "properties": {
        "resource": {
          "id": "collectionName"

[2020-09-23 06:45] yupwei68 commented on #10909
@MehaKaushik Could you please support us on this question?

[2020-09-23 08:32] tombuildsstuff commented on #9072
@yossi-y can we get this issue re-opened to track this bug then?

[2020-09-23 08:33] MehaKaushik commented on #10909
@yupwei68 MongoDB API for CosmosDB follows the same rules as for the MongoDB.

Referencing this https://docs.mongodb.com/manual/core/index-compound/.
"The order of the fields listed in a compound index is important. The index will contain references to documents sorted first by the values of the item field and, within each value of the item field, sorted by values of the stock field. See Sort Orde

[2020-09-23 08:42] yupwei68 commented on #10909
Thanks @MehaKaushik !

[2020-09-23 08:42] #10909 closed

[2020-09-23 10:34] #10257 closed

[2020-09-23 13:26] martinjt commented on #5029
Anyone looking at this? it's blocking a fair amount of downstream applications by the looks of it.

[2020-09-23 16:09] bantoni opened #10913 "Missing identity property in Microsoft.Devices/IotHubs spec"
The IoT Hub API supports the "identity" property, but it is not included in the spec (neither in the [preview spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/iothub/resource-manager/Microsoft.Devices/preview/2020-07-10-preview/iothub.json) nor in the [latest stable](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/iothub/resource-manager/Microso

[2020-09-23 16:30] mimckitt commented on #9014
Doc is now live: https://docs.microsoft.com/en-us/azure/virtual-machines/put-calls-create-or-update

[2020-09-23 21:42] Lusitanian commented on #10800
Please see https://github.com/Azure/azure-rest-api-specs/pull/10916

[2020-09-24 03:00] magodo opened #10920 "Virtual Network VPN Gateway: no way to get the Pre Shared Key for the P2S connection"
Currently, there is no API to allow user to get the **Pre Shared Key** for a P2S connection. The only way to get that key is via downloading the VPN profile and check it inside the profile.

**Related Issues**

- terraform-providers/terraform-provider-azurerm#7777

[2020-09-24 10:09] pvrk commented on #7124
@pratimaupadhyay02 : can you please update on the latest status?

[2020-09-24 10:14] pvrk commented on #7268
We have realized that there might some breaking changes if we go ahead and implement the fix directly. Hence the plan is to provide the fix from a new API version onwards and the older API versions will continue to behave the same.

[2020-09-24 10:35] pvrk commented on #9251
Closing this issue since this is related to ARM and not to Azure Backup alone.

[2020-09-24 10:35] #9251 closed

[2020-09-24 10:40] tombuildsstuff commented on #9251
@pvrk since this is tracking this bug in the Backup API's - shouldn't this stay open until either the ARM Platform provides a manner to configure these and/or the API is updated to manage those itself?ixed

[2020-09-24 12:24] lrxtom2 opened #10931 "`Tags` with wrong data structure in `Microsoft.StorageCache`"
`Tags` should be a nest block with `additionalProperties`, but in `StorageCache` the `Tags` filed is a single object.
The issue reproduce in all api version.

https://github.com/Azure/azure-rest-api-specs/blob/bc527638520f305e53ea106e57b24427c370978e/specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/storagecache.json#L1200

[2020-09-24 17:23] lrxtom2 opened #10933 "Private DNS VNet Link: ResourceGroup and name has wrong case"
Similar to #6641
The issue is PrivateDnsZoneVirtualNetworkLink always returned lower case name and resource name.

[2020-09-24 17:30] laveeshb commented on #10725
@jackofallops The ARM template looks correct. The error message suggests the value for parameter 'integrationServiceEnvironmentId' is null or incorrect. Can you provide the parameters you used to deploy this template? Please feel free to email me the parameters at laveeshb@microsoft.com (as the they could contain PII).

[2020-09-24 18:00] allegradomel commented on #6821
Discussing w/ PM team currently

[2020-09-24 21:03] allegradomel commented on #6821
Hi @sopatwar, we are going to focus on improvement of the help info (links, etc) in the error messages themselves. Do you have a particular use case for the list?

[2020-09-24 23:17] snaheth commented on #8137
@magodo This could be happening due to a few reasons. For example, if your DELETE calls hit different ARM regional endpoints, this issue _could_ be due to a discrepancy in the resource state (deleted vs existing) that hasn't yet propagated across regions. It can also be the result of a similar issue with resource state with the Resource Provider, which is Microsoft.Compute in this case.

It's diff

[2020-09-24 23:17] #8137 closed

[2020-09-25 00:12] raych1 commented on #10250
As @panchagnula confirmed, this is service API issue.

[2020-09-25 02:03] magodo commented on #8137
@snaheth

The issue still exists and 100% reproducible, the correlationId you asked are listed below:

1. delete dedicated host: 48c49482-b84f-4dc1-b450-d26cf274e7fa
2. poll dedicated host deletion: bae672ea-833f-4ee0-b5d6-a1f2e13064c5
3. deleting dedicated host group: 12a9c809-950c-4903-84bd-6fe0938b2e5e

Please keep this issue open until it is resolved.

[2020-09-25 02:51] ArcturusZhang commented on #10931
Hi @akning-ms it seems that we do not have a tag for storagecache, could you please have a look?

[2020-09-25 05:49] magodo opened #10939 "Role Assignment: `roleDefinitionId` will change if the role definition is defined in other subscription"
Given a role definition defined in **sub1** (which is assignable to both **sub1** and **sub2**), when assign it to **sub2** (scope) via role assignment by dereferencing the role definition id, where the definition id is constructured using the **sub1** as the subscription component.

[code]

Later, when we `GET` the assignment object via API, the response shows the role definition id is constructe

[2020-09-25 08:02] njuCZ opened #10943 "sku of key vault created by portal does not follow the enum defined in swagger"
recently, the sku of key vault created by portal becomes "Standard", however the sku defined in all swaggers, such as https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/keyvault.json, the sku name should be `standard` or `premium`.
The case does not match

[2020-09-25 08:44] evertonmc commented on #9795
@rachel-msft Thank you for confirming that. Do you have an ETA for the API (even if it is in preview)? We need to include this in our ci/cd asap

[2020-09-25 09:00] jl-ms commented on #5064
Investigating. Thanks for the patience.

[2020-09-25 09:08] jl-ms commented on #6821
@sopatwar We are still looking into it. Thanks!

[2020-09-25 16:27] brianlehr commented on #10190
Reviewing this internally with NRP team.  May be bug on NRP side preventing this from being updated.
cc @NitinGoelMsft

[2020-09-26 15:21] jiasli commented on #10250
Why does the bot @azure-sdk replaced https://github.com/Azure/azure-cli/issues/10250 with this issue? Something definitely went wrong.

[2020-09-26 15:44] mkreidenweis commented on #8295
Hi @sebansal, thanks for looking into this. I'm a bit confused now though.
In #10783 you add the description back to the `GetCertificatePolicy-example.json`, where it actually existed when at the time I opened this ticket, until it was later removed in https://github.com/Azure/azure-rest-api-specs/commit/8b175d253e5115f49b7691f0fc9de538ea181049#diff-8989e600baa1215ff227cd5b6f6686c2L24

However, I

[2020-09-27 11:00] shawnxzq commented on #8958
@lmazuel, the "level" property could be defined as follows in our app model, which means the "level" is an ADF expression, the the value resolved from the expression is the enum value defined, this is our current practice. However, it might not be straightforward to swagger since the it is not responsible for resolving ADF expression.

"level": {
"value": "@pipeline().levelValue",
"type": "Express

[2020-09-27 11:09] shawnxzq commented on #9764
@qiaozha This is fixed, please help close this one, thanks!

[2020-09-27 11:09] #9764 closed

[2020-09-28 01:44] blueww commented on #10931
Please add storagecache tag, to differ  from storage  issues.
Our team have a system to collect issues with "Storage" tag, currently since storage cache issues also has "Storage" tag, we will collect this issue, but our team can't take action on that.

[2020-09-28 06:10] jaspkaur28 commented on #10808
@njuCZ  We've created a bug for the issue (BUG 8415184) . We will try getting it priortized for Q4 CY20.

[2020-09-28 07:04] jackofallops commented on #10725
Hi @laveeshb - Thanks for the response.  The example above was taken from the automation template generated by the portal, and is the basis for the work I'm doing to make the functionality available in Terraform.  When using azure-sdk-for-go, this parameter is sent as per the structure above, and the `'<null>'` response received.  I'll spin up another test and post the pertinent calls here (redact

[2020-09-28 13:12] Stijnc commented on #10298
Hi @tanmayeekamath,

Has this[ fix been applied](https://github.com/Azure/azure-rest-api-specs/issues/10298#issuecomment-673698853) as I hit the same issue?

thanks,
Stijn

[2020-09-28 14:39] pvrk commented on #9251
@tombuildsstuff : We are being tracked on the response of every bug. For feature requests, there may not be any updates for quite some time. And this is not a feature request on our team too and hence I don't know when ARM team will prioritize this request. So, IMO, it is better to open a generic issue on ARM team about supporting tags for proxy resources and track it against them. When they do it

[2020-09-28 17:45] Lusitanian commented on #10696
@heaths  this is closed out in https://github.com/Azure/azure-rest-api-specs/pull/10916 - is anything blocking merge of that PR?

[2020-09-28 17:58] heaths commented on #10696
We're discussing if this is the right change. It should be merged soon. For now, please don't work on secure key release until that is merged.

[2020-09-28 22:11] sebansal commented on #10943
@jlichwa is reviewing and will make the changes

[2020-09-28 23:52] ArcturusZhang opened #10971 "Virtual Machine Scale Set - enum should have default values"
Original reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8454

The [`priority`](https://github.com/Azure/azure-rest-api-specs/blob/5b8e4157c807c8874edc850079751ac83b5e2de0/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json#L8598) in virtual machine scale set resource is an enum, but this resource is not returned when not speci

[2020-09-29 00:04] sopatwar commented on #6821
I'm using Azure Go SDK in my product.
- Since we are a consumer of Azure APIs, we need a comprehensive list of error codes to map them to our internal faults mechanism.
- In certain cases, we may need to map Azure error codes to custom error messages if the original message is too long.
- A comprehensive list of error codes also serves as better documentation to troubleshoot issues

[2020-09-29 00:07] tanmayeekamath commented on #10298
Hey @Stijnc After confirming with the engg. team, the change is still making its way through the pipeline. What region is your lab in?

[2020-09-29 01:55] neil-yechenwei opened #10973 "Monitor Metric Alert API would return 404 while creating multiple Monitor Metric Alerts in parallel"
After tested, Monitor Metric Alert API would return 404 while creating multiple Monitor Metric Alerts and get each resource immediately once it's created successfully in parallel. BTW, I am using the azure go sdk as client.

[2020-09-29 04:31] niklarin commented on #9795
Hello @evertonmc. Thank you for your interest in our product! We expect Hyperscale (Citus) APIs to be available in coming months. Unfortunately we don't have specific date at this time. If it's blocking your Hyperscale (Citus) adoption, please don't hesitate to contact us at AskAzureDBforPostgreSQL@service.microsoft.com to discuss your situation and options.

[2020-09-29 07:56] Stijnc commented on #10298
the dev test labs are being deployed in West Europe.

[2020-09-29 16:14] rjmholt opened #10979 "Microsoft.Storage API spec does not work with autorest"
From https://github.com/Azure/autorest.modelerfour/issues/303.

I have a custom autorest plugin that is able to process other Azure REST API specs. When I run it on the Microsoft.Storage spec like this:

[code]

I get the following:

[code]

This issue occurs before autorest runs my own plugin, and seems to be due to an issue in the spec itself. Unfortunately it means I have no way to process the

[2020-09-29 17:24] aramase commented on #10637
@rashmi-jha Any updates on this issue?

[2020-09-29 19:11] kenieva commented on #8353
Hi @ArcturusZhang sorry for the delayed response.

The ID being lowercased is by design. Thank you.

[2020-09-29 19:11] #8353 closed

[2020-09-29 19:13] kenieva commented on #10435
In the portal are you able to see it if you click on the [...] button or on the tooltip?

[2020-09-29 19:54] allegradomel commented on #6821
Got it, thanks for sharing your use cases! I'll discuss this w/ the PM and content teams to see if/how we can put this together

[2020-09-29 20:18] allegradomel commented on #5064
@sheenaajay - I'm looking into this but can't see what you're pointing out in these files - can you please comment with the appropriate lines so I can take a look?

[2020-09-30 02:31] ArcturusZhang commented on #10435
it is empty

[2020-09-30 03:43] ieelleme commented on #4901
I'm also currently having an issue with this, and it's blocking a full IAC transition from ARM JSON to Terraform. As this is a business continuity/disaster recovery resource, please consider bumping this issue up in priority. Somebody initially reported this issue about two years ago in 2018, and it is now nearing the final quarter of 2020. We love this product; let's iron out this bug!

[2020-09-30 04:50] tombuildsstuff commented on #8353
@kenieva URI's, per the HTTP Specification are case sensitive.

Furthermore the ARM specification states they should be treated Case Insensitively at Request time and Case Sensitive in responses:

https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md

Additionally, the REST API MUST preserve the casing provided by the user. That means the API should return

[2020-09-30 07:21] #9359 closed

[2020-09-30 08:42] beandrad opened #10990 "[BUG] `x-ms-parameter-location` should be `method` for `ascLocation` in JIT network access policies"
- Field schema: https://github.com/Azure/azure-rest-api-specs/blob/c1c45178f4a761b48f1778ac46cdd3304d7e33ef/specification/security/resource-manager/common/v1/types.json#L337

- What happened?
All the Jit Network Access Policies REST endpoints expect ascLocation as a path parameter (see https://docs.microsoft.com/en-us/rest/api/securitycenter/jitnetworkaccesspolicies). The problem with the generate

[2020-09-30 09:04] benc-uk opened #10992 "Security API Automations model, has location field incorrectly marked as readOnly"
The location field of the Automations model
https://github.com/Azure/azure-rest-api-specs/blob/c1c45178f4a761b48f1778ac46cdd3304d7e33ef/specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/automations.json#L319

Has a `Location` field which is referenced here
https://github.com/Azure/azure-rest-api-specs/blob/c1c45178f4a761b48f1778ac46cdd3304d7e33ef/specification/s

[2020-09-30 11:02] audunn commented on #10827
@allenjzhang any update on this?

[2020-09-30 15:45] jeking3 commented on #9432
Friendly ping. :)  Seems to have stalled.

[2020-09-30 16:36] kenieva commented on #10435
Can you trying getting the assignment through PS/CLI/API? I am under the impression that this could be a UI issue but want to verify that the parameters are on the assignment.

[2020-09-30 16:54] kenieva commented on #8353
We have created a work item for this bug; workitem 8448953. Thank you for your input.

[2020-09-30 17:49] axayjo commented on #10971
@avirishuv can you take a look at this issue?

[2020-09-30 18:14] tombuildsstuff commented on #8353
@kenieva is there a public issue tracking that we can direct people to for updates?

[2020-09-30 22:50] AddySanto commented on #9772
Can anyone confirm that gjtaylor's response addresses the issue?  Does this require further followup or is it safe to close this?

[2020-10-01 05:35] snaheth commented on #9466
Pending PR from @Yobretaw (attached from link above)

[2020-10-01 10:33] martinjt commented on #5029
@ArcturusZhang is anything happening on this?

[2020-10-01 16:12] beandrad opened #11006 "[Enhancement] Define SC pricing name as enum"
- Field schema: https://github.com/Azure/azure-rest-api-specs/blob/3695f4ef3bf65c253509d2708c31c96b71822613/specification/security/resource-manager/Microsoft.Security/stable/2018-06-01/pricings.json#L223

- What happened?
The `pricingName` path argument in the Security Center pricing endpoints version 2018-06-01 (https://docs.microsoft.com/en-us/rest/api/securitycenter/pricings/get) accepts the fo

[2020-10-01 17:56] Drewm3 commented on #10714
This has been confirmed to be a bug. The correct values of 1-5 will be published in the next version update for the API. The currently released version cannot be updated without causing a breaking change.

[2020-10-01 18:08] axayjo commented on #10707
Looking into this.

[2020-10-01 19:14] r0bnet commented on #10913
Just checked it and the earliest version that is supporting the `identity` field is `2020-01-01`. Would be great if you could add it accordingly.

[2020-10-01 23:03] bleroy opened #11014 "Improve doc comments on Search IndexingParametersConfiguration"
In `IndexingParametersConfiguration`:

* `IndexedFileNameExtensions` & `ExcludedFileNameExtensions`: add details on what happens if both are set.
* Nullable bool properties such as `FailOnUnsupportedContentType` should specify what a null value signifies.
* `DelimitedTextDelimiter`: add information about the default value.
* `DocumentRoot`: specify what kind of path syntax should be used here.
* `

[2020-10-02 09:48] hugo-paredes commented on #10234
Hi.
Is there any update to this issue?
Thanks

[2020-10-02 10:30] akingscote commented on #10234
@hugo-paredes  is [this](https://github.com/MicrosoftDocs/azure-docs/issues/63591#issuecomment-702544869) the same for yourself?
Im having the same problem unless i disable MFA which i **do not** want to do

[2020-10-02 10:36] hugo-paredes commented on #10234
@akingscote I don't think so.

When I create a VM using the Azure Portal and enable the AAD login, I'm able to login to the VM without any problem. But, when I do it via the `az cli`, then it doesn't work.

[2020-10-02 22:31] sebansal commented on #10943
The value is not case-sensitive, so we would not be making any changes as of now.

[2020-10-02 22:31] #10943 closed

[2020-10-02 22:34] RandalliLama commented on #8473
@heaths this has been fixed.

[2020-10-02 22:34] #8473 closed

[2020-10-03 00:41] sebansal commented on #10769
Hi @vdamle

In the portal, the secp256k1 was incorrectly named and it has been fixed in the portal now
![image](https://user-images.githubusercontent.com/62565144/94979236-76f1c280-04d6-11eb-9b67-e8a9d1131a22.png)

[2020-10-05 13:44] beandrad opened #11034 "[BUG] Create security contact doesn't include 201 as successful response"
- Schema: https://github.com/Azure/azure-rest-api-specs/blob/1959aa63dd7a626aac36cc0e6b8c656dd2c1791d/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json#L148

- What happened?
When creating a security contact the API returns status code 201 (as expected), however, this is not included among successful status codes in the API schema.

- What

[2020-10-05 19:15] allenjzhang opened #11038 "ManagementGroup swagger should be move into their own folder rather than in Microsoft.Resources swagger"
[With ManagementGroup swagger definitions mixed in with Microsoft.Resources](https://github.com/Azure/azure-rest-api-specs/blob/1959aa63dd7a626aac36cc0e6b8c656dd2c1791d/specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json#L752) are creating Linter errors [R3030](https://dev.azure.com/azure-sdk/public/_build/results?buildId=561264&view=logs&j=688669d0-441c-5

[2020-10-05 20:50] steveharrington1 opened #11041 "Can't identify backed up entity from Recovery Service Activity Logs"
**Background:** We are evaluating ways to make Azure logs more useful in our platform, and are currently looking at some use cases around Azure Recovery Service Vaults. Specifically, there is an activity log that indicates when a Recovery Service backup job is completed that would be useful. However, when referencing the entity that was backed up, it only provides the entity name. This is not enou

[2020-10-06 10:20] beandrad commented on #11034
This seems to be fixed in newer versions of the API specs (https://github.com/Azure/azure-rest-api-specs/blob/8d7bacd13dc8b1b260578c8ff74ef317c562c3ed/specification/security/resource-manager/Microsoft.Security/preview/2020-01-01-preview/securityContacts.json#L114).

[2020-10-06 11:33] beandrad commented on #11034
Actually, the API specs require fixing, cause the API v2017-08-01-preview does return 201 in some cases, I was able to reproduce.
![image](https://user-images.githubusercontent.com/67916678/95196415-f1b92700-07cf-11eb-8ded-6e433dbc51ed.png)

[2020-10-06 13:33] beandrad commented on #11034
Duplicate of #10717.

[2020-10-06 16:16] Pacodel opened #11054 "Can't specify default value in enums for SDK"
I had an enum with only one value, so it was treated as a constant. That meant customers didn't have to provide it and it was always set.
After adding new values to the enum I was hoping there was a way to add a default value to continue the same behavior (If not set, then it would take the first one).
I tried with "Default" and "x-ms-client-default" but didn't work.

I was hoping this:

[2020-10-06 17:54] alanafrankly commented on #10797
@narula0781, @ashishonce, @romil07, is there an update on this? I would like to use the CreatedBy field when creating the PR programmatically. I am creating the PR as part of an ADO build pipeline, and I would like to customize the PR so that it is created by the person who triggered the pipeline.

[2020-10-07 13:40] manicminer opened #11061 "SQL Data Sync: cannot create Sync Group with version 2015-05-01-preview"
**Resource:** https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}

**API Version:** 2015-05-01-preview

Encountering an issue when creating a SQL Data Sync Group via API, that doesn't occur when creating via the Portal. When a Sync Group is created in the Port

[2020-10-08 05:12] pratimaupadhyay02 commented on #7124
The fix is in an ongoing PR. This will be checked in by end of next week.

[2020-10-08 09:45] clook commented on #9768
Hi @macolso. Thanks for the issue identification :)
Do you know if Azure plans to release a new API schema and eventually improve its testing / validation?
Imho, the API specs are widely used to autogenerate code and is considered as a source of truth. Patching auto-generated code does not seem a good practice to me.

[2020-10-08 11:06] mikhailshilkov opened #11082 "Cosmos DB - Database - Options shouldn't be required"
The [options](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json#L6379) property in `SqlResources_CreateUpdateSqlDatabase` is marked as required, even though none of its sub-properties is required. @markjbrown [confirmed](https://github.com/pulumi/pulumi-azure-nex

[2020-10-08 11:36] mikhailshilkov opened #11083 "Storage Account: mark location with x-ms-mutability"
Storage Account's [`location`](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#L2206) property should be marked with `x-ms-mutability` attribute to annotate that it's non-updatable:

[code]

[2020-10-08 11:47] mikhailshilkov opened #11084 "Storage Cache: tags should be a map<string, string>"
Storage Cache has the following defition of [tags](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2020-03-01/storagecache.json#L1201):

[code]

Instead, it should mark the type of the values as `string`:

[code]

For example, see this definition of the [storage accounts](https://g

[2020-10-08 12:04] manicminer opened #11085 "AAD: DiagnosticSettings API does not support bearer auth using a service principal"
Attempting to create an AAD Diagnostic Setting using the `aad/mgmt/2017-04-01/aad` package, and it appears the API does not support authenticating as a service principal. I have assigned the Global Admin directory role, and created a custom IAM role containing the documented permissions, but receive the following error.

**Request**
[code]

**Response**
[code]

This despite waiting an appropriate

[2020-10-08 12:11] mikhailshilkov opened #11086 "Web: MSDeploy definition is invalid"
[`MSDeploy`](https://github.com/Azure/azure-rest-api-specs/blob/27cc07ddd294d98e05cb301e07a72378df9f87e8/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/WebApps.json#L22177-L22201) definition in the Web RP has a `properties` property that defines both `$ref` and `properties` at the same time:

[code]

This is invalid. If the intension is to make a union of properties from both s

[2020-10-08 12:32] manicminer commented on #11085
See this thread for more details: https://github.com/terraform-providers/terraform-provider-azurerm/pull/8581#issuecomment-705535605

[2020-10-08 13:41] mikhailshilkov opened #11087 "Container Service: deprecate older versions of containerServices endpoints"
`Microsoft.ContainerService/stable/2017-07-01` deprecated the following paths:

[code]

and they never appear in later versions.

Should they also be deprecated in older versions? (`2016-03-30`, `2016-09-30`, `2017-01-31`, etc.)

[2020-10-08 14:45] markjbrown commented on #11082
Thanks @mikhailshilkov, I talked to @MehaKaushik last week and she is taking a look at this.

btw, why is @anfeldma-ms getting added to new issues on this repo? I see him getting added by the bot here and also in the az cli repo too. Who manages that bot?  --thanks.

[2020-10-08 19:29] avirishuv commented on #10971
@ArcturusZhang could you please clarify that when is the 'priority' property not returned - during a Get vmss call, or something else ? Any steps you can share and expected behavior will be helpful.

[2020-10-08 19:42] avirishuv commented on #10190
@brianlehr any update on this?

[2020-10-08 19:45] avirishuv commented on #9014
Thanks @mimckitt . Given doc is updated, closing the issue now, but @OmkarHirve please feel free to reopen if you have any other question on this topic.

[2020-10-08 19:45] #9014 closed

[2020-10-08 20:09] brianlehr commented on #10190
This should be in NRP queue as a bugfix.  Apologies as I'm not sure how to sort it there.

[2020-10-08 21:09] avirishuv commented on #10322
@ArcturusZhang and @tombuildsstuff we recently had a build released that should fix this issue. Would you mind checking if you are still seeing this or not ?

[2020-10-09 00:41] MehaKaushik commented on #11082
I am hoping to include this change in the upcoming apiVersion.

[2020-10-09 02:32] ArcturusZhang commented on #10435
Well I did not try other tools since I am not quite familiar with them on this resource. But I did tried REST API, and it worked fine. Therefore I suppose this should be a UI problem on portal.

[2020-10-09 02:34] ArcturusZhang commented on #10971
You could try the config in the original issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8454
It is using terraform but it is quite straightforward to convert it to REST API call. The key is no `priority` set in the request, and thus no priority in the response.

[2020-10-09 04:09] xccc-msft commented on #11061
@manicminer Thanks for sharing the observations. Routing to SQL service team.

[2020-10-09 06:53] njuCZ opened #11103 "roleDefinitionId not consistent between Role Definition and role assignment"
api-version:  2018-09-01-preview

creating role definition, the resource id format is "/providers/Microsoft.Authorization/roleDefinitions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

creating role assignment, the role definition resource id format is "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/providers/Microsoft.Authorization/roleDefinitions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

could we keep

[2020-10-09 15:07] mikhailshilkov opened #11107 "Cosmos DB: add x-ms-mutability to immutable properties"
Cosmos DB has a pretty sophisticated resource model and it's not always clear which properties can be changed in-place for existing resources vs. which properties require re-creation.

For example, [this issue](https://github.com/pulumi/pulumi-azure-nextgen/issues/57) was raised because `partitionKey` of a SQL container can't be changed.

Consider annotating properties with the [`x-ms-mutability`]

[2020-10-09 15:41] #10435 closed

[2020-10-10 00:42] #10411 closed

[2020-10-10 02:31] qwordy commented on #10714
It is fixed. Swagger and service is updated now.
https://github.com/Azure/azure-cli/pull/15316

[2020-10-10 02:31] #10714 closed

[2020-10-10 09:26] ArcturusZhang commented on #11054
Hi @Pacodel thanks for this issue!

Actually you could assign default value to an enum (which is essentially a string), like this: https://github.com/Azure/azure-rest-api-specs/blob/c42e6f0540dc41a1d442c103bbb6f0ba71acf95b/specification/cognitiveservices/data-plane/EntitySearch/stable/v1.0/EntitySearch.json#L559

And the specification for this keyword is here: https://github.com/OAI/OpenAPI-Specif

[2020-10-10 09:33] njuCZ opened #11129 "how to create a windows php app service"
how to create a windows php app service through sdk?

I tried set `windows_fx_version` to `PHP|7.3` and set `php_version` to `7.3`, both could not work and the app service created is node.

the rest api for app service is so confusing

[2020-10-11 15:02] gowthamsankar312 commented on #6562
Any update on this? Facing the same confusion whether to refer the 'status' field or 'provisioningState' field and what are its possible values like 'Active','Removing',etc.,?

[2020-10-12 02:23] yungezz commented on #11084
routing to service team to have a look since this is swagger issue

[2020-10-12 02:55] ChenTanyi commented on #11083
@mikhailshilkov Actually all locations are non-updatable. It may not be too serious.

[2020-10-12 05:26] mikhailshilkov commented on #11083
I agree. All locations should be marked with the `x-ms-mutability` extension.

It is quite serious for the user experience of our customers (of Pulumi Azure NextGen provider).

[2020-10-12 05:35] mikhailshilkov opened #11136 "App Configuration: publish 2020-07-01-preview specs"
The official docs for App Configuration [use](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-manager) the `2020-07-01-preview` version to define an ARM template with `keyValues`. Why is this spec not published yet?

Our customers (Pulumi Azure NextGen provider) are eager to use it. Please publish the specs.

[2020-10-12 07:33] neil-yechenwei opened #11137 "Agent Pool API cannot add nodeTaints to node pool while updating"
After checked, seems nodeTaints cannot be added after created successfully per [document](https://docs.microsoft.com/en-us/rest/api/aks/agentpools/createorupdate#request-body). Seems when these were first introduced these could be updated, but that behavior has since changed. So could service team confirm if there's plans to change that, so this field can be updated?

[2020-10-12 08:56] qwordy opened #11139 "[Compute] API version of "list vm skus""
The default API version of `https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/skus` in Azure REST API reference website is 2020-06-01. But in this repo, 2020-06-01 doesn't have this API. 2019-04-01 folder has `skus.json`. It defines this API.
https://github.com/Azure/azure-cli/issues/15265

[2020-10-12 10:44] javiermarasco opened #11141 "Unable to update block blob in Azure Storage Account using REST API"
Hi, I am trying to update the content of a block blob using the storage key and a call to the Azure REST API but it fails stating the body length in my call is wrong.

Call:
$AccountName = "Storage account name"
$Sig = "Key of the storage account"
$container = "Name of the container"
$FileName = "Name of the block blob to update"
$Body = "Contains the text that I want to place inside the block blo

[2020-10-12 12:19] neil-yechenwei opened #11143 "Storage Account API should just validate the specific Subnet being used is Ready while creating multiple storage accounts with subnets in one vnet"
After tested, seems storage account API would check the Network, which is unrelated (and gets marked as "updating" whenever other subnets change) and throw below error message while creating multiple storage accounts with subnets in one virtual network. I assume Storage Account API should just validate the specific Subnet being used is Ready. So could you help to fix this issue? Thanks.

API Error

[2020-10-12 21:50] mehowq opened #11151 "Advisor Recommendations List does not return savings for Microsoft.Compute/virtualMachines"
The Azure Advisor Recommendations List api operation for Microsoft.ReservedInstances/reservedInstances type recommendations returns the actual cost saving values in the extended properties field. However, the cost savings are not available for Microsoft.Compute/virtualMachines recommendations. The cost savings values for both types are easily available through Portal in the Azure Advisor UI.

Is t

[2020-10-13 00:21] Yobretaw commented on #9466
@dolauli I believe the 1st issue (location readonly) has been fixed. For your comments in the 2nd item, a SavedQuery is actually a tracked resource which by definition has no subscriptionId/resourceGroup. We are mistakenly returning them in the current GET calls, and we'll be dropping those two fields shortly so that the response payload and swagger definition will be matching.

I'll fixing the et

[2020-10-13 02:52] ArcturusZhang opened #11155 "Security setting models have problematic inheritance structure"
The settings API returns a model [`Setting`](https://github.com/Azure/azure-rest-api-specs/blob/ffc3a5f4098468a2f476dc6580fba998d817c0dd/specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/settings.json#L175), but this model is identical to [`SettingResource`](https://github.com/Azure/azure-rest-api-specs/blob/ffc3a5f4098468a2f476dc6580fba998d817c0dd/specification/security

[2020-10-13 07:38] kyschouv commented on #10637
I'd love to see an update here as well. We've written some code to work around it, but it'd be nice to just use the keyvault CSI driver without a lot of supporting code around it.

[2020-10-13 09:04] yupwei68 opened #11161 "Storage Share Directory can not delete the resource when it's not empty"
Related to customer issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/7834

storage api version: 2018-11-09

[2020-10-13 10:50] Console32 commented on #5427
@yugangw-msft this is not solved in the SO Thread,

But the issue is that it is impossible to set it to AzureADAndMicrosoftAccounts. This is still the case even when using az rest instead of az ad app update:

[code]

results in the following output:
[code]

[2020-10-13 18:43] jeking3 commented on #9432
Note this issue will not be resolved fully by the linked update; the documentation will be updated however the swagger definition will still be wrong.

[2020-10-13 21:31] ramaganesan-rg commented on #8131
thank you! Closing per your comment.

[2020-10-13 21:31] #8131 closed

[2020-10-13 22:37] melmullen commented on #9614
Fixed in Exports ver 2020-06-01

[2020-10-13 22:37] #9614 closed

[2020-10-13 22:38] melmullen commented on #9614
Fixed in latest version

[2020-10-13 22:55] melmullen commented on #9563
We have released a new version of the API and swagger: 2020-06-01. Please retry.

[2020-10-13 22:55] #9563 closed

[2020-10-14 02:47] yupwei68 opened #11181 "Storage Object Replication Policy could not be deleted"
1. delete a policy:
delete https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yupdst/objectReplicationPolicies/c9b56c58-a0e1-424d-8590-fc71aebac5ff?api-version=2019-06-01

204 No Content(because it has been deleted for several times)

2. list polices:
get https://management.azure.com/subscriptions/{{subscriptionId}}/resou

[2020-10-14 03:00] xccc-msft commented on #11181
Thanks for reporting this. Routing to Storage service team. Thanks.

[2020-10-14 05:10] blueww commented on #11181
@yupwei68

As we discussed in mail:
From server side, the rules in source and destination account are stored separately, so you need to delete both of them.
Delete source account policy/rule, won’t delete the policy/rule on dest account, and vise verse.

So once we create a policy from source account to a destination account, we need to delete the policy in both sides.

[2020-10-14 05:12] yupwei68 commented on #11181
THanks

[2020-10-14 05:12] #11181 closed

[2020-10-14 06:03] javiermarasco commented on #11141
Can we have an update on this? I keep trying with different approaches but all return the same.

Thank you!

[2020-10-14 08:13] yupwei68 opened #11188 "Storage Encrption Scope Internal Error"
I've tried to create a "keyVault" encryption scope, but it returns an internal error.

I've granted the access policy of "get","list","wrapkey,"unwrapkey" to the storage account

PUT https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yupstr/encryptionScopes/enscope4?api-version=2019-06-01&monitor=true

{
    "properties":

[2020-10-14 08:18] yupwei68 opened #11189 "Storage Object Replication Policy can not be recreated"
I've deleted the policy for the source storage account side and the destination storage account side.
I've listed the policies to check that there is no policy in both accounts.

Then I recreate the policy with a new uuid policy id.
PUT https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yupstr/objectReplicationPolicies/81

[2020-10-14 08:41] xccc-msft commented on #11188
Thanks for reporting this. Routing to Storage service team. Thanks.

[2020-10-14 11:17] TheAwesem opened #11192 "Security insight Alert rule Action requires triggerUrl"
When trying to send a PUT request to "/alertRules/{ruleId}/actions/{actionId}" to link an Alert Rule to a Playbook I get the following error:
`Required property 'triggerUri' not found in JSON. Path 'properties', line 1, position 701.`
This triggerUri is not getting returned when requesting al current actions with the GET request.

[2020-10-14 22:24] manicminer opened #11200 "Domain Services: create domain service fails to create service principals"
When trying to create a new domain service:

[code]

a 201 response is received:

[code]

After several retrievals of the async operation result, the following is received, and the domain service resource enters a failed state.

[code]

![Screenshot 2020-10-14 at 23 23 07](https://user-images.githubusercontent.com/251987/96051833-3f8afa80-0e74-11eb-8c35-774468e7b236.png)

According to the **[docum

[2020-10-15 00:47] heaths opened #11203 "7.2-preview swagger does not define AES-KW-PAD algorithms"
From a recent thread, KW-PAD algorithms should also be supported for wrap/unwrap but are not documented in the keys.json swagger currently for 7.2-preview.

[2020-10-15 01:22] raych1 commented on #11192
Hello @moranraz, @alshulma, I found you updated the securityinsights swaggers. Please add the correct person for help on this issue if you're not the right person, thanks.

[2020-10-15 01:52] blueww commented on #11189
@zfchen95
Would you please help to look?
This looks like a server issue.

[2020-10-15 01:55] yupwei68 commented on #11189
Thanks @blueww @zfchen95 . @zfchen95 has replied me that the policy need to be created first on destination account with name "default", then create it on source account side. So as update and delete, they need to be done on both sides. I'll try it later.

[2020-10-15 06:29] magodo opened #11212 "VPN Site: non-idempotent handling of `deviceProperties`"
If the user doesn't specify [`deviceProperties`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json#L4643) and `linProperties` in the PUT request of VpnSite resource. The response will still return them anyway, which is unexpected.

Request:

`PUT: https://management.azure.com/subscriptions/xxx/resour

[2020-10-15 06:48] axayjo commented on #10707
We'll fix the error output to indicate the type of int. Tracking this as a bug.

[2020-10-15 08:03] xccc-msft opened #11218 "GraphRbac needs update"
As per [application update](https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http) and [service principal](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-update?view=graph-rest-1.0&tabs=http),
[code]
The new APIs should be updated in GraphRbac.

[2020-10-15 08:24] amirkeren commented on #11192
@TheAwesem @raych1 the triggerUri is the trigger for the Playbook that you wish to run. You can get find it in the LogicApp overview page if you click on "view trigger history"

[2020-10-15 15:07] jackofallops opened #11222 "CosmosDB Compound Index Sort Order returns incorrect case for `CompositePathSortOrder` in `Get`"
API Version: 2020-04-01

Line Reference: https://github.com/Azure/azure-rest-api-specs/blob/d43b10e044e9e12e1f53a3cc2a9d3d9f01b08d90/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-04-01/cosmos-db.json#L7062-L7069

The API call returns `descending` or `ascending`, which does not match the Enum values of `Descending` and `Ascending` respectively, resulting in the need to a

[2020-10-15 17:52] pipoe2h opened #11225 "Windows VM name can be longer than 15 chars in Azure Portal but not via API"
Hi,

When creating a Windows virtual machine via the portal it is allowed to give a name longer than 15 chars. When trying the same via Azure CLI or using the APIs, it is not possible.

Why this mismatch between the UI and the API? If I do an `az vm get`, I can see the key name with the 16 chars value.

[2020-10-15 18:19] Drewm3 commented on #10033
The team has decided that we will be removing the list of VM sizes from the Swagger spec with the next API version update. Consumers of the API spec should stop relying on this list of VM sizes now if possible, and it will be formally removed in the upcoming API update.

[2020-10-15 19:42] Lusitanian commented on #11203
Ok, as it turns out, we're not in a rush to expose these; so I'll close this and if necessary this will come in later as an additive change.

[2020-10-15 19:42] #11203 closed

[2020-10-15 20:12] mvvsubbu opened #11229 "ARM Template Options for Adding Key to KeyVault is not documented"
Official documentation for ARM Template Reference Guide doesn't have Keys resource details. However for achieving the same I found there is a 101 template.

ARM Template Documentation: https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/2019-09-01/vaults/secrets
Adding KV Key 101 Template : https://github.com/Azure/azure-quickstart-templates/blob/master/201-machine-learning-encrypt

[2020-10-16 02:14] xccc-msft commented on #11225
Thanks for reporting this. Routing to Compute service team.

[2020-10-16 02:14] weidongxu-microsoft commented on #11229
I think you should report issue to https://github.com/MicrosoftDocs/feedback/issues

[2020-10-16 02:29] jiasli commented on #9567
I noticed this issue is still not fixed yet. When will this be deployed?

[2020-10-16 04:21] mvvsubbu commented on #11229
No ARM manifest reference pages are generated based on swagger, so this is the correct place. KV team should update their swagger spec

[2020-10-16 07:05] magodo opened #11234 "Load Balancer Backend Address Pool (2020-05-01): only the designated endpoint is able to manipulate `loadBalancerBackendAddresses`"
The [`loadBalancerBackendAddresses`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/examples/LBBackendAddressPoolWithBackendAddressesPut.json#L42) applies to Standard sku of LB only.

However, if I created a Standard sku LB and try to manipulate it using the [load balancer endpoint](https://github.com/Azure/azure

[2020-10-16 07:30] yupwei68 opened #11236 "Storage Blob Service `deleteRetentionPolicy` should not have restricts when `RestorePolicy` is disabled"
1. PUT https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yups/blobServices/default?api-version=2019-06-01
{
    "properties": {
        "cors": {
            "corsRules": []
        },
        "deleteRetentionPolicy": {
            "enabled": true,
            "days":12
        },
        "RestorePolicy": {
            "

[2020-10-16 08:00] yupwei68 opened #11237 "Storage Blob Service ContainerOperationFailure"
1. PUT /subscriptions/.../resourceGroups/.../providers/Microsoft.Storage/storageAccounts/.../blobServices/default?api-version=2019-06-01

{"properties":{"cors":{"corsRules":[{"allowedOrigins":["http://www.example.com"],"allowedMethods":["GET","PUT","PATCH"],"maxAgeInSeconds":500,"exposedHeaders":["x-tempo-*"],"allowedHeaders":["x-tempo-*"]}]},"deleteRetentionPolicy":{"enabled":true,"days":300},"is

[2020-10-16 08:04] yupwei68 opened #11238 "Storage Account `RoutingPreference` is not returned from api"
Patch https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yupstr?api-version=2019-06-01
{
    "properties": {
        "RoutingPreference": {
            "RoutingChoice":"InternetRouting"
        }
    }
}

Response 200 OK. It doesn’t include “RoutingPreference”

[2020-10-16 08:04] yupwei68 opened #11239 "Storage Account `RoutingPreference` is not returned from api"
Patch https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yupstr?api-version=2019-06-01
{
    "properties": {
        "RoutingPreference": {
            "RoutingChoice": "InternetRouting",
            "PublishInternetEndpoints":true
        }
    }
}

Response 200 OK. It doesn’t include “RoutingPreference”
x-ms-request-id:

[2020-10-16 08:06] yupwei68 opened #11240 "Storage `azureFilesIdentityBasedAuthentication` doesn’t show “Enabled” on portal."
Patch https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupstr/providers/Microsoft.Storage/storageAccounts/yupstr?api-version=2019-06-01
{
    "properties": {
        "azureFilesIdentityBasedAuthentication": {
            "directoryServiceOptions": "AD",
            "activeDirectoryProperties": {
                "domainName": "adtest.com",
                "netBiosDomainN

[2020-10-16 08:23] #11238 closed

[2020-10-16 08:26] javiermarasco commented on #11141
@ArcturusZhang would you have any idea if I am making a mistake in my approach or if something changed in the API that is making this PUT unable to update a blockblob?

Thank you.

[2020-10-16 09:11] yupwei68 commented on #11240
I got reply from Wei Wei. The setting is correctly displayed. May I ask which fields are required, which fields are optional? For example, I can successfully set "DomainName" is empty string when type is AD. But I suppose "DomainName" is a required field.

[2020-10-16 10:55] AddySanto commented on #9901
My understanding is that ronari2's response demonstrates how to add a new solution to an existing one, which was krise86's question.  I'm closing this ticket.

[2020-10-16 10:55] #9901 closed

[2020-10-16 10:58] #9772 closed

[2020-10-16 17:25] mikhailshilkov opened #11250 "KeyVault: Microsoft.KeyVault/vaults/keys API is not published"
ARM Templates now support KeyVault keys: https://docs.microsoft.com/en-us/azure/key-vault/keys/quick-create-template?tabs=CLI

However, the API definition doesn't contain these endpoints https://github.com/Azure/azure-rest-api-specs/tree/d0e81d229be92e34b443b666f7672cbab0806556/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01.

Why is that?

[2020-10-16 18:45] slbsupportgithub commented on #11234
@Erich<mailto:Erich.RobinsonTillenburg@microsoft.com> to help

-a

From: msftbot[bot] <notifications@github.com>
Sent: Friday, October 16, 2020 2:17 AM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: SLB Supportability GitHub Contacts <slbsupportgithub@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-specs] Load Balancer Backend A

[2020-10-16 18:56] sainipankaj90k commented on #10637
@rashmi-jha , @jlichwa
Any update on this one? We are considering to stop maintaining our custom script and rely on CSI driver and this is a key blocker for same.

[2020-10-17 05:04] amjads1 commented on #11225
@avirishuv - Can you please look into this issue?

[2020-10-19 01:22] ramaganesan-rg commented on #9637
Team will circle back on an ETA. For this issue, Swagger needs an update.

[2020-10-19 02:01] AbelHu opened #11267 "AKS: Remove incorrect pattern for adminUsername and adminPassword in ManagedClusterWindowsProfile since 2019-04-01"
Remove incorrect pattern for adminUsername and adminPassword in ManagedClusterWindowsProfile since 2019-04-01

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#virtualmachinescalesetosprofile

[code]

[2020-10-19 04:01] ramaganesan-rg commented on #10898
Team is investigating. For this issue, the swagger needs to be updated.

[2020-10-19 04:03] rabidscorpio commented on #9238
@solankisamir How about routing this request where it needs to go instead of throwing it in the trash. Which team does manage the sendgrid api?

[2020-10-19 07:12] tombuildsstuff opened #11271 "Breaking change in the SQL Extended Auditing Settings API"
👋🏼

We've had several reports opened about a breaking change in the SQL Extended Auditing Settings API - after investigation we can confirm the same thing.

When creating a new SQL Server, using the following Payload:

[code]

.. and subsequently posting to ensure the Extended Auditing Policy is disabled, via this Request:

[code]

We get the following Response:

[code]

It appears on the 15th/16t

[2020-10-19 07:43] yupwei68 opened #11272 "Storage Account azureFilesIdentityBasedAuthentication Update fails"
1. create a storage account successfully
Put /subscriptions/.../resourceGroups/.../providers/Microsoft.Storage/storageAccounts/unlikely23exst2acct3p9ij?api-version=2019-06-01 HTTP/1.1
{"kind":"StorageV2","location":"westeurope","properties":{"networkAcls":{"defaultAction":"Allow"},"accessTier":"Hot","supportsHttpsTrafficOnly":true,"isHnsEnabled":false,"allowBlobPublicAccess":false,"minimumTlsVersi

[2020-10-19 08:17] xccc-msft commented on #11272
Routing to Storage service team. Thanks.

[2020-10-19 13:07] magodo opened #11278 "Finalize Firewall DNS Setting in Swagger"
The Firewall DNS Setting is now implemented using the [`additionalProperties`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/azureFirewall.json#L566) in the API level.

There are quite a few customers seeking this feature to be supported in Terraform, while Terraform would like to integrate features that are not

[2020-10-19 16:21] dpalat commented on #11271
Is there any update on this?

[2020-10-19 17:14] tombuildsstuff commented on #11271
👋

We've had an update from the Service Team (via Azure Support) that it's possible to add an extra field to the payload to workaround this (`isAzureMonitorTargetEnabled=true`), but that doesn't work for existing users.. and so is a workaround not a fix.

As such from what I can tell this regression needs to be rolled forward/backwards since this has broken all existing clients - unfortunately the

[2020-10-19 17:19] tombuildsstuff commented on #11271
@nathannfan @vishrutshah @jaredmoo @yaakoviyun @bcham @changlong-liu @00Kai0 @akning-ms

Could we get a "Service Attention" on this API Regression so that the Service Team can see it directly?

[2020-10-19 17:27] sebansal commented on #11250
The PR is in flight for the update.
https://github.com/Azure/azure-rest-api-specs/pull/10643

[2020-10-19 20:40] sebansal commented on #11229
Are you looking for this doc ?
https://docs.microsoft.com/en-us/azure/key-vault/keys/quick-create-template?tabs=CLI

[2020-10-19 21:16] mvvsubbu commented on #11229
I am looking for official ARM template resource documentation containing this "Microsoft.KeyVault/vaults/keys" resource documented

[2020-10-19 21:45] mvvsubbu commented on #11229
This link https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/2019-09-01/vaults/secrets should have keys resource mentioned as well.

[2020-10-20 00:02] sebansal commented on #11229
Hey @msmbaldwin, did you get a chance to add the template to that repo? Is there a PR to follow?

[2020-10-20 02:10] yupwei68 opened #11290 "Postgresql securityAlertPolicies returns empty string"
Related to https://github.com/terraform-providers/terraform-provider-azurerm/issues/8738
PUT /subscriptions/.../resourceGroups/.../providers/Microsoft.DBforPostgreSQL/servers/.../securityAlertPolicies/Default?api-version=2017-12-01 HTTP/1.1
{"properties":{"state":"Enabled","disabledAlerts":[],"emailAddresses":[],"emailAccountAdmins":false,"retentionDays":0}}

GET /subscriptions/.../resourceGroups/

[2020-10-20 03:21] blueww commented on #11272
@zfchen95
Would you please help to look at the SRP server issue?

[2020-10-20 03:24] blueww commented on #11188
@tonykjose
Would you please help to look at the Encryption Scope "InternalServerError"?

[2020-10-20 03:31] kairu-ms opened #11291 "[Monitor Application Insights] Duplicated operationId `Operations_List` in tag `package-preview-2020-06`"
https://github.com/Azure/azure-rest-api-specs/blob/ea6d1725ca9669714cd5f5f969d026b90ecffbd1/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2020-06-02-preview/livetoken_API.json#L39

https://github.com/Azure/azure-rest-api-specs/blob/ea6d1725ca9669714cd5f5f969d026b90ecffbd1/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/aiOpera

[2020-10-20 03:35] blueww commented on #11161
@yupwei68
Would you please give the the network trace of the issue?
I see the request ID, but it's too longtime ago, can't find the log now.

From the error, it looks like try to delete a not empty File directory, and this is not allowed.
See https://docs.microsoft.com/en-us/rest/api/storageservices/delete-directory:

If you try to delete a share, please make sure the request Uri looks like "https

[2020-10-20 03:37] blueww commented on #11141
@ArcturusZhang This is for dataplane. Please add "Client"  tag to dataplane issue to differ it from SRP issue.

[2020-10-20 03:38] blueww commented on #11161
@raych1 This is for dataplane. Please add "Client" tag to dataplane issue to differ it from SRP issue.

[2020-10-20 03:40] blueww commented on #11084
@yungezz
This is for storage cache, not storage. Please remove "Storage" tag, and add a "Storagecache" tag to track it.

[2020-10-20 03:47] blueww commented on #10739
Add "Client" Tag as this is for dataplane.

[2020-10-20 03:48] blueww commented on #11237
@zfchen95
Would you please help to look at the 413 error?

[2020-10-20 03:50] blueww commented on #11189
@yupwei68
Not sure if it works in your retry?
If so, would you please close this issue?
thanks!

[2020-10-20 05:15] #11189 closed

[2020-10-20 06:40] yupwei68 commented on #11239
It appears that the fields in request body should all in lowercase

[2020-10-20 06:40] #11239 closed

[2020-10-20 06:50] tombuildsstuff commented on #11271
thanks @ArcturusZhang :)

[2020-10-20 08:11] raych1 commented on #11161
Thanks @blueww for the information. I will add it in the future case.

[2020-10-20 08:18] TPPWC commented on #11271
Is there an update for this? We also raised an ARR ticket with MS.

[2020-10-20 09:18] tombuildsstuff commented on #11271
@TPPWC based on the last update I've seen - there's a fix for this being worked on by the Service Team - however it's currently scheduled for the next release train (which I'm informed takes 1-2 weeks).

We've pushed back on that, requesting this is fixed/rolled-back sooner (as this is a regression, not a new feature that's not being used) - but this is ultimately on the Service Team to rollback /

[2020-10-20 10:21] TPPWC commented on #11271
Hmm ok, that means that we have to tell our customers that they are not able to deploy or update any sql server or database for the next 1-2- weeks? I am not sure if they like to hear that.....

[2020-10-20 10:28] Timovzl commented on #11271
Can you explain what you mean by an existing user here?

When setting up a brand new environment, can we use this to somehow work around the issue? It's not quite clear to me, but if there is a workaround, I'd like to try it.

[2020-10-20 10:48] tombuildsstuff commented on #11271
This was meant to refer to existing installs/versions of the provider, rather than users here - apologies for the ambiguity.

Indeed, as mentioned above we're pushing for the Service Team to revert/roll a fix out asap, but it's unfortunately outside of our control. We can look to ship a workaround in this weeks release if the API hasn't been reverted by then - but that will only work for the users

[2020-10-20 14:41] tombuildsstuff commented on #10473
ping @sebansal

[2020-10-20 16:23] jlichwa commented on #10473
@tombuildsstuff if you don't provide expiration date it is infinite (this field is optional), so providing any limits to it does not have sense at this point. It will also be breaking change. There are customers who are using it as configuration store, for let's say service name.

[2020-10-20 17:21] tfitzmac commented on #10672
One clarification - it's really the REST API specification that needs to be updated. Right now, that [API version doesn't exist](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/dns/resource-manager/Microsoft.Network) in the repo. Once the spec is added, then the docs can be updated.

[2020-10-20 17:33] tombuildsstuff commented on #10473
@jlichwa which comes back to the original point, if this field can be null - surely there should be sane validation value for the EndDate (e.g. 10 years, 100 years)? It seems optimistic to allow this to be set ~8000 years in the future, given the rate of churn in technology.

Whilst this may sound like a hypothetical scenario - the issue for client libraries is it's possible for them to overflow d

[2020-10-20 20:53] audunn commented on #10827
@allenjzhang any update on this?

[2020-10-20 23:01] jlichwa commented on #10473
@tombuildsstuff if it can be indefinite, why not 100 years and if we do 100, why not 101? It can be considered as an issue, but it is really low priority and it would require to change on REST API and all SDKs and potentially break a lot of current customers code which could set it to 1000 years or 9999 for whatever reason. So it is something which would require updates across all clients. We will

[2020-10-21 02:24] ArcturusZhang commented on #10104
Reopen per request

[2020-10-21 03:11] magodo commented on #10104
#10131 doesn't actually fix this issue, this should be fixed on service side.

[2020-10-21 05:21] yupwei68 commented on #11240
domainName, netBiosDomainName, forestName, domainGuid, domainSid, azureStorageSid are required when type is AD

[2020-10-21 05:21] #11240 closed

[2020-10-21 05:27] yupwei68 commented on #11272
Storage Service has replied it's by design

[2020-10-21 05:27] #11272 closed

[2020-10-21 05:48] yupwei68 commented on #11272
Here's the reply:

[2020-10-21 07:58] TheAwesem commented on #11192
Will this be implemented in the Sentinel API in the future? For fully automation options I would like to recieve it from the GET request.

[2020-10-21 08:22] amirkeren commented on #11192
We are currently working on releasing an entirely new automation framework (should go to PP next month). We will take that into consideration.

[2020-10-21 09:46] javiermarasco commented on #11141
@blueww, @ArcturusZhang, I tested this yesterday and is still failing in the same way, can we have a check on this? I am very curious if this is just me (failing to count properly the size of the body) or a problem in the API.

Thank you!

[2020-10-21 11:25] mybayern1974 opened #11313 "Compute: Image Builder Template Does Not Honor the `version` input in terms of api Idempotence"
As for the `version` field defined in Image Builder Template swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14/imagebuilder.json#L599, when the input is "Latest" in PUT, the output in GET is `latest (specific version)`

There are two issues:
1. Case sensitivity is not honored;
2. Extra val

[2020-10-21 21:18] swagatmishra2007 commented on #6585
This has been fixed a while back and only Post is allowed now

[2020-10-21 21:18] #6585 closed

[2020-10-22 02:01] blueww commented on #11141
@seanmcc-msft
Would you please help to look at the storage dataplane issue?

[2020-10-22 02:04] yupwei68 opened #11319 "Storage Table Service can not be set"
1. set table service:
PUT /subscriptions/.../resourceGroups/acctestAzureRMSA-201022094141182146/providers/Microsoft.Storage/storageAccounts/unlikely23exst2acct7sevj/tableServices/default?api-version=2019-06-01 HTTP/1.1
{"properties":{"cors":{"corsRules":[{"allowedOrigins":["http://www.example.com"],"allowedMethods":["GET","PUT","PATCH"],"maxAgeInSeconds":500,"exposedHeaders":["x-tempo-*"],"allowed

[2020-10-22 02:38] blueww commented on #11319
@zfchen95
Would you please help to look? Why the Cors set to table service properties not return with get table service properties ?

[2020-10-22 09:26] yupwei68 opened #11331 "Storage Container 409 error"
Storage Container returns 409 error on second updating

Region: West Europe, Storage Account Name:acctestacclph8h ContainerName: vhds
HTTP/2.0 409 Conflict
Content-Length: 196
Cache-Control: no-cache
Content-Type: application/json
**Date: Thu, 22 Oct 2020 07:23:43 GMT**
Expires: -1
Pragma: no-cache
Server: Microsoft-Azure-Storage-Resource-Provider/1.0,Microsoft-HTTPAPI/2.0 Microsoft-HTTPAPI/2.0
St

[2020-10-22 09:37] blueww commented on #11331
@yupwei68
The account "acctestacclph8h" no exist now, so can't check the account properties.

But the issue might caused by the storage account "allowBlobPublicAccess" is set to false. Please make sure it's true (or null for new created account), and try again.

[2020-10-22 10:46] #11267 closed

[2020-10-22 15:57] tombuildsstuff commented on #11271
👋🏻

We've just released v2.33 of the Azure Provider, which includes a workaround for this issue. You can upgrade to v2.33 of the Azure Provider by updating the version number in your Terraform Configuration.

For Terraform 0.13+ that's:

[code]

or on Terraform 0.12:

[code]

At which point running `terraform init -upgrade` should download the latest version of the Azure Provider.

From a technica

[2020-10-22 17:44] NivedhaChellam commented on #10608
[Get SQL Vm](https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/get) call

1. **With Expand call :** will return the **VmNotRunning** code, If you are doing a expand call like `GET https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/{sqlVirtualMachineName}?$expand={$expand}&api-versi

[2020-10-22 17:59] mitheysh-asokan opened #11334 "Updates to the Azure Service Health API endpoint"
**Request: Introducing new fields to the response payload.**

1. It would be very useful to be able to differentiate an Azure Service Event by its active event type: Service Health, Planned Maintenance, Security Advisory, Health Advisory. This allows our customers to easily recognize the type of service health event, as it aligns with the literature used within Azure.

![Screen Shot 2020-10-22 at

[2020-10-22 18:12] mitheysh-asokan opened #11336 "Updates to Azure Service Status RSS feed."
**Request: Adding the Regions, Services, Status, and Severity into the payload.**

Currently, the RSS feed provides a brief description of an ongoing issue, which contains the information that is required. However, due to the inconsistency in the format, it is harder to correctly decipher the regions, services, status, and severity of the issues. If these properties were added to the event as resp

[2020-10-22 18:55] #10769 closed

[2020-10-22 19:16] avirishuv commented on #10971
@ArcturusZhang the default value of 'priority' is Regular. Once the VMSS is created, the value of priority cannot be changed.
Also, if priority is not specified during the creation, then its value is not returned, because returning would break the get-put semantics.

[2020-10-22 19:34] avirishuv commented on #10322
@ArcturusZhang , @tombuildsstuff  if no open other questions, can we close the issue ?

[2020-10-22 19:36] avirishuv commented on #10373
@ArcturusZhang the fix for this issue has been rolled out. If not other open questions, can we close the issue?

[2020-10-22 22:39] nevaistic commented on #8641
Can we have an update on this? I keep trying with different approaches but all return the same.

Thank you!

[2020-10-23 00:43] yupwei68 commented on #11331
@blueww Thanks. `allow_blob_public_access = true` works.

[2020-10-23 00:43] #11331 closed

[2020-10-23 02:53] yupwei68 opened #11348 "Storage Container Immutability Policy 500 Internal Error"
1. create Container
PUT /subscriptions/.../resourceGroups/acctestRG-201023101755997328/providers/Microsoft.Storage/storageAccounts/acctestaccs6jio/blobServices/default/containers/vhds?api-version=2019-06-01 HTTP/1.1
{"properties":{"metadata":{},"publicAccess":"None"}}
HTTP/2.0 201 Created
Content-Length: 427
Cache-Control: no-cache
Content-Type: application/json
Date: Fri, 23 Oct 2020 02:18:41 GMT

[2020-10-23 03:16] ArcturusZhang commented on #10373
Hi @avirishuv I just had a try of updating SKU, and the data disks are properly retained. Thank you!

[2020-10-23 03:16] #10373 closed

[2020-10-23 07:22] yupwei68 opened #11350 "After clearing Storage container LegalHold, delete storage account returns 409 Error"
1. create storage account
2. create container
3. set legal holds
4. update legal holds
5. clear legal holds
6. destroy all
6.1 get container:
GET /subscriptions/.../resourceGroups/acctestRG-201023143421224156/providers/Microsoft.Storage/storageAccounts/acctestacc88429/blobServices/default/containers/vhds?api-version=2019-06-01 HTTP/1.1

Response:
{"id":"/subscriptions/.../resourceGroups/acctestRG-

[2020-10-23 08:56] blueww commented on #11350
@zfchen95, @Himanshu Chhabra
It seems a server issue, would you please help to look?

[2020-10-23 08:56] blueww commented on #11348
@zfchen95, @Himanshu Chhabra
It seems a server issue, would you please help to look?

[2020-10-23 09:33] yupwei68 commented on #11348
Solved by @HimanshuChhabra . Thanks! Here we need set immutability policy -> lock the policy -> set extend immutability policy. It would be nicer to have a complete error message.

[2020-10-23 09:33] #11348 closed

[2020-10-23 15:05] jhendrixMSFT opened #11351 "Microsoft.Consumption UsageDetails_List missing "skiptokenver" and "id" parameters"
For operation [UsageDetails_List](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-01-01/consumption.json#L42), there is param `$skiptoken` however this seems to be insufficient.  When looking at a `nextLink` URL returned from the service it also contains a `skiptokenver` and `id` query params.  This was discover

[2020-10-23 17:09] shilpasharmaAM commented on #10023
This has been fixed, updated and now available. Closing this item, please open a new issue if there are additional problems.

[2020-10-23 17:09] #10023 closed

[2020-10-23 20:19] heaths opened #11361 "Line endings for PEM-formatted certificates matters to Key Vault"
When importing a certificate formatted as a PEM file to Key Vault, Windows line endings (CRLF) cause the server to fail the request, while Unix line endings (LF) do not. It would be robust and a better user experience if either - and MacOS with CR - would be allowed.

The service message wasn't even descriptive. It just said that the format was wrong, and caused me to try various private key forma

[2020-10-23 23:01] sebansal commented on #10825
We identify this as a feature request and would be putting product backlog @aramase

[2020-10-25 01:39] deshriva commented on #10667
@magodo : Can we close this request, we have a work item and this change will be rolled out with a new API version.

[2020-10-26 00:47] Badajoz95 commented on #11271
This is causing a problem through the Azure Portal UI and PowerShell. Repro is set Azure SQL Server Auditing to a Log Analytics Workspace and then attempt to disable it. You get the same error message in both.

[2020-10-26 01:45] yupwei68 commented on #10608
Hi @NivedhaChellam Thanks for that. May I ask if there an api for checking if the vm is running?

[2020-10-26 01:51] magodo commented on #10667
@deshriva Thank you for the update, can we wait until the Swagger PR for that new API version is merged?

[2020-10-26 05:09] shawnxzq commented on #8958
@lmazuel Am I clear and anything else do you want? Thanks!

[2020-10-26 08:33] yupwei68 opened #11376 "Storage Object Replication Policy List Api Id is missing"
GET /subscriptions/.../resourceGroups/acctest-storage-dst-201026162127644153/providers/Microsoft.Storage/storageAccounts/stracctdstcab6t/objectReplicationPolicies?api-version=2019-06-01 HTTP/1.1

Response:
Date: Mon, 26 Oct 2020 08:23:08 GMT
Expires: -1
Pragma: no-cache
Server: Microsoft-Azure-Storage-Resource-Provider/1.0,Microsoft-HTTPAPI/2.0 Microsoft-HTTPAPI/2.0
Strict-Transport-Security: max-

[2020-10-26 09:07] mikhailshilkov opened #11378 "Cosmos DB: 2020-09-01 is published but not deployed yet?"
The new API version [2020-09-01](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-09-01) has been published for Cosmos DB. However, it doesn't seem to work yet:

[code]

Why is that? Does it mean this API version isn't "published" yet, and how can I see that from API definitions?

cc @markjbrown

[2020-10-26 09:08] MehaKaushik commented on #11378
Hi, apologies for this. Due to some deployment delays this is an issue. Requesting you to temporarily shift to 2020-04-01.

[2020-10-26 09:21] EduardCloud opened #11379 "Microsoft.ResourceHealth API version & filter call fails"
Hello,

When I try to retrieve the availabilityStatuses using "Microsoft.ResourceHealth/availabilityStatuses?api-version=2018-07-01&availabilityState=Unavailable" but it fails with error:
`Invoke-RestMethod: {"error":{"code":"InvalidResourceType","message":"The resource type 'availabilityStatuses' could not be found in the namespace 'Microsoft.ResourceHealth' for api version '2018-07-01'. The supp

[2020-10-26 09:36] blueww commented on #11376
@yupwei68
As I see, the policy ID and rule ID are both returned.
What's the ID you expected to return?

[2020-10-26 13:01] JaDevGuy opened #11380 "Quota API Fails with 404 on every requests"
The Quota API fails on all requests with a 404 when testing in a Pay-As-You-Go account or Free Trial.
https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotaapi

At minimum the LIST method should work however this returns a 404 as well:
GET https://management.azure.com/subscriptions/<subscription_id>/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/se

[2020-10-26 15:39] EduardCloud commented on #11379
Hi again,

Another miss information was "reasonType" docs explains:

With the api version 2020-05-01 it comes empty.

Regards.

[2020-10-26 15:52] stephbaron commented on #11379
Thanks, we're looking at the API version & filter calls issue you reported.

For the reasonType, can you provide an example response, I can't repro that behavior.

[2020-10-26 16:58] tombuildsstuff commented on #11271
👋

Having spoken with Azure Support, it appears that the fix for this in the Azure API has been rolled out to the West Europe region - as such older versions of the Azure Provider should now be available to use in that region. Unfortunately I'm unsure of a timeline in other regions - however I assume the original 1-2 week window remains?

Thanks!

[2020-10-26 17:06] LukeCarrier commented on #11271
Thanks for minimising the disruption and saving us some troubleshooting, @tombuildsstuff!

[2020-10-26 17:10] EduardCloud commented on #11379
Oops, my fault.

It was an error calling properties from the object.

[2020-10-26 21:15] johnjbateman commented on #11271
This issue is affecting East US region.  Any work on when this will be rolled out?

[2020-10-26 21:33] shilpasharmaAM commented on #10159
Adding @asheniam and @PatrickTseng  to review

[2020-10-26 21:41] PatrickTseng commented on #10159
Unless the original post is using 'Percentage CPU' as an example, it does not make sense to check 'DividePerInstance' since 'Percentage CPU' is already  an average number.  DividePerInstance is most useful when you deal with stuff like ApproximateMessageCount

[2020-10-26 22:23] kummanish commented on #10259
hi @alex-3sr , just a quick update. We are planning to get this fixed by mid November.

[2020-10-26 23:44] axisc commented on #6012
This is setup due to swagger guidelines. Closing this issue.

@j5lim - thanks for raising this issue.

[2020-10-26 23:44] #6012 closed

[2020-10-26 23:46] axisc commented on #6562
we will review this as part of refining our swagger spec and cleanup. keeping this issue open until we do that.

[2020-10-27 01:38] yupwei68 commented on #11376
@blueww Resource Id, normally resource id is returned in listing.

[2020-10-27 03:03] blueww commented on #11376
@zfchen95
Would you please confirm if ORS policy has resource ID?

[2020-10-27 03:07] yupwei68 commented on #11376
Hi @blueww , @zfchen95 has replied in email that they will add the resource id.

[2020-10-27 03:09] blueww commented on #11376
@yupwei68
Thanks for the update!

[2020-10-27 05:18] HimanshuChhabra commented on #11350
Fixed: https://msazure.visualstudio.com/One/_git/Storage-SRP/pullrequest/3714293

[2020-10-27 05:59] yupwei68 commented on #11350
Thanks @HimanshuChhabra

[2020-10-27 05:59] #11350 closed

[2020-10-27 10:38] mikhailshilkov opened #11401 "Web: WebApps_ListFunctionKeys response definition is wrong"
Operation [`WebApps_ListFunctionKeys`](https://github.com/Azure/azure-rest-api-specs/blob/f42bd834937b81706316afea12da46d3e61eb0a1/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/WebApps.json#L3690) declares its response to be of type `CommonDefinitions.json#/definitions/StringDictionary`. The type is [defined](https://github.com/Azure/azure-rest-api-specs/blob/f42bd834937b81706

[2020-10-27 10:42] mikhailshilkov commented on #11136
Fixed by #10224

[2020-10-27 10:42] #11136 closed

[2020-10-27 12:37] mikhailshilkov opened #11402 "Network: Duplicate RecordSets_CreateOrUpdate operation"
`RecordSets_CreateOrUpdate` operation is defined for two unique resource types within the same provider:

- For [DNS zones](https://github.com/Azure/azure-rest-api-specs/blob/799a74bef4518667f13c920598489aa55e039526/specification/dns/resource-manager/Microsoft.Network/stable/2018-05-01/dns.json#L158)
- For [private DNS zones](https://github.com/Azure/azure-rest-api-specs/blob/490bfe0d0c278bb97f518

[2020-10-27 19:10] rahuls-microsoft commented on #11380
Please refer to the section of registring the subscription with Capacity RP -
https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotaapi
 Important

Prerequisite: Resource Provider (Microsoft.Capacity) needs to be registered for the Subscriptions. If the Resource provider haven't previously used in your subscriptions, follow the article Resolve errors for resource provider registrati

[2020-10-27 19:51] aholler2 commented on #8093
It seems this issue may have been rolled back by Azure. I cannot reproduce this "ServerFarmNotFound" error anymore. Can you confirm if it got fixed @naveedaz?

[2020-10-27 20:06] JaDevGuy commented on #11380
Thanks @rahuls-microsoft . The Microsoft.Capacity resource provider was registered but still gave the 404 errors. I finally figured this out through trial and error.
The resource name mentioned the CREATE Quota API documentation is the resource provided by the resource provider (mentioned in the LIST API documentation instead). The Create Quota API call does not take the response from the GET meth

[2020-10-27 20:06] #11380 closed

[2020-10-28 02:02] aim-for-better commented on #10109
This  item is still in our backlog now.

[2020-10-28 02:03] aim-for-better commented on #6724
This is still in our backlog now.

[2020-10-28 02:04] aim-for-better commented on #6505
We are still tracking this one.

[2020-10-28 07:06] njuCZ opened #11419 "rest api issue of key vault managed hsm"
using api-version: 2020-04-01-preview

Q1: why sku.family is a required field?
Q2: when creating with field "EnablePurgeProtection= false", and then we update it to "true". Rest api will success, but the field in the response is still false. It didn't be changed.
Q3: SoftDeleteRetentionInDays could not be updated, is it by design?

[2020-10-28 07:33] yupwei68 commented on #11237
On fact, after first update, the blob service could not be updated in 12 minutes or longer.

1. PUT /subscriptions/.../resourceGroups/acctestAzureRMSA-201028133158646092/providers/Microsoft.Storage/storageAccounts/unlikely23exst2acctqgubk/blobServices/default?api-version=2019-06-01 HTTP/1.1
{"properties":{"cors":{"corsRules":[{"allowedOrigins":["http://www.example.com"],"allowedMethods":["GET","PU

[2020-10-28 08:48] ArcturusZhang opened #11420 "Operationalinsights/2019-08-01-preview paginated model without nextLink defined"
In operationalinsights/2019-08-01-preview, the operation `DataExport_ListByWorkspace` is defined a paginated operation ([here](https://github.com/Azure/azure-rest-api-specs/blob/c174d654d4cd9f45e929a31480e19ada7baa6924/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json#L78)), but the corresponding [model returned](ht

[2020-10-28 11:03] michaelelleby opened #11424 "App Service managedidentity provider does not wait for deployment to finish"

[2020-10-28 11:35] kvendingoldo opened #11425 "allow_trusted_microsoft_services_bypass_firewall is not supported by eventhub"
using api-version: 2018-01-01-preview

preview spec 2018 (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json) does not support `allow_trusted_microsoft_services_bypass_firewall` option.

[2020-10-28 12:10] yungezz commented on #11425
service swagger issue, route to appropriate team

[2020-10-28 15:12] DOliana opened #11427 "deployments do not properyl wait for nested deployments OR secret deployment is not actually finished whwen it reports so"
We have a template that creates a storage account, uses a nested template to deploy a secret to a key vault in a different resource group and an app service that references that template in its app settings. Even though `dependsOn` is properly set, the app service reports that the key vault entry does not exist on deployment. You can see though that it is deployed and a redeployment of the same te

[2020-10-28 17:56] MehaKaushik commented on #11082
This change was made in apiVersion 2020-09-01

[2020-10-28 17:56] #11082 closed

[2020-10-28 18:31] tbugfinder opened #11430 "Missing methods in few versions of /resource-manager/Microsoft.ContainerRegistry/stable/xxx/containerregistry.json"
Hello,

I started off having an issue in using ContainerRegistry with the ruby-sdk.
https://github.com/Azure/azure-sdk-for-ruby/issues/2804

After some research I think the the rest-api-specs lack a few methods for versions in between.
E.g. this search lists the versions having the method I'm looking for however few API versions don't.

https://github.com/Azure/azure-rest-api-specs/search?q=%22lis

[2020-10-28 19:39] tbugfinder commented on #11430
Which API versions should a latest tag point to? Should it use preview?

[2020-10-28 21:20] MehaKaushik commented on #11222
Thanks for reporting this, we are investigating it.

[2020-10-28 21:21] MehaKaushik commented on #11107
@ArcturusZhang  do you know if this change is considered a breaking change or not? Can we make this change in our existing stable apiVersions ?

[2020-10-28 23:48] #10800 closed

[2020-10-29 03:10] erich-wang commented on #11430
The default tag is defined in readme.md and please check https://github.com/Azure/azure-rest-api-specs/blob/4637caf2022035c4d51eca3314589a25060d20af/specification/containerregistry/resource-manager/readme.md#tag-package-2019-05-preview

[2020-10-29 03:12] erich-wang commented on #11419
Could keyvault team take a look?

[2020-10-29 08:00] tbugfinder commented on #11430
Hi @erich-wang ,
sorry I don't yet understand your reply.
a) How about the missing methods, e.g. in https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_container_registry/lib/2019-06-01-preview/generated ?
b) Why does ruby-sdk refer to 2019-06-01-preview although in your link above it's not included?
c) Why do you refer to branch 4673caf202203... instead of master?
d) Sho

[2020-10-29 17:28] tbugfinder opened #11444 "not able to run `autorest --ruby`"
Hi,

I'd like to create a PR for ruby-sdk however I'm unable to run `autorest --ruby`.
What's the "hidden" parameter I'm missing here ?

Execution for compute module.
[code]

I get same error for execution in the containerregistry module.

Running `autorest --python` just builds nicely.

[2020-10-29 18:18] tbugfinder commented on #11444
[code]

[2020-10-29 18:49] Drewm3 commented on #11225
@pipoe2h, can you confirm that the actual compute name that resulted from your portal deployment was truncated to 15 characters? It looks like the portal is just taking the first 15 characters and dropping the rest. That is why the command is successful in the portal.

I am not sure if this is a bug or a "feature" in the portal, but it would at least explain what you are seeing. If you confirm tha

[2020-10-29 19:37] MehaKaushik commented on #11222
Hi @jackofallops Many thanks for reporting this. We have found out that our service is intended to return the lower case values, our swagger is wrongly documented. The same issue holds for IndexingMode (related issue https://github.com/Azure/azure-sdk-for-go/issues/6603)
Since changing the enum value in a stable version is considered a breaking change, we will take up this correction in our next A

[2020-10-29 19:43] pipoe2h commented on #11225
@Drewm3 the hostname for Windows machine is truncated to 15 for sure, but the VM object in the portal is able to accept more than 15 characters. This is possible only via the portal and not via the API. It seems a portal feature that it's not aligned with the API charset limit.

[2020-10-29 20:02] tbugfinder commented on #11444
[code]
Same command using  python:
[code]

[2020-10-29 20:17] tbugfinder commented on #11430
IMHO, "my" current issue with the ruby-sdk is that latest is pointing to an preview API version which doesn't have all stable methods defined in rest-api-specs, though (preview-2019-06-01 vs. stable 2019-05-01).
I've also tried to rebuild ruby libs however failing there too:
https://github.com/Azure/azure-rest-api-specs/issues/11444

[2020-10-30 02:24] xccc-msft commented on #11444
@tbugfinder you might want to open new issue via [autorest.ruby](https://github.com/Azure/autorest.ruby). Thanks.

[2020-10-30 08:11] tbugfinder commented on #11444
@xccc-msft there's no issues item on the autorest-ruby repo.

[2020-10-30 11:24] timja commented on #9238
@ArcturusZhang would you be able to help with routing this to the right team please?

[2020-10-30 16:47] tombuildsstuff opened #11460 "Breaking Behavioural Change in Cognitive Service"
👋

This upstream issue describes a breaking change in the Cognitive Services API: https://github.com/terraform-providers/terraform-provider-azurerm/issues/9102

If this functionality is being deprecated, shouldn't this be done in a new version of the API, with a published migration path ahead of time?

We've discovered this blog post published today, multiple hours after this breaking change occur

[2020-11-02 04:48] yugangw-msft commented on #11430
The next stable version will come around 2021 April. Right now ruby should definitely point to 2019-12-01-preview, which has more recent features at GA quality and support

[2020-11-02 05:11] kairu-ms commented on #11444
This is a command for your reference
'''
autorest --use=~/projects/autorest.ruby --package-name=azure_mgmt_security  https://raw.githubusercontent.com/Azure/azure-rest-api-specs/c0999c2814c88b647da9f1e149e79d0bbab0768d/specification/security/resource-manager/readme.md --namespace=Azure::Security::Mgmt::V2015_06_01_preview --title=SecurityManagementClient --tag=package-2015-06-preview-only --packag

[2020-11-02 07:32] ruowan commented on #11427
Hi, It's related to ARM template. Pls go to this repo https://github.com/Azure/azure-resource-manager-schemas and create issue.

[2020-11-02 08:52] ArcturusZhang commented on #11107
Hi @MehaKaushik I am not quite sure.
@jianyexi could you have a look whether this would be considered as a breaking change?

[2020-11-02 09:40] DOliana commented on #11427
Thanks @ruowan. Could you notify the relevant people that the kind of issue to report in which repo should be contained in the readme. (for me it was not obvious to use the schema-repo)

Opened new issue: https://github.com/Azure/azure-resource-manager-schemas/issues/1298#issue-734349192

[2020-11-02 09:40] #11427 closed

[2020-11-02 10:10] akning-ms commented on #9238
+ @devoto13 may know as he is working on schema for sendGrid.

[2020-11-02 11:21] tbugfinder commented on #11444
Hm, are you running a patched version of autorest.ruby?

[2020-11-02 12:17] devoto13 commented on #9238
@akning-ms No, not really. I've contributed the schema back in the day as I wanted to create a SendGrid resource using Azure Resource Manager. I don't use it anymore and don't think I can help with routing.

[2020-11-02 15:10] tombuildsstuff commented on #11460
ping @fengzhou-msft

[2020-11-03 08:46] javiermarasco commented on #11141
@blueww, @seanmcc-msft do we have any update on this issue?

Thank you!

[2020-11-03 10:20] EduardCloud commented on #11379
Hello @stephbaron, this morning we retrieve a false VM availability status from the api (08:35 CEST). The api returned an "Unabailable" but Azure panel shows all green.
We do an api check every five minutes.

[2020-11-03 18:19] anavinahar commented on #11234
We will not be able to support this for Basic SKU Load Balancers.

#please-close.

[2020-11-04 01:50] magodo commented on #11234
How about:

Since it makes no sense that the standard sku can't work with the load balancer endpoint. There is no where in the document or swagger mentioning this.

[2020-11-04 07:05] #11161 closed

[2020-11-04 09:36] ruowan commented on #10827
@audunn  Maybe you could ping Allen Zhang on teams.

[2020-11-04 20:02] LiquoriChris opened #11533 "Endpoint to delete an instance from an azure app service"
**Endpoint to delete an Azure App Service instance**

Would it possible to add an endpoint to be able to remove an instance from a scaled out Azure App Service? Currently, there are endpoint to delete instance processes, but given an unhealthy instance, should be able to remove the instance from the app service and create a new instance.

This would be helpful for DevOps and engineering to isolate

[2020-11-05 15:13] #9672 closed

[2020-11-05 15:15] shemers commented on #11420
@ArcturusZhang is this still an issue?

[2020-11-05 20:44] avirishuv commented on #10322
Closing, please feel free to reopen if you have additional questions on this issue.

[2020-11-05 20:44] #10322 closed

[2020-11-05 21:39] yiyiguo commented on #10913
@Azure/azure-iot-cli-triage

[2020-11-05 21:39] yiyiguo commented on #10899
@Azure/azure-iot-cli-triage

[2020-11-05 23:59] sebansal commented on #11361
Have opened a bug
Trackable here https://msazure.visualstudio.com/One/_workitems/edit/8745166

[2020-11-06 00:04] sebansal commented on #9812
Ping @vasanthrajams

[2020-11-06 00:06] sebansal commented on #10696
Hi @heaths
I was triaging this list, can you share if it has been resolved and can be closed?
Thanks

[2020-11-06 00:06] sebansal commented on #9806
Ping @vasanthrajams

[2020-11-06 00:15] sebansal commented on #10638
Have opened a feature request
(internally tracked as FEATURE 8745273)

[2020-11-06 00:18] sebansal commented on #11419
Adding @amitbapat

[2020-11-06 00:27] sebansal commented on #9432
Hi @jlichwa
I was triaging this list, can you share if it has been resolved and can be closed?
Thanks

[2020-11-06 00:28] heaths commented on #10696
I'm not driving this change. Please ask @herveyw-msft or @Lusitanian. I believe, however, that this is no longer relevant as the models have been flattened to a simple model that takes an optional content type and arbitrary blob.

[2020-11-06 01:15] magodo commented on #9424
ping @lirenhe again

[2020-11-06 04:18] yupwei68 opened #11559 "Compute gallery image delete return 409 error"
We have a compute image, a gallery, a gallery image, and a gallery image version resources. Then we start to delete them.

**1. Delete gallery image version:**
DELETE /subscriptions/.../resourceGroups/acctestRG-201105153850262730/providers/Microsoft.Compute/galleries/acctestsig201105153850262730/images/acctestimg201105153850262730/versions/1234567890.1234567890.1234567890?api-version=2019-12-01 HT

[2020-11-06 06:49] ArcturusZhang commented on #11420
Hi @shemers yes this is only resolved when the nextlink was added to [this model](https://github.com/Azure/azure-rest-api-specs/blob/c174d654d4cd9f45e929a31480e19ada7baa6924/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2019-08-01-preview/OperationalInsights.json#L442)

[2020-11-06 08:39] mybayern1974 commented on #11559
This issue could repro. A brief of the symptom is SharedImageVersion returns "delete-succeeded" but SharedImage Deletion complains itself could be deleted for its nested resource (SharedImageVersion) still exist.

This issue started to appear from some 2nd half of 2020 Oct, per my personal observation.

Below is the log sequence I caught, which indeed is align with what @yupwei68 provided:

2020/1

[2020-11-06 09:32] PhoenixHe-msft commented on #8955
Should already be tracked by track2 .NET on sdk automation.

[2020-11-06 09:32] #8955 closed

[2020-11-06 15:44] pakrym commented on #8955
@weshaggard do we want something similar for other languages?

[2020-11-06 16:32] benc-uk opened #11570 "Scope not exposed as a parameters for Microsoft.Authorization/policyExemptions@2020-07-01-preview"
I'm trying to create `Microsoft.Authorization/policyExemptions` objects via ARM templates and Bicep
It seems like the `scope` parameters is not being properly exported/exposed, so clients can't pick it up

For reference the scope parameter is exposed from `policyAssignments` and clients can set it

![image](https://user-images.githubusercontent.com/14982936/98390309-13b2fd00-204d-11eb-9cc8-d3e6123

[2020-11-06 17:29] MehaKaushik commented on #5968
Thanks for bringing this up. I will get back to you with a tentative timeline.

[2020-11-06 19:01] jaggerbodas-ms commented on #11460
Hi @tombuildsstuff ,

As you have noted above, [Bing Search Services](https://www.microsoft.com/en-us/bing/apis) are transitioned to Azure Marketplace. i.e. Post 10/30 provisioning new Bing resource via existing Cognitive Services methodologies will not work and customers can [provision any new instances of Bing Search Services via Azure Marketplace](https://docs.microsoft.com/en-us/bing/search-ap

[2020-11-06 19:35] allegradomel commented on #5064
Closing since no response - please let us know if the issue persists @sheenaajay

[2020-11-06 19:35] #5064 closed

[2020-11-06 22:41] tbugfinder commented on #11430
Hi @yugangw-msft do you know who could work on the ruby-sdk update?
It doesn't really look like being actively maintained or at least with only minimal resources and minor priority.

[2020-11-06 23:15] yugangw-msft commented on #11430
CC @MyronFanQiu

[2020-11-07 02:10] MehaKaushik commented on #5968
Hi @wilsonge @karok2m since these are old APIVersions, the documentation would not be affected, neither new SDKs would be released for them. Our future APIVersions support and enhance the features in these APIVersions. Our recommended APIVersions is 2020-04-01. We would not invest in maintaining older versions + there are additional internal reasons, hence we would not document these apiVersions.

[2020-11-07 02:10] MehaKaushik commented on #5968
Please feel free to re-open this if you have any other concerns.

[2020-11-07 02:10] #5968 closed

[2020-11-07 16:38] tbugfinder commented on #11430
Could you anyway sched some light to the question of using stable vs. preview?
Should preview include all methods stable versions have?
If yes, why are there methods listed in stable and not available in API version *preview-2019-06-01* which wouldn't be a ruby-sdk issue itself.

Ref:
https://github.com/Azure/azure-rest-api-specs/search?q=%22lists+all+the+container+registries+under+the+specified+r

[2020-11-09 06:59] yupwei68 commented on #11319
Himanshu has replied that

[2020-11-09 09:20] tombuildsstuff commented on #11460
@jaggerbodas-ms I can understand the need to deprecate functionality, but the issue here is this has been done as a breaking change.

An alternative approach, followed by other Azure API's, would be to introduce a new API version which removed support for this builder - and then push people across to the new one - whilst there's more complexity involved in doing so, this means that customers don't

[2020-11-09 17:11] weshaggard commented on #8955
We already have issues tracking the work to convert to the new automation for each language is that what you are referring to? Or are you referring to moving to autorest.md? I'm less concerned about making all the languages use an autorest.md approach as they can control their configurations where it makes sense for them and with the new sdk automation they have the correct extension points to do

[2020-11-09 17:47] JeffreyRichter commented on #11460
Yes, Azure has some [documentation](http://aka.ms/AzBreakingChangesPolicy). Our policy is that a service can only make breaking changes after giving customers 3-years notice (1-year for a security/compliance related issues). Teams are adopting this policy now and some teams adopt it sooner than later. In other words, there is some transition time for some teams where it might not be happening this

[2020-11-09 17:50] tombuildsstuff commented on #11460
@JeffreyRichter thanks for the link, unfortunately it appears that isn't public - is there a public reference for that document?

[2020-11-09 18:02] rastala commented on #8323
@ArcturusZhang Thank you for your feedback. This bug has been reported to our engineering team.

[2020-11-09 18:47] rastala commented on #8029
@ArcturusZhang Thank you for reporting this issue, we've added the bug to our backlog.

[2020-11-09 19:02] JeffreyRichter commented on #11460
Sorry, that document is not public. Unfortunately, I just learned that I'd have to run the document through legal in order to publish it publicly so that won't happen anytime soon. But we do have an internal document and it does state the 3-year breaking change notification policy.

[2020-11-09 19:08] steveharrington1 commented on #11041
Hi @njuCZ is there any update here on when this will be implemented?

cc @SriniBanala

[2020-11-09 23:07] gd-asharov commented on #11425
@yungezz any updates here?