[2020-11-10 05:16] yungezz commented on #11425
add issue assignee, hi @JamesBirdsall @serkantkaraca could you pls update on the issue

[2020-11-10 05:21] yungezz commented on #11334
this is ask to Service Health Swagger to adding new capability. Route to service team.

[2020-11-10 06:23] 00Kai0 opened #11610 "Recovery Service missed value in response of list method"
I got a different response from swagger in Recovery Services:
my response:
[code]

in swagger:
[code]

[2020-11-10 08:45] XavierGeerinck commented on #11200
+1 any updates on this, seeing that this is a quite crucial component to have 😊 (temporarily we can ofc utilize the ARM way, but I would prefer this way)

[2020-11-10 17:59] Drewm3 commented on #11313
@danielsollondon, could you please look into this issue.

[2020-11-10 18:43] danielsollondon commented on #11313
@sumit-kalra - can you review please?

[2020-11-10 22:15] cchan commented on #2014
Same, still an issue.

[2020-11-11 08:40] Sharmistha-Rai commented on #11041
@meeraharidasa, @njuCZ and @SriniBanala - this is an Azure Backup ask. Please assign it to them.

[2020-11-11 16:06] mikhailshilkov opened #11634 "ContainerInstance: 2020-11-01 is published but not deployed yet?"
The new API version 2020-11-01 has been published for Container Instance. However, it doesn't seem to work yet:

[code]

Why is that? Does it mean this API version isn't "published" yet, and how can I see that from API definitions?

[2020-11-11 16:33] pakrym commented on #8955
The autorest.md is an implementation detail this is more of a question of whether you want the generator to version with the repo and all generated sources to always be up-to-date.

[2020-11-12 03:14] neil-yechenwei opened #11642 "Virtual Desktop Host Pool API should allow the name which is longer than 24 characters"
After tested, I found [Virtual Desktop Host Pool API](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/preview/2019-12-10-preview/desktopvirtualization.json) doesn't allow the name which is longer than 24 characters. But actually, Azure Portal allows to create this resource with name which is longer than

[2020-11-12 03:41] ArcturusZhang commented on #11642
Hi @akning-ms we do not have a service tag for RP desktopvirtualization right now, is it possible that we could add them?

[2020-11-12 12:39] aim-for-better opened #11651 "The description is wrong for R4018 OperationsApiResponseSchema"
The description for [R4018 OperationsApiResponseSchema](https://github.com/Azure/azure-rest-api-specs/blob/fbe9266483321792bcb4b3cce511b17cf685a123/documentation/openapi-authoring-automated-guidelines.md#r4018-operationsapiresponseschema)
is
[code]

But in fact it should be "and", display.description **and** display.resource must be included or the error can't be fixed.

[2020-11-12 12:39] aim-for-better commented on #11651
Either the autorest tool is wrong or the document is wrong.

[2020-11-12 20:09] MehaKaushik commented on #11378
This should be fixed now.

[2020-11-12 20:09] #11378 closed

[2020-11-12 22:37] JulianHayward opened #11656 "Subscriptions List - Tags not provided for ServicePrincipal"
Using a ServicePrincipal:
'GET https://<span></span>management.azure.com/subscriptions?api-version=2020-01-01' ([docs](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list)) does NOT return Subscription tags
whilst
https://<span></span>management.azure.com/subscriptions/{subscriptionId}?api-version=2020-01-01 ([docs](https://docs.microsoft.com/en-us/rest/api/resources/subscriptio

[2020-11-13 01:06] neil-yechenwei opened #11658 "Virtual Network API should be able to change the order of DNS Servers"
After tested, seems [Virtual Network API](https://github.com/Azure/azure-rest-api-specs/blob/5dd83515fbfd160197f06703f626b1d96ac4d3f4/specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/virtualNetwork.json#L158) cannot change the order of [DNS Servers](https://github.com/Azure/azure-rest-api-specs/blob/5dd83515fbfd160197f06703f626b1d96ac4d3f4/specification/network/resource-m

[2020-11-13 01:34] raych1 commented on #11651
@jianyexi , can you have a look at this lint rule document?

[2020-11-13 01:59] jianyexi commented on #11651
@aim-for-better Thanks, this is a good suggestion, the document is confusing , I will fix it ASAP.
The operation API should follow the schema in https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/proxy-api-reference.md#exposing-available-operations

[2020-11-13 09:19] raych1 commented on #11642
@datr93, I found you updated the correspondent swagger. Can you please have a look at this issue or help escalate to related person? Thanks in advance.

[2020-11-13 12:23] qbacz opened #11673 "Link to 'Azure Developer Experience guide' in readme doesn't work."
It's a 404.

[2020-11-13 13:12] neil-yechenwei opened #11674 "Private DNS Record Sets API should be able to update "host" property and "serialNumber" property"
After tested, I found [Private DNS Record Sets API](https://github.com/Azure/azure-rest-api-specs/blob/b9798e546e247ebddda0382e6d7e10cf480feb93/specification/privatedns/resource-manager/Microsoft.Network/stable/2018-09-01/privatedns.json#L749) cannot update "[host](https://github.com/Azure/azure-rest-api-specs/blob/b9798e546e247ebddda0382e6d7e10cf480feb93/specification/privatedns/resource-manager/

[2020-11-13 18:53] nkiest commented on #11334
@stephbaron for Service Health to evaluate. This can't be enhanced by Activity Log direct, but requires Service Health to provide this enhancement.

[2020-11-13 19:25] datr93 commented on #11642
resourceName | The name of the resource. The name cannot include: '<', '>', '%', '&', ':', '\', '?', '/' OR any control characters. The max length is 260 characters. All other characters are allowed. The RP is expected to be more restrictive and have its own validation.

checking.

[2020-11-13 21:21] GrooveGod commented on #9762
Just confirmed this problem still exists, any progress yet?

[2020-11-13 21:34] avirishuv commented on #10971
hi @ArcturusZhang do you have any other questions on this topic? If not, should we close the issue?

[2020-11-14 00:47] tasherif-msft commented on #8947
Hi @toraritte we're very sorry that this got lost in our backlog. Is your issue still persisting?  I can look into it if it is.

[2020-11-16 02:59] jsntcy commented on #11610
@pvrk, @srinathvasireddy, could you please help take a look this service issue?

[2020-11-16 03:19] yungezz commented on #11674
since this is service swagger issue, route to service team.

[2020-11-16 03:46] ArcturusZhang commented on #11642
Would there be a fix for this soon? This is blocking all the downstream customers that are using Azure SDKs

[2020-11-16 06:17] raych1 commented on #11642
Thanks @datr93 , I assigned this issue to you for the follow-ups.

[2020-11-16 06:29] raych1 commented on #11673
Hi @qbacz , that is a link to private repository which is not open to public.

[2020-11-16 08:47] ArcturusZhang commented on #11642
And @datr93 please note there are multiple of resources in the desktop virtualization with wrong constraints now.
We have another report of this kind issues [here](https://github.com/terraform-providers/terraform-provider-azurerm/issues/9310) for the Virtual Desktop Application Group resource.

[2020-11-16 08:49] ArcturusZhang commented on #10971
Well, I do not have more questions and your answer sounds reasonable. We might need find some workaround for the issues in terraform. Thanks @avirishuv

[2020-11-16 08:49] #10971 closed

[2020-11-16 08:51] qbacz commented on #11673
Ok, Thank You very much for the response.

[2020-11-16 08:51] #11673 closed

[2020-11-16 08:55] ArcturusZhang opened #11687 "Virtual Desktop Application Group API should allow the name which is longer than 24 characters"
Related issue: https://github.com/Azure/azure-rest-api-specs/issues/11642
Originally reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/9310

Portal allows us to create a virtual desktop application group with a name of length 1-260, but we have a constraint of maximum length of 24 in the swagger: https://github.com/Azure/azure-rest-api-specs/blob/7c8fd7f0705552f77b

[2020-11-16 09:27] vikram-m commented on #10808
Currently, team is busy with other high priority items and this would be picked up in CY2021 Q1.

[2020-11-16 11:19] AddySanto commented on #10717
chlahav doesn't own this now.  Looking for appropriate replacement contact.

[2020-11-16 15:17] teilmeier commented on #11430
I didn't look into all the details how the Open API Spec is generated but there seems to be an issue with the fact that there are two "Registries" APIs. A specific version of a spec only contains one of the two sets of operations (randomly or as designed?).

https://docs.microsoft.com/en-us/rest/api/containerregistry/registries
https://docs.microsoft.com/en-us/rest/api/containerregistry/registries

[2020-11-16 19:14] pvrk commented on #11610
This seems to be replicationUsage. @sideeksh : Can you please take a look and assign accordingly?

[2020-11-17 02:04] amjads1 commented on #10033
I see that Bila was assigned to this issue but somehow it got auto unassigned. I'm going to assign it back to Bila and update him as well.

[2020-11-17 06:21] dw511214992 opened #11699 "Delete and Update OperationInsights LinkedService returns 200 while operation is async and hasn’t completed"
As title, when I update or delete the linkedService, the service returns 200 while operation is async and hasn’t completed. An example of request and response is following:
[code]

[2020-11-17 06:24] dw511214992 opened #11700 "The sku value is changed when create a LinkedService, whose write_access_resource_id refers to clusters"
When creating workspace, I set the `sku` to `PerGB2018`. After creating linkedservice, whose `write_access_resource_id` refers to `clusters`, I find the `sku` is `lacluster`. We should keep the result of get same as user's input.

[2020-11-17 07:19] weidongxu-microsoft opened #11702 "redundant parameters declaration in DeploymentManager RP"
This part should not be there. It causes duplicate parameters in method.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/deploymentmanager/resource-manager/Microsoft.DeploymentManager/preview/2019-11-01-preview/deploymentmanager.json#L1236-L1246

Only those parameter under "get" method would be enough.

[2020-11-17 18:27] steveharrington1 commented on #11041
Hi @pvrk , do you have any update on timeline for this request? cc @SriniBanala

[2020-11-17 22:34] mikhailshilkov opened #11711 "Resources: 2020-10-01 is published but not deployed yet?"
The new API version 2020-10-01 has been published for Microsoft.Resources. However, it doesn't seem to work yet:

[code]

Why is that? Does it mean this API version isn't "published" yet, and how can I see that from API definitions?

[2020-11-17 22:43] amjads1 commented on #10190
Assigning back to Avi to look into the issue and route to appropriate queue.

[2020-11-18 16:06] LiquoriChris commented on #11533
Any update on this would be appreciated. Thanks

[2020-11-19 02:23] njuCZ opened #11748 "private dns zone will omit tags when the key containing ":""
we are using api-version "2018-09-01". when creating a private dns zone, the tags will be omited when the key contains `:`. However,  in other azure service, there is no such behaviour

[2020-11-19 07:33] #11651 closed

[2020-11-19 08:20] #11139 closed

[2020-11-19 23:42] gd-asharov commented on #11425
@yungezz any updates? :)

[2020-11-20 10:23] motasem13 opened #22148 "WebApp:Add possibleInboundIpAddresses probability to Get-AzWebApp cmdlet"
## Description of the new feature

if I made a request https://resources.azure.com/subscriptions/5f4e1a53-5073-41cc-a037-fc5a271ee6c2/resourceGroups/MutasemDNC/providers/Microsoft.Web/sites/MutasemDNC%20%20%20%20%22

I can get a list of the possibleInboundIpAddresses%22:%20%2213.69.68.37%22,

doing a get-azwebapp its not showing this probability
https://docs.microsoft.com/en-us/powershell/module/a

[2020-11-20 11:30] blueww commented on #10979
Generate .net SDK code from the swagger has no problem, following is the command:
`autorest https://github.com/Azure/azure-rest-api-specs/tree/master/specification/storage/resource-manager/readme.md  --csharp --version=2.0.4413 --reflect-api-versions --tag=package-2019-06 --csharp.output-folder=C:\code\srpsdk\sdk\storage\Microsoft.Azure.Management.Storage\src\Generated`
And other SDK generated on

[2020-11-20 16:06] Nikolay-Uvarov opened #11764 "Service: Consumption. Filter parameter does not work for Usage Details API for CSP Subscription(response with "kind": "modern")"
I used this https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/list.

I tried to filter usage details by properties/resourceGroup, properties/usageStart, properties/usageEnd, properties/chargeType but I always get the same data for the current month(11/2020) for **CSP subscriptions**.
Also I always receive"costInBillingCurrency": 0 and "costInPricingCurrency": 0.

URL: https://mana

[2020-11-20 19:56] anthony-c-martin opened #11766 "autorest.azureresourceschema is unable to locate Microsoft.AlertsManagement/resourceHealthAlerts"
The following PR moved the "resourceHealthAlerts" resource type into its own file:
https://github.com/Azure/azure-rest-api-specs/pull/11164

However it failed to update the following `readme` with the reference to the new file:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/alertsmanagement/resource-manager/readme.azureresourceschema.md#tag-schema-alertsmanagement-2020-08-

[2020-11-20 22:26] bwang-ith opened #11767 "Can't properly sign request to "issue token" API"
I'm attempting to hit this "issue token" API for Azure Communication Services, but I get a 401 with
[code]
The confusing part is that I can _successfully_ call the "create" API using the same exact code to sign requests. I'm developing in Ruby. Here's my code.
[code]

In order to get some more insight, I used the Javascript client library to make the same request like this...
[code]
I checked the

[2020-11-20 23:01] sebansal commented on #11229
@msmbaldwin can you look into this request

[2020-11-20 23:02] sebansal commented on #11250
Closing as PR is merged

[2020-11-20 23:02] #11250 closed

[2020-11-20 23:05] sebansal commented on #9812
Ping @vickm

[2020-11-20 23:35] sebansal commented on #9806
Ping @vickm

[2020-11-20 23:39] sebansal commented on #10637
Created work item to track internally 8854089

[2020-11-20 23:46] sebansal commented on #11419
Ping @amitbapat

[2020-11-21 00:35] Lusitanian commented on #10696
This issue is no longer relevant, for the reasons @heaths stated. Closing it out.

[2020-11-21 00:35] #10696 closed

[2020-11-21 01:04] amitbapat commented on #11419
Q1: why sku.family is a required field?
This is an expensive SKU. While there is only one SKU right now, there will be more in future. Setting a default today will cause problems in future.

Q2: when creating with field "EnablePurgeProtection= false", and then we update it to "true". Rest api will success, but the field in the response is still false. It didn't be changed.
Q3: SoftDeleteRetentionI

[2020-11-21 01:22] vasanthraja commented on #9806
Yes heath, https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2-preview/backuprestore.json is for the MHSM dataplane operation.

[2020-11-22 20:25] frecke commented on #9238
+1, needs routing or another look Please

[2020-11-23 00:18] Drewm3 commented on #11225
In this scenario the portal is using the REST APIs. So the functionality is in the APIs. Specifically on the PUT request you can set the vmName property in the URL to a name that is longer than 15 characters, and then use the 15 character name for **computerName** in the OSProfile section of the API.

It does appear that the ability to do the above scenario is not exposed in PowerShell, but it is

[2020-11-23 00:18] #11225 closed

[2020-11-23 08:15] shawnxzq commented on #8958
@lmazuel Any thoughts? Thanks!

[2020-11-23 08:19] JulianHayward commented on #11656
any insights for this?

[2020-11-23 08:50] sainipankaj90k commented on #10637
Thanks a lot, @sebansal !
This will be very helpful. Please let us know once it is rolled out. We'll start consuming same asap.

[2020-11-23 18:03] heaths commented on #9806
Thank you. /cc @christothes

[2020-11-23 18:03] #9806 closed

[2020-11-23 18:41] tomaschladek commented on #11767
Hi bwang-ith,

Can you please provide identity for which you are trying to issue access token?

[2020-11-23 19:19] ramaganesan-rg commented on #11656
Removing Subscriptions from this. PM is following up with the owning team on this tag issue.

[2020-11-24 02:00] aim-for-better commented on #10667
Thanks for the feedback. We have opened a work item and plan to address it in a future release.

[2020-11-24 02:00] aim-for-better commented on #10109
This item is still in our backlog now.

[2020-11-24 02:01] aim-for-better commented on #6724
This is still in our backlog now.

[2020-11-24 02:01] aim-for-better commented on #6505
We are still tracking this one.

[2020-11-24 06:35] pvrk commented on #11041
@steveharrington1 : Sincere apologies for the delay. Can you please provide more clarity on the resource group? Which resource group? The backup item resides in the vault and hence the backup item as an ARM object belongs to the vault's resource group. If you are asking for source resource group (the backed up machine's resource group), then please let me know.

[2020-11-24 11:10] rosebyte commented on #11767
Hi Blake, I'm not a Ruby man so please be patient with me :-) Nevertheless, it seems that you don't sent any content in the request at all. Could you please double check this part:

[code]

[2020-11-24 13:18] alargeasteroid opened #11802 "StorageDataLake PathList incorrect response data type"
There is a data type inconsistency between the API specs and the actual API response on the StorageDataLake ListPaths method.

The [specs](https://github.com/Azure/azure-rest-api-specs/blob/6d4e0d294d568a37b1f3421b789290934517d115/specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-10-31/DataLakeStorage.json#L102) define the data type of the `contentLength` on the returned `Path

[2020-11-24 13:41] magodo opened #11803 "SecurityInsights: multiple usages of same-named discriminator"
The discriminator `Scheduled` is both used in [`ScheduledAlertRule`](https://github.com/Azure/azure-rest-api-specs/blob/d50ea7233b80f662cb9e19883fb0083e653339ca/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json#L8705) and [`ScheduledAlertRuleTemplate`](https://github.com/Azure/azure-rest-api-specs/blob/d50ea7233b80f662cb9e19

[2020-11-24 14:10] leni-msft commented on #11802
@ArcturusZhang pls note this issue

[2020-11-24 14:43] alargeasteroid commented on #11802
After doing more testing, I have discovered that the specs also have an incorrect type defined for [`isDirectory`](https://github.com/Azure/azure-rest-api-specs/blob/6d4e0d294d568a37b1f3421b789290934517d115/specification/storage/data-plane/Microsoft.StorageDataLake/stable/2019-10-31/DataLakeStorage.json#L92). This is defined in the specs as a `boolean`, however the API returns this as a string.

N

[2020-11-24 16:41] steveharrington1 commented on #11041
Hi @pvrk , yes I'm requesting the source resource group (or the source resource_id would also be fine).

We want enough information to deterministically identify the resource that was backed up.

[2020-11-24 19:18] laithhisham commented on #11803
@magodo Can you please elaborate on why does having the same discriminator value on 2 separate object causes a problem?

[2020-11-24 20:30] pbstrein opened #11805 "Virtual Machine Scale Set CreateOrUpdate Fails - "The Value of Parameter zoneBalance is Invalid""
## Error
When working with ARM, I get the following failure message.

"The value of parameter zoneBalance is invalid. (Code: InvalidParameter)."

From[ this Github issue ](https://github.com/Azure/azure-powershell/issues/6012), a similar error occurred in Powershell due to the PUT operation on Virtual Machine scale sets. "Any value is invalid for zoneBalance if one or zero zones are specified."

#

[2020-11-24 21:32] RezaJooyandeh commented on #11767
@smsohan I have a feeling that this about url escaping, considering that create user route is working, but I see `acs_user_id = ERB::Util.url_encode(params[:acs_user_id])` in the code. I am not ruby expert, maybe you can help

[2020-11-24 21:37] smsohan commented on #11767
Let me take a look at it.

[2020-11-24 22:03] smsohan commented on #11767
I have a local repro of the issue. Now looking at what's going on.

[2020-11-24 22:14] smsohan commented on #11767
@bwang-ith From looking at it, I see that the code is not passing the content to the body. Do you want to try adding this?

[code]

[2020-11-24 22:16] smsohan commented on #11767
This is correct. We don't want to URL escape the ACS User ID. The following line can be removed.
[code]

[2020-11-24 22:18] smsohan commented on #11767
This worked for me:

[code]

[2020-11-24 22:31] #11767 closed

[2020-11-24 22:31] manoskow commented on #11767
Closing this at there is a solution

[2020-11-25 01:33] weidongxu-microsoft commented on #11803
Seems not an issue for me. Their base type is "AlertRule" and "AlertRuleTemplate". They do not share a same polymorphism.

[2020-11-25 04:05] weidongxu-microsoft opened #11811 "ServiceFabric: duplicate Operations_List in spec"
Same `Operations_List` operation in application.json and cluster.json. Since in README these 2 files are commonly under same tag, it causes duplication when generating SDK.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2020-03-01/application.json#L44

https://github.com/Azure/azure-rest-api-specs/blob/master/s

[2020-11-25 08:08] ArcturusZhang commented on #11802
Truely this would break azure-sdk-for-go

[2020-11-25 12:56] weidongxu-microsoft opened #11816 "SaaS: a possible typo in Saa_GetResource"
There appears to be a typo here https://github.com/Azure/azure-rest-api-specs/blob/master/specification/saas/resource-manager/Microsoft.SaaS/preview/2018-03-01-beta/saas.json#L209

From context, it seems should be `SaaS_GetResource`, not `Saa_GetResoruce` (and there is `SaaS_Delete` above).

[2020-11-25 12:58] weidongxu-microsoft commented on #11816
@diyakobo
Could you check whether this is intended or a typo of the `operationId`?

[2020-11-25 14:30] diyakobo commented on #11816
the fixing PR:
https://github.com/Azure/azure-rest-api-specs/pull/11818

[2020-11-25 16:50] ctaggart commented on #11811
I think #11581 attempted to fix this and another issue. It may be good to fix the two issues separately in two different pull requests.

[2020-11-26 01:25] #11816 closed

[2020-11-26 01:52] yupwei68 opened #11824 "Is Cosmo DB Mongo Collection compound index sorting supported?"
Related to customer issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/9045.

@MehaKaushik May I ask the compound index sorting is supported or not ? Related to feature https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing#compound-indexes-mongodb-server-version-36.

[2020-11-26 02:39] MehaKaushik commented on #11824
Hi @yupwei68, compound indexes is supported via Mongo shell but not by Resource Provider (ARM based clients - Management SDKs, REST APIs defined in azure-rest-api-specs or Azure Powershell and CLI.

But the good news is we plan to extend the support in the near future. We should have it out in the next 4-5 months.

[2020-11-26 03:04] ArcturusZhang opened #11825 "Autorest generation failure for `specification\applicationinsights\data-plane\Monitor.Exporters\readme.md`"
When I am trying to generate this data plane SDK, I get the following error:
[code]

[2020-11-26 03:07] yupwei68 commented on #11824
Thanks!

[2020-11-26 03:07] #11824 closed

[2020-11-26 05:21] pedropaulovc opened #11829 "DELETE Microsoft.Authorization/roleAssignments may also return HTTP code 204"
**Issue:** According to [Microsoft-internal telemetry](https://microsoft-my.sharepoint-df.com/:t:/p/pevezzac/ESMDfu51bOpKtMGui7r-2DUBO5lQ7pb6YyZSLW3kQXvNDA?e=dTgjqL), a `DELETE` operation for the `Microsoft.Authorization/roleAssignments` endpoint may also return HTTP code 204. This may returned when the same `DELETE` operation is triggered in a quick succession.

Currently all API versions for the

[2020-11-26 06:17] jiasli opened #11830 "[Role] RoleAssignmentProperties.principalType contains invalid values"
Reported by https://github.com/Azure/azure-cli/issues/11594

Since `2018-09-01-preview` API, an `Enum` called `PrincipalType` is introduced.

https://github.com/Azure/azure-rest-api-specs/blob/b02ad2011daebdaa4ffc1b0b338181a464d49c47/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/authorization-RoleAssignmentsCalls.json#L508-L522

It is used by the r

[2020-11-26 06:44] weidongxu-microsoft commented on #11811
Maybe it would help to factor the common part out to an `operation.json` in the new api-version.

network did this: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/operation.json

[2020-11-26 06:57] neil-yechenwei opened #11831 "Firewall Policy Rule Group API should allow "1-65535" for DestinationPorts"
After tested, seems API service doesn't allow "1-65535" for DestinationPorts and throw below error message. But "1-65535" can be set successfully on Azure Portal. So I assume it should be fixed from API side.

Error message (Failed to set "1-65535" for destination ports by API):
[code]

Succeed to set "1-65535" for destination ports on Azure portal:
![image](https://user-images.githubusercontent.c

[2020-11-26 07:07] #11831 closed

[2020-11-26 11:36] PaulVrugt commented on #7276
@panchagnula so its been over 2 years now that this bug was reported. You reassigned this over a year ago, but nothing happened.
@zikalino any update?
@maggiepint you maybe?

Can anyone from microsoft please give a status update?

[2020-11-26 11:38] PaulVrugt commented on #7276
@rudfoss did you ever find a workaround?

[2020-11-26 11:57] PaulVrugt commented on #7276
this issue seems already fixed

[2020-11-27 12:28] magodo commented on #11803
@weidongxu-microsoft, where can I find the definition of `x-ms-discriminator-value`. My understanding is that when looking for variant from base schema, we should check each schema defined in current spec and the one whose `x-ms-discriminator-value` matches the enum value defined in the `discriminator` of the base schema is the variant schema.

But it turns out in this service, we should additiona

[2020-11-29 04:49] weidongxu-microsoft commented on #11803
My understanding is a bit different. Instead of `check each schema defined in current spec`, I take that we check only derivative schema (those have `allOf` directly or indirectly) to the base class. All `discriminator` and `x-ms-discriminator-value` only apply to the polymorphism hierarchy it resides in, nothing out of it.

[2020-11-29 07:07] laithhisham commented on #11803
Exactly as @weidongxu-microsoft said. I don't think that having the same discriminator value for 2 different types should cause any problem.

[2020-11-30 01:25] #11803 closed

[2020-11-30 08:27] ArcturusZhang opened #11848 "Autorest generation failure in recoveryservicesbackup"
Autorest generation of go SDK against readme https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservicesbackup/resource-manager/readme.md on tag `package-2017-07` fails.

Error messages:
[code]

[2020-11-30 08:29] ArcturusZhang commented on #11848
The changes that cause this issue are merged in this PR: https://github.com/Azure/azure-rest-api-specs/pull/10962

[2020-11-30 08:32] pvrk commented on #11041
@steveharrington1 : Thanks for providing the clarity. I am checking from the backend. Meanwhile can you please let me know how are you extracting the activity logs from the recovery services vault?

[2020-11-30 11:05] mrsheepuk opened #11849 "Consumption API (2019-10-01) missing startDate and endDate query parameters and incorrect bool type"
The consumption API definition has a couple of problems in the 2019-10-01 version:

* The query parameters startDate and endDate are missing for `UsageDetails_List` - for non-Enterprise Agreement subscriptions (e.g. PAYG or MCA) these allow filtering by date, adding `properties/usageStart` and `properties/usageEnd` to $filter has no effect. Manually specifying these parameters on the URL has the d

[2020-11-30 14:32] mrsheepuk commented on #11764
I think this is related to issue #11849 I've just raised - manually adding the query parameters startDate and endDate to the URL has the desired effect, but those are not documented in this spec.

[2020-11-30 14:44] steveharrington1 commented on #11041
@pvrk we are creating Activity Log diagnostic settings that forward all Activity Log Types to an event hub. From there we use a function to export the logs out of Azure to our SaaS platform. Here are the [full docs](https://docs.datadoghq.com/integrations/azure/?tab=automatedinstallation#log-collection) including a PS script for configuring activity logs as described above.

Note that we want to u

[2020-11-30 17:07] dperez-safefleet commented on #9424
Hey @lirenhe , any update on this?

[2020-11-30 20:24] roytharpe commented on #11200
+1 please provide an update on this.

[2020-11-30 22:52] jianghaolu opened #11856 "[Synapse] Duplicate definition names"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/synapse/data-plane/Microsoft.Synapse/preview/2019-06-01-preview/entityTypes/Trigger.json#L338

[code]

The Enum name is defined as `BlobEventTypes`, but the top level schema name is also defined as `BlobEventTypes`. We need to rename either one to resolve the conflict in AutoRest.

[2020-11-30 22:58] dpwatrous commented on #4956
Closing since this issue is 2 years old and there's a work around in place. However, I agree that the casing is potentially confusing and we should consider changing it to match other services in a future API version.

[2020-12-01 00:43] ArcturusZhang commented on #11420
Hi any updates?

[2020-12-01 03:49] neil-yechenwei opened #11861 "Virtual Hub IP API failed to create Virtual Hub IP Configuration resource when GatewaySubnet isn't specified"
After tested, Virtual Hub IP API failed to create Virtual Hub IP Configuration resource and threw below "Error Message 1" when "GatewaySubnet" isn't specified. But after provisioned "GatewaySubnet", api still failed and threw below "Error Message 2". I remember this API can create virtual hub ip configuration successfully without "GatewaySubnet" previously. So I assume it's an regression issue. Co

[2020-12-01 08:21] JulianHayward commented on #11656
is there any news?

[2020-12-01 08:34] motasem13 opened #11872 "appservice/listskus/listskus is returning 200 with empty response"
Im trying to run https://docs.microsoft.com/en-us/rest/api/appservice/listskus/listskus

but I'm getting an empty response with 200, it's reproducible,
can you please look into this.

[2020-12-01 08:42] axayjo commented on #11805
@avirishuv can you please take a look at this issue?

[2020-12-01 10:32] karataliu opened #11873 "Storage API spec and real response do not match"
According to REST api spec:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-06-01/storage.json#L2667

The value for permission should be 'Full'.

But with a real call, the value returned is 'FULL'.

[2020-12-01 13:00] ajaygit158 commented on #2856
Hi,

I was trying out this API CheckExistenceById
Api version used: 2020-06-01
I tried the API with Resource Group and I received response 204
However, when resource Id provided was a storage account, the API failed with 400 bad Request.
Similarly, for Recovery Services Vault, I received 400 Bad Request.

I am using postman to perform the query.
URL: https://management.azure.com/subscriptions/<sub

[2020-12-01 17:45] yossi-y commented on #9072
Thank you for your responses and votes. We are aware of the missing swaggers and proper ability to export Data Sources templates from Azure environments, which makes their use in templates difficult.

Although not addressing the pain, I would like to point out that the service team put effort into API consolidation in a recent stable version we released, which comprises all operationalinsight APIs

[2020-12-01 18:15] tombuildsstuff commented on #4956
@dpwatrous since this isn't resolved, can we re-open this and leave this issue open until this issue is resolved? Thanks!

[2020-12-01 20:27] dpwatrous commented on #4956
Sure thing, I'd just like to get a better idea of what a resolved status would look like.

While I absolutely sympathize with the issue here, there are no current plans to change this behavior on the service side. Changing the canonical casing of VM sizes in Batch would be a breaking change (in fact, it would break the PR linked here), and we'd have to weigh the risk of that change against the ben

[2020-12-01 21:42] szeng7 commented on #3274
Hi, wanted to bump this thread since it does not seem to have been addressed in the most recent 2020 update. Could you please provide an example on how to filter out management groups if the functionality is there?

ie. something like $filter=children.childType eq Subscription

[2020-12-02 02:54] blueww commented on #11873
@zfchen95
Would you please help to look at this issue, and see if we need to fix it from swagger side?

[2020-12-02 03:53] kairu-ms commented on #1907
@asheniam How is the problem going?

[2020-12-02 04:26] pratimaupadhyay02 commented on #11848
https://github.com/Azure/azure-rest-api-specs/pull/11888 This PR contains fix for the above issue

[2020-12-02 07:27] pvrk commented on #11041
@steveharrington1 : Thanks for the clarity. Did you already successfully extracted our logs in the methodology stated above? I am asking because we are hearing other concerns about retrieving these logs via PS/CLI or other automation techniques. So, that's why  wanted to check with you.

[2020-12-02 07:45] mikhailshilkov opened #11893 "Key Vault: Internal Server Error while creating a key"
I am trying to create Azure Key Vault Keys via ARM API. Unfortunately, all our requests to that endpoint fail with
Error code ServerError
Message
[ServerError (InternalServerError)] ActivityId: dc1db68d-3fe3-48ee-a8d8-f1502461cfd8, ActivityName: KeyCreate

Path: /subscriptions/(subid)/resourceGroups/(rgname)/providers/Microsoft.KeyVault/vaults/(vaultname)/keys/mykey'

A similar call to Azure KeyVa

[2020-12-02 09:27] whyneus commented on #4901
It has been almost 2 years since this was first reported. Has any progress been made on this?

[2020-12-02 09:32] ArcturusZhang commented on #11848
I am readding the removed api-version back in PR https://github.com/Azure/azure-rest-api-specs/pull/11896
and I will close this once the go generation CI could pass in #11896

[2020-12-02 10:02] Sharmistha-Rai commented on #11610
Hi @00Kai0 - thanks for bringing this up.
I tried out the request but I'm getting the same response with both browser and Swagger. Could you please check again? Meanwhile, I'll confirm if this is not an intermittent issue.

[2020-12-02 10:04] tombuildsstuff commented on #4956
@dpwatrous as you've mentioned I think there's two things here:

1. documenting the behaviour of the current API version - changing the case would be a breaking change, so I'd agree this wants some documentation to reflect that, and that this may change (e.g. `this field is returned in a case-insensitive manner, but may change in a future api version`)
2. fixing this in a future API version - whic

[2020-12-02 10:23] pvrk commented on #4901
There is a fundamental misunderstanding here. In order to update storage redundancy of the vault, SKU is NOT the right parameter. It is storageType and this [API](https://docs.microsoft.com/rest/api/backup/backupresourcevaultconfigs/update#storagetype) is required to be called. However, this API should be called immediately after vault creation and this value cannot be changed once any backup item

[2020-12-02 10:32] whyneus commented on #4901
The original reason why this issue was raised is because azurerm_recovery_services_vault resource used in Terraform cannot specify RS0 for local storage because the API returns that the SKU is invalid (see the first post).

[2020-12-02 11:05] anderius opened #11899 "Microsoft.Network/FirewallPolicies does not preserve tag key casing"
Example:

[code]

Expected behaviour is to return:

[code]

[2020-12-02 11:15] pvrk commented on #4901
But RS0 is not required for local storage. As I see, the comment was: "RS0 seems to be undocumented by Microsoft, but looking at the generated ARM template it seems to be what you need to set if you want LRS storage for the backups (instead of the default GRS)." This is not the case. You don't need to set the SKU to RS0 to set the value to local storage. By default, all vaults will be created by G

[2020-12-02 15:35] dpwatrous commented on #4956
@tombuildsstuff That makes sense to me. We'll plan to improve the docs in the short term, and I'll follow up with the service team on the more thorny issue of changing our canonical casing of VM sizes. I'm fine keeping this issue open until there's a consensus on what to do there. Really appreciate the feedback!

[2020-12-03 00:12] sebansal commented on #10082
Hey @jlichwa can you help triage this issue?

[2020-12-03 01:00] jlichwa commented on #10082
We can't change and different API's today using different case between our APIs and Portal. It will be breaking change - we can't change it.

[2020-12-03 04:31] anthony-c-martin commented on #5029
@ArcturusZhang, ping?

[2020-12-03 17:50] Agazoth opened #11928 "Access AzureIaaSVMJobExtendedInfo"
The documentation of the [API](https://docs.microsoft.com/en-us/rest/api/backup/jobdetails/get#azureiaasvmjobextendedinfo) does not describe, how how the details described under Definitions is accessed via the API.

In particular I would like to get progressPercentage, which should be accessible in AzureIaaSVMJobExtendedInfo.

Is there any way i can decorate "https://management.azure.com/Subscript

[2020-12-03 19:14] anthony-c-martin opened #11929 "Microsoft.KeyVault/vaults/secrets declares support for 2020-04-01-preview, but the service does not allow it"
ARM returns the following message when attempting to PUT a `Microsoft.KeyVault/vaults/secrets` resource at version `2020-04-01-preview`:

francecentral, australiacentral, uaenorth, southafricanorth, switzerlandnorth, germanywestcentral, norwayeast, eastus2euap, centraluseuap'

This version is not supported in the RP manifest. Either the Microsoft.KeyVault service should add support for it, or remo

[2020-12-03 20:48] avirishuv commented on #10190
@brianlehr any updates on this ?

[2020-12-03 22:22] axayjo commented on #11559
Looking into this. @yupwei68 how many regions had you replicated the image version to? And how many replicas were there in reach region before you triggered the delete operation?

[2020-12-04 06:14] panchagnula commented on #5029
For now you please use empty string for password this is managed certificates. We plan to update the swagger to make this optional, but don't have an ETA to share at this time.

[2020-12-04 07:38] yupwei68 opened #11948 "Network Interface version 2019-09-01 PUT will change fields value when missing"
1. update only tags for network interface, previously "enableAcceleratedNetworking" is true, after updating tags,"enableAcceleratedNetworking" is false :

PUT /subscriptions/.../resourceGroups/acctestRG-testyup/providers/Microsoft.Network/networkInterfaces/acctestni-testyup?api-version=2019-09-01 HTTP/1.1
{"location":"eastus","properties":{"ipConfigurations":[{"id":"/subscriptions/.../resourceGrou

[2020-12-04 08:48] mybayern1974 commented on #11559
@axayjo , only 1 target region and in that region only contains 1 replica could repro this issue

[2020-12-04 16:33] XBeg9 opened #11952 "Microsoft.AppConfiguration: 2020-07-01-preview can't delete keyValue"
[code]

Can't delete KeyValue resource using ARM template with version 2020-07-01-preview @ZhijunZhao @ jimmyca15

[2020-12-04 19:31] axayjo commented on #11559
Thanks @mybayern1974. The delete operation might still be running in the background and since it's an async operation, the polling operation might have succeeded. @olayemio can you please take a look into this?

[2020-12-04 19:59] jochav commented on #10898
Swagger update is in process. ETA is Jan 2021.

[2020-12-04 20:35] jochav commented on #6674
We are working on updating the documentation. Thank you for bringing this up to us!

[2020-12-04 20:42] jochav commented on #9637
Expected ETA for this update is Jan 2021.

[2020-12-04 21:42] steveharrington1 commented on #11041
@pvrk Sure. Our customer are not having any issues extracting logs in general, or with the automated scripts we provide. We just want the additional information I've outlined in the recovery service activity logs.

[2020-12-04 22:39] heaths opened #11962 "[FEATURE REQ] Add basic_constraints to KeyVault Certificates"
@rickmark commented on [Thu Dec 03 2020](https://github.com/Azure/azure-sdk-for-net/issues/17326)

Azure.Security.KeyVault.Certificates

While the rest API supports additional properties such as `basic_constraints` which allows a CA to be created in a Key Vault, the .NET SDK does not let these properties be set in a certificate create operation.

Where the REST endpoint may have additional options

[2020-12-04 22:45] rickmark commented on #11962
Just FYI: According to this it does seem to be respected on the request model:

https://stackoverflow.com/questions/56388628/azure-key-vault-certificate-create-basic-constraints-catrue

[2020-12-04 23:06] sebansal commented on #9432
@jlichwa for review

[2020-12-04 23:08] sebansal commented on #9812
Is there an internal ADO work item open to track @vasanthrajams @vickm

[2020-12-04 23:09] #10082 closed

[2020-12-04 23:16] sebansal commented on #11229
@jlichwa can you help review this?

[2020-12-04 23:17] sebansal commented on #11361
@RandalliLama can you review the bug and update the status, thanks.

[2020-12-04 23:21] anthony-c-martin opened #11963 "Microsoft.KeyVault - secrets & keys missing from readme.azureresourceschema.md"
The following file is used to generate ARM template schemas for Microsoft.KeyVault: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/resource-manager/readme.azureresourceschema.md

The service supports the following API versions for vaults/secrets:
* 2015-06-01
* 2016-10-01
* 2018-02-14-preview
* 2018-02-14
* 2019-09-01

The service supports the following API versio

[2020-12-04 23:35] amitbapat commented on #11419
#please-close

[2020-12-04 23:36] #11419 closed

[2020-12-04 23:46] jlichwa commented on #11229
@mvvsubbu documentation is generated based on swagger (stable version) since it is still in preview there will not be documentation till GA.

[2020-12-04 23:51] jlichwa commented on #9432
@sebansal  merge is still in progress.

[2020-12-05 00:56] #9432 closed

[2020-12-06 12:24] MWL88 commented on #11893
I am experiencing the same issue with an almost identical ARM template:

[ServerError (InternalServerError)] ActivityId: cef1d0a9-393f-4717-8ac2-e20e03039e6c, ActivityName: KeyCreate

[2020-12-06 15:39] tonytangau opened #11969 "Provide REST API for VMSS to use health probe from Application Gateway during creation"
Due to the current API only supports LB health probes for VMSS (Rolling upgrade policy), there is no way to use Terraform to create a Rolling upgrade VMSS with Application Gateway as the frontend. See [Issue in terraform-provider-azurerm](https://github.com/terraform-providers/terraform-provider-azurerm/issues/3190).

We would like to create VMSS with Rolling upgrade with application gateway using

[2020-12-07 02:00] blueww commented on #11143
@zfchen95
Would you please help to look at the SRP server issue?

[2020-12-07 02:03] blueww commented on #11873
A PR is raised for this issue: https://github.com/Azure/azure-rest-api-specs/pull/11905

[2020-12-07 02:04] ZhijunZhao commented on #11952
@XBeg9 Yes, the work for DELETE API is in progress.

BTW, how did you trigger the delete request via ARM template? At the moment, keyValue resource doesn't support [complete mode deletion](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/complete-mode-deletion#microsoftappconfiguration).

[2020-12-07 05:33] #11155 closed

[2020-12-07 09:27] XBeg9 commented on #11952
@ZhijunZhao I am using `pulumi` (https://www.pulumi.com/docs/reference/pkg/azure-nextgen/) looks like they've reused the logic for DELETE from other resource workflows.

Any ETA when this will be available?

Thanks

[2020-12-07 09:45] ZhijunZhao commented on #11952
@XBeg9 ETA is the coming January.

[2020-12-07 10:59] dlaarschot opened #11979 "Sentinel API Data Connector - Create Permissions."
Morning,

I am currently trying to create a new data connector to O365 with the Sentinel API. Using the address https://management.azure.com/subscriptions/**SUB_ID**/resourceGroups/**MYRG**/providers/Microsoft.OperationalInsights/workspaces/**WSNAME**/providers/Microsoft.SecurityInsights/dataConnectors/**GUID**?api-version=2020-01-01.

If I send a PUT request with my auth token then the connector

[2020-12-07 11:59] Jeroenvos opened #11982 "Service: Consumption. Filter parameter does not work for Grain"
I am using the consumption API version 2019-10-01.
My goal is to get yearly forecast data which I can use in a custom Power BI report.
When I add $filter = Grain eq 'Yearly' both in the example as well as in ADF, it only returns Daily grain. Same when providing Monthly in the filter.

I used amongst others:
https://docs.microsoft.com/en-us/rest/api/consumption/forecasts/list

![image](https://user

[2020-12-07 14:03] hesaad commented on #11979
Adding @tianderturpijn @javiersoriano if there is an update on SPN work

[2020-12-07 14:28] manicminer opened #11985 "graphrbac: API Bug: Key credential end date is invalid"
During testing of the Terraform AzureAD Provider, I'm encountering what seems to be a bug in date handling, possibly related to the impending year end. The issue occurs when creating a certificate (`KeyCredential`) for either an application or a service principal. Any specified `endDate` after 2021-05-31 returns the following:

### Request

[code]

### Response

[code]

Turning the `endDate` back

[2020-12-07 17:35] alex-frankel opened #11986 "microsoft.logic/workflows missing "identity" property"
Originally reported here:
https://github.com/Azure/bicep/issues/949

Appears to be the case for all apiVersions, but a PUT with the identity property will work as expected. Here's their template sample from docs:
https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2019-05-01/workflows

[2020-12-07 18:55] alexandair opened #11988 "Default value for Microsoft.Web/sites/sourcecontrols's isManualIntegration property isn't documented"
Default value for Microsoft.Web/sites/sourcecontrols's isManualIntegration property isn't documented.
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/sites/sourcecontrols

[2020-12-07 19:31] mvvsubbu commented on #11229
Ok thanks for updating.

[2020-12-08 00:31] Drewm3 commented on #11969
@avirishuv, can you please work with the VMSS team to see if this feature request is already available (and just missing in documentation), or if a new addition to VMSS is needed to support the health probes from AppGateway.

Also, if a new feature is needed, then is it possible for people to use the AppHealth Extension in the interim to do rolling upgrades with an AppGateway?

[2020-12-08 02:59] #11848 closed

[2020-12-08 03:11] yungezz commented on #11856
hi @idear1203 could you pls have a look at the issue?

[2020-12-08 06:30] yupwei68 opened #12003 "Monitor Action Group Error `AadWebhookResourceNotOwnedByCaller`"
I try to update a monitor action group by adding a secure webhook by api. It fails with error "AadWebhookResourceNotOwnedByCaller".

I could directly create an action group with a secure webhook, but the update returns error message.

1. create an action group
PUT /subscriptions/.../resourceGroups/acctestRG-201208142027443621/providers/microsoft.insights/actionGroups/acctestActionGroup-20120814202

[2020-12-08 06:58] idear1203 commented on #11856
Fixed in https://github.com/Azure/azure-rest-api-specs/pull/11864

[2020-12-08 06:58] #11856 closed

[2020-12-08 07:17] erich-wang commented on #11963
@anthony-c-martin, are you from KV or ARM team? To which team I should assign this issue?

[2020-12-08 09:31] pvrk commented on #11041
@steveharrington1 : I have verified from the backend that we are supplying only the 'friendlyName'. Will try to get the entire ARM ID of the resource, if possible. @mepand : To be added to our backlog.

[2020-12-08 09:31] mikhailshilkov opened #12005 "Web: 2020-09-01 is published but not deployed yet?"
The new API version 2020-09-01 has been published for Microsoft.Web. However, it doesn't seem to work yet:

[code]

Why is that? Does it mean this API version isn't "published" yet, and how can I see that from API definitions?

[2020-12-08 11:40] Jeroenvos opened #12007 "Consumption/Forecast API (2019-10-01) $Filter not working"
I am using the consumption API version 2019-10-01.
My goal is to get yearly forecast data which I can use in a custom Power BI report.
When I add $filter = Grain eq 'Yearly' both in the example as well as in ADF, it only returns Daily grain. Same when providing Monthly in the filter.

I used amongst others:
https://docs.microsoft.com/en-us/rest/api/consumption/forecasts/list

![image](https://user

[2020-12-08 18:04] NivedhaChellam commented on #10608
You would be able to get the VM running status Without Expand.

[2020-12-08 20:43] dereklegenzoff commented on #9877
@heaths - is this issue resloved? If so, can we close the issue?

[2020-12-08 20:54] mikhailshilkov opened #12016 "Sql: Server needs x-ms-long-running-operation: true in stable"
[2014-04-01](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/servers.json) is the latest stable API for SQL Server but it does not define `x-ms-long-running-operation: true` as later preview versions do.

The actual API does implement the long-running protocol, so API spec should reflect this.

[2020-12-08 21:02] heaths commented on #9877
I don't see any PR attached to this issue, nor do I recall seeing one in notifications to review. I would say this issue is unresolved.

[2020-12-08 21:23] steveharrington1 commented on #11041
Thanks @pvrk. Can you provide any guidance on timeline?

[2020-12-09 00:16] amjads1 commented on #11559
Per @olayemio , assigned to @snaheth and updated with ARM label.

[2020-12-09 00:18] olayemio commented on #11559
Per our team's investigation, this error occurs in ARM because ARM has not updated its cache when the child is deleted.

[2020-12-09 01:03] yupwei68 commented on #10608
Thanks

[2020-12-09 01:03] #10608 closed

[2020-12-09 02:04] tujamg commented on #11764
This requesturl should work for a modern subscription
https://management.azure.com/subscriptions/_{{yourSubscriptionId}}_/providers/Microsoft.Consumption/usageDetails?api-version=2019-11-01&startDate=2020-10-01&endDate=2020-10-03

for a legacy subscription
https://management.azure.com/subscriptions/_{{yourSubscriptionId}}_/providers/Microsoft.Consumption/usageDetails?$filter=properties/usageStart

[2020-12-09 02:07] tujamg commented on #6131
Is this still happening? if yes please share few requestIds to troubleshoot this. Also a small note the api-version which you should be using is 2019-10-01

Sample requesturl for a **modern subscription**
https://management.azure.com/subscriptions/_{{yourSubscriptionId}}_/providers/Microsoft.Consumption/usageDetails?api-version=2019-11-01&startDate=2020-10-01&endDate=2020-10-03

**for a legacy sub

[2020-12-09 02:20] tujamg commented on #11849
For
#1 The documentation should be updated soon.
This requesturl should work for a modern subscription
https://management.azure.com/subscriptions/_{{yourSubscriptionId}}_/providers/Microsoft.Consumption/usageDetails?api-version=2019-11-01&startDate=2020-10-01&endDate=2020-10-03

for a legacy subscription
https://management.azure.com/subscriptions/_{{yourSubscriptionId}}_/providers/Microsoft.Consum

[2020-12-09 07:34] yupwei68 commented on #12003
Service team has replied me, it's because I've missed the permission assignment. Please refer details in https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups#secure-webhook

[2020-12-09 07:34] #12003 closed

[2020-12-09 08:56] anthony-c-martin commented on #11963
I'm on the ARM team. This issue should be assigned to the KV team.

[2020-12-09 09:12] mrsheepuk commented on #11849
Hi @tujamg, thanks for looking into this - yes, the URL indeed works with those parameters, this issue is specifically that the API specs in this repository (and, thus, the auto-generated Azure SDK for Go) don't have them so I can't use them without manually editing the SDK code.

For the second issue, I was testing using [this PR](https://github.com/Azure/azure-sdk-for-go/pull/13208) against the

[2020-12-09 09:27] mrsheepuk commented on #11849
Here's a concrete example, with the IDs removed for privacy:

[code]

[2020-12-09 11:39] mikhailshilkov opened #12035 "Insights: Severity is defined as a number but also a string"
[`ScheduledQueryRuleProperties.severity](https://github.com/Azure/azure-rest-api-specs/blob/44ec11c74634f1afa5bbe0d3f2678b7f819ebf8e/specification/monitor/resource-manager/Microsoft.Insights/preview/2020-05-01-preview/scheduledQueryRule_API.json#L336-L349) defines the type as a number but also defines an enum with string values and `modelAsString` as `true`.

[The spec](http://azure.github.io/auto

[2020-12-09 15:17] Nikolay-Uvarov commented on #11764
@tujamg I am still getting **"costInBillingCurrency": 0, "costInPricingCurrency": 0**

[2020-12-09 18:14] jmeadowcroft opened #12038 "Recovery Services Vault - Cannot Update with REST API"
**Scenario:**
I am executing a Powershell script to call the Azure REST API and update a recovery services vault.
**Documentation Issue:**
What do I supply for the properties parameter in order to successfully call the API (see error)
Expected Behavior: Assign a managed identity to recovery services vault with the Azure REST API.
**Actual Behavior:**
Received error message
{"error":{"code":"Invali

[2020-12-09 18:14] jmeadowcroft opened #13076 "Recovery Services Vault - Cannot Update with REST API"
**Scenario:**
I am executing a Powershell script to call the Azure REST API and update a recovery services vault.
**Documentation Issue:**
What do I supply for the properties parameter in order to successfully call the API (see error)
Expected Behavior: Assign a managed identity to recovery services vault with the Azure REST API.
**Actual Behavior:**
Received error message
{"error":{"code":"Invali

[2020-12-09 19:04] adarce commented on #11893
@mikhailshilkov and @MWL88 : The Azure Key Vault team recently deployed a fix for this issue. Could you try this again to see if this repros?

[2020-12-09 19:08] mikhailshilkov commented on #11893
I can confirm it worked for me today

[2020-12-09 19:37] avirishuv commented on #11969
Allowing customers to use Application Gateway health probe for VMSS features based on application health monitoring (including rolling upgrade) is part of our feature backlog. We do not have a specific timeframe for when this will be supported. However, in the meantime, application health extension can be used for VMSS with AppGW for application health monitoring.

[2020-12-09 20:47] MWL88 commented on #11893
@adarce Thank you for the update, my deployments now work again.

[2020-12-09 20:48] #11893 closed

[2020-12-09 21:13] andregodin commented on #5604
**@helpful_developers**,

Since it's now the default value when we create a StreamAnalytics manually on the portal, can you please make the CompatibilityLevel 1.2  "Globally Availabled"?

It would really helps us!

Thanks ;)

[2020-12-09 21:51] rahulpandit85 commented on #11351
Thanks @jhendrixMSFT, I am trying to understand the ask here.
I understand the need fix the swagger and have id and skiptoken ver as a parameter in the swagger as well.
Please let me know if there is something more to this.

[2020-12-09 21:54] jhendrixMSFT commented on #11351
Correct, the ask is to add `skiptokenver` and `id` query params to all applicable operations.

[2020-12-10 00:44] jochav commented on #6674
ETA for documentation update is Jan 2021.

[2020-12-10 00:57] tujamg commented on #11849
Can you please share the requestId for this call?

[2020-12-10 01:02] tujamg commented on #11764
Can you please share the requestId for the requests you made?

[2020-12-10 01:45] ramaganesan-rg commented on #6674
hello. we will update the documentation in Jan. can you please let us know if we can go ahead to close this issue?
You are welcome to reopen if you don't see the changes after Jan,

[2020-12-10 04:37] magodo commented on #9762
@weidongxu-microsoft Please take a look at this issue, it breaks for a long time..

[2020-12-10 05:11] weidongxu-microsoft commented on #9762
@azureSQLGitHub any update?

[2020-12-10 05:40] ruowan commented on #12035
Thanks for feedback.  We could evaluate whether to create a new linter rule to validate this case.

[2020-12-10 05:47] ruowan commented on #9781
We also detect the issue in live validation. Pls see link: https://portal.azure-devex-tools.com/amekpis/correctness/detail?errorId=896c479d-3120-414c-b70f-06da958a5880

[2020-12-10 06:29] blueww opened #12050 "Storage Dataplane: API "Get Blob Metadata" is not defined in storage swagger, although exist in Rest API doc."
API "Get Blob Metadata" is not defined in [storage dataplane swagger](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2020-06-12/blob.json), although exist  in [Rest API doc.](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob-metadata)

This caused the recent Azurite issue: https://github.c

[2020-12-10 06:32] blueww opened #12052 "Storage Dataplane: In Get Block list API, “BlockListType” should be optional , but is required"
In Get Block list API, the “BlockListType” parameter should be optional per [rest API doc](https://docs.microsoft.com/en-us/rest/api/storageservices/get-block-list#uri-parameters) (default behavior is committed), but it’s currently required in [swagger](https://github.com/Azure/azure-rest-api-specs/blob/1a7b2bbb84370bd96c0bf53f13f56f4fc2cafab9/specification/storage/data-plane/Microsoft.BlobStorage

[2020-12-10 06:34] blueww opened #12053 "Storage Dataplane: Properties “Deleted” should not be required in swagger"
In [Storage dataplane swagger](https://github.com/Azure/azure-rest-api-specs/blob/1a7b2bbb84370bd96c0bf53f13f56f4fc2cafab9/specification/storage/data-plane/Microsoft.BlobStorage/preview/2019-02-02/blob.json#L8093), Properties “Deleted” is required. But it should not be required  as it’s not returned for every blob in list blob.

[2020-12-10 06:36] blueww opened #12055 "Storage Dataplane: Get container properties support both Get and HEAD, but in swagger only has Get defined."
Per [rest API doc](https://docs.microsoft.com/en-us/rest/api/storageservices/get-container-properties), Get container properties support both Get and HEAD , but in [swagger ](https://github.com/Azure/azure-rest-api-specs/blob/1a7b2bbb84370bd96c0bf53f13f56f4fc2cafab9/specification/storage/data-plane/Microsoft.BlobStorage/preview/2019-02-02/blob.json#L677)only has Get defined.

[2020-12-10 08:54] yupwei68 opened #12060 "Monitor Diagnostic Setting Servicebus returns 409 not registered Error"
I've created a keyvault resource, a servicebus namespace and a servicebus authorization rule.
Then I create the diagnostic setting, it returns 409 not registered Error, But I can create diagnostic setting with eventhub, logAnalyltics workspace and storage account :

PUT /subscriptions/.../resourceGroups/acctestRG-201210163458217583/providers/Microsoft.KeyVault/vaults/acctest20121016345821758/provi

[2020-12-10 09:21] CedSadowski commented on #4901
Deploy RSV for my firm and have same problem:
Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="InvalidRestApiParameter" Message="sku parameter is invalid.\r\nPlease provide a valid sku"

Refer to documentation:
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/recovery_services_vault
I can see

[2020-12-10 10:04] mrsheepuk commented on #11849
@tujamg Here you go, sorry I didn't know where to find that - got it from the headers now:

[code]

[2020-12-10 10:44] tujamg commented on #11849
For some reason I do not see you ids in my logs. Did you get a successful response on the above ids?
Is it possible for you to just send over the requestUrl to my ms email on my profile?

[2020-12-10 11:47] haroldrandom commented on #7569
@mialdrid Could link that PR here?

[2020-12-10 12:17] g14como commented on #10637
follow, do you have any update on the status?

[2020-12-10 12:43] ricohomewood commented on #9906
@TamRuas did this bug, 7359079, get fixed in July? I don't see the fix in the latest stable version of the API?
Thanks

[2020-12-10 13:48] mrsheepuk commented on #11849
@tujamg I've sent this over to your microsoft email from your profile - let me know if you don't receive it.

[2020-12-10 15:19] boris-tarasov-maersk commented on #9549
the same goes for resource groups. On read of a deleted resource group response is 403 and not 404

[2020-12-10 16:49] jochav commented on #9637
Hello, can you please let us know if we can go ahead to close this issue?
You are welcome to reopen if you don't see the changes after Jan.

[2020-12-10 17:22] OptuMatt commented on #11271
Any update?  This is still causing problems.

[2020-12-10 20:46] anthony-c-martin opened #12065 "Microsoft.Relay 2018-01-01-preview contains accidental reference to Microsoft.EventHub"
It looks like there's a typo here:

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/relay/resource-manager/Microsoft.Relay/preview/2018-01-01-preview/NetworkRuleSets-preview.json#L40

[2020-12-11 06:12] tujamg commented on #11849
I am able to repro the issue locally. Will fix it and share the update, only the deployment is going to start sometime first week of Jan.
About the requestId and clientRequestId not found seems the GoSDK generates it but does not pass it in headers or something else because I see records of incoming calls but these id columns were all empty.

[2020-12-11 09:08] mrsheepuk commented on #11849
Ah great news, glad to hear that's being repro'd now. Will the spec in this repo be updated to add the startDate and endDate query parameters too, as part of that?

FYI I got those IDs from the **response** sent when testing using Postman - wasn't using the Go SDK for the test details I shared above. Looks like there might be an issue with your logging, perhaps? If you need, I can re-run the test

[2020-12-11 12:12] Nikolay-Uvarov commented on #11764
"name":"dd383151-ba9a-cf98-d57e-8adba22678ee",
"name":"c726eb4f-e513-a8fb-6cf0-c40e079ffee8".

[2020-12-11 16:49] OlegKarasik opened #12072 "Question about AppServicePlan REST API "paths""
Good day,

I have a small question regarding the "paths" values in [API specification](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/AppServicePlans.json).

In all of the values there is a segment "servicefarms", however, if we navigate to Azure portal, the `ResourceID` value on `Properties` tab instead has "serviceFarm

[2020-12-11 23:16] bcchagas opened #12078 "Microsoft.ContainerService (AKS): agentPoolProfiles showing wrong count value"
### Problem

I've created a Grafana dashboard to monitor when a nodepool reaches it's maxCount value.
Since then, I've noticed the REST API returns the wrong count number for some agentPoolProfiles whereas the Portal and az-cli returns the correct values. I have clusters stuck with the wrong count number for days, so it's not just a delay on the REST API side.

I checked it applies to the REST API

[2020-12-12 18:11] kralikba opened #12082 "Redis - is the documentation misleading?"
Hi,

Based on this comment:

https://github.com/Azure/azure-rest-api-specs/blob/7aab498aa16b772fa56c1c9bba3bfeb4103a4e43/specification/redis/resource-manager/Microsoft.Cache/stable/2020-06-01/redis.json#L1970

I have expected a create operation to return the access keys but it didn't.
Is it _always_, _never_ or _only under some specific circumstances_ expected to return the keys?

[2020-12-14 02:01] yupwei68 commented on #12060
@raych1 It's service monitor

[2020-12-14 06:19] yupwei68 opened #12092 "Monitor Diagnostic Setting "Metric/timeGrain" can not be set"
timeGrain defined in swagger: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json#L241

1. create a diagnostic setting for a eventhub
PUT /subscriptions/.../resourceGroups/acctestRG-201214140951752652/providers/Microsoft.KeyVault/vaults/acctest20121414095175265/providers/microsof

[2020-12-14 09:47] mikhailshilkov opened #12104 "Web: GET a WebApp returns no `SiteConfig` properties"
When calling a [GET on WebApp](https://github.com/Azure/azure-rest-api-specs/blob/dbb0a6fd623196f0db6b461b0f3f54e284e3a9e4/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/WebApps.json#L98), the response definition suggests that `SiteConfig` properties will be available in the response. The _names_ of those properties are there but all the values are blank. Here is what I logged:

[2020-12-14 15:58] #11963 closed

[2020-12-14 17:40] SamGRosen opened #12105 "Add ability to query search service statistics without"
Background: We are evaluating ways collect additional metrics for the azure search services.

Request: We'd like to able to query the `https://[service name].search.windows.net/servicestats` [endpoint](https://docs.microsoft.com/en-us/rest/api/searchservice/get-service-statistics) without the `api-key` for a "monitoring reader" user as the key required is admin level. Another possible solution wou

[2020-12-15 06:30] neil-yechenwei commented on #11861
After confirmed with service team, virtual hub ip configuration could be created successfully after added GatewaySubnet and default subnet under one vnet. So close this issue since it has been resolved.

[2020-12-15 06:30] #11861 closed

[2020-12-15 19:46] sebansal commented on #11229
#please-close

[2020-12-15 20:39] #11229 closed

[2020-12-16 02:09] verasbr commented on #11200
+1 Any update on this?

[2020-12-16 03:34] anthony-c-martin opened #12136 "Microsoft.AppConfiguration is missing schema configuration for 2020-07-01-preview"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/appconfiguration/resource-manager/readme.azureresourceschema.md is missing configuration for api version 2020-07-01-preview

First raised here:
https://github.com/Azure/bicep/issues/784#issuecomment-745735700

[2020-12-16 03:38] magodo commented on #10015
@timMSFT @fengzhou-msft Any update? This currently blocks terraform-providers/terraform-provider-azurerm#7535 from being merged, which resolves issue terraform-providers/terraform-provider-azurerm#7504.

[2020-12-16 11:02] tombuildsstuff commented on #8132
@Vaibhav-Agar since this hasn't been resolved - can we get this issue re-opened to track this API bug?

[2020-12-16 15:02] brandonmbanks commented on #11271
@ArcturusZhang Could we get an update on this? Still seeing this issue.

[2020-12-17 04:21] ArcturusZhang commented on #11271
Hey @azureSQLGitHub could some one from the service team take a look at this issue?

[2020-12-17 14:23] tombuildsstuff commented on #11271
At the same time could we get an update on this one: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8915

[2020-12-17 19:37] railton-matthew-by opened #12158 "CostManagement - grouping by Tag not working"
According to the documentation grouping can be performed by Dimension or by Tag.  Dimension works fine but if I change to Tag then I get an error.  Am I missing anything?  Thanks,

This is my query.

[code]

This is the error returned.

[code]

[2020-12-17 21:56] landro commented on #9262
I believe this has no been resolved - at least on my app service (a multi-container app), the toggle is not reset.
Probably this issue should be closed.

[2020-12-18 01:34] magodo commented on #11143
ping @zfchen95

[2020-12-18 17:20] anthony-c-martin opened #12173 "[Bicep] Microsoft.DevTestLab/schedules "properties" field is marked as required"
Originally reported here: https://github.com/Azure/bicep/issues/784#issuecomment-748209810.

The "properties" field as marked as "required", even though none of the fields inside are technically required. Is there a reason for this, or can we relax the validation?

Here's the place in the swagger spec where it's being marked as "required":
https://github.com/Azure/azure-rest-api-specs/blob/5a6276c

[2020-12-18 18:53] markgar commented on #12173
Additional info: when running templates on this RP, there **are** required elements inside the properties element.  For instance, one of `dailyRecurrence`, or `weeklyRecurrence` or `hourlyRecurrence` is required.  Timezone is required, rargetResourceId is required, taskType is required, as well as location.

[2020-12-21 05:34] aim-for-better commented on #6505
on going

[2020-12-21 05:35] aim-for-better commented on #6724
on going

[2020-12-21 05:35] aim-for-better commented on #10109
on going

[2020-12-21 05:35] aim-for-better commented on #10667
on going

[2020-12-21 07:34] Sharmistha-Rai commented on #11610
@00Kai0 - we checked this internally and it's actually a bug. We will be tracking it as a fix for our future releases. For now, please avoid testing the requests using Swagger.

[2020-12-21 07:36] Sharmistha-Rai commented on #11610
Please feel free to reopen this query for any further questions.

[2020-12-21 07:36] Sharmistha-Rai commented on #11610
#please-close

[2020-12-21 13:47] jaspkaur28 commented on #10808
The work is being tracked in our backlog. We will get the bug fixed by CY21 - Q1.
Closing the thread.

[2020-12-21 13:48] jaspkaur28 commented on #10662
We plan to pick this up in CY21-Q1. Already tracked internally .
Closing the thread.

[2020-12-21 13:48] #10662 closed

[2020-12-21 14:33] DavidTrigano commented on #11271
Hi @tombuildsstuff,

I am the Product Manager of Azure SQL Auditing.
Thanks for the feedback and for taking the time to help us improve our products.

The issue mentioned in this incident was discovered a few months ago and fixed 3 weeks after, currently mitigated and deployed worldwide, this issue is now fixed. Based on our telemetry, customers who are still facing the above error message may hav

[2020-12-22 05:14] nVitius opened #12200 "Cosmos REST API"
Is there a spec that we can download for the Cosmos REST api?

I'm referring to this one: https://docs.microsoft.com/en-us/rest/api/cosmos-db/
I've started working with it recently, and it would be really useful to have a JSON spec that I could import into Postman.

[2020-12-22 06:34] leni-msft commented on #12200
yes, you can download it from this right repo: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2020-09-01/cosmos-db.json

[2020-12-22 06:36] nVitius commented on #12200
@leni-msft Thanks for the reply. I saw that earlier, but it doesn't seem to be the same API. The paths in the one I linked to don't seem to exist in that spec. Also, the API versions are completely different.

[2020-12-22 08:15] blueww commented on #11141
@javiermarasco
It looks like the error you meet should can be resolved by remove the line `$RequestHeader.Add("Content-Length",$Body.Length)`, as the "Content-Length" header will to set automatically:

- If you set it, the Content-Length will be set duplicated and value is `Content-Length: 60, 60`
- If you don't set it , in my test, the correct content-length will be set in the request as `Content

[2020-12-22 15:04] alex-frankel commented on #11986
Hi @raych1 - can you confirm that this has been successfully routed to the logic apps team? It looks like the @ mention did not work. No other participants have been added to the issue.

[2020-12-22 15:08] alex-frankel commented on #11986
Hi logic apps team – can you all take a look at this issue?

Thanks,
Alex

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: msftbot[bot]<mailto:notifications@github.com>
Sent: Tuesday, December 22, 2020 9:00 AM
To: Azure/azure-rest-api-specs<mailto:azure-rest-api-specs@noreply.github.com>
Cc: Alex Frankel<mailto:alfran@microsoft.com>; Author<mailto:author@norepl

[2020-12-22 15:33] pbstrein commented on #11805
@axayjo, @avirishuv Any word on this issue?

[2020-12-22 16:02] manicminer commented on #11985
Hi @msftbot, this is an issue not a PR, and I'm not a maintainer.

Cc @markcowl

[2020-12-22 16:15] mikhailshilkov commented on #12005
This is not a PR and I can't remove a label...

[2020-12-22 16:15] mikhailshilkov commented on #11711
This is not a PR and it shouldn't be closed

[2020-12-22 16:16] mikhailshilkov commented on #11634
This is not a PR and it shouldn't be closed

[2020-12-22 16:16] mikhailshilkov commented on #11402
This is not a PR and it shouldn't be closed

[2020-12-22 16:16] mikhailshilkov commented on #11401
This is not a PR and it shouldn't be closed

[2020-12-22 16:47] anthony-c-martin commented on #11929
@markcowl - looks like something is up with the bot as this isn't a PR! Would you mind taking a look?

[2020-12-22 17:10] anuragdalmia commented on #11656
@rthorn17 - FYI.

[2020-12-22 17:14] pedropaulovc commented on #11829
@darshanhs90 @AshishGargMicrosoft any updates?

[2020-12-22 20:01] #11533 closed

[2020-12-23 01:02] raych1 commented on #11986
@rarayudu, @pankajsn, @tonytang-microsoft-com, I found you're either code owners of `microsoft.logic` RP or swagger author. Can you have a look at this issue or re-assign properly. Thanks.

[2020-12-23 01:05] weidongxu-microsoft commented on #11702
@deveshguha Please take a look if there will be any SDK released for this PR. Close it if no SDK is required.

[2020-12-23 01:50] kairu-ms commented on #11444
It's not the patched version, it's the latest released version.

[2020-12-23 05:48] ArcturusZhang commented on #11271
Closed as requested by @DavidTrigano

[2020-12-23 05:48] #11271 closed

[2020-12-23 06:45] JulianHayward commented on #11656
ok, this seems more RBAC related. I can tell that with 'Reader' the API (GET https://management.azure.com/subscriptions?api-version=2020-01-01) does not return the subscription´s tags, whilst with 'Owner' it does.
GET https://management.azure.com/subscriptions/{subscriptionId}?api-version=2020-01-01 however works with 'Reader'.

Can you please shed light?

[2020-12-23 08:31] tbugfinder commented on #11444
@kairu-ms Do you see the difference to my environment?

[2020-12-23 15:51] TerrorFactor opened #12220 "Microsoft.SecurityInsights api-version 2020-01-01 suddenly unsupported"
Hi all,

I use a Sentinel playbook to automatically close certain alerts. At a certain point, I use this endpoint: https://management.azure.com/subscriptions/[subscriptionid]/resourcegroups/[resourcegroupname]/providers/Microsoft.OperationalInsights/workspaces/[workspacename]/providers/Microsoft.SecurityInsights/incidents/[incidentid]/relations?api-version=2020-01-01

Since 2 weeks or so, this pla

[2020-12-23 18:42] amjads1 commented on #10033
@bilaakpan-ms Can you please share latest updates here?

[2020-12-23 18:45] amjads1 commented on #11805
Looks like the issue got unassigned automatically. Assigned back to @avirishuv  to look into this issue.

[2020-12-24 07:57] #8958 closed

[2020-12-25 20:39] kvendingoldo commented on #11425
It's not stale.

[2020-12-28 08:34] mepand commented on #11041
@steveharrington1 We are checking with the engineering team. Will get back on the timelines by mid Jan.

[2020-12-28 10:53] pvrk commented on #11928
@Agazoth : The progress percentage is currently available only for restore tasks and not to any other job type. Once you trigger a restore and track it, the percentage will be present in the API response.

[2020-12-28 10:56] pvrk commented on #11610
@Sharmistha-Rai : Please close tag will only work for doc based bugs. You have to close the issue yourself by clicking the "close" button or "close with comment" button. Just FYI.

[2020-12-28 11:11] mikhailshilkov commented on #12065
To make it worse, the copied definition is incomplete: the [original `NetworkRuleSet`](https://github.com/Azure/azure-rest-api-specs/blob/bcd417920ddc33d1e89d0ecfcb2b405025418b3c/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/networkrulessets-preview.json#L179) has properties like `trustedServiceAccessEnabled` and `virtualNetworkRules` but the [relay's copy o

[2020-12-28 11:20] EugenMayer opened #12238 "Plans on supporting Azure Devops / Pipelines"
Following up on https://github.com/Azure/azure-sdk-for-go/issues/13997 and reading https://docs.microsoft.com/en-us/rest/api/azure/devops i ask myself, why there is yet no effort towards azure devops and it's (rather powerful) rest API?

I think there would be a lot of use cases, at least we have quiet a couple. There is also already a `azure cli` extension for `pipelines` (which is yet rather lim

[2020-12-28 11:34] pvrk commented on #4901
@CedSadowski : As I mentioned earlier, SKU doesn't define LRS or GRS. You have to create a vault first and then update. Can you please file an issue/request with the terraform repo? I suppose they can help.

[2020-12-28 12:18] 00Kai0 commented on #11610
Thanks for your feedback, I will close it :)

[2020-12-28 12:18] #11610 closed

[2020-12-28 20:40] ayeletshpigelman commented on #9762
useServerDefault is a deprecated property. please ignore it. Moreover, we recommend using API version 2018-06-01-preview for QL Database Security Alert Policies

[2020-12-29 07:08] zhenglaizhang commented on #380
@PhoenixHe-msft any update on this thread?

[2020-12-29 07:13] ruowan commented on #11929
Thanks for feedback. It's a bot issues. We have fixed it.

[2020-12-29 07:16] thiruma0203 opened #12247 "REST API Doc - Microsoft.Compute "Images - Create Or Update" API requires HyperVGeneration parameter since 2019-03-01"
HyperVGeneration parameter was introduced since apiversion 2019-03-01.
https://github.com/Azure/azure-rest-api-specs/commit/5711e644986f30111f19a3bf51a74d25f50916ac#diff-affc8b1c36d4dad4d470903c224fb2bee3bfceaeb81f0595763410ff6d8069ce

With apiversion 2019-03-01 or newer, "Images - Create or Update API" fails with error "Required parameter 'hyperVGeneration' is missing (null).'" , when API is call

[2020-12-29 07:21] zhenglaizhang commented on #2355
Looks like the issue is fixed in https://github.com/Azure/azure-rest-api-specs/pull/2486, I will close it, if any guys has concern or questions, pls reopen it. thanks!

[2020-12-29 07:21] #2355 closed

[2020-12-29 07:23] zhenglaizhang commented on #2406
Hi @alexzheludov Sorry its very old issue, do you currently still met with such issue?

[2020-12-31 00:10] sagarlankala commented on #12173
For DTL, 'properties' is a required field - especially for the schedule object.

Also, with regards to other observations, We are actively working on closing some of similar S360 items and linting requirements.

[2020-12-31 08:19] pvrk commented on #11928
@Agazoth : From a documentation perspective, the API documentation framework has no "mandatory/required" column for definitions. What we can do is to update the definition of the field to clearly mention when this can be expected. Is this OK with you?

[2020-12-31 19:41] #9637 closed

[2020-12-31 21:27] jochav commented on #5005
This is an API issue. Detected on newer versions as well. API fix is in order for version 2019-11-01 will see to extending that fix to this version as well.

[2020-12-31 21:30] #6674 closed

[2021-01-02 06:38] nVitius commented on #12200
@leni-msft Following up on this. Do you know who might have an answer for this question?

[2021-01-03 10:04] EugenMayer opened #12266 "$expand=variables has no effect on https://docs.microsoft.com/en-us/rest/api/azure/devops/release/releases/list?view=azure-devops-rest-6.0#releaseexpands"
While all other expands seem to work for the release list, the variables expand does not. One is forced to fetch the details on the release resource itself. This is not really a spec issue, i guess this is rather an implementation bug on the backend. I'am not sure how to report those - is this the right repo?

[2021-01-04 06:00] jianyexi commented on #12038
@erich-wang could you take a look ?

[2021-01-04 07:51] CedSadowski commented on #4901
Hi,

To bypass this problem, I have defined my RSV and declare a script in AZ CLI to change immediatly the RSV SKU.

`resource "azurerm_recovery_services_vault" "vault" {
  name                = "ced-recovery-vault"
  location            = azurerm_resource_group.main.location
  resource_group_name = azurerm_resource_group.main.name
  sku                 = "Standard"

  soft_delete_enabled = true

[2021-01-04 07:59] leni-msft commented on #12200
Hi @shellygms,  are you able to answer @nVitius 's question?

[2021-01-04 08:20] yungezz opened #12272 "Wrong link in PR comment"
wrong link in https://github.com/Azure/azure-rest-api-specs/pull/12265#issuecomment-752996233

[code]

should be `https://aka.ms/swaggerfeedback.`

[2021-01-04 08:21] yungezz commented on #12272
hi @ruowan could you pls have a look? thanks

[2021-01-04 09:00] ruowan commented on #12272
https://github.com/Azure/azure-rest-api-specs/pull/12273

[2021-01-04 09:01] ruowan commented on #12272
Thanks for feedback. Link the PR to fix it.

[2021-01-04 10:35] kaovd commented on #9424
Excited about such a feature, would be a tipping point for a lot of people's IaC/Detection as Code implementations. Another ping for luck - @lirenhe

[2021-01-04 11:51] Jeroenvos commented on #11982
Thanks, @ms-premp!
And the best wishes for 2021 :)

Using /providers/Microsoft.Consumption/forecasts?$filter=properties/grain eq 'Yearly'&api-version=2019-10-01
I got a return with grain "Yearly"
However, this number exactly equals Monthly grain.

So it seems that when I request Yearly grain, I get Monthly grain only the text monthly replaced with yearly.
When I multiply it by 12 I also geta whole

[2021-01-04 11:52] Jeroenvos commented on #12007
Thanks, @akning-ms
And the best wishes for 2021 :)

Using /providers/Microsoft.Consumption/forecasts?$filter=properties/grain eq 'Yearly'&api-version=2019-10-01
I got a return with grain "Yearly"
However, this number exactly equals Monthly grain.

So it seems that when I request Yearly grain, I get Monthly grain only the text monthly replaced with yearly.
When I multiply it by 12 I also geta whole

[2021-01-04 19:11] Ramachillara opened #12276 "REST API Costing "nextLink:" pagination"
Unable to get results from the "nextLink" URL , not sure if there any examples for this or documentation what method and how to access.

nextLink= "https://management.azure.com/subscriptions/XXXXXXXXXXXXXXXXX/providers/Microsoft.CostManagement/query?api-version=2019-11-01&$skiptoken=BQBBBB%3D%3D"

response = requests.post(nextlinkflag,headers=default_headers)

Error
===============
b'{"error":{"co

[2021-01-04 20:41] MehaKaushik commented on #12200
The apis listed in https://docs.microsoft.com/en-us/rest/api/cosmos-db/ are not recommended. These are the older APIs. The latest and recommended ones are listed under Resource Provider. I recommend you to use them.

[2021-01-05 00:47] axayjo commented on #12247
@Vaibhav-Agar can you look into this issue?

[2021-01-05 02:33] #12272 closed

[2021-01-05 09:28] mrsheepuk commented on #11849
Hi @tujamg - happy new year! Is there any update on when these fixes might be published?

[2021-01-05 10:01] Nikolay-Uvarov commented on #11764
@tujamg Hi! Do you have any updates?

[2021-01-05 16:52] Ramassv commented on #12276
I was able to figure out  the issues, Need to pass the JSONbody like the parents one. so closing

[2021-01-05 20:35] sebansal commented on #11962
@RandalliLama for triaging

[2021-01-05 20:38] sebansal commented on #9812
Ping @vasanthrajams

[2021-01-05 20:44] sebansal commented on #11361
AKV engineering team to triage

[2021-01-05 20:53] vasanthrajams commented on #9812
The first part of the changes for this issue already been merged. https://github.com/Azure/azure-rest-api-specs/pull/11772
The second part of this issue(Ambiguous Names) was discussed in an email titled "AKV - github issues #ServiceAttention" and the consensus was to ignore for now.

[2021-01-05 21:05] sebansal commented on #9812
Thank you @vasanthrajams, will close the issue for now.

[2021-01-05 21:05] #9812 closed

[2021-01-05 21:10] sebansal commented on #11929
@jlichwa to help with triaging

[2021-01-05 21:29] jlichwa commented on #11929
@anthony-c-martin can you clarify. ARM returns the following message when attempting to PUT a Microsoft.KeyVault/vaults/secrets is a call to data plane with available versions: 7.0, 7.1. https://docs.microsoft.com/en-us/rest/api/keyvault/setsecret/setsecret

2020-04-01 is management plane version. With available for secrets only through ARM.

Is that makes sense?

[2021-01-05 23:16] anthony-c-martin commented on #11929
@jlichwa - this issue report is concerning management plane (ARM), not data plane.

Here the KeyVault swagger spec declares support for operations on secrets through the ARM control plane with API version 2020-04-01-preview:
https://github.com/Azure/azure-rest-api-specs/blob/220b0b884fe180430cb65069bc439c8ed1d8ec0f/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-previ

[2021-01-05 23:35] jlichwa commented on #11929
@anthony but ARM using separate API. API you mentioned is calling data plane: PUT a Microsoft.KeyVault/vaults/secrets

[2021-01-06 03:09] neil-yechenwei opened #12297 "Security.AssessmentMetadata API should use "categories" not "category" in request body and response body"
After tested, I passed the "category" property in request body but seems it doesn't take effect and it always returns null in response body. After confirmed with service team, seems it should be "categories" not "category" in Http Request body and Http Response body. So service team will fix this bug.

[2021-01-06 09:13] 00Kai0 opened #12300 "[DataFactory] Generate wrong paramter name in python sdk docs"
Issues Link: https://github.com/Azure/azure-sdk-for-python/issues/15993
Doc link: https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory/azure.mgmt.datafactory.operations.datasetsoperations?view=azure-python#create-or-update-resource-group-name--factory-name--dataset-name--properties--if-match-none--custom-headers-none--raw-false----operation-config-

The right patameter name in `creat

[2021-01-06 09:52] #12300 closed

[2021-01-06 17:04] OptuMatt commented on #11271
I have an issue with the following in Terraform 0.13.4 with Azure Providers 2.40 and 2.41…

resource "azurerm_mssql_server" "sqlserver" {
  name                         = var.sql_server_name
  resource_group_name          = var.resource_group_name
  location                     = var.azure_location
  version                      = var.sql_server_version
  administrator_login          = var.sql_adm

[2021-01-06 19:18] TimLovellSmith commented on #2981
@msftbot I still think thats hard for us to change without it being an unexpected breaking change to SDK behavior.

[2021-01-06 23:27] JaikishanRupani commented on #12007
@Jeroenvos Can you share the x-ms-request-id value from the response headers?

While we look into this issue, I strongly encourage you to use the newer API that is currently being used by Azure Portal UI - https://docs.microsoft.com/en-us/rest/api/cost-management/forecast/usage.
This is being actively worked on and supports more scopes. The underlying prediction algorithms are also different for b

[2021-01-07 03:17] neil-yechenwei opened #12308 "Security.ServerVulnerabilityAssessment API failed to delete the Server Vulnerability Assessment"
After tested, API failed to delete the Server Vulnerability Assessment and threw below error message. After confirmed with service team, seems it's a bug. Hopes it could be fixed asap since we're blocked on this issue.

[code]

[2021-01-07 07:57] DavidTrigano commented on #11271
Hello @OptuMatt,

Thanks for the feedback. Can you please open an Azure incident so our engineers can work with you on this matter? To create a Azure support request, please follow the below instructions:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

Many thanks,
D.

[2021-01-07 11:16] Jeroenvos commented on #12007
Hi, and thank you for you quick reply.
I got this version to work, that's why I used it. But I'll definitely try making the newer API work.

Here is a sample that I tried just now
date: Thu, 07 Jan 2021 11:14:15 GMT
x-ms-request-id: c351f126-732e-4314-804a-4e67897c8dfe

[2021-01-07 13:26] OptuMatt commented on #11271
Thanks.  Will do.

From: David Trigano <notifications@github.com>
Sent: Thursday, January 7, 2021 2:58 AM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Cywinski, Matthew J <matthew.cywinski@optum.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-specs] Breaking change in the SQL Extended Auditing Settings API (#11271)

Hello @OptuMatt<http

[2021-01-08 00:34] lilyjma commented on #10250
Will look into this @jiashou

[2021-01-08 00:34] #10250 closed

[2021-01-08 03:23] neil-yechenwei opened #12326 "Resources.Deployments API should return the ExpressionEvaluationOptions property in response"
After tested, seems Resources.Deployments API wouldn't return the ExpressionEvaluationOptions property in [response](https://github.com/Azure/azure-rest-api-specs/blob/4ef5bc15e335571267550b39cfc100ab56dd8c43/specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/resources.json#L5060). I assume it should be returned in the response since this property could be set in the re

[2021-01-08 05:54] blueww commented on #11236
@zfchen95
This looks like a server issue, would you like help to look?

[2021-01-08 07:22] MikeRalphson commented on #2636
The link above is now no longer valid due to the length of time elapsed. A current example of the same issue is: https://github.com/Azure/azure-rest-api-specs/blob/4ef5bc15e335571267550b39cfc100ab56dd8c43/specification/cognitiveservices/data-plane/LUIS/Authoring/stable/v2.0/LUIS-Authoring.json#L3114

[2021-01-08 07:24] Sharmistha-Rai commented on #3265
@AnonymousHieronymous - it seems like the documentation has changed since you last raised this query. Please refer to the section [here](https://docs.microsoft.com/en-us/rest/api/site-recovery/replicationvaulthealth/get#healtherrorsummary) to learn more about _affectedResourceCorrelationIds_.

[2021-01-08 07:32] brjohnstmsft commented on #4545
Closing as this is an old issue with no activity for well over a year.

[2021-01-08 07:32] #4545 closed

[2021-01-08 08:05] #2899 closed

[2021-01-08 08:09] tjrobinson commented on #2819
Thank you for your speedy response!

[2021-01-08 08:40] blueww commented on #6549
The fix PR is already merged, so the issue should be fixed.

[2021-01-08 08:40] #6549 closed

[2021-01-08 09:59] magodo opened #12330 "Express Route Port identity type returns with case changed"
In API version 2020-05-01, the `identity.type` property of Express Route Port is defined to be `UserAssigned`, whilst on a `GET`, the `identity.type` in the response turns to be `userAssigned` (the first character changed to lower case).

Expected that the case keep consistent, as what is defined in Swagger.

[2021-01-08 10:40] leni-msft commented on #12330
@magodo which service are you referring to?

[2021-01-08 11:16] jackofallops opened #12331 "Log Analytics ClusterClient.Update returns string literal `null` as json response body"
Hi,
We've encountered an issue in updating Log Analytics clusters.  When sending an Update request, the response is returned as an HTTP 202 Accepted (formally this returned 200) and the JSON response body is a string literal `null` which causes a crash in `go-autorest` [here](https://github.com/Azure/go-autorest/blob/cbd6c47773f1a521faa3a39f3e9455620a751ae8/autorest/azure/azure.go#L313).

Addition

[2021-01-08 12:20] jackofallops commented on #12331
Hi - Just to add, when the code in 605 above is patched in the following is returned:
`Failure responding to request: StatusCode=202 -- Original Error: autorest/azure: Service returned an error. Status=202 Code="Unknown" Message="Unknown service error" Details=[{"HttpResponse.Body":"null"}]` as SDK is only accepting a [200 for success](https://github.com/Azure/azure-sdk-for-go/blob/c0b67b744d0901b

[2021-01-08 14:34] mikhailshilkov opened #12335 "Web: sasUrl should not be required in"
The `sasUrl` property should not be required in [`AzureTableStorageApplicationLogsConfig`](https://github.com/Azure/azure-rest-api-specs/blob/d266093bc8092ba63b3097004f8de1ac76ef1f5c/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/WebApps.json#L20464-L20466). It's not required when level is `Off`. `GET` API doesn't return `sasUrl` in the response body either when logging is off.

[2021-01-08 17:10] WillooWisp commented on #12104
I experience the same problem, any fixes for this?

[2021-01-08 17:14] WillooWisp commented on #12335
I experience the same problem, any fixes for this?

[2021-01-08 19:37] heaths commented on #9644
@jennifermarsman this issue should no longer be necessary, right? Re-reading my description, I believe the work you did ~August resolved this issue, yes?

[2021-01-09 00:45] lmazuel commented on #3948
Closing, I don't think it's relevant anymore

[2021-01-09 00:45] #3948 closed

[2021-01-10 13:45] manicminer opened #12352 "SQL VM: Cannot enable auto backup"
Trying to create a SQL VM with auto backup enabled, but getting a 400 error with code `BackupScheduleTypeNotSet`, despite `backupScheduleType` being specified in the request.

## Request

PUT https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/acctestRG-mssql-210108235644463787/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/acctest-VM-2101082356

[2021-01-11 01:13] raych1 commented on #12326
@Azure/arm-template-deployments @rajshah11 @vivsriaus , could you have a look at this ARM resource template issue? If you're not the owner, please add appropriate contact. Thanks.

[2021-01-11 01:20] neil-yechenwei opened #12355 "It should be `categories` not `category` in http request body and http response body in Security.AssessmentMetadata API"
After tested, seems in Security.AssessmentMetadata API doesn't make `[category](https://github.com/Azure/azure-rest-api-specs/blob/9a5ad06be61902cdbbc44bee02084a07a3a72499/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/assessmentMetadata.json#L317)` take effect. After confirmed with service team, they said It should be `categories` not `category` in http request body

[2021-01-11 01:34] magodo commented on #12330
As is stated in the title, it is [express route port](https://github.com/Azure/azure-rest-api-specs/blob/ace28fcf0a086afdacae6aee5c4fe92286197281/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/expressRoutePort.json#L840-L840). I'll update the description to add the link.

[2021-01-11 02:06] blueww commented on #3622
@zfchen95
Would you please help to look at the server issue?

[2021-01-11 02:15] zhenglaizhang commented on #12104
Hi @WillooWisp @mikhailshilkov can you help provide more logs of the request? which SDK triggers the failure?
So that I can route to the right team for help investigate the issue.

[2021-01-11 02:15] ArcturusZhang commented on #12104
Hi @mikhailshilkov I noticed that you are using go, to clarify whether this issue comes from the REST API itself or go SDK (if you are using this), could you please also provide some log of the rest api request and response (the body should be sufficient)?

[2021-01-11 04:39] ArcturusZhang commented on #12308
This is a swagger bug - this API appears to be an async operation (otherwise it would not return 202 as response code), but it is not marked as `long-running-operation` in [the swagger](https://github.com/Azure/azure-rest-api-specs/blob/ffc5119f58e1e302748bd21aff7bc01acd2b6d13/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/serverVulnerabilityAssessments.json#L244) whi

[2021-01-11 04:43] neil-yechenwei opened #12359 "The policyDefinitionId property of Security.AssessmentMetadata shouldn't exists in request body since it's read-only property"
After confirmed with service team, they said the [policyDefinitionId](https://github.com/Azure/azure-rest-api-specs/blob/ffc5119f58e1e302748bd21aff7bc01acd2b6d13/specification/security/resource-manager/Microsoft.Security/stable/2020-01-01/examples/AssessmentsMetadata/CreateAssessmentsMetadata_subscription_example.json#L9) property of Security.AssessmentMetadata shouldn't exists in request body sin

[2021-01-11 04:46] neil-yechenwei opened #12360 "The partnerData property should be removed from Security.AssessmentMetadata in rest api spec since it isn't in use"
After confirmed with service team, they said the partnerData property should be removed from Security.AssessmentMetadata in rest api spec since it isn't in use. So filed an issue here to track this problem.

[2021-01-11 05:56] alex-frankel commented on #11986
Ping 😊 Can anyone take a look at this?

Thanks,
Alex

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Alex Frankel<mailto:alfran@microsoft.com>
Sent: Tuesday, December 22, 2020 7:08 AM
To: Azure/azure-rest-api-specs<mailto:reply@reply.github.com>; Azure/azure-rest-api-specs<mailto:azure-rest-api-specs@noreply.github.com>; Jon Fancey<mailto:Jon.Fancey@microsoft.

[2021-01-11 06:09] alex-frankel commented on #11986
Yes. The swagger for the logic needs to be updated to include the identity details. We have a backlogs item for this.

Thanks, Rama.

From: Alex Frankel <alfran@microsoft.com>
Sent: Sunday, January 10, 2021 9:57 PM
To: Azure/azure-rest-api-specs <reply@reply.github.com>; Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>; Jon Fancey <Jon.Fancey@microsoft.com>; Nitasha Verma <nita

[2021-01-11 07:17] mikhailshilkov commented on #12104
I'm not using the Azure Go SDK, just Go as the programming language to make raw HTTP requests to the service. So, it's definitely the problem of the REST API itself.

[2021-01-11 09:17] jsntcy opened #12363 "[Monitor] Wrong SavedSearchProperties definition"
In swagger, it is defined with lower case, such as `category`, `query` which is consistent with the real API response from version 2020-03-01-preview.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/SavedSearches.json#L223-L250

[code]

but in real API response in version 2020-08-01, it is

[2021-01-11 16:14] alex-frankel commented on #11986
Great – do you have an ETA for when it will be resolved?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Rama Krishna Rayudu<mailto:rarayudu@microsoft.com>
Sent: Sunday, January 10, 2021 10:09 PM
To: Alex Frankel<mailto:alfran@microsoft.com>; Azure/azure-rest-api-specs<mailto:reply@reply.github.com>; Azure/azure-rest-api-specs<mailto:azure-rest-api-specs@norep

[2021-01-11 21:33] mrlepat commented on #12158
Hello @railton-matthew-by

Try changing Tag to TagKey

{
  "type": "Usage",
  "timeframe": "MonthToDate",
  "configuration": ["ResourceId"],
  "dataset": {
    "granularity": "Daily",
    "aggregation": { "totalCost": {"name": "CostUSD","function": "Sum"}},
    "grouping": [{"type": "**TagKey**","name": "Customer"}]}
}

When providing Tag, you shouldn't provide name.

{
  "type": "Usage",
  "timef

[2021-01-12 00:36] olayemio commented on #10707
We are working on making the bug fix and should be reflected in the API by second week of February

[2021-01-12 00:52] JaikishanRupani commented on #12007
@Jeroenvos I looked at the service logs for your request as well as the API implementation. The API actually does not support Yearly grain but has it incorrectly added it to the documentation. We apologize for confusion. We are working on fixing the documentation to accurately reflect this.

Please note that the API you are using is no longer actively under development. We have a new Forecast API

[2021-01-12 00:53] raych1 commented on #12363
This issue was already labeled and triaged.

[2021-01-12 00:55] heaths opened #12377 "MaxAgeInSeconds should be x-nullable true"
Seems the Search service sends CorsOptions.maxAgeInSeconds as an explicit `null`, which breaks the .NET SDK. See Azure/azure-sdk-for-net#16928 for details

[2021-01-12 04:41] yajnasletap opened #12380 "REST API calls to configure Vulnerability Assessment (VA) on a Storage Account behind firewall using Storage Account Access key fails"
Hi,
As per the documentation on this link - https://docs.microsoft.com/en-us/rest/api/sql/servervulnerabilityassessments/createorupdate

SQL Vulnerability Assessment (VA) should be configurable using REST API for storage account behind firewall using Storage **Account Access Key.**

As per the documentation it should be achievable but i have tested and it fails. I had raised support ticket 1201109

[2021-01-12 08:30] aim-for-better commented on #3425
Checking

[2021-01-12 08:43] aim-for-better commented on #3425
Hi @tombuildsstuff , I do not think it is api's issue. The request which is required by our api should be the bellow:
[code]

but you provided is
[code]

2. Where do you get the go sdk whose api version is 2015-03-01-preview?  I think that the api version of our go sdk should be 2018-06-01-preview.

Thanks for your feedback and further response.

[2021-01-12 08:46] aim-for-better commented on #3425
@JackTn we need to involve terraform team too.

[2021-01-12 08:47] aim-for-better commented on #10667
on going

[2021-01-12 08:47] aim-for-better commented on #10109
on going

[2021-01-12 08:48] aim-for-better commented on #6724
on going

[2021-01-12 08:50] aim-for-better commented on #6505
on going

[2021-01-12 10:19] railton-matthew-by commented on #12158
Great! These examples work.  Thanks for the feedback.

I did not see any referent to TagKey in the API reference documentation.

[2021-01-12 10:43] iitsDelbruegger commented on #3037
I am deeply disappointed that this bug is not fixed yet. We are setting up all our infrastructure in Terraform and automatically store the secrets in a key vault so that no developer or admin has to fiddle around with them - but Redis cannot output the connection string because of this bug. Do you not want to support modern Infrastructure as Code solutions?

[2021-01-12 10:49] Jeroenvos commented on #12007
@JaikishanRupani Thanks. I'll start using the new forecast api. I see there's only daily grain there. Would there be another way to get the yearly forecast other than through the UI in the azure portal?
For example some scheduled export or something like that?

[2021-01-12 16:34] lutzwillek-tomtom commented on #10259
Hello @kummanish any update on this, is there a new estimated due date maybe? Thanks.

[2021-01-12 16:49] TimLovellSmith commented on #3037
@iitsDelbruegger We can't really solve this problem in the ways suggested without also having security impact. I think the ideal solution here is a non-key-based approach for configuring redis authentication to storage, such as System Assigned Identity, which could both eliminate problems with storage key rotation breaking persistence access, and mitigate the possible problems with exposing creden

[2021-01-12 18:18] ramaganesan-rg commented on #12158
yes, we will be updating the documentation. Thank you for the feedback.

[2021-01-12 18:18] #12158 closed

[2021-01-12 18:31] tombuildsstuff commented on #3037
@TimLovellSmith as mentioned above, the AKS API provides one example for doing just that: https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/listclusteradmincredentials - which gives you full access to an AKS Cluster including (via provisioning pods etc) any resources it has access too, which I'd argue is more sensitive.

That said, I'd agree it could make more sense for the Redis RP to

[2021-01-12 20:09] shaunco commented on #7870
Microsoft has created a feedback item for this at https://feedback.azure.com/forums/321918-azure-iot-hub-dps-sdks/suggestions/32822650-go-sdk-for-azure-iot

Per https://github.com/Azure/azure-sdk-for-go/issues/8399 and https://github.com/Azure/azure-sdk-for-go/issues/14121

[2021-01-12 22:39] #2120 closed

[2021-01-13 06:57] jsntcy opened #12407 "[Monitor] TableProperties definition is different between swagger and real API response"
In swagger, `retentionInDays` is defined with lowerCamelCase which is consistent with the real API response.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/Tables.json#L124

[code]

but in real API response, it returns UpperCamelCase `RetentionInDays`.
[code]
So in the latest Python mgmt.

[2021-01-13 07:05] ctaggart opened #12408 "Are enums case sensitive? storageAccounts virtualNetworkRules"
Are enum variants case sensitive in the specs? I was expecting them to be. The storage spec says `networkSourceDeleted`, but the service is returning `NetowrkSourceDeleted`. Is that a service bug?

[code]

You can see the invalid state returned here:
[code]

[2021-01-13 08:05] blueww commented on #12408
@zfchen95

Would you please looks at this?
It looks like server returned value and the definition in swagger is not aligned.

[2021-01-13 10:24] mikhailshilkov opened #12412 "Web: WebApp is missing metadata property in SiteConfig"
[`SiteConfig`](https://github.com/Azure/azure-rest-api-specs/blob/0955eca8c1288aa8220aab34db3a66bdb6ac98cc/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/CommonDefinitions.json#L1937) does not define a `metadata` property, although that's how ARM templates are advised to set the current stack: https://stackoverflow.com/questions/59140969/arm-template-azure-web-app-how-do-you-sp

[2021-01-13 16:14] ctaggart commented on #12408
They are case sensitive. It is an [ENUM_MISMATCH error](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/Semantic-and-Model-Violations-Reference.md#ENUM_MISMATCH). It is a correctness error listed at internal https://aka.ms/livevalidation.

[2021-01-13 16:59] phatcher commented on #9947
Can we have an update please

[2021-01-13 17:11] hund030 opened #12416 "Webapp:az appservice plan create failed"
**Describe the bug**
I can create a new resource group named `1` both with azure cli and azure portal. While I want an app service plan in this resource group, I failed to create it with azure cli since there is a validator forces me to follow a weird regex pattern.
I try other resources like storage account and succeed create it in the resource group with azure cli and also succeed create a new a

[2021-01-13 18:04] tombuildsstuff opened #12419 "Authorizations - no stable API release in 4 years?"
👋

[Checking out the Authorizations package](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/authorization/resource-manager/Microsoft.Authorization/preview), the last stable release was in 2015 - but there's been 4 years of Previews since:

<img width="258" alt="Screenshot 2021-01-13 at 19 02 28" src="https://user-images.githubusercontent.com/666005/104490986-e301bd80-55d1-

[2021-01-13 18:52] MehaKaushik commented on #12200
@nVitus please reopen this issue if you have more questions.

[2021-01-13 18:52] #12200 closed

[2021-01-13 19:26] tujamg commented on #11849
The workitem in the backlog and will share more updates on the ETA once we have it in the sprint.

[2021-01-13 21:23] lilyjma commented on #9122
Hi, this issue seems to be resolved now, so I'm closing it. If you have more questions, please reopen.

[2021-01-13 21:23] #9122 closed

[2021-01-13 21:49] JaikishanRupani commented on #12007
@Jeroenvos Actually it does support Daily, Monthly and Yearly. Looks like another documentation bug. We will get this fixed.
For example, I tried this -
{
    "type": "ActualCost",
    "dataSet": {
        "granularity": "**Monthly**",
        "aggregation": {
            "totalCost": {
                "name": "Cost",
                "function": "Sum"
            }
        },
        "sorting": [

[2021-01-14 03:18] blueww commented on #12408
@zhenfeng
Would you please help to look at the server and swagger mismatch?

[2021-01-14 07:28] shawnxzq commented on #4862
@JackTn What's do you expect service team to do this? Is it still an issue since it's opened for years, and we know limited on the model validation process.

[2021-01-14 07:50] aim-for-better commented on #3425
@tombuildsstuff could you please give an response of the previous comments? Thanks~

[2021-01-14 10:11] jflieben commented on #11200
+1 same issue here, I used New-AzureADServicePrincipal -AppId "2565bd9d-da50-47d4-8b85-4c97f669dc36" and New-AzureADServicePrincipal -AppId "6ba9a5d4-8456-4118-b521-9c5ca10cdf84" to manually register these SPN's and confirmed they exist in my AzureAD.

Interestingly, if I then run the ARM template again, the SPN 256* gets DELETED automatically and the error "The service principal with appId '2565b

[2021-01-14 12:42] mikhailshilkov opened #12431 "Web: Certificate's PUT endpoint should be marked with 'x-ms-long-running-operation'"
The PUT endpoint for `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}` ([here](https://github.com/Azure/azure-rest-api-specs/blob/d4bad535d456ee82c7fd17d1ec2b8802a0b83205/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/Certificates.json#L147)) returns HTTP status `202` (Accepted) and should therefore be marked as a l

[2021-01-14 19:48] brjohnstmsft commented on #12105
@SamGRosen We're working on enhancing the flexibility of our security mechanism for Azure Cognitive Search, but I don't have specifics to share at this time, other than that it will address your scenario (among others).

For future service feature requests, please use [User Voice](https://feedback.azure.com/forums/263029-azure-search/suggestions/6328646-support-for-enhanced-security-including-secu

[2021-01-14 19:48] #12105 closed

[2021-01-14 23:24] duduz commented on #9122
@lilyjma can you please provide some reference to the solution here?
the arcticle mentioned by @luleonpla is not a solution, there's some parts missing, specifically when provisioned a managed certificate by Azure AD.

[2021-01-15 10:17] jackofallops opened #12447 "Billing: List on AccountsClient returns a JSON String, not an AccountsListPage Object"
As in title, `List` does not return an iterable as documented.

https://github.com/Azure/azure-rest-api-specs/blob/14313ea8bb4807f71b970334262b4e199797a4a1/specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01/billing.json#L56

Example:

<details>
<summary>Response</summary>

[code]

</details>

[2021-01-15 14:27] OptuMatt commented on #11271
I have Azure Support Request, 121010724001695, open for this issue.  Their recommendation is to “manage the resources only with Terraform and one configuration”, which is not possible for me, and in my opinion not a reasonable suggestion.  I, like many others, believe that monolithic things like this should be avoided when possible.

[2021-01-15 19:17] Drewm3 commented on #11313
Updating this to be a bug. I am also following up with Sumit to check on the investigation status.

[2021-01-15 23:19] #12377 closed

[2021-01-18 02:22] yupwei68 commented on #12060
The service team has confirmed that "serviceBusRuleId" is not supported.

[2021-01-18 02:22] #12060 closed

[2021-01-18 03:49] yupwei68 commented on #11236
@blueww The service team (Mgmt and data plan) is fixing this problem. They give me an ETA of March.

[2021-01-18 04:21] yupwei68 opened #12471 "Sql Auditing Storage account falsely returns "Enabled" when auditing with log analytics"
Related to customer incidents.

1. I've created a sql server with sql auditing enabled with log analytics.
![image](https://user-images.githubusercontent.com/56525716/104871764-e6f15f00-5986-11eb-959a-8d8cca983f0a.png)

2. Then I get the sql auditing:
GET /subscriptions/.../resourceGroups/yupsql/providers/Microsoft.Sql/servers/yupsql/extendedAuditingSettings/default?api-version=2017-03-01-preview

[2021-01-18 04:52] blueww commented on #11236
@yupwei68
Thanks for the update!
Then let's wait for the fix.

[2021-01-18 09:03] yupwei68 opened #12473 "Storage Account azureFilesIdentityBasedAuthentication AADDS return unrelated fields"
When we update "azureFilesIdentityBasedAuthentication" to "AADDS " , it returns unrelated fields in "azureFilesIdentityBasedAuthentication" which were previously set. This is different from the previous service action.

1. create a storage account

2. update the storage account with  azureFilesIdentityBasedAuthentication  AD
PATCH /subscriptions/.../resourceGroups/acctestRG-storage-210118163540393

[2021-01-18 17:47] fbuser1 commented on #11061
Any updates?

Same error:

even for 2019-06-01-preview api

[2021-01-19 01:39] blueww commented on #12473
@zfchen95
Would you please help to look at the server issue?
Why "activeDirectoryProperties" is not clean up when we change "directoryServiceOptions" from "AD" to "AADDS"?

@yupwei68
As I remember, per feature team, to change the "directoryServiceOptions" from "AD" to "AADDS", or vice verse, we should first set it to "None", then change to "AD" or "AADDS". If you change it in this way, the   "acti

[2021-01-19 06:37] mikhailshilkov opened #12481 "EdgeOrder doesn't follow the directory structure"
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/edgeorder/resource-manager/Microsoft.EdgeOrder/2020-12-01-preview should be placed inside the `preview` folder, as are other specs in this repository

[2021-01-19 10:15] isshukla opened #12492 ""Azure CDN Rest API" Update call breaking Microsoft Standard CDN caching rule page"
"Azure CDN  Rest API" Update call breaking Microsoft Standard CDN caching rule page

![image](https://user-images.githubusercontent.com/47317576/105020450-52156100-5a6d-11eb-81d4-9b7638cc2dfc.png)

Sometimes it will revert to the correct page, When refresh the page, it will go back to the incorrect page.
Is this expected?

[2021-01-20 03:10] ruowan commented on #12481
https://github.com/Azure/azure-rest-api-specs/pull/12510/files

[2021-01-20 03:12] ruowan commented on #12481
Thanks for feedback. We create a PR to fix it. For this case, we will create a valdiation rule to auto detect this case.

[2021-01-20 03:25] #12481 closed

[2021-01-20 08:00] #2406 closed

[2021-01-20 08:43] mepand commented on #7124
The fix has been released. Since there is no further action pending on the PG side, closing the issue.

[2021-01-20 08:43] #7124 closed

[2021-01-20 08:45] mepand commented on #7268
Fix has been checked in . ETA is 30th Jan

[2021-01-20 12:02] aangelisc commented on #11425
Has there been any progress on getting this in?
@valkyrieuk @otaiga - for reference

[2021-01-20 12:11] aangelisc opened #12516 "Event Hub Private Endpoint Connection - cannot create"
I believe the `v2018-01-01-preview` API is mistaken in defining this request as a create request. Attempting to create a private endpoint connection via this request fails with the following:
[code]

This happens when sending a request to the following endpoint with the following body:
Endpoint - https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/provide

[2021-01-20 12:11] tombuildsstuff commented on #10104
👋 any update here?

[2021-01-21 03:41] magodo commented on #10104
@tombuildsstuff Confirmed with service team, this has been fixed. I've created a PR terraform-providers/terraform-provider-azurerm#10263 for the linked TF issue.

[2021-01-21 06:58] magodo opened #12536 "SecurityInsights DataConnector `DataConnectorDataTypeCommon` enum case"
The [`DataConnectorDataTypeCommon`](https://github.com/Azure/azure-rest-api-specs/blob/12fc49650a48983b68e0c11bd39b4827694e07a5/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json#L6081-L6083) is marked as capitalized in Swagger, however the API returns them in lower case.

Furthermore, if I have a MCAS DC like below:

[code]

[2021-01-21 16:40] anthony-c-martin opened #12550 "Microsoft.RecoveryServices is missing azureresourceschema configuration for API version 2020-02-02"
API version 2020-02-02 was added here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/readme.md

But is missing here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/readme.azureresourceschema.md

[2021-01-22 11:26] akozyr commented on #11764
Hello @tujamg, @adwise3,
Do you have any updates to the issue?

I have a similar question about the not worked `$filter` parameter. I use this doc: https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/list#uri-parameters, but it still describes `$filter`. Could you advise any updated doc on how to apply filtering to a request?

How can we filter by any property that is not related to

[2021-01-22 19:33] avirishuv commented on #11805
Thanks for the suggestion, @pbstrein Marking this as a bug and will circle back with updates.

[2021-01-22 19:42] pvrk commented on #11928
@Agazoth: A gentle reminder to respond

[2021-01-22 20:51] sumit-kalra commented on #11313
@mybayern1974

What you point out is correct - the GET request should return the same value for 'version' as was used in PUT so that a subsequent PUT containing the same data as was obtained in the GET request can be idempotent. We will fix this in the next API revision.

That said, given that Image Builder does not allow PUTs on a pre-existing resource, I would need to know if any specific scenar

[2021-01-22 20:59] Vaibhav-Agar commented on #12247
Hi @thiruma0203,

Thanks for bringing this to our notice. The 'HyperVGenerationType' is a required filed in certain instances. The API documentation update will be published shortly to something like the below to provide clarity:

'_Specifies the HyperVGenerationType of the VirtualMachine created from the image. If the image source is a blob, then we need the user to specify the value. If the sour

[2021-01-23 00:28] jennyhunter-msft commented on #8982
The behavior Hamid shared is the current expected behavior.
However, we will track this as a feature request to update our handling of tags so that the tag name is case sensitive. We don't have a timeline yet for when this will be completed, but we are currently undertaking a larger tag modernization project and will investigate it as part of that effort.

[2021-01-23 01:56] jennyhunter-msft commented on #8982
We don't seem to have any open feature requests for this on UserVoice. If you would like to create a request there to try and gain traction/priority for this work, please visit our [UserVoice](https://feedback.azure.com/forums/281804-azure-resource-manager).

[2021-01-23 01:56] #8982 closed

[2021-01-23 05:41] magodo commented on #11234
@anavinahar I'm afraid the document you provided above doesn't fully apply to LB of basic SKU.

Let me summarize the bahavior of BAP CRUD for different LB skus below:

## LB Basic SKU

|Operation|Inline with LB towards LB endpoint|Dedicated BAP endpoint|
|-|-|-|
|Create|OK|NOK (error, refused)|
|Read|OK|OK|
|Delete|OK|NOK (error, refused)|

## LB Standard SKU

|Operation|Inline with LB towards LB

[2021-01-23 09:04] mikhailshilkov commented on #3610
Any updates on this issue? cc @TamRuas

[2021-01-23 22:52] wangjun-jwa commented on #11805
zoneBalance can only be set if the vmss contains more than one zones in zones property in VMSS. if there is no zones property in template, zoneBalance should not be set.

zones |   | string[] | The virtual machine scale set zones. NOTE: Availability zones can only be set when you create the scale set
-- | -- | -- | --

[2021-01-25 02:16] mybayern1974 commented on #11313
@sumit-kalra thank you for your reply. The being "blocked" implementation is Terraform that relies on service rest api idempotency to reach the resource state management. I understand in rest api, repeatedly executing PUT with the same payload may incur reasonable error messages, while in Terraform, the expectation is nothing will happen with Terraform detecting user unchanged input and service ba

[2021-01-25 02:25] nschonni opened #12600 "typo: LocationNameParamter should be LocationNameParameter"
https://github.com/Azure/azure-rest-api-specs/blob/028312222e05fbca114068577aeba11cc93d99a1/specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/sharedGallery.json#L49

Proposing a temporary suppression in https://github.com/Azure/azure-rest-api-specs/pull/12580, but probably good to fix before it leaves preview

[2021-01-25 02:25] nschonni opened #12601 "typo: ArmTokenParamter should be ArmTokenParameter"
https://github.com/Azure/azure-rest-api-specs/blob/44ec11c74634f1afa5bbe0d3f2678b7f819ebf8e/specification/cognitiveservices/data-plane/LUIS/Authoring/preview/v3.0/LUIS-Authoring.json#L10751

Proposing a temporary suppression in https://github.com/Azure/azure-rest-api-specs/pull/12580, but probably good to fix before it leaves preview

[2021-01-25 05:04] aim-for-better commented on #3425
Customer does not reply the questions for a long time.

[2021-01-25 05:04] #3425 closed

[2021-01-25 18:25] q-uu-rt commented on #9424
Bump. Is there no way to implement this through PR adding the few lines to put the triggerUri as a reponse property? Can understand why theres been no action if its more complicated. Although notice the issue was unassigned so not sure if anyones currently going to action on this. Some closure would be reassuring.

[2021-01-25 22:05] #10898 closed

[2021-01-25 22:05] #5005 closed

[2021-01-25 23:11] ozinus commented on #11129
(~> 2.44.0 ), This is still an issue. Any update on this..? - Thanks.

[2021-01-26 06:24] ruowan commented on #12601
Thanks for your contribution. Service team will take a look.

[2021-01-26 07:47] bcchagas commented on #12078
Hello, again.

We're using Cloud Custodian in our environment to apply some policies and gather resource definitions in json format and it's also being affected by this bug.
Among 21 private AKS clusters, I currently have 2 nodepools that shows wrong count numbers.

I appreciate any feedback on this issue.

[2021-01-26 13:32] mikhailshilkov opened #12648 "Event Hub Namespace: why specify x-ms-client-flatten for Encryption and Identity"
Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json specifies the extension `x-ms-client-flatten` for [`Identity`](https://github.com/Azure/azure-rest-api-specs/blob/03af722477a8ae191de0225cc64fb0acfcf989da/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/namespaces-preview.json#L719) and [`Encryption`](https://github.com/Azure/azure-rest-api-

[2021-01-26 17:41] NivedhaChellam commented on #12352
@manicminer [Backupscheduletype ](https://docs.microsoft.com/en-us/rest/api/sqlvm/sqlvirtualmachines/update#backupscheduletype)needs to be **manual**. Here you are configuring the automated back up with the storage account, back up frequency, schedule, backup start time and with other possible parameters, it needs to be **manual**, its not **automated**.
I noticed that you have used **Weekly** as

[2021-01-26 17:56] manicminer commented on #12352
@NivedhaChellam Thanks, from what I remember, if I specified `backupScheduleType: "Automated"` and omitted the other scheduling parameters, I got a 400 error. Is it not possible to use the Automated schedule type? I'll test this out again shortly just to make sure.

[2021-01-26 17:57] jackofallops opened #12652 "Feature Request: Add API support for upgradePreference to App Service Environments"
As described here:
https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#upgrade-preference

This feature would be useful exposed in the API as an optional property.

[2021-01-26 18:25] NivedhaChellam commented on #12352
@manicminer you can use automated as well, in that case you should not set the configuration parameters. with automated configuration ([Automated Backup](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/backup-restore#automated)) all databases are backed  up to the specified storage account
**Sample json**
[code]

[2021-01-26 21:43] ramaganesan-rg commented on #11764
I will check and have folks respond on this. Thanks!

[2021-01-26 21:54] ramaganesan-rg commented on #11351
we have a backlog item to update the documentation. please feel free to check back with us if you don't see an update in the coming months.  thank you for your feedback.

[2021-01-26 21:54] #11351 closed

[2021-01-26 21:56] #4793 closed

[2021-01-27 14:55] yairgil commented on #3610
Hello @mikhailshilkov, this fix is currently in work. Hope to have it out in the next few weeks.

[2021-01-27 21:53] anthony-c-martin opened #12679 "Microsoft.Network is missing azureresourceschema configuration for API versions 2020-07-01 & 2020-08-01"
API versions 2020-07-01 & 2020-08-01 was added here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/readme.md

But is missing here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/readme.azureresourceschema.md

[2021-01-28 02:12] jsntcy opened #12687 "[OperationalInsights] Error response from service should return as json instead of plain text"
Currently the error response from the service will return with content type `text/plain`, but the correct content type should be json,
 - Here is the Python SDK method: https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/loganalytics/azure-mgmt-loganalytics/azure/mgmt/loganalytics/operations/_data_exports_operations.py#L185
 - Here is the swagger operation: https://github.com/Azure/azure

[2021-01-28 05:08] MehaKaushik commented on #11222
Just to update the fix will be released as a part of our upcoming apiVersion 2020-01-15

[2021-01-28 12:32] codexponent commented on #7602
@jsmartt is right. You need strict encoding. I will provide a python sample code to encode the data or scripts.

[code]

[2021-01-28 14:41] yairgil commented on #11766
@anthony-c-martin Thank you for reaching out. Internal bug 9225428 is opened against this ticket, will update once it's fixed.

[2021-01-28 14:42] #11766 closed

[2021-01-28 16:11] anthony-c-martin commented on #11766
Sure. I've opened https://github.com/Azure/azure-resource-manager-schemas/issues/1480 to track the impact on ARM schemas.

[2021-01-28 20:44] LukeSlev opened #12712 "Copy paste error in SystemData Type documentation"
When adding SystemData to our new api I came across what seems like a copy paste error for one of the properties of SystemData https://github.com/Azure/azure-rest-api-specs/blob/7dddc4bf1e402b6e6737c132ecf05b74e2b53b08/specification/common-types/resource-management/v2/types.json#L494

According to this doc https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md

[2021-01-28 23:39] amishra-dev commented on #5520
please reactivate if you have futher questions, i see that the docs have been updated with more details.

[2021-01-28 23:39] #5520 closed

[2021-01-28 23:45] amishra-dev commented on #9144
Hi @m81092 (Manpreet), do you still need help with this?

[2021-01-29 02:58] njuCZ opened #12721 "security RP IotSecuritySolution resource should return the same case as input for proerpty `workspace` and `iothubs`"
RP: secuirty
resource: IotSecuritySolution
api-version: 2019-08-01

issue: create IotSecuritySolution with "property.workspace" and "property.iotHubs" set, after created successfully, we get this resource and found the value of both fields become small case

[2021-01-29 09:29] zhenglaizhang commented on #12419
Hi @tombuildsstuff sorry I missed handling this issue, thanks for raising this, it looks like a very interesting topic, already looping authorization team.

[2021-01-29 09:33] zhenglaizhang commented on #12473
Hi @yupwei68 @zfchen95 any update for this thanks!

[2021-01-29 19:16] amjads1 commented on #12600
@olayemio Can you please look into this issue?

[2021-01-29 19:26] TimLovellSmith opened #12733 "Identity enum in v2 common types - only has SystemAssigned? What to do about UserAssigned?"
Today the ResourceIdentityType 'string enum' in CommonTypes doesn't have 'UserAssigned' as a valid enum value. Or the combination 'UserAssigned, SystemAssigned'. The tricky bit as I see it is that many services would probably like it to define the other values with 'UserAssigned' also, and then they can't really do that by referencing 'Identity' in commonTypes - or can they?

(And if they *were* a

[2021-01-29 19:30] olayemio commented on #12600
This is a typo that will be fixed by the team. Changes should be reflected by Feb 26.

[2021-01-29 19:50] nschonni commented on #12600
👍 if the suppression PR lands before you fix, you can clean out the entry when it's fixed 😉

[2021-01-29 20:34] sebansal commented on #11962
@heaths i created this PR, can you point me to where the description need to be updated
https://github.com/Azure/azure-rest-api-specs/pull/10783

[2021-01-29 20:55] sigmer opened #12735 "Azure VMware Solution: Missing provisioningState enum for Addon resource"
The vmware.json swagger spec for the vmware resource provider seems to have incorrect or incomplete enum values for provisioningState for the Addon resource in the `2020-07-17-preview` version.

Immediately after creating a new addon, the `provisioningState` returned from the api is `Building` but that is not a valid state according to the spec:
[code]
cc @ctaggart

[2021-01-30 00:39] heaths commented on #11962
Related to what was [commented](https://github.com/Azure/azure-rest-api-specs/pull/10783/files#r495469109), this isn't a pure documentation issue. I mean that the `basic_constraint` property is not defined in swagger (ergo, not documented). This needs to be a property model definition in _certificates.json_ and referenced by a certificate model. That [PR](https://github.com/Azure/azure-rest-api-sp

[2021-01-30 13:03] eduanb commented on #11402
This issue is still present. Please don't close.

[2021-02-01 01:47] yupwei68 commented on #12473
@zhenglaizhang I've taken the workaround the first set it to "None", before changing the "directoryServiceOptions"

[2021-02-01 10:56] lebenitza commented on #9571
Ended up here because of a similar issue and I just want to note this: in what messed up world is okay to release something which is "still in development" to the clients?

[2021-02-01 15:33] tombuildsstuff opened #12759 "Recovery Services API 2018-07-10 returns 400 rather than 404 when a Site Recovery Fabric cannot be found"
Upon upgrading from API version 2018-01-10 to API version 2018-07-10 - we've noticed that the Site Recovery Fabric API returns a 400, rather than a 404 when a Fabric does not exist, for example:

Can this API be fixed to match the Swagger definition and most the convention amongst API's here?

Thanks!

[2021-02-01 21:34] sumit-kalra commented on #11313
Thanks @mybayern1974 for sharing your scenario.
We have taken a note of this discrepancy and will revisit it when creating the next API version.

[2021-02-01 21:46] pbstrein commented on #11805
@wangjun-jwa

I would argue that it leads to a poor API consumption experience. To force the API consumer to specify a property based on the existence of another property requires API consumers to have programmatic checking of how many zones are given to a scale set. Since the number of zones is dynamic (varies based on the region and the VM SKU) it may not always be consistent.

It makes more sen

[2021-02-02 01:43] yupwei68 opened #12768 "Monitor LogProfile `Location` and `Tags` can not be set"
I try to set `location` and `tags` to monitor logprofile, but it fails. Are they supported?

1. In creating a log profile, the response is with `location` and `tags`
PUT /subscriptions/.../providers/microsoft.insights/logprofiles/acctestlp-210201170932624026?api-version=2016-03-01 HTTP/1.1
{"location":"westeurope","properties":{"storageAccountId":"/subscriptions/.../resourceGroups/acctestRG-210201

[2021-02-02 05:06] Sharmistha-Rai commented on #12759
Hi @tombuildsstuff - thank you for bringing this to our attention. This looks like a bug. Let me check this with our team and confirm.

[2021-02-02 08:02] chenjianfei2017 opened #12781 "define a empty enum in RP: adhybridhealthservice"
I find some definitions like:
[code]
It is not a valid swagger schema if enum is empty.

[2021-02-02 08:59] ambarish2809 opened #12782 "'Blob Batch' API-operation returns generic 'One of the request inputs is not valid' error"
We are trying to perform Blob Batch operation for delete operation using REST API.  We receive a '202 Accepted' as the main response for the POST request, but a '400 One of the request inputs is not valid' as the batch response for the Delete sub-requests.

**Note**: We are able to perform the Blob Batch operation using the .NET SDK following the document https://docs.microsoft.com/en-us/dotnet/ap

[2021-02-02 11:40] tombuildsstuff commented on #12759
Actually it appears this is also broken in `2018-01-10` too, so it appears that both API's are affected.

[2021-02-02 13:06] Simran-B commented on #7315
This is still not fully resolved. If you open a pull request, there's a popup that link to [CONTRIBUTING.md](https://github.com/Azure/azure-rest-api-specs/blob/f91563c5e70d994d314ca828594543bb636acbe4/.github/CONTRIBUTING.md) (contributing guidelines):

![image](https://user-images.githubusercontent.com/7819991/106603490-a2f18300-655e-11eb-9c82-548acef167ef.png)

That document looks like this:

![

[2021-02-02 21:46] mganeshphani commented on #3610
wow what took so long to address this?
I even forgot what I was looking this for, lol.

[2021-02-03 09:51] yossi-y commented on #9072
I suggest to close this case since progression is expected in data collection rules (https://docs.microsoft.com/azure/azure-monitor/platform/data-collection-rule-overview) and not in the APIs reported in this case.

Data collection rules is the new way to collect logs, transform it and send to selected destinations.

[2021-02-03 17:50] tasherif-msft commented on #8947
Hi @toraritte, in most cases our services will support the most released version. In some rare instances do you need to set a previous api version. This happens due to delays in some of our rollouts. We can document this and recommend users to set api_version if this issue is encountered.

[2021-02-03 18:41] #8947 closed

[2021-02-03 20:55] manicminer opened #12818 "SQL VM: auto backups intermittently not configured"
Creating a new SQL VM with auto backups enabled:

[code]
[code]

**201 Response**
[code]

After polling for a few minutes, is completed:

[code]
**200 OK**
[code]

However, auto backups are not enabled as requested:

[code]
[code]

Note `autoBackupSettings: {}`. This happens intermittently, not on every request.

[2021-02-03 20:56] manicminer commented on #12352
@NivedhaChellam Thanks for the guidance! With trial and error I've been able to enable auto backups, although occasionally it fails to be configured. I'll close this issue as I've opened up a new issue #12818 for that.

[2021-02-03 20:56] #12352 closed

[2021-02-03 22:13] nichatur opened #12820 "Error Message does not propagate correctly for CosmosDB API Version 2020-06-01-preview"
The SDKs for CosmosDB API Version 2020-06-01-preview do not show the correct underlying error message unless the customer uses a -Debug flag. Instead a generic error message is shown.

![image](https://user-images.githubusercontent.com/69816349/106816202-e2d16c80-6629-11eb-908b-4dbd60b55139.png)

Error Message expected (after using Debug flag)
![image](https://user-images.githubusercontent.com/698

[2021-02-04 01:20] PhoenixHe-msft commented on #12781
@chenjianfei2017 Which service?

[2021-02-04 02:06] manicminer commented on #12818
This actually seems to be a consistency related delay. After several minutes the correct `autoBackupSettings` are reflected in the response. This happens whether `autoBackupSettings` is specified at resource create time, or when updating an existing resource.

[2021-02-04 02:11] chenjianfei2017 commented on #12781
rp: "adhybridhealthservice " in title

[2021-02-04 03:28] jiasli opened #12828 "Virtual Network operations return 200 with Azure-AsyncOperation"
The REST spec says `200` is returned for "Update successful":

https://github.com/Azure/azure-rest-api-specs/blob/494de57a286ed23d6f7ff7251b79db96dafa6f05/specification/network/resource-manager/Microsoft.Network/stable/2020-07-01/virtualNetwork.json#L191-L197

Public doc: https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworks/createorupdate#response

When I am updating the `virtu

[2021-02-04 06:03] Abhishek-P opened #12838 "Unable to Sign Marketplace Agreement Terms with the sign API"
https://docs.microsoft.com/en-us/rest/api/marketplaceordering/marketplaceagreements/sign
When I try to sign terms for private offer with the above API I get -
`{
    "error": {
        "code": "BadRequest",
        "message": "You must accept the legal terms through the Azure portal (http://go.microsoft.com/fwlink/?LinkId=534873). Correlation Id: 'ea461491-00bf-429b-93ae-ec920effdd48'."
    }
}`

[2021-02-04 08:30] aim-for-better commented on #6724
These issue cannot been fixed due to breaking change policy.

[2021-02-04 08:30] #6724 closed

[2021-02-04 08:30] aim-for-better commented on #10109
The issues cannot been fixed due to breaking change policy.

[2021-02-04 08:30] #10109 closed

[2021-02-04 08:59] vladimirjoanovic commented on #11711
2020-10-01 should be working for deployments and deploymentScripts which resource type were you trying to create?

[2021-02-04 09:16] mikhailshilkov commented on #11711
I was trying to create resource groups. I believe this has been fixed since November.

[2021-02-04 10:15] WillooWisp commented on #12104
Any progress with this issue? When can we expect the API to be fixed?

[2021-02-04 12:10] leni-msft commented on #12679
Hi Anthony, I created PR to update all schema files: https://github.com/Azure/azure-rest-api-specs/pull/12853

[2021-02-04 18:37] zfchen95 commented on #11376
This should be fixed now.

[2021-02-04 18:55] olayemio commented on #10707
The API now shows the following error message: "The version name should follow Major(int).Minor(int).Patch(int) format, where int is between 0 and 2,147,483,647 (inclusive)"

We are working with the Portal team on the portal input parameter to highlight when a customer enters a value outside the range. Current ETA to accomplish this is end of March.

[2021-02-04 19:34] avirishuv commented on #11969
hi @tonytangau As I mentioned, this feature is in the backlog for VMSS. I am moving this feature ask to user voice and closing this issue. Feel free to add any comments in user voice and/or add a vote: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/42627139-provide-rest-api-for-vmss-to-use-health-probe-from

Thanks again for bringing this up. If you have additional questions

[2021-02-04 19:34] #11969 closed

[2021-02-05 01:45] yupwei68 commented on #11376
Thanks

[2021-02-05 01:45] #11376 closed

[2021-02-05 01:58] manicminer commented on #12818
Another error. After enabling auto backups and waiting for the setting to propagate for several minutes, if you try to disable auto backups, e.g.

[code]

The request is accepted and after around 6 minutes, polling the operation results returns the following error:

[code]

[2021-02-05 03:07] zhenglaizhang commented on #12104
ping @AzureAppServiceCLI, @antcp

[2021-02-05 03:25] yupwei68 commented on #9847
Fixed

[2021-02-05 03:25] #9847 closed

[2021-02-05 03:25] #11188 closed

[2021-02-05 03:26] yupwei68 commented on #12092
They're not supported from service

[2021-02-05 03:26] #12092 closed

[2021-02-05 06:53] yupwei68 opened #12873 "Postgresql can not set "SystemAssigned Identity" when "createMode" is "Replica""
Related to customer issue https://github.com/terraform-providers/terraform-provider-azurerm/issues/10480
1. create postgresql with "createMode" is "Replica", "Identity" is "SystemAssigned":
PUT /subscriptions/.../resourceGroups/my-pg-resources/providers/Microsoft.DBForPostgreSQL/servers/my-pg-resources-reader?api-version=2017-12-01 HTTP/1.1

 {"identity":{"type":"SystemAssigned"},"location":"eastu

[2021-02-05 07:44] aim-for-better commented on #6505
on going

[2021-02-05 07:44] aim-for-better commented on #10667
on going

[2021-02-05 09:29] tombuildsstuff commented on #10037
@rachel-msft is there any update on getting this fixed? If the value's returned in the `allowedValues` then it should be possible to submit it. Whilst I can appreciate that means the transitions between these states may be more involved, presumably disabling read replicas could stop any additional nodes to handle this transition?

[2021-02-05 16:08] jgreat commented on #12873
Related to this is the `"publicNetworkAccess":"Disabled"` is accepted by the API but not applied. https://github.com/terraform-providers/terraform-provider-azurerm/issues/10293

I can open up another issue if needed.

[2021-02-05 18:48] #9462 closed

[2021-02-05 19:11] ctaggart commented on #12735
I added it to the 2021-01-01-preview API in #12762.

[2021-02-05 19:11] #12735 closed

[2021-02-05 23:17] heaths opened #12880 "ARM template schema needs to be updated with Key Vault control plane swaggers"
The ARM template used by the VSCode extension for authoring templates (as well as used by the Portal's "Export template" functionality) has very old Key Vault schemas from 2016: 2016-10-01. Please see <https://github.com/Azure/azure-resource-manager-schemas#authoring-schemas-and-submitting-a-pr> for how to update them so we get schema-based assistance for authoring templates, as well as validation

[2021-02-06 01:27] ctaggart commented on #12408
@zfchen95, it has been 24 days. since this was reported. Any update?

[2021-02-07 00:32] #12820 closed

[2021-02-07 09:45] shawnxzq commented on #4862
Close it for now since no one follow up on this.

[2021-02-07 09:45] #4862 closed

[2021-02-07 19:05] UnoSD opened #12889 "Web Apps - List Function Keys Version: 2019-08-01 definition inconsistent with response"
Testing the REST API with:

`az rest --method post --url https://management.azure.com/subscriptions/subId/resourceGroups/resourcegroupname/providers/Microsoft.Web/sites/sitename/functions/functionname/listkeys?api-version=2019-08-01`

returns the following JSON:

[code]

seems to be inconsistent with the definition in this repository (and the documentation on docs.microsoft.com) as it should retur

[2021-02-07 19:14] mikhailshilkov commented on #12889
I think this is the same as https://github.com/Azure/azure-rest-api-specs/issues/11401

[2021-02-07 19:20] mikhailshilkov commented on #11634
It's been a while since I reported this and the version has been deployed since then. Although this fact isn't nice, there's nothing to be done here specifically.

[2021-02-07 19:20] #11634 closed

[2021-02-07 19:20] mikhailshilkov commented on #11711
It's been a while since I reported this and the version has been deployed since then. Although this fact isn't nice, there's nothing to be done here specifically.

[2021-02-07 19:20] #11711 closed

[2021-02-07 19:20] mikhailshilkov commented on #12005
It's been a while since I reported this and the version has been deployed since then. Although this fact isn't nice, there's nothing to be done here specifically.

[2021-02-07 19:20] #12005 closed

[2021-02-07 21:54] nschonni commented on #4862
@shawnxzq I'm not sure if this is happening still, but I don't thing I follow the logic of closing this because the one person you pinged on the MS side didn't respond

[2021-02-08 01:16] raych1 commented on #12889
Closed this issue as it's duplicated to [#11401](https://github.com/Azure/azure-rest-api-specs/issues/11401)

[2021-02-08 01:16] #12889 closed

[2021-02-08 07:15] tombuildsstuff commented on #9072
@yossi-y that there's a new method available is great and all, but what about users of the existing functionality? To be honest it feels like this functionality isn't intended to be used outside of the Portal - whilst I appreciate it'd take time to document this functionality - if it's not documented how are users supposed to use it?

[2021-02-08 08:55] mikhailshilkov commented on #11401
I think this also break Azure's own SDK's. E.g. the .NET SDK is generated from the same API spec, and it seems to face the same problem. The method returns a `StringDictionary`:

[code]

while [`StringDictionary`](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/websites/Microsoft.Azure.Management.WebSites/src/Generated/Models/StringDictionary.cs) does not match the over-the-wire shape:

[2021-02-08 11:54] yossi-y commented on #9072
In my reply [earlier](https://github.com/Azure/azure-rest-api-specs/issues/9072#issuecomment-736712649), I explained that we aren't adding swaggers for data sources due to constraint and the complication involved. I also mentioned the availability of examples that can help you get started with common data sources. Although this isn't a solution, it could use as mitigation for common cases until th

[2021-02-08 12:17] tombuildsstuff commented on #9072
@yossi-y so if there's no plans to support this going forward, is there a deprecation notice for these Data Sources/this Service?

cc @JeffreyRichter for info - this is a great example for the ARM Team

[2021-02-08 13:23] emontgomerydae opened #12898 "Undocumented deployment operationStatuses API"
Hello,
I have found an existing API that is undocumented and so would like to get help having it added.

To replicate / identify the API call(s), I performed the following az cli command:
az vm create -n MyVm -g MyResourceGroup --image UbuntuLTS --location eastus --generate-ssh-keys

A deployment is created/updated with this call:
https://github.com/Azure/azure-rest-api-specs/blob/master/specifica

[2021-02-08 13:30] yossi-y commented on #9072
No, There is no retirement of the data sources APIs or the support for these. The only gap is the swaggers. Adding swaggers for these require major investment considering their structure and with the upcoming new data collection method, we were forced to prioritize unfortunately and this work isn't planned currently.

[2021-02-08 17:47] tombuildsstuff commented on #9072
So if these aren’t deprecated and will continue to be supported going forward, can we get this issue re-opened to keep track of this issue? Whilst I appreciate it’s work to maintain the Swagger files, this is a usability issue, if a service isn’t usable (via native types) in the Azure SDK’s - it’s not really intended to be used? As such this functionality should either be documented (which I can a

[2021-02-08 18:48] anuchandy opened #12902 "[TA] Fix pretty check and resolve spell check for swagger version v3.1-preview.4"
The swagger specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json reported by PrettyCheck and SpellCheck.

Follow the steps documented below to resolve them:

https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/ci-fix.md#prettier-check
https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/ci-fix.md#spell-check

[2021-02-08 19:49] wangjun-jwa commented on #11805
This is the align with other experience like zones property. customer cannot set zones if a region doesn't support it.

[2021-02-08 22:49] ctufts commented on #12902
This PR is not necessary. We have resolved all of these in the dev branch PR against master.

[2021-02-09 10:16] yashmuel commented on #10973
Can you provide more details on this issue? steps to reproduce?
my alias is yashmuel, you can also try me on teams. thanks!

[2021-02-09 10:17] yashmuel commented on #10973
@neil-yechenwei  Can you provide more details on this issue? steps to reproduce?
my alias is yashmuel, you can also try me on teams. thanks!

[2021-02-09 11:38] yashmuel commented on #4954
@zechariahks you have to use:
GET https://management.azure.com/subscriptions/14ddf0c5-77c5-4b53-84f6-e1fa43ad68f7/resourceGroups/gigtest1/providers/Microsoft.Insights/metricAlerts?api-version=2018-03-01

without the MetricAlertAtResourceGroupLevel. the MetricAlertAtResourceGroupLevel is just a name of alert rule in our example file which i guess could be confusing. let me know if you managed.

[2021-02-09 11:42] yashmuel commented on #5065
@tjprescott this issue has been closed (Azure/azure-cli#8223)
can we close the current as well?

[2021-02-09 16:23] shibayan opened #12915 "Missing customHttpsParameters property in Azure CDN REST API"
CustomDomains response definition does not include `customHttpsParameters` in latest api version. When you run the REST API, the following is actually included.

[code]

[2021-02-10 02:50] akning-ms commented on #4073
All ARM related common definition already in specification\common-types\resource-management\v2\types.json
so close this issue

[2021-02-10 02:50] #4073 closed

[2021-02-10 04:04] ericshape commented on #9640
they have been resolve in 2020-08-01-preview and later version.

[2021-02-10 04:04] #9640 closed

[2021-02-10 04:08] ericshape commented on #6814
@nschonni
thanks for your feedback!
we have fixed this issue in https://github.com/Azure/azure-rest-api-specs/blob/56a09bdef2f81383fae1716f2539fffc626c9d4b/specification/sql/resource-manager/Microsoft.Sql/preview/2020-08-01-preview/ServerDnsAliases.json#L231-L287

if you have any questions about SQL DB, please add SQL tag in your question :)

[2021-02-10 04:08] #6814 closed

[2021-02-10 04:13] ericshape commented on #10715
@neil-yechenwei
thanks for the feedback!
I have fixed this issue in Azure SQL DB internal codebase in September 2020. It should be deployed. Please try again to see whether it works! if it cannot work, please reopen this issue and tag me. I will debug and resolve it.
Thanks!

[2021-02-10 04:13] #10715 closed

[2021-02-10 04:18] ericshape commented on #9557
Hi! @wely Thanks for your feedback!
for the MSFT internal user, please directly create a Sev 3 IcM CRI to unblock you from any SQL DB issue. Github issues are not monitored for a long time.
I will close this issue.

[2021-02-10 04:18] #9557 closed

[2021-02-10 04:22] ericshape commented on #10112
Hi @bosh-ms, Thanks for your feedback!
are you an internal MSFT user? If so, can you raise sev 3 CRI to unblock you from any Azure SQL DB issue? Github issues are not monitored for a long time.
I will close this issue 'cause it is raised 7 months ago.

[2021-02-10 04:22] #10112 closed

[2021-02-10 04:52] ericshape commented on #9762
@magodo Thanks for your feedback!
for MSFT internal user, please raise one IcM sev 3 CRI ticket to unblock if necessary.
I will close this issue because the expert @ayeletshpigelman  has provided the answer.

[2021-02-10 04:52] #9762 closed

[2021-02-10 05:27] ericshape commented on #12471
@yupwei68 Thanks for your feedback!
As an internal MSFT user, please raise one Sev 3 CRI to unblock Azure SQL DB issues. The github issues are monitored in a low freq.
This one is from the blob auditing component. You can assign your CRI to Azure SQL DB: Data Classification, Auditing & DDM.
@eswatad @bashahee might helps on it.

[2021-02-10 05:30] yupwei68 commented on #12471
Thanks @ericshape ,I've got replies from service team, "state" means sql auditing is enabled with storage account or Azure Monitor. And "isAzureMonitorTargetEnabled" means sql auditing is enabled with Azure Monitor. We've solve it by the enhancement of sql auditing to Azure Monitor.

[2021-02-10 05:30] #12471 closed

[2021-02-10 05:52] neil-yechenwei commented on #10973
Thanks yashmuel. After verified, seems the issue has been fixed. So I intend to close this task. If the issue occurs again, I will reopen it.

[2021-02-10 05:52] #10973 closed

[2021-02-10 20:31] tjprescott commented on #5065
@yashmuel, based on the discussion in the CLI issue, it seems this has been fixed, perhaps on the service end. You should be good to close this.

[2021-02-10 21:00] sewillia-msft opened #12945 "Microsoft.Automation/schedules: Ambiguous type for "interval" parameter"
The ARM API specs for `Microsoft.Automation/schedules` do not specify a type for the `interval` property. This causes the Azure documentation (and other tooling, like the VSCode extension) to assume an `object` type.

However, looking at the [quickstart templates](https://docs.microsoft.com/en-us/azure/templates/microsoft.automation/automationaccounts/schedules#quickstart-templates) using this typ

[2021-02-11 00:18] TimLovellSmith commented on #12898
@Xynoclafe I expect that should be documented in resources.json, along with 'deployments' type?

[2021-02-11 12:41] Sharmistha-Rai commented on #12759
@tombuildsstuff

We use the Resource ID, that you have also passed, to check for Fabric's existence. But it seems like the registration for the resource ID that you're passing is missing. As the registration is missing, we are not able to fetch the fabric itself and it was never checked.

So, this 400 response which you received is for the missing registration. If the fabric is missing, then we co

[2021-02-11 14:22] matthieume opened #12953 ""Microsoft.DBforMariaDB/servers" invalid ServerVersion enum definition"
Hello,

On all version of the specification file :
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/mariadb.json
The server version definition use "5.6" and "5.7" as enum valid options (this is the case for Mysql), but for MariaDB server version option in Azure are : "10.3" or "10.2".

    "ServerVers

[2021-02-11 14:45] tombuildsstuff commented on #12759
@Sharmistha-Rai if a resource doesn't exist (which in this case a missing registration for this resource against the Recovery Service Fabric would indicate) - then the ARM spec expects this to be a 404. This is the same when accessing children of parent items - if the parent doesn't exist then child endpoints/routes must return a 404.

Whilst I can appreciate a 400 could be returned were this part

[2021-02-11 16:56] yashmuel commented on #5065
Thanks, closing.

[2021-02-11 16:56] #5065 closed

[2021-02-11 17:00] brrusino opened #12955 "Rest API Spec PR pipeline seeing Nuget Security Analysis failures"
We have an[ active PR](https://github.com/Azure/azure-rest-api-specs-pr/pull/2906) that was previously passing all pipeline checks which, after changing a single maxLength value, is now failing in the pipeline with Nuget Security Analysis failures that seem to be blocking the checks from running:
[Pipeline Logs](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=731945&view=results)

[2021-02-12 01:22] #11222 closed

[2021-02-12 06:27] jhauray commented on #9906
I agree With @ricohomewood, the issue seems not to be fixed. Why it has been closed ?

[2021-02-12 15:07] anthony-c-martin opened #12974 "Missing readonly `inboundIpAddress` property from Microsoft.Web/sites type definitions"
If I perform a GET on a resource of type Microsoft.Web/sites with API version 2018-11-01, the response includes a property named `inboundIpAddress` under the resource "properties" field:

[code]

This property has not been declared anywhere in any of the Microsoft.Web specs. I assume there are other similar properties which have not been modeled, and that this issue is present in many of the diffe

[2021-02-12 16:51] brunhil opened #12976 "Media Services API 2020-05-01 returns 400 rather than 404 when a private endpoint connection cannot be found"
Hi there, it appears the Media Services API returns a 400 instead of a 404 when a PrivateEndpointConnection does not exist.

Can this be fixed?

Thanks!

[2021-02-13 01:23] riserrad commented on #9194
Hi @jiasli - following up with you on this issue. Do we still have issues from your point of view? If so, can you please enumerate them?

[2021-02-13 02:07] ericshape commented on #12016
@mikhailshilkov Thanks for your feedback!
2014-04-01 is a version we are starting to deprecating. We are rolling out a 2020-02-02-stable in the coming months.
Please use 2020-02-02-preview or a later version in your service. Thanks!

[2021-02-13 12:29] akning-ms commented on #12955
Looks some bug for unified pipeline. @zhenglaizhang

[2021-02-13 21:46] akucer commented on #12976
@brunhil - This is result of private endpoint implementation not being completed yet for Azure Media Services. We are tracking towards having implementation complete in first half of this year.

[2021-02-14 07:30] Oleza1972 commented on #9575
Unfortunately we no longer have logs for this to investigate it.

From my experience server returns such error if, for example, predicate_expression or audit_actions_and_groups fields of the extended policy object have invalid format\values.

[2021-02-14 07:30] #9575 closed

[2021-02-14 07:30] talhers commented on #12380
Hi,
SQL VA supports storage authentication using the server's managed identity (that is granted permissions on the storage).
If your storage is behind a firewall then keys will not work.

To set VA to use a managed identity, you will first have to first set a managed identity on the server, give it permissions on the storage (Storage Blob Contributor), and then set VA to use a managed identity by

[2021-02-14 07:30] #12380 closed

[2021-02-15 02:25] akning-ms commented on #12679
issue fixed in above PR #12853, so closed this issue

[2021-02-15 02:25] #12679 closed

[2021-02-15 13:49] Krishna-chinthireddy opened #12990 "How to fetch User role in specific Subscription based on the user mail id"
HI,

How to check the users role(owner, reader) in that specific azure subscription by using user mail id has parameter in azure rest apis?

is there any api to get the data has mentioned above? (or) is there any api to fetch total users list with user roles in that specific subscription ?

[2021-02-16 16:55] azMantas commented on #10234
I am also fighting with the issue and not able to deploy AAD login extension for Win with ARM template. Event thought I am using the same image and copy all extension settings from resources.portal.com. All good with Linux vm's. Any upadtes ?

[2021-02-16 17:40] brrusino commented on #12955
@zhenglaizhang Are there any updates on this? I tried kicking off another build this morning and it results in this same issue.

[2021-02-17 08:44] mikhailshilkov commented on #10082
@jlichwa Will you fix that in newer API versions?

[2021-02-17 08:47] mikhailshilkov commented on #10943
@sebansal But this value is marked as `modelAsString: false` which means client SDKs model it as enums of the incorrect casing. This leads to problems like https://github.com/pulumi/pulumi-azure-nextgen/issues/294 where spurious diffs are shown because of casing mismatch in API request vs. response.

Why not change the swagger to match the API behavior, at least in newer API versions?

[2021-02-17 14:41] JasonWhall opened #13011 "RecordSet TTL is a required property"
When submitting a request to create a Recordset, the TTL property is not well handled as it is a mandatory property. This returns a generic error message when submitting to the API without this field:

[code]

Ideally the property should be auto-populated with the default value (usually `3600`), made mandatory somehow, or to return a more useful message upon failure.

This affects downstream packa

[2021-02-17 14:57] val3r10 commented on #11200
+1 This is really necessary for us

[2021-02-17 17:25] jlichwa commented on #10943
@mikhailshilkov  "SDKs model it as enums of the incorrect casing" - any case is allowed, so not sure how it will model it as incorrect. We want SDK to model that as enum, so it is easier for customer to pass value to our service.

[2021-02-17 18:29] mikhailshilkov commented on #10943
I guess my point is that the Open API spec does not reflect the service behavior. At least, it looks wrong to me to receive "Standard" from the service when the API describes the strict enum in a different casing.

Where in the Open API spec is this specified?

[2021-02-18 01:42] yupwei68 commented on #11200
The service team has replied this should follow the steps as powershell script https://docs.microsoft.com/en-us/azure/active-directory-domain-services/powershell-create-instance#create-required-azure-ad-resources . Please have a try

[2021-02-18 02:32] zhenglaizhang commented on #12955
@brrusino we have fix this in master branch, please rebase from master to update your pipeline definition.

[2021-02-18 04:04] magodo commented on #9906
@TamRuas Would you please double confirm whether this is fixed? If not, please reopen this issue to track it. Thanks!

[2021-02-18 06:06] savjani commented on #12953
Thanks @matthieume for reporting this. It is a bug in our end and we will fix it in next iteration (ETA for fix < 1 month)

[2021-02-18 20:48] Vaibhav-Agar commented on #12247
A PR has been created and just waiting for a sign-off before the changes can be published.

[2021-02-19 05:27] zhenglaizhang commented on #12955
Hi @brrusino it looks like your issue is resolved and the PR is merged, I will close this PR.

[2021-02-19 05:27] #12955 closed

[2021-02-19 08:32] neil-yechenwei commented on #9947
Hi @mhoeger, per the [comment](https://github.com/Azure/azure-functions-host/issues/7094#issuecomment-767101223), seems you're working on the similar issue. If it's the similar issue, may I ask is there any ETA to support/fix it? Thanks in advance.

[2021-02-19 12:54] aangelisc commented on #12516
Is there any update on this? Trying to update an endpoint using the REST API also fails with the following:

`{
    "error": {
        "code": "NoRegisteredProviderFound",
        "message": "No registered resource provider found for location 'uksouth' and API version '2018-01-01-preview'' for type 'namespaces/privateEndpointConnections'. The supported api-versions are '2018-01-01-preview'. The su

[2021-02-20 04:39] PhoenixHe-msft commented on #12247
@Vaibhav-Agar Please send PR targeting this repo (not your own repo)

[2021-02-20 06:38] leni-msft commented on #12516
@cesarme @arundsouza @sjkwak would you be able to take a look at the issue?

[2021-02-21 06:40] amchandn commented on #12550
@jianyexi - I can see version 2020-02-02 present at https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/readme.azureresourceschema.md
but not 2020-10-01...
Can you please help me understand the issue here (is it really 2020-02-02)?

[2021-02-21 06:48] amchandn commented on #12550
@anthony-c-martin - I can see version 2020-02-02 present at https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/readme.azureresourceschema.md
but not 2020-10-01...
Can you please help me understand the issue here (is it really 2020-02-02)?

[2021-02-21 22:44] anthony-c-martin commented on #12550
Looks like this was fixed with #12853 - closing.

[2021-02-21 22:44] #12550 closed

[2021-02-22 05:51] amchandn commented on #12550
@anthony-c-martin , I have 1 concern though -
API version 2020-10-01 was added here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/readme.md

But is missing here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/readme.azureresourceschema.md

Should I add 2020-10-01 in readme.azurer

[2021-02-22 06:28] JackTn opened #13086 "test"
test for label?

[2021-02-22 06:28] #13086 closed

[2021-02-22 07:26] akning-ms commented on #12953
fixed in PR13031.

[2021-02-22 07:26] #12953 closed

[2021-02-22 12:03] anthony-c-martin commented on #12550
@amchandn - yes, maintaining both `readme.md` and `readme.azureresourceschema.md` is required going forwards.

I see 2020-10-01 was added after @leni-msft's commit. Let me know if you'd like me to raise a separate issue for that.

[2021-02-22 12:47] anthony-c-martin opened #13092 "Microsoft.Logic/workflows @2019-05-01 is missing "identity" property from resource body"
The Microsoft.Logic/workflows resource supports "identity", but it has not been declared in the swagger:

https://github.com/Azure/azure-rest-api-specs/blob/46748d2684b430f1286fda139eaedbbbcc73e924/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L6463-L6478

This same issue may exist in other API versions. Initially reported here: https://github.com/Azure/bicep/is

[2021-02-22 12:49] anthony-c-martin commented on #13092
Closing as this is a duplicate of #11986

[2021-02-22 12:49] #13092 closed

[2021-02-22 13:20] amchandn commented on #12550
Yeah, could you please raise an issue for adding 2020-10-01? Meanwhile, I'll start working on the fix for the same

[2021-02-22 13:37] anthony-c-martin opened #13093 "Microsoft.RecoveryServices is missing azureresourceschema configuration for API version 2020-10-01"
Originally reported under #12550 - should require a similar fix.

[2021-02-22 13:40] anthony-c-martin commented on #12550
Thanks! I've raised #13093

[2021-02-22 19:32] amchandn commented on #13093
Raised following PR to address this issue
https://github.com/Azure/azure-rest-api-specs/pull/13096

@anthony-c-martin , could you please review?

[2021-02-22 23:12] james-bjss commented on #9262
I believe the confusion stems from the fact that logging is configured differently between Linux and Windows Containers.

According to Microsoft documentation **Windows** containers support both logging to Blob Storage **AND** File System storage.
If **File System** storage is enabled on a Windows container it is disabled automatically after 12 Hours.

On a **Linux** container **only** **File Syst

[2021-02-23 01:45] #13093 closed

[2021-02-23 03:15] #12016 closed

[2021-02-23 07:08] yupwei68 opened #13107 "Cosmosdb Account 2021-01-15 networkAclBypass error"
`networkAclBypass` is defined as string with enum `None` and `AzureServices`
Swagger definition: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-01-15/cosmos-db.json#L7830 .

But the service returns number.
[code]

[2021-02-23 07:58] SLRXXX opened #13108 "'restorePointInTime' in 'sqlPool' should have 'format: date-time' property"
I remember we have it before, so in generated SDK type for 'restorePointInTime' is` Date` in `js`.
Somehow 'format' information got lost, now in some SDK it's type goes to `string`.

[2021-02-23 08:20] MehaKaushik commented on #13107
Hi @yupwei68 this is a bug. We are working on fixing it. It in process of deployment. I will update here once done. Thanks for reporting.
@kristynhamasaki please update once the hotfix is deployed in Prod.

[2021-02-23 14:09] anthony-c-martin opened #13112 "Microsoft.Storage is missing azureresourceschema configuration for API version 2021-01-01"
It has been configured here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/readme.md

But is missing here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/readme.azureresourceschema.md

[2021-02-23 14:30] MilheiroSantos opened #13115 "Adding a postgreSQL Active Directory Administrator takes too long"
Hi!

I was trying to create an active directory administrator in a postgreSQL server. The creation/deletion works as expected, but the process tends to take around 10m. With the Azure portal, this process is much faster.

I've created an Issue with the terraform-azurerm team with steps to reproduce this issue:
https://github.com/terraform-providers/terraform-provider-azurerm/issues/10701

[2021-02-23 14:32] leni-msft commented on #13107
@MehaKaushik FYI. The issue is also being detected in live validation service: https://portal.azure-devex-tools.com/amekpis/correctness/detail?errorId=614bf65c-ef3b-4e28-b3e0-8a5e4d342c6a So you can use the [time window to fix broken swagger](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/405/Window-to-Fix-Broken).

cc. @josefree

[2021-02-24 01:28] shkale-msft commented on #9748
@unagaraju88, Thank you for your feedbac! This feature is not available yet and unfortunately, I do not have a timeline to share with you for this. We have added this to our backlog. Please feel free to leave us feedback about the same on User Voice: https://feedback.azure.com/forums/217321-sql-database.

[2021-02-24 01:31] #9748 closed

[2021-02-24 02:41] zhenglaizhang commented on #13108
Hi @SLRXXX could you help give more info about which version and which RP has this issue?
I need locate the spec, and check if its service or sdk gen issue, so that I can route to correct owner

[2021-02-24 05:29] SLRXXX commented on #13108
@zhenglaizhang
Files are
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/synapse/resource-manager/Microsoft.Synapse/preview/2019-06-01-preview/sqlPool.json
and
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/synapse/resource-manager/Microsoft.Synapse/stable/2020-12-01/sqlPool.json

For SDK as '@azure/arm-synapse', before version 3.0.0, typeof `restor

[2021-02-24 06:29] zhenglaizhang commented on #13108
@SLRXXX thanks for the detailed info, its quite helpful, I will try to route this to synapse service team

[2021-02-24 06:30] zhenglaizhang commented on #13108
@amoghnatu can you help take a look at this or help route to the correct owner for the issue? thanks in advance!

[2021-02-24 07:42] amoghnatu commented on #13108
@zhenglaizhang Ack.

@srinuthati can you take a look at this and fix this as part of your current swagger changes?

[2021-02-24 10:38] SumitPopat opened #13136 "Resource group name doesn't satisfy the constraint pattern /^[-\w\._\(\)]+$/"
We have created an Azure resource group from the portal, named `Instruktører` (notice the special character `ø`). When we try and perform a `GET` call using `azure-sdk-for-js` (https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/resources/arm-resources/src/operations/resourceGroups.ts#L115) on this resource group, it throws an error:
[code]
**Expected behaviour:**
Since the portal accepts th

[2021-02-24 10:38] SumitPopat commented on #13136
Related issue: https://github.com/Azure/azure-sdk-for-js/issues/13247

[2021-02-24 16:32] srinuthati commented on #13108
done added to my swagger changes here.

https://github.com/Azure/azure-rest-api-specs/pull/13070

Regards
Srinivas T

On Tue, Feb 23, 2021 at 11:43 PM Amogh Natu <notifications@github.com>
wrote:

[2021-02-24 17:05] mpanasiuk-apptio commented on #5345
@suwatch any progress on this?

[2021-02-24 17:07] kzw commented on #10037
`OFF` is not a value we want to set.  Using `terraform`, we first set this to `logical` which azure api took with no error.  Then we want to revert to previous value (whatever azure was defaulting to).  The way it works in terraform is we first create a resource with value set to `logical` and then we assume (if this terraform resource behaves like others) we set delete this configuration resource

[2021-02-24 17:14] bmoore-msft opened #13142 "WebApp:Get-AzWebApp fails on resourceGroups with a single char name"
## Description

Trying to run Get-AzWebApp on a resource group with single char name fails with:

Get-AzWebApp: 'resourceGroupName' does not match expected pattern '^[-\w\._\(\)]+[^\.]$'.

## Steps to reproduce

[code]

## Environment data
[code]

## Module versions

[code]

Note that if there are no webapps in the subscription, simply running Get-AzWebApp and having a resourceGroup in the sub wit

[2021-02-24 17:15] panchagnula commented on #13142
moving this to rest-api-spec since this is failing for CLI/PS due to swagger definitions for RG validation

'resourceGroupName' does not match expected pattern '^[-\w._()]+[^.]$'.

[2021-02-24 19:29] chamons opened #13147 "softwareplan/resource-manager and desktopvirtualization/resource-manager error with latest autorest"
These specs:

[specification/softwareplan/resource-manager/readme.md](https://github.com/Azure/azure-rest-api-specs/blob/d9cf7c7ed3d674ebd482836e82b274014245ae67/specification/softwareplan/resource-manager/readme.md)
and
[specification/desktopvirtualization/resource-manager/readme.md](https://github.com/Azure/azure-rest-api-specs/blob/d9cf7c7ed3d674ebd482836e82b274014245ae67/specification/desktopv

[2021-02-24 19:30] chamons commented on #13147
cc  @datr93 and @njuCZ who are the latest people who's touched those files.

[2021-02-24 19:36] timotheeguerin commented on #13147
The issue in those specs is that the `tag` config is being defined twice globally in the file. This used to not be a problem as the later ones would get ignored but now the later one will override the first one.

In those specs this result in having multiple tags config being read and so including multiple version specs together.

[2021-02-24 22:04] danikaZ commented on #11061
Hi, the example request has masterSyncMemberName empty

Please refer to the REST API link to add masterSyncMemberName and retry.
https://docs.microsoft.com/en-us/rest/api/sql/syncgroups/createorupdate#syncgroupschema

[2021-02-24 23:51] ericshape commented on #11061
@fbuser1 we will close this issue. If you have more feedback, feel free to reopen it. Thanks!

[2021-02-25 00:03] amjanoni commented on #13115
+1

The same problem happening here, actually sometimes I got an error.

![image](https://user-images.githubusercontent.com/70039618/109082991-c8982500-76e3-11eb-96a3-50452dbcc4b8.png)

[2021-02-25 00:22] manicminer commented on #11061
@ericshape I am the issue reporter and this does not resolve the bug, please reopen the issue.

@danikaZ Thanks for your reply. For clarity, I have tried setting `masterSyncMemberName` to various values (the documentation is very unclear on what this is supposed to be) but always get this error message when specifying a non-blank value:

[code]

I think it's worth nothing that when configuring a s

[2021-02-25 00:47] manicminer commented on #11061
It has been awhile since I've worked on this, but I've resurrected my earlier test setup and can confirm I have tried the following values for `masterSyncMemberName`:
- `` (a blank string, just as the portal specifies)
- `test1` (the name of the hub DB)
- `aaatest/test1` (servername/dbname)
- `aaatest/aaatest/test1` (resourcegroup/servername/dbname)
- `aaatest/aaatest/databases/test1` (resourcegro

[2021-02-25 00:58] danikaZ commented on #11061
Hi, I agree with doc is very confusing. The same API is shared by Create and Update sync group.

Let me start from the beginning for creation steps:

1.Use template to create sync group and member. When creating sync group, **do not pass in** the sync schema (table\column), **do not pass** in masterSyncMemberName, because at this time sync group does not have table\column information yet.
(This is

[2021-02-25 02:55] zhenglaizhang commented on #13136
@snaheth can you help check this or point to correct owner to help fix this? thanks!

[2021-02-25 05:36] leni-msft commented on #13112
Resolved

[2021-02-25 05:36] #13112 closed

[2021-02-25 07:01] ArcturusZhang opened #13164 "[VirtualMachineScaleSet] OSDisk changed unexpected after a PATCH on `imageReference.id`"
Original reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/10626

PATCH /subscriptions/**REDACTED**/resourceGroups/group1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2020-06-01 HTTP/1.1
Body:
[code]
But we get an unexpected change in the osDisk:
[code]

[2021-02-25 08:19] mikhailshilkov opened #13167 "[EventGrid] Default value is invalid for sku"
In the latest `2020-10-15-preview` API version, the `sku` property defines a default value "Basic": https://github.com/Azure/azure-rest-api-specs/blob/35bd110090a51263b61dd0c9f18cf512e17e8742/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-10-15-preview/EventGrid.json#L5926

This is wrong because `sku` is an object of type `ResourceSku` with a property `name`. It's the pr

[2021-02-25 18:59] kristynhamasaki commented on #13107
The hotfix for this issue has been deployed. thank you

[2021-02-25 19:46] ssemyan commented on #13164
I have additional repro details if needed.

[2021-02-25 20:15] theelderwand commented on #11982
Hi @Jeroenvos this is an older version of our API that the portal has moved away. If you are looking for the API that the portal talks to, might I point you to the forecast API that has the filtering and aggregation capabilities, you can find more details of the API here
https://docs.microsoft.com/en-us/rest/api/cost-management/forecast/usage

[2021-02-26 19:30] sureleo opened #13186 "Prettier command seems incorrect?"
My PR got an unsuccessful check by prettier, and I followed How To Fix.

https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/ci-fix.md#prettier-check

[code]

However, after I ran npm install -g prettier, I got another error:

[code]

Where can I get the prettier swagger plugin?

[2021-02-26 22:00] olayemio commented on #12600
There is a [PR](https://github.com/Azure/azure-rest-api-specs/pull/12442) out to fix this typo. Waiting for a sign-off for it to be published.

[2021-02-26 22:32] brianlehr commented on #10190
Please assign to @NitinGoelMsft .  This is a known bug his team is addressing.

[2021-02-27 00:32] richrundmsft commented on #3594
I realize this thread has been open for a while, but I want to share how we handle this in the Azure portal for Networking resources (e.g. Public IP Addresses).

The portal makes a call to the [Providers API](https://docs.microsoft.com/en-us/rest/api/resources/providers/get).

`GET /subscriptions/<subId>/providers/Microsoft.Network?api-version=2020-06-01`

In the response body you can find zoneMap

[2021-02-27 16:48] manicminer commented on #11061
Hi @danikaZ, many thanks that's really helpful.

I've tried to sequence my API requests as you described, but I'm getting a 500 error when trying to set the schema (after successfully refreshing the schema from the hub DB). I'm using the AdventureWorksLT sample.

I've made a gist of the API conversation, with requests and responses in order: https://gist.github.com/manicminer/27e2c4dfdb809bc4303c4

[2021-02-27 17:04] manicminer commented on #11061
Can you clarify what `masterSYncMemberName` is supposed to be? Is it the name of the hub database? The name of one of the members? The sync DB? When administering this through the portal, I only see this set to a blank string.

[2021-02-28 11:17] MahmoudYounes commented on #12601
Bug is resolved. please use authoring sdk v3.2.0-preview4

[2021-02-28 17:41] nschonni commented on #12601
Thanks, rebased the suppression out of #12580

[2021-02-28 17:41] #12601 closed

[2021-02-28 21:18] MWL88 opened #13197 "Broken schema reference"
The schema reference [here](https://github.com/Azure/azure-rest-api-specs/blob/057a2f0ecad93bf837e6299b3b0393bc662cbbd7/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2020-12-01/examples/ApiManagementCreateContentType.json#L15) is not correct and cannot be resolved.

This occurs when loading `specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2

[2021-03-01 01:28] raych1 commented on #13197
@leni-msft , can you have a look at this issue?

[2021-03-01 01:55] raych1 commented on #13186
@JackTn , please assist on this issue, thanks.

[2021-03-01 02:56] JackTn commented on #13186
@sureleo  pls use npm install instead of npm install -g prettier in your workspace, then npm run prettier-fix or npm run prettier -- --write "specification/<service>/**/*.json"
let me know if you have any question~

[2021-03-01 05:49] leni-msft commented on #13197
@MWL88 under which situation did this issue happen? It's actually a json schema object in examples. If you're using autorest, try use the latest version.

[2021-03-01 07:06] magodo opened #13203 "Sentinel RP: empty etag should be accepted for "update" APIs"
Currently, `etag` is required for updating most sentinel related resources. This violates the practice followed by ARM that `etag` should be optional.

Confirmed with Sentinel service team that this is currently under implementation. This issue is for the sake of tracking the progress.

[2021-03-01 07:44] yossi-y commented on #11420
We have fixed this in the new version (2020-08-01) and working to publish it.
We recommend that you move to the newer version to get this change affected.

[2021-03-01 15:37] chamons commented on #13147
Adding /specification/iotcentral/resource-manager/readme.md and cc @leni-msft

[2021-03-01 17:11] sureleo commented on #13186
Trying to clean workspace:
[code]

Then run npm install

[code]

Try to run npm run prettier-fix
[code]

Debug log:
[code]

What am I missing here? I think the culprit is missing script: prettier-fix.

[2021-03-01 17:31] chamons commented on #13147
Adding specification/hybriddatamanager/resource-manager/readme.md and cc @prtank and @ t-prta

[2021-03-01 23:25] johndowns opened #13216 "App Service RP: Microsoft.Web/hostingEnvironments says that workerPools property is required but it isn't"
In the `Microsoft.Web/hostingEnvironments` (API version 2020-06-01), the `workerPools` array property is marked as required. However, this does not appear to actually be required, and it's fine to deploy a `hostingEnvironment` without specifying that property.

Please consider updating the spec to no longer state that `workerPools` is a mandatory property.

[2021-03-02 02:42] JackTn commented on #13186
@sureleo  pls ensure do these options in your root folder, eg: D:\workspace\azure-rest-api-specs-pr\
You can find the package prettier in D:\workspace\azure-rest-api-specs-pr\package.json and you can find the script prettier-fix in package.json. Ensure they are exist. If not, you can fork the repo then do your work and take pull request~

let me know if you have any question~

[2021-03-02 03:05] manicminer commented on #11200
@yupwei Thanks for the tip. Using the latest API 2020-01-01, and with the aid of the doc you linked, I have been able to create a working resource!

[2021-03-02 04:47] prtank commented on #13147
Hey, could you point me to some documentation about how these tags should be defined?

[2021-03-02 05:59] SLRXXX commented on #13108
I see it in the latest version.
Thank you for help! @srinuthati @zhenglaizhang

[2021-03-02 05:59] #13108 closed

[2021-03-02 07:03] aim-for-better commented on #10667
on going

[2021-03-02 07:03] aim-for-better commented on #6505
on going

[2021-03-02 07:11] raych1 commented on #13167
@ahamad-MS , I saw you update the spec recently. Can you have a look at this issue? Thanks.

[2021-03-02 07:15] raych1 commented on #10184
@naveedaz , can you have a look at this issue if you're still the code owner of web RP? Or can you escalate appropriately?

[2021-03-02 13:31] deep-mm commented on #11085
Do we have any updates on this?
Any way we can access this api with service principal or is there any other api to check for diagnostic settings for Azure AD?

[2021-03-02 15:45] timotheeguerin commented on #13147
@prtank I explained in this reply the problem and solution. The issue is always the same. The tag gets redefined twice and the 2nd (for the same behavior as before) needs to be removed

https://github.com/Azure/azure-rest-api-specs/issues/13147#issuecomment-785322386

[2021-03-02 17:12] sureleo commented on #13186
ahhhh

I wasn't running it in the root folder. It is working now. I am closing this issue. Thanks for the help!

[2021-03-02 17:12] #13186 closed

[2021-03-02 17:17] jwshive opened #13238 "Feature Request: rest/api/sql/servers/list should include resource group for the sql server."
Looking at this endpoint
[https://docs.microsoft.com/en-us/rest/api/sql/servers/list](https://docs.microsoft.com/en-us/rest/api/sql/servers/list)

The return of the list request should include the resource group as part of the response. It's in the ID section as part of the long id string, but that's not as easy to pull out as it would be it's own resource definition.

[2021-03-02 18:01] Sharmistha-Rai commented on #12759
@tombuildsstuff - We have decided to take up the work required for fixing this issue. We plan to release a fix in our upcoming update, so please look forward for a fix in our March release. It should be live in all geos by end of March.

Please close this thread once you find some time. You can open in again once you have tested out the fix.

[2021-03-02 18:20] #8093 closed

[2021-03-02 18:22] prtank commented on #13147
Hi Timothee, I did see your comment on having only a single tag in the file. I should've been clearer, could you tell me how the tags work and what they're meant to signify?

[2021-03-02 23:52] olayemio commented on #10707
The portal now checks and shows if the integer is outside the allowable range.

[2021-03-02 23:52] #10707 closed

[2021-03-03 01:25] anthony-c-martin commented on #11038
@allenjzhang these are `Microsoft.Resources` definitions, not `Microsoft.Management` definitions. It sounds like we need to fix the linter.

[2021-03-03 04:30] tombuildsstuff commented on #12759
@Sharmistha-Rai thanks for the update, that's great.

Since this is an active API Bug, I'm going to leave this open until the issue is resolved though - but we'll close this once we can confirm this has been rolled out around the end of the month, as otherwise folks may believe this has been fixed (since the issues closed preemptively).

Thanks!

[2021-03-03 11:37] StefanSchoof opened #13260 "Subscription List missed tags if run with service principal"
Login with user and list subscriptions:
[code]

[code]

We got an tags element.

Login with service principal and list subscriptions:

[code]

[code]

Using the service principal gives no tags.

Listing the tags for one subscription shows that there are tags and that the service principal has permissions to get them:

[code]

[code]

The documentation at https://docs.microsoft.com/en-us/rest/api/r

[2021-03-03 19:04] BustosMSFT commented on #10511
Hi @erniebilling these are by design, but we'll take into consideration the suggestions.
Regards
#please-close

[2021-03-03 19:05] BustosMSFT commented on #10511
#please-close

[2021-03-03 19:27] #10511 closed

[2021-03-03 21:52] danikaZ commented on #11061
Hi, based on your description and example, assuming you already finished step 1 and step 2.

If so, in step 3, "masterSyncMemberName is the name which holds the schema you want to use".
If you want to use the schema from your hub db, (guessed based on u mentioned refreshed schema from hub db), then pls put down your hub db name in "masterSyncMemberName". So "syncHub210227163016265419" in your exam

[2021-03-04 01:09] naveedaz commented on #10184
@jocawtho Can you take a look please?

[2021-03-04 03:40] sachin-laddha opened #13271 "Azure Virtual Machine name allowed characters"
As per Azure resource naming document
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftcompute
a virtual machine name cannot have underscore ( _ ) character in it. This seems to be blocked from Portal but using API (PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virt

[2021-03-04 03:51] prtank commented on #13147
If the tags are used to specify which file to pick how should multiple API versions be handled? I remember adding the second tag while adding the second API version.

[2021-03-04 04:14] qxg opened #13272 "Incorrect description of "sqlAdministratorLogin" property"
https://github.com/Azure/azure-rest-api-specs/blob/80e4e1b77162711ca1123042f50db03ffbf1bb40/specification/synapse/resource-manager/Microsoft.Synapse/stable/2020-12-01/workspace.json#L1153-L1156

Description should be "Login for workspace SQL administrator".

[2021-03-04 05:23] timotheeguerin commented on #13147
So before the way it used to read the config the second tag assignment was just being ignore the first one had priority. so it was just like if it was not there.

The config file can be seen as just executing some code and assigning variables. with block condition being if statement.

Not exactly sure what you wanted to do for multi api. You can still have multiple tag condition to load the correc

[2021-03-04 06:16] Jehoel opened #13273 "[Design bug] It is impossible to determine when a Table Storage table is fully deleted"
## Problem statement:

* Deleting an Azure Table Storage table happens within milliseconds, however the table's name will still be reserved for an indeterminate amount of time.
* It is currently (as of Q1 2021) impossible to determine if a table's name is still reserved or not without attempting to _create_ the table.
* This is a problem for test-code and other projects that require an Azure Stora

[2021-03-04 07:01] mikhailshilkov commented on #1684
Any updates on this? In the recent versions the parameter is still not marked as a UUID: https://github.com/Azure/azure-rest-api-specs/blob/80e4e1b77162711ca1123042f50db03ffbf1bb40/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-04-01-preview/authorization-RoleAssignmentsCalls.json#L229-L232

It should get the `"format": "uuid",` annotation.

[2021-03-04 07:15] vsabella commented on #8295
This does not appear to work in Azure GovCloud - the field is ignored and the certificate does not contain basic constraints.

[2021-03-04 09:00] evmimagina commented on #10808
Hi @jaspkaur28,

We are affected by this behaviour too. as you closed this thread, where could I track when this is finally resolved?

Thanks,

[2021-03-04 13:39] manicminer commented on #11985
I'm still encountering this issue, for dates ranging from tomorrow to 2 years in the future, and anything in between. It happens when trying to add key credentials for both application and service principals.

[2021-03-04 20:59] Drewm3 commented on #13164
@avirishuv, could you take a look at this issue. It looks like the OS disk for an existing instance should not have been updated since the upgrade mode was manual.

[2021-03-05 00:03] jocawtho commented on #10184
Standard Sku does not support maximumElasticWorkerCount because this sku does not scale dynamically like ElasticPremium sku. Some skus may support this in the future, but this does not, and there is no ETA. Thanks

[2021-03-05 00:11] heaths commented on #8295
@sebansal, you said:

Since it's not defined in swagger, we actually don't support it in the SDK. If this is something that should be exposed publicly, it needs to be defined in swagger.

[2021-03-05 10:29] prtank commented on #13147
Thanks for the details Timothee. I have raised PR [Fix issue 13147 for HybridDataManager#13296](https://github.com/Azure/azure-rest-api-specs/pull/13296) with the change

[2021-03-05 17:04] pbstrein commented on #11805
If the region does not support it, then why not have the region _ignore_ all properties that are not relevant, rather than error out?

If someone is working on automation that needs to work in multiple regions, it requires that their automation to do conditional logic on whether to add/remove properties. It makes it easy for a consumer if the properties are ignored (rather than error out) for regi

[2021-03-05 17:59] avirishuv commented on #11805
hi @pbstrein, this behavior is by design and in alignment with the API experience for zones and zone balancing. The zoneBalance property can only be set if the zones property of the scale set contains more than one zones. If there is no zones or only one zone specified, then zoneBalance property should not be set.

We will be updating the API docs to make this more clear as well.

[2021-03-07 15:25] MWL88 commented on #13197
@leni-msft We use the Azure REST API OpenAPI specs to drive a reporting tool that is executed periodically. The reporting tool uses NPM package `@apidevtools/swagger-parser` to parse the OpenAPI specs and it appears to attempt to resolve every reference it encounters.

I appreciate this broken reference is _only_ in an example, but the NPM package I am using does not differentiate between _example

[2021-03-08 05:34] prtank commented on #13147
Hey Timothee, I see that the PR has been merged. Can i consider this issue closed for HybridDataManager?

[2021-03-08 06:37] leni-msft commented on #13197
@MWL88 I'm afraid we won't fix it. It's by design to denote a literal json schema in the examples. So with `x-ms-examples` extension, the `$ref` inside should be considered as escaped.

[2021-03-08 06:46] leni-msft commented on #13197
@MWL88 let me know if more questions/doubts. I will close the issue.

[2021-03-08 06:46] #13197 closed

[2021-03-08 17:27] ericshape commented on #11061
@manicminer we are closing this issue. if you have more questions, please open a new one. Thanks!

[2021-03-08 17:30] cschen13 commented on #8097
Hello, has any progress been made on this, or is there some other part of the Azure REST API that provides an authoritative list of supported AZs by resource provider?

[2021-03-08 18:29] manicminer commented on #11061
@ericshape Please can you reopen this issue? Why did you close it when the issue isn't resolved? I am still getting a 500 error from the API, I would hope that this is considered a valid bug report since I'd hope not to see that unless the service had an issue.

@danikaZ Thanks for your reply, sorry for the few days delay in getting back to you. I have retried as per my last message, and also with

[2021-03-08 19:21] danikaZ commented on #11061
@manicminer Hello again! No worries, take your time, and thanks for chasing this :)
I took a look at your sync group and didn't see any schema on hub. (meaning step2 failed or not done)

Can you please try step 2 first again, **before** going to step3? (more details below)
2. After sync group is created correctly, refresh schema (either from hub or member),

Our PM is still working on a REST API e

[2021-03-09 03:51] ArcturusZhang commented on #11420
It is fine, but please notice that the issue in 2019-08-01-preview is still unresolved and no SDK will release for this api-version. All release request on this api-version for go sdk will be rejected.

still, fixing it is as simple as adding a new readonly property in the swagger which certainly will not trigger the breaking change alarm.

[2021-03-09 03:51] #11420 closed

[2021-03-09 07:01] jlichwa commented on #12880
It seems like @anthony-c-martin was faster than me. Done

[2021-03-09 07:01] #12880 closed

[2021-03-09 10:55] tombuildsstuff opened #13340 "[EventGrid] API design issues for the `identity` block"
👋

The Swagger definitions for Identities within the EventGrid API ([this Swagger](https://github.com/Azure/azure-rest-api-specs/blob/921957dfa2228c2062b8d2ef832507339c5562d4/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2020-04-01-preview/EventGrid.json#L1) appear to disregard the conventions used for `identity` blocks elsewhere in this codebase, such that a normal Identity

[2021-03-09 11:22] patst opened #13341 "API Management - EMailTemplate: Wrong enumeration values"
The enumeration values for the API Managements E-Mailtemplates are not working. They have the wrong casing.

Current values ( see https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/emailtemplate/get#templatename ):

Name | Type | Description
-- | -- | --
accountClosedDeveloper | string |  
applicationApprovedNotificationMessage | string

A rest call with these values does not work:

[2021-03-10 02:02] dingmeng-xue opened #13364 "Links on homepage doesn't work"
Below 2 links are listed on home README.md of this repo but their target pages are showing 404.

https://github.com/Azure/adx-documentation-pr
https://github.com/Azure/adx-documentation-pr/wiki

[2021-03-10 03:32] njuCZ opened #13365 "key vault managed hsm api issue"
https://github1s.com/Azure/azure-rest-api-specs/blob/HEAD/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2020-04-01-preview/managedHsm.json

apiversion: 2020-04-01-preview

issue:
1. just want to double confirm that `softDeleteRetentionInDays` could not be updated?
2. when changing `enablePurgeProtection` from `false` to `true`, the rest api could succeed, but the response is s

[2021-03-10 05:22] shawnxzq commented on #4862
@nschonni I once though this issue is opened to MS service team by the MS swagger/SDK team, and the issue itself is not something service team is working on, so close it since the team didn't respond to it.

So what's the issue caused in your side? Thanks!

[2021-03-10 18:35] #13107 closed

[2021-03-11 02:37] colawwj opened #13379 "fail to webapps.createOrUpdateSourceControl without optional parameters of "repoUrl""
The JS sdk [package](https://www.npmjs.com/package/@azure/arm-appservice/v/6.1.0) was generated by tag of  "package-2019-08",
we found that it's fail to webapps.createOrUpdateSourceControl without optional parameters of "repoUrl",but it's not set "require=true" in [ webapps.json](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2019-

[2021-03-11 03:29] ArcturusZhang opened #13382 "Enums entries missing extension `x-ms-enum`"
We have some swaggers that are missing `x-ms-enum` extension. For instance, this: https://github.com/Azure/azure-rest-api-specs/blob/ff541d84da3e56318de42e92222e9501a9ccb632/specification/compute/resource-manager/Microsoft.ContainerService/stable/2017-01-31/containerService.json#L359
In code generation, a code-name with number will be given to this enum type (for instance `Enum47`), and during the

[2021-03-11 05:37] magodo opened #13384 "HPC cache: failed to provision"
The HPC Cache sometimes failed to provision, the polling result from the long running operation is as below:

[code]