[2020-02-28 09:20] raych1 commented on #8555
It appears to be an issue of service which returns success response but not saved actually. Adding service team to confirm.

[2020-02-28 23:19] ifeoluwaokunoren commented on #804
Resolved here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/resources.json#L1863

[2020-02-28 23:19] #804 closed

[2020-02-28 23:52] xirzec commented on #8379
@brjohnstmsft TIL, thanks for clarifying

[2020-02-29 05:20] ifeoluwaokunoren commented on #7668
Thanks for submitting this request. We currently don't support sorting based on changedDate or CreateDate as we don't have index built on either changedDate or createDate.
You can reply on this thread if you want us to add this feature request to our product backlog.

[2020-02-29 05:20] #7668 closed

[2020-02-29 05:41] haroldrandom commented on #7569
It's release now? If so, I need to modify the corresponding code

[2020-02-29 08:22] akning-ms commented on #8555
Hi @njuCZ Can I confirm which service is this issue refer to?  networking-DNS?

[2020-03-01 12:37] njuCZ commented on #8555
@akning-ms It's the dns RP, dns record resource under dns zone resource

[2020-03-02 06:54] Drewm3 commented on #7602
@jsmartt, could you check to see if CR/LF are getting added to the base64 string? Line feeds are not supported in custom data. I believe you need to use strict_encode64() to ensure there are no line feeds added. Could you retry with strict_encode64() to see if that resolves the issue?

[2020-03-02 18:48] rthorn17 commented on #8263
Hi @juanjojulian -  Yes we are aware of this open issue and it is something we need to fix on our API side.  We are in design discussions and I don't have a timeline yet.  Will update this when I do. Thanks

[2020-03-02 22:18] cbre-jpetryk commented on #8093
Also seeing this error in South Central US.

[2020-03-03 03:30] hctv19 commented on #6372
@arifsundrani It looks like https://github.com/Azure/azure-rest-api-specs/pull/8225 was merged on Jan 29th. Does that merge unblock this issue?

[2020-03-03 06:27] rickvi1 commented on #8093
Same here! trying to deploy an Azure Function to West Europe.
When I re-deploy an existing function I don't see any ARM issues.

[2020-03-03 06:48] ArcturusZhang commented on #8178
This issue has been resolved in #8276

[2020-03-03 06:48] #8178 closed

[2020-03-03 13:44] arifsundrani commented on #6372
@hctv19  I’m not sure as I am just following along. I believe @solankisamir would be able to answer your question.

[2020-03-03 14:49] se7vanj commented on #8093
- East US2
- ARM Template deployed from DevOps Pipeline Task - Azure resource group deployment

Error:
`"details":[{"code":"ValidationForResourceFailed","message":"Validation failed for a resource. Check
                       'Error.Details[0]' for more information.","details":[{"code":"ServerFarmNotFound","message":"The specified app
                       service plan was not found."}]}]}}`

[2020-03-03 23:44] vfedonkin commented on #6372
Not yet. This PR is also required before we can regenerate SDK: #8393

[2020-03-04 12:16] mcalnd70 commented on #5604
@sidramadoss @tombuildsstuff I came here because this is linked from the following Terraform page...

https://www.terraform.io/docs/providers/azurerm/r/stream_analytics_job.html#compatibility_level

...but find that this has been closed

As its 8 months later, are there any updates?

Thanks

[2020-03-04 13:28] ad-m opened #8590 "Missing docs for catalogapi.azure.com"
I have notice in panel that API ```catalogapi.azure.com``` is generally available. Documentation for that API is not available in this repository. Could you add missing documentation?

[2020-03-04 23:55] #8378 closed

[2020-03-04 23:55] #8379 closed

[2020-03-04 23:55] #8380 closed

[2020-03-04 23:58] jsmartt commented on #7602
@Drewm3, thanks for the comment! Custom Data strings that were failing with `encode64()` & `urlsafe_encode64()` are now working with `strict_encode64()`. I haven't tested it exhaustively, but I think you can go ahead and close this

[2020-03-05 07:48] neil-yechenwei opened #8604 "The MountTargets property shouldn't be interface{} in azure-sdk-for-go"
The property type of “MountTargets” is “interface{}” not exact data type not like property “ExportPolicy” in azure-sdk-for-go (https://github.com/Azure/azure-sdk-for-go/blob/ef852a52f96b87fc7c4912888e0f286b6455ef05/services/netapp/mgmt/2019-11-01/netapp/models.go#L1517). So we have to parse the property “MountTargets” with below complex way. As I know, the code in azure-sdk-for-go is auto generate

[2020-03-05 23:39] Vaibhav-Agar commented on #8132
Hi tombuildsstuff,

Apologies for the delay in response and thanks for bringing this to our attention. I will provide an update soon on the fix.

Thanks,
Vaibhav

[2020-03-06 01:41] zivraf commented on #8137
Thank you for this feedback. We've looked into the issue as reported and acknowledge the behavior as described. While the fix is not simple, we would like to propose a work around. Assuming you're using the REST calls in order to script the deletion of host and the host group, we recommend making one GET call which should buy you sufficient time. Basically, you can check that the GET returns 404 b

[2020-03-06 01:44] zivraf commented on #8137
Thank you for reporting this issue. We were able to investigate and understand the issue as reported.
While this could be annoying, we would like to propose a workaround in the meantime. Just add one GET call after deleting the host and before attempting to delete the host group. This GET will trigger an internal cache refresh and in most cases will result in the successful deletion of the host go

[2020-03-06 03:51] yupwei68 opened #8616 "SQL DB create mode question"
Hi, I use sql version 2017-10-01-preview.
1. In recovery mode database creation, as [recovery example](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/examples/CreateDatabaseRecoveryMode.json),I could not get recoverable Databases, Is it available on 2017-10-01-preview? How to create a recoverable DB?:
{
    "err

[2020-03-06 10:49] pvrk commented on #8308
@ArcturusZhang : Unfortunately, recovery services vault is used for both ASR and backup and hence this lies in a 'upper' namespace. The backup related vault configurations like is recoveryservicesbackup namespace. I acknowledge the confusion but we may not be able to change anything here, as of now.

[2020-03-06 21:02] #8252 closed

[2020-03-07 13:48] hctv19 commented on #6372
@vfedonkin looks like they finally got #8393 merged, so I think this should be unblocked now

[2020-03-08 13:31] opolo commented on #8093
West Europe. Impossible to create new any function apps as well due to this issue. Nice... Must have been down for over a month now I guess.

[2020-03-09 02:33] ArcturusZhang commented on #8308
Hi @katbyte and @tombuildsstuff the service team has replied, would you please have a look or discussion about this issue?

[2020-03-09 06:24] MyronFanQiu opened #8633 "Real response from server end is not same with the swagger spec in application insight"
ref https://github.com/Azure/azure-cli-extensions/issues/1221
In the swagger spec, customDimensions is defined as the following line.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/applicationinsights/data-plane/Microsoft.Insights/preview/v1/AppInsights.json#L1135
However, the real response is
[code]
This inconsistency cause problems in python SDK.

[2020-03-09 07:09] Drewm3 commented on #7461
Closing this due to no response.

[2020-03-09 07:09] #7461 closed

[2020-03-09 07:15] Drewm3 commented on #7602
Thanks and I am sorry this took so long to resolve.

[2020-03-09 07:15] #7602 closed

[2020-03-09 08:26] yupwei68 commented on #8616
Another question is does this version support 'computer tier' in 'general purpose'? If yes, which field?
![image](https://user-images.githubusercontent.com/56525716/76195199-c2830d00-6222-11ea-9506-21ed76e6bc6d.png)

[2020-03-09 11:04] pvrk commented on #5306
@FelixBorst : Another gentle reminder. Please update us with your latest findings.

[2020-03-09 11:37] jackofallops opened #8641 "500 error when trying to create Domain Registration"
Hi,

I'm adding support for Domain Registrations to Terraform and I'm getting a `500` response to the `PUT` request for Create as follows:

Request:
[code]

Response:
[code]

There isn't much supporting documentation I can find on this API and it's usage, but I believe I have satisfied the requirements for the request correctly.  A DNS zone is created in Azure DNS (and is resolvable for SOA and NS

[2020-03-09 15:41] hctv19 commented on #6372
Also gently pinging @solankisamir on this PR since #8393 has been resolved

[2020-03-09 16:32] rohinkoul commented on #8174
@KarenHammons This is not an Azure DNS issue. This should go in AppServices queue.

[2020-03-09 17:15] azureSQLGitHub commented on #8616
I can take a look at this

From: Yuping Wei <notifications@github.com>
Sent: Monday, March 9, 2020 1:27 AM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Azure SQL GitHub issues notifications <sqldbghissues@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-specs] SQL DB create mode question (#8616)

Another question is does this v

[2020-03-10 06:47] njuCZ opened #8653 "Maintenance API returns resource group name in lower-case"
We've been working with version 2018-06-01-preview of the Maintenance API's (via v38.1.0 of the Azure SDK for Go) - and have noticed a bug where the Resource Group name that's returned from Azure is always lower-cased for the ID, regardless of the input case. For example if I create a Maintenance Configuration in the resource group `Group1` the ID for create will be:

/subscriptions/00000000-0000-

[2020-03-10 09:59] zouzias opened #8657 "Security Insights Swagger Spec should be valid against swagger specification 2.0"
As an Azure rest API user, I want to be able to:

* Generate a server from a swagger specification
* Generate a client from a swagger specification

using Swagger tools (i.e., https://github.com/go-swagger/go-swagger)

## Issue
The Swagger / Open API specification for Security Insights is *not* valid against swagger specification 2.0.

The issue does not allow the user to auto-generate client/serv

[2020-03-10 15:15] pvrk commented on #7268
Assigning this to @deymadhumanti

[2020-03-10 15:18] nickzhums commented on #2255
@josefree  could you help with this and see if we need to take any further action?  thanks

[2020-03-10 21:43] jianghaolu commented on #2255
Removing myself as I don't work on Go, or Event Hubs, or Storage.

[2020-03-10 22:41] lilyjma commented on #8174
@antcp, @AzureAppServiceCLI could you please take a look?

[2020-03-11 09:10] josefree commented on #2255
This is a new feature to swagger. @akning-ms Please take a look.

[2020-03-11 13:46] DanteNahuel opened #8678 "Any reference to the Azure Portal and how it handles the calls?"
I'm trying to reconsile the way the Azure Portal handles some info and some operations in comparison to a more programmatically way, for example, in Powershell.
I can't find any information regarding the Portal.
For example, some Virtual Machines, in the Portal, have a
`Operating system: Windows Server Datacenter 2016`
property
But the information is completely blank when accessing the API using t

[2020-03-11 18:02] vamathan commented on #2255
Hi Team,

Could you please provide an ETA for this ?

[2020-03-11 23:00] aristosvo opened #8683 "Support for Saved Searches (functions) in Log Analytics workspaces"
### Issue
I want to add Saved Searches (functions) in the [Azure TerraForm provider](https://github.com/terraform-providers/terraform-provider-azurerm), but due to the lack of fields in the REST API specs the [Go SDK](https://github.com/Azure/azure-sdk-for-go/blob/master/services/operationalinsights/mgmt/2015-03-20/operationalinsights/models.go) does not contain the property I want to use:
- funct

[2020-03-12 00:21] josefree commented on #2255
Hi, this is not only swagger impacted. Series of downstream tools need an update to fulfill this requirement. We do not have a plan on this in this semester, I am afraid.  may set up a plan for next semester.

[2020-03-12 03:54] MyronFanQiu commented on #8678
I'm sorry. I think we don't have such documentation. We do have some documentation which should help.
https://docs.microsoft.com/en-us/powershell/module/az.compute/new-azvm?view=azps-3.6.1
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-powershell

[2020-03-12 11:25] ArcturusZhang opened #8692 "graphrbac: `GroupMembershipClaimTypes` enum missing `DirectoryRole`"
Migrated from [this issue](https://github.com/Azure/azure-sdk-for-go/issues/7857)

The swagger of [graphrbac](https://github.com/Azure/azure-rest-api-specs/blob/8737a60986db962142780a44c6dfcd693188a3af/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L2844) is missing `DirectoryRole` in the enum type `GroupMembershipClaimTypes`, which is supported by the API.
![imag

[2020-03-12 11:45] akning-ms commented on #8692
@ArcturusZhang Can you help confirm it is right service team attention?

[2020-03-12 12:00] tombuildsstuff opened #8693 "[Compute] New API for Disk Attachments"
👋

Currently to attach a Data Disk to a Virtual Machine requires submitting this as a part of the Virtual Machine payload (e.g. a appending to the list of data disks).

Whilst this works when you want to define the Virtual Machine definition in a single payload, unfortunately this makes it challenging when breaking this apart into multiple payloads to provide a better user experience - which means

[2020-03-12 12:12] akning-ms commented on #8641
@jackofallops Can I know which RP is this issue for? it is new RP? it is domainservices?

[2020-03-12 12:51] hctv19 commented on #6372
@solankisamir @vfedonkin Is there anything else needed before this can be approved and merged?

[2020-03-12 14:05] akning-ms commented on #7016
@eransha Not sure you are right person. Can you help take a look or reassign to right people  as it is old issue in repo.

[2020-03-12 14:12] jackofallops commented on #8641
Hi @akning-ms - It's a new TF resource for App Service Domain Registrations.

[2020-03-12 20:34] Drewm3 commented on #8678
@DanteNahuel, there are 3 possible places in the APIs which may return the operating system running on the VM. The various locations have slightly different context and reliability. Let me list these here, and I can provide more details on specific APIs for the area in which you are interested:

1.) VMs deployed from a platform image will contain the image details which may indicate the OS version

[2020-03-12 23:30] Vaibhav-Agar commented on #8132
Hi @tombuildsstuff the fix is not straightforward here. Is this something that is blocking you or is this a nice to have?

[2020-03-13 00:20] alex-frankel commented on #7649
@inuvano-labs, can you share the original template? The What-If API is still in private preview so this noise is expected, but once I have the template, I will create an issue for it in the [What-If issues](https://aka.ms/whatifissues) so we can track it.

Once that is done this can be closed. If I don't hear back soon @rthorn17 we can close this.

[2020-03-13 03:56] ArcturusZhang commented on #8692
Unfortunately i am not quite sure whether this is right or not. But I found there is another label called `RBAC` which is may also relevant.

[2020-03-13 04:30] ArcturusZhang opened #8702 "`creationTime` in `timeseriesinsights` is in wrong format and is causing SDK malfunctions"
[Original issue](https://github.com/Azure/azure-sdk-for-go/issues/7824)

The problematic field is defined [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/timeseriesinsights.json#L1199)

The default format of date-time is `RFC3339Nano` however the value being sent over-the-wire

[2020-03-13 07:26] akning-ms commented on #8653
@shants123 for reassign if need. or let me know if you are not right contact person. Thanks

[2020-03-13 09:31] NullMDR commented on #8324
Fixed by #8634

[2020-03-13 09:31] #8324 closed

[2020-03-13 13:00] DanteNahuel commented on #8678
This does answer my question in a practical way. I understand it now.
However, my concern is that this information is not clear in the Documents.

[2020-03-13 14:06] rthorn17 commented on #8692
@akning-ms @ArcturusZhang This is not the correct service team. This item should be with the Azure Active Directory Team not the Azure Resource Manager (ARM) Team. Looks like the AAD graph api team needs to update their swagger.

[2020-03-13 17:58] lilyjma commented on #7990
@antcp, @AzureAppServiceCLI, can you please take a look?

[2020-03-13 23:32] jkruis opened #8710 "change Microsoft.Insights/scheduledQueryRules enabled property to boolean"
The enabled property is defined as a string enum with values **"true"** and **"false"**, as [the documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-04-16/scheduledQueryRules) reflects.

In other places - like [Microsoft.Insights/metricAlerts](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-03-01/metricalerts) - the same property is defi

[2020-03-16 02:54] ArcturusZhang commented on #8692
Oops, sorry for the disturbance and thanks for correcting!

[2020-03-16 20:58] YalinLi0312 opened #8724 "Wrong property type in Portal"
The dashboard [properties](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/portal.json#L414) are expected to be "integer" not "number".

[2020-03-16 23:51] raych1 commented on #8724
@jjbfour , I saw you updated the portal swagger last time and can you please check if this is swagger defect?

[2020-03-17 03:10] Drewm3 commented on #8693
Thanks for the feedback. I have moved this over to UserVoice feedback channel so that it is captured along with the other feature requests. Please up vote this item: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/39952540-api-for-disk-attachments-that-does-not-require-upd

[2020-03-17 03:10] #8693 closed

[2020-03-17 13:08] akning-ms commented on #8657
Hi @zouzias Thanks for your feedback. I am not quite familiar with your tool, As we have some extension in Azure Swagger 2.0. so we normally use autorest to generation code and have some other tools to do validation for swagger, Tools can be found in check of PR in this repo.

[2020-03-17 13:28] akning-ms commented on #2255
@tombuildsstuff Sorry for reply late,  routed to eventhub service team for comments

[2020-03-18 01:56] bquantump opened #8743 "Logic Swagger for Workflow Update does not Match the Service"
According to the swagger for logic workflow update (https://github.com/Azure/azure-rest-api-specs/blob/b039fefbf63aa28029bc038994a8c0b30cde8b1f/specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/logic.json#L266) the update via a patch call should support a workflow type for an update via a patch call. Although, when I try to do this, (with a slightly modified JSON file that I u

[2020-03-18 05:37] jiasli commented on #8702
This also causes problem in Python SDK.

In the rest spec of timeseriesinsights, `creationTime` is defined as

https://github.com/Azure/azure-rest-api-specs/blob/b7a0dc7872810dc0659f16ceaf54c4205b7ba8b4/specification/timeseriesinsights/resource-manager/Microsoft.TimeSeriesInsights/preview/2018-08-15-preview/timeseriesinsights.json#L1199

This makes Python SDK being generated as

https://github.com

[2020-03-18 07:42] neil-yechenwei commented on #8604
@leonardbf , may I know when the fix for this issue can be released in azure-sdk-for-go since we're blocked now?

[2020-03-18 11:08] jayeshpatel6 commented on #8093
Anyone still have this issue?

[2020-03-18 16:31] munseym commented on #8093
Still having this issue.

[2020-03-18 17:10] shueseman opened #8755 "SecurityInsights REST API OData filter by labelName"
I am trying to filter Sentinel Incidents via the labelName property.   I think I am doing the correct query but I am not getting any results.

Here is my rest query:

GET https://management.azure.com/subscriptions/{subID}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents?api-version=2019-01-01-previe

[2020-03-19 20:32] Harmindersingh05 commented on #6372
Any update on this? This is the only item that is required to support API Management consumption model via terraforms.

[2020-03-19 20:37] vfedonkin commented on #6372
@Harmindersingh05, just yesterday we got signed all required PRs and now preparing the nuget package. Should be ready in nearest days.

[2020-03-20 07:02] anthony-c-martin opened #8780 "Microsoft.Resources/checkResourceName/action is not defined in swagger"
There is no swagger definition for `POST /providers/Microsoft.Resources/checkResourceName`

[2020-03-20 09:33] MyronFanQiu commented on #8633
After re-check the swagger. I think it should
[code]

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/network.json#L219

[2020-03-20 18:37] Drewm3 commented on #8678
Thanks for the feedback. Let me have someone look through the docs to see if we can clarify everything in the API documentation.

[2020-03-23 06:29] bikashkarmakar commented on #8015
Any update for us ?

[2020-03-23 11:44] pvrk commented on #5306
Closing this issue due to lack of response. Customer can re-open the issue with the new/updated findings.

[2020-03-23 11:44] #5306 closed

[2020-03-24 11:44] hrafnkel commented on #8093
Same here

[2020-03-25 19:58] karthik25 opened #8837 "Restore Points - List By Database only returns the earliest restore point (BUG?)"
I am trying to use the Restore Points - List By Database API (https://docs.microsoft.com/en-us/rest/api/sql/restorepoints/listbydatabase) and it does not seem to be working as expected/documented. It (almost?) always returns only the earliest restore point (CONTINUOUS) not all the available restore points (DISCRETE).

To elaborate a little bit more, one of my databases has the following point-in-t

[2020-03-26 08:09] adeal commented on #8837
@karthik25 this is by design. For Azure SQL DB, you can restore a database to any point-in-time up to the earliest restore point.

This differs from SQL DataWarehouse where you can only restore to specific, discrete points in time.

[2020-03-26 11:58] Jeej commented on #8093
Please fix this, it is really annoying because we use ARM deployments for our functions

[2020-03-26 13:19] karthik25 commented on #8837
@adeal

You mentioned -

In this case I should get both the CONTINUOUS and DISCRETE restore points right? I am saying I am getting only the CONTINUOUS restore point. In other words the API returns only 1 item as opposed to 8 items.

So, if by design I can restore my database to "any" point-in-time, how could I without knowing them all?

Am I missing something?

[2020-03-26 17:12] adeal commented on #8837
@karthik25 You should only get one single CONTINUOUS point which marks the earliest possible time you can restore to. Any time after this point is valid, and it is up to the user to decide the time.

In your example above, this is `2020-03-08 00:00 UTC`, which means you can request a point-in-time restore with any point-in-time in [2020-03-08 00:00, UtcNow - 5 minutes].

[2020-03-26 19:44] karthik25 commented on #8837
@adeal Thank you! I guess I am good now. I read this somewhere, but I kind of assumed (incorrectly) that it won't be applicable for every 5 minute interval.

You are welcome (reg. documentation). An update would be really helpful !

[2020-03-26 19:44] #8837 closed

[2020-03-26 19:50] alexhcheng opened #8844 "Model Validation Error for x-ms-examples with inline example"
I'm getting an error during model validation step which i can't tell from the log what is the issue.

using this spec: https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/x-ms-examples.md

https://dev.azure.com/azure-sdk/public/_build/results?buildId=333304&view=logs&jobId=8d2f9c49-cd83-5a9d-f3fe-2fd651afa742&j=8d2f9c49-cd83-5a9d-f3fe-2fd651afa742&t=43324f1f-6724-5d61-785f-f0ac

[2020-03-27 01:32] nissha4 commented on #8093
Same. Is there a workaround for this until its fixed ?

[2020-03-27 16:59] alexhcheng commented on #8844
this is the latest build with that issue.
https://dev.azure.com/azure-sdk/public/_build/results?buildId=334774&view=logs&jobId=8d2f9c49-cd83-5a9d-f3fe-2fd651afa742&j=8d2f9c49-cd83-5a9d-f3fe-2fd651afa742&t=43324f1f-6724-5d61-785f-f0ac9fd256a1

if i use $ref to the file with the exact content, it passes validation fine.

[2020-03-27 20:08] aholler2 commented on #8093
@nissha4 That is unrelated to this issue. This issue is regarding template validation and the requirement of having an existing app service plan in order to pass validation.

[2020-03-27 20:59] lmazuel opened #8858 "Auto-suggest, invalid JSON pointer"
Loading AutoRest core      'C:\Users\lmazuel\.autorest\@autorest_core@3.0.6262\node_modules\@autorest\core\dist' (3.0.6262)
   Loading AutoRest extension '@autorest/python' (5.0.0-dev.20200326.1->5.0.0-dev.20200326.1)
   Loading AutoRest extension '@autorest/modelerfour' (4.12.276->4.12.276)
  Error: Invalid JSON pointer: file:///C:/Users/lmazuel/Git/azure-rest-api-specs/specification/cognitiveser

[2020-03-27 21:02] lmazuel opened #8859 "CustomImageSearch, invalid JSON pointer"
Loading AutoRest core      'C:\Users\lmazuel\.autorest\@autorest_core@3.0.6262\node_modules\@autorest\core\dist' (3.0.6262)
   Loading AutoRest extension '@autorest/python' (5.0.0-dev.20200326.1->5.0.0-dev.20200326.1)
   Loading AutoRest extension '@autorest/modelerfour' (4.12.276->4.12.276)
  Error: Invalid JSON pointer: file:///C:/Users/lmazuel/Git/azure-rest-api-specs/specification/cognitiveser

[2020-03-27 21:04] lmazuel commented on #8859
Also CustomWebSearch

[2020-03-27 21:05] lmazuel opened #8860 "Face recognizer, invalid $ref"
Error: $ref to original location 'file:///C:/Users/lmazuel/Git/azure-rest-api-specs/specification/cognitiveservices/data-plane/Common/Parameters.json#/components/parameters/ImageUrl' is not found in the new refs collection

[2020-03-27 21:37] lmazuel opened #8863 "Incorrect ref in mixedreality"
Error: $ref to original location 'file:///C:/Users/lmazuel/Git/azure-rest-api-specs/specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/common.json#/components/parameters/accountKeyRegenerateParameter' is not found in the new refs collection

[2020-03-28 02:51] alexhcheng commented on #8844
[v1.0.zip](https://github.com/Azure/azure-rest-api-specs/files/4396548/v1.0.zip)

[2020-03-29 10:06] raych1 commented on #8844
Thanks @alexhcheng for raising this.
If using `x-ms-examples` extension, the example must be at separated JSON file and reference it in swagger. Please refer [Where do the examples live](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/x-ms-examples.md#where-do-the-examples-live) for details.

If you want to define example inline of swagger file, please refer [example-object

[2020-03-29 13:52] alexhcheng commented on #8844
thank you.  missed that part in the spec.  Thanks for the clarification.

[2020-03-29 19:46] zouzias commented on #8657
Hi @akning-ms , many thanks for your response. I was unaware of the `autorest` tool.

Is it possible to generate `Go` client code from the API specs in `https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json`?

I guess something like `autorest --go --input-file=S

[2020-03-30 00:46] #8844 closed

[2020-03-31 02:22] ArcturusZhang opened #8883 "Missing field in search/2020-03-13"
In the latest api-version (2020-03-13) of search, a [nextLink](https://github.com/Azure/azure-rest-api-specs/blob/c1ffffc63cc67b1780b4e0a41d0ce28520d9208d/specification/search/resource-manager/Microsoft.Search/stable/2020-03-13/search.json#L234) is introduced to the `QueryKeys_ListBySearchService` operation, but the corresponding response model is not modified to possess a field named `nextLink` (

[2020-03-31 07:22] FireDrunk commented on #7364
We are also experiencing this issue.

API Call:
[code]
Result:
[code]
Removing the interval doesn't help.
Anyone any idea where this issue has been routed?

[2020-03-31 14:38] anthony-c-martin opened #8894 "Microsoft.Media 2019-05-01-preview folder contains 2018-07-01 API version"
See https://github.com/Azure/azure-rest-api-specs/blob/6049cf3aaf88d57c587157f85d658a3782abe907/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-05-01-preview/Accounts.json#L9 for example

This is causing issues for schema autogeneration (see https://github.com/Azure/azure-resource-manager-schemas/pull/927#issuecomment-606484394)

[2020-04-01 01:08] navaneeth opened #8904 "Unable to compile the generated code"
I am using API version `2019-07-01`.

[code]
I am running autorest like:

[code]
When I compile the generated file, I am getting the following error:

[code]

[2020-04-01 01:39] solankisamir commented on #6372
Go package is released
https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/apimanagement/mgmt/2019-12-01/apimanagement?tab=doc

[2020-04-01 01:39] #6372 closed

[2020-04-01 02:05] MyronFanQiu commented on #8904
@navaneeth Hi. I think this issue should be filed in https://github.com/Azure/autorest.go. I invited go sdk owner to take a look.

[2020-04-01 02:14] ArcturusZhang commented on #8904
Hi @navaneeth if you are using `autorest.go` version greater than v2.1.142, you must use the corresponding go-autorest version greater than v13.4.0 or any equivalent module version (for instance `github.com/Azure/go-autorest/autorest v0.10.0`).

Please take this [issue](https://github.com/Azure/azure-sdk-for-go/issues/7757) as reference

[2020-04-01 02:55] leni-msft commented on #8657
@zouzias you're right. Thanks again. I will close this issue.

[2020-04-01 02:55] #8657 closed

[2020-04-01 07:16] njuCZ opened #8906 "for rp `storage-import-export`, the schema of `tags` is not right"
in generated go sdk, the type of `tags` is `interface{}`, it should be `map[string]*string`

[2020-04-01 11:25] yungezz commented on #8863
this need Swagger fixing. but didn't find mixed relatity service attention label, will follow to add one

[2020-04-01 19:19] rohinkoul commented on #6641
This is expected behavior. ARM resource names are not case sensitive and application code must not rely on the case of the resourcename or resource group name.

[2020-04-02 09:17] tombuildsstuff commented on #6641
@rohinkoul unfortunately other ARM API's can be case sensitive, meaning that unless every API and every client treat all URI's as case insensitive (which they don't), then by definition every client has to treat these as case sensitive.

It's worth mentioning that both [RFC 2616](https://tools.ietf.org/html/rfc2616) and [RFC 7230](https://tools.ietf.org/html/rfc7230) define that both URI's and Com

[2020-04-04 01:27] mozehgir opened #8945 "WindowsIot Swagger needs to update "Create" operation with required location parameter"
The property "location" defined in swagger is a required parameter for Create and Update. However not depicted in the swagger.
If you try sending a request as per the swagger definition to create a service, the service responds with a 400 bad request and asks for "location" in request parameters.

[2020-04-04 01:28] mozehgir commented on #8945
As reported by @dw511214992

[2020-04-04 17:48] toraritte opened #8947 "Azure blob storage REST API error on invalid API version is misleading"
<sup>This probably doesn't belong here, but couldn't find a better place to report it.</sup>

Ran into the same issue as the poster of [this Stackoverflow question](https://stackoverflow.com/questions/51948786/azure-storage-rest-api-call-invalid-header-x-ms-version):

[code]
It says that the `x-ms-version` header "_is not in the correct format_", but the actual problem is that not all API versions

[2020-04-05 16:17] szaher commented on #3750
That would be great!

[2020-04-06 10:16] tombuildsstuff opened #8952 "AKS: bug in the Node Pools API"
👋🏻

It appears there's a bug in the Node Pools API in versions 2019-11-01 -> 2020-02-01 (inclusive) - this may be applicable to newer versions of the API too, I'm unable to check at this time.

Previously we were using API version `2019-10-01` for AKS - and using the Node Pools API we were able to set Tags for a Node Pool in upper-case. Upon updating to API version `2019-11-01` (and subsequently `

[2020-04-06 15:34] jluk commented on #8952
@wenwu449 / @gtxistxgao for discussion

[2020-04-06 15:37] pakrym opened #8955 "Proposal: Generation reproducibility, serviceability, and configuration locality"
Goals:

1. Checking out repository and running code generation produces the same result independently from outside factors (like autorest version, state of other repos, state of developers machine, etc.), without requiring developers to install any particular version of Autorest, figure out what revision of spec repo was used etc.

2. All projects are consistently kept up-to-date with the new gene

[2020-04-06 15:42] pakrym commented on #8955
cc @weshaggard @lmazuel

[2020-04-06 15:53] pakrym commented on #8955
cc @johanste

[2020-04-06 16:04] weshaggard commented on #8955
@NullMDR can you give us some idea of how much work would be involved to enable this split of configuration between the language and spec repo?

[2020-04-06 21:37] lmazuel opened #8958 "DataFactory incorrect enum definition"
Enum should be a primary type:
https://github.com/Azure/azure-rest-api-specs/blob/3ae479ed7de039ecdd89d14c22a43fce5df75bfd/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Dataset.json#L475-L487

type lin 478 should be `string`, this will be refused by autorest now.

This pattern is seen in several places in this file.

Side note: I'm doing a linter ru

[2020-04-06 23:31] ArcturusZhang commented on #8904
Closed since this should not be an issue

[2020-04-06 23:31] #8904 closed

[2020-04-07 02:43] NullMDR commented on #8955
@weshaggard I need some time to investigate the problems we have and the impact of these changes. @fearthecowboy @pakrym is the `require:` mentioned in the comment currently a supported feature in autorest?

[code]

[2020-04-07 04:21] lmy269 commented on #8958
@shawnxzq to take a look

[2020-04-07 07:05] gtxistxgao commented on #8952
Thanks @tombuildsstuff  for calling it out.

- Set Tags on AgentPool though agent pool API is only available for API version >= 2019-11-01.
- It does lower case the Key. One thing worth to mention is that the key part of Tag is case insensitive. If add both ```"environment": "Staging"``` and ```"Environment": "Staging"``` to a VMSS, only one of them will exist. The current behavior to return lower

[2020-04-07 08:27] tombuildsstuff commented on #8952
@gtxistxgao just to check, are you confirming this is a bug, or saying this behaviour is intentional?

[2020-04-07 14:00] pakrym commented on #8955
@fearthecowboy mentioned he's working on supporting it.

[2020-04-07 14:03] fearthecowboy commented on #8955
As mentioned in the issue, it's ready for testing: https://github.com/Azure/autorest/issues/3465#issuecomment-607516107

Give `--version:3.0.6267` or greater a try

[2020-04-07 22:51] naveedaz commented on #8093
The intention behind the recently added template validation is to help customers catch issues earlier as opposed to halfway through deployment. This is an Azure wide effort. The best of intentions, however, sometimes do not yield the best of results. The validation causing woes for customers is when a deployment template creates a site where properties.serverfarmId specified for the site is someho

[2020-04-07 23:01] #2980 closed

[2020-04-08 05:46] gtxistxgao commented on #8952
@tombuildsstuff  the lowering case behavior does seem to be intentional at this point. The reason behinds it is that tags on VMSS is case-insensitive.

[2020-04-08 07:26] tombuildsstuff opened #8982 "[Compute API] Breaking Behavioural Change - Delta updates to Tags are not detected"
:wave:

It appears there's a Breaking Behavioural Change to the Compute API when performing a Delta update where Tags are now incorrectly processed.

When performing a Delta (e.g. PATCH) update on a Virtual Machine Scale Set (and potentially other Resources within this Resource Provider, I've not checked) - when tags differ in casing for only the keys, the API no longer updates the tags as it did

[2020-04-08 12:30] tombuildsstuff commented on #8952
@gtxistxgao thanks - whilst this issue is present in the AKS API it appears the root cause is the Compute API - I've opened https://github.com/Azure/azure-rest-api-specs/issues/8982 to track that.

Once that issue's been resolved I'll update here to confirm if that's been fixed - but it's probably worth leaving this issue open until the bug in the Compute/AKS API's have been resolved, since it's a

[2020-04-08 14:10] rhyscooper commented on #8093
I have the same issue, when I deploy my template which includes a serverFarm resource along with a functions app service, I get the below error:
Validation failed for a resource. Check 'Error.Details[0]' for more information. [object Object]

If I comment out the functions app service and deploy it works fine, then add the functions app service back it still fails though so i'm not sure if it's th

[2020-04-08 22:15] joybroto opened #8992 "[Service Fabric] resource-manager/Microsoft.ServiceFabric/stable/2018-02-01/cluster.json doesn't follow standard schema as other rest api specs"
The Cluster definition has a schema which doesn't match other azure rest api specs and should be as following:
`{
   "Cluster": {
      "type": "object",
      "description": "The cluster resource\n",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ClusterProperties",
          "description": "The cluster resource properties"

[2020-04-08 23:59] Drewm3 commented on #6660
@avirishuv, please check to see if this is still an issue. This issue was opened last year, but was missed in triage for a long time. So it may have already been fixed.

[2020-04-09 00:17] Drewm3 commented on #8982
Let me loop in @vladimirjoanovic on this issue. I believe ARM handles the updating of the tags instead of the RPs. So if that is correct, then this needs to be investigated by the ARM team.

[2020-04-09 01:43] hamidtirmizi commented on #8982
Most of the time, ARM is responsible for informing the RP about changes to tags (so if ARM doesn’t see a change, the RP is unlikely to see a change), so ARM plays a key role.

Tag values are case sensitive.
Tag names are case insensitive, i.e. lookup does not care about the case. So,
-	When updating the case for just the tag name, ARM treats it as a no-op, and you see no effect.
-	When updating th

[2020-04-09 18:53] tombuildsstuff commented on #8982
@hamidtirmizi unfortunately that differs from every Azure API I've used, taking Resource Groups as an example - when updating just the casing of the key of a Tag (e.g. `hello` -> `Hello`) this is detected and updated.

At this point in time every language I can think of (.net, Java, Objective-C, Swift, Golang, JS, Python..) has a map/dictionary implementation which is case-sensitive for keys (I ca

[2020-04-09 20:08] naveedaz commented on #8093
@rhyscooper Can you share the correlation Id and approximate time when you ran into the issue? I'll be happy to take a look.

[2020-04-09 20:48] Drewm3 commented on #8982
Moving this over to the ARM team as the discussion has moved to what is the expected behavior for tags in general for any resource under ARM.

[2020-04-09 22:55] iscai-msft opened #9004 "[Alerts Management] ErrorResponse is incorrectly defined"
The [ErrorReponse](https://github.com/Azure/azure-rest-api-specs/blob/2e4c3c5ea916a05d731993a5e3db36b4c64d279b/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2019-06-01/SmartDetectorAlertRulesApi.json#L315) defined in SmartDetectorAlertRulesAPI.json does not match up with what's returned by the wire:
{"error":{"code":"ResourceGroupNotFound","message":"Resource gr

[2020-04-10 08:11] rhyscooper commented on #8093
Sure, I've repro'd the issue just now so the time it occurred was 2020-04-10T08:10:57.4729875Z and the tracking id is '281f5386-02dd-44e4-9dfe-55dda560e01e'

Thanks

[2020-04-10 08:15] yupwei68 opened #9010 "[DataShare] 5006 Missing permissions for DataShareAccount on resource 'storage account'"
According to https://docs.microsoft.com/en-us/azure/data-share/concepts-roles-permissions ,I have assigned my service principal the following roles.
![image](https://user-images.githubusercontent.com/56525716/78975070-eac59a80-7b45-11ea-8b90-77ffdfdc15d4.png)
But still when I create a dataset of storage account, the response shows as following:
Response:
Code="5006" Message="Missing permissions fo

[2020-04-10 18:21] naveedaz commented on #8093
@rhyscooper I looked at your deployment template. The template creates an App Service Plan (aka server farm) in the East US 2 region and then a function app in the UK South region. However, the template specifies the function app to be associated with the server farm in East US 2 (look at properties.serverfarmId of the Microsoft.Web/sites resource in the template). We do not support associating an

[2020-04-12 09:26] simanor commented on #9004
Thank you, we will fix the swagger.

[2020-04-12 16:40] OmkarHirve opened #9014 "PUT call for creation / updation of availability set is not synonymous"
PUT call :
https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}?api-version=2019-07-01

Accepts payload while creating Availability set with proximity placement groups.

`{
  "location": "westus",
  "properties": {
    "platformFaultDomainCount": 2,
    "platformUpdateDomainCount": 20,

[2020-04-13 01:11] #8616 closed

[2020-04-13 02:27] chenjianfei2017 opened #9018 "graphquerymiss location property"
RP graphquery missing location property
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json

[2020-04-13 06:51] yupwei68 commented on #9010
I realize that the data share account need to be assigned role list in the web  https://docs.microsoft.com/en-us/azure/data-share/concepts-roles-permissions

[2020-04-13 06:51] #9010 closed

[2020-04-13 06:58] yupwei68 opened #9021 "Authorization Role Assignment role is not really assigned"
I could get the role assignment from this api, the role assignment is successfully created:
`get` https://management.azure.com/subscriptions/85b3dbca-5974-4067-9669-67a141095a76/resourceGroups/acctest-datashare-200413141352301814/providers/Microsoft.Storage/storageAccounts/acctest200413141314/providers/Microsoft.Authorization/roleAssignments/e1f44303-74f1-4ee1-9bc4-d7aafc5c4506?api-version=2018-09

[2020-04-13 07:00] #9021 closed

[2020-04-13 09:14] rhyscooper commented on #8093
@naveedaz Great spot! looks like someone added the location as hardcoded in the dev environment so it didn't work when we moved to UAT.

I've removed the hardcoded location and the template now validates correctly, I guess the error message could do with being more helpful though!

Thanks for your help.

[2020-04-13 18:26] naveedaz commented on #8093
I am glad that resolved the issue for you. I agree. The error that the "The specified app service plan was not found" is misleading and also does not call out the App service plan that is missing. We will fix that asap. Thanks for the feedback.

`Preflight Response: {"Status":"Failed","Error":{"Code":"ValidationForResourceFailed","Message":"Validation failed for a resource. Check 'Error.Details[0]

[2020-04-13 22:11] szaher opened #9042 "Ignore existing resources within a subscription"
Add flag to cancel subscription request to ignore currently existing (deployed) resources in the subscription to be cancelled.

related to this issue here https://github.com/Azure/azure-sdk-for-python/issues/10814

[2020-04-14 00:54] weidongxu-microsoft commented on #9042
Looks like a feature requirement.

[2020-04-14 20:49] Drewm3 commented on #9014
@avirishuv, could you please look into the AvailabilitySet APIs to resolve this issue?

[2020-04-14 21:10] kurtzeborn commented on #7870
Sorry for the label confusion.  I was trying to clean up labels more broadly.  I've put this issue back the way it is for now.

[2020-04-14 21:59] sunilkh31 commented on #6641
Please refer : https://docs.microsoft.com/en-us/rest/api/resources/resources/update

resourceGroupName	path	True
string
The name of the resource group for the resource. The name is case insensitive.

Regex pattern: ^[-\w\._\(\)]+$

ARM Resource Group Name in ARM URI is case insensitive. If you have noticed an Azure Service not abiding with this please let us know.

[2020-04-15 05:47] magodo opened #9072 "Log Analytics DataSource lacks proper definitions"
Currently, different data sources' property are represented as plain JSON. It is non-trivial for the developer to digest the corresponding SDK, i.e., developer has to figure out the correct JSON format and define the model on their own.
It would be great if the swagger could define the "discriminator" for log analytics data sources.

[2020-04-15 06:20] njuCZ opened #9075 "Maintenance API returns tags key in lower-case"
We've been working with version 2018-06-01-preview of the Maintenance API's (via v38.1.0 of the Azure SDK for Go) - and have noticed a bug that the `tags` key returned from Azure is always lower-cased, regardless of the input case. For example if I create a Maintenance Configuration with tags
[code]

the response of tags is always
[code]
Would it be possible to update this API to return the `tags`

[2020-04-15 07:55] njuCZ opened #9076 "alertsmanagement RP 2019-05-05-preview enum is not consistent with the service actually supported"
this is a snippet in the swagger file specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json:
[code]

However this is the error msg from the backend service:
[code]
the values of enum defined in the swagger is not consistent with the actual supported enum values

[2020-04-15 20:08] aholler2 commented on #8093
@naveedaz How can we validate that an app service template is valid without actually provisioning an app service plan at this point?

As I mentioned in the original issue, we had pipelines that build/release ARM templates for general consumption. These pipelines do a fail-fast template validation on all templates and then finally do template deployments. Now with this app service change we are goi

[2020-04-15 22:30] Vaibhav-Agar commented on #8132
Hi @tombuildsstuff,
We have noted the feedback but as, at this point, we don't have a plan to change the design, I am closing this issue.

[2020-04-15 22:30] #8132 closed

[2020-04-15 22:32] Vaibhav-Agar commented on #8678
@DanteNahuel, Just providing an update that we are in the process of updating the documentation to provide more clarity. The doc changes should be published soon.

[2020-04-16 12:35] yossi-y commented on #9072
Thanks for your comment.
We are aware in the gap in Data Sources and inability to export templates for modifications. This is in our backlog and will consider in our planning for the second half of 2020, but we don’t have commitment nor ETA for Data Sources support in templates currently.
With that said, we have several examples for Data Sources in Log Analytics workspace Azure Resource Manager [t

[2020-04-17 02:25] akning-ms commented on #7264
Hi @test123114, Can we close it if you feel the link is helpful. thanks

[2020-04-17 09:10] yupwei68 opened #9110 "Data Share Invitation for application id question"
I have created an invitation using
[code]
And I'd like to accept this invitation and create share subscription. But it shows error:
`Status=404 Code="7001" Message="Invitation not found"`

And I get invitations from tenant: get https://management.azure.com/providers/Microsoft.DataShare/ListInvitations?api-version=2019-11-01, it returns an empty list.

I suppose targetActiveDirectoryId is tenantid

[2020-04-18 11:01] duduz opened #9122 "graph: applicationTemplates - difference between UI & API"
I did some comparison between the UI functionality and the API, seems like there's a lot of missing attributes that are being autogenerated by default when using the API.

I've used the Amazon Web Services (AWS Template)

Lets cover the API first
1. made POST to https://graph.microsoft.com/beta/applicationTemplates/8b1025e4-1dd2-430b-a150-2ef79cd700f5/instantiate
2. Got an application and a servic

[2020-04-19 01:50] szaher commented on #9042
any updates ?

[2020-04-19 15:06] alongafni commented on #8633
I've created pull request #9129 to fix this issue

[2020-04-20 05:33] qwordy opened #9130 "Availability Set documentation error"
https://docs.microsoft.com/en-us/rest/api/compute/availabilitysets/listbysubscription

[code]
I suspect this example has mistakes. I try it and get an error:
[code]
If I change "\\" to "/", it works.
[code]

[2020-04-20 05:43] qwordy commented on #9130
And it there any explanation of what should I fill in $expand?
Where is the format defined? What does $ref mean?
`virtualMachines\$ref`

[2020-04-20 07:55] dolauli opened #9136 "Some issues in resource graph swaggers"
Found some issues in the swagger
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01
1.	In line#292 and #411, no ‘type’ defined for the data property.
2.	‘tags’ fields are missing for the API, and the format of ‘operationId’ is incorrect, which should be <resource>-<verb>. See https://github.com/Azure/azur

[2020-04-20 09:54] leni-msft opened #9137 "Invalid resourceGroupName in Relay 2018-01-01-preview examples"
https://github.com/Azure/azure-rest-api-specs/blob/a55fed3adf1956b29e5ff39a60ee170f10dd41ce/specification/relay/resource-manager/Microsoft.Relay/preview/2018-01-01-preview/examples/PrivateEndpointConnections/PrivateEndpointConnectionsList.json#L4

The value `{RGName}` of `resourceGroupName` is invalid against [example-schema.json](https://raw.githubusercontent.com/Azure/autorest/master/schema/exam

[2020-04-20 11:09] baywet commented on #9122
@ArcturusZhang I'm not sure why I've been mentioned on this issue? If I'm a PM on Microsoft graph, I do not own this specific API.

[2020-04-20 13:13] jsenich opened #9140 "Management Groups - List - doesn't honor managementGroups/read permission in custom role"
The [Management Groups - List](https://docs.microsoft.com/en-us/rest/api/resources/managementgroups/list) call does not seem to honor the `Microsoft.Management/managementGroups/read` permission if it is used in a custom role, but works fine using the built-in `Management Group Reader Role` which has the same permission defined.

When using the custom role and creating a role assignment for it for

[2020-04-20 14:05] duduz commented on #9122
maybe @lmazuel, @yugangw-msft, @amarzavery has an idea..

[2020-04-20 18:20] lawrencegripper commented on #7143
Sure I'm not sure it resolved this issue but iirc it put new api's in that supersede these ones. Haven't tested them.

[2020-04-20 18:20] #7143 closed

[2020-04-20 20:29] m81092 opened #9144 "URL encoding give auth error when using azure blob rest api"
I am using curl to upload file using [PUT Blob](https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob) to azure blob storage. When I URL encode the path to where I want the file to be stored like "https://${endpoint}/${container_name}/a/b/c/te%20st.txt" (original file name is "te st.txt") and I put the same path in my canonical resource string like "/${account_name}/${container_name}/

[2020-04-20 21:23] heaths opened #9145 "PatternAnalyzer.pattern incorrectly states the default is whitespace"
The documentation for Azure Search for PatternAnalyzer.pattern incorrectly states that the default is whitespace, as well as saying that it matches token separators when, in fact, it appears to match token words. It seems as if it was copied and pasted from PatternTokenizer.

Part of Azure/azure-sdk-for-net#11457

[2020-04-20 21:26] heaths opened #9146 "Most search enums are not documented"
Most enums in searchindex.json and searchservice.json are not documented, meaning that SDK source generators are just using the values as doc comments which does not benefit customers. These should all be documented like AnalyzerName, using the `x-ms-enum.values` array like AnalyzerName does. This will improve our docs across the entire client SDKs.

Part of Azure/azure-sdk-for-net#11457

[2020-04-21 00:39] brjohnstmsft opened #9148 "[Azure Cognitive Search] Rename SearchMode to SuggesterSearchMode"
This will disambiguate the types for languages that can't inline single-value enums.

[2020-04-21 07:14] ArcturusZhang commented on #9122
Oh... sorry about that.... then maybe I should tagged this to AAD or graphrbac? I am always confused by these similar names...

[2020-04-21 12:37] baywet commented on #9122
The PM for this API is @sureshja AFAIK

[2020-04-21 17:17] #5772 closed

[2020-04-21 18:51] heaths opened #9160 "searchservice.json should define NativeBlobSoftDeleteDeletionDetectionPolicy"
As brought up in Azure/azure-sdk-for-net#11435, [documentation](https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage#native-blob-soft-delete-preview) shows an example of using `@odata.type` `#Microsoft.Azure.Search.NativeBlobSoftDeleteDeletionDetectionPolicy` that currently is not defined in swagger. We can define one manually, but if this really is a preview feat

[2020-04-21 19:12] brjohnstmsft commented on #9160
FYI @bleroy @arv100kri

[2020-04-21 20:34] brjohnstmsft commented on #8883
FYI @tjacobhi

[2020-04-22 01:58] #9137 closed

[2020-04-22 06:50] wyunchi-ms opened #9173 "[Cost Management] Miss type definition of QueryProperties.Row"
There is no type definition of the items in the array: https://github.com/Azure/azure-rest-api-specs/blob/98127bcfd62a92618a159936e7f05edb84aa9240/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json#L840. This will cause error when generating code for powershell.

[2020-04-22 13:45] m81092 commented on #9144
@xgithubtriage Hey just looking for an update. Thanks

[2020-04-22 16:26] nguerrera opened #9180 "TranslatorText DetectResult definition appears to be incorrect"
I discovered this when the JavaScript SDK gave me an array of [this](https://github.com/Azure/azure-sdk-for-js/blob/3a68763c217e128054f3df86539c26c1e12e4361/sdk/cognitiveservices/cognitiveservices-translatortext/src/models/index.ts#L247-L252) back from a call to `TranslatorDetect.detect`:

[code]

That did not match the actual objects returned, which were instead as [documented](https://docs.micro

[2020-04-23 09:30] jiasli opened #9194 "[Time Series Insights] Fix inconsistency between API spec and actual service"
Fix inconsistency between API spec and actual service. Details can be found at
[TimeSeriesInsights Speclet.docx​​​​​​​](https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EeASGSS9OH5EoETiy56ZqKYBr85-KD5u6uxLJt3QIVNg8A?e=7Nw2tV).

[2020-04-23 23:55] sima-zhu opened #9205 "Remove group parameters of access-condition"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Azure.Search/preview/2019-05-06-preview/searchservice.json#L7176

Azure SDK will take a bool from public API. There is no need to wrap up boolean and unbox to IfMatch/IfNoneMatch.

Could you please remove the group parameter of access-condition?

[2020-04-24 00:24] nguerrera commented on #9180
I think I found another one in the same service:

LanguageResult here:
https://github.com/Azure/azure-rest-api-specs/blob/2e7ca21a5ad6f749e5bd453580f1c31c1d99b4e6/specification/cognitiveservices/data-plane/TranslatorText/stable/v3.0/TranslatorText.json#L642

does not appear to match:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-languages

Spec seems to say we

[2020-04-24 06:07] #4691 closed

[2020-04-24 06:16] sarangan12 commented on #4838
Really old service version. Not going to pursue this

[2020-04-24 06:16] #4838 closed

[2020-04-24 06:17] sarangan12 commented on #4805
Old versions of the service. Not going to pursue this

[2020-04-24 06:17] #4805 closed

[2020-04-24 06:17] sarangan12 commented on #4759
Not going to pursue old service versions

[2020-04-24 06:17] #4759 closed

[2020-04-24 06:18] sarangan12 commented on #4715
Not going to pursue this

[2020-04-24 06:18] #4715 closed

[2020-04-24 06:18] sarangan12 commented on #4699
Not going to pursue this

[2020-04-24 06:18] #4699 closed

[2020-04-24 06:19] #3480 closed

[2020-04-24 08:43] dw511214992 opened #9209 "Some issues in migrateprojects swagger"
Issues:

1. remove acceptLanguage from client
2. tags definition error

I have created a pr to fix this two issues: https://github.com/Azure/azure-rest-api-specs/pull/9020/files.
I think migrate team can refer to this swagger to work on new swagger.

[2020-04-24 08:43] dw511214992 commented on #9209
@RodgeFu

[2020-04-24 13:23] nschonni commented on #4805
@sarangan12 these aren't the old versions of the service, but the only versions of the service

[2020-04-24 13:54] hammer5280 commented on #8186
Hello, I am getting same response code when testing from here as well and Try it:

https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/restartwebapps#code-try-0

Any updates on this?
Thanks

[2020-04-24 16:52] johnthcall commented on #9136
@dolauli regarding 2019-04-01 comment #2, I see tags field in the two apis in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/stable/2019-04-01/resourcegraph.json can you help me understand what is missing?

[2020-04-24 18:29] ahamad-MS commented on #7023
@sopatwar  Thanks for reporting this issue. We are marking this as feature request and will pass it to the product team. Please feel free to contact Event Grid team using askgrid@microsoft.com

[2020-04-24 19:03] banisadr commented on #7023
Thansk @sopatwar - I've added it to our tracking and tagged Azure Resource Manager which would own implementation of this.

[2020-04-25 10:52] dolauli commented on #9136
My bad. Tags are only missing in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json.

[2020-04-25 18:49] sergiosolorzano opened #9222 "Can't purge secret, then can't disable purge protection"
Hello
In the key vault, I had purge protection disabled and soft delete enabled.
I wanted to delete a Secret. In the portal I selected the secret and deleted it.

Then I needed to create it again with the same name (and not recover, this is because MSFT's team says KV in a VNet doesn't work when secrets are bind from app settings in portal). So I tried to create the secret this time in CLI:
PS /ho

[2020-04-26 02:14] #7264 closed

[2020-04-27 08:15] wyunchi-ms opened #9233 "[ImageBuilder] StatusCode of run operation doesn't define the statusCode of 200"
After the long running operation from path /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/run, service response 200 not 204, but 200 is not defined in the swagger.

[2020-04-27 13:25] wsf11 commented on #8263
Hi @rthorn17 , any update on this issue?

I am experiencing this same issue except with SP. I have a management group structure and my SP is owner of the Tenant Root Group. Unless I grant my SP `Management Group Reader` on the management group itself, I cannot see it when I run a `management group list` REST API query. However, if I run a `management group get`, it appears.

[2020-04-27 13:27] msJinLei opened #9237 "[PostgreSql] size of sku is not retrieved in the server object returned"
We  set the size of sku and then try to get the value.  We find the field is not retrieved, but it is listed in the related swagger spec, [postgresql.json](https://github.com/Azure/azure-rest-api-specs/blob/490fdfd7dbeb5d0efde8bb84f1c1fc52076b822b/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json#L1948)

Please refer to the following http request

[2020-04-27 14:15] jaygridley opened #9238 "SendGrid Accounts API"
There is an existing API managing SendGrid accounts, see https://schema.management.azure.com/schemas/2015-01-01/Sendgrid.Email.json#/resourceDefinitions/accounts. We are missing this one in this repository (https://github.com/Azure/azure-rest-api-specs/tree/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable). It is affecting other parts of Azure's toolchain as menti

[2020-04-27 20:06] duduz commented on #9122
Hi Everyone,

It's almost been a week, i appreciate if this case get some attention, this affects a lot of people looking to use Enterprise Applications in a programmatic way.

[2020-04-27 21:18] alongafni commented on #8633
@MyronFanQiu the PR is merged, can you please verify this fixes the issue?

[2020-04-27 22:16] brjohnstmsft commented on #9145
@heaths `PatternAnalyzer` and `PatternTokenizer` both match token separators, and the default for both is `\W+`, which matches all non-word characters. I'm updating the descriptions to say "non-word" instead of whitespace. I'm also updating our REST API docs with the same change, as well as fixing a typo where we incorrectly state the default for `PatternAnalyzer` to be `\w+` when it should be `\W

[2020-04-27 22:30] riserrad commented on #9194
Hi @jiasli , could you please enumerate the remaining issues we still need to look into?

As far as I'm aware, the majority of the blocking issues were already taken care on the PR below:

https://github.com/Azure/azure-rest-api-specs/pull/8758

There are two remaining items that are going to be fixed in our backend but they don't seem to be blockers.

It would be great if we could have a GitHub i

[2020-04-28 00:36] brjohnstmsft commented on #9146
FYI @bleroy: The following indexer-related enums need some work:

- `DataSourceType`: missing descriptions
- `IndexerExecutionStatus`, `IndexerStatus`, `TextExtractionAlgorithm`, `TextSplitMode`, `VisualFeature`, `ImageDetail`, `EntityCategory`: missing `values` section

The rest are either fine, or I'm working on them. Once I've submitted my PR, I'll re-assign this issue to you.

[2020-04-28 01:39] MyronFanQiu commented on #8633
Sure. @alongafni I want to know who is responsible for the sdk generation? @qiaozha This should be a data plane sdk. Should we send request through APIHub as well?

[2020-04-28 01:49] qiaozha commented on #8633
I think, for data plane Python SDK, you may ask Laurent about the release process.

[2020-04-28 02:19] feiyushi commented on #9233
Service returns 202 for this operation. Does it work?

[2020-04-28 02:43] neil-yechenwei opened #9251 "Tags aren't added to resources Backup Policy and Backup Protected"
Symptom:
Tags aren't added to resources Backup Policy resource and it exists same problem on Backup Protected resource.

RP:
RecoveryServicesBackup

Rest api call for Backup Policy:
[code]

Response:
![image](https://user-images.githubusercontent.com/19754191/80441296-36958380-893d-11ea-9c9c-34bc3f5666c1.png)

[2020-04-28 04:01] Mike-Ubezzi-MSFT opened #9253 "Bugs in cosmosdb rest api docs for replacing a collection"
Moving an issue from Azure Docs REST APIs to this repository as issue was misdirected. Original customer issue: https://github.com/Azure/azure-docs-rest-apis/issues/2868

API Doc:
https://docs.microsoft.com/en-us/rest/api/cosmos-db/replace-a-collection

Issues:

1) Wrong description for `indexingPolicy`

https://user-images.githubusercontent.com/1306747/71560512-a5121580-2a1f-11ea-84fa-7817a32cf62

[2020-04-28 06:32] Drewm3 commented on #9130
@avirishuv, could you please take a look at this. It does look like there is a typo, and more details on why the expand needs to be "=virtualMachines/$ref"

[2020-04-28 10:25] sam-cogan opened #9255 "Support for API Management vnet join with multiple locations"
As far as I can tell it is not possible to create an APIM using the Rest API that supports both vNet Join and multiple locations. The API seems to only provide a way to join the primary location to a vNet, any additional locations cannot have a subnet ID provided for them to join.

Can this be added to the Rest API?

[2020-04-28 17:08] m81092 commented on #9144
Hi @raych1 no body has been assigned to this issue. Can you please make sure somebody addresses this. This is a critical issue for the company. Thanks!

[2020-04-28 23:23] rohinkoul commented on #8555
This is a know issue. Its on our backlog. Fix however would take some time. Please vote for it at https://feedback.azure.com/forums/217313-networking/suggestions/38342179-tags-for-dns-record-with-space-in-tagname

[2020-04-29 03:13] magodo opened #9262 "Will App Service Application Log (filesystem) be Disabled in 12 Hours?"
Currently, terraform azurerm provider has some [requirement](https://github.com/terraform-providers/terraform-provider-azurerm/issues/6645) to expose the [FileSystemApplicationLogsConfig](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/updatediagnosticlogsconfig#filesystemapplicationlogsconfig). In portal, there is a "question mark" says this setting will be disabled automatically in

[2020-04-29 06:06] jiasli opened #9265 "[Time Series Insights] environment update: An operation is already in progress on the environment"
Originally posted at https://github.com/Azure/azure-rest-api-specs/pull/8758#discussion_r416360093

The first **environment update** operation succeeds with 200, without any indication this is a Long Running Operation. Note that `"provisioningState": "Succeeded",`

[code]

Then the following command fails because the previous operation hasn’t finished.

[code]

If the previous update operation has

[2020-04-29 07:14] yupwei68 opened #9267 "API Management Service 2019-12-01 create "Certificate management for the default domain is not allowed""
I failed to update an api management service in 2019-12-01 version. The former version works.

1. create an api management service:
PUT https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/apim-yup/providers/Microsoft.ApiManagement/service/contoso-apimgmt?api-version=2019-12-01

` {"identity":{"type":"SystemAssigned"},"location":"eastus","properties":{"certificates":[],"cus

[2020-04-29 07:32] akning-ms commented on #9144
Thanks @81092 for feedback. Normally our service team will help re-assign for this issue after add label 'service attention' after first triage.  Hi @zhusijia26, can you help assign to correct person in storage team? Thanks

[2020-04-29 16:30] riserrad commented on #9265
Thanks @jiasli for opening the issue. We're going to look into this.

[2020-04-29 17:54] lmazuel opened #9270 "Incorrect definition of "ScopeParameter" in resources client"
Example:
https://github.com/Azure/azure-rest-api-specs/blob/34fcbc36b9974a9a4c28286883d464faecd3d70c/specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json#L5815-L5822

scope parameters MUST use the x-ms-skip-url-encoding autorest extention, otherwise this leads to issue like this:
https://github.com/Azure/autorest.python/issues/596

Example of correct defini

[2020-04-29 21:20] heaths opened #9274 "Support generating pageable collections for ListIndexes"
As discussed internally, Search's ListIndexes could one day be pageable. Right now for the SDK, all languages are doing this by hand but it can be generated that way, which would be easier to maintain and more consistent across languages if you set `..x-ms-pageable.nextLinkName` to `null`. See an example at https://github.com/Azure/azure-rest-api-specs/blob/7586a4893bbafd6d1f90b983bc091c7abf3eed59

[2020-04-29 22:05] bleroy commented on #9146
#9276

[2020-04-30 02:34] yupwei68 opened #9280 "Data Share Account will return all keys of tags in lowercase"
If I create a data share account with tags. It will always return the keys of tags in lowercase.

PUT https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupserver/providers/Microsoft.DataShare/accounts/yup?api-version=2019-11-01
{
      "location": "West US 2",
      "tags": {
        "Env": "Test"
      },
     "identity": {
        "type": "SystemAssigned"
      }

}

R

[2020-04-30 03:13] magodo opened #9281 "Diagnostic Settings Create API Silently Ignore `logAnalyticsDestinationType` for Certain Resource"
For some certain resource (e.g. `azure app service`), if the user calls diagnostic settings with `logAnalyticsDestinationType` set to `Dedicated`, the API returns successful, but the body of a following `GET` returns that field with null. This in-idempotent behavior causes issue like [this](terraform-providers/terraform-provider-azurerm#6676).

I wonder if it is possible to raise an error if the r

[2020-04-30 06:31] neil-yechenwei commented on #5604
@sidramadoss , @veronicagg , seems GA API version https://github.com/Azure/azure-rest-api-specs/blob/9bd8781377f51d576aca18d1f32f8c49c2247184/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/streamingjobs.json#L734 still hasn't supported Compatibility Level 1.2. May I know is there any ETA for this request?

[2020-04-30 06:34] yupwei68 opened #9284 "Advisor generate recommendations doesn't work"
POST https://management.azure.com/subscriptions/{{subscriptionId}}/providers/Microsoft.Advisor/generateRecommendations?api-version=2020-01-01

1. Shall we get the asynchronous link in `Location` ? https://management.azure.com/subscriptions/85b3dbca-5974-4067-9669-67a141095a76/providers/Microsoft.Advisor/generateRecommendations/4ed52480-90dc-42ca-a041-853e2446ff3f?api-version=2020-01-01
![image](ht

[2020-04-30 07:24] neil-yechenwei opened #9285 "IoT Hub Device Provisioning API doesn't return EnrollmentRead/RegistrationStatusRead/RegistrationStatusWrite value when set them as true"
Symptom:
IoT Hub Device Provisioning Service API doesn't return EnrollmentRead/RegistrationStatusRead/RegistrationStatusWrite value in Rights property when set them as true in request body. API should return them since I specified them in the request body, right?

Rest api call:
[code]

API Response:
![image](https://user-images.githubusercontent.com/19754191/80682865-df86de80-8af5-11ea-810f-ceaea

[2020-04-30 07:56] changlong-liu opened #9286 "RP serialconsole: enableConsole/disableConsole REST call failed"
Hello, I'm doing the CLI codegen validation for RP serialconsole.
I found the simple enableConsole/disableConsole calling always get error 415 from service side. Below is my HTTP request/response details:

Request URL: 'https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.SerialConsole/consoleServices/default/enableConsole?api-version=REDACTED'
Reques

[2020-04-30 22:10] sima-zhu opened #9295 "Search: Proposed model and property renames"
This is a list of proposed changes for models and properties.

Model | Property | Proposal | Notes
--- | --- | --- | ---
Analyzer | | LexicalAnalyzer
AnalyzerName | | LexicalAnalyzerName
AzureActiveDirectoryApplicationCredentials | | *remove* | Just uplift ApplicationId and ApplicationSecret to SearchIndexEncryptionKey
DataContainer | | SearchIndexerDataContainer
DataSource | | SearchIndexerDataSo

[2020-04-30 22:14] sima-zhu commented on #9295
The proposed model and property renames are from Azure SDK architect board and guidance.

[2020-04-30 22:58] adreed-msft commented on #9144
@m81092 what is the end goal here? To have a file in storage with a object name of "/a/b/c/te%20st.txt", or a file in storage with an object name of "/a/b/c/te st.txt"?

My _understanding_ is that the canonical name is ***not*** encoded, but the URL should be.

[2020-04-30 23:13] allegradomel commented on #6821
Hi @sopatwar, thanks for bringing this to the SDN team's attention. Looking into it!

[2020-05-01 00:01] neil-yechenwei commented on #9251
Hi @pratimaupadhyay02 , I found some changes from you for this API (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-05-13/bms.json). Could you help to have a look this issue? Thanks.

[2020-05-01 00:06] neil-yechenwei commented on #9285
Hi @nivimsft , I found a latest change is from you for this API (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/stable/2018-01-22/iotdps.json). Could you help to have a look this issue? Thanks.

[2020-05-01 05:10] brjohnstmsft commented on #9295
@sima-zhu Not all of those changes are possible in the Swagger. Some are client-side code only, and some would require REST API changes. Here's what I can change:

Model | Property | Proposal | Notes
--- | --- | --- | ---
Analyzer | | LexicalAnalyzer
AnalyzerName | | LexicalAnalyzerName
DataContainer | | SearchIndexerDataContainer
DataSource | | SearchIndexerDataSource
DataSourceType | | SearchInd

[2020-05-01 15:16] adamedx commented on #6637
Thanks for the cc, though I'm not sure how I can help. @erich-wang , is this a request for the STS to support updates to JWT? I'm not an STS SME, but maybe I can help find someone who is.

[2020-05-01 15:23] m81092 commented on #9144
@adreed-msft The end goal is to store the file with space in the name like "/a/b/c/te st.txt". I tried putting /a/b/c/te st.txt in canonical resource string(un-encoded) and in the URL it is encoded like /a/b/c/te%20st.txt but still get 403. Below are the details-
https://stackoverflow.com/questions/61367473/url-encoding-give-auth-error-when-using-azure-blob-rest-api
Thanks!

[2020-05-01 17:48] adreed-msft commented on #9144
On the off chance I was misremembering, I created a SAS token in The Azure Blob Storage SDK. All in all, the URI looks like such, and the string to sign is below. (signature redacted)

https://adeledevtest1.blob.core.windows.net/spaceinblobname/te%20st.txt?se=2023-05-01T10%3A42%3A43Z&sig=REDACTED&sp=rd&spr=https&sr=b&st=2020-05-01T10%3A42%3A43Z&sv=2019-02-02

[code]

Note that the string to sign i

[2020-05-01 17:50] adreed-msft commented on #9144
Service level SAS tokens _may_ grant more privileges than you're asking for-- But this page describes the SAS token format rather well in comparison to other parts of the documentation in my opinion:

https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas

[2020-05-01 18:13] m81092 commented on #9144
Assuming you saw my SO post(link mentioned in the last comment) which details the issue, You are suggesting, I should use SAS instead of `SharedKey`?

[2020-05-01 19:36] shurd commented on #9253
Thank you for opening this issue. I will look into making these changes in our swagger. ETA will be the end of May

[2020-05-01 20:23] Drewm3 commented on #9233
@danielsollondon, could you look into this issue.

[2020-05-01 20:25] feiyushi commented on #9233
@wyunchi-ms Please let us know if you are unblocked since last time we chatted.

[2020-05-03 08:44] ArcturusZhang opened #9311 "`VirtualMachineImages_List` returns ID of images in improper casing"
First reported: https://github.com/terraform-providers/terraform-provider-azurerm/issues/6745

The ID of the images retrieved by [this request](https://github.com/Azure/azure-rest-api-specs/blob/a07634d23ecb2b963ef456fd2d48ddfcf1cb4315/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json#L1624) is in inconsistent casing with all the segment starting with upper-ca

[2020-05-03 13:55] akning-ms commented on #1085
Hi @brjohnstmsft can we close this issue now?

[2020-05-04 01:29] Prasanna-Padmanabhan commented on #9284
Yes, this is expected as per documentation at https://docs.microsoft.com/en-us/rest/api/advisor/recommendations/getgeneratestatus. After you get 204, you should call https://docs.microsoft.com/en-us/rest/api/advisor/recommendations/get to get the full list of recommendations.

[2020-05-04 11:58] sdebruyn opened #9316 "Databricks workspace not ready to use after creation"
API endpoints:
- https://docs.microsoft.com/en-us/rest/api/databricks/workspaces/createorupdate
- https://docs.microsoft.com/en-us/rest/api/databricks/workspaces/get

When you create a Databricks workspace and then try to create a cluster, you get an error saying that the worker environment is not ready yet.

The response includes a field called `provisioningState`. So far, I've only seen the `suc

[2020-05-04 18:37] XiangyuL-Microsoft commented on #8863
@akning-ms Hi, Arthur, May I ask what I should do for this issue, please?

[2020-05-05 01:06] akning-ms commented on #8863
HI @XiangyuL-Microsoft, You should follow the comment to fix the swagger issue. or re-assign to correct person in your team. seems there is a ref is missing or point to wrong place

[2020-05-05 05:57] johnwc commented on #8174
Any updates?

[2020-05-05 07:12] XiangyuL-Microsoft commented on #8863
@lmazuel could you please explain a little about the issue? It seems that it happens on your local machine? Honestly, I have no idea how to fix it for you. Thank you very much.

[2020-05-05 10:46] pvrk commented on #9251
@neil-yechenwei : We don't have a way to save/retrieve tags on backup resources today. Then it might be consistent to remove them from the request body/definition so that this impression is not given. Let me check with my engg team regarding the removal of this tags and come back to you.

[2020-05-05 16:05] Drewm3 commented on #9311
@Vaibhav-Agar, could you look into this?

[2020-05-05 17:17] brjohnstmsft commented on #1085
@akning-ms Yes, the specs are now complete.

[2020-05-05 17:17] #1085 closed

[2020-05-05 18:55] lmazuel commented on #8863
Actually, I start to wonder if this could be an autorest v3 false positive, I'm discussing this with @daviwil right now about this. Two things here:
- Either we see it's a false positive and we will close the issue
- Either we get more details, and I will update the issue to pinpoint the exact trouble

In the meantime, this should not be considered blocking for anything release or process.

[2020-05-05 23:06] mbfrahry opened #9330 "Service Fabric Mesh Application - `resourceGroupName` in id ignores casing"
I'm running into an issue where the `resourceGroupName` in the id of the Service Fabric Mesh Application ignores the casing that I specify.

For example, I send the following:
`/subscriptions/0000-0000-00000/resourcegroups/thisIsMyResourceGroup/providers/Microsoft.ServiceFabricMesh/applications/application1`

And then I receive the following:
 `/subscriptions/0000-0000-00000/resourcegroups/THISISM

[2020-05-05 23:28] #9145 closed

[2020-05-05 23:28] #9205 closed

[2020-05-05 23:28] #9146 closed

[2020-05-05 23:28] #9274 closed

[2020-05-05 23:28] #9295 closed

[2020-05-06 03:39] NullMDR commented on #9330
Hi @mbfrahry the resourceGroupName in request is case insensitive, you can see our doc here: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#arguments-for-crud-on-resource . However, in service response it should be case sensitive. Could you please provide more background of your API call?

[2020-05-06 03:46] NullMDR commented on #9330
Hi @mbfrahry resourceGroupName is case insensitive in request URL: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#arguments-for-crud-on-resource . Just FYI. I'm not sure about id in service fabric.

[2020-05-06 05:34] yupwei68 commented on #9284
hi @Prasanna-Padmanabhan Thanks for your reply. On fact, I'm now developing and testing this resource. I have created a `storage account` with disabled `Blob soft-delete` and disabled `Secure transfer required`. I want to create some recommendations.
![Annotation 2020-05-06 132455](https://user-images.githubusercontent.com/56525716/81140919-97583800-8f9d-11ea-8299-9ce673c66792.png)
![Annotation 20

[2020-05-06 07:15] dw511214992 opened #9344 "tags is not defined as map"
In swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/peering.json, tags is not defined as map, and it is defined as an object. For example:
[code]

[2020-05-06 16:40] Vaibhav-Agar commented on #9311
Investigating.

[2020-05-06 17:55] mbfrahry opened #9359 "Service Fabric Mesh Application - `services` is not returned from the api"
I've been working on adding Terraform support for the Service Fabric Mesh Application resource and the bulk of the setup is in the `services` fields; however, those fields are not returned from the API. We would need to have that returned from the api to make sure the application is setup properly and to detect configuration drift.

[2020-05-06 21:01] Prasanna-Padmanabhan commented on #9284
Yes, you have the right understanding. Many of our recommendations are generated using telemetry from backend services and any changes you make will take a while (in certain cases, up to a day or more) to show up in the form of recommendations.

[2020-05-06 22:39] daviwil commented on #8863
This seems to be a bug in AutoRest Core, I believe the $ref is specified correctly in the Swagger.  Working on a fix now.

[2020-05-06 22:39] daviwil commented on #8859
This seems to be a bug in AutoRest Core, I believe the $ref is specified correctly in the Swagger. Working on a fix now.

[2020-05-07 01:05] yupwei68 commented on #9284
Hi @Prasanna-Padmanabhan Thanks for your support.

[2020-05-07 01:05] #9284 closed

[2020-05-07 02:55] #9136 closed

[2020-05-07 04:53] dw511214992 opened #9368 "Duplicate object schema with the same name"
In swagger https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2020-01-01/advisor.json, there are two enums defined with the same name:
[code]
[code]
The `name` of `x-ms-enum` are both `category` (ignore the case), which is not allowed. One of them should be changed. If they are supposed to be the same, then put it in

[2020-05-07 07:24] yupwei68 commented on #9110
I enter the false object_id. This api works.

[2020-05-07 07:24] #9110 closed

[2020-05-07 07:25] yupwei68 commented on #9267
Hi, Any update?

[2020-05-07 09:13] ArcturusZhang opened #9376 "Delete request of the workspace in `MachineLearningServices` RP is async but not marked as long-running-operation in swagger"
Original issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/6696

Based on the log provided by a customer, the response header of a DELETE request of a workspace is
[code]
The header `Location` indicates this request is an async operation, but the swagger is not marked `x-ms-long-running-operation: true`, and also `202` should also be added into the [responses block](h

[2020-05-07 16:26] Prasanna-Padmanabhan commented on #9368
Thanks for the feedback. I have opened a bug in our internal work tracking system to address this.

[2020-05-07 19:03] MiYanni commented on #8859
I've added an issue to Azure/autorest for this issue:
https://github.com/Azure/autorest/issues/3498

I'm closing this issue since it is related to AutoRest Core and not the specs repo.

[2020-05-07 19:03] #8859 closed

[2020-05-08 01:47] ukphillips commented on #9255
I just came across this as well trying to front multiple AKS clusters that are isolated in separate VNETs. I was hoping to have a region of APIM for each AKS region, but this seems to be a limitation.

[2020-05-08 02:46] njuCZ opened #9389 "resource id issue of role definition"
role definition can have different scope, the id format should be in this format `/{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId}`.
when the scope is `Subscription` or `Resource Group`, there is no problem:
- Subscription: `/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionID}`
- Resource Group: `/subs

[2020-05-08 03:51] ArcturusZhang commented on #8692
To emphasize that the REST API currently is missing two enum values: `DirectoryRole` and `ApplicationGroup`

[2020-05-08 04:33] dw511214992 opened #9391 "Operations, which should be in the same operation group, are in different operation group"
In swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/addons/resource-manager/Microsoft.Addons/preview/2018-03-01/addons-swagger.json, there is a operation in group "default", and the operation should be in group "AddonDetails"

[2020-05-08 13:03] atrauzzi commented on #9238
Hello :wave:, would love to see this done so that the terraform folks can offer a SendGrid resource!

[2020-05-08 23:12] lilyjma commented on #9122
@KirillShchetinin, @edward-reus, and @sureshja, do we have any updates on this?

[2020-05-09 05:23] RodgeFu commented on #9391
@akning-ms , I didn't find Addon service label. do you know how we can include service team for this? thanks.

[2020-05-09 05:24] RodgeFu commented on #9344
@akning-ms , I didn't find Peering service label. do you know how we can include service team for this? thanks.

[2020-05-09 05:24] RodgeFu commented on #9209
@shijojoy, is there any update for this? thanks.

[2020-05-09 05:41] dw511214992 opened #9398 "Need to handle path parameter "subscriptionId", which specifies the format"
Swagger definition of subscriptionId:
[code]
Becuase it has `"format": "uuid"`, go sdk handles it specifically:
[code]
Its type is `uuid.UUID`, instead of string.
However, in terraform, the `SubscriptionId` is predefined and is string. So we need to change codes like:
[code]

rp: iotspaces
swagger: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/iotspaces/resource-manager

[2020-05-09 06:17] dw511214992 opened #9399 "Iotspaces swagger issue: Examples don't work"
For example, in example https://github.com/Azure/azure-rest-api-specs/blob/master/specification/iotspaces/resource-manager/Microsoft.IoTSpaces/preview/2017-10-01-preview/examples/IoTSpacesPut_example.json, some values of parameters are "string", include "location". Also, when I try to following the swagger definition to create iotspaces with sku name "F1". the service returns 400 bad request with

[2020-05-09 06:18] dw511214992 commented on #9398
close this issue which doesn't belong to this repo

[2020-05-09 06:18] #9398 closed

[2020-05-09 08:18] dw511214992 opened #9400 "AzureStack swagger issue: required parameter is not marked as required"
In resource Registration, some required parameters are not marked required.
For example:
The request body is defined as:
[code]
After test, I find both "properties" and "location" are required, but they are not marked required in swagger.

[2020-05-11 06:37] yupwei68 commented on #9267
relate to https://github.com/terraform-providers/terraform-provider-azurerm/issues/6621

[2020-05-11 10:08] pvrk commented on #9251
@neil-yechenwei : We got a response from ARM team. Tags for Azure Proxy resources such as these are not supported by ARM yet. What would be ideal solution from your end? Can you ignore them for now or do we have to explicitly remove them from our request/response?

[2020-05-11 10:27] sirlatrom commented on #9267
When diff'ing the `hostnameConfigurations` fields of no. 2 and 3 (with sorted JSON keys for clarity), I see a couple of subtle differences:

2:
[code]

3:
[code]

It looks like in 3, the following fields are changed from `null` to either `""` or the evaluated hostname:
[code]

I presume this could be caused by Terraform's way of reading the current values, which I'll take a quick look at in the pr

[2020-05-11 18:36] rjouhann commented on #1278
For me using following fails:

[code]

[code]

Any idea why Azure is rejecting AzureProvidedDNS?

[2020-05-12 00:56] chiragg4u commented on #9018
We are working on this, and will update the ETA soon.

[2020-05-12 03:35] neil-yechenwei opened #9423 "There is no error message in response while failing to create function app"
Symptom:
After tested, I found that there is no error message in response, no error message in ServiceError and no StatusCode since they all are nil while failing to create function app. It should return the error message in response.

Rest api call:
[code]

Result:
![image](https://user-images.githubusercontent.com/19754191/81634857-5ef3a680-9442-11ea-8524-941dd21ac21b.png)

[2020-05-12 04:38] magodo opened #9424 "SecurityInsights Alert Rule Action Asymmetric API"
The Action API is asymmetric, the [response](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2020-01-01/SecurityInsights.json#L831) of `GET` has no `triggerUrl` returned, while the [request](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/securityinsights/resource-manager/Microsoft.S

[2020-05-12 06:56] erich-wang commented on #9391
ping @akning-ms

[2020-05-12 07:30] allenjzhang opened #9425 "[Tracking] PrivateLink PrivisioningState enum standardization"
Hi, Arthur, I kept the same enum from storage. Please work with Network and current RPs to standardize on the list of the enum values.

Thanks.

[2020-05-12 08:09] RodgeFu commented on #9391
@akning-ms , how can we contact svc team? seems no label for add-on

[2020-05-12 14:57] iscai-msft opened #9432 "[key vault] vaultUri in resource manager spec must be readonly"
For context, a client opened an issue here: https://github.com/Azure/azure-sdk-for-python/issues/11333.

The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/260aa3d5e9467700068787493861f92fc590800c/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json#L1107) has vaultUri defined as just a string. In order to make it readonly, a line like [this](htt

[2020-05-13 01:26] JohPa8696 opened #9437 "Unable to start datafactory tumbling windows trigger"
I'm building a Azure Devops Release pipeline which deploys a datafactory using ARM template. I have azure powershell task which start the tumbling windows triggers in the datafactory. The powershell command being used:
Start-AzDataFactoryV2Trigger -ResourceGroupName "rgn" -DataFactoryName  "dn" -Name "tn" -Force

I then tested with the api, and found the same issue as shown below.
[Docs](https://d

[2020-05-13 02:40] raych1 commented on #6554
@stuartleeks, I'm closing this issue with inactivity. Feel free to re-open this issue if it's not resolved.

[2020-05-13 02:40] #6554 closed

[2020-05-13 02:46] chiragg4u commented on #9018
This issue was resolved with the following PR https://github.com/Azure/azure-rest-api-specs/pull/9216

[2020-05-13 02:46] #9018 closed

[2020-05-13 03:03] raych1 commented on #7365
@gucalder, could you please have a look at this issue?

[2020-05-13 03:10] raych1 commented on #8724
@msHich , could you have a look at this issue?

[2020-05-13 04:54] #9233 closed

[2020-05-13 10:30] MSEvanhi commented on #7228
Spoke to Weidong offline. This issue has been fixed with Weidong's suggestion in later versions of the SDK.

[2020-05-13 10:36] jrauschenbusch commented on #7383
I think this is now solved with https://github.com/Azure/azure-rest-api-specs/pull/7832.

Dedicated resources for ClusterPrincipalAssignment and DatabasePrincipalAssignment

[2020-05-13 10:36] #7383 closed

[2020-05-13 18:24] radennis commented on #7984
From the error it seems you are trying to perform an operation on a cluster resource which still hasn't finished a previous operation. Kusto does return a terminal operation once it finishes the operation

[2020-05-13 18:52] MSEvanhi commented on #8064
This has been fixed in later versions of the SDK:
github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-07-01/managedapplications
in v39.0.0

[2020-05-13 19:54] jrauschenbusch opened #9450 "Kusto: Wrong type of ReadWriteDatabaseProperties#isFollowed"
ReadWriteDatabaseProperties#isFollowed must be of type `bool`, but is  of type `string`.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/kusto.json#L2879

This leads to a unmarshal error within the Go library.

Bug reference: https://github.com/Azure/azure-sdk-for-go/issues/9339

[2020-05-13 21:48] riserrad commented on #9265
Hi @jiasli ,

We could reproduce the issue and we're working on a fix.

Thank you

[2020-05-14 00:04] YalinLi0312 commented on #8724
This issue has fixed by pr: https://github.com/Azure/azure-rest-api-specs/pull/8829.

[2020-05-14 00:04] #8724 closed

[2020-05-14 01:03] katbyte commented on #8702
@ArcturusZhang @akning-ms - any progress on this? we are blocked from implementing IOT time series in tf until this is fixed.

[2020-05-14 02:03] ArcturusZhang commented on #8064
Hi @neil-yechenwei since this has been fixed in a higher api-version, maybe you will have to upgrade the api-version...

While in the meantime, @MSEvanhi is it possible to back port this fix to the old api-version as well? Despite this might be a breaking change for the old api-version, I suppose as a bug fix, it may be allowed

[2020-05-14 02:08] ArcturusZhang commented on #8702
Hi @katbyte the service team told me that they have fixed this on the service side, now the returned creationTime could comply with ISO-8601 as expected.
Therefore this issue should have been fixed without any swagger changes or SDK upgrade. Could you please have a check if this issue remains?

[2020-05-14 02:24] NullMDR commented on #9450
@ArcturusZhang Could you help on this go sdk issue?

[2020-05-14 02:27] riserrad commented on #8702
Hi @ArcturusZhang and @katbyte ,

The issue is now fixed on the service side. You may perform tests to validate it if you want.

We can close the issue.

[2020-05-14 07:26] dw511214992 opened #9456 "Miss consumes and produces section"
in swagger https://github.com/Azure/azure-rest-api-specs/blob/master/specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/Marketplace.json, consumes and produces section are missed.

[2020-05-14 11:57] jrauschenbusch commented on #9450
I think this should be a valid fix for the issue:
[code]

It seems that the real API returns a Boolean value, but the model indicates that it is a string.

[2020-05-14 23:37] ifeoluwaokunoren commented on #5607
Fix merged: https://github.com/Azure/azure-rest-api-specs/pull/8788

[2020-05-14 23:37] #5607 closed

[2020-05-15 02:35] dw511214992 opened #9462 "Create resource error by following the swagger and examples"
When I try to create privateCloulds by using the example https://github.com/Azure/azure-rest-api-specs/blob/master/specification/vmwarevirtustream/resource-manager/Microsoft.VMwareVirtustream/preview/2019-08-09-preview/examples/PrivateClouds_CreateOrUpdate.json, I get the 400 bad request with error message:
[code]
The request I used is:
[code]

[2020-05-15 02:48] ArcturusZhang opened #9463 "`WebTestLocations_List` returns a plain json array as response, instead of wrapped in a json"
Originally reported: https://github.com/Azure/azure-sdk-for-go/issues/9284

The swagger defined the response of `WebTestLocations_List` [here](https://github.com/Azure/azure-rest-api-specs/blob/c18974133add20f6fea02092f5c3c85f954c52f5/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/webTestLocations_API.json#L80), which is expecting the response should be ret

[2020-05-15 07:31] dolauli opened #9466 "Some issues in resource graph swaggers -- (related to https://github.com/Azure/azure-rest-api-specs/issues/9136)"
Part of the issues listed in https://github.com/Azure/azure-rest-api-specs/issues/9136 have not been fixed though the ticket has been closed.
List the details as below.
1. location can not be readonly in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json#L272.
2. Following is the

[2020-05-15 07:49] sdebruyn opened #9467 "Role Assignments - Create endpoint comes back with 201 before role assignment is actually in place"
## Original reference

https://github.com/terraform-providers/terraform-provider-azurerm/issues/6934

## API endpoint

PUT https://management.azure.com/{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}?api-version=2018-09-01-preview

## Expected behaviour

I can create data lake filesystems in my storage account after I've given my service principal the Storage Blob Da

[2020-05-15 10:37] ArcturusZhang commented on #8702
Closing this issue...
Hi @katbyte if this issue persist, please feel free to reopen, thanks!

[2020-05-15 10:37] #8702 closed

[2020-05-15 19:13] lilyjma commented on #9122
@luleonpla, please have a look at this issue. Thanks!

[2020-05-15 21:39] anthony-c-martin opened #9486 "expressionEvaluationOptions is missing from Microsoft.Resources/deployments definition"
Originally raised here: https://github.com/Azure/azure-resource-manager-schemas/issues/1009

[2020-05-15 21:45] lmy269 commented on #9437
Duplicate with https://github.com/Azure/azure-powershell/issues/11893#issuecomment-628915379

[2020-05-15 21:45] #9437 closed

[2020-05-17 13:50] danbyrne-tal commented on #9255
We are looking to replace our CI/CD IaC framework of currently more complex ARM template management of our APIM instances with Terraform, and this is a limitation / gap... very keen to get traction on this.

[2020-05-18 06:36] tombuildsstuff commented on #8982
@drewm3 any update here?

[2020-05-18 08:21] docohe commented on #9450
Hi, I'm Dor for Kusto team.
@jrauschenbusch your fix should work. Do you need us to make the change or can you do it ?

[2020-05-18 08:33] jrauschenbusch commented on #9450
I'll open an PR. The question would be, if this should also be applied to the API 2019-11-09, as the property was also already available there, but also of type string. I don't know if this was intended there, or if it's also a bug within the spec.

see https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-11-09/kusto.json#

[2020-05-18 08:39] docohe commented on #9450
Both versions need this fix. I've checked and we don't use this property in the examples.

[2020-05-18 08:58] jrauschenbusch commented on #9450
PR is created. The rest is up to you now 😄

[2020-05-18 10:35] docohe commented on #9450
Sorry I mistakenly though you are a Microsoft employee, I will handle the PR.

[2020-05-19 00:30] luleonpla commented on #9122
@duduz thanks for the feedback. We're going to release a doc to walk you through how to configure end-to-end a gallery app (applicationTemplate) using the APIs. We hope to publish it by the end of next week. Below some comments.

If you create the gallery app using the API, you need to use your own signing certificate. You will need to do a PATCH to keyCredential property of the servicePrincipal.

[2020-05-19 04:27] ramaganesan-rg commented on #6675
2019-11-01 is the latest version and it supports all scopes.

[2020-05-19 04:27] #6675 closed

[2020-05-19 07:03] ruowan opened #9512 "Test assignment-bot for issue assignment"

[2020-05-19 07:03] #9512 closed

[2020-05-19 08:40] duduz commented on #9122
Hi @luleonpla,

Thank you feedback,

I understand that you're aiming on addressing this from the documentation perspective, however, I don't think there's a documentation or a walk through guide issue here but a lack of fundamental functionality that would be very much expected from a service of this scale and importance.
End users of this service are expecting to have an identical functionality t

[2020-05-19 08:41] duduz commented on #9122
Hi @luleonpla,

Thank you feedback,

I understand that you're aiming on addressing this from the documentation perspective, however, I don't think there's a documentation or a walk through guide issue here but a lack of fundamental functionality that would be very much expected from a service of this scale and importance.
End users of this service are expecting to have an identical functionality t

[2020-05-19 08:41] duduz commented on #9122
Hi @luleonpla,

Thank you feedback,

I understand that you're aiming on addressing this from the documentation perspective, however, I don't think there's a documentation or a walk through guide issue here but a lack of fundamental functionality that would be very much expected from a service of this scale and importance.
End users of this service are expecting to have an identical functionality t

[2020-05-19 11:05] jrauschenbusch commented on #9450
Hey @docohe,

not yet ;-) alright, just ping back as soon as the fix is out.

Thanks

[2020-05-20 01:20] neil-yechenwei opened #9525 "Event hubs cluster should support passing parameters with “sku” and “location”"
Per the [example ](https://github.com/Azure/azure-rest-api-specs/blob/7eeef3ce97572bf15bbf3865fdfd17e78b1e760b/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/examples/Clusters/ClusterPut.json#L7)of rest apis spec, seems passing “parameters” with “sku” and “location” is supported by “Clusters_Put" API. However, after I also checked [rest api](https://github.co

[2020-05-20 02:03] neil-yechenwei opened #9526 "Failed to enable Zone-redundant for Public IP"
Symptom:
According by [azure doc](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-public-ip-address#create-a-public-ip-address), seems “Public IP” supports “Zone-redundant” when “Sku” is “Standard”. After tried with rest api, seems it failed and threw below error message while passing “Zone-redundant” to service side. If it's a bug, could you help to fix it? Thanks.

PUT htt

[2020-05-20 02:15] xccc-msft commented on #9526
@neil-yechenwei According to response message, you might want to create a resource on different location and try zone-redundant again. I just add label of `Service Attention`. A team member from network service could help clarify this. Thanks.

[2020-05-20 02:37] serkantkaraca commented on #9525
It seems the sample should use  a different name for SKU as below.

`            "sku": {
                "name": "Dedicated",
                "capacity": 1
            }`

[2020-05-20 08:02] msJinLei opened #9537 "Need a new url to retrieve all authorized sku Names of MySQL/MariaDB/PostgreSQL servers"
We have the feedback from Azure Powershell users that
"The values to use for the SKU parameter were not intuitive and if a non-supported value is used, the error should be explicit and if possible, list the authorized values."

Since Powershell side has no such information, we request the service teams to provide a new url to retrieve such information for  MySQL/MariaDB/PostgreSQL servers.

Please

[2020-05-20 08:30] msJinLei opened #9538 "Omit ResourceGroup when creating firewall rules for MySQL/MariaDB/PostgreSQL server"
When using Azure Powershell  MySQL module, a customer request to omit ResourceGroup parameter when creating a firewall rule since server name is globally unique.

This requirement call for a new url to create firewall rules for MySQL server, which is something like
[code]
The current url is here
https://github.com/Azure/azure-rest-api-specs/blob/3a0b1d534cec25b41b5278015bc56e1ee989281a/specificati

[2020-05-20 23:40] haacked commented on #8093
I'm running into this issue as well with `westus2`. I ran the command just now. Tracking Id: `7611e46c-c164-487b-85fa-e3602b90f155`.

It returns `The specified app service plan was not found.`. But if I run the same command with a different `appServicePlanLocation` I get a message,

[2020-05-21 07:58] jackofallops opened #9549 "`Get` on non-existent Management Group ID returns 403 instead of 404"
When checking for the pre-existence of a Management Group prior to creation, a `Get` on the new group name with an appropriate (Owner) account results in a 403, rather than a 404.

The client is fully authorized, and can create, read, and delete existing Management Groups without issue.

Example:
[code]

[2020-05-21 12:18] pvrk commented on #9251
@neil-yechenwei :  Another gentle reminder

[2020-05-21 18:00] Vaibhav-Agar commented on #8678
This was added as an FAQ in documentation [here ](https://docs.microsoft.com/azure/virtual-machines/windows/vm-usage). Closing.

[2020-05-21 18:00] #8678 closed

[2020-05-21 19:52] Sharathmk99 commented on #9238
+1

[2020-05-22 07:48] wely opened #9557 "Incorrect description in SQL Database REST API?"
Hi folks,

I am trying to execute a failover REST request following: https://docs.microsoft.com/en-us/rest/api/sql/failovergroups/failover?source=docs

From the doc, it shows that:

image
I originally created the issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/55323), but was asked to create one here since it's REST related.

---
Apparently during my testing (via postman), this isn

[2020-05-22 21:16] mimckitt commented on #9014
#assign: @mimckitt

[2020-05-22 22:31] epomatti opened #9561 "HTTP 500 - Cost Management API query usage"
I am running the query usage example from this link:

https://docs.microsoft.com/en-us/rest/api/cost-management/query/usage

With the following URL:

[code]

And this body payload:

[code]

But I'm getting HTTP 500 error:

[code]

Would it be anything wrong that I'm doing?

![image](https://user-images.githubusercontent.com/6530769/82713806-b247cf00-9c62-11ea-9280-fa259f5ff4d9.png)

[2020-05-23 06:03] RodgeFu commented on #9563
Good point. transfer the issue to azure-rest-api-specs repo. thanks.

[2020-05-23 11:01] ahamad-MS commented on #7023
Can someone from Azure ARM team take a look here?

[2020-05-23 14:07] vllama commented on #8093
This issue is occurring as well in Canada Central.
The tracking id is 'ecbdbdbd-67a2-46ef-8c4b-26a38ca40197'

[code]

if You have the app service defined but with
  "condition": false
The error is as follows:
[code]

[2020-05-25 02:55] jiasli opened #9567 "[Resources] Response from Azure Stack doesn't comply with the spec subscriptions.json"
When using `2019-06-01` with Azure Stack to get subscriptions (in this case `management.redmond.azurestack.corp.microsoft.com`), the response doesn't comply with the REST spec [`subscriptions.json`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-06-01/subscriptions.json). For example, `authorizationSource` and  `ma

[2020-05-25 04:56] #6660 closed

[2020-05-25 04:57] #9450 closed

[2020-05-25 07:03] yupwei68 opened #9571 "PostgreSQL Server create fails when infrastructureEncryption enabled"
It seems that `infrastructureEncryption` is no longer supported.

1. create a postgresql server in `default` mode with `"infrastructureEncryption": "Enabled"` :
Request:
PUT /subscriptions/85b3dbca-5974-4067-9669-67a141095a76/resourceGroups/rg-wlynx/providers/Microsoft.DBforPostgreSQL/servers/psql-wlynx?api-version=2017-12-01 HTTP/1.1
[code]
Response:
202 Accepted
get the async operation link:
htt

[2020-05-25 13:45] aurimasjsonar opened #9575 "Azure SQL - extended database/server auditing policy - 'too many 500 error responses'"
I'm using Azure Python SDK to call these actions:
https://docs.microsoft.com/en-us/python/api/azure-mgmt-sql/azure.mgmt.sql.operations.extendedserverblobauditingpoliciesoperations?view=azure-python
https://docs.microsoft.com/en-us/python/api/azure-mgmt-sql/azure.mgmt.sql.operations.extendeddatabaseblobauditingpoliciesoperations?view=azure-python

extendedserverblobauditingpoliciesoperations fails

[2020-05-25 23:19] yonzhan commented on #9567
Azure Stack Resources

[2020-05-26 03:25] zalyoung commented on #8982
Any update about this?

[2020-05-26 07:02] dw511214992 opened #9579 "Value of parameter in example is not expected"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/attestation/resource-manager/Microsoft.Attestation/preview/2018-09-01-preview/examples/Create_AttestationProvider.json, parameter `creationParams`'s value is `test`. However, it is defined as a object in swagger. So the example has issues.

[2020-05-26 10:32] tombuildsstuff commented on #8108
👋 any update here?

[2020-05-26 20:53] BenMatase opened #9589 "Network Interfaces - Get Effective Route Table is misleading"
By looking at the docs [here](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkinterfaces/geteffectiveroutetable), it seems that this api should return a route table, but instead it returns a list of [EffectiveRoutes](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkinterfaces/geteffectiveroutetable#effectiveroute). I think the functionality is fine, but to me the nam

[2020-05-27 02:28] dw511214992 opened #9593 "Parameters in reponse body shouldn't marked as required."
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/attestation/resource-manager/Microsoft.Attestation/stable/2020-10-01/attestation.json#L665, object `AttestationProvider` is only used in response. So its paramter `properties` should not be marked as required in swagger. The simple solution is just delete line 667-669.

[2020-05-27 05:30] neil-yechenwei commented on #9526
@xccc-msft , I've tried create this resource with "zone-redundant" on locations (westus2,westus,eastus,eastus2) with rest api but they all failed with same error. May I know which location is available for "zone-redundant"? Actually, as you can see, I can specify "Availability Zone" as "zone-redundant" and create this resource on location "westus2" in Azure portal. So I am not sure why it failed t

[2020-05-27 05:33] neil-yechenwei commented on #9525
@serkantkaraca , and seems Clusters_Put doesn't support to pass parameters as request body.

[2020-05-27 05:39] neil-yechenwei commented on #9251
@pvrk , thanks for your response. Could you help to explicitly remove them from your request/response since it's not useful? Does it make sense?

[2020-05-27 05:43] #8604 closed

[2020-05-27 05:52] xccc-msft commented on #9526
@neil-yechenwei Can you try to capture the request sent from portal and compare the difference?

[2020-05-27 06:36] microsoft-rin opened #9598 ""Resource" definition under common types.json should have systemData under properties"
![image](https://user-images.githubusercontent.com/19398051/82985961-ce70a680-9fa9-11ea-9850-5b6120f67677.png)
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v1/types.json

systemData should be added to Resources/properties

[2020-05-27 06:56] dw511214992 opened #9599 "Required options are not marked as required"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/peering.json#L3102, the parameter `properties` should be required.
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/peering.json#L3138, the paramter `peeringSe

[2020-05-27 07:09] NullMDR commented on #9598
@jianyexi @raych1 Could you help on this issue?

[2020-05-27 07:28] jianyexi commented on #9598
As I know,    the `systemData`  need to be added to the `ResourceModelWithAllowedPropertySet`  [types.json]( https://github.com/Azure/azure-rest-api-specs/blob/master/specification/common-types/resource-management/v1/types.json#L86)
not sure if it need to be added to the `Resource` . @microsoft-rin could you give more context ?

[2020-05-27 12:32] DOliana commented on #8093
@naveedaz I seem to be having the same issue in West Europe. I am trying to deploy an app service with an existing app service plan. It all worked well, until I deleted the app service and left the service plan. Since then it is not able to deploy the app service anymore. Tracking Id: 49ebf058-0d02-450c-bb2a-dc7bbf66cfb1

[2020-05-27 21:54] serkantkaraca commented on #9525
@neil-yechenwei I don't understand what you mean by not supporting request body. Entire JSON object is the body and you provide those in the JSON object.

[2020-05-27 22:31] serkantkaraca commented on #9525
OK, just informed the API is being fixed right now. Sorry for misunderstanding.

[2020-05-27 23:44] neil-yechenwei commented on #9526
@xccc-msft ,  sorry I don’t know how to capture request from portal? Could you help on this? I assume you should have access to this resource on portal.

[2020-05-28 00:00] neil-yechenwei commented on #9525
@serkantkaraca , I think `[parameters](https://github.com/Azure/azure-rest-api-specs/blob/91294a48037aab7aec079d96f9b91e3140033000/specification/eventhub/resource-manager/Microsoft.EventHub/preview/2018-01-01-preview/Clusters-preview.json#L194)` (I called it request body) is missing in `[Cluster_PUT](https://github.com/Azure/azure-rest-api-specs/blob/91294a48037aab7aec079d96f9b91e3140033000/specif

[2020-05-28 00:04] luleonpla commented on #9122
@duduz thank you for taking the time to share the feedback. I have shared this thread internally with my team, it has very good points we should consider and address.

This is the doc I mentioned earlier which doesn't address your concerns but it may help you to follow the end-to-end flow as it is now: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-saml-sso-configu

[2020-05-28 02:17] dw511214992 opened #9611 "Paramter in example doesn't exisit in swagger definition"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/examples/CreatePeeringServicePrefix.json#L5, the paramter `myPeeringService` doesn't exisit in swagger definition.

[2020-05-28 02:20] dw511214992 opened #9612 "Value in example is invalid"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/examples/CreatePeeringServicePrefix.json#L10, the value of prefix is invalid and service side return 400 error with error message: `"Invalid IP prefix 192.168.1.0/24`

[2020-05-28 02:29] xccc-msft commented on #9526
@neil-yechenwei You can try with `Inspect` provided by browser itself and find the request related under `Network` tab. Then you could find details inside the url with `batch?version=****`.
If you still cannot get enough info, @KarenHammons should be able to help answer the question.

[2020-05-28 04:42] serkantkaraca commented on #9525
Here is the PR for fix - https://github.com/Azure/azure-rest-api-specs/pull/9596

[2020-05-28 06:08] neil-yechenwei commented on #9526
@xccc-msft & @KarenHammons , I can capture the request sent from portal now. I found the request sent from portal doesn't include `Availability Zone = zone-redundant` even if I set `Availability Zone` as `zone-redundant` on Azure portal. So does it mean actually both rest api and azure portal doesn't support `zone-redundant` for `Public IP`?

[2020-05-28 06:55] haroldrandom opened #9614 "CostManagement: Resource does't have eTag property"
https://github.com/Azure/azure-rest-api-specs/blob/98127bcfd62a92618a159936e7f05edb84aa9240/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json#L1163

1.  The update operation need an eTag value but the base class of Export is Resource who doesn't have an eTag property but ProxyResource does.
2.  The example costmanagement provide for Creat

[2020-05-28 09:55] dominik-lekse commented on #3437
Another attribute to add to this list is

- replyUrlsWithType

https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#replyurlswithtype-attribute

[2020-05-28 10:01] dominik-lekse opened #9617 "GraphRBAC Application: Add `replyUrlsWithType` parameter"
The latest definition of the ApplicationBase object in `specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json` is missing the parameter `replyUrlsWithType` according to https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#replyurlswithtype-attribute.

[2020-05-28 15:23] KarenHammons commented on #9526
@allegradomel can you help here?

[2020-05-28 18:12] allegradomel commented on #9589
Thanks for this feedback - the SDN team will take a look!

[2020-05-29 02:25] dw511214992 opened #9628 "Value of example from hardwaresecuritymodules is not valid"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/examples/DedicatedHsm_CreateOrUpdate.json#L19
The value of `stampId` is not valid, which cannot `stamp01`

[2020-05-29 08:47] neil-yechenwei opened #9633 "The returned resource id shouldn't be converted into lower case by GET API of Log Analytics Workspace"
After tested, I found the returned resource id in response would be converted into lower case by GET API of Log Analytics Workspace. I think it shouldn't be converted into lower case.

Rest api call:
[code]

[2020-05-29 12:18] tombuildsstuff commented on #9251
@pvrk is there a timeline for fixing the API to support this?

Since we've already shipped support for tags on this resource (and [users are filing issues about it not working](https://github.com/terraform-providers/terraform-provider-azurerm/issues/5729)) we're unable to remove these tags outside of a major version since this'd be a breaking change (and as such I'm going to close https://github.c

[2020-05-29 17:03] haroldrandom opened #9637 "CostManagement: property key dataset is inconsistent with what HTTP response content."
https://github.com/Azure/azure-rest-api-specs/blob/98127bcfd62a92618a159936e7f05edb84aa9240/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json#L943-L948

The property key in Swagger is  all lowercase "dataset", however, the HTTP response content is “dataSet” with capital “S”. So the deserialization won’t work as expected.

![image](https:/

[2020-05-29 18:38] allenjzhang opened #9640 "[Task] Clean up Microsoft.SQL's swagger files"
I have noticed a few issues with existing SQL swaggers:
1. Parameter and definitions are duplicated across resource JSONs in the same folder. Most of them are not even used in the current file.
2. Standard Parameters are not referencing common-types.
3. nit: Seems not following general layouts (such as standard parameters are scattered with body parameter, auth section is at the very bottom)

We s

[2020-05-29 22:15] heaths opened #9644 "Add properties to IndexingParameters from .NET's IndexingParametersExtensions"
Follow-up from #Azure/azure-sdk-for-net#12154. We want to make those changes to the `configuration` member actual model properties instead of extension methods. This will track the work to update the swagger with what the server already supports, though we may want to rename some of the client enum values depending on whether "storageMetadata" truly means "metadata" in the way Storage refers to it

[2020-05-29 22:32] lmy269 commented on #5788
@shawnxza to take a look

[2020-05-29 22:45] jfggdl commented on #7023
Thanks @ahamad-MS. I have assigned this issue to @snaheth  who is part of the ARM team.

[2020-05-29 22:50] giakas commented on #8894
This is one of the older preview releases where we have duplicate files, in the newer releases we are poitning those files from the correct location.

https://github.com/Azure/azure-rest-api-specs/tree/6049cf3aaf88d57c587157f85d658a3782abe907/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview

We have not touched it as its an older release? is this blocking you

[2020-05-30 03:30] djsly commented on #8494
I just check with the following API Version

`https://management.azure.com/subscriptions/{subscription}/resourceGroups/{rg}/providers/Microsoft.ContainerService/managedClusters/{cluster}?api-version=2020-03-01`

I'm getting the expected value

[code]

[2020-06-01 06:52] neil-yechenwei opened #9660 "Cdn Endpoint Update API cannot update the value of property originPath"
I am trying to update the value of property `originPath` with [`Endpoints_Update`](https://github.com/Azure/azure-rest-api-specs/blob/e83bb3392a13e1bb0b2c2cbdf4597d0a0edde49d/specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-04-15/cdn.json#L655) but seems it cannot be updated after tested. May I know is it expect? After also checked [api description](https://github.com/Azure/azure-rest-

[2020-06-01 08:29] jiasli opened #9661 "[Authorization] Role Assignments - List: The doc for `$filter` is incomplete"
The doc for `$filter` is incomplete for listing role assignments APIs, like [Role Assignments - List](https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/list) and [Role Assignments - List For Scope](https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/listforscope).

https://github.com/Azure/azure-rest-api-specs/blob/e83bb3392a13e1bb0b2c2cbdf4597d0a0edde49d/

[2020-06-01 11:19] turjachaudhuri commented on #4901
Has this issue been fixed ?

[2020-06-01 11:20] turjachaudhuri commented on #4901
ABerTSC ,
Will terraform not try to change it to GRS on next run as per the input config ?

[2020-06-01 17:56] rachel-msft commented on #9571
Thanks for reaching out. `infrastructureEncryption` is a server property that is still in development and hasn't been officially released. We apologize for the inconvenience it causes.

[2020-06-01 17:56] #9571 closed

[2020-06-01 22:16] jebalert commented on #8093
Having a similar issue when I attempt to deploy a new bot web app / channel registration to an **existing** app service plan.

`{'additionalProperties': {}, 'code': 'InvalidTemplateDeployment', 'message': "The template deployment 'TestBot' is not valid according to the validation procedure. The tracking id is 'cd282e74-c315-4734-aee0-30126022bd5b'. See inner errors for details.", 'target': None, '

[2020-06-02 07:43] neil-yechenwei opened #9672 "LogAnalytics.Solutions API failed to unmarshal response body"
After tested, I found LogAnalytics.Solutions API failed to unmarshal response body and threw below error message when it failed to create solution.

Request body:
[code]

Error message:
[code]

[2020-06-02 07:54] ruowan commented on #9672
@neil-yechenwei Is it a client issue? which client you used.

[2020-06-02 11:40] nbarkhina opened #9673 "API for doing App Registrations?"
Is there a REST API for creating/managing App Registrations? I didn't see it in the API Reference

https://docs.microsoft.com/en-us/rest/api/azure/

I'm trying to create an App that can go and provision all of our needed Azure Resources for a customer using the user_impersonation scope. However part of that is a requirement to create a few App Registrations.

Thanks

[2020-06-02 17:53] devigned opened #9674 "[VMSS] Misleading docs: "Multiple scale sets cannot use the same load balancer""
It appears the documentation for scalesets is not accurate. Can the product team evaluate the correct this guidance? Thank you!

https://github.com/Azure/azure-rest-api-specs/blob/5433923878dbfe680e9d29e61c7147f82d171aa3/specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/compute.json#L9239

/cc @CecileRobertMichon

[2020-06-02 19:58] docohe commented on #9450
Hi @jrauschenbusch a new GO SDK version is now available.

[2020-06-02 21:01] ctaggart commented on #9462
You need to be using the [Microsoft.AVS](https://review.docs.microsoft.com/en-us/rest/api/avs/?branch=avs) namespace. I recommend installing the [az vmware cli extension](https://github.com/Azure/az-vmware-cli) and then calling [az vmware private-cloud create](https://docs.microsoft.com/en-us/cli/azure/ext/vmware/vmware/private-cloud?view=azure-cli-latest) with `--debug` to see how to use the REST

[2020-06-02 23:46] nemakam commented on #6012
@v-Ajnava , could you please take a look at this one?

[2020-06-03 00:31] neil-yechenwei commented on #9672
@ruowan ，yes. I think so. We’re using azure go sdk as client.

[2020-06-03 00:34] neil-yechenwei commented on #9526
@allegradomel , is there any update on this issue?

[2020-06-03 02:00] ruowan commented on #9672
@ArcturusZhang Could you pls take a took at this go SDK issue?

[2020-06-03 03:26] dw511214992 commented on #9462
Hi @ctaggart Cloud you please update the swagger? I think the namespace of swagger is still `Microsoft.VMwareVirtustream`.
Thank you

[2020-06-03 03:35] ArcturusZhang commented on #9672
This seems like something is wrong in the async polling response, @neil-yechenwei could you please provide some log when the error was raised?

[2020-06-03 04:43] microsoft-rin commented on #9598
Thank you @jianyexi . So the [ARM entity of our service](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2020-02-01-preview/MediaGraphs.json#L359-L373) takes a reference (allOf) to the common resource for the top level properties. If systemData is added to the common resource, we don't need to change on our side, otherw

[2020-06-03 16:15] ctaggart commented on #9462
Make sure you are using:
specification\vmware\resource-manager\Microsoft.AVS\preview\2019-08-09-preview\vmware.json

instead of:
specification\vmwarevirtustream\resource-manager\Microsoft.VMwareVirtustream\preview\2019-08-09-preview\vmwarevirtustream.json

Yes, `networkBlock` is required and it is not reflected in this public preview API version. It is something I'm looking to address for the GA A

[2020-06-03 17:12] ms-premp commented on #8131
I do not see this issue anymore. @bnepal is this still a repro for you?
please provide any additional detail which can help in resolving this.

[2020-06-03 22:30] bnepal commented on #8131
hi

this is all good

regards
binod

On Thu, 4 Jun 2020 at 03:12, Prem Prakash <notifications@github.com> wrote:

--

Regards

*Binod Nepal | Data Lead Endeavour Drinks*T
*+ 61 2 9333 8358 <%2B%2061%202%209333%208358>*E binod.nepal@edg.com.au
26-32 Waterloo Street, Surry Hills NSW 2010

--
This email is confidential. The information communicated in it is intended
only for the person to whom it is

[2020-06-04 00:19] neil-yechenwei commented on #9672
@ArcturusZhang , after checked, I think the real error message is `For first party solution, the solution name has to be convention of solutionType(workspaceName), and the product has to be OMSGallery/solutionType.  For example, product OMSGallery/ChangeTracking, solution name ChangeTracking(myworkspace)` and seems it failed to be unmarshalled in function `pt.initializeState()`.
![image](https://u

[2020-06-04 01:25] krithikas01-88 opened #9704 "Need support on intergrated Application/Network balancer backend health API"
With Reference to application gateway backend health where we could see the targets health attached to balancer.
Is there a way to see the comprehensive health of app gateway directly with Rest API ? I didn't find any specific API except the one which shows the servers health.

For azure net work load balancer there is no means of looking at the backend health similar to app gateway.

I have a use

[2020-06-04 02:25] ArcturusZhang commented on #9672
@neil-yechenwei the error was thrown [here](https://github.com/Azure/go-autorest/blob/778ae565bde392f58e04c3c8ff07c2ac506d00c9/autorest/azure/async.go#L416)
`go-autorest` is expecting the error message to be a JSON string, but instead, the service returns the error message as a string literal
[code]
which is not a legal JSON string (legal JSON string should start with curly brace), therefore you w

[2020-06-04 04:45] neil-yechenwei commented on #9525
Seems the issue has been fixed. So closed it. THanks so much.

[2020-06-04 04:45] #9525 closed

[2020-06-04 13:56] Evilweebl commented on #4221
Are there any plans to bring back CRUD functionality to these subresources? We currently have several microsites each owning their own IAC. In the current scenario they cannot independently add their own backend pools/routes/front ends so instead we are forced to have a central IAC repo for front door that must be kept up to date with knowledge of all products which is quite counter productive.

[2020-06-04 17:59] ajlam commented on #9538
Looking into this.

[2020-06-04 18:59] jaishals opened #9718 "Private Link Support on Application Gateway"
## Service Release Details

- Is this an Embargoed Preview, A Public Preview, or a General Release?

    - Public Preview as well as GA

- What is the expected service release date?

    - 07-31-2020 (Public Preview. Powershell is a must to be supported)

## Important Note

- There was a design review raised in April
 https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/571

 But swag

[2020-06-04 19:00] #9718 closed

[2020-06-04 22:51] anuragdalmia commented on #9042
This behavior is currently by design. We explicitly did not enable this to prevent accidental cancellations of subscriptions with active resources that could impact prod services. If you would like to cancel subscriptions, you should be able to delete all resources and then cancel the subscriptions via the APIs. The reason we support this in UX and not in API is that the UX has enough warnings and

[2020-06-04 22:51] #9042 closed

[2020-06-04 23:25] shuai-niki-yuan commented on #8093
I run into similar issue as well when doing the template deployment to create resources including a function app: could someone help me check what might be wrong? **the tracking id is: 466c1dbf-ebc0-4290-843b-0fb980848eec'**
 2020-06-04T23:02:58.0047618Z ##[error]The template deployment 'resources-20200604-230255-62a6' is not valid according to the validation procedure. **The tracking id is '466c1

[2020-06-05 00:03] naveedaz commented on #8093
@aholler2  You do not need to actually create the resources to validate the template. Any template can be validated by calling this API.  https://docs.microsoft.com/en-us/rest/api/resources/deployments/validate.

[2020-06-05 00:40] naveedaz commented on #8093
@haacked Thank you for reporting the issue. This issue is hit when the serverfarmId is not a complete ARM resource Id of the format "/subscriptions/{subId}/resourcegroups/{rg}/providers/microsoft.web/serverfarms/{sf}". We were not properly deducing the subscription and resource group from the site resource specified in the template. The fix is part of the next release. From the logs I see that you

[2020-06-05 01:12] haacked commented on #8093
Thanks @naveedaz, I tried the full ID and that didn’t work for me at the time. I ended up manually creating it to unblock myself. At least that’s how I remember it. 😝

[2020-06-05 01:14] naveedaz commented on #8093
@vllama The issue you are experiencing is not the same. From the logs, I do not see any call that gets to the Azure App Services RP.

[2020-06-05 01:49] dolauli commented on #9466
Any updates on this issue?

[2020-06-05 01:49] dingmeng-xue commented on #8945
Hi, is there any update?

[2020-06-05 02:31] neil-yechenwei opened #9726 "The sku.tier doesn't take effect while creating app service plan"
After tested, seems sku.tier doesn't take effect while creating app service plan. If sku.tier I specified is incorrect, I assume api should throw error, right? Thanks.

Http request:
[code]

Http response:
[code]

[2020-06-05 02:55] #9674 closed

[2020-06-05 03:03] neil-yechenwei opened #9728 "SiteConfig.RemoteDebuggingEnabled doesn't take effect while creating multiple app service at the same time"
After tested, I try to create multiple app services whose SiteConfig.RemoteDebuggingEnabled is set as `true` at the same time but SiteConfig.RemoteDebuggingEnabled of some of them are still `false`. Could you help to have a look? Thanks.

[2020-06-05 06:32] shawnxzq commented on #8958
This is the current practice in ADF, we need to find way to keep backward compatibility in ADF, offline talking this with @RodgeFu now.

[2020-06-05 09:44] ArcturusZhang opened #9734 "The `responses` property of `WebApps_Get` operation should not include `404`"
Problematic swagger: https://github.com/Azure/azure-rest-api-specs/blob/09ac2b33d780dbf2f74de2083012f62aaa33c451/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json#L130

A `GET` operation is supposed to return explicit errors when the client received `404` which indicates the resource does not exist, and it would never be the result that the client is expecting.

[2020-06-05 11:18] RodgeFu commented on #8958
@lmazuel , this property in ADF is special, it can accept an enum or an Expression object, do you know how we can achieve it in swagger? thanks.

[2020-06-05 14:38] mayank-chaturvedi commented on #8093
Hi @naveedaz . Facing a similar isse while trying to deploy a new bot web app / channel registration to an existing app service plan..
The error is as follows :

Azure Error: InvalidTemplateDeployment
Message: The template deployment 'SaxoT-Rex' is not valid according to the validation procedure. The tracking id is 'dbbba0ba-94f5-4e88-8042-aa588f59c2d5'. See inner errors for details.
Exception Det

[2020-06-05 17:30] aholler2 commented on #8093
@naveedaz That's not true and is why I created this issue in the first place. Validation of app service should not need an existing app service plan, however it does. As you can see by my logs below validation of app service fails w/o an existing app service plan.

[code]

[2020-06-05 18:50] naveedaz commented on #8093
@aholler2 We are re-evaluating serverFarmId validation on the site resource. Just so I understand the scenario completely, can you re-iterate why the server farm resource itself does not exist in template? Do you have linked templates?

[2020-06-05 20:26] ajlam commented on #9538
@msJinLei - this is a restriction we have today in ARM. Other than this request for PowerShell, are there any customer requesting this?

[2020-06-05 21:13] lmazuel commented on #8958
Beware to not mixed-up two things:
- An enum should have a simple type (int, string, etc.)
- A property could be of type or enum, or type object

This is not exactly the same level of abstraction

[2020-06-05 21:31] rachel-msft commented on #9237
Thank you for reaching out. We're investigating.

[2020-06-05 23:30] chiragg4u commented on #9466
Thanks @dolauli for reporting this issue. We are looking at planning this work.

[2020-06-06 07:19] RodgeFu commented on #8958
@Imazuel, thanks for the reply. Yes, that's my understanding too.

@shawnxzq , could you confirm my question above? i remember i tried to use .net SDK and pass string there which still work

[2020-06-06 17:48] unagaraju88 opened #9748 "Restoring deleted database from the tagged LTR backup is not working"
Hi Team,

We have tagged all the resources in Azure using terraform. Followed terraform-providers/terraform-provider-azurerm#1802 (comment) to add LTR backup policy to the tagged resources like azure database.

There is no option to add tags in azure portal or using Powershell commands to restore the deleted databases.So I am looking for ARM template as mentioned in above link to restore the delet

[2020-06-06 17:49] nbarkhina commented on #9673
never mind I found it in the Graph API https://graph.microsoft.com/Application.ReadWrite.All

[2020-06-06 17:49] #9673 closed

[2020-06-08 01:23] erich-wang commented on #9726
Could web app service team take a look?

[2020-06-08 02:27] #9130 closed

[2020-06-08 03:05] raych1 commented on #9728
Hi @neil-yechenwei , do you use ARM template for deployment? Are you saying you set the value to `true` however it appeared as `false` after deployment for some of the application.

[2020-06-08 05:11] magodo opened #9762 "SQL Database Security Alert Policies API (2014-04-01) In-Idempotent Behavior of `userServerDefault`"
SQL Database Security Alert Policies API version 2014-04-01 has property called `useServerDefault` in the `DatabaseSecurityAlertPolicyProperties`. From swagger definition, this property accepts either "Enabled" or "Disabled". So if I define the security alert policy in SQL Server, invoke the following request, which specifies this property as `Enabled`:

[code]

Then if I invoke a GET right after,

[2020-06-08 05:50] pvrk commented on #7124
@pratimaupadhyay02 : Can you please take a look at this?

[2020-06-08 05:54] pvrk commented on #8308
Any update on this? I have to close the bug if no other issues are there since the closing time is now being tracked.

[2020-06-08 05:55] pvrk commented on #9251
@tombuildsstuff : This is a general question for ARM team. Whenever they start supporting tags for proxy resources, then we can plan to leverage that.

[2020-06-08 06:06] qiaozha opened #9764 "the json files under entityType folder should also be included explicitly in the input-file configuration"
In datafactory.
 the Trigger https://github.com/Azure/azure-rest-api-specs/blob/codegen-datafactory-onboard-cli/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Trigger.json#L9 is the polymorphic base class.
And MutipliePipelineTrigger https://github.com/Azure/azure-rest-api-specs/blob/codegen-datafactory-onboard-cli/specification/datafactory/resource-

[2020-06-08 08:10] neil-yechenwei opened #9768 "Failed to process request content for Container Group when LogType is ContainerInstanceLogs"
After tested, I found it failed to process request content for Container Group from service side when LogType is ContainerInstanceLogs. Could you help to have a look? Thanks.
Http request:
[code]
containerinstance.ContainerGroupsClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidRequestContent" Message="The request content was invalid and could not be de

[2020-06-08 12:38] gek0 commented on #3594
hitting the same brick wall as @surajmuthreja
We are trying to deploy virtual machines (and every other related resource - disks, IPs) in an automated fashion and highly-available with the usage of Availability Zone.
I'm aware of Availability Sets but in this case, it's not enough - we are planning to use AS only if a region does not support AZ design.

So back to the problem -
- first we need to

[2020-06-08 13:29] lrxtom2 opened #9772 "`email` in security center don't support multiple address"
Hi Team,
Seems that `email` field in [Microsoft.Security/preview/2017-08-01-preview/SecurityContacts](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json) don't support multiple addresses that don't match the behavior at portal. Please have check.
![image](https://user-images.githubuse

[2020-06-08 17:21] lmy269 commented on #9764
@spagarwa to fix this particular issue. @shawnxzq, shall we check x-ms-discriminator-value is set for other cases?

[2020-06-08 17:39] haldarsumana commented on #4963
How can I get a Sas url with read-only or write-only permission for a directory in Azure File Share to access all files and sub directory in that directory but it will not be accessible by other directory o files in Azure File Share by using Rest API?

[2020-06-08 20:10] bganapa commented on #9400
PR - https://github.com/Azure/azure-rest-api-specs/pull/9777

[2020-06-09 01:27] ArcturusZhang commented on #8308
Hi @pvrk sure, I am going to close this one, since there is no other option regarding on this particular naming issue...

[2020-06-09 01:27] #8308 closed

[2020-06-09 03:11] dw511214992 opened #9781 "Service return a number but the swagger defines it as enum"
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/kubernetesconfiguration/resource-manager/Microsoft.KubernetesConfiguration/preview/2019-11-01-preview/kubernetesconfiguration.json#L377, the `messageLevel` is defined as enum, but the service side returns a number.

Also, there are other similar issue. The `EnableHelmOperator` is defined as string, but the service side retu

[2020-06-09 04:41] bganapa commented on #9400
We have a PR to address the issue @dw511214992 Could you please let us know how found this issue? What are you trying to do with this spec? Thanks!

[2020-06-09 20:58] aszykm opened #9795 "Microsoft.DBforPostgreSQL - serversv2"
Hello,

I could not find any documents about the resource of type **serversv2**.
The resource is used for the deployment Citus cluster.
In Azure Portal is possible to deploy Citus Cluster but I could not find any information about for example ARM template. I can only download a template from the portal but I did not see all properties.

Documents for resource **servers**, which is used for deploym

[2020-06-09 21:14] aholler2 commented on #8093
@naveedaz We do not utilize linked templates. Our team's current philosophy is to decouple and simplify templates whenever possible. Our team generalizes and publishes ARM templates for app team consumption in pipelines and in such a case the templates are not to be coupled and complex. This is intended to enable ease of use and different solution varieties. We have a simple template for creating

[2020-06-09 23:25] RezaJooyandeh opened #9796 "Sample swagger declares api-version but does not use it"
The sample file: [documentation/samplefiles/Microsoft.YourServiceName/stable/YYYY-MM-DD/YourServiceName.json](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/samplefiles/Microsoft.YourServiceName/stable/YYYY-MM-DD/YourServiceName.json) declares [`ApiVersionParameter`](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/samplefiles/Microsoft.YourServiceNa

[2020-06-10 01:05] SamaraSoucy-MSFT opened #9797 "App Insights CurrentBillingFeatures isn't being generated in downstream documentation"
Original customer thread in the main docs repo: [azure-docs/#56396]( https://github.com/MicrosoftDocs/azure-docs/issues/56396)

Both the Resource Explorer in the portal and the [ARM template](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/allversions) docs are missing the CurrentBillingFeature property from this spec: https://github.com/Azure/azure-rest-api-specs/blob/e1290129

[2020-06-10 06:48] erich-wang commented on #9772
Routing to security center team to follow up, thanks.

[2020-06-11 01:04] magodo commented on #9072
@yossi-y I'm wondering if the definition has been supported in some latest swagger spec version?

[2020-06-11 04:14] heaths opened #9806 "Full vault backup and restore should probably be marked as a long-running operation"
This operation should probably be marked with `x-ms-long-running-operation` since it documents an async operation and has a "pending" endpoint. See https://github.com/Azure/autorest/blob/8f3ccbd67460816a2085f947ddc7026899f4b1a2/docs/extensions/readme.md#x-ms-long-running-operation for details.

https://github.com/Azure/azure-rest-api-specs/blob/e691ceee865ab60d1f2dca5b35488aeb784da221/specificatio

[2020-06-11 07:14] njuCZ opened #9809 "BotService could not update `CallingWebHook` to empty for MS teams Channel"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/botservice/resource-manager/Microsoft.BotService/preview/2018-07-12/botservice.json#L363

when field `CallingWebHook` for MS teams Channel is not empty, we want to update it to empty field but no effect, because the update function is a patch api. The create Api could not update it either. Is there any way to do that through r

[2020-06-11 07:44] neil-yechenwei opened #9810 "Network.VirtualHubClient cannot recreate virtual network connection with same name"
I tried to `recreate` `virtual network connection` with `same name`. Although PUT API didn't return any error message but I found actually virtual network connection wasn't created after called GET API to double check. May I know is it expected?

call PUT API to create virtual network connection:
[code]

call Get API to retrieve virtual network connection:
[code]

[2020-06-11 08:14] yossi-y commented on #9072
This wasn't added and in review state. As I mentioned, it's not trivial to add swaggers for datasources considering its structure and we are evaluating our options to support common datasources. We don't have ETA at this point. we have several examples for datasources that can be utilized for templates. like the link above and this one and additional [examples](https://docs.microsoft.com/en-us/azu

[2020-06-11 08:36] magodo commented on #9072
So then can we keep this issue open as it hasn't been implemented?

[2020-06-11 15:29] bganapa commented on #9400
PR is merged

[2020-06-11 15:29] #9400 closed

[2020-06-11 15:47] bganapa commented on #9567
@jiasli I think we should be able unblock with the API Profile setting for azurestack consuming a older version. Please let me know if this issue is blocking you

[2020-06-11 15:52] bganapa commented on #9567
Actually the api version 2019-06-01 is not supported and azurestack should return Not Supported error for the call. It is not happening right now. We will fix it

[2020-06-11 16:06] christothes opened #9812 "Full vault restore swagger some types missing descriptions or with ambiguous names"
### Missing descriptions
https://github.com/Azure/azure-rest-api-specs/blob/9a54fc6b253e65affca9ba35d4c25052e5bcc12c/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json#L274

https://github.com/Azure/azure-rest-api-specs/blob/9a54fc6b253e65affca9ba35d4c25052e5bcc12c/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json#L289

### Ambiguo

[2020-06-11 19:15] ajlam commented on #9538
Closing this issue as won't fix.

[2020-06-11 19:15] #9538 closed

[2020-06-11 23:04] christothes commented on #9806
I believe this is true for both backup and restore.
https://github.com/Azure/azure-rest-api-specs/blob/e691ceee865ab60d1f2dca5b35488aeb784da221/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json#L58

[2020-06-12 01:22] #7959 closed

[2020-06-12 01:38] neil-yechenwei commented on #9728
Hi @raych1, we are using [azure go sdk](https://github.com/Azure/azure-sdk-for-go/tree/master/services/web/mgmt/2019-08-01/web) to create this resource. Yes, I set the value of SiteConfig.RemoteDebuggingEnabled property to true however it appeared as false after deployment for some of the app services.

[2020-06-12 03:13] jiasli commented on #9567
Thanks @bganapa, using an old API does solve the issue. But you are right:

[2020-06-14 03:06] #9796 closed

[2020-06-14 03:48] #4839 closed

[2020-06-14 08:34] akning-ms commented on #4914
@ash1625 can you address what is the status?

[2020-06-14 15:19] yossi-y commented on #9072
We have made record of the missing functionality and will consider it in near planning and therefore closed the case here.  Please note that if needed, you can reopen this issue at any time.

[2020-06-15 05:04] aim-for-better commented on #6505
Internal issue, we will solve this issue in next api version.

[2020-06-15 05:50] aim-for-better commented on #6724
We need a new api version to solve the issue

[2020-06-15 17:33] radjaram commented on #4914
Calls to DMS API are designed to be idempotent. We need more specifics and more details for the call that was made and not found to be idempotent.

[2020-06-15 23:37] magodo commented on #9072
I have no right to reopen this issue, would you please keep it open so that we can use it to track the progress?

[2020-06-16 02:39] yupwei68 opened #9847 "Advisor Suppression Get API 404"
When getting an advisor suppression which doesn't exist, we get the following trace:
[code]

This response has raised error in Go SDK:  StatusCode=404 -- Original Error: autorest/azure: error response cannot be parsed: "" error: EOF

We'd like to suggest to set a default in the response definition of Advisor Suppresion Get. And the error message suggests that the response body shall not be empty w

[2020-06-16 07:21] lilyjma commented on #9004
Closing the issue as it appears to be resolved.

[2020-06-16 07:21] #9004 closed

[2020-06-16 15:40] jf781 opened #9852 "Error creating a billing role assignment"
When attempting to create a billing role assignment I get the following error.

[code]

The request I'm using is:

[code]

I've tried to tweak the body a number of different ways but with the same error.

I'm able to successfully query the current billing role assignments but am not able to create a new one.

Any thoughts on what I should be trying different?

[2020-06-17 09:02] danielrbradley commented on #5604
It appears that the documentation is no longer describing version 1.2 as "preview" any more - just as "Newest behavior" and also recommends using 1.2 by default.

Has this change been reflected in the APIs yet? Or can anyone share if there's an expected date for this to be completed?

[2020-06-18 00:23] heaths opened #9876 "Document includeSanitizedConnectionString query parameter data sources"
There is an `includeSanitizedConnectionString` query parameter that is not documented for data source APIs like [this one](https://docs.microsoft.com/rest/api/searchservice/update-data-source) that will send back a sanitized connection string, which is normally omitted for security reasons. Customers may want to see what non-PII they can, so it might be helpful to document this for any APIs that s

[2020-06-18 00:27] heaths opened #9877 "Document "<unchanged>" and "<redacted>" values for DataSourceCredentials.connectionString"
The `DataSource` model requires `DataSourceCredentials`, but the latter model is not returned from data source APIs. Since it's required, we cannot send back null (at least, the .NET generator does not support this since it's not `"x-nullable": true` and is, again, authored as required) and if we send an empty value (`connectionString` is not required), it would either err on the server or, worse,

[2020-06-18 00:44] brjohnstmsft commented on #9876
FYI @bleroy -- Please route to the right owner

[2020-06-18 00:44] brjohnstmsft commented on #9877
FYI @bleroy -- Please route to the right owner

[2020-06-18 03:47] jdelforno opened #9879 "Graph RBAC - Switch to MS Graph API"
Apologies if this is logged incorrectly, I'm a sysadmin with very little knowledge on how this all works.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json

The above is making use of graph.windows.net, which is being deprecated.

To add, it's also missing a lot of new features / functions of Azure AD.

Is th

[2020-06-18 07:14] jdelforno commented on #9879
Odata - https://graph.microsoft.com/v1.0/$metadata

[2020-06-18 08:38] ofirmanor commented on #9076
quick update - this inconsistency will be fixed in the next API version of action rule, internal tracking id 7484381
Thanks!

[2020-06-18 08:38] #9076 closed

[2020-06-18 16:10] xiangyan99 commented on #9877
To make sure I understand correctly, do we always set connectionString to "<unchanged>" when we see it is empty?

Or we need to distinguish it is an update operation or create operation?

If we only do it for update, how can we know it?

[2020-06-18 18:12] heaths opened #9885 "Mark backuprestore.json operations as long-running operations"
Back and restore operations in backuprestore.json appear to be implemented as long-running operations (LROs). It would help our generators for the Azure SDK for Key Vault if those were properly authored as LROs like in [securitydomain.json](https://github.com/Azure/azure-rest-api-specs/pull/9647/files#diff-f68bf6cc6d3ee4a9588c1f7b8c1aa190R113).

[2020-06-18 18:18] Vaibhav-Agar commented on #9311
Closing based on the offlien discussion with @ArcturusZhang.

[2020-06-18 18:18] #9311 closed

[2020-06-18 18:48] heaths commented on #9877
We should probably only set it to "\<unchanged\>" in the SDK when sending to `create_or_update_data_source_connection` (or equivalent for other languages; I'll use pythonic names since you asked 😉). If you already have a wrapper in your `SearchIndexerClient` for this method, maybe just set it to that value if it's null (in case they overwrote the value intentionally). In .NET, our serializer only

[2020-06-18 19:21] brjohnstmsft commented on #9877
@heaths The issue with setting it explicitly to "<unchanged>" in the SDK is that you don't know if you're creating or updating, as @xiangyan99 pointed out. I'm not sure the SDK needs to handle this case, given how applications are expected to use the GET-modify-PUT pattern for updating data source connection properties.

[2020-06-18 19:26] xiangyan99 commented on #9877
Another option may be we set it to "\<unchanged\>" in GET operation. Then we don't need to do extra stuff in PUT.

[2020-06-18 20:36] brjohnstmsft commented on #9877
@xiangyan99 The service should already be doing that for you.

[2020-06-18 21:45] heaths commented on #9877
@brjohnstmsft, it's not. We have to do something, because in my testing (when I found this), .NET was sending back an undefined `DataSourceCredentials` model (initially, that was because of my wrapper implementation) but then an empty one (no "connectionString" property), which I was told was not okay. The swagger isn't defined in such a way that our generators would handle correctly.

@xiangyan99

[2020-06-19 01:16] yaegashi opened #9890 "billing: x-ms-pageable is missing in BillingAccount_List of 2019-10-01-preview"
The `x-ms-pageable` attribute is missing in BillingAccounts_List  of 2019-10-01-preview version:

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/billing/resource-manager/Microsoft.Billing/preview/2019-10-01-preview/billing.json#L20-L63

while it exists in BillingAccount_List of 2018-11-01-preview version:

https://github.com/Azure/azure-rest-api-specs/blob/master/specifica

[2020-06-19 06:59] lrxtom2 commented on #8883
Hi, I am working blocked by this issue, could anyone could please fix that? Thanks for that!

[2020-06-19 14:17] tjacobhi commented on #8883
This was fixed in this PR https://github.com/Azure/azure-rest-api-specs/pull/9085. Please let me know if you are still having trouble.

[2020-06-19 17:04] wilcobmsft commented on #9852
For --data-raw, can you try passing in the following value?

[code]

Note how the properties are wrapped inside a "properties" property, and instead of billingRoleDefinitionId we're using roleDefinitionId.

[2020-06-19 18:28] amberbhargava commented on #9890
@yaegashi it indeed is a miss in the 2019-10-01-preview version. We're working on the GA version of the API, which should be available in the next couple of months. x-ms-pageable will be added to the GA version.

[2020-06-19 22:36] lukecolburn commented on #8093
@naveedaz We use linked templates, and we discovered this issue when we ran a deployment that was provisioning a new app service plan instead of pointing to an existing one. If we run the linked template on its own and then run the parent template the validation passes and the template deploys fine. Is there a particular workaround for linked templates?

[2020-06-20 08:12] yaegashi commented on #9890
@amberbhargava Thanks for the clarification.  I was a bit confused, 2020-05-01 stable version was indeed present in billing, but it's actually 2020-05-01-preview in the Go SDK for which I was going to generate by myself.  Can I expect it to become 2020-05-01 stable when it's GA?

[2020-06-20 13:40] krise86 opened #9901 "Undocumented API - Microsoft.Security/securitySolutions"
The api is mentioned in the powershell script
https://github.com/Azure/Azure-Security-Center/tree/master/Powershell%20scripts/Vulnerability%20Solution

But there is no spec on this so i am unable to add a new solution to an existing one like we can trough the webui

[2020-06-21 12:11] Mjiduser commented on #8093
Hello,

Is there any news /workaround for the use case regarding Linked templates? I am getting the same issue :

2020-06-21T11:54:41.2454441Z There were errors in your deployment. Error code: InvalidTemplateDeployment.
2020-06-21T11:54:41.2505894Z ##[error]The template deployment 'template-202006' is not valid according to the validation procedure. The tracking id is ''. See inner errors for deta

[2020-06-22 02:39] ArcturusZhang commented on #8883
Closed since it should have been resolved.

[2020-06-22 02:39] #8883 closed

[2020-06-22 05:09] magodo opened #9904 "Peering: backend will "silently" remove subscription from registration list"
Sometimes the peering API will raise some error like below:

As we discussed with service team, this issue happens because:

While in terraform, as we have to check whether the resource going to be created already exist, we need to firstly call "GET". In this case, it will fail (complaining not registered) if the subscription has no peerASN associated.

I wonder if it is possible to also populate

[2020-06-22 05:34] yungezz commented on #9904
this is a service issue ,need service attention, while seems no `Peering` service label. Ping lily to help add it.

[2020-06-22 05:43] yungezz commented on #9456
cc @olrakovs  from commit history to look at the issue

[2020-06-22 05:48] olrakovs commented on #9456
@yungezz , consumes and produces are implemented inside every path

[2020-06-22 07:50] magodo opened #9906 "monitor: activityLogAlerts_API.json (2017-04-01) missing property: `containsAny`"
The model [`ActivityLogAlertLeafCondition`](https://github.com/Azure/azure-rest-api-specs/blob/80784443eefe04bf6f4d253f9f210044e6d432b1/specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/activityLogAlerts_API.json#L408) defined in Swagger only contains properties: `field` and `equals`. While in the response json, it contains `containsAny` field, which for example could be

[2020-06-22 12:41] jrauschenbusch opened #9910 "Kusto Cluster: Language Extensions property is not working within PUT operation"
Specified language extensions (PYTHON, R) are not considered during a Kusto Cluster PUT operation using the `azure-sdk-for-go` client.

Used client: https://github.com/Azure/azure-sdk-for-go/blob/master/services/kusto/mgmt/2020-02-15/kusto

PUT specification:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2020-02-15/kusto

[2020-06-22 16:42] jf781 commented on #9852
Thanks Wilco for taking a look.   I tried using the code you provided as shown below but I am getting an error that the resource Id is not valid.  (Though guessing this is cause I had the wrong ID in my example.

[code]

This is the output:
[code]

I did some more digging and found the following role IDs.

50000000-aaaa-bbbb-cccc-100000000002 = "Reader"
50000000-aaaa-bbbb-cccc-100000000001 = "Cont

[2020-06-22 16:42] #9852 closed

[2020-06-23 06:20] neil-yechenwei opened #9926 "The gateway of hdinsight spark cluster is always enabled when it is set as false in http request body"
After tested, even if the gateway of hdinsight spark cluster is set as `false`, but the gateway is still always enabled after this resource is created successfully. I expect the gateway should be disabled when it is set as false.

Http request to create this resource whose gateway is set as false:
[code]

Http request to get configuration of hdinsight cluster:
[code]

[2020-06-23 07:09] ShaneBala-keyvault commented on #5303
assign MARKGRAY

[2020-06-23 07:09] ShaneBala-keyvault commented on #5303
#assign MARKGRAY

[2020-06-23 07:12] tyomik-mnemonic commented on #8093
Hello! Face a similliar problem. My deployment trying:
`az deployment create --template-file "\tmkpy\botbuilder-samples\generators\python\app\templates\echo\{{cookiecutter.bot_name}}\deploymentTemplates\template-with-new-rg.json" --location germanywestcentral --parameters appId="xxxx" appSecret="xxxx" botId="Xxx" botSku=F0 newAppServicePlanName="PyBotServ" newWebAppName="PyBotWeb" groupName="PyBot

[2020-06-23 07:30] shemers commented on #9633
Hi @neil-yechenwei,
My apologies for the delay,
We have involved our engineering team and they are currently looking into this.

[2020-06-23 08:27] Yaniv-Shasha commented on #8755
Hi shueseman
the sentinel team that own this endpoint had a bug on this endpoint that fixed in the beginning of April.
id you will use this Odata filter

properties/labels/any(i: i/labelName eq 'yaniv')

its should work and return the relevant incidents.

[2020-06-23 23:54] nemakam commented on #6562
@paulmey, we will take a look at this one. Thanks for reporting.

[2020-06-24 04:28] chandraneel opened #9946 "listLocations swagger is not up to date in Microsoft.Subscription/stable/2020-01-01/subscriptions.json"
https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/listlocations#location
has a contract change to show latitude and longitude under metadata while the swagger for 2020-01-01 doesnt have any reference to the api.
https://raw.githubusercontent.com/Azure/azure-rest-api-specs/03a026d564002fb3f1ec4bf8279e6334a973b418/specification/subscription/resource-manager/Microsoft.Subscription/sta

[2020-06-24 04:29] neil-yechenwei opened #9947 "Failed to create Azure Function while setting WEBSITE_CONTENTAZUREFILECONNECTIONSTRING in AppSettings as KeyVault reference"
After tested, seems it failed to create Azure Function and threw below error message while setting WEBSITE_CONTENTAZUREFILECONNECTIONSTRING in AppSettings as KeyVault reference. But I can add environment variable "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING" in AppSettings with Key Vault Reference successfully thru Azure Portal.

Http request to create azure function app:
[code]

Error message:
[code

[2020-06-24 17:50] rachel-msft commented on #9237
@msJinLei Thanks for your feedback. The size property under sku is one that is no longer used. During the public preview of Azure Postgres, this property was used to pick a storage size. Since GA, [storageMB](https://github.com/Azure/azure-rest-api-specs/blob/490fdfd7dbeb5d0efde8bb84f1c1fc52076b822b/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.js

[2020-06-24 20:48] jturver1 commented on #8075
For me Keyvault with Purge Protection is a critical security and Business Continuity feature. It should only be enabled with care on Keyvault instances which are critical enough to warrant sustaining the additional cost or other inconveniences incurred through the Purge Protection time period after deletion.

On that basis, my view is that the API and capability should *not* be reconfigured to all

[2020-06-25 05:31] Drewm3 commented on #8137
@magodo, are you still seeing this issue? From discussions with the team, it looks like this issue should either be fixed, or the problem is something that will need to be debugged by the Azure Resource Manager team as the failure may be occurring due to interactions between the compute resource provider and the resource manager.

[2020-06-25 06:21] Drewm3 commented on #3594
I have answered this question from the compute/VM case. We provide an API to determine exactly which VM SKUs are available in AZs in each region.

@armleads-azure, could you comment on the possibility of a generic API, possibly as part of list locations, which can indicate if the location supports AZs or not?

[2020-06-25 08:33] akning-ms commented on #380
Hi @NullMDR, is this fixed?

[2020-06-25 12:19] kylebrandt opened #9959 "API Explore Website for Application Insights has Incorrect Form"
In https://dev.applicationinsights.io/apiexplorer The "Segment" form field accepts only one input for "GET /metrics".

However, according to the documentation (and the API's behavior) in https://dev.applicationinsights.io/reference for the segment query parameter, it is type "array (csv)":

As for behavior, if I manually edit the curl to be the following it seems to accept multiple dimensions as e

[2020-06-25 12:40] radennis commented on #9910
Adding @ilayrn

[2020-06-25 15:46] callppatel commented on #9947
Want to check if there any update on this.

[2020-06-25 18:10] TamRuas commented on #9906
@magodo  - Thanks for reaching out.
We are aware of this, and have Bug[7359079 ]( https://msazure.visualstudio.com/DefaultCollection/One/_workitems/edit/7359079) to fix it in July.

[2020-06-25 18:32] MehaKaushik commented on #9253
Updated ETA end of July.

[2020-06-25 18:48] krithikas01-88 commented on #9704
any updates on this ticket ?

[2020-06-25 19:30] #9906 closed

[2020-06-26 01:13] rachel-msft commented on #9795
Hi @aszykm. Thanks for reaching out. At this time we only support creating Hyperscale Citus clusters via the Azure portal.

[2020-06-27 08:00] #8894 closed

[2020-06-28 01:27] magodo commented on #8137
@Drewm3 I'm actually doing the thing as @zivraf suggested. While let's keep this issue open to tracking the official solution.

[2020-06-28 03:06] NullMDR commented on #380
We already have prettier that could do format, but for the newline and utf-8 I need to confirm if it works with current prettier.

[2020-06-28 03:07] #9795 closed

[2020-06-28 03:58] lrxtom2 commented on #9772
Have anyone following up the issue?
Thanks for that.

[2020-06-28 06:09] #9376 closed

[2020-06-28 08:07] aim-for-better commented on #9926
Backend doesn't accept set it as false.

[2020-06-28 08:08] #9926 closed

[2020-06-28 08:30] ms-premp commented on #5625
This should already be resolved.

[2020-06-28 08:48] ms-premp commented on #9173
working on it.

[2020-06-28 09:08] ms-premp commented on #9561
The post payload needs additional info on aggregation and granularity.
Here is the simple payload

{
  "type": "Usage",
  "timeframe": "MonthToDate",
    "dataset": {
    "granularity": "None",
    "aggregation": {
      "PreTaxCost": {
        "name": "PreTaxCost",
        "function": "Sum"
      }
    }
  }
}

[2020-06-28 09:40] ms-premp commented on #8183
This is by design.

[2020-06-29 00:25] ramaganesan-rg commented on #8183
Closing this, as its by-design.

[2020-06-29 00:25] #8183 closed

[2020-06-29 00:36] ramaganesan-rg commented on #9561
closing as per Prem's inputs.

[2020-06-29 00:36] #9561 closed

[2020-06-29 00:38] ramaganesan-rg commented on #9637
Team is investigating.

[2020-06-29 06:19] orhasban commented on #9910
@jrauschenbusch Thanks for reaching out!
Currently language extension is not cluster property and could be configured only post cluster creation (with POST operation).
Supporting language extension as cluster property (and thus, could be configured in PUT operation) is in our road map but there is no ETA yet.

[2020-06-29 08:56] magodo opened #9986 "firewall_policy (2020-03-01): `FirewallPolicyNatRuleActionType` is defined as `DNAT` while service returns `Dnat`"
(At least) In version 2020-03-01, the `FirewallPolicyNatRuleActionType` enum allows accept `DNAT`, while the response of that attribute is `Dnat`. This causes some unnecessary diff for IaC tool (such as terraform).

To make the API idempotent, suggest to return the `FirewallPolicyNatRuleActionType` unchanged.

[2020-06-29 14:29] surajmb commented on #9704
@krithikas01-88 , for Application Gateway, you can use the GetBackendHealth Api to get list of server health. https://docs.microsoft.com/en-us/rest/api/application-gateway/applicationgateways/backendhealth

Is this what you are looking for? Otherwise, can you elaborate a bit?

[2020-06-29 17:05] ramaganesan-rg commented on #5625
Resolving as per Prem's comments. thank you!

[2020-06-29 17:05] #5625 closed

[2020-06-29 17:09] ramaganesan-rg commented on #9563
Swagger will be updated.

[2020-06-29 17:11] ramaganesan-rg commented on #9614
thank you for the feedback! team has investigated the issue. Export swagger and code change is needed. Team will provide an update.

[2020-06-29 17:33] ramaganesan-rg commented on #5115
This should goto ARM team. untagging Subscription and adding ARM.

[2020-06-29 18:02] ramaganesan-rg commented on #9946
This should be ARM team. Removing the subscription tag and adding ARM.

[2020-06-29 19:36] ramaganesan-rg commented on #9946
This shouldnt be under Subscription. Can you please move it to ARM?

[2020-06-29 19:50] ajlam commented on #4894
@WodansSon, please use: [Microsoft.DBforMariaDB/stable/2018-06-01](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/stable/2018-06-01)

The spec is stable and the API version date was not updated since it was meant to align with the other MySQL and PG specs.

[2020-06-29 20:19] #4894 closed

[2020-06-29 20:40] brjohnstmsft commented on #9148
This has been fixed

[2020-06-29 20:40] #9148 closed

[2020-06-29 20:44] #9237 closed

[2020-06-30 09:42] tombuildsstuff commented on #2255
This Swagger bug has been open for 2.5 years now.. is it likely to get fixed anytime soon?

[2020-06-30 17:49] jrottenberg opened #9995 "Compute: Ddv4 and Ddsv4 VM sizes missing"
the latest in stable is missing the Ddv4 and Ddsv4-series

For example, I have those instances type deployed :

- Standard_D2ds_v4
- Standard_D4ds_v4

but they are missing in the spec :
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json

https://docs.microsoft.com/en-us/azure/virtual-machines/ddv4-ddsv4-

[2020-06-30 18:44] avirishuv commented on #9014
@OmkarHirve thank you for bringing this up. The behavior outlined is exactly how the API calls are expected to work.
For updating the availability sets using PUT call, a "null" value of a property (in this case PPG) means that there is no change to be made to that property.
We are updating the API documentation and adding these details to clarify the expected behavior.
cc @mimckitt

[2020-06-30 22:12] brjohnstmsft commented on #9877
@bleroy Please make sure the Swagger description of the connection string property explains these special-case values and how they work.

[2020-06-30 23:37] snaheth commented on #7649
Closing due to no response. @inuvano-labs - Feel free to reopen it if you can share the template.

[2020-06-30 23:37] #7649 closed

[2020-06-30 23:51] snaheth commented on #6573
Hi @yaohaizh, this is no longer missing in [API Version: 2019-10-01](https://docs.microsoft.com/en-us/rest/api/resources/deploymentoperations/get#provisioningoperation).

[2020-06-30 23:51] #6573 closed

[2020-07-01 00:07] bleroy commented on #9877
As discussed, we should:

1.	Change swagger to allow for null
2.	Add documentation about the behavior for null, <unchanged>, and <redacted>

Assigning to Matt.

[2020-07-01 06:12] asarkar84 commented on #9890
@yaegashi Please expect the stable version 2020-05-01 to be available very soon with the x-ms-pageable attribute. Please do not refer the 2020-05-01-preview version. Thank you!

[2020-07-01 06:24] ramaganesan-rg commented on #9890
closing this issue as its now fixed. Please feel free to reopen this as needed.

[2020-07-01 06:24] #9890 closed

[2020-07-01 07:46] xccc-msft commented on #9797
@alexeldeib As no one checked the question after I added the label, do you have any idea who could help on this? I just found your name on [`CODEOWNERS`](https://github.com/Azure/azure-rest-api-specs/blob/master/CODEOWNERS#L3) for application insights.

[2020-07-02 02:59] magodo opened #10015 "azure_firewall: Define a dedicated property for SNAT private ranges"
Currently, when users want to specify SNA private ranges, one will set the special key `Network.SNAT.PrivateRanges` in [`additionalProperties`](https://github.com/Azure/azure-rest-api-specs/blob/be2510a84b5da51c9b83d1a9fddf148bb7f15ef3/specification/network/resource-manager/Microsoft.Network/stable/2020-03-01/azureFirewall.json#L553), with the value of ip ranges.

Is it possible to consolidate thi

[2020-07-02 03:08] ArcturusZhang opened #10016 "The ID of `ProximityPlacementGroup` assigned in VMSS will be returned with the resource group in UPPER CASES"
When creating the VMSS using compute api-version 2019-12-01 with the following body:
[code]
After the successful creation, when getting the VMSS, in the response, the ID of the PPG will be converted to have a UPPER CASED resource group name, like this:
[code]

[2020-07-02 03:45] yupwei68 opened #10019 "API Management Service Identity Assignment"
I have updated api management service identity type from "`SystemAssigned, UserAssigned`" to "`SystemAssigned`"m the response is success. But when I get the api management service, it shows that the identity type is still "`SystemAssigned, UserAssigned`". I would like to ask if it is a normal action?
Another case is that if I update an api management service identity type from "`SystemAssigned, Us

[2020-07-02 06:32] dw511214992 opened #10021 "Miss pattern"
In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/dedicatedhsm.json#L266 , parameter "name" in get method misses pattern to validate user's input. Please refer to PUT method, the parameter "name" has the pattern.

[2020-07-02 07:57] qwordy opened #10023 "monitor, autoscale, MetricTrigger misses metricNamespace"
azure-rest-api-specs\specification\monitor\resource-manager\Microsoft.Insights\stable\2015-04-01\autoscale_API.json

A customer reports an issue in Azure CLI, https://github.com/Azure/azure-cli/issues/13908. After investigation, I find MetricTrigger misses metricNamespace.

[2020-07-02 10:14] pratimaupadhyay02 commented on #7124
The issue has been fixed in service side. Swagger update will be out in few weeks.

[2020-07-02 20:56] Drewm3 commented on #10016
This is the expected behavior for the Microsoft.compute resource provider. Resource group names are not case sensitive (i.e. "myGroup" and "mygroup" are the same resource group) so in most cases the resource group name in a response from Microsoft.compute will be in all upper case.

[2020-07-02 20:56] #10016 closed

[2020-07-03 08:53] yupwei68 opened #10031 "Disassociate sql db from sql elastic pool"
My request to disassociate sql db from sql elastic pool is successful. But when I get sql db, it still shows its elastic pool is as before.

Update a sql db:
[code]

Async Response: Successful
[code]

Get the sql db
`Get https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/yupsql2/providers/Microsoft.Sql/servers/yupsql2/databases/yupsql2db?api-version=2017-10-01-preview`

R

[2020-07-03 09:11] magodo opened #10032 "VirtualWan (2020-05-01): VirtualHubProperties.virtualNetworkConnections is deleted"
The [`VirtualHubProperties`](https://github.com/Azure/azure-rest-api-specs/blob/f4178c1c505dc55af9ac9dd27195164940489077/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/virtualWan.json#L4811) model in VirtualWan 2020-05-01 version has removed the [`virtualNetworkConnections`](https://github.com/Azure/azure-rest-api-specs/blob/f4178c1c505dc55af9ac9dd27195164940489077/spec

[2020-07-03 09:23] weidongxu-microsoft commented on #10031
I am not sure whether the call is correct. I think at least Sku need to be updated.

[2020-07-04 13:50] wata727 opened #10033 "compute (2019-12-01): Is HardwareProfile.vmSize out of date?"
Hi team,

I'm the author of a [lint tool](https://github.com/terraform-linters/tflint-ruleset-azurerm) for Terraform using this API specification. For example, the correct value for vmSize of a virtual machine is checked against the following enum definition:
https://github.com/Azure/azure-rest-api-specs/blob/c57ad5f5b7f30d8da1a7aae9f7801e4714f3d155/specification/compute/resource-manager/Microsoft

[2020-07-05 18:28] bherrsk commented on #4901
@turjachaudhuri, I created a vault, manually flipped to LRS, then re-ran apply. TF did not detect the change to LRS and did not try to flip it over.

However, you cannot set the vault to LRS after you onboard a client, essentially making onboarding a VM automatically (or any other service) into RSV completely worthless using terraform. So right now it's GRS or bust that I can see.

[2020-07-06 02:59] erich-wang commented on #10032
Could network team take a look? Thanks.

[2020-07-06 03:23] lrxtom2 opened #10035 "Question about Storage.Blob that why changeFeed is designed to a nest block"
As the button on the portal. Shall we move the `changeFeed` to the top level as a single field?

[2020-07-06 03:47] ArcturusZhang opened #10036 "In `web` directory, swagger file `specification\web\resource-manager\Microsoft.Web\stable\2016-06-01\logicAppsManagementClient.json` is not referenced in the `readme.md`"
The [`readme`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/readme.md) is not referencing the swagger file [`specification\web\resource-manager\Microsoft.Web\stable\2016-06-01\logicAppsManagementClient.json`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagemen

[2020-07-06 06:15] blueww commented on #10035
@lrxtom2
As this issue if for portal UI, not for swagger, would you like to raise it in Portal, and close this one.
![image](https://user-images.githubusercontent.com/6926193/86561375-0f89ac80-bf93-11ea-8ce7-2a0babd0428b.png)

[2020-07-06 07:41] yupwei68 opened #10037 "postgresql configuration update fails"
First we get a configuration for postgresql:
Get https://management.azure.com/subscriptions/.../resourceGroups/post-yup/providers/Microsoft.DBforPostgreSQL/servers/post-yup/configurations/azure.replication_support?api-version=2017-12-01:

`{"properties":{"value":"logical","description":"Sets the level of replication support (Read Replicas). Any change requires restarting the server to take effect.

[2020-07-06 10:31] superfliege opened #10040 "create scheduledQueryRules - mail subject is limited to 128chars, but rest api has no exception for this."
api-version=2018-04-16

create scheduledQueryRules - mail subject is limited to 128chars, but rest api has no exception for this.
https://docs.microsoft.com/de-de/rest/api/monitor/scheduledqueryrules/createorupdate

See the Request Body JSON: action / emailSubject

value is limited to 128chars in the azure portal. the rest api has no exception for this.
The alert will be created over the rest api

[2020-07-06 13:53] jrauschenbusch commented on #9910
@orhasban Thanks for the response. Please let me know when it‘s available. Would simplify things a lot within the terraform provider.

[2020-07-07 03:15] ArcturusZhang commented on #10037
Swagger file link: https://github.com/Azure/azure-rest-api-specs/blob/cf34791021c7d8f2d988fc94a9306f29f4f66617/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2017-12-01/postgresql.json#L908

[2020-07-07 03:18] blueww commented on #10035
@lrxtom2
I will close this as this issue is for portal, please raise you request on portal.
If you need further assistance, feel free to contact us again.

[2020-07-07 03:18] #10035 closed

[2020-07-07 05:54] weidongxu-microsoft opened #10051 "$expand not working in /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources, when $filter is provided"
Spec
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json#L2295-L2301

If the request does not have `$filter`, `$expand` works perfectly (we use `$expand=provisioningState` to get `provisioningState` property).

But if `$filter` is used in query as well, `$expand` appears not working any more. The `p

[2020-07-07 07:06] neil-yechenwei opened #10053 "The property stampId of HardwareSecurityModule should be enum"
After tested, I found the property [`stampId`](https://github.com/Azure/azure-rest-api-specs/blob/be85a7207da4ed237eef38a945c4b4a6da3b97b0/specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/dedicatedhsm.json#L503) of HardwareSecurityModule only allows `stamp1` and `stamp2`. So I think this property should be `enum`. Otherwise, user c

[2020-07-08 00:12] rachel-msft commented on #10037
Hi @yupwei68. Thanks for reaching out. Some servers cannot have this parameter set to OFF because it controls a wal parameter that enabled backups for those servers.
Our documentation notes that 'OFF' is not a choice most servers can use: https://docs.microsoft.com/azure/postgresql/concepts-read-replicas#prerequisites
Other servers, which use a different underlying backup mechanism, can have this

[2020-07-08 02:13] yupwei68 commented on #10031
@weidongxu-microsoft Thanks, it works when sku_name is assigned in request

[2020-07-08 02:13] #10031 closed

[2020-07-08 07:42] yupwei68 opened #10065 "API Management Custom Domain in different environment"
In creating API management Service, there'll always be a default custom domain to be returned.  Here for example in public cloud, the hostName is "apim-service-name.azure-api.net". But in Different cloud environment, like USGovCloud, ChinaCloud, GermanCloud, the hostName might differ. May I ask the hostName Suffix in different cloud environment?
For example:
{
    "id": "...",
    "name": "apim-yu

[2020-07-08 09:24] neil-yechenwei opened #10067 "Creating non linux app service plan should fail when the kind field sets to non linux and the Reserved field sets to true"
After tested, I found service api would always create `linux` app service plan even if the `kind` field sets to `"Windows/App/elastic/FunctionApp/xenon"` and the `Reserved` field sets to `true`. I assume it doesn't make sense. It should throw error message if it doesn't allow this kind of scenario.

Below is the example of http request.
1. Try to create app service plan whose the kind field is win

[2020-07-09 16:47] #8064 closed

[2020-07-09 16:47] #7228 closed

[2020-07-09 20:59] rohinkoul commented on #6641
@lilyjma Please close this as won't fix.

[2020-07-10 02:01] neil-yechenwei opened #10081 "The tags property of NetApp Snapshot doesn't take effect at creation/update"
After tested, I found the tags property of NetApp Snapshot doesn't take effect at creation/update. On the other words, we cannot add/update tags on snapshot. If it's a bug, please fix it asap.

I am using api version 2019-10-01 (https://github.com/Azure/azure-sdk-for-go/blob/v43.2.0/services/netapp/mgmt/2019-10-01/netapp/models.go)

[2020-07-10 02:02] neil-yechenwei commented on #10081
@leonardbf, seems it's a bug. could you help to have a look? Thanks.

[2020-07-10 02:11] ruowan commented on #10081
@ArcturusZhang Could you help to take a look at this issue?

[2020-07-10 02:35] magodo opened #10082 "Keyvault: sku.name should be case sensitive against the defined enum"
KeyVault API (2016-10-01) allows case-insensitive `Sku.name`, which invalidates the enums defined in swagger.
We should change that to case-sensitive so as to exactly match the definition in,swagger.

[2020-07-10 03:33] ArcturusZhang commented on #10081
@ruowan this should be a service side bug, but we do not have a label for netapp @akning-ms

[2020-07-10 05:14] solankisamir commented on #10065
USGov  - `azure-api.us`
China Cloud - `azure-api.cn`
BlackForest - `Not Supported`

[2020-07-10 05:14] #10065 closed

[2020-07-10 05:19] solankisamir commented on #10019
@yupwei68 yes, this is bug. We have made a fix and it is in the current release train. Expected to complete in 2 weeks.

[2020-07-10 05:19] #10019 closed

[2020-07-10 06:22] Drewm3 commented on #10033
It does look like the enum in the spec is out of date. Let me check to see why the spec is not getting updated with new sizes.

[2020-07-10 13:47] neil-yechenwei opened #10090 "API failed to create Cdn endpoint with origin"
After tested, I found api would fail to create cdn endpoint with origin. I am using api version ([2019-04-15](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-04-15/cdn.json#L3640))

Http call:
[code]

Error message:
[code]

[2020-07-12 10:34] ronari2 commented on #9901
Creating the VA solution
Fetch subscription home region (location)

GET https://management.azure.com/subscriptions/{SubscriptionId}/providers/Microsoft.Security/locations?{apiVersion}
Fetch the value in "homeRegionName"
Alternatively run "Get-AzSecurityLocation" when relevant subscription is set.
Prepare license code and public key

Qualys license code is provided by Qualys
Rapid7 License code is

[2020-07-12 15:35] tarosler commented on #9772
@lrxtom2 - each security contact supporting one item, but you can have multiple security contacts.

[2020-07-13 03:26] magodo opened #10104 "Network (2020-05-01): Error removing/updating load balancer rules"
When using 2020-05-01 network API, when I want to remove a load balancer rule that the load balancer is attached to VMSS, the request will fail.

The complete flow is as below:

<details open>
<summary><code>GET https://management.azure.com/subscriptions/0-0-0-0/resourceGroups/test-hbtest/providers/Microsoft.Network/loadBalancers/hbtest1?api-version=2020-05-01 HTTP/2.0</code></summary>
<pre>
{
  "

[2020-07-13 04:31] leni-msft opened #10107 "mariadb readme.md syntax error"
Syntax error (lacking end ``` [here](https://github.com/Azure/azure-rest-api-specs/pull/9573/files#diff-d0550846f8795edbba5ba1be8ba01fa5R85-R88)) is causing schema generation failure with autorest:
[code]

[2020-07-13 08:35] #10107 closed

[2020-07-13 09:33] aim-for-better opened #10109 "[HDInsight] ARMViolation DefaultErrorResponseSchema R4007"
DefaultErrorResponseSchema
the default error response schema does not correspond to the schema documented at https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-details.md#error-response-content.

We will fix this ARM violation error in our next api version

[2020-07-13 16:53] Himanshu191 commented on #10104
I am also facing the same issue, please fix

[2020-07-13 16:55] bosh-ms opened #10112 "`elasticPoolName` is null for the results returned from `restorableDroppedDatabases`"
Imagine a database that was in an elastic pool was deleted.
When issuing a request to perform a PIT restore for the database with an Elastic Pool as a target, it's required to specify the Elastic Pool ID:
[code]

However, the results of `restorableDroppedDatabases` call always have `null` as the value of `elasticPoolName` property, even for the databases that were in a pool. The API version is `ap

[2020-07-13 17:51] Drewm3 commented on #10033
Hi @wata727, I have checked with the compute resource provider API team, and they have informed me that this enum list is no longer updated. This is because the sizes available change in some cases on a per-subscription basis such as when we release limited preview sizes that are only available to customers who have opted into the preview program. Therefore we highly recommend that you leverage th

[2020-07-14 01:27] mrlesmithjr commented on #10104
I just ran into this issue as well. I am pretty sure I didn't experience this until after implementing Scale Sets. But could be wrong.

[code]

[2020-07-14 07:22] yupwei68 commented on #10037
Hi @rachel-msft thanks for your comments.
On fact, the resource postgresql configuration is implemented in Terraform.
One special thing in Terraform is that all resources need a destroy method, even for configuration resources. Here we set the default value which we get from the service as a destroyed state, which seems reasonable. Until we get the issue https://github.com/terraform-providers/terr

[2020-07-14 07:38] tombuildsstuff commented on #6641
@rohinkoul the HTTP Specification - namely [RFC7230, section 2.7.3](https://tools.ietf.org/html/rfc7230#section-2.7.3) (and indirectly [RFC 2616](https://tools.ietf.org/html/rfc2616)) state that:

Ultimately whilst a service itself may opt to be case-insensitive for Request URI's - per the HTTP Specification, references to URI's (e.g. in Responses) should be case-sensitive.

As such I believe this

[2020-07-14 17:02] krithikas01-88 commented on #9704
Hi
As i said i'm looking for a single API to retrieve LB backend target health on application gateway. much similar to resource health API for Network LB which works currently to give a single snapshot of backend targets health on load balancer. Why is that not working on app gateway from azure? can you explain ?

[2020-07-15 00:01] rachel-msft commented on #10037
Thanks for the feedback, I see the difficulty. Would you be able to set 'Replica' or let me know why you can't set 'Replica'?

[2020-07-15 00:23] hausec opened #10142 "The client '' with object id '' does not have authorization to perform action 'Microsoft.Authorization/elevateAccess/read' over scope '/providers/Microsoft.Authorization' or the scope is invalid."
Attempting to follow documentation here: https://docs.microsoft.com/en-us/azure/role-based-access-control/elevate-access-global-admin#rest-api

I am attempting to have a Service Principal elevate their permissions via the following PowerShell code:

[code]

The Application/Service Principal is in the Global Administrators role.

[2020-07-15 01:32] rachel-msft commented on #10037
Hi @yupwei68

There are different conditions such as whether the server is a primary for a replica, whether logical decoding is in use, whether the srever is a replica, that also affect what parameter values are valid options.

No, there isn't an API method for doing this.

[2020-07-15 02:59] yupwei68 opened #10144 "Get SQL VM fails at 7/15"
We get customer issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/7747
Get SQL VM fails this morning at 7/15:

Request:
GET /subscriptions/.../resourceGroups/yupsqlvm/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/yupsqlvm?%24expand=%2A&api-version=2017-03-01-preview HTTP/1.1

Response:
{
    "error": {
        "code": "InternalServerError",
        "message

[2020-07-15 06:18] magodo opened #10148 "Express Route Circuit (2020-05-01): creation eventual consistent"
## Reproduce

1. Create an Express Route Circuit and wait till finish (via polling the operation url)
2. Delete it and wait till finish (via polling the operation url)
3. Create another Express Route Circuit with the same name and wait till finish (via polling the operation url)
4. Invoke a GET right after step 3, it returns 404.

Hence, clients can not rely on the polling result of the operation

[2020-07-15 06:49] xccc-msft commented on #10148
@magodo Could you please share which SDK you are using? I just added label of `Service Attention` so that service team could also pay attention on this issue.

[2020-07-15 07:47] magodo opened #10149 "VirtualWan P2S VPN Gateway Failed to Delete: Internal Server Error"
Create a P2S virtualwan VPN gateway and then delete it will cause internal server error, always reproducible.

## Sequence

**Create the resource:**

<details open>
<summary><code>PUT https://management.azure.com/subscriptions/0-0-0-0/resourceGroups/acctestRG-200715142625083561/providers/Microsoft.Network/p2svpnGateways/acctestp2sVPNG-200715142625083561?api-version=2020-05-01</code></summary>

REQ

[2020-07-15 11:23] fnocera commented on #10144
We have been trying to trace down this issue for two days. Initially we thought it was the terraform provider https://github.com/terraform-providers/terraform-provider-azurerm/issues/7747 or the go sdk https://github.com/Azure/azure-sdk-for-go/issues/11575 but on reflection now it must be the API because we are getting the same behavior in spite of the go skd version.

We have tried accessing the

[2020-07-15 14:46] fnocera commented on #10144
Cross posting from https://github.com/Azure/azure-sdk-for-go/issues/11575 as this issue seems to be related to the API spec.

We have continued our investigation on this to understand the exact API calls being made by the go sdk. This is the exact GET request being made
[code]
The "expand" query params are being incorrectly encoded as `%24expand=` instead of `$expand=`. Running the above API call

[2020-07-15 15:55] marioanton commented on #10144
Issue still on 2.17 version of azurerm so must be the api for sure.
Currently happening to me and recently created it successfully but now is failing.

[2020-07-15 16:40] fnocera commented on #10144
@marioanton it is also not working with the azurerm version 2.11 and 2.10 so seems like a possible service problem perhaps?

[2020-07-15 16:59] wata727 commented on #10033
Hi @Drewm3, thank you for your reply.

Is it possible to include all available sizes in the list, including preview sizes? I understand that some subscriptions may include sizes that aren't really available, but for our use case, that's enough.

If this is possible, I would appreciate your consideration. Thanks.

[2020-07-15 23:31] alexeldeib commented on #9797
missed this tag -- I changed teams, the codeowner file should be updated. You might want to try @divya-jay or @jamlai. Feel free to reach out via mail (aleldeib@ ms.com) and I can put you in touch with the team.

[2020-07-16 01:27] magodo commented on #10148
Hey @xccc-msft Essentially it doesn't matter which SDK underused, the issue exists even when using cURL to send API requests.

[2020-07-16 04:32] magodo opened #10159 "Monitor Autoscale Rule (2015-04-01): missing `dividePerInstance` property definition in Swagger"
User is able to specify the "divide per instsance" toggle of a monitor autoscale rule via Portal:

![image](https://user-images.githubusercontent.com/7970698/87626944-2b920880-c760-11ea-8cfe-0e4dce1facc3.png)

This maps to the `dividePerInstance` property of `metricTrigger` in API request payload. Whilst it is not defined in Swagger.

[2020-07-16 06:25] ChenTanyi opened #10161 "App Platform: Spring Cloud API Issues"
Here lists some of the APIs expiriencing not well

## Spring Service

https://github.com/Azure/azure-rest-api-specs/blob/7a2c7d7/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json#L60

* PUT request cannot update the existing service. When I do a PUT request for update, it will return `"message": "The service name '***' is already taken."`.

[2020-07-16 06:30] yupwei68 opened #10162 "SQL Server list restorable databases and recoverable databases fails"
I have requests to list restorable and recoverable databases. The resource group and the sql server always exist. Sometimes it returns success, sometimes it returns "resource group not found", sometimes it returns "sql server not found".

Would you mind taking a look?

1. get recoverable databases
Get https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/acctestRG-mssql-yup/

[2020-07-16 06:35] xccc-msft commented on #10162
@yupwei68 I just add label for the issue you are facing. We will need help from sql service team. Thanks.

[2020-07-16 08:27] xccc-msft commented on #10148
@magodo Got it. I thought it might be caused by the polling scenario on SDK side. Then let's get help from service team.

[2020-07-16 09:26] neil-yechenwei opened #10165 "Failed to create application insights analytics item when type is folder"
After tested, api failed to create application insights analytics item and threw below error message when type is folder. According by the error message, it seems that api doesn't support folder type, right?

Http request:
[code]

Error message:
[code]

[2020-07-16 09:31] ArcturusZhang opened #10166 "VMSS created by specialized image should return proper `OSProfile`"
When creating a VMSS using a specialized image, `OSProfile` must be `null`. But after VMSS is created, in a response of a GET API, the `OSProfile` is also `null`. This is not so reasonable for instance the user may need to know the admin username, provisionVMAgent, etc. And leaving them empty may give the user misleading information

Related discussion: https://github.com/terraform-providers/terra

[2020-07-16 09:38] asapcloudGIT opened #10167 "Microsoft.ManagedServices/features/GovernanceSettingsPreview feature registration unsupported"
Hi guys,

i were trying to test this out, looks like it is a "feature" that will enable PIM for azure lighthouse.
https://github.com/Azure/Azure-Lighthouse-samples/tree/master/templates/delegated-resource-management-eligible-authorizations

unfortunately i get the following errors:
1. when i try to deploy the arm template or doing call directly to the rest api with powershell getting this error
![

[2020-07-16 09:43] tombuildsstuff commented on #10166
For context: this information not being returned leads to unknowns/false assumptions (for example, the API documentation states that "provisionVMAgent" defaults to "true" but this isn't necessarily correct) and so could lead to an unexpected security issue

Whilst this information doesn't need to be specified during creation - the API should be able to determine this information from the source im

[2020-07-16 11:13] kylebrandt opened #10170 "Can not access https://dev.applicationinsights.io due to SSL cert problems and HSTS"
Getting an error that there is a self signed cert in the chain, and the site uses HSTS, so can't access it in chrome. In particular, `verify error:num=19:self signed certificate in certificate chain.`

cc @azmonapplicationinsights

(Asked other coworkers and they get the same --- they are remote so no shared proxy or anything like that)

[code]

[2020-07-16 13:24] magodo commented on #10148
@xccc-msft Unfortunately, the polling logic is correct. It returns when the async operation finishes with "Succeeded" provision state. While a `GET` right after returns 404, which means there is a synchronization issue on service side.

[2020-07-16 17:33] ynigoreyes opened #10174 "Inconsistent Error messages for most requests involving x-ms-partitionkey/x-ms-documentdb-partitionkey"
When interacting with endpoints that require a partitionkey to be sent as a header, failure to provide one results in a suggestion to fix the `x-ms-partitionkey` header value and `BadRequest`.

![PartitionKey Error 1](https://user-images.githubusercontent.com/26727346/87702825-8840f380-c75f-11ea-9684-12981083911e.jpg)

In reality, it should suggest fixing the `x-ms-documentdb-partitionkey` as desc

[2020-07-16 19:29] ErikElkins commented on #6746
There was an initial version of the OpenAPI definition in the following repo (very outdated).  It could serve as a starting point?

https://github.com/microsoftgraph/microsoft-graph-openapi