[2021-08-31 17:33] anthony-c-martin opened #15869 "`Microsoft.Authorization/roleAssignments` supports API version `2021-04-01-preview`, but no swagger is available"
Created from https://github.com/Azure/azure-rest-api-specs/issues/15604#issuecomment-896064482

Related to https://github.com/Azure/azure-rest-api-specs/issues/15604

[2021-08-31 21:08] ShilpiGautam commented on #15635
@anuragdalmia please take a look and respond.

[2021-08-31 23:36] anuragdalmia commented on #15635
We explicitly look for owner role. Custom roles with same sets of permissions will not work unfortunately.

[2021-08-31 23:36] #15635 closed

[2021-09-01 02:33] msyyc opened #15875 "[cosmos] `filter` parameter of example is not right"
The example can't work: https://github.com/Azure/azure-rest-api-specs/blob/e1eca381eca8ec1f80b722e5dbf060fdeef48653/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/examples/CosmosDBDatabaseGetMetrics.json#L8

Example, the filter should be in the format as follow;
filter="(name.value eq 'Available Storage' or name.value eq 'Data Size' or name.value eq 'Index Size') a

[2021-09-01 08:10] OscartGiles commented on #15635
Hi @anuragdalmia . Through trial and error we managed to cancel subscriptions with the Azure CLI and the following:

Is this likely to change at any time?

[code]

[2021-09-01 08:42] pierskarsenbarg opened #15878 "KeyVault parameter in Workspace properties is required in API but not spec"
In spec: https://www.pulumi.com/docs/reference/pkg/azure-native/machinelearningservices/workspace/#keyvault_nodejs

If you try to create a Workspace without specifying the KeyVault ID then you get the following error:

[code]

Yet it's not marked as required in the spec.

[2021-09-01 10:33] zhenglaizhang commented on #15662
I verified in python and go sdk, it seems not breaking change to extract the def. I will create a PR to extract the def in https://github.com/Azure/azure-rest-api-specs/blob/main/specification/common-types/resource-management/v3/types.json and loop sdk owners to review them

[2021-09-01 14:47] miaxou commented on #14078
Would really like to see the functionality to add/update entityMappings via REST API restored.

[2021-09-01 17:24] markweitzel commented on #15686
# API REVIEW MEETING 1-Sept-21
Link to recording [here](https://microsoft.sharepoint.com/teams/AzureAPIStewardshipBoard/Shared%20Documents/General/Recordings/View%20Only/%5BUnified%20Language%20Service%5D%20Azure%20REST%20API%20Stewardship%20Board%20meeting%20for%20recommendations%20to%20API%20path-20210901_120213-Meeting%20Recording.mp4?web=1)
<sup>Internal Microsoft Link</sup>

This was revisiti

[2021-09-01 17:53] anuragdalmia commented on #15635
Can you help me understand your scenario. Do you want to allow a role to cancel a subscription but not any other permission that comes along with being an owner? Can you elaborate on that please.

[2021-09-01 18:11] #15612 closed

[2021-09-02 07:10] OscartGiles commented on #15635
Exactly. We are trying to build some automation that tracks hundreds of subscriptions usage and then cancels them when a budget threshold is reached.

Essentially we have a function app with a managed identity that cancels subscriptions. The function app doesn't do anything except cancel subscriptions. Rather than make the managed identity an `owner` on our hundreds of subscriptions, it would be m

[2021-09-03 10:40] shawnxzq commented on #15452
Explained the reason, close it for now.

[2021-09-03 10:40] #15452 closed

[2021-09-03 10:47] shawnxzq commented on #15168
New jave client is released, it should already fix the issue, thanks!

[2021-09-03 10:47] #15168 closed

[2021-09-03 17:17] HeidiHanZhang opened #15912 "[Speaker Recognition] V3.0 GA swagger files"
This is for submitting an updated version of Speaker Recognition swagger files from Preview (V2.0) to GA (V3.0). According to Azure REST API Stewardship guideline, I created this issue for just tracking all the work related to this PR.

PR link is here: #15685

[2021-09-05 23:10] chriswue commented on #14242
At least for ASA it seems the answer was "Yes" - https://github.com/Azure/azure-rest-api-specs/issues/5604#issuecomment-907458115

[2021-09-05 23:10] #14242 closed

[2021-09-07 09:04] qwordy opened #15934 "Purview Account example issue"
In Purview Account examples, some content is redundant.
[code]
These parameters are not defined in swagger file.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/purview/data-plane/Azure.Analytics.Purview.Account/preview/2019-11-01-preview/examples/Accounts_UpdateAccountProperties.json

[2021-09-07 09:15] scratch85 opened #15935 "[Subscription] $expand=ancestors is missing in the specs"
Hi,

I opened this issue as recommended from [azure-powershell#12391](https://github.com/Azure/azure-powershell/issues/12391). Azure Portal uses a very helpful parameter and value "$expand=ancestors" to add to the output on where a subscription is located in the management group tree. This parameter and its values sadly is not part of the specs.

Sample API Call with the parameter $expand (managem

[2021-09-07 20:36] markweitzel commented on #15858
# API Stewardship Review Board Meeting 7-Sept-21

* There are a number of questions around how a user would discover/get the collection of schemas.
* Individual schema IDs are passed with the event--then the GET can be used.
* Why doesn't the swagger version match the folder version?  The folder has -preview.
* What happens if someone creates a group called `schemas` with a schema called `schemas`

[2021-09-07 23:54] rokulka commented on #15686
@markweitzel / @mikekistler  - Ted had pasted the details of the earlier discussion on the Teams chat. I'm pasting the doc link here for reference - [Link](https://microsoft.sharepoint-df.com/:w:/t/ALPSAzureLanguagePillars/ES26prT71QRHvwWVmZ_iRewBfMF1q5C2dHjqiF71S0-YlA?e=59bIgu)

[2021-09-08 09:26] aristosvo commented on #11237
Is this already being addressed? Using the portal I'm able to change all kinds of settings within seconds, what is the difference?

[2021-09-08 22:45] markweitzel commented on #15686
@rokulka -- Thank you very much for providing the additional background information regarding the API structure. After reviewing this and meeting off-line with the folks on the stewardship board, we have a more complete understanding of the historical decisions. With that context, we explored various alternative strategies that would satisfy the requirements that have been articulated. None of the

[2021-09-08 22:51] #15696 closed

[2021-09-09 10:38] jcbagtas commented on #5041
Is this still an issue? I cant find any documentation regarding "SwiftVirtualNetworkProperties" I got this while configuring the "Microsoft.Web/sites/networkConfig@2020-06-01" which is also undocumented.

"The property "vnetRouteAllEnabled" is not allowed on objects of type "SwiftVirtualNetworkProperties". No other properties are allowed. If this is an inaccuracy in the documentation, please repor

[2021-09-09 17:53] avirishuv commented on #11805
Property description is updated in API docs: https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-scale-sets/create-or-update

Closing this issue.

[2021-09-09 17:53] #11805 closed

[2021-09-09 17:59] alisonmiguel commented on #11849
Hello, the work item has been completed for the "isAzureCreditEligible" type. For the start and end date parameters, please check the latest documentation

https://management.azure.com/subscriptions/_{{yourSubscriptionId}}_/providers/Microsoft.Consumption/usageDetails?api-version=2019-11-01&startDate=2020-10-01&endDate=2020-10-03

for a legacy subscription
https://management.azure.com/subscription

[2021-09-09 18:05] ShilpiGautam commented on #12007
I hope we answered your concern @Jeroenvos. We will be closing this now. Please let us know if you have any further questions and we will be glad to help.

[2021-09-09 18:05] #12007 closed

[2021-09-09 18:20] Mohit-Chakraborty opened #15983 "[BUG] Invalid externalDocs.url in search.resetdocs"
The [change](https://github.com/Azure/azure-rest-api-specs/commit/1df5cd4d0562f14d112edc77e72843d0d5132136#diff-0bcc4f361f2aa1b7b9401b4c4fa7e542a767a3a0152c6ad0fe8656b96469355b) to add the search.resetdocs operation has the following -
[code]
This is causing errors during code gen -
**error : Schema violation: should match format "uri" (paths > /indexers('{indexerName}')/search.resetdocs > post >

[2021-09-09 18:20] Mohit-Chakraborty commented on #15983
FYI @shuyangmsft

[2021-09-09 18:46] adwise3 commented on #11764
I hope we answered your concern @Nikolay-Uvarov. We will be closing this now. Please let us know if you have any further questions and we will be glad to help.

[2021-09-09 19:52] Sandido commented on #14305
The fix has been rolled out to: https://pypi.org/project/azure-mgmt-compute/22.1.0/

[2021-09-09 21:55] sredman commented on #13825
Hi @tcc-sejohnson -- Are you still having this issue? If so, could you please provide more information about what error you're seeing along with the failure code from the import API?

[2021-09-09 22:11] tcc-sejohnson commented on #13825
Hey @sredman,

Yeah, this is still an issue. We got around it on our end by completely hosting the process ourselves -- our own VM with sqlpackage installed. It was a pain.

I spent a _long_ time trying to get to the bottom of the issue with the Azure Support team -- the ticket ID is 121041224006748. In the end, the Azure Support guy, Mike, who was great, discovered a few things:

1. What's actual

[2021-09-09 22:39] nickghardwick commented on #15858
Re: Changing Schema/Serialization Type to Content Type in headers:
One thing we can do that wasn't explicitly brought up in the meeting was to have our Content-Type return a known type, such as `application/json` but include an optional parameter to specify the exact type of schema that is being used. For example, an Avro schema is constructed with JSON, so the returned Content-Type would be somet

[2021-09-09 23:43] markweitzel commented on #15912
# API Stewardship Board Review / Discussion 9-Sept-2021

Minor changes between 2.0 (preview) and 3.0.
* Since this is a major version revision, it would be good to move to our date based versioning. See our [Azure REST API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#api-versioning).
* There are considerations about POST being idempotent.
  *  We should lo

[2021-09-10 02:16] zhoxing-ms commented on #14305
This issue has been solved by PR https://github.com/Azure/azure-cli/pull/18788, so I close it

[2021-09-10 02:16] #14305 closed

[2021-09-10 13:47] markweitzel opened #15996 "[ Web PubSub ] API Review"
## Issue to track the work related to the API Review

* Core concepts & definitions
* Arch diagram
* Hero Scenarios (especially focused on the new aspects of the API)
* Change Log / Change Scope (if not new)
* Linked PR #15907

[2021-09-10 23:26] AshokCMSFT commented on #15108
Cloud TenantIDs are always UUIDs. ADFS is not supported by Azure Key Vault directly for authentication

[2021-09-11 01:35] jarrodd07 opened #16003 "Incorrect data type for Cosmos SQL RoleDefinitionType"
The swagger spec for the Cosmos SQL Role Definition Type is incorrect. The spec specifies that the data type is a string, but an integer value is being returned in the response.

Link to value in spec: https://github.com/Azure/azure-rest-api-specs/blob/44017a20d8c022217b31e15643595fc7aff87926/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/rbac.json#L407

Related is

[2021-09-11 10:36] aredwood commented on #11979
fwiw, I'm experiencing this issue and haven't been able to find a fix for it.

[2021-09-11 14:15] markweitzel commented on #15769
### Capturing relevant details from email thread
---
As per our discussion , the following REST API’s were finalized in our meeting for the SymsSync Service. However , I have a few follow up questions. Can you please provide further clarification.

The PUT call to be used for both register and update operations.

PUT metastore/create-database-operations/{id}
id == databasename
InputFolderPath : In

[2021-09-13 02:35] vicancy commented on #15996
* Core concepts & definitions: https://docs.microsoft.com/en-us/azure/azure-web-pubsub/key-concepts
* Arch diagram: https://docs.microsoft.com/en-us/azure/azure-web-pubsub/concept-service-internals#workflow
* Hero Scenarios (especially focused on the new aspects of the API)
Close connected clients for a specific user, from a customer's ask [Is there any way to close all the connections for a given

[2021-09-13 05:47] DJrocks999 opened #16011 "[Synapse - Run Notebook] REST API Review for Run notebook - newly added API"
We have recently added new feature named as “RunNotebook”. We have implemented four different APIs under preview version “2021-06-01-preview”.
We have reused Notebook.Json entity while modeling our API response. All other files (total 5 – including 4 examples) are newly constructed.
I see few failures under breaking change check which I feel can be ignored.

[2021-09-13 12:55] markweitzel opened #16015 "Determine "value" or "values" recommendation"
The `value` (singular) naming convention comes from OData. I don't think we've been consistent in Azure. I'd do an inventory of what is being used today and unless there is a clear winner/a large majority uses `value`, I don't have a strong opinion. We obviously wouldn't want to recommend breaking changes to "fix" the consistency problem, however.

_Originally posted by @johanste in https://github

[2021-09-13 13:00] markweitzel commented on #16015
Moved to MS Guidelines repo

[2021-09-13 13:00] #16015 closed

[2021-09-13 13:10] neil-yechenwei opened #16016 "Failed to create IntegrationServiceEnvironment with encryptionConfiguration"
After tested, I found api failed to create IntegrationServiceEnvironment with encryptionConfiguration. Then service team confirmed `encryptionConfiguration` has to be set with `identity` together but there is no property definition of identity in swagger. So it's a bug in swagger.

[2021-09-13 13:13] neil-yechenwei opened #16017 "Failed to integrate IntegrationServiceEnvironment while creating LogicApp.IntegrationAccount"
After tested, I found it failed to create LogicApp.IntegrationAccount with IntegrationServiceEnvironment. Service team confirmed there is a bug in swagger. The `integrationServiceEnvironment.Id` in swagger shouldn't be read-only.

[2021-09-13 13:17] neil-yechenwei opened #16018 "It failed to create Logic App Workflow with accessControl.triggers"
After tested, I found api failed to create Logic App Workflow with accessControl.triggers and threw below error message. Per the error, I assume the `accessControl.triggers.type` should be set to `AAD`. But after checked swagger, seems `accessControl.triggers.type` is marked as read-only in swagger so that we cannot set it as `AAD` in request body. So I assume it's a bug in swagger.

Error message

[2021-09-13 19:19] #15108 closed

[2021-09-13 19:49] TheOnlyWei commented on #15108
@AshokCMSFT I am talking about inconsistency in ADFS environment authentication. I know it works as UUID in AAD environment.

[2021-09-14 20:30] mancyc commented on #15108
Not really a 'bug', because the workaround is to use the tenantID as UUID for ADFS environment.
I agree it is not a great user-experience, bit the inconsistency between AAD/ADFS authentication and why ADFS specifically requires "adfs" appended to the authority is something that needs to be addressed by ADAL/MSAL. KeyVault doesn't own this piece of auth flow.

[2021-09-14 21:13] sadasant commented on #15108
I don’t think this is specific to the ADAL/MSAL team. They say they specifically don’t differentiate by either case, they treat Azure AD and ADFS authentications in the same way. For ADAL/MSAL, “adfs” is a valid tenant that they send through.

This is really just a feature of Azure https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-single-adfs-multitenant-federation

[2021-09-15 03:33] ruowan commented on #16003
@ArcturusZhang This issue related with go sdk issue. Help to take a look.

[2021-09-15 05:49] bm77525-kr commented on #9281
Any updates here @ArcturusZhang?

[2021-09-15 10:45] aristosvo opened #16047 "Microsoft.Insights/metricAlerts tag names are lowercased"
Created metric alert gets lowercase tags keys instead of uppercase as submitted:

[code]

## Related
- [azurerm_monitor_metric_alert](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/monitor_metric_alert)

[2021-09-15 18:10] heaths opened #16050 "projectName and deploymentName should use the parameters from the common.json swagger"
https://github.com/Azure/azure-rest-api-specs/blob/b37a9e7c4a87f6eee629093ea4437a166e29ce70/specification/cognitiveservices/data-plane/Language/preview/2021-07-15-preview/analyzeconversations.json#L35-L49

See [questionanswering.json](https://github.com/Azure/azure-rest-api-specs/blob/70de88e5fb00b9217a5cafd3c1bed11ce311fc52/specification/cognitiveservices/data-plane/Language/preview/2021-05-01-pr

[2021-09-15 18:15] heaths opened #16051 "Method and model renames for Conversation Analysis"
While working on the .NET SDK, besides #16050 I found a few other nits we may want to change in the swagger:

1. Rename the [`ConversationAnalysis_AnalyzeConversations`](https://github.com/Azure/azure-rest-api-specs/blob/b37a9e7c4a87f6eee629093ea4437a166e29ce70/specification/cognitiveservices/data-plane/Language/preview/2021-07-15-preview/analyzeconversations.json#L33) operation ID to be singular

[2021-09-15 18:17] heaths commented on #16051
Generally, the close aligned the REST APIs and SDK APIs are, the better off our customers are. Not only does it mean faster code generation for new APIs and easier maintenance, but decreases customer confusion. I've worked on services where the SDK and REST APIs are very different and it does cause confusion about how the SDKs and REST APIs align.

[2021-09-15 21:41] heaths opened #16055 "The :analyze-conversation response does not properly discriminate response types"
https://github.com/Azure/azure-rest-api-specs/blob/b37a9e7c4a87f6eee629093ea4437a166e29ce70/specification/cognitiveservices/data-plane/Language/preview/2021-07-15-preview/analyzeconversations.json#L274-L277

I'm still not entirely clear on the fix and having internal conversations with folks on the AutoRest and AutoRest.Csharp teams. I've compared with Cognitive Search that does the same thing (an

[2021-09-16 04:44] ChongTang commented on #16050
Fixed in this PR: https://github.com/Azure/azure-rest-api-specs/pull/16036

[2021-09-16 04:52] ChongTang commented on #16051
Resolved in PR: https://github.com/Azure/azure-rest-api-specs/pull/16058

[2021-09-16 09:04] Kharianne opened #16062 "Missing parts of specification for Synapse Rest Api"
Hello,
I'm quite new to whole Azure stack, however I encountered problem with generated REST API documentation for **Synapse**. Some parts of the documentation are missing and was available about a week ago or so - pipelines, linked services etc., for example:

- https://docs.microsoft.com/en-us/en-us/rest/api/synapse/data-plane/pipeline/create-or-update-pipeline - returns 404 and there is no equi

[2021-09-16 14:15] tombuildsstuff commented on #13203
@magodo any news on this one?

[2021-09-16 17:33] olayemio commented on #13934
We have had to push the rollout of the fix to November

[2021-09-16 23:24] avirishuv commented on #15672
Apologies for the delay. Still investigating internally for the first point in the description.

@pvihan, we'll look into the second point as a feature request and potentially add to the backlog separately, but for this issue we'll treat the first point as a higher priority to resolve.

[2021-09-16 23:55] heaths commented on #16051
Tip: in your PR description, add keywords like "resolves" or "resolve", or "fixes", "fixed", or "fix" and the issue number like "Fixes #16058" and when you merge the PR, it automatically closes the bug. You can also set up that association later in the PR:

![image](https://user-images.githubusercontent.com/1532486/133703169-259523a3-fe95-41f0-996d-20b9fdd0efa4.png)

Not a big deal. Just closes th

[2021-09-16 23:55] #16051 closed

[2021-09-17 00:06] heaths commented on #15374
@rokulka can we get this one done in time for GA as well?

Text Analytics uses `TextDocumentInput`: https://github.com/Azure/azure-sdk-for-net/blob/9dc7eb7212a51f1db269c630406fd62f0c792838/sdk/textanalytics/Azure.AI.TextAnalytics/src/TextDocumentInput.cs#L12

[2021-09-17 04:33] #6505 closed

[2021-09-17 07:37] idear1203 commented on #16062
Thanks for reporting. I am actively checking the issue.

[2021-09-17 10:50] rokulka commented on #15374
@heaths - TextAnalytics will be changing their API to use "records" instead of "documents" when they go GA, the timeline for that is not finalized yet.  We can go ahead with "TextRecords" as the class name.

CC - @assafi

[2021-09-17 11:15] manicminer opened #16075 "Add support for Microsoft.AzureActiveDirectory RP"
Specifically for the b2cDirectories resource: https://docs.microsoft.com/en-us/rest/api/activedirectory/b2c-tenants

[2021-09-17 13:06] aristosvo commented on #16047
@ruowan Can you give us anything to assure this is in progress or anything? It's bugging my day to day an awful lot

[2021-09-17 13:35] vmarlier commented on #3003
Hello,

It's a bit late I think, but the Azure NSG only tolerate 1000 rules per NSG.
However, you can still contact the support to increase this limit.

Source: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits.

[2021-09-17 16:14] microsoft-miroos opened #16079 "Azure Networking AVNM Scope Connection APIs"
Adding a set of new APIs to support a new feature in azure virtual network manager while we are still in private preview

#16078

[2021-09-17 16:32] #15374 closed

[2021-09-17 21:19] sadasant commented on #15108
After some back and forward, this is clearer to me:
So, the underlying issue that @TheOnlyWei is having is that they’re trying to use the Key Vault management client to create a policy in the ADFS environment. ADFS environments don’t actually have tenant IDs, and since the Key Vault management client only works with UUID tenant IDs, this means that the Key Vault service does not support creating p

[2021-09-17 21:31] TheOnlyWei commented on #15108
@sadasant That is correct in that ADAL login used in the sample code linked above uses "adfs" as tenant Id and Key Vault creation uses UUID of tenant Id. ADFS environments do have a tenant Id, but the issue here is inconsistent convention. If we are to accept "adfs" as tenant Id in several SDKs, then it doesn't make sense to not accept it for Key Vault, and vice versa, if we only accept UUID as te

[2021-09-17 21:33] sadasant commented on #15108
Right, but this is not a bug on the the SDK clients, nor a bug on the rest specs. This is really a feature request for the Key Vault service to support “adfs” tenants in their access policy API.

[2021-09-17 21:39] TheOnlyWei commented on #15108
Part of this is to also spread awareness of the different interpretations of tenant Id used by SDKs and RPs so as to have consistency in user experience because the SDK teams do not test their code on Azure Stack environments. If this is expected behavior after your investigations and is consistent with Azure, then we can leave this issue for now.

[2021-09-17 21:43] sadasant commented on #15108
@AshokCMSFT , @mancyc please help us with a statement when you find some time 🙏

[2021-09-17 23:12] mancyc commented on #15108
KeyVault does support access policies on ADFS in Stack. User should use tenantId from Stack environment.
I don't think we can/should skip the tenantId here, because our access policy API expects it.

[2021-09-18 02:46] ruowan commented on #16079
Hi, @microsoft-miroos What's the issue used for? Is there anything I could help?

[2021-09-18 09:07] njuCZ opened #16087 "extendedlocation type for appservice should not be readonly"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/CommonDefinitions.json#L1164

the `type` property is marked as `readonly`, but actually when creating an app service on arc, users need to input this field. Otherwise the backend server will report  error.

please remove the `readonly`

[2021-09-18 09:20] ruowan commented on #16047
Sorry for delay response. I will try to trige this issue.

just for curious, are you from terraform team?

[2021-09-19 12:48] FormindGMO commented on #14078
@kaovd you mentionned PR #14753 of swagger specs, flagged as "Merged", yet doesn't seem available in documentation. I don't know about MS internal processes, do you know when could we get the feature implemented?

[2021-09-19 12:56] kaovd commented on #14078
@FormindGMO this has been pushed back a fair bit and is now scheduled for 2021-09-01 API Spec - See here.
https://github.com/Azure/azure-sdk-for-go/issues/14800

The change did go in, but they need the full stack of specs to produce a Package for it in the SDK

Got a central tracker up here in azurerm
https://github.com/hashicorp/terraform-provider-azurerm/issues/11667

[2021-09-20 08:07] tombuildsstuff commented on #16047
Looks like this is unique to API Version `2021-07-01-preview` - so this appears to be an API Regression

[2021-09-20 13:21] SudoSpartanDan commented on #16047
Hi, I'm experiencing issues with this as well. @tombuildsstuff , our process is calling the API as follows, which is not using the `2021-07-01-preview` API version.

[code]

[2021-09-20 14:13] markweitzel opened #16094 "[ACS - Phone Numbers] REST API review"
## Issue to track the API review for adding phone numbers to ACS.
See: #15312
Link to previews API version [here](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/communication/data-plane/PhoneNumbers/stable/2021-03-07)

Updated original design document to reflect the latest agreements, you can see the document [here](https://microsoft.sharepoint-df.com/:w:/t/IC3SDK/EQVl-n_HJ3

[2021-09-20 15:07] microsoft-miroos commented on #16079
I am just following the documented instructions [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/271/Azure-REST-API-Stewardship?anchor=scheduling-an-api-review), which specify to raise an issue to attach to the PR when trying to merge changes into our official swagger.

[2021-09-21 07:06] adityabalaji-msft commented on #14715
closing this issue, feel free to re-open in case of any other questions

[2021-09-21 07:06] #14715 closed

[2021-09-21 18:59] DSollickOnyx commented on #10808
Commenting just to say also running into this issue. TF does not handle it particularly gracefully either. The failed module needs to be deleted through some other method before TF can attempt to install it again.

[2021-09-21 20:29] nichatur commented on #16003
Thanks for bringing this up. We have a fix out for returning the string instead of the int from the service side.

[2021-09-21 23:10] markweitzel commented on #15769
@tg-msft & @JeffreyRichter approved the PR. Closing this issue.

[2021-09-21 23:10] #15769 closed

[2021-09-22 06:50] basavarajb opened #16117 "Unable to attach the azure firewall policy to azure firewall using terraform"
i'm unable to attach firewall policy to firewall
[https://github.com/hashicorp/terraform-provider-azurerm/issues/13435](https://github.com/hashicorp/terraform-provider-azurerm/issues/13435)
[code]

[2021-09-22 16:42] markweitzel commented on #15769
## API Stewardship 22-Sept-2021

Instead of PATCH use PUT.
PUT /runNotebookApi/versions/{version}/run/{id}

See https://aka.ms/azapi/guidelines#api-versioning for our preferred way to provide the api-version

API structure should be: PUT /notebooks/{notebook}/runs/{runid}

See [Versioning](https://www.youtube.com/watch?v=bG984_L6dS0&list=PL9XzOCngAkqs4m0XdULJu_78nM3Ok3Q65&index=14 )
for more about

[2021-09-22 16:49] markweitzel commented on #16011
## API Stewardship 22-Sept-2021

Instead of PATCH use PUT.
PUT /runNotebookApi/versions/{version}/run/{id}

See https://aka.ms/azapi/guidelines#api-versioning for our preferred way to provide the api-version

API structure should be: PUT /notebooks/{notebook}/runs/{runid}

See [Versioning](https://www.youtube.com/watch?v=bG984_L6dS0&list=PL9XzOCngAkqs4m0XdULJu_78nM3Ok3Q65&index=14 )
for more about

[2021-09-22 19:31] #15912 closed

[2021-09-22 20:47] jlichwa commented on #11962
Feature request will go through our prioritization request on our next planning by the end of this year.

[2021-09-23 15:30] anthony-c-martin opened #16133 "Microsoft.OperationalInsights/workspaces/savedSearches resource contains `etag` property defined in the wrong place"
Reported in this comment: https://github.com/Azure/bicep/issues/784#issuecomment-923971156

Microsoft.OperationalInsights/workspaces/savedSearches has the "etag" property defined as a top-level resource property:
[code]

It appears this in fact should be declared inside the "properties" body of this resource type:
[code]

Here's where this is declared in the RP swagger:

https://github.com/Azure/a

[2021-09-23 16:07] #15662 closed

[2021-09-23 20:27] avirishuv commented on #13164
update: the fix for this is a bit delayed, and targeted for Q4 2021.

[2021-09-23 22:10] hazemelh opened #16138 "[Unified Language Service] API Review - ExtraInformation Parameter in Entity Response Object"
We are appending a parameter called extraInformation to our entity object response in a preview API in Language Cognitive Services, PR TBD.

The parameter is an array of objects with discriminator "kind" parameters that determine the type of the extra information being appended to the entity.

More details: https://microsoft-my.sharepoint.com/:w:/p/haelhamm/EUvSafGbrMtHicoh-OwrRAgBsNIX3heRzbOQ7f0Q

[2021-09-23 22:25] hazemelh commented on #16138
Please add
APIStewardshipBoard-ReveiwRequested label

[2021-09-23 22:57] mikekistler opened #16141 "[Cognitive - Purview] Metadata Policies API review"
Issue for API review for PR #14938

[2021-09-23 23:57] mikekistler commented on #16141
- Need to change `values` to `value`
- Even for roles, paging is necessary.
- DNF and CNF — are these common terms?  Consider less cryptic names.
  JS: Early customers aren’t likely to give you feedback on cryptic names
- DNF condition is an array of arrays — looks strange but is actually correct
  Maybe a better structure:
[code]
- It’s a little weird to pass collection in when it can’t be change

[2021-09-24 00:47] sdandu21 opened #16142 "Key Vault: ARM template support for Azure Key Vault backup"
Is there an equivalent for these Key Vault operations (Azure Key Vault backup) in Arm Templates? https://docs.microsoft.com/en-us/azure/key-vault/general/backup?tabs=azure-cli#back-up-and-restore-from-the-azure-cli-or-azure-powershell

[2021-09-24 21:34] StefanIvemo opened #16157 "Microsoft.ContainerRegistry/registries resource have `Classic` listed as available `sku` although it has been deprecated."
Reported in: [Azure/bicep#4577](https://github.com/Azure/bicep/issues/4577)

The `Classic` Sku for Azure Container Registry has been deprecated but it's still listed in the swagger definition as allowed value.

https://github.com/Azure/azure-rest-api-specs/blob/b49af808cba06f45b01193623ce1ff9e2e017777/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2021-06-01-p

[2021-09-27 15:33] wmmihaa opened #16180 "[Feature request] Are there any plans to support more complex queries?"
We'd like to be able to use the same queries for the REST api or SDK as we can using the query explorer in the portal. For instance:
[code]

[2021-09-28 07:47] adityabalaji-msft commented on #7268
The fix is now available

[2021-09-28 07:48] adityabalaji-msft commented on #7268
Closing this issue for now as the fix has been deployed. Feel free to re-open in case you are still facing issues.

[2021-09-28 07:48] #7268 closed

[2021-09-28 16:05] markweitzel commented on #15686
## API Steawardship Board Review - 28-Sept-21

[2021-09-29 03:57] tgolly commented on #16047
Agree this is a real problem, my Terraform is making a mess.  Is there an ETA on resolution?

[2021-09-29 13:33] anthony-c-martin opened #16216 "`Microsoft.MachineLearningServices/workspaces/datastores` PUT body is not RPC-compliant"
The PUT request body for this resource type uses `DatastoreCreateRequest`, which is not compliant as per the ARM RPC: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#put-resource

https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningS

[2021-09-29 13:42] anthony-c-martin opened #16217 "`Microsoft.Authorization/accessReviewScheduleDefinitions` PUT body is not RPC-compliant"
In the PUT definition, the API accepts the "properties" portion of the resource body directly:

https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/authorization/resource-manager/Microsoft.Authorization/preview/2021-03-01-preview/authorization-AccessReviewCalls.json#L215

I suspect this is just an authoring error, and that `AccessReviewSchedule

[2021-09-29 13:42] anthony-c-martin commented on #16217
Originally raised under https://github.com/Azure/bicep-types-az/issues/203

[2021-09-29 16:50] anthony-c-martin opened #16219 "`Microsoft.Network/virtualNetworks` - `peeringState` not marked as readonly"
From the issue reported under https://github.com/Azure/azure-resource-manager-schemas/issues/1551, this field is not settable with a PUT and should be marked as readonly.

https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/virtualNetwork.json#L1610-L1622

[2021-09-29 22:53] chriswue commented on #15869
Any chance to tackle this - it's the only things that prevents us from treating warnings as errors in our biceps build

[2021-09-30 00:19] zhenglaizhang opened #16228 "SDK automation direct download link is broken for sdk repo"
e.g. https://github.com/AzureSDKAutomation/azure-sdk-for-net/pull/5788

[2021-09-30 00:20] zhenglaizhang commented on #16228
I will fix this right after the national holiday, in the second week of Oct.

[2021-09-30 04:31] pranavi-dandu opened #16233 "SDK azure-sdk-for-go-track2 failing"
SDK azure-sdk-for-go-track2 failing with the below error .
[code]

Upon analysis found this - [Azure-sdk-for-go repo ](https://github.com/Azure/azure-sdk-for-go/commit/41af1bab440e4841a07003b6bd822126fcf2427a#r57234252)

[2021-09-30 05:38] #16233 closed

[2021-09-30 07:46] jarrodd07 commented on #16003
Hey @nichatur, has this fix been deployed? I'm still getting the same error when calling this service using the go sdk.

[2021-09-30 11:33] stephybun opened #16240 "`Microsoft/Consumption` cannot toggle `thresholdType` in budgets"
As of [15.03.2021](https://azure.microsoft.com/en-au/blog/prevent-exceeding-azure-budget-with-forecasted-cost-alerts/) `thresholdType` can accept the values `Actual` and `Forecasted`, but it doesn't seem possible to toggle between the two with API calls.

Here is our HTTP PUT Request after we created a budget with `thresholdType = Forecasted`

[code]

And we receive a 200 with the following respon

[2021-09-30 13:58] AlexanderSher opened #16242 "ServicePrincipalCredentialEnum has wrong type"
https://github.com/Azure/azure-rest-api-specs/blob/fd7603f9a8acb1decf94f7770a0bfe7b78df9b20/specification/synapse/data-plane/Microsoft.Synapse/preview/2021-06-01-preview/entityTypes/LinkedService.json#L758

Type should be `string`

[2021-09-30 15:16] annelo-msft commented on #16242
@idear1203, @wonner, would it be possible for one of you to update this type?

[2021-09-30 16:16] anthony-c-martin opened #16243 "`Microsoft.Relay/namespaces/networkRuleSets` is missing property definitions"
Reported here: https://github.com/Azure/bicep/issues/784#issuecomment-928181538

In [this sample](https://docs.microsoft.com/en-us/azure/azure-relay/ip-firewall-virtual-networks#use-resource-manager-template), the `virtualNetworkRules` & `trustedServiceAccessEnabled` properties are provided, but there is no corresponding swagger definition for them in the swagger definition: https://github.com/Azu

[2021-09-30 16:19] markweitzel commented on #16138
# API Stewardship Board Review 30-Sept-21

[2021-10-01 16:06] GalPillar opened #16262 "Microsoft.Authorization/roleAssignmentScheduleRequests returns "An error has occurred.""
We more or less know the reason for it, the problem is we don't have a better place to ask for support than here:
We tried testing some edge cases for creating roleAssignmentScheduleRequests in the Microsoft.Authorization, specifically with odd requestType values. After one of the requests was created, the rest api for listing the roleAssignmentScheduleRequests strated returning the 500 with the e

[2021-10-01 19:49] anthony-c-martin opened #16265 "`Microsoft.Network/virtualNetworks` resource missing various `required` definitions"
* "properties" is not marked as required, even though it MUST be specified on a PUT
    https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/network/resource-manager/Microsoft.Network/stable/2021-02-01/virtualNetwork.json#L1851-L1855

* "location" is not marked as required, even though it's required on a PUT:
    https://github.com/Azure/azure-r

[2021-10-04 05:26] Kharianne commented on #16062
Hello! Thank you. Is there any update on this issue?
Have a nice day.

[2021-10-04 12:30] mrbobq commented on #11899
Just ran into this issue as well. Any updates?

[2021-10-04 17:49] annelo-msft commented on #16242
@lmazuel FYI

[2021-10-04 22:17] GePerez commented on #3594
It's been 3 years since this feedback was provided.
Is there still no API that one can call to programmatically determine for a given "Resource type and region" if Zone redundancy is supported?

[2021-10-05 05:30] Vijay-Nirmal commented on #8198
I also encounter this issue, it turns out the return is not populated because I used merge commit id. If you are using merge commit id then set type in the body as `lastMergeCommit`

[code]

[2021-10-05 12:50] anthony-c-martin commented on #13424
https://github.com/Azure/azure-rest-api-specs is the correct repo for this issue - it is the source of truth for all Azure API documentation. The template reference documentation you linked is automatically generated from this repo.

[2021-10-05 12:54] anthony-c-martin opened #16285 "`Microsoft.Web/sites` - `customDomainVerificationId` should be marked `readonly`"
As per https://github.com/Azure/bicep/issues/784#issuecomment-933188709, we believe this is not a property that can be set via a PUT request. If this is the case, please mark it as `readonly`. Example here:
https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/CommonDefinitions.json#L1832-L1835

[2021-10-05 17:47] #15694 closed

[2021-10-06 10:09] aristosvo opened #16292 "`Microsoft.Sql/managedDatabaseSecurityAlertPolicies`: `useServerDefault` removed"
In the generated SDK of `Microsoft.Sql` `preview/v5.0` the option `useServerDefault` is removed from the `managedDatabaseSecurityAlertPolicies`

My question is what the reasoning behind that backward incompatible decision is or how we can work around this to upgrade to `preview/v5.0` for the [SQL package in Terraform](https://github.com/hashicorp/terraform-provider-azurerm/pull/13622).

[2021-10-06 10:21] aristosvo commented on #16292
Per https://github.com/Azure/azure-rest-api-specs/issues/9762#issuecomment-751857677 deprecated.

[2021-10-06 10:21] #16292 closed

[2021-10-06 12:52] avjerafi opened #16294 "ENUM_MISMATCH validation has wrong description in reference markdown file"
At https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/Semantic-and-Model-Violations-Reference.md#ENUM_MISMATCH:

The ENUM_MISMATCH validation description uses a verbatim copy of the ENUM_CASE_MISMATCH description.

[2021-10-06 20:48] abhahn opened #16300 "[Unified Language Service] Text Analytics API Review"
For the first preview of the Language API including TA we plan to expose our existing async service, with a few minor alterations in order to align with internally discussed naming conventions.

Swagger PR for first preview version:  https://github.com/Azure/azure-rest-api-specs/pull/16256

[2021-10-08 13:31] owenfarrell opened #16324 "Cognitive Services lists incorrect Private Endpoint Connection Name"
When listing the private endpoint connections for a Cognitive Services resource, the returned name is incorrectly including the Cognitive Services Account name.

# Sample Request

[code]

# Expected Result
[code]

# Actual Result

[code]

[2021-10-08 19:42] kichalla commented on #13578
Nice discussion. Could you please provide what should be the guidance for folks who are using ASP.NET Core + Swashbuckle to generate Swagger docs? Swashbuckle for ASP.NET Core uses Open API SDK to generate the Swagger docs and this SDK does not emit a sibling key-value like "x-ms-client-flatten" here in our case. I can imagine this being a general problem for anybody as many folks use ASP.NET Core

[2021-10-09 02:14] sinbai opened #16327 "Load balancer can not be deleted after updating frontend IP configuration"
To reproduce:
1. Create a Global SKU Tier load balancer (lb1)
2. Create a backendAddressPool (pool) for lb1
3. Create a Regional SKU Tier load balancer(lb2) with two frontendIPConfigurations (feip1,feip2)
4. Create a loadBalancerBackendAddresses for pool which created in step2,  set loadBalancerFrontendIPConfiguration value to feip1 which created in step3.
5. Update loadBalancerFrontendIPConfigura

[2021-10-10 19:11] anthony-c-martin opened #16330 "`Microsoft.Synapse/workspaces` version `2021-05-01` is missing `existingSqlServer` property definition"
First reported under https://github.com/Azure/bicep/issues/784#issuecomment-939403874

[2021-10-11 16:56] ShilpiGautam commented on #3553
@adwise3 can you please take it fwd to the right team owning this in ACM?

[2021-10-12 01:48] slbsupportgithub commented on #16327
Irene, are you looking into this?

-a

From: msftbot[bot] ***@***.***>
Sent: Friday, October 8, 2021 9:21 PM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: SLB Supportability GitHub Contacts ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] Load balancer can not be deleted after updating frontend IP configuration (#16327)

Thanks for the feedback! We are routing this to

[2021-10-12 02:38] raych1 commented on #16294
Thanks for reporting this issue, fixed in [PR](https://github.com/Azure/azure-rest-api-specs/pull/16351)

[2021-10-12 02:38] #16294 closed

[2021-10-12 08:59] javafrog commented on #10356
Is there any update on this? Would be cool if I could read the actual values from the API.

[2021-10-12 18:28] ouldsid opened #16368 "Description of this API is misleading as this API get a list of tracked resources only"
https://github.com/Azure/azure-rest-api-specs/blob/cac541467ac851bee43f5abd6d528db3797c2f09/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L2938

[2021-10-12 20:20] markweitzel commented on #16300
# API Stewardship Review 12-Oct-21

Today's conversation will be focused on the batch API described in the design doc.
Internal design doc:  [Language Unified REST API](https://microsoft.sharepoint-df.com/:w:/t/ALPSAzureLanguagePillars/EZPRUkaOsN1HscCEdBIvFooBsIlxftyxrfzPhHTtVko_vw?e=IqzzpE)

* We are switching this to `records` from `document` b/c documents has a broader definition w/in Cognitive

[2021-10-12 22:18] JoshLove-msft opened #16369 "Event Grid: ARM events use incorrect schema"
The [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/eventgrid/data-plane/Microsoft.Resources/stable/2018-01-01/Resources.json) for the ARM events use an incorrect definition for the `claims`, `httpRequest`, and `authorization` properties. In the swagger, these properties are defined as `string`, but they are actually delivered as JSON objects. This is evident in the

[2021-10-12 23:54] czubair opened #16372 "[Maps] Review request for Microsoft.Maps/Microsoft.Maps to add version preview/2.0"

[2021-10-12 23:58] czubair opened #16373 "[Maps] Review request for Microsoft.Maps/Microsoft.Maps to add version preview/2.0"

[2021-10-13 00:00] #16372 closed

[2021-10-14 13:33] 97kirkc opened #16407 "https://prices.azure.com/api/retail/prices API calls now missing all virtual machines all regions expect E series v5"
Hi there,

We use this pricing API extensively for automated cost calculations for customers - today we noticed calls failing, that the new E series v5 has been loaded in under virtual machines, but now **no other virtual machines** are being returned for any region.

Example - invoke-restmethod "https://prices.azure.com/api/retail/prices?`$filter=serviceName eq 'Virtual Machines'" will return jus

[2021-10-14 18:49] anthony-c-martin opened #16412 "zoneMappings property is missing from ARM GET /subscriptions/{subscriptionId}/providers response definition (again)"
This was originally implemented under https://github.com/Azure/azure-rest-api-specs/pull/13936 last time I raised it (https://github.com/Azure/azure-rest-api-specs/issues/8097), but looks like it's back again in later API versions.

Added to 2020-10-01:
https://github.com/Azure/azure-rest-api-specs/blob/5a8527b19b71e2e3fcdf038f470915c010ace293/specification/resources/resource-manager/Microsoft.Res

[2021-10-15 20:47] bmc-msft opened #16425 "applicationinsights spec errors for `table.row`"
The specification for `table` states that `row` is an array of arrays of strings.

https://github.com/Azure/azure-rest-api-specs/blob/abf7b7e10780d737d99ef0013274431d2024a17d/specification/applicationinsights/data-plane/Microsoft.Insights/preview/v1/AppInsights.json#L1981-L2013

However, in practice this can be `string` or `int`.  There might be other types in responses, but I've only see `string`

[2021-10-17 16:28] EricStG opened #16429 "Specification for service bus runtime REST API"
Looking for specifications for the service bus [runtime REST API](https://docs.microsoft.com/en-us/rest/api/servicebus/service-bus-runtime-rest). docs.microsoft.com seems incomplete as the query parameter aren't documented, even when shown in examples.

The only specifications I can find in this repo are for the resource management (creating queues, topics, etc) but not sending/receiving messages.

[2021-10-19 21:28] czubair opened #16462 "[DPS] Control Plane API"

[2021-10-19 22:50] archerzz opened #16465 "[cosmos-db] `Options` property in `SqlDatabaseGetResults` not returned from backend"
# Description

In the definition of [SqlDatabaseGetResults](https://github.com/Azure/azure-rest-api-specs/blob/f780b571abddf2fc99233212a00510d3bef6878d/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/cosmos-db.json#L5510), there is an `Options` property defined.

However, that property seems not returned from backend in reality. Below are part of recording of our te

[2021-10-20 05:46] tim-nguyen-cs commented on #16368
Hi @zhenglaizhang - I can address this. What about the description is misleading?  Is there a distinction between "tracked" and "untracked" resources?

[2021-10-20 07:08] chunye opened #16473 "Support SecureBoot in VM and VMSS"
When can we add the following securityProfile to VM and VMSS objects?

      "securityProfile": {
        "uefiSettings": {
          "secureBootEnabled": true,
          "vTpmEnabled": true
        },
        "securityType": "TrustedLaunch"
      },

https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-scale-sets/create-or-update#create-a-scale-set-with-uefi-settings-of-secureboot-an

[2021-10-20 08:57] 97kirkc commented on #16407
This now seems to have randomly corrected itself and is now working correctly, however we have noticed quality and reliability have been affected more than once by updates or changes which is making the API nearly unusable in places. Could this please be fed back to the appropriate team? Thanks.

[2021-10-20 14:22] metaxasa opened #16479 "No stable API version for Microsoft.Sql since 2014-04-01!"
There hasn't been a stable API version release on Microsoft.Sql since 2014-04-01:

![image](https://user-images.githubusercontent.com/49130008/138111107-f8412888-8386-48a1-afe1-a75c8b6a1b70.png)

Not releasing stable API versions makes it impossible to see which versions are GA without trawling through documentation. Please can stable versions of the APIs be released?

This issue has been previous

[2021-10-20 19:08] czubair commented on #16462
out of scope for data plane - REST API review

[2021-10-20 19:08] #16462 closed

[2021-10-21 13:45] SudoSpartanDan commented on #16047
@ruowan This is affecting our ability to run proper reports on our resources. What do we need to do to escalate this issue? I submitted a Microsoft ticket, but it was closed because it was believed to be a Terraform issue. From our logs and the evidence presented by @aristosvo, though, this seems to be an issue with the API or the Azure SDK itself.

[2021-10-22 00:42] anthony-c-martin opened #16504 "`Microsoft.CognitiveServices/accounts` - `kind` values should be modeled as an enum"
The `kind` property defined for an "accounts" resource is modeled as a string with no information on valid values. It would be useful to model as an enum so that the accepted values can be enumerated:

https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2021-04-30/cognitivese

[2021-10-22 02:56] ruowan commented on #16047
@ArcturusZhang could you take a look at this, is this issue related to go sdk issue.

[2021-10-22 04:05] fbenatti opened #16507 "API Microsoft.CostManagement Subscription can't grouping by ResourceGroup on type Forecast"
Hello,

When I call the api .CostManagement SubscriptionForecast with type "Query" the response return data with ResourceGroup, but not return the forecast value. If I use the same JSON body and chage the type of call to forecast, don't return more grouping by ResourceGroup and return the CostStatus with Forecast but stop return ResourceGroup:

Examples working grouping by ResourceGroup, but don't

[2021-10-22 04:13] shaileshsk94 commented on #15675
The purview account cannot be scaled through PUT or PATCH API post GA.
Customer should reach out to Azure Purview CSS for scaling requests.

The default value of sku capacity is always 1 post GA.
Note that 4 capacity units in public preview is equivalent to 1 capacity
unit post GA.

You can find more details in Azure Purview docs. I hope this helps.

On Thu, Oct 21, 2021 at 9:07 PM Tom Harvey ***@

[2021-10-22 04:40] tombuildsstuff commented on #15675
@shaileshsk94 the default change from 4 in Beta to 1 in GA is fine - I'm specifically wondering about this point:

Presumably there's an API available for this, but it's not exposed?

[2021-10-22 04:59] ruowan commented on #16047
Hi, @yashmuel could you pls take a look at this issue?

[2021-10-23 00:29] jarrodd07 commented on #16003
Hey @nichatur, can this issue please be re-opened? I have just retested this and I am still getting the same error from the go sdk.

[2021-10-25 14:18] markweitzel opened #16530 "[Service Fabrid] 8.2 spec"
Service name : Service Fabric
Key contact for the review : Jeffrey Jarry (jejarry)
Whether this is a new or existing API : Existing API with new version
Whether or not your service already been deployed : Yes
A brief description of the material to be reviewed/changed : A small subset of our API has been updated with new fields
A link to the PR/issue in the azure-rest-api-specs (public) or azure/az

[2021-10-27 02:57] archerzz opened #16560 "[cosmos-db] incorrect `type` definition in `SqlRoleDefinitionResource`"
# Description

According to the [definition of SqlRoleDefinitionResource](https://github.com/Azure/azure-rest-api-specs/blob/f780b571abddf2fc99233212a00510d3bef6878d/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2021-06-15/rbac.json#L407), the `type` property should be a string.

The[ corresponding example](https://github.com/Azure/azure-rest-api-specs/blob/f780b571abddf2fc9

[2021-10-28 12:02] AndreasMWalter opened #16586 "AKS Nodepool VMSS cannot be Listed with List-All"
Situation:
- We currently are trying to give tag based firewall rules to Virtual Machine Scale Sets in a Checkpoint Cloudguard.
- Checkpoint uses the Azure API to query the tags on the resources.
- Tags for the AKS VMSS are set, but the Checkpoint cannot see the VMSS even though they are displayed in the Azure Portal as Ready

Analysis:
Using the following API URI VMSS (for at least AKS but maybe

[2021-10-29 22:17] sebansal commented on #16142
Key Vault offers individual object level backup/restore and that is a data plane operation, not ARM.

[2021-10-29 22:17] #16142 closed

[2021-10-29 22:27] sebansal commented on #14768
Today it is not supported, will track for future planning.

[2021-10-29 22:27] #14768 closed

[2021-10-29 22:47] sandervandevelde commented on #10899
Any news yet? Is there a REST API equivalent of  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/failover" including documentation?

[2021-10-29 22:50] jlichwa commented on #11929
@anthony-c-martin  it seems like this issue is fixed.

[2021-10-29 23:32] anthony-c-martin commented on #11929
@jlichwa, thanks for confirming! Closing this issue.

[2021-10-29 23:32] #11929 closed

[2021-11-01 02:23] wonner commented on #16242
Resolved in PR: https://github.com/Azure/azure-rest-api-specs/pull/16322

[2021-11-01 02:23] #16242 closed

[2021-11-01 06:40] magodo opened #16615 "SecurityInsights API: Alert Rule Threat Intelligence defines "severity" as read-only"
In the [security insight alert rule API spec](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json#L4424), it defines the "severity" property as a read-only property. However, the backend service requires the `severity` to be set, otherwise, it returns:

[code]

This is a

[2021-11-01 06:58] laithhisham commented on #16615
Notice that there are several types of rules which have different definition of the severity property. The attached link refers to the TI rules (ThreatIntelligenceAlertRuleProperties). In TI it is read only, and this is on purpose, but in Scheduled rules it is not (see [here](https://github.com/Azure/azure-rest-api-specs/blob/920e768c481b65d930d76700f55b2be8bc5acada/specification/securityinsights/

[2021-11-01 07:21] magodo commented on #16615
@laithhisham As the title suggested, this is a TI variant. So reopening this issue.

[2021-11-01 07:41] laithhisham commented on #16615
I thought you were referring to Scheduled rules, apologies. It does seem like an issue with the definition there, we also noticed that the TI rules have severity defined in the request body when sent from the portal.

[2021-11-01 07:45] magodo commented on #16615
@laithhisham Thank you for confirming this!

[2021-11-01 14:08] AnuragSingh-MSFT opened #16621 "[Subscription] list operation returns 404 for version 2020-09-01"
The api in doc below returns 404 with error message containing a different API version to use (Can be verified by using "try it" button on the doc page)
https://docs.microsoft.com/en-us/rest/api/subscription/2020-09-01/operations/list

Returned message:
`{"error":{"code":"InvalidResourceType","message":"The resource type 'operations' could not be found in the namespace 'Microsoft.Subscription' for

[2021-11-02 08:14] magodo commented on #9424
Confirmed with service team, this is a known issue and they are working on the automation rule, which will eventually deprecate the alert rule action in the future. Also, there is no plan to fix this issue due to some reason.

As therer is an alternative to trigger an action on an alert rule by using the automation rule, I'm going to close this issue for now.

[2021-11-02 08:14] #9424 closed

[2021-11-02 08:57] anthony-c-martin opened #16632 "`Microsoft.Network/applicationGateways` resource incorrectly specifies `SystemAssigned` as a valid identity type"
Created from https://github.com/Azure/azure-resource-manager-schemas/issues/852.

Users report that the service does not accept a `SystemAssigned` identity, yet the swagger spec declares support for it:
https://github.com/Azure/azure-rest-api-specs/blob/ac0ab10f7605f63dfb8854fede1dbf6daa9df825/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/applicationGateway.json#L2973-

[2021-11-02 11:24] rudolphjacksonm commented on #10637
Hi all, are there any updates on this? Would be really handy for this to be resolved, as we have to reorder our Let's Encrypt certificates continuously when pulling from Key Vault before adding them to our AKS clusters.

[2021-11-02 19:14] leezen opened #16635 "CosmosDB specification should include `EnableServerless` as an example"
Currently, the `name` property description for `Capability` reads: `Name of the Cosmos DB capability. For example, "name": "EnableCassandra". Current values also include "EnableTable" and "EnableGremlin".` and should include "EnableServerless" for the applicable API versions.

[2021-11-03 09:10] timja commented on #11237
@yupwei68 / @zfchen95 is there any work going on to look at this?

Thanks :)

[2021-11-03 16:17] markweitzel commented on #16530
# API Stewardship Board Review:  3-Nov-21

Because this is an existing service, there will be little impact that we will be able to make, in part b/c we want to be consistent with the entirety of the service. The changes in this version are small, only one new operation and adding minor updates to the others.

[2021-11-03 16:45] johndowns commented on #13216
It looks like this has been resolved in API version 2021-02-01.

[2021-11-03 16:45] #13216 closed

[2021-11-03 18:29] zfchen95 commented on #11237
hi, the error seems a bit old. It happened in 2020. Do you have a more recent repro?

[2021-11-03 18:45] aristosvo commented on #11237
Yes, [here](https://github.com/hashicorp/terraform-provider-azurerm/pull/13267)

[2021-11-03 19:45] JackStromberg commented on #16632
Application Gateway supports managed identities for the KeyVault integration which has the same definition format: https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#how-integration-works

Example usage would look something like:
[code]

[2021-11-03 22:26] jlichwa commented on #13365
+@vickm for MHSM issues

[2021-11-04 08:28] franzoir commented on #10637
@rudolphjacksonm  I believe a workaround has been added to Azure CSI driver, ref: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/feature-flags/

[2021-11-04 11:36] anthony-c-martin opened #16665 "`Microsoft.Network/applicationSecurityGroups` - `location` is not marked as `required`."
In the following definition, the `location` property should be required, as it must be provided on a `PUT`:

https://github.com/Azure/azure-rest-api-specs/blob/b69b3fa5c26c94aa6efe6dadb76f599c204f297b/specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/applicationSecurityGroup.json#L353-L371

Initially reported here: https://github.com/Azure/bicep/issues/5071

[2021-11-04 11:50] anthony-c-martin commented on #16632
@JackStromberg - thanks for the sample. This issue actually isn't relating to the `UserAssigned` identity type - it's about the `SystemAssigned` identity type. The original issue (https://github.com/Azure/azure-resource-manager-schemas/issues/852) that was raised gives a bit more context.

Essentially the service is declaring support for `SystemAssigned` through the swagger spec, but it appears th

[2021-11-04 14:24] rbp28668 commented on #11962
We need to run a mini CA to support encryption in transit.   Not having the ability to set basic constraints impacts our ability to do this and is impacting our ability to deliver to multiple customers.  The key to this is being able to create the root cert with the basic constraints and for the private key to never have to leave the key vault.  That then enables the use of HSM.

[2021-11-04 15:07] JackStromberg commented on #16632
Understood and see the further definition containing both values here (root of the issue): https://github.com/Azure/azure-rest-api-specs/blob/ac0ab10f7605f63dfb8854fede1dbf6daa9df825/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/network.json#L205-L218

I've logged this internally.

[2021-11-04 16:44] amjads1 commented on #16586
@avirishuv Can you please look into this issue?

[2021-11-04 18:20] #16050 closed

[2021-11-04 18:21] heaths commented on #16055
@ChongTang any status update on this one?

[2021-11-04 18:42] ChongTang commented on #16055
@heaths, Sorry I missed this one. I am not sure I understand the issue. Do you mean the type of the children classes are not fixed on this "did not fix the discrimination."?

[2021-11-04 19:16] Drewm3 commented on #13934
This is still tracking for availability at the end of November.

[2021-11-04 21:31] #15858 closed

[2021-11-05 00:05] #15258 closed

[2021-11-05 03:45] yukun-dong opened #16677 "Some wrong and missing descriptions for operations in `Microsoft.EventHub` version 2021-11-01"
**missing descriptions:**

https://github.com/Azure/azure-rest-api-specs/blob/8fb0263a6adbb529a9a7bf3e56110f3abdd55c72/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/SchemaRegistry.json#L98-L100

https://github.com/Azure/azure-rest-api-specs/blob/8fb0263a6adbb529a9a7bf3e56110f3abdd55c72/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/Schem

[2021-11-05 10:55] danielrbradley opened #16679 "Microsoft.ServicesBus Topic & Queue missing x-ms-mutability"
Within the definitions of `SBTopicProperties` and `SBQueueProperties`, the properties `requiresDuplicateDetection`, `requiresSession` and `enablePartitioning` should have the following attribute added as they can't be updated once created.

[code]

## Documentation References

https://docs.microsoft.com/en-us/azure/service-bus-messaging/enable-message-sessions

https://docs.microsoft.com/en-us/azu

[2021-11-06 17:02] cataggar opened #16688 "add Azure Databricks data plane REST API specifications"
The Databricks data plane REST API reference are documented at:
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/

Cluster Policies API 2.0
DBFS API 2.0
Global Init Scripts API 2.0
Groups API 2.0
Instance Pools API 2.0
IP Access List API 2.0
Jobs API 2.1, 2.0
Libraries API 2.0
MLflow API 2.0
Permissions API 2.0
Repos API 2.0
SCIM API 2.0
Secrets API 2.0
Token API 2.0
Token Managemen

[2021-11-07 14:46] cataggar opened #16692 "duplicate tag in iothub/resource-manager/readme.md"
`Tag: package-preview-2021-07` occurs twice. The tags should be unique.

#16493 added:

https://github.com/Azure/azure-rest-api-specs/blob/fdf486a42c7d86dd00802414a5811d5b63c5e917/specification/iothub/resource-manager/readme.md?plain=1#L33-L40

but it already had:

https://github.com/Azure/azure-rest-api-specs/blob/fdf486a42c7d86dd00802414a5811d5b63c5e917/specification/iothub/resource-manager/read

[2021-11-07 22:17] ekini opened #16693 "resourceGuid of "Microsoft.Network/privateEndpoints" LIST/GET is undocumented"
There is .properties.resourceGuid in the response but it's not in the spec: https://github.com/Azure/azure-rest-api-specs/blob/8fb0263a6adbb529a9a7bf3e56110f3abdd55c72/specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/privateEndpoint.json#L673

Context: I was trying to follow [this guide](https://www.elastic.co/guide/en/cloud/current/ec-traffic-filtering-vnet.html#ec-find-

[2021-11-08 09:47] magodo opened #16696 "Storage blob inventory breaking change in 2021-04-01: no policy level `destination` in model"
Since 2021-04-01, the storage blob inventory model moves the [previous policy level destination](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/storage/resource-manager/Microsoft.Storage/stable/2021-02-01/storage.json#L4258) to the [rule level](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/storage/resource-manager/Microsoft.Storage/stable/2021-04-01/s

[2021-11-08 11:29] MWL88 opened #16697 "No usable stable API version for Microsoft.Insights/diagnosticSettings"
What are the plans to provide a stable API version for deploying resource Microsoft.Insights/diagnosticSettings via ARM template?

![image](https://user-images.githubusercontent.com/14333900/140732548-8bae8238-4baf-487b-864e-0e5f294503ea.png)

To successfully deploy diagnostic settings for resources (including App Service and App Service Plan) requires using API version `2017-05-01-preview` (or la

[2021-11-08 17:22] cataggar commented on #16692
`### Tag: package-2021-07` also duplicate.

https://github.com/Azure/azure-rest-api-specs/blob/27c89d071d6a3d6edc908d86655773e0aa9e59d0/specification/iothub/resource-manager/readme.md?plain=1#L41-L56

[2021-11-08 18:02] owenfarrell opened #16701 "KeyVault: Add Operation to List Private Endpoint Connections"
The Azure KeyVault API supports retrieval of a specific private endpoint connect (by name), but does not support listing all private endpoint connections by Vault.

In scenarios where the _**name**_ of the private endpoint connection cannot be determined (but attributes can), the ability to list private endpoint connections is valuable.

An example spec would look something like this:

[code]

[2021-11-08 18:05] owenfarrell opened #16702 "Bug: Cognitive Services lists incorrect Private Endpoint Connection Name"
When listing the private endpoint connections for a Cognitive Services resource, the returned name is incorrectly including the Cognitive Services Account name.

# Sample Request

[code]

# Expected Result
[code]

# Actual Result

[code]

[2021-11-08 18:05] #16324 closed

[2021-11-08 18:49] sirsnork opened #16703 "Allow App Gateway creation without specifying all properties"
I'm using Terraform to build out Azure infrastructure but my absolute biggest pain point is App Gateways. You have to specify all the listeners/rules/IP's in a single resource. This leads to 1000+ line terraform files that just create an App Gateway. It also makes it impossible to cleanly add a new service behind the app gateway because the only way to add anew listener and rules is to edit the ap

[2021-11-08 21:51] jeffj6123 commented on #16530
@markweitzel is this PR ok to be merged?

[2021-11-08 22:17] heaths commented on #16055
Searching through chats, this may have been a non-issue/misunderstanding on my part, or was already resolved.

Based on https://github.com/Azure/azure-sdk-for-net/blob/35da34648d13abddacf022c6d0925f5464c78194/sdk/cognitivelanguage/Azure.AI.Language.Conversations/src/Generated/Models/AnalyzeConversationResult.Serialization.cs#L34-L35 and https://github.com/Azure/azure-sdk-for-net/blob/35da34648d13a

[2021-11-08 22:17] #16055 closed

[2021-11-08 22:18] heaths commented on #16055
@AhmedLeithy @ZulaMostafa just in case you see any issues with model discrimination, something to keep in mind. I don't think you will, though. I think this issue was just a result of my misunderstanding of what was expected in generated code.

[2021-11-09 02:03] oWretch opened #16708 "Inconsistent Casing in Batch Application IDs"
In a similar vein to issue #5574 the ID for an application within a Batch account always returns the application ID portion in lower case instead of the originally created case.

e.g Application with ID `MyCamelCaseApplication` has a resource ID of `"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/my-resource-group/providers/Microsoft.Batch/batchAccounts/mybatchaccount/applicati

[2021-11-09 08:56] hobbesuk commented on #10797
Same issue here, can we have an update please?

[2021-11-09 09:15] blueww commented on #16696
@HimanshuChhabra
Would you please help to look?

[2021-11-09 14:38] smthbh opened #16714 "Microsoft.Automation/automationAccounts - registrationUrl property is not documented"
Reported here: https://github.com/Azure/bicep/issues/784#issuecomment-964195503

This property is used in the DSC template example here:
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template

It is also used in the quickstart here:
https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.automation/automation-configuration/nested/provisionServ

[2021-11-09 21:25] theelderwand commented on #3918
@murraybutler please find the responses to your questions,

Does the API maintain charge info if I destroy and rebuild the resource group (same name, etc)?
  - In short, the answer is Yes. Old usage incurred is not removed if your resource group is deleted and is recreated again. Usage data is realized as your Azure resources consume.

Is there any way to get granularity to a week (Since I have to

[2021-11-10 03:11] neil-yechenwei opened #16729 "AzureMonitorPrivateLinkScopedResource.Get API returned the incorrect format for the linkedResourceId property"
After tested, I found [AzureMonitorPrivateLinkScopedResource.Get](https://github.com/Azure/azure-rest-api-specs/blob/407845d6d73536b216cd2fe1bc8d98a4f6935a55/specification/monitor/resource-manager/Microsoft.Insights/preview/2021-07-01-preview/privateLinkScopes_API.json#L636) API returned the incorrect format for the linkedResourceId property. It should be like below sample. Seems it's an API bug.

[2021-11-10 08:51] archerzz opened #16734 "[Network] Inconsistent LRO State in Application Gateway Start API"
## Description

This can be steadily reproduced. The LRO state in `/Microsoft.Network/applicationGateways/{name}/start` is inconsistent:

- When `/operations/` endpoint returns 200 with `"status": "Succeeded"`, it means polling is finished. And per LRO spec, the `/operationResults` endpoint should return 200/201 as well.
- But in reality the `/operationResults` endpoint returns 202 with `Location`

[2021-11-10 12:02] plzm commented on #3594
Agree. My use case is also very simple: "List Azure regions which support Availability Zones"

How does this docs page get its list? https://docs.microsoft.com/azure/availability-zones/az-overview#azure-regions-with-availability-zones

[2021-11-11 01:31] markweitzel commented on #16530
@jeffj6123 -- From the perspective of the API Stewardship Board, yes. The Azure SDK team may have a few separate concerns as well though. Note: I do not have commit rights on this repo so we will need to coordinate with @lmazuel and team. Happy to help there.

[2021-11-11 01:31] #16530 closed

[2021-11-11 09:20] mikhailshilkov opened #16743 "Network: VirtualNetworkGatewayIPConfiguration should have name marked as required"
Network -> VirtualNetworkGateway -> VirtualNetworkGatewayIPConfiguration's `name` property should be marked as required here: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/virtualNetworkGateway.json#L2605-L2608

If `name` isn't specified, the API returns an error: `Code="InvalidRequestFormat" Message="Cannot parse

[2021-11-12 17:50] jorgegarchirota opened #16755 "[Communication Services - NetworkTraversal] API Stewardship Review"
Review with the Azure Board.

Key contact: anpea@microsoft.com

[Swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/communication/data-plane/NetworkTraversal/preview/2021-10-08-preview/CommunicationNetworkTraversal.json)

Scenarios:
 - Several object renames (e.g. "Turn" to "Relay" and "TurnServer" to "IceServer")
 - Path replacement from "/turn/{​id}​/:issue

[2021-11-15 01:55] yukun-dong opened #16759 "`DeploymentProperties` has incorrect documentation (Resources 2021-04-01)"
The descriptions of template and parameters say that they can be **well-formed JSON string** or JObject. However, the service would return error if using string on template or parameters to create a deployment. https://github.com/Azure/azure-rest-api-specs/blob/1e3988d335713aff2d2971e58a412c527b3adc19/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L45

[2021-11-15 19:01] #16240 closed

[2021-11-17 06:16] magodo opened #16782 "Storage Share Mgmt API `GET` doesn't return `enabledProtocols`"
Using the 2021-04-01 storage share mgmt API to create a share with `enabledProtocols` set to `SMB`, a follow up `GET` doesn't contain the `enabledProtocols` in its response payload.

I'm expecting the `GET` response has the `enabledProtocols` get to `SMB`.

The `PUT` request:

[code]

The `GET` response:

[code]

[2021-11-17 06:28] magodo opened #16783 "Storage mgmt API of container can't destroy a "root" container"
When using the 2021-04-01 mgmt API of the container to destroy a "root" container (named after `$root`), the request failed due to lacks of permission. However, the data plane API can be used to destroy the "root" container.

The mgmt plane API:

[code]

[2021-11-17 06:46] blueww commented on #16783
@HimanshuChhabra , @zfchen95
Would you please help to look at the SRP server issue?

[2021-11-17 06:46] blueww commented on #16782
@HimanshuChhabra , @zfchen95
Would you please help to look at the SRP server issue?

[2021-11-17 13:47] anthony-c-martin opened #16788 "`Microsoft.Web/staticSites/customDomains` version `2021-02-01` - `isDefault` property is undocumented"
The API accepts `isDefault` as a resource property, but it has not been defined here:
https://github.com/Azure/azure-rest-api-specs/blob/ceb6d11a85d834c838181a3031cd106d14a2d674/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/StaticSites.json#L3166-L3171

Original comment (https://github.com/Azure/bicep/issues/784#issuecomment-968433613):

[2021-11-17 13:54] anthony-c-martin opened #16789 "`Microsoft.OperationalInsights/workspaces/linkedServices` version `2020-08-01` - `location` is not defined"
There's no location defined in the swagger spec, but we've had it reported that this is required when actually trying to deploy the resource: https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2020-08-01/LinkedServices.json#L257-L275

Original comment (https://github.com

[2021-11-17 19:45] czubair opened #16794 "[Document Translator] REST API Review for Document Batch Translator API v1.1"
Swagger PR: https://github.com/Azure/azure-rest-api-specs/pull/16705

 Service name: Document Batch Translator

Key contact for this review: alcheng;faanis

Are you in the PST time zone? If not, what time zone are you in? PST;Eastern European Time (Egypt = UTC+2)

Is this a new API or the first API for the service?  No

Link to previous API version
https://github.com/Azure/azure-rest-api-specs/tre

[2021-11-18 09:08] davecluderay opened #16803 "Azure SQL Server: Identity has incorrect mutability"
The [spec for Microsoft.Sql/servers](https://github.com/Azure/azure-rest-api-specs/blob/11f5ca6d6d851a18db4ebaa0b2618420dd661d00/specification/sql/resource-manager/Microsoft.Sql/preview/2020-11-01-preview/Servers.json#L700-L706) lists `read` and `create` under `x-ms-mutability`.
I think, though, that the API does support updates through this endpoint, since assigning an identity is possible throug

[2021-11-18 10:18] mikhailshilkov opened #16804 "App Service Certificate Order Certificate never completes the async operation"
The endpoint `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}` is marked with `"x-ms-long-running-operation": true`: https://github.com/Azure/azure-rest-api-specs/blob/4946dbb5b2893a77ce52d08e2a855056e1acd361/specification/web/resource-manager/Microsoft.CertificateRegistratio

[2021-11-18 12:50] MohdBasitkhan opened #16805 "CREATE LTR for Managed Database"
We need to create the LTR For Managed Database , but Pulumi Need PUT Method which is not available

[2021-11-18 18:51] heaths opened #16807 "The api-version parameter to start a job should be passed back in the Operation-Location header"
While working on the authoring client, we found that long-running operations (LROs) were 404'ing during status updates because the api-version query parameter was not returned. Talking with @JeffreyRichter, the Operation-Location for LROs (and nextLink for paged results) should be opaque, so they need to include the api-version parameter - the same one passed during the request to start a job or g

[2021-11-18 19:09] heaths commented on #16807
While it doesn't necessarily help in this situation, @johanste also says that the service shouldn't 404, but 400 (bad parameter) if `api-version` is required and not specified.

[2021-11-19 00:34] markweitzel commented on #16755
# API Stewardship Rewview 18-Oct-21

@ajpeacock0 & @jorgegarchirota all looks good. Minor stuff to fix...
* Parameter should have a description. (line 26)
* The body parameter is not marked as required. (line 26)
* Error response should contain a x-ms-error-code header. (line 41)

[2021-11-19 06:43] magodo commented on #16615
@laithhisham Any update to this?

[2021-11-19 08:50] yukun-dong commented on #16759
The document is correct.

[2021-11-19 08:50] #16759 closed

[2021-11-20 00:03] jlichwa opened #16828 "[FEATURE REQ] Remove secret value from output during secret creation"
Customers reported that returning secret value on put command can lead to leaks in various tools. Most of the tools provide option to securely type or read from protected files, but does not mask those values in output which can lead to more frequent leaks.

It is breaking change which will require to go through breaking change process.

[2021-11-20 00:31] jonpayne opened #16830 "VM Instance Metadata Swagger has incorrect version number"
The `2021-05-01` VM Instance Metadata Swagger has the version number hard coded to `2018-10-01`, see:
https://github.com/Azure/azure-rest-api-specs/blob/a1b9ef6577a827925dcf6a0bc1b5cb5ad79afddb/specification/imds/data-plane/Microsoft.InstanceMetadataService/stable/2021-05-01/imds.json#L931

This breaks generated clients as they will requests using the `2018-10-01` version rather than the `2021-05-

[2021-11-22 11:50] aristosvo opened #16838 "GatewayTimeout for `Microsoft.Sql/managedInstances` with `api-version=2020-11-01-preview` / `v5.0`"
When trying to create a Managed Instance with `v5.0` of the Microsoft.Sql API, GatewayTimeouts are showing up:
[code]

I'll further investigate if this is currently also occurring for older versions, I'll update this post as soon as it's seen.

[2021-11-22 17:34] tarosler commented on #15632
Hi @ricohomewood ,
The 'ASCDataConnector' is the connector should be used to stream Azure Defender alerts to Sentinel - it is already supported in the API.

Thanks,
Tal Rosler.

[2021-11-22 22:51] ajpeacock0 commented on #16755
@markweitzel For _"The body parameter is not marked as required.  (line 26)"_ this was done since the two properties in `CommunicationRelayConfigurationRequest` are optional, so in the case the caller does not want to provide on, they wouldn't be forced to give an empty json object.

Are you saying this optional request must be required, thus making the caller inclide a `{}` body?

[2021-11-23 03:50] mikekistler commented on #16755
Regarding the optional request body, if it is truly optional then this is fine. This is _often_ an oversight and that's why we flag it.  But I wonder -- in the even that the body properties are not provided, what is the behavior of the API?  There is no "default" value for these properties, so how will users know what to expect if they don't specify them?

[2021-11-23 06:34] dvbb opened #16850 "[Managed Instance]Get recoverableDatabases fail"
When there is a MangedInstance under the Resource Group, i use  [[Managed Instances - Get]](https://docs.microsoft.com/en-us/rest/api/sql/2020-11-01-preview/managed-instances/get) get the MangedInstance , there will return 200 and resource info.
[code]

but if i want to  [GetAll recoverableDatabases of the managedInstances ](https://docs.microsoft.com/en-us/rest/api/sql/2020-11-01-preview/managed-

[2021-11-23 19:04] ajpeacock0 commented on #16755
That's a good point. Having no default was also intentional, since for `id` that doesn't make sense and for `routeType` we have the behavior or returning all if nothing is specified, but we don't indicate this. I'll add to the description for both to explain behavior

[2021-11-24 00:53] chriswue opened #16862 "Stream Analytics API 2020-03-01 is missing Function Output"
In the 2017-04-01-preview API we have support ASA output to Azure Function as per https://docs.microsoft.com/en-us/azure/templates/microsoft.streamanalytics/2017-04-01-preview/streamingjobs/outputs?tabs=bicep

<img src="https://user-images.githubusercontent.com/903928/143151190-2ff633f6-7fed-4977-9e5a-11a2bd3aecca.png" width="500">

However in the 2020-03-01 GA API this is no longer there (https:/

[2021-11-24 01:30] chriswue commented on #16862
Also I just got this:

Uh - why is there a newer GA API that doesn't support a truckload of things which a preview API that is 3 years older does?

[2021-11-24 06:11] rickychew77 commented on #11361
Following up on this issue, is there any update? I am having badparameter issue while creating self-signed cert with Terraform with error message below:

` Error: keyvault.BaseClient#CreateCertificate: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="BadParameter" Message="Property  has invalid value\r\n"`

Not entirely su

[2021-11-24 08:52] ruowan commented on #16830
Hi, @jonpayne  Are you from service team? Do you know the contact person ?

[2021-11-24 10:26] Petersen-E commented on #14034
Hey everyone, are there any updates on this issue?

[2021-11-24 11:16] faschwar opened #16871 "Consumption Price Sheet GET returns 404 with latest API version"
https://github.com/Azure/azure-rest-api-specs/blob/0b1507f211e830195c552b0e1d5ecb689e27a6d6/specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-10-01/consumption.json#L1286

Calling this API with the latest version 2021-10-01 as specified in the documentation on the try out or code / Postman returns a 404 for me:
`
{
    "message": "No HTTP resource was found that matches

[2021-11-24 12:41] rokulka commented on #16807
I'll be looking into it for QuestionAnswering, planning a rollout of the fix by 12/3.

[2021-11-24 16:37] swhite-strath commented on #11656
Any update on this?

[2021-11-25 03:28] ccmixpdevs commented on #16871
Adding @Laxmikant (LA) ***@***.***> and his team to help look at this.

“P is for P-awesome and P-antastic”
-Patrick

From: msftbot[bot] ***@***.***>
Date: Wednesday, November 24, 2021 at 7:15 PM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: CCM IXP Developers ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] Consumption Price Sheet GET returns 404 with latest API vers

[2021-11-25 06:31] justinkhart commented on #13534
Just ran into this issue also but with Bicep. This work around works for me.
[code]

[2021-11-25 15:40] KenBenjamin commented on #13534
Bicep transpiles to ARM so that's expected. I use Bicep and do the same as you suggest.

[2021-11-25 17:24] ccmixpdevs commented on #16871
Thanks @Patrick ***@***.***>.
@Karthik ***@***.***> can you please create tracking sev-3 icm in our queue for this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Patrick Moghames ***@***.***>
Sent: Wednesday, November 24, 2021 7:28:23 PM
To: Azure/azure-rest-api-specs ***@***.***>; Azure/azure-rest-api-specs ***@***.***>; Laxmikant (LA) Agrawal ***@***.***>; LA

[2021-11-25 17:27] karthik commented on #16871
Absolutely not

[2021-11-26 03:22] jianyexi commented on #9598
we've  updated it in https://github.com/Azure/azure-rest-api-specs/blob/main/specification/common-types/resource-management/v3/types.json

[2021-11-26 03:22] #9598 closed

[2021-11-28 10:56] jayendranarumugam commented on #10500
Any update on this?

[2021-11-29 08:39] bittrance commented on #9768
This issue is blocking all consumers of the API spec (e.g. Terraform, Go, Rust) from creating containers that log directly to Azure Monitor/Log Analytics. As far as I can tell, the underlying API implementation does support this and it is just the spec that needs updating. Can we please have an update on this?

[2021-11-29 10:12] aristosvo opened #16897 "GatewayTimeout for `Microsoft.Sql/databases` with `api-version=2014-04-01` / `v5.0`"
When trying to switch Zone Redundancy a SQL database with v5.0 of the Microsoft.Sql API, GatewayTimeouts are showing up:
[code]
It seems the time-out is triggering some action which blocks subsequent requests. GatewayTimeout is usually an indicator of bad error handling server side.

## Linked issues
- Similar to #16838, except that I don't know how to circumvent this one (yet).
- It causes failur

[2021-11-29 16:40] abarshev opened #16898 "Request fails if PostgreSQL instance mode changed from Replica to Default at the same time as password"
Hi Team,

We use terrafrom with azurerm_postgresql_server resource. When we try modifying the resource with changing (1) create_mode Replica to Default and (2) administrator_login_password terraform fails with error

[code]

It is easily reproducible with
[code]

The same error occurs if one only tries to change administratorLoginPassword on Replica server.
So it looks like Azure can't perform the

[2021-11-29 18:17] ccmixpdevs commented on #16871
ICM created.  Incident 275016442<https://portal.microsofticm.com/imp/v3/incidents/details/275016442/home> : Consumption Price Sheet GET returns 404 with latest API version.

Regards,
Karthik.

From: Laxmikant (LA) Agrawal ***@***.***>
Sent: Thursday, November 25, 2021 9:25 AM
To: Patrick Moghames ***@***.***>; Azure/azure-rest-api-specs ***@***.***>; Azure/azure-rest-api-specs ***@***.***>; Karthi

[2021-11-29 21:47] kbharucha commented on #3918
Closing this issue.

[2021-11-29 21:47] #3918 closed

[2021-11-29 22:11] xiangyan99 commented on #1241
@Nking92 could you give us some updates?

[2021-11-30 06:35] zhenglaizhang commented on #16897
@ericshape do you know which team I should contact for this issue?

[2021-11-30 06:44] ericshape commented on #16897
@aristosvo for these online service issues which impact your SLOs, I suggest contacting Azure Support and issuing an IcM ticket. Github API repo is not a better channel to provide supports.

[2021-11-30 06:53] aristosvo commented on #16897
@ericshape I am not looking for support, at least not that I was aware of, these are issues which I faced during tests for the Terraform Provider for Azure.

I don't have a subscription which I can use with (paid) support for the community work I'm doing unfortunately, so if that's the way there is no channel for me to report these.

[2021-11-30 07:01] ericshape commented on #16897
I guess the error message provides hints
{"code":"40802","message":"A service objective assignment on server \u0027acctestsqlserver211129104546431506\u0027 and database \u0027acctestdb211129104546431506\u0027 is already in progress. Please wait until the service objective assignment state for the database is marked as \u0027Completed\u0027.","target":null,"details":[{"code":"40802","message":"A se

[2021-11-30 07:14] aristosvo commented on #16897
@ericshape True, but this is caused by the action which went timeout just before. This timeout is crucial in this behavior, as it still acts on the resource but feedback isn't given.

It's impossible to code against an API which has such behavior, and as such needs a fix.

[2021-11-30 17:42] jonpayne commented on #16830
I'm not from the team that owns this API. @LittleBoxOfSunshine was the last person to update commit changes to this file.

[2021-11-30 18:30] czubair opened #16914 "[Azure Virtual Network Manager] REST API Review"
Question 1- Service Name: Please paste service name in the name field above. Please provide the name that matches the GitHub repo path.
Answer- AzureVirtualNetworkManager
Question 2- Has your service already been deployed?
Answer- Yes
Question 3- Is this a new or existing API?
Answer- New
Question 4- Key contact for the review. Please provide name and email of all attendees (be sure to forward thi

[2021-11-30 18:31] czubair commented on #16914
Review booked for 12/7 at 1pm

[2021-11-30 23:56] abhahn opened #16922 "[Unified Language Service] Text Analytics API Review (2022-02-01-preview)"
Swagger PR for version 2022-02-01-preview:  https://github.com/Azure/azure-rest-api-specs/pull/16921

[2021-12-01 05:52] czubair commented on #16922
Will most likely schedule for 12/14

[2021-12-01 05:54] czubair commented on #16922
@abhahn I was unable to access the swagger PR, can you please create a PR in this spec repo?

[2021-12-01 06:43] ericshape commented on #16897
@aristosvo I have created an internal support ticket to track it.
please send me (ji dot wang A_T_symbol microsoft_dot_com) your email and I can let you in the loop.

[2021-12-01 07:42] HarveyLink opened #16927 "[AppConfiguration] Response resource Id does not start with `/`"
### Already synced with Shuai Wang.

As the example: https://github.com/Azure/azure-rest-api-specs/blob/9f28b00aaee6d4360ac3dee7f9a10279f5d15568/specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2020-06-01/examples/PrivateLinkResourcesListByConfigurationStore.json#L13
The resource Id in response should have `/` at the beginning, this is how the ARM define Resource I

[2021-12-01 17:55] markweitzel commented on #16794
# API Stewardship Meeting 1-Dec-21

The main motivation for adding this field is for discovery of the @failedDocumentStatus endpoint.
* Could we add some better documentation around this pattern in the quickstarts?
  * The examples in the quickstarts don't leverage the SDKs--shows raw code that don't show the pattern we'd like to promote.
* remove the "@" in as the leading character in `@failedDoc

[2021-12-01 18:27] shenmuxiaosen commented on #16927
We are rolling out the fix. It should be done by the end of next week (12/10).

[2021-12-02 06:54] xiaxyi commented on #13365
@jlichwa Thanks for looking into this issue, may I know if the issue is now fixed, if so, may I know the API version?

[2021-12-02 16:34] jaylabell commented on #11313
@sumit-kalra any updates?

[2021-12-03 13:11] Blankf commented on #9768
its been quiet for a long time, any update on this?
its blocking indeed a lot of people of sending logs/history to Log Analitcs.

[2021-12-03 14:48] t3mi opened #16955 "Outdated api versions returned for Microsoft.Resources/resourceGroups"
[REST](https://docs.microsoft.com/en-us/rest/api/resources/providers/get) response doesn't include the latest available api versions for Microsoft.Resources/resourceGroups

current:
[code]
expected:
[code]

[2021-12-03 23:49] tombuildsstuff opened #16962 "Data Lake Store Accounts does not support Identity Type None"
👋

API Version: `2016-11-01`
Endpoint: `/subscriptions/{id}/resourceGroups/{group}/providers/Microsoft.DataLakeStore/accounts/{account}`

This API supports the common Identity block/schema but in a different manner to other Azure Services/API's - where this API only the Type of 'SystemAssigned' to be specified.

Other Azure Services allow specifying a `Type` of `None` which'll ensure no identity i

[2021-12-04 00:21] sjiherzig opened #16964 "Add New Data Plane API Version for Microsoft.DigitalTwins (2021-06-30-preview)"
We would like to add a new data plane API version for Microsoft.DigitalTwins: 2021-06-30-preview. The OpenAPI specification is identical to our current stable API version 2020-10-31 (aside from the version label). However, there is a behavioral change - which only takes effect when a customer opts into the feature. We were advised to introduce a new API version for this purpose.

Specifically: req

[2021-12-06 02:06] #16412 closed

[2021-12-06 20:05] LittleBoxOfSunshine commented on #16830
Thanks for pointing it out @jonpayne , we'll get it fixed

[2021-12-06 21:43] #16914 closed

[2021-12-07 00:21] czubair opened #16982 "[Cognitive Services] REST API Review for Personalizer"
Review scheduled by Sharath Malladi for 12/9 at 4pm PDT

Question 1- Service Name: Please paste service name in the name field above. Please provide the name that matches the GitHub repo path.
Answer- TBD
Question 2- Has your service already been deployed?
Answer- No
Question 3- Is this a new or existing API?
Answer- New
Question 4- Key contact for the review. Please provide name and email of all

[2021-12-07 06:04] suxi-ms opened #16984 "[Cognitive Services - Anomaly Detector] Multidimensional Root Cause Analysis"
• Key contact for the review:  suxi@microsoft.com
• Whether this is a new or existing API:  This is a set of new API
• Whether or not your service already been deployed:   Hasn't been deployed
• A brief description of the material to be reviewed/change:  This new feature from Anomaly Detector service is Multidimensional Root Cause Analysis (MDRCA). It can discover the root causes of problems to id

[2021-12-07 13:53] abarshev commented on #16898
Answered [here](https://docs.microsoft.com/en-us/answers/questions/643509/azure-db-for-postgresql-fails-promoting-replica-to.html?childToView=648972#answer-648972)

[2021-12-07 13:53] #16898 closed

[2021-12-07 16:56] alex-frankel opened #16991 "`Microsoft.DBforMySQL/flexibleServers` version `2021-05-01` documents property `fullyQualifiedDomainName` that does not exist service-side"
Originally reported here:
https://github.com/Azure/bicep/issues/5328

[2021-12-07 18:04] czubair opened #16993 "[Azure Maps] REST API reveiw for Azure Maps Weather - AirQuality, Historical, and Tropical"
Question 1- Service Name: Please paste service name in the name field above. Please provide the name that matches the GitHub repo path.
Answer- weather
Question 2- Has your service already been deployed?
Answer- yes
Question 3- Is this a new or existing API?
Answer- new API
Question 4- Key contact for the review. Please provide name and email of all attendees (be sure to forward this invite).
Answ

[2021-12-08 03:09] HarveyLink commented on #16927
Verify fixed in latset version. Issue closed.

[2021-12-08 03:09] #16927 closed

[2021-12-08 05:33] weidongxu-microsoft commented on #14089
same as 2020-12-01

[2021-12-08 07:09] ArcturusZhang opened #17005 "`null` value should not be returned in response if the swagger does not specify `x-nullable: true` in `web` RP"
This blocks the test cases for DotNet SDK.

According to the extension documentation here: https://github.com/Azure/autorest/tree/main/docs/extensions#x-nullable
`null` value is not allowed in the response if the corresponding swagger is not marked by `x-nullable: true`.

For instance, we see a lot of cases in resource `Microsoft.Web/sites`:
[code]

[2021-12-08 08:52] magodo opened #17006 "QueueServices API has less properties than its data plane alternatives"
The [`CorRule`](https://github.com/Azure/azure-rest-api-specs/blob/e260efc341b22e018718d1c2e85107db5af52802/specification/storage/resource-manager/Microsoft.Storage/stable/2021-06-01/common.json#L23) of the `QueueService` API doesn't contain following properties, which are available in its [data plane API](https://docs.microsoft.com/en-us/rest/api/storageservices/set-queue-service-properties#reque

[2021-12-08 08:59] magodo opened #17007 "The storage table model is missing the `signedIdentites`"
The table resource manager API [model](https://github.com/Azure/azure-rest-api-specs/blob/e260efc341b22e018718d1c2e85107db5af52802/specification/storage/resource-manager/Microsoft.Storage/stable/2021-06-01/table.json#L425) is missing the `signedIdentites` property, comparing to the [data plane alternatives](https://docs.microsoft.com/en-us/rest/api/storageservices/set-table-acl#request-body).

As

[2021-12-08 16:57] alex-frankel opened #17008 "`Microsoft.Devices/provisioningServices` has swagger api for version `2020-09-01-preview`, but it does not exist service-side"
Discovered here:
https://github.com/Azure/bicep/issues/5367

[2021-12-09 03:36] blueww commented on #17007
@priyapansrp , @HimanshuChhabra
Would you please help to look at the SRP API request?

[2021-12-09 08:22] RohitMungi-MSFT opened #17025 "Form recognizer 2.1 service is now GA but documentation lists it as preview"
Form recognizer v2.1 is GA but the documentation for the REST API reference lists the same as preview. As per azure documentation of form recognizer v2.1 is GA. Please refer screen shot below:

Rest API Documentation: https://docs.microsoft.com/en-us/rest/api/formrecognizer/
![image](https://user-images.githubusercontent.com/46958063/145359492-3013181c-9717-47e4-bd57-3b278dc9da37.png)

Azure docs:

[2021-12-09 09:47] myc2h6o commented on #10357
I'd like to share my test result with the [REST API](https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-userestapi-backupazurevms).

Test detail:

[code]

[code]
[code]

`sourceResourceId` in request body of the PUT request:
/subscriptions/85b3dbca-5974-4067-9669-67a141095a76/resourceGroups/yicma-**test-rg**/providers/Microsoft.Compute/virtualMachines/yicma-**test-vm**
`sourceResourceI

[2021-12-09 15:38] garchiro7 opened #17032 "[Communication Services] REST API Review for Roles & Permissions"
Service name: Roles & Permissions

Key contact for the review:  samuel.savin@microsoft.com

The scenarios are:
Contoso’s administrator is creating the CommunicationRole for Contoso application.
Contoso’s administrator is editing a CommunicationRole and changing either it’s display name or assigned permissions
Contoso’s administrator is checking the list of available Role for Contoso applications a

[2021-12-10 00:00] abhahn commented on #16300
Hi @markweitzel , the PR for this API version has been updated according to prior feedback, and also after a long discussion over email regarding the optional `records` property (which has been reverted back to `documents`).  I can share more details about the email thread if necessary, but we have decided to just make all of the mutually exclusive options within the analysisInput object optional

[2021-12-10 00:37] markweitzel commented on #16982
# API Stewardship Review 9-Dec-21

`PUT` `/model`
* Usually we see something like `/models/{modelId}`
* No need to support conditional headers to avoid stomping and optimistic concurrency e.g. `if-none-match`  -- last one in wins is OK.

## Versioning
There is a potential for "round-tripping" problems--where the service evolves in a way that does not support older models. The key is for the servic

[2021-12-10 05:32] sinbai opened #17038 "The id of "userAssignedIdentities" with resource group name in lowercase returned by IotHubResource_Get API"
The id of "userAssignedIdentities" with resource group name in lowercase returned by [IotHubResource_Get API ](https://github.com/Azure/azure-rest-api-specs/blob/52f9379c7709eb53f15b875b7de9b1abfa17f298/specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/iothub.json#L83) :

Repro steps:
1. Create a IotHub resource(the type of identity is "UserAssigned")
 The resource group na

[2021-12-10 08:47] xiaxyi opened #17043 "`Microsoft.DataFactory/Dataset`: enum values removal of compressionType is causing issue to the dependency resources"
PR #16563  deleted some enum values of compressionType and the removal is causing compiling issues of the dependency resource.

[2021-12-10 09:20] willemdj commented on #13341
This is still not working?

I have been spending quite a bit of time to find out what was wrong, finally ending up here. Can you suggest a workaround? I am kind of stuck. The correct values are not accepted by the CLI, and the values that are accepted result in an error.

Kind regards,
Willem

[2021-12-10 17:40] jbvsmo opened #17048 "Subscription schema is missing from latest versions and the only one available is outdated"
I need the `/subscriptions/{subscriptionID}` path output schema for the 2020-01-01 or newer package version

I could only find it here: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/subscription/resource-manager/Microsoft.Subscription/stable/2016-06-01/subscriptions.json#L210-L253

But the 2016-06-01 package is outdated schema, missing the `tenantId` field which as added la

[2021-12-11 00:30] sjiherzig commented on #16964
Since the only change in the new swagger is a different API version, the Azure API Review Board (via Jeff Richter) confirmed that "a review is not necessary".

[2021-12-12 18:18] DavidTrigano commented on #15632
@ruowan you can go ahead and close this ticket

[2021-12-13 02:37] #15632 closed

[2021-12-13 06:21] weidongxu-microsoft opened #17057 "Invalid example in applicationinsights"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2021-03-08/examples/MyWorkbookAdd.json#L18-L21

Resource tag should be dict, not array.

[2021-12-13 06:48] gilkgit commented on #10797
Same here. we have a pipeline that creates the PR on behalf of the author, but since we can't get the CreatedBy field right, we're having issues later on with comments not being shown and approvals.

[2021-12-13 07:11] myc2h6o opened #17058 "Iot Hub Storage Container Routing Encoding Property Description and Enum Is Not Consistent"
Hi, below property seems to have inconsistent description for the possible enum values.
In Enum: "Avro", "AvroDeflate"
In description: 'avro', 'avrodeflate'

https://github.com/Azure/azure-rest-api-specs/blob/c09b26d4aaa40fb37380aae01b7019b75cff3e34/specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/iothub.json#L3137-L3145

[2021-12-13 07:24] sinbai opened #17059 "The id of `customIpPrefix` with customIpPrefix name in uppercase returned by 'Public IP Prefixes - Create Or Update' API"
The id of `customIpPrefix` with customIpPrefix name in uppercase returned by '[Public IP Prefixes - Create Or Update' API](https://github.com/Azure/azure-rest-api-specs/blob/c09b26d4aaa40fb37380aae01b7019b75cff3e34/specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/publicIpPrefix.json#L152) :

Repro steps:

Create a publicIpPrefix resource (specify `customIPPrefix` property

[2021-12-13 15:22] scratch85 commented on #15935
any update here?

[2021-12-14 06:00] dingmeng-xue opened #17073 "Required properties on StaticSites_CreateOrUpdateStaticSite are missing"
According to Swagger, https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2020-12-01/StaticSites.json#L200, only resource name, resource group name, subscription id, and location are mandatory for `StaticSites_CreateOrUpdateStaticSite`. But we found it requires more. The issue comes from https://github.com/Azure/azure-powershell/issues/16

[2021-12-14 07:42] weidongxu-microsoft commented on #16922
Would you let us know which api-version should we compare 2022-02-01-preview to?

[2021-12-14 11:58] anat-gilenson opened #17085 "Broken wiki link for internal contributors"
Wiki link on [this page](https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/ContributingGuidelines.md) seems to be broken.

[2021-12-14 22:58] markweitzel commented on #16993
# API Stewardship Board Review 14-Dec-22

Note: This API is based on [AccuWeather APIs | Tropical API](https://developer.accuweather.com/accuweather-tropical-api/apis)

[2021-12-15 00:04] #16964 closed

[2021-12-15 05:16] hausec opened #17102 "Creating a CustomScriptExtension causes a conflict and errors out"
While creating a CustomScriptExtension via PUT request it gives an error:
[code]
Request looks like the following:
`PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions/CustomScriptExtension?api-version=2021-07-01`

Body:
[code]

[2021-12-15 13:17] suxi-ms opened #17106 "[Anomaly Detector]Root Cause Analysis API"
• Service name:  Anomaly Detector
• Key contact for the review:  suxi@microsoft.com
• Whether this is a new or existing API:  This is a set of new API
• Whether or not your service already been deployed:   Hasn't been deployed
• A brief description of the material to be reviewed/change:  This new feature from Anomaly Detector service is Multidimensional Root Cause Analysis (MDRCA). It can discover

[2021-12-15 15:36] zioalex commented on #9072
Any progress here? This is blocking the https://github.com/hashicorp/terraform-provider-azurerm/issues/3182

[2021-12-15 17:26] markweitzel commented on #16922
# API Stewardship Board Review 15-Dec-21

* Link to [design doc](https://microsoft-my.sharepoint.com/:w:/p/abhahn/EUC5IGNgEn5Covphs3ZUZuoBx2cFnAbbqkgrAuCYThJQ3A)

## Discussion
* The canonical property name for the discriminator is "kind". Allowed to be overridden if a better name exists in the specific context of the service.
* Task is generally a bad name in .NET
* The discriminator pattern is e

[2021-12-15 17:55] #17106 closed

[2021-12-15 17:56] czubair commented on #16984
Please review updated PR: https://github.com/Azure/azure-rest-api-specs/pull/17083

[2021-12-15 19:39] czubair commented on #16914
This is a mgmt plane API so no need for sign off.

[2021-12-16 03:18] czubair commented on #16993
2nd Review - 1/6 at 4pm PST

[2021-12-16 09:18] atombrella opened #17114 "Servicebus subscription not returning `duplicate_detection_history_time_window`"
While working on this https://github.com/hashicorp/terraform-provider-azurerm/pull/14041#issuecomment-995223296 we've noticed that the API is not returning this value. In the Export template under the servicebus subscription, `duplicate_detection_history_time_window` is not listed under `properties` in the JSON template.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/servic

[2021-12-16 13:30] tombuildsstuff commented on #17059
it's worth calling out that the JSON keys aren't the same here too?

[2021-12-16 18:34] markweitzel commented on #17032
# API Stewardship Review 16-Dec-21

* Using `POST` for creation b/c of privacy concerns.
  * Recommendation: use `PUT` & `PATCH`
  * `displayName` could become the check for idempotency? Or... introduce a field like `name` that can be stored by the service that can be used as the key.
  * Idempotency MUST be implemented
  * Use repeatability requests

See: https://github.com/microsoft/api-guidelin

[2021-12-17 01:07] czubair commented on #17106
updated issue here: https://github.com/Azure/azure-rest-api-specs/issues/16984

[2021-12-17 01:08] czubair commented on #16984
2nd review scheduled for 1/13 at 4pm PST

[2021-12-17 02:00] sinbai commented on #17059
Yes, the JSON keys are not the same too. The `customIPPrefix` in request body but the `customIpPrefix` returned by the ['Public IP Prefixes - Create Or Update' API](https://github.com/Azure/azure-rest-api-specs/blob/c09b26d4aaa40fb37380aae01b7019b75cff3e34/specification/network/resource-manager/Microsoft.Network/stable/2021-03-01/publicIpPrefix.json#L152).

[2021-12-17 11:11] syedhassaanahmed opened #17131 "[scheduledqueryrules] Update targeting API Version to 2021-02-01-preview"
The current API version of resource `scheduledqueryrules` used in Azure SDK for Go is [2018-04-16](https://github.com/Azure/azure-sdk-for-go/blob/ba766374b894413a94ee10f8729251369e6047a4/services/preview/monitor/mgmt/2021-07-01-preview/insights/scheduledqueryrules.go#L99). The latest version available in Azure REST API is [2021-02-01-preview](https://docs.microsoft.com/en-us/rest/api/monitor/sched

[2021-12-17 16:15] dnozay opened #17134 "Capacity / Quota APIs are not working as expected in go."
see https://github.com/Azure/azure-sdk-for-go/issues/16678

TLDR:
[code]

`properties` is repeated in the response, breaking unmarshalling.

cc @lirenhe @rahuls-microsoft

Thank you for your help

[2021-12-18 04:02] leezen opened #17137 "Deployment Scripts example no longer valid"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/examples/DeploymentScripts_Create.json

references version 1.7.0 along with a retention interval of PT7D which should be PT168H (or P7D)

[2021-12-18 09:27] jarrodd07 commented on #16003
Hi @nichatur @lilyjma this issue is still not fixed and is blocking Cosmos role assignments from being added to the terraform provider. Could this issue be left open and only closed when it has actually been fixed?

[2021-12-20 09:14] lirenhe commented on #17134
Close this one as we will use https://github.com/Azure/azure-sdk-for-go/issues/16678 to track this issue

[2021-12-20 11:34] tombuildsstuff commented on #2313
@boillodmanuel since the Azure Feedback site has since been closed, can we reopen this issue? cc @jansepke

[2021-12-20 12:29] XavierGeerinck opened #17144 "Container Apps seems to be missing appProtocol"
Hi All,

I would like to create an application that uses gRPC instead of HTTP (as supported by [Dapr](https://dapr.io)). It however seems that `port` and `id` can be passed but `protocol` cannot even though the [dapr docs](https://docs.dapr.io/reference/cli/dapr-run/) state that `--app-protocol` can be passed to switch between `http` or `grpc`

Note: Protocol is crucial as the Python SDK doesn't s

[2021-12-20 16:42] maxbog commented on #2313
@surajmb @MikhailTryakhov do you have any news about this issue? It was planned for 2020, what is the current timeline?

[2021-12-20 18:55] lilyjma commented on #16003
Reopening issue per request.
@nichatur could you take a look when you get a chance?

[2021-12-20 19:09] nichatur commented on #16003
The fix for this is still in our deployment pipeline. It is part of our 1101 payload which is expected to deploy in the first month of next year.
The change was created in September, but deployment delays have led it to not be available in production. Apologies for the delay. Will keep this issue open and close once the fix deploys.

[2021-12-20 19:24] jarrodd07 commented on #16003
Thanks both 👍

[2021-12-21 00:05] alex-frankel opened #17149 "Microsoft.Automation/automationAccounts/configurations incorrectly marking several read/write properties as read-only"
Discovered here: https://github.com/Azure/bicep/issues/5456

[2021-12-22 03:42] lirenhe opened #17160 "Add x-ms-error-response for 404 errors in Compute"
The error code of 404 lack the swagger extension of x-ms-error-response which cause SDK generation problem.
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-01-01/AppServicePlans.json#L140

http://azure.github.io/autorest/extensions/#x-ms-error-response

Please add the extension into the Swagger.

[2021-12-22 06:23] tombuildsstuff commented on #13546
Any update on this one @rastala?

[2021-12-22 07:51] Drewm3 commented on #17160
Correcting this over to the App Service area.

[2021-12-22 08:50] Frey-Wang commented on #17043
Hi @xiaxyi , PR #17036 adds these values back and is currently under review.

[2021-12-22 11:28] tombuildsstuff commented on #8353
@kenieva any update on when this'll be fixed?

[2021-12-22 14:11] mikhailshilkov opened #17163 "CDN: AfdRouteCacheConfiguration.compressionSettings is typed incorrectly"
The [`compressionSettings`](https://github.com/Azure/azure-rest-api-specs/blob/23d896b00311e101dbbd6fea04c9ae9f0006be92/specification/cdn/resource-manager/Microsoft.Cdn/stable/2021-06-01/afdx.json#L5171) property is defined with `items` as if it's some sort of an array:

[code]

Examples clearly show that it should NOT be an array:
- https://github.com/Azure/azure-rest-api-specs/blob/23d896b00311e

[2021-12-22 15:29] JackStromberg commented on #16703
Hi @sirsnork, appreciate the feedback!  We are aware of this experience and hope to improve it as part of our long-term efforts.  Unfortunately, I don't have any dates I can share, but we do agree in the value of providing additional endpoints vs a single PUT call to make changes to the gateway.

Thank you!
#please-close

[2021-12-22 15:29] #16703 closed

[2021-12-22 19:54] jgreat commented on #12873
Could we get an update on this issue please?

[2021-12-23 02:28] lirenhe opened #17168 "Incorrect Regex for resourceGroupName in WebApps"
This would cause incorrect SDK code for the the validation.

The resource group name should follow the pattern defined in https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/createorupdate

https://github.com/Azure/azure-rest-api-specs/blob/270ba8923ce458af2b59cd66b008355676bccd49/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/WebApps.json#L26126

[2021-12-23 03:19] JackTn commented on #15588
@anthony-c-martin  hi ~ is this issue resolved? And can you closed if it meets your expectations， thanks

[2021-12-23 04:06] t-bzhan commented on #17163
Ack, we are working on fixing it in the new version.

[2021-12-23 04:54] JackTn commented on #16479
@metaxasa  hi~ can you close this issue if it resolve your problem?

[2021-12-23 06:10] JackTn commented on #17085
@josefree  have a look on this?

[2021-12-23 10:33] mikhailshilkov commented on #17163
Great! Please consider fixing it in existing API versions as it's a bug - not really a breaking change

[2021-12-24 07:10] dw511214992 opened #17177 "[WebApps] required property is not marked as required"
It comes from https://github.com/Azure/azure-sdk-for-js/issues/11761, The root cause is that [properties](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-02-01/CommonDefinitions.json#L2146) is not marked as required in swagger but it's required in service side.
cc: @walisc

[2021-12-27 00:48] Drewm3 commented on #17102
@amjad, could you have someone look into this issue?

[2021-12-27 21:29] SamuelSA commented on #17032
Updated the PR according to the above comments:
- Fixed the filter 1 nextLink fields
- Added 2-steps delete feature
- Fixed lowercase 'role' folder name
- Fixed typo in 'example' folder name
- Added ETag-based conditional access on APIs

The idempotency topic as the linked subjects are still under discussion so I left those sections untouched.

[2021-12-28 01:52] sinbai opened #17181 "The “folder” type of analytics item API is not supported, but it still exists in the specification."
For the [Type](https://github.com/Azure/azure-rest-api-specs/blob/0cd7b3e83d5e7e21222dcc4bdde4565562da0cdf/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/analyticsItems_API.json#L248) property of [analytics item API](https://github.com/Azure/azure-rest-api-specs/blob/0cd7b3e83d5e7e21222dcc4bdde4565562da0cdf/specification/applicationinsights/resource-manager

[2021-12-29 12:24] 1120161891 opened #17187 "DNS"

[2021-12-29 20:03] anrothMSFT commented on #17025
I've joined a new team and am not up to date on Form Recognizer, so I've forwarded this issue to the FR team!

[2021-12-30 08:44] sinbai opened #17192 "The uppercase VulnerabilityAssessmentName returned by the DatabaseVulnerabilityAssessments_CreateOrUpdate API."
When creating a [DatabaseVulnerabilityAssessments](https://github.com/Azure/azure-rest-api-specs/blob/0fe46ea84880c3232c7a86db0c73f30975b11b0b/specification/sql/resource-manager/Microsoft.Sql/preview/2021-05-01-preview/DatabaseVulnerabilityAssessments.json#L83) resource. The [value](https://github.com/Azure/azure-rest-api-specs/blob/0fe46ea84880c3232c7a86db0c73f30975b11b0b/specification/sql/resour

[2022-01-03 10:42] ksridhar57 commented on #3594
Hi,

I happen to have the same requirement where I would want to list the locations and corresponding availability zones for the VMs. I use the REST endpoint (https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list )as suggested by Daniel in one of the comments. However, I would like to seek your advice in interpreting the output which looks like this -

{'resourceType': 'virtualMachin

[2022-01-03 14:24] anthony-c-martin commented on #15588
Looks good, thanks for fixing @avjerafi!

[2022-01-03 14:24] #15588 closed

[2022-01-03 19:48] JCookit commented on #14534
assigning to sanil as i'm no longer on the team

[2022-01-04 01:54] Frey-Wang commented on #17043
Sync offline, will not change. @xiaxyi @Jingshu923

[2022-01-04 01:54] #17043 closed

[2022-01-04 04:04] Suna-MS commented on #16991
'fullyQualifiedDomainName' exists in server properties in file https://github.com/Azure/azure-rest-api-specs/blob/main/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2021-05-01/mysql.json#L1743
and this property also returned in service side when Get server.

Since there is extension "x-ms-client-flatten": true set in server.properties, Should use mySqlServer.fullyQualifiedDomain

[2022-01-04 13:43] cataggar opened #17215 "duplicate Operations_List in applicationinsights package-2021-11-01"
applicationinsights added package-2021-11-01 in commit c03e6d67c7a67d4a598305ff484e7b40a2f264e7:

https://github.com/Azure/azure-rest-api-specs/blob/322d0edbc46e10b04a56f3279cecaa8fe4d3b69b/specification/applicationinsights/resource-manager/readme.md?plain=1#L225-L248

The problem is explained in the Azure SDK for Go workaround:

https://github.com/Azure/azure-rest-api-specs/blob/322d0edbc46e10b04

[2022-01-04 17:59] fxdgear opened #17218 "Tags fail to fetch using the python SDK"
Please see https://github.com/Azure/azure-sdk-for-python/issues/22180 for reference.

But after multiple trials and errors it was determined that the issue lies with the azure service and not the python client.

I've verified that my resources do have tags. I've verified that:
* I can fetch those tags using the azure cli tool.
* I can fetch those tags in the azure portal.
* I can fetch the tags fr

[2022-01-05 04:57] lirenhe opened #17229 "Microsoft.Resources does not implement operation list in api version 2021-01-01"
https://user-images.githubusercontent.com/41597107/132012745-990bf4c5-ca7c-4394-b86e-8e8dace11f8c.png

It seems although the function is defined in Swagger, https://github.com/Azure/azure-rest-api-specs/blob/7b89a1a3fcb08b6f9f12ee67049b6b8d561ad684/specification/resources/resource-manager/Microsoft.Resources/stable/2021-01-01/resources.json#L37,  it is not implmented in service side.

[2022-01-05 07:54] lirenhe commented on #17229
The same problem also happens in api version of 2021-04-01.
https://github.com/Azure/azure-sdk-for-js/issues/9087

[2022-01-05 08:25] neil-yechenwei opened #17240 "Create Operation Intermittently failed while creating multiple Network Watcher Flow Logs with Network Security Group in parallel"
We are aware of that [Create operation](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/networkWatcher.json#L2040) Intermittently failed and threw below error message while creating multiple Network Watcher Flow Logs with Network Security Group in parallel. We expect all Network Watcher Flow Logs with NSG should be

[2022-01-05 08:51] lirenhe opened #17241 "ServiceBus: The operationId should be Rules_ListBySubscription instead of Rules_ListBySubscriptions"
in https://github.com/Azure/azure-rest-api-specs/blob/30fca88fa23112e4296322f38610e02da522d390/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2021-11-01/Rules.json#L42,  the API will list the rules for a specific subscription, so the operation id should better be 'Rules_ListBySubscription'.

As the change would impact all SDKs, move the original issue https://github.com/Azur

[2022-01-05 11:32] ksridhar57 opened #17242 "ResourceManagementClient::list_by_resource_group returning incorrect results"
Hi,

I'm observing an issue across different APIs - REST, Python SDK and Az CLI where listing the resources in a specified resource group returns incorrect results. Not all resources are being listed. I had reported this issue with the SDK team who have advised me to report the same here as it seems to be pointing to a service issue.

The details of this issue are mentioned in this ticket - https:

[2022-01-05 14:09] cataggar commented on #17215
It was `livetoken_API.json` that introduced the duplicate. Here is a pull request to remove it #17243.

[2022-01-05 19:43] #16300 closed

[2022-01-05 20:39] cataggar commented on #17215
This is just a symptom. The versioning for this service should be reviewed.

[2022-01-05 20:39] #17215 closed

[2022-01-05 21:04] czubair opened #17249 "[Language Service - Authoring, Custom Text, CLU] REST API Review of Concept Naming in Language Service"
•	Key contact for the review: Mohamed Abbas/Kareem Yousef

- Existing API
- The service is deployed, but the proposed changes are still WIP
- We are reviewing the terminology for some of the concepts we have in Language Service (classes, entities, category, etc…). We want to incorporate the feedback we have received and also unify the terminology across the 3 groups of APIs (Authoring, CustomText

[2022-01-05 21:05] czubair commented on #17249
Review scheduled for 1/26 at 9am PST

[2022-01-05 23:12] dnozay commented on #17134
Hello @lirenhe,
we can see a change in the responses since late December, is there any update you can link to this issue?
Thank you

[2022-01-06 03:54] rick20 commented on #13754
Hi @mdurini I have exact same issue and same response, only the ```listKeys``` that responding with resource not found. May I know what you did to fix the issue?

[2022-01-06 05:10] lirenhe commented on #17134
The support team contact me and they are following up with this item. It looks the service team solved this problem, then I will close this item. Let me know if you have further questions. Thanks

[2022-01-06 05:10] #17134 closed

[2022-01-06 12:38] chsamala2 commented on #16714
In both examples , registrationUrl  is read only property,  This property can't be modified hence we can't keep in the "AutomationAccountCreateOrUpdateParameters"

[2022-01-06 14:40] FredrikAugust commented on #2255
Any updates here?

[2022-01-06 16:02] susanev commented on #14936
Happy new year! We were wondering if there is an update on this issue?

[2022-01-06 19:43] amjads1 commented on #17102
@MsGabsta can you please look into this issue?

[2022-01-06 20:24] MsGabsta commented on #17102
@hausec is this a new VM or an existing VM?  Does this VM already have Custom Script Extension installed as only one CSE can be installed on a resource?

[2022-01-06 21:24] hausec commented on #17102
Looks like it's working now. Thanks!

[2022-01-06 21:24] #17102 closed

[2022-01-06 21:49] zhugexubin opened #17272 "[Azure Maps Custom Styling] REST API review for Custom Styling service"
1. Service Name: Azure Maps Styling Service
2. Key contact for the review: Xubin Zhuge / James Jonghan Park
3. The changes contain both existing APIs(Tileset) and new APIs(StyleRecipe, StyleSet)
4. The service is deployed, but the proposed changes are still in progress.
5. What changed in this PR:
   1) We create a new 2022-01-01-preview version API for Tileset, StyleSet and StyleRecipe under Crea

[2022-01-07 00:51] markweitzel commented on #16993
# API Stewardship Board Review 6-Jan-22

`query`
Should the parameter `query` be more specific, e.g. `location`?

## Versioning
If possible, consider using date based versioning as the query parameter.
**Action:** @markweitzel will bring up with the API LT team if, b/c this is query parameter base, we should recommend date based or numeric.

## Handling Errors
See if you can match the recommended

[2022-01-07 02:59] myc2h6o opened #17277 "NotificationHubs Namespace NamespaceType not Returned in Response"
Hi, the `namespaceType` property in notificationhubs namespace seems to be missing starting from some time around 2021/12/06.
https://github.com/Azure/azure-rest-api-specs/blob/577c0349bc704c998a662843446347d315098dab/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2017-04-01/notificationhubs.json#L1679-L1685
The test we ran at 2021/12/03 still had it in the respo

[2022-01-07 19:26] abhahn opened #17282 "[Cognitive Services - Text Analytics - Language API] REST API Review (2022-03-01-preview)"
Draft PR has been created [here](https://github.com/Azure/azure-rest-api-specs/pull/17281).

[2022-01-08 22:18] cataggar opened #17289 "monitor package-2021-09 has two different AzureResource"
The monitor service package-2021-09 has two different definitions of `AzureResource`. It shouldn't included two different definitions in the same package. Both are referenced. I had to exclude this package from the Azure SDK for Rust.  https://github.com/Azure/azure-sdk-for-rust/pull/580

- Microsoft.Insights/stable/2021-09-01/actionGroups_API.json
https://github.com/Azure/azure-rest-api-specs/blo

[2022-01-10 22:49] josh-barker opened #17301 "Feature: publish monitoringConfigurations for Recovery Services"
Hi

Could you please publish the API specs for the latest version of the following endpoint?

https://management.azure.com/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.RecoveryServices/vaults/xxx/monitoringConfigurations/notificationConfiguration?api-version=2017-07-01-preview

It would be helpful if you publish other endpoints under `monitoringConfigurations` too.

These endpoints wil

[2022-01-11 08:57] myc2h6o commented on #17277
Issue reported on Terraform https://github.com/hashicorp/terraform-provider-azurerm/issues/14541

[2022-01-11 12:35] scratch85 commented on #15935
any updates here?

[2022-01-11 20:14] avirishuv commented on #13164
Apologies for the delay, the fix is still in the backlog due to other priorities, will provide an update once it gets picked up.

[2022-01-11 20:21] avirishuv commented on #14459
fix rollout is yet to be completed for this issue.

[2022-01-11 21:47] naveedaz commented on #16087
@vinisoto  Can you please help fix this issue? Apparently, the generated swagger does not have the read-only tag, but the one in the swagger github repo does.

[2022-01-11 21:50] naveedaz commented on #6561
ACK. Tracking item: Task 12979759: Provide x-ms-examples for all the AppService APIs

[2022-01-11 21:59] vinisoto commented on #16087
Hey @naveedaz. Hong's team is now looking at all Arc related items.

@howang-ms can you please assign someone from your team to take a look at this? (it is from September 2021 so probably it is already fixed?)

[2022-01-11 22:09] czubair opened #17312 "[Maps - Styling] REST API Review for Azure Maps Styling Service"
Service Name: Azure Maps Styling Service

Key contact for the review: Xubin Zhuge(@Xubin Zhuge) / James Jonghan Park(@James Jonghan Park)

The changes contain both existing APIs(Tileset) and new APIs(StyleRecipe, StyleSet)

The service is deployed, but the proposed changes are still in progress.

What changed in this PR:
 - We create a new 2022-01-01-preview version API for Tileset, StyleSet and S

[2022-01-11 22:09] czubair commented on #17312
Review scheduled for Tues 1/25 at 1pm PST

[2022-01-11 22:25] nguerrera opened #17313 "Can't specify collectionFormat for OpenAPI 2 or 3"

[2022-01-11 22:25] nguerrera commented on #17313
Oops, wrong repo, sorry.

[2022-01-11 22:25] #17313 closed

[2022-01-12 17:17] #16794 closed

[2022-01-12 17:20] drdamour commented on #14529
it'd be really nice to have someone determine if tags is even a thing on certs

[2022-01-13 00:09] aaronswainonset commented on #9281
Any update on this?

[2022-01-13 04:26] czubair commented on #16993
Review (special session) scheduled for 1/20 at 5pm PST - pending board confirmation

[2022-01-13 08:01] #16368 closed

[2022-01-13 19:25] jaylabell commented on #17242
@Drewm3 can you please take a look at this service issue?

[2022-01-13 21:39] lmazuel opened #17345 "Rename some AnomalyDetector API"
Comments on APIView:
- https://apiview.dev/Assemblies/Review/dc9fff263c5f4c54a06172f1cbe4a879?diffOnly=True&diffRevisionId=9d4c22fd01a54ee89c9943c62a8b551f
- https://apiview.dev/Assemblies/Review/a16dffedf37b4186afb370c573bd076e?diffOnly=True&diffRevisionId=7d1586289dc3429e8d4062a6f25a6bd7
- https://apiview.dev/Assemblies/Review/2ae79204a53448e1a94c8bf0512bbd02/596152e4575b4d07a18c34a8716c5826?dif

[2022-01-13 22:25] dpmcclurg opened #17346 "Azure Synapse Analytics - createManagedPrivateEndpoint feature not idempotent"
As @dubansal mentions in [#15602](https://github.com/Azure/azure-rest-api-specs/pull/15602), creating a managed private endpoint on the default storage account of a Synapse workspace is designed only to be executed when first creating the workspace. Without wrapping this property in conditional logic, any use of this API through, say, Azure Bicep will fail, even if the property remains unchanged i

[2022-01-14 00:28] czubair opened #17350 "[Azure Maps Search] REST API Review for Azure Maps Search"
Service Name: Azure Maps Search
Has your service already been deployed?: no
Is this a new or existing API?: Add new unstructured feature in public-preview API
Key contact for the review: Eva Ou, evaou@microsoft.com
REST API Review PR (Pull Request): https://github.com/Azure/azure-rest-api-specs/pull/17207
Issue: N/A
Description of the material to be reviewed/changed: Add new unstructured feature i

[2022-01-14 01:01] markweitzel commented on #16984
## API Stewardship Review 13-Jan-22

### Discussion / Notes
* `PartitionIdentity` Consider the name--an identity should not be optional, so think of another name.
* Should have better description of the data.
* `PUT` should end in a path parameter, e.g. `instanceId`
  * If there is second `PUT` and the data is the same, this is successful. If the data is not the same, then this should be a `4xx` e

[2022-01-14 05:12] JeffreyRichter commented on #16984
Yes, 409 seems right to me

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mark Weitzel ***@***.***>
Sent: Thursday, January 13, 2022 5:01:49 PM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: Jeffrey Richter ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] [Cognitive Service Anomaly Detector] 2.0-preview Multidimensional Root Cau

[2022-01-14 06:24] ii-varsha-ii opened #17358 "Request to add Management Group in AppliedScopeType enum"
Related to package: reservations/resource-manager/
As of September 21, 2021, Azure has added a new improvement to scope a reservation to a management group level.
Reference: https://azure.microsoft.com/en-us/updates/mgscopereservations/

Using the current models, eg: AppliedScopeType can either be Single or Shared. Can we update the models to add support for ManagementGroup?

Any comments or alter

[2022-01-17 02:48] #16087 closed

[2022-01-17 06:56] Yao725 opened #17373 "[Storage] DeletedAccounts_List response issue"
Swagger definition:
https://github.com/Azure/azure-rest-api-specs/blob/86c901cfca1e57402e367c2678265574d1fed93e/specification/storage/resource-manager/Microsoft.Storage/stable/2021-08-01/storage.json#L365-L369
Actual response:
![image](https://user-images.githubusercontent.com/65993944/149721743-74418b80-ebbb-421d-bad7-9c1da5f002a9.png)
We can see they are not consistent and it might need a fix.

[2022-01-17 07:30] blueww commented on #17373
@HimanshuChhabra , @priyapansrp

Would you please help to look at fix the swagger to make it aligned with server behavior?

[2022-01-17 08:58] lirenhe opened #17376 "Provide a stable API version for Azure Policy"
Currently, the latest tag of Azure Policy contains a preview feature

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/resources/resource-manager/readme.md#tag-package-policy-2021-06
- Microsoft.Authorization/preview/2020-07-01-preview/policyExemptions.json

Some customers need a stable version of the SDK which requires service team to release the stable version of this featur

[2022-01-17 10:04] metaxasa commented on #16479
Hi @JackTn - it'd be good to keep this issue open until the stable version (2020-11-01-stable) is released.

It'd also be good to hear @ericshape's thoughts around my point about regular stable versions being important.

[2022-01-18 10:43] XavierGeerinck commented on #17144
Any update?

[2022-01-18 12:52] weidongxu-microsoft opened #17383 "LRO is not specified correctly on Microsoft.Web/certificates"
Spec does not specify the LRO in "Microsoft.Web/certificates"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/Certificates.json#L154

However the service uses LRO.

Client logging
[code]

[2022-01-18 17:01] tombuildsstuff commented on #8353
ping @kenieva

[2022-01-18 20:11] aristosvo opened #17392 "`Microsoft.Chaos/targets` lacks implementation of `properties` or a discriminator"
Hi there!

I was trying to implement Chaos Targets (and other resources of the Chaos Studio) in `azurerm`, the Terraform Provider for Azure. This implementation would be based on the exposed REST API for Chaos Studio, 2021-09-15-preview. As I as looking into it, I found the specs miss a proper definition of the `properties` of a Target. I was looking into providing a PR myself with an update, but

[2022-01-18 20:45] kenieva commented on #17376
@lirenhe Exemptions are still a preview feature of Azure Policy. At the current moment, we do not have an ETA for the GA of this feature. If any customer is interested in having statements of support for production use, the PM team is happy to have those discussions. Thank you.

[2022-01-18 20:45] #17376 closed

[2022-01-18 20:58] kenieva commented on #8353
Hi @tombuildsstuff, we do not have any updates on this work. It is still in the backlog and will go up for consideration and prioritization for the next semester.

[2022-01-18 21:13] czubair commented on #16982
Review scheduled for 2/2.

[2022-01-18 21:32] debjyoti11 opened #17394 "Review of new dataplane API in Azure Sentinel CICD"
We are planning to introduce two new dataplane APIs in our service. These APIs will be invoked by GItHub and Azure DevOps using their webhook mechanism to update the status of GitHub workflows or Azure DevOps pipeline. We would like to have your feedback on the API design.

@APIStewardshipBoard-ReviewRequested

[2022-01-18 21:38] debjyoti11 commented on #17394
[](url
[Service-Health-Design.docx](https://github.com/Azure/azure-rest-api-specs/files/7892520/Service-Health-Design.docx)
)

[2022-01-18 23:58] kannanMSFT opened #17398 "Filename too long issue"
Forking the repository, and cloning I get the following error:

error: unable to create file specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2021-08-08-preview/examples/AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json: Filename too long
Updating files: 100% (73754/73754), done.
fatal: unable to checkout wo

[2022-01-19 00:39] kannanMSFT commented on #17398
I was able to work around it by reducing my base folder path where I cloned (basically cloned it as a top-level folder). But still worthwhile to try and reduce the file name length of **AlertProcessingRules_Create_or_update_remove_all_action_groups_specific_VM_one-off_maintenance_window.json** to avoid future issues.

[2022-01-19 00:39] #17398 closed

[2022-01-19 06:39] sinbai opened #17404 "Incorrect resource ID description for storage account in HDInsight API"
When I use the [API ](https://github.com/Azure/azure-rest-api-specs/blob/d29e6eb4894005c52e67cb4b5ac3faf031113e7d/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/cluster.json#L42)to create a cluster like the sample of [create cluster with network properties](https://github.com/Azure/azure-rest-api-specs/blob/d29e6eb4894005c52e67cb4b5ac3faf031113e7d/specification/hdin

[2022-01-19 12:42] meglenast opened #17405 "Listing role assignments of a subscription via REST API"
Hello, I want to list the role assignments  for a subscription using the REST API. I'm following the documentation [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-list-rest). However, it seems like I'm not able to achieve the  wanted behaviour. Is to possible to do a API call which is doing the equivalent to
<img width="773" alt="Screenshot 2022-01-19 at 14

[2022-01-19 16:13] #16993 closed

[2022-01-19 23:15] czubair opened #17416 "[Purview - Scanning] REST API review for scanning data plane"
•	Service name: Azure Purview
•	Key Contact:  Naga Yenamandra, Phani Kumar Vadali, Parv Saxena
•	New or Existing API?: Existing
•	Has your service been deployed?: No
•	Description of changes:  APIs to manage credentials, Integration Run times and Vnet.
•

Review Scheduled 2/3 at 4pm PST

[2022-01-20 05:29] sinbai opened #17422 "The lowercase "resourcegroups" is returned by the Labs_Get API for the value of "VaultName" in response body"
When calling [Labs_Get API](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json#L7446), the lowercase "resourcegroups" is returned for the value of  "VaultName" property in response body.

Actual:
` "vaultName": "/subscriptions/xxx/resourcegroups/test-devtestlabs/providers/microsoft.keyvault/vaults/testD

[2022-01-20 08:50] ms-henglu opened #17427 "`Microsoft.AppPlatform/Spring/apps@2020-07-01` - `ROUNDTRIP_INCONSISTENT_PROPERTY`"
I made PUT request according to its example: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/examples/Apps_CreateOrUpdate.json
And found the properties in GET response body is inconsistent with the properties in PUT request body.

Summary
[code]

PUT request:
[code]

GET request:
[code]

[2022-01-20 08:58] ms-henglu opened #17428 "`Microsoft.Automation/automationAccounts@2021-06-22` - `ROUNDTRIP_INCONSISTENT_PROPERTY`"
I made PUT request according to its example: https://github.com/Azure/azure-rest-api-specs/blob/main/specification\automation\resource-manager\Microsoft.Automation\stable\2021-06-22\examples\createOrUpdateAutomationAccount.json
And found the properties in GET response body is inconsistent with the properties in PUT request body.

Summary
[code]

PUT request:
[code]

GET request:
[code]

[2022-01-20 10:49] XavierGeerinck opened #17431 "Container App Deployment Broken - type rename to environmentType is not accepted correctly"
It seems that a recent rename of `type` to `environmentType` broke the deployment of container apps:

https://github.com/Azure/azure-rest-api-specs/blob/bbc623e46174253535ed0393d073741069ce9c31/specification/web/resource-
manager/Microsoft.Web/stable/2021-03-01/KubeEnvironments.json#L519

When running a deployment now, the following error occurs:

[code]

[2022-01-20 17:58] debjyoti11 commented on #17394
I am not able attach the lable @APIStewardshipBoard-ReviewRequested to this issue. Can you please label this issue with @APIStewardshipBoard-ReviewRequested ?

[2022-01-20 18:42] xwang971 commented on #17431
Hi @XavierGeerinck, sorry for the inconvenience. The issue was because the backend changes have not been deployed to all regions which will be done before the end of next week. Could you try with stable/2021-02-01 as workaround for now?

[2022-01-20 18:56] XavierGeerinck commented on #17431
Hi @xwang971 thanks a lot for the fast response, great to see that the fix is being deployed. I have reverted to an old API Spec for now which resolved it.

Just to be sure, so next week we should switch to environmentType then?

[2022-01-20 19:00] xwang971 commented on #17431
Glad to help!

Once the changes are deployed. Either type or environmentType could be used.

[2022-01-20 20:59] amishra-dev commented on #17404
This is a HDInsights swagger question

[2022-01-20 21:08] Drewm3 commented on #17242
Hi @ksridhar57, from the linked issue it sounds like you are expecting to see some resources in a resource group which are not being returned from the rest API when doing a get on the resource group. Is this correct?

In the example from the linked issue you showed a view of the disks attached to a VM and indicated that not all of the disks showed up in the GET on the resource group. One thing tha

[2022-01-20 23:07] bidisha-c opened #17438 "[Cognitive Services - Text Analytics] REST API Review for Language API for TA (2022-04-01-preview)"
•	Key contact for the review: bidishac@, rapopovi@
•	Whether this is a new or existing API: new
•	Whether or not your service already been deployed: not deployed
•	A brief description of the material to be reviewed/changed: API review for the transcription PII redaction and issue resolution detection service.

Design Documents
[Transcription PII Spec](https://microsoft-my.sharepoint.com/:w:/p/bidi

[2022-01-20 23:10] bidisha-c commented on #17438
Placeholder Issue for the Language API Preview..

[2022-01-21 01:39] markweitzel commented on #17350
## API Stewardship Review 20-Jan-22

* The new `query` parameter is mutually exclusive. If it's passed with a structured parameter, then this is an error and a bad response is returned.

## Notes / Discussion
`addressLine` query parameter is going away when the service GAs.
Model this as one entry in the OpenAPI document.

## Actions
- [ ] @evaou -- Provide a _link_ to the slides.

## References
[

[2022-01-21 06:21] neil-yechenwei opened #17443 "API failed to delete subnet after primary mysql flexible server and replica flexible server are created successfully"
I tried to create primary mysql flexible server and replica flexible server and they are created successfully. Then I tried to delete them in order but it failed and threw below error message while deleting subnet. Per the error message, seems the Service Association Link that is created by Service API at backend isn't deleted correctly so that the related subnet also cannot be deleted. Could you

[2022-01-21 06:55] evaou commented on #17350
Here's the link to the slides.
https://microsoftapc-my.sharepoint.com/:p:/g/personal/chihcheng_microsoft_com/EXyu3VdAwt9Jrzn4TExfNaQB3xLPpLYkZhjbXkXJcMlxAA?e=gYUO0P

[2022-01-21 17:19] meglenast commented on #17405
I came to the conclusion that my problem is as it follows. I am using a token which doesn't have `user_impersonation` scope/permissions. And I am struggling with generating a token with such a scope granted.

[2022-01-21 18:29] scott1138 opened #17452 "Virtual machine creation doesn't allow for setting network access policy on the issue disk"
The managed disk api allows for network access policy to be set. Can we do the same for the os disk?

[2022-01-21 19:18] #14683 closed

[2022-01-21 19:18] #14684 closed

[2022-01-21 19:18] #14685 closed

[2022-01-21 19:19] #16755 closed

[2022-01-21 22:59] briglx opened #17457 "API to Update Cost Center on Subscription"
There is no api to update cost center on a subscription for enterprise customers.

[2022-01-23 14:17] kayousef commented on #17249
Discussion document: https://microsoft.sharepoint-df.com/:w:/t/ALPSAzureLanguagePillars/EVqmhklsGFBOvughGvLTsskBn8GUYUqcuec7snt1COMVkA?e=ub0CS4

PR1 [Runtime]: https://github.com/Azure/azure-rest-api-specs/pull/17281
PR2 [Authoring]: https://github.com/Azure/azure-rest-api-specs/pull/17033

[2022-01-24 06:57] pinodeca commented on #9526
Any update on this? How can one create a zone redundant Standard IP (in regions that support it)?

[2022-01-24 09:02] xuzhang3 opened #17468 "Express Route Gateway Connection should not mark with read-only"
Express Route Gateway expressRouteConnections should not mark with read-only, `expressRouteConnections` is part of the request body, this property should not marked with `read-only`
API : https://docs.microsoft.com/en-us/rest/api/expressroute/express-route-gateways/create-or-update#expressroutegateway
Swagger: https://github.com/Azure/azure-rest-api-specs/blob/e729721df20047dcb4fdb675d234b6821f1a4

[2022-01-24 09:12] xuzhang3 commented on #17468
PR: https://github.com/Azure/azure-rest-api-specs/pull/16905

[2022-01-24 09:54] tombuildsstuff commented on #8353
@kenieva thanks for the update - since this is still a bug, can we reopen this issue to ensure it's tracked?

[2022-01-24 16:03] #17350 closed

[2022-01-24 18:42] Drewm3 commented on #17452
@TravisCragg-MSFT, could you please look into this feature request to see if it is something that can be provided in the future?

[2022-01-24 19:54] debjyoti11 commented on #17394
Hi can I get a response ?

[2022-01-24 19:55] kenieva commented on #8353
@tombuildsstuff we do not have a tracking system that we can share publicly. Since this request is accepted and in for consideration in the backlog, we are instructed to keep the item closed.

[2022-01-25 03:06] savjani commented on #17443
Hi @neil-yechenwei - thanks for reporting this issue. It is a bug introduced in our latest release but we are working on deploying the fix soon. Stay tuned for more updates.

[2022-01-25 06:00] savjani commented on #17443
We have fixed the issue. .if you have existing subnet in stuck state, you may have to open a support ticket to take help of our devops operation

[2022-01-25 07:38] magodo opened #17485 "storage table 2020-08-04 ACL operation doesn't support AAD Auth"
Azure has announced that [storage table supports AAD Auth](https://docs.microsoft.com/en-us/azure/storage/tables/authorize-access-azure-active-directory). It does for CRUD on table resource, while it doesn't for the CRUD on the ACL of the table. The portal still uses the shared key authorization for ACL.

[code]

[2022-01-25 17:11] codyja opened #17496 "Managed Instance Premium Series SKUs"
Hi, wanted to bring up something I noticed when creating SQL Managed Instances using the newest Premium SKUs. When I submit the request with the desired SKU name, I get a different SKU back in the response. For example, I can create a MI using `GP_Gen8IH` as the SKU name, but in the response or during GETs I get `MIBC64G8IH` back as the SKU name. For other SKUs, when I create a MI with `BC_Gen5`,

[2022-01-25 21:10] secustor opened #17498 "[CDN/CustomDomain] allow to define customHTTPS parameters during creation"
Currently a separate API endpoint has to be called enable `CustomHTTPS` on custom domains.

This is not ideal as this prevent IaC tooling such ARM templates, Pulumi and Terraform from using this feature.

I suggest to extend the request body of [put](https://docs.microsoft.com/en-us/rest/api/cdn/custom-domains/enable-custom-https) to accommodate this properties:

before:
[code]

after:
[code]

[2022-01-25 22:13] markweitzel commented on #17312
## API Stewardship Review Board 25-Jan-22

## Discussion / Notes

* Conversation around ontology. When will we expect more/others. New ontology values will result in a new API version.
  * Define the ontology values as an extensible enum. This way, when SDKs are generated, they will be generate the proper language types.
  * Is there a customer benefit of deprecating the old ontology?
  * It is a

[2022-01-26 02:10] KeYu-AnkhSpirit commented on #17392
Hi, @mariohdez
Can you create a label for Chaos? Or anyone else who has permission to vreate labels for appropriate teams

[2022-01-26 02:31] fxs130430 opened #17505 "[Language Service - Conversational Language Understanding] REST API Review of new Preview version 2022-03-01-preview"
#17504 <APIStewardshipBoard-ReviewRequested>

[2022-01-26 02:43] fxs130430 commented on #17505
`APIStewardshipBoard-ReviewRequested`

[2022-01-26 05:44] czubair commented on #17505
Review scheduled: February 8, 2022 1:00 PM - 2:00 PM PST

[2022-01-26 05:44] czubair commented on #17505
•	Key contact for the review: @Farhad Shakerin
•	Whether this is a new or existing API: existing API, but new information in the API response
•	Whether or not your service already been deployed: deployed
•	A brief description of the material to be reviewed/changed: We are adding new objects/properties to our Named Entity response including “resolutions” of entities and “extra information” about en

[2022-01-26 08:47] qiaozha opened #17512 "[AppService] containerApps_ListSecrets operation probably miss a resourceGroup in the path"
From the swagger [reference here](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/ContainerApps.json#L258), it doesn't need a resourceGroupName parameter at all, but according to this issue https://github.com/Azure/azure-sdk-for-js/issues/20042 reported from our JS SDK customer, it actually need a resourceGroupName paramete

[2022-01-26 17:48] markweitzel commented on #17249
## API Stewardship Review 26-Jan-22

## Notes / Discussion
* Effort to be consistent with names.
* No change in format.

* There is a model with "LROTask" in the name. We should look at that b/c you should not expose the fact that this is an LRO.

* For consideration...
  * `evaulation-summary` => `evaluation/summary-results`
  * `evaluation/preditions` => `evaluation/results`

##References
[Meeti

[2022-01-26 18:47] ajpeacock0 opened #17514 "[Communication Services - NetworkTraversal] API Stewardship Review"
Key contact: anpea@microsoft.com

[Swagger definition](https://github.com/Azure/azure-rest-api-specs/pull/17502/files)

Scenarios:

- Add a `ttl` optional request parameter to the request a Relay Configuration which determines the time-to-live (TTL) for TURN credentials.

[2022-01-26 23:45] rkapso commented on #17358
We will be updating this as part of the GA work

[2022-01-27 05:59] magodo opened #17525 "Static Site with `Free` sku doesn't support `identity` anymore?"
A `PUT` request against the static site endpoint (at least for 2019-12-01-preview and 2021-02-01) with below payload fails recently:

[code]

With error:

[code]

While if change the sku to `Standard`, or remove the `identity` block, it works. Did the service team remove the support of `identity` from the `Free` SKU?

[2022-01-27 07:07] czubair commented on #17438
Review scheduled for 2/15 at 1pm PST

[2022-01-27 09:18] kaovd commented on #14078
@jstaffin-presidio this is closed with release of 2021-09-01-preview

[2022-01-27 09:23] tombuildsstuff commented on #17525
It's worth noting `Type: "None"` is valid across other Azure API's which support Identity (and means the same as the `identity` block being omitted)

[2022-01-27 09:48] kaovd opened #17528 "SecurityInsights 2021-09-01-preview: Anomaly AlertRuleKind Enum missing"
The AlertRuleKind Enum does not contain Anomaly rules in the API Specification

https://github.com/Azure/azure-rest-api-specs/blob/5578aa6c6c3bbce350fd2963e15e7b92550d7e06/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2021-09-01-preview/AlertRules.json#L594

This is definitely present with the 2021-09-01-preview api specification

e.g.
![image](https://user-ima

[2022-01-27 14:43] archerzz opened #17532 "[Storage] type of query parameter `maxpagesize` should be integer"
## Problem

The following `maxpagesize` query parameters should be defined as integer, not string.

- https://github.com/Azure/azure-rest-api-specs/blob/75b53c0708590483bb2166b9e2751f1bdf5adefa/specification/storage/resource-manager/Microsoft.Storage/stable/2021-08-01/blob.json#L175
-  https://github.com/Azure/azure-rest-api-specs/blob/75b53c0708590483bb2166b9e2751f1bdf5adefa/specification/storage

[2022-01-27 20:39] TravisCragg-MSFT commented on #17452
@scott1138 Why do you want to do this during VM creation? Are you trying to avoid creating the disk first, or do you have a different scenario?

[2022-01-27 22:28] mikeharder opened #17537 "[Search] Typo in AnswerResult.score description"
The following files contain the typo "the the":

https://github.com/Azure/azure-rest-api-specs/blob/88e7838a09868a51de3894114355c75929847a46/specification/search/data-plane/Azure.Search/preview/2020-06-30-Preview/searchindex.json#L1088-L1094

https://github.com/Azure/azure-rest-api-specs/blob/b8d48bca1298614fdf7734c26e21a88adf5375d9/specification/search/data-plane/Azure.Search/preview/2021-04-30-P

[2022-01-27 22:49] cybertyche commented on #17537
Thank you so much @mikeharder for filing this, I will come directly to this code to file anything else I see.

[2022-01-28 07:45] MasterKolka commented on #17192
@ruowan will this be fixed soon? It broke managing Azure SQL VAs via Terraform. Thanks.

[2022-01-28 10:07] blueww commented on #17532
@HimanshuChhabra ,
Would you please help to fix this in swagger?

[2022-01-28 14:34] scott1138 commented on #17452
@traviscragg-msft - Well, it does make the process less complex if you can do it al in one resource, but my scenario is a little different.  I use Terraform, and the latest resource for Virtual Machines doesn't support OS disk attachment.  If the VM ARM API supports the network access policy feature, we can ask the AzureRM provider team to include that feature in the Virtual Machine resources.

Fr

[2022-01-28 17:49] felickz commented on #13600
Similarly - adding tags via terraform 2.9 and only 6 of my 9 tags  are added ... if i goto portal and try to add it shows success but if i refresh the UI -- tags not added!

Length does not appear to be an issue as if make the value for one of my 6  tags shorter and then try to add my 7th it will not add!  Even changing existing tags takes some finessing...

[2022-01-28 18:14] bleroy commented on #17537
@Mohit-Chakraborty I think you only fixed one of the two occurrences in your PR.

[2022-01-28 18:47] Mohit-Chakraborty commented on #17537
I didn't make the change for the older preview (2020-06-30-Preview).

[2022-01-28 21:10] #17537 closed

[2022-01-31 08:17] petrkoutnycz commented on #9947
any updates on this? We'd appreciate this as well. Thank you

[2022-01-31 10:45] kayousef commented on #17249
@moabba to address the action item mentioned

[2022-01-31 18:19] ezYakaEagle442 opened #17563 "Bicep config for AKS addonProfiles"
I have look the in [Bicep doc for AKS](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters?tabs=bicep) but there no details about the addonProfiles configuration in Bicep, it is difficult for a newbie to configutre it correctly, for instance :

[code]

[2022-01-31 20:54] lilyjma commented on #1888
@salameer - can we close this?

[2022-01-31 21:04] salameer commented on #1888
Yuuuup

[2022-01-31 21:04] #1888 closed

[2022-01-31 21:05] salameer commented on #1888
To add context, this is being as an internal item at the moment. @weshaggard  is driving a number of conversations with folks on it

[2022-02-01 05:47] tombuildsstuff commented on #16838
Any update on this one? @azureSQLGitHub?

[2022-02-02 04:19] manicminer commented on #16838
+1 this is preventing removal of an identity from an existing managed instance resource

[2022-02-02 07:51] jrec commented on #11748
any news?

[2022-02-02 08:12] Kmougari opened #17619 "Azure native provider does not allow creating diagnosticSetting with CategoriesGroup to allLogs "categoryGroup": "allLogs","
It looks like there is a problem with ARM API which does not allow to create a diagnosticSetting and setting CategoriesGroup (for example CategoriesGroup=allLogs)

[2022-02-02 09:18] cataggar opened #17621 "subscription Subscriptions_List requires nextLink"
In the `subscription` service, the `Subscriptions_List` operation returns a SubscriptionListResult which says `nextLink` is required. The service is not returning a `nextLink` when there are not enough results for paging. The API version for that operation is `2016-06-01` which is used by these tags:

- package-2021-10
- package-2020-09
- package-2019-10-preview
- package-2019-03-preview
- package

[2022-02-02 12:12] mrsheepuk commented on #11849
This is still wrong in the 2021-05-01 API specification, startDate and endDate are still missing for the UsageDetails_List API operation:

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/consumption/resource-manager/Microsoft.Consumption/stable/2021-05-01/consumption.json#L106-L146

They are present for other operations such as Charges_List:

https://github.com/Azure/azure-re

[2022-02-02 15:40] markweitzel commented on #16982
## API Stewardship Review 2-Feb-2022

@sharathmalladi - There are a few things that I'd like to draw your attention to prior to the meeting.
* If you have not had the opportunity to review the [API Style Guideline](https://aka.ms/azapi/style) then it would be good to do so. You'll find a tool we are experimenting with, Spectral, that will help with some of the basic linting of your OpenAPI doc. Fo

[2022-02-02 16:35] jigold commented on #8693
I'd also like to up vote this item. Unfortunately the link to the forum in the comment above is broken.

[2022-02-02 17:49] haocornell-ms commented on #16982
One thing to consider is to add some metadata to a model so that customers have a way to associate inferences with specific model. This will be very helpful if a customer might try multiple models or there can be concurrent model update and inferences.

[2022-02-02 21:48] allenhumphreys commented on #14557
@ArcturusZhang How do we get the Swagger fixed? Do we open a PR against it?

[2022-02-03 09:32] tombuildsstuff opened #17649 "streamanalytics: API doesn't support Identity Type `None`"
Service: `Stream Analytics`
API Version: `2020-03-01-preview`

Most of the API's which support a Managed Identity support specifying `Type: None` in addition to omitting the `identity` block - however Stream Analytics doesn't an instead returns an error:

Can this be updated to match the other API's which support Managed Identities?

Thanks!

[2022-02-03 09:50] tombuildsstuff opened #17650 "storage: API incorrectly returns an error when User Assigned Identities are specified"
Service: `Storage`
API Version `2021-04-01`

The Storage API supports Managed Identity however returns an error when an empty list of User Assigned Identities is provided when specifying a a System Assigned Identity.

Since a System Assigned Identity doesn't use any of the User Assigned Identities and there are none specified, these should be being ignored - however instead the API returns:

Can t

[2022-02-03 10:43] tombuildsstuff commented on #17452
@scott1138 out of interest what's the use-case/scenario for sharing the OS Disk / setting a Network Access Policy on it? That'd almost certainly enable a number of issues at runtime, so I can't think why this would be set to anything but `None` (and defaulted by the API)?

[2022-02-03 12:45] scott1138 commented on #17452
@tombuildsstuff the network access policy controls the ability to export the disk. The default setting allows the disk to be export anywhere. There is an option for private link as well, but our cybersecurity team wants it set to DenyAll.

[2022-02-03 14:42] ezYakaEagle442 commented on #17563
There is not more details at [https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#managedclusteraddonprofile](https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#managedclusteraddonprofile)

[2022-02-03 17:12] sharathmalladi commented on #16982
This api only allows the customers to export and import the current model which is used for inferencing. We don't support multiple inference models at the same time.

[2022-02-03 18:23] anuragdalmia commented on #17048
We need someone from ARM take a look at this issue. Removed subscription tag.

[2022-02-03 19:45] ezYakaEagle442 opened #17657 "Bicep Key Vault release_policy not documented / not consistent for exportable keys"
I have successfully deployed SSH Key using Bicep.
But I set exportable: true it requires to set release_policy which is not [documented](https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/vaults/keys?tabs=bicep#keyreleasepolicy)

The Azure [REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/keys/create-key/create-key#request-body) show other attributes like recoveryLevel

[2022-02-03 23:09] #16922 closed

[2022-02-04 00:00] markweitzel commented on #17416
## API Stewardship Board Review Meeting 3-Feb-2022

@pvadali-az -- Please review the [Azure REST API Style Guidelines](http://aka.ms/azapi/specs). In those guidelines you find a helpful utility that we've been experimenting with, Spectral. Running this within VS Code will help you identify many of the correctness issues that should be addressed, e.g.
* Schema should have a description or title
* P

[2022-02-04 00:14] lilyjma opened #17664 "❓Survey: Your experience in this repo"
Whether you're a frequent visitor or a relatively new visitor of the repo, please tell us about your experience with our issue support and/or PR contribution process. The survey should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=azure-rest-api-specs

[2022-02-04 15:24] catt231 commented on #17192
agreed this is forcing replacements of resources and creating noise in my pipelines I don't need... would love to see it resolved soon please

[2022-02-04 19:12] sarajang commented on #1975
@alex-frankel is there any update on this issue?

[2022-02-04 20:09] chlsmith opened #17671 "Microsoft.Synapse workspaces/keys needs better info about "name""
The "name" field for Microsoft.Synapse/workspaces/keys is required to be the name of the key being used for the activation.  The documentation only shows that this is a string value, but from the REST API you can kinda tell that it has to be the keyName.

Please update the docs to show that this needs to be the key name and not some random string.  I worked for 3 days before figuring it out.

[2022-02-04 21:44] callppatel commented on #9947
As a workaround, I would suggest following
1) Create Azure function without keyvault reference first, it will create function
2) Once function is created, have the azure cli or any other tool to update function configuration with key vault reference. You need to update WEBSITE_CONTENTAZUREFILECONNECTIONSTRING & AzureWebJobsStorage environment variable.

Just fyi.. I have mentioned [here](https://g

[2022-02-06 22:33] josh-barker commented on #17301
Hi @sameergMS and @dadunl, just following up on this issue.

[2022-02-07 01:48] blueww commented on #17650
@HimanshuChhabra
Would you please help to look at the server error?

[2022-02-07 02:48] magodo commented on #17485
@xgithubtriage

[2022-02-07 02:53] sameergMS commented on #17301
Hi Josh – I have no idea why this is assigned to me. I do not work on anything related to this. ☹

From: Josh Barker ***@***.***>
Sent: Monday, February 7, 2022 4:04 AM
To: Azure/azure-rest-api-specs ***@***.***>
Cc: Sameer Garde ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-rest-api-specs] Feature: publish monitoringConfigurations for Recovery Services (Issue #17301)

Hi @sameergMS

[2022-02-07 03:51] josh-barker commented on #17301
Oh, okay. Thanks for letting me know @sameergMS .

[2022-02-07 03:52] josh-barker commented on #17301
@KeYu-AnkhSpirit, @msftbot Could you help direct this issue to the right team?

[2022-02-07 09:45] tombuildsstuff commented on #12330
Any update @exrsuppgithub?

[2022-02-07 13:19] moabba commented on #17249
@markweitzel Should the path segments use kebab case or camel case (evaluation/summary-result vs evaluation/summaryResult). Currently, our APIs use camel case. Please let me know if we should change this.

[2022-02-07 17:01] olsenme commented on #17563
@satyavel

[2022-02-07 19:59] devoto13 opened #17691 "Microsoft.Compute/virtualMachines identity.type property does not seem to work as expected"
Not sure if this is the right place to report it, but I couldn't find a better one, so please redirect me if you think that there is a better place.

So I have a Bicep template to provision a virtual machine and assign a user-managed identity to it, but not the system-managed identity. According to the [documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachin

[2022-02-07 21:46] bennerv opened #17694 "AzureRedHatOpenShift: Question regarding API Updates to `modelAsString:true` enums"
Service: ARO (Azure Red Hat OpenShift)
API Version:  `2021-09-01-preview`

We are currently adding VM Sizes to an enum defined in our API version. This API field can be seen [here](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/preview/2021-09-01-preview/redhatopenshift.json#L839-L871).

Since we're using `modelAsStr

[2022-02-08 02:56] matt-byrne commented on #11237
This is still blocking https://github.com/hashicorp/terraform-provider-azurerm/issues/9020 which is a pretty important feature.

Any update on this?

[2022-02-08 10:54] tombuildsstuff commented on #9280
any update here @akning-ms?

[2022-02-08 11:03] tombuildsstuff commented on #16962
ping @sumantmehtams

[2022-02-08 19:30] snugghash commented on #2255
Is there a way we can pool money to pay for this feature for a team at Azure to build it out?

[2022-02-08 20:04] zfchen95 commented on #11237
@blueww could you please help involve the right contact in the Storage team? I am not with Microsoft anymore.

[2022-02-08 20:19] markweitzel commented on #17505
## API Stewardship Board Review - 8-Feb-2022

@fxs130430 -- Have you looked over the [Breaking Changes Policy](https://aka.ms/azapi/spec) that is available from the REST Guidelines page?

### Discussion / Notes

### Actions

## References
[Meeting Chat] ()
[Meeting Minutes] ()

### Helpful Documentation
[Azure API REST Documentation](https://aka.ms/azapi/specs)

[2022-02-08 22:46] czubair opened #17717 "[Cognitive Services - Text Analytics] REST API Review for Text Analytics - Healthcare Task"
•	Service name – Text Analytics Language API
•	Key contact for the review – :Thaminda.Edirisooriya@microsoft.com
•	Whether this is a new or existing API - Existing
•	Whether or not your service already been deployed - Yes
•	A brief description of the material to be reviewed/changed – Adding an optional task parameter that results in an additional string coming back in the API response

## Document

[2022-02-09 02:09] blueww commented on #11237
@HimanshuChhabra , @priyapansrp
Would you please help to look at this SRP server issue?

[2022-02-09 10:49] devoto13 commented on #17691
I have discovered today that my organisation has configured the Microsoft Defender for Cloud and it seems to be installing some VM extensions automatically. In particular, [guest configuration extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/guest-configuration) which seems to require the system-assigned identity. I'll investigate more and try to figure out if it may t

[2022-02-09 15:07] moabba commented on #17249
This is a sample for the evaluation summary API. The responses show the evaluation of a project that has two entities ("sampleEntity1" and "sampleEntity2").
[code]
And this is a sample for the predictions (result) API
[code]

[2022-02-09 15:39] paullizer commented on #13534
I appreciate sharing this! I modified your concat suggestion to work with parameters or variables. I needed to use
single quote, backslash, double quote, single quote = '\"' with the parameter, variable, or [reference().attribute] to get it to work.

"value": "[concat('\"',parameter('stringParameter'),'\"')]"
"value": "[concat('\"',variables('stringVar'),'\"')]"

[2022-02-09 22:17] juliango2100 commented on #17394
I am checking to see how we can satisfy this request.

[2022-02-10 00:56] debjyoti11 commented on #17394
@JackTn  can you please help me to label the issue @APIStewardshipBoard-ReviewRequested ?

[2022-02-10 04:54] czubair opened #17747 "[Purview - DataPolicy] REST API Review"
Service name - Purview Data Policies
Key contact for the review - nayenama@microsoft.com, ksvijayv@microsoft.com, raanne@microsoft.com, prmujumd@microsoft.com
Whether this is a new or existing API : New API
Whether or not your service already been deployed: Yes , deployed
A brief description of the material to be reviewed/changed - Data plane API to allow customers to create data polices

[2022-02-10 04:55] czubair commented on #17747
Review scheduled for 3/2 at 9am PST

[2022-02-11 11:00] Carike commented on #16560
Hi @msftbot, @wmengmsft & @MehaKaushik

Do you perhaps have an update or estimated date to resolve issue #16560 ?

It is currently blocking #13907 , which we are dependent on.

Thank you very much in advance!

[2022-02-11 16:48] gsadhana commented on #16560
Any update on when this will get resolved? It's blocking https://github.com/hashicorp/terraform-provider-azurerm/issues/13907, which is pretty important for CosmosDB RBAC access. Thank you.

[2022-02-14 04:36] neil-yechenwei opened #17834 "Netapp.Volume API doesn't identify what we set in previous run for the SnapshotID property"
After tested, I found Netapp Volume can be created successfully with the SnapshotID. Then I tried to only update tags of this resource but it failed and threw below error message. Seems Netapp Volume API doesn't identify what we set in previous run for the SnapshotID property even if I didn't change this property. I assume api should know what we set in previous run for the SnapshotID property to

[2022-02-14 08:45] HarveyLink opened #17839 "Vaule `id` in response of Monitor-DiagnosticSetting-SubscriptionDiagnosticSetting doesn't start with "/""
The response of GET or PUT or other types of operation, SubscriptionDiagnosticSetting's `id` doesn't start with `/`
e.g. :
https://github.com/Azure/azure-rest-api-specs/blob/24b1f9ed9a0768a55b14cced1761a40f7c12b6d2/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/getSubscriptionDiagnosticSetting.json#L11

Normally, ARM Resource's `id` should start with

[2022-02-15 07:48] Drewm3 commented on #13934
This has been deployed. To use latest follow the documentation from [Create or Update VMs:](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines/create-or-update)

`Please do not use field 'version' for gallery image deployment, gallery image should always use 'id' field for deployment, to use 'latest' version of gallery image, just set /subscriptions/{subscriptionId}/resourceGroups/

[2022-02-15 07:48] #13934 closed

[2022-02-15 12:45] sinbai opened #17861 "Format and no validation issues for the ITSMReceivers workspaceId of the Monitor Action Group API"
When I [create a monitor action group](https://github.com/Azure/azure-rest-api-specs/blob/b7ceedcb657cac760383b17627cd2c1f47dd1521/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-09-01/actionGroups_API.json#L42) by setting the value of the [workspace_id](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/monitor/resource-manager/Microsoft.Insights/stable/20

[2022-02-15 16:04] bennerv commented on #17694
@qike-ms, @jwilder, @thomas1206, @seanmck  wondering if you guys have a minute to provide an answer.

cc @weinong @bryanro92

[2022-02-15 22:03] markweitzel commented on #17438
## API Stewardship Board Review Meeting 15-Feb-22

### Discussion / Notes
* Can we find a better name for `conversationItem`
* Could you update the language description to mention it's BCP-47? Question Answering and CLU both state this in their model property descriptions.
* Do we need three ways to sort? (order in index, timestamp, array) ?
  * Is there a way to simplify this?
  * If only one opt

[2022-02-15 22:35] alex-frankel commented on #16991
Thanks - this looks like it is a bicep issue, not a swagger issue. Thanks for following up.

[2022-02-15 22:35] #16991 closed

[2022-02-16 15:44] paulomarquesc commented on #17834
I'm working on this, it is not an issue with the API or SDK, this will be fixed on Terraform ANF module.

[2022-02-16 15:44] #17834 closed

[2022-02-16 17:30] czubair commented on #16984
Next review scheduled for 3/3 at 4pm PST. Updated PR: https://github.com/Azure/azure-rest-api-specs/pull/17083

[2022-02-16 18:19] amjads1 commented on #17691
Looking into the issue.

[2022-02-17 14:32] rowco opened #17891 "Virtual Hub effective routes"
Hi,

Attempting to retrieve the effective routes of a virtual hub, using the rest api. Following the spec from here:

https://docs.microsoft.com/en-us/rest/api/virtualwan/virtual-hubs/get-effective-virtual-hub-routes#effective-routes-for-a-route-table-resource

I always get a return of null.

Interestingly the azure cli command: `az network vhub get-effective-routes` works fine.

[2022-02-17 17:07] rahulm23 commented on #17694
Hello - can someone please approve this PR? It's time sensitive request and impacting customer facing features.

[2022-02-17 17:59] JeffreyRichter commented on #17694
Since you are adding the enum to the swagger (which is also how documentation is produced), the api-version should change to accurately reflect that the swagger has changed. Then, new SDKs should be generated so that the new enum value is exposed in the SDKs.

[2022-02-17 18:19] bennerv commented on #17694
@JeffreyRichter

According to the [Breaking Change Doc](https://microsoft.sharepoint.com/:w:/t/azureresourcemanagerteam/EWXsAQ1yx25KkyYCeeWGUgwBSBxEdUDEbHi6FZ__U8EOQw?e=xEcppo) Allowed values for an enum have changes is considered non-breaking.  Why would we need a new api-version to change if we're just adding a new value (since we're modeling the enum as a string)?

[2022-02-17 18:42] JeffreyRichter commented on #17694
The doc you linked to is not an official doc. Here is the official doc: https://aka.ms/AzBreakingChangesPolicy/ (MS internal)

This particular question is a hard one to answer and we've gone back and forth on how it would work multiple times. This is a problem with enum **values** since they are not a **type** and we frequently wish we didn't even have the concept of an enum at all.

Technically s

[2022-02-17 19:08] JeffreyRichter commented on #17694
I thought of some more things to say...

From an HTTP/REST API perspective, there is no such thing as an enum - they are just strings. To make things better for our documentation and SDK customers, the DevDiv autorest team created the concept of an enum in swagger so that docs/SDK customers were given string value suggestions. This was nice but it didn't consider the versioning implications of thi

[2022-02-17 21:25] #16982 closed

[2022-02-17 21:32] bennerv commented on #17694
@JeffreyRichter
Really appreciate the response.

It's definitely two-sided.  We (Azure resource provider teams) want to deliver features and asks from customers as quickly as possible and a simple ask which results in a full API release with review, automation, generation, az-cli updates, etc. has a lot of overhead (not just from our team), preventing the customer from getting the features they ne

[2022-02-18 00:01] markweitzel commented on #17717
## API Stewardship Board Review Meeting 17-Feb-22

### Discussion / Notes

* There are a number of areas in the open api document that are missing descriptions and/or title. These should be added because they are automatically included in the [generated developer docs](https://review.docs.microsoft.com/en-us/rest/api/documentation-preview/analyze-text/analyze-text?view=azure-rest-preview&branch=re

[2022-02-18 03:05] neil-yechenwei opened #17899 "NotificationHub API cannot set the `registrationTtl` property anymore"
After tested, seems NotificationHub API cannot set the `registrationTtl` property anymore.

PUT https://management.azure.com/subscriptions/xx-xx-xx-xx/resourceGroups/acctestRGpol-test012/providers/Microsoft.NotificationHubs/namespaces/acctestnhn-test012/notificationHubs/acctestnh-test013?api-version=2017-04-01

Request body:
[code]

Response:
[code]

[2022-02-18 03:22] bidisha-c commented on #17438
The review [meeting transcript link](https://microsoft-my.sharepoint.com/:w:/p/bidishac/EWYUEY50J5FEhvli3vz87xsBlvfJgRu2eknjTCVpWPo3Kw?e=wwG8zn) for reference.

[2022-02-18 19:49] farhad commented on #17505
I don't why one of you mentioned me here ( my username is 'farhad' and I'm not Farhad Shakerin). Please be careful next time as I have no interest in receiving unsolicited notifs from github.

[2022-02-22 04:18] neil-yechenwei opened #17932 "Automation.DscConfigurationClient#GetContent API failed to unmarshall while reading"
After tested, we found Automation.DscConfigurationClient#GetContent API failed to unmarshall while retrieving resource.

The api version being used is [2020-01-13-preview](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/automation/resource-manager/Microsoft.Automation/preview/2020-01-13-preview).

Error message:
[code]

[2022-02-22 06:32] zmssp commented on #17427
1. activeDeploymentName:  Backend does not allow to set activeDeploymentName when put app, because there is no deployment. We just ignore this property in current impl.
2. fqdn:  fqdn is a readonly property, we need to add read only to swagger.
3. temporaryDisk: Backend does not allow to set the value. We just ignore the property in current impl.

4. public:  this is bug, we will fix it
5. persist

[2022-02-22 06:35] ms-henglu commented on #17427
@zmssp , Hi, thanks for checking this.

About 1, 2, 3, I think the examples should also be updated, otherwise it's kind of misleading.

[2022-02-22 07:59] amjads1 commented on #17691
@devoto13 Sounds good, I will look forward for your response.

[2022-02-22 13:53] jeromekol commented on #11061
were you able to find a solution for your problem @manicminer?

[2022-02-22 16:53] r0kas opened #17941 "checkZonePeers API is not functional"
"/subscriptions/{subscriptionId}/providers/Microsoft.Resources/checkZonePeers/" API is not functional through REST API.

Nor SDKs nor Azure Docs API helper works with neither API version.

`{"error":{"code":"InvalidResourceType","message":"The resource type could not be found in the namespace 'Microsoft.Resources' for api version '2021-01-01'."}}`

@tjegbejimba and @msyyc added a [commit](https://

[2022-02-22 19:11] geriamir commented on #16560
Hi, any update?

[2022-02-22 20:54] nichatur commented on #16560
The fix has been deployed and is live in Production.

![image](https://user-images.githubusercontent.com/69816349/155217619-f0b34b0a-c4ea-40cd-9318-11b517aaed5c.png)

[2022-02-22 20:54] #16560 closed

[2022-02-23 05:32] weidongxu-microsoft commented on #14089
There was a change/fix made w.r.t PrivateEndpointConnections_List operation and was released as a part of API version 2021-06-01.
(change details : response for "PrivateEndpointConnections_List" was changed from "array" to "object")

[2022-02-23 05:32] #14089 closed

[2022-02-23 05:53] #17427 closed

[2022-02-23 19:23] zhugexubin commented on #17312
As we discussed in the review meeting that whether we would like to introduce big broken changes to modify existing GA API behavior.  The answer is no at this point. We would like to keep existing API behavior which means the new Swagger doc introduced will be consistent with the existing design pattern.

[2022-02-23 23:59] cpear commented on #8075
This problem still seems to exist with ARM templates.

[2022-02-24 22:37] jlichwa commented on #11962
It is not supported option today (it is not under service SLA and can change at any time without notice)

We have feature request here to provide support for it by the service:
https://github.com/Azure/azure-rest-api-specs/issues/11962#issuecomment-827181465

[2022-02-25 21:28] cparisineti opened #18013 "[Communication Services - JobRouter] REST API Review"
- Service name: ACS Job Router
- Key contact for the review: Bo Gao (bga@microsoft.com)
- Whether this is a new or existing API - New API
- Whether or not your service already been deployed - yes
- A brief description of the material to be reviewed/changed - APIs (swagger model) has been reviewed with Jeffrey Richter. This PR includes  swagger definition and examples for JobRouter.

[2022-02-25 21:31] cparisineti commented on #18013
Pull request: https://github.com/Azure/azure-rest-api-specs/pull/17872/

[2022-02-27 10:34] SenorRagequit commented on #9281
Is anyone even working on this module?
This issue has been brought up many times and is still not fixed, just like the bug with the re-deploying of diagnostic settings, as the metrics get set to 0 instead of NULL.

[2022-02-28 04:13] neil-yechenwei opened #18020 "HDInsight Cluster doesn't support Storage Container with Private Link"
Per below error message from API side, seems it indicates that HDInsight Cluster doesn't support Storage Container with Private Link. But per the [azure doc](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-restrict-public-connectivity#add-private-link-connectivity-to-cluster-dependent-resources-optional), this scenario is supported by API. Could you help take a look? Thanks.

Error mess

[2022-02-28 10:15] TomGeske commented on #17563
@ezYakaEagle442: not proper doc but I found this template super helpful:
https://github.com/Azure/AKS-Construction/blob/main/bicep/main.bicep

[2022-02-28 19:01] chicofranchico commented on #9768
Any updates?

[2022-03-01 09:51] eduards-vavere commented on #9947
Waiting on this

[2022-03-01 18:56] #17694 closed

[2022-03-01 23:50] prakdevash commented on #12104
Hello! Any update on  this issue ? This is quite inconvenient and is still seems to be happening
Thanks!

[2022-03-02 02:30] magodo opened #18053 "ContainerGroup model property: `ipAddress.type` doesn't preserve casing"
The [`ipAddress.type`](https://github.com/Azure/azure-rest-api-specs/blob/953c26995780b043102a8941a07e8175ffad4428/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/containerInstance.json#L1475-L1486) property in the `ContainerGroup` model doesn't preserve the casing between the PUT req and the follow-up GET resp. For example, a request with the `ipAddr

[2022-03-02 03:11] #18053 closed

[2022-03-02 09:12] suxi-ms commented on #16984
New PR link：https://github.com/Azure/azure-rest-api-specs/pull/18037

[2022-03-02 14:24] chrisnelson commented on #17277
Any update on a timeline for this fix? Using Terraform results in always updating this resource due to this missing property which always adds 2-3 minutes to our deployments unnecessarily. Much appreciated on any updates. Thanks!

[2022-03-02 17:55] markweitzel commented on #17747
## API Stewardship Board Review Meeting 2-March-22

The context of the service, as well as the

### Discussion / Notes
* Because the `update` is a whole object, consider changing `CreateOrUpdate` to `CreateOrReplace` as `Replace` is more clear and accurate to what the operation does.
* We should talk about cnf and dnf names again. We really dislike those and would prefer oneOf, allOf, etc., names

[2022-03-02 22:46] alexweininger opened #18071 "Microsoft.Web GET geoRegions response only has 3 regions starting in 2020-12-01"
Starting in version `2020-12-01`, [GET Microsoft.Web/geoRegions](https://docs.microsoft.com/en-us/rest/api/appservice/list-geo-regions/list-geo-regions) is returning a greatly reduced list of regions compared to older API versions (`2020-10-01` and older).

Expected:
Response includes 37 regions.
`GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions?ap

[2022-03-03 00:18] rkapso commented on #17358
We have this on our plans for GA

[2022-03-03 05:39] ii-varsha-ii commented on #17358
By GA, you mean? Also, when can we expect the release?

[2022-03-03 20:29] jorgecotillo commented on #1975
Sorry for the long delay. We have a PR in the public spec to address this:

https://github.com/Azure/azure-rest-api-specs/pull/18073

Also, to address the question about error property holding runtime exceptions vs validation vs deployment errors, runtime exceptions are handled under "default":

https://github.com/Azure/azure-rest-api-specs/blob/6b29b8552671eded065f51ee1b291582ab8cc149/specificati

[2022-03-04 00:47] markweitzel commented on #16984
## API Stewardship Board Review Meeting 3-March-2022

### Discussion / Notes
* Make sure that `dataSize` will not exceed -2^53+1 to +2^53-1
* Consider changing the name of the `dataSize` to `count` (or something similar, e.g. `rowCount`)
* Note: It is only possible to upload and delete the data, you cannot download it.

* The filter expression language should more closely align to OData specificat

[2022-03-04 13:26] daniel-rocha opened #18102 "Lintdiff tool crashing on CI - Swagger and Readme the same as in the main branch."
Hello,

I am trying to modify Azure Maps' Render Swagger to add some more info to the documentation. The only change is in swagger file itself.

Even though I only change one character in the Swagger, lintdiff crashes when running in the pipeline, without any error messages. It's blocking merge and release of updated billing information.

PR: https://github.com/Azure/azure-rest-api-specs/pull/1810

[2022-03-04 14:15] daniel-rocha commented on #18102
PR where Render was merged successfully: https://github.com/Azure/azure-rest-api-specs/pull/18016/files

[2022-03-04 16:56] JeffreyRichter commented on #16984
I watched this meeting's recording about the filter discussion. Yes, the filter should be odata-ish (which was not what was shown) but most services would support a severe subset of all the odata functionality.

A few weeks ago, I decided (on a whim) to build a lexer/scanner/evaluator in Go to parse & evaluate filter strings just to see how difficult it would be for a service team to implement fil

[2022-03-04 19:24] jaspkaur28 commented on #17149
@alex-frankel We have triaged & created a bug for this issue - BUG 13736690. We will pick this up as resourcing allows.

[2022-03-04 19:25] jaspkaur28 commented on #17428
@ms-henglu We have triaged and created a bug for this issue :
BUG 13736675 . Automation team will pick this up as resourcing allows.

[2022-03-04 19:51] ChongTang commented on #17505
This is the new PR: https://github.com/Azure/azure-rest-api-specs/pull/18067

[2022-03-04 22:54] jlichwa opened #18106 "Key Vault property enablePurgeProtection does not allow false value"
Service call :

PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}?api-version=2021-10-01

{
  "location": "westus",
  "properties": {
    "tenantId": "{tenantId}",
    "sku": {
      "family": "A",
      "name": "standard"
    },
    "accessPolicies": [
      {

      }
    ],
    "enabledForDeployment

[2022-03-05 07:52] t-bzhan commented on #17163
Swagger fixed.

[2022-03-05 07:52] #17163 closed

[2022-03-07 05:06] josh-barker commented on #17301
Hi @Sharmistha-Rai, I'm trying to find someone to help with this issue. It looks like you've been involved in some issues relating to Recovery Services, so I'm hoping you'd be able to direct this issue to the right people?

Thanks

[2022-03-07 05:14] Sharmistha-Rai commented on #17301
Hi @josh-barker , let me check with our team see what I can find on this. I do work with Site Recovery. Are you using the above API for an operation related to ASR or with Azure Backup?

[2022-03-07 05:39] tombuildsstuff commented on #13839
Any update on this one?

[2022-03-07 08:51] tombuildsstuff commented on #13203
ping @[akning-ms](https://github.com/akning-ms)

[2022-03-07 15:37] stephybun opened #18122 "containerinstance: API doesn't support identity Type `None`"
Service: Container Instance/Container Group
API Version: 2021-03-01

Most of the API's which support a Managed Identity support specifying Type: None in addition to omitting the identity block - however when creating a Container Group with an Os Type of `Windows` which does not support Managed Identities and with identity Type `None` it results in the following error

[code]

Can this be updated t

[2022-03-07 23:03] josh-barker commented on #17301
Hi @Sharmistha-Rai , I'm using the above API to configure notifications on an RSV vault.
In the portal, you can see it on an RSV, under "Backup Alerts", and then "Configure notifications"

[2022-03-08 05:59] archerzz opened #18128 "[network] new API doesn't have `apiVersion` parameter"
## Description

In version `2021-05-01`, a few new APIs are introduced. However, we found some of them do not have `apiVersion` parameter which should be mandatory.

For example, this API doesn't define `apiVersion`: https://github.com/Azure/azure-rest-api-specs/blob/b2f2423182b461f9b556ff68e9db7e93085eda7f/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/firewallPolicy.j

[2022-03-08 21:57] markweitzel commented on #18013
## API Stewardship Board Review Meeting  8-March-22

### Discussion / Notes
* Use `PATCH` or `PUT` for creation. The `id` will be classified as OII data and not classified as customer content. Even if it was classified as customer content, this is still allowed.
* `queueSelectors` and `workerSelectors`
  * Order in the array does not matter
  * These are only primitive values. They are `and'ed` to

[2022-03-09 03:30] ArthurMa1978 opened #18144 "Some naming issues in the Dashboard swagger"
- [ ] The `GrafanaResource` is not a good name for a ARM resource, consider to rename it to another one, like `ManagedGrafana` .
- [ ] All body parameters in a `put` or `patch` operation should be defined as `required` .
- [ ] The naming `workspaceName` is weird here as the description is 'The name of Azure Managed Grafana' .

[2022-03-09 05:07] Sharmistha-Rai commented on #17301
Adding @pvrk from the Azure Backup team here to assist with this query.

[2022-03-09 05:11] Sharmistha-Rai commented on #17301
Adding @adityabalaji-msft to assist with the query.

[2022-03-09 05:35] adityabalaji-msft commented on #17301
Hi @josh-barker - wanted to call out a couple of points:

1. We have started to support a new alerting solution for backup based on Azure Monitor (which is our forward-looking alerting solutions). We recommend to use this new alerting solution, where you can leverage standard Azure Monitor APIs (Actin Rule APIs in particular) to configure notifications for your required scenarios. It is currently

[2022-03-09 06:49] alexs77 commented on #14529
@raych1 - any progress?

[2022-03-10 11:39] giordyb opened #18162 "Billing Subscriptions - List By Billing Account returns empty array"
Calling

`GET https://management.azure.com/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions?api-version=2020-05-01`

(docs at https://docs.microsoft.com/en-us/rest/api/billing/2020-05-01/billing-subscriptions/list-by-billing-account)

should return a list of all of the subscriptions in the billing account.  Since 2022-03-08 it started returning an empty array.

[2022-03-10 11:40] stephybun opened #18163 "operationalinsights: API for datasources and field `EventTypes` does not preserve casing"
Service: Log Analytics
API Version: 2020-08-01

Creating a datasource `WindowsEvent` with the following event type
[code]

Results in this response from a `GET`
[code]

Could the API be updated to preserve the casing?

Thanks!

[2022-03-10 14:15] devoto13 commented on #17691
So the `SystemAssigned` identity keeps re-appearing even when there is no deployment, so I assume it is not a bug of the API, but done by the Microsoft Defender or some other organisation policy. Probably, the policy gets triggered immediately when using the new API version and is delayed when using older API version, hence my assumption that it is a bug in the API version.

[2022-03-10 14:15] #17691 closed

[2022-03-10 16:19] sergiomcalzada commented on #2313
@surajmb @MikhailTryakhov do you have any news about this issue? It was planned for 2020, what is the current timeline?

[2022-03-10 19:28] TravisCragg-MSFT commented on #17452
This seems like an issue with Terraform, creating a VM from an existing disk is a vital scenario.

I am taking this item as a feature request, but this will likely not be implemented in the near future.

[2022-03-10 22:26] avirishuv commented on #13164
@ArcturusZhang the fix for this issue has been rolled out. Please let us know if you have any follow up questions.

If not, could we close the issue?

[2022-03-10 23:14] avirishuv commented on #16586
hi @AndreasMWalter are you still facing this issue?

[2022-03-11 07:39] AndreasMWalter commented on #16586
Ah sorry we opened a Microsoft case and also tried to recreate the issue half a year later, however it could no longer be reproduced. Interestingly according to the Case nothing was changed in the mean time in the API. But I am certain that I could reliably reproduce the issue in October on multiple subscriptions.
So well no one knows and it might reoccur at some point.

[2022-03-11 07:39] #16586 closed

[2022-03-11 18:26] rezmicrosoft commented on #11313
Update: we have fixed the issue in API version 2021-10-01 (and later versions).

[2022-03-11 18:28] #11313 closed

[2022-03-12 22:01] rmgalante commented on #11533
I agree. This api request is useful and required. We have no way to stop a running instance after it's been started. The tools to stop an App Service instance do not work reliably (i.e., scaling down to 1 instance). Meanwhile, it continues to bill hours unnecessarily, requiring support from cost management.

[2022-03-14 09:23] Yao725 opened #18227 "[Network] The id of ssl option and ssl predefined policy doesn't contain the value of resource group"
For the [list available ssl options method](https://github.com/Azure/azure-rest-api-specs/blob/17429b093099ec2d321da3ee0da38ffccd4beaa3/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/applicationGateway.json#L1036), the returned id only has the key of resource group but not the value, which is weird. Why provide a resource group without value? Can the key of resource gro

[2022-03-14 10:37] robk9e commented on #11899
We are still facing this issue in azurerm v2.98.0. Any update on that?

[2022-03-14 19:57] AdamDotNet commented on #18162
Hi @giordyb

Can you confirm a couple of questions please?

1. Does the `{billingAccountName}` still have subscriptions?
2. Does the identity of the caller still have access roles assigned at the Billing Account scope?

[2022-03-14 20:11] giordyb commented on #18162
@AdamDotNet Yes and Yes.

I've been using this specific REST API endpoint for the past few months without any issues, but mind you, with an Enterprise Agreement. Then it suddenly stopped working.

I've contacted support and at first they said that this REST API call is not supported for EAs, and should only work with Microsoft Customer Agreement or Microsoft Partner Agreement (which I wasn't aware

[2022-03-15 04:05] kuojianlu opened #18251 "[Bug][Bot Service] Outlook channel is missing in bot service spec"
As described in [Azure bot service doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-actionable-email?view=azure-bot-service-4.0), users can connect a bot to Outlook channel. Users can indeed configure Outlook channel in Azure Portal (as shown in picture below). But Outlook channel is missing in bot service spec, neither in [the stable version](https://github.com/

[2022-03-15 06:12] magodo opened #18253 "Web: update a static site from `Standard` sku to `Free` sku with `PUT` dones't correctly clean up the identity"
Given that I have a `Standard` sku static site (both `name` and `tier`), which is configured with `SystemAssigned, UserAssigned` identity. Then I send a `PUT` to this same static site with following request payload:

[code]

Note that the identiy block is not specified. The API returns:

[code]

The expected behavior is that the static site is updated to the `Free` sku, and no `identity` is config

[2022-03-15 06:34] ParthaI opened #18256 "Support to check Azure VM creation time"
I would like to see the VM creation time, which is not coming either in CLI, not in the console. We would like to generate a report based on the creation time of VMs. Are we missing something to understand the API or CLI? or it's not supported? Hope this is the right place to raise the request

[2022-03-15 08:09] neil-yechenwei opened #18259 "The WeekOfYear property of MS Sql Database isn't set correctly after provisioned successfully"
After tested, seems the `WeekOfYear` property of [MS Sql Database](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/sql/resource-manager/Microsoft.Sql/preview/2020-11-01-preview/LongTermRetentionPolicies.json#L79) doesn't take effect after provisioned successfully. The API should set it correctly or throw corresponding error. Could you help take a look? Thanks in advance.

Htt

[2022-03-15 15:28] psinhams commented on #18162
Hi @giordyb

As per below public documentation , 2020-05-01, Billing Subscriptions - List By Billing Account does not support EA agreements.

https://docs.microsoft.com/en-us/rest/api/billing/2020-05-01/billing-subscriptions/list-by-billing-account

Azure portal is using the version "2020-12-15-privatepreview". This version is having limited functionality as it is in private preview mode.

[2022-03-15 15:32] giordyb commented on #18162
@psinhams what is the alternative then?

[2022-03-15 23:38] heaths opened #18277 "Clean up Cognitive Language - Language pillar readme.md"
There are currently 3 top-level blocks trying to declare default tags (there can be only one - and it doesn't make sense with separate SDKs anyway), and we could move the title to a global to avoid repeating it.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cognitiveservices/data-plane/Language/readme.md

Currently, though, I don't think we're using this file but want to e

[2022-03-16 10:08] psinhams commented on #18162
Hi @giordyb
Currently there is no documented/GA Api for programmatically accessing EA Subscriptions.
You can try with "2020-12-15-privatepreview", however please note this is in preview mode, so there can be limited functionality and intermittent issues.

[2022-03-16 10:34] ezYakaEagle442 opened #18286 "Azure Spring Cloud buildservices REST API missing"
Hi I have look the in [Bicep doc for Azure Spring Cloud](https://docs.microsoft.com/en-us/azure/templates/microsoft.appplatform/spring/buildservices/builders?tabs=bicep), there are doc for Builders but not for the parent buildService. It is because such [REST API](https://docs.microsoft.com/en-us/rest/api/azurespringcloud/build-service/list-build-services) to create buildservices is missing.

As a

[2022-03-16 10:44] zhoufenqin commented on #18286
@ezYakaEagle442 yes, currently we only support `default` build service resource, it will be created when creating azure spring cloud service.

[2022-03-16 10:51] ezYakaEagle442 commented on #18286
@zhoufenqin thank you for your quick reply but I do not understand, how then to create the buildagentpool, builder, build then with Bicep ?

Could you please paste here a Bicep snippet to implement that ?