[2022-03-16 11:11] zhoufenqin commented on #18286
Hi @ezYakaEagle442 I'm not familiar with Bicep, but I think it looks like
[code]

you can try it.

[2022-03-16 14:21] cataggar commented on #14459
I'm able to reproduce the api-version 2021-11-01. I'll try to break down the problem a bit more.  The operation `VirtualMachines_ListAll` returns a list of `VirtualMachine` definitions.

https://github.com/Azure/azure-rest-api-specs/blob/f635d0ffb31308098993e02cc1ab1a83db6bb585/specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json#L13880-L13897

Each `VirtualMachi

[2022-03-16 17:57] grizzlytheodore commented on #14459
Assigned myself this, as I am taking ownership of this issue

[2022-03-16 18:06] grizzlytheodore commented on #14459
@cataggar  thank you for the comment and attention.

Changing from Resource to SubResourceReadOnly will remove name, type, location, and tags property.
However, a VMExtension object has those properties inherently from the backend.
Utilizing PowerShell cmdlet, if I do:

`PS C:\Users\thchan> Get-AzVMExtension -ResourceGroupName theo_test -VMName vmsdk

ResourceGroupName       : theo_test
VMName

[2022-03-16 18:31] cataggar commented on #14459
I see. That makes sense. Thanks @grizzlytheodore.

[2022-03-16 18:36] ChongTang commented on #17505
@heaths , since we already merged the PR, what should we do to this issue? Should we close it as well?

[2022-03-16 18:40] bexxx opened #18293 "[Cognitive - Custom Speech] REST API Review, new version v3.1-preview.1"
- Service name: Cognitive Services, Custom Speech
- Key contact: Ralf Beckers
- new preview version for existing service
- service is deployed in multiple hero regions

Some existing features have been extended:
- added diarization (speaker separation) to transcription
- added language identification to transcription
- added retrieval of model files
- allow customizing model weights
- added chunke

[2022-03-16 19:04] czubair commented on #18293
PR forthcoming

[2022-03-16 23:22] #17505 closed

[2022-03-17 01:30] ArcturusZhang opened #18302 "Web: Some Delete operation has a schema in their response"
Usually a `Delete` operation does not have a response body, but Web (or `AppService`) RP has some Delete operation with response bodies.
Examples:
- https://github.com/Azure/azure-rest-api-specs/blob/f635d0ffb31308098993e02cc1ab1a83db6bb585/specification/web/resource-manager/Microsoft.Web/stable/2021-03-01/AppServiceEnvironments.json#L1354
- https://github.com/Azure/azure-rest-api-specs/blob/f635d

[2022-03-17 22:14] josh-barker commented on #17301
Hi @adityabalaji-msft ,

Thanks for explaining the plans for monitoring backups.
I'll take a look into Azure Monitor on RSVs.

[2022-03-17 22:14] josh-barker commented on #17301
@Sharmistha-Rai Just wanted to say thank you for helping with redirecting this issue. Really appreciate it!

[2022-03-17 22:14] #17301 closed

[2022-03-18 00:47] garchiro7 opened #18311 "[Communication Services - AUTH] API Stewardship Review"
## Complete Azure API review for GA for CTE flows

**Service name:** ACS Auth

Key contact for this review: Petr Svihlik

**PR Link:** https://github.com/Azure/azure-rest-api-specs/pull/17930

**Champion scenarios** that briefly explain how developers will use your API:

- The main goal of this feature is to allow developers who use ACS (directly or via SDKs) to build and integrate a custom user i

[2022-03-21 09:43] tombuildsstuff commented on #18253
@JackTN this is an issue with the Web API/RP - not a Compute API issue

[2022-03-21 19:47] #18162 closed

[2022-03-22 05:21] neil-yechenwei opened #18334 "Bot Connection API shouldn't update the tags of Bot Channel Registration resource"
After tested, we found [Bot Connection API](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json#L866) would update the tags of [Bot Channel Registration resource](https://github.com/Azure/azure-rest-api-specs/blob/274ce070dd54fa454d91a4b4740904afa6a6e45d/specification/botservice/resource-manager/Mi

[2022-03-22 05:29] neil-yechenwei opened #18335 "The tags of Bot Service Azure Bot cannot be updated"
After tested, we found the tags of [Bot Service Azure Bot](https://github.com/Azure/azure-rest-api-specs/blob/274ce070dd54fa454d91a4b4740904afa6a6e45d/specification/botservice/resource-manager/Microsoft.BotService/stable/2021-03-01/botservice.json#L1245) cannot be updated/changed. I assume it should be updated successfully. So seems it's a bug here.

[2022-03-22 08:51] magodo opened #18339 "ACR token password enum is incorrect"
The [ACR token password enum](https://github.com/Azure/azure-rest-api-specs/blob/69e8e7f15c262df57417fd2b436ac1092b66c588/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2021-08-01-preview/containerregistry.json#L4746) is defined as either `password` or `password2`, however, the API returned below when given `password`:

[code]

So probably the Swagger needs to

[2022-03-22 09:08] tombuildsstuff commented on #13203
ping @akning-ms

[2022-03-22 10:57] stephybun opened #18340 "Microsoft.OperationalInsights/Tables: Add support for creating new tables"
Hello,

I've been working on adding support for Log Analytics Workspace Tables in Terraform with the API version 2021-12-01-preview.

In order to manage this resource in Terraform we need to be able to also create new tables instead. Currently it looks like it is only possible to get, update and delete existing tables.

Sending a PUT or PATCH for a new table with a schema specified in the body res

[2022-03-22 19:57] amjads1 commented on #18256
Looking into the issue.

[2022-03-22 20:51] markweitzel commented on #18293
## API Stewardship Board Review Meeting 22-March-22

### Discussion / Notes
* Consider using the block blob storage API as the model for the `uploadSessions` api.
* Change the upload recommendation to 8mb which is the new high throughput limit
* Add operationId to the links
* Document the default value of the `customModelWeight` to 20.

### Actions
@bexxx -- Add a LINK to your slides here.

## Ref

[2022-03-23 11:34] shana opened #18367 "BotService slack channel field registerBeforeOAuthFlow incorrectly marked read-only, which breaks saving data"
When creating or updating bot service slack channels, the `registerBeforeOAuthFlow` field must be set to true in order for the client id and secrets data to be saved. This field is incorrectly marked read-only in the spec, so generated clients don't include it when creating/updating slack channels, causing the clientId, clientSecret, signingSecret and validationToken fields to be ignored on the se

[2022-03-23 14:07] tombuildsstuff commented on #14128
ping @miaojiang - any update here?

[2022-03-23 15:54] druijter opened #18369 "Get Pipeline Runs by Workspace API not functioning as expected"
Calling the _Get Pipeline Runs by Workspace_ API does not produce the expected results. Calling the API without any filters / sorts in the body produces a paged list of 100 pipeline runs, but as soon as any of the following are passed as body the result set is empty (even though they should surely produce results).

`{
    "lastUpdatedAfter": "2022-03-01T00:00:00.0000000Z"
}`

Or

`{
  "filters":

[2022-03-23 16:18] markweitzel commented on #18311
## API Stewardship Board Review Meeting 23-March-22

### Discussion / Notes
* There was discussion around the updated guidance around `<noun>:<verb>` for actions. We will stay with `/teams/User/:exchangeAccessToken` to remain consistent with the existing APIs that have GA'd.
* `POST` can be used for creates, but should support the repeatability header. [Repeatability Header](https://github.com/mic

[2022-03-24 08:46] kshitizvijay commented on #17747
The Purview team has agreed to all changes

The Azure Purview team has agreed upon all changes except changes to cnfCondition/dnfCondition .
We already have a lot of our RPs using this nomenclature. We would like to keep it as it is.

[2022-03-24 10:11] ParthaI opened #18394 "Unable to get diagnostic-setting details for Azure Key vault resource"
Hi Team, we are using `NewDiagnosticSettingsClientWithBaseURI` client's `List` api of the package `github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2021-07-01-preview/insights` for getting the **diagnostic-settings** details of the key vault but the api does not return any data, though we have added the diagnostic-settings to the resource.

Can you guys please suggest me if I am usi

[2022-03-24 17:22] yang-hai-feng opened #18395 "[IoT Central] REST API Review 1.2-preview"
**Service name**
IoT Central

**Key contact for the review**
[hayang@microsoft.com](mailto:hayang@microsoft.com), [Avneet.Singh@microsoft.com](mailto:Avneet.Singh@microsoft.com)

**Whether this is a new or existing API**
Existing API

**Whether or not your service already been deployed**
No, TBD by end of March

**A brief description of the material to be reviewed/changed**

- Add Device Group Cre

[2022-03-24 18:47] czubair commented on #17747
@kshitizvijay please ping @mikekistler for a re-review/to coordinate final approval.

[2022-03-24 18:47] jaylabell commented on #18256
@avirishuv can you please take a look at this VM issue

[2022-03-25 09:18] #17085 closed

[2022-03-25 14:36] #18311 closed

[2022-03-27 18:15] alecor191 commented on #17431
@xwang971 do you know if the changes were deployed to all regions? I'm asking as I'm running into the same issue (also error message still mentions `...'type' must be 'Managed'`.

[2022-03-28 05:41] #18102 closed

[2022-03-28 06:48] csandanov commented on #15672
Any updates on this issue? I want to list vm sizes but it says the method is deprecated and I should use skus list. Since filtering skus by resource type isn't working I have to fetch 20k+ skus and manually filter by the resource type, the location filter doesn't help much. Also, it would be great to filter out by restrictions, e.g. exclude those that aren't available under the current subscriptio

[2022-03-28 21:15] KenBenjamin opened #18441 "Storage Account deployment fails when isHnsEnabled = false"
Setting `isHnsEnabled: false` throws an error:
`The property 'isHnsEnabled' was specified in the input, but it cannot be updated as it is read-only. For more information, see - https://aka.ms/storageaccountupdate`

When setting `isHnsEnabled: true`, you can successfully redeploy the storage account.

Tested when deploying and redeploying storage accounts via Bicep using 'Microsoft.Storage/storageA

[2022-03-29 02:46] blueww commented on #18441
@KenBenjamin

If you want to enable HNS on an exist account, you need to use hnsonmigration API in:
https://github.com/Azure/azure-rest-api-specs/blob/568e394c3634d052ddec89f685b4afb5ab21aaec/specification/storage/resource-manager/Microsoft.Storage/stable/2021-09-01/storage.json#L780
(First run the API with requestType 'HnsOnValidationRequest', if no error, then with requestType 'HnsOnHydrationReq

[2022-03-29 09:33] KenBenjamin commented on #18441
@blueww I appreciate the information but I'm not trying to alter the existing settings. I simply want to run an ARM template more than once without error. Templates are supposed to be idempotent but this specific property setting breaks that for the Storage Account API. It's a bug.

[2022-03-29 09:53] blueww commented on #18441
As the error is from server, we need include server team to look at this.

@HimanshuChhabra , @priyapansrp
Would you please help to look at the issue? It looks breaking the ARM template since not idempotent.

[2022-03-29 12:23] ParthaI commented on #18394
Hi team, Any update for this issue how ever the [azure rest api supports this](https://docs.microsoft.com/en-us/rest/api/monitor/diagnostic-settings/list#code-try-0) in version `2021-05-01-preview` but the **GO SDK** does not support this, any plan or any  ETA when you people are going to release this version? I am not able to see this version.

<img width="1291" alt="image" src="https://user-imag

[2022-03-29 13:45] jinghzhu-msft commented on #18144
All concerns are solved.

[2022-03-29 13:45] #18144 closed

[2022-03-29 15:09] dmartin-r7 opened #18451 "TrafficManager trafficManagerUserMetricsKeys API sends bad request in stable versions"
https://docs.microsoft.com/en-us/rest/api/trafficmanager/traffic-manager-user-metrics-keys/get#code-try-0

In version 2018-04-01 support was added for the trafficManagerUserMetricsKeys child resource for Traffic Manager.

The two latest stable versions of this API do not work. I have tried via python and the above link.

The only parameter is the subscription ID so I can't see how this doesn't wor

[2022-03-29 17:13] heaths opened #18457 "Breaking change in Key Vault 7.4-preview.1"
The `CertificateInfoObject` has a breaking change from 7.2 (the latest stable at the time of validation) to 7.4-preview.1. The array type changed. For the azure breaking change policy, see https://aka.ms/AzBreakingChangesPolicy (internal).

See https://github.com/Azure/azure-sdk-tools/issues/2995#issuecomment-1082144777 for more information.

/cc @jlichwa @herveyw-msft

[2022-03-30 09:03] wjg659 opened #18472 "Missing options in Swagger that are available in the Portal."
**Is your feature request related to a problem? Please describe.**
I would like to create a Python3 Azure Automation Runbook through Terraform.  Since Terraform uses this API to build its provider I would like to request an enhancement to RunbookProperties so Terraform can accept Python or Python3 as Runbook types.

**Describe the solution you'd like**
I would like the [RunbookProperties runbookTy

[2022-03-30 09:31] bebaele opened #18474 "Consumption Usage Details REST API Missing fields"
We try to collect consumption details via REST API and some field are missing.
The $filter have no impact.

https://docs.microsoft.com/en-us/rest/api/consumption/usage-details/list

Missing fields:
- 	CostCenter
-	InvoiceSectionId
-	PlanName
-	ProductOrderId
-	ProductOrderName
-	PublisherName
-	ReservationId
-	ReservationName
-	ServiceFamily
-	ServiceInfo1
-	ServiceInfo2
-	Term

[2022-03-30 15:44] DavidHomerOxford commented on #12104
This seems to be an issue with the Get-WebApp cmdlet too.

You can get the siteConfig object using the REST API by making a call here
/subscriptions/_subscription identifier_/resourceGroups/_resource group name_/providers/Microsoft.Web/sites/_web site name_/config/web

Full information here if that helps
https://david-homer.blogspot.com/2022/03/get-webapp-and-azure-rest-api-return.html

[2022-03-30 16:44] scgbear commented on #18395
## API Stewardship Board Review Meeting 30-March-22

### Discussion / Notes

#### DeviceGroup

* New fields being added are marked as required == breaking change when added to a create request model. Service is using json patch so the required flag shouldn't be an issue. If changed to a json merge patch, there will be an issue that needs to be worked out.
* Version 1 is using UX, and the UX has th

[2022-03-30 16:52] weshaggard opened #18479 "Cognitive services has invalid readme that causes pipeline failures"
Example see https://github.com/Azure/azure-rest-api-specs/pull/18465 or the jobs at https://dev.azure.com/azure-sdk//internal/_build/results?buildId=1468888&view=logs&j=93811faa-026e-5426-72ec-2dc2b400fa28

[code]

I believe this error is caused by some invalid formatting inside of the readme. While we need to also try and make this error message better and fix the tool (separate issue for that ht

[2022-03-30 18:19] johanste commented on #18479
Also, @mikekistler may be interested in the readme kerfuffle.

[2022-03-30 20:21] heaths commented on #18479
I have a few ideas what it could be I've been calling out in yet-unmerged PRs, but I can figure out what command that task is running and try it on iterations.

[2022-03-30 20:47] grizzlytheodore commented on #14459
PR made to resolve: https://github.com/Azure/azure-rest-api-specs/pull/18487
it will be released with CRP 2022-03-01 version

[2022-03-31 11:27] magodo opened #18501 "Static Web Site: The `provider` in `StaticSite` model is not read only"
Given following static site resource:

[code]

Response:

[code]

If I copy the model above and take it as the request body in another `PUT`, removing the read only properties:

[code]

Request:

[code]

The API returns:

[code]

To fix this, I need to add `"provider": "Github"` in above request. This indicates that either [the `provider` property](https://github.com/Azure/azure-rest-api-specs/blo

[2022-04-01 03:14] neil-yechenwei opened #18511 "The CallingWebHook property of Bot MS Teams Channel should return per the value user passed in"
Bot MS Teams Channel API always returns "https://example.com/" for the CallingWebHook property when this property is set as "https://example.com" or "https://example.com/" in request payload. Per my understanding, if API allows "https://example.com", then API should return the value of this property per the value user passed in. Hence, I assume API should return "https://example.com" when this pro

[2022-04-01 21:54] balassit opened #18520 "[Purview - Insights ] REST API Review"
Service name: Insights
Key contact for the review: balassit
Whether this is a new or existing API: new
Whether or not your service already been deployed: already deployed

New data plane API to review - #18372
[Scope and UX feature view](https://microsoft.sharepoint.com/:p:/t/ProjectBabylon/EeFhh4JB8chEjGWMjjGUK64BLQ59ugXnY2c-F94LyBPy2Q?e=Yhe8do)
[Design](https://microsoft.sharepoint.com/:u:/t/Pro

[2022-04-02 00:56] JackTn commented on #18511
@neil-yechenwei is this issue related to graph service ?

[2022-04-02 05:31] msyyc opened #18525 "[resources] inaccurate description for query parameters `$top`"
https://github.com/Azure/azure-rest-api-specs/blob/b9f7b5be44d003e3c2d7432d57ad24430da1e471/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L2955-L2960

The description shows that it will return limited result if `top` is set. But actually, the call is pageable and service server will return limited result for every page, not that the final result is l

[2022-04-03 02:33] wsmelton commented on #17941
Related MicrosoftDocs/azure-docs#85742

[2022-04-03 03:40] jaspkaur28 commented on #18472
@wjg659 Automation team is getting this issue triaged. Will share an update by end of next week.

[2022-04-04 08:35] tombuildsstuff commented on #18511
@JackTn no this is related to the Bot service, Resource URI: `/subscriptions/%s/resourceGroups/%s/providers/Microsoft.BotService/botServices/%s/channels/%s`

[2022-04-04 10:00] JackTn commented on #18511
thanks very much @tombuildsstuff

[2022-04-04 14:41] GarethOates commented on #9768
Did anyone ever fix this?  It's now 2022.

[2022-04-05 15:28] seanmcc-msft opened #18550 "CI Prettier Check instructions are not clear."
https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/ci-fix.md#prettier-check

What directory should I be in when running?
[code]
I am following the current instructions, failing CI pretty print step, yep pretty print is not fixing my files when I run it.

[2022-04-05 17:11] SaurabhSharma-MSFT commented on #17512
@qiaozha Redirecting to services team to look into it.

[2022-04-05 22:55] #17394 closed

[2022-04-06 09:45] ms-zhenhua opened #18572 "[Logz] monitors DELETE API is broken"
[Swagger Link](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/logz/resource-manager/Microsoft.Logz/stable/2020-10-01/logz.json)

When attempting to delete a **Logz Monitor** instance and its **Sub Account** instance via Azure API, the flow failed as illustrated below.

Firstly delete the **sub account** instance as below:

[code]

which returns a Long Running Request as show

[2022-04-06 16:06] Zaragor opened #18575 "Create Azure ADB2C Tenant broken"
Hi,

When I run the sample body for creating an ADB2C tenant at https://github.com/Azure/azure-rest-api-specs/blob/0466e8633f08fa752525244d1d0fc29fd791d076/specification/cpim/resource-manager/Microsoft.AzureActiveDirectory/stable/2021-04-01/examples/createTenant.json, I get back a 202 pointing me to a long running operation, but that operation fails with a 400 error and the message
`"The domain su

[2022-04-06 17:27] joheredi opened #18577 "[ARM AppConfiguration] Hardcoded subscription id breaks Smoke Tests"
There are a few hardcoded subscription Ids in the examples for AppConfiguration. This is breaking JS smoke tests.
The examples shouldn't hardcode subscription Ids. Maybe we should have a lint rule for this.

/cc: @mikeharder, @weshaggard , @maorleger

[2022-04-06 18:22] jbrezina opened #18579 "Cannot create app service container app"
Using the following request
[code]
with the following body
[code]
it is not possible to change app type as we used to do until few days ago. App type remains as _app,windows_ and it is not possible to see app settings, deployments, etc. as all the options are greyed out.

Is there any new way to create container service app or are what are we doing wrong? It works when creating the app manually vi

[2022-04-06 18:35] marcoboffi commented on #17485
@xgithubtriage

[2022-04-06 19:11] bernao commented on #13839
@Juarezhm - Is there an opportunity during our next Swagger update in May to enumerate the cache "usageModel" listing?

[2022-04-07 01:53] blueww commented on #17485
This is for dataplane.
@seanmcc-msft Would you please help to look?

As I know, all B/T/Q/F rest API to manage ACL , request account shared key credentail. The limitation is not only for table.

[2022-04-07 05:31] #16984 closed

[2022-04-07 07:34] ms-henglu opened #18595 "`Microsoft.AppPlatform/Spring/apps@2022-03-01-preview` - `ROUNDTRIP_INCONSISTENT_PROPERTY`"
I made PUT request according to its example: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2022-03-01-preview/examples/Apps_CreateOrUpdate.json#L57
And found the properties in GET response body is inconsistent with the properties in PUT request body.

Summary
[code]

PUT request:
[code]

GET request:
[code]

[2022-04-07 12:22] stephybun opened #18601 "machinelearningservices: workspace API isn't returning `publicNetworkAccess`"
Service: `Machine Learning Services`
API Version: `2021-07-01`

Hello,

We want to expose the field `publicNetworkAccess` in the Terraform resource for Machine Learning Workspaces. Unfortunately this field isn't returned from the API regardless of whether it is set to `Enabled` or `Disabled` (example PUT and GET down below with IDs redacted). Without this information Terraform won't be able to ref

[2022-04-11 02:59] magodo opened #18631 "Storage Account SAS doesn't support timezone offset suffix"
In the [official document about storage account SAS](https://docs.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), it claims to support TZ suffix:

However, the storage service actually can't recognize the SAS when either `st`/`se` SAS token has that TZ suffix, which results into 403 error.

[2022-04-11 09:43] JackTn commented on #18550
@seanmcc-msft  you can run script by using the root folder of this repo like this "npm run prettier -- --write "https://github.com/Azure/azure-rest-api-specs/specification/<service>/**/*.json"

[2022-04-11 16:24] mrohera opened #18644 "[Azure IoT Device Provisioning Service ] REST API review for (DPS)"
- Service name: Azure IoT Device Provisioning Service (DPS)
- Key contact for the review: @mrohera @khilscher
- Whether this is a new or existing API: New API
- Whether or not your service already been deployed: Already deployed
- A brief description of the material to be reviewed/changed: reviewing general conformity of the Data Plane service API to the Azure API
- This will be a first time revie

[2022-04-11 16:33] gardnerjr commented on #14874
@vutran01 is looking at this, not sure how it never got assigned to us.

[2022-04-12 09:50] crimsonical commented on #18441
Some additional information as I am experiencing the same problem.

The error only occurs when a resource was originally deployed without defining a value for isHnsEnabled, and then redeploying it with isHnsEnabled set to false.

When deploying the resource for the first time with isHnsEnabled set to false, it can be redeployed without issues.

One way to check whether the value for isHnsEnabled w

[2022-04-12 11:02] jackofallops opened #18661 "Container Apps `2022-01-01-preview` and `2022-03-01` managedEnvironmentId is returned with incorrect casing"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/app/resource-manager/Microsoft.App/stable/2022-03-01/ContainerApps.json#L489

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/app/resource-manager/Microsoft.App/preview/2022-01-01-preview/ContainerApps.json#L491

Returns the Container App's Managed Environment ID with the `Microsoft.App/managedEnvironments`

[2022-04-12 14:25] iRubens commented on #8186
Same for me! Both from "Azure.ResourceManager.AppService" and from the portal as mentioned before.
This API would be very useful, but sadly it isn't...

Any news on this?

[2022-04-13 08:53] #18395 closed

[2022-04-13 12:24] neil-yechenwei opened #18674 "Postgresql flexible server db API should return useful/valid error message when collation is unexpected"
After tested, we found Postgresql flexible server db API always returns below useless error message when collation is unexpected. So maybe the API error message has to be refined for troubleshooting. So could you help take a look this issue? Thanks in advance.

Error message:
[code]

[2022-04-13 16:59] markweitzel commented on #18520
## API Stewardship Review 13-APR-22

### Discussion / Notes
* Make all the collections pageable using next link to avoid breaking changes in the future.
* Consider removing the polymorphism and using a single method for each type.
  * /assets/snapshots-<kind>
  * If you do this, you can remove the `kind` field in the body
  * This feels like an RPC like API
  * Check the data structure of `Error`

[2022-04-13 17:54] joheredi opened #18677 "[Purview Catalog] Revisit AnyObject definitions"
Type definitions using AnyObject need to be revisited to make sure that's the correct type.

* **AtlasEntity**.relationshipAttributes
* **AtlasEntity**.sourceDetails
* **AtlasClassification**.sourceDetails
* **AtlasStruct**.attributes
* **AtlasGlossaryTerm**.templateName
* **AtlasGlossaryTerm**.attributes
* **AtlasObjectId**.uniqueAttributes
* **SearchRequest**.filter
* **SearchFacetItem**.sort
*

[2022-04-14 14:51] cenipe commented on #9795
Hello @niklarin I've been following this up for several months now, is there any updates?
Thanks!

[2022-04-14 19:57] markweitzel opened #18689 "[Confidential Ledger] REST API Review"
Put the following info in the issue description:
Service name
Key contact for the review
Whether this is a new or existing API
Whether or not your service already been deployed
A brief description of the material to be reviewed/changed
Tag the issue with these labels:  APIStewardshipBoard-ReviewRequested and API Review Scoping.
Attach or link any supporting documentation, e.g. design documents to

[2022-04-14 20:18] andrekiba commented on #17431
any update on this? thank you

[2022-04-14 21:17] deer-prudence commented on #18689
Service name: Confidential Ledger
Key contact for the review: Emily Louden
Whether this is a new or existing API: existing API
Whether or not your service already been deployed: Confidential Ledger is in private preview
A brief description of the material to be reviewed/changed: adding the get subledger ids endpoint

[2022-04-14 21:17] deer-prudence commented on #18689
PR: https://github.com/Azure/azure-rest-api-specs/pull/18628

[2022-04-15 10:17] nguyenanhducs commented on #13534
The provided workaround does not work for me. I have to modify a little bit
[code]

[2022-04-18 07:32] magodo commented on #13203
@tombuildsstuff I just locally tested again, it appears the `etag` is now (at least for 2021-09-01-preview) optional.

[2022-04-18 22:00] markweitzel commented on #17416
## API Stewardship Board Review 18-APR-22

There are a number of issues with the API that should be addressed. However, Mike, Johan, and I had a quick call with @pvadali-az - We approved this PR based on the following:
* the set of changes for this preview was reduced to focus on the credential API
* there is a full review of Purview **BEFORE ANY API GOES GA**

@pvadali-az will start the broader c

[2022-04-18 23:56] jlichwa commented on #17422
@JackTn  This API does not belongs to Key Vault.

[2022-04-19 05:21] apurvdhadankar opened #18725 "Azure Role assignment API to list role owners"
Hi,
Can anybody please help me to list the Azure Owner roles? I have tried adding filters to API but I didn't find a way to filter out only owner roles using role assignment list API.
API reference - https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-list-rest.

Although there is CLI to list the owner roles. I tried to debug it how Azure is filtering out owner roles.

[2022-04-19 05:40] myc2h6o opened #18726 "Cannot Use CMK with User Assigned Identity for Cognitive Service Face API"
Hi, I'm testing the [customer-managed key](https://docs.microsoft.com/azure/cognitive-services/face/encrypt-data-at-rest#enable-customer-managed-keys-for-your-resource) of Cognitive Service Face API, it works fine if I use System-assigned managed identity, but not with User-assigned managed identity. I also tested the [Cognitive Service Speech Service](https://docs.microsoft.com/azure/cognitive-se

[2022-04-19 07:47] neil-yechenwei opened #18732 "The createOrUpdate operation of Key Vault Managed Hardware Security Module should fail when this resource is soft deleted"
After tested, I found the createOrUpdate operation of Key Vault Managed Hardware Security Module would always succeed even if this resource is soft deleted. Per my understanding, this operation should fail and throw error like below this when this resource is soft deleted. So could you help take a look this issue? Thanks.

The example of the error:
{
    "error": {
        "code": "ConflictError",

[2022-04-19 08:03] victorsalesa opened #18733 "Cost Management] [API Management] Azure Cost Management Package just throws first 1000 lines and not managing the paging from the cost management rest api"
As per described in https://github.com/Azure/azure-sdk-for-python/issues/23175 it seems that the query endpoint https://docs.microsoft.com/es-es/rest/api/cost-management/query/usage in the cost management api spec is not described as pageable in the swagger definition https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cost-management/resource-manager/Microsoft.CostManagement/sta

[2022-04-19 19:13] #17416 closed

[2022-04-20 05:52] piyushdubey opened #18744 "[Synapse - SyMS] REST API Review"
Service name: **SyMS**
Key contact for review: **piyushdubey (piyushdubey@microsoft.com)**
Whether this is a new or existing API: **New**
Whether or not your service is already been deployed: **Already deployed**
A bried description of the material to be reviewed/changed: **Pull Request - [118742](https://github.com/Azure/azure-rest-api-specs/pull/18742)**

[2022-04-20 06:50] kshitizvijay commented on #17747
renaming of cnf and dnf is not being agreed by the Purview team.
The rest of the requested changes have been accepted.

[2022-04-20 16:04] balassit commented on #18520
- renaming type to tagType to keep consistency with other APIs

[2022-04-20 16:45] markweitzel commented on #18689
## API Stewardship Board Review  20-APR-2022

Looked at `app/subLedgerIds` -- This is new
* Add a `nextLink` to declare this is pageable.
* consider returning a structure that includes the subLedgerId, instead of just strings. this will make this more flexible in the future.
* Might consider changing the name to something that reflects the concept of the object.
*

Please review the [OpenAPI Style

[2022-04-20 17:00] wjg659 commented on #18472
I do not mean to pester you, but it has been weeks since any action has been taken.  I notice it has been well over a year since the last commit to the automation section repo.  Am I missing something?   There is no Python runbook support and now I see there is no Powershell 7 support. Has Microsoft abandoned support for automation accounts?

[2022-04-21 08:01] myc2h6o opened #18767 "`compute` `Capacity Reservation Group` Delete Fails With no Reservations"
Hi, I'm using [On-demand Capacity Reservation](https://docs.microsoft.com/azure/virtual-machines/capacity-reservation-overview) feature and have found an issue with Delete: When I tries deleting the Capacity Reservation Group shortly after (in fewer than 5 seconds) I delete all the reservations in it, it throws an error of still having nested resource in it.

Below is what I tested using `Invoke-W

[2022-04-21 08:02] myc2h6o commented on #18767
It looks similar to #18572 and #8137

[2022-04-21 21:38] glorialimicrosoft opened #18777 "[ACS - Cross Platform Messaging] REST API Review"
Responsible:
geling.li@microsoft.com

Team:
[ACS - Cross Platform Messaging](https://teams.microsoft.com/l/team/19%3aC4PXiFDHhaAs0C4_c7P2icdZU1xT4fcrAWfHDoOmyIM1%40thread.tacv2/conversations?groupId=951af3ba-82a0-4bbb-8209-c81586550ead&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47)

Whether this is a new or existing API
Existing API

Whether or not your service already been deployed
https://github

[2022-04-21 23:56] scgbear commented on #18744
## API Stewardship Board Review: 21-APR-22
[Link to PR](https://github.com/Azure/azure-rest-api-specs/pull/18742)

### Notes / Discussion

* ExecuteChange POST:
    * Constants being capitalized, values are case sensitive. Values coming from Spark naming conventions. Request is to make the values pascal case for the enum values.
    * Operation are action operation. Request to change to match the

[2022-04-22 02:14] magodo commented on #18501
Png @AzureAppServiceCLI, @antcp, @JackTn

[2022-04-22 02:18] magodo commented on #17525
Ping @AzureAppServiceCLI, @antcp, @JackTn

[2022-04-22 08:09] ankitmounty2008 opened #18782 "Python SDK for a MS REST API"
There is no Python SDK available for the below REST API -

[https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings/{virtualNetworkPeeringName}?syncRemoteAddressSpace=true&api-version=2021-05-01]

Detailed doc-
[https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virt

[2022-04-22 14:11] HaroldH76 commented on #17277
We had the same issue and solved it by excluding the namespace_type from updates:

[code]

[2022-04-22 14:23] mikekistler opened #18785 "Minor issues with DeviceUpdate resource-manger accounts_update operation"
There are a couple minor issues with the DeviceUpdate "Accounts_Update" operation that should be corrected before this API becomes stable.

- The request body of this operation defines [a "location" property,](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/deviceupdate/resource-manager/Microsoft.DeviceUpdate/preview/2020-03-01-preview/deviceupdate.json#L1488) but the ARM RPC

[2022-04-22 22:13] jfair9 commented on #9947
Any updates on this?

@callppatel we are using a similar work around as the one that you posted i.e. using the az cli to create kv reference app_settings after deployment. Have you ran into any issues where the kv secret gets updates, receives a new ID, but then the app_setting doesnt get update because its being set via az CLI and doesnt track if it needs to be updated?

[2022-04-22 23:03] cataggar commented on #17621
Fixed by #17674.

[2022-04-23 02:03] sjiherzig opened #18792 "[DigitalTwins] REST API Review"
**Service name:** Azure Digital Twins

**Key contact for the review:** Sebastian Herzig-Patel (@sjiherzig)

**Whether this is a new or existing API:** new API version, but no changes to existing APIs

**Whether or not your service already been deployed:** no

**A brief description of the material to be reviewed/changed:**
This API version derives from 2021-06-30-preview and the swagger has no chan

[2022-04-24 12:24] dosegal commented on #13203
@magodo as far as I'm aware, `etag` is now optional for updating in all available API versions (and it's true that this wasn't the case when the issue was opened).

[2022-04-24 15:34] jaspkaur28 commented on #18472
@wjg659 The Rest API spec would be updated to support the PS7 and Py3 by Q3 CY22. This is being tracked as part of the GA plan for this language stack. The Azure Automation Product group is working on some of the major architecture enhancements to support new language stack\versions for PowerShell and Python as soon as they are made available, due to which the GA plan for PS7 and Py3 has been dela

[2022-04-25 01:44] magodo commented on #13203
Closing this issue per @dosegal's reply.

[2022-04-25 01:44] #13203 closed

[2022-04-26 02:27] magodo opened #18815 "Storage data lake gen2 path API: set access control returns AuthorizationPermissionMismatch"
The storage data lake gen2 path data plane API used to set access control via `PATCH` systematically fails with error code `AuthorizationPermissionMismatch`.

Given I have a data lake gen2 path with existing acl defined, then I submit a `PATCH` request with the updated acl by adding a new acl as `user:<principal id>:r-x`:

[code]

The API returns:

[code]

However, if I later do a `getAccessContro

[2022-04-26 09:32] fuyong2022 commented on #11962
Any update on this? Thanks.

[2022-04-26 21:30] ruslany commented on #18661
This was fixed in the RP and the correct casing is used now.

[2022-04-26 21:30] #18661 closed

[2022-04-28 01:26] magodo commented on #9281
Ping @akning-ms, can we priotirize this issue as it is keeping impacting users, for a long while.

[2022-04-28 01:59] myc2h6o commented on #4901
For Terraform, LRS is now being supported with [storage_mode_type](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/recovery_services_vault#storage_mode_type) which was introduced in v2.91.0 by https://github.com/hashicorp/terraform-provider-azurerm/pull/14659.

But I think there is still one question remaining, according to [API Definition](https://github.com/Azure/

[2022-04-28 02:58] magodo opened #18844 "Storage Account: `PUT` doesn't failed as expected when setting a misconfigured subnet to `.networkAcls.virtualNetworkRules`"
The creation (`PUT`) of storage account doesn't failed as expected when setting a subnet that didn't have service endpoint configured, to the `.networkAcls.virtualNetworkRules` property. The response is of status code 200, but the response body is as below:

[code]

The request identifier is as below:

- x-ms-request-id:                0bb562f4-c582-48dd-9e79-d8fd6a6663f0
- x-ms-correlation-reques

[2022-04-28 03:39] sinbai opened #18845 "[Azure Kusto] : Parallel Create Kusto database script error"
When creating multiple Kusto database scripts programmatically in parallel by [Create Kusto Script API](https://docs.microsoft.com/en-us/rest/api/azurerekusto/scripts/create-or-update), and calling[ azure-asyncoperation API](https://docs.microsoft.com/en-us/rest/api/azurerekusto/operations-results/get) to get provisioningState, the following error occurs.

Repro Steps:
1. Create a Kusto database s

[2022-04-28 12:57] azureluo commented on #14284
Hello,

This bug has been opened for one year, not fixed yet?
A customer actually ran into this bug.
Is there a plan to get it fixed?

[2022-04-28 14:14] tombuildsstuff commented on #10037
@JeffreyRichter not sure if you've got thoughts on this one? Whilst I can understand it maybe challenging to revert this configuration value on the services side - it seems like something which should be supported if it's the default value?

[2022-04-28 17:42] #18689 closed

[2022-04-28 19:30] TravisCragg-MSFT commented on #17452
Closing this issue, please let me know if any other info is needed.

[2022-04-28 19:30] #17452 closed

[2022-04-28 19:47] avirishuv commented on #18256
@ParthaI, the ARM resources such as VMs do not provide a creation time property.

Closing this for now, please feel free to reopen if you have any follow up questions.

[2022-04-28 19:47] #18256 closed

[2022-04-28 19:54] avirishuv commented on #13164
Closing the issue, please feel free to reopen if you have any other questions on this topic.

[2022-04-28 19:54] #13164 closed

[2022-04-28 23:22] #17514 closed

[2022-04-28 23:25] #16011 closed

[2022-04-29 01:28] RDukes425 opened #18857 "API Version 2021-04-01 is not support in AzureCloud or AzureUSGovernment"
I received a customer support ticket for API version 2021-04-01 not being support in either AzureCloud or AzureUSGovernment for the ResourceManagementClient module of the SDK,
An example of the Error being received is:
- Azure Cloud
![error_pub](https://user-images.githubusercontent.com/66752282/165872145-921c0207-ede1-40b3-a362-76a9385e7930.PNG)

azure.core.exceptions.HttpResponseError: (NoRegist

[2022-04-29 12:32] pho-enix opened #18865 "PUT for Security Center Sub Assessments"
I want to push custom security assessments to Security Center/ MDC.

For the regular assessment type this is supported and works pretty cool:
https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/create-or-update

However the data structure of sub assessments is much more flexible (allows easy grouping, Severity can be different for each entity, much richer options to store details)

[2022-04-29 17:49] mortengjesing commented on #2313
URL changed to https://feedback.azure.com/d365community/idea/82fd4a6c-8426-ec11-b6e6-000d3a4f0789

[2022-04-29 17:53] mortengjesing commented on #2313
URL changed to https://feedback.azure.com/d365community/idea/2b3ca1f1-8326-ec11-b6e6-000d3a4f0789

[2022-04-29 23:53] garchiro7 opened #18871 "[Communication - Phone Number Service] REST API Review"
Service name:
ACS - Phone Number Service

Key contact for the review:
adrian.tang@microsoft.com

Whether this is a new or existing API:
Existing API

PR
https://github.com/Azure/azure-rest-api-specs/pull/18869

Previous REST.
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/communication/data-plane/PhoneNumbers/stable/2021-03-07/phonenumbers.json

[Hero scenarios](https://skyp

[2022-05-02 15:56] vamshisiram commented on #3037
The document needs to be updated for the ignore_changes block, as it needs to reflect lifecycle changes the new way of doing it.

https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/redis_cache

if you add what is mentioned in the article above it fails...

![image](https://user-images.githubusercontent.com/90816346/166265980-4674ea95-c319-481b-b65e-57ddf92c1725.png)

R

[2022-05-02 16:46] #17747 closed

[2022-05-02 16:47] #17438 closed

[2022-05-02 16:49] #17282 closed

[2022-05-03 06:42] jackofallops opened #18888 "AuthV2 / EasyAuth - ignores `identityProviders` settings in API request"
API Version: `web/2021-02-01` (via azure-sdk-for-go `v63.1.0`)

Hi 👋

When sending an AuthV2 configuration via `UpdateAuthSettingsV2` the `identityProviders` block is silently ignored (despite a `200 OK`) and the response is returned empty for that block, resulting in the Site being enabled for `v2` but no provider's being configured.  The same payload via the portal / ARM request works. However,

[2022-05-03 09:32] stephybun opened #18889 "machinelearningservices: compute cluster doesn't recreate with updated `vmSize`"
Service: Machine Learning Services
API Version: 2021-07-01

Hello,

We have a case where we would like to update the `vmSize` of an existing compute cluster, this is currently done by deleting the existing compute cluster, and then creating it again with the same name but with a different `vmSize`. Even though the API accepts the request and acknowledges the new `vmSize`, the cluster is created wi

[2022-05-03 14:26] marcoldp commented on #9463
Hi, is there any follow-up on this?

[2022-05-03 15:35] deeikele commented on #18601
Acknowledged and investigating

[2022-05-03 17:38] deeikele commented on #18889
Is there a time out between deleting the previous cluster, and creating the new one with the same name? Delete is an asynch operation, which may be conflicting with the immediate PUT request.

[2022-05-03 21:26] czubair opened #18893 "[Digital Twins] REST API Review"
Contact: Sebastian Herzig-Patel <Sebastian.HerzigPatel@microsoft.com>/ seherzig@microsoft.com

Request for an async review

Material to be reviewed or changed: The API changes are trivial – change to a property in both management and data plane API.
The change is associated with a new feature (ADT Data History).

Note on Swagger PR:  there is a model validation failure that seems to stem from the

[2022-05-03 21:27] czubair commented on #18893
dup issue: see https://github.com/Azure/azure-rest-api-specs/issues/18792

[2022-05-03 21:27] #18893 closed

[2022-05-03 21:28] czubair commented on #18792
Request for an async review

Note on Swagger PR: there is a model validation failure that seems to stem from the fact that we use an “object” type as the return type. We have done this in the past, since the response depends on a customer-defined model and / or the query being posed. Please advise what the best strategy forward here is.

[2022-05-04 02:11] #18595 closed

[2022-05-04 02:11] ms-henglu commented on #18595
Confirmed that it has been fixed.

[2022-05-04 03:38] czubair commented on #18792
@weidongxu-microsoft  could you make an initial pass on this PR.

[2022-05-04 07:21] tombuildsstuff commented on #17452
@TravisCragg-MSFT where's this feature request being tracked publicly?

[2022-05-04 08:23] stephybun commented on #18889
The delete operation in the Go SDK returns a future that allows us to poll whether the operation is complete, initially it looked like it was returning `Success` on the delete operation too early, but I see now that the delete operation allows a `Detach` mode which is what we have been doing, instead it should be a `Delete`.  So false alarm, apologies!

[2022-05-04 08:23] #18889 closed

[2022-05-05 02:52] weidongxu-microsoft commented on #18792
@czubair
I've done a quick check. There is no API change since last stable version of 2020-10-31.

@sjiherzig
Would you let us know why this new api-version got no change from 2020-10-31?
2020-10-31 https://github.com/Azure/azure-rest-api-specs/blob/main/specification/digitaltwins/data-plane/Microsoft.DigitalTwins/stable/2020-10-31/digitaltwins.json
2022-05-31 https://github.com/Azure/azure-rest-a

[2022-05-05 03:03] weidongxu-microsoft commented on #18520
Pending task, explanation on following feedback
- Consider removing the polymorphism and using a single method for each type.
- The use of `orderby` locks you into a SQL store b/c it's very difficult/hard to compute in other kinds of data stores

[2022-05-05 03:30] balassit commented on #18520
For both of these, we are ok with it as is

[2022-05-05 07:27] myc2h6o opened #18921 "RecoveryServices Deleting Backup VM not Removing it From the Collection"
Hi team,
Opening this issue to discuss the `delete` API of the backup protected item (e.g. Azure IaaS VM) of a backup vault in recovery service. Currently, `delete` API is not removing the entry. Instead, it changes the property value of `protectionState` to `ProtectionStopped`.
In Terraform, a resource is usually considered as deleted when the `get` api returns `404 NotFound` result, however for

[2022-05-05 10:21] tadelesh opened #18924 "Default tag of “Microsoft.Authorization” not working"
There is a customer issue [here](https://docs.microsoft.com/en-us/answers/questions/828469/index.html) reported by @ssivas. It seems the default tag of “Microsoft.Authorization” has some features not onboard. As our SDK is auto-generated according to it, we need service team to help to resolve it.

[2022-05-05 17:15] avirishuv commented on #18767
hi @oriwolman or @TravisCragg-MSFT would you please take a look at this issue?

[2022-05-05 23:21] TravisCragg-MSFT commented on #18767
@myc2h6o Does the deletion succeed after several minutes has passed, or does it continue to fail?

[2022-05-06 01:43] myc2h6o commented on #18767
Hi @TravisCragg-MSFT the deletion will succeed after a few seconds.

[2022-05-06 04:08] RakeshMohanMSFT commented on #18924
@darshanhs90 @AshishGargMicrosoft Need your help here.

[2022-05-06 06:52] magodo opened #18934 "ACR: creating a deleted replication always fail"
## The problem

I have a Azure container registry replication with `zoneRedundancy` enabled. The API told that it doesn't support to update (`PUT`) the `zoneRedundancy` at this point. So instead I delete it and create it again.

Following is the API sequence:

*Delete*

[code]

returns 202.

*Poll Delete LRO*

[code]

returns 200.

*Create*

[code]

[code]

returns 201.

*Poll Create LRO*

[code]

[2022-05-06 13:14] skykaiz opened #18938 "Error installing Microsoft.Azure.ActiveDirectory.AADLoginForWindows extension on a VM via policy"
Hello,

while trying to install the 'AADLoginForWindows' extension through Biceps or portal, everything is working fine with the configuration:

![image](https://user-images.githubusercontent.com/93191545/167137679-0b4dc347-e5c4-4cbb-b68a-60d86e7e3b71.png)

But trying the same using a DeployIfNotExist-Policy the following error is being returned:
![image](https://user-images.githubusercontent.com/

[2022-05-06 14:04] skykaiz commented on #18938
The error was due to wrong typeHandlerVersion. It has to be 1 instead of 0.4

[2022-05-07 06:30] kuojianlu commented on #18251
Closed as it is supported in bicep v0.6.1.

[2022-05-07 06:30] #18251 closed

[2022-05-07 06:54] kuojianlu opened #18951 "[BotService] unexpected channelName warning"
bicep version: v0.6.1.

[code]
![image](https://user-images.githubusercontent.com/37978464/167242148-abc9dfa9-24c9-4e87-b36a-584d999bf4f5.png)

[2022-05-09 07:11] magodo opened #18965 "Azure Container Instance: Incorrect type of `ContainerHttpGet.httpHeaders`"
The type of [`ContainerHttpGet.httpHeaders`](https://github.com/Azure/azure-rest-api-specs/blob/228f16c8871629ffe1fcdebfca9a3e8b4d2ce4aa/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2021-03-01/containerInstance.json#L1146) should be an array of object, rather than a single object.

[2022-05-09 11:37] stephanboersma commented on #11656
Hi,

Unfortunately, this is still an issue. According to the [List Subscriptions endpoint documentation](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list), the sample response includes tag while the original response does not.

**Sample response from documentation**
[code]

Any update regarding this issue? :-)

[2022-05-09 17:58] czubair opened #18979 "[IoT- Device Provisioning] REST API Review"
o	Service name: Device Provisioning Service
o	Key contact for the review: @Mahesh Rohera, @Kevin Hilscher
o	Whether this is a new or existing API: New API
o	Whether or not your service already been deployed: Already deployed
o	A brief description of the material to be reviewed/changed

The Azure Device Provisioning Service is responsible for onboarding customer IoT devices to Azure such that they

[2022-05-09 19:52] sjiherzig commented on #18792
Hi Weidong,

The API changes are primarily behavioral in nature and the API review guide requested us to introduce a new API version for these.

Specifically, responses (which largely depend on customer-defined schemas) can now include extra metadata. For instance:

2020-10-31:
[code]

2022-05-31:
[code]

The new API version intrdocues the additional metadata property "sourceTime" (highlighted abo

[2022-05-09 23:48] yang-hai-feng opened #18988 "[IoT Central] REST API Review (2022-05-31)"
Service name
IoT Central

Key contact for the review
[hayang@microsoft.com](mailto:hayang@microsoft.com), [Avneet.Singh@microsoft.com](mailto:Avneet.Singh@microsoft.com)

Whether this is a new or existing API
Existing API

Whether or not your service already been deployed
No, TBD by end of May

A brief description of the material to be reviewed/changed (added from 1.0, same as 1.2-preview)

1. Dev

[2022-05-10 00:40] weidongxu-microsoft commented on #18792
@sjiherzig

Got it. The request and response of digitalTwin is both type=object. Hence I didn't see any change in schema and model.

[2022-05-10 04:10] myc2h6o opened #18993 "`RecoveryServices` Site Recovery Replicated VM Temporary Disk"
Hi team, Terraform 3.0 starts failing if there is remaining resources in the resource group when deleting it. In its [test cases](https://github.com/hashicorp/terraform-provider-azurerm/blob/main/internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go), the replicated vm is created then deleted to validate the creation and deletion.
We found there is a temporary disk called

[2022-05-10 12:21] tadelesh opened #19003 "Pageable LRO problem with `getActiveSessions` in `bastionHost.json` of network"
When I use the GO SDK to test pageable LRO, I found the result of this operation is different from the swagger [here](https://github.com/Azure/azure-rest-api-specs/blob/8713239a8b6cfcd49cbf0c34638269b41cfe0ed7/specification/network/resource-manager/Microsoft.Network/stable/2021-05-01/bastionHost.json#L477). The SDK log is as follows. You could see the final result return an array instead of define

[2022-05-10 20:26] markweitzel commented on #18871
## API Stewardship Board Review 10-May-22

* `top` has been implemented as though it were `maxpagesize`. Because some of these APIs have GA'd with an implementation of `top` this way, then this should be consistent within the service.
  *
[API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md)

[2022-05-11 00:54] markweitzel commented on #18520
@balassit  & @nayenama,
WRT the use of polymorphism: The board revisited this discussion in a recent leadership team meeting and we all agreed and strongly recommend that you expand the API surface and avoid using polymorphism. There are many reasons for this, for example:
* Developers will be forced to write numerous casting and switch statements in order to use your API. This will make things ch

[2022-05-11 01:09] balassit commented on #18520
Yes, we do use our own typed client for our own purposes of functional test integration. There are several ways to use polymorphism cleanly; switches and cast can be abstracted into adapters. We acknowledge the board’s consideration, however, our plan is to release the API with the existing structure.

All of these discussions took place within our team prior to SDK review and we did weigh out the

[2022-05-11 02:07] ms-zhenhua opened #19015 "[Monitor] severity is defined as integer and "modelAsString" = true"
[This severity property](https://github.com/Azure/azure-rest-api-specs/blob/11830d3ce01db4f39a41dc37a86075b125c87fdc/specification/monitor/resource-manager/Microsoft.Insights/stable/2021-08-01/scheduledQueryRule_API.json#L354) is defined as an integer type, but it's also defined with "modelAsString" = true.
According to the [definition of modelAsString](https://github.com/Azure/azure-rest-api-spec

[2022-05-11 03:20] tadelesh opened #19016 "POST LRO does not allow `final-state-via` set with `original-uri` for rp chaos"
Swagger: https://github.com/Azure/azure-rest-api-specs/blob/ac286e05bedd69d301e1dc94ec70f66e8536686b/specification/chaos/resource-manager/Microsoft.Chaos/preview/2021-09-15-preview/experiments.json#L274
Problem: one post long running operation use `original-uri` to get final state which is not allowed with arm

[2022-05-11 07:58] neil-yechenwei opened #19021 "The properties cannot be updated immediately after CassandraCluster.CreateUpdate.WaitForCompletionRef API returned"
After tested, I found the properties cannot be updated immediately after CassandraCluster.CreateUpdate.WaitForCompletionRef API returned. It has to wait several minutes, then the property can be updated successfully. So seems it's a long running issue. Please have a look. Thanks.

Bad case - Repro steps:
1. Create Resource Group
2. Create VNet
3. Create Subnet
4. Create Cassandra Cluster
5. You wi

[2022-05-11 08:54] Yao725 opened #19022 "AccessPolicies is not required in swagger but still need pass empty array"
In the [swagger definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2021-10-01/keyvault.json#L1219) of keyVault, accessPolicies is not a required parameter. But the test result showed that we at least need to pass an empty array to make this request work. I don't think it's a ideal behavior because if the property is

[2022-05-11 14:53] tombuildsstuff commented on #18888
ping @AzureAppServiceCLI, @antcp

[2022-05-11 18:27] alexhcheng opened #19029 "[Cognitive Services - Document Translator] REST API Review"
o	Service name: Document Translator
o	Key contact for the review: alcheng
o	Whether this is a new or existing API: new version of existing API
o	Whether or not your service already been deployed: new version has not
o	A brief description of the material to be reviewed/changed
- new single document sync API
- renaming of base path
- restructure of some json input / output

Overview of the change:

[2022-05-11 18:34] mikekistler commented on #18871
@whisper6284 Following up on the discussion of "top" in the API review meeting yesterday: we did a little more investigation and it appears that there is just one operation, `ListPhoneNumbers` that has been GA'ed with an incorrect "top" parameter, and the updated API we reviewed yesterday adds 4 more instances where "top" is defined incorrectly.

If this is correct, we'd like to modify/update the

[2022-05-12 07:28] jmservera commented on #16714
As commented in the bicep - missing type validation, this issue happens when reading the property from bicep. For example, the following code:

[code]

Gives this warning:

[2022-05-12 21:48] sarangan12 opened #19052 "[LUIS Authoring] Missing 429 Response Code in the Swagger"
This issue has been reported by customer related to LUIS Authoring JS SDK. While making calls with the SDK, the service returns a 429 Response code. This status code refers to Too Many Requests. This response code should have been handled by RetryPolicy. But, the SDK considers it as an error.

While investigating this issue, I found the response code `429` was never defined in the Swagger which is

[2022-05-12 22:54] sjiherzig commented on #18792
All comments should now be addressed - I've also incorporated changes requested from a previous review of API version 2022-02-28-preview (which has not yet been released). These are minor and consisted of:
* Ensuring required = true for "value" field in paged responses from _List APIs
* Body of DigitalTwinModels_Add and EventRoutes_Add APIs are marked required = true

Per decision in https://githu

[2022-05-13 00:02] whisper6284 commented on #18871
Thank you @mikekistler . I will investigate the back-end service to ensure that not having a default size for maxpage size and having page size dynamic is feasible.

[2022-05-13 07:41] sinbai opened #19062 "[Sql Database] : Creating sql database in creation mode secondary does not obey the zone_redundant property"
When creating a sql database , set the [create mode](https://github.com/Azure/azure-rest-api-specs/blob/b5c12286510fae45b196457d82f9ad70b967987a/specification/sql/resource-manager/Microsoft.Sql/preview/2021-11-01-preview/Databases.json#L880) to `Secondary`  and  [zoneRedundant ](https://github.com/Azure/azure-rest-api-specs/blob/b5c12286510fae45b196457d82f9ad70b967987a/specification/sql/resource-m

[2022-05-13 15:15] prakashmsft opened #19065 "Cognitive Services: TextAnalytics REST API document should refer to v3.1 instead of 3.1 preview4"
**Cognitive Services: TextAnalytics REST API document still refer to 3.1 preview4**.
We need to update the document for all TextAnalytics service to point to v3.1 instead of preview. I haven't tried it for other Cognitive Services so I am not sure if anything else needs to be updated or not.
- [Text Analytics REST API reference - Azure Cognitive Services](https://docs.microsoft.com/en-us/rest/api/

[2022-05-13 18:53] iscai-msft opened #19068 "[storage] state in swagger which values you want as constant"
With latest modelerfour, single value enums now no longer default to constants. Should go through the storage swaggers and clearly state which ones we still want to be constants by adding `"x-ms-enum": {"modelAsString": false}` to these definitions

[2022-05-14 15:21] Employee90 commented on #19068
I see it supposed not what's the next step off here !!!?

[2022-05-15 13:25] darren-johnson opened #19075 "Microsoft.Authorization PIM API Documents Need Updating"
Now that the PIM API has reached GA status, the documents need to be updated to ensure they are consistent and all show the stable version in the code examples as opposed to the preview version.

3 examples of this all showing the preview version are below.

1) In https://docs.microsoft.com/en-us/rest/api/authorization/privileged-role-policy-rest-sample#update-a-role-management-policy the sample H

[2022-05-16 03:09] kshitizvijay commented on #17747
Hi @markweitzel , I have updated the PR
https://github.com/Azure/azure-rest-api-specs/pull/19076

Can we continue with the review?

[2022-05-16 04:43] neil-yechenwei opened #19078 "The properties cannot be updated immediately after CassandraDatacenter.CreateUpdate.WaitForCompletionRef API returned"
After tested, I found the properties cannot be updated immediately after CassandraDatacenter.CreateUpdate.WaitForCompletionRef API returned. It has to wait several minutes, then the property can be updated successfully. So seems it's a long running issue. Please have a look. Thanks.

Bad case - Repro steps:
1. Create Resource Group
2. Create VNet
3. Create Subnet
4. Create Cassandra Cluster
5. Cre

[2022-05-16 12:29] #18525 closed

[2022-05-17 04:00] ArthurMa1978 commented on #18128
@MikhailTryakhov for awareness

[2022-05-17 06:20] tombuildsstuff opened #19098 "Remove the auto-close PR bot"
Whilst I can understand the desire to close stale PR’s, unfortunately that Service Teams aren’t actively reviewing PR’s leads to a pretty hostile contribution experience with the auto-close bot.

A few examples:

* https://github.com/Azure/azure-rest-api-specs/pull/17987#issuecomment-1066131357
* https://github.com/Azure/azure-rest-api-specs/pull/18269#issuecomment-1086897732
* https://github.com/

[2022-05-17 07:48] fengzhou-msft commented on #382
@markjbrown can you explain what is the $expand issue? Does it mean resource Id in network is writable?

[2022-05-17 10:50] navba-MSFT commented on #17144
@XavierGeerinck Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I have marked our Service Team in this issue.
@AzureAppServiceCli @antcp Could you please look into this ask ?

[2022-05-17 11:43] moabba commented on #19052
@heaths as far as I know, the guidance we've been getting is to only include the success status codes and have a "default" status code for all other failures. What's the action we should take here? This issue will apply for Language (and any APIM-backed service) as well.

[2022-05-17 18:35] deeikele commented on #18601
@stephybun publicNetworkAccess is returned from january 01 2022 api version onwards. Could you please validate this fixes your workflow?

[2022-05-17 18:36] heaths commented on #19052
Correct. [Our guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#:~:text=YOU%20SHOULD%20NOT%20document%20specific%20error%20status%20codes%20in%20your%20OpenAPI/Swagger%20spec%20unless%20the%20%22default%22%20response%20cannot%20properly%20describe%20the%20specific%20error%20response%20(e.g.%20body%20schema%20is%20different).) state specific error codes should n

[2022-05-17 19:01] alzimmermsft opened #19110 "Typo in BlobErrorCode"
BlobErrorCode contains a typo of [IncrementalCopyOfEralierVersionSnapshotNotAllowed](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/storage/data-plane/Microsoft.BlobStorage/preview/2021-04-10/blob.json#L10510) which should be `IncrementalCopyOfEarlierVersionSnapshotNotAllowed`

[2022-05-17 19:33] morland96 opened #19111 "Missing ResourceGUID in the latest privateEndpoint spec"
Hi,

I was using the Azure Go SDK to export the guid of PrivateEndpoints. But it turns like this is not been captured in the PrivateEndpointProperties. But Azure dose return this resourceGuid under the properties section.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/privateEndpoint.json

[2022-05-17 19:42] morland96 commented on #19111
I have raised a sample fix: https://github.com/Azure/azure-rest-api-specs/pull/19113. Not very sure about your workflow, but you can raise a proper fix and close mine

[2022-05-17 21:04] mikekistler commented on #18777
Questions / comments from 5/17 REST API review:

- Parameters in the Template Message are just an array of strings with no names. Will that be sufficient for all the providers going forward?
- Support for multiple media elements in a message? If this could be a future need you should structure things for expansion now.
- Are there standard structures for this type of message?
- path naming?  "noti

[2022-05-18 07:36] myc2h6o opened #19120 "Cannot Set AgConfiguration in Sql VM AG Listener"
AgConfiguration seems to be used to configure `Automatic Failover`, `Sync Commit`, `Readable Secondary` mentioned in https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-azure-portal-configure?view=azuresql&tabs=azure-cli#create-availability-group, however it's marked as `readOnly` and cannot be set in `PUT` api.

Swagger: https://github.com/Azure/azure-rest

[2022-05-18 12:23] fengzhou-msft commented on #382
@markjbrown Thanks for the prompt reply.  The linked PR #1629 is for ACR description update, I don't see how it's related to the Resource ID issue in network. Can you double check?

[2022-05-18 13:52] azure-walker opened #19124 "Need a way to edit branch repositories in Azure Data Factory"
Currently the Azure mgmt Datafactory can only make changes to the collaboration branch of Azure Data Factory. However, much of the development is done on other branches. Furthermore, any mass updates that need to be applied to a branch outside of the collaboration branch cannot be done using the azure-mgmt-datafactory package. What is needed in the package is a way to change branches from collabor

[2022-05-18 18:42] markjbrown commented on #382
Sorry, I was confusing this with another issue.

[2022-05-18 19:56] SudoSpartanDan commented on #18601
I think the issue was that it was working before. Did something on the prior API version change? This was working just fine about a month ago and now it's not working as designed. See https://github.com/hashicorp/terraform-provider-azurerm/issues/16177#issuecomment-1091717454

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #19128 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 00:38] deeikele commented on #18601
@SudoSpartanDan We haven't made changes in the backend to this, and I'm wondering if this property was working earlier correclty. Could you please validate this again? @xuzhang3 and team as fyi. The issue you have referenced was created by one of our devs as a heads up for this flow to be broken.

[2022-05-19 02:21] ms-zhenhua opened #19129 "[Network Application Gateway] pickHostNameFromBackendAddress cannot be set as true"
The [ApplicationGatewayBackendSettingsPropertiesFormat.pickHostNameFromBackendAddress](https://github.com/Azure/azure-rest-api-specs/blob/2f2b633d940230cbbd5bcf1339a2e1c48674e4a2/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json#L1924) is defined as a boolean. However, when it's set as true, I got the following error from the Azure side.

Failure se

[2022-05-19 03:41] ms-henglu opened #19132 "MISSING_RESOURCE_ID identified in operation "WebApps_ListSlotConfigurationNames" of MICROSOFT.WEB on API version 2022-03-01"
## MISSING_RESOURCE_ID identified in operation "WebApps_ListSlotConfigurationNames" of MICROSOFT.WEB on API version 2021-03-01

### Description

I found the id is missing from its GET response:

### Reference

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[code]

5. Swagger GitHub permalink
[code]

6. Error code
[code]

7. Request

[2022-05-19 05:04] ms-henglu opened #19134 "etag has quotes identified in operation "BlobContainers_GetImmutabilityPolicy" of Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies on API version 2021-08-01"
## etag has quotes identified in operation "BlobContainers_GetImmutabilityPolicy" of Microsoft.Storage/storageAccounts/blobServices/containers/immutabilityPolicies on API version 2021-08-01

### Description

From its GET response, etag has quotes.

[code]

### Reference

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[code]

5. Swag

[2022-05-19 08:51] #19128 closed

[2022-05-19 09:19] teowa opened #19141 "AlertProcessingRule 2021-08-08 property EffectiveFrom pattern is not consistent with the service actually supported"
The API specs is below:
https://github.com/Azure/azure-rest-api-specs/blob/3c18ef0c50ee228b81edf98ea1c192a70354943c/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/stable/2021-08-08/AlertProcessingRules.json#L539-L543

But using the below value in the request, which can match the given RegEx pattern:
[code]

Server error response :
[code]

Maybe the correct pattern shoul

[2022-05-19 16:44] SudoSpartanDan commented on #18601
@deeikele, still broken. We don't necessarily care about the value being returned either; the main issue is with setting the value with PUT, which is not working as intended. It was working about a month ago when we set up Azure ML for our organization, but, since then, I can't programmatically adjust it at all since it automatically sets that setting back to Enabled, which we don't want.

I've ha

[2022-05-19 20:09] spk24083 commented on #18601
We're seeing the same problem while using Terraform.  We set public_access_behind_virtual_network_enabled = false for azurerm_machine_learning_workspace but the setting is not updated on the actual resource.

[2022-05-19 22:34] kthejoker opened #19150 "[Cost Management] [API Management] Azure Cost Management Package just throws first 1000 lines and not managing the paging from the cost management rest api"
Package Name: azure-mgmt-costmanagement
Package Version: 3.0.0
Operating System: Windows
Python Version: 3.9.6
Describe the bug
When you call the Usage method in python: https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/costmanagement/azure-mgmt-costmanagement/azure/mgmt/costmanagement/operations/_query_operations.py
that is related to this REST api endpoint here https://docs.microsoft.c

[2022-05-19 22:35] kthejoker commented on #19150
I was told to cross post the issue here from https://github.com/Azure/azure-sdk-for-python/issues/23175

[2022-05-20 07:53] andrekiba opened #19159 "Container Registry Task Run error getting operation result --> Future#WaitForCompletion: the number of retries has been exceeded"
This issue is related to  #https://github.com/pulumi/pulumi-azure-native/issues/1713

Seems that querying the status of an Azure Container Registry Task.Run operation the url returned inside the `Azure-Asyncoperation` is not correct.

The address provided in that header seems not correct with the `operationStatuses/<task_run_id>` repeated two times.

`https://management.azure.com/.../resourceGroup

[2022-05-21 03:41] czubair commented on #18792
Thanks, @sjiherzig . @weidongxu-microsoft I requested a re-review from you on the PR.

[2022-05-21 04:07] anurag8899 commented on #3480
I am trying to pull amortizedcost but when i am trying this API:
https://management.azure.com/subscriptions/{subid}/providers/Microsoft.Billing/billingPeriods/202204/providers/Microsoft.Consumption/usageDetails?$expand=meterDetails,additionalProperties&metric=AmortizedCost&api-version=2018-05-31"
it is giving me this : {'error': {'code': '429', 'message': 'Too many requests. Please retry after 60

[2022-05-21 21:23] cataggar commented on #17289
This affects tags starting with `package-2021-07`:

- package-2021-07
- package-2021-09
- package-2022-02
- package-2022-04

[2022-05-22 05:45] andrekiba commented on #19159
Hi and thanks, any news about this?

[2022-05-22 17:10] stephanwehr opened #19173 "Container Instances should support environment variable names containing dot '.'"
**System Info**
[code]

**Expected Behavior**

Executing the following Azure CLI command should create a container instance running Elasticsearch:
`az container create --image elasticsearch:7.3.2 --name es -g test-rg --memory 2 --cpu 1 --ports 9200 --environment-variables "discovery.type=single-node"`

Using environment variable names containing dot '.' should work.

**Current Behavior**

Executin

[2022-05-23 01:05] weidongxu-microsoft commented on #18792
Sebastian confirmed that "x-ms-error-code" is in backlog and will be supported in next GA release.

Signed off from me. It is OK to merge.

[2022-05-23 02:27] BigCat20196 opened #19176 "[Reservations] Wrong `purchaseDate` type in ReservationsProperties"
Our customer found the wrong definition of `purchaseDate` type when using SDK. After investigation, it is because swagger defines that it uses `date` instead of `date-time`, which leads to the conversion of Python SDK into `date` when it is generated. The correct format is `iso-8601`.
Rest:
relate link: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/reservations/resource-man

[2022-05-23 02:58] Frey-Wang commented on #19124
This is related to the general CI/CD process. @leni-msft , could you please help with this ask?

[2022-05-23 03:24] navba-MSFT commented on #19075
Both CXP and Service attention label were added. Removed the Service attention label and checking if the CXP team can assist on this.

@darren-johnson Apologies for the late reply. Thanks for reaching out to us and sharing the feedback. We are looking into this issue. We will provide an update on this shortly.

[2022-05-23 03:40] navba-MSFT commented on #19098
Since the ask here is about the auto-close PR bot and not any particular Azure Service. I am removing the CXP attention label and adding the Service attention label on this.

@akning-ms Could you please check and add the right label to notify the service team that looks into this ?

[2022-05-23 07:23] navba-MSFT commented on #18951
@kuojianlu Apologies for the late reply. Thanks for getting back and sharing this feedback. Could you please elaborate this ask ? May I know your use case ? What are your trying to accomplish ? Awaiting your reply.

[2022-05-23 07:37] navba-MSFT commented on #18951
@kuojianlu Thanks for getting back. I am looking into this ask. I will get back if I need more details from you.

[2022-05-23 07:54] navba-MSFT commented on #18951
@kuojianlu I could see in the restapi specs that the enum value for the Outlook has been added correctly for 2021-05-01-preview. see below:

        "AlexaChannel",
        "FacebookChannel",
        "EmailChannel",
        "KikChannel",
        "TelegramChannel",
        "SlackChannel",
        "MsTeamsChannel",
        "SkypeChannel",
        "WebChatChannel",
        "DirectLineChannel",

[2022-05-23 08:35] kuojianlu commented on #18951
@navba-MSFT Yes, I know this change. The code snippet above is the latest.

Please note that there are two `OutlookChannel` in the code snippet. The first one `name: 'OutlookChannel'` works perfectly. But the second one `channelName: 'OutlookChannel'` causes a warning.
[code]

[2022-05-23 08:53] sinbai opened #19181 "[Sql] : The transparentdataencryption API version does not match sql database API version"
Currently, the[ sql database api version](https://github.com/Azure/azure-sdk-for-go/blob/29a8ee629e0bff0d77117d855298a7fd492640ed/services/preview/sql/mgmt/v5.0/sql/databases.go#L89)  used in the latest Sql SDK v5.0 is 2021-02-01-preview, but the [transparentdataencryption API version](https://github.com/Azure/azure-sdk-for-go/blob/29a8ee629e0bff0d77117d855298a7fd492640ed/services/preview/sql/mgmt

[2022-05-23 09:42] navba-MSFT commented on #19075
@darren-johnson This PR https://github.com/Azure/azure-docs-rest-apis/pull/4561 has been filed to address this. Thanks again for sharing the feedback. The PR is currently under review. If you have any questions in the meantime, please feel free to ask.

[2022-05-23 10:05] leni-msft commented on #19124
@Frey-Wang It seems you need support specifying branches for all your APIs. I'd suggest asking your architect or [ARM API reviewers](https://armwiki.azurewebsites.net/rp_onboarding/process/api_review.html#api-review-on-call).

[2022-05-23 10:45] navba-MSFT commented on #18951
@kuojianlu Thanks for getting back. I wanted to check the outcome of my action plan. Could you please check and let me know if `channelName: 'outlook'` generated the same warning ? Awaiting your reply.

In the meantime, I am checking on your code snippet too. I will keep you posted.

[2022-05-23 11:42] navba-MSFT commented on #19062
@sinbai Apologies for the late reply. Thanks for reporting this issue. I see that the Service team has already been tagged on this issue.

@azureSQLGitHub Could you please look into this and provide an update once you get a chance. Awaiting you reply.

[2022-05-23 11:56] navba-MSFT commented on #19111
@morland96 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I see that the Service team has already been involved on this.

@aznetsuppgithub COuld you please look into this and share an update ? Awaiting your reply.

[2022-05-23 11:59] navba-MSFT commented on #19120
@myc2h6o Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I see that the Service team has already been involved on this.

@azureSQLGitHub Could you please look into this and share an update ? Awaiting your reply.

[2022-05-23 12:20] navba-MSFT commented on #19150
@kthejoker  Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I see that the Service team has already been involved.

They will look at this ask and provide an update on this thread

[2022-05-23 12:24] navba-MSFT commented on #19159
@andrekiba Thanks for reaching out to us and sharing this feedback. I see that the Service team is already involved on this.

@toddysm, @northtyphoon Could you please look into this issue and provide an update ? Awaiting your reply.

[2022-05-23 12:25] navba-MSFT commented on #19129
@ms-zhenhua Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will get back to you once we have an update.

[2022-05-23 16:07] jlichwa commented on #19022
@Yao725 thank you for reporting. We will work with engineering team to mark it required in our REST API.

[2022-05-23 20:15] tg-msft commented on #17747
@kshitizvijay - Can you tell me more about why these names are the right names from your team's perspective?  From what I remember in the review meeting, these aren't terms or concepts from the security industry/domain but rather formal logic's [dnf](https://en.wikipedia.org/wiki/Disjunctive_normal_form)/[cnf](https://en.wikipedia.org/wiki/Conjunctive_normal_form).  Are there other products in the

[2022-05-23 22:21] jlichwa commented on #18457
@heaths  is that still an issue?

[2022-05-23 22:25] jlichwa commented on #17657
@jackrichins

[2022-05-23 22:29] heaths commented on #18457
For the SDK, no. By design, we decided we don't de/serialize this model and related models; however, it may be for Azure CLI and Az modules that can download a security domain - though, maybe they don't actually parse this and care about structure?

/cc @vcolin7

[2022-05-23 22:50] jlichwa commented on #1464
Currently by design Key Vault does not support efficient to list resources outside the region. It is by design that ARM rest api is used instead to list resources for subscriptions across regions.
#please-close as as designed.

[2022-05-23 22:50] #1464 closed

[2022-05-24 01:42] myc2h6o commented on #19120
Fixed by #19189

[2022-05-24 01:42] #19120 closed

[2022-05-24 02:50] kuojianlu commented on #18951
@navba-MSFT Yes.

[2022-05-24 06:54] MaryGao opened #19195 "[Container Instance] In operation ContainerGroups_CreateOrUpdate, this field `username` should not be required"
Our customer found that spawning a container group using `client.containerGroups.createOrUpdate` requires passing `username` in `imageRegistryCredentials` (type `ImageRegistryCredential`), but [this field should not be required if `identity` is present](https://docs.microsoft.com/en-us/azure/container-instances/using-azure-container-registry-mi#deploy-using-an-azure-resource-manager-arm-template).

[2022-05-24 07:03] MaryGao opened #19196 "[containerApps] ContainerApps_ListSecrets has invalid response code and will throw RestError with 204 code"
Our customer found that containerApps.listSecrets throws response code 204 as an error when there is no content but it shouldn't be considered an error.

After investigation we found that this operation only takes `200` as success code. But when there is no secrets the server will return 204 with empty body so the client will throw `RestError` and this is unexpected. Adding 204 into responses woul

[2022-05-24 07:18] MaryGao opened #19197 "[Appservice] In operation WebApps_CreateOrUpdate invalid read_only column is defined in extendedLocation"
Our customer found that when trying to create an App Service web app that uses a custom location, we can not serialize the `type` column in `extendedLocation` definition.

After investigation we found that there is a `read_only` limitation for field `type` so we can't feed data in client side. After removing this limitation and the request could be handled correctly in server side.

Swagger code l

[2022-05-24 07:18] sinbai opened #19198 "[HDInsight cluster] The cluster version returns "5.0.3000.0" when the specified version is "4.0""
When the specified [cluster version](https://github.com/Azure/azure-rest-api-specs/blob/792db17291c758b2bfdbbc0d35d0e2f5b5a1bd05/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2021-06-01/cluster.json#L1269) is `4.0` to create HDInsight cluster by [the latest API](https://github.com/Azure/azure-rest-api-specs/blob/792db17291c758b2bfdbbc0d35d0e2f5b5a1bd05/specification/hdinsight

[2022-05-24 07:32] navba-MSFT commented on #19129
@ms-zhenhua I tried to collect the HAR traces while performing the same operation from Azure Portal and that seem to have worked. Below is the Request Body it used. See **"pickHostNameFromBackendAddress":true** in the below request body:

{"name":"testgw","id":"/subscriptions/XXXXX/resourceGroups/testgw/providers/Microsoft.Network/applicationGateways/testgw","type":"Microsoft.Network/applicationGa

[2022-05-24 07:38] ms-zhenhua commented on #19129
Hi @navba-MSFT, the pickHostNameFromBackendAddress you are testing is under [ApplicationGatewayBackendHttpSettingsPropertiesFormat](https://github.com/Azure/azure-rest-api-specs/blob/2f2b633d940230cbbd5bcf1339a2e1c48674e4a2/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json#L1785). There is another pickHostNameFromBackendAddress defined under [Applic

[2022-05-24 07:38] AbhishekPanakanti opened #19199 "Azure Logic App giving Bad Gateway error when connecting with SFTP server"
I am trying to create Logic App using SFTP connector that triggers when a file is uploaded to server. While establishing a connection with SFTP server using Password authentication I am getting the error "**BadGateway More diagnostic information: x-ms-client-request-id is**".Any ideas why I may be getting this error ? Please tell me the correct fields to enter the values. I have the following deta

[2022-05-24 08:28] navba-MSFT commented on #19173
@stephanwehr Thanks for reaching out to us and sharing this feedback. I was able to reproduce this issue from AzCLI as well as Powershell. Post isolating this issue, I found that this issue isn't related to the Container Instance but the underlying image OS type.

The bash manual mentions this clearly ([here](http://www.gnu.org/software/bash/manual/bashref.html#Definitions))

A word consisting sol

[2022-05-24 08:30] xuzhang3 commented on #18601
@deeikele   Terraform  AzureRM uses API `v2021-07-01`, but portal is not using this version, I try reproduce error and found that portal uses `v2021-10-01`, the properties returned by the two APIs  are different.
`v2021-07-01` vs `v2021-10-01`
<img width="1303" alt="image" src="https://user-images.githubusercontent.com/57888764/169984875-2364a359-d323-4091-ad92-7ad061495a95.png">

Response from po

[2022-05-24 09:05] Frey-Wang commented on #19124
Hi @azure-walker , could you please provide an example on your request? I'm not sure how can I help to change branch policies.

[2022-05-24 09:26] stephanwehr commented on #19173
@navba-MSFT you are correct, Bash can't but Elasticsearch can.

With the "env" command it is possible to set environment variables containing special characters.
Here is an example:
[code]

In Docker compose the environment can be set like this:
[code]

[2022-05-24 12:28] stephanwehr commented on #19173
I've dug a little bit deeper on this issues and it seems Linux executes bash and other programs with [execve()](https://man7.org/linux/man-pages/man2/execve.2.html).

With [environ()](https://man7.org/linux/man-pages/man7/environ.7.html) an initial environment can be set.

How Linux execute programs can be seen using "strace":
[code]

As I understand, on Linux container environments like Docker fo

[2022-05-24 12:57] azure-walker commented on #19124
I am trying to come up with a solution that will allow me to edit a branch of the repository that is not the main line. I need this in order to make changes to pipelines in Azure Data Factory. Currently, the only way to use the azure-mgmt-datafactory is to edit the collaboration branch. I have a lot of pipelines with settings that need to be changed in my test branches. The only way to automate th

[2022-05-24 19:17] deeikele commented on #18601
I've followed up over email @xuzhang3. I can confirm below call is succesfull using the workspace REST API
{
  "location": "eastus",
  "identity": {
    "type": "SystemAssigned"
  },
  "properties": {
    "friendlyName": "Test workspace",
    "description": "test description",
    "publicNetworkAccess": "Disabled"
    ..
  }
}

[2022-05-25 02:38] xuzhang3 commented on #18601
seems to be no other way, except to upgrade the API from `v2021-07-01` vs `v2021-10-01` to cover this breaking change

[2022-05-25 03:49] czubair opened #19212 "[Language - AutoLD Feature]"
- Contact: Kareem Yousef [Kareem.Yousef@microsoft.com](mailto:Kareem.Yousef@microsoft.com) @kayousef

Whether this is a new or existing API: existing

Whether or not your service already been deployed: no

[2022-05-25 06:33] navba-MSFT commented on #19173
@stephanwehr I just wanted to confirm if you are able to get this working with elasticsearch image with Linux OStype ? Awaiting your reply.

[2022-05-25 07:54] stephanwehr commented on #19173
@navba-MSFT I'm not able to get Elasticsearch to work with Linux OStype because environment variables containing dot '.' are not supported.

[2022-05-25 11:56] navba-MSFT commented on #19129
@ms-zhenhua I had a discussion with the AppGW PM team and they informed that, Since you are internal to Microsoft, they will coordinate with you and work on this further.

[2022-05-25 13:16] byteknacker commented on #8075
This adds a lot of complications to automating Azure. I am using Terraform to provision Azure resources and I am always getting stuck at the purge protection and soft delete feature of Key Vault. It is just not programmatic. There should be a solution designed where it is secure and yet, you can have a idempotent Terraform pipeline that can delete and recreate the Key Vault without erroring out wi

[2022-05-25 18:58] jackrichins commented on #17657
REST API has been updated with all attributes and the [release policy grammar has been published](https://docs.microsoft.com/en-us/azure/key-vault/keys/policy-grammar).

[2022-05-25 22:19] czubair opened #19228 "[Language - Healthcare Task] REST API Review"
Service name: Language Text Analytics - Add confidence scores in healthcare for relations
Key contact for the review:

Engineer: Aurgho Bhattacharjee [aurghob@microsoft.com](mailto:aurghob@microsoft.com)
PM: Peyton Fraser [peytonfraser@microsoft.com](mailto:peytonfraser@microsoft.com)
Whether this is a new or existing API: existing API

Whether or not your service already been deployed: this servi

[2022-05-26 04:14] navba-MSFT commented on #18951
@kuojianlu The spec change linked to did add “OutlookChannel” to the[ channelNameParameter definition ](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/botservice/resource-manager/Microsoft.BotService/preview/2021-05-01-preview/botservice.json#L3166)used by the [channelName path parameter](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/botservice/resour

[2022-05-26 05:20] navba-MSFT commented on #19129
If you need any further assistance on this let me know.

[2022-05-26 05:54] kuojianlu commented on #18951
@navba-MSFT Thanks a lot. Good to know that you have reached out to the concerned team and the service model will be updated!

[2022-05-26 05:57] navba-MSFT commented on #18951
@kuojianlu If you need any further assistance on this feel free to let me know.

[2022-05-26 13:42] 0rland0Wats0n opened #19235 "[Communication - Media Composition] REST API Review"
Service Name: Communication Services Media Composition

Key contact: [orwatson@microsoft.com](mailto:orwatson@microsoft.com)

Whether this is a new or existing API
new

Whether or not your service already been deployed
No, TBD

[2022-05-26 15:35] seanmcc-msft opened #19236 "[Bug] Cannot pull main branch"
I keep my repos in C:\Users\seanmcc\git, so when I open a command prompt, I don't have to navigate up the file tree to C:. Open command prompt, `cd git` is much faster for me to type than `cd ..\..\..\`.

I have had azure-rest-api-specs cloned to C:\Users\seanmcc\git\azure-rest-api-specs for several years.  Recently, I have not been able to pull main:

C:\Users\seanmcc\git\azure-rest-api-specs>git

[2022-05-26 16:02] yang-hai-feng commented on #18988
@markweitzel, I have updated the swagger based on review comments, may I get a stamp for merge?

[2022-05-27 01:20] #18965 closed

[2022-05-27 02:39] michaelhyatt opened #19242 "Elastic Cloud RM should support specifying Elastic stack version"
At the moment, none of the Swagger examples for `az elastic monitor create` show how a version of Elastic stack can be specified and it results in always creating the latest version that Elastic provides in Elastic Cloud.

https://github.com/Azure/azure-rest-api-specs/tree/ef5e61721cf3ce245ec78f2908da1aced5a83b42/specification/elastic/resource-manager/Microsoft.Elastic

There needs to be an option

[2022-05-27 02:46] navba-MSFT commented on #19075
@darren-johnson The PR has been merged https://github.com/Azure/azure-docs-rest-apis/pull/4561. Thanks again for sharing this feedback. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-27 02:46] #19075 closed

[2022-05-27 10:56] jiasli opened #19252 "[Resources] `ManagementLockProperties` contains Azure-internal `owner` property"
The swagger of `ManagementLockProperties` contains an `owner` property which is only for Azure internal usage according to https://github.com/Azure/azure-cli/issues/22528:

https://github.com/Azure/azure-rest-api-specs/blob/b2de552d860a5cc148c7a0b7a739fd0dacb5b5a4/specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/locks.json#L971-L977

This makes the `owner` propert

[2022-05-27 12:27] craigeebach commented on #7990
This issue seems to have been dropped, but it's still a problem.  App Service Plans have a configurable `numberOfWorkers` property.  For example we can change this property in the azure portal UI in the "Scale Out" section:
<img width="1196" alt="image" src="https://user-images.githubusercontent.com/20073455/170698425-16c44348-009f-4387-9f74-5013ea4a5437.png">

This scale action corresponds to the

[2022-05-30 06:11] LuBu0505 commented on #11962
Hi, Any update on this?  Thanks.

[2022-05-30 06:13] navba-MSFT commented on #18951
@kuojianlu Since we have got a confirmation from the Product Owners that the issue will be fixed after a month or two, we will proceed with closure of this GitHub thread. We will update this thread once the fix is released. If you have any queries on this, please feel free to reopen this GitHub thread. We would be happy to help.

[2022-05-30 06:13] #18951 closed

[2022-05-30 10:44] preetesh33 opened #19267 "Azure: azure.mgmt.monitor python SDK, generates inconsistent OpreationName localized_value"
Issue: Python SDK "azure.mgmt.monitor" generates inconsistant opreationName localizedValue.
Expection: Python SDK "azure.mgmt.monitor" should generate consistent localized_value

Steps to reproduce the issue:
1. Scenario A: Activity log of unattached disk deleted on - 2022-05-03

[code]

Output:
[code]

2. Scenario B:  Activity log of unattached disk deleted on - 2022-05-13
Same code used as above

[2022-05-30 10:45] preetesh33 commented on #19267
Kindly refer - https://github.com/Azure/azure-sdk-for-python/issues/24538

[2022-05-30 15:42] stephanwehr commented on #19173
@navba-MSFT as stated this applies to the **Shell and Utilities** and not necessarily to other programs like Elasticsearch.

There is no hard requirement under Linux or inside a Docker container to use a shell to execute programs.

Linux itself allows variable names of type char:
[code]
[Reference](https://man7.org/linux/man-pages/man3/setenv.3.html)

[2022-05-30 17:18] mikekistler commented on #18979
Notes from API Review mtg 5/25/22:

- The service has been GA for > 3 years but this is the first time the data plane API doc is being checked in to the azure-rest-api-specs repo.
   - This version is adding the Certificate Management feature to DPS
   - Specific changes / additions to API definition
      - changes to  PUT on `/{idScope}/registrations/{registrationId}/register`
         - new req

[2022-05-31 07:45] navba-MSFT commented on #19173
@stephanwehr Thanks for clarifying. I have added the Service Team to look into this feature request ask.

[2022-05-31 14:26] DSollickOnyx opened #19284 "Sending full ServicesDescription object to PUT endpoint on Azure API for FHIR endpoint causes failure due to Private Endpoint Configuration being included"
The scenario:
I want to programmatically change a property on my Azure API for FHIR service. Let's say the backing CosmosDB provisioned RU amount. My expectation is that I would GET the fhir_server, edit the relevant property and PUT it back in. If there is a Private Endpoint enabled on the FHIR service, this will fail, since it is included in the GET but will not be accepted on the PUT, despite t

[2022-05-31 15:48] garchiro7 opened #19287 "[Communication - Rooms] REST API Review"
Key contact for the review:
radubulboaca@microsoft.com

Whether this is a new or existing API:
New API

PR
https://github.com/Azure/azure-rest-api-specs/pull/19269

[Hero scenarios](https://skype.visualstudio.com/SPOOL/_wiki/wikis/SPOOL.wiki/24003/Rooms-Azure-Board-Review-Champion-Scenarios):

Following champion scenarios illustrate how Contoso can use Azure Communication Services Rooms APIs to cr

[2022-05-31 20:05] benbp commented on #19236
CC @akning-ms

[2022-05-31 20:58] markweitzel commented on #18293
## API Stewardship Board Review 31-05-22

All minor changes and discussion centered around consistency and where to deviate.
* `POST` `blocks/commit`
* consider adding the `supported` prefix to the dataset name

### Next Steps
✅  API Review Board: Signed Off

### References
[Meeting Chat]()
[Meeting Recording](https://teams.microsoft.com/l/message/19:3ebb18fded0e47938f998e196a52952f@thread.tacv2/1

[2022-06-01 06:36] RakeshMohanMSFT commented on #19181
@sinbai Thank you for reaching out, we are looking into it.

[2022-06-01 06:36] RakeshMohanMSFT commented on #18921
@myc2h6o Thank you for reaching out, we are looking into it.

[2022-06-01 06:37] RakeshMohanMSFT commented on #18572
@ms-zhenhua Thank you for reaching out, we are looking into it.

[2022-06-01 12:58] XavierGeerinck opened #19305 "Container App - Allow Setting HTTP Max Request Body"
Dapr allows setting HTTP Body Request sizes (which can be used for image uploads, ...) - https://v1-0.docs.dapr.io/operations/configuration/increase-request-size/

This flag is however not present and is a crucial blocker for me to adopt container apps:

https://github.com/Azure/azure-rest-api-specs/blob/b5c12286510fae45b196457d82f9ad70b967987a/specification/app/resource-manager/Microsoft.App/stab

[2022-06-01 17:59] #18988 closed

[2022-06-01 18:09] alexhcheng commented on #19029
Look at [Api Versioning](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#api-versioning)
Look at [Actions](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#performing-an-action)
[Breaking change policy](https://microsoft.sharepoint.com/:b:/r/teams/azureecosystem/servicerings/Shared%20Documents/Breaking%20Changes/Azure%20Versioning%20and%20Breaki

[2022-06-01 19:41] garchiro7 opened #19308 "[Communication - Calling Server] REST API Review"
Service name: **ACS Server Calling**

Key contact for this review:
Richard Cho richardcho@microsoft.com
Min Woo Lee minwoolee@microsoft.com

a. Link to previous API version:
[azure-rest-api-specs-pr/communicationservicescallingserver.json at dev-communication-CallingServer-2022-04-07-preview · richardcho-msft/azure-rest-api-specs-pr (github.com)](https://github.com/richardcho-msft/azure-rest-api-s

[2022-06-01 20:58] ZoabKapoor opened #19309 "FirewallPolicyRuleApplicationProtocol port number should go up to 65535, according to Azure blog post"
Hey there! I'm an engineer at LinkedIn working on building some automation for managing Azure firewall rules. I'm working off the spec [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/firewallpolicies/rulecollectiongroups?tabs=bicep#firewallpolicyruleapplicationprotocol) which says:
`Port number for the protocol, cannot be greater than 64000.`

However, I see in a [blog po

[2022-06-02 11:56] dodokaa commented on #17899
Still cannot set registrationTtl. Any update on this?

[2022-06-02 21:09] JeffreyRichter commented on #19287
I put my comments here: https://github.com/Azure/azure-rest-api-specs/pull/19269#pullrequestreview-994195002

[2022-06-03 11:22] thereallukl opened #19318 "Synapse missing credential object in API spec"
Hi MS team,
I've noticed that credential object is missing in stable API spec: /specification/synapse/data-plane/Microsoft.Synapse/stable/2020-12-01

Can you please provide the appropriate specification?

Thanks

[2022-06-03 16:15] strefethen opened #19319 "README.md link for "Getting Started with Azure API Specifications" is a 404"
I was looking to get more details on the API specifications but the link in the README is a 404

External Contributors can read [Getting Started with Azure API Specifications](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/getting-started-with-azure-api-specifications.md).

[2022-06-03 18:30] markweitzel opened #19320 "[Marketplace - Catalog] REST API Review for adding Search component"
Service name – Marketplace Catalog API Search Service
Key contact for the review – Greg Oks
Whether this is a new or existing API – New API set in existing domain
Whether or not your service already been deployed – already deployed
A brief description of the material to be reviewed/changed – New search API’s in existing marketplace catalog API domain
A link to the PR/issue in the azure-rest-api-sp

[2022-06-03 21:28] rshade opened #19321 "Azure Redis Spec missing `aof-backup-enabled` from redisConfiguration."
The Azure Redis spec here: https://github.com/Azure/azure-rest-api-specs/blob/23d896b00311e101dbbd6fea04c9ae9f0006be92/specification/redis/resource-manager/Microsoft.Cache/stable/2021-06-01/redis.json#L1823 is missing `aof-backup-enabled`. You can not enable AOF without it. Its an available option in the ARM Template below:
[code]

[2022-06-06 02:29] weidongxu-microsoft commented on #19287
The link to [Hero scenarios](https://skype.visualstudio.com/SPOOL/_wiki/wikis/SPOOL.wiki/24003/Rooms-Azure-Board-Review-Champion-Scenarios) is 404 for me.

[2022-06-06 03:00] ms-henglu opened #19328 "Microsoft.AppPlatform/Spring/apps/deployments@2022-05-01-preview - ROUNDTRIP_MISSING_PROPERTY"
## Microsoft.AppPlatform/Spring/apps/deployments@2022-05-01-preview - ROUNDTRIP_MISSING_PROPERTY

### Description

I found differences between PUT request body and GET response:
[code]

### Details

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[code]

5. Swagger GitHub permalink
[code]

6. Error code
[code]

7. Request traces
[cod

[2022-06-06 07:27] navba-MSFT commented on #19129
@ms-zhenhua Since the PM team has informed that they are working on this offline with you, we will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-06 07:27] #19129 closed

[2022-06-06 16:04] czubair opened #19336 "[Search-Marketplace Catalog] REST API Review"
Service name – Marketplace Catalog API Search Service
Key contact for the review – Greg Oks
Whether this is a new or existing API – New API set in existing domain
Whether or not your service already been deployed – already deployed
A brief description of the material to be reviewed/changed – New search API’s (new internal service) in existing marketplace catalog API domain
A link to the PR/issue i

[2022-06-06 16:05] czubair commented on #19320
Service name – Marketplace Catalog API Search Service
Key contact for the review – Greg Oks
Whether this is a new or existing API – New API set in existing domain
Whether or not your service already been deployed – already deployed
A brief description of the material to be reviewed/changed – New search API’s (new internal service) in existing marketplace catalog API domain
A link to the PR/issue i

[2022-06-06 16:43] garchiro7 commented on #19287
@weidongxu-microsoft  Scenarios updated ;)

[2022-06-07 07:07] yuwzho commented on #19328
Fixing it in backend

[2022-06-07 09:11] tadelesh opened #19344 "Remove Go previous version SDK automation"
As we will not release track1 version, remove the track1 Go SDK automation from swagger ci pipeline.

[2022-06-07 13:14] dzeliar opened #19349 "[ACS - Trunk Status] REST API review"
Swagger PR for version 2022-07-01-preview1:  https://github.com/Azure/azure-rest-api-specs/pull/19233
New API in Telephony Service
Key contact for the review: @dzeliar, @nikuklic
Spec: [here](https://microsoft.sharepoint-df.com/:w:/t/IC3SDK/ESpfIM9K3HlHqlDd7Z0PYZwBv_Q_BZU7Gq4SkOAANDHheg?e=sMIwBM)
Data flow: [here](https://microsoft.sharepoint-df.com/:w:/t/IC3SDK/EateK9JY-Q9EoTKGdor12zgBSYoxqeoANKg

[2022-06-07 13:28] craigeebach commented on #7990
FYi @weidongxu-microsoft this is the issue on the azure-rest-api-specs side.  Anything can be done to resolve this somehow?  Thanks.

[2022-06-08 00:59] weidongxu-microsoft commented on #7990
Let's see if CXP can help.

[2022-06-08 07:34] wuxu92 opened #19366 "FluidRelay Server create location support"
The FluidRelay Service response error when the location parameter with the value "West US 2", but success with value "westus2". this not meet the api reference by <https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#request>

<body>

location | Required, string. The location of the resource. This would be one amongst the supported Azure Geo Regions regist

[2022-06-08 09:06] agi1clj commented on #16804
Hi @nschonni
Do you know if someone is handling this issue?
We have the very same problem and I think the fix is not so complicated.

Thanks!

[2022-06-08 09:15] danielthank opened #19370 "[Maps - Data Registry] REST API Review"
Service name: Azure Maps Data Registry Service
Key contact for the review: Eva Ou [evaou@microsoft.com](mailto:evaou@microsoft.com)
Whether this is a new or existing API: new version of an existing API
Whether or not your service already been deployed: not deployed
A brief description of the material to be reviewed/changed: New version of data registry API (old name: data) in Azure Maps

PR: https

[2022-06-08 14:34] markweitzel opened #19373 "[Cognitive - Form Recognizer] REST API Review - v3.0-preview.3"
### Change Scope
<sup>This section will help us focus on the specific parts of your API that are new or have been modified. <br/>Please share a link to the design document for the new APIs, a link to the previous Open API document (swagger) if applicable, and the root paths that have been updated. </sup>
* Design Document: See https://github.com/Azure/azure-rest-api-specs-pr/pull/6302 for internal

[2022-06-08 14:36] markweitzel commented on #19373
## API Stewardship Review: 8-Jun-22

The majority of this review was done on PR #19301 and was reviewed and approved by @johanste and @markweitzel

[2022-06-08 15:27] #19373 closed

[2022-06-08 16:44] nschonni commented on #16804
@agi1clj sorry I don't work for Microsoft, so I don't know if they're working on anything

[2022-06-08 18:19] mblant commented on #13600
Found this while working on a different issue.
New API version, 2021-04-01, allows for 50 tags

Tags - Create Or Update At Scope
https://docs.microsoft.com/en-us/rest/api/resources/tags/create-or-update-at-scope

PUT https://management.azure.com/subscriptions/{{subscriptionId}}/resourcegroups/{{resourcegroupName}}/providers/Microsoft.Network/privateDnsZones/{{zoneName}}/providers/Microsoft.Resourc

[2022-06-09 06:30] myc2h6o opened #19387 "`sqlvirtualmachine`: `collation` not returned after second PUT"
Hi, I'm adding the SQLInstanceSettings to Terraform AzureRM provider https://github.com/hashicorp/terraform-provider-azurerm/issues/15824. And I found the issue with the `collation` property. It creates well with the first PUT request, but with second PUT request to update some properties, the `collation` is no longer present in the GET response. Below are the API requests I made:
[code]
[code]

[

[2022-06-09 20:05] Hjortsberg opened #19397 "Documentation does not reflect behavior of endpoint: Tenant Configuration - Save"
Hi, I've been tampering with this endpoint now and found what i think is discrepancies in the behavior of the endpoint.
Event though it's noted in the description that this is a long running operation, and that you can receive both a `200 OK` and a `202 Accepted`, I've only received 200 OK, instantly. This behavior led me to believe that the operation was successful and just worked fast since i go

[2022-06-10 01:57] yang-hai-feng opened #19403 "[IoT Central] REST API Review (2022-06-30-preview)"
Service name
IoT Central

Key contact for the review
[hayang@microsoft.com](mailto:hayang@microsoft.com), [Avneet.Singh@microsoft.com](mailto:Avneet.Singh@microsoft.com),[vincenzo.caruso@microsoft.com](mailto:vincenzo.caruso@microsoft.com)

Whether this is a new or existing API
Existing API

Whether or not your service already been deployed
No, TBD by end of June

A brief description of the materi

[2022-06-10 02:30] raych1 commented on #19098
@tombuildsstuff , thanks for your feedback. I understand the situation from service team. Currently, if a PR doesn't have any activity more than 14 days, then bot would mark it as stale and send email notification but wouldn't close this PR. PR assignee will be supposed to coordinate the PR review and merge.

One thing we will improve is to notify PR author by teams so that it can be more timely.

[2022-06-10 06:49] andrekiba commented on #19159
Any news on this?? Thanks

[2022-06-10 14:16] myc2h6o commented on #12818
The same issue seems happen for `AutoPatchingSettings` as well. This is found by the intermittent acceptance test failure from Terraform AzureRM provider https://github.com/hashicorp/terraform-provider-azurerm/pull/15835#issuecomment-1109576028

[2022-06-12 21:15] kthejoker commented on #19150
Hey all, just looking for an update ....

[2022-06-13 03:02] navba-MSFT commented on #7990
@weidongxu-microsoft We are removing the CXP attention label from this, Since Service team has already been involved. Also RESTAPI specs repo was onboarded to CXP in April 2022. However, this issue is open since 2019. This will be considered as backlog and CXP can help only on best effort basis.

@antcp @AzureAppServiceCLI Could you please look into this issue on priority and provide an update on

[2022-06-13 07:38] ms-henglu commented on #19328
confirmed it has been fixed.

[2022-06-13 07:38] #19328 closed

[2022-06-13 09:00] Hjortsberg commented on #19397
After further investigation the validate and apply configuration endpoints behave very similar.
The request returns a `200 OK` with an id, which I consider indicate success, but is infact still running in the background. How do i get a 202 with the status URL?

[2022-06-13 09:17] Hjortsberg commented on #19397
I did just realize that this is a case of me just needing to RTFM a bit better.
For anyone finding this issue in the future, the API did indeed respond with a 202, and the section where they specify
`location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af64e2a6d2e0b688d751e?api-version=2021-0

[2022-06-13 09:17] #19397 closed

[2022-06-13 09:25] myc2h6o opened #19424 "[Virtual Machine] Segments of Some ID Properties Become Upper-Case in Response"
Hi, I'm adding the support for Capacity Reservation for Virtual Machine in Terraform. While working on that, I found the CapacityReservation ID returned from service always has its Resource Group name set to upper-case. Below are the REST API request details: In the PUT request, the capacityReservationGroup id is ".../resourceGroups/**yicma**/...", but in GET response it is ".../resourceGroups/**Y

[2022-06-13 09:26] myc2h6o commented on #19424
Same thing happens for id in `Host` and `HostGroup`
https://github.com/Azure/azure-rest-api-specs/blob/c6b48ac6b32da8f18d9228a1f565880b02c5191d/specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/compute.json#L13819-L13826

[2022-06-13 15:29] garchiro7 opened #19429 "[Communication - Media composition] REST API Review"
Service Name:
Azure Communication Services - Media composition

Key contacts:
Orlando Watson: orlando.watson@microsoft.com

PR Link:
https://github.com/Azure/azure-rest-api-specs/pull/19026

Champion Scenarios:
[ACS Media Composition API Champion Scenarios.md](https://microsoft-my.sharepoint-df.com/:t:/p/orwatson/EfpiuARgufVPjZqKoj1CyqUBOvys1Ks6pnWXwVSLUA_r_g?e=y0kGKc)

[2022-06-13 17:38] czubair commented on #19235
duplicate issue

[2022-06-13 17:38] #19235 closed

[2022-06-13 18:34] #18293 closed

[2022-06-14 05:54] myc2h6o commented on #19424
There is a similar issue in VMSS #10016 but closed as Azure resources are case-insensitive. But according to the violation reference [roundtrip_inconsistent_property](https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/Semantic-and-Model-Violations-Reference.md#roundtrip_inconsistent_property) The property in GET response should match the value in the preceding PUT request.

[2022-06-14 05:59] #19344 closed

[2022-06-14 08:17] myc2h6o opened #19440 "[Virtual Machine Extension] schema for `protectedSettingsFromKeyVault` is not clear"
Hi, I'm onboarding `protectedSettingsFromKeyVault` in [Terraform](https://github.com/hashicorp/terraform-provider-azurerm), but the schema seems not quite clear to me. In the Swagger, it is a plain object without any specific properties inside it. But from the example, it seems like it's only accepting a key vault id and the secret url. Is below the only acceptable properties for `protectedSetting

[2022-06-14 21:06] markweitzel commented on #19308
## API Stewardship Board Review 14-Jun-22

The `createCallRequest` is not really an LRO, so have it return a `200` or `201`
Use a `PUT` for resource creation. This is the preferred method. The `POST` puts a tremendous amount of implementation and management onto the client. It should return the created resource.

There is a general theme to simplify the api to make a single operation for
`answer`

[2022-06-14 22:13] MatisseHack opened #19446 "No default outbound access when creating VMs"
Azure provides [default outbound access](https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/default-outbound-access) for VMs that aren't created with an IP address. However, creating a VM with default outbound access seems to require creating the network interface separately when using the Azure management APIs.

For example, this API call works:

[code]

And creating a VM that ref

[2022-06-15 09:29] neil-yechenwei opened #19453 "ResourceGuards.Patch API should be able to update vaultCriticalOperationExclusionList"
The request payload of [ResourceGuards.PUT API](https://github.com/Azure/azure-rest-api-specs/blob/aa42d66d5b919ea80c8dde04ae19d30a9c974d7d/specification/dataprotection/resource-manager/Microsoft.DataProtection/stable/2022-04-01/dataprotection.json#L2511) includes "[vaultCriticalOperationExclusionList](https://github.com/Azure/azure-rest-api-specs/blob/aa42d66d5b919ea80c8dde04ae19d30a9c974d7d/spec

[2022-06-15 16:56] jamescrowley opened #19459 "2018-07-01-preview for Microsoft.Web/connections seems to be missing?"
The 2018-07-01-preview version for Microsoft.Web/connections seems to be missing from https://github.com/Azure/azure-rest-api-specs/tree/main/specification/web/resource-manager/Microsoft.Web ?

It's documented here: https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity?tabs=consumption#multi-authentication, 2018-07-01-preview should be available as an API version for us

[2022-06-15 17:09] jamescrowley opened #19460 "2022-02-01-preview for Microsoft.MachineLearningServices/workspaces/datastores seems to be missing?"
When exporting my datastore definition from the Azure portal, I'm given a version of `2022-02-01-preview` for Microsoft.MachineLearningServices/workspaces/datastores, which includes serviceDataAccessAuthIdentity = "WorkspaceSystemAssignedIdentity" alongside being able to define a credentialsType of None. I haven't been able to map this to a previous version that has the same behaviour?

I'm using

[2022-06-15 18:42] EladGabay commented on #17218
Hello, any update here? :)

[2022-06-16 06:06] dvbb opened #19473 "[Authorization] Get direct permission via subscription"
Hi, team

Authorization has a path `/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/permissions` that is not in the swagger file, but it can be called. We have a costomer that needs this api, is there any plan to add this path?

link issue: https://github.com/Azure/azure-sdk-for-net/pull/29075#issuecomment-1149673736

[2022-06-16 08:38] XiaofeiCao opened #19477 "[network][2021-08-01], wrong api-version for vmssNetworkInterface and vmssNetworkPublicIpAddress"
In `2021-08-01`, `vmssNetworkInterface` and `vmssNetworkPublicIpAddress` in Network has api-version `2021-08-01`

https://github.com/Azure/azure-rest-api-specs/blob/b71da9841769cfdf17c43d3dc58195f1237f1bed/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/vmssNetworkInterface.json#L6

https://github.com/Azure/azure-rest-api-specs/blob/b71da9841769cfdf17c43d3dc58195f1237f1b

[2022-06-16 08:39] XiaofeiCao commented on #19477
cc @weidongxu-microsoft

[2022-06-16 09:04] pansharm-ms opened #19479 "[Purview - PDS] REST API Review"
- Service name: Purview Distribution Service (PDS)

- Key contact for the review: Pankaj Sharma (pansharm@microsoft.com)

- Whether this is a new or existing API: New API

- Whether or not your service already been deployed: Service already deployed

- A brief description of the material to be reviewed/changed:
Added the first version of the PDS API Specs.

- Important Links:
PR: https://github.co

[2022-06-16 18:06] richardcho-msft commented on #19308
We will update all our "create" endpoint to return  unified call connection object. And also update our non-LRO endpoints to return appropriate non-LRO response codes.

We would like to maintain separate endpoint for these create requests, ie. create call, answer, and join. Our reasoning is that we want the customers to think they are distinct actions being performed rather than focusing on creati

[2022-06-16 23:59] markweitzel commented on #19287
## API Stewardship Board Review 16-Jun-22

`control plane` -- this may be confusing for customers because it might be misconstrued as the ARM control-plane. If there is another reasonable choice, it would be good to consider using this.

`JSON + Merge-Patch` -- See [issu 3520](https://github.com/Azure/azure-sdk/issues/3520). Adapting their API to be more consistent with other ACS services, e.g. AC

[2022-06-17 00:54] markweitzel commented on #19403
## API Stewardship Board Review: 16-Jun-22

* `.../x509/...` -- consider making the name plural, e.g. `x509Certificates` -- this would more clearly imply a collection.
* `/enrollmentGorups/{enrollmentGroupId}/x509/primary/verify` -- we are leaving this as a `POST` action instead of our action pattern because it will be consistent with the other paths that are GA'd
* Consider using a path parameter

[2022-06-17 14:46] nostojicMs opened #19503 "[Communication Services - Sip routing] REST API Review"
Service name: Communication
Key contact for the review: Vadym Moskalenko
Whether this is a new or existing API: existing API (new version)
Whether or not your service already been deployed: Service has been deployed
A brief description of the material to be reviewed/changed: New swagger file definition to review for a new API version of PATCH /sip routing

Pull Request:
https://github.com/Azure/az

[2022-06-17 16:03] tomonion opened #19505 "firewall-policy-rule-collection-groups are not idempotent and return 'null' body to ARM/Bicep"
Hi, we are running some automation using Bicep modules to deploy a firewall policy and firewall policy rule collection groups. The initial deployment is successful, but if we rerun the deployment without making any changes we get the following error message:
[code]
When I have tested this using the https://docs.microsoft.com/en-us/rest/api/virtualnetwork/firewall-policy-rule-collection-groups/crea

[2022-06-17 17:40] gasgesgos commented on #9947
This breaks environment creation flows that use ARM templates as the function apps cannot be created automatically using ARM.

Requirements are sometimes that these values MUST be KV references, having to do one-off (non-automated) changes in secure environments can be expensive.

[2022-06-19 08:10] eissko opened #19517 "[Microsoft.SqlVirtualMachine/sqlVirtualMachines][2021-11-01-preview] wrong data in storageConfigurationSettings of SQL Virtual Machine"
**Bug**
Currently API returns **wrongly** the state of  **"Microsoft.Compute/virtualMachines/extensions"** as **"storageConfigurationSettings"** when it should return the state of storage configuration of SQL virtual machine.

Most likely the state of  "Microsoft.Compute/virtualMachines/extensions" should be return as "serverConfigurationsManagementSettings.sqlStorageUpdateSettings" as depicted be

[2022-06-19 11:06] aviramyi commented on #18865
Hi @pho-enix! Thanks for reaching out and sorry for the delay.
We appreciate your interest in the assessment platform and happy that you find the custom assessments feature useful.

Custom/self-reported sub-assessments are currently not supported, and there is no ETA for supporting this capability. Sub-assessment can benefit from some kind of resource hierarchy, which differs them from regular ass

[2022-06-19 17:25] jbizcloud commented on #14557
Hi, a friendly reminder that the documentation page is still not updated.

https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/create-or-update-host-secret

Happy to make a pull request, but I cant find the edit buttion.

[2022-06-19 17:28] allenhumphreys commented on #14557
@jbizcloud i believe the docs are generated from the open api spec. I have a PR open https://github.com/Azure/azure-rest-api-specs/pull/17653

Hopefully getting traction on it!

[2022-06-20 03:10] navba-MSFT commented on #18888
Adding Service Team to look into this issue.

[2022-06-20 03:11] tadelesh opened #19519 "Update config doc for Go SDK automation"

[2022-06-20 03:19] navba-MSFT commented on #19195
@MaryGao Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-20 08:00] tomonion commented on #19505
Apparently this is a known issue and the expected date for a fix is the 29th June. Thanks.

[2022-06-20 08:36] matsest-klp commented on #19505
Do you have any more details/reference to a message from MS on this? @tomonion

[2022-06-20 08:43] Wzb123456789 opened #19530 "Warning: Discriminator source is absent or null, use base class ResourceDetails." when iterating SecurityAssessment object"
- **Package Name**: security
- **Package Version**: 2020-01-01
- **Operating System**:Windows10
- **Python Version**: 3.8.10

**Describe the bug**

getting this warning for every iteration over SecurityAssessmentList object.
`Discriminator source is absent or null, use base class ResourceDetails.`

After investigation, it was found that the cause of this warning is in types.json:
![image](https://

[2022-06-20 08:43] Wzb123456789 commented on #19530
https://github.com/Azure/azure-sdk-for-python/issues/24815

[2022-06-20 08:49] Wzb123456789 commented on #19530
https://github.com/Azure/azure-sdk-for-python/issues/24815

[2022-06-20 15:50] Rohitrajak1807 opened #19533 "Feature Request: Executing Log Analytics Workspace Queries, via the Azure SDK"
https://github.com/Azure/azure-rest-api-specs/blob/c2d2b523575031790b8672640ea762bdf9ad4964/specification/operationalinsights/data-plane/Microsoft.OperationalInsights/stable/v1/OperationalInsights.json#L48

[2022-06-20 17:37] czubair opened #19535 "[Maps - Render & Spatial Services] REST API Review"
Service name: Azure Maps Render & Spatial Services
Key contact for the review: Gigi Grajo [gigigrajo@microsoft.com](mailto:gigigrajo@microsoft.com)
Whether this is a new or existing API: new version of an existing API
Whether or not your service already been deployed: not deployed
A brief description of the material to be reviewed/changed: New version of Render API and Spatial API in Azure Maps

[2022-06-21 04:26] navba-MSFT commented on #19267
Adding Service team to take a look into this.

[2022-06-21 05:06] Rohitrajak1807 commented on #19533
closing this issue. Will open in Azure-sdk-for-go repo

[2022-06-21 05:06] #19533 closed

[2022-06-21 06:10] xboxeer opened #19544 "[Managed Application] Missing spec for a rest api method defined in hand-written docs."
In this [document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-managed-identity#accessing-the-managed-identity-token), we have a rest API method called listTokens and this method is not defined in [managed application's swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/solutions/resource-manager/Microsoft.Solutions/stable/

[2022-06-21 06:41] sinbai opened #19546 "[Microsoft.DBforPostgreSQL/flexibleServers] Get API could not find the flexible server after recreating a server with the same name by terraform."
The latest [Get API](https://github.com/Azure/azure-rest-api-specs/blob/faf8c2cbb9581ec49f2d2c0b73afa655e3c3e8a5/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/stable/2021-06-01/postgresql.json#L204) could not find the flexible server after the Azure-Asyncoperation `status` of the created server is `Succeeded` by terraform.

Repo Steps:
1. Create a flexible server named "flexi

[2022-06-21 10:52] #19519 closed

[2022-06-21 21:01] scgbear commented on #17312
## API Stewardship Review Board 21-June-2022

## Discussion / Notes

* Nouns discussion: Clarity of the /styles operations are related to the "Azure Map Style" definition
* Map Configuration:
  * Is a long running operation because it is also loading the cached layouts whens the Map Configuration is created.
  * Currently using POST, recommendation to use a PUT to ensure end point is idempotent.

[2022-06-21 21:28] brownz11 commented on #11085
Year+ later and this is blocking adoption of Microsoft Sentinel. Since we can't apply the Diagnostic Settings on our customers Azure AD environments to send data to Sentinel, we can't use Sentinel for Azure AD without extra work.

[2022-06-22 16:43] markweitzel commented on #19320
## API Stewardship Board Review: 22-Jun-22

* Recommendation: Make this a preview

* Make the search results pageable using `nextLink`. See: [Collections](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#collections)

## References
[Meeting Chat]()
[Meeting Recording]()
[Design Document](https://microsofteur-my.sharepoint.com/:p:/g/personal/gregoks_microsoft_com/EUyzrhpvb

[2022-06-23 06:12] #19195 closed

[2022-06-23 09:03] navba-MSFT commented on #19196
@MaryGao Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-23 18:40] heaths opened #19571 "CLU SDK missing polymorphic input documentation for `ConversationItemBase`"
Related to Azure/azure-sdk-for-net#29443, I noticed that there are models missing the `discriminator` and [`x-ms-discriminator-value`](https://github.com/Azure/autorest/tree/main/docs/extensions#x-ms-discriminator-value) across 2022-05-01 APIs, including:

* [analyzeconversation.json](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/725f4ca360426a32d20e81eb945065e62c285d6a/specificatio

[2022-06-23 19:40] boylec commented on #8198
This still doesn't work for me (using "lastMergeCommit" type and the correct commit id.

[2022-06-23 22:41] markweitzel commented on #19370
## API Stewardship Board Review: 23-Jun-22

### Discussion / Notes

### Actions

## References
[Meeting Chat]()
[Meeting Recording]()

### Helpful Documentation
* [Azure API REST Documentation](https://aka.ms/azapi/specs)
* [Considerations for Service Design](ConsiderationsForServiceDesign.md)
* [REST API Guidelines](Guidelines.md)
* [OpenAPI Style Guidelines](https://github.com/Azure/azure-api-st

[2022-06-23 23:14] #19403 closed

[2022-06-24 09:18] navba-MSFT commented on #19196
@MaryGao Since there are a few breaking changes with this, I am involving the Service Team to take a look at the feasibility of this changes.

[2022-06-26 06:01] abatishchev commented on #19459
+1.
Same problem with `Microsoft.Web/connections/accessPolicies` resource type which is neither documented, nor spec'ed.
I've reached out to the owning team internally.

[2022-06-27 01:57] JackTn commented on #19319
@strefethen  is this your want https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/Getting%20started%20with%20OpenAPI%20specifications.md

[2022-06-27 06:55] neil-yechenwei opened #19603 "OperationalInsights.QueryPacks API returns 201 but it's not defined in the Swagger"
While creating the query pack resource, we found that the API's returning a 201 but it's not defined in the Swagger: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2019-09-01/QueryPacks.json#L220-L225. Seems it's a bug in the Swagger. So could you help take a look this issue? Thanks in advance.

[2022-06-27 07:22] pho-enix commented on #18865
@aviramyi many thanks for your reply. Looking forward for further news about this :)

[2022-06-27 09:06] sinbai opened #19606 "[keyvault] bypass is set to AzureServices but returns None when creating a soft deleted key vault"
The value of  `bypass` is set to `AzureServices` but returns `None` when creating a soft deleted key vault by [create API ](https://github.com/Azure/azure-rest-api-specs/blob/132c5d1c4e97ce56601d6f50143d52e653e35bff/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2021-10-01/keyvault.json#L18).

Repro Steps:
1. Create a keyvault with the following request body by create api:
[code

[2022-06-27 14:55] RDukes425 commented on #18857
Per Issue: https://github.com/Azure/azure-sdk-for-python/issues/24961 this needs to be owned by the Service itself. The attempt is to execute a list operation for a Log Analytics Workspace by Resource ID

[2022-06-28 15:06] p4ranoidandro1d commented on #18601
Hi,

Not sure, but I guess that also breaks compliance evaluations for builtin policies :
https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/Machine%20Learning/Workspace_PublicNetworkAccessDisabled_Audit.json

![image](https://user-images.githubusercontent.com/28117379/176212890-902b53ea-3ecd-4fe1-9ac0-04d6fe9c2b35.png)

2018-11-19:
`        "allowPublicAccessWhe

[2022-06-28 17:25] Drewm3 commented on #19517
Updated the label to direct this to the SQL VM team.

[2022-06-28 17:33] Drewm3 commented on #19440
It does look like this is a bug in the swagger, at least on first inspection. @sandeepraichura, could you look into this with the VM Extensions dev team to confirm that this is actually a swagger bug, and work to get the bug fixed in an upcoming swagger update.

[2022-06-28 17:39] Drewm3 commented on #19440
Correcting this to actually @MsGabsta who is the right owner. (Sorry Gabby)

[2022-06-28 17:57] MsGabsta commented on #19440
@Drewm3, I will look into this with the VM Extensions Dev Team.

[2022-06-28 20:04] willdavsmith opened #19626 "[Documentation] armresources.DeploymentProperties.Template comment allows JSON string"
DeploymentProperties.Template comment says that it allows a JSON string to be passed, but only a JSON object is supported in calls to PUT /deployments.

https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armresources#DeploymentProperties
https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-10-01/resources?utm_source=gopls#DeploymentPrope

[2022-06-28 20:09] anthony-c-martin commented on #19626
Offending descriptions ("It can be a JObject or a well formed JSON string."):
* https://github.com/Azure/azure-rest-api-specs/blob/23b8c3e5ecc0a90bc89f93517d7f45ca0b6881d5/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L4564
* https://github.com/Azure/azure-rest-api-specs/blob/23b8c3e5ecc0a90bc89f93517d7f45ca0b6881d5/specification/resources/resource-m

[2022-06-29 06:27] neil-yechenwei opened #19628 "Mysql Flexible Server.Get API doesn't return the PrivateDNSZoneResourceID property after failover"
After tested, we found Mysql Flexible Server.Get API doesn't return the PrivateDNSZoneResourceID property after failover. So could you help take a look? Thanks in advance.

[2022-06-29 07:40] qiaozha commented on #19197
@navba-MSFT The reason I added CXP Atthention is because there's no body response when we add service attention label for this appservice team.

[2022-06-29 08:17] navba-MSFT commented on #19197
@qiaozha I will check with Service Team for the right owners and tag them here.

[2022-06-29 09:49] #18792 closed

[2022-06-29 22:53] RDukes425 commented on #18857
Hello All, Can I please get assistance in getting this in front of the appropriate parties to Resolve? Thank you in Advance as the support case for this issue has been open for 60 days.

Yes, the customer can work-around by specifying another API version, but should they have to if a Default API version is specified and not showing as supported?

Thank you in Advance

[2022-06-30 14:11] navba-MSFT commented on #19197
@MaryGao @qiaozha @bwateratmsft I have looped you in an internal email thread with Service team. That email has the next action plan that you can follow to make some progress on this.

[2022-06-30 20:14] nturinski commented on #19196
As per the original [issue](https://github.com/Azure/azure-sdk-for-js/issues/21101), this also applies to some delete methods in the `arm-appcontainers` SDK.  That includes:

`managedEnvironments.beginDeleteAndWait`
`containerApps.beginDeleteAndWait`

[2022-06-30 20:34] jaylabell commented on #19424
@Drewm3 can you please take a look at this issue?

[2022-06-30 23:15] markweitzel commented on #19308
## API Stewardship Board Review: 30-Jun-22

Yes. This is OK. (@JeffreyRichter to add detail)

Yes. This is OK. (@JeffreyRichter to add detail)

* `transferToParticipant` -- Add `Operation-Location` header
* `{callConnectionId}/participants` return an object, not an array. This will allow you flexibility in the future.

* Where possible, **declare** your collections to be pageable. This will avoid

[2022-07-01 02:55] magodo opened #19645 "Kusto Cluster API silently changes the specified `zones` during creation"
The Kusto Cluster API silently changes the specified `zones` during creation, which happens systematically, at least for version 2021-08-27.

## Example

x-ms-correlation-request-id:    e1138e9e-b71d-0ab8-14b7-3b24eea44813
x-ms-request-id:                a4ea9cf3-a428-4fe9-b47b-40f565140bb2

The create request & response

[code]

Then after waiting the LRO to finish and call a GET on it:

[code]

[2022-07-01 05:15] navba-MSFT commented on #19198
Removing CXP attention. Service team has been involved already.

[2022-07-01 06:48] navba-MSFT commented on #19199
@AbhishekPanakanti Apologies for the late reply. Thanks for reaching out to us and reporting this issue.

1. 502 Bad Gateway is a generic error. Please share the detailed error message here. This will help us to isolate the issue.
2. Sharing a [forum thread](https://docs.microsoft.com/en-us/answers/questions/764614/logic-app-ssh-sftp-connector-bad-gateway-500.html) where similar issue was reported

[2022-07-04 03:04] navba-MSFT commented on #19199
@AbhishekPanakanti I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-04 04:46] navba-MSFT commented on #18857
Service team has already been involved. So removing the CXP attention label.

@maertendMSFT Could you please look into this ask and provide an update ?

[2022-07-04 08:12] digitalkram opened #19664 "RecoveryServices/backupProtectedItems endpoint -> $filter on friendlyName is broken"
Hello,

Using ``$filter`` on ``friendlyName`` on ``backupProtectedItems`` (https://docs.microsoft.com/en-us/rest/api/backup/backup-protected-items/list) always returns **all** ``backupProtectedItems`` independent of the filter configured.

**How to reproduce**

Fire a GET towards
``https://management.azure.com/subscriptions/${SUBSCRIPTION}/resourceGroups/${RGNAME}/providers/Microsoft.RecoveryServi

[2022-07-04 09:25] fengzhou-msft opened #19666 "[Compute/CloudService] The property name returned by service is `frontendIpConfigurations`, but it's defined as `frontendIPConfigurations`"
The property name returned by service is `frontendIpConfigurations` (lower case p in Ip), but it's defined as [frontendIPConfigurations](https://github.com/Azure/azure-rest-api-specs/blob/ac40996ab146d1360a4783665bb6c0b13f345aec/specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/cloudService.json#L2104) in swagger. Service team needs to fix swagger definition.

_Originally

[2022-07-04 23:12] Drewm3 commented on #19666
I am working with the dev owner of CloudServices to get the swagger file updated.

[2022-07-05 12:51] ParthaI commented on #18394
Hi, does Azure SDK support the version `2021-05-01-preview` yet?

[2022-07-05 20:59] markweitzel commented on #19429
## API Stewardship Board Review: 5-Jul-22

* `PUT` & `PATCH` -- `PATCH` is more version resilient, and it's recommended to use `PATCH`.
* If you provide a `kind`, then use that to be explicit. Do not rely on inferencing.
  * If `kind` is a discriminator, then this will be required in Open API. See: [fixed field](https://swagger.io/specification/v2/#fixed-fields-13 says the discriminator must be re

[2022-07-05 22:22] #19228 closed

[2022-07-06 06:42] MaryGao commented on #19196
@nturinski Could you create an issue for the package `arm-appcontainers` considering they are different packages so we could better track their status?

[2022-07-06 07:06] myc2h6o opened #19686 "Failed to delete Gallery Application when Gallery Application Version was just deleted"
Hi team, when using Go SDK or REST API to delete Gallery Application Version and Gallery Application, it requires an extra wait before deleting the Gallery Application when a Version was just deleted (about 20 seconds). After deleting the version, the GET API already returns 404, but within the first couple of seconds, the Gallery Application still thinks it has the nested Version thus the DELETE

[2022-07-06 18:05] markweitzel opened #19690 "[Maps - Wayfinder] API Review"
Service Name: Azure Maps Wayfinder Service

Key contact for the review: Xubin Zhuge(@xubin Zhuge) / James Jonghan Park(@james Jonghan Park)

[2022-07-07 00:54] yang-hai-feng opened #19694 "[IoT Central] REST API Review (2022-07-31)"
Service name
IoT Central

Key contact for the review
[hayang@microsoft.com](mailto:hayang@microsoft.com), [Avneet.Singh@microsoft.com](mailto:Avneet.Singh@microsoft.com)

Whether this is a new or existing API
Existing API

Whether or not your service already been deployed
No, TBD by end of July

A brief description of the material to be reviewed/changed:

Add Enrollment Group support
Add Scheduled

[2022-07-07 01:37] fengzhou-msft opened #19695 "[CosmosDB] analyticalStorageTtl is an invalid property in service version 2022-05-15"
[analyticalStorageTtl](https://github.com/Azure/azure-rest-api-specs/blob/bab2f4389eb5ca73cdf366ec0a4af3f3eb6e1f6d/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/cosmos-db.json#L7863-L7867) in defined in swagger, but when sending a request to the service with the property set, an error is thrown:
`Azure.RequestFailedException : Message: {"code":"BadRequest","messag

[2022-07-07 03:30] tadelesh opened #19696 "Add doc for how to use auto-generated sdk package to do the test"
1. require from another project to do the test
2. add test code inside the sdk package

[2022-07-07 04:22] navba-MSFT commented on #19199
@AbhishekPanakanti The action is currently pending on you to check the above suggestions and let us know if you still see the same issue. Please feel free to reopen this thread if you need any further assistance on this.

[2022-07-07 04:22] #19199 closed

[2022-07-07 18:44] davsta90 commented on #19690
for Azure Maps Wayfinder Service the key contact is David Stanchi (@davsta90 or davsta@microsoft.com).
The system does not support attaching html or vsdx files: please use the sharepoint link provided in email to review them

[2022-07-07 18:49] davsta90 commented on #19690
![Creator_visio1](https://user-images.githubusercontent.com/88048110/177848719-0a69ef0d-19b8-42ea-8a36-e47a0e229546.jpg)
![Creator_visio2](https://user-images.githubusercontent.com/88048110/177848759-71d4ec31-b7b3-44f3-a3bc-ce377988129d.jpg)

[2022-07-07 23:29] markweitzel commented on #19535
## API Stewardship Board Review: 7-Jul-22

* Pick an api version date that is earlier in time and closer to when this will be released.
* For `hostTemplate` -- make this entire string variable. This enables the user to provide the entire endpoint, this will provide more flexibility, esp. when generating downstream client libraries.

### Refrences
[Meeting Chat]()
[Meeting Recording]()

[2022-07-08 06:20] alexwiese opened #19711 "APIM Custom Properties for TripleDes is incorrect"
https://github.com/Azure/azure-rest-api-specs/blob/64496bd64b0376dc4b45e3193a39f7bcdd4b28da/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2021-08-01/apimdeployment.json#L1355

[code]

This is not correct, when you disable 3DES in APIM the custom property that gets updated is called `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TLS_RSA_WITH_3DES_EDE_CB

[2022-07-08 22:46] dlepow commented on #8019
Closing - no action

[2022-07-08 22:46] #8019 closed

[2022-07-11 08:27] magodo commented on #17007
I noticed the `signedIdentifiers` is added in API version 2021-09-01, but not for the version before, e.g. 2021-04-01, 2021-06-01. This casues the clients using those versions still blocked.

Ping @leni-msft...

[2022-07-11 20:18] arash-malekzad commented on #19181
@RakeshMohanMSFT
Any update on this? Causing an issue for us as well

[2022-07-12 08:15] tombuildsstuff opened #19744 "[EventHub] Swagger doesn't match the API"
* Service: `EventHub`
* API Version: `2021-11-01`
* File: `SchemaRegistry.json`
* Field: https://github.com/Azure/azure-rest-api-specs/blob/fbb4e2c74897a67a75116d2a3157bd146262def4/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2021-11-01/SchemaRegistry.json#L255-L261

This field implies a `map[string]string` (or `Dictionary<string, string>`, depending on your language of choice

[2022-07-12 10:08] lapwingcloud opened #19745 "Support SameZone in HighAvailability field in postgres flexible server api"
I found it not possible to specify `SameZone` for postgresql in the terraform azure provider https://github.com/hashicorp/terraform-provider-azurerm/issues/17593

and they mentioned it's because it hasn't been implemented in the stable version of the api spec https://github.com/Azure/azure-rest-api-specs/blob/16529f1d2f62357a57100a66011c271005989ba1/specification/postgresql/resource-manager/Micros

[2022-07-12 20:30] markweitzel commented on #17312
## API Stewardship Review: 6-Jul-22

`POST` -- Add examples in the `description` of what are valid strings.
`GET` The format in the StyleListItem should use the datetime specification. This should not be just a String.
* See https://swagger.io/specification/v2/#data-types and our extensions at https://github.com/Azure/autorest/blob/4c6ff7470011620fc5e444f7f6a9fc59cf7dd7d3/packages/libs/openapi/src

[2022-07-13 00:29] rcoleobrien commented on #18550
Could we maybe change the instructions to show that we have to source from the root directory in the CI check instructions? I've seen this exact question pop up multiple times

[2022-07-13 09:49] philipp-sontag-by opened #19758 "[Eventhub Namespaces] 'kafka_enabled' parameter is ignored by API"
I originally created an issue for this at https://github.com/Azure/azure-sdk-for-python/issues/25162 but they told me that it is a service issue.

- **Package Name**: azure-mgmt-eventhub==10.1.0
- **Package Version**: 10.1.0
- **Operating System**: Debian bullseye
- **Python Version**: 3.10

**Describe the bug**
Trying to create an Eventhub Namespace with `kafka_enabled=False` creates an Eventhub

[2022-07-13 10:07] XiaofeiCao opened #19760 "[AppService]Kudu Jar deploy in windows container failed"
Kudu jar deploy with parameters `restart=true&isAsync=true&trackDeploymentProgress=true` in windows container will suspend for quite some time and finally fail with deploymentStatus `RuntimeFailed`.

Meanwhile, getting deployment status via `/Microsoft.Web/sites/{appName}/deploymentStatus` returns:
[code]
Notice the `numberOfInstancesInProgress` is 0, seems no deployment is being carried out.

Sam

[2022-07-13 10:08] XiaofeiCao commented on #19760
cc @Flanker32 @weidongxu-microsoft

[2022-07-13 13:46] markweitzel opened #19762 "[Cognitive - Language - Conversational SA (runtime)] API Async Update"
* Service name: Cognitive Service
* Key contact for the review: Ranran Wang ([rawan@microsoft.com](mailto:rawan@microsoft.com)) , Kevin Endres ([keendres@microsoft.com](mailto:keendres@microsoft.com))
* Whether this is a new or existing API: Existing API
* Whether or not your service already been deployed: It has deployed
* A brief description of the material to be reviewed/changed : The changes r

[2022-07-14 21:02] richardcho-msft commented on #19308
@[markweitzel](https://github.com/markweitzel) Addressed the following points:
- Updated {callConnectionId}/participants to return an object
- Updated {callConnectionId}/participants to be pageable
- Removed /operations endpoints
- Converted `POST` .../participants:get to `GET` .../participants/{participantMri}
- Did not add Operation-Location header to transferToParticipant as it no longer is con

[2022-07-15 07:21] ms-zhenhua opened #19784 "[Network Application Gateway] `loadDistributionPolicies` cannot be set by default"
When creating a new Application Gateway with [loadDistributionPolicies](https://github.com/Azure/azure-rest-api-specs/blob/c03c258c7a01a7d57b3110cc20e2e76752b6f2d6/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/applicationGateway.json#L3177), I got the following error.
Since this property is already used in [the example of MS-DOC](https://docs.microsoft.com/en-us/rest/a

[2022-07-15 07:32] magodo opened #19785 "Storage: After recreating a storage account with the same name, the data plane API will not work"
## Steps to reproduce

Delete an existing storage account:

[code]

Create the same named storage account:

[code]

Poll until the LRO finishes:

[code]

Access the data plane API:

[code]

Same for the blob:

[code]

[2022-07-15 08:14] #18550 closed

[2022-07-18 14:54] MsGabsta commented on #19440
@myc2h6o thank you for opening this issue, it is indeed a bug.  We are working on fixing this, no eta currently.

[2022-07-18 16:39] JeffreyRichter commented on #19429
First, let's imagine the service returns the current string back to client code. How is a customer supposed to parse this string and make sense of it? We want this to be easy and not error-prone for customers.

So, I suggest a modeled-as-string enum for units: "pixels" or "percent" and a number representing the value.

[2022-07-18 18:01] markweitzel opened #19807 "[Purview - API Scanning] API Review 2022-07-02-preview"
[Purview - API Scanning] API Review

PR #19797
Planning on reservice this time slot.
I will send a meeting invite to azureapirbcore and azure-restapi-int if you don’t see any issues with the time slots.
Other information regarding the PR/Service
- Service name: Purview-Scanning
- Key Contact(s): @Phani Kumar Vadali, @Cala Zubair
- New or Existing API: New API endpoints to an existing service
- Dep

[2022-07-19 04:48] dgancho commented on #18106
Can we expect a resolution in the foreseen future?

[2022-07-19 06:34] dvbb opened #19824 "[IotHub] The actual return value of the delete operation is not consistent with Swagger"
#### Delete a privateEndpointConnections

In the definition of [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/iothub.json#L2007), it should return `"#/definitions/PrivateEndpointConnection"`  when the status code is 200 or 202, but it actually returns
[code]
[code]

#### Delete an IotHub

In the definition

[2022-07-19 06:47] dvbb opened #19827 "[IotHub] When list privatelinkresources its return value is not consistent with Swagger"
When I try to list privateLinkResources, according to the definition of [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/iothub/resource-manager/Microsoft.Devices/stable/2021-07-02/iothub.json#L1762) it should return a list directly, but what it actually returns is
[code]

It should not be additionally encapsulated in a Value:[]

[2022-07-19 10:24] Frey-Wang commented on #19124
Hi @azure-walker, I'm still confused here. Is the question related to swagger, ADF SDK, or ADF product?

[2022-07-19 23:02] azure-sdk opened #19843 "Informational Meeting - Tracking Application Gateway"

[2022-07-20 00:26] azure-sdk opened #19847 "Informational Meeting - Tracking 1ES Resource Management"

[2022-07-20 05:54] MaryGao commented on #19196
@nturinski Could you suggest why you add the two deletion operations again?

After checking the original [issue](https://github.com/Azure/azure-sdk-for-js/issues/21101#issuecomment-1098293940), I think we have an agreement that there is no change for `containerApps.beginDeleteAndWait` and  the below description is expected behavior:
- For the operation containerApps.beginDeleteAndWait, it will ret

[2022-07-20 05:55] MaryGao commented on #19196
@navba-MSFT  Any update for this thread?

[2022-07-20 05:58] navba-MSFT commented on #19196
@MaryGao I have tagged the Service team on this issue. So it is waiting on them as of now.

[2022-07-20 14:31] coolhome commented on #18106
A workaround was provided in the Bicep project - https://github.com/Azure/bicep/issues/5223 - I personally just ran into this issue. It is confusing and I'm not sure if I fully understand. From an API standpoint the validator makes no sense and is very misleading.

In bicep we have to do something like this now:
[code]

Instead of:
[code]

[2022-07-20 16:50] markweitzel commented on #19694
## API Stewardship Board Review: 20-Jul-22

* There are a number of uses of the `$top` and in general prefixes using `$`.
  * We discourage the use of `$` specifically to indicate that this is not OData (which we don't use in Azure)
    * For preview, it is acceptable to accept `$`, but not document this.
    * For GA, the `$` should be removed.
  * There are 3 list operations that use `$top` -- t

[2022-07-21 06:29] #19535 closed

[2022-07-21 07:15] fengzhou-msft opened #19868 "Add description for DataMaskingFunction option CCN"
What is the full name of CCN in https://github.com/Azure/azure-rest-api-specs/blob/7a33b79a30a2778e4e051708b921b0b46cfe64c8/specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/DataMaskingRules.json#L259

Can we add description for the enum values so ms doc can show it: https://docs.microsoft.com/en-us/rest/api/sql/2014-04-01/data-masking-rules/create-or-update?tabs=HTTP#dat

[2022-07-21 19:27] TravisCragg-MSFT commented on #18767
@myc2h6o Have you tried doing the same via PowerShell or CLI to see if the behavior is the same?

[2022-07-21 19:56] #14459 closed

[2022-07-22 02:07] myc2h6o commented on #18767
@TravisCragg-MSFT I haven't tried PowerShell or CLI, I only tried REST API.

[2022-07-22 15:55] yang-hai-feng commented on #19694
@markweitzel , Hi Mark, we removed $top, $orderby, $filter from July GA, will revise in a new preview version to align with Azure API Guidance for paging, fixed other comments provided by Mike, please help to review it, as discussed during review meeting, the only break changes are 3 existed integer fields adding a format:'int32', as it is by default treated as int32, this suppose no break.  Thank

[2022-07-24 16:00] slahabar opened #19914 "[Cognitive Services - Personalizer] API Review 2022-09-01-preview"
[swagger pr](https://github.com/Azure/azure-rest-api-specs/pull/19912)
**Service name:** Personalizer
**Key contact:** lamadh@microsoft.com
**Is this new or existing api?:** This version update introduces a new api set and modifies an existing api set.
Feature importance - We are introducing new api set (get, post, get list, delete) for this feature.
Evaluations - The api sets already exist in pro

[2022-07-25 10:57] Nikolajls commented on #9768
Ping pong as somebody else mentioned this is blocking at least Terraform still..

[2022-07-25 19:17] jessicawrr commented on #19762
Key scenarios:
Post conversation/call analytics for contact center supervisors to identify agent coaching opportunities through sentiment insights, including Turn by turn sentiment to enable the visualization of sentiment trending over conversations

Design Doc: https://microsoft.sharepoint-df.com/:w:/r/teams/LanguageCustomization/_layouts/15/doc2.aspx?sourcedoc=%7B08AF0E0D-E55C-4D20-B9D4-CC3E3C3B

[2022-07-25 22:14] mojanas commented on #18845
Hey all - author of the terraform issue above here - I believe this issue is now resolved in terraform but is still present for those using Bicep. Any update on fixing the bug at the service level? This is blocking the creation of tables (via the scripts) for multiple databases on the same cluster.

[2022-07-25 23:56] dgokeeffe commented on #9768
Indeed, just got this today!

[2022-07-26 03:25] #19696 closed

[2022-07-26 06:31] #19784 closed

[2022-07-26 07:04] liuwuliuyun opened #19947 "Batch - Pool Get startTask.resourceFiles.identityReference.resourceId failed"
The get method could get startTask.resourceFiles.identityReference.resourceId by the [swagger github page](https://github.com/Azure/azure-rest-api-specs/blob/8c78db058eb581e28976d2f71626a7beb8c4d195/specification/batch/resource-manager/Microsoft.Batch/stable/2022-01-01/BatchManagement.json) and [doc page](https://docs.microsoft.com/en-us/rest/api/batchmanagement/pool/get?tabs=HTTP#computenodeident

[2022-07-26 07:05] liuwuliuyun commented on #19947
This property does not marked as secret nor maked as write-only

[2022-07-26 07:06] liuwuliuyun commented on #19947
So, I'd like to know is this property secret or write-only? Or is it a service API bug? Thanks in advance.

[2022-07-26 15:37] markweitzel commented on #19914
## API Stewardship Board Review: 26-Jul-22

### Versioning
* Move to date based approach.

### `POST`
* The GA version 1.0 --
  * `POST` in GA is not idempotent

* Model `/featureImportances/{id}` as a `PUT`
  *  You can get the status of the job.
  *  You can poll on the `GET`
  *  The `id` is the equivalent of the `name` -- it's the customer provided value.
  *  This is case sensitive and should

[2022-07-26 18:53] an-johri commented on #19784
LoadDisctibutionPolicy (LDP) feature of ApplicationGateway is not publicly available as of now. At this point of time, this feature can only be used by subscriptions which are registered for this feature. Subscription used in this case is not registered for this feature and therefore, getting this error.

[2022-07-26 20:46] mikekistler commented on #19762
Notes from API review meeting, 7/26/2022:

- Need to work out the api versioning mechanics. Heath to provide guidance to the team.
- Lots of discussion on "mixed" confidence scores. RanRan to add examples to clarify the service behavior.
- Should sentence returns be required or optional?
- Should the concept of sentences be used or should be it "turns"?
- Is the `showStats` parameter really suppor

[2022-07-27 05:46] liuwuliuyun commented on #19947
Close this since it has been resolved.

[2022-07-27 05:46] #19947 closed

[2022-07-28 00:23] garchiro7 opened #19989 "[Communication Services - Recognize DTMF / Media Streaming] REST API Review"
Service name: ACS Server Calling
Key contact for this review: fmorales@
Link to previous API version: N/A
Description of the material to be reviewed/changed: C#/Java SDK operations for Recognize DTMF and Media Streaming.
Link to swagger: To be added
Champion scenarios that briefly explain how developers will use your API:
Recognize: Contoso app can configure recognition of DTMF (dual-tone multiple

[2022-07-28 01:29] koudaiii commented on #19319
Recently I found the link, So I sent Pull Request ref #19880
![image](https://user-images.githubusercontent.com/2929102/181400697-8660dd2c-a8f6-4ff3-9764-e1178c6289b3.png)

[2022-07-28 08:47] JackTn commented on #19319
@strefethen i saw this link is correct. Can you confirm it and close this issue?

[2022-07-28 14:11] #19319 closed

[2022-07-28 21:55] jessicawrr commented on #19762
I've addressed all issues assign to me in the meeting notes. Below are the details:

- Lots of discussion on "mixed" confidence scores. RanRan to add examples to clarify the service behavior.
**[RR]** Example has been added and PR has updated
- Should sentence returns be required or optional?
- Should the concept of sentences be used or should be it "turns"?
**[RR]** Above 2 are related to each ot

[2022-07-29 20:44] heaths opened #20024 "Cognitive Language Services defines `HealthcareEntityCategory` with SCREAMING_SNAKE_CASE but actually returns PascalCase"
In the [2022-05-01](https://github.com/Azure/azure-rest-api-specs/blob/eeb2cff50119cfa7b724ac63c768d637ec01827a/specification/cognitiveservices/data-plane/Language/stable/2022-05-01/analyzetext.json#L834) swagger `HealthcareEntityCategory` is defined with SCREAMING_SNAKE_CASE values like `MEDICATION_NAME` but the service returns PascalCase values like `MedicationName`, at least from batch operatio

[2022-07-29 20:44] heaths commented on #20024
/cc @johanste

[2022-08-01 07:10] arpitmishra-eaton opened #20034 "Unable to import functionapp api to APIM"
i'm trying to import the function app api to apim with below command and getting 401 error.

Import-AzApiManagementApi -Context $context -SpecificationUrl https://publiclyaccessibleurl.com/test/items -SpecificationFormat OpenApi -Path deployCD

Response status code does not indicate success: 401 (Access
Denied).., Target= representation]
At line:1 char:1

Import-AzApiManagementApi -Context $contex

[2022-08-01 09:51] ruowan opened #20038 "Test fabric bot"

[2022-08-01 09:51] #20038 closed

[2022-08-01 16:21] garchiro7 opened #20040 "[Communication Services - Skype token custom expiration time] REST API Review"
Service name: ACS Auth
Key contact for this review: [@Cezara Mateiasi](https://skype.visualstudio.com/SPOOL/_queries/edit/2876236/?triage=true#)
Link to previous API version:
2022-10-01 https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/specification/communication/data-plane/Identity/stable/2022-10-01/CommunicationIdentity.json
Description of the material to be reviewed/changed:
Add

[2022-08-01 18:08] tombuildsstuff commented on #19098
This is still waiting on a response from the ARM Team imo

[2022-08-01 18:49] Bashar-MSFT commented on #19628
please assign this to @SudheeshGH, Sudheesh this is in your charter right?

[2022-08-01 18:54] SudheeshGH commented on #19628
@Bashar-MSFT , Networking and Security should be assigned to @vivgk

[2022-08-01 18:55] Bashar-MSFT commented on #19628
@neil-yechenwei please assign this to @vivgk

[2022-08-01 23:12] peytonfraser opened #20051 "[Cognitive Services - Language - Text API] <2022-10-01-preview>"
Service name: Azure Cognitive Service for Language
Key contact for the review:

- Model-Version fallback strategy override - Mikael Sitruk <mikael.sitruk@microsoft.com>
- LD Script Detection - Parag Agrawal <paragag@microsoft.com>
- LD runner up languages - DRI TBD
- [CT] OOS - Nourhan Farid <nourhanfarid@microsoft.com>
- KPE update (minor, position and importance ranking - maxKPE) - Yash Oswal <Y

[2022-08-01 23:14] peytonfraser commented on #20051
Please include me Peyton Fraser <peytonfraser@microsoft.com> in the meeting invite. Thanks!

[2022-08-01 23:26] peytonfraser opened #20052 "[Cognitive Services - Language - Conversation API + Question Answering API] <2022-10-01-preview>"
Service name: Azure Cognitive Service for Language
Key contacts for the review:
- PM: Peyton Fraser <peytonfraser@microsoft.com>
- Conversational Engineering Lead: Matthew Hurst <mhurst@microsoft.com>
- API contract change to support deprecation message as warning Lakshmanan Ramu Meenal <Lakshmanan.Ramu@microsoft.com>
- [CLU] Introduce REGEX in AnalyzeConversations ExtraData Ahmed Ashour <Ahmed.As

[2022-08-01 23:40] peytonfraser opened #20053 "[Cognitive Services - Language - Authoring API] <2022-10-01-preview>"
Service name: Azure Cognitive Service for Language
Key contacts for the review:
- PM: Peyton Fraser <peytonfraser@microsoft.com>
- Authoring Engineering Lead: Hadeer Magdy <hadeermagdy@microsoft.com>
- [CT] Custom Summarization: Amir George <amgeo@microsoft.com>
- [CT] OOS Amir George <amgeo@microsoft.com>
- [QnA] CQA Project Versioning Victor Das <victorda@microsoft.com>
- [CLU] Versioning Amir G

[2022-08-02 05:59] Drewm3 commented on #19424
This is by design within microsoft.compute. According to the architect this response is valid within the ARM spec. However, I will investigate to see if this can be modified as a feature request even though it is not technically a bug.

[2022-08-02 06:01] Drewm3 commented on #19666
This will need to be changed under an upcoming version header because changing the casing in a released version header is considered a breaking change.

[2022-08-02 13:22] cataggar opened #20067 "duplicate `operationId`s in Microsoft.Sql 2022-02-01-preview"
An operation named `DatabaseSqlVulnerabilityAssessmentBaselines_CreateOrUpdate` is defined twice in the same spec. The `operationId`s need to be unique. From PR #19820.

specification\sql\resource-manager\Microsoft.Sql\preview\2022-02-01-preview\

![image](https://user-images.githubusercontent.com/87583576/182384429-46b0a1f2-39c0-4f6e-b47f-02aa627949fe.png)

[2022-08-02 15:15] markweitzel opened #20068 "[Maps - RevGeoCoding] Add version preview/2022-09-01-preview"
API Review Board infomation
•	Service name: Azure Map RevGC API
•	Key contact for the review: John Lai, tingchiehlai@microsoft.com
•	Whether this is a new or existing API: New API
•	Whether or not your service already been deployed: No
•	A brief description of the material to be reviewed/changed: Add Reversed API in public-preview geocoding API
•	Link: [[Hub Generated] Review request for Search to

[2022-08-02 15:38] #19694 closed

[2022-08-02 17:08] azure-sdk opened #20073 "Informational Meeting - Tracking Cognitive Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Peyton Fraser.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Cognitive Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="https:

[2022-08-02 17:28] azure-sdk opened #20074 "Informational Meeting - Tracking Cognitive Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Peyton Fraser.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Cognitive Services Service.</div>
<div>&nbsp;</div>

[2022-08-02 17:30] azure-sdk opened #20075 "Informational Meeting - Tracking Cognitive Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Peyton Fraser.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Cognitive Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="https:

[2022-08-02 23:49] dpokluda opened #20082 "[IoT - Device Update] 2022-10-01 GA release"
- Service name: Device Update
- Key contact for the review: David Pokluda (dpokluda)
- New or existing API: new service version of the existing service
- Has been deployed: this new service version is already deployed but not visible/used by any customer
- What to review:
  - filter added to DeviceManagement.ListDeviceClasses method and removed from DeviceManagement.ListBestUpdatesForGroup method;

[2022-08-03 00:03] #19287 closed

[2022-08-03 02:37] ms-henglu opened #20085 "Microsoft.Automation/automationAccounts/sourceControls/sourceControlSyncJobs@2020-01-13-preview - LRO Invalid Terminal State"
## Microsoft.Automation/automationAccounts/sourceControls/sourceControlSyncJobs@2020-01-13-preview - LRO Invalid Terminal State

### Description

In its polling response, the final provisionState is `Completed` which is not a valid terminal state.

refs: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#provisioningstate-property

[code]

### Details

1. A

[2022-08-03 16:58] azure-sdk opened #20093 "Informational Meeting - Tracking Azure Communication Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Jorge Garcia Hirota.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Azure Communication Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp

[2022-08-03 17:02] azure-sdk opened #20094 "Informational Meeting - Tracking Azure Communication Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Jorge Garcia Hirota.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Azure Communication Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp

[2022-08-03 17:03] garchiro7 commented on #20093
https://github.com/Azure/azure-rest-api-specs/issues/20040

[2022-08-03 17:03] garchiro7 commented on #20040
https://github.com/Azure/azure-rest-api-specs/issues/20093

[2022-08-03 17:06] garchiro7 commented on #19989
https://github.com/Azure/azure-rest-api-specs/issues/20094

[2022-08-03 17:06] garchiro7 commented on #20094
https://github.com/Azure/azure-rest-api-specs/issues/19989

[2022-08-03 17:35] markweitzel opened #20095 "[Maps - Creator] 2022-09-01-preview"

[2022-08-03 19:10] #19914 closed

[2022-08-03 20:27] subbarayudukamma commented on #20095
### Breaking Change Question 1 of 2

There are two issues associated with the PR linked. These are related to the Dataset service's Create and Get/List API.

1. ConversionId parameter will now be single valued and optional parameter : In the V2 doc, we said, multiple values are allowed.  We didn’t see anyone using that way though. I’m running a query on the cold storage to look at last 12 months d

[2022-08-04 16:06] blevenson-kcare commented on #9768
Still blocking us

[2022-08-04 16:20] pvadali-az commented on #19807
I just had my review meeting with [@Mark Weitzel](mailto:markweitzel@microsoft.com) and team.
•	API paths are not consistent across the service.
•	Polymorphic types do not follow pattern that needs to be followed.
•	Long running jobs such as InteractiveQuery do not return correct HTTP status.
•	Overall, there is a need for a full revisit of Scanning (and other Purview) services.

Next steps:
I wil

[2022-08-04 23:41] zhugexubin commented on #17312
POST -- Add examples in the description of what are valid strings.
**We limit the maximum length for 'description' parameter to be 1024.**
GET The format in the StyleListItem should use the datetime specification. This should not be just a String.

**We add 'date-time' format for the 'created' property in StyleListItem object.**

GET `/styles/{styleId} - Make sure to add zip as a valid response ty

[2022-08-05 02:51] teowa opened #20123 "Scheduled Query Rule 2018-04-16 enum mismatch"
in Swagger file, `queryType` has only one possible Enum value `ResultCount`
https://github.com/Azure/azure-rest-api-specs/blob/e94b0da0c7f80e2986af90c1dd7e9c8f4c336c61/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json#L579-L589

But From Portal, We can see `"queryType": "Number"`, are there other Enum values?
![image](https://user-images.github

[2022-08-05 13:54] myc2h6o opened #20131 "[Network Interface] Casing Issue for Subnet and NSG ID"
Hi, I met a casing issue when creating a Network Interface with its property `subnet.id` and `networkSecurityGroup.id`. When I use different case in the request, the id is not using the case in the request, but the case of the actual resource. This is breaking the convention in Terraform, which treats the properties as case sensitive. in PUT request, I used `TEST-RG`, `TEST-NSG` and `TEST-VNET` in

[2022-08-06 15:13] tbatra18 opened #20139 "consumptionmanagement_client query to get the cost of a resource"
Hi,

Can anyone explain me the response of :
`consumptionmanagement_client.usage_details.list(scope='/subscriptions/{}/'.format(azure_subscription_id))`

I get a lot of data as response of the api, but not able to understand what all it consist of?

Also, if i want to get a cost of any particular resource on a particular date, can we use the above api or any other api is   @@there?

[2022-08-07 20:17] dfberry opened #20141 "Azure Storage - account sas versus service sas - permission order"
Why is the [service sas permission order](https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas#specify-permissions) specified and the [account sas permission order](https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas#specify-the-account-sas-parameters) doesn't matter?

[code]

 @diberry

[2022-08-08 07:12] #20131 closed

[2022-08-08 08:32] mlomat commented on #20085
Quick workaround with local-exec provisioner and using az rest command. It's not perfect... but at least is not throwing errors ;)
Below code is full solution to setup sync with Repo + trigger sync. If you need only to trigger sync, just pass correct id of repo resource and replace azapi_resource.automationAccount.id iniside cutom provisioner.

[code]

[2022-08-08 08:37] ms-henglu commented on #20085
Hi @mlomat ,

Thank you for this workaround!

But I guess you want to comment it on this issue :) https://github.com/Azure/terraform-provider-azapi/issues/163

[2022-08-08 08:39] mlomat commented on #20085
Hi @ms-henglu
Haha, my bad. Sorry ;)! Removing

[2022-08-08 11:38] sunnycarter commented on #2540
This is still an issue, please can it be addressed.
Additionally, it does not seem possible to filter on more than one tag, which is poor.

[2022-08-09 04:12] neil-yechenwei opened #20152 "QueryPackQuery.Update API cannot update the `Related` property when it isn't set at creation"
While testing, I found [QueryPackQuery.Update](https://github.com/Azure/azure-rest-api-specs/blob/d62bf7ac84940147fc5c0faceaac111b1a8c360d/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2019-09-01/QueryPackQueries.json#L191) API cannot update the `Related` property and throws below error message after the Query Pack Query is created successfully without set

[2022-08-09 08:39] xenon8 opened #20156 "Azure SQL Server: External AAD Administrator has incorrect mutability"
The [spec for Microsoft.Sql/servers](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/sql/resource-manager/Microsoft.Sql/preview/2022-02-01-preview/Servers.json#L971-L978) lists read and create under x-ms-mutability.

API does support updates through this endpoint, since assigning an External Active Directory user is possible through [Azure PowerShell](https://docs.microsoft.c

[2022-08-09 18:25] #17312 closed

[2022-08-09 18:35] tbatra18 opened #20160 "Filter doesnt seem to work on the Consumption api"
Hi,

I was trying the date filter on the following api:
https://docs.microsoft.com/en-us/azure/cost-management-billing/automate/get-usage-details-legacy-customer
The filter doesnt seem to work.
I am trying via azure python sdk.

[2022-08-10 08:41] xboxeer opened #20166 "Security RP swagger correctness issue and API version issue result to SDK issue"
- As the SDK is generated from api version 2017-08-01-preview which is configured from https://github.com/Azure/azure-rest-api-specs/tree/main/specification/security/resource-manager#tag-package-composite-v3
image
And some of the properties we see when using Azure CLI of api version 2020-01-01-preview has not been added in api version 2017-08-01-preview yet. for example notificationsByRole

- Both

[2022-08-10 16:41] banani720 commented on #14529
Any progress on this very much needed!

[2022-08-10 17:12] jlichwa commented on #10825
Secret id (with version) it is standardized format (required by REST API) and used by 200+ partners.
Also all our SDKs have specific field for version without need for parsing:

https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.secrets.secretproperties.version?view=azure-dotnet#azure-security-keyvault-secrets-secretproperties-version

[2022-08-10 17:12] #10825 closed

[2022-08-10 18:08] azure-sdk opened #20173 "Informational Meeting - Tracking Microsoft Purview"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Phani Kumar Vadali.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Microsoft Purview Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="ht

[2022-08-10 19:01] Sandido opened #20174 "Swagger OAV tool Max generated swagger examples have too many properties"
It looks like some of our Swagger generated files have too many properties shown, and are incorrect for the API operation.
This API doc: https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines/list?tabs=HTTP#virtualmachines_list_maximumset_gen
Is for the [VirtualMachines_List](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Comput

[2022-08-10 20:14] azure-sdk opened #20176 "Informational Meeting - Tracking 1ES Resource Management"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Nisha Bhatia.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the 1ES Resource Management Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="ht

[2022-08-10 20:15] azure-sdk commented on #20176
Cancelled by: Nisha Bhatia

[2022-08-10 20:15] #20176 closed

[2022-08-11 06:54] neil-yechenwei opened #20186 "Compute.Disks should support GetAccess method"
Currently, there is a GrantAccess method to grant access for the Disk. But it's better to add a new method like "GetAccess" to retrieve it. So does it make sense to add a new method "GetAccess" for it? Thanks.

[2022-08-11 19:14] azure-sdk opened #20201 "Informational Meeting - Tracking"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Jaishal Shah.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the  Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="https://web.powerapps.com

[2022-08-11 20:37] azure-sdk opened #20202 "Informational Meeting - Tracking 1ES Resource Management"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Jonathan Cardenas.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the 1ES Resource Management Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a hre

[2022-08-11 20:39] azure-sdk opened #20204 "Informational Meeting - Tracking Cognitive Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Peyton Fraser.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Cognitive Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="https:

[2022-08-11 23:41] markweitzel commented on #20068
## API Stewardship Board Review Meeting 11-Aug-22

* Is the hierarchy fixed, or is it dependent on
`matchedType` -- this may not be the most intuitive name because the user can pass in multiple values. It's an `anti-patter` to have a singular name `matchedType` when the input is a collection.
  * suggestion `matchTypes` as the name

In the `GET`, make the most relevant/important result first in th

[2022-08-12 02:52] mdhowle opened #20214 "TenantIdDescription returns nulls when using ClientSecretCredential"
I'm using ClientSecretCredential in Python to list the tenants, but it returns None.  This seems to be related to https://github.com/Azure/azure-sdk-for-python/issues/22527

[code]

Running it using `AzureCliCredential` with my credentials, it returns all the data.

Is this a permission issues? If so, what permissions is needed? The app is already has Reader privileges for the Subscription.

Thank

[2022-08-12 05:13] xiaxyi opened #20215 "Azure Firewall policy Rule application type is missing `Mssql` in the Enum"
The `Mssql` should be supported in [FirewallPolicyRuleApplicationProtocolType](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2021-08-01/firewallPolicy.json#L1438) as it's supported in [AzureFirewallApplicationRuleProtocolType](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Micr

[2022-08-12 06:24] sinbai opened #20216 "[MachineLearningServices] The vmSize returned by API is inconsistent with the set value when creating AmlCompute."
When creating an AmlCompute with the value of  [vmSize](https://github.com/Azure/azure-rest-api-specs/blob/f842bc69f4c215ad60ffae63ef517c201772f8b2/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-05-01/machineLearningServices.json#L3408)  property set to `STANDARD_NC8AS_T4_v3`, the latest version [API](https://github.com/Azure/azure-rest-api-spe

[2022-08-12 06:41] sinbai opened #20217 "[MachineLearningServices] - Request to document possible values for vmSize in Amlcompute API"
For the [vmSize](https://github.com/Azure/azure-rest-api-specs/blob/f842bc69f4c215ad60ffae63ef517c201772f8b2/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2022-05-01/machineLearningServices.json#L3408) property of Amlcompute, is there a set of fixed values for vmSize of [Amlcompute API](https://github.com/Azure/azure-rest-api-specs/blob/f842bc69f4c

[2022-08-12 08:11] azure-sdk opened #20219 "REST API Review Meeting - Tracking 1ES Resource Management"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Jonathan Cardenas.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the 1ES Resource Management Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a hre

[2022-08-12 08:13] azure-sdk commented on #20202
Cancelled by: Jonathan Cardenas

[2022-08-12 08:13] #20202 closed

[2022-08-12 08:13] azure-sdk commented on #20219
Cancelled by: Jonathan Cardenas

[2022-08-12 08:13] #20219 closed

[2022-08-12 11:18] mpoeckl opened #20221 "OpenAPI/swagger definition for Azure Service Bus (data plane) is missing"
Where can I find an OpenAPI/swagger definition for **Azure Service Bus API** (data plane not ARM)? In some docs there is a reference to [](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/sb_dataplane_namespace/specification/servicebus/data-plane/servicebus-swagger.json), however it seems that this branch got deleted.

[2022-08-12 14:24] mleziva commented on #9423
This is still an issue for me. Any status updates?

[2022-08-14 07:13] jeffreyaven opened #20229 "[policyinsights] autorest fails to generate openapi documents from input config and files"
`autorest` fails to generate output documents from the `policyinsights` specification

running:
[code]
from the `azure-rest-api-specs/specification/policyinsights` directory

yields the following non descript error:

[code]
all other services in the `specification` directory work with the same command

[2022-08-15 15:24] erjms opened #20235 "Swagger ModelValidation erroneously fails when required x-ms-secret properties are omitted from responses in examples"
From the [x-ms-secret documentation](https://github.com/Azure/autorest/tree/main/docs/extensions#x-ms-secret):

The Swagger ModelValidation pipeline fails for this scenario, erroneously flagging properties that match this scenario that are missing from example responses as errors, e.g.:
https://github.com/Azure/azure-rest-api-specs/pull/18645/checks?check_run_id=6586657182

[2022-08-15 21:08] markweitzel commented on #20173
Duplicate #19807

[2022-08-15 21:08] #20173 closed

[2022-08-15 21:29] markweitzel commented on #20093
Duplicate #20040

[2022-08-15 21:29] #20093 closed

[2022-08-16 05:04] #19173 closed

[2022-08-16 08:39] neil-yechenwei opened #20253 "CosmosDB Account should support Continuous 7-day tier"
[The Azure Doc](https://docs.microsoft.com/en-us/azure/cosmos-db/continuous-backup-restore-introduction#continuous-30-day-tier-vs-continuous-7-day-tier) indicates CosmosDB Account supports Continuous 7-day tier. But after checked azure rest api spec, seems it doesn't support this feature. If it's expected feature, does it make sense to add this feature in azure rest api spec? Thanks.

[2022-08-16 08:57] timja opened #20254 "Ignore existing resources within a subscription"
Add flag to cancel subscription request to ignore currently existing (deployed) resources in the subscription to be cancelled.

Originally https://github.com/Azure/azure-rest-api-specs/issues/9042

see the discussion at https://github.com/Azure/azure-sdk-for-python/issues/10814#issuecomment-760670103

For me it's far safer for us to 'soft-delete' a subscription, by cancelling it than deleting the

[2022-08-16 13:35] xboxeer opened #20256 "[Incorrect Swagger]applicationGatewayIpConfigurations defined in swagger but returned applicationGatewayIPConfigurations result to SDK issue"
this swagger definiation is defining property [applicationGatewayIpConfigurations](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2022-01-01/virtualNetwork.json#L1556),
[code]
but actual rest api returned applicationGatewayIPConfigurations, the P is upper case while in swagger it is lower case
[code]

please update correspond

[2022-08-16 14:21] #20082 closed

[2022-08-16 14:29] markweitzel commented on #20204
Duplicate: #20051
Please use #20051 for all tracking.

[2022-08-16 14:29] #20204 closed

[2022-08-16 14:32] markweitzel commented on #20075
Duplicate: #20053
Please use #20053 for all tracking information

[2022-08-16 14:32] #20075 closed

[2022-08-16 14:41] markweitzel commented on #20073
Duplicate: #20052
Please use #20052 for all tracking information.

[2022-08-16 14:41] #20073 closed

[2022-08-16 20:35] markweitzel commented on #20052
## API Stewardship Board Review: 16-Aug-22

Use the header approach.
Don't put any metadata about the operation in the response.
Use a semi-colon delimited list.
Action: API Stewardship Team to give the header name.

----

## References
[Design Doc](https://microsoft-my.sharepoint-df.com/:w:/p/aash/EYoaUQQacChBopb5wosnP2sBdmvHxJpbXA3pf0fGnNdR9g)

[2022-08-17 02:12] weidongxu-microsoft opened #20267 "[ARM Tags] incorrect status code 202 at /{scope}/providers/Microsoft.Resources/tags/default"
PATCH /{scope}/providers/Microsoft.Resources/tags/default on CRP Disk fails with status code 202
(tried with api-version 2021-04-01 and 2021-04-01, same response)

Same call on virtual machine scope and network interface scope is both good.

swagger
https://github.com/Azure/azure-rest-api-specs/blob/3ef4bf9/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.js

[2022-08-17 03:52] sinbai opened #20268 "[Azure Cosmos DB account]Request to remove the deprecated `Parse` of `kind` in `DatabaseAccounts_CreateOrUpdate` API"
It seems that [Parse](https://github.com/Azure/azure-rest-api-specs/blob/e686ed79e9b0bbc10355fd8d7ba36d1a07e4ba28/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2022-05-15/cosmos-db.json#L5460) is deprecated. However, it still exists in the[ latest version of DatabaseAccounts_CreateOrUpdate API](https://github.com/Azure/azure-rest-api-specs/blob/e686ed79e9b0bbc10355fd8d7ba36d

[2022-08-17 10:59] mlomat commented on #11656
Any update on this? Looks like an issue when I am using command Get-AzSubscription. Working without any issue on my regular account, having problem to get tags on Manage Identity :(

[2022-08-17 14:40] markweitzel commented on #20074
Duplicate: #20052

[2022-08-17 14:40] #20074 closed

[2022-08-17 16:19] markweitzel commented on #20040
## API Stewardship Review: 17-Aug-22

The changes proposed are fine, as long as they are additive.

`minLength`: 1
* Confirmed the same error is returned whether 0 is passed.
* Recommended that this be removed from the swagger. This is not helpful b/c it's not really a valid value.

@JeffreyRichter -- Will approve the breaking change.

## References
[Meeting Chat](https://teams.microsoft.com/l/mes

[2022-08-17 16:20] #20040 closed

[2022-08-17 19:26] markweitzel commented on #20052
## ASIDE
During a side conversation, Ahmed discovered a discrepancy b/t the service and API definition in a different, unrelated part of the API involving a suffix for `Resolution`. This was referred to the breaking changes review board.

[2022-08-17 23:46] azure-sdk opened #20279 "REST API Review Meeting - Tracking Cognitive Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Lily Motley.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Cognitive Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="https://

[2022-08-17 23:54] azure-sdk commented on #20256
Cancelled by: Jonathan Cardenas

[2022-08-18 09:39] lonegunmanb opened #20289 "BUG: Create PrivateEndpoint using PrivateLink's alias may fail in concurrent creation scenario"
When creating multiple PrivateEndpoints with PrivateLink's alias may fail with the following error message:

[code]

The put request to create the PrivateLink resource:

[code]

The request's body is:

[code]

The response is:

[code]

As we can see, the PrivateLink resource `acctestPLS-220818165005420368` was created successfully, it's alias was `acctestpls-220818165005420368.b08a765d-0bcb-41bf-a

[2022-08-18 09:52] raych1 commented on #20174
@Sandido , automation generation tool only based on the model defined in the swagger and has no idea of server-side implementation.  The solution would be use different model for list operation and get operation aligning to server-side implementation or use payload to generate examples.

I close this issue as it's more related to the oav tool used to generate examples. Can you log issue in [oav re

[2022-08-18 09:52] #20174 closed

[2022-08-18 10:09] raych1 commented on #20235
@keryul , can you check if this issue was fixed?

[2022-08-18 17:37] azure-sdk opened #20297 "[Maps - Tracking] API Review"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Igor Shishkin.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Azure Maps Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="https://web.po

[2022-08-18 18:25] azure-sdk opened #20298 "REST API Review Meeting - Tracking Cognitive Services"
<div data-wrapper="true" style="font-size:9pt;font-family:'Segoe UI','Helvetica Neue',sans-serif;"><div>This meeting was created by Mariana Rios Flores.</div>
<div>&nbsp;</div>
<div>It will be used to Track the conversation in the informational Session for the Cognitive Services Service.</div>
<div>&nbsp;</div>
<div>Detailed meeting information and documents provided can be accessed&nbsp;<a href="

[2022-08-18 18:53] jaylabell commented on #20186
@TravisCragg-MSFT can you please take a look at this issue?

[2022-08-18 19:53] techrazor commented on #20256
The swagger definition is providing a different value than the rest api returns, is this the wrong repository to report the issue?

[2022-08-18 21:04] subbarayudukamma commented on #20095
### **Breaking change review meeting notes.**

**Question 1.**
The scenario with worst impact is when a dataset is created with udid in V3 and List API V2 is used to see the data. The conversionId will be empty and there will be no Udid.
Since this List API is not part of the main workflow users use, we don't have any SDK and have a small customer base, we decided to take this on.
We decided to ta

[2022-08-18 21:29] mikekistler commented on #20095
Jeffrey and I met with the Maps team today to discuss the breaking changes. They mentioned that their PR (#20009) is not flagged as "BreakingChangesReviewRequired" and I wanted to investigate that. Here's what I found:

- The `conversionId` parameter is not flagged as breaking because it was always defined as `type: string` and the ability to pass multiple of them was only documented in the descri

[2022-08-18 23:11] markweitzel commented on #19807
## API Stewardship Board Review: 18-Aug-22

Need to meet with Naga.

[2022-08-18 23:28] mikekistler commented on #19807
@pvadali-az -- Please review the [Azure REST API Style Guidelines](http://aka.ms/azapi/specs). In those guidelines you find a helpful utility that we've been experimenting with, Spectral. Running this within VS Code will help you identify many of the correctness issues that should be addressed, e.g.

- Schema should have a description or title
- Parameter should have a description.
- value propert

[2022-08-18 23:40] markweitzel commented on #19807
## API Stewardship Board Review: 18-Aug-22

[2022-08-19 02:01] dvbb opened #20303 "[MediaService] The update method contains read-only parameters"
- Request Path: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}
- Operation Id: StreamingEndpoints_Update

In the [REST API](https://docs.microsoft.com/en-us/rest/api/media/streaming-endpoints/update?tabs=HTTP#request-body) documentation, we can see that the two parameters`location`

[2022-08-19 14:05] mikekistler commented on #20095
Update: It turns out that the breaking changes tooling didn't flag second change above because the "2.0" API version appears to be a preview (it is in the "prevewi" folder), and the tool does not flag breaking changes when there is no stable version.

In this particular case, the "2.0" version seems to be misplaced, as the Maps team considers it to be "GA".

[2022-08-19 16:08] #19847 closed

[2022-08-19 16:13] #19843 closed

[2022-08-19 18:52] pmatte commented on #20267
Hi Team, any update on the above issue?

[2022-08-20 06:32] gregoks commented on #19320
Hi guys,

Its been some time since we has the review  [😄]  just wanted to update that we are working to fix all the issues that came up and I will update my pr soon.

Meanwhile I wanted to ask if its possible to release to ms docs a private preview version of our api so we could tell selected partners to use it only? And then switch to private?

Thx,

Greg

[2022-08-20 15:58] mcdonnell-john commented on #16632
@JackStromberg Any update on this issue?

I've just come across it myself, and noticed this issue still open.  Are the docs wrong, or is there a bug when validating the ARM template?

[2022-08-21 19:41] AmirGeorge commented on #20053
CLU authoring swagger: https://msazure.visualstudio.com/Cognitive%20Services/_git/API-Language-Authoring?path=/UnifiedAuthoring.APIs/Swagger/Microsoft.ConversationalLanguageUnderstanding.Authoring.v2022-10-01-preview.json

Custom Text authoring swagger: https://msazure.visualstudio.com/Cognitive%20Services/_git/API-Language-Authoring?path=/UnifiedAuthoring.APIs/Swagger/Microsoft.CustomText.Authori

[2022-08-21 20:09] aurghob commented on #20024
Changes from https://github.com/Azure/azure-rest-api-specs/pull/20120 have been moved to https://github.com/Azure/azure-rest-api-specs/pull/19558 .

[2022-08-21 20:10] aurghob commented on #20024
Also : discussed offline that the changes are only being addressed as part of the GA versions (3.1, 2022-05-01) as well the july preview and dev branch.

[2022-08-22 00:55] ericshape commented on #20067
we have a fix in https://github.com/Azure/azure-rest-api-specs/pull/19953
but no idea why this one still cannot be merged.

[2022-08-22 02:18] weidongxu-microsoft commented on #20267
@rthorn17 would you let us know if we should check with ARM for solution, or we should check with CRP if this request is handled by them under the hood?

[2022-08-22 04:34] tcbjc opened #20312 "Azure Subscriptions - Check Zone Peers isn't work"
I want to run the official sample to check Zone Peers. But the sample isn't work. Below is my API request and response.

Post https://management.azure.com/subscriptions/XXXX/providers/Microsoft.Resources/checkZonePeers/?api-version=2020-01-01

{
  "location": "eastus",
  "subscriptionIds": [
  "subscriptions/XXXXXX"
  ]
}

{
    "error": {
        "code": "InvalidResourceType",
        "message":

[2022-08-22 06:02] navba-MSFT commented on #20141
@dfberry Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please elaborate your use case? Could you please provide more context on your requirement ?

[2022-08-22 06:50] garylirocks opened #20313 ""Private Dns Zone Groups - Get" returns 200 for non-existent resources"
Document link: https://docs.microsoft.com/en-us/rest/api/virtualnetwork/private-dns-zone-groups/get

The API for private-dns-zone-groups returns 200 HTTP status code even when the resource does not exists, this is not consistent with other APIs, which usually return 404 when the resource does not exist.

Noticed this when I try to create a Private Dns Zone Group with the [AzAPI Terraform provider]

[2022-08-22 06:55] dvbb opened #20314 "Bug: Unable to get any application of ServiceFabric through REST Api"
The az portal can see the applications under the cluster, but cannot get the related resources through the [list method](https://docs.microsoft.com/en-us/rest/api/servicefabric/application/applications/list?tabs=HTTP) and [get method](https://docs.microsoft.com/en-us/rest/api/servicefabric/application/applications/get?tabs=HTTP) of the REST API.

#### Expected behavior
`GET` `https://management.az

[2022-08-22 09:41] bmarkons commented on #19446
I just got stuck with the same issue :) Is there any way to avoid VM creation strategy with separate API call for NIC with default outbound access?

[2022-08-22 10:24] nourhaanfarid commented on #20051
Adding Zero Shot Api
https://github.com/Azure/azure-rest-api-specs/pull/20239

Auto LD changes
https://github.com/Azure/azure-rest-api-specs/pull/20318/checks

[2022-08-22 11:07] bmarkons commented on #19446
Also, I have tried with all versions starting from `2020-11-01` but I get the same `OutboundConnectivityNotEnabledOnVM` response.

[2022-08-22 14:43] bfeldmann12 opened #20324 "Unable to get newly created App Services using the resources Rest API"
Calling the resources [List API](https://docs.microsoft.com/en-us/rest/api/resources/resources/list) with or without filters does not return newly created App Services. For example: `https://management.azure.com/subscriptions/****/resources?$filters=resourceType EQ 'Microsoft.Web/Sites'&api-version=2022-05-01`

However, calling the resource [Get API](https://docs.microsoft.com/en-us/rest/api/resou

[2022-08-22 21:22] peytonfraser commented on #20053
@markweitzel please see Amir's PRs linked above.

[2022-08-23 02:42] xboxeer commented on #20267
Same issue https://github.com/Azure/azure-sdk-for-net/issues/30245#issuecomment-1220060795

[2022-08-23 02:53] weidongxu-microsoft commented on #20267
@Drewm3 for awareness as well, as I assume the tag operation finally get to the PATCH on disk resource.

[2022-08-23 06:27] Nishant-Kumar07 opened #20331 "Delete returns successful even if the resource does not exist"
Hello,

I have been noticing a pattern for most of the azure resources I have played around with, The "Delete" operation does not return an error when the resource does not exist, what is the rationale behind this design and if this is a bug? Here is an example below:

[code]

[2022-08-23 08:45] ms-henglu opened #20335 "`Microsoft.CognitiveServices/accounts@2021-04-30` - LRO Polling ends with Failed State"
## `Microsoft.CognitiveServices/accounts@2021-04-30` - LRO Polling ends with Failed State

### Description

When create search cognitive account with public network access disabled, the LRO polling ends with `provisioningState=Failed`, but later it becomes `Succeeded`.

### Details

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId
[co

[2022-08-23 09:07] ms-henglu opened #20336 "Microsoft.MachineLearningServices/workspaces/computes@2021-04-01 - ROUNDTRIP_INCONSISTENT_PROPERTY"
## Microsoft.MachineLearningServices/workspaces/computes@2021-04-01 - ROUNDTRIP_INCONSISTENT_PROPERTY

### Description

I found differences between PUT request body and GET response:

- .properties.properties.vmSize: expect STANDARD_DS2_V2, but got Standard_DS2_V2

[code]

### Details

1. ARM Fully-Qualified Resource Type
[code]

2. API Version
[code]

3. Swagger issue type
[code]

4. OperationId

[2022-08-23 14:55] nourhaanfarid commented on #20052
I have created pr for swagger Analyze-Text changes for features, I am responsible for

[ZeroShot classification sync ](https://github.com/Azure/azure-rest-api-specs/pull/20239)

[Auto LD swagger update](https://github.com/Azure/azure-rest-api-specs/pull/20318)

[2022-08-23 15:44] markweitzel opened #20340 "[Cognitive Services - Language] Adding Zero Shot Api"
PM: Peyton Fraser
Split out from #20052
PR #20239