[2018-09-18 18:11] bganapa commented on #3867
We should be removing 404 from this swagger spec. Please assign this to me

[2018-09-19 00:37] lmazuel opened #3948 "GraphRBAC should be under the "preview" folder"
Discussed with @marstr , that being the history of graphrbac, this file should be in a "preview" folder. And then this deserves an issue here :)

[2018-09-19 23:02] torresdal commented on #3925
Solved with PR #3952

[2018-09-19 23:02] #3925 closed

[2018-09-20 01:17] tombuildsstuff opened #3964 "DevTest API returns resource group name in lower-case"
👋

We've been working with version `2016-05-15` of the DevTest API's (via v20.1.0 of the Azure SDK for Go) - and have noticed a bug where the Resource Group name that's returned from Azure is always lower-cased for the ID, regardless of the input case. For example if I create a DevTest Lab in the resource group `Group1` the ID for create will be:

[code]

when actually this should be:

[code]

Wou

[2018-09-20 16:56] anuchandy opened #3968 "Compute codegen fails with default tag package-2018-06-exclude-gallery"
The tag [package-2018-06-exclude-gallery](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/readme.md#tag-package-2018-06-exclude-gallery) contains following two swaggers:

Microsoft.Compute/stable/2018-06-01/compute.json
Microsoft.Compute/stable/2018-04-01/disk.json

These two swaggers defines same enum type with different values which is in-correct.

[2018-09-20 21:29] MikhailTryakhov commented on #3447
provisioningState is never may be readonly

[2018-09-20 21:29] #3447 closed

[2018-09-20 21:30] MikhailTryakhov commented on #3787
foxed in Ignite release

[2018-09-20 21:30] #3787 closed

[2018-09-21 04:11] mdusman opened #3978 "getting error code "MissingApiVersionParameter" for every request even pass api-version parameter"
getting error code "MissingApiVersionParameter" for every request even I have pass api-version parameter
api-version=2017-12-01 or api-version=2018-07-12
url format:
https://management.azure.com/subscriptions/{subId}/resourceGroups/{RG}/providers/Microsoft.BotService/botServices/{botId}/channels/DirectLineChannel?api-version=2017-12-01

[2018-09-21 19:29] marstr commented on #3978
Your URL formatting looks correct, and I've verified that `2017-12-01` is a [valid API Version for BotServices](https://github.com/Azure/azure-rest-api-specs/tree/acaf947b0c6140bcb22d3e56a4c87d68c18e475f/specification/botservice/resource-manager/Microsoft.BotService/preview/2017-12-01).

Out of curiosity, to make sure that triaging to the Cognitive Services team was correct, can you tell me how yo

[2018-09-21 19:53] marstr commented on #2366
Sorry I didn't report back when I said I would, @mblaschke!

@MikhailTryakhov is driving the resolution of this issue from the Networking team. I'll hand this thread off to him. @MikhailTryakhov, have any news on this?

[2018-09-23 00:00] ryperl opened #3988 "Generating Models classes from 2018-04-01 stable version doesn't generate CloudError Model"
After Generating basic models for the 2018-04-01 spec version with AutoRest the output doesn't generate the required classes to compile successfully in C#, it seems that the CloudError, and  CloudErrorBody definitions are not being generated.  Unless I am implementing this incorrectly.

E:\scratch\azure-rest-api-specs\specification\trafficmanager\resource-manager\Microsoft.Network\stable\2018-04-0

[2018-09-24 04:30] AdityaTulasi opened #3989 "AzureRecoveryServices Add a "default" response to capture all the error states"
Check Batch RP swagger for sample

[2018-09-24 06:47] salameer commented on #2981
@hovsepm  this seems to be complete, please verify and resolve this issue if so

[2018-09-24 08:17] celinama commented on #3756
Thanks, I saw this type error got fixed in https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/listall

**however it still exists in https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines**

diskSizeGB
integer
No
Specifies the size of an empty data disk in gigabytes. This element can be used to **overwrite the name of** the disk in a virtual machine image.

[2018-09-24 14:14] annatisch commented on #3988
Thanks @ryperl
These are common models that should be in the C# Azure runtime:
https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SdkCommon/ClientRuntime.Azure/ClientRuntime.Azure

Are you referencing this project?

[2018-09-24 17:42] TimLovellSmith commented on #2981
@salameer How is it completed? We didn't yet change anything for check name availability on redis swagger side AFAICR, due to the above concern about breaking behavioral change.

[2018-09-24 17:44] hovsepm commented on #2981
Sorry @TimLovellSmith :) I though I saw some changes related to the issue in your PR. Please ping me directly when you will address this issue.

[2018-09-24 17:50] TimLovellSmith commented on #2981
@hovsepm But I might not ping you. Currently we don't have a plan to address the issue [i.e. update swagger], because our perception is that even though it could make the API more consistent, it would become a soft-breaking return type change in the client library that we think wouldn't actually be appreciated by people upgrading their client library.

[2018-09-24 21:27] ryperl commented on #3988
@annatisch I am using this specification to generate model classes for the Azure TrafficManager Rest API's.  following this guidance - https://github.com/Azure/azure-rest-api-specs/blob/master/specification/trafficmanager/resource-manager/readme.md

I am not referencing the above sdkcommon project.

[2018-09-24 21:56] annatisch commented on #3988
Thanks @ryperl - the Azure runtime is a requirement for generated Azure SDKs.

Not only does it include generic models like CloudError, but also the core REST pipeline and utilities for dealing with various Azure feature from authentication to long running operation polling.

Autorest generated SDKs are intended to be used with a language-specific runtime.

[2018-09-25 10:11] mdusman commented on #3978
I have tried this api through postman where it is throwing error. I have also tried through azure cli where it is working fine.

[2018-09-25 11:07] haschdl commented on #3819
For reference, link to original question in StackOverflow: https://stackoverflow.com/questions/52111528/how-to-filter-azure-resource-management-rest-call-on-tags

@marstr thanks for looking into the issue. Could you help me to understand what triaged means, and any ideas about when this could be fixed?

[2018-09-25 16:06] annatisch commented on #3988
Followed up further offline.

Please re-open if you feel this hasn't yet been addressed.

[2018-09-25 16:06] #3988 closed

[2018-09-25 17:43] marstr commented on #3819
Howdy @haschdl,

This repository is a landing spot for about 100 teams at Microsoft. My team curates the repository and the issues deposited here, but doesn't have the capacity to change server-side behavior. By labeling it as related to `ARM`, we have some automation that will add this issue to the service team's internal bug-tracker.

[2018-09-25 19:33] ajay-arora commented on #3643
We have checked in a fix for the UI loading issue too, which means if you have existing factories with repo configuration in a different case, the UI will now be able to load them successfully.
The fix is going to make its way to production hopefully by end of next week.

[2018-09-25 22:35] rohrerb commented on #2994
@marstr - Could i get a update on this?

[2018-09-27 21:48] metacpp opened #4024 "`x-ms-client-request-id` changes behavior of Load Balancer API"
Use below API to update the `probes`:
https://management.azure.com:443/subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/loadBalancers/{lb_name}?api-version=2018-04-01

If you set `x-ms-client-request-id` in the header, the status code will be 201, and even async operation is successful, the value is never set.

Without this header, the status code wi

[2018-09-27 22:04] lmazuel commented on #4024
I'm not in the LB team, just trying to understand your issue. When you say "you set x-ms-client-request-id", what value do you set?
If at some point you did a create (using a PUT), and you do this call a second time with the same `x-ms-client-request-id`, then I think it's the intended behavior, ARM will use you id to send you the last JSON in cache. Each call should use a random x-ms-client-reque

[2018-09-28 01:35] metacpp opened #4027 "I'm not in the LB team, just trying to understand your issue. When you say "you set x-ms-client-request-id", what value do you set?"
If at some point you did a create (using a PUT), and you do this call a second time with the same `x-ms-client-request-id` (even with different JSON), then I think it's the intended behavior, ARM will use you id to send you the last JSON in cache. Each call should use a random x-ms-client-request-id.
Am I missing something?

_Originally posted by @lmazuel in https://github.com/Azure/azure-rest-api

[2018-09-28 01:35] #4027 closed

[2018-09-28 01:38] metacpp commented on #4024
I was passing the UUID. If your clarification is correct, it seems to be blocking our current workflow.

[2018-09-28 03:25] daozha opened #4029 "[AzureStack] Backup object contains BackupId which is just a substring of Resource name"
From @deathly809 's suggestion, BackupId should be removed.  The ARM endpoints take the NAME of the resource as the identifier. And BackupId is just redundant.

[2018-09-28 16:00] dsgouda commented on #4029
@daozha do you know who this can be assigned to?

[2018-09-28 16:53] deathly809 commented on #4029
@dsgouda He actually has a PR to fix it.  Just assign it to him.

[2018-09-28 17:10] anuchandy opened #4032 "Consider modeling ProtectedItems_CreateOrUpdate as LRO"
See this [comment](https://github.com/Azure/azure-rest-api-specs/pull/3909#discussion_r221320549) for details

[2018-09-28 17:27] anuchandy commented on #4032
Though issue titles says `ProtectedItems_CreateOrUpdate`, please go through all other operations and see any of those can be modeled this way.

[2018-09-28 17:54] anuchandy commented on #4032
Just discussed this with @johanste, he mentioned there are services that takes a long time to complete an operation (like couple of days), for such services it make sense to model initial request and polling as separate operations.

@DheerendraRathor how long recovery service operations usually takes to complete?

[2018-09-28 18:43] #4029 closed

[2018-10-01 02:01] AdityaTulasi commented on #4032
@anuchandy these operations usually take between 1 min and 5 mins.

[2018-10-01 04:44] hdost opened #4042 "Application Gateway: publicCertData What is is?"
I see that resource manager does expose the public cert for the Application Gateway. This is could be useful for say fixing https://github.com/terraform-providers/terraform-provider-azurerm/issues/583. Potential, locally we'd be able to extract the public information and do a comparison.

Rerence: https://github.com/Azure/azure-rest-api-specs/blob/d222b8d36a420a9164239a61d8373e765763e842/specifica

[2018-10-02 20:47] mattdot commented on #3437
@sergey-shandar any update on this?  Would really like terraform to support these attributes, but tf can't support it without graphrbac api's supporting it.

[2018-10-03 14:30] frankdirosaiv opened #4065 "Endpoint Monitor Status is always null when calling Traffic Manager Profile - List By Resource Group"
(API version 2018-04-01)
When calling Traffic Manager Profile -> List By Resource Group in the Azure Rest API, I get back a full list of all Traffic Manager Profiles and all of their endpoints. All endpoints contain a property EndpointMonitorStatus. This property should be degraded or online, but instead it is null.

Next, I tested the Traffic Manager Endpoint -> Get method. This method returned m

[2018-10-03 16:21] Fredrik-C opened #4066 "[Network - Application Gateway] Request for "App Service" support"
The REST Api (and fluent SDK) lacks options to specify App Service options as you can du in the Portal UI.

Please extend:
**ApplicationGatewayBackendAddress** to include "appService" option (available in portal UI).
**ApplicationGatewayBackendHttpSettings** to include "Use for App Service" option (available in portal UI).

[2018-10-03 18:10] dsgouda commented on #3525
@jp94 could you take a look

[2018-10-04 17:13] vladbarosan opened #4073 "Use common types in swaggers"
This will eliminate the need to redefine in each swagger the common ARM definitions.

 @fearthecowboy can you any details on this ? is it enough to just refer these types ( im thinking unwanted extra definitions might be brought in ) or there are other things we need to take care ?

[2018-10-04 17:37] fearthecowboy commented on #4073
Before referencing them, the common type definitions need to be cleanly split up into separate files, and common parameters definitions in a separate file, so that we're not pulling in unwanted unused models when not necessary.

And then we'd need a very clear guide on how to properly leverage them.

[2018-10-04 20:07] salameer commented on #2994
@hyonholee would you happen to have an contact to look into this issue?

[2018-10-04 20:47] rbrundritt commented on #3525
We do plan to expose a swagger endpoint publicly so that anyone can create client libraries using Autorest. We are still going through and testing and verifying that the generated libraries are correct before publishing this publicly.

[2018-10-04 20:50] dsgouda commented on #3525
@cornem hope that answers your query. Feel free to open another issue if you have further questions.

[2018-10-04 20:50] #3525 closed

[2018-10-08 23:39] salameer commented on #195
Closing this due to inactivity

[2018-10-08 23:39] #195 closed

[2018-10-08 23:43] salameer commented on #218
Hi  Ivan,

Private preview means that only a subset of customers have access to this API version. internal means that APIs are not available for public consumption yet.

Apologies for the late response but just wanted to make sure we follow up anyways :), pleae reopen if you have more questions on this

THanks

Samer

[2018-10-08 23:43] #218 closed

[2018-10-08 23:47] salameer commented on #219
Hi @IvanGoncharov

The API documented inside the Stable folder version are the ones that customer would write stable code on, "Preffered" would be a bit subjective depending on what the customers are looking for. Some prefer latest stable other prefer to lock on a specific version.

Ofcourse the more recent version that you adopt the more goodness of features you get :)

Thanks

Closing and please

[2018-10-08 23:47] #219 closed

[2018-10-08 23:50] salameer commented on #270
Closing due to inactivity.

Scott kindly feel to reopen if issue still exists

[2018-10-08 23:50] #270 closed

[2018-10-08 23:52] salameer commented on #291
Closing due to inactivity. Anu please reopen if this is still an issue

[2018-10-08 23:52] #291 closed

[2018-10-08 23:55] salameer commented on #316
@marstr  and @jhendrixMSFT can you confirm if we now have this on the go SDK side. If so kindly point boumenot to it and resolve this issue

[2018-10-09 00:00] salameer commented on #380
@bsiegel not sure if we have this already, but seems like a good investment if we don't.

[2018-10-09 00:03] salameer commented on #516
Closing due to inactivity

[2018-10-09 00:03] #516 closed

[2018-10-09 00:06] salameer commented on #734
Yeah I think this is looong Dead by now :)

[2018-10-09 00:06] #734 closed

[2018-10-09 00:07] salameer commented on #735
Closing Guys

[2018-10-09 00:07] #735 closed

[2018-10-09 00:07] salameer commented on #736
Already done in the adx wiki

[2018-10-09 00:07] #736 closed

[2018-10-09 00:07] salameer commented on #737
Closing

[2018-10-09 00:07] #737 closed

[2018-10-09 00:08] salameer commented on #738
Already in effect for a while :)

[2018-10-09 00:08] #738 closed

[2018-10-09 00:08] salameer commented on #739
Soooo many efforts followed this, cleaning up :)

[2018-10-09 00:08] #739 closed

[2018-10-09 00:09] salameer commented on #743
CLosing this, we have CS swagger in this repo now

[2018-10-09 00:09] #743 closed

[2018-10-09 00:10] salameer commented on #753
@sazeesha kindly follow up on these long overdue issues that are assigned to you

[2018-10-09 00:11] salameer commented on #759
Hi @veronicagg can you kindly verify if this is still a valid issue?

[2018-10-09 00:11] salameer commented on #765
Hi Veronica, can you kindly verify if this is still a valid issue?

[2018-10-09 00:12] #2205 closed

[2018-10-09 00:14] salameer commented on #2081
@bsiegel and @veronicagg we should look into this, @mozehgir please create a ticket for this on our next sprint planning

[2018-10-09 00:14] #1927 closed

[2018-10-09 00:18] salameer commented on #532
Hi @annatisch I'll close this one for now since it seems that it's been open for a while, please reopen of you believe it's still a problem

[2018-10-09 00:18] #532 closed

[2018-10-09 00:28] #733 closed

[2018-10-09 00:41] salameer commented on #770
Closing this, let's address at a PR level as specs are being updated

[2018-10-09 00:41] #770 closed

[2018-10-09 00:41] salameer commented on #776
Closing this, let's address at a PR level as specs are being updated

[2018-10-09 00:41] #776 closed

[2018-10-09 00:41] salameer commented on #777
Closing this, let's address at a PR level as specs are being updated

[2018-10-09 00:41] #777 closed

[2018-10-09 00:42] salameer commented on #778
closing and if not fixed this would blocked at a PR level as specs are being updated

[2018-10-09 00:42] #778 closed

[2018-10-09 00:43] salameer commented on #790
Hi Veronica and @sergey-shandar what's the status here?

[2018-10-09 00:46] salameer commented on #834
Hi Tom, closing this due to inactivity, if you still facing the problem here, kindly reopen it

[2018-10-09 00:46] #834 closed

[2018-10-09 00:48] salameer commented on #837
Closing based on @brendandburns comments, please feel free to reopen if you still have questions @tombuildsstuff :)

[2018-10-09 00:48] #837 closed

[2018-10-09 00:49] salameer commented on #840
Closing this since we seem to have moved on to a totally different model

[2018-10-09 00:49] #840 closed

[2018-10-09 00:51] salameer commented on #895
Closing due to inactivity

[2018-10-09 00:51] #895 closed

[2018-10-09 01:05] salameer commented on #916
closing due to inactivity

[2018-10-09 01:05] #916 closed

[2018-10-09 04:30] tombuildsstuff opened #4105 "DevTest: support for the `2018-10-15-preview` swagger"
👋

I'm trying to add support for DevTestLabs to Terraform - but have noticed the latest API being used in the Azure Portal isn't available via the Azure SDK for Go, which upon further investigation is because the Swagger is missing in this repository.

Would it be possible to add the Swagger for version `2018-10-15-preview` of the DevTestLabs API's?

Thanks!

cc @joshgav @achandmsft

[2018-10-09 04:35] tombuildsstuff commented on #4073
@vladbarosan whilst I feel this is the right thing to do from a code level - values for fields like `location` and `resourceGroup` can be case sensitive depending on the API being used (and whilst this isn't currently handled in the Swagger, I could see it being in future) - as such I'm wondering if this could do with some documentation to avoid creating subtle issues in the future? (not that they

[2018-10-09 10:34] surajmuthreja commented on #3594
Hi @hellosnow  @dsgouda ,
Can we please have some update on this?

[2018-10-09 15:53] dsgouda commented on #3594
@surajmuthreja please contact @hyonholee directly, he handles the `Compute` SDKs

[2018-10-09 16:49] jhendrixMSFT commented on #3442
Fixed.

[2018-10-09 16:49] #3442 closed

[2018-10-09 17:03] QingqingYuan2 commented on #3719
Provider PR is designed this as async operation. The operation result will return "Bad Request" in this case.

[2018-10-09 18:59] lmazuel commented on #380
I would suggest use a gitattribute files to enforce all JSON to be LF.
https://help.github.com/articles/dealing-with-line-endings/

[code]

[2018-10-09 20:09] salameer commented on #316
Is this a server side change? or more of convenience on top of ARM templates processing?

[2018-10-09 20:34] jviau commented on #4105
Hi @tombuildsstuff , I am currently in the process of GA'ing a new version of DevTestLabs. It won't be `2018-10-15-preview` exactly, but it will be identical.

[2018-10-09 23:00] marstr commented on #316
Not a server-side change. I believe the ask was interpreted as wanting more granularity in the [resource swagger definition of a deployment.](https://github.com/Azure/azure-rest-api-specs/blob/34e20c7848feb19685d8e1d4bfd2130ac42434c8/specification/resources/resource-manager/Microsoft.Resources/stable/2018-05-01/resources.json#L2427) However, I think that interpreting this as wanting a hand-written

[2018-10-09 23:17] vladbarosan commented on #4073
@tombuildsstuff , since resource group is an ARM concept it shouldn't have different behavior across services. can you provide an example where that might be the case  ?

[2018-10-10 01:57] tombuildsstuff commented on #4105
@jviau cool thanks. No worries if the date varies slightly between Preview and GA - I'm mostly trying to determine what the future behaviours will be, given there's currently substantial differences between the Portal and the old API version which make it hard to determine exactly what we should be supporting :)

Thanks!

[2018-10-10 15:05] boumenot commented on #316
This is exactly what I want, and this is exactly what I have implemented for my own use case.  There is already a customer scenario for this - Hashicorp's Packer.  When I implemented support for Packer I needed to understand ARM templates intimately. I created the missing types so I could safely round-trip (serialize/deserialized) an ARM template, and have *safer* programmatic inspection.  The fac

[2018-10-10 16:14] sergey-shandar commented on #3437
@stankovski please, have a look this issue.

[2018-10-10 16:16] sergey-shandar commented on #3437
@mattdot reassigned to GraphBAC owners.

[2018-10-10 16:34] bsiegel commented on #380
We can go further, it's pretty easy to add the editorconfig file and then add a pre-commit hook that runs the files through eclint first. The only downside is that we'd need to either commit the tool to the repo or people would have to run 'npm install' locally to pull it down.

[2018-10-10 16:38] boumenot commented on #316
Packer creates golden images.  Packer deploys a VM, customizes the VM, and then captures the customized VM for later re-deployment.  This customized VM is the golden image.

Packer creates an ARM template for the initial VM deployment. The amount of customizations that exist in Azure are rather large, so it has proven easier to create a single ARM template as opposed to all of the individual API c

[2018-10-11 21:33] lawrencegripper opened #4221 "Azure FrondDoor: Spec incorrect or Service API missbehaving"
Hi,

I'm using the Go SDK for Azure here https://github.com/lawrencegripper/azurefrontdoor-ingress to talk to Azure Frontdoor.

I see errors when using any of the individual resource clients. An `InvalidResourceType` response is returned when attempting to update/get or list the following:

- `/Microsoft.Network/Frontdoors/lgtestfrontdoor/LoadBalancingSettings`
- `/Microsoft.Network/Frontdoors/lgt

[2018-10-11 23:59] lmazuel commented on #3790
Implemented in current Swagger. From #3773 and #4190

[2018-10-11 23:59] #3790 closed

[2018-10-16 08:38] sabbour commented on #4221
According to https://github.com/Azure/azure-rest-api-specs/blob/5682ce2525b7fa4b3115938a948af3bc46d6387f/specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/frontdoor.json#L947 it should work

[2018-10-16 11:29] lawrencegripper commented on #4221
Thanks @sabbour glad to know its not just me missing something. @marstr Are they're anymore details you need on this one or is it case of waiting for a response from the frontdoor team now?

[2018-10-16 18:26] shawns1 opened #4243 "eventgrid readme.go.md file is having issues"
specification/eventgrid/resource-manager/readme.go.md is producing the following error when it is being processed.  See PR https://github.com/Azure/azure-rest-api-specs/pull/4235 for the failure.  It shows the file as invalid.

AutoRest code generation utility [version: 2.0.4283; node: v8.12.0]
(C) 2018 Microsoft Corporation.
https://aka.ms/autorest
   Loading AutoRest core      '/root/.autorest/@

[2018-10-17 17:17] marstr opened #4252 "Support for Partner Center SDK"
After searching this repository for some of the operations and types defined in the docs linked, I didn't find a Swagger for this functionality.

[2018-10-17 17:52] naveenkumarmca commented on #1975
Hi, I see that last comment was long ago. Any update on the Fluent SDK side, where I can get the deployment runtime errors?

[2018-10-17 19:31] marstr commented on #4221
Waiting on the frontdoor team. They should get looped in automatically with the labels I just added.

[2018-10-17 19:33] marstr commented on #4221
Removing my assignment because this issue is triaged

[2018-10-18 15:54] shawns1 opened #4262 "Problem auto-generating SDK for Go in the storagesync spec"
The output folder in the readme.go.md config file doesn’t exist within a "preview" sub-folder and it looks like it should since the input is coming from a preview subfolder.  We are getting an error during code generation that says "FATAL: System.InvalidOperationException: codegen for preview swagger Microsoft.StorageSync/preview/2018-10-01/storagesync.json must be under a preview subdirectory"

T

[2018-10-18 16:01] annatisch commented on #4262
Looks like the path has the incorrect directory - thanks for reporting :)

[2018-10-18 16:51] shawns1 opened #4264 "New CostManagement spec version 2018-12-01-preview needs to be added to Readme.md file"
The following spec was introduced but not added to the corresponding Readme.md file:  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/costmanagement.json

The Readme.md file is located here:  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-ma

[2018-10-18 16:59] shawns1 opened #4265 "New SQL Specs added but not in Readme.md file yet"
The following sql specs were added but the Readme.md file has not been updated with these specs yet so the SDK is not building for these.  The specs are located here:  https://github.com/Azure/azure-rest-api-specs/tree/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview

The Readme is located here:  https://github.com/Azure/azure-rest-api-specs/blob/master/specificat

[2018-10-18 17:57] shawns1 opened #4267 "add spec to go config file"
2018-07-15-preview is not in the https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datamigration/resource-manager/readme.go.md file.

[2018-10-18 18:05] hovsepm commented on #4264
Assigning to @kjeur

[2018-10-18 20:02] kjeur commented on #4264
@hovsepm Raised PR https://github.com/Azure/azure-rest-api-specs/pull/4269

[2018-10-18 21:38] mblaschke commented on #2366
@MikhailTryakhov any news? Can we expect a solution this year?

[2018-10-18 21:46] MikhailTryakhov commented on #2366
@mblaschke  it's fixed, waiting for deployment. Will be a part of NRP 110 or NRP 111

[2018-10-19 00:06] hovsepm commented on #4264
Fixed. Closing the issue.

[2018-10-19 00:06] #4264 closed

[2018-10-19 00:08] hovsepm commented on #3110
not sufficient information provided in the issue description.

[2018-10-19 00:08] #3110 closed

[2018-10-19 22:05] jaredmoo commented on #4265
This is intentional. When an API is ready to be published in azure-sdk-for-net, we will add it to package-composite-* in readme. At that time we should also add it to package-pure-* so that other SDK's like Go will also get the API. Please let me know if there are any specific API's that are missing from package-pure-*.

[2018-10-19 22:16] shawns1 commented on #4265
According to @lmazuel, The file Microsoft.ApiManagement/preview/2018-06-01-preview/apimdiagnostics.json was changed which is used in the tag package-2018-06-preview, but the default tag of the Readme is package-2018-01.  As a result, we are not getting any auto-generated SDKs for the specs listed above.  @lmazuel, can you please provide any additional details if I am missing something?  Thanks.

[2018-10-19 22:18] jaredmoo commented on #4265
Are we talking about ApiManagement or Sql?

[2018-10-19 22:20] shawns1 commented on #4265
Sorry...wrong issue.  I was looking at the version and it was the same in my notes.  Let me double check.  the SDKs are not being generated above but I'll have to double check.

[2018-10-19 22:29] shawns1 commented on #4265
Sorry...the versions were the same as an ApiManagement issue that was similar.  Here is the correct notes and info I got from @lmazuel:

This PR is introducing a completely new Swagger file Microsoft.Sql/preview/2018-06-01-preview/DatabaseVulnerabilityAssessment.json and this file was not added into the main Readme.  We don’t know how to generate a file that is nowhere in any Readme.  PR triggered

[2018-10-19 22:32] shawns1 commented on #4265
Here is the original PR:  https://github.com/Azure/azure-rest-api-specs/pull/4256

[2018-10-22 15:12] shawns1 commented on #4265
Per Jared:  It is not guaranteed that every API published in Swagger is something that we want SDKs to be published for at that time. For example we may be documented a deprecated API, or more commonly we may be documenting an API that is in the middle of going live (we need to have Swagger approved by Gaurav before it can be lit up, so we usually publish swagger before it is live). This has been

[2018-10-22 15:12] #4265 closed

[2018-10-22 19:51] mozehgir opened #4307 "Test Issue - S360 kpi"
Creating a dummy issue for testing purposes with S360 integration

[2018-10-22 19:52] mozehgir commented on #4307
Please ignore this issue. I will close it once I am done testing.
Thanks

[2018-10-23 17:45] dsgouda commented on #3884
@naveedaz any updates?

[2018-10-24 00:15] lmazuel opened #4312 "WebApps_CreateOrUpdate : name should have regexp"
Root issue: https://github.com/Azure/azure-sdk-for-python/issues/3673

This method should have a regexp to check that name matches what is correct for the service

[2018-10-24 15:16] lawrencegripper commented on #4221
@sabbour I found a workaround but it doesn't seem to behave quite right for my scenario. However, it may be useful to you, in [this PR](https://github.com/lawrencegripper/azurefrontdooringress/pull/17) I move to using the `FrontDoorsClient` not `FrontDoorClient` this allows you to `GET` and `PUT` the entire Frontdoor state in one call rather than talking to the subresources. I talk about the issue

[2018-10-25 07:37] jackting73 opened #4328 "Internal Server Error 500 by using "Billing Period - List ""
Hi,

I'm using the endpoint try to get the billing period but got the Internal Server Error 500 on some subscription. My subscription is MSDN/PAYG/AIO. Any idea or workaround to get the billing period? Thanks.

Document: https://docs.microsoft.com/en-us/rest/api/billing/billingperiods/list
![image](https://user-images.githubusercontent.com/13516911/47483369-acfa8680-d86b-11e8-9130-b42b54bc9837.png

[2018-10-25 16:19] dsgouda commented on #4328
@wilcobmsft would you know someone who can take a look at this one?

[2018-10-25 16:30] wilcobmsft commented on #4328
There was a known issue in one of our downstream systems. It should be resolved now. Can you please try again and let us know if you're still able to reproduce the issue?

[2018-10-25 17:20] jackting73 commented on #4328
@wilcobmsft

It works now.
May I know is there any other API also can get the billing period ?
(Because I found this issue happened several times this year, so I'm looking for other API which could be more stable)

Thanks,

[2018-10-25 18:31] salameer commented on #3968
@anuchandy, has this been resolved already? if not please re-add the "Service attention" tag

[2018-10-25 18:35] salameer commented on #3751
@anuchandy, is this still an issue based of JuniY? if so please add "Service attention" label to it

[2018-10-25 18:39] salameer commented on #2343
@anuchandy is this still an issue? if so please re-add "Service attention" label

[2018-10-25 21:08] tombuildsstuff commented on #3648
@marstr would you be able to take a look into this for us? :)

[2018-10-26 22:50] katbyte commented on #3751
@marstr,

We have a workaround but this is still an issue for terraform.

[2018-10-29 16:25] yugangw-msft opened #4346 "graph-rbac: need parity between model types "applicationCreateParameters" and "application""
The create parameter allows you to set `required_resource_access`, but on the subsequent GET call, the `required_resource_access` ends up being under `additional_properties`

@lmazuel, I assume you own this spec now :)

[2018-10-29 18:46] #4346 closed

[2018-10-29 21:02] pietro commented on #3648
Sorry, I didn't know github would add so many comments to this issue. Anyway, I created a new PR that addresses the issues my first PR had.

[2018-10-29 21:04] MikhailTryakhov commented on #3307
fixed in swagger, would be released in a couple of days https://github.com/Azure/azure-rest-api-specs/pull/4339

[2018-10-29 21:04] #3307 closed

[2018-10-30 16:17] jhendrixMSFT opened #4356 "nodeDeallocationOption sending enum ordinal breaks Go SDK"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/3171
The operation `Pool_ListByBatchAccount` is returning the value `nodeDeallocationOption` by ordinal which doesn't work for all languages.  As a result this API is not usable in the Go SDK.  Below is a sample of the response body.
[code]

[2018-10-30 16:34] devigned commented on #4356
This has been called out by multiple customers. It would be great if we could get a fix out there ASAP.

[2018-10-30 16:42] matthchr commented on #4356
@kiwidev - Were you aware of this?

[2018-10-30 20:09] jhendrixMSFT opened #4359 "Cannot build servicefabric package-2018-02 due to mismatched duplicate models"
ERROR (Fatal/DuplicateModelCollsion): Duplicated model name with non-identical definitions
    - file:///C:/vladdb/repos/devdiv/sdks/azure-rest-api-specs/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2017-07-01-preview/application.json:973:4 ($.definitions.ApplicationHealthPolicy)
    - file:///C:/vladdb/repos/devdiv/sdks/azure-rest-api-specs/specification/servicefab

[2018-10-31 23:33] kiwidev commented on #4356
Thanks. I've put a fix into our service which will address this. Will update once we have an ETA for when it will hit production.

[2018-11-02 14:21] ig-sinicyn commented on #1906
UPD#2: important: the resize works only once. Any consequent deploy with different diskSizeGB will fail with `Changing property 'osDisk.diskSizeGB' is not allowed` error.

[2018-11-05 11:59] Zariel opened #4396 "storage/datalakestore: Path_Create has duplicate headers with x-ms- prefix"
For storage/data-plane/Microsoft.StorageDataLake/preview/2018-06-17

Path_Create the following headers have a duplicate header with x-ms- prefix

- Cache-Control
- Content-Encoding
- Content-Language
- Content-Disposition

The documentation for each of these is the same for the corresponding X-MS- header.

This shows up on the documentation reference page too, is this intentional and does setting

[2018-11-05 12:00] Zariel commented on #4396
cc @ThomasMarquardt

[2018-11-05 14:53] rodrigorodriguez opened #6585 "listChannelWithKeys should not allow PUT operations"
The method subscriptions/${subscriptionId}/resourceGroups/${group}/providers/Microsoft.BotService/botServices/${botId}/channels/WebChatChannel should not accept PUT.  We had an error that would be elucidated if it had thrown an exception.

[2018-11-06 09:31] sylr commented on #4356
@devigned @kiwidev Any news about this ?

[2018-11-06 10:25] sylr opened #4404 "No networking interface Properties provided"
This issue has previously been opened at https://github.com/prometheus/prometheus/issues/4779 because it's the software that revealed the symptom.

In a few words it happens (very occasionally with no obvious reason) that [client.getNetworkInterfaceByID(*nic.ID)](https://github.com/prometheus/prometheus/blob/167a4b4e73a8eca8df648d2d2043e21bdb9a7449/discovery/azure/azure.go#L310) returns an object

[2018-11-06 13:19] lwajswaj opened #4405 "Azure Management Groups response body incomplete"
Hello,
I've the current hierarchy for management groups:

![managemnet group chart](https://user-images.githubusercontent.com/6439324/48066579-c7f2c200-e1ac-11e8-8bf7-7d4c832b20b7.jpg)

within parenthesis you can see the level of access I have and in *green* the Managemnet Groups I get as response when consuming the API: https://management.azure.com/providers/Microsoft.Management/managementGroups?

[2018-11-06 21:46] jhendrixMSFT opened #4408 "Add support for VM Instance Metadata"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/982

Add a swagger to support [Azure Instance Metadata](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service).

[2018-11-06 22:10] jhendrixMSFT opened #4409 "Subnet previously used by deleted api management service cannot be deleted"
Seems like [ApiManagementService_Delete](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimdeployment.json#L325) should be a long-running operation.
See https://github.com/Azure/azure-sdk-for-go/issues/2199 for more details.

[2018-11-07 01:41] zikalino opened #4412 "Example names very inconsistent"
Are there any guidelines for example naming?

- sometimes it's description
- sometimes long description
- sometimes just sample filename
- sometimes spaces
- sometimes underscores

Below 3 different examples:

[code]

[code]

[code]

[2018-11-08 21:17] jhendrixMSFT commented on #4412
The best practice is to describe the scenario without being too wordy if possible.  The docs for this are [here](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/x-ms-examples.md) and I've created a PR to suggest this.

[2018-11-09 04:53] zikalino commented on #4412
@jhendrixMSFT
Thanks for quick answer! :-)
I actually have a few additional questions.

What I am trying to do is to actually use examples to generate integration tests (and also samples) for Ansible. (they are generated automatically).

Instead of just creating my own samples, tests, I am trying to backpropagate fixes to the to the REST API specs.

I have noticed in the doc:

- It forms the basis

[2018-11-09 21:39] jhendrixMSFT commented on #4412
CC @sergey-shandar
Sergey and I investigated generating tests from examples in some depths last year.  While it works for simple cases we found it becomes very complex for APIs that have many prerequisites (i.e. creating a VM, you first have to create a NIC which means an IP which means a VNET etc).  We decided that in order to support this across all RPs it would really require a DSL to properly

[2018-11-12 02:50] zikalino commented on #4412
@jhendrixMSFT @sergey-shandar
i am trying to figure out whether i could somehow reuse existing samples without adding anything complicated on the top.
for instance, if sample resource ids were always formatted properly, i could probably find appropriate samples to create dependencies, but i guess there may be some exceptions.

[2018-11-12 14:53] sylr commented on #4356
@devigned @kiwidev guys ?

[2018-11-12 16:21] jhendrixMSFT commented on #4412
@sergey-shandar do you have the write-up we did for this?  It should cover a lot of the problems we ran into.
@zikalino Properly formatting resource IDs would help but from a quick look for creating a VM and its dependencies you can see that there is no standard today and nothing is enforced in CI.  See [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource

[2018-11-12 17:51] dbilleci-lightstream opened #4446 "Can't Update VMSS Shared Image Gallery Version"
Hello, here is an issue I posted in Terraform, I was told post here.

---
Using the current API version, you are allowed to launch a VMSS using a gallery image definition using either a specified version, or without:

imageReference.id = /galleries/StageGallery/images/Api
imageReference.id = /galleries/StageGallery/images/Api/versions/1.2.3

When not specifying the version, the image that gets use

[2018-11-12 18:41] marstr commented on #3978
Now that it is confirmed that this needs service attention, I'm removing my assignment.

[2018-11-12 18:42] jhendrixMSFT commented on #4267
This was updated in the PR.

[2018-11-12 18:42] #4267 closed

[2018-11-12 18:45] marstr commented on #2366
@MikhailTryakhov, is this deployed?

[2018-11-12 20:15] jhendrixMSFT commented on #4262
I updated the PR with the fix so closing.

[2018-11-12 20:15] #4262 closed

[2018-11-12 23:21] kiwidev commented on #4356
Hi @sylr, sorry for the delay, we've had some delays in deploying our latest release train. This should be available through all regions by Wednesday next week.

[2018-11-13 19:57] MikhailTryakhov commented on #2366
@marstr thanks for reminding
correct, it's deployed in PROD, can we give a try?

[2018-11-13 19:57] #2366 closed

[2018-11-14 00:13] zikalino commented on #4412
@jhendrixMSFT
yes, I may have a bit simplified view right now. I am thinking from DevOps tools perspective, for instance Ansible right now, so:
- API version are fixed for me, as my modules are based on specific version API, so I need to handle only dependencies between modules.
- enforcing consistent resource id would much simplify this task, and could probably be sufficient to automatically gene

[2018-11-14 18:48] veronicagg opened #4465 "Linter diff not catching issue where an exception was thrown by linter due bad file reference in readme.md"
Job https://travis-ci.org/Azure/azure-rest-api-specs/jobs/411518416 passed but shows an exception being thrown in the log

Processing configs:

[ 'specification/hardwaresecuritymodules/resource-manager/readme.md' ]

The results will be logged here: "/home/travis/build/Azure/azure-rest-api-specs/output/3548.json".

Processing "specification/hardwaresecuritymodules/resource-manager/readme.md":

Exec

[2018-11-15 01:02] hrboyceiii opened #4468 "Include required RBAC Action(s) for each operation in documentation"
See [Azure PowerShell Issue 6843](https://github.com/Azure/azure-powershell/issues/6843)

There are many scenarios where to perform a given operation, there isn't a least-privileged built-in RBAC role that grants the required permissions to perform the operation.  Simple examples include restarting a Web App, VM, etc.  Other scenarios (which are more complex beyond the rest apis themselves) includ

[2018-11-15 01:47] MikhailTryakhov opened #4470 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 01:47] MikhailTryakhov commented on #4470
closed due to hackability

[2018-11-15 01:47] #4470 closed

[2018-11-15 02:18] MikhailTryakhov opened #4471 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 02:18] #4471 closed

[2018-11-15 02:19] MikhailTryakhov opened #4472 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 02:19] #4472 closed

[2018-11-15 02:19] MikhailTryakhov opened #4473 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 02:19] #4473 closed

[2018-11-15 02:20] MikhailTryakhov opened #4474 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 02:20] #4474 closed

[2018-11-15 02:20] MikhailTryakhov opened #4475 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 02:20] #4475 closed

[2018-11-15 02:21] MikhailTryakhov opened #4476 "[Please ignore] trick to hack associated powerbi table"
Assign this issue on Azure NW responsible person to make them presented in PowerBI dashboard

[2018-11-15 02:21] #4476 closed

[2018-11-15 02:21] MikhailTryakhov opened #4477 "[Please ignore] trick to hack associated powerbi table"

[2018-11-15 02:21] #4477 closed

[2018-11-15 15:13] anderejd commented on #3525
Please re-open and post a link here when the OpenAPI specification is published.

[2018-11-15 15:55] dsgouda commented on #3525
I shall leave that to @rbrundritt

[2018-11-16 01:59] mozehgir opened #4485 "[Ignore] Test Issue 1 for S360"
Test issue - please ignore

[2018-11-16 02:00] mozehgir opened #4486 "[Please Ignore] Test Issue 2 for S360"
Test issue 2

[2018-11-16 02:02] mozehgir opened #4487 "[Please Ignore] Test issue 3 for S360"
Test issue 3 for s360 integration

[2018-11-19 05:33] anuchandy commented on #3643
@hbuckle based on Ajay's latest comment, the fix should be already deployed. Closing the issue, feel free to re-open if you still see the issue.

[2018-11-19 05:33] #3643 closed

[2018-11-19 05:52] anuchandy commented on #4487
@mozehgir removed myself from assignee list since this looks like a test we are doing.

[2018-11-19 06:11] #4487 closed

[2018-11-19 22:53] lmazuel opened #4500 "2018-09-01-preview/authorization-RoleAssignmentsCalls.json doesn't define correctly its return type"
From https://github.com/Azure/azure-sdk-for-python/issues/3802#issuecomment-440044397

Return types of operations are using `RoleAssignmentPropertiesWithScope` which omits important fields like `principalType`

[2018-11-19 23:51] daschult opened #4503 "datalake.Store data-plane definition casing inconsistency"
I was recently using the Node.js datalake.Store SDK and found a casing-inconsistency here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datalake-store/data-plane/Microsoft.DataLakeStore/stable/2016-11-01/filesystem.json#L1671
[code]
The response that I get back from the service actually looks like this:
[code]
As you can see, the top level property in the response is `Fi

[2018-11-20 00:05] ro-joowan commented on #4503
@daschult - please reassign this to @lewu-msft

[2018-11-20 18:32] #4486 closed

[2018-11-21 16:07] amenon90 commented on #2255
Any updates with this feature request?

[2018-11-21 21:13] tiny-dancer opened #4534 "VM Response Object Does Not Include Created DateTime"
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/get#virtualmachine

It appears the only way to know how long a VM is alive by querying the activity log directly.  I request a vm create date or age field is added to the vm response object.

[2018-11-22 05:13] amarzavery commented on #4534
@singhkays @hyonholee - The ask seems reasonable. Can you take a look at this issue?

[2018-11-22 06:58] tombuildsstuff opened #4545 "[Search] Resource Group is lower-cased"
👋

We've got acceptance tests which spin up a Search Service every night using version `2015-08-19` of the API. From `2018-11-20` our tests for the Search Services started failing as the casing of the Resource Group in the `id` returned from the Get API call is now returned in lower-case (but other values are not) - for example when using the Resource Group name `acctestRG-3269366889119765244` [th

[2018-11-22 08:47] #3489 closed

[2018-11-25 20:23] nschonni opened #4559 "Typo serverManagementtErrorCode in the StorageSync API"
Looks like this has been an extra "t" in "Management" for the StorageSync API since the beginning https://github.com/Azure/azure-rest-api-specs/search?q=serverManagementtErrorCode&unscoped_q=serverManagementtErrorCode
Didn't PR anything since it would be a breaking change to fix it, and I'm not sure how that process works in this repo.

[2018-11-25 20:28] nschonni opened #4560 "Typo in "PackageInfomation" for storageimportexport.json"
Guess this needs a breaking change to add the missing "r" for "Information" in https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json

[2018-11-26 20:34] brjohnstmsft commented on #4545
@tombuildsstuff Hi Tom, thanks for reporting this. I'll pass this along to the team who owns the management API for Azure Search and one of them will respond.

[2018-11-26 21:56] tjprescott opened #4567 "ApplicationGatewayFirewallExclusion should list allowed values"
Swagger gives no indication that the MatchVariable and SelectorMatchOperator fields only accept discrete values. When you supply something unsupported you get the following unhelpful error from the service:
`Exclusion MatchVariable 'blah' is unsupported for Application Gateway Firewall in context 'properties.webApplicationFirewallConfiguration.exclusions[0]'.`

The allowed values should be modeled

[2018-11-27 04:42] jeremie0 opened #4571 "DocumentDB listConnectionStrings only lists 1 "Default MongoDB Connection String""
https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings?api-version=2015-04-08
and az cosmosdb list-connection-strings  only return 1 connection string.

From the description and the fact that the DatabaseAccountListConnectionStringsResult is described as "An array that contai

[2018-11-27 05:18] viki1987 commented on #4545
@tombuildsstuff Hi Tom, our recent change is to make resource naming to be case insensitive for Azure Search, and all newly created search services will be stored in lower case. We don't plan to revert it back. Please refactor your test case to case insensitive too.

[2018-11-27 05:29] tombuildsstuff commented on #3964
ping @sarangan12 :)

[2018-11-27 05:38] tombuildsstuff commented on #4545
hi @viki1987

Thanks for getting back to me here :)

Whilst I can understand the intention here - unfortunately this behaviour is different to almost every other Azure API which return the ID of the resource in the casing provided in the URI (even where Resource Groups are treated case insensitively, or stored case-insensitively in an internal data store) - as such I believe this is a bug in the A

[2018-11-27 05:41] tombuildsstuff commented on #2661
ping @akumardu :)

[2018-11-27 05:42] tombuildsstuff commented on #3747
ping @naveedaz / @Nking92 :)

[2018-11-27 06:09] nschonni opened #4572 "Typo isIdentityCertExprired in Microsoft.DataFactory"
Few hits in the stable and preview APIs https://github.com/Azure/azure-rest-api-specs/search?q=isIdentityCertExprired&unscoped_q=isIdentityCertExprired

[2018-11-27 06:46] nschonni opened #4574 "Typo checkServiceFeatureAvailibility in ADHybridHealthService"
Should be "Availability" in the endpoint name and the examples https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L1926-L1935

[2018-11-27 06:56] nschonni opened #4575 "Typo AttributeMppingSource in ADHybridHealthService"
Should be "Mapping"
Referenced here
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L3869

And defined in here:
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybrid

[2018-11-27 06:57] nschonni opened #4576 "Typo DeletAdd in ADHybridHealthService"
Should be "DeleteAdd" in the enum values here
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L3967

[2018-11-27 07:00] nschonni opened #4577 "Typo timeOccured in ADHybridHealthService"
Should be "Occurred" in the following
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L4146

https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resou

[2018-11-27 07:03] nschonni opened #4578 "Typo aadDistringuishedName in ADHybridHealthService"
Should be "distinguished" in
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L4590-L4593

[2018-11-27 07:09] nschonni opened #4579 "Typo modififedValue in ADHybridHealthService"
Should be "modified" in
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L5381-L5384

[2018-11-27 07:11] nschonni opened #4581 "Typo timeFirstOccured in ADHybridHealthService"
Should be "Occurred" in
https://github.com/Azure/azure-rest-api-specs/blob/bd2aca046b487c2ae2f13cc91d26c5f8aae93571/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L4484-L4488

[2018-11-27 07:11] tombuildsstuff commented on #4545
hi @viki1987

From what I've understood of this (please correct me if I'm wrong 😄) - the issue that's attempting to be solved here was customers submitting values which conflicted with values in a different case (e.g. a customer attempts to submit `Hello` when `hello` already exists)? If so - it should be possible to work around this bug internally within the API (e.g. by doing a case-insensitive

[2018-11-27 16:45] lmazuel commented on #4500
Fixed https://github.com/Azure/azure-rest-api-specs/pull/4525

[2018-11-27 16:45] #4500 closed

[2018-11-27 16:49] devigned commented on #4545
@viki1987 I believe this behavioral change to the API would be considered a breaking change to an existing API version and fall outside of the guidelines for ARM APIs. Please apply the change only to future API versions and leave the existing API versions functioning as they have.

I'll be starting an internal thread with the API review board to review these changes.

[2018-11-27 17:09] jhendrixMSFT commented on #4578
Fixed

[2018-11-27 17:09] #4578 closed

[2018-11-27 17:14] nschonni commented on #4578
Thanks! There are a few more I filled yesterday too https://github.com/Azure/azure-rest-api-specs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+ADHybridHealthService
I wasn't sure if these could be fixed in the stable API

[2018-11-27 17:35] nschonni commented on #4578
Sounds good, I just wasn't sure how those breaking changes were fixed. Thanks for clarifying.

[2018-11-27 19:47] chandrasekarsrinivasan commented on #3870
Assigning to NIC owner. @wdehrich @ajinkyapotdarvjti

[2018-11-27 21:07] dbilleci-lightstream commented on #4446
Any update here on what's going to happen here? Acknowledged? Will be Addressed? ETA?

[2018-11-27 22:03] jianghaolu commented on #4577
@gamitra please take a look

[2018-11-28 06:23] gavinfish opened #4594 "Storage Accounts - Check Name Availability API Result misses infomation"
I try to use the Storage Accounts - Check Name Availability API at https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/checknameavailability. But it does not return the information declared at https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/checknameavailability#checknameavailabilityresult. It only return the `nameAvailable` value now even I change to the previo

[2018-11-28 06:34] blueww commented on #4594
@gavinfish

SDK just return what server return. It seems "Reason" and "Message" are not always return.
In my testing, it returns when the account name is invalid like "ABC".

[code]

[2018-11-28 06:44] gavinfish commented on #4594
@blueww you can see that it should return reason `AlreadyExists` when the storage account has already exists from https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/checknameavailability#reason . This worked fine and just breaks recently.

[2018-11-28 07:01] nschonni opened #4595 "Typos in Microsoft.ApiManagement/stable/2017-03-01/apimapis.json"
Should be "Issue"
https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimapis.json#L2906

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/api

[2018-11-28 08:46] blueww commented on #4594
@gavinfish
I have sent mail to SRP team to check if this is a designed server behavior change or not.

[2018-11-28 08:49] gavinfish commented on #4594
Thanks @blueww
It seems changed yesterday and this causes an issue in our Jenkins plugin, details [JENKINS-54885](https://issues.jenkins-ci.org/browse/JENKINS-54885). I also test all API versions which support Check Name Availability, and they all return the same results. So I think it should be a change on the service side.

[2018-11-28 09:35] blueww commented on #4594
@gavinfish
I will update you if get any responds from the SRP team.

[2018-11-28 22:16] nschonni commented on #4595
Here is a cleaned up version, but it still seems to be choking the Breaking Change check https://github.com/nschonni/azure-rest-api-specs/blob/1e15d77eacb6670683fde376b0ee0c12dffac831/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimapis.json

[2018-11-29 01:49] blueww commented on #4594
@gavinfish
As I get from SRP team:

[2018-11-29 01:54] gavinfish commented on #4594
Thanks, it works fine now. closing

[2018-11-29 01:54] #4594 closed

[2018-11-29 06:30] nschonni opened #4607 "Typo softareUpdateConfigurationRunTasks in Microsoft.Automation"
Should be "software"
https://github.com/Azure/azure-rest-api-specs/blob/605dd0c1f1cb5f5d10c657fd160104c5bc3508f3/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfigurationRun.json#L268-L272

[2018-11-29 07:03] nschonni opened #4609 "Typo StorgeQuotaParameters in Microsoft.Storage.Admin"
Should be "Storage"
https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2016-05-01/quotas.json#L45

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2016-05-

[2018-11-29 07:18] tombuildsstuff commented on #4409
@jhendrixMSFT out of interest, is there a rough timeframe for this?

[2018-11-29 15:18] jhendrixMSFT commented on #4409
We need to get the RP engaged.  @solankisamir do you own this?

[2018-11-29 17:21] jhendrixMSFT commented on #4409
@solankisamir I believe that the subnet is being freed, the question is the semantics of the API.  It's returning a 200 which states that the resource has been deleted however this is misleading as the delete is in progress.  Should this be modeled as a LRO?  @ravbhatnagar do you have any opinion on this?

[2018-11-29 20:17] tombuildsstuff commented on #4545
@devigned thanks for confirming 👍

Given that - @viki1987 is there a rough/estimated timeline for fixing this so that the API response is the same as it was previously/reverting this change?

Thanks!

[2018-11-29 22:55] ravbhatnagar opened #4625 "[ACR] [API Issue] The service does not have replace semantics for PUT"
The service will fix this in the next api-version. https://github.com/Azure/azure-rest-api-specs/pull/4506

[2018-11-29 22:57] ravbhatnagar commented on #4625
SDK team - please ignore issues labeled ARM-Review-issue.  We are opening API issues that service teams have committed to fixing in next api-version

[2018-11-29 23:02] mnltejaswini commented on #4625
/cc @sajayantony

[2018-11-30 00:09] sajayantony commented on #4625
We will work on this as a part of the AutoPurge API work and IP rules work that is a part of the next feature rollout.
/cc @djyou @ankurkhemani @julioct  @mnltejaswini

[2018-11-30 06:00] nschonni opened #4636 "Typo Speciality in EntitySearch"
Should be "Specialty"
https://github.com/Azure/azure-rest-api-specs/blob/dc782b320161cb372dc3322aca860e452b76e9c5/specification/cognitiveservices/data-plane/EntitySearch/stable/v1.0/EntitySearch.json#L720

Not sure if it's fixable since it's a hint.

[2018-11-30 13:18] ravbhatnagar opened #4637 "[AzureLabs] [APIIssue] Resource creation using POST"
Create resources using POST API - The resource provider uses the POST method for creating certain types of resources. POSTs are not idempotent and cant be invoked from the template. So, in the case where a school/organization wants to set up the entire lab (achieve the e2e scenario) by using an ARM template, it will not be possible. And moreover, in Azure, creating resources is done using PUTs. An

[2018-11-30 13:19] ravbhatnagar commented on #4637
https://github.com/Azure/azure-rest-api-specs/pull/4621

[2018-11-30 15:19] aullom1 commented on #3719
The bug as it is reported, and the PR, deal entirely with PostgreSQL.  However, this is also a problem with MySql.  Do you want a new bug for this, or is it appropriate to fix IgnoreMissingVnetServiceEndpoint for all databases?

[2018-11-30 16:49] QingqingYuan2 commented on #3719
We handle both of the databases together. No need for separate bug.
This bug has been fixed from RP side. PostgreSQL and MySQL both return 400 when "IgnoreMissingVnetServiceEndpoint" is set to false while vnet is not enabled the service.

[2018-11-30 23:23] lmazuel opened #4642 "VirtualNetworkGateways incorrect Swaggers"
A few bug that forces the CLI to manually override the SDK:

- VirtualNetworkGateways_Generatevpnclientpackage also returns 202, which is not declared in Swagger.

- VirtualNetworkGateways_Generatevpnclientpackage and VirtualNetworkGateways_GenerateVpnProfile needs a final call on Location to get the final result. This requires an annotation in the Swagger, as made before for NetworkWatcher (for e

[2018-12-01 18:27] nschonni opened #4664 "Typo Minimimum in Microsoft.DocumentDB"
The enum value should be "Minimum"
https://github.com/Azure/azure-rest-api-specs/blob/bd55850b1bd307a3ef18ba5a99d1793edfdf3426/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json#L2044-L2056

[2018-12-01 18:35] nschonni opened #4666 "Typo Queud in Microsoft.CostManagement"
Should be "Queued" in
https://github.com/Azure/azure-rest-api-specs/blob/7ae7189a99839315b540a0e1e3d233baa78850c1/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json#L2555-L2564

[2018-12-01 18:41] nschonni opened #4667 "Typo Managment in Microsoft.CostManagement"
Should be "Management". These are in the operationId so it would be a breaking change to fix I'm guessing

Forecast_UsageByManagmentGroup:
https://github.com/Azure/azure-rest-api-specs/blob/dd2a88f3c528ef69fc81123eb4481196a3690b66/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/costmanagement.json#L1104

Query_UsageByManagmentGroup:
https://github

[2018-12-01 19:32] nschonni opened #4669 "Typo thresHolds shouldn't be camlecase in Microsoft.CustomerInsights"
Should be "threshold" since it is a single word rather than 2 put together as camel case

[2018-12-01 19:36] nschonni opened #4670 "Typo expectedDataSizeInTeraBytes in Microsoft.DataBox"
"terabytes" is a single word and shouldn't be camelcase
https://github.com/Azure/azure-rest-api-specs/blob/7eac00e198e9d16c5f5d8c2fb8869fac81f5caa0/specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/databox.json#L1465

[2018-12-01 19:44] nschonni opened #4671 "Typo DataboxJobSecrets in Microsoft.DataBox"
Should be camelcased to "DataBox"

https://github.com/Azure/azure-rest-api-specs/blob/7eac00e198e9d16c5f5d8c2fb8869fac81f5caa0/specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/databox.json#L1265

[2018-12-01 19:51] nschonni opened #4673 "Typo ADCCatalogs_ListtByResourceGroup in"
There is a extra "t" in "List"
https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/datacatalog/resource-manager/Microsoft.DataCatalog/stable/2016-03-30/datacatalog.json#L50

[2018-12-01 20:52] nschonni opened #4678 "Typo isEligibileForMigration in Microsoft.DataMigrations"
Should be "Eligible"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-03-31-preview/definitions/TasksCommon.json#L608

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/datamigration/resource-manager/Microsoft.DataMigr

[2018-12-01 20:57] nschonni opened #4679 "Typo elapsedTimeInMiliseconds in Microsoft.DataMigration"
Should be "Millisecond"

https://github.com/Azure/azure-rest-api-specs/blob/ca3a879168e1d963f3563377b4f7f18c344f0382/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/TasksCommon.json#L594

[2018-12-01 20:59] nschonni opened #4680 "Typo INITIALIAZING in Microsoft.DataMigration"
Should be "INITIALIZING"
https://github.com/Azure/azure-rest-api-specs/blob/ca3a879168e1d963f3563377b4f7f18c344f0382/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-07-15-preview/definitions/TasksCommon.json#L995

[2018-12-01 21:10] nschonni opened #4682 "Typo ErrorMesssage in"
Has an extra "s" in "Message"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/deviceprovisioningservices/resource-manager/Microsoft.Devices/preview/2017-08-21-preview/iotdps.json#L1220-L1225

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/deviceprovisioningservices/resource-manager

[2018-12-01 22:19] nschonni opened #4688 "Typo EventHubs_PosttAuthorizationRule in eventhub/Microsoft.EventHub"
Extra "t" at the end of "Post"

https://github.com/Azure/azure-rest-api-specs/blob/273e8adc23e7190173441ba028b287d00d281683/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2015-08-01/EventHub.json#L881

[2018-12-01 22:28] nschonni opened #4691 "Typo GetWebapplicationfirewallPolicy in frontdoor/Microsoft.Network"
Tag value isn't camelcase, should likely be "GetWebApplicationFirewallPolicy". Wasn't sure if case changes on a tag are breaking, so didn't PR anything.

https://github.com/Azure/azure-rest-api-specs/blob/5682ce2525b7fa4b3115938a948af3bc46d6387f/specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/webapplicationfirewall.json#L85-L87

[2018-12-01 23:27] nschonni opened #4699 "Typo StorageAccountRegenerteKeyParameters in Microsoft.KeyVault"
Should be "Regenerate"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/keyvault/data-plane/Microsoft.KeyVault/stable/2016-10-01/keyvault.json#L4589

https://github.com/Azure/azure-rest-api-specs/blob/7741b58490385d8ef511a61faab42038b8fdce7e/specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.0/keyvault.json#L5506

https://github.

[2018-12-02 08:03] nschonni opened #4702 "Typo AppServicePlans_ListMetricDefintions in Microsoft.Web"
Should be "Definitions"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json#L609

https://github.com/Azure/azure-rest-api-specs/blob/96993c33a1a5877956d461f9a295b0decf1af154/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServicePlans.json#L669

[2018-12-02 08:06] nschonni opened #4703 "Typo MetricAvailabilily in Microsoft.Web"
Should be "Availability"

https://github.com/Azure/azure-rest-api-specs/blob/6501ef5baea5337952d72e083f52f300e5177c18/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServiceEnvironments.json#L1933

https://github.com/Azure/azure-rest-api-specs/blob/6501ef5baea5337952d72e083f52f300e5177c18/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironment

[2018-12-02 08:08] nschonni opened #4704 "Typo diagnosicsOutput in Microsoft.Web"
Should be "diagnostics"

https://github.com/Azure/azure-rest-api-specs/blob/6501ef5baea5337952d72e083f52f300e5177c18/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServiceEnvironments.json#L1927

https://github.com/Azure/azure-rest-api-specs/blob/6501ef5baea5337952d72e083f52f300e5177c18/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments

[2018-12-02 19:03] nschonni opened #4714 "Typo InternalErrorOccured in Microsoft.Migrate enums"
Should be "Occurred"

Used as an enum
https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/migrate/resource-manager/Microsoft.Migrate/preview/2017-11-11-preview/migrate.json#L983
https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/migrate/resource-manager/Microsoft.Migrate/preview/2017-11-11-

[2018-12-02 19:16] nschonni opened #4715 "Typo: MilliSeconds shouldn't be camelcase"
Found it this way in a few files
- specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/GetOperations.json
- specification/monitor/resource-manager/microsoft.insights/preview/2017-05-01-preview/metricDefinitions_API.json
- specification/monitor/resource-manager/microsoft.insights/preview/2017-05-01-preview/metrics_API.json
- specification/monitor/

[2018-12-03 06:15] nschonni opened #4721 "Typo Uknown in network/resource-manager/Microsoft.Network/networkWatcher.json"
Should be "Unknown"
Found in a few API versions https://github.com/Azure/azure-rest-api-specs/search?q=Uknown&type=Code

[2018-12-03 11:57] tombuildsstuff opened #4732 "Databricks API allows provisioning using any case, but is case-sensitive for cluster login"
👋

We've recently added support for Databricks Clusters to Terraform, which makes use of version `2018-04-01` of the Azure API.

During the initial investigation into this resource we noted that Databricks Clusters can be provisioned either using a `Standard` or `Premium` SKU's - as such we've added support for these. After shipping this functionality to customers [we've identified an issue](https

[2018-12-03 18:41] jhendrixMSFT commented on #4670
Spoke with the owner of this swagger, this is how the data looks on the wire so we cannot change it.

[2018-12-03 18:41] #4670 closed

[2018-12-03 19:00] jhendrixMSFT commented on #4670
@sojain @saran94 to answer your question

[2018-12-03 19:17] sarangan12 opened #4733 "Add x-ms-examples for DataLakeStorage"
Regarding the issue: https://github.com/Azure/azure-rest-api-specs/pull/4639 This PR did not include examples. Since the release is scheduled on December 4th, We are giving an exception and creating this issue, so the examples can be added soon.

[2018-12-03 21:33] tombuildsstuff commented on #1770
@salameer is there any update here? :)

[2018-12-03 21:47] hovsepm opened #4738 "Payload examples are missing from the swagger."
Per owner team request PR https://github.com/Azure/azure-rest-api-specs/pull/4621 was merged with missing payload examples and due to that Linter CI build failure. They are planning fix early next year [quote] "We would like to proceed with requesting an exception to the examples requirement. We're going to look at adding them early next year."

[2018-12-03 22:35] MikhailTryakhov commented on #4642
Hey @lmazuel  please use [this table](https://microsoft.sharepoint.com/teams/WAG/AzureNetworking/_layouts/OneNote.aspx?id=%2Fteams%2FWAG%2FAzureNetworking%2FOneNotes%2FNRP%20migrated&wd=target%28Hydra%20%2B%20SDK.one%7C96F7B95B-A378-4CA5-903B-C88F894873EF%2FPowerShell%20tests%20ownership%7C999ED209-6ACB-4339-9CE8-B02F7A97FCE2%2F%29) to assign to the service team directly.

[2018-12-03 22:48] nschonni opened #4741 "Typo personalPerferencesOperationsPayload in labservices/resource-manager/Microsoft.LabServices"
Should be "Preferences"

https://github.com/Azure/azure-rest-api-specs/blob/02af72649b779a5ff87b6e258e393b16b5417c35/specification/labservices/resource-manager/Microsoft.LabServices/stable/2018-10-15/ML.json#L155-L160

https://github.com/Azure/azure-rest-api-specs/blob/02af72649b779a5ff87b6e258e393b16b5417c35/specification/labservices/resource-manager/Microsoft.LabServices/stable/2018-10-15/ML.jso

[2018-12-04 01:53] veronicagg opened #4744 "Model validation failed but CI job showed success exit code"
Check job https://travis-ci.org/Azure/azure-rest-api-specs/jobs/457417470 Model validation seems to have thrown an exception
 Number of swaggers found in this PR: 2
 Files deleted in this PR are as follows:
[]
(node:4150) UnhandledPromiseRejectionWarning: #<Object>
(node:4150) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async

[2018-12-04 01:59] sergey-shandar commented on #4744
It's fixed after rerun.
[code]

[2018-12-04 01:59] #4744 closed

[2018-12-04 06:33] nschonni opened #4750 "Typo Relaytype in relay/resource-manager/Microsoft.Relay"
Should probably be camel cased to "RelayType"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/relay/resource-manager/Microsoft.Relay/stable/2016-07-01/relay.json#L1959-L1961

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/relay/resource-manager/Microsoft.Relay/stable/2017-04-01/rel

[2018-12-04 07:00] nschonni opened #4752 "Typo occuredTime in resourcehealth/resource-manager/Microsoft.ResourceHealth"
Should be "occurred"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2015-01-01/resourcehealth.json#L332-L336

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/sta

[2018-12-04 08:04] nschonni opened #4759 "Typo MessagingPlanproperties in servicebus/resource-manager/Microsoft.ServiceBus"
Looks like it was mentioned in https://github.com/Azure/azure-rest-api-specs/pull/2831#pullrequestreview-110221332 so maybe there is an internal work item already, otherwise it should be "MessagingPlanProperties"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2014-09-01/servicebus.js

[2018-12-04 08:13] nschonni opened #4761 "Typo Ruleproperties in servicebus/resource-manager/Microsoft.ServiceBus"
Should be camel cased to "RuleProperties"

https://github.com/Azure/azure-rest-api-specs/blob/6e127e682da4a23887d655657abfc3379d719540/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/servicebus.json#L3901

https://github.com/Azure/azure-rest-api-specs/blob/6e127e682da4a23887d655657abfc3379d719540/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable

[2018-12-04 08:17] nschonni opened #4762 "Bug: Rules_Get missing externalDocs url in servicebus/resource-manager/Microsoft.ServiceBus"
The empty string gets flagged as an error in the schema validator

https://github.com/Azure/azure-rest-api-specs/blob/6e127e682da4a23887d655657abfc3379d719540/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/servicebus.json#L2830-L2837

[2018-12-04 09:37] vivekkothakota commented on #4714
Will fix this. Thank you.

[2018-12-04 12:41] amarzavery commented on #4761
I don't think the service team will fix that since it will result in a binary breaking change for sdks in languages like C# and Java where the name of the model classes matter.

[2018-12-04 12:41] #4761 closed

[2018-12-04 20:35] wacsintegra opened #4770 "Update Readme.md file"
The link to https://github.com/Azure/adx-documentation-pr is not accurate for the hyperlink titled "Azure Developer Experience guide " in your main readme.md. Currently, this pages does not exist..

[2018-12-04 20:41] jhendrixMSFT commented on #4412
Closing as I believe there's no further action here (feel free to reach out offline if you have further questions regarding the test automation).

[2018-12-04 20:41] #4412 closed

[2018-12-05 01:06] EugeneFoo opened #4777 "Bot service channel create seems broken?"
Hi refer my reply on here:
https://github.com/Azure/azure-cli/issues/7564

The Azure BotService REST API for channel create is that working? no matter how i change my body structure and do a PUT it always encounter 400/500 error message.

`{
    "error": {
        "code": "InternalServerError",
        "message": "Encountered internal server error. Please try again."
    }
}`

[2018-12-05 03:01] ivasilyev-servicetitan-com commented on #4446
I faced the same problem. And would also like to have ability to update shared image version for VMSS created based on Shared Image.

On more issue I faced which is related as well:
- for VMSS created based on non-gallery managed image you can't update the image pointing Shared Image. You got Id /subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/images-rg/providers/Microsoft.Comput

[2018-12-05 04:33] slikk66 commented on #4446
As a workaround, I've written an AWS lambda function running on a cron event that queries the gallery "latest" version then updates a tag on the vmss. This causes the vmss instances that don't have that tag to show out of date model. It's not ideal because really you can only roll forward and not backwards, but until Azure fixes this up not sure what else can be done. I used lambda because I could

[2018-12-05 05:04] ivasilyev-servicetitan-com commented on #4446
Thanks for suggestion. I saw similar workaround mentioned [here](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2284#issuecomment-437934014). Will use the same until this issue is resolved

[2018-12-05 06:37] nschonni opened #4782 "Typo restorableDroppededDatabaseId in"
Should be "Dropped" instead of "Droppeded"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backups.json#L127

It's in an old stable API so it's probably not fixable now

[2018-12-05 07:12] nschonni opened #4784 "Bug missing externalDocs url in specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json"
Like noted below, this apparently is required for the schema

[code]

[2018-12-05 16:10] tombuildsstuff commented on #4545
ping @viki1987 :)

[2018-12-05 16:11] tombuildsstuff commented on #3964
@jhendrixMSFT since this has been open for a few months and we've not heard back would it be possible to escalate this to the Service Team?

[2018-12-05 16:12] tombuildsstuff commented on #3747
@jhendrixMSFT sorry to ping on a couple of different issues - would it be possible to escalate this to the Service Team since this hasn't been looked at since being reported a few months back?

[2018-12-05 16:14] jhendrixMSFT commented on #3964
@tombuildsstuff I'll forward this to the RP, sorry for the delay.

[2018-12-05 16:17] jhendrixMSFT commented on #3747
@tombuildsstuff No worries I will follow up on both of these.

[2018-12-05 16:20] tombuildsstuff commented on #4105
@jviau just to follow up here, I've noticed that [`2018-09-15` is now available in the tree](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15) - is this the version you were referring too?

[2018-12-05 17:15] slikk66 commented on #4446
FYI, I have a ticket in with Microsoft.. so far they've admitted it's likely a "product limitation" at this time but waiting on official word:

[code]

[2018-12-05 17:42] jviau commented on #4105
@tombuildsstuff yes it is available now on NuGet: https://www.nuget.org/packages/Microsoft.Azure.Management.DevTestLabs/3.0.0. Sorry I didn't update this, I was waiting on a blog post to share with you.

[2018-12-05 17:42] salameer commented on #4673
@nschonni please note that these specs represent the service, if there's a typo in the service side then it should be fixed there and not here :)

[2018-12-05 17:45] nschonni commented on #4673
For sure, I don't work for Microsoft, so I can report it here and hopefully gets pulled internally if it isn't just a Swagger generation issue.

[2018-12-05 18:12] tombuildsstuff commented on #4105
@jviau cool thanks - we use the Go SDK rather than the .net clients - so I'm going to ask @jhendrixMSFT / @joshgav if it'd be possible to update the codegen so this is available in the SDK?

Thanks!

[2018-12-05 18:30] nschonni opened #4793 "Add a CI task for running spell checking"
I've been going through the APIs and cleaning up the minor typos. At the end of this I'll have dictionary that can be used to add a CI step.
cSpell is used as the common underlaying VS Code spell checker, but also has a CLI that can be plugged in as an extra Travis step or added to the Linter run.

- Add root .cSpell.json for Microsoft acronyms and found common exceptions
- Add child .cSpell.json

[2018-12-05 22:21] tombuildsstuff commented on #4105
cool, thanks @jhendrixMSFT :)

[2018-12-06 00:44] nschonni opened #4799 "Should specification/monitor/data-plane/preview be under a namespace"
The resource-manager part is under a "Microsoft.Insights", but this one does't have a namespace folder like most of the other APIs

[2018-12-06 06:08] nschonni opened #4802 "Typo DeviceSettings_SyncRemotemanagementCertificate should be camel case in specification/storsimple8000series/resource-manager/Microsoft.StorSimple/stable/2017-06-01/storsimple.json"
Should have "Management" capitalized

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/storsimple8000series/resource-manager/Microsoft.StorSimple/stable/2017-06-01/storsimple.json#L2907

[2018-12-06 06:12] nschonni opened #4803 "Typo uploadCertificateRequestrequest should be came calse"
The second "Request" should be capitalized

https://github.com/Azure/azure-rest-api-specs/blob/53fe93921c9719ae90db8f6aaee7b6ea82f02355/specification/storSimple1200Series/resource-manager/Microsoft.StorSimple/stable/2016-10-01/examples/ManagersUploadRegistrationCertificate.json#L8

https://github.com/Azure/azure-rest-api-specs/blob/0d9a904f95e116b3f92127d7584ea44412991351/specification/storSimple1

[2018-12-06 06:21] nschonni opened #4804 "Typo MetricAvailablity in StorSimple8000 and StorSimple 1200"
Should be "Availability"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/storsimple8000series/resource-manager/Microsoft.StorSimple/stable/2017-06-01/storsimple.json#L7411

https://github.com/Azure/azure-rest-api-specs/blob/0d9a904f95e116b3f92127d7584ea44412991351/specification/storSimple1200Series/resource-manager/Microsoft.StorSimple/sta

[2018-12-06 06:26] nschonni opened #4805 "Typo occurences property in StorSimple8000 and StorSimple1200"
Should be "occurrences"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/storsimple8000series/resource-manager/Microsoft.StorSimple/stable/2017-06-01/storsimple.json#L4996-L5000

https://github.com/Azure/azure-rest-api-specs/blob/0d9a904f95e116b3f92127d7584ea44412991351/specification/storSimple1200Series/resource-manager/Microsoft.StorSimpl

[2018-12-06 07:00] nschonni opened #4811 "Typo DomainAvailablilityCheckResult in Microsoft.DomainRegistration"
Should be "Availability"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2015-04-01/Domains.json#L918

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2018-02-01/Domains

[2018-12-06 16:31] slikk66 commented on #4446
Here's the official long and not very helpful response from MS:

[code]

[2018-12-07 03:11] ivasilyev-servicetitan-com commented on #4446
@slikk66 I'd like to ask you about the workaround you're using.
To make VMSS instances "out-of-date" I tried to add new tag to VMSS.
I didn't manage to add tag using command like `az vmss update --resource-group dev-rg --name DEV_VMSS --set tags={2018120614.30.51}` - I always got an error `az vmss update: 'utputformat' is not a valid value for '--output'. See 'az vmss update --help'.`
I successful

[2018-12-07 03:56] ivasilyev-servicetitan-com commented on #4446
And one more note: if you didn't produce new Image version for your SharedImage and just update imageReference of the VMSS - the instance is still LatestModel=Yes.
Only if you really have different "latest" version in you SharedImage then VMSS instance will show LatestModel=No (when you update imageReference).
So internally VMSS "almost" working fine, it controls the real "version" of image it's u

[2018-12-07 09:48] viki1987 commented on #4545
@tombuildsstuff thanks for you suggestion.

We made an incremental fix to support case preserving, which means we revert the API behavior and don't need to upgrade API version. Unfortunately, the resource group name of services created during this period of time will keep in lower case.

It's important to know that we are still on the way to bringing this fix to production. Please give us more tim

[2018-12-07 20:51] slikk66 commented on #4446
Hey ivasilyev, I'm working on my tag updater now too, and it looks like you're right, updating the tag only doesn't change the "model" - I'm not sure why I thought it did, I must have ran a bad test.
So you're saying if you try to change the image.id to a new version, even though it doesn't work (the image doesn't change, it still updates the model? I'm going to run some more tests myself.

[2018-12-07 23:34] slikk66 commented on #4446
Hey again @ivasilyev-servicetitan-com so I tried to update the imageReference.id like you said, but I'm using the Python SDK.. If the VMSS has been set with the ID such as galleries/MyGallery/images/MyImage and then I run the command:

[code]

which should just set it again to the same thing, it's not updating my model :(

Any help you have would be appreciated.. I'm now searching for other things

[2018-12-08 03:53] amarzavery commented on #4576
@gamitra This change was made by you in this PR over [here](https://github.com/Azure/azure-rest-api-specs/commit/4d705b38b39d0f7c163fa98299070c253d8afac4#diff-c2cb03962871ddfd92daee77e1cf44beR3412).

Looks like the enum value should be DeleteAdd and not DeletAdd. Can you please verify what is the actual value expected by the service on the wire? Otherwise it may cause unnecessary errors to our cus

[2018-12-08 21:11] nschonni opened #4832 "Typo WaitTimeBetweenFautlsInSeconds in Microsoft.ServiceFabric"
The JSON file is too big to link to the line, but it should be "Faults" on line 23048 in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/servicefabric/data-plane/Microsoft.ServiceFabric/stable/6.4/servicefabric.json

[2018-12-08 21:19] nschonni opened #4833 "Typo EnsurePartitionQurumSafetyCheck in Microsoft.ServiceFabric"
Should be "Quorum". Found in version 6.2 to 6.4

[2018-12-08 23:14] nschonni opened #4837 "Typo workflowAccesskey not camel case in Microsoft.Logic"
Should be "AccessKey"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/logic/resource-manager/Microsoft.Logic/preview/2015-02-01-preview/logic.json#L650

[2018-12-08 23:17] nschonni opened #4838 "Typo blobListblobPath not camel case in Microsoft.ImportExport"
Should be "bloblListBlobPath"

https://github.com/Azure/azure-rest-api-specs/blob/32b0d873aa851d456dfde7d6ba1d89ff33f897f0/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json#L1042-L1045

[2018-12-09 02:19] nschonni opened #4839 "Typo PendingDomainControlValidationREquestApproval not camel case in Microsoft.Cdn"
Should be "Request"

https://github.com/Azure/azure-rest-api-specs/blob/114e4139f190040e07d22fadf41a080ea5bd6360/specification/frontdoor/resource-manager/Microsoft.Network/preview/2018-08-01-preview/frontdoor.json#L2265

https://github.com/Azure/azure-rest-api-specs/blob/d6ad72734a6b1a86b68a5c331ec1d68b78379cbf/specification/cdn/resource-manager/Microsoft.Cdn/stable/2017-04-02/cdn.json#L2451

http

[2018-12-09 02:51] nschonni opened #4840 "Bug simpleProperties appears to be "Items" array instead of "Item" object in Microsoft.ADHybridHealthService"
The example and the other usage in the file are of an  array of objects, but the following is of type `object` and defined as `Item`

https://github.com/Azure/azure-rest-api-specs/blob/9585c0c2827232575b192478fe6af0c2cec18ca1/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L4314-L4319

Not sure if the example or the

[2018-12-09 03:00] nschonni opened #4841 "ServiceMember.dimension looks like it should be array in Microsoft.ADHybridHealthService"
The description here is of an oject of `Item`, which is a key/value object. O

https://github.com/Azure/azure-rest-api-specs/blob/9585c0c2827232575b192478fe6af0c2cec18ca1/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L6034-L6039

The example of this object has it as an array of Item.

[2018-12-09 03:02] nschonni opened #4842 "ServiceMember.properties looks like it should be array in Microsoft.ADHybridHealthService"
The description here is of an oject of `Item`, which is a key/value object.

https://github.com/Azure/azure-rest-api-specs/blob/9585c0c2827232575b192478fe6af0c2cec18ca1/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L6106-L6111

The example of this object has it as an array of Item.

[2018-12-09 03:05] nschonni opened #4843 "ServiceMember.installedQfes looks like it should be array in Microsoft.ADHybridHealthService"
The description here is of an object of `Item`, which is a key/value object.

https://github.com/Azure/azure-rest-api-specs/blob/9585c0c2827232575b192478fe6af0c2cec18ca1/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L6049-L6055

The example of this object has it as an array of Item.

[2018-12-09 03:07] nschonni commented on #4843
There are a bunch of similar issues with this definition, so I'm going to combine them

[2018-12-09 03:07] #4843 closed

[2018-12-09 03:08] nschonni commented on #4841
There are a bunch of similar issues with this definition, so I'm going to combine them

[2018-12-09 03:08] #4841 closed

[2018-12-09 03:28] nschonni opened #4844 "Tenant.globalAdminsEmail marked as object instead of array in Microsoft.ADHybridHealthService"
It's described as a list and that it has `string` `items`, but the value is marked as `object`

https://github.com/Azure/azure-rest-api-specs/blob/9585c0c2827232575b192478fe6af0c2cec18ca1/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json#L6247-L6253

The example also indicates an array of string.

[2018-12-09 07:41] nschonni opened #4856 "ImageSearch model validation causes crash"
Filtering the modelValidation.js to try and isolate why the larger PR_Only=True doesn't complete indicates a fatal parsing error in the examples for specification/cognitiveservices/data-plane/ImageSearch/stable/v1.0/ImageSearch.json

Running on just SuccessfulImageSearchRequest.json still causes the following:
[code]
Tried updating to oav 0.10.2, but still has the issue.

[2018-12-09 19:21] slikk66 commented on #4446
Think I found a good workaround - I'm updating the custom_data with basically the same data, and adding a differing "touch" command at the end.  When I update this, it sets the model as out of date (good) and keeps the bootstrap system in place (good) but changes it just enough for the desired effect.

I set up a Lambda at AWS that runs on a Cloudwatch event (I couldn't figure out AZ functions) th

[2018-12-09 21:31] nschonni opened #4862 "Pipelines_CreateOrUpdate examples crashing model validation process"
Commenting out either of the examples allows them to run, but it seems like both together are causing an issue for `oav`

https://github.com/Azure/azure-rest-api-specs/blob/8bc8571d5d796f7c02b1dc8ce88effd2ba7a23e2/specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/datafactory.json#L1680-L1688

https://github.com/Azure/azure-rest-api-specs/blob/8bc8571d5d796

[2018-12-10 04:14] amarzavery commented on #4837
Is there a specific reason for the parameter to be named accessKey instead of workflowAcessKey ?

[2018-12-10 04:44] nschonni commented on #4837
Sorry, I was just pointing out that the "K" wasn't capitalize in the word. "workflowAcessKey" is the correct full property name

[2018-12-10 09:34] amarzavery commented on #4837
I see. I don't think this requires a change. This will cause unnecessary breaking changes in the API and the sdks that get generated from it. Hence closing the issue.

[2018-12-10 09:34] #4837 closed

[2018-12-10 23:04] nschonni commented on #4667
/cc @olrakovs

[2018-12-11 00:14] matthchr commented on #4356
This should be fixed now. You probably can close this issue.

[2018-12-11 04:40] nschonni opened #4878 "LocalSearch model validation causes crash"
Same as #4856, running model validation on this swagger folder causes a crash.
Running with `node --max-old-space-size=8192 scripts/modelValidation.js` gives a slightly different error
[code]
Removing the `x-ms-example` does allow it to pass, but it doesn't seem like anything in the example should cause it to crash.

PS: The very similar `NewsSearch` doesn't seem to crash

[2018-12-11 07:49] nschonni opened #4885 "Typo listMigrationdate in"
Should be camel case "listMigrationDate"

https://github.com/Azure/azure-rest-api-specs/blob/d02b8b65bf8ce5d8322c92530bf6b2e6dd3b9aab/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2017-10-01/eaSubscriptionMigration_API.json#L97

Not sure if the endpoint casing is a breaking change

[2018-12-11 18:17] jhendrixMSFT commented on #4356
@sylr is this working for you now?

[2018-12-11 20:25] WodansSon opened #4894 "MariaDB GA API Missing Spec"
The service team [announced](https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-azure-database-for-mariadb/) on December 4, 2018 that they GA'd the MariaDB API. However, I am only able to locate the [MariaDB Preview Spec](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/mariadb/resource-manager) in the azure-rest-api-specs repo.

Can we add the Mar

[2018-12-12 13:20] schweikert opened #4901 "Microsoft.RecoveryServices/vaults: sku can't be set to RS0"
According to the spec https://github.com/Azure/azure-rest-api-specs/blob/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/vaults.json, it should be possible to set "sku" to RS0, however when trying to set that I get:

    Status=400 Code="InvalidRestApiParameter" Message="sku parameter is invalid.\r\nPlease provide a valid sku"

Another problem is

[2018-12-12 14:05] dhdanie commented on #1463
Confirmed for Node SDK as well though it looks like they worked around it directly in the SDK.  Specifically, in npm package azure-arm-website, in lib/models/certificateCollection.js, in the mapper, they've specified that the "serializedName" for the non-existent "value" component of the response is an empty string (""), so when the mapper goes to deserialize the response, the first root object in

[2018-12-12 16:33] tombuildsstuff commented on #4545
hey @viki1987

No worries - just looking for a rough timeframe for this more than anything, be it days or weeks :)

I'm a little confused as to why Search Services created during this time period would remain lower-cased since [in this comment](https://github.com/Azure/azure-rest-api-specs/issues/4545#issuecomment-441943955)  (`It's a quick fix and didn't touch data store`) I thought they were sto

[2018-12-12 21:13] ravbhatnagar opened #4903 "[BluePrint] [APIissue] resource type name blueprintAssignment/{name}/operations should be chnaged to /assignmentOperations"
As per discussion with Marcin, below is the proposal -
/assignmentOperations
In a resource ID, it will look like this /subscriptions/{id}/providers/Microsoft.Blueprint/blueprintAssignments/{name}/assignmentOperations, which is redundant. On the upside the generated SDK already calls this object AssignmentOperations, so it will match the API now. The downside is that we will continue supporting /op

[2018-12-12 23:57] haitch commented on #4903
this is addressed in [latest commit](https://github.com/Azure/azure-rest-api-specs/pull/4590/commits/1208b90b526f3872c07ae9d9a91646102b94e0a3)

[2018-12-13 01:49] amarzavery commented on #4903
Looks Like the issue is addressed in PR #4590. Since @annatisch is already reviewing the PR, assigning the issue to her as she will have more context on this.

[2018-12-13 20:42] ravbhatnagar opened #4910 "[Microsoft.Sql] [APIIssue] Missing APIs for securityAlertPolicies"
LIST api to get all securityAlertPolicies for a database missing.
StorageAccountAccessKey MUST not be returned in GET/PUT response

[2018-12-14 01:43] ravbhatnagar opened #4914 "[Microsoft.DataMigration] [APIIssue] PUT is not idempotent"
Service does not allow the second PUT. #4627

[2018-12-14 10:28] tombuildsstuff opened #4915 "App Service Environment: unable to provision after 30 hours"
👋

We've been trying to provision App Service Environments using the API - either for a ASEv1 or an ASEv2; however we've been having issues where either version isn't provisioned after 30 hours (which is the documented maximum scaling time for an App Service Environment).

During this development work on our side I've noticed that the Azure Portal submits an ARM Template to provision an App Servic

[2018-12-14 20:54] nschonni commented on #4576
Fixed by #4880

[2018-12-14 20:54] #4576 closed

[2018-12-14 20:54] nschonni commented on #4844
Fixed by #4880

[2018-12-14 20:54] #4844 closed

[2018-12-17 18:22] veronicagg commented on #4465
The readme is referencing an incorrect file, but we cannot have the tool report success when there's something wrong and the tool is actually catching it by throwing an exception but not reporting it later. Per our conversation offline, I'm reopening the issue. Thanks.

[2018-12-17 22:19] sarangan12 commented on #4465
Code Changes Complete. PR Merged. No pending action items. Closing this now.

[2018-12-17 22:19] #4465 closed

[2018-12-18 00:04] ningl2 opened #4935 "Wrong response sample for KeyFrameIntervalDuration in repsonse"
It should write KeyFrameIntervalDuration of PT2S instead.

https://github.com/Azure/azure-rest-api-specs/blob/84f31a412411aa017ccf48bbc1a0e308be1806c0/specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/examples/liveevent-create.json#L58

[2018-12-19 16:00] bostonmoto commented on #2994
Hi @bsiegel what does the status "Service Attention" mean and is it possible for us to get an ETA on when this issue will be resolved.
Thanks!

[2018-12-19 19:50] bsiegel commented on #2994
Hi @bostonmoto  - Service Attention means that ownership of this issue has been handed off to the Azure Compute team to solve, as it relates to the service itself rather than an issue with the API specifications themselves.

@salameer can you help track down what the status of this issue is with the service team? Thanks!

For what it's worth, I apologize for the radio silence on your issue. We've

[2018-12-19 20:16] bostonmoto commented on #2994
Thanks for the update @bsiegel. We look forward to hearing from @salameer.

[2018-12-20 09:30] surajmuthreja commented on #3594
@hellosnow , @dsgouda , @hyonholee  Any update on this request.

[2018-12-20 19:14] zechariahks opened #4954 "MetricAlertAtResourceGroupLevel operation not working in Microsoft.Insights/metricAlerts Get call"
Hi,

I am trying to get all the metric alerts at resource group level using Get operation mentioned in the below document.

https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/get#get_an_alert_rule_on_resource_group(s)

From the document, only get on single metric alert works. All the other Get operations like MetricAlertAtResourceGroupLevel, MetricAlertAtSubscriptionLevel MetricAlertOn

[2018-12-20 19:37] hyonholee commented on #3594
Currently, a user can use Get-AzComputeResourceSku to get the result.  For example, the following will show zones for disks.

Get-AzComputeResourceSku | ? {$_.LocationInfo[0].Zones -ne $null -and $_.ResourceType -eq 'disks' }

But, the request is for more convenient API that shows zones based on input.  We will discuss regarding the suggested API.

[2018-12-20 22:02] danielestevez commented on #3594
There is an API call to get this info
https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list
Returns a huge response that you can filter and look for the zones allowed per resorce or region
` {
            "resourceType": "disks",
            "name": "Premium_LRS",
            "tier": "Premium",
            "locations": [
                "southeastasia"
            ],
            "loc

[2018-12-21 09:20] jcorioland opened #4956 "[Batch Pool] REST API returns vmSize property in upper case ?"
Hi,

I am currently working on the support of Azure Batch on the Azure Terraform provider. I am using the Azure SDK for Go and I've noticed that the `vmSize` for a Batch pool is returned in upper case.
See discussion [here](https://github.com/terraform-providers/terraform-provider-azurerm/pull/2461#issuecomment-449109995) and [here](https://github.com/terraform-providers/terraform-provider-azurerm

[2018-12-21 11:08] surajmuthreja commented on #3594
Thanks Daniel!

This is really huge response and needs filtration. But for the time being we can live with it I guess.

It will be more convenient if we can fulfill the original request also.
Thanks in advance!

Thanks,
Suraj Muthreja.

From: Daniel Estévez <notifications@github.com>
Sent: Friday, December 21, 2018 3:33 AM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc

[2018-12-23 08:38] EugeneFoo commented on #4777
hi is that any update for this?

[2018-12-26 07:49] gavinfish opened #4963 "Failed to upload files to Azure Storage File Service with SAS"
Hi,

I want to use SAS URL to upload files to Azure Storage. I have succeeded to do it in Azure Storage Blob Service. But when I want to repeat it in File Service. My requests become really unstable. I make a PUT request using URL like "https://fileshare.file.core.windows.net/test/file.txt?sv=2018-03-28&ss=bfqt&srt=sco&sp=rwdlacup&se=2018-12-26T15:31:23Z&st=2018-12-26T07:31:23Z&spr=https&sig=**".

[2019-01-03 09:47] tombuildsstuff opened #4977 "Swagger definitions shouldn't call newer API's than the Swagger definition"
👋🏻

The Go SDK exposes each API Version (Swagger Definition) as it's own SDK - which allows us to select the versions of each service we use. This is helpful in both Sovereign Clouds and Azure Stack where a given API version may not necessarily be rolled out.

Whilst some Swagger Definitions call into earlier API versions when the current API version doesn't expose that functionality (for example

[2019-01-04 17:32] aluong commented on #1275
I see a 200 response when I call the 2018-02-01 API as well.

[2019-01-04 17:32] lmazuel commented on #1275
@Nking92 that should be a simple fix, would it be possible to address it?

[2019-01-04 17:38] aluong commented on #1275
I think the WebApps_SyncFunctionTriggersSlot may have the same issue, but I have not tested to confirm.

[2019-01-07 16:50] bernerha opened #4995 "Storage custom domain indirect validation does not work"
The az cli uses another argument for the custom domain verification (broken) as the REST API offers (works).

We are using the REST API as a workaround because the az cli is broken.
The command
`account update --use-subdomain true --custom-domain xxx --name xxx --subscription xxx`
doesn't update the attribute "useSubDomain".

Funfact: The REST API doesn't use "useSubDomain" it uses "useSubDomainNa

[2019-01-07 17:22] tombuildsstuff commented on #4409
@jhendrixMSFT @solankisamir since this issue was originally opened in [July 2018](https://github.com/Azure/azure-sdk-for-go/issues/2199) would it be possible to escalate this to the Service Team? Based [on this comment](https://github.com/terraform-providers/terraform-provider-azurerm/pull/2582#issuecomment-452008563) it appears the Subnet isn't usable for up to 2 hours during any change to it at

[2019-01-08 14:01] joranm commented on #4409
Hi @solankisamir, sounds good. If this will be fixed in version `2019-01-01` would be great!

[2019-01-08 20:53] jhendrixMSFT commented on #4995
This was fixed in https://github.com/Azure/azure-rest-api-specs/pull/4938

[2019-01-08 20:53] #4995 closed

[2019-01-08 21:08] jhendrixMSFT opened #5005 "CostManagement: QueryResult swagger definition doesn't match service response"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/3765

The swagger defines the result to be an array however the response body doesn't match the definition.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-08-01-preview/costmanagement.json#L3381

### POST Request URL
https://management.azure.

[2019-01-09 23:52] sergey-shandar commented on #4856
https://github.com/Azure/azure-rest-api-specs/pull/5012

[2019-01-10 00:13] nschonni commented on #4878
@sergey-shandar will #5012 also address this, or is it a separate root cause?

[2019-01-10 14:42] tombuildsstuff opened #5014 "DNS Swagger URI does not match ID returned from the API"
👋

We're using the DNS API's (`2018-03-01-preview`) via the Azure SDK for Go which obtains the Resource using the following URL:

[code]

However in the API response the ID segment `dnszones` is returned in lower-case:

[code]

Would it be possible to update the URI/Resource ID in the Swagger to use `dnszones` rather than `dnsZones`, so that this matches the API response? In order to use the SDK's

[2019-01-10 19:01] dsgouda commented on #5014
@nschonni Can someone from DNS take a look at this?

[2019-01-10 19:21] nschonni commented on #5014
@dsgouda I'm not an MS employee. Think you're looking for @MikhailTryakhov or @number213

[2019-01-10 20:32] dsgouda commented on #5014
Whoops I picked the last committer. Thanks.
I believe they work with Network and DNS.
@vladrai Please take a look

[2019-01-11 21:57] #4856 closed

[2019-01-12 00:38] solankisamir opened #5029 "[Web App] Password is not a required property when creating Certificates"
We just update our nuget to 2.0.1 (api-version=2018-02-01) from 1.7.1-preview
https://www.nuget.org/packages/Microsoft.Azure.Management.WebSites/2.0.1

and it seems we have made the “Password” property a must in the new api-version.
https://github.com/Azure/azure-rest-api-specs/blob/67edb3f35a6b7342c8e48b4f0dc55099504eff50/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Certific

[2019-01-12 06:00] tombuildsstuff commented on #4732
ping @hovsepm :)

[2019-01-14 19:43] sblack4 opened #5032 "Databricks Create does not work in East US"
Hey all :wave:,

I've been having trouble provisioning Azure Databricks with terraform (see https://github.com/terraform-providers/terraform-provider-azurerm/issues/2214), ultimately realizing that it works with `centralus` but not `eastus`.

It seems to be a problem with the API. For example, when I run this scripts with `centralus` it works as expected but if I run it with `eastus` I get the err

[2019-01-14 21:42] hovsepm commented on #4732
@botang-databricks could you take a look to this issue?

[2019-01-14 23:43] GavinOsborn opened #5033 "[Azure DNS] Alias Record Support"
Hello,

I am working on a migration project from AWS Route 53 to Azure DNS for a multi-tenant SaaS platform.
In this project we hope to leverage the recently released [Alias Records](https://azure.microsoft.com/en-au/blog/announcing-alias-records-for-azure-dns/) feature as we have thousands of CNAME records that all point to the same target address.

These records are provisioned on-demand by our

[2019-01-14 23:46] GavinOsborn commented on #5033
//cc @vladrai as author of the previous PRs

[2019-01-15 23:06] jhendrixMSFT opened #5041 "SwiftVirtualNetwork missing Location property"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/3874

The `SwiftVirtualNetwork` struct is missing a `Location` property which is expected by the API

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json#L21274

[code]

After replacing `Kind` (which doesn't appear to be needed) with `Location` the requ

[2019-01-15 23:08] jhendrixMSFT commented on #5041
@lkems can you please take a look or route to the correct owner?

[2019-01-16 14:35] tombuildsstuff commented on #4915
@jhendrixMSFT would it be possible to escalate this to the Service Team? This appears to be a wider issue with App Service Environments, since users report the API is considerably slower than an ARM Template: https://github.com/terraform-providers/terraform-provider-azurerm/issues/2616

[2019-01-16 14:36] tombuildsstuff commented on #3425
ping @jianghaolu :)

[2019-01-16 14:37] tombuildsstuff commented on #1372
ping @olydis @hyonholee - is there any update available here? :)

[2019-01-16 14:37] tombuildsstuff commented on #838
ping @sazeesha - is there an update here? :)

[2019-01-16 14:39] tombuildsstuff commented on #3037
@TimLovellSmith sorry missed this.

Terraform's Diff (or `plan`) functionality shows you the difference between the current state of the resource (for example, the Connection Strings used in Azure) and the state defined locally in code - and shows you a proposed diff. The App Service API as an example returns the full (unmasked) connection string, so it's possible for users to see which parts of t

[2019-01-16 16:03] tombuildsstuff commented on #753
ping @sazeesha - is there any update here?

[2019-01-16 16:03] tombuildsstuff commented on #2255
ping @jianghaolu

[2019-01-16 16:04] tombuildsstuff commented on #3964
@jhendrixMSFT no worries :) did you hear back from the RP team in the end?

[2019-01-16 16:04] tombuildsstuff commented on #3747
@jhendrixMSFT hey - did you hear back from the Service Teams in the end?

[2019-01-16 16:05] tombuildsstuff commented on #4545
ping @viki1987 is there an update on when this'll be fixed? :)

[2019-01-16 16:05] tombuildsstuff commented on #4977
@anuchandy hey - just wondering if there's any thoughts/comments on this? :)

[2019-01-16 17:46] jhendrixMSFT commented on #3964
@tombuildsstuff the email thread died, I've asked for an update and for the service team to comment on this issue.

[2019-01-16 18:21] jhendrixMSFT commented on #4915
@tombuildsstuff I've started an email thread with the service team asking them to comment on this issue, sorry for the delay.

[2019-01-16 18:22] jhendrixMSFT commented on #3747
@tombuildsstuff I've started an email thread with the service team asking them to comment on this issue, sorry for the delay.

[2019-01-16 19:54] TimLovellSmith commented on #3037
@tombuildsstuff
So basically this behavior matters only to people who are storing their connection strings in their code?

[2019-01-16 22:38] danielestevez opened #5049 "Load Balancer SKU returns a Tier field not specified in documentation"
https://github.com/Azure/azure-rest-api-specs/blob/aa18874b5c74b41c0e1d94c1422bd4e000a448ec/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/loadBalancer.json#L1040

REST API returns a tier field in any GET operation (https://docs.microsoft.com/en-us/rest/api/load-balancer/loadbalancers/listall) as part of the LoadBalancerSKU object, but this is not included in this speci

[2019-01-17 01:35] nschonni opened #5052 "Typo AwaitingFulfilment in Microsoft.DataBoxEdge"
Typo in "Fulfillment" is misspelled in the enum
https://github.com/Azure/azure-rest-api-specs/blob/8fdcb5749d678cacc35e7f2e45f8528a4e2fefb4/specification/edgegateway/resource-manager/Microsoft.DataBoxEdge/stable/2018-07-01/edgegateway.json#L3151

[2019-01-17 01:51] nschonni commented on #4721
@number213 not sure if this is your group too

[2019-01-17 03:33] viki1987 commented on #4545
Hi @tombuildsstuff, we deployed the incremental fix, now the case of resource group name should be preserved as other Azure services, pls give it a try.

To answer you previous question: we introduced a bug during 2018-11-20 to 2018-12-10, thus lost the case information of resource group of newly created search services during this time. Those services are all effective, only when you query it you

[2019-01-17 11:35] number213 commented on #4721
@irrogozh @MikhailTryakhov please take a look

[2019-01-17 12:41] viki1987 commented on #4545
Hi @tombuildsstuff,

I'm really sorry we made you confused and reply late. You are right, I meant only newly created Search Services were lower-cased.

To completely fix this issue, we need 2 steps:
1.	Fix bug to preserve casing of resource group name.
2.	Update all Search Services affected before #1 from lower case to original case.

We finished #1 after 2018-12-10, so new Search Services created

[2019-01-18 09:14] sheenaajay opened #5064 "two reference names for same field VirtualNetworkPeeringParameters"
two reference names for same field VirtualNetworkPeeringParameters

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualNetwork.json#L657

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualNetwork.json#L1067

[2019-01-18 17:33] tjprescott opened #5065 "Monitor MetricAlerts incorrect casing of webhook properties results in downstream bugs"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-03-01/metricAlert_API.json#L323

See: https://github.com/Azure/azure-cli/issues/8223

I believe the correct casing should be `webHookProperties` not `webhookProperties`. When I use the CLI to create an alert with this field, it populates the `webHookProperties` field on t

[2019-01-18 17:44] lmazuel opened #5066 "Cosmosdb account name should have regexp matching"
Account name does not support "_" character, and error from service is not helpful.

The usual fix here is to define a regexp with the correct pattern that matches a possible account name on the server. This allows client side validation.

Create issues for customers:
https://github.com/Azure/azure-sdk-for-python/issues/4210

[2019-01-18 20:14] nschonni commented on #4666
Fixed in #4827

[2019-01-18 20:14] #4666 closed

[2019-01-21 19:05] salameer commented on #1512
Hi @solvingj

It seems taht @vishal-gandhi has provided a workaround workaround. Closing this issue due to inactivity if you're facing the issue or another kindly either reopen or create another issue :)

Thanks so much for engaging with us!

[2019-01-21 19:05] #1512 closed

[2019-01-21 19:09] PeterSteele opened #5072 "Create App Service certificate complains that key vault id is invalid"
I created an App Service cerfiicate order with the REST call described here:

https://docs.microsoft.com/en-us/rest/api/appservice/appservicecertificateorders/createorupdate

This was done as part of a Python automation script. As the next step I need to bind this certificate to a specific key vault, using this REST call:

https://docs.microsoft.com/en-us/rest/api/appservice/appservicecertificateo

[2019-01-21 19:14] salameer commented on #1739
Based on @mzhuazureidentity it seems that this can be resolved, Kindly reopen if it's still an issue

Thanks

Samer

[2019-01-21 19:14] #1739 closed

[2019-01-21 19:18] salameer commented on #3964
@jviau can you kindly look into this?

[2019-01-21 19:21] salameer commented on #753
@sazeesha kindly note that we will be escalating this issue

[2019-01-22 11:36] blueww commented on #3024
Close the issue and it's fixed.

[2019-01-22 11:36] #3024 closed

[2019-01-22 21:03] PeterSteele commented on #5072
This issue has been resolved. It turned out to be caused by the "keyVaultSecretName" field not being set in the payload that was passed to this REST call. The error message is a bit misleading since the culprit was not in fact the KeyVaultId field, despite the error saying that it was.

[2019-01-22 21:03] #5072 closed

[2019-01-22 22:11] joshgav commented on #3964
Hi @tombuildsstuff it will be difficult to change the API. Can you explain why case matters to you? Thanks!

[2019-01-23 08:52] viki1987 commented on #4545
Ping @tombuildsstuff, please let us know if you have further concern. If not, could you please close this issue?

[2019-01-23 11:41] tombuildsstuff commented on #3964
hey @joshgav

We've found historically that API's require that the casing of fields they consume is correct, particularly when it comes to Resource ID's - since otherwise they can provision successfully but be unusable (for example, [the Databricks API issue](https://github.com/Azure/azure-rest-api-specs/issues/5032) where the API provisions successfully but you're unable to login because the case

[2019-01-23 16:58] tombuildsstuff commented on #4545
@viki1987 thanks for patching the API so the original bug is now resolved, however there's still the issue of the 20 days of broken data (from `2018-11-20` to `2018-12-10`), since any customers using a Search Service created between these two dates will get a different response from the API (where the resource group name in the ID will be lower-cased) - which could lead to subtle/hard to reproduce

[2019-01-23 18:10] joshgav commented on #3964
Thanks @tombuildsstuff and thanks for [the Databricks example](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2214) where resource IDs are treated case sensitively. Could you please share other APIs where you've found this problem?

Per Resource Manager's [specs](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-details.md#case-insensitivity-

[2019-01-24 00:06] dsgouda commented on #3348
@MikhailTryakhov could someone from `VirtualNetworkGateway` services take a look?

[2019-01-24 00:08] dsgouda commented on #4804
@johnemmanuelm could someone from StorSimple take a look at this

[2019-01-24 02:42] metacpp opened #5082 "DevTestLab API failed due to `TooManyPortsRequested`"
`Request Header`
[code]

`Request Body`
[code]

It's a asynchronous operation, through querying the `Operation` API, we get below failure message:
[code]
Why it's failing here?

[2019-01-24 07:09] EvgenyAgafonchikov commented on #3348
@dsgouda, examples were fixed with [hack like this](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/examples/VirtualNetworkGatewayConnectionGet.json#L21), however this seems to be part of this issue: https://github.com/Azure/azure-rest-api-specs/issues/850 i.e. we should fix specs but not examples as server return

[2019-01-24 07:50] taspeotis commented on #1841
[This documentation](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/listpublishingcredentials) omits it but there are plenty of examples online of `scmUri` existing and being used.

[2019-01-24 11:12] sumangit789 commented on #2343
May i please know ,Is the Enum StandardSSD_LRS available in Azure Java SDK?

[2019-01-24 17:16] tariq1890 opened #5085 "Publish owners of the API schemas."
It is helpful to know who the owners of the Schema are, so that we can ask the right people when the consumers have questions.

Perhaps, we could add an owners field in the swagger JSONs.

[2019-01-24 17:57] dsgouda commented on #3348
@EvgenyAgafonchikov Please tag the appropriate users and I can assign the issue to them

[2019-01-25 09:22] EvgenyAgafonchikov commented on #3348
per our table Nilambari is point of contact for VNet Gateways.
@Nilambari, could you please take a look or re-assign appropriately?

[2019-01-25 18:22] sindstar commented on #3964
@tombuildsstuff ,Would a script help? Something that takes the returned DTL ID and replaces the RG with the correct casing? This should be simple enough to do if a GET on the RG has a field with the correct casing (which I believe exists).

[2019-01-27 21:43] hbuckle commented on #2819
@pavelzel @naveedaz - Just hit this issue with the go sdk and resolved in the same way by adding an empty body. Is there any update on resolving it in the specs?

[2019-01-28 16:49] tombuildsstuff commented on #3964
@sindstar whilst I appreciate the thought (and that's technically possible), unfortunately that's not practical as a workaround since we'd need to apply that to each response we get from both user input and the SDK (to ensure that's consistent across all resources) - since we'd need this value to be correct before passing it to another API.

@joshgav

I don't have a particular example to hand - bu

[2019-01-30 17:40] recklessop opened #5115 "Subscriptions Locations API doesn't return EUAP regions"
We are leveraging the /subscriptions/{tennantid}/locations API to return which regions our customers have access to.

We get a list of regions, but they do not include the Early Update Access Program regions. Specifically we are not seeing EastUSEUAP and CentralUSEUAP.

When we leverage other APIs such as /subscriptions/{tenantId}/providers the EUAP regions are listed under the "Locations" resourc

[2019-01-31 18:18] KrisBash opened #5129 "[Network] ApplicationGatewayAvailable* APIs missing required properties (id,type,name, properties)"
GET  ApplicationGatewayAvailableServerVariablesResult & GET ApplicationGatewayAvailableRequestHeadersResult are returning a string array directly, and not correctly modeled as a ProxyOnly Resource with a schema of id, type, name, properties. This should be fixed in a future version.

[2019-01-31 21:27] jhendrixMSFT opened #5130 "MetricValue.count incorrectly marked as int64, service returns a float"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/3949

Count is an int, but the JSON is a float:
[code]
Here's the offending swagger (there might be other instances, please verify).
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-01-01/metrics_API.json#L169

[2019-02-02 22:52] anuchandy commented on #4977
@jhendrixMSFT could you take a kook?

[2019-02-03 01:31] jhendrixMSFT commented on #4977
Good timing, I discovered this while investigating another issue.  It appears to have been a copy/paste error, see https://github.com/Azure/azure-rest-api-specs/pull/5106.
@tombuildsstuff should be fixed in v25, can you try it out?

[2019-02-06 19:21] tariq1890 commented on #5085
A response would be greatly appreciated.

[2019-02-06 19:57] justnoise opened #5163 "Microsoft.Compute/skus shows Availability Zone support in East US"
This is more of a data issue...

I'm seeing the `Microsoft.Compute/skus` API ([https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list](https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list)) giving bad data data for Availability Zones support in location "East US".  This can be seen from the command line:
[code]

However, per the [docs](https://docs.microsoft.com/en-us/a

[2019-02-06 23:37] mganeshphani opened #5165 "Botservices definition doesnt match the api calls made by portal for v4"
When we create a new bot in portal with the portal makes call to management.azure.com with arm template which shows following section in properties section of resource of type("Microsoft.BotService/botServices")
"parameters": "[union(deployment().properties.parameters, json(concat('{\"tenant\":{\"value\":\"', subscription().tenantId, '\"}}')), json(concat('{\"stateStorage\":{\"value\":\"DefaultEnd

[2019-02-08 00:28] TraGicCode commented on #4915
Any updates on this?

[2019-02-08 17:55] jhendrixMSFT commented on #4915
I've pinged the service team for an update, sorry this is taking so long.

[2019-02-08 23:28] TraGicCode commented on #4915
This is affecting my team as well as we are attempting to automate app service environments via ARM templates 👎

[2019-02-11 23:25] jonarmstrong commented on #4915
I'm being blocked by issues with deploying App Service Environments via ARM templates as well. I had a successful deployment of one on 2/6/2019 and I've had 5 deployments timeout in the past 48 hours at the 5 hours mark. The environment is left in a 'Provisioning' state after 5 hours and I'm forced to delete the resource to try the deployment again.

If anyone from Microsoft needs examples templat

[2019-02-13 22:08] veronicagg opened #5200 "momentOfTruth script error - linter running out of memory for network specs"
Looks like Linter tool is running out of memory, see Example https://travis-ci.org/Azure/azure-rest-api-specs/jobs/492486405
Error:
<--- Last few GCs --->\n\n[5764:0x2e975b0]   193421 ms: Mark-sweep 1329.1 (1544.4) -> 1329.0 (1544.9) MB, 1707.8 / 0.0 ms  allocation failure GC in old space requested\n[5764:0x2e975b0]   195063 ms: Mark-sweep 1329.0 (1544.9) -> 1329.0 (1496.4) MB, 1641.4 / 0.0 ms  la

[2019-02-14 18:10] osariel commented on #5065
targetResourceType property is missing or invalid.. [Code: "BadRequest"]

[2019-02-14 19:31] veronicagg opened #5204 "Breaking changes CI check is failing with assembly error exception"
CI for Breaking changes job is failing in the repo with https://travis-ci.org/Azure/azure-rest-api-specs/jobs/493378789#L836 Needs investigation and fix.
[code]

[2019-02-16 00:39] solankisamir commented on #4409
We updated the service side code to make DELETE a long-running operation. Will be working through updating the REST spec and the SDKs.

[Release Notes](https://azure.microsoft.com/en-us/updates/azure-api-management-update-february-14/)

[2019-02-16 01:24] marstr opened #5215 "policyDefinitionName doesn't include validation"
policyDefinitionName must be a [valid ARM Resource Name](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#arguments-for-crud-on-resource). However as you can see below, there is no validation information available to restrict the string that can be sent.
https://github.com/Azure/azure-rest-api-specs/blob/e182752245a2cc3c48a9ce5c5b90bfdabc6940d0/specifi

[2019-02-19 09:40] EvgenyAgafonchikov commented on #4721
Fixed by @irrogozh in the current version

[2019-02-19 09:40] #4721 closed

[2019-02-19 18:48] marstr opened #5226 "Role Assignment PUT only provides 201 response"
In the Role Assignment Create operation: https://github.com/Azure/azure-rest-api-specs/blob/aab4327f48563f5733bad5a9e403b5c6a1dd2e37/specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/authorization.json#L404-L452 Only the 201 response status is described. In general, PUT is supposed to be an idempotent operation. I would expect that if the resource that is being

[2019-02-19 20:52] yugangw-msft commented on #3437
Guess I will have to take this since AAD group doesn't want to own the swagger while CLI has lots of related users' asks

[2019-02-20 22:06] navdixit opened #5237 "Swagger update required for user assigned MSI"
We are using Fluent SDK Microsoft.Azure.Management.AppService.Fluent (ref: https://github.com/Azure/azure-libraries-for-net) for creating Azure functions. We are planning to use “user assigned” MSI for functions apps. When we followed the [documentation](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fapp-service%2Foverview-managed-identity%23

[2019-02-21 19:02] tqtruong95 commented on #5005
@jhendrixMSFT

Any updates?

[2019-02-22 03:56] jhendrixMSFT commented on #5005
@shalinved can you please help with this?

[2019-02-22 09:16] hbuckle commented on #4409
@solankisamir - any idea when this will be in the specs? The problem with updating the service side before the specs is that delete operations from clients are now failing as the service is returning 202, which the client can't handle as it isn't in the specs.

[2019-02-22 11:56] tombuildsstuff commented on #4409
On this note - isn't this technically a breaking change since it didn't previously return this status code and this isn't listed in the Swagger?

[2019-02-22 15:51] hbuckle commented on #4409
It is indeed - deleting api management from terraform now fails

[code]

[2019-02-22 16:32] tombuildsstuff commented on #4409
@hbuckle would you mind opening an issue on our side, so we can patch this?

[2019-02-22 17:03] tombuildsstuff opened #5249 "[Media Services] API doesn't return `tags` element when none exist"
:wave:

We're using the Media Services API version v25.1.0 via the Azure SDK for Go in this package:

[code]

We've noticed when provisioning a Media Services Account that if one or more Tags are provided, they're returned in the response; however if an empty Map is provided then the `tags` block is omitted from the API response.

For example, for the following API Request:

[code]

gives the foll

[2019-02-22 20:08] solankisamir commented on #4409
`2018-06-01-preview` is a `preview` version of the API, where we can make breaking changes. `2019-01-01` or `2018-01-01` are stable versions, where this becomes our liability.

[2019-02-23 00:11] dejo-msft opened #5255 "Typo isAccessable in Microsoft.Web AppServiceEnvironments.json"
Typo in Azure/azure-rest-api-specs/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServiceEnvironments.json.
Property "isAccessable" should be isAccessible

[2019-02-25 13:58] hbuckle commented on #4409
Fair point - I didn't realise Terraform was using the preview API. @tombuildsstuff 2018-01-01 is still returning 200 for deletes

[2019-02-25 19:54] dagrooms52 commented on #2393
I think this may be an issue with the docs as I just stumbled across it as well.

I propose making the error message something like `"properties" object is not present in the request body` or adding an example to the documentation showing the key `"properties"` being used in the PUT request.

[2019-02-26 19:51] #3648 closed

[2019-02-26 21:25] jhendrixMSFT opened #5274 "TumblingWindowTrigger struct is missing the `Annotations` field"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/4147

See type defined here:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Trigger.json#L333

[2019-02-27 07:51] sopatwar opened #5281 "Feature Request: Add resourceLocation as one of the possible values for ActivityLogAlertLeafCondition"
[activityLogAlerts API](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2017-04-01/activityLogAlerts_API.json)

ActivityLogAlertLeafCondition allows for a condition to be specified for an ActivityLog alert.
Currently, only the following values are supported:

            "properties": {
                "field": {

[2019-02-28 00:27] sandorfr commented on #4042
I facing the same challenge. I was hoping to be able to parse it from c# code with something like
[code]
But it does not work. So I guess it's some undocumented format :(. We need some documentation around this format so we can make use of it.

[2019-02-28 00:41] sandorfr commented on #4042
Ok, so after brutforcing every alg available out there. I figured it is stored in PKCS7 format.

[code]

[2019-02-28 08:32] tombuildsstuff commented on #4409
@solankisamir is there an expected timeline for when the Swagger for 2019-01-01 will be available?

[2019-03-01 02:09] WodansSon opened #5303 "Swagger comment for Key Vault Access Policy has the wrong value"
Per the documentation Key Vault supports 1024 access policies:
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-secure-your-key-vault#data-plane-access-control

The current swagger states that it supports 0 - 16 access policies:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2018-02-14/keyvault.json#L858

Howeve

[2019-03-01 09:58] FelixBorst opened #5306 "Trying to stop a backup job that is currently copying data to the vault results in a 400 error code"
I recently updated my azure recovery services vault to v2 using the command:

[code]

This will let the azure recovery services do a backup in the following order:
1. Take snapshot
2. Create recovery point
3. Transfer snapshot to recovery services vault

I now try to cancel a running backup job that is in the process of transferring the snapshot to the vault the error occurs. I used the following

[2019-03-03 10:00] hbuckle commented on #5041
@lkems - any update on when `location` could make it into the specs? I'd like to get support for this into Terraform

[2019-03-04 17:12] JunyiYi opened #5316 "[API Management] Missing "202 Accepted" for Delete operation"
In the current stable version of the API Management Service, when doing a `DELETE` on an existing API Management Service, an HTTP 202 Accepted is returned. However, 202 is not defined as a valid HTTP return code for this service.

Spec in question: https://github.com/Azure/azure-rest-api-specs/blob/7cfc460c5b4f17a896510314e12432f9fdc2eecd/specification/apimanagement/resource-manager/Microsoft.ApiM

[2019-03-04 20:53] jhendrixMSFT opened #5318 "`Resource ID` is missing in API Management Logger response"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/4211

According to the response documented [here](https://docs.microsoft.com/en-us/rest/api/apimanagement/logger/createorupdate#apimanagementcreateehlogger) the `LoggerContractProperties` type should have a `resourceId` field however it's missing from the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/a

[2019-03-05 01:37] solankisamir commented on #5318
The example is from `2018-06-01-preview`  version and resourceId is documented in the rest spec - https://github.com/Azure/azure-rest-api-specs/blob/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimloggers.json#L459

[2019-03-05 02:56] nschonni commented on #5255
If you're doing a new version to fix this api, there are 4 others in the same file in propery es
- "Defintions",
- "Availablility",
- "Availabilily",
- "diagnosics"

[2019-03-05 15:51] jhendrixMSFT commented on #5318
@solankisamir thanks!
@junyiyi see package github.com/Azure/azure-sdk-for-go/services/preview/apimanagement/mgmt/2018-06-01-preview/apimanagement

[2019-03-05 15:51] #5318 closed

[2019-03-05 20:07] tombuildsstuff commented on #4409
ping @solankisamir :)

[2019-03-05 20:07] tombuildsstuff commented on #5318
@jhendrixMSFT unfortunately we're unable to use the `2018-06-01-preview` API at this time [due to the breaking change in the API](https://github.com/Azure/azure-rest-api-specs/issues/4409); since this exists in the response from the `2018-01-01` API - would it be possible to get this exposed in the Swagger there too?

Thanks!

[2019-03-05 20:12] jhendrixMSFT commented on #5318
That would be up to @solankisamir if this functionality is available in that API version.

[2019-03-05 22:20] jhendrixMSFT opened #5326 "LogToMetricAction criteria field definition doesn't match wire payload"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/4121

In https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json#L730 `criteria` is defined as a singular object however the server expects an array of Criteria objects.  See the following server response.
[code]
You should also remo

[2019-03-05 22:52] daschult opened #5327 "ComputerVision OCR using non-standard LRO protocol"
Cognitive Services Computer Vision OCR is currently using a non-standard LRO protocol as described [here](https://github.com/Azure/azure-rest-api-specs/pull/5314/files#diff-79de737cbafb0699b36bc938b717ec24R114). They should change their LRO implementation to adhere to the protocol explain in [this document](https://github.com/shahabhijeet/adx-documentation-pr/blob/docLro/sdks/LRO/LRO_AzureSDK.md).

[2019-03-05 23:02] solankisamir commented on #4409
@tombuildsstuff we are just wrapping up a couple of changes required for the stable api-version change. Will update the thread asap. Should be done within a week or two.

[2019-03-05 23:04] solankisamir commented on #5318
@tombuildsstuff which end to end story is impacted due to missing `resourceId` property in `2018-01-01`

[2019-03-06 07:14] tombuildsstuff commented on #4409
@solankisamir cool thanks 👍

[2019-03-06 07:16] tombuildsstuff commented on #5318
@solankisamir this not being exposed at this time means we're unable to expose the resourceID field in the Terraform resource for API Management Loggers: https://github.com/terraform-providers/terraform-provider-azurerm/pull/2994

[2019-03-08 11:29] tombuildsstuff opened #5345 "App Service SCMType should support `VSTSRM`"
👋🏻

We've recently had a PR opened to add support for additional SCM Types in Terraform - internally this uses the Enum's generated from the SDK's (we're using API version `2018-02-01`, fwiw). As a part of this PR it turns out there's a value which is used by Azure Pipelines/VSTS which isn't documented in the Swagger: `VSTSRM` ([usage example](https://github.com/Microsoft/azure-pipelines-tasks/blo

[2019-03-08 17:30] dsgouda commented on #5345
@naveedaz could you take a look at this.

[2019-03-11 07:28] egorshulga opened #5356 "Unable to select previous APIM docs version & missing version history"
Section `API Management REST API version history` is missing on this page: https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/api-management-rest#VersionHistory.

Is there some place it was moved to?

Besides, it is impossible to select any version, other than `2018-06-01-preview` on reference pages.
Is it the only supported version at the moment?

[2019-03-12 17:16] hbuckle commented on #5041
@jhendrixMSFT - do you know anyone else that could pick this up please?

[2019-03-12 17:47] jhendrixMSFT commented on #5041
@petrpod are you the correct person to route this?

[2019-03-13 07:38] yoyogin opened #5369 "The semantics of 'preview'"
Reading the fifth point in https://github.com/Azure/azure-rest-api-specs/blob/master/README.md#directory-structure ('preview' and 'stable' Folders), it's not clear what is the semantics of 'preview' considering preview directory and <version>-preview API directory.

This is amplified by the fact that <version>-preview APIs might reside under stable directory and non <version>-preview APIs might re

[2019-03-13 14:45] sheenaajay opened #5371 "Readonly flag is missing from the specs virtualNetwork.json"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualNetwork.json#L1040

 "provisioningState"

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualNetwork.json#L1215

        "resourceGuid": {
          "type": "string",

[2019-03-14 08:11] MattiKiiskinen opened #5380 "Service Fabric REST API - method 'Deploy Service Package To Node' results in serialization error 500"
I am trying to use REST API method [Deploy Service Package To Node](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-deployservicepackagetonode). When request is sent to cluster, I got error

URI and body of the request has been built with following approach.
[code]

I have used similar approach with other Service Fabric REST API request [Provision Application Type](https://doc

[2019-03-14 10:42] tiwood opened #5383 "Feature Request - Add support for directory roles to graphrbac"
Please add support for directoryRole operations to the graphrbac specification:
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6

https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/directoryroles-operations

[2019-03-14 11:03] turjachaudhuri commented on #4901
Is this fixed ? This is blocking . We want to create LRS RSV(s) and not GRS , which we are unable to do now . Please let us know.

[2019-03-14 15:42] FelixBorst commented on #5306
Any news on this one?

[2019-03-18 08:48] lawrencegripper commented on #4221
Hi, Any update on this issue?

[2019-03-18 13:07] MattiKiiskinen commented on #5380
Some more information:

I have uploaded the manifest files to Image Store, and provisioned the application type using the REST API. I can create application using REST API method [Create Application](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-createapplication), so the manifest files should be OK. There are set of parameters in the application manifest files, which are se

[2019-03-19 16:54] tombuildsstuff commented on #4545
ping @ms-xiaoy

[2019-03-19 21:16] stevengum opened #5427 "Graph RBAC: Current signInAudience values are incorrect"
Current values in the swagger spec indicate that [signInAudience](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L2948-L2950) accepts the following values as valid: `AzureADMyOrganization, AzureADAllOrganizations, AzureADAndMicrosoftAccounts`

Visiting the [docs](https://docs.microsoft.com/en-us/azure/activ

[2019-03-19 21:20] jhendrixMSFT commented on #5427
@ankushbindlish2 assigning this to you as you were the last person to modify the swagger.  If you're not the correct person to fix can you please route?  Thanks.

[2019-03-19 21:51] ankushbindlish2 commented on #5427
@darshanhs90

[2019-03-20 02:56] scott1138 commented on #2313
Another use case:  The App Gateway as part of infrastructure, but listeners, rules, settings, probes, and back ends are really part of distinct applications.  I want to include the build of the App Gateway with some preset front end IP and Port values and could even use some defaults for the other values to get it created.  But I want to have the other pieces directly associated with the applicati

[2019-03-21 17:04] tqtruong95 commented on #5005
CC: @jhendrixMSFT

@shalinved Any updates?

[2019-03-22 09:35] msvijayn commented on #5326
@abversqr - owner of the scheduledQueryRules API

[2019-03-25 21:07] salameer commented on #5383
assigning this to @darshanhs90 since you where tagged in the other ones for GraphRBAC

[2019-03-25 21:09] salameer commented on #5380
Hi @vipul-modi

Any thoughts on who can help out on this topic from Service Fabric's side?

[2019-03-25 21:11] salameer commented on #5371
Hi @MikhailTryakhov please route as required

[2019-03-25 21:16] salameer commented on #5369
Hi @yoyogin

Thanks for reaching out!

The Preview folder refers to the status of the swagger more than the status of Service itself. If a service swagger is placed in the Preview folder then it signals (or is supposed to signal) to the customers that SDKs built or generated on top of the these specs are expected to have breaking changes without Bumping the Major SDKs version.

As for Swagger in t

[2019-03-25 21:18] salameer commented on #5356
Hi,
@dendeli-msft  and @mikekinsman Can you please look into this issue and kindly route @egorshulga to the right place for these types of issues?

[2019-03-25 21:53] js-kyle commented on #2393
Also came across this issue, would be good to get a relevant error message

[2019-03-26 07:41] zikalino opened #5476 "web / function app"
i am trying to create function app using REST API
passing kind as "functionapp,linux,container" (that's what is returned by get request when function app is crated via portal).
creation is successful, but the kind is set to "functionapp", Linux and container are gone

[2019-03-26 14:19] jagan-at-sl commented on #2750
Any update on this?  If so, is there a link to where the RI rate card APIs are described or any experience from anyone using it?

[2019-03-26 18:45] iyyappam commented on #5380
It is a bug in our code that is not handling empty “PackageSharingPolicyInfo” correctly. We will fix it in the next iteration. In the mean time, could you try creating the body with “PackageSharingPolicyInfo” (with “PackageSharingScope” to “None”).

[2019-03-27 23:53] Gaploid commented on #2750
Yep, it seems that's much easier to sniff calculator backend API and use it instead of official rate card API.

[2019-03-28 16:41] ABerTSC commented on #4901
Same here!

[2019-03-31 06:10] yoyogin commented on #5369
Thank you for your quick reply.

It did answer, would appreciate some more clarifications:
1. You say that swaggers in the Preview folder "... are expected to have breaking changes without bumping the major SDKs version ...", I'm not sure I understand the breaking point - do you mean that an Azure service backend code might change with swagger update and cause breakage (run time)? or that client c

[2019-03-31 08:22] lebronJ opened #5516 "Description for enum type"
I have searched for whether OpenAPI Specification (Swagger) supports descriptions for individual enum values and found the current answer seems no. Just to double confirm if this is correct or any workarounds.

We'd like this feature for better API reference, e.g. [here](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/face/face/detectwithstream#recognitionmodel).

[2019-03-31 20:46] brjohnstmsft commented on #5516
@lebronJ I agree; This is a long-standing pain point for my team too. However, I recommend opening this issue in the Azure/AutoRest repo. That's where such a feature would need to be implemented.

[2019-04-01 00:47] lebronJ commented on #5516
Thanks @brjohnstmsft for the response, understood.

[2019-04-01 00:47] #5516 closed

[2019-04-01 17:23] pimterry opened #5520 "Specs do not seem to include common storage services"
I'm trying to integrate these specs into an [HTTP debugging tool](https://httptoolkit.tech), to automatically do request validation & documentation by comparing the spec definitions to real HTTP requests.

In theory that all works great, but on close inspection I'm struggling to find the specs for many of the common operations in the Azure docs that I'd like more detail on. For example:

* List co

[2019-04-02 07:29] snerting commented on #4915
What is the status on this issue? Very strange Microsoft don't focus on fixing this since this is an Enterprise thing. By not fixing it, Microsoft will force companies looking for something else. Maybe to use ARM instead, and leave Terraform, or keep Terraform, use AWS instead who seams to have more focus in Terraform. It's terrible to use lot of time learning Terraform, and then it's can't be use

[2019-04-02 14:30] pimterry opened #5534 "The computer vision v1 spec lists regions hosts, but v2 does not"
The [v1 spec for computer vision](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/ComputerVision/stable/v1.0/ComputerVision.json#L20-L27) includes an `x-ms-parameterized-host` section, which defines the host as `{AzureRegion}.api.cognitive.microsoft.com`, referencing an AzureRegion param that lists all valid regions, and thereby clearly describi

[2019-04-03 00:20] MikhailTryakhov commented on #5371
It's RNM

[2019-04-03 05:06] jagpreetstamber commented on #5326
Fix merged

[2019-04-03 23:33] rbrundritt commented on #3525
An open source .NET client has been created here: https://github.com/perfahlen/AzureMapsRestServices An official .NET client is planned by the Azure Maps team later this year.

[2019-04-04 20:22] anuchandy commented on #5237
Closing this issue, update necessary for UMSI are in.

https://github.com/Azure/azure-rest-api-specs/pull/5288
https://github.com/Azure/azure-rest-api-specs/pull/5542
https://github.com/Azure/azure-rest-api-specs/pull/5536

[2019-04-04 20:22] #5237 closed

[2019-04-08 05:17] tombuildsstuff commented on #4409
hey @solankisamir

Is there an updated ETA for this? We've got some features blocked which dependent on this new API version:

* https://github.com/terraform-providers/terraform-provider-azurerm/issues/3203
* https://github.com/terraform-providers/terraform-provider-azurerm/issues/2613

Thanks!

[2019-04-08 05:45] #4642 closed

[2019-04-08 09:34] stuartleeks opened #5574 "Inconsistent casing in Batch Certificate IDs"
When creating a Batch Certificate the ID returned sets the certificate name portion to uppercase, e.g.

[code]

But when you reference a certificate in a Batch Pool the name portion is returned in lowercase:

[code]

It would be helpful (e.g. for downstream consumers such as the [Terraform AzureRm Provider](https://github.com/terraform-providers/terraform-provider-azurerm/pull/3097#pullrequestrevi

[2019-04-08 13:05] Tridy commented on #4915
@snerting there is currently a workaround for that to use an ARM template inside Terraform. look at this post and see if this will help you for now:
https://stackoverflow.com/questions/49040510/provision-app-service-environment-with-terraform

[2019-04-08 15:24] tombuildsstuff commented on #4915
@jhendrixMSFT 👋 could we re-ping the service team here?

[2019-04-08 16:34] jhendrixMSFT commented on #4915
@tombuildsstuff just pinged, sorry it's taking so long.

[2019-04-08 17:18] solankisamir commented on #4409
yes, the PR is in review now https://github.com/Azure/azure-rest-api-specs/pull/5568

[2019-04-08 21:37] kpajdzik commented on #5574
@jafreck, @xingwu1, any comments here?

[2019-04-09 03:52] tombuildsstuff commented on #4409
awesome thanks 👍
I was searching by the “API Management” label so I missed that

[2019-04-09 07:09] whyneus commented on #4901
I'd like to chime in on this too. I have a requirement to keep all data locally so need the RSV set to LRS. At the moment, I need to create the RSV, manually set LRS, then run VM enrollment separately.

[2019-04-09 08:56] tombuildsstuff commented on #4915
@jhendrixMSFT no worries - thanks for that :)

[2019-04-09 17:22] chandrasekarsrinivasan commented on #5371
Assigning to Amol.

[2019-04-10 09:47] tombuildsstuff opened #5604 "Missing Swagger for Stream Analytics API `2017-04-01-preview`"
:wave:

At this time [the Stream Analytics Swagger](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/streamanalytics/resource-manager) only has support for API Version `2016-03-01` - however to make use of a `compatibilityLevel` of `1.2` API version `2017-04-01-preview` must be used.

Attempting to provision `compatibilityLevel` of `1.2` using the older API with the followin

[2019-04-10 13:19] gauravbhavsar opened #5605 "App Service - Web App creation fails with Bad Request - The parameter properties has an invalid value"
I am using [azure REST](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdate) and getting below response as

[code]

unable to find invalid value.

below are my request sample

[code]

**Body**
[code]

[2019-04-10 15:52] jluk opened #5607 "Support unregister for Microsoft.Features"
AKS heavily utilizes the feature registration process for preview capabilities. We educate customers to use az feature register, but there is currently no simple user operation to undo this action. Ask is to support unregister via swagger so CLI can consume this downstream.

[2019-04-10 16:05] jhendrixMSFT commented on #5607
@mzehgir do you know what team this should be routed to?

[2019-04-12 12:53] andyliuliming commented on #5607
+1

[2019-04-12 14:11] anuchandy opened #5625 "Fix the examples in Consumption"
There are existing model validation errors for Consumption. Refer https://travis-ci.org/Azure/azure-rest-api-specs/jobs/518056993

[2019-04-12 14:23] samuel-begin opened #5626 "[BUG] customDomain.useSubDomainName is served as string instead of boolean"
# What is the problem?

There is a discrepancy in Azure REST API and its specifications. When requesting a list of the storage accounts for a given subscription, we get a response containing `customDomain.useSubDomainName` in string format (such as `"true"`) instead of the expected boolean.

It has been brought to my attention while using the terraform azure provider and we have exchanged about it

[2019-04-12 17:38] bgsky commented on #5625
Thanks for creating an issue to help track progress on scope validations. We will propose a new preview version to address scope validations soon.

[2019-04-15 03:33] blueww commented on #5626
This issue is from server.
I have send mail to SRP server team for this issue.
Will update when get responds from them.

[2019-04-16 01:20] blueww commented on #5626
I have contact SRP team, from SRP team: useSubDomainName only has meaning on PUT, so it should never been returned. Currently it is never returned on GET, but it seems will be returned on list account. So SRP team will fix the server by not return it in list account.
I will update the issue when this is fixed on server.

[2019-04-16 10:31] aluong commented on #1275
@Nking92 can we get an update when this will be fixed?

[2019-04-16 19:03] madhut opened #5664 "Looking for CPU memory usage REST API in azure"
Hi There,
I was trying to find the REST API for the cpu memory usage in azure for the list of subscriptions . In list of subscriptions looking for each resource group- > each VM usage details . Also would like to know the allocation and the usage memory in GB.
Can someone help me with this issue?
Thanks,
Venkata

[2019-04-17 15:10] tombuildsstuff opened #5676 "Breaking Change in the Log Analytics Solution API"
👋

We've noticed a breaking change in the API Response for the Log Analytics Solution API - where the `location` field is now returned in the incorrect format.

When creating a Log Analytics Solution in the location `eastus2` - the location returned from the API is `eus2`; as such we detect this as a drift (and since the location has changed we require that this resource is destroyed/recreated):

[2019-04-17 17:03] dsgouda commented on #5676
@hyonholee can someone from Compute take a look?

[2019-04-18 10:37] tombuildsstuff commented on #5082
ping @anuchandy :)

[2019-04-18 14:36] ABerTSC commented on #4901
Is there any reaction to this or does anyone have an idea?

[2019-04-18 21:19] madhut opened #5702 "how to get cpu memory utilization of allocation/usage details? also how to create multiple tenants who has access to create them?"

[2019-04-18 21:22] madhut commented on #5702
Hi there ,
I'm searching for the rest API to get the CPU memory utilization of allocation/usage details. Can some one help me to get the rest API?. Also would like to know who has the access to create multiple tenants ?.
Thanks.

[2019-04-18 22:53] madhut opened #5703 "VM memory utilization of allocation/usage in Azure."
Hi there,
I'm trying to get the VM memory utilization of allocation/usage in azure through rest API. Can some one help me with this?
Thanks.

[2019-04-20 23:58] solankisamir commented on #2570
resource type has been updated in 2019-01-01 spec [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimapiversionsets.json#L37)

[2019-04-20 23:58] #2570 closed

[2019-04-20 23:59] solankisamir commented on #1881
This has been deprecated in `2019-01-01` spec

[2019-04-20 23:59] #1881 closed

[2019-04-21 00:04] solankisamir commented on #4409
The Spec has been released [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimdeployment.json) and the GO SDK has been updated [here](https://godoc.org/github.com/Azure/azure-sdk-for-go/services/apimanagement/mgmt/2019-01-01/apimanagement)

[2019-04-21 00:04] #4409 closed

[2019-04-22 22:43] jhendrixMSFT commented on #4359
@TassaduqBasu are you the correct person to investigate this?  We are unable to build any SDKs for this swagger due to this error.

[2019-04-23 16:37] iouri-s opened #5739 "Incomplete tenant/list spec at azure-rest-api-specs/specification/resources/resource-manager/Microsoft.Resources/stable/2018-06-01/subscriptions.json"
The spec is incomplete for later versions as well.

Only two properties are listed:

 "TenantIdDescription": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The fully qualified ID of the tenant. For example, /tenants/00000000-0000-0000-0000-000000000000."
        },
        "tenantId": {
          "readOnly": true,

[2019-04-23 21:54] salameer commented on #5703
@Varuon can you kindly help out here or loop in whoever can help here?

[2019-04-23 21:59] salameer commented on #5676
Not Sure this is Compute, it's operational insights @mozehgir please assign to who ever is the contact from that team

[2019-04-23 22:08] salameer commented on #5664
hi @Madhut is this a Dup of #5703, I will close for now and You can vote on the other one and add your comments there, if not please reopen this one

THANKS for reaching OUT :)

[2019-04-23 22:08] #5664 closed

[2019-04-24 07:50] yuwzho opened #5751 "[ManagementLockClient] Add list_locks_by_scope API in swagger"
The swagger contains `get/put/delete` `/{scope}/providers/Microsoft.Authorization/locks/{lockName}` for all scope, but nothing for `/{scope}/providers/Microsoft.Authorization/locks`.

This makes SDK auto generated has no method like `list_by_scope()`. Because of this, if I wanna list all locks of a scope, I need to know what's the scope, a resource, resource group or a  subscription.

[2019-04-24 18:57] madhut commented on #5702
Hi salameer,
Thanks for the response I appreciate it . But we are looking for the API's which can give us the allocated/currently using memory for the particular VM in azure. Also looking for is there any API can help us to find the infra memory of VM in azure?
Thanks,
Venkata

[2019-04-25 18:42] salameer commented on #5626
Thanks for the response @blueww !

It would be great if someone from that team can be assigned to this ticket

[2019-04-25 19:17] salameer commented on #5369
Hi @yoyogin supper sorry for the delay in response :)

for the first point:
- So in theory both cases can happen if it's a preview BUT there's a much smaller probablity that the client code change without the service\spec change would happen, Mostly it's the Specs or Service itself that might be changing. FOr example editing the endpoint interface and changing the operation names that are defined

[2019-04-25 19:18] salameer commented on #5356
Ping @mikekinsman and @dendeli-msft

[2019-04-25 19:19] salameer commented on #5380
Hi @MattiKiiskinen

Kindky retry the workaround and re-open if still needed

[2019-04-25 19:19] #5380 closed

[2019-04-25 19:22] salameer commented on #5326
@jhendrixMSFT is this resolved based on the last comet?

[2019-04-25 19:29] salameer commented on #5249
Hi @quintinb can you kindly look into this reported issue?

[2019-04-25 19:31] salameer commented on #5204
Hi @veronicagg please track this internally in Devops

[2019-04-25 19:31] #5204 closed

[2019-04-25 19:32] salameer commented on #5200
Hi @Veronica, please cover this in our dashboards

[2019-04-25 19:32] #5200 closed

[2019-04-25 19:35] salameer commented on #5165
@carlosscastro @NickEricson ca you guys please take a look here?

[2019-04-25 19:36] salameer commented on #5163
ping @savyasachisamal

[2019-04-25 19:37] jhendrixMSFT commented on #5326
Thanks for fixing!

[2019-04-25 19:37] #5326 closed

[2019-04-25 19:38] salameer commented on #5130
@aydany can you kindly take a look ?

[2019-04-25 20:06] rloutlaw commented on #5356
Currently you cannot select a different `api-version` from our documentation-we know that not being able to browse between stable and preview (or other `api-versions`)  is a shortcoming with the docs and are tracking that gap as part of our documentation backlog.

[2019-04-25 23:01] shandilvarun commented on #5702
you have enable guest memory metrics using extended metrics. Details here: https://docs.microsoft.com/en-us/azure/cost-management/azure-vm-extended-metrics

[2019-04-26 02:29] blueww commented on #5626
@salameer

@huizlAzure is from SRP team. I have assign the issue to him.

@huizlAzure
Would you please help to follow the issue, and update when the deployment is ready?
Thanks!

[2019-04-26 05:05] docs-product opened #5772 "Inconsistent tagging in OpenAPI specifications"
The `Microsoft.ContainerService` spec has inconsistent tagging.

* **Case 1:** [`managedClusters`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-02-01/managedClusters.json#L40)
* **Case 2:** [`ManagedClusters`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/r

[2019-04-26 17:11] madhut commented on #5702
Than you Shandilvarun. Sure I will try it out.
-Venkata

On Thu, Apr 25, 2019 at 4:02 PM shandilvarun <notifications@github.com>
wrote:

[2019-04-26 18:55] sopatwar opened #5776 "Feature request: Add bulk API to change alert state"
[Alerts management API](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-03-01-preview/AlertsManagement.json)

Currently, there is no way to change the alert state (Acknowledge / Close) for all the alerts generated by a specific alert rule.

The specific use-case is to automate alert resolution (bulk s

[2019-04-26 21:04] sopatwar opened #5779 "Feature request: Identity-related APIs for LogicApp"
[LogicApp APIs](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/examples/Operations_List.json)

My use-case:
1) Deploy LogicApp using ARM template and Azure Go SDK (this exists)
2) Enable or disable "System Assigned" Identity for the LogicApp (*New*)
3) ListIdentity() - this will return the OID corresponding

[2019-04-26 21:13] madhut commented on #5702
Hi Shandilvarun,
I looked into the link : https://docs.microsoft.com/en-us/azure/cost-management/azure-vm-extended-metrics . But to "enable the extended metrics" options are not available in my azure portal. We tried to do it with powershell  also but no use. Now we are looking for another option to enable that.
Please suggest if you have any.
Thanks,
Venkata.

[2019-04-29 09:47] katbyte commented on #5574
👋 Hello, any word on this?

@jhendrixMSFT

[2019-04-29 09:51] katbyte commented on #3964
👋 Hello all,

just wondering if there has been any progress on this as I have discovered the problem in a few other APIs (issues to follow as i fix the provider) @jhendrixMSFT

[2019-04-29 12:02] kvaes commented on #2750
+1

[2019-04-29 16:09] mbfrahry opened #5788 "DataFactory API returns resource group name in lower-case"
Hello! This is following up on #3964. It looks like the DataFactory API based off `2018-06-01` inside [v26.7.0](https://github.com/Azure/azure-sdk-for-go/tree/v26.7.0) of the azure sdk also returns the resource group name in lower case.

Terraform is throwing a ForceNew when a capitalized resource group name is passed into any DataFactory resource. For example:

[code]

The following tests are fai

[2019-04-29 18:30] xingwu1 commented on #5574
The quote from @kiwidev

@kiwidev When do you plan to fix it?

[2019-04-29 21:28] AntonChernysh commented on #5676
I think Azure fixed this over last weekend: It works as expected now:
```List of available regions for the resource type is 'eastus,westeurope,southeastasia,australiasoutheast,westcentralus,japaneast,uksouth,centralindia,canadacentral,westus2,australiaeast,australiacentral,francecentral,koreacentral,northeurope,centralus,eastus2,eastasia,westus,southcentralus'```
No more "Short" locations for log

[2019-04-30 04:05] kiwidev commented on #5574
We will put out a change to normalize this id in both places to lowercase.

This should be in production within a couple of weeks.

However, note that assuming ARM ids do not change case seems to be a dangerous assumption as the ARM specification states that these ids can change case.

[2019-04-30 05:43] assing commented on #5776
Thanks @sopatwar for the suggestion. We will update you once it's ready.

[2019-04-30 06:11] MyronFanQiu opened #5800 "[Monitor] cannot get metric's time_grain through get method"
It seems that the ```time_grain``` field won't return in the get process. Is it a correct behavior?
https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettings/get

[2019-04-30 18:05] brjohnstmsft commented on #1085
Update: `searchindex.json` now completely covers the Azure Search data plane for versions 2017-11-11-Preview and 2019-05-06. Keeping this open as we still need to fill in some descriptions for responses and fix some validation issues.

[2019-05-01 03:24] #5751 closed

[2019-05-02 23:13] a138076 commented on #4915
@jhendrixMSFT / @tombuildsstuff any update on this one? Would it help to push from a customer side of Microsoft as well to the Product teams?

[2019-05-03 11:04] KalyanChanumolu-MSFT commented on #3819
Any updates on this issue?
We need to make a separate call again for getting the tags for several resources.
Any ETA on this one?

[2019-05-03 11:58] KalyanChanumolu-MSFT commented on #3819
Without oData filter

![image](https://user-images.githubusercontent.com/8835012/57135775-4204ac00-6dc8-11e9-9fe7-57678f5c9152.png)

With oData filter

![image](https://user-images.githubusercontent.com/8835012/57135933-c0f9e480-6dc8-11e9-9623-cfe190b13872.png)

[2019-05-03 15:56] jhendrixMSFT commented on #4915
Sorry for the delay I'm following up with the service team (again).

[2019-05-03 16:18] jhendrixMSFT commented on #4915
OK if somebody could provide the name of their failed App Service Environment deployment and subscription ID I've got somebody from the service team that can help investigate.  If you prefer you can send me this info directly instead of posting it here, my email address is my github name minus the MSFT at microsoft.com

[2019-05-03 22:13] ericwol-msft commented on #3964
RFC7230 spec defines the client access to resources on the server. There is no definition that the server respects the symmetry of the URI resource. It is expected that clients maintain the URI when access the resource on the server. The assumption here is that the URI components are hieratical, but there is no definition on that other than users perception of the URI contents. Servers are free to

[2019-05-05 05:37] a138076 commented on #4915
@tombuildsstuff Is this something you can do, as i haven't run a build with the test code you are referring to with the 30 hour time out?

[2019-05-05 06:13] MyronFanQiu commented on #5800
https://github.com/Azure/azure-rest-api-specs/blob/d032d5ee22c98f6152fc9c34f7d03717ebf6f994/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/examples/getDiagnosticSetting.json#L18-L32

[2019-05-06 18:27] sopatwar commented on #5776
Thanks @assing for looking at this.
Any tentative ETA?

[2019-05-06 18:30] assing commented on #5776
@sopatwar I don't have any ETA.

[2019-05-09 16:17] jhendrixMSFT commented on #5041
Per an internal discussion the change has been rolled out to the service, working on getting the swagger updated.

[2019-05-14 17:05] tjprescott opened #5948 "interfaceEndpoints resource type does not exist for Network API 2019-02-01"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/interfaceEndpoint.json

This swagger is completely wrong. This resource type does not exist in 2019-02-01 and all generated client calls to these operations fail because the resource type does not exist. It was renamed privateEndpoints and needs to be updated accordi

[2019-05-14 17:57] naveedaz opened #5950 "Fix spelling of property priviledged_processor_time to privileged_processor_time"
The spelling of the property 'priviledged_processor_time' for the resource Microsoft.Web/sites/instances/processes/threads is incorrect. The API first needs to be fix in kudu before the Swagger can be updated.

https://github.com/projectkudu/kudu/blob/a13592e6654585d5c2ee5c6a05fa39fa812ebb84/Kudu.Contracts/Diagnostics/ProcessThreadInfo.cs#L45

[2019-05-14 18:04] naveedaz commented on #5605
@gauravbhavsar The error is not very intuitive. You are running into this because the body has no "properties" property.

{
     "type": "Microsoft.Web/sites",
     "location":"North Europe",
     "properties" : {
           "serverFarmId": "Server Farm Resource Id",
      }
}

[2019-05-14 18:14] naveedaz commented on #5345
@Suwatch Can you confirm please?

[2019-05-14 20:01] #5605 closed

[2019-05-14 20:23] lmazuel opened #5953 "Face Swagger doesn't respect case for OperationStatus"
JSON received:
[code]

But Swagger defined `status`, `lastActionTime`, etc.

Note that Swagger are case sensitive, hence this is a Swagger issue:

Reference:
https://github.com/Azure/azure-sdk-for-python/issues/5224

[2019-05-14 20:50] miwebst commented on #4915
Without this information we can't make any progress to help you identify the deployment issue. Going to resolve this for now as it has been 10 days with no response.

[2019-05-14 20:54] #4915 closed

[2019-05-14 21:33] suwatch commented on #3884
The branch is specified at deployment setup time.  Once setup, one may not change it with the API.   One need to disconnect and re-setup the deployment again.

[2019-05-14 21:42] aluong commented on #1275
Any updates on this issue? The latest stable spec still is not updated to expect 200 responses.

- https://github.com/Azure/azure-rest-api-specs/blob/31294f31d4a3f7576117cfa8c58f61d05b24b885/specification/web/resource-manager/Microsoft.Web/stable/2018-11-01/WebApps.json#L17134

[2019-05-14 21:51] naveedaz commented on #3747
This is by design per Azure Resource Manager spec.
https://github.com/Azure/azure-resource-manager-rpc/blob/ebc7ee6acbce4b00be2cff67f4b100ced13c820f/v1.0/resource-api-reference.md

location | Required, string. The location of the resource. This would be one amongst the supported Azure Geo Regions registered by the RP:West US \| East US \| North Central US \| South Central US \| West Europe \| Nort

[2019-05-14 22:00] naveedaz commented on #3621
@jhendrixMSFT I am not able to repro this issue using ARM client. What is the Content-Type header set to for the requests you tried?

[2019-05-14 22:15] naveedaz commented on #2980
@johanste  This issue was fixed on the backend in API version 2018-11-01. Do you still need the older API version to reflect the response backend returns or do you plan on using the new API version?

[2019-05-15 05:18] a138076 commented on #4915
@naveedaz Considering there has been months without a response from Microsoft i would advise you leave this issue open a bit longer and give @tombuildsstuff a chance to respond!

[2019-05-15 05:52] lukeschafer commented on #2750
+1

[2019-05-15 08:48] lebronJ commented on #5953
I can confirm Face API will return all these fields with lower case, and the Swagger file also uses lower cases.

[code]

[2019-05-15 09:36] tombuildsstuff commented on #4915
@miwebst @naveedaz sorry, I'd missed the ping - since this API is still broken can we get this bug re-opened?

We last provisioned one in March named `acctestase-6712679629713806056`, and before that in December (App Service Environment "acctestase-453917183117101087" (Resource Group "acctestrg-453917183117101087"). Whilst I don't have one to hand it should be possible to reproduce that by sending

[2019-05-15 10:50] wilsonge opened #5968 "UnDocumented API Version for Cosmos DB"
The only API listed under CosmosDB is the one listed here: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB

However here https://docs.microsoft.com/azure/cosmos-db/manage-sql-with-resource-manager there is a clear implications that there is a 2016-03-31 release. This was further added here https://github.com/MicrosoftDocs/azur

[2019-05-15 13:26] jeroenboeye commented on #2255
Any progress on this @jianghaolu?

[2019-05-15 14:42] miwebst commented on #4915
@tombuildsstuff ,

The reason I was asking for your ASE details was because this is most likely not an API issue but an issue with how the virtual network is configured. If the virtual network (vnet) is configured incorrectly, the ASE cannot connect to its dependencies and thus may spin until we delete it. If you have a recent ASE deployment (in the past few weeks), I can verify this.

Please see

[2019-05-15 16:12] tjprescott commented on #5948
In fact, even previous swaggers are inaccurate because the "interfaceEndpoints" resource type that was available in older API versions is gone there too, implying that all Swaggers that reference this need to be updated.

[2019-05-15 19:21] jhendrixMSFT commented on #3621
I can no longer repro this as well, looks like it's been fixed.

[2019-05-15 19:21] #3621 closed

[2019-05-15 22:45] dejo-msft commented on #3747
This bug has been fixed but is waiting for deployment to production which is scheduled to be completed by end of next week, 5/24. I'll validate the fix and update here when it has been completed.

[2019-05-16 03:32] dmitsh commented on #4404
I will look into this and submit a PR

[2019-05-16 09:01] SuhasMandumale opened #5984 "Unable to create DevOps project from Azure Portal"
I am trying to create a DevOps project from [Azure Portal](portal.azure.com) but getting following errors, can anybody help me with this i was able to create DevOps project from same way yesterday and 2 days back but today i m getting these errors.

![image](https://user-images.githubusercontent.com/34735776/57842806-e2a49400-77ea-11e9-8be9-f220d5bd4e4a.png)

![image](https://user-images.githubuse

[2019-05-16 15:55] kpajdzik commented on #5984
Hey @SuhasMandumale, this issue is not related to this repository but I'll try to reach out to Azure DevOps team.

[2019-05-16 19:19] ericmattingly commented on #5984
There was an incident in Azure DevOps today causing this.  It should work as expected now.  Sorry for the interruption!

You can find more information about it here - https://status.dev.azure.com/_event/120785657

[2019-05-16 19:29] #5984 closed

[2019-05-17 11:03] tombuildsstuff commented on #4915
@miwebst

This is a brand new virtual network, with a brand new subnet spun up especially for this purpose - but in either case that's a bug in the API (since the API should return the error during polling, as every other Azure API does, rather than spinning indefinitely).

In addition, given the payloads fails for both an ASEv1 and an ASEv2 (which come from creating these by hand in the portal an

[2019-05-17 15:35] miwebst commented on #4915
@tombuildsstuff ,

Sorry if I was not clear before, the configuration that can break the ASE will come from the Network Security Group (NSG) or the Routes applied to the subnet. It doesn't matter if the subnet is new or old if a bad NSG is applied to it. We do as much validation as we can on whether the ASE will be able to stabilize in the subnet, but we are missing some information and thus canno

[2019-05-17 23:49] j5lim opened #6012 "[ServiceBus] type mismatch for PUT/GET networkRuleSet"
The path `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkRuleSets/default` in the spec uses a plural name `networkRuleSets` but the actual name of the resource type created / returned from the RP is singular 'Microsoft.ServiceBus/Namespaces/**NetworkRuleSet**'.

The RP also accepts the request URI with the singula

[2019-05-17 23:52] j5lim opened #6013 "[EventHub] type mismatch for PUT/GET networkRuleSet"
The path `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkRuleSets/default` in the spec uses a plural name `networkRuleSets` but the actual name of the resource type created / returned from the RP is singular 'Microsoft.EventHub/Namespaces/**NetworkRuleSet**'.

The RP also accepts the request URI with the singular na

[2019-05-19 14:35] tombuildsstuff commented on #4915
@miwebst

@logachev has taken a look into this and has added some more comments on how both the API and the Swagger have issues here, which appears to be the root cause of this issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/438#issuecomment-493725235

Since both the API and the Swagger are broken, can we please re-open this Github issue?

Thanks!

[2019-05-19 16:54] stefangordon commented on #4915
I can also confirm this is broken, is easily reproducible, and that others have done most of the work to identify the problem.  This bug should be open and high priority.

[2019-05-19 18:38] miwebst commented on #4915
Based on what I saw on the feature request thread. It is a very different issue than initially described in this thread. As such, we should leave this as closed and use the other issue to track the issue.

[2019-05-20 16:45] lmazuel commented on #5953
Hi @lebronJ
Sorry, but my own recording shows the capital letters case + a customer saw it. My own recording:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-cognitiveservices-vision-face/tests/recordings/test_snapshot.yaml#L67

[2019-05-20 23:42] #2204 closed

[2019-05-22 02:06] toothache opened #6057 "[OCR] Vision OCR Swagger has wrong enum definition for operation status `NotStarted`"
This is reported via our customers and it causes failures in vision sdk for go.

https://github.com/Azure/azure-sdk-for-go/issues/4845

[2019-05-23 10:36] tombuildsstuff commented on #5626
@blueww @jhendrixMSFT 👋 any chance we could prioritise this?

[2019-05-23 16:53] jhendrixMSFT commented on #5626
I'm following up on an internal thread we have.
See also https://github.com/Azure/azure-sdk-for-go/issues/4473

[2019-05-23 23:03] jhendrixMSFT commented on #5626
@tombuildsstuff according to the RP the service has been fixed to no longer return this value.  Are you still seeing this happen?  If so could you let me know the API version and region?

[2019-05-24 16:18] nschonni opened #6104 "typo negationConditon in webapplicationfirewall"
Added in the February 2019 release, and also in the April release.
It's a server side bug rather than a swagger one https://github.com/Azure/azure-rest-api-specs/pull/5341#discussion_r263686120
Conditon -> Condition

[2019-05-24 17:03] jhendrixMSFT commented on #6104
Hopefully this can be fixed in the next API version.

[2019-05-24 17:04] v-Ajnava commented on #1038
Examples added to swagger.

[2019-05-27 06:22] lebronJ commented on #5953
Hi @lmazuel
Sorry, please ignore my last reply (deleted). I can reproduce that Face API returns upper case for operation status.

Our plan to fix this is to change Face API's behavior to return lower case, then this problem will be auto resolved for Python SDK. Moreover in this approach, there's no need to change the Swagger, thus no effect to API references or other SDKs. We will roll this change

[2019-05-28 09:25] pvrk commented on #5306
You can only cancel the job as long as it is in the first state (take snapshot). Once that phase is completed and the job moves to the data transfer phase, a backup job cannot be cancelled. Will document this behavior

[2019-05-28 09:30] FelixBorst commented on #5306
Hi @pvrk, thank you for your answer.

A documentation would be helpful indeed, but I feel a better interaction with the user would also be helpful. Right now you just get an error message that does not contain any details:
The Azure portal only throws an "An error occured" message, the REST api does not give any details either?

In my opinion, a fitting error message would enhance the user experie

[2019-05-28 09:33] pvrk commented on #4901
As of now, you can only create vaults with GRS and then immediately update it with LRS. Once any backup items are protected, you CANNOT change this value.

[2019-05-28 09:33] pvrk commented on #4901
#please-close

[2019-05-28 09:42] ABerTSC commented on #4901
why close! dont close! this is ridic, how you will code this? that destroys the meaning of automation and infrastructure as a code

[2019-05-28 14:34] aheumaier opened #6131 "Consumption API Microsoft.Consumption/usageDetails undeterministic"
On querying the Azure API  at[ Microsoft.Consumption/usageDetails](https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/list) the results in pretaxCost attribute look quite scattered on each request . This is expected to be constant or at least to be close to a static number.

When summing up a monthly Usage this results in the following results
[code]

Replay with :
[code]

Let me k

[2019-05-29 18:35] jfggdl commented on #1037
Thank you for bringing this to our attention. We are acknowledging the request for this feature. We have added it to our backlog and it should be addressed in a future release (date TBD). I am closing this issue, but feel free to reopen it if you have any additional questions about this feature.

[2019-05-29 18:35] #1037 closed

[2019-05-29 18:36] jfggdl commented on #1038
Examples have been added to the Swagger specification. I am closing this issues, but feel free to reopen it if you still have any additional questions.

[2019-05-29 18:36] #1038 closed

[2019-05-29 22:26] lmazuel commented on #5953
Hi @lebronJ
First, yes, this would solve the problem and no, it's not urgent that you should urge your timeline.

I must mention that's a breaking change for customers that use directly your RestAPI today, their code won't work anymore. It's why ARM team forbids this kind of changes for instance. If your API is in preview however, or if the SDK are considered your top scenario, you might consider

[2019-05-29 22:30] #6057 closed

[2019-05-30 16:29] lmazuel commented on #1975
Checked with Swagger 2019-03-01, still not fixed.

[2019-05-30 20:47] sidramadoss commented on #5604
@tombuildsstuff - sorry for the late reply. And apologies for Swagger not being available for the new API version. We ack this and will be working on adding it over the coming months. Thanks for the feedback.

[2019-05-31 00:59] amarzavery opened #6167 "Azure Machine Learning data plane APIs need x-ms-examples for all the operations"
Reference PR https://github.com/Azure/azure-rest-api-specs/pull/5734
/cc @hendrytl @Greeshmamadalam

[2019-06-03 02:28] lebronJ commented on #5953
Hi @lmazuel , thanks for the explanation. Per our team's internal discussion, we will treat this as a service bug fix and will change Face API's behavior to return lower case.

The reason behind this is the fact that our documentation and swagger are consistent (lower case), while response from service is different (upper case). Moreover, this API interface (Snapshot) is called in a quite low freq

[2019-06-04 17:22] sidramadoss commented on #5604
@tombuildsstuff  - just to be clear. we are working on updating the swagger spec for the GA API version and not the preview API. Given the preview API version can change/less stable than GA, we are not planning to publish a swagger spec for it.

[2019-06-04 21:40] v-Ajnava commented on #687
@tombuildsstuff , ArchiveDescription now known as CaptureDescription is available.  hence closing the issue.

[2019-06-04 21:40] #687 closed

[2019-06-04 21:54] v-Ajnava commented on #838
Hi @tombuildsstuff, eventHubPath is removed from ConsumerGroup. hence closing the issue.

[2019-06-04 21:54] #838 closed

[2019-06-04 22:49] veronicagg commented on #5604
Closing the issue per @sidramadoss response, feel free to reopen if you disagree. Thanks!

[2019-06-05 01:40] akucer commented on #647
Just verified that this is no longer an issue. Storage is currently a required parameter. Closing issue out.

[2019-06-05 01:40] #647 closed

[2019-06-05 10:28] tombuildsstuff commented on #5604
@sidramadoss sounds good 👍

[2019-06-05 18:06] rachel-msft commented on #3719
This was fixed in November as Qingqing mentioned. Please close @hovsepm.

[2019-06-06 15:07] pvrk commented on #5306
@FelixBorst: Thanks for the elaboration and I acknowledge the issue. Will work on it and update this thread. For now, marking this as a question. Once I know more about the REST API response, will change to bug/new feature request.

[2019-06-06 19:23] shurd commented on #4571
Hi @jeremie0, thank you for bring up this request. In January of this year, we altered the response of the API request so that all 4 connection strings are included in the response.

[2019-06-06 20:19] zhusijia26 commented on #1256
Closed due to idle time. Please reopen if there is still question.

[2019-06-06 20:19] #1256 closed

[2019-06-07 20:17] tombuildsstuff commented on #5626
@jhendrixMSFT sorry missed this ping, based on https://github.com/Azure/azure-sdk-for-go/issues/4473 I think this can now be closed?

[2019-06-07 20:18] jhendrixMSFT commented on #5626
Yep thanks for pointing this out.

[2019-06-07 20:18] #5626 closed

[2019-06-07 22:05] nschonni opened #6277 "VS Code is suggesting "description" values be added to example files"
I've removed a few of these in PRs, but it is a confusing change for reviews when it is included with other things.
Right now ModelValidation does flag these (if the swagger doesn't actually have a "description" property on the model).
I've filed an issue with VS Code here https://github.com/microsoft/vscode/issues/74744, so it's not a locale config issue, but an upstream thing.

[2019-06-09 06:21] alexeldeib commented on #2750
@lmazuel is there any update here? Rate Card API in general seems poorly documented and supported by SDKs. Latest API version is 2016-08-31-preview which is not in this repo or any of the SDKs, despite being **3 *years* old**.

Documentation has not been updated and isn't shown on the current version of docs.microsoft.com because it's marked as a 'previous version'? Do you know what is going on wi

[2019-06-09 06:29] alexeldeib commented on #2750
@pargall @BryanLa sorry to pick on you, you have the only commit history I can find. Are you the owners of this API? If so, what is the current status of it? If not, do you know who is?

[2019-06-09 06:41] alexeldeib commented on #2750
Is it replaced by e.g. Consumption API? https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet/getbybillingperiod#pricesheetproperties

[2019-06-10 12:06] samuel-begin commented on #5626
confirmed! thanks a lot mates! :tada:

[2019-06-10 14:07] JohnnyPark78 commented on #2750
+1 here.  Trying to work through the APIs and not having a ton of success. Pricing, including RIs, for non-EA agreements is a pretty big part of an internal solution we're working on.

[2019-06-10 15:48] BryanLa commented on #2750
@alexeldeib - no worries.. I'm not the owner anymore, but let me see if I can find someone to comment..

[2019-06-10 19:37] hvermis commented on #1221
@mikeblakeuk ADF swagger has been added to github for a while now:
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/datafactory/resource-manager
And we regularly release our nuget packages:
https://www.nuget.org/packages/Microsoft.Azure.Management.DataFactory.
Please note that the swagger and nuget are for ADF V2. We do not plan to add ADF V1.

[2019-06-10 19:37] #1221 closed

[2019-06-10 19:39] hvermis commented on #5274
The annotations have been added to Trigger base class:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/entityTypes/Trigger.json#L27

[2019-06-10 19:39] #5274 closed

[2019-06-11 13:29] DenisSa commented on #2750
@alexeldeib Have you discovered anything new in the past two days? A programmatic way of accessing pricing information is imperative for the solution we are working on. AWS, in comparison, makes their pricing info publicly available through API, as well as CSV and JSON.

Another issue I've noticed, for anyone trying to use ratecard API is that cursory price comparison returned different prices thr

[2019-06-11 16:08] alexeldeib commented on #2750
@denissa I'm discussing this with a few people offline, I'll update back here/ask someone to comment on behalf of PG once it's clear what the status is.

I would expect Rate Card API and the public pricing calculator to be different in some cases, yes. Rate Card API is specific to a subscription, including e.g. customer-negotiated discounts from what I understand. Public pricing calculator has lis

[2019-06-11 18:41] nkanala opened #6289 "ADLS Gen 2 Rest API - List Files - ETag is a timestamp"
Two questions:

1. I understand the purpose of Etag value but when i list files, the etag appears to be a timestamp. Is that correct? Etag and the last modified timestamps are the same.

2. How do I get the creation timestamp of a file/directory? I only see last modified.

            "etag": "Fri, 10 May 2019 18:09:25 GMT",
            "isDirectory": "true",
            "lastModified": "Fri, 10 M

[2019-06-11 23:39] rachel-msft commented on #3719
@aullom1, @hovsepm, @jeffreyCline could you help with closing this issue?

[2019-06-12 01:32] #3719 closed

[2019-06-12 06:26] #4571 closed

[2019-06-12 09:30] alexeldeib commented on #2750
Here's the latest:

For PAYG accounts, Rate Card API is still the latest.
For Enterprise customers, there is the older [pricesheet API](https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet/get) and a [newer API](https://docs.microsoft.com/en-us/azure/billing/billing-ea-pricing) depending on the age of the agreement.

As far as this issue, reserved instances, you can fetch the reservati

[2019-06-12 09:33] tombuildsstuff commented on #4545
ping @ms-xiaoy

[2019-06-12 17:56] brjohnstmsft commented on #4545
FYI @miwelsh

[2019-06-12 21:15] #1608 closed

[2019-06-12 21:18] aamalvea commented on #4910
@ayeletshpigelman Can you take a look at this?

[2019-06-12 23:28] shurd commented on #5066
We are tracking this change internally as work item 449210. The change is in review, and should be available in the swagger within the next two weeks. This is not an urgent change, so we will wait to release new SDKs until the next substantial change.

[2019-06-13 07:21] alexeldeib opened #6333 "[network/front door] Error message indicating invalid IP address is wrong"
![image](https://user-images.githubusercontent.com/6800857/59411842-0965d400-8d71-11e9-8c3e-9347df396a17.png)

Either this message should be changed, or one should be able to deploy using arbitrary IPv4 addresses. Opening here because it seems to be a backend issue, it happens in both Portal and CLI.

[2019-06-13 07:21] alexeldeib commented on #6333
[code]

[2019-06-14 17:00] andyw248 commented on #3457
Support for Python 2 has been added to the product in 2018. This needs to be reflected in the SDK. Created work item.

[2019-06-14 18:41] hdost commented on #3457
Is there any change of a python 3 support.

[2019-06-16 12:03] ayeletshpigelman commented on #4910
Hi,

there is always only one policy. is this API needed anyway?

[2019-06-17 12:03] kvaes commented on #2750
A typical use case is someone who is interested in the costs of the Azure platform to talk to the APIs and integrate this into their tooling.

Imagine an ISV or customer wanting to have an overview of all our (list) VM sizes, and their prices per region, per contract form (PAYG vs RI1Y vs RI3Y) & license forms (Linux, Windows, SQL Enterprise/Standard, RHEL etc, DataBricks, ...). How would one go a

[2019-06-17 12:34] sylr opened #6363 "Storage Account listKey API counts as write operation"
Hi,

We came to notice calls to `/subscriptions/<subscription>/resourceGroups/<group>/providers/Microsoft.Storage/storageAccounts/<storage>/listKeys?api-version=2018-07-01` returns a decremented `x-ms-ratelimit-remaining-subscription-writes` header leading to understand that this API is categorized as a WRITE operations where we believe it should be a READ one.

Is that a bug ?

Regards.

[2019-06-18 00:33] solankisamir opened #6372 "Make ApiSchema GET Contract consistent for all api Types"
Because of the weirdness, clients have to write custom code to extract the exact schema

`application/vnd.ms-azure-apim.swagger.definitions+json`
[code]

But for `application/vnd.ms-azure-apim.xsd+xml` or `application/vnd.oai.openapi.components+json` or `application/vnd.ms-azure-apim.wadl.grammars+xml`

[code]

[2019-06-18 05:49] alexeldeib commented on #2750
Unfortunately I don't need to imagine, this is what I am attempting 😄 Understanding the Rate Card meters is the best bet as far as I understand. I've passed some feedback to the appropriate team about this. They aren't able to offer any commitments, but understand the desire to improve this experience.

[2019-06-18 14:46] DenisSa commented on #2750
This is more of a hack, however slightly better than scraping the pricing calculator. If you would like to have an overview of VM sizes and their prices per region (nothing on contract or license forms) you can join output of RateCard API and Resource SKUs API.
The problem, however, is that to my knowledge Resource SKUs API doesn't expose meter IDs, so there's no way to definitively link the data

[2019-06-18 14:54] alexeldeib commented on #2750
^this is also the track I am pursuing.

[2019-06-18 22:58] #5066 closed

[2019-06-19 07:16] dcbrown16 opened #6379 "Export deployment operations"
We have a template export API, along with PowerShell and CLI that seem to call it.
https://docs.microsoft.com/en-us/rest/api/resources/deployments/exporttemplate
https://docs.microsoft.com/en-us/powershell/module/az.resources/export-azresourcegroup?view=azps-2.3.2
https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest#az-group-deployment-export

What RBAC operation allow

[2019-06-19 14:51] akahn commented on #5130
Our application will need to be able to get `Count` from the metrics API. Any update on getting this issue fixed?

[2019-06-20 00:26] MyronFanQiu commented on #6363
@sylr Thanks for opening this issue! I'm sorry I need some time to investigate this one. I will share any update with you here.

[2019-06-20 00:28] MyronFanQiu commented on #6363
@stankovski would you please also check this issue?

[2019-06-20 07:26] tombuildsstuff commented on #6363
to add some additional context from our side: this behaviour means that when a ReadOnly lock is applied to the storage account, it's not possible to read those keys

[2019-06-20 18:11] jfggdl commented on #753
@v-ajnava was able to reproduce this problem. We are working to determine the potential differences in the implementation that may explain the difference in time and format.

[2019-06-21 20:04] Gaploid commented on #2750
Hey, guys @DenisSa and @alexeldeib I've already done that. I`ve created a parser that combines data from RateCard and Resource API. You can see that here https://azureprice.net probably I can create an API facade for that for external parties. let me know if you are interested.

[2019-06-21 23:46] pgmisc opened #6412 "Azure Machine Learning data plane APIs needs XML comments for all properties"
Reference PR #5734
/cc @hendrytl @Greeshmamadalam @pgmisc

[2019-06-24 07:23] aquibqureshi26 opened #6425 "Issue with EA and CSP pricing on Pricing Calculator"
Hi Team,

Thanks, This is regarding Azure Pricing Calculator. At the bottom there is a feature of calculating EA pricing But as i do have access to multiple subscription hence i cannot see scroll bar and submit button and this is a bug on Azure Pricing calculator Portal.

I have attached the screenshot below. This happens on any web browser be it Edge or Chrome. I have tried zooming in but it does

[2019-06-24 17:55] zikalino commented on #6379
Most likely it will be **Microsoft.Resources/deployments/read** but requires some further checking.

[2019-06-25 03:22] erich-wang commented on #6425
@wilcobmsft, would you know anyone who could take care of this?

[2019-06-25 15:55] jnoller commented on #2129
@mboersma can't tell if this is still an actionable issue

[2019-06-25 16:04] mboersma commented on #2129
Nope! We implemented PATCH and the discovery endpoint and cleaned up the linter warnings a while ago, but I never closed this bug. Thanks for the nudge @jnoller. 🖖

[2019-06-25 16:04] #2129 closed

[2019-06-25 17:50] miwelsh commented on #4545
Ack, thanks Bruce. Hi @tombuildsstuff. @ms-xiaoy handed off this component to me a few months ago so I'll be taking over from here. My team will be repairing the 20 days of broken data (from 2018-11-20 to 2018-12-10) in the next few weeks. I'll update this thread when we're done. Thanks, and sorry for the delays.

[2019-06-26 01:07] estebanreyl opened #6457 "Improvements/Fixes for ACR SDK"
We have been notified that some features are not currently supported/working as expected in the Azure Container Registries SDK for .NET generated from our provided swagger in particular :
[code]
Other API calls also require validation/testing.  This is a small issue tracker for this work item. Will update as more progress is done.

[2019-06-26 01:31] graypj commented on #6457
Adding more details：

1. Pagination is a response header and current swagger is not parsing in in responses.
[code]

2. `/v2/{name}/manifests/{reference}` only supports Get method with default header. Put and Delete method is not supported yet. Also `application/vnd.docker.distribution.manifest.v2+json` mediaType is required do get manifest in v2 schema.

3. Tag deletion is expecting 204 for succe

[2019-06-26 11:34] NickMetz commented on #6372
Is there a approximate ETA on this?