[2019-06-26 18:42] anthony-c-martin opened #6466 "Microsoft.Portal swagger refers to non-existent API version"
A swagger spec for Microsoft.Portal was recently added for api-version 2015-11-01-preview, but this version does not appear to be supported by the Resource Provider. As an example, using armclient:
[code]

The pull request which added this version:
https://github.com/Azure/azure-rest-api-specs/pull/5811

[2019-06-26 18:43] antmarti-microsoft commented on #6466
@jjbfour FYI. I couldn't find your Microsoft alias on the original PR.

[2019-06-26 18:44] antmarti-microsoft commented on #6466
(re-opening - accidentally closed)

[2019-06-26 19:01] jjbfour commented on #6466
oops. Looks like I specified the wrong version. Let me update.

[2019-06-26 20:42] graypj commented on #6457
This is currently a blocking issue for us. It would be great if this can be prioritized.

[2019-06-26 20:47] estebanreyl commented on #6457
Will take a look at that immediately

[2019-06-26 20:53] Tiano2017 opened #6468 "Microsoft.Resources spec for /tenants API is missing domains (and a few other properties) in the response"
The Domains property is supported in api-version >= 2017-08-01 in service.

[2019-06-26 21:24] graypj commented on #6457
That's what I found. I haven't tested other scenarios.

[2019-06-26 21:33] ifeoluwaokunoren commented on #6466
@jjbfour Also, there's no swagger for all of the versions your RP supports: 2015-08-01-preview, 2019-01-01-preview, 2018-10-01-preview. Can you please publish swagger for all of these versions?

[2019-06-26 22:34] jjbfour commented on #6466
yeah i'll add those api versions as well.

[2019-06-27 00:33] sergey-shandar commented on #6363
@XiaoningLiu @JasonYang-MSFT @vinjiang - Can you please take a look at this issue?

[2019-06-27 01:21] estebanreyl commented on #6457
To update. I have replicated issue 3. Also confirmed 202 is the only expected correct status. The same issue exists for patch which also relies on 204 but should be 201. We do have a more updated swagger that does include Put for /v2/{name}/manifests/{reference} and addresses these last couple of issues at https://github.com/estebanreyl/azure-rest-api-specs/commit/4f95280b8bc50ad503b002351c875bebb

[2019-06-27 02:04] blueww commented on #6363
@huizlAzure
Would you please help to look at the issue on server behavior Storage Account listKey API?

[2019-06-27 03:03] idear1203 commented on #1101
We don't have such Swagger errors now

[2019-06-27 03:03] #1101 closed

[2019-06-27 04:54] solankisamir commented on #5316
Delete on 2018-01-01 was sync operation, hence 202 is not valid response. Starting 2019-01-01 api version, Delete on service is async and had been added to the spec

[2019-06-27 04:54] #5316 closed

[2019-06-27 04:56] solankisamir commented on #2982
This issue was fixed on service side. Please reactivate if you still see this ussur

[2019-06-27 04:56] #2982 closed

[2019-06-27 17:06] aquibqureshi26 commented on #6425
Anyone from PG tried to repro this?

[2019-06-27 17:49] graypj commented on #6457
We are currently using the preview nugget package. Can that be updated as well when these features are added？

[2019-06-27 17:55] estebanreyl commented on #6457
Absolutely, Ill begin asking how this can be carried out.

[2019-06-27 19:33] cthrash commented on #5534
There were two reasons for which this was changed, both having to do with that the simple AzureRegion model no longer worked:
1) Some Azure regions having a naming scheme that does not use the same pattern, and
1) We want to make the client SDKs usable with [containers](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-container-support), where the endpoint name will *de

[2019-06-27 19:46] asheniam commented on #1062
Thanks for the feedback.  We are evaluating this for a future release.

[2019-06-27 19:47] asheniam commented on #1413
In the future, autoscale engine may add support for other types of scaling (such as vertical scaling) where the values are not instance count numbers.

[2019-06-27 19:47] #1413 closed

[2019-06-27 19:49] asheniam commented on #1907
Thanks for looking at this.  We will look at a fix in a future sprint.

[2019-06-27 19:49] pimterry commented on #5534
@cthrash It's useful that that info is available in the portal, but that doesn't help me I'm afraid. I'm using the spec as an input to other OpenAPI tools, and as part of that I need a machine-readable definition of the common endpoints. It doesn't need to be 100% complete, but knowing the typical format would be very useful, and the previous spec did that quite well.

Is there no way to include t

[2019-06-27 19:49] asheniam commented on #2001
DiagnosticSettingsResource is a proxy resource which does not support tags.

[2019-06-27 19:49] #2001 closed

[2019-06-27 19:50] asheniam commented on #2371
Thanks for reporting this.  Top should be an integer.  We are looking at a fix.

[2019-06-27 19:51] asheniam commented on #2467
Thanks for reporting this.  We will fix the example in the doc.

[2019-06-27 19:53] asheniam commented on #5130
Thanks for reporting this.  We are looking at fixing the swagger.

[2019-06-27 23:15] cthrash commented on #5534
I think relying on a static list is problematic, since not all services are deployed in all the [regions](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=cognitive-services), and the [list](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/Common/ExtendedRegions.json) is not even comprehensive.

I don't know precisely ho

[2019-06-28 01:09] estebanreyl commented on #6457
To update on the previous point it seems as soon as this goes through here we can quickly get the preview nugget package out. As an additional update, as of commit https://github.com/msyihchen/azure-rest-api-specs/commit/49992327f94dc3493f633093e898c8eb85872a1a I have at least in theory (Still working on testing to make sure everything is indeed running smoothly) implemented items 1,2,3 along with

[2019-06-28 05:50] erich-wang commented on #6425
@aquibqureshi26 , the team is working on the fix, and I'll update here if any progress, thanks.

[2019-06-28 18:41] kpajdzik commented on #2371
Fixed in #6485

[2019-06-28 18:41] #2371 closed

[2019-06-28 18:42] kpajdzik commented on #2513
Fixed in #6485

[2019-06-28 18:42] #2513 closed

[2019-06-28 18:42] kpajdzik commented on #2575
Fixed in #6485

[2019-06-28 18:42] #2575 closed

[2019-06-28 22:54] idear1203 opened #6505 "[HDInsight] - Always model as string for every enum definition"
The Swagger review board requires `modelAsString` for `x-ms-enum` is always true. We cannot fix this now because it will be a breaking change. This issue should be addressed in the next API version. For new enum definition, we should definitely obey the best practice.

[2019-06-28 23:32] xuto2 opened #6506 "[PublicIPPrefix]Missing loadBalancerFrontendIpConfiguration property in PublicIPPrefix swagger/go-sdk"
After I attach a public ip prefix to an Azure standard load balancer as the frontend ip configuration of an outbound rule, i can see the property "loadBalancerFrontendIpConfiguration" in the public ip prefix. Below is the arm url to get the public ip prefix and the content of the public ip prefix. However, I don't find this property even in the latest swagger(https://github.com/Azure/azure-rest-ap

[2019-06-28 23:44] kpajdzik commented on #6506
@MikhailTryakhov, @jhendrixMSFT Could you take a look?

[2019-06-29 22:43] alexeldeib commented on #2750
@gaploid well hello! I saw azureprice.net and love what you’ve done. That data joins exactly the way I’d want to use it programmatically. If you’re able to create a public interface, that would be awesome. If not, if you’re able to share/link the source of the site, i’d be interested in lending a hand to achieve the same :)

[2019-06-30 06:30] Gaploid commented on #2750
Hey, how many calls to API are you planning to make?

[2019-06-30 07:51] alexeldeib commented on #2750
Short answer: many, but spread across many individual clients making a relatively small number of calls each.

I’m hoping to join the SKU + Rate Card data to implement a pricing sensitive extension to cluster autoscaler for Kubernetes. The thinking is, user can specify some set of “allowed” SKUs (or use SKUs API itself to fetch the list dynamically filtered to allowed for subscription), and based

[2019-07-01 18:00] jfggdl commented on #4688
@nschonni, This has been fixed and released. Please feel free to test it. I am going to close this issue, but if you still have a concern or question, please feel free to reopen this issue.

[2019-07-01 18:00] #4688 closed

[2019-07-02 03:00] michaeljqzq commented on #6457
Added @erich-wang since it is .NET SDK related issue

[2019-07-02 05:57] erich-wang commented on #6457
Please refer to the [process](https://github.com/Azure/adx-documentation-pr/blob/master/engineering/adx_netsdk_process.md) (visible only to Microsoft employee) if you need to generate .net management SDK from swagger spec

[2019-07-02 08:53] yaohaizh opened #6533 "API Request: Auto-Shutdown on VMS"
@bernie-g commented on [Wed Jun 19 2019](https://github.com/Azure/azure-libraries-for-net/issues/707)

On the actual azure portal you can configure Auto Shutdown times for the VM, but I don't see any way to do this in the API. Is this even possible at all?

---

@praries880 commented on [Thu Jun 20 2019](https://github.com/Azure/azure-libraries-for-net/issues/707#issuecomment-503754507)

Thank you

[2019-07-02 18:19] pimterry commented on #5534
@cthrash Sadly I can't. I'm inspecting live HTTP traffic, and matching that against OpenAPI specs to work out which services it's talking to, so I can overlay metadata, docs & request/response validation to help development (see [HttpToolkit.tech](https://httptoolkit.tech)). Many of my users are Azure customers, but I'm not directly involved in my users' Azure configuration at all (and I don't wan

[2019-07-02 23:23] binderjoe opened #6545 "API Request: Add support for batch operations on VMs"
Currently, there is no way to perform batch operations on VMs. In cases where a fleet of VMs need to be stopped/started, individual API calls must be made for each VM in the fleet--which is incredibly tedious. The compute RP should support batch operations for common tasks, such as starting, stopping, and getting the power status of multiple VMs.

This functionality is supported on other clouds an

[2019-07-03 02:12] estebanreyl commented on #6457
https://github.com/AzureCR/azure-rest-api-specs/tree/estebanreyl/dot_net_sdk Is now housing the most updated work in progress of this. Oauth2 paths have been added though the entire flow (As a result of Swagger 2 limitations) will be custom built in C# for that particular sdk. The same will have to be done for others generated from this swagger. Most paths have been verified to work. Still have to

[2019-07-03 09:15] stuartleeks opened #6549 "Storage ManagementPolicies reuses parameter definition with readonly flag from GET in PUT request"
The API spec for storage ManagementPolicies has [GET](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json#L616) and [PUT](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json#L653) operations which share the same

[2019-07-03 19:18] tjacobhi commented on #4545
Hi @tombuildsstuff, we now have the means to repair the casing of the data from the 20 day window where it was broken. Due to the time that has passed, we are concerned that by making a change now for all customers, we could break customers who have already created a dependency on the data from that time window. As a result, we will only change data for customers that escalate to us that they need

[2019-07-03 22:15] daschult commented on #4503
@sumantmehtams and I talked about this, and he indicated that they aren't interested in having a JavaScript SDK anymore, so this doesn't matter. I'm closing this issue.

[2019-07-03 22:15] #4503 closed

[2019-07-04 06:21] erich-wang commented on #6425
@aquibqureshi26 , the issue has been fixed per service team, please have a try.

[2019-07-04 06:21] #6425 closed

[2019-07-04 15:45] stuartleeks opened #6554 "Storage ManagementPolicies: Spec for DateAfterModification/DateAfterCreation specifies property as int but non-integer representation is returned from API call"
According to the API spec, the [DateAfterModification](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/storage.json#L2317) definition uses an `int` value for the `daysAfterModificationGreaterThan` property, but the representation that comes back in the response from the PUT request is `10.0` rather than `10` as se

[2019-07-05 02:12] raych1 commented on #6554
Is the response you are talking about from SDK or from the API directly?

[2019-07-05 07:51] stuartleeks commented on #6554
That snippet is from the error message in the SDK which dumps out the raw API response

[2019-07-05 08:00] blueww commented on #6554
@huizlAzure
Would you please help to look at the swagger issue for ManagementPolicies

[2019-07-05 16:54] zfchen95 commented on #6549
https://github.com/Azure/azure-rest-api-specs/pull/6551
@NelsonDaniel , I submitted a PR to fix. Please approve.

[2019-07-05 17:30] amarzavery opened #6561 "Provide x-ms-examples for all the AppService APIs"
It is a requirement to provide x-ms-examples for all the operations in a swagger spec. We perform model validation to ensure that the provided example matches the schema defined in the swagger specification. This helps us in catching bugs early-on in the process. The documentation team generates fiddler like traces from the x-ms-examples. Hence, providing x-ms-examples for all the operations in th

[2019-07-05 17:31] amarzavery commented on #6561
Reference PR https://github.com/Azure/azure-rest-api-specs/pull/6472#issuecomment-507748271

[2019-07-05 18:49] stuartleeks commented on #6549
Thanks @zfchen95  - is it possible to fix #6554 at the same time? :-)

[2019-07-05 19:06] zfchen95 commented on #6554
Fix in PR https://github.com/Azure/azure-rest-api-specs/pull/6551/files

[2019-07-05 19:07] zfchen95 commented on #6549
@stuartleeks Updated in PR https://github.com/Azure/azure-rest-api-specs/pull/6551 (changed integer to float)

[2019-07-06 06:23] paulmey opened #6562 "Service Bus Namespace properties is missing description for 'status' field"
The properties of a service bus namespace contain a undocumented `status` field in the REST response.
[code]
The `status` field is also the only field that indicates that a Service Bus Namespace is currently being deleted (status='Removing', provisioningState='Succeeded'). A bit inconvenient to not have this documented or in any of the generated SDK's.

This is the location where the properties ar

[2019-07-08 08:06] stuartleeks commented on #6549
Awesome - thanks @zfchen95 :-)

[2019-07-08 10:12] MarioRuiz commented on #2176
This is still an issue on 2019-04-01 version.
@MikeRalphson did you manage to solve this?

[2019-07-08 15:59] MikeRalphson commented on #2176
Without a way to amend your source files, I've no way to resolve this my side.

[2019-07-08 16:27] lmazuel commented on #5130
Fixed by https://github.com/Azure/azure-rest-api-specs/pull/6485

[2019-07-08 16:27] #5130 closed

[2019-07-08 18:11] antmarti-microsoft commented on #6466
@jjbfour Any updates on this?

[2019-07-08 18:13] jjbfour commented on #6466
@antmarti-microsoft waiting on review: https://github.com/Azure/azure-rest-api-specs/pull/6470

[2019-07-08 18:21] antmarti-microsoft commented on #6466
Sorry, I missed that. I've signed off for ARM and added a few comments to the PR - please take a look when you get a chance.

[2019-07-09 22:07] yaohaizh opened #6573 "DeploymentOperationProperties - missing 'provisioningOperation' attribute"
@hjhhh3000vitae

The provisioningOperation missed on DeploymentOperationProperties  yet can be found from REST responses.
Related issue: https://github.com/Azure/azure-libraries-for-java/issues/772

[2019-07-09 22:17] yaohaizh opened #6574 "Compute: `costs` values is not returned for ResourceSKU"
There is field defined in the swagger spec for sku's costs:  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-04-01/skus.json, but can not find this values from the service return responses.
Related issue:
https://github.com/Azure/azure-libraries-for-net/issues/718

[2019-07-09 22:54] estebanreyl commented on #6457
To update as of https://github.com/AzureCR/azure-rest-api-specs/commit/5b84330110c43213160bc42f03fa82e95903be4e all discussed features have been implemented and tested. I will begin the process of making sure everything is up to standards as specified [here](https://github.com/Azure/adx-documentation-pr/blob/master/tools/tools.md) . Will hopefully get through that quickly and PR.

[2019-07-10 00:19] bgklein commented on #4356
Issue was addressed in REST API release https://docs.microsoft.com/en-us/rest/api/batchservice/batch-service-rest-api-versioning#latest-version-2018-12-0180 and should now be resolved.

[2019-07-10 00:19] #4356 closed

[2019-07-10 00:38] akucer commented on #5249
Azure Media Services will omit properties that are not required if they have the default value. As Tags are not a required property, when an empty Tag block is set it is omitted in the API response. We do not plan on changing this behavior.

[2019-07-10 00:38] #5249 closed

[2019-07-10 00:39] akucer commented on #5249
Closing

[2019-07-10 00:42] zhusijia26 commented on #1141
Close this item based on @JasonYang-MSFT 's comment "linter validation check in PR already changed from error numbers to error diffs between master and PR branch.

[2019-07-10 00:42] #1141 closed

[2019-07-10 01:00] bgklein commented on #5574
Confirmed with @kiwidev that this fix has been pushed to production.

[2019-07-10 01:00] #5574 closed

[2019-07-10 05:45] shurd commented on #3603
Thank you for identifying this model error in the swagger. We will make the needed correction for the account keys response. We are tracking this internally as work item 469202. ETA for the update is August 2019.

[2019-07-10 17:17] anuchandy opened #6584 "GenericResource model missing properties"
Properties such as `createdTime`, `changedTime` are missing from GenericResource model.
When listing GenericResources these property names can be specified in the Data query params.

[2019-07-10 22:10] jaredmoo commented on #1604
Currently this is by design. Please comment if you have a scenario where this info is needed.

[2019-07-10 22:10] #1604 closed

[2019-07-11 01:38] #6545 closed

[2019-07-11 01:38] mjconnection commented on #6545
First, thank you for reaching out to the Microsoft team.  We identified your issue as a Virtual Machine feature request.  We don't have that feature, but we are interested in hearing more from you and others.  We have created a UserVoice idea here https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38117446-api-request-add-support-for-batch-operations-on-v  for you to provide mor

[2019-07-11 18:41] MikhailTryakhov commented on #6506
@number213 please review as well

[2019-07-12 08:46] tombuildsstuff commented on #5249
@akucer this is different to the behaviour of every other Azure API, which returns the value of fields in all cases (such as in this one when there's no elements) - which I believe is part of the ARM Specification - so I'd suggest this might be worth re-considering?

[2019-07-12 11:06] number213 commented on #6506
Opened PR to add this porperty to the specs: https://github.com/Azure/azure-rest-api-specs/pull/6606

[2019-07-12 14:41] jhendrixMSFT opened #6608 "BastionHostIPConfiguration.Name incorrectly marked as read-only?"
For reference https://github.com/Azure/go-autorest/pull/429

Apparently the `Name` property is incorrectly marked as read-only, can somebody confirm?

[2019-07-12 17:15] anuchandy commented on #5520
@rickle-msft is this something your team can help triaging?

[2019-07-12 18:08] rickle-msft commented on #5520
@pimterry The swagger for Storage services (blob, queue, file) is not published here yet. It has been our intention to publish them for a while, so I will bring it up with my team again to see if we can move them into this repo.

[2019-07-12 21:42] jfggdl commented on #753
@tombuildsstuff, when you are saying that "Note the difference both of the CreatedAt/UpdatedAt", are you referring to the DateTimeKind difference, the "Z" at the end (createdAt": "2016-11-22T12:12:19.9324273Z vs. createdAt": "2016-11-22T12:12:18.8550968) or the timestamp (seconds) difference, or both?

[2019-07-13 00:14] solankisamir commented on #6372
we are planning to release this change in the api-version `2019-08-01`, which should go out by the end of September 2019. We are clubbing multiple other changes and hence it will take time.

[2019-07-14 14:58] pimterry commented on #5520
Ah, I see, thanks @rickle-msft! It would be very useful to have those specs here, if that's at all possible.

[2019-07-15 21:16] nschonni opened #6624 "Attestation API isn't under a stable/preview folder"
Not sure who owns the API, but #6593 was closed because i'm not the service owner.

[2019-07-16 08:36] erich-wang opened #6637 "Add support for cert-based authentication using EC certs (ES 256, ES384)"
**The issue is copied from https://github.com/Azure/azure-sdk-for-net/issues/6521

Currently AAD only supports certificate authentication using RSA certs (eg RSA 2048). There is no support for authenticating with EC certs (eg ECDSA P-256 and P-384). This is documented here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials

Which effectively

[2019-07-16 08:37] erich-wang commented on #6637
@darshanhs90 @stankovski, could you take a look this feature request from customer?

[2019-07-16 09:24] kenorb commented on #2994
Still the issue with Terraform v0.11.14.

[code]

Despite _Boot diagnostics are not configured for this virtual machine._.

[2019-07-16 13:57] patst opened #6641 "Private DNS RecordSet: ResourceGroup name has wrong case"
While working on a new terraform resource for a private DNS Zone A record ( https://github.com/terraform-providers/terraform-provider-azurerm/pull/3849 ) I stumbled across an issue with upper case resource group names.

### Step to reproduce:

*  create a resource group named `tesT`
* create a private DNS zone in this resource group ('testdomain.com')
* create an A record in the private DNS zone.

[2019-07-16 17:47] darshanhs90 commented on #6637
@grlin to help with this

[2019-07-17 01:31] mjconnection commented on #6574
Hey thanks for reporting this issue.  We are sending this to the correct team to do some additional research.

@hyonholee - Spoke to @Drewm3 and he will be looking into this issue.

[2019-07-17 19:53] shleiAmy commented on #6624
https://github.com/Azure/azure-rest-api-specs/pull/6655
pull request has been submitted to move attestation api under preview folder

[2019-07-17 20:00] peterpogorski commented on #4359
@jhendrixMSFT is this still an error that you are experiencing?

[2019-07-17 20:16] jhendrixMSFT commented on #4359
Verified fixed via https://github.com/Azure/azure-rest-api-specs/pull/5852, thanks for following up.

[2019-07-17 20:16] #4359 closed

[2019-07-17 23:42] alanchen1910 opened #6660 "convertToSinglePlacementGroup for VirtualMachineScaleSets inside Compute.json (2019-03-01) missing parameter"
The definition for convertToSinglePlacementGroup under VirtualMachineScaleSets inside Compute.json (2019-03-01) is missing ApiVersionParameter as a parameter

[2019-07-18 19:58] ifeoluwaokunoren commented on #6466
@jjbfour thanks for making the changes !
I still dont see swagger for the other apiVersions your RP supports - 2019-01-01-preview, 2018-10-01-preview

[2019-07-18 20:03] jjbfour commented on #6466
I'm adding the 2019-01-01-preview version. PR: https://github.com/Azure/azure-rest-api-specs/pull/6643
The Hubs UX only lets you add one at a time. I'll add the other version once this gets completed.

[2019-07-19 01:05] Drewm3 commented on #6574
This is by design. There are a set of standard SKU definitions in the swagger, but only though documented here for compute are supported today: [https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list]

[2019-07-19 01:12] #6574 closed

[2019-07-19 01:23] logachev opened #6674 "Cost Management - wrong parameter for QueryFilter"
swagger for cost management API contains an issue here:

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/costmanagement.json#L1031

QueryFilter doesn't accept `dimension` value, it requires it to be `dimensions`. As a result, it is impossible to use generated SDKs.

(Probably there is also an issue

[2019-07-19 01:26] logachev opened #6675 "Cost Management - different API versions for different scopes"
Cost Management swagger has a version 2019-01-01, but it works only for 'subscription scope.

'Resource group' scope has different set of versions, so it is unusable from generated SDKs (Python in particular)

[2019-07-19 02:24] yaohaizh commented on #6574
Just wonder should the swagger spec need change to reflect this design?

[2019-07-19 06:13] yishengjin1413 opened #6679 "Some example json files display a wrong timezone"
For the following example https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azsadmin/resource-manager/update/Microsoft.Update.Admin/preview/2016-05-01/examples/UpdateRuns/Get.json#L24, if you search the keywords "utc", you will find that there are lots of key named "startTimeUtc" or "endTimeUtc", but the time is actually in time zone UTC-8.

You can find more examples like th

[2019-07-19 06:44] qub1n commented on #6574
I see different version in API:

2019-04-01
in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-04-01/skus.json

but
2017-09-01 in https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list

Isn't this the root cause?

[2019-07-19 06:49] qub1n commented on #6574
Why this desing?

azure-libraries-for-net team does not want to add support for Cost API without having it in swagger.
On the other hand it is by design that it is not in swagger?

So what is the correct approach to accessing the Costs?

[2019-07-19 21:21] jlian commented on #586
In our next swagger version publish we will fix this. Please assign to me.

[2019-07-19 21:23] jlian commented on #1774
We should also do this in the next swagger version. Please assign to me.

[2019-07-19 22:31] peterpogorski commented on #1786
This issue was fixed in https://github.com/Azure/azure-rest-api-specs/pull/1763#issuecomment-333925246.

[2019-07-19 22:31] #1786 closed

[2019-07-20 05:42] KnicKnic opened #6688 "devops/build/source providers/get path contents doesn't work with provider tfsgit"
when calling `GET https://dev.azure.com/{organization}/{project}/_apis/sourceProviders/{providerName}/pathcontents?api-version=5.1-preview.1`
 doesn't work with provider tfsgit

Always I get an empty json array returned.

Documentation does not indicate that https://docs.microsoft.com/en-us/rest/api/azure/devops/build/source%20providers/get%20path%20contents?view=azure-devops-rest-5.1 does not wor

[2019-07-20 18:07] nschonni commented on #6688
Think the repo you're looking for it is https://github.com/MicrosoftDocs/vsts-rest-api-specs

[2019-07-21 05:26] KnicKnic commented on #6688
@nschonni  thanks, created https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/253 to track

[2019-07-21 05:26] #6688 closed

[2019-07-22 01:32] raych1 commented on #6554
@stuartleeks , the fix was merged and can ;you verify and close if it's fixed?

[2019-07-22 09:47] stuartleeks commented on #6554
Thanks @zfchen95  and @raych1. Once the GO SDK has been re-generated I will be able to test whether the issue is fixed :-)

[2019-07-22 16:28] shurd commented on #3603
The change has been merged so the swagger correctly models the response when listing keys.

[2019-07-22 16:28] #3603 closed

[2019-07-22 19:25] owenmather opened #6696 "az webapp commands failing on single character Resource Group"
**Description**
`az webapp` cli commands are failing when using a resource group with a single character name.

![Capture](https://user-images.githubusercontent.com/18704330/61584325-22b72880-ab46-11e9-9e29-d5b2962a30e3.PNG)

**To Reproduce**
Create a resource group with single character name and try run webapp cli commands against it:
The following snippet reproduces error for me through Azure Cl

[2019-07-22 19:28] panchagnula commented on #6696
@naveedaz this is the issue we discussed today where APPservice has a validation for resource_group_name where as the other services don't seem to add any validation for RG  https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2019_06_01/operations/_action_groups_operations.py#L66
I will add a link to the RG validation here as well, incase we

[2019-07-22 19:43] panchagnula commented on #6696
'resourceGroupName': self._serialize.url("resource_group_name", resource_group_name, 'str', max_length=90, min_length=1, pattern=r'^[-\w\._\(\)]+$')

@naveedaz https://github.com/Azure/azure-sdk-for-python/blob/a509fefb47749a116e2d5d6722909559de08a55a/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_05_10/operations/_resource_groups_operations.py#L124

[2019-07-22 20:33] nschonni commented on #6696
Guess it would be the `"pattern": "^[-\\w\\._\\(\\)]+$",` values in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10/resources.json

[2019-07-22 22:16] nschonni opened #6700 "maps 2017-01-01-preview spec under stable folder"
The API appears to be marked as a preview version, but is under the stable folder. Don't know if it actually affects any of the generation.

[2019-07-23 06:09] Drewm3 commented on #5702
Moving this over to the Azure Monitor group who owns the API for getting metrics from within the VM which includes memory.

[2019-07-24 00:57] jlian commented on #586
https://msazure.visualstudio.com/One/_workitems/edit/4979397

[2019-07-24 01:00] jlian commented on #1774
https://msazure.visualstudio.com/One/_workitems/edit/4979415

[2019-07-24 01:40] mjconnection commented on #5163
This was an intermediate state when Availability Zones were being enabled in East US.  Availability Zones in East US are available now.

[2019-07-24 01:40] #5163 closed

[2019-07-24 03:25] MyronFanQiu opened #6713 "ApiManagement 2018-06-01-preview"
https://github.com/Azure/azure-rest-api-specs/blob/2fcd0139889b923094b39a6aae015e1ea3604b68/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimcaches.json#L86

There is some restriction that if you provide the x-ms-odata in the swagger file, you need support "$filter" parameter in this path.
[code]

[2019-07-24 20:01] Ashtonian opened #6719 "Bad Error Message: 'NoneType' object has no attribute when --resource-group or --name is misspelled"
**Describe the bug**
`az webapp identity show --resource-group "mispelledgroup" --name "somename"` with a bad resource group or name field and returns a `'NoneType' object has no attribute 'identity'` error. In general it seems that when using `az webapp` if there is anything wrong with the `--resource-group` or `--name` flags it will return a `'NoneType' object has no attribute` error message.

*

[2019-07-24 20:02] btardif commented on #6719
@Nking92 please sync up with API team on this one, sounds like we need better error messages form control plane

[2019-07-25 03:29] aim-for-better opened #6724 "[HDInsight] ERROR DefinitionsPropertiesNamesCamelCase/R3016/ARMViolation"
The swagger spec describing the REST API for HDInsight api version (both stable/2018-06-01-preview and preview/2015-03-01-preview) has ERROR DefinitionsPropertiesNamesCamelCase/R3016/ARMViolation.

Now we have to add suppression, we need to fix this in next api version in order to remove any suppressions.

This needs RP server side modify the property name in response.

The following is some inval

[2019-07-25 16:17] #586 closed

[2019-07-25 16:17] #1774 closed

[2019-07-26 11:34] erich-wang commented on #6637
@grlin, is there any update?

[2019-07-26 18:38] jfggdl commented on #753
@tombuildsstuff We are going to close this issue, but please feel free to clarify the discrepancy on the response (question above) and we can reopen this issue.

[2019-07-26 18:38] #753 closed

[2019-07-26 19:59] CamSoper commented on #5427
@stevengum @yugangw-msft @lmazuel @darshanhs90

Hey folks, whatever happened to this issue? I think it's still blocking https://github.com/Azure/azure-cli/issues/8820 because there's still no way to set `signInAudience=AzureADandPersonalMicrosoftAccount` from the CLI.  [We're not the only ones who have run into this](https://stackoverflow.com/questions/53209929/setting-signinaudience-of-applicatio

[2019-07-26 23:36] yugangw-msft commented on #5427
This should not block Azure CLI. The impact is just incorrect help text.
The CLI issue mentioned in the SO thread was a different thing, and was fixed.
Note, `signInAudience` can only be set at creating time, and can't be updated after that. Right now, the workaround is to us `az rest` to construct the request payload and send over to the graph service.

[2019-07-28 07:22] Ahmad-Magdy opened #6746 "Adding GraphRBAC specs."
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json
GraphRBAC specs are from the old URL `graph.windows.net`, the new URL is `graph.microsoft.com`.
Microsoft docs [here](https://docs.microsoft.com/en-US/azure/active-directory/develop/active-directory-graph-api-quickstart) recommends using Microsoft Graph instead

[2019-07-28 16:26] nschonni opened #6748 "NatGateway CreateOrUpdate defines object response for 202"
EX:
https://github.com/Azure/azure-rest-api-specs/blob/737110f8edd3689144c45d6fd34e7c6143171ab8/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/natGateway.json#L186-L191
Since it is a response that indicates an accepted async operation, I don't think it should be returning the an object. The example also indicates an empty response.

[2019-07-28 16:37] nschonni opened #6749 "ApplicationGateways ListAvailableSslOptions, ListAvailableSslPredefinedPolicies, and GetSslPredefinedPolicy examples missing response body"
EX: Running OAV returns
[code]
As it doesn't look like any version has a response body for those examples.

[2019-07-28 19:59] nschonni opened #6752 "HDInsignt 2018-06-01-preview is under the stable folder"
Should this be under the "preview" folder, given the name?

[2019-07-28 20:56] nschonni opened #6755 "ContainerGroups_Delete says it returns a ContatinerGroup instance for 200 response"
EX:
https://github.com/Azure/azure-rest-api-specs/blob/c69314600112f589c24cc2054ccff990b4a86897/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/containerInstance.json#L280-L285
The examples show it with an empty response, similar to other APIs. Not sure if changing that is a breaking change, but it looks like it is in all versions of the API.

[2019-07-29 00:56] Juliehzl commented on #6749
@raych1 I think you can have some idea about this problem, so I assign this issue to you now😊

[2019-07-29 01:20] raych1 commented on #6749
@Juliehzl , @nschonni is asking for example change to add body.

[2019-07-29 01:49] zikalino commented on #6700
@nschonni this won't really affect any generation as long as it's correctly referenced from readme.mf files, and the preview package is quite old already, so it really doesn't matter too much.
Of course it doesn't look good and is confusing, so if you want, pls go ahead and create a PR to clean it up. Then we can check if everything works correctly and I will merge it, just reference this issue fr

[2019-07-29 01:52] nschonni commented on #6700
I would, but every time I've done those folder name type PRs, they get closed 😆 since I think they want them from the service owner (or an MS person)

[2019-07-29 05:13] Juliehzl commented on #6749
@nschonni I think this issue is related to the spec of service team. Can you show me the service having this issue? I will invite service code owner to have a look at this problem.

[2019-07-29 05:16] nschonni commented on #6749
It's in the Network API, and it looks like it's in the versions going back to 2017
https://github.com/Azure/azure-rest-api-specs/search?q=ApplicationGateways_ListAvailableSslOptions&type=Code

[2019-07-29 05:20] Juliehzl commented on #6749
@MikhailTryakhov Can you have a look at this problem for Network swagger examples?

[2019-07-29 08:03] number213 commented on #6749
This was fixed for 2019-04-01 and 2019-06-01 API versions, but not the others. I'll fix the older ones

[2019-07-29 09:30] number213 commented on #6749
Opened PR: https://github.com/Azure/azure-rest-api-specs/pull/6764

[2019-07-29 13:07] sylr commented on #6363
Hi,

Could we have an update about this issue ?

Regards.

[2019-07-29 14:44] musicislife08 commented on #6363
also looking for an update as we would like to use readonly management locks with terraform and this is preventing that

[2019-07-29 19:38] estebanreyl opened #6773 "ACR Runtime SDK Blob Paths"
This issue is to track progress/discussion on adding Blob/layer management into the azure container registry's runtime API specification. Work in progress can be seen at :

https://github.com/AzureCR/azure-rest-api-specs/tree/estebanreyl/data-plane-08-2019/specification/containerregistry/data-plane

Progress after 8/14/2019:
- Fixed bug related to blob size
- Added all blob paths and their variati

[2019-07-30 01:37] Juliehzl commented on #6749
@nschonni I think the problem can be fixed in new PR, so I will close this issue. If you still have problem, please feel free to reopen it.

[2019-07-30 01:37] #6749 closed

[2019-07-30 07:42] yungezz commented on #6713
fixed by referenced PR close this.

[2019-07-30 07:42] #6713 closed

[2019-07-30 15:34] cbrit opened #6789 "Updating Network Security Group with REST API does not honor ETag"
Hello,
I'm a little new to working with ETags but they way that I understand they work with storage services is that if you include the last known etag of a resource in the header of a PUT request, the resource will only be updated if the actual ETag matches. Correct? I assumed this same functionality would be available for other services.

I need this functionality for Network Security Groups bec

[2019-07-31 04:54] zikalino commented on #6700
@nschonni then assign this to me, I will merge it ;-)
but honestly, I am not sure what's the story here.
it think it was never used to generate any package, for instance first Python release is here:

https://pypi.org/project/azure-mgmt-maps/0.1.0/

on 8th May 2018, so **package-2018-05** is the first tag that was released (for Python SDK).

So I think that file is completely obsolete....

[2019-07-31 05:48] nschonni opened #6814 "Sql ServerDnsAliases_Acquire missing schema for 200 response"
In specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/serverDnsAliases.json
There is no schema defined in the spec for the 200 response, but there is in the example file specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/examples/ServerDnsAliasAcquire.json
I'm guessing it should be "#/definitions/ServerDnsAlias"

[2019-07-31 15:32] sopatwar opened #6821 "Documentation request for Microsoft.Network provider"
Hello,

Recently, I got this error code response from Azure:

 StatusCode=400 -- Original Error: Code=\"ApplicationSecurityGroupCannotBeDeletedIfReferencedBySecurityRule\"

Is there any reference document that lists all the error codes that could be received from the Microsoft.Network provider ?

Something similar to:
https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/error-me

[2019-07-31 16:45] lmazuel opened #6822 "Query_UsageByScope return type is incorrectly defined"
About this operation:
https://github.com/Azure/azure-rest-api-specs/blob/d8e61eccaaa0f9ddeb95dfed0a6dcebe06dbbc3b/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-01-01/costmanagement.json#L153

The return type `QueryResult` does not represent the actual JSON payload. Example of JSON payload from a customer:
[code]

QueryResult does not match this definition. The

[2019-08-01 10:22] MacFlurry commented on #2994
got same thing.

[2019-08-03 05:42] lirenhe commented on #6821
@MikhailTryakhov, could you take a look?

[2019-08-05 16:09] jjbfour commented on #6466
@ifeoluwaokunoren sorry took so long here is the last one. PR: https://github.com/Azure/azure-rest-api-specs/pull/6825/files

[2019-08-05 19:30] number213 commented on #6506
Specs are fixed by https://github.com/Azure/azure-rest-api-specs/pull/6693
PR for Go SDK was opened: https://github.com/Azure/azure-sdk-for-go/pull/5318

[2019-08-05 21:02] jhendrixMSFT commented on #6506
Thanks for letting me know.  The fix will be released in Go this month.  Closing issue as it's been resolved.
CC @ArcturusZhang

[2019-08-05 21:02] #6506 closed

[2019-08-05 21:56] zhusijia26 commented on #5520
Based on conversation with @rickle-msft , the ETA is 8/23/2019.

[2019-08-06 00:08] zikalino commented on #6379
closing as not much activity here...

[2019-08-06 00:08] #6379 closed

[2019-08-06 00:08] zikalino commented on #6379
please reopen if you still need any more help

[2019-08-06 00:25] dcbrown16 commented on #6379
@zikalino ok, I guess you meant that the further checking has to be done by us. Thank you.

[2019-08-06 01:47] yevster opened #6869 "Microsoft.Web/sites/<name> is undocumentedly asynchronous"
When using PUT or PATCH on `https://management.azure.com/subscriptions/${subscriptionId}/resourceGroups/${resourceGroupName}/providers/Microsoft.Web/sites/${functionAppName}`, the response is status code 200, but the operation is not actually complete.

To reproduce:

1. Create a Functions app.
2. Replace the values in the first two lines of the following PowerShell snippet with the resource group

[2019-08-06 05:02] Juliehzl commented on #6466
It looks things go well. @anthony-c-martin Please confirm if it works for you. If no problem, I will close this issue.

[2019-08-06 05:21] erich-wang opened #6873 "Add Json format check to CI"
Thanks for input from @nschonni, more info https://github.com/Azure/azure-rest-api-specs/pull/6496

[2019-08-06 23:09] ifeoluwaokunoren commented on #6466
Thank you ! @jjbfour  btw, can you ping me on teams so I can have your actual msft alias.

[2019-08-06 23:10] #6466 closed

[2019-08-07 10:41] tombuildsstuff commented on #753
@jfggdl sorry, was on holiday.

In this instance I was referring to the format (`Z`) - I'd assume that all DateTime's returned in the API Response would be the same format (whichever that is)

Hope that helps!

[2019-08-08 22:18] Drewm3 commented on #6533
Hi @yaohaizh, the automatic shutdown of VMs is a function of the Azure Dev/Test Labs service which has been extended to support VMs outside of the actual Dev/Test Labs service. You can configure this through the APIs or through an ARM template by using the template example shown  [https://docs.microsoft.com/en-us/azure/templates/microsoft.devtestlab/2018-09-15/schedules](here).

As a hint, if ther

[2019-08-08 22:18] #6533 closed

[2019-08-09 04:52] sarajang commented on #1975
Is there an ETA for the fix? Looks like the issue has been open for a while.

[2019-08-09 16:24] Drewm3 commented on #5703
@madhut, memory usage for a VM is available through the Azure Monitor APIs once you have enabled Azure Monitor for the VM. Please see the following link for details on using the Azure Monitor REST APIs: [https://docs.microsoft.com/en-us/azure/azure-monitor/platform/rest-api-walkthrough](url)

[2019-08-09 16:24] #5703 closed

[2019-08-12 23:56] jfggdl commented on #6013
@j5lim, a fix has been released earlier today. I will close this issue for now. Thanks for bringing this bug to our attention.

[2019-08-12 23:56] #6013 closed

[2019-08-14 06:14] TAdityaAnirudh opened #6956 "Azure backup model validations are failing after tool update"
Fix the failures in this PR - https://github.com/Azure/azure-rest-api-specs/pull/6818

[2019-08-14 06:16] TAdityaAnirudh commented on #6956
@ArcturusZhang please assign this issue to me.

[2019-08-15 06:52] ArcturusZhang opened #6967 "Filter `substringof` and `top` parameter cannot work together in Resources#List"
When I call rest api
[code]
and filter contains a clause of `substringof`, then the `top` parameter will be ignored.

To reproduce:

I used Postman to send this rest api request. Armclient or az CLI cannot get the filter in this request to work. I filed another [issue](https://github.com/projectkudu/ARMClient/issues/51) about this in the armclient repo.

Use postman and call GET
[code]

**Expected

[2019-08-19 05:03] MyronFanQiu opened #6988 "[Network] loadBalancerFrontendIpConfigurations in private link service"
[code]

It seems that the response of the creation of private link service cannot be correctly parsed as a model.

[2019-08-19 10:26] TAdityaAnirudh commented on #5306
Hi there. Couple of updates on this one.
1. We have started using azure-async-header along with the location header for most of our long running operations, cancel job being one of them. Please use that to track cancellation operations. They provide much better error messages.
2. We have updated the error message to reflect the current status and its cancel-ability. Changes should roll out to prod

[2019-08-19 19:16] timja commented on #4221
@marstr has this been seen by the frontdoor team?

[2019-08-19 20:46] marstr commented on #4221
I'm not sure of the current status. Looks like the current assignees are Network team members. I've been transitioned onto a different team, so I'm not in the day-to-day loop here.

[2019-08-19 20:49] timja commented on #4221
Ah sorry missed the assignees, @gmainar / @jmelvinwork do you have any update on this Azure Front Door API issue?

[2019-08-19 21:31] nschonni commented on #6624
Closing since #6655 landed

[2019-08-19 21:31] #6624 closed

[2019-08-19 21:40] anuchandy commented on #6752
I asked similar question in the past, please see the discussion [here](https://github.com/Azure/azure-rest-api-specs/pull/6665#discussion_r304975105).

[2019-08-19 22:10] jmelvinwork commented on #4221
I have moved to another team. Please follow up with @johncrane .

[2019-08-19 23:49] number213 commented on #6988
I think this is caused by incorrect type of "loadBalancerFrontendIpConfigurations" which should be an ID reference and not whole resource.
@MyronFanQiu could you please try running test with SDK generated from this https://github.com/Azure/azure-rest-api-specs/pull/6999 ? I see that the error only occurs in Python 2 but I couldn't figure out how to run tests with it.

[2019-08-20 03:24] #6988 closed

[2019-08-20 06:56] #6956 closed

[2019-08-20 20:09] jhendrixMSFT opened #7003 "Swagger and wire values don't match leading to failed deserialization"
Ported from https://github.com/Azure/azure-sdk-for-go/issues/5549

See reference [Path](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/data-plane/Microsoft.StorageDataLake/stable/2018-11-09/DataLakeStorage.json#L88).

The swagger defines `isDirectory` as `boolean` however the value sent over-the-wire is the string "true".
The swagger defines `contentLength` as `int

[2019-08-20 20:17] tfitzmac opened #7004 "review required properties for AutomationRunbookReceiver"
@nithinpnp - can you review the properties that are listed as required for AutomationRunbookReceiver object on Microsoft.insights/actionGroups? The "name" property is not listed as required but it seems to be required.

Here is the [required list](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2019-06-01/actionGroups_API.j

[2019-08-20 20:19] kahing commented on #7003
Note that the deserialization works fine in Java (for example), so it's not clear where you want to fix this

[2019-08-20 20:24] jhendrixMSFT commented on #7003
Yes, some languages have much more relaxed deserializers, Java and C# being the canonical examples.  Go's deserializer is much more strict so the swagger must match what's on the wire, and generally speaking the swagger should always match what's on the wire for documentation purposes.

[2019-08-20 20:50] kahing commented on #7003
It'd be nice if azure-sdk-go uses a custom demarshaller instead of returning string for those fields

[2019-08-20 20:59] jhendrixMSFT commented on #7003
Agreed that returning the values as strings is sub-optimal.  It's likely a bug in the service itself although fixing it there can be more difficult.
Regarding a custom unmarshaller, it's something I've considered but is a large work item.

[2019-08-21 03:26] patrikdevlin commented on #2255
This would be great! Any updates @jianghaolu?

[2019-08-21 20:35] rpohane commented on #651
In the updated Azure Portal, the dropdown list of locations on the Create Storage Account page now only displays those locations which are supported.

[2019-08-21 20:54] zhusijia26 commented on #651
Close the issue based on response above. Please reopen if there is still questions.

[2019-08-21 20:54] #651 closed

[2019-08-21 23:24] jeremymwilton opened #7016 "Get Project Rest API "lastUpdateTime" Wrong"
Bug found while using RestAPI version "5.1" and "5.0-preview.3" for getting project information:

When you specify the ID, the "lastUpdateTime" is giving "0001-01-01T00:00:00" instead of the correct value. When you don't specify the ID, it will give the correct "lastUpdateTime" value while listing all the projects.

Rest URL Example: https://dev.azure.com/{project}/_apis/projects/{id}?api-version=

[2019-08-22 01:17] MyronFanQiu commented on #7016
@jeremymwilton Hello. which service are you using?

[2019-08-22 04:01] jeremymwilton commented on #7016
Azure DevOps

[2019-08-22 05:33] MyronFanQiu commented on #7016
@amaljg Hello, Could you help look at this issue?

[2019-08-22 06:06] amaljg commented on #7016
@MyronFanQiu I'm not the owner of this REST API. You should reach out to the Projects team.

[2019-08-22 16:21] #6468 closed

[2019-08-22 17:57] sopatwar opened #7023 "Missing event type for EventGrid"
Refer to [Event types](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-subscriptions#available-event-types)

The eventual success and failure of a resource action will be reported by:
Microsoft.Resources.ResourceActionSuccess, or
Microsoft.Resources.ResourceActionFailure

However, my use-case is to monitor and react to an action that has been **Started** on a resource (example: VM r

[2019-08-22 18:22] chandraneel opened #7024 "serviceassociationlink/delete operation is missing from swagger."
https://docs.microsoft.com/en-us/rest/api/container-instances/serviceassociationlink/delete
Above doc talks about this api however is missing from the swagger

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/virtualNetwork.json

DELETE https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{res

[2019-08-24 13:17] JamesDLD commented on #4901
Any chance to reconsider this ticket's closure?

[2019-08-26 19:10] logachev opened #9563 "Inconsistent interfaces for different List methods"
There is no consistent interface for different mgmt libraries `List` operations.

Vast majority of libraries return iterator-like instance of an object of some sort.

costmanagement library returns an object without an iterator, instead it has only `value` of type `list`.

The problem is it is harder to write a generic function to return a list of objects, like this:

[code]

Example of different

[2019-08-27 14:12] yishengjin1413 opened #7048 "Duplicated operationid break Rest Document CI"
These two files:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/Network.json

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Location.json

Both contains operationid: `Locations_List`

[2019-08-28 01:27] weidongxu-microsoft commented on #7048
@zhiyuanxia Could you rename your operationId since yours are newly added API? Or I will have to revert the merge or PR 6933.

@rloutlaw I will try to revert that merge within a few hours if the fix does not come in time. Sorry for the problem (it is hard to tell on PR along since they are in 2 different services, and validation tool does not find them).

[2019-08-28 02:16] zhiyuanxia commented on #7048
I will change the name right now.

From: Weidong Xu <notifications@github.com>
Sent: Tuesday, August 27, 2019 6:28 PM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Michael Xiao <zhixiao@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-specs] Duplicated operationid break Rest Document CI (#7048)

@zhiyuanxia<https://nam06.safelin

[2019-08-28 02:35] zhiyuanxia commented on #7048
Hi Weidong,

I have created a new PR with my changes and a new operation ID for locations.

https://github.com/Azure/azure-rest-api-specs/pull/7053

Please let me know if there is anything else I can do.

Thanks,
Michael

From: Weidong Xu <notifications@github.com>
Sent: Tuesday, August 27, 2019 6:28 PM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Michael Xiao <zhix

[2019-08-28 02:55] weidongxu-microsoft commented on #7048
@rloutlaw The duplicated operationId is solved via https://github.com/Azure/azure-rest-api-specs/pull/7053, and merged.

[2019-08-30 00:02] ChrisHMSFT commented on #2084
Closing this issue since language property is one of many items returned in the OCR result. Please re-open if you still see an issue.

Thanks,
Chris

[2019-08-30 00:02] #2084 closed

[2019-08-30 00:05] jameslew commented on #3978
Hi @mdusman - checked with engineering and he didn't see a reason this was happening.  He made two suggestions:

Try to get the botresource object and see if that works.

https://management.azure.com/subscriptions/{subId}/resourceGroups/{RG}/providers/Microsoft.BotService/botServices/{botId}?api-version=2017-12-01

Also, try using armclient -

https://github.com/projectkudu/ARMClient, and see if t

[2019-08-30 00:06] ChrisHMSFT commented on #2014
Closing. Please re-open if still an issue.

Thanks,
Chris

[2019-08-30 00:11] ChrisHMSFT commented on #1934
Closing this ticket as the Face API addressed the descriptions.

@amarzavery please re-open if there are any remaining issues that need to be addressed.

Thanks,
Chris

[2019-08-30 00:11] #1934 closed

[2019-08-30 16:12] ChrisHMSFT commented on #1894
Closing this ticket since the issue has been solved. Please re-open if you are still experiencing the issue.

Thanks,
Chris

[2019-08-30 16:12] #1894 closed

[2019-08-30 16:14] ChrisHMSFT commented on #1893
Closing this ticket as our SDKs now take an endpoint as an input instead of the region.

Thanks,
Chris

[2019-08-30 16:14] #1893 closed

[2019-09-02 11:10] tombuildsstuff commented on #6372
@solankisamir is there a timeline for when this'll become available in the Swagger too?

[2019-09-03 17:13] sarangan12 opened #7110 "Issue with Cognitive Services Local Search Swagger"
As of September 3, 2019, In the [Local Search Swagger](https://github.com/Azure/azure-rest-api-specs/blob/4a2e25f68dc4a0528ebdc6b0c0d6c7d691089b4d/specification/cognitiveservices/data-plane/LocalSearch/stable/v1.0/LocalSearch.json), the host looks like [this](https://github.com/Azure/azure-rest-api-specs/blob/4a2e25f68dc4a0528ebdc6b0c0d6c7d691089b4d/specification/cognitiveservices/data-plane/Local

[2019-09-03 17:35] sarangan12 opened #7111 "Issue with Cognitive Services Spell Check Swagger"
As of September 3 2019, the [spell check swagger ](https://github.com/Azure/azure-rest-api-specs/blob/4a2e25f68dc4a0528ebdc6b0c0d6c7d691089b4d/specification/cognitiveservices/data-plane/SpellCheck/stable/v1.0/SpellCheck.json), the parameters such as mode, precontexttext, postcontexttext and text are all marked as ```formData``` as [here](https://github.com/Azure/azure-rest-api-specs/blob/4a2e25f68

[2019-09-03 20:44] solankisamir commented on #6372
@tombuildsstuff, this got delayed and we are just starting on it on the service side changes

[2019-09-04 18:16] sarangan12 opened #7121 "Issue with Cognitive Services QnAMaker Swagger"
As of September 4 2019, in the Cognitive Services [QnAMaker Swagger](https://github.com/Azure/azure-rest-api-specs/blob/d547b7794cad660fd3cceee790e407a4d534308c/specification/cognitiveservices/data-plane/QnAMaker/readme.md#runtime-release-40), this section is not correct.

You cannot put batch without any tag. If you do, Autorest reads it by default and tries to generate both QnAMaker and QnaMaker

[2019-09-04 20:57] logachev opened #7122 "Breaking change in SQL Server Database Retention Policies create_or_update APIs"
SQL Server APIs to create or update Retention Policies recently had a breaking change not reflected in swagger.

Before: When called PUT, returned an object with the created\updated policy details.

Current: Returned an object with an operation status

It breaks tools using these APIs because SDK still behaves the old way and expects the `BackupShortTermRetentionPolicy` object

[2019-09-05 02:34] bingisbestest commented on #7121
@sarangan12 We do want the default behavior. The main reason being that a lot of DTOs are shared. If they were separate sdks it would be very difficult for the user to use dtos with conflicting names.

[2019-09-05 03:22] ArcturusZhang opened #7124 "Async operations without `"x-ms-long-running-operation": true`"
[Original issue](https://github.com/Azure/azure-sdk-for-go/issues/5662)
In the [get](https://github.com/Azure/azure-rest-api-specs/blob/1cf40364e6a4456ad2f6360656864b1eed11cf0b/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/recoveryservicesbackup.json#L322), [create](https://github.com/Azure/azure-rest-api-specs/blob/1cf40364e6a4456ad2f6360656864

[2019-09-05 17:54] sarangan12 commented on #7121
@bingisbestest When you say you do not want the default behavior, I assume you mean "We do NOT want to release them as in the same SDK since they have conflicting names". Am I correct?

If my interpretation is correct, would the statement "We would like to release them as seperate SDKs" be correct? If so, why don't you create another folder named QnAMaker Runtime and add the runtime swagger there.

[2019-09-05 17:54] pvrk commented on #5306
@FelixBorst : Have you read @TAdityaAnirudh 's response? Hope this is clear. Can we proceed to closing the issue?

[2019-09-06 02:03] bingisbestest commented on #7121
I said we do want the default behavior. Please take a look at my response.

[2019-09-06 06:53] aluong opened #7139 "Cannot use AppServicePlanResourcePatch model for PATCH operations"
Using the [AppServicePlanPatchResource](https://github.com/Azure/azure-rest-api-specs/blob/b116b8a589e9771b05736c07c8caaa17c1eabfa6/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/AppServicePlans.json#L1502) definition does not have the correct properties to successfully PATCH an existing resource. It appears that [SkuDescription](https://github.com/Azure/azure-rest-api-specs/bl

[2019-09-06 18:44] lawrencegripper opened #7143 "Microsoft.Web ListFunctions definition incorrect"
Hi,

I'm seeing an issue using the Golang SDK to retrieve Functions Secrets. This appears to track back to the swagger definition.

The current definition for this function:

https://github.com/Azure/azure-rest-api-specs/blob/8a02736ee4e89d8115d4ed5d2001e8c8d78ca878/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json#L3105-L3110

https://github.com/Azure/azure-rest-api-

[2019-09-09 07:05] stoader opened #7153 "ContainerServiceVMSize enumeration contains VMSize not supported by AKS agent pool"
The API spec definition that enumerates the VM sizes for AKS agent pools https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-08-01/managedClusters.json#L1098
contain VM Size that is not valid for AKS agent pool.

According to https://docs.microsoft.com/en-us/azure/aks/quotas-skus-regions#restricted-vm-size

[2019-09-09 08:46] raych1 commented on #7153
@mboersma @xuto2, can you have a look at this issue?

[2019-09-09 10:47] lawrencegripper commented on #7143
I've attempted a change in PR #7155 to fix this one up - hope that's ok!

[2019-09-10 08:03] #7048 closed

[2019-09-10 08:31] MacTynow opened #7170 "Microsoft.ContainerService (AKS) count should not have a default value if autoscaling is set"
When using AKS with Virtual Machine Scale Sets (VMSS) and the cluster-autoscaler (https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler), there shouldn't be a default for the `count` argument of agent node pools (https://github.com/Azure/azure-rest-api-specs/blob/4322d98bc9f67a84b227ce9504983e84cc4893a6/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-

[2019-09-11 01:32] #6700 closed

[2019-09-11 01:34] nschonni commented on #6700
@zikalino the PR got closed without merging. Is the idea just to leave it as-is?

[2019-09-11 15:34] anuchandy opened #7188 "Investigate automation example validation error"
Investigate and fix model validation error in the PR https://github.com/Azure/azure-rest-api-specs/pull/7180. Errors are [here](https://dev.azure.com/azure-sdk/public/_build/results?buildId=107719&view=logs&jobId=8d2f9c49-cd83-5a9d-f3fe-2fd651afa742).

@vrdmr assigned to you since you contributed to this spec in the past, feel free to assign right owner.

[2019-09-11 21:45] docs-product commented on #5772
@sarangan12 do you happen to have any updates on this item?

[2019-09-12 08:34] shaykhullin opened #7196 "Is there is any way to create new event hub using REST api?"
I found 2 ways to create new azure event hub:
- Azure CLI
- Azure PowerShell

Can i do it using REST?

[2019-09-12 20:27] Bafff opened #7204 "validatemoveresources"
In
https://docs.microsoft.com/en-us/rest/api/resources/resources/validatemoveresources
![image](https://user-images.githubusercontent.com/26187677/64818323-77aa7480-d5b4-11e9-906c-c1c24619c788.png) says that there we need to fill in target subscription.

BUT this field is for source

[2019-09-12 23:38] dbilleci-lightstream opened #7207 "Change In API behavior?"
I'm using PULUMI which is based on Terraform providers for azure.  I've checked their bugs page and don't see anything related.

I'm running into an issue where if I create a simple VM which gets linked to an existing load balancer, and then try to destroy it, I get a new error message which I believe is from the API:

Created resources:
[code]

Then, on teardown of resources, I get this failure:

[2019-09-13 08:42] pimterry commented on #5534
@yangyuan that's true, but the data of some endpoints which are _definitely_ cognitive services is also useful information!

It's helpful to be able to find out which endpoints I might be able to send requests to, and it's invaluable for recognizing what service a given URL is for (my case). I agree you need a wildcard too, but having some structured list of known endpoints somewhere would be much

[2019-09-13 12:30] sylr commented on #6363
@huizlAzure @blueww @MyronFanQiu can we have a status on this ?

[2019-09-13 21:40] #7111 closed

[2019-09-13 22:03] #7110 closed

[2019-09-13 23:10] sarangan12 opened #7214 "Default Rest Version must be updated in Storage Datalake Service"
For Datalake Storage, in the service side the default value for xMsVersion (rest version/x-ms-version header) is set to a old value which does not support OAUTH. Since this field is only optional, the customer requests are failing. Please update the default rest version

[2019-09-15 05:19] AnthShef commented on #501
This will help you serialize the datamodel at different stages. You can then parse the serialized model and plug it in to your code generator. This work will mostly be completed in a sprint.
/cc @fearthecowboy

Any updated on the redesign? Any plan to offer a Swift client generator?

[2019-09-16 01:31] MyronFanQiu commented on #6363
@huizlAzure Hello. Any update?

[2019-09-16 02:41] Juliehzl commented on #7139
Hi@aluong, thanks a lot for your feedback. Let's wait for the feedback from App Service.  @lukaszstem @naveedaz @nking92 Can one of you check your specification?

[2019-09-17 00:04] edjez opened #7224 "Python DK Generated in https://github.com/Azure/azure-rest-api-specs/pull/6132 has Problems"

[2019-09-17 02:28] manishsat commented on #7214
Any update on this?

[2019-09-17 06:31] sarangan12 commented on #7214
This seems to be fixed with the latest regeneration. CLosing this issue

[2019-09-17 06:31] #7214 closed

[2019-09-17 07:13] weidongxu-microsoft opened #7228 "ARM violation, duplicate path in specification/resources/resource-manager/Microsoft.Solutions/preview/2016-09-01-preview/managedapplications.json"
File:
`specification/resources/resource-manager/Microsoft.Solutions/preview/2016-09-01-preview/managedapplications.json`

Duplicate path:
[code]

This would cause validation failure in CI.
https://dev.azure.com/azure-sdk/public/_build/results?buildId=109572

Please take a look whether it could be fixed.

Reference, fixed in `specification/resources/resource-manager/Microsoft.Solutions/stable/2018-

[2019-09-17 12:18] idear1203 commented on #6752
@nschonni This is intentional. It’s a little confusing, but per rule [#5](https://github.com/Azure/azure-rest-api-specs/pull/5) here, whether the swagger spec is in the preview or stable folder “is not a direct analog for whether or not an API Version has the ‘-preview’ suffix or not. SDKs that are generated from 'preview' folder items should indicate to their customers in the most idiomatic way t

[2019-09-17 12:18] #6752 closed

[2019-09-18 01:35] blueww commented on #6363
@sylr，@musicislife08, @MyronFanQiu
We have contact SRP and ARM team for this issue.
They are still discussion this issue. Will update  when get result.

[2019-09-18 08:21] r0bnet opened #7244 "Specify properties on Microsoft.CognitiveServices/accounts apiProperties"
Hey,

it seems as if for the above mentioned resource some properties are not specified as needed. If you want to create an account you need to specify an `apiProperties` sub-object within the properties but there's no documentation on that. Here it only says it has to be a not null object.

If you pass an empty object then you get this:
[code]

So currently it's not possible to create an account

[2019-09-18 11:50] mybayern1974 commented on #7207
@dbilleci-lightstream , @ArcturusZhang can help take a look at the two terraform issues: [2491 ](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2491)and [4330](https://github.com/terraform-providers/terraform-provider-azurerm/issues/4330) which are motivated by the issue filed at [pulumi issue 365](https://github.com/pulumi/pulumi-azure/issues/365). I cannot tell right no

[2019-09-18 15:03] dbilleci-lightstream commented on #7207
Sure that's fine.

On Wed, Sep 18, 2019, 4:51 AM mybayern1974 <notifications@github.com> wrote:

[2019-09-19 01:36] Drewm3 commented on #6574
The reason for the current design is the fact that there is not a commerce provided API to get the cost of a specific type of resource that is available consistently through all channels of Azure customers. For example there is an API that works for Azure customers who have signed up through the Azure Portal, but that API does not work for Azure customers who are paying through a mechanism called

[2019-09-19 02:05] Drewm3 commented on #117
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:05] #117 closed

[2019-09-19 02:06] Drewm3 commented on #286
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:06] #286 closed

[2019-09-19 02:06] Drewm3 commented on #330
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:06] #330 closed

[2019-09-19 02:06] Drewm3 commented on #425
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:06] #425 closed

[2019-09-19 02:10] Drewm3 commented on #1204
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:10] #1204 closed

[2019-09-19 02:10] Drewm3 commented on #1361
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:10] #1361 closed

[2019-09-19 02:10] Drewm3 commented on #1372
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:10] #1372 closed

[2019-09-19 02:11] Drewm3 commented on #905
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:11] #905 closed

[2019-09-19 02:12] Drewm3 commented on #1741
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:12] #1741 closed

[2019-09-19 02:12] Drewm3 commented on #1906
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:12] #1906 closed

[2019-09-19 02:42] mybayern1974 commented on #7207
Close per the author agrees. I would reopen this once finding the root cause is at rest api here.

[2019-09-19 02:42] #7207 closed

[2019-09-19 02:44] qub1n commented on #6574
ok, thanks for explaining.

[2019-09-19 06:32] Drewm3 commented on #2754
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:32] #2754 closed

[2019-09-19 06:33] Drewm3 commented on #3044
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:33] #3044 closed

[2019-09-19 06:33] Drewm3 commented on #3105
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:33] #3105 closed

[2019-09-19 06:33] Drewm3 commented on #3358
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:33] #3358 closed

[2019-09-19 06:34] Drewm3 commented on #3593
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:34] #3593 closed

[2019-09-19 06:34] Drewm3 commented on #3594
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:35] Drewm3 commented on #3645
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:35] #3645 closed

[2019-09-19 06:35] Drewm3 commented on #4446
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] surajmuthreja commented on #3594
@Drewm3  -- This issue is still not fixed. Can you please reopen this and assigned to relevant team.
I could not reopen this issue.

[2019-09-19 07:01] Drewm3 commented on #3594
@surajmuthreja , the SKUs API for VMs provides the zones where each VM size is available for any specific subscription. It seems like this was the original request which is resolved. Could you describe why you feel this is not resolved at this point?

[2019-09-19 13:57] test123114 opened #7264 "how to upload private or public certificate to one web app"
According to my research,  we can use the[ rest api](https://docs.microsoft.com/en-us/rest/api/appservice/certificates/createorupdatel) to create certificate

Can I use it to upload private and public certificate to one web app? If ok, how to do

[2019-09-19 15:46] stoader commented on #7153
@raych1 @yangl900 any update on this?

[2019-09-19 16:04] dbilleci-lightstream commented on #4446
lol closed it? the issue got no attention and wasn't fixed.. wow

[2019-09-20 00:48] Drewm3 commented on #4446
Let me reopen this one and fix the fact that this is a feature request. @dbilleci-lightstream , I is your primary question still:

Please explain the proper way to launch a VMSS off of a specific version, and allow the VMSS to be updated to a newer version at a later time?

And for this are you wanting to understand how to do this without updating existing instances to the new image or do you want

[2019-09-20 00:50] Drewm3 commented on #1991
Cleaning up old issues from 2016 - 2018. Please let us know if this issue if it is still a concern.

[2019-09-20 00:50] #1991 closed

[2019-09-20 00:50] Drewm3 commented on #1990
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:50] #1990 closed

[2019-09-20 02:17] ArcturusZhang opened #7268 "Type mismatch in backup.JobSupportedAction"
Despite the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/c383a94ea03a8364693023df2003f53c6127b7c8/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json#L1107) of `recoveryservicebackup` declared enum type `JobSupportedAction` as `string`, the value in the response returned from server is an integer.

[Related issue](https://gith

[2019-09-20 03:26] ivasilyev-servicetitan-com commented on #4446
The problem is:
Once you created VMSS with imageReference.Id = /galleries/<name>/images/<name>/versions/<version>, you can't update VMSS to use another version of this SharedImage.
On other hand, if you created VMSS using "latest" (imageReference.Id = /galleries/<name>/images/<name>/versions), and then you pushed new "latest" to your SharedImage - you don't see "the model is not latest" for existi

[2019-09-20 03:31] ivasilyev-servicetitan-com commented on #4446
And actually I just tried to create VMSS with specific SharedImage version and it failed. When this ticket was created looks like it was working.
[code]
azurerm provider version is 1.29.0

[2019-09-20 07:51] surajmuthreja commented on #3594
@Drewm3  We are looking for APIs through which we should be able to get supported zones once user selects any Object.
Apart from VM size, there are other resources also where zone dependency is there. e.g. Public IP,

[2019-09-20 17:12] rudfoss opened #7276 "webapp:New-AzResourceGroupDeployment for web site with slot fails if template contains "cloningInfo""
### Description
I'm trying to deploy a web app with two slots (production, deploytarget). Everything works fine the first time, but subsequent runs with the web app already present fail with an error indicating the site already exists. I was under the impression that ARM templates should always be able to run even if the resources already exist? If not is there a quick way to tell ARM that it shou

[2019-09-21 15:23] midacts opened #7281 "AzureAD User/Group License APIs"
Are the APIs to work with user/group licenses available through the API?

I was unable to find it.
It looks like PowerShell's AzureAD module can do licenses, but the azure-cli and Terraform are unable to. (I'm not sure how PowerShell is doing it and the module doesn't seem to be on Github).

[2019-09-23 12:26] NabeelZaidi commented on #4901
Yes, We cannot close it. you need to fix it, else it destroys the meaning of automation!

[2019-09-23 14:49] nschonni commented on #6873
@NullMDR just pulling the conversation back from https://github.com/Azure/azure-rest-api-specs/pull/7290#issuecomment-533971189
There are 2 ways I showed in the linked PR, but @erich-wang wasn't comfortable using Docker/Deb approaches

[2019-09-24 01:33] Drewm3 commented on #3594
@surajmuthreja, as far as I know there is no API that will indicate if an arbitrary resource type and SKU is available in a specific zone. The reason for this is that most resources either support zones in a region or not. For example with managed disks or standard public IP addresses, they are supported in all zones if the region supports zones. This works for those resources because they are bas

[2019-09-24 07:54] Drewm3 commented on #4446
I just validated that the example using PowerShell from this location works as expected except for one change: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/shared-images-powershell

In this example the property "-Id" in the cmdlet Set-AzVmssStorageProfile needs to be changed to "-ImageReferenceId". With this change I was able to create a VM from a shared image gallery image.

[2019-09-25 01:35] ivasilyev-servicetitan-com commented on #4446
I can confirm that I was successfully able to:
- create VMSS with "latest" SharedImage and update it to "specific"
- create VMSS with "specific" SharedImage and update it to "latest"
- create VMSS with "specific" SharedImage and update it to "specific"
And "Is Model Latest" is set to "No" on these changes. Really cool!

As for

I'm using `"upgradePolicy": "mode": "Manual"` and it works fine for VM

[2019-09-25 08:35] tombuildsstuff opened #7315 "Open Source the Wiki required for contributing to API Specifications"
👋

Honestly I'm not sure where I should be making this feature request - but here we are.

Occasionally during PR Review [the Wiki in this repository is linked too](https://github.com/Azure/adx-documentation-pr) to provide more contextual information about why specific validation failures happen - however unfortunately it's Private:

![](https://user-images.githubusercontent.com/666005/65581439-c1

[2019-09-25 09:33] yungezz commented on #7315
HI @raych1  could you pls  help to find a public place for https://github.com/Azure/adx-documentation-pr/wiki/Semantic-and-Model-Violations-Reference? thanks.

[2019-09-25 15:39] Drewm3 commented on #4446
Thanks for the confirmation @ivasilyev-servicetitan-com. With this confirmation, I believe this issue can be closed. Please let me know if you disagree.

[2019-09-25 15:39] #4446 closed

[2019-09-25 18:47] jfggdl commented on #7196
@shaykhullin, I am closing this issue for now. Please let us know i f the API documentation provided did not help you and we can reopen this issue, if needed.

[2019-09-25 18:47] #7196 closed

[2019-09-26 07:21] raych1 commented on #7315
@tombuildsstuff @yungezz , the document is moved to [here](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/Semantic-and-Model-Violations-Reference.md), please check. I close this issue and feel free to re-open if there's still any questions.

[2019-09-26 12:30] tombuildsstuff commented on #7315
@raych1 thanks for open sourcing that specific page - but unfortunately this issue/question isn't resolved, as such would you mind re-opening this? Thanks!

[2019-09-27 05:24] raych1 commented on #7315
@tombuildsstuff , sounds good. I re-open this issue and follow up with team mates to find a public place to host those pages.

[2019-09-27 07:14] metrue commented on #7268
Can anyone take a look, it's a big block issue.

[2019-09-27 08:34] yungezz commented on #7122
service team need update Swagger to align with service behavior. HI @logachev  could you pls share which version tag of API you're using?

[2019-09-27 19:19] jeremymeng opened #7350 "ListBlobFlatSegmentResponse shouldn't include `delimiter`"
https://github.com/Azure/azure-rest-api-specs/blob/ccf01ab1567a0ced8bd9d8de5d897e2cb1a03e0e/specification/storage/data-plane/Microsoft.BlobStorage/preview/2019-02-02/blob.json#L8257

/cc @XiaoningLiu

[2019-09-27 21:02] stevemcquaid commented on #3853
Any update on this @jhendrixMSFT ?

[2019-09-27 21:43] jhendrixMSFT commented on #3853
@chidmdxx can you please follow up on this?

[2019-09-29 02:12] Juliehzl commented on #7350
@jasonyang-msft @xiaonlimsft Can one of you have a look at this issue?

[2019-09-30 05:15] blueww commented on #7350
@jeremymeng

As the agreement, for all dataplane issues, please add "Client" label, or our monitor of storage SRP issues will raise false alarm.
Thanks!

[2019-09-30 05:41] XiaoningLiu commented on #7350
This can be resolved by removing this from swagger and re-generate, @jeremymeng if like to take this in preview.4 please go head update the swagger in this repo.

[2019-09-30 18:27] rhummelmose commented on #4221
Is the Front Door team not using Github? Could we please get some attention to this issue, it's blocking a welcomed implementation of an Ingress controller for Kubernetes.

[2019-09-30 21:20] artisticcheese opened #7364 "Microsoft.Insights provider returns empty results"
[code]

[2019-09-30 21:20] artisticcheese opened #7365 "Microsoft.Insights provider returns empty results"
[code]

[2019-10-01 00:52] artisticcheese commented on #7364
https://github.com/Azure/azure-powershell/issues/8970

[2019-10-01 15:38] jameslew commented on #3978
Looks like this is no longer relevant given the age of the issue.  If you do have any further questions or the problem is still open, do reactivate.  Thank you!

[2019-10-01 15:41] ChrisHMSFT commented on #3978
Closing the ticket per the above discussion. Please re-open if the issue still remains.

Thanks,
Chris

[2019-10-01 15:41] #3978 closed

[2019-10-01 18:09] maggiepint commented on #7364
Thanks for the feedback! Routing to appropriate team for follow-up.

[2019-10-02 07:26] AnthShef commented on #501
Found OpenAPI Generator (https://github.com/OpenAPITools/openapi-generator), which offers generators in Swift and other languages that I'll ever use.

[2019-10-02 12:58] jrauschenbusch opened #7383 "Microsoft.Kusto: Questions to the Permissions API design"
Why there is no dedicated RESTful sub-resource for Kusto Database permissions which uses a unique id like the subscription sub-resource of the service bus API?

Example:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2017-04-01/servicebus.json#L2091

Current API:
[code]

Suggested resource-based API:
[code]

I think t

[2019-10-02 16:21] jluk commented on #5607
@krisbash or @ravbhatnagar thoughts?

[2019-10-04 07:48] maxbog commented on #2255
@jianghaolu Any progress on the issue?

[2019-10-07 08:09] tombuildsstuff commented on #5249
ping @akucer

[2019-10-07 11:33] akki-s opened #7410 "Calls to `/expressRouteCrossConnections` endpoint fail with 404"
As per the the documentation for [GET expressroutecrossconnections](https://docs.microsoft.com/en-us/rest/api/expressroute/expressroutecrossconnections/get) the supported version is `2019-07-01` but while trying the API I get the error - `The resource type could not be found in the namespace 'Microsoft.Network' for api version '2019-07-01'.` This error is for other operation as well such as List a

[2019-10-07 18:07] arifsundrani commented on #6372
@solankisamir any updates?

[2019-10-08 19:10] d1mnewz commented on #2255
We need to have this, please take a look @jianghaolu

[2019-10-10 01:45] neil-yechenwei opened #7447 "The type of attribute tags for NetApp Account shouldn't be raw type interface{}"
After checked it seems that the type of Tags from every other resource is map[string]*string, but currently the type of attribute tags for NetApp Account is type "interface{}", which is different then all the other resources and it adds unnecessary complexity (https://github.com/Azure/azure-sdk-for-go/blob/8c372e6e1243e0427dffb2d750099ee3ed161a44/services/netapp/mgmt/2019-06-01/netapp/models.go#L9

[2019-10-10 03:07] yungezz commented on #7264
HI @test123114 is this helpful to you? https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-ssl

[2019-10-10 03:18] test123114 commented on #7264
Ok. I will check it

[2019-10-10 13:09] pvrk commented on #5306
@FelixBorst: Any update on this?

[2019-10-11 04:15] sangam-sgm opened #7460 "role assignment api does not provide principal name and roledefination name"
Hi
i am going to use azure rest api for one of my application but i found that there is difference in response which we get from cli and what is there in rest api. CLI provides prinicipal name and roledefinationName but noot in rest api. Is there somethig which ca be done to get the name also?

[2019-10-11 04:18] sangam-sgm opened #7461 "MFA info in azure rest api"
Is there any way or rest api by which we can get MFA info for Azure cloud services?

[2019-10-11 04:25] weidongxu-microsoft commented on #7460
@sangam-sgm

Could you provide the REST API call and preferrable request/response? If possible please also provide the AZ CLI command that you are comparing. That would save me the time to guess which "role assignment api" you are calling.

[2019-10-11 05:22] aim-for-better commented on #2109
Hi @leemorton , Could you please try again? Please give us the cluster name subscription id if the problems still exists so that we can make a further investigation.

[2019-10-11 05:27] sangam-sgm commented on #7460
Rest API call: GET **https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01**

![image](https://user-images.githubusercontent.com/24355589/66626423-cf6ce780-ec15-11e9-8351-11ea66f40d96.png)

CLI: **az role assignment**
![image](https://user-images.githubusercontent.com/24355589/66626081-87999080-ec14-11e9-974a-c4eff4e56d

[2019-10-11 06:01] weidongxu-microsoft commented on #7460
@sangam-sgm

You can run az with `--debug` to see the detail of what it calls.

The result from CLI is accomplished by multiple API calls.

First is roleAssignments call, which hae "roleDefinitionId" and "principalId".

Next is roleDefinitions call, from "id"="roleDefinitionId" one can get "roleName".

And finally graph API call to query the "pincipalId", to get "principalName".

[2019-10-11 06:07] sangam-sgm commented on #7460
Means a single CLI is composed of several apis.... Can not be made these into a single atleast the PrincipalName.... Because if we are using Rest API then we have to call managemet.azure.com and then graph api both with different permission and access token

[2019-10-11 06:53] weidongxu-microsoft commented on #7460
@sangam-sgm AFAIK you had to go through graph API for user principal name / service principal name.

@rlrossiter Do you know is there any other way to get principal name?

[2019-10-11 07:41] leonardbf commented on #7447
Should this be changed for each existing NetApp API, 2017-08-15, 2019-05-01, 2019-06-01 and the latest 2019-07-01? Does it also require a regeneration of SDK code for either each or latest? A new API 2019-08-01 is expected at the end of this month. Is it sufficient to go in there?

[2019-10-11 07:49] ArcturusZhang commented on #7447
Since this is a breaking change to SDK (maybe for swagger too), I think it is best to have it changed in the next api version (2019-08-01), we are OK with that.

[2019-10-11 12:09] leonardbf commented on #7447
Ok, I will link this issue when I create the 2019-08-01 PR.

[2019-10-11 23:16] neil-yechenwei commented on #7447
Thanks for your response quickly. Can we learn a rough ETA (deadline) when to onboard the fix?

[2019-10-12 01:13] ketaanhshah opened #7471 "Get Summary Rest API Application Insights Authentication Returns empty"
Hi All,
We wanted to find out All Alerts Fired from a START date to END date and summarize them by count. Basically we are trying to create a WEEK over WEEK trend report for alerts fired. We have 10 Alert Rules and lets say Alert1 is fired 10times, Alert2 is fired 20times, etc over Week1 and Week2 Lets say Alert1 is fired 20times and Alert2 is fired 30times.

For creating this week over week trend

[2019-10-12 05:38] maggiepint commented on #7461
@mjconnection are you able to help here?

[2019-10-12 14:12] ketaanhshah commented on #7471
Issue is Resolved now! Marking it closed. It was missing a STEP of Adding READER access to the SUBSCRIPTION thru IAM for the App registered. Once done all was set and now I am able to get the Json output. I wish the documentation was clear and had all these steps noted. If someone can do that will be great for the community.

Step1: - Add the App to Azure Ad
Step2:- Make sure the App is given READ

[2019-10-12 14:12] #7471 closed

[2019-10-12 15:15] akki-s commented on #7410
anyone looking into it?

[2019-10-14 08:31] ArcturusZhang commented on #7268
Hi @dheerendrarathor could you help about this?

[2019-10-14 12:40] leonardbf commented on #7447
The RP release associated with the 2019-08-01 API is planned for the beginning of November so I expect we will push this API version to github for review toward the end of October, perhaps late next week.

[2019-10-14 15:58] rlrossiter commented on #7460
@weidongxu-microsoft You are correct, the only way to get the principal name is by querying the Graph API

[2019-10-14 17:22] jessicl-ms commented on #4221
Hello, this issue has been recently brought to the attention of the Front Door team.

Front Door recently corrected their SDK and documentation to remove CRUD on these sub-resources. Updates to Front Door must be invoked on the entire Front Door object.

Unfortunately, the old SDK generated with these API will continue to have these sub-fields, causing confusion among customers.

[2019-10-14 17:29] gmainar commented on #5049
A fix has been made so that the field won't be returned by server.

[2019-10-15 15:34] danielestevez commented on #5049
Thanks for the fix! I suppose there's no Tier or implications associated to this field

[2019-10-15 15:34] #5049 closed

[2019-10-16 09:04] Sankaranis commented on #3978
Hi @ChrisHMSFT , Getting same error while login Azure AD OAuth, I've given the Tennant_id, client_id, clientSecret.

[2019-10-16 12:29] yungezz commented on #171
close legacy issue.

[2019-10-16 12:29] #171 closed

[2019-10-16 12:34] yungezz commented on #194
close legacy issue.

[2019-10-16 12:34] #194 closed

[2019-10-16 12:36] yungezz commented on #245
HI @calexan could you pls provide a update?

[2019-10-16 12:37] yungezz commented on #288
close legacy issue.

[2019-10-16 12:37] #288 closed

[2019-10-16 12:51] ChrisHMSFT commented on #3978
Hi @Sankaranis,

Could you please share more detail on the endpoint you are calling? Is it the same one as above?

Thanks!
Chris

[2019-10-16 13:22] Sankaranis commented on #3978
Yes, it is same one.

Endpoint - https://orgbf224511.api.crm.dynamics.com/api/data/v9.1/.
I tried to communicate the powerapps cds with azure ad auth token, which is given by flutter.
Please refer this link for azure ad auth- https://pub.dev/packages/aad_oauth#-readme-tab-

[2019-10-16 17:52] jonathandturner opened #7522 "PR template seems to link to broken docs?"
I noticed when filing a PR that the link in the template that you agree to points here: https://github.com/Azure/azure-rest-api-specs#basics, but this doesn't seem to go anywhere other than the top of the repo.

[2019-10-17 03:52] sangam-sgm commented on #7461
Any update on this issue???

[2019-10-17 08:28] yungezz commented on #245
close since no response for years.

[2019-10-17 08:28] #245 closed

[2019-10-17 08:45] #459 closed

[2019-10-17 08:47] #531 closed

[2019-10-17 08:47] #534 closed

[2019-10-17 08:47] #536 closed

[2019-10-17 08:49] #619 closed

[2019-10-17 08:50] #1482 closed

[2019-10-17 08:50] #1457 closed

[2019-10-17 08:51] #1235 closed

[2019-10-17 08:51] #1197 closed

[2019-10-17 08:52] #1797 closed

[2019-10-17 08:53] yungezz commented on #1797
check it out here https://github.com/Azure/azure-rest-api-specs/tree/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2018-03-01/examples

[2019-10-17 08:54] #1778 closed

[2019-10-17 08:56] #1770 closed

[2019-10-17 08:57] yungezz commented on #1751
no `current` branch now

[2019-10-17 08:57] #1751 closed

[2019-10-17 08:58] yungezz commented on #1747
hi @schaabs any update on this issue? will close it if no more update.

[2019-10-17 08:59] #1708 closed

[2019-10-17 09:01] #1803 closed

[2019-10-17 09:08] yungezz commented on #1624
based on https://github.com/Azure/azure-rest-api-specs/issues/2366#issuecomment-438414616, issue is fixed.

[2019-10-17 09:08] #1624 closed

[2019-10-17 09:08] #1601 closed

[2019-10-17 09:09] #1598 closed

[2019-10-17 09:09] #1578 closed

[2019-10-17 09:10] #1565 closed

[2019-10-17 09:10] #1537 closed

[2019-10-17 09:10] #1503 closed

[2019-10-17 09:10] #1497 closed

[2019-10-17 09:13] yungezz commented on #2120
hi @ttsutton could you pls contribute a PR from your own fork, then we'll review and merge it? thanks.

[2019-10-17 09:13] #2057 closed

[2019-10-17 09:15] yungezz commented on #2048
hi @smereczynski graph API is  supported in az cli at ehre: https://docs.microsoft.com/en-us/cli/azure/ext/resource-graph/graph?view=azure-cli-latest. could you pls give it a try? pls feel free to create new issue if met any problem.

[2019-10-17 09:15] #2048 closed

[2019-10-17 09:20] #1944 closed

[2019-10-17 09:23] yungezz commented on #1851
some example https://github.com/Azure/azure-rest-api-specs/blob/dc4abe3a0ff338c5a5c0eb229c06a57764165580/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/FileServicesPut.json. @tombuildsstuff  could you pls have a look is this what you need? pls feel free to create new issue if not.

[2019-10-17 09:23] #1851 closed

[2019-10-17 09:23] yungezz commented on #1851
blob example: https://github.com/Azure/azure-rest-api-specs/blob/e3fa2c05a467f498f1bda7d9052b4bce03be44c6/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/examples/BlobServicesPut.json

[2019-10-17 09:23] #1827 closed

[2019-10-17 09:25] yungezz commented on #7522
hi @NullMDR could you pls help to fix PR template? thanks.

[2019-10-17 09:27] tombuildsstuff commented on #1770
@yungezz I can't see the changelog's in this repository - since this has been closed would you mind linking to where these are stored? Thanks!

[2019-10-17 12:06] yungezz commented on #1698
HI @tombuildstuff, https://github.com/Azure/azure-rest-api-specs/issues/1698#issuecomment-391147095 shared the sample of getting LinuxFxVersion in go. Could you pls give it a try? We're cleanup legacy issues no updating in years.

[2019-10-17 12:20] yungezz commented on #1770
HI @tombuildsstuff , this one is close as wont fix for now. we're clean up legacy issues with no update.

[2019-10-17 12:24] yungezz commented on #2270
all SDK generation is in CI pipeline already. close this one.

[2019-10-17 12:24] #2270 closed

[2019-10-17 12:36] #2252 closed

[2019-10-17 12:39] yungezz commented on #1649
Netwokr team is fixing their swagger file, first issue is to make readonly property as readonly. PR https://github.com/Azure/azure-rest-api-specs/pull/7488 . They plan to put all swagger fix in oct 2019 release. we're working with them on reviewing and fixing. close this issue.

[2019-10-17 12:39] #1649 closed

[2019-10-17 12:41] yungezz commented on #1837
fixed in PR https://github.com/Azure/azure-rest-api-specs/commit/01f6b089051096df1c6a918fd7d64ecb2058905b . close the issue.

[2019-10-17 12:41] #1837 closed

[2019-10-17 12:42] yungezz commented on #2978
spellcheck is enabled in CI pipeline, close this one.

[2019-10-17 12:42] #2978 closed

[2019-10-17 12:52] yungezz commented on #3405
PR is merged, close the issue.

[2019-10-17 12:52] #3405 closed

[2019-10-17 12:54] yungezz commented on #3437
HI @yugangw-msft, any update on this issue?

[2019-10-17 12:57] #4559 closed

[2019-10-17 12:57] #4560 closed

[2019-10-17 12:57] #4574 closed

[2019-10-17 12:57] #4577 closed

[2019-10-17 12:57] #4579 closed

[2019-10-17 12:57] #4581 closed

[2019-10-17 12:57] #4595 closed

[2019-10-17 12:57] #4609 closed

[2019-10-17 12:57] #4636 closed

[2019-10-17 12:57] #4664 closed

[2019-10-17 12:57] #4669 closed

[2019-10-17 12:57] #4671 closed

[2019-10-17 12:57] #4673 closed

[2019-10-17 13:00] yungezz commented on #2274
normally we'll suggest to upgrade to lastest version, because latest version contains latest features/functionalities. about old api deprecation, it's a complex process and depending on each azure service plan, there's no general answer on whether some version will be deprecated. Hope this helps. close the issue for now. Feel free to create new one or reopen if any furthur questions.

[2019-10-17 13:00] #2274 closed

[2019-10-17 13:01] nschonni commented on #4579
@yungezz this is still an issue, please reopen

[2019-10-17 13:01] #4307 closed

[2019-10-17 13:02] nschonni commented on #4581
@yungezz this is still an issue, please reopen

[2019-10-17 13:03] nschonni commented on #4574
@yungezz this is still an issue, please reopen

[2019-10-17 13:08] lvh commented on #380
I don’t know why this was closed: the associated PR does not appear to resolve the problem that existing JSON files are in disarray, and CI does not prevent regressions.

[2019-10-18 07:08] yungezz commented on #380
HI @NullMDR could you pls have a look? before adding check, pls see how to fix existing errors. thanks.

[2019-10-18 08:45] raych1 commented on #6554
@stuartleeks , can you verify and close if this issue is fixed?

[2019-10-21 08:26] raymondjstone opened #7557 "'Next Steps' link in repository notes gives 404 error"
In repository docs

Next steps
The next step in the process after a spec is completed is to generate SDKs and API reference documentation. Go to the Azure Developer Experience guide for more information.

The link used is broken

[2019-10-21 08:48] yungezz commented on #7460
hi @sangam-sgm is your question get answered?

[2019-10-21 08:50] yungezz commented on #7143
hi @lawrencegripper is it ok to close the issue now since linked PR merged? Thanks.

[2019-10-21 08:53] yungezz commented on #7224
hi @edjez could you pls share more info on what's the problem? thanks.

[2019-10-21 14:30] tombuildsstuff opened #7558 "Semver-style Changelogs for Resource Provider Swagger Definitions"
This was previously requested in #1770 - but the issue was closed without being resolved - as such would it be possible to start putting together Changelog's for each Resource Provider? These could then be collated into the Azure SDK's at release time. As a consumer - I'd started looking for this in both the Resource Provider folder or in the folder containing the API versions (but didn't see it i

[2019-10-22 01:17] ChrisHMSFT commented on #3978
Hi @Sankaranis ,

This endpoint is for Dynamics and not the bot services. Could you please open a new issue for the problem you are experiencing?

Thanks,
Chris

[2019-10-22 02:10] yungezz commented on #7557
hi @raymondjstone could you pls share more info? which resource provider and which API? which version?

[2019-10-22 02:19] ChenTanyi commented on #7557
@yungezz could you please take a look at this issue?

[2019-10-22 03:07] haroldrandom opened #7569 "The enum value of cipher of ExpressRouteLinkMacSecConfig that service returned didn't match spec's saying"
According to [this file](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/expressRoutePort.json), the cipher value service returned should be in [ "gcm-aes-128", "gcm-aes-256" ], but instead: [ "GcmAes128", "GcmAes256" ].

[code]

The problem also occurs when I tried to update the Port links with cipher value, eith

[2019-10-22 06:12] raymondjstone commented on #7557
The repository on which the issue was raised, ie https://github.com/Azure/azure-rest-api-specs in the notes the section 'next steps' has a wrong link

[2019-10-22 14:29] yaohaizh opened #7579 "Network Watcher: availableProvidersList return InternalServerError"
- Create network on region.

- REST calling from https://docs.microsoft.com/en-us/rest/api/network-watcher/networkwatchers/listavailableproviders
[code]

- Result

[code]

[2019-10-23 07:46] sangam-sgm commented on #7460
yeah Thanks

[2019-10-23 07:49] yungezz commented on #7460
thanks, i'll close the issue then. pls create new issue if you have any furthur question.

[2019-10-23 07:49] #7460 closed

[2019-10-23 07:55] sangam-sgm opened #7596 "API version in rest api for resources"
Hi,

I am hitting an api to get all available resource and after getting the all the resources iam again hitting  the id of each resources to get more info about all the resources available.
so for this i have to append again api version in each of the resource id to form valid api. But some of the resource fails with error message.
Is there any possibility to hit the api directly without api vers

[2019-10-23 07:56] sangam-sgm commented on #7461
Hi @mjconnection is there any solution or alternatives to get the info.

[2019-10-23 08:26] yupwei68 opened #7597 "Can not get storage account access key"
1. I post a creation of a server blob auditing policy as:
https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/{resourcegp}/providers/Microsoft.Sql/servers/{sqlServer}/auditingSettings/default?api-version=2017-03-01-preview

body:
{
	"properties": {
        "state": "Enabled",
        "storageAccountAccessKey": "XXXX",
        "storageEndpoint": "https://XX.blob.core.window

[2019-10-23 14:10] fengzhou-msft commented on #7558
Thanks for submitting this issue. We will dicuss about the work.

[2019-10-23 17:10] jsmartt opened #7602 "VM customData not accepting valid Base64-encoded string"
Hi, I'm using the Ruby SDK for Azure to create Azure (Linux) VMs, but I'm running into periodic issues with the API not accepting my Base64-encoded customData string. Sometimes it accepts my string, and sometimes it rejects it, but what is strange is that there is no room for user error in this case, as it's building that string with code.

Here is a string (before base64 encoding) that **does** w

[2019-10-23 19:09] jeffzabel commented on #1545
No recurrences of this issue since it was worked around.  Closing

[2019-10-23 19:09] #1545 closed

[2019-10-23 21:41] jsmartt commented on #7602
One pattern that I may have identified based on a small set of examples is that it seems that Base64-encoded values ending with `=` or `==` are accepted, and values ending in other characters are not accepted. Not sure if that's a rule, or just coincidence with the values I've tried, but from what I've found, trailing `=` symbols are not required, but are just padding for strings with character co

[2019-10-23 22:09] #6773 closed

[2019-10-24 02:49] MyronFanQiu commented on #7602
It's more like a service error. I will add service attention and compute label for it.

[2019-10-24 03:17] #7522 closed

[2019-10-24 05:39] aim-for-better commented on #2109
No Customer's response for a long time, without customer information we can't investigate this issue.

[2019-10-24 05:39] #2109 closed

[2019-10-24 10:47] jiasli opened #7621 "[Key Vault] For recover, tenantId and sku should not be required"
https://github.com/Azure/azure-rest-api-specs/blob/191aa6f4e91585f08acf453f47817a36f1db9c69/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2018-02-14/keyvault.json#L901-L904

When [`createMode`](https://docs.microsoft.com/en-us/rest/api/keyvault/vaults/createorupdate#createmode) is `recover` (to recover a Key Vault), `tenantId` and `sku` should not be required.

This works:
[cod

[2019-10-24 19:21] surajmb commented on #4066
@Fredrik-C ,  "Use for App Service" is only a UI element and when you enable it, it essentially asks the user to choose the custom probe and enables the "pick hostname from backend address" switch by default.

In PowerShell/REST API, to get the same result as Use for App Service, you can use the switches directly. Check the example below,

"backendHttpSettingsCollection": [
      {
        "name":

[2019-10-24 19:21] surajmb commented on #4066
@anuchandy please close this issue.

[2019-10-24 21:27] mozehgir commented on #7315
Hey @tombuildsstuff
I have open sourced some of the other relevant pages as [well](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/Getting%20started%20with%20OpenAPI%20specifications.md)

Please also note that the wiki that was always being referenced is being deprecated on our end and we have decoupled the internal and external information.

Let me know if you have any mor

[2019-10-24 21:27] #7315 closed

[2019-10-25 16:15] tombuildsstuff commented on #7315
@mozehgir it's still references in the getting started guide fwiw: https://github.com/Azure/azure-rest-api-specs#getting-started

There's a couple of pages (which were previously public in this repository or a repository linked to from this repository) that I was looking for specifically:

1 - the breaking change guidelines - which it looks like is here: https://github.com/Azure/adx-documentation-

[2019-10-25 23:06] mozehgir commented on #7315
Hey @tombuildsstuff

I have updated the getting started guide and open sourced the breaking changes guidelines. Thanks for pointing them out.

Regarding the ARM API specification, I am not aware of any such document other than [this](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md) one. Hope this helps.

[2019-10-25 23:51] msfcolombo opened #7642 "How to suppress/avoid the "must have patch operation" message?"
This is about PR https://github.com/Azure/azure-rest-api-specs/pull/7631. I'm getting this error:

[code]

The private endpoint specification (MSFT internal) does not define PATCH operation for `PrivateEndpointConnection` resources. Is there a way to fix that error without doing the hack of re-defining resource properties?

By the way, the Azure Storage service is doing the same thing: https://git

[2019-10-28 11:36] inuvano-labs opened #7649 "Deployments / WhatIf API - Property change type "Delete" not accurate in results"
As per https://docs.microsoft.com/en-us/rest/api/resources/deployments/whatif#propertychangetype the description for "Delete":

"The property exists in the current state and is missing from the desired state. It will be deleted when the deployment is executed."

However, this contradicts the behaviour observed in Azure Resource Manager templates and also the output from the /whatif API method retu

[2019-10-28 20:29] ViniciusSouza opened #7650 "Network Watcher - Check Connectivity documentation"
During a project we (me and @Guilhermeslucas) identified the following issues:

- It's not clear to the documentation that we need to call the queue API and then check the job status
- The destination parameter for the connectivityCheck's body can accept Resource Id too, this is not clear too
- Add a specification for the operationResults' endpoint, there is not a single reference for this endpoin

[2019-10-28 22:46] msfcolombo commented on #7642
@schaabs FYI

[2019-10-29 20:06] zhusijia26 commented on #6363
@blueww any update on this issue? Or could you please assign this to the right person (who is looking into it)?

[2019-10-29 23:48] anuchandy commented on #7642
@msfcolombo - swagger readme allows specifying suppressions e.g [here](https://github.com/Azure/azure-rest-api-specs/blob/7fe24f57e1d0e3560535be0730db43feb3239a36/specification/workloadmonitor/resource-manager/readme.md#tag-package-2018-08-31-preview). You will need to get sign-off from "Azure Resource Manager RP API Review" board for adding such ARM suppressions in readme.

[2019-10-30 07:33] blueww commented on #6363
Per the latest information I get, this is from ARM.

There's a mail to ARM team, and I just ping it for responds.

BTW, this is not a swagger bug, but a server issue.

[2019-10-30 09:42] sangam-sgm opened #7668 "Sorting api response data"
Can we sort the response of this api based on changedDate or CreateDate:

**GET https://management.azure.com/subscriptions/{subscriptionId}/resources?api-version=2019-08-01**
Just want to know if sorting of api response is possible through any optional parameter or not?
If yes then need help with the parameter name.

[2019-10-30 16:47] msfcolombo commented on #7642
Ok, I have applied the suppression. Thanks @anuchandy, you can close this ticket.

[2019-10-30 16:51] maggiepint commented on #7597
Looks like this relates to the feature request linked in 2217, so I'm going to close this issue as tracked there. Definitely upvote if you are interested.

[2019-10-30 16:51] #7597 closed

[2019-10-31 20:05] #7642 closed

[2019-10-31 20:44] TimLovellSmith commented on #3158
Just noticed this. @hovsepm you're saying the input was incorrect because you tried to link the cache to itself? Yes, that should be 400 Bad Request.

[2019-10-31 20:46] TimLovellSmith commented on #3037
@bsiegel Can we close this? I'm afraid this behavior is by design, to avoid accidentally leaking sensitive connection string data.

[2019-10-31 20:50] TimLovellSmith commented on #2981
Recap; we still aren't planning to fix this. The reason was we feel it doesn't meet the bar to deliberately make what would be a SDK 'breaking' change (for existing apps upgrading the library) in exception vs error behavior, just to be more consistent with other name validation apis (for other resources). Shall we close this?

[2019-10-31 20:51] TimLovellSmith commented on #1499
I suggest this should be closed as not repro, unless further details are provided. Clicking unassign me.
/cc @tombuildsstuff

[2019-11-01 08:10] tombuildsstuff commented on #3037
@TimLovellSmith

More modern API's (Storage, AKS, Media Services etc) follow a different convention where these keys are exposed on a sensitive privileged endpoint - as such there's precedent for the Redis API to follow here IMO - as such I believe this bug report/feature request is still valid?

[2019-11-01 16:38] TimLovellSmith commented on #3037
@tombuildsstuff What pattern are you referring to - keyvault scenarios? Or something else?

[2019-11-01 18:29] axthosarouris opened #7688 "az webapp list-runtimes does not list dotnet core runtimes."
## Describe the bug
 When I run the command az webapp list-runtimes I get the list shown at the list of the post as a result. However, When I try to create a new webapp through the azure web-interface I have the ability to choose a DotNet Core  2.2. runtime. That means that the cli cannot do the same things as the web-interface and makes the reproducibility of the environments difficult,

**Comman

[2019-11-02 00:30] logachev opened #7691 "Azure Policy Assignment Create\Delete operations return before finished"
Azure Policy Assignment create and delete operations aren't marked as long-running operations but sometimes they return before the change is persisted.

As a result, if Policy Assignment Get operation is called right after create or delete, it return the wrong result (either Policy doesn't exist yet or still exists).

[2019-11-04 00:57] weidongxu-microsoft commented on #7691
@logachev

Is it this version you are referring to?
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/stable/2019-10-01/policyStates.json

[2019-11-04 16:56] logachev commented on #7691
@weidongxu-microsoft  I think so. I was using latest Python SDK to make calls.

[2019-11-05 01:29] weidongxu-microsoft commented on #7691
@logachev
It seems to be this one instead https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2019-06-01/policyAssignments.json

If you are using Python SDK it might be better to directly raise issue in their repo https://github.com/Azure/azure-sdk-for-python (v2019_06_01 is the latest in Python SDK)
I could help move it

[2019-11-05 06:04] xccc-msft opened #7711 "Resources: api-version should be replaced by ApiVersionParameter in resources.json"
I noted it is using api-version in resources.json as follows:

         {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The API version to use for the operation."
          }

This makes api-version as method property in the method/operation.

I think the api-version should be client property by

[2019-11-05 06:09] xccc-msft commented on #7711
[see issue](https://github.com/Azure/azure-libraries-for-net/issues/719)

[2019-11-06 11:32] timja commented on #6372
Any updates solankisamir?

[2019-11-06 12:38] pvrk commented on #7268
@TAdityaAnirudh : can you please take a look at this?

[2019-11-06 16:53] logachev commented on #7691
I don't think this is an SDK issue.. SDK is not doing anything but making a REST call, right?

So with my understanding, the REST API returns success earlier than the actual state is updated.

It happens pretty frequently, I think I saw it ~30-40% of time.

I'll try to do it with Postman to exclude SDK piece, but the scenario is really:

1. Create policy assignment
2. Get just created policy assig

[2019-11-07 18:32] logachev commented on #7691
@weidongxu-microsoft I can confirm it has nothing to do with the SDK..
I can repro this with curl. Please insert your subscription id & token to the script.

It outputs only return codes.. Run it multiple times and you'll see 404 right after 201.
Sometimes GET returns 200 but DELETE returns 204 and the next GET returns 200.. So Delete operation didn't work.

[code]

[2019-11-08 03:01] weidongxu-microsoft commented on #7691
@logachev Thanks for the sample call.

I just made a bash script (your curl cmd) with loop 20 and run it several times, but not able to produce (I am in WSL Debian 9, but that should matter much).

[code]

[2019-11-11 15:53] logachev commented on #7691
Can you try to run it more? I was using Ubuntu WSL, but it shouldn't matter.

It doesn't happen as frequent as I said before, but it happens.
I saw a few options:

201 -> 404 -> 200 ->404
201 ->200 -> 204 -> 200

[2019-11-12 01:01] #4678 closed

[2019-11-14 18:55] J0F3 commented on #6372
@solankisamir any news? Is there an approximate ETA when we can expect a fix?
Seem the resolution of multiple issues and improvements in the Azure Terrafrom provider are blocked because of that one here. 😢

Thx!

[2019-11-14 19:40] vfedonkin commented on #6372
The implementation (and data returned) will stay exactly the same, but the documentation/specification will be changed.

Instead of 2 current contracts specifications:
        **"contentType": "<string>",
        "document": <jobject>**
and
        **"contentType": "<string>",
        "document":
        {
               "value":"<string>",
        }**

We will have only one:

{
   "properties" :

[2019-11-14 19:41] vfedonkin commented on #6372
The documentation changes should be released till the end of the year.

[2019-11-15 13:07] neil-yechenwei opened #7789 "The hanaonazure spec doesn't define the "SapMonitorParameter" for "update" operation in hanaonazure.json"
**The swagger json with problem:**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json

**More details:**
In swagger json file, the update file has no properties parameter 'SapMonitorParameter' definition as create.
create:
"put": {
"tags": [
"HanaOnAzure"
],
"operationId": "SapMonito

[2019-11-17 09:19] tombuildsstuff commented on #6641
@shahabhijeet any update on when this'll be fixed?

[2019-11-18 17:55] acarlstein opened #7792 "Where does the Event Schema goes in the Function App"
Greetings, I apologize for asking here but I can't find where to do so.

We are creating a function app which connects to an Event Grid.
The documentation talks about an Event Schema (plus shows the JSON example); however, its missing the location in which such schema should be saved.

Does it goes into the package.json? Do we need to create a JSON file and put it there?
Do anyone knows?

Thanks f

[2019-11-19 01:36] MyronFanQiu commented on #7792
@acarlstein Hello. I will invite service team to answer the question.

[2019-11-19 01:37] MyronFanQiu commented on #7792
@hillaryc Could you help answer the questions?

[2019-11-21 14:08] ms-premp commented on #6822
@Imazuel this is fixed in the swagger. Hence closing this item.

[2019-11-21 16:50] pbolduc opened #7822 "Azure Stack - Microsoft.Subscriptions.Admin LinkedAction enum has wrong name"
I was trying to generate client library for Azure Stack Admin Microsoft.Subscriptions.Admin and got an error from Autorest.  The error appears to because the LinkedAction enumeration has the wrong x-ms-enum name.  The name is duplicated from the ResourceDeletionPolicy enumeration.

https://github.com/Azure/azure-rest-api-specs/blob/1551635dddc7ed977a43eb79175ab2fc477f7bc7/specification/azsadmin/re

[2019-11-21 18:00] pbolduc commented on #7822
Also ManifestProvisioningState enumeration has the wrong name

https://github.com/Azure/azure-rest-api-specs/blob/e0996d4f6dbca40ebf2fa4abf9a1cba45ada94d8/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Manifest.json#L866-L878

Once I fixed these locally, Autorest ran to completion.

[2019-11-21 19:15] PakDLiu commented on #7789
We are aware of this issue, our PATCH API only updates Tags right now.
We have a backlog item to enable updating different parts of the SapMonitor.

[2019-11-21 23:31] maggiepint commented on #7789
Going to close this as SAP team has it in backlog.

[2019-11-21 23:31] #7789 closed

[2019-11-22 04:22] damendo commented on #7579
Hi @yaohaizh can you file a support request and reference this comment so we can investigate this internally

[2019-11-22 04:24] damendo commented on #7650
Thanks @ViniciusSouza for surfacing, those look like terrible errors in the docs. Will try to fix these soon.

[2019-11-22 10:46] xccc-msft commented on #7822
@deathly809 can you please verify above issues?

[2019-11-22 21:51] MECHANDR commented on #3158
This issue is fixed now.
**Request:**
`PUT URI: https://management.azure.com/subscriptions/subid/resourceGroups/test/providers/Microsoft.Cache/Redis/geoself/linkedservers/geoself?api-version=2018-03-01
REQUEST BODY: {
	"properties":
	{
		"linkedRedisCacheId":"/subscriptions/subid/resourceGroups/test/providers/Microsoft.Cache/Redis/geoself",
		"linkedRedisCacheLocation":"East US 2",
		"serverRole":

[2019-11-22 21:51] #3158 closed

[2019-11-22 23:28] ifeoluwaokunoren commented on #2856
@AaronFixer - is this still and issues? If yes, can you please provide an example of what API is returning a Bad Request? and is this for a specific resourceType?
cc @Tiano2017

[2019-11-22 23:34] ifeoluwaokunoren commented on #2017
The default api-version of 2019-06-01 is now being used.

[2019-11-22 23:34] #2017 closed

[2019-11-23 00:11] mialdrid commented on #7410
Hey @akki-s
The ExpressRoute cross connection resource/ARM Partner API sits behind a feature flag, that needs to be enabled on the subscription level. Your subscription needs to be enrolled in order to GET the cross connection resource.

[2019-11-23 02:04] haroldrandom commented on #7569
Any updates?

[2019-11-25 18:51] andyw248 commented on #1020
Validation is implemented in the controller. I don't think there's any additional validation required here.

[2019-11-25 20:15] ahamad-MS commented on #7792
Hello @acarlstein . Thanks for reaching out. It is unclear to me what documentation are you referring to. Can you please provide a link to the document to allow us to triage this better. And what error message or behavior are you seeing?

Also, if this is Event Grid Trigger function, then the function itself knows about this schema.

[2019-11-25 20:17] ahamad-MS commented on #7792
Hello @acarlstein . Thanks for reaching out. It is unclear to me what documentation are you referring to. Can you please provide a link to the document to allow us to triage this better. And what error message or behavior are you seeing?

Also, if this is Event Grid Trigger function, then the function itself knows about this schema.

[2019-11-26 18:21] bganapa commented on #7822
Hi @pbolduc , We will fix this issue. Could you please clarify what you are trying to do with a generated library. At the moment, we are of the opinion that Azure Stack admin api users are mainly powershell/ .NET users.

[2019-11-26 19:27] jeremymeng commented on #7350
Closing as it's fixed.

[2019-11-26 19:27] #7350 closed

[2019-11-26 21:00] pbolduc commented on #7822
At my current client, we are using Nagios to monitor Azure Stack Hub. Among other things, I was looking to monitor the number of active and disabled user subscriptions.  For this case, I was using Python for creating the plugin. An alternative use case we have is when creating user subscriptions. In our environment, all user subscriptions will be owned (ie billing owner) by a single account. The r

[2019-11-26 21:59] bganapa commented on #7822
Thanks @pbolduc for the details.  The .NET package you are looking for is
https://www.nuget.org/packages/Microsoft.AzureStack.Management.Subscriptions.Admin/0.2.0-preview
This will help you create user subscriptions as an admin.
The powershell cmdlet that crates user subscription as a administrator is here
https://docs.microsoft.com/en-us/powershell/module/azs.subscriptions.admin/new-azsusersubscr

[2019-11-26 22:00] bganapa commented on #7822
PR - https://github.com/Azure/azure-rest-api-specs/pull/7852

[2019-11-27 02:56] xccc-msft commented on #7711
Close this as PR merged

[2019-11-27 02:56] #7711 closed

[2019-11-27 08:53] NullMDR commented on #6873
fixed by https://github.com/Azure/azure-rest-api-specs/pull/7637

[2019-11-27 08:53] #6873 closed

[2019-11-27 17:19] tombuildsstuff commented on #3037
cc @vladimirjoanovic

[2019-11-27 17:59] radwiv commented on #6748
can you please clarify the ask here? thanks!

[2019-11-27 22:06] nschonni commented on #6748
I believe the "schema" value should be removed. I'm guessing there is better internal guidance though on how 202s are represented.

[2019-11-28 02:35] xccc-msft commented on #7822
@pbolduc can you try with latest json? The changes are merged to master now.

[2019-11-28 02:43] pbolduc commented on #7822
I am in Pacific time zone.  I will test tomorrow when I come into work.

[2019-11-28 11:26] mvmn commented on #7688
Is there also a way to tell which version is the latest for each stack type?

Looking at corresponding API I see that there is "isDefault" property, but it seems to not match latest versions of stacks (for example, for ruby isDefault is true for 2.4 and not 2.6).

Also sort order is sometimes oldest to newest version (for most of stacks), and sometimes vice versa (for python on Linux).

[2019-11-28 18:02] pbolduc commented on #7822
This looks good, however, it does not appear to be merged into master yet.  I tested against branch [stackadmin](https://github.com/Azure/azure-rest-api-specs/tree/stackadmin/specification/azsadmin/resource-manager/subscriptions).  There appears to be another issue with the network generation due to the use of $(this-folder).  I will create a separate issue for that.  I tried on a Windows command

[2019-11-28 18:02] #7822 closed

[2019-11-30 20:16] nolavime commented on #5281
Added to our feature request for later versions

[2019-12-01 21:43] #964 closed

[2019-12-02 00:42] akki-s commented on #7410
@mialdrid Thanks for the update. You have already mentioned the same and regarding other express route endpoints when we had a call. Thanks for the help.

[2019-12-02 17:43] lumayara opened #7868 "Azure Speaker API not working for Identification"
Hi.. Following @rposbo 's demo we were able to use the verification part but not identification part. It doesn't seem to be working.
It gets my profile created but doesn't save my recording to Identify.. I am getting this error: {"error":{"code":"BadRequest","message":"Invalid Http Request"}}

[2019-12-02 18:43] brunhil opened #7870 "IoT Hub Device Provisioning Service missing specs for Enrollment Group"
There is no REST API spec for Version 2019-03-31. It would be great if this was available so that the Device Provisioning Service Enrollment Group APIs could be exposed to the Go SDK (ref [azure-sdk-for-go](https://github.com/Azure/azure-sdk-for-go/))

Example API to use: [Create or Update Enrollment Group](https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateenrollmentgroup/createorupd

[2019-12-02 19:02] #1020 closed

[2019-12-02 20:32] andyw248 commented on #3317
JobStreamProperties are now exactly the same, to the comma level, in all three files. Note that runbook.json and dscCompilationJob.json also have new versions (2018-06-30 and 2018-01-15, respectively).

[2019-12-02 20:32] #3317 closed

[2019-12-02 20:38] andyw248 commented on #3457
Yes, work on migrating this to python 3 is in progress.

[2019-12-02 23:03] kenieva commented on #7691
After assessing this more closely by our team, this delay is an expect behavior due to Resource Manager and the replication between regions. We are working towards helping the delay, but we do expect a small delay either way. Thanks for the feedback.

[2019-12-02 23:03] #7691 closed

[2019-12-03 01:02] jongio commented on #7691
@kenieva - If we expect a delay, then shouldn't this be marked as a long-running operation and supported as such?

[2019-12-03 01:46] ChenTanyi commented on #7870
@brunhil maybe it is 2019-03-22, see https://github.com/Azure/azure-rest-api-specs/tree/master/specification/iothub/resource-manager#tag-package-2019-03

[2019-12-03 02:15] ChenTanyi commented on #7870
@brunhil it seems you want a data-plan go sdk?

[2019-12-03 02:57] ArcturusZhang commented on #7870
Hi @brunhil it seems there is no swagger for this service yet in the azure-rest-api-specs repo, therefore there is no go SDK for it.
And as the guys said in the go SDK issue, you have several options now,
1. wait for them to add their service into this repo, and then the go SDK will be generated
1. wait for the official go SDK from them (a hand-written one)
1. have your own go SDK (we have a lib f

[2019-12-03 12:43] tombuildsstuff opened #7879 "Breaking Behavioural Change to the AKS API"
👋

It appears there's been a breaking behavioural change to the response for AKS API version `2019-06-01` where the sku returned is now  "Standard" rather than "standard".

Whilst I'm generally supportive of this change to keep the casing consistent with the other resources - given this breaks the behaviour of the API shouldn't this be made in a new API version?

Thanks!

Original issue: https://g

[2019-12-03 13:12] lawrencegripper commented on #4221
How can this API support writing from multiple user? Say you have two machines which are updating the same frontdoor instance, as they have to put the whole object it's likely they'll overwrite each other's changes.

Do you support an `etag` or `updateif` or `patch`?

[2019-12-03 18:51] kenieva commented on #7691
We are working with the ARM team on that.

[2019-12-04 13:17] surajmb commented on #2313
@MikhailTryakhov should we close this?

[2019-12-04 13:57] brunhil commented on #7870
@ChenTanyi , I think that is correct. I do not know what the data-plan sdk is though.

[2019-12-04 17:43] jessicl-ms commented on #4221
You are correct. If you have two machines updating the same front door instance, the update operations will happen in series and the last writer will win.

We currently do not support etag or updateif or patch.

[2019-12-04 17:56] lmazuel commented on #2014
Still an issue:
https://github.com/Azure/azure-sdk-for-python/issues/8979

[2019-12-04 21:46] MikhailTryakhov commented on #2313
sure

[2019-12-05 01:11] allegradomel commented on #5371
@sheenaajay,
Thanks for bringing this to our attention - we're working on this and will update soon

[2019-12-05 01:26] allegradomel commented on #6789
@cbrit, thanks for your patience, working on updating you soon

[2019-12-05 01:58] wiazur commented on #2014
Fixing this issue would enable a user to not have to suppress logs in the sample. Hopefully this will get implemented in the next iteration. Thanks.

[2019-12-05 02:27] cbrit commented on #6789
Thanks @allegradomel, it's not preventing me from doing anything.

[2019-12-05 03:37] ChenTanyi commented on #7870
@brunhil there is no API definition in this repo for the API you referred. Thus, we cannot generate this sdk, we could just help you to send service attention. Or you could follow @ArcturusZhang advise. Thanks!

[2019-12-05 05:36] surajmb commented on #2313
Close

[2019-12-05 09:54] lawrencegripper commented on #4221
I had a bit of a play and this is likely to effect users who make updates in the portal too.

When I do an update in the portal is `PUT`s the whole frontdoor resource. If I've edited `routes` and another admin edits `backend rules` we'd trample on each others changes rather than see an error. Feels like that is going to hurt someone.

[2019-12-05 11:03] tombuildsstuff commented on #2313
@surajmb @MikhailTryakhov is there a timeline for when this support will be added?

[2019-12-05 16:04] surajmb commented on #2313
@tombuildsstuff I don't have a firm ETA at the moment. But roughly first quarter of CY20.

[2019-12-05 22:53] allegradomel commented on #5371
@sheenaajay, this has been fixed[ check the most recent version ](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/virtualNetwork.json)

[2019-12-05 23:01] allegradomel commented on #5371
#please-close

[2019-12-06 01:47] jeroenterheerdt commented on #4782
this cannot be fixed since, as @nschonni said, it's a stable API.

[2019-12-06 01:48] jeroenterheerdt commented on #4782
@azuresdkci go ahead and close this

[2019-12-06 01:49] #4782 closed

[2019-12-06 02:02] jeroenterheerdt commented on #7122
@logachev since the last activity here is from end of September I am going ahead and close this issue. Please respond if you need more help.

[2019-12-06 02:02] jeroenterheerdt commented on #7122
@yungezz please close this issue.

[2019-12-06 14:20] brunhil commented on #7870
@ChenTanyi , would you be able to help send service attention? Thanks!

[2019-12-06 14:48] #5371 closed

[2019-12-06 19:23] andyw248 commented on #4607
Minor, closing.

[2019-12-06 19:23] #4607 closed

[2019-12-06 20:19] nschonni commented on #4607
These are minor, but they affect the documentation, and are likely to cause client support requests when they spell it correctly and it doesn't work.
Not as big a deal now since the build will fail unless corrected when submitting a new version of the API though

[2019-12-07 07:36] akning-ms commented on #7868
@lumayara Can you provide more info for this issue. e.g which service are you referring to for this issue？
@rposbo Do you know the detail?

[2019-12-07 08:23] rposbo commented on #7868
This was fixed in the demo (removing content type `multipart/form-data` that's no longer accepted); however, the API documentation needs to be updated to remove references to that header in the code examples

[2019-12-07 23:27] logachev commented on #7122
@jeroenterheerdt Sorry for the late reponse.
It appeared an issue was on our side. Closing.

[2019-12-07 23:27] #7122 closed

[2019-12-09 00:13] ben5556 commented on #2994
Running into this issue as well. We are creating a VM with boot diagnostics enabled set to false but it appears storage_uri is a required parameter even when we set diagnostics to disabled... :-(

[2019-12-09 02:48] ChenTanyi commented on #7870
@brunhil This `Service Attention` label is used to send service attention

[2019-12-09 11:16] pvrk commented on #5306
@FelixBorst : Another gentle reminder. Any update on this?

[2019-12-09 19:10] jfggdl commented on #7792
acarlstein, We have not heard from you in a while. Please feel free to reply to us with your answers to the questions posted by ahamad-MS. In the meantime, I will be closing this issue, but if we see a response we can reopen it. Thanks.

[2019-12-09 19:10] #7792 closed

[2019-12-09 19:50] bradcavanagh-ffs opened #10250 "webapp:Setting date in App Service app setting converts date to different format"
When using the `az webapp config appsettings set` command to set an App Service app setting to an ISO-8601 date string (YYYY-MM-DDTHH:mm:ssZ), the date string gets converted into a date that loses time zone information and introduces uncertainty into day and month ordering.

## To reproduce:
1) Create App Service.
2) Run the following command: `az webapp config appsettings set --name <app-service-

[2019-12-10 13:19] evertonmc commented on #6372
Any place we can track the progress besides here?

[2019-12-11 00:43] jlian commented on #7870
@nberdy for DPS

[2019-12-11 08:23] yupwei68 opened #7948 "sql vm group can't add sql vm"
Hi, I have created a sql vm, and then created a sql vm group. Then I have updated sql vm associated with this sql vm group, 201 success code returned, but then I get sql vm list in sql vm group, return empty list.

associate sql vm with a sql vm group
put : `https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/weiyuping/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachin

[2019-12-11 18:13] KrisBash opened #7950 "Microsoft.ContainerRegistry - spec issues to fix"
Outstanding api issues to fix from: https://github.com/Azure/azure-rest-api-specs/pull/7883
1) "default" response for all APIs
2) listUsages normalization to standard /usages contract

[2019-12-11 19:20] majastrz commented on #4903
This has been implemented for a while now. Closing the issue.

[2019-12-11 19:20] #4903 closed

[2019-12-12 01:29] andyw248 commented on #1021
On todo list.

[2019-12-12 01:31] andyw248 commented on #1133
Team will investigate.

[2019-12-12 03:47] neil-yechenwei opened #7959 "Some property in Microsoft.PowerBIdedicated doesn't conform the specification"
Issue 1:
The property "operationId": "Capacities_GetDetails" in powerbidedicated.json (https://github.com/Azure/azure-rest-api-specs/blob/4918a0c0adfc3e654cc9b285b50e1b42adc4de54/specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/powerbidedicated.json#L51) should be "operationId": "Capacities_Get" not "operationId": "Capacities_GetDetails" like other resou

[2019-12-12 22:25] allegradomel commented on #6789
@cbrit: I reviewed the ETag behavior again and I see where your confusion comes from. Storage services use ETags for concurrency but -to my knowledge- _this is not something that is ever specified explicitly by the user_. Please follow up with any questions you have!

[2019-12-13 16:22] cbrit commented on #6789
@allegradomel Yeah it's totally possible that I misunderstood their purpose. Seemed at the time like that would be useful to the user if they have multiple processes that may need to change a rule without collision and I couldn't tell from the docs if it was meant for my own usage. I'm ok with this being closed if it is not a feature that y'all want to implement.

Thank you!

[2019-12-13 17:52] allegradomel commented on #6789
Glad to help!

#please-close

[2019-12-13 18:37] #6789 closed

[2019-12-14 00:35] kartikshah9 commented on #5520
@rickle-msft is there an update on this item. Accordingly we can close the item

[2019-12-16 07:36] krispenner opened #7980 "API Management - Reports - List By Request- Skip Parameter Not Working"
https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/reports/listbyrequest

The $skip parameter does not appear to be skipping anything, I keep getting back about 90% of the same records every time. This may have something to do with $orderby not being supported. The records returned seem to be a little different every time, I'm assuming because there is no $orderby. But regardless,

[2019-12-16 10:51] tombuildsstuff opened #7984 "Kusto returns `Terminal` rather than `Failed`"
👋

When provisioning a Kusto Cluster via our Test Suite - we've noticed an error being returned from the API:

Every other Azure API I'm aware of returns resources which have finished provisioning with an error as `Failed` - however it appears that the Kusto API returns this as `terminal`. Would it be possible to get this fixed so that downstream clients can handle the cases appropriately?

Thanks

[2019-12-16 19:20] rickle-msft commented on #5520
@kartikshah9 We did GA the SDKs based on the 2019-02-02 swagger. You can see those swaggers here: https://github.com/Azure/azure-rest-api-specs/tree/storage-dataplane-preview. 2019-02-02 should be stable in terms of its api surface since we publicly released packages based on it. The timeline of getting those merged into master is a little less clear. Perhaps @tg-msft or @pemari-msft could speak m

[2019-12-16 19:20] jeroenterheerdt commented on #4910
@ravbhatnagar can you please answer @ayeletshpigelman's question? I'll close the issue 1/1 if you do not reply.

[2019-12-16 23:22] mattsp1290 opened #7990 "App Service Plans Missing Number of Workers"
The current model for app service plans is missing number of workers. When I go to https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/list and try it, in the properties sent back, I have number of workers available. But this value is not in the sample response nor the definition of a Service Plan https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/list#appservice

[2019-12-16 23:22] mattsp1290 commented on #7990
Here is an example of one of the service plans I get back from the API above with some info redacted
[code]

[2019-12-17 01:43] ArcturusZhang opened #7991 "`ResourceGroups_List` returns different results in two consecutive calls"
Testing script in python:
[code]
One possible result of this script of 50 consecutive executions (using `for ($i=0; $i -le 50; $i++) {echo $i; python main.py; }`):
[code]
It is the second list cal that always misses a resource group.

[2019-12-17 17:26] tg-msft commented on #5520
I can't speak for the timeline, but that work is being tracked by https://github.com/Azure/azure-sdk/issues/859

[2019-12-18 01:30] ArcturusZhang commented on #7268
Hi @TAdityaAnirudh is there any updates about this issue?
We have another customer [complaining](https://github.com/Azure/azure-sdk-for-go/issues/6543) about this now.

[2019-12-18 03:57] anthony-c-martin opened #7995 "Microsoft.Insights workbooks & workbooktemplates declared with incorrect ARM URI"
I noticed that the newly-added Microsoft.Insights workbooks & workbooktemplates resource are using "/resourceGroup/" instead of "/resourceGroups/" in the "path" declarations. This is tripping up the https://github.com/Azure/autorest.azureresourceschema extension, and I presume generating SDKs which won't actually work with ARM.

@ericc1103 / @avidhanju since you recently authored changes, would yo

[2019-12-18 10:01] gerjugoosen commented on #2750
So, there is still no way of getting the rates for reserved instances in the RateCard API? I understand that the prices for each individual reservation can be obtained using [https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/reservationorder/calculate](https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/reservationorder/calculate) but I would like to store all the informa

[2019-12-18 14:00] akning-ms commented on #7980
For API management service team attenation

[2019-12-19 02:01] fengzhou-msft commented on #7558
@akning-ms can you take a look at this feature request and evaluate?

[2019-12-19 03:06] yupwei68 opened #8004 "create a sql vm fail"
Hi all,

I follow the example to create a sql vm, [link](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sqlvirtualmachine/resource-manager/Microsoft.SqlVirtualMachine/preview/2017-03-01-preview/examples/CreateOrUpdateSqlVirtualMachineMIN.json),get 201 created. But the portal show that sql vm isn't created successfully and when we get a createsqlvirtualmachine operation res

[2019-12-19 18:17] kartikshah9 commented on #6363
@blueww request an update on this. If we need to consider re-assigning to a different team please initiate the thread and re-assign

[2019-12-20 04:31] #6457 closed

[2019-12-20 10:51] bikashkarmakar opened #8015 "Unable to set owner for servicePrincipals using the az rest"
Hi
We want to set owners for ServicePrincipals that we create as part of creating a Resource Groups so that members of the RGAdmins group can take manage of the ServicePrincipals going forward.

Please enable  POST for /{tenantID}/servicePrincipals/{objectId}/owners
/{tenantID}/servicePrincipals/{objectId}/owners" , as of now it only supports GET.

Thanks

[2019-12-20 22:21] dlepow opened #8019 "[Container Instances] Container exec example request body uses incorrect property names"
Customer reported issue in https://docs.microsoft.com/en-us/rest/api/container-instances/container/executecommand

See azure-rest-api-specs/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/examples/ContainerExec.json

Sample request body shown:

[code]

Should be:

[code]

[2019-12-21 00:09] andyw248 commented on #7188
"Build not found". From the PR it appears the only change was to remove a double word from a description string.

[2019-12-21 00:09] #7188 closed

[2019-12-23 05:15] NullMDR commented on #8015
@ankushbindlish2 Could you please take a look at this issue

[2019-12-23 12:49] yungezz commented on #7557
HI @raymondjstone the `next step` link is a private doc now which is for Microsoft employee only since it contains workflow and guideline for internal usage.  We can refine the wording in this repo to reflect that.

[2019-12-24 06:12] ruowan opened #8026 "Test sla-bot"

[2019-12-24 07:58] yupwei68 commented on #8004
It shows at the VM that the extension has installed with failure.
![Annotation 2019-12-24 150424](https://user-images.githubusercontent.com/56525716/71401835-06c03180-2666-11ea-8cfd-46413564891c.png)
After I remove the extension, reinstalled the extension successfully. And I recreate the sql vm, it cover the extension with failure.
And our unit test doesn't allow the extension to be reinstalled.

[2019-12-24 09:32] ArcturusZhang opened #8028 "MachineLearningService Workspaces_CreateOrUpdate is not long-running-operation but the rest api will return 202 with async polling URL"
Currently the swagger definition does not mark the operation `Workspaces_CreateOrUpdate` as `"x-ms-long-running-operation": true`, therefore this method is now synchronous.
But when I call this rest api using PostMan or from rest api doc ([here](https://docs.microsoft.com/en-us/rest/api/azureml/workspacesandcomputes/workspaces/createorupdate#code-try-0)), the rest api will return 202 as status cod

[2019-12-25 05:50] ArcturusZhang opened #8029 "MachineLearningService Workspaces_CreateOrUpdate returns 202 but the `responses` field only defines status code `200` and `201` as succeed"
The `responds` now reads:
[code]
But the call of rest api returns status code `202` as following:
![Screen shot of the rest api response](https://user-images.githubusercontent.com/10554446/71433846-73960300-271c-11ea-88b2-32e98a92fbe7.png)
This will be handled as failure in generated SDK since this status code is not among the expected ones. For instance, in go SDK:
[code]

[2019-12-26 01:54] weidongxu-microsoft commented on #7995
@ericc1103 / @avidhanju
Any update?

[2019-12-26 18:11] avidhanju commented on #7995
I can take a look at this in the second week of January when I get back from vacation.

Why was this not part of the various checks that ran when I last merged Workbook Templates?

 #https://github.com/Azure/azure-rest-api-specs/pull/7611/checks

[2019-12-27 05:22] yupwei68 commented on #8004
The reason appears to be  that my vm doesn't use image from "MicrosoftSQLServer". Please add that into creation sqlvm check

[2019-12-30 19:33] naveedaz opened #8044 "App Service: Proxy only resources do not support kind property"
Proxy only resources for App Service do not support 'kind' property. They should be removed from the API specs.

[2019-12-30 20:36] maggiepint commented on #8026
Hey - is this something that can be closed? Did you need help with the mention bot? I maintain the configs for that.

[2019-12-31 02:09] ruowan commented on #8026
Ok. I am the SLA-bot maintainer. The issue is to send a notification email to me that makes sure the bot alive. If the issue bothers others, I can close it.

[2020-01-02 15:12] tombuildsstuff commented on #3964
@ericwol-msft 👋  is there a timeline for when this bug in the API will be fixed?

[2020-01-03 08:48] neil-yechenwei opened #8064 "The type of property isEnabled for Managed Application Definition should be boolean not string"
I am trying to get resource Managed Application Definition with azure go sdk but it failed and threw below error message after created this resource successfully. After investigated, the property type of isEnabled in local package is string, however, the property type of isEnabled in the response returned from azure side is boolean. As they are inconsistent, so it encountered property type convers

[2020-01-03 15:35] lotaezhao commented on #2255
Direct capture to Data Lake storage gen2 is needed, I will have to drop back to ARM once again due to half baked resource support in terraform

[2020-01-03 19:15] lotaezhao commented on #2255
I take my previous comment back, you can configure capture with azurerm_eventhub to Data Lake storage gen2 since this is based on Azure Blob storage. I've done this via terraform and it's working. So the issue is only for Data Lake storage gen1 which isn't going to be very common for new deployments anymore.

[2020-01-04 11:25] magodo opened #8068 "Dedicated Host Group: ResourceGroup name has wrong case"
While working on a new terraform resource for a Dedicated Host Group ( terraform-providers/terraform-provider-azurerm#5048 ) I stumbled across an issue with upper case resource group names.

## Step to reproduce:

- create a resource group named `magodo-rg`
- create a dedicated host group in this resource group

API request: `https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGr

[2020-01-06 04:58] ArcturusZhang commented on #8064
Hi @armleads-azure could you please have a look at this issue?

[2020-01-06 11:45] neil-yechenwei opened #8070 "Failed to create resource managed application when property kind is MarketPlace"
After tested on both azure cli,azure powershell and rest api, I found it would fail to create managed application with "kind=MarketPlace".

**Repro steps with azure powershell:**
New-AzureRmResourceGroup -Name "applicationGroup4" -Location "westcentralus"
New-AzureRmManagedApplication -Name "storageApp4" -ResourceGroupName "applicationGroup4" -ManagedResourceGroupName "infrastructureGroup4"  -Loca

[2020-01-06 11:56] neil-yechenwei commented on #8070
Hi @dandanwang0320 , @prchadal , Could you help to have a look this issue? If it's the bug, could you help to fix it asap since we're blocked on here? Thanks.

[2020-01-06 15:16] J0F3 commented on #6372
First of all: Happy new year! 😊🎉

Which brings me directly to my question. As end of the year is now over 😉 what is the current progress of this?

Because multiple issues of resources in the Azure Terraform Provider are blocked by this I am very curious when this get finally fixed.

Thx
Jonas

[2020-01-06 18:17] vfedonkin commented on #6372
The documentations update completed month or two ago, but it's still in review/publishing stage. At the same time, the question: why it blocks the customer? The documentation changes were described above, so it can be sent to the customer now.

[2020-01-06 19:50] #7410 closed

[2020-01-06 20:10] #4910 closed

[2020-01-06 20:45] J0F3 commented on #6372
Good question.
@tombuildsstuff or @solankisamir can you please elaborate a bit why this issue here is still blocking several issues in the Azure Terraform Provider Project.
For example: terraform-providers/terraform-provider-azurerm#5096

Thx!

[2020-01-06 20:49] vfedonkin commented on #6372
@J0F3 , I checked the item you asked about. In addition to the documentation, customer is using the Azure SDK generated by the specs, which are not updated yet. Specs will be updated together with the documentation. So customer will need to wait till we released 2019-12-01 version. Plan was 01/01/2020 but postponed because of release freezes / reviews.

[2020-01-07 04:15] damendo commented on #7579
#assign damendo

[2020-01-07 04:18] damendo commented on #7579
We have opened an internal investigation into this, expect to fix it by end of week.

[2020-01-07 06:56] J0F3 commented on #6372
Ah ok. Thank you @vfedonkin  you for looked into it.

[2020-01-07 14:24] tombuildsstuff opened #8075 "Key Vault: Support for Disabling Purge Protection"
👋🏻

We're looking to [support Disk Encryption Sets in Terraform](https://github.com/terraform-providers/terraform-provider-azurerm/pull/5249) - which requires Key Vault to have both Soft Delete and Purge Protection enabled. Whilst it's possible to disable Soft Delete - at this point in time it's not possible to disable Purge Protection - see this Request/Response below:

Request:

[code]

Response

[2020-01-07 19:30] vadeveka commented on #8004
Hi @yupwei68, you are correct in observing that a sqlvm resource is created before some of the checks. The resource will go though provisioning state and move to ready or failed states depending on provisioning result. This is expected behavior with the current implementation of sqlvm creation.

[2020-01-07 20:22] vadeveka commented on #7948
Hi @yupwei68, whenever you execute an async operation such as sqlvm create/update or sqlvm group update, it will typically generate a 201 response with an operationResults URL in the response headers. You can use this URL to query the status of the operation. If the operation fails, the operationResults response would contain the error message.
Please refer to [Track asynchronous Azure operations]

[2020-01-08 01:05] KevinBlasko commented on #5702
Can you explain what you mean when you say that the options to enable extended metrics are not available in your azure portal?

You should be able to access these settings by navigating to the overview page for the Virtual machine in question, selecting "Diagnostic Settings" in the list of settings in the pane on the left (it will be under the "Monitoring" section), and then following the instruct

[2020-01-08 02:00] josefree opened #8082 "Gaps with openapi-authoring-automated-guidelines.md"
https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md

Compared with the Rules documentation with Lint tool code according to this document.   The document has 70 rules in total:
- ARM Errors 18 rules
- ARM Warnings 5 rules
- SDK Errors  23 rules
- SDK Warnings  23 rules, 4 of them share the same Rule Id R4000
- Documentation Errors 1 rul

[2020-01-08 07:58] yupwei68 commented on #8004
@vadeveka Thanks for your reply.

[2020-01-08 14:28] brunhil commented on #7870
@nberdy , any status on this? Let me know if I can be of assistance at all! I'm willing to help out if needed

[2020-01-08 17:41] damendo commented on #7650
Targeting end of month to make the changes

[2020-01-08 20:27] anthony-c-martin opened #8092 "ARM HEAD behavior is inconsistent between RPs and should be removed"
The ARM swagger spec contains a definition for HEAD on a generic resource URI. There are no requirements for RPs to implement this method and we do not enforce it. It isn't mentioned in the [RPC](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md).

I propose we remove the following two sections to avoid confusion, as this API cannot be relied upon progr

[2020-01-08 20:30] aholler2 opened #8093 "App Service: Deployment Validation Failure on Nonexistent App Service Plan"
EDIT: This failure with ARM template validation has spread to resource groups created in every region.

Our team publishes templates for others to digest. Part of this process involves validating the templates before moving onto provisioning steps. Our pipelines worked fine up until a few weeks ago when app service template validation began to fail with the following API and with the following err

[2020-01-08 23:32] anthony-c-martin opened #8097 "zoneMappings property is missing from ARM GET /subscriptions/{subscriptionId}/providers response definition"
The definition here (and in other API versions) is missing this property definition on the ProviderResourceType definition:

https://github.com/Azure/azure-rest-api-specs/blob/8179f85219cba709013ac46ca9a2d99644423da7/specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json#L2028-L2072

This affects our SDKs and docs - see https://docs.microsoft.com/en-us/rest/a

[2020-01-09 07:25] zhusijia26 commented on #6363
@blueww please provide an update on this issue.

[2020-01-09 07:35] blueww commented on #6363
@zhusijia26
I have ping ARM team again for this.
Will update this issue when get any update from them.

[2020-01-09 10:57] tombuildsstuff commented on #7558
ping @akning-ms (cc @vladbarosan fyi)

[2020-01-09 11:17] elliot-resdiary opened #8107 "[Redis] Get firewall rules endpoint returns a HTTP 504 Timeout"
We use Terraform to manage our Azure resources and Terraform will often make `GET` API calls to understand the current state of our infrastructure. For the past few days, the endpoint to fetch Redis firewall rules has been giving us `HTTP 504` about 80% of the time.

[code]

This may be somehow related to #1499.

[2020-01-09 13:21] akning-ms commented on #7558
Hi @tombuildsstuff  sorry for reply late, Looks I missed last ping from @fengzhou-msft. add our PM @mozehgir . awareness and decide

[2020-01-09 17:01] jackofallops opened #8108 "App Service: Hybrid Connection creation uses Relay Namespace name instead of Service Bus Namespace name"
Hi!

I'm adding in support to the Azure Terraform provider to create App Service Hybrid Connections. When the resource is created the serviceBusNamespace value in the connectionEnvelope is not used, instead the Relay Namespace name value is used.

[code]

Response:
[code]

Additionally, this behaviour is also observed in api-version=2019-08-01.

[2020-01-09 17:26] nberdy commented on #7870
Is this what you need? https://github.com/Azure/azure-rest-api-specs/tree/master/specification/deviceprovisioningservices/resource-manager

[2020-01-09 18:36] brunhil commented on #7870
@nberdy, I would like the new API Version to be added to the specs here so that I can interact with the EnrollmentGroups. Looking at the API documentation it appears this is in a newer version of the API spec (2019-03-31).

Example: https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateenrollmentgroup/createorupdateenrollmentgroup

[2020-01-09 18:58] nberdy commented on #7870
Thanks for the clarification. The APIs published in this repo are for Azure Resource Manager and do not contain the enrollment group service APIs you are looking for. Unfortunately, we don't yet publish the swagger file for the service APIs publicly.

[2020-01-09 20:06] Badgerati commented on #8107
I keep on getting the same responses as well, using terraform for just trying to create an Azure Redis Cache. The occurrence rate I see it about the same as well - 80% of the time, if not higher, it's a failure.

I raised an issue over on terraform (https://github.com/terraform-providers/terraform-provider-azurerm/issues/5355) as was unsure, but starting to think this might now be more Azure API r

[2020-01-09 20:54] aholler2 commented on #8093
Here's proof of app service validation being broken only in South Central US.

PowerShell Core 6 script that shows failure of app service validation in South Central US.
[AppServiceValidationFailure.txt](https://github.com/Azure/azure-rest-api-specs/files/4042442/AppServiceValidationFailure.txt)

[2020-01-10 02:09] yupwei68 commented on #7948
@vadeveka Thanks for your help. Could you provide some docs on how to create a sql vm group?
Because I follow the steps in CLI: create a sqlvm-> create a storage account-> create a sqlvm group(success)(the doc says that this step creates the cluster with the name previously given, installs the cluster role on the SQL Server VMs, and adds them to the cluster)-> add the sqlvm into the sqlvm group,

[2020-01-10 13:55] elliot-resdiary commented on #8107
This was either a temporary or intermittent issue since we haven't been able to reproduce it today. I have a known failing request ready in Postman if the issue returns - that should isolate this as an Azure API problem rather than a Terraform one.

[2020-01-10 16:41] Badgerati commented on #8107
I've just had 4/4 runs complete successfully, so also happy to say that it's stable for now.

[2020-01-10 22:32] vasivara-MSFT commented on #7948
@yupwei68 Is your VM already joined to a domain? What is the domain address the VM is joined to and what is the domain address that you gave while creating the sql vm group? are they both same?

[2020-01-10 23:57] ifeoluwaokunoren commented on #2856
Hey @AaronFixer - following up with my previous question, before I close out this issue - thanks.

[2020-01-13 08:27] yupwei68 commented on #8004
@vadeveka , Currently I have a new question. I create a sqlvm with provision succeed. Then I get this sqlvm with expand autoPatchingSetting.
First time, I get a  500 internal error:
`{"error":{"code":"InternalServerError","message":"An unexpected error occured while processing the request. Tracking ID: 'c8f6ece9-fbc5-428a-99a5-85f05c60540b'"}}`
Second time, I get a 200 success message:
[code]

Cou

[2020-01-13 08:46] yupwei68 commented on #7948
@vasivara-MSFT Thanks for your reply. I think I need to create AAD Domain and add my sqlvm into that domain first.

[2020-01-13 10:28] bnepal opened #8131 "Consumption REST api, possible duplicate and nextlink issue"
hi
I am pulling usage data using consumption rest api, there isn't issue with extracting the data. the issue I have found is related to the result being duplicated in subsequent nextlink calls, and also the nextlink seems to never finish when I am calling for a usageDate filter for a day range, e.g. $filter=properties/usageEnd eq '2019-12-26'. When do I know, that the result for the passed date ha

[2020-01-13 14:04] tombuildsstuff opened #8132 "[Managed Disks] Casing Bug in the API"
👋🏻

We're working to add support for Disk Encryption Sets to Terraform - and we're now at the stage of adding the created Disk Encryption Set to the Managed Disk.

Once the Disk Encryption Set's been created, the following response is returned:

[code]

Which we then use the Resource ID in the Request to Create a Managed Disk:

[code]

Which returns the Response:

[code]

In this instance the casi

[2020-01-13 19:18] jeroenterheerdt commented on #8004
kindly open a new issue for the new question, that helps in our tracking. thanks.

[2020-01-13 19:18] #8004 closed

[2020-01-14 01:36] yupwei68 opened #8136 "sql vm autoPatchingSettings unable to be set and storageConfigurationSettings does not return"
1. question autoPatchingSettings unable to be set :
I create a sql vm with provision succeed.
Then I get this sqlvm with expand autoPatchingSetting.
First time "get SQLVM", I get a 500 internal error:
`{"error":{"code":"InternalServerError","message":"An unexpected error occured while processing the request. Tracking ID: 'c8f6ece9-fbc5-428a-99a5-85f05c60540b'"}}`

Second time "get SQLVM", I get a

[2020-01-14 01:40] magodo opened #8137 "[Compute] Dedicated Host DELETE API is broken"
When attempting to delete an dedicated host group and its containing dedicated host via Azure API, the normal control flow failed as illustrated below.

Firstly delete the dedicated host as below:

[code]

which returns a Long Running Request as shown below:

[code]
Then send one/several GET request against this URL:

[code]

which eventually returns `Succeeded` (which should mean that the Dedicat

[2020-01-14 02:12] #7948 closed

[2020-01-14 08:57] yungezz commented on #7557
hi @raymondjstone the `next step` link is fixed now. will close the issue then. Feel free to create new issue if found any other problem. thanks.

[2020-01-14 08:57] #7557 closed

[2020-01-14 13:46] mozehgir commented on #7558
Hey @tombuildsstuff - we are currently investigating the feasibility and implementation of this. Will post more details here after.

[2020-01-14 19:38] dcasati commented on #7688
Hey folks -

Any updates on this ?

[2020-01-14 19:52] panchagnula commented on #7688
@btardif getting this on your radar since I don't own the API. Thanks!

[2020-01-14 20:42] KarenHammons commented on #7579
@damendo is this fix complete?

[2020-01-15 01:33] #1062 closed

[2020-01-15 03:42] xuzhang3 opened #8158 "create webapp (kind: functionapp) with vnetName set but cant't get vnetName from configuration API"
### problem
create webapp(kind: functionapp) with vnetName configed. Use config API ([getConfig](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/getconfiguration)) fetch configurations, vnetName always returned as empty string.

### api-verision
2018-02-01
2019-08-01

### test steps

1. create webapp. [createOrUpdate](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/create

[2020-01-15 05:58] Drewm3 commented on #8068
This is by design in the Microsoft.compute resource provider. I understand that this different behavior from many other resource providers, but it is an allowed behavior based on the Azure Resource Provider specification. The Microsoft.compute resource provider team has investigated the work to always return the casing of the RG based on the first time it "sees" the RG, but this would be a very bi

[2020-01-15 05:59] Drewm3 commented on #8068
Closing because this is the expected behavior currently.

[2020-01-15 06:53] tombuildsstuff commented on #8068
@Drewm3 thanks for confirming that this is a bug in the API - can we re-open this issue to track fixing this bug in a future API version? Thanks!

[2020-01-15 14:53] sbalakrishnanbe commented on #8093
I'm getting the same error message for West Europe and North Europe region as well.

2020-01-15T11:57:34.8890998Z ##[error]ValidationForMultipleResourcesFailed: Validation failed for multiple resources. Check 'Error.Details[]' for more information. [{"code":"ServerFarmNotFound","message":"The specified app service plan was not found."},{"code":"ServerFarmNotFound","message":"The specified app serv

[2020-01-16 07:30] #8070 closed

[2020-01-16 12:53] brunhil commented on #7870
Thanks for the info @nberdy. Is there another repo I could request the APIs published? If not do you have an idea if they will be published in the future?

[2020-01-16 13:54] mcalster commented on #6372
Hi @vfedonkin do you know what kind of timeline we can expect on the release?

[2020-01-16 14:13] arifsundrani commented on #6372
@mcalster I believe #8066 was the pull request associated to these changes. There was a premature merge of the PR that needs to be reverted.

[2020-01-16 18:28] KevinBlasko commented on #5702
Please reopen this issue when you have the information above or open a support ticket in Azure.

[2020-01-16 18:28] #5702 closed

[2020-01-16 22:59] johnwc opened #8174 "Getting 'The parameter domain.Properties.Consent has an invalid value.' when trying to transfer a domain into Azure"
Following the specs documented, we are getting 'The parameter domain.Properties.Consent has an invalid value.' when trying to transfer a domain into our Azure account. We are using ARM templates for the deployment. No matter what we do, we can not figure out what is invalid with the consent property.

Here is the content of the arm resource. What is not correct?
[code]

[2020-01-17 05:15] neil-yechenwei opened #8178 "The property type of "Version" for Management Partner is inconsistent between azure client side and azure server side"
I tried to create association with azure go sdk (https://github.com/Azure/azure-sdk-for-go/tree/master/services/preview/managementpartner/mgmt/2018-02-01/managementpartner) but it failed and threw below error message. After investigated, the failure is caused by type conversion issue. The property type of “Version” in azure go sdk (https://github.com/Azure/azure-sdk-for-go/blob/fa96a3744b0e40e6e0d

[2020-01-17 05:26] neil-yechenwei commented on #8178
@jeffrey-ACE , could you help to have a look for this issue? If it's a bug, please help to fix it asap since we're blocked on it. Thanks so much.

[2020-01-17 06:53] akning-ms commented on #8097
Not sure whether it is belong to ARM-core, pls help reassign if need. Thanks

[2020-01-17 07:15] yupwei68 commented on #8136
I have communicated with SQLVM team. It was because I didn't assign "sqlManagement": "Full".

[2020-01-17 07:15] #8136 closed

[2020-01-17 09:25] ruowan opened #8181 "test assignment"

[2020-01-17 09:25] #8181 closed

[2020-01-17 12:38] ArcturusZhang opened #8183 "Budgets API is not maintaining case on dictionary keys"
Original issue: https://github.com/Azure/azure-sdk-for-go/issues/5418

[code]
Request body:
[code]
And received response are:
[code]
Note that the first 3 letters of the notification key have been mutated to lower cases and the filter tag keys have been all turn to low cases.
These changes may break some tools such as terraform.

[2020-01-17 16:59] mcalster commented on #6372
Ok, the PR merge has been reverted, any idea of when the "intended merge" will happen? We are currently building a pipeline to push open-api specs with terraform. We don't want to revert to swagger 😉

[2020-01-17 17:33] anthony-c-martin commented on #8097
`ARM - Core` is correct - thanks!

[2020-01-17 18:19] ramaganesan-rg commented on #6822
Per Prem's comment, this issue has been fixed. please reopen if you see this issue still lingering.

[2020-01-17 18:19] #6822 closed

[2020-01-17 19:50] RudyCo commented on #8093
Same for me!
https://stackoverflow.com/questions/59793978/create-a-new-devops-project-python-function-fails-with-serverfarmnotfound-erro

[2020-01-17 21:43] rspaulino opened #8186 "App Service Plans - Restart Web Apps - NotImplemented - ExtendedCode: 51009"
Hi, I'm trying calling this API from https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/restartwebapps#code-try-0 - "REST API Try It"
and from Powershell but I keep getting the same error:

{
  "Code": "NotImplemented",
  "Message": "The requested method is not implemented.",
  "Target": null,
  "Details": [
    {
      "Message": "The requested method is not implemented."
    },

[2020-01-18 06:59] ArcturusZhang commented on #8183
Hi @ms-premp @bgsky could you please have a look at this issue?

[2020-01-18 10:11] weidongxu-microsoft commented on #8178
Hello @jeffrey-ace, this appears to be an inconsistency between swagger spec and service implementation on managementpartner. Could you take a look?

[2020-01-19 04:53] lirenhe commented on #8186
Not sure whether the error message is from service side. Service team, please take a look.

[2020-01-20 01:42] neil-yechenwei commented on #8064
Hi @dandanwang0320 , I saw you had made change(https://github.com/Azure/azure-rest-api-specs/pull/7803) to fix this issue in this repo azure-rest-api-spec. May I know when the fix would be synced to repo "azure-sdk-for-go"(https://github.com/Azure/azure-sdk-for-go)?

[2020-01-20 08:03] tombuildsstuff opened #8193 "Reopen #8068"
hi

As mentioned in [this comment](https://github.com/Azure/azure-rest-api-specs/issues/8068#issuecomment-574522531) unfortunately #8068 highlights an issue in the Azure Compute API which has been closed in error - can we please re-open this so that we can get this API bug fixed?

Thanks!

[2020-01-21 03:10] erich-wang commented on #8193
reopen #8068 and close this issue.

[2020-01-21 03:10] #8193 closed

[2020-01-21 03:12] erich-wang commented on #8068
reopen this issue per comment from @tombuildsstuff, and assign back to @ArcturusZhang

[2020-01-21 10:17] alucardu opened #8198 "Pullrequestquery not returning any results."
$body = @"
    {
        "queries": [{
            "items": [
                "4fed50dfea551e797a6af4acf060dc816d3f956e"
            ],
            "type": "commit"
        }]
    }
    "@
    #
    $someLink = "https://dev.azure.com/$organization/$project/_apis/git/repositories/$repositoryId/pullrequestquery?api-version=5.1"query?api-version=5.1"

Returns:

    {
    "queries":  [

[2020-01-21 18:13] dandanwang0320 commented on #8064
Let me test the dot net sdk first before I merge the Go SDK.

From: Neil Ye <notifications@github.com>
Sent: Sunday, January 19, 2020 5:42 PM
To: Azure/azure-rest-api-specs <azure-rest-api-specs@noreply.github.com>
Cc: Dandan Wang <Dandan.Wang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-rest-api-specs] The type of property isEnabled for Managed Application Defini

[2020-01-22 09:08] mushamajay commented on #4901
Could anyone tell me, what value should i out in SKU : "" property to set as LRS in recovery Services Vault, as I see RS0 is not working.

. Status=400 Code="InvalidRestApiParameter" Message="sku parameter is invalid.\r\nPlease provide a valid sku"

[2020-01-22 09:20] whyneus commented on #4901
You can only set it to "Standard" for GRS. This is literally the whole point of why this issue was raised.

[2020-01-22 09:48] ABerTSC commented on #4901
the only way we found so far is
once you have created the tersor, but before first backup, you can change it via Powershell
Get-AzRecoveryServicesVault -Name "<yourvaultname>" | Set-AzRecoveryServicesBackupProperty -BackupStorageRedundancy LocallyRedundant / GeoRedundant

[2020-01-23 04:06] MarkLeon commented on #2120
Any updates on this? Thanks.

[2020-01-23 09:28] surajmb commented on #7475
@yaohaizh , if this is a documentation issue now, I've updated the script here to use NIC update. https://docs.microsoft.com/en-us/azure/application-gateway/quick-create-powershell#create-two-virtual-machines

We'll take up the work item to make it clear in the docs as well as in PS. Can this be closed if it is addressed?

[2020-01-23 10:33] surajmb commented on #4066
@anuchandy, can we close this issue?

#please-close

[2020-01-23 20:44] MECHANDR commented on #8107
Issue has been addressed at the API layer and it is no longer impacting based on comments.
@elliot-resdiary, Thanks for reporting. Please reopen if you see this issue again.

[2020-01-23 20:44] #8107 closed

[2020-01-24 19:20] arifsundrani commented on #6372
@mcalster I have been following and #8225 will address the items at the end of 8066. I do not know of a timeframe as to when the changes will finally be pushed. I am eagerly awaiting these changes as well.

Thanks @solankisamir & @vfedonkin for your hard work, we really appreciate it!

[2020-01-25 13:52] akning-ms commented on #8198
@alucardu not sure this is right place for this issue, I assigned it to Azure Devops team to take a look

[2020-01-27 17:37] #7868 closed

[2020-01-27 21:14] pjgorman commented on #7688
is the problem just that the api doesn't return the values as part of the list?  can we still pass in the right value if we know what it is?  net.core|3.0 maybe?

[2020-01-27 21:17] panchagnula commented on #7688
For CLI right now API is the source of truth, for Linux this works,. this issue is for windows only and as long as you make sure deploy the 3.0 content - the runtime will do the right thing for windows.

[2020-01-28 13:56] rodrigorodriguez commented on #6585
Cc: @arenasio @jramos-br.

[2020-01-29 00:16] irrogozh commented on #7579
The problem was with Kusto data tables we used in this API. They were empty because MOI team migrated to another cluster. We were managed to start jobs to upload data into our cluster. But the code on the backend should be changed to reference correct data sets. After it's done, fix should be rolled out. Current estimate for this work (with roll out) is 4 weeks.

[2020-01-29 03:06] bbkane opened #8249 "Azure DNS REST API cannot create long TXT records (though the portal can)"
# Azure DNS REST API cannot create long TXT records (though the portal can)

I'm trying to use the Azure REST API to create a long TXT record (with a value > 255 characters). This is doable through the portal, but not through the REST API

# Example

This issue blocks https://github.com/terraform-providers/terraform-provider-azurerm/issues/2826 and is also related to https://github.com/terraform-p

[2020-01-29 09:32] danoliver1 commented on #7688
Any idea when this release is scheduled for?
Is there currently a workaround to create an aspnetcore 2.2 app through the CLI or programatically another way? I need to create approx 10 and would rather not do it manually.

[2020-01-29 15:01] boillodmanuel opened #8252 "Add APIs to manage Application Gateway child resources"
Hello,

network/ApplicationGateway provides only 1 api :
- applicationgateways [MAIN]

network/LoadBalancer provides 7 api to manage resources and inner resources :
- loadbalancers [MAIN]
- loadbalancer backendaddresspools
- loadbalancer frontendipconfigurations
- loadbalancer loadbalancingrules
- loadbalancer networkinterfaces
- loadbalancer outboundrules
- loadbalancer probes

The Azure cli for

[2020-01-29 15:16] boillodmanuel commented on #8252
Seems related to https://github.com/Azure/azure-rest-api-specs/issues/2313

[2020-01-29 18:26] panchagnula commented on #7688
if this is windows app you can run the  webapp create without the runtime parameter and then just deploy your code to the app. For windows the rumtime will take care of this - for linux & ASP.NET or core, we need to set the runtime. Also you can try https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-up

[2020-01-29 22:11] aholler2 commented on #8093
@RudyCo 's developer community feedback item: https://developercommunity.visualstudio.com/content/problem/892009/create-a-new-devops-project-python-function-fails.html

[2020-01-30 13:20] AlphaCreative-Mike commented on #7688
@danoliver1 - You can do it through ARM templates and then deploy the ARM template via az cli.  You have to set the stack to "dotnetcore" using metadata on the site config property.

` "siteConfig": {
          "metadata": [
            {
              "name": "CURRENT_STACK",
              "value": "dotnetcore"
            }
          ],
}`

[2020-01-30 14:36] juanjojulian opened #8263 "Management Groups - List - missing management groups"
Hi, [Management Groups - list](https://docs.microsoft.com/en-us/rest/api/resources/managementgroups/list) or '_az account management-group list_' are unable to list second level (child) management groups if I'm not listed as the owner of the management group.

An Example to clarify:

- I have four management groups under my Tenant Root where my group "Cloud Admins" is 'owner' and I can list them w

[2020-01-30 19:21] iscai-msft opened #8265 "Key Vault mgmt plane: deletion of vault should accept 204 as well as 200 as valid responses"
We ran into an error because when we deleted a key vault, we got back a 204 (which should be valid for a delete operation) and the generated code only accepts [200](https://github.com/Azure/azure-sdk-for-python/blob/00aaee5fd23006b15c5ba3a220ed9e81f3f0839a/sdk/keyvault/azure-mgmt-keyvault/azure/mgmt/keyvault/v2018_02_14/operations/_vaults_operations.py#L273)

We are seeing this problem at least fo

[2020-01-31 00:43] bbkane commented on #8249
Okay, it turns out you have to "chunk" the values into 256byte strings in the API call:

[code]

[code]

But then it works :)

[2020-01-31 00:43] #8249 closed

[2020-01-31 17:56] skurik opened #8277 "AppSettings string value is changed by Set-AzWebApp"
## Description

I am using __Set-AzWebApp__ to set app settings on a web app I create dynamically (using __New-AzWebApp__). One of the settings is the web app creation time (as I did not find any other way how to get this information using Azure PowerShell). I am using the neutral round-trip format of the datetime to be able to reliably parse the string later. However, even though the string looks

[2020-02-01 00:05] #7475 closed

[2020-02-01 00:05] #4066 closed

[2020-02-01 00:06] #2313 closed

[2020-02-01 02:41] ruowan opened #8283 "Test assignment bot"

[2020-02-01 02:43] #8283 closed

[2020-02-01 14:08] tombuildsstuff commented on #2313
@KarenHammons why was this issue closed? has this been released?

[2020-02-03 17:09] KarenHammons commented on #2313
@surajmb indicated to me we could close this issue.  @surajmb can you confirm whether this was released?

[2020-02-04 06:05] surajmb commented on #2313
It hasn't been released yet, but this is more of a feature request than a bug fix. Hence I thought it can be logged under https://feedback.azure.com/forums/217313-networking?category_id=134448 for better tracking and voting

[2020-02-04 08:44] damendo commented on #7650
Resource ID is now mentioned.
Examples exist and can be plugged into ARMClient, etc.
The OperationResult endpoint is not owned by us but seems like a platform-wide method to get results of aysnc operations. Other issues seem intermittent.

[2020-02-04 08:44] damendo commented on #7650
#please-close

[2020-02-04 15:22] #7650 closed

[2020-02-04 16:38] mkreidenweis opened #8295 "Documentation for X509CertificateProperties is missing basic_constraints"
The documentation for Key Vault REST API type `X509CertificateProperties` is missing the documentation of the `basic_constraints` structure here:
https://github.com/Azure/azure-rest-api-specs/blob/b91c2b941d20647ccd41d5857d8a0b8ec020e2a0/specification/keyvault/data-plane/Microsoft.KeyVault/stable/2016-10-01/keyvault.json#L3650

The `basic_constraints` are shown in many examples, e.g. here:
https:/

[2020-02-04 17:39] tombuildsstuff commented on #8075
@akning-ms is there a timeline for when this'll become available? cc @WodansSon

[2020-02-04 17:48] winthrop28 commented on #8252
@boillodmanuel quick clarifying question - are you looking for a PUT API on child resources of the Application Gateway?

[2020-02-04 17:57] christiankuhtz commented on #6748
being investigated.

[2020-02-04 23:07] lilyjma opened #8300 "Test issue"
This is just an issue to test whether the bot is tagging container registry issues correctly.

[2020-02-05 00:05] lilyjma commented on #8300
Please see email thread.

[2020-02-05 00:05] #8300 closed

[2020-02-05 08:38] boillodmanuel commented on #8252
@winthrop28 , I don't know exactly what would be the HTTP method between PUT and POST or DELETE😀.
But definitely I'm asking for APIs to create, update and delete application gateway's child resources.

In my use case, different teams would update the application gateway :
- network teams will create an empty Application Gateway (#2313) that will manage all HTTP incoming trafic
- project team A wil

[2020-02-05 08:43] boillodmanuel commented on #2313
Hi @surajmb. Did you create the "feature request" in the feedback.azure.com site?
Otherwise, there is a mistake. This issue is closed, no feature request is created in feedback.azure.com, so this feature request which is asked and voted by several users is just LOST... This is a bit demoralizing for users 😥

[2020-02-05 10:43] surajmb commented on #2313
Hey @boillodmanuel , it hasn't been created yet. I was encouraging you to create a feature request in the feedback forum, which we regularly look at for popular votes. Once you log the feature request there, I bet people will vote for it and we can be in touch with you regarding the updates. This ask hasn't been posted in the forum so far from what I can see :)

Said that, we'll definitely conside

[2020-02-05 10:59] boillodmanuel commented on #2313
Created here : https://feedback.azure.com/forums/217313-networking/suggestions/39634519-allow-creation-of-an-empty-application-gateway
If people following this issue could vote on it, it will be great 👍

[2020-02-05 11:10] boillodmanuel commented on #8252
Asked on azure feedback site: https://feedback.azure.com/forums/217313-networking/suggestions/39634588-add-rest-apis-and-sdk-to-manage-application-gatewa
If people following this issue could vote on it, it will be great 👍

[2020-02-05 11:11] boillodmanuel commented on #2313
Asked also for related feature request: https://feedback.azure.com/forums/217313-networking/suggestions/39634588-add-rest-apis-and-sdk-to-manage-application-gatewa
If people following this issue could vote on it, it will be great 👍

[2020-02-05 11:22] ArcturusZhang opened #8308 "Should we combine swagger directory `recoveryservices` and `recoveryservicebackup`?"
Related issue: https://github.com/Azure/azure-sdk-for-go/issues/7279

Currently, every rest api request uri under swagger directory [recoveryservicebackup](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable) is based on
[code]
which corresponds to a resource `vault` in `recoveryservices`.

This differenc

[2020-02-05 12:11] surajmb commented on #2313
Thanks @boillodmanuel !

[2020-02-05 12:13] akning-ms commented on #8075
ping service team. Hi @schaabs . can you reply @tombuildsstuff?

[2020-02-05 12:23] blueww commented on #6363
@zhusijia26
Following is the message I get from SRP/ARM team.
In a word, this is by design for security.

[2020-02-05 12:24] blueww commented on #6363
@zhusijia26
As this is by design, I will close this issue.
Feel free to contact us if you need further assistance.

[2020-02-05 12:24] #6363 closed

[2020-02-05 13:36] tombuildsstuff commented on #6363
@blueww sorry to push here - but the [original issue](https://github.com/Azure/azure-rest-api-specs/issues/6363#issue-456910046) here is that this design is not what users expect - presumably this should be a Read operation with a separate permission to retrieve this, rather than a Write operation? As it stands there's no means of retrieving the Storage Account Key via the API when there's a Write

[2020-02-05 16:20] notchairmk opened #8309 "Microsoft.Network: `securityRule` resource group name not respecting case sensitivity"
When creating a `securityRule`, the case of resource group name is inherited from the `networkSecurityGroup` ignoring case passed as a parameter.

Repro steps:

 1. Create resource group with `resourceGroupName = "test-rg"`
 2. Create network security group with `resourceGroupName = "TEST-RG"`
 3. Create security rule associated to network security group created in step 2 with `resourceGroupName =

[2020-02-06 02:09] neil-yechenwei opened #8320 "roleAssignments API failed to assign role to service principal"
Symptom:
roleAssignments API failed to assign role to service principal and throw error message ""The requested resource does not support http method 'PUT'.

Root cause:
After investigated, I found the root cause is if the property "name" in azurerm_role_assignment is specified with character "/" and the client http request url would be appended "AtlasPeeringRoleAssignment/xxxx/xxxx/xxxx". So this

[2020-02-06 04:06] blueww commented on #6363
@tombuildsstuff
When you get the storage account key, you can do write operation on storage objects (like container,blob ...). So for security reason, user with only read access, can't list storage account key.

Actually, we have discussed this with ARM team, and currently there's no plan to change this.

[2020-02-06 06:46] tombuildsstuff commented on #6363
@blueww there’s a difference between Data Plane and Resource Manager operations. When there’s a write lock on the storage account this only affects Resource Manager operations - and not the Data Plane API.

However if you’re unable to get the Storage Account Key from the Resource Manager API due to the Write Lock you’ll be unable to upload content via the Data Plane API. An error is returned from

[2020-02-06 07:22] ArcturusZhang opened #8323 "`Microsoft.MachineLearningServices` associated resource IDs in workspace are not preserving proper casing"
REST API URL:
[code]
Body:
[code]
After the creation complete, perform a GET request:
[code]
Response:
[code]
The IDs in the response lost all their casing, for instance:
* `resourceGroups` -> `resourcegroup`
* `testVault` -> `testvault`
* `test-AppInsights` -> `test-appinsights`

[2020-02-06 08:51] ArcturusZhang commented on #8323
Hi @zhaomuzhi @drajput please have a look at this issue.

[2020-02-06 09:38] weidongxu-microsoft commented on #8323
@ArcturusZhang

I think all resource id in Azure is case insensitive. So there seems not very important to preserve case.

[2020-02-06 10:11] ArcturusZhang commented on #8323
Usually, terraform will require the service to preserve cases.

[2020-02-06 13:57] ctaggart opened #8324 "CI broken on master since December 4th"
It appears that CI has been failing on the master branch since December 4th when "Enable SDK Automation V2 in CI" was merged. #7548 @NullMDR @akning-ms

![image](https://user-images.githubusercontent.com/80104/73943340-59307700-48cf-11ea-9047-b72c874e02f7.png)

Can you please figure out how to make CI on master green again?

[2020-02-06 19:23] allenjzhang commented on #8309
Thanks for reporting the issue. What is the tool you are seeing problem in? CLI, Powershell or SDK (particular language)?

[2020-02-06 19:59] allenjzhang commented on #8309
This is not specifically REST API spec issue. These issues have been [reported on other repos as well. Here is one of them.](https://github.com/Azure/azure-sdk-for-java/issues/1508) Sounds like this requires coordination of ARM and each of the providers to address this.

I will close this on this repo. Thanks.

[2020-02-06 19:59] #8309 closed

[2020-02-06 20:37] DarrenWainwright commented on #7688
Had the same problem as the OP.

To see the list of runtimes available for a Linux deployment run:

`az webapp list-runtimes --linux`

The `--linux` switch will give you all those available, including the dotnetcore ones

[code]

[2020-02-07 02:57] NullMDR commented on #8324
The failing of Advocado is a known issue @ruowan . For SDK Automation itself its high failing rate is currently known and expected. Which CI failure do you want to call out @ctaggart ?

[2020-02-07 06:48] tombuildsstuff opened #8335 "Re-open #6363"
hi

As mentioned in [this comment](https://github.com/Azure/azure-rest-api-specs/issues/6363#issuecomment-582761919) unfortunately it appears this issue was misunderstood and closed in error - can this issue please be re-opened so this can be resolved?

Thanks!

[2020-02-07 21:09] ctaggart commented on #8324
Why is it known and expected to have a high failing fate of CI failures on the master branch? If it is just the Advocado tests that are flaky. Why not disable them to make CI green?

On #8296, I'm trying to make CI pass. It is failing on LintDiff and I can't figure out why or reproduce it locally. I began to wonder if it was even passing on master and then I noticed master CI has been broken for t

[2020-02-07 21:48] #8265 closed

[2020-02-09 23:26] Drewm3 commented on #8068
@tombuildsstuff, this behavior is by design in the API. It is not a bug. Feel free to open a feature request in UserVoice for a design change (aka feature).

[2020-02-09 23:26] #8068 closed

[2020-02-09 23:29] Drewm3 commented on #8137
@zivraf, could you take a look at this issue?

[2020-02-10 05:34] yupwei68 opened #8348 "storage sync service response type error"
The **storageSyncServiceStatus** is defined in swagger as: integer, but actual get the response "string", which arises error in our SDK.

I create a storage sync service and get the response below:
[code]

![image](https://user-images.githubusercontent.com/56525716/74123398-a5e6bb80-4c09-11ea-9853-d645329f8d32.png)

[2020-02-10 07:16] Drewm3 commented on #7461
@sangam-sgm, could you provide more details on what "MFA info" you are looking for in the API? Generally the older ASM interfaces used management certs instead of anything supporting MFA for REST APIs.

[2020-02-10 13:35] akning-ms commented on #8324
Thanks @ctaggart , Good feedback, We are working on this issues.  for Lint issue, I have replied in PR

[2020-02-10 19:53] aelmanaa opened #8351 "AKS REST spec: please mention redonly properties"
Hello

as discussed in this issue https://github.com/MicrosoftDocs/azure-docs/issues/47422#issuecomment-583561810 , it would be nice to mention which properties cannot be updated once the cluster is created.

[2020-02-11 04:36] ArcturusZhang opened #8353 "`Microsoft.PolicyInsights/remediations` returns every resource IDs in lower cases"
Rest API URL:
[code]
Request body:
[code]
A GET response after the creation finished:
[code]
Every IDs in the response is in lower cases, including the ID of the remediation itself.

[2020-02-11 11:45] tjrobinson commented on #2819
@dsgouda @pavelzel @naveedaz I'm still having problems in 2020. Using `api-version=2019-08-01` or `api-version=2018-02-01`. Even with an empty body, or a `{}` body I always get a 400 Bad Request back. This is whether I use PowerShell, Postman, or the [Try It](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/installsiteextension) feature.

[List Site Extensions](https://docs.microsoft.c

[2020-02-11 18:21] yugangw-msft commented on #7950
We will address this in the upcoming month

[2020-02-12 21:46] andrewholler opened #8377 "Invalid sample body - Cognitive Services Account Create"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/examples/CreateAccount.json#L26

Invalid sample kind, 'Emotion'.

[2020-02-12 21:52] xirzec opened #8378 "Search: Use endpoint for hostTemplate"
Rather than `searchServiceName` and `searchDnsSuffix`, the `x-ms-parameterized-host` can be updated to a single endpoint param:

[code]

[2020-02-12 21:53] xirzec commented on #8378
This is based on https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json

[2020-02-12 21:54] brjohnstmsft commented on #8378
We will also need to make a similar change in searchindex.json, and ensure this gets propagated to the new 2019-05-06-preview spec when we create it.

[2020-02-12 21:59] xirzec opened #8379 "Search: mark required parameters as required"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Microsoft.Azure.Search.Data/stable/2019-05-06/searchindex.json

Several parameters are not marked as required, e.g. in `/docs/search.post.search`, the `SearchRequest` type doesn't have `search` marked as `required: true`.  There are similar problems with `SuggestRequest` (needs `search` and `suggesterName`) a

[2020-02-12 22:02] xirzec opened #8380 "Search: Add default responses for error cases"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Microsoft.Azure.Search.Data/stable/2019-05-06/searchindex.json

It's convention to specify a "default" error shape when "200" (or whatever specified success code) isn't matched.

For example:

[code]

where `SearchError` has `code` and `message` properties would be a good start.

[2020-02-13 00:31] anthony-c-martin commented on #6584
@anuchandy Do you mean the [GenericResourceFilter](https://github.com/Azure/azure-rest-api-specs/blob/71d8146c525fe565f2d6570e7c05de1423b8084c/specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json#L4170-L4186) model?

[2020-02-13 06:24] yupwei68 commented on #8348
I have created a PR in SDK:https://github.com/Azure/azure-sdk-for-go/pull/7335. If you confirm that the “storageSyncServiceStatus” in the response of getting “storage sync service” is string, please update the swagger for that.

[2020-02-14 18:21] jluk commented on #7879
@xuto2 / @yangl900 from AKS eng, thoughts on the above?

I'm not aware of any breaking change to the 06-01 API which was made, is it possible this behavior was triggered by something else?

[2020-02-14 19:12] anthony-c-martin commented on #5739
Thanks for reporting this! I have published the missing definitions in https://github.com/Azure/azure-rest-api-specs/pull/8384.

[2020-02-14 19:12] #5739 closed

[2020-02-15 00:27] anuchandy commented on #6584
@anthony-c-martin This model https://github.com/Azure/azure-rest-api-specs/blob/71d8146c525fe565f2d6570e7c05de1423b8084c/specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json#L4733

[2020-02-18 01:27] akning-ms commented on #8323
@weidongxu-microsoft  what is a conclusion? should we assign to service team to address?

[2020-02-18 17:38] anthony-c-martin commented on #6584
Thanks for clarifying!

[2020-02-18 19:34] winthrop28 commented on #8252
Thanks for the feedback!

[2020-02-19 16:53] vdamle opened #10769 "KeyVault: No compatible signing algorithm for curve SECP256K1"
### Bug Report

- import path:
[code]
- SDK version e.g. `master`, `latest`, `18.1.0`
[code]
- output of `go version`
[code]

## Problem Description

* `azure-sdk-for-go` does not support a compatible `JSONWebKeySignatureAlgorithm` for key created with curve `SECP256K1`, using the Azure KeyVault Portal.

[code]

* It appears that signing using `azure-sdk-for-go` can only work if the key was also c

[2020-02-19 22:45] lilyjma opened #8441 "test issue to check if bot triggers"

[2020-02-19 22:47] #8441 closed

[2020-02-19 23:02] lilyjma opened #8442 "test issue to see if bot is triggered"

[2020-02-19 23:03] #8442 closed

[2020-02-20 21:41] aholler2 commented on #8093
This app service validation failure now occurs in every region.

[2020-02-20 22:39] #6584 closed

[2020-02-20 22:41] anthony-c-martin commented on #6584
Thanks for reporting this! I've added these properties in https://github.com/Azure/azure-rest-api-specs/pull/8420.

[2020-02-21 13:54] ajts-001 commented on #8186
I get this as  well.  Is this a bug or a problem in my code?

[2020-02-21 18:26] heaths opened #8473 "PEM files should not be base64-encoded"
The [`value`](https://github.com/Azure/azure-rest-api-specs/blob/f9af8f509ea13311d0c69d1dcc6170d6b8f61254/specification/keyvault/data-plane/Microsoft.KeyVault/stable/7.0/keyvault.json#L5137-L5141) property is described as:

However, if sending a PEM file the content must not be base64 encoded or the server request fails. This is not clear from the docs or the recommended generated property name, `

[2020-02-22 00:31] Vishakha-Git commented on #3821
There are plans to deprecate this OfferType in future. Hence not adding OfferType to public APIs.

[2020-02-22 01:18] #3821 closed

[2020-02-23 06:42] heaths commented on #8295
@akning-ms I don't work on the service side. @RandalliLama, can someone on your team look into this?

[2020-02-24 01:38] #8026 closed

[2020-02-24 02:21] akning-ms commented on #7447
@leonardbf Seems this issue is fixed? if yes, can you help close this issue?

[2020-02-24 07:24] josefree commented on #8082
create a devops work item for further work. close this issue
 https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1072854

[2020-02-24 07:24] #8082 closed

[2020-02-24 09:37] leonardbf commented on #7447
@akning-ms I have unassigned myself from the ticket. It seems I do not have authorisation to close. And yes as mentioned above the issue should be resolved.

[2020-02-24 11:02] neil-yechenwei commented on #7447
thank you @leonardbf for the fix

[2020-02-24 11:02] #7447 closed

[2020-02-24 11:43] aristosvo opened #8494 "AKS vnetSubnetID not filled for agentPoolProfiles"
## Problem
Endpoint returns for my newer AKS clusters no vnetSubnetID in agentPoolProfiles
## Endpoint
https://management.azure.com:443 "GET /subscriptions/{subscription}/providers/Microsoft.ContainerService/managedClusters?api-version=2019-10-01 HTTP/1.1"
## Response example of a newer cluster
[code]
## Response example of an older cluster
[code]

[2020-02-25 07:05] MyronFanQiu opened #8501 "Inconsistent server response in application-insights"
https://github.com/Azure/azure-rest-api-specs/blob/2df17398750388e7a8e51eeedaac8bfe099e612b/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json#L40
The response format should be
[code]
But the truly response is `[]`, which would cause problem in python SDK.

[2020-02-25 11:51] yupwei68 opened #8505 "Storage Sync Server Endpoint return type error"
While I get a storage sync server endpoint, it returns "volumeFreeSpacePercent" in string, which is inconsistent with its swagger definition "Integer".
![image](https://user-images.githubusercontent.com/56525716/75245101-0845db80-5808-11ea-9e20-4d7ae83b6fa9.png)

Error in GO SDK raised:
storagesync.ServerEndpointsClient#Get: Failure responding to request: StatusCode=200 -- Original Error: Error oc

[2020-02-26 16:04] simonethreechillies commented on #7276
Is there any update in regards to this issue?

[2020-02-26 19:16] omeryesil commented on #8075
We also need to disable the purge protection.

I think from Azure API site, when a KV is deleted, it should release the name including DNS(?), and may be name the deleted KV something like "[kvname]-deleted" (or different variation), so that it doesn't lock the name as it is globally unique.

And when you want to recover, ask for a new name if the original one is not available;
`
az keyvault recov

[2020-02-26 23:25] idear1203 opened #8530 "[Synapse] - Mark required properties as required."
Known issue is monitoring service [SparkJob](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/synapse/data-plane/Microsoft.Synapse/preview/2019-11-01-preview/monitoring.json#L365-L402), but we should also do for others

[2020-02-26 23:32] idear1203 commented on #8530
@MyronFanQiu , could you please help us create a label for Synapse?

[2020-02-27 01:58] naveenchekuri commented on #7569
Working on the fix. Should be checked in by Feb 28.

[2020-02-28 00:30] brjohnstmsft commented on #8378
Since all Track 2 SDKs should target version 2019-05-06-Preview, I'm going to fix this issue there and freeze the Track 2 2019-05-06 spec as-is.

[2020-02-28 00:31] brjohnstmsft commented on #8379
Since all Track 2 SDKs should target version 2019-05-06-Preview, I'm going to fix this issue there and freeze the Track 2 2019-05-06 spec as-is.

[2020-02-28 00:36] brjohnstmsft commented on #8379
@xirzec I'm guessing these were left as optional because in Track 1, they were never meant to be exposed as part of the SDK surface area. However, since this spec is supposed to accurately document the REST API, I'll make the requested changes. Please let me know if you spot other similar issues.

[2020-02-28 00:46] brjohnstmsft commented on #8379
@xirzec I made the changes to `SuggestRequest` and `AutocompleteRequest`. However, the `search` parameter of `SearchRequest` is not required and defaults to `*` if not provided.

[2020-02-28 00:46] brjohnstmsft commented on #8380
Since all Track 2 SDKs should target version 2019-05-06-Preview, I'm going to fix this issue there and freeze the Track 2 2019-05-06 spec as-is.

[2020-02-28 06:13] njuCZ opened #8555 "key of dns record metadata can not contain space"
the dns record metadata key can not contain space, I want to confirm it's dedicated or not.

Saving a key containing space will still get success response, while it's actually not saved.

adding key containing space via portal,  The page can show it added successfully, but after refreshing the page, we can see it's not saved